USE [DZTPLA]
GO
/****** Object:  Table [dbo].[t_coel]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_coel](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NULL,
	[cd_usr] [varchar](20) NULL,
	[c_code] [varchar](4) NOT NULL,
	[dn_co] [varchar](12) NOT NULL,
	[dn_ln] [int] IDENTITY(1,1) NOT NULL,
	[fg_s121] [varchar](1) NOT NULL,
	[fg_s122] [varchar](4) NOT NULL,
	[cd_item] [varchar](12) NULL,
	[cd_spec] [varchar](12) NULL,
	[qt_oitem] [numeric](15, 4) NULL,
	[qt_litem] [numeric](15, 4) NOT NULL,
	[at_ditem] [numeric](15, 4) NOT NULL,
	[yn_lm] [varchar](1) NOT NULL,
	[dt_lm] [datetime] NULL,
	[dn_lm] [varchar](50) NULL,
	[dn_lmln] [int] NULL,
	[cd_cust] [char](6) NULL,
	[dt_key] [datetime] NULL
) ON [PRIMARY]
GO
