USE [DZTPLA]
GO
/****** Object:  Table [dbo].[ums_log]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ums_log](
	[cmid] [varchar](32) NULL,
	[umid] [varchar](32) NULL,
	[msg_type] [tinyint] NULL,
	[status] [tinyint] NULL,
	[request_time] [datetime] NULL,
	[send_time] [datetime] NULL,
	[report_time] [datetime] NULL,
	[dest_phone] [varchar](20) NULL,
	[dest_name] [varchar](20) NULL,
	[send_phone] [varchar](20) NULL,
	[send_name] [varchar](20) NULL,
	[subject] [varchar](128) NULL,
	[msg_body] [varchar](2000) NULL,
	[wap_url] [varchar](100) NULL,
	[cover_flag] [tinyint] NULL,
	[sms_flag] [tinyint] NULL,
	[reply_flag] [tinyint] NULL,
	[retry_cnt] [tinyint] NULL,
	[fax_file] [varchar](1000) NULL,
	[vxml_file] [varchar](50) NULL,
	[call_result] [int] NULL,
	[use_page] [int] NULL,
	[use_time] [int] NULL,
	[sn_result] [tinyint] NULL,
	[wap_info] [char](10) NULL,
	[cinfo] [varchar](32) NULL,
	[etc1] [char](50) NULL,
	[etc2] [char](50) NULL,
	[etc3] [char](50) NULL,
	[etc4] [char](50) NULL,
	[etc5] [char](50) NULL
) ON [PRIMARY]
GO
