USE [DZTPLA]
GO
/****** Object:  Table [dbo].[custcvt]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[custcvt](
	[cust_dz] [varchar](20) NULL,
	[cust_wj] [varchar](20) NULL,
	[cd_node] [varchar](4) NULL,
	[cd_dept] [varchar](12) NULL,
	[cd_usr] [varchar](10) NULL,
	[cvtcd] [varchar](6) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST_CVT]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST_CVT] ON [dbo].[custcvt]
(
	[cust_wj] ASC,
	[cust_dz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
