USE [DZTPLA]
GO
/****** Object:  Table [dbo].[t_csl]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_csl](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_CS] [varchar](12) NOT NULL,
	[DN_LN] [int] IDENTITY(1,1) NOT NULL,
	[FG_S121] [varchar](4) NOT NULL,
	[FG_S122] [varchar](4) NOT NULL,
	[FG_TAX] [char](1) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[FG_UP] [char](1) NOT NULL,
	[QT_LITEM] [numeric](15, 4) NOT NULL,
	[UP_LITEM] [numeric](15, 4) NOT NULL,
	[AT_LITEM] [numeric](15, 4) NOT NULL,
	[UP_LCLS] [numeric](15, 4) NOT NULL,
	[AT_LCLS] [numeric](15, 4) NOT NULL,
	[UP_BASE] [numeric](15, 4) NOT NULL,
	[DN_RL] [varchar](12) NULL,
	[DN_RLLN] [int] NULL,
	[FG_FIXUP] [char](1) NULL,
	[dt_key] [datetime] NULL,
	[cd_cust] [char](6) NULL
) ON [PRIMARY]
GO
