USE [DZTPLA]
GO
/****** Object:  Table [dbo].[lm_tmp]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lm_tmp](
	[deptcd] [char](1) NULL,
	[BUSEONM] [char](20) NULL,
	[empno] [char](4) NULL,
	[odrno] [char](4) NULL,
	[odrindt] [char](8) NOT NULL,
	[scodenm] [char](50) NULL,
	[prdcd] [char](10) NOT NULL,
	[prdnm] [char](50) NULL,
	[odrqty] [float] NULL,
	[danga] [float] NULL,
	[hapkum] [float] NULL,
	[cstcd] [char](7) NULL,
	[cstnm] [char](70) NULL,
	[saleokdt] [char](8) NULL,
	[inempno] [char](4) NULL
) ON [PRIMARY]
GO
