USE [DZTPLA]
GO
/****** Object:  Table [dbo].[alterCM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alterCM](
	[c_code] [char](4) NOT NULL,
	[dt_cm] [datetime] NOT NULL,
	[cd_cust] [varchar](6) NOT NULL,
	[dn_cm] [int] NOT NULL,
	[at_cm] [numeric](15, 4) NOT NULL,
	[dc_ifm] [varchar](50) NULL,
	[up_usr] [varchar](10) NOT NULL,
	[up_date] [datetime] NOT NULL,
	[cd_item] [varchar](50) NOT NULL,
 CONSTRAINT [PK_alterCM] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[dt_cm] ASC,
	[cd_cust] ASC,
	[dn_cm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alterCM] ADD  CONSTRAINT [DF_alterCM_at_cm]  DEFAULT ((0)) FOR [at_cm]
GO
