USE [DZTPLA]
GO
/****** Object:  Table [dbo].[t_srh]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_srh](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NULL,
	[cd_usr] [varchar](20) NULL,
	[c_code] [varchar](4) NOT NULL,
	[dn_sr] [varchar](12) NOT NULL,
	[no_mng] [int] NULL,
	[fg_rt] [varchar](1) NULL,
	[dt_in] [datetime] NULL,
	[cd_cust] [varchar](9) NULL,
	[cd_innode] [varchar](4) NOT NULL,
	[fg_ocls] [varchar](1) NOT NULL,
	[fg_bill] [varchar](1) NULL,
	[dc_ifm] [int] NULL,
	[dt_reg] [datetime] NULL,
	[cd_regusr] [varchar](20) NULL,
	[dt_upt] [datetime] NULL,
	[cd_upusr] [varchar](20) NULL
) ON [PRIMARY]
GO
