USE [DZTPLA]
GO
/****** Object:  Table [dbo].[t_csh]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_csh](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_CS] [varchar](12) NOT NULL,
	[NO_MNG] [varchar](20) NULL,
	[DT_IN] [datetime] NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_CUSTSAL] [char](6) NOT NULL,
	[CD_LNODE] [varchar](4) NOT NULL,
	[CD_WHS] [varchar](12) NULL,
	[FG_PLACE] [char](1) NOT NULL,
	[FG_BILL] [char](1) NOT NULL,
	[FG_SAL] [char](1) NOT NULL,
	[FG_S100] [varchar](4) NOT NULL,
	[CD_PLC] [varchar](4) NOT NULL,
	[FG_OCLS] [char](1) NOT NULL,
	[FG_S101] [varchar](4) NULL,
	[DC_IFM] [varchar](80) NULL,
	[DT_REG] [datetime] NOT NULL,
	[CD_REGUSR] [varchar](10) NOT NULL,
	[DT_UPD] [datetime] NOT NULL,
	[CD_UPUSR] [varchar](10) NOT NULL,
	[TM_REG] [datetime] NULL
) ON [PRIMARY]
GO
