USE [DZTPLA]
GO
/****** Object:  Table [dbo].[t_srl]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_srl](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NULL,
	[cd_usr] [varchar](20) NULL,
	[c_code] [varchar](4) NOT NULL,
	[dn_sr] [varchar](12) NOT NULL,
	[dn_ln] [int] IDENTITY(1,1) NOT NULL,
	[fg_s121] [varchar](1) NULL,
	[fg_s122] [varchar](3) NULL,
	[cd_item] [varchar](12) NULL,
	[cd_spec] [varchar](12) NULL,
	[fg_tax] [varchar](1) NOT NULL,
	[fg_up] [varchar](1) NOT NULL,
	[qt_oitem] [numeric](15, 4) NULL,
	[at_oitem] [numeric](15, 4) NULL,
	[qt_litem] [numeric](15, 4) NOT NULL,
	[at_litem] [numeric](15, 4) NOT NULL,
	[up_lcls] [numeric](15, 4) NOT NULL,
	[at_lcls] [numeric](15, 4) NOT NULL,
	[fg_lm] [varchar](1) NOT NULL,
	[dt_lm] [datetime] NULL,
	[dn_lm] [varchar](50) NULL,
	[dn_lmln] [int] NULL,
	[dn_ex] [varchar](50) NULL,
	[dn_exln] [int] NULL,
	[dn_od] [varchar](50) NULL,
	[dn_odln] [int] NULL,
	[cd_custsal] [varchar](6) NULL,
	[fg_junk] [varchar](1) NULL,
	[dc_ifm] [varchar](50) NULL,
	[dc_specadd] [varchar](50) NULL,
	[cd_cust] [char](6) NULL,
	[dt_key] [datetime] NULL
) ON [PRIMARY]
GO
