USE [DZTPLA]
GO
/****** Object:  Table [dbo].[empcvt]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empcvt](
	[sno] [varchar](20) NOT NULL,
	[kname] [varchar](20) NOT NULL,
	[empno] [varchar](20) NOT NULL,
 CONSTRAINT [PK_empcvt] PRIMARY KEY CLUSTERED 
(
	[sno] ASC,
	[kname] ASC,
	[empno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
