USE [DZTPLA]
GO
/****** Object:  Table [dbo].[memo]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[memo](
	[c_code] [char](4) NOT NULL,
	[cd_usrg] [varchar](10) NOT NULL,
	[memo] [text] NOT NULL,
	[cd_usrs] [varchar](10) NOT NULL,
	[dt_usrg] [datetime] NULL,
	[dt_usrs] [datetime] NOT NULL,
 CONSTRAINT [PK_memo] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_usrg] ASC,
	[dt_usrs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
