USE [DZTPLA]
GO
/****** Object:  Table [dbo].[t_soh]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_soh](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NULL,
	[cd_usr] [varchar](20) NULL,
	[c_code] [varchar](4) NOT NULL,
	[dn_so] [varchar](12) NOT NULL,
	[no_mng] [int] NULL,
	[dt_so] [datetime] NULL,
	[dt_ex] [datetime] NULL,
	[fg_place] [varchar](1) NOT NULL,
	[fg_bill] [varchar](1) NOT NULL,
	[fg_sal] [varchar](1) NOT NULL,
	[fg_s100] [varchar](3) NOT NULL,
	[cd_custodr] [varchar](9) NULL,
	[cd_custsal] [char](6) NULL,
	[cd_plc] [varchar](4) NOT NULL,
	[cd_exnode] [varchar](4) NOT NULL,
	[cd_sal] [int] NULL,
	[fg_s105] [varchar](4) NULL,
	[fg_salcls] [varchar](1) NOT NULL,
	[fg_s1o1] [varchar](3) NOT NULL,
	[fg_s102] [varchar](3) NOT NULL,
	[rt_for] [numeric](2, 1) NOT NULL,
	[fg_s103] [varchar](3) NOT NULL,
	[cd_place] [int] NOT NULL,
	[dc_ifm] [int] NULL,
	[fg_mrn] [varchar](1) NOT NULL,
	[at_mrn] [numeric](1, 1) NOT NULL,
	[fg_taxbill] [varchar](1) NOT NULL,
	[fg_prc] [varchar](1) NOT NULL,
	[dt_prc] [datetime] NULL,
	[cd_prcusr] [varchar](20) NULL,
	[fg_odr] [varchar](1) NOT NULL,
	[dt_reg] [datetime] NULL,
	[fg_regusr] [varchar](20) NULL
) ON [PRIMARY]
GO
