USE [DZTPLA]
GO
/****** Object:  Table [dbo].[RPTTBL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPTTBL](
	[tmkey] [datetime] NOT NULL,
	[usr] [varchar](12) NOT NULL,
	[model] [varchar](40) NOT NULL,
	[qty] [numeric](15, 4) NULL,
 CONSTRAINT [PK_RPTTBL] PRIMARY KEY CLUSTERED 
(
	[tmkey] ASC,
	[usr] ASC,
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
