USE [DZTPLA]
GO
/****** Object:  Table [dbo].[t_coeh]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_coeh](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NULL,
	[cd_usr] [varchar](20) NULL,
	[c_code] [varchar](4) NOT NULL,
	[dn_co] [varchar](12) NOT NULL,
	[no_mng] [int] NULL,
	[dt_co] [datetime] NULL,
	[cd_cust] [varchar](9) NULL,
	[cd_custsal] [char](6) NULL,
	[cd_exnode] [varchar](4) NOT NULL,
	[cd_cowhs] [varchar](2) NOT NULL,
	[cd_place] [int] NOT NULL,
	[fg_s103] [varchar](3) NOT NULL,
	[dc_ifm] [int] NULL,
	[dt_reg] [datetime] NULL,
	[cd_regusr] [varchar](20) NULL,
	[dt_upt] [datetime] NULL,
	[cd_upusr] [varchar](20) NULL
) ON [PRIMARY]
GO
