USE [DZTPLA]
GO
/****** Object:  Table [dbo].[t_sol]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_sol](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NULL,
	[cd_usr] [varchar](20) NULL,
	[c_code] [varchar](4) NOT NULL,
	[dn_so] [varchar](12) NOT NULL,
	[dn_ln] [int] IDENTITY(1,1) NOT NULL,
	[fg_so] [varchar](1) NULL,
	[dt_ex] [datetime] NULL,
	[fg_tax] [varchar](1) NOT NULL,
	[fg_s121] [varchar](1) NULL,
	[fg_s122] [varchar](4) NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[qt_odr] [numeric](15, 4) NULL,
	[fg_up] [varchar](1) NOT NULL,
	[up_item] [numeric](15, 4) NULL,
	[at_item] [numeric](15, 4) NULL,
	[fg_s102] [varchar](3) NOT NULL,
	[rt_for] [numeric](15, 4) NOT NULL,
	[at_fitem] [numeric](15, 4) NOT NULL,
	[dn_roln] [int] NOT NULL,
	[at_sitem] [numeric](15, 4) NULL,
	[at_vitem] [numeric](15, 4) NULL,
	[dc_ifm] [varchar](50) NULL,
	[up_base] [numeric](15, 4) NOT NULL,
	[up_litem] [numeric](15, 4) NOT NULL,
	[at_litem] [numeric](15, 4) NOT NULL,
	[dt_scheck] [datetime] NULL,
	[qt_scheck] [numeric](15, 4) NOT NULL,
	[fg_fixup] [int] NULL,
	[dc_specadd] [varchar](50) NULL,
	[cd_cust] [char](6) NULL
) ON [PRIMARY]
GO
