USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WH_ITEM]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WH_ITEM](
	[FG_TAG] [varchar](4) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[CD_WHS] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[DC_SPEC] [varchar](4) NOT NULL,
	[QT_ITEM] [numeric](15, 4) NULL,
	[FG_ITEM] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[FG_TAG] ASC,
	[C_CODE] ASC,
	[CD_WHS] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[DC_SPEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
