USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_LANS2CDSPEC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


















CREATE FUNCTION [DZTPLA].[DZFN_LANS2CDSPEC] (
 @A_LENS_NAME  VARCHAR(30)
)
RETURNS VARCHAR(32) AS
BEGIN

	--//렌즈명을 규격코드로

Declare	@LENS_NAME  VARCHAR(32),
              @TEMPS         VARCHAR(32),
              @TEMPE         VARCHAR(32),
              @N_POS        INTEGER,
              @N_LEN         INTEGER


--select dztpla.dzfn_lans2cdspec('ICM 11.5mm -8.50')
	IF ( CHARINDEX('mm', @A_LENS_NAME, 1) > 0 )
	BEGIN 
--		SIZE	
	 	IF ( CHARINDEX('Toric', @A_LENS_NAME, 1) > 0 )
                            BEGIN
		 	IF ( CHARINDEX('.0mm', @A_LENS_NAME, 1) > 0 OR CHARINDEX('.5mm', @A_LENS_NAME, 1) > 0 )
		        BEGIN  --V4

			 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
			              BEGIN
					IF ( CHARINDEX('myopia', @A_LENS_NAME, 1) > 0 )
					BEGIN
						SELECT @N_POS = CHARINDEX('myopia', @A_LENS_NAME, 1)
						SELECT @LENS_NAME = 'TICM' + SUBSTRING(@A_LENS_NAME,@N_POS + 7, 2 ) + SUBSTRING(@A_LENS_NAME,@N_POS + 10, 1 )
					END
					ELSE
					BEGIN
						SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
						SELECT @LENS_NAME = 'T' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) + SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )
		--				IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4'  )
		--			              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
		--				ELSE
		--					SELECT @LENS_NAME = @LENS_NAME +' '
		--				
		--				SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
					END
				END 
				ELSE
				BEGIN
				   RETURN @A_LENS_NAME
				END
			END 
            ELSE -- V4B,C 
            BEGIN
			 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
			              BEGIN
					IF ( CHARINDEX('myopia', @A_LENS_NAME, 1) > 0 )
					BEGIN
						SELECT @N_POS = CHARINDEX('myopia', @A_LENS_NAME, 1)
						SELECT @LENS_NAME = 'TICM' + SUBSTRING(@A_LENS_NAME,@N_POS + 7, 4 )
					END
					ELSE
					BEGIN
						SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
						SELECT @LENS_NAME = 'T' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 4 )
					END
				END 
				ELSE
				BEGIN
				   RETURN @A_LENS_NAME
				END
	 		END
		END
		ELSE
		BEGIN
		    IF ( CHARINDEX('VICM5', @A_LENS_NAME, 1) > 0 )
		    BEGIN
				SELECT @N_POS = CHARINDEX('VICM5', @A_LENS_NAME, 1) 
				SELECT @LENS_NAME = '24' + SUBSTRING(@A_LENS_NAME,@N_POS + 6, 2 ) + SUBSTRING(@A_LENS_NAME,@N_POS + 9, 1 )
		    END 
		    ELSE
		    BEGIN
		 		IF ( CHARINDEX('CM', @A_LENS_NAME, 1) > 0 )
			    BEGIN
					SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1) 
					SELECT @LENS_NAME = '21' + SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) + SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )
				END 
				ELSE
				BEGIN
				   RETURN @A_LENS_NAME
				END
			END
		END

--                        규격	
	 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
	              BEGIN
			SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) +1
			SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, @N_POS) +1
		              SELECT  @A_LENS_NAME = SUBSTRING(@A_LENS_NAME, @N_POS, 32)
	--	              SELECT @LENS_NAME = @LENS_NAME + '['
		              IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	                 -- 괄호 열기
		                   SELECT @LENS_NAME = @LENS_NAME + LEFT(@A_LENS_NAME,1) 
		              ELSE
			     SELECT @LENS_NAME = @LENS_NAME + '+'
	              END
		ELSE
		BEGIN
		  RETURN @A_LENS_NAME
	              END

		SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2
	        
	              IF ( @N_LEN >= 7 ) 
		BEGIN
			SELECT @N_LEN = CHARINDEX('/', @A_LENS_NAME, 1) -2
		END 
	              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32
	
		IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
		ELSE
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)
	
	              IF (CHARINDEX('.', @TEMPS, 1) = 0 )  --소수점이 없다면
		BEGIN
			SELECT @TEMPS = RIGHT('00'+@TEMPS,2) + '00' -- 4자리 만들기
		END
		ELSE	
		BEGIN
			SELECT @N_POS = CHARINDEX('.', @TEMPS, 1) +1
		              SELECT  @TEMPE = RTRIM(SUBSTRING(@TEMPS,@N_POS, 32))
	
			SELECT @TEMPS = LEFT(@TEMPS,@N_POS - 2)
	
			SELECT @TEMPS = RIGHT('00'+@TEMPS,2)  -- 2자리 만들기
			
			SELECT @TEMPS = LEFT(@TEMPS + '' + @TEMPE + '00',4)  -- 4자리 만들기
		END
	
		SELECT @LENS_NAME  = @LENS_NAME + @TEMPS

	END 
	ELSE
	BEGIN

	 	IF ( CHARINDEX('CM', @A_LENS_NAME, 1) > 0 )
	              BEGIN
			SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1) 
			SELECT @LENS_NAME = '21' + SUBSTRING(@A_LENS_NAME,@N_POS + 2, 3 )		
		END 
		ELSE
		BEGIN
		   RETURN @A_LENS_NAME
		END
	
	 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
	              BEGIN
			SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) +1
		              SELECT  @A_LENS_NAME = SUBSTRING(@A_LENS_NAME, @N_POS, 32)
	--	              SELECT @LENS_NAME = @LENS_NAME + '['
		              IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	                 -- 괄호 열기
		                   SELECT @LENS_NAME = @LENS_NAME + LEFT(@A_LENS_NAME,1) 
		              ELSE
			     SELECT @LENS_NAME = @LENS_NAME + '+'
	              END
		ELSE
		BEGIN
		  RETURN @A_LENS_NAME
	              END
	
	
		SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2
	        
	              IF ( @N_LEN >= 7 ) 
		BEGIN
			SELECT @N_LEN = CHARINDEX('/', @A_LENS_NAME, 1) -2
		END 
	              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32
	
		IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
		ELSE
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)
	
	              IF (CHARINDEX('.', @TEMPS, 1) = 0 )  --소수점이 없다면
		BEGIN
			SELECT @TEMPS = RIGHT('00'+@TEMPS,2) + '00' -- 4자리 만들기
		END
		ELSE	
		BEGIN
			SELECT @N_POS = CHARINDEX('.', @TEMPS, 1) +1
		              SELECT  @TEMPE = RTRIM(SUBSTRING(@TEMPS,@N_POS, 32))
	
			SELECT @TEMPS = LEFT(@TEMPS,@N_POS - 2)
	
			SELECT @TEMPS = RIGHT('00'+@TEMPS,2)  -- 2자리 만들기
			
			SELECT @TEMPS = LEFT(@TEMPS + '' + @TEMPE + '00',4)  -- 4자리 만들기
		END
	
		SELECT @LENS_NAME  = @LENS_NAME + @TEMPS
	END


	return @LENS_NAME

END


















GO
