USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SOADD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SOADD](
	[C_CODE] [char](4) NOT NULL,
	[DN_AD] [varchar](12) NOT NULL,
	[CD_DOC] [varchar](12) NOT NULL,
	[CD_DOCLN] [int] NOT NULL,
	[FG_S106] [varchar](4) NOT NULL,
	[DC_IFM] [varchar](20) NULL,
	[DT_REG] [datetime] NULL,
	[CD_USR] [varchar](10) NULL,
 CONSTRAINT [PK_SOADD] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_AD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
