USE [DZTPLA]
GO
/****** Object:  View [DZTPLA].[CHECKD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [DZTPLA].[CHECKD] AS SELECT * FROM BASE.DZBASE.CHECKD



GO
