USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_LAST_DATE3]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [DZTPLA].[DZFN_LAST_DATE3] 
(
 
 @A_date    DATETIME
)
RETURNS DATETIME
AS
BEGIN

--RETURN CONVERT( DATETIME, CONVERT(CHAR(8),(DATEADD(day, DAY(@A_date) * -1,DATEADD(MONTH, 1,@A_date))),112),112)
RETURN DATEADD(day, -1, CONVERT(DATETIME, CONVERT(CHAR(6),DATEADD(MONTH, 1,@A_date),112)+'01'))

END




GO
