USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST2SAL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE FUNCTION [DZTPLA].[DZFN_GET_CUST2SAL] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@TO_CD_CUST  VARCHAR(12), 
			@KEY_CODE VARCHAR(12)
		
	 SET @CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)
--SELECT DZTPLA.DZFN_GET_CUSTM('212657')

	 SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = @CD_CUST 
    --SELECT KEY_CODE FROM CUST C WHERE C.C_CODE='1000' AND C.CD_CUST='212657'
    
	 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
	    return @CD_CUST

     select @TO_CD_CUST = C.to_cust2 from cust_item_tag C 
								where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE 
									and C.cd_item = @CD_ITEM 

-- SELECT TOP 10 * FROM CUST_ITEM_TAG where cd_cust='M212657'
					  
	 IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
	 BEGIN
		select @TO_CD_CUST = C.to_cust2 from cust_item_tag C 
									where C.c_code = '1000'
								      and C.CD_CUST = @KEY_CODE
									  and C.cd_item = '*' 


		IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
		BEGIN
			IF ( LEFT(@CD_CUST,1) = '2' )
				SELECT @TO_CD_CUST = (SELECT MAX(A.CD_CUST) 
										FROM CUST A 
									WHERE A.C_CODE = '1000'
										AND  A.KEY_CODE = (SELECT MAX(B.KEY_CODE) FROM CUST B
										WHERE B.C_CODE = '1000' AND B.CD_CUST = @CD_CUST)
										AND  ISNULL(A.FG_MAST,'N') = 'Y' )
					  ELSE
				SELECT @TO_CD_CUST = (SELECT MAX(A.CD_CUST) 
										FROM CUST A 
									WHERE A.C_CODE = '1000'
										AND  A.KEY_CODE = (SELECT MAX(B.KEY_CODE) FROM CUST B
										WHERE B.C_CODE = '1000' AND B.CD_CUST = (SELECT MAX(SETTLE) 
									FROM AGENCY G WHERE G.C_CODE = '1000' AND G.CUST_CODE = @CD_CUST) )
										AND  ISNULL(A.FG_MAST,'N') = 'Y' )

			IF ( ISNULL(@TO_CD_CUST,'%') = '%' )
							SELECT @TO_CD_CUST = @CD_CUST

		END 
	END

	return @TO_CD_CUST

END











GO
