USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[app_2nd_login]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[app_2nd_login](
	[uuid] [varchar](50) NOT NULL,
	[sno] [varchar](12) NOT NULL,
	[permission] [varchar](5) NULL,
	[login_date] [datetime] NOT NULL,
	[remark] [varchar](50) NULL,
	[remark2] [varchar](50) NULL,
	[remark3] [varchar](5) NULL,
 CONSTRAINT [PK_app_2nd_login] PRIMARY KEY CLUSTERED 
(
	[uuid] ASC,
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
