USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[QCKREQPHONE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[QCKREQPHONE](
	[CUST_CODE] [varchar](12) NOT NULL,
	[NO_PHONE] [varchar](13) NOT NULL,
	[DT_REG] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_CODE] ASC,
	[NO_PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
