USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CRT_BASIC2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CRT_BASIC2](
	[seq] [decimal](18, 0) NOT NULL,
	[nm_cust] [varchar](50) NULL,
	[cd_cust] [varchar](10) NULL,
	[cd_agency] [varchar](20) NULL,
	[cd_manager] [varchar](10) NULL,
	[dds_no] [varchar](6) NULL,
	[out_year] [varchar](20) NULL,
	[out_gbn] [varchar](10) NULL,
	[dds_gbn] [varchar](10) NULL,
 CONSTRAINT [PK_CRT_BASIC2] PRIMARY KEY CLUSTERED 
(
	[seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
