USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[FILE_ATTACH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[FILE_ATTACH](
	[C_CODE] [char](4) NOT NULL,
	[DN_DOC] [varchar](12) NOT NULL,
	[NM_FILE] [varchar](300) NOT NULL,
	[FG_DEL] [char](1) NULL,
	[NM_FILES] [varchar](100) NULL,
	[DT_TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_DOC] ASC,
	[NM_FILE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[FILE_ATTACH] ADD  CONSTRAINT [DF__FILE_ATTA__FG_DE__3B4D50DC]  DEFAULT ('N') FOR [FG_DEL]
GO
