USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEMGRP]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEMGRP](
	[C_CODE] [char](4) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[DC_SPEC] [varchar](30) NULL,
	[DC_SPEC1] [varchar](8) NULL,
	[DC_SPEC2] [varchar](8) NULL,
	[DC_SPEC3] [varchar](8) NULL,
	[DC_SPEC4] [varchar](8) NULL,
	[UC_UNT] [numeric](15, 4) NULL,
	[DT_REG] [datetime] NULL,
	[CD_BAR] [varchar](30) NULL,
	[CD_OLDITEM] [varchar](20) NULL,
	[QT_SSTK] [numeric](15, 4) NULL,
	[QT_NRM] [numeric](15, 4) NULL,
	[TY_BAR] [char](1) NULL,
	[PRDNM] [varchar](15) NULL,
	[ARR] [char](30) NULL,
	[ITEM_ARRAY] [varchar](12) NULL,
	[LOC] [varchar](13) NULL,
 CONSTRAINT [PK_ITEMGRP] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_arr]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_arr] ON [DZTPLA].[ITEMGRP]
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[ARR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_ITEM_SPEC_OLDITEM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_ITEM_SPEC_OLDITEM] ON [DZTPLA].[ITEMGRP]
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[CD_OLDITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEMGRP_CD_CPEC]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_ITEMGRP_CD_CPEC] ON [DZTPLA].[ITEMGRP]
(
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEMGRP_CD_CPEC_DC_SPEC]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_ITEMGRP_CD_CPEC_DC_SPEC] ON [DZTPLA].[ITEMGRP]
(
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[C_CODE] ASC,
	[DC_SPEC1] ASC,
	[DC_SPEC2] ASC,
	[DC_SPEC3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEMGRP_DC_CPEC]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ITEMGRP_DC_CPEC] ON [DZTPLA].[ITEMGRP]
(
	[DC_SPEC] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEMGRP_DC_SPEC123]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ITEMGRP_DC_SPEC123] ON [DZTPLA].[ITEMGRP]
(
	[C_CODE] ASC,
	[DC_SPEC1] ASC,
	[DC_SPEC2] ASC,
	[DC_SPEC3] ASC,
	[DC_SPEC4] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEMGRP_DCSPEC]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ITEMGRP_DCSPEC] ON [DZTPLA].[ITEMGRP]
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[DC_SPEC] ASC,
	[CD_OLDITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEMGRP_ITEM_SPEC123]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ITEMGRP_ITEM_SPEC123] ON [DZTPLA].[ITEMGRP]
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[DC_SPEC1] ASC,
	[DC_SPEC2] ASC,
	[DC_SPEC3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ITEMGRP]  WITH CHECK ADD  CONSTRAINT [FK_ITEMGRP_ITEM] FOREIGN KEY([C_CODE], [CD_ITEM])
REFERENCES [DZTPLA].[ITEM] ([C_CODE], [CD_ITEM])
GO
ALTER TABLE [DZTPLA].[ITEMGRP] CHECK CONSTRAINT [FK_ITEMGRP_ITEM]
GO
