USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_LANS2DCSPEC2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE FUNCTION [DZTPLA].[DZFN_LANS2DCSPEC2] (
 @A_LENS_NAME  VARCHAR(50)
)
RETURNS VARCHAR(50) AS
BEGIN

	--//렌즈명을 품목코드로

Declare	@LENS_NAME  VARCHAR(50),
              @TEMPS         VARCHAR(50),
              @TEMPE         VARCHAR(50),
              @VERSTR       VARCHAR(3),
              @N_POS        INTEGER,
              @N_LEN         INTEGER


--select dztpla.dzfn_lans2cdspec('ICM 11.5mm -8.50') Toric ICM 12.0mm -14.00/+3.5 X084
/*
Toric ICM 12.6mm -10.00/+2 X090
Toric ICM 12.6mm -9.00/+2 X090
ICM 12.6mm -5.50
ICM 12.6mm -10.00
V4B Toric ICM 13.2mm -13.50/+2.5 X098
*/
	IF ( LEFT(@A_LENS_NAME,2) = 'V4' ) 
	BEGIN
		SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) + 1
		SELECT @VERSTR = LEFT(@A_LENS_NAME, @N_POS -1)
		SELECT @A_LENS_NAME = LTRIM(SUBSTRING(@A_LENS_NAME, @N_POS, 50))
	END

	IF ( CHARINDEX('Myopic', @A_LENS_NAME, 1) > 0 )
	BEGIN
		SELECT @N_POS = CHARINDEX('Myopic', @A_LENS_NAME, 1) + 1
		SELECT @A_LENS_NAME = Replace(@A_LENS_NAME, 'Myopic', 'ICM')
	END

	IF ( CHARINDEX('mm', @A_LENS_NAME, 1) > 0 )
	BEGIN 
	 	IF ( CHARINDEX('Toric', @A_LENS_NAME, 1) > 0 )
                            BEGIN
		 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
		              BEGIN
				IF ( CHARINDEX('.0m', @A_LENS_NAME, 1) > 0  OR CHARINDEX('.5m', @A_LENS_NAME, 1) > 0 )
				BEGIN
					SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
					SELECT @LENS_NAME = 'T' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) + SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )
					IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4'  )
				              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
					ELSE
						SELECT @LENS_NAME = @LENS_NAME +' '
					
					SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
				END
				ELSE
				BEGIN
					IF ( CHARINDEX('CMO', @A_LENS_NAME, 1) > 0 )
					BEGIN
						SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
						SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,4)+ SUBSTRING(@A_LENS_NAME,@N_POS + 4, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 7, 1 ) +' '
						
						SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
					END
					ELSE
					BEGIN
						IF ( CHARINDEX('4C', @VERSTR, 1) > 0 )
						BEGIN
							SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
							SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+'O'+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 ) +' '
							SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
						END
						ELSE
						BEGIN
							SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
							SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 ) +' '
							SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
						END
					END
				END
			END 
		END
		ELSE
		BEGIN

		 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
		              BEGIN
				IF ( CHARINDEX('.0m', @A_LENS_NAME, 1) > 0  OR CHARINDEX('.5m', @A_LENS_NAME, 1) > 0 )
				BEGIN
					SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
					SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) + SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )
					IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4'  )
				              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
					ELSE
						SELECT @LENS_NAME = @LENS_NAME +' '
					
					SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
				END
				ELSE
				BEGIN
					SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
					IF ( CHARINDEX('V', @A_LENS_NAME, 1) > 0  )
					BEGIN
						IF ( CHARINDEX('CMO', @A_LENS_NAME, 1) > 0  )
						BEGIN
							SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,1,@N_POS + 2)+ SUBSTRING(@A_LENS_NAME,@N_POS + 4, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 7, 1 )+' '
						END
						ELSE
						BEGIN
							IF ( CHARINDEX('4C', @VERSTR, 1) > 0 )
							BEGIN
								SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ 'O'+SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
							END
							ELSE
							BEGIN
								SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
							END
						END

--						SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
					END
					ELSE
					BEGIN
						IF ( CHARINDEX('4C', @VERSTR, 1) > 0 )
						BEGIN
							SELECT @LENS_NAME = 'V'+SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ 'O'+SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
						END
						ELSE
						BEGIN
							SELECT @LENS_NAME = 'V'+SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
						END

--						SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
					END
--					IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4'  )
--				              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
--					ELSE
--						SELECT @LENS_NAME = @LENS_NAME +' '
--					
				SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
				END
			END 
		END
	
	 	IF ( CHARINDEX('mm', @A_LENS_NAME, 1) > 0 )
	              BEGIN
			SELECT @N_POS = CHARINDEX('mm', @A_LENS_NAME, 1) + 3
		              SELECT  @A_LENS_NAME = LTRIM(SUBSTRING(@A_LENS_NAME, @N_POS, 32))
		              SELECT @LENS_NAME = @LENS_NAME + '['
		              IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	                 -- 괄호 열기
		                   SELECT @LENS_NAME = @LENS_NAME + LEFT(@A_LENS_NAME,1) 
		              ELSE
			     SELECT @LENS_NAME = @LENS_NAME + '+'
	              END
		ELSE
		BEGIN
			RETURN @A_LENS_NAME
	              END

		SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2

	              IF ( ISNULL(@N_LEN,999) = 999 ) 
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,32)
		ELSE
		BEGIN
		              IF ( @N_LEN >= 7 ) 
			BEGIN
				SELECT @N_LEN = CHARINDEX('/', @A_LENS_NAME, 1) -2
			END 
	
		              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32

			IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
				SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
			ELSE
				SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)

		END 

	END
	ELSE
	BEGIN
	 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
	              BEGIN

			IF ( CHARINDEX('.0', @A_LENS_NAME, 1) > 0  OR CHARINDEX('.5', @A_LENS_NAME, 1) > 0  OR CHARINDEX('.', @A_LENS_NAME, 1) = 0)
			BEGIN

				SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) 
				SELECT  @LENS_NAME = SUBSTRING(@A_LENS_NAME,1, @N_POS - 1)	
				IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4'  )
			              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
				ELSE
					SELECT @LENS_NAME = @LENS_NAME +' '
			END
			ELSE
			BEGIN

				SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) 
				SELECT  @LENS_NAME = SUBSTRING(@A_LENS_NAME,1, @N_POS - 1)	
				SELECT @LENS_NAME = @LENS_NAME +' '
			END
			
		END 

	 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
	              BEGIN
			SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) +1
		              SELECT  @A_LENS_NAME = LTRIM(SUBSTRING(@A_LENS_NAME, @N_POS, 32))
		              SELECT @LENS_NAME = @LENS_NAME + '['
		              IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	                 -- 괄호 열기
		                   SELECT @LENS_NAME = @LENS_NAME + LEFT(@A_LENS_NAME,1) 
		              ELSE
			     SELECT @LENS_NAME = @LENS_NAME + '+'
	              END
		ELSE
		BEGIN
			RETURN @A_LENS_NAME
	              END

		SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2
	              IF ( @N_LEN >= 7 ) 
		BEGIN
			SELECT @N_LEN = CHARINDEX('/', @A_LENS_NAME, 1) -2
		END 

	              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32
	
		        
		IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
		ELSE
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)

	END

--return @TEMPS

              IF (CHARINDEX('.', @TEMPS, 1) = 0 )  --소수점이 없다면
	BEGIN
		SELECT @TEMPS = RIGHT('00'+@TEMPS,2) + '.00' -- 5자리 만들기
	END
	ELSE	
	BEGIN
		SELECT @N_POS = CHARINDEX('.', @TEMPS, 1) +1
	              SELECT  @TEMPE = RTRIM(SUBSTRING(@TEMPS,@N_POS, 32))

		SELECT @TEMPS = LEFT(@TEMPS,@N_POS - 2)

		SELECT @TEMPS = RIGHT('00'+@TEMPS,2)  -- 2자리 만들기
		
		SELECT @TEMPS = LEFT(@TEMPS + '.' + @TEMPE + '00',5)  -- 5자리 만들기
	END

--return @TEMPS

	SELECT @LENS_NAME  = @LENS_NAME + @TEMPS+']'

	IF (ISNULL(@A_LENS_NAME,'%') = '%' )  SELECT @A_LENS_NAME = ''

	SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) +1
              IF ( @N_POS >= 9 ) 
	BEGIN
		SELECT @N_POS = CHARINDEX('/', @A_LENS_NAME, 1) + 1
	END 

              SELECT  @A_LENS_NAME = LTRIM(RTRIM(SUBSTRING(@A_LENS_NAME,@N_POS, 32)))
--	  RETURN @A_LENS_NAME ----------

	IF ( LEN(@A_LENS_NAME) > 1 AND ( LEFT(@LENS_NAME,1) = 'T' or LEFT(@LENS_NAME,2) = 'VT' ) )
	              SELECT @LENS_NAME  = @LENS_NAME +' ' + '['+ LEFT(@A_LENS_NAME,1)   --괄호 닫기
	ELSE
		return @LENS_NAME	
	
	SELECT @TEMPE = ''

	SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2
              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32

	IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
	ELSE
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)

              IF (CHARINDEX('.', @TEMPS, 1) = 0 )  --소수점이 없다면
	BEGIN
		SELECT @TEMPS = RIGHT('0'+@TEMPS,1) + '.0' -- 3자리 만들기
	END
	ELSE
	BEGIN

		SELECT @N_POS = CHARINDEX('.', @TEMPS, 1) +1
	              SELECT  @TEMPE = RTRIM(SUBSTRING(@TEMPS,@N_POS, 32))

		SELECT @TEMPS = LEFT(@TEMPS,@N_POS - 2)

		SELECT @TEMPS = RIGHT('0'+@TEMPS,1)  -- 1자리 만들기

		SELECT @TEMPS = LEFT(@TEMPS + '.' + @TEMPE + '00',3)  -- 3자리 만들기

	END

	
	SELECT @LENS_NAME  = @LENS_NAME + @TEMPS+']'   --괄호 닫기


	return @LENS_NAME

END
























GO
