USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TEMP_PI]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TEMP_PI](
	[CD_ITEM] [varchar](20) NULL,
	[CD_SPEC] [varchar](50) NULL,
	[QT_ITEM] [numeric](15, 4) NULL,
	[DC_IFM] [varchar](50) NULL
) ON [PRIMARY]
GO
