USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MP]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MP](
	[C_CODE] [char](4) NOT NULL,
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[DT_MP] [varchar](6) NOT NULL,
	[FG_BILL] [char](1) NULL,
	[DT_MAT] [char](8) NULL,
	[AT_AMT] [numeric](15, 4) NULL,
	[FG_ACPT] [char](1) NULL,
	[FG_RUN] [char](1) NULL,
	[DT_CRT] [char](8) NULL,
	[CD_USR] [varchar](10) NULL,
	[DC_IFM1] [varchar](200) NULL,
	[DC_IFM2] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_NODE] ASC,
	[CD_CUST] ASC,
	[DT_MP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
