USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CODE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CODE](
	[C_CODE] [char](4) NOT NULL,
	[CD_CLS] [varchar](4) NOT NULL,
	[CD_FLAG] [varchar](4) NOT NULL,
	[NM_FLAG] [varchar](50) NOT NULL,
	[NM_FLAG2] [varchar](30) NULL,
	[DC_V1] [varchar](1) NULL,
	[DC_V2] [varchar](10) NULL,
	[DC_V3] [varchar](10) NULL,
	[DC_V4] [varchar](20) NULL,
	[dc_v5] [varchar](20) NULL,
	[dc_v6] [varchar](20) NULL,
 CONSTRAINT [PK_CODE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CLS] ASC,
	[CD_FLAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DC_V1]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DC_V1] ON [DZTPLA].[CODE]
(
	[C_CODE] ASC,
	[DC_V1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DC_V2]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DC_V2] ON [DZTPLA].[CODE]
(
	[C_CODE] ASC,
	[DC_V2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
