USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[BNODE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[BNODE](
	[C_CODE] [char](4) NOT NULL,
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_EXNODE] [varchar](4) NULL,
	[CD_INNODE] [varchar](4) NULL,
	[CD_EXWHS] [varchar](12) NULL,
	[CD_CNWHS] [varchar](12) NULL,
	[CD_PRWHS] [varchar](12) NULL,
	[CD_RTWHS] [varchar](12) NULL,
	[cd_plc] [varchar](4) NULL,
 CONSTRAINT [PK_BNODE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_NODE] ASC,
	[CD_DEPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
