USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[DOCTOR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[DOCTOR](
	[DOCTOR_ID] [varchar](5) NOT NULL,
	[DOCT_NAME] [varchar](100) NULL,
	[ADDRESS] [varchar](50) NULL,
 CONSTRAINT [PK__DOCTOR] PRIMARY KEY CLUSTERED 
(
	[DOCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
