USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_B39H]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








CREATE FUNCTION [DZTPLA].[DZFN_B39H] (
@BARCODE39  VARCHAR(35)
)
RETURNS VARCHAR(35) AS
BEGIN

	--//바코드에 마지막 체크디짓을 추가한다.
Declare	@RET_B39  	VARCHAR(35),
	@RET_B39_2  	VARCHAR(35),
	@CHR_ARRAY      VARCHAR(100),
    @STR            VARCHAR(35),
    @BARCODE39B     VARCHAR(35),
    @num 	   SMALLINT, 
    @IDX       INT,  @IDX2 INT,
    @VALUE_SUM INT

	IF ( @BARCODE39 IS NULL)  
	RETURN ''   
	IF ( RTRIM(@BARCODE39) = '')   
	RETURN ''  

--//	SET @BARCODE39B = LEFT(RTRIM(@BARCODE39), LEN(RTRIM(@BARCODE39))-1)
	SET @BARCODE39B = RTRIM(@BARCODE39)
	
	SET @CHR_ARRAY = '0|1|2|3|4|5|6|7|8|9|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|-|.| |$|/|+|%'

	SET @num = 1;
	SET @str = LTRIM(@BARCODE39B);
    SET @IDX = LEN(@BARCODE39B);
 	
	SET @VALUE_SUM = 0;

	 WHILE @idx >= @num
	 BEGIN
		SET @IDX2 = 0

		WHILE @IDX2 <= 43
		BEGIN
			if ( SUBSTRING(@str,@num,1) = DZTPLA.DZFN_ARR_GET(@CHR_ARRAY,'|',@IDX2) )
            BEGIN
				SET @VALUE_SUM = @VALUE_SUM + ( @IDX2 -1 ) 
				BREAK
			END
			SET @IDX2 = @IDX2 + 1
                                           
		END 
               
		SET @num = @num + 1
	 END

	 SET  @IDX2 = @VALUE_SUM % 43 

     SET @RET_B39 = @BARCODE39B + DZTPLA.DZFN_ARR_GET(@CHR_ARRAY,'|',@IDX2 + 1) 
/*
	IF ( @BARCODE39 <> @RET_B39 ) 
	BEGIN
		
		SET @num = 1;
		SET @str = LTRIM(RTRIM(@BARCODE39));
		SET @IDX =  LEN(RTRIM(@BARCODE39));
	 	
		SET @VALUE_SUM = 0;

		 WHILE @idx >= @num
		 BEGIN
			SET @IDX2 = 0

			WHILE @IDX2 <= 43
			BEGIN
				if ( SUBSTRING(@str,@num,1) = DZTPLA.DZFN_ARR_GET(@CHR_ARRAY,'|',@IDX2) )
											  BEGIN
					SET @VALUE_SUM = @VALUE_SUM + ( @IDX2 -1 ) 
					BREAK
				END
				SET @IDX2 = @IDX2 + 1
	                                           
			END 
	               
			SET @num = @num + 1
		 END

		 SET  @IDX2 = @VALUE_SUM % 43 

				   SET @RET_B39 = @BARCODE39 + DZTPLA.DZFN_ARR_GET(@CHR_ARRAY,'|',@IDX2 + 1) 	
	END	
*/
	return RTRIM(@RET_B39)

END
GO
