USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[fn_conv_second2time]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*----------------------------------------------------------------------------------
Function Name : fn_conv_second2time
Function Name : fn_conv_time2second

예제) f_conv_second2time(second, Format)
포멧에는 다음과 같이 3가지 형식이 사용됨
as_format : DDDHHMMSSF		==> DDD:HH:MM:SS.F
            HHMMSSF		   ==> HH:MM:SS.F      (주로 반제품 1개 단위의 시간을 표현)
            HHMM			   ==> HH:MM

// DDD:HH:MM:SS.F 	ex)'000:00:20:10.0'		==> 20분 10초
// ll_dd:ll_hh:ll_mm:ll_ss:ll_ff
----------------------------------------------------------------------------------*/

CREATE FUNCTION [DZTPLA].[fn_conv_second2time]
(       @ad_seco        numeric(11,1),    /* 초 */
        @as_format      varchar(10)       /* Format */
)
RETURNS varchar(10) AS  
BEGIN 

/*
declare @ad_seco   as numeric(11,1)
declare @as_format as varchar(10)

select @ad_seco = 80000
select @as_format = 'DDDHHMMSSF'
*/

/* 변수선언 */
declare @ls_hmss as varchar(10)
declare @ll_dd as int
declare @ll_hh as int
declare @ll_mm as int
declare @ll_ss as int
declare @ll_ff as int
declare @ld_mod as int


if (@ad_seco is null) or @ad_seco < 1
begin
   select @ls_hmss = '0000000000'
   goto _Continue
end

select @ll_dd=0; 
select @ll_hh=0; 
select @ll_mm=0; 
select @ll_ss=0; 
select @ll_ff=0;


select @ll_mm = convert(int, @ad_seco / 60)

if @ll_mm >= 60
begin
   select @ll_hh = @ll_mm / 60
   select @ll_mm = @ll_mm % 60

   if left(upper(@as_format),4) = 'HHMM'
   	-- format이 시간까지인 경우는 그냥 넘긴다.
   	goto _Skip
   
   if @ll_hh >= 24
   begin
  	select @ll_dd = @ll_hh / 24
   	select @ll_hh = @ll_hh % 24
   end
   else
   begin
   	select @ll_dd = 0
   end
end
else
begin
   select @ll_hh = 0
end


_Skip:

select @ll_ss = convert(int, @ad_seco) % 60                                 /* 나머지 구하는 식 */
select @ll_ff = convert(int, @ad_seco * 10) - convert(int, @ad_seco) * 10

select @ls_hmss = right('000' + rtrim(convert(char(3), @ll_dd)),3) + 
                  right('00'  + rtrim(convert(char(2), @ll_hh)),2) + 
                  right('00'  + rtrim(convert(char(2), @ll_mm)),2) +  
                  right('00'  + rtrim(convert(char(2), @ll_ss)),2) + 
                  right('0'   + rtrim(convert(char(1), @ll_ff)),1)

/* ---------------------------------------------------------------------------------
   DDD:HH:MM:SS.F ex)'365:00:20:10.0'		==> 20분 10초
   ls_hmss = '3650020100'
---------------------------------------------------------------------------------*/

_Continue:

select @ls_hmss = case upper(@as_format) when 'DDDHHMMSSF' then @ls_hmss
                                         when 'HHMMSSF'    then substring(@ls_hmss,4,10)
                                         when 'HHMM'       then substring(@ls_hmss,4,4)
                                                           else @ls_hmss end

Return @ls_hmss

END

GO
