USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST_AREA]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







CREATE FUNCTION [DZTPLA].[DZFN_GET_CUST_AREA] (
 @CD_HOSP  VARCHAR(12)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@TO_CD_CUST  VARCHAR(12), 
			@CD_USR VARCHAR(20),
			@NM_AREA VARCHAR(10)
		
	 SET @CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)

--	 SELECT @CD_USR = MAX(C.CD_USR) FROM inc_master C WHERE C.C_CODE = '1000' AND DZTPLA.DZFN_GET_CUSTM(C.CD_CUST) = @CD_CUST AND C.CD_PLN = 'AREA' AND C.CD_ITEM = '-'

	 SELECT @NM_AREA = MAX(P.CD_TEAM) FROM PER_MOB P WHERE P.SNO = (SELECT MAX(C.CD_USR) FROM inc_master C WHERE C.C_CODE = '1000' AND DZTPLA.DZFN_GET_CUSTM(C.CD_CUST) = @CD_CUST AND C.CD_PLN = 'AREA' AND C.CD_ITEM = '-') 

     IF (@NM_AREA IS NULL or @NM_AREA = '' )
		SET @NM_AREA = ''

	return @NM_AREA

END











GO
