USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[LM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[LM](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[CD_WHS] [varchar](12) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[DT_LM] [datetime] NULL,
	[FG_PLACE] [char](1) NULL,
	[FG_BILL] [char](1) NULL,
	[FG_TAX] [char](1) NULL,
	[FG_OCLS] [char](1) NULL,
	[FG_ACT1] [varchar](5) NULL,
	[FG_ACT2] [varchar](5) NULL,
	[FG_AVAT] [varchar](5) NULL,
	[FG_AAST] [varchar](5) NULL,
	[FG_S121] [varchar](4) NULL,
	[FG_S122] [varchar](4) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[QT_ITEM] [numeric](15, 2) NULL,
	[FG_UP] [char](1) NULL,
	[UP_ITEMODR] [numeric](15, 4) NULL,
	[FG_S102] [varchar](4) NULL,
	[RT_S102] [numeric](15, 4) NULL,
	[AT_ITEMODR] [numeric](15, 4) NULL,
	[AT_KITEM] [numeric](15, 4) NULL,
	[AT_PC] [numeric](15, 4) NULL,
	[AT_CLS] [numeric](15, 4) NULL,
	[AT_SCLS] [numeric](15, 4) NULL,
	[AT_VCLS] [numeric](15, 4) NULL,
	[AT_LCLS] [numeric](15, 4) NULL,
	[CD_CUST] [char](6) NULL,
	[CD_SALCUST] [char](6) NULL,
	[CD_PLACE] [int] NULL,
	[FG_S105] [varchar](4) NULL,
	[FG_S104] [varchar](4) NULL,
	[CD_SAL] [varchar](12) NULL,
	[CD_PUR] [varchar](12) NULL,
	[FG_CLOSE] [char](1) NULL,
	[DN_CLOSE] [varchar](12) NULL,
	[DT_CLOSE] [datetime] NULL,
	[DN_ODR] [varchar](12) NULL,
	[DN_ODRLN] [int] NULL,
	[DN_DST] [varchar](12) NULL,
	[DN_DSTLN] [int] NULL,
	[CD_PLC] [varchar](4) NULL,
	[FG_S103] [varchar](4) NULL,
	[CD_LNODE] [varchar](4) NULL,
	[CD_LDEPT] [varchar](12) NULL,
	[CD_LUSR] [varchar](10) NULL,
	[CD_RNODE] [varchar](4) NULL,
	[CD_RDEPT] [varchar](12) NULL,
	[CD_RUSR] [varchar](10) NULL,
	[DC_LM] [varchar](160) NULL,
	[fg_bnkbkprt] [varchar](1) NULL,
	[oldno] [varchar](50) NULL,
	[qt_j] [numeric](18, 0) NULL,
	[qt_c] [numeric](18, 0) NULL,
	[qt_d] [numeric](18, 0) NULL,
	[fg_close1] [char](1) NULL,
	[dt_close1] [datetime] NULL,
	[dn_close1] [varchar](12) NULL,
	[dt_sheet] [varchar](8) NULL,
	[certi_no] [varchar](8) NULL,
	[DC_SPEC] [varchar](4) NULL,
	[DT_REG] [datetime] NULL,
	[CD_CUST2] [char](6) NULL,
 CONSTRAINT [PK_LM] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[CD_WHS] ASC,
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CD_SALCUST]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CD_SALCUST] ON [DZTPLA].[LM]
(
	[CD_SALCUST] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_close]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_close] ON [DZTPLA].[LM]
(
	[FG_CLOSE] ASC,
	[DT_CLOSE] ASC,
	[FG_S121] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_close1]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_close1] ON [DZTPLA].[LM]
(
	[dt_close1] ASC,
	[FG_S121] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CODE_DT_S121_ITEM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CODE_DT_S121_ITEM] ON [DZTPLA].[LM]
(
	[C_CODE] ASC,
	[DT_LM] ASC,
	[FG_S121] ASC,
	[CD_ITEM] ASC
)
INCLUDE([DN_LM],[DN_LN],[QT_ITEM],[CD_SALCUST],[DN_ODR],[DN_DST],[DN_DSTLN],[DC_LM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cust]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_cust] ON [DZTPLA].[LM]
(
	[C_CODE] ASC,
	[CD_CUST] ASC,
	[DT_LM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_close]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_close] ON [DZTPLA].[LM]
(
	[dn_close1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_LM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_LM] ON [DZTPLA].[LM]
(
	[DN_LM] ASC,
	[DN_LN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DT_S121]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DT_S121] ON [DZTPLA].[LM]
(
	[CD_CUST] ASC,
	[CD_ITEM] ASC,
	[DT_LM] ASC,
	[C_CODE] ASC,
	[FG_S121] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_LM_DT]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_LM_DT] ON [DZTPLA].[LM]
(
	[DT_LM] ASC,
	[CD_NODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_LM_DT_T]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_LM_DT_T] ON [DZTPLA].[LM]
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_LM_ITEM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_LM_ITEM] ON [DZTPLA].[LM]
(
	[C_CODE] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_LM_LM_ITEM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_LM_LM_ITEM] ON [DZTPLA].[LM]
(
	[CD_ITEM] ASC,
	[DT_LM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ODR]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ODR] ON [DZTPLA].[LM]
(
	[DN_ODR] ASC,
	[DN_ODRLN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_S121_DT]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_S121_DT] ON [DZTPLA].[LM]
(
	[FG_S121] ASC,
	[DT_LM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SPEC_DT_ITEM_CUST_SALCUST]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SPEC_DT_ITEM_CUST_SALCUST] ON [DZTPLA].[LM]
(
	[CD_SPEC] ASC,
	[C_CODE] ASC,
	[DT_LM] ASC,
	[CD_ITEM] ASC,
	[CD_CUST] ASC,
	[CD_SALCUST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ind_dst_lm]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [ind_dst_lm] ON [DZTPLA].[LM]
(
	[DN_DST] ASC,
	[DN_DSTLN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[LM] ADD  CONSTRAINT [DF_LM_AT_LCLS]  DEFAULT ((0)) FOR [AT_LCLS]
GO
ALTER TABLE [DZTPLA].[LM] ADD  CONSTRAINT [DF_LM_fg_close1]  DEFAULT ((0)) FOR [fg_close1]
GO
ALTER TABLE [DZTPLA].[LM] ADD  CONSTRAINT [DF__LM__DT_REG__31C3E6A2]  DEFAULT (getdate()) FOR [DT_REG]
GO
