USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MVH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MVH](
	[C_CODE] [char](4) NOT NULL,
	[DN_MV] [varchar](12) NOT NULL,
	[NO_MNG] [varchar](20) NULL,
	[DT_MV] [datetime] NOT NULL,
	[DT_REG] [datetime] NOT NULL,
	[FG_TYPE] [char](1) NOT NULL,
	[CD_EXNODE] [varchar](4) NOT NULL,
	[CD_EXWHW] [varchar](12) NULL,
	[CD_INNODE] [varchar](4) NOT NULL,
	[CD_INWHS] [varchar](12) NULL,
	[CD_INDEPT] [varchar](12) NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[DC_USR] [varchar](20) NULL,
	[DC_IFM] [varchar](80) NULL,
	[TM_REG] [datetime] NULL,
 CONSTRAINT [PK_MVH] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_MV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[MVH] ADD  CONSTRAINT [DF_MVH_TM_REG]  DEFAULT (getdate()) FOR [TM_REG]
GO
