USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[NIDS_CUST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[NIDS_CUST](
	[C_CODE] [char](4) NOT NULL,
	[CD_CUST] [varchar](6) NOT NULL,
	[CD_HOSP] [varchar](6) NOT NULL,
	[CD_NIDS_CUST] [varchar](16) NOT NULL,
	[NM_HOSP] [varchar](50) NULL,
	[JONG] [varchar](20) NULL,
	[S_ADDRESS] [varchar](100) NULL,
	[ID_NO] [varchar](13) NULL,
	[DT_CLOSE_DOWN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC,
	[CD_HOSP] ASC,
	[CD_NIDS_CUST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
