USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PER_MOB]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PER_MOB](
	[C_CODE] [char](4) NOT NULL,
	[SNO] [varchar](10) NOT NULL,
	[KNAME] [varchar](20) NULL,
	[DUTY_RANK] [varchar](3) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[NODE_CODE] [varchar](4) NULL,
	[SEX_GU] [char](1) NULL,
	[BIRTHDAY] [char](8) NULL,
	[BIRTH_YN] [char](1) NULL,
	[JAEJIK_GU] [varchar](3) NULL,
	[TEL_NO] [varchar](18) NULL,
	[SIGNET] [varchar](18) NULL,
	[EMAILADDR] [varchar](80) NULL,
	[DT_ONLINE] [datetime] NULL,
	[fg_msg2sms] [char](1) NULL,
	[CD_TEAM] [varchar](10) NULL,
	[NO_SORT] [int] NULL,
	[grade] [int] NULL,
	[GRADE2] [varchar](6) NULL,
	[EMP_NO_PSWD] [varchar](20) NULL,
	[CD_AGENCY] [varchar](6) NULL,
	[ename] [varchar](40) NULL,
	[FG_SHOW] [char](1) NULL,
	[DT_ENTRY] [varchar](8) NULL,
	[CD_WHS] [varchar](12) NULL,
	[DT_EXIT] [varchar](8) NULL,
	[FG_LEADER] [char](1) NULL,
 CONSTRAINT [PK_PER_MOB] PRIMARY KEY NONCLUSTERED 
(
	[C_CODE] ASC,
	[SNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SIG_KNAME]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SIG_KNAME] ON [DZTPLA].[PER_MOB]
(
	[SIGNET] ASC,
	[KNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SIGNET]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SIGNET] ON [DZTPLA].[PER_MOB]
(
	[SIGNET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SNO]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SNO] ON [DZTPLA].[PER_MOB]
(
	[SNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PER_MOB] ADD  CONSTRAINT [DF__per_mob__fg_msg2__186E28F3]  DEFAULT ('N') FOR [fg_msg2sms]
GO
ALTER TABLE [DZTPLA].[PER_MOB] ADD  CONSTRAINT [DF__per_mob__grade__259319E7]  DEFAULT ((999)) FOR [grade]
GO
ALTER TABLE [DZTPLA].[PER_MOB] ADD  CONSTRAINT [DF__PER_MOB__FG_SHOW__5967C3A8]  DEFAULT ('N') FOR [FG_SHOW]
GO
ALTER TABLE [DZTPLA].[PER_MOB] ADD  DEFAULT ('N') FOR [FG_LEADER]
GO
