USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSTK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSTK](
	[c_code] [char](4) NOT NULL,
	[fg_acct] [char](1) NOT NULL,
	[mnth] [char](6) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[qt_in] [numeric](15, 4) NULL,
	[at_in] [numeric](15, 4) NULL,
	[qt_ain] [numeric](15, 4) NULL,
	[at_ain] [numeric](15, 4) NULL,
	[qt_ex] [numeric](15, 4) NULL,
	[at_ex] [numeric](15, 4) NULL,
	[qt_aex] [numeric](15, 4) NULL,
	[at_aex] [numeric](15, 4) NULL,
	[qt_stk] [numeric](15, 4) NULL,
	[at_stk] [numeric](15, 4) NULL,
 CONSTRAINT [PK_MSTK] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[fg_acct] ASC,
	[mnth] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
