USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PHN_NUM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PHN_NUM](
	[C_CODE] [char](4) NOT NULL,
	[TEL_NO] [varchar](20) NOT NULL,
	[CUST_NAME] [char](40) NOT NULL,
	[CD_REG] [varchar](10) NULL,
	[DT_DEL] [varchar](8) NULL,
	[REMARK] [varchar](100) NULL,
	[CUST_CODE] [varchar](8) NULL,
	[fg_sms_accept1] [char](1) NULL,
	[fg_sms_accept2] [char](1) NULL,
	[USER_NAME] [varchar](30) NULL,
	[CD_ITEM] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TEL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST] ON [DZTPLA].[PHN_NUM]
(
	[CUST_CODE] ASC,
	[DT_DEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DT_DEL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DT_DEL] ON [DZTPLA].[PHN_NUM]
(
	[DT_DEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TEL_NO]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_TEL_NO] ON [DZTPLA].[PHN_NUM]
(
	[TEL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PHN_NUM] ADD  CONSTRAINT [DF__phn_num__fg_sms___7C26F000]  DEFAULT ('N') FOR [fg_sms_accept1]
GO
ALTER TABLE [DZTPLA].[PHN_NUM] ADD  CONSTRAINT [DF__phn_num__fg_sms___7D1B1439]  DEFAULT ('N') FOR [fg_sms_accept2]
GO
