USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[STAVGH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[STAVGH](
	[c_code] [char](4) NOT NULL,
	[cd_node] [varchar](4) NOT NULL,
	[mt_val] [char](6) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[dt_val] [datetime] NOT NULL,
 CONSTRAINT [PK_STAVGH] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_node] ASC,
	[mt_val] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
