USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST](
	[C_CODE] [char](4) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_USRSAL] [varchar](10) NULL,
	[CD_USRPUR] [varchar](10) NULL,
	[FG_S105] [varchar](4) NULL,
	[FG_ROLEODR] [char](1) NULL,
	[FG_ROLEDST] [char](1) NULL,
	[FG_ROLESAL] [char](1) NULL,
	[FG_S101] [varchar](4) NULL,
	[CD_CUSTSAL] [char](6) NOT NULL,
	[FG_S109] [varchar](4) NULL,
	[FG_S104] [varchar](4) NULL,
	[AT_TRUST] [numeric](15, 4) NULL,
	[DT_TRUST] [int] NULL,
	[FG_TAXCLS] [char](1) NULL,
	[DT_SAL] [int] NULL,
	[DT_ISU] [int] NULL,
	[FG_S103] [varchar](4) NULL,
	[NM_ODR] [varchar](50) NULL,
	[DC_ODR] [varchar](12) NULL,
	[NM_MNY] [varchar](50) NULL,
	[DC_MNY] [varchar](12) NULL,
	[NM_DST] [varchar](40) NULL,
	[DC_DST] [varchar](12) NULL,
	[FG_TRUST] [char](1) NULL,
	[fg_s130] [varchar](4) NULL,
	[fg_pur] [char](1) NULL,
	[FG_SAL] [char](1) NULL,
	[FG_S142] [varchar](4) NULL,
	[OUT_COMP] [char](4) NULL,
	[KEY_CODE] [char](8) NULL,
	[FG_MAST] [char](1) NULL,
	[CD_AGEN] [varchar](8) NULL,
	[CUST_MAIL] [varchar](40) NULL,
	[CD_WHS] [varchar](12) NULL,
	[NM_ADDROTAT] [numeric](12, 0) NULL,
 CONSTRAINT [PK_CUST] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST_CUSTSAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST_CUSTSAL] ON [DZTPLA].[CUST]
(
	[C_CODE] ASC,
	[CD_CUSTSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_KEY_CODE]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_KEY_CODE] ON [DZTPLA].[CUST]
(
	[KEY_CODE] ASC,
	[CD_CUST] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_KEY_MAST]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_KEY_MAST] ON [DZTPLA].[CUST]
(
	[FG_MAST] ASC,
	[KEY_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_USRSAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_USRSAL] ON [DZTPLA].[CUST]
(
	[C_CODE] ASC,
	[CD_USRSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__FG_ROLEODR__2A563856]  DEFAULT ('0') FOR [FG_ROLEODR]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__FG_ROLEDST__2B4A5C8F]  DEFAULT ('0') FOR [FG_ROLEDST]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__FG_ROLESAL__2C3E80C8]  DEFAULT ('0') FOR [FG_ROLESAL]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__AT_TRUST__2D32A501]  DEFAULT ((0)) FOR [AT_TRUST]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__FG_TAXCLS__2E26C93A]  DEFAULT ('0') FOR [FG_TAXCLS]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__DT_SAL__2F1AED73]  DEFAULT ((31)) FOR [DT_SAL]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__DT_ISU__300F11AC]  DEFAULT ((1)) FOR [DT_ISU]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__FG_TRUST__310335E5]  DEFAULT ('0') FOR [FG_TRUST]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__cust__FG_SAL__7C7108C3]  DEFAULT ('S') FOR [FG_SAL]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__FG_MAST__63904C60]  DEFAULT ('N') FOR [FG_MAST]
GO
ALTER TABLE [DZTPLA].[CUST] ADD  CONSTRAINT [DF__CUST__CD_WHS__6AC759D4]  DEFAULT ('WA') FOR [CD_WHS]
GO
