USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[NIDS_UDIDI]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[NIDS_UDIDI](
	[c_code] [varchar](4) NOT NULL,
	[udiDiSeq] [varchar](10) NULL,
	[meddevItemSeq] [varchar](50) NULL,
	[itemName] [varchar](500) NULL,
	[grade] [char](1) NULL,
	[meddevItemNo] [varchar](50) NULL,
	[permitDate] [varchar](10) NULL,
	[mebTypeName] [varchar](4000) NULL,
	[isForExport] [varchar](5) NULL,
	[cobFlagCode] [varchar](10) NULL,
	[meddevItemSeqs] [varchar](50) NULL,
	[mebTypeSeq] [varchar](10) NULL,
	[udiDiCode] [varchar](60) NOT NULL,
	[codeSystemFlag] [varchar](10) NULL,
	[packQuantity] [varchar](3) NULL,
	[isUseEnd] [varchar](5) NULL,
	[useEndDate] [varchar](5) NULL,
	[useEndReason] [varchar](200) NULL,
	[unityInfoRegisted] [varchar](5) NULL,
	[unityInfoRegistComptDate] [varchar](10) NULL,
	[isSupplyHist] [varchar](5) NULL,
	[useLotNo] [varchar](5) NULL,
	[useItemSeq] [varchar](5) NULL,
	[useManufYm] [varchar](5) NULL,
	[useTimeLimit] [varchar](5) NULL,
	[isSterilizationMeddev] [varchar](5) NULL,
	[needSterilization] [varchar](5) NULL,
	[orders] [varchar](3) NULL,
	[code] [varchar](10) NULL,
	[names] [varchar](50) NULL,
	[etcs] [varchar](1000) NULL,
	[isRcperSalaryTarget] [varchar](5) NULL,
	[orders2] [varchar](3) NULL,
	[code2] [varchar](30) NULL,
	[names2] [varchar](4000) NULL,
	[mlsfcName] [varchar](4000) NULL,
	[rcperSalaryCodeNoinputReas] [varchar](1000) NULL,
	[includeLatex] [varchar](5) NULL,
	[includePhthalate] [varchar](5) NULL,
	[mriSafeExpsrCode] [char](1) NULL,
	[swVer] [varchar](10) NULL,
	[itemAddDescription] [varchar](1000) NULL,
	[warnTabooDetail] [varchar](1000) NULL,
	[storageCond] [varchar](1000) NULL,
	[distbTreatCond] [varchar](1000) NULL,
	[managerTelNo] [varchar](60) NULL,
	[managerEmail] [varchar](60) NULL,
	[consumerStateCenterName] [varchar](100) NULL,
	[consumerStateCnterTelNo] [varchar](60) NULL,
	[registDate] [varchar](10) NULL,
	[userSterilizationYn] [varchar](5) NULL,
	[kitYn] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[udiDiCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
