USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[FTFarsing]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [DZTPLA].[FTFarsing] (@STR VARCHAR(255)) 
RETURNS VARCHAR(255)AS
BEGIN    
DECLARE @I          INT,            @J          INT,     @TMPSTR     VARCHAR(255),            @COL1       VARCHAR(2)                  
SET @I = LEN(@STR)      
SET @J = 1      
SET @TMPSTR = ''           
WHILE (@J <= @I)    
BEGIN        
    SELECT @COL1 = SUBSTRING(@STR, @J, 1)                  
	SET @TMPSTR = @TMPSTR +   CASE WHEN @COL1 < 'ㄱ' THEN @COL1                 
	                               WHEN ASCII('ㄱ') <= ASCII(@COL1) AND ASCII(@COL1) <= ASCII('ㅎ') THEN @COL1                 
								   WHEN @COL1 < '까' THEN 'ㄱ'                 
								   WHEN @COL1 < '나' THEN 'ㄲ'                 
								   WHEN @COL1 < '다' THEN 'ㄴ'                 
								   WHEN @COL1 < '따' THEN 'ㄷ'                 
								   WHEN @COL1 < '라' THEN 'ㄸ'                 
								   WHEN @COL1 < '마' THEN 'ㄹ'                 
								   WHEN @COL1 < '바' THEN 'ㅁ'                 
								   WHEN @COL1 < '빠' THEN 'ㅂ'                 
								   WHEN @COL1 < '사' THEN 'ㅃ'                 
								   WHEN @COL1 < '싸' THEN 'ㅅ'                 
								   WHEN @COL1 < '아' THEN 'ㅆ'                 
								   WHEN @COL1 < '자' THEN 'ㅇ'                 
								   WHEN @COL1 < '짜' THEN 'ㅈ'                 
								   WHEN @COL1 < '차' THEN 'ㅉ'                 
								   WHEN @COL1 < '카' THEN 'ㅊ'                 
								   WHEN @COL1 < '타' THEN 'ㅋ'                 
								   WHEN @COL1 < '파' THEN 'ㅌ'                 
								   WHEN @COL1 < '하' THEN 'ㅍ'                 
								   WHEN @COL1 <= '힣' THEN 'ㅎ'                 
								   ELSE @COL1            END                     
    SET @J = @J + 1    
END               

RETURN(@TMPSTR)

END

GO
