USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[pa_user]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[pa_user](
	[us_id] [varchar](30) NOT NULL,
	[us_pass] [varchar](20) NOT NULL,
	[us_name] [varchar](20) NOT NULL,
	[us_ssn] [varchar](15) NOT NULL,
	[us_tel] [varchar](15) NOT NULL,
	[us_hp] [varchar](20) NOT NULL,
	[us_email] [varchar](50) NOT NULL,
	[us_company] [varchar](50) NOT NULL,
	[us_comtel] [varchar](25) NOT NULL,
	[us_position] [varchar](15) NOT NULL,
	[us_post] [varchar](6) NOT NULL,
	[us_addr1] [varchar](150) NOT NULL,
	[us_addr2] [varchar](200) NOT NULL,
	[us_staff] [char](1) NOT NULL,
	[us_exp] [varchar](5) NOT NULL,
	[us_level] [char](1) NOT NULL,
	[us_wdate] [varchar](25) NOT NULL
) ON [PRIMARY]
GO
