USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RA]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RA](
	[C_CODE] [char](4) NOT NULL,
	[DN_DST] [varchar](12) NOT NULL,
	[DN_DSTLN] [int] NOT NULL,
	[SQ_NO] [int] NOT NULL,
	[FG_S121] [varchar](4) NOT NULL,
	[QT_ITEM] [numeric](15, 4) NOT NULL,
	[DN_REL] [varchar](12) NOT NULL,
	[DN_RELLN] [int] NOT NULL,
 CONSTRAINT [PK_RA] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_DST] ASC,
	[DN_DSTLN] ASC,
	[SQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
