USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[M_CLD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[M_CLD](
	[C_CODE] [char](4) NOT NULL,
	[CD_NODE] [varchar](4) NOT NULL,
	[DT_CLD] [char](8) NOT NULL,
	[NB_WORK] [char](7) NOT NULL,
	[YN_WORK] [char](1) NOT NULL,
	[DC_WORK] [varchar](80) NULL,
	[NO_PD] [char](7) NULL,
 CONSTRAINT [PK_M_CLD] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_NODE] ASC,
	[DT_CLD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
