USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[GSCODE_BAK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[GSCODE_BAK](
	[C_CODE] [char](4) NULL,
	[NO_SERIAL] [varchar](20) NULL,
	[CD_GS] [varchar](50) NULL,
	[DN_LM] [varchar](12) NULL
) ON [PRIMARY]
GO
