USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[LM2006]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[LM2006](
	[cd_usr] [varchar](10) NOT NULL,
	[dt_lm] [char](8) NOT NULL,
	[cd_pln] [varchar](12) NOT NULL,
	[at_item] [decimal](10, 0) NULL,
	[C_CODE] [char](4) NOT NULL,
 CONSTRAINT [PK_LM2006] PRIMARY KEY NONCLUSTERED 
(
	[cd_usr] ASC,
	[dt_lm] ASC,
	[cd_pln] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
