USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CM_save]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CM_save](
	[cd_cust] [char](6) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[mt_crm] [char](8) NOT NULL,
	[at_crd] [numeric](15, 4) NOT NULL,
	[at_rcrd] [numeric](15, 4) NULL,
	[at_crm] [numeric](15, 4) NOT NULL,
	[at_sal] [numeric](15, 4) NOT NULL,
	[at_bal] [numeric](15, 4) NULL,
	[at_altercm] [numeric](15, 4) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CM_save] ADD  CONSTRAINT [DF__CM_save__at_crd__28EEA97F]  DEFAULT ((0)) FOR [at_crd]
GO
ALTER TABLE [DZTPLA].[CM_save] ADD  CONSTRAINT [DF__CM_save__at_rcrd__29E2CDB8]  DEFAULT ((0)) FOR [at_rcrd]
GO
ALTER TABLE [DZTPLA].[CM_save] ADD  CONSTRAINT [DF__CM_save__at_crm__2AD6F1F1]  DEFAULT ((0)) FOR [at_crm]
GO
ALTER TABLE [DZTPLA].[CM_save] ADD  CONSTRAINT [DF__CM_save__at_sal__2BCB162A]  DEFAULT ((0)) FOR [at_sal]
GO
ALTER TABLE [DZTPLA].[CM_save] ADD  CONSTRAINT [DF__CM_save__at_bal__2CBF3A63]  DEFAULT ((0)) FOR [at_bal]
GO
ALTER TABLE [DZTPLA].[CM_save] ADD  CONSTRAINT [DF__CM_save__at_alte__2DB35E9C]  DEFAULT ((0)) FOR [at_altercm]
GO
