USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[DSGNATD_RELEASE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[DSGNATD_RELEASE](
	[C_CODE] [varchar](4) NOT NULL,
	[CD_CUST] [varchar](6) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[FG_USED] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[DSGNATD_RELEASE] ADD  DEFAULT ('N') FOR [FG_USED]
GO
