USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_PHONE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
















CREATE FUNCTION [DZTPLA].[DZFN_GET_PHONE] (
 @CD_CUST  VARCHAR(6)
)
RETURNS VARCHAR(13) AS
BEGIN

	--//렌즈명을 품목코드로

Declare	@NO_EMP_S  VARCHAR(20),
              @NO_PHONE VARCHAR(13)

	SELECT @NO_EMP_S = NO_EMP_S
                FROM VBASE_TRADE 
               WHERE CUST_CODE = @CD_CUST

 	IF ( ISNULL( @NO_EMP_S, '%') = '%' OR RTRIM(@NO_EMP_S) = '' )
              BEGIN
		SELECT @NO_EMP_S = CD_USRSAL
	                 FROM CUST
	               WHERE CD_CUST	 = ( SELECT TOP 1 CD_CUST FROM AGENCY WHERE CUST_CODE = @CD_CUST )
		
	END 

	SELECT @NO_PHONE = SIGNET
                 FROM PER_MOB 
               WHERE SNO = @NO_EMP_S

	IF ( @NO_PHONE = '011-385-0035' ) 
                   SET @NO_PHONE = '010-2360-1637'

	return @NO_PHONE

END
















GO
