USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEM2_RES_copy]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEM2_RES_copy](
	[RES_RFID] [varchar](12) NOT NULL,
	[RES_CLASS] [varchar](30) NULL,
	[RES_CODE] [varchar](12) NULL,
	[RES_NAME] [varchar](50) NULL,
	[RES_LOCATION] [varchar](20) NULL,
	[RES_QTY] [decimal](14, 4) NULL,
	[RES_MANAGER] [varchar](20) NULL,
	[RES_IN_DATE] [varchar](8) NULL,
	[RES_EXP_DATE] [varchar](8) NULL,
	[RES_DEPT] [varchar](20) NULL,
	[RES_CCODE] [varchar](4) NULL,
	[RES_SPEC] [varchar](100) NULL,
	[RES_UNIT] [varchar](15) NULL,
	[RES_LOCATION_SUB] [varchar](20) NULL,
	[RES_DISUSE] [varchar](1) NULL,
	[RES_PLAN] [varchar](200) NULL,
	[RES_GBN] [varchar](14) NULL,
 CONSTRAINT [ITEM2_RES_x] PRIMARY KEY NONCLUSTERED 
(
	[RES_RFID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
