USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WJMCLNT]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WJMCLNT](
	[C_CODE] [varchar](4) NOT NULL,
	[CUST_CODE] [varchar](6) NOT NULL,
	[PASSWD] [varchar](80) NULL,
	[DT_INSTALL] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CUST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
