USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[INVEN_LIST_H]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[INVEN_LIST_H](
	[C_CODE] [varchar](4) NOT NULL,
	[INVEN_MONTH] [varchar](6) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[COMPLETE_YN] [varchar](1) NOT NULL,
 CONSTRAINT [PK_INVEN_LIST_H] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[INVEN_MONTH] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
