USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[HANTOENG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[HANTOENG](
	[KOR_NAME] [varchar](2) NOT NULL,
	[SURNAME] [varchar](10) NULL,
	[GIVENNAME] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[KOR_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
