USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MF_STOCK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MF_STOCK](
	[PSH_SEQ] [int] NOT NULL,
	[PSLL_SEQ] [int] NOT NULL,
	[PSL_SQ] [int] NULL,
	[MF_SEQ] [int] NOT NULL,
	[OS_OD] [char](4) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[SLT_LENS_SPEC] [varchar](12) NULL,
	[SLT_LENS_AXIS] [varchar](7) NULL,
	[STCK_LENS_SPEC] [varchar](12) NULL,
	[STCK_LENS_AXIS] [varchar](7) NULL,
	[DC_EPATIENT] [varchar](50) NULL,
	[NM_DOC] [varchar](30) NULL,
	[DT_TIME] [char](16) NULL,
	[UP_TIME] [varchar](16) NULL,
	[FG_DEL] [char](1) NULL,
	[FG_CONF] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[PSH_SEQ] ASC,
	[PSLL_SEQ] ASC,
	[MF_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[MF_STOCK] ADD  CONSTRAINT [DF__MF_STOCK__FG_DEL__1E0706B8]  DEFAULT ('N') FOR [FG_DEL]
GO
ALTER TABLE [DZTPLA].[MF_STOCK] ADD  CONSTRAINT [DF__MF_STOCK__FG_CON__1EFB2AF1]  DEFAULT ('N') FOR [FG_CONF]
GO
