USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[dr_history]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[dr_history](
	[dr_out_no] [varchar](12) NOT NULL,
	[dr_out_date] [varchar](8) NOT NULL,
	[dr_no] [varchar](12) NOT NULL,
	[dr_out_user] [varchar](10) NOT NULL,
	[dr_out_remk] [varchar](200) NULL,
	[dr_in_date] [varchar](8) NULL,
	[dr_expire_yn] [varchar](1) NULL,
 CONSTRAINT [PK_dr_history] PRIMARY KEY CLUSTERED 
(
	[dr_out_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
