USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_ITEM_TAG3]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_ITEM_TAG3](
	[C_CODE] [char](4) NOT NULL,
	[CD_CUST] [char](8) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[TO_CUST] [char](6) NOT NULL,
	[DT_DATE] [char](8) NOT NULL,
	[FG_SOCO] [varchar](4) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[CD_SITEM1] [varchar](12) NULL,
	[CD_SITEM2] [varchar](12) NULL,
	[FG_USE] [char](1) NULL,
	[TO_C_CODE] [char](4) NULL,
	[FR_C_CODE] [char](4) NULL,
	[TO_CUST2] [varchar](6) NULL,
	[FG_FR_SC] [varchar](4) NULL,
	[FG_PRT_AMT] [char](1) NULL,
	[FR_WHS] [varchar](12) NULL,
	[TO_AGENCY] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC,
	[DT_DATE] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
