USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUSTMST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










CREATE FUNCTION [DZTPLA].[DZFN_GET_CUSTMST] (
 @CD_HOSP  VARCHAR(12)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
Declare	@KEY_CODE  VARCHAR(12),
        @CD_CUST   VARCHAR(12)

	 	
	 SET @CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)

	 IF ( LEFT(@CD_CUST,1) = '2' )
	 BEGIN
		SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = @CD_CUST 
	 END 
	 ELSE
	 BEGIN
	    SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)
	 END 


	return @KEY_CODE

END










GO
