USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PRCPLCLL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PRCPLCLL](
	[C_CODE] [char](4) NOT NULL,
	[CD_PLC] [char](4) NOT NULL,
	[FG_CND] [char](1) NOT NULL,
	[FG_MTD] [char](1) NOT NULL,
	[CD_TGT] [varchar](20) NOT NULL,
	[NO_STT] [numeric](15, 4) NULL,
	[NO_END] [numeric](15, 4) NULL,
	[RT_PLC] [numeric](4, 1) NULL,
	[AT_PLC] [numeric](15, 4) NULL,
 CONSTRAINT [PK_PRCPLCLL] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_PLC] ASC,
	[FG_CND] ASC,
	[FG_MTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
