USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[qrp]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[qrp](
	[OrderID] [float] NULL,
	[ShippedDate] [smalldatetime] NULL,
	[Spec] [varchar](12) NULL,
	[no_serial] [varchar](20) NULL,
	[Manufacturing Date] [smalldatetime] NULL,
	[Set #] [float] NULL
) ON [PRIMARY]
GO
