USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[STOCK_REQ]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[STOCK_REQ](
	[PSL_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[DT_STOCK] [char](8) NULL,
	[C_CODE] [char](6) NULL,
	[CD_WORK] [char](10) NULL,
	[CD_USR] [char](10) NULL,
 CONSTRAINT [PK_STOCK_REQ] PRIMARY KEY CLUSTERED 
(
	[PSL_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
