USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






CREATE FUNCTION [DZTPLA].[DZFN_GET_CUST2] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@TO_CD_CUST  VARCHAR(12), 
			@KEY_CODE VARCHAR(12)		
	
/*IF (@CD_HOSP = '480055' ) 
	     RETURN '261035'  */

	 --SET @CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)

	 SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C (NOLOCK) WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP) 

	 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
	    SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C (NOLOCK) WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

--	    SET @KEY_CODE =  (select top 1 ISNULL((SELECT MAX(KEY_CODE) FROM CUST C (nolock) 
--					            WHERE C.C_CODE = '1000' AND C.CD_CUST = (select ISNULL(settle, CD_CUST) from agency a (nolock) where a.c_code= '1000' and a.cust_code=@CD_HOSP)),
--				(SELECT MAX(KEY_CODE) FROM CUST C (nolock) WHERE C.C_CODE = '1000' AND C.CD_CUST = (select CD_CUST from agency a (nolock) where a.c_code= '1000' and a.cust_code=@CD_HOSP))) from dztpla.seq (nolock) )

     --select @TO_CD_CUST = C.to_cust from cust_item_tag C 
					--			where C.c_code = '1000'
					--				and C.CD_CUST = isnull((SELECT MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)) ,
					--				                  (SELECT MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)) )
					--				and C.cd_item = @CD_ITEM 
					--			    and isnull(C.fg_use,'Y') = 'Y'

     select @TO_CD_CUST = C.to_cust from cust_item_tag C (NOLOCK)
								where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE
									and C.cd_item = @CD_ITEM 
								    and isnull(C.fg_use,'Y') = 'Y'													  
					  
	 IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
	 BEGIN
		--select @TO_CD_CUST = C.to_cust from cust_item_tag C 
		--							where C.c_code = '1000'
		--							and C.CD_CUST = isnull((SELECT MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)) ,
		--							                  (SELECT MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)) )
		--							  and C.cd_item = '*' 
		select @TO_CD_CUST = C.to_cust from cust_item_tag C (NOLOCK)
									where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE
									  and C.cd_item = '*' 


		IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
		BEGIN
			SELECT @KEY_CODE = MAX(C.KEY_CODE) 
				FROM CUST C (NOLOCK) WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

			--SET @TO_CD_CUST = (select top 1 C.to_cust 
			--					 from cust_item_tag C 
			--					 where C.c_code = '1000'
			--						and C.CD_CUST = isnull((SELECT MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)) ,
			--						                  (SELECT MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)) )
			--					   and isnull(C.fg_use,'Y') = 'Y' )
			SET @TO_CD_CUST = (select top 1 C.to_cust 
								 from cust_item_tag C (NOLOCK)
								 where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE
								   and isnull(C.fg_use,'Y') = 'Y' )
													  
			IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
			   SET @TO_CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

		END 
	END

	return @TO_CD_CUST

END










GO
