USE [DZTPLA]
GO
/****** Object:  StoredProcedure [DZTPLA].[USP_RLM_SUM_UPDATE]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE           PROCEDURE [DZTPLA].[USP_RLM_SUM_UPDATE] ( @N_CD_NODE VARCHAR(4), 
                                                          @N_CD_WHS VARCHAR(12),
                                                          @N_CD_LOC    VARCHAR(12),
 			                @N_CD_ITEM   VARCHAR(12),
                                                          @N_CD_SPEC  VARCHAR(12),
                                                          @N_DT_DST    VARCHAR(6),
                                                          @N_C_CODE    CHAR(4),
                                                          @N_FG_S121   VARCHAR(4),
                                                          @N_QT_ITEM  NUMERIC(15,2),
 				  @D_CD_NODE VARCHAR(4), 
                                                          @D_CD_WHS VARCHAR(12),
                                                          @D_CD_LOC    VARCHAR(12),
 			                @D_CD_ITEM   VARCHAR(12),
                                                          @D_CD_SPEC  VARCHAR(12),
                                                          @D_DT_DST    VARCHAR(6),
                                                          @D_C_CODE    CHAR(4),
                                                          @D_FG_S121   VARCHAR(4),
                                                          @D_QT_ITEM  NUMERIC(15,2),
 			                @FG_EXIST    CHAR(1),
 				  @FG_UDI_STATUS CHAR(1)
)	
AS

     DECLARE
	@NUMROWS       INT,
	@ERRNO         INT,
	@ERRMSG        VARCHAR(255)
 BEGIN  TRANSACTION
    IF ( @FG_EXIST = '1 ')
    BEGIN 
  	IF ( @FG_UDI_STATUS = 'U')
    	BEGIN
		IF (@N_FG_S121 = 'A') 
		BEGIN 
		     UPDATE RLM 
		            SET QT_A = ( QT_A - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM	
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE						
		END     
		ELSE
		IF(@N_FG_S121 = 'B') 
		BEGIN 
		    UPDATE RLM 
		            SET QT_B =( QT_B - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM	
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE	
                            IF(@N_FG_S121 = 'C') 
		BEGIN
		    UPDATE RLM 
		            SET QT_C =( QT_C - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    =@N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END 
		ELSE
		IF (@N_FG_S121 = 'D') 
		BEGIN
		    UPDATE RLM 
		            SET QT_D =( QT_D - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
		IF(@N_FG_S121 = 'E') 
		BEGIN
		    UPDATE RLM 
		            SET QT_E = ( QT_E - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    =@N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE	
                                 IF(@N_FG_S121 = 'F') 
		BEGIN
		     UPDATE RLM 
		            SET QT_F = ( QT_F - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    =@N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
		IF (@N_FG_S121 = 'G') 
		BEGIN
		    UPDATE RLM 
		            SET QT_G = ( QT_G - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    =@N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
		IF(@N_FG_S121 = 'H') 
		BEGIN
		     UPDATE RLM 
		            SET QT_H = ( QT_H - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE	
                                 IF(@N_FG_S121 = 'I') 
		BEGIN
		    UPDATE RLM 
		            SET QT_I = ( QT_I - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
		IF (@N_FG_S121 = 'J') 
		BEGIN
		     UPDATE RLM 
		            SET QT_J = ( QT_J - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
		IF(@N_FG_S121 = 'K') 
		BEGIN
		    UPDATE RLM 
		            SET QT_K = ( QT_K - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE	
                            IF(@N_FG_S121 = 'L') 
		BEGIN
		    UPDATE RLM 
		            SET QT_L = ( QT_L - @D_QT_ITEM ) + @N_QT_ITEM

		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
 		 IF(@N_FG_S121 = 'M') 
		BEGIN
		     UPDATE RLM 
		            SET QT_M = ( QT_M - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
		IF (@N_FG_S121 = 'N') 
		BEGIN 
		    UPDATE RLM 
		            SET QT_N = ( QT_N - @D_QT_ITEM ) + @N_QT_ITEM

		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    =@N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
		IF(@N_FG_S121 = 'O') 
		BEGIN
		    UPDATE RLM 

		            SET QT_O = ( QT_O - @D_QT_ITEM ) + @N_QT_ITEM

		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE	
                                 IF(@N_FG_S121 = 'P') 
		BEGIN
		     UPDATE RLM 
		            SET QT_P = ( QT_P - @D_QT_ITEM ) + @N_QT_ITEM

		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
		IF (@N_FG_S121 = 'Q') 
		BEGIN
		    UPDATE RLM 
		            SET QT_Q = ( QT_Q - @D_QT_ITEM ) + @N_QT_ITEM

		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    =@N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE
		IF(@N_FG_S121 = 'R') 
		BEGIN
		    UPDATE RLM 
		            SET QT_R = ( QT_R - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		            AND C_CODE   = @N_C_CODE
		END
		ELSE	
                                 IF(@N_FG_S121 = 'S')
		BEGIN 
		     UPDATE RLM 
		            SET QT_S = ( QT_S - @D_QT_ITEM ) + @N_QT_ITEM
		       WHERE CD_NODE = @N_CD_NODE
		            AND CD_WHS   = @N_CD_WHS
                                        AND CD_LOC    = @N_CD_LOC
  		            AND CD_ITEM   = @N_CD_ITEM
		            AND CD_SPEC  = @N_CD_SPEC
		            AND DT_DST    = @N_DT_DST
		          	  AND C_CODE   = @N_C_CODE
		END
		 IF(@@ERROR<>0) 
		 BEGIN
			SELECT @ERRNO = 33000
                                          SELECT @ERRMSG = '업데이트에러 ' 
			GOTO ERROR 
		 END
		        
	END
   
    END 
    IF ( @@ERROR <> 0 )
    BEGIN
	SELECT @ERRNO = 33000
              SELECT @ERRMSG = '업데이트에러 ' 
	GOTO ERROR 
    END
    IF ( @@ERROR = 0 )
    BEGIN
       	   COMMIT TRANSACTION
	   BEGIN 	
	           EXEC @ERRNO = DZTPLA.USP_RLM_SUM_INEX  @N_CD_NODE, @N_CD_WHS,@N_CD_LOC,@N_CD_ITEM, @N_CD_SPEC,@N_DT_DST,
               	   	                                             @N_C_CODE
                 END  	
	   RETURN 1
    END 

ERROR:
BEGIN 
   ROLLBACK  TRANSACTION
   RAISERROR (' error no :%d, %s',16,1,@ERRNO ,@ERRMSG)
   RETURN -1
END

GO
