USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SRL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SRL](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_SR] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[FG_S121] [varchar](4) NOT NULL,
	[FG_S122] [varchar](4) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[FG_TAX] [char](1) NOT NULL,
	[FG_UP] [char](1) NOT NULL,
	[QT_OITEM] [numeric](15, 4) NOT NULL,
	[AT_OITEM] [numeric](15, 4) NOT NULL,
	[QT_LITEM] [numeric](15, 4) NOT NULL,
	[AT_LITEM] [numeric](15, 4) NOT NULL,
	[UP_LCLS] [numeric](15, 4) NOT NULL,
	[AT_LCLS] [numeric](15, 4) NOT NULL,
	[FG_LM] [char](1) NOT NULL,
	[DT_LM] [datetime] NULL,
	[DN_LM] [varchar](12) NULL,
	[DN_LMLN] [int] NULL,
	[DN_EX] [varchar](12) NULL,
	[DN_EXLN] [int] NULL,
	[DN_OD] [varchar](12) NULL,
	[DN_ODLN] [int] NULL,
	[CD_SALCUST] [char](6) NULL,
	[FG_JUNK] [char](1) NULL,
	[DC_IFM] [varchar](160) NULL,
	[DC_SPECADD] [varchar](4) NULL,
	[dt_key] [char](8) NULL,
	[거래처코드] [varchar](6) NULL,
	[seqkey] [int] NULL,
	[cd_dstwhs] [varchar](12) NULL,
	[CERTI_NO] [varchar](20) NULL,
	[NO_SERIAL] [varchar](20) NULL,
 CONSTRAINT [PK_SRL] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_SR] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_ex]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_ex] ON [DZTPLA].[SRL]
(
	[C_CODE] ASC,
	[DN_EX] ASC,
	[DN_EXLN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_sr_ifm]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_sr_ifm] ON [DZTPLA].[SRL]
(
	[DN_SR] ASC,
	[DC_IFM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_sr_no_serial]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_sr_no_serial] ON [DZTPLA].[SRL]
(
	[C_CODE] ASC,
	[FG_LM] ASC,
	[NO_SERIAL] ASC,
	[DN_SR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_srl]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_srl] ON [DZTPLA].[SRL]
(
	[C_CODE] ASC,
	[DN_SR] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_item_fg_lm_junk_code]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_item_fg_lm_junk_code] ON [DZTPLA].[SRL]
(
	[CD_ITEM] ASC,
	[FG_LM] ASC,
	[FG_JUNK] ASC,
	[C_CODE] ASC,
	[DN_SR] ASC,
	[CD_SPEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SRL] ADD  CONSTRAINT [DF_SRL_QT_OITEM]  DEFAULT ((0)) FOR [QT_OITEM]
GO
ALTER TABLE [DZTPLA].[SRL] ADD  CONSTRAINT [DF_SRL_AT_OITEM]  DEFAULT ((0)) FOR [AT_OITEM]
GO
ALTER TABLE [DZTPLA].[SRL] ADD  CONSTRAINT [DF_SRL_QT_LITEM]  DEFAULT ((0)) FOR [QT_LITEM]
GO
ALTER TABLE [DZTPLA].[SRL] ADD  CONSTRAINT [DF_SRL_AT_LITEM]  DEFAULT ((0)) FOR [AT_LITEM]
GO
ALTER TABLE [DZTPLA].[SRL] ADD  CONSTRAINT [DF_SRL_UP_LCLS]  DEFAULT ((0)) FOR [UP_LCLS]
GO
ALTER TABLE [DZTPLA].[SRL] ADD  CONSTRAINT [DF_SRL_AT_LCLS]  DEFAULT ((0)) FOR [AT_LCLS]
GO
ALTER TABLE [DZTPLA].[SRL]  WITH CHECK ADD  CONSTRAINT [FK_SRL_ITEMGRP] FOREIGN KEY([C_CODE], [CD_ITEM], [CD_SPEC])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[SRL] CHECK CONSTRAINT [FK_SRL_ITEMGRP]
GO
ALTER TABLE [DZTPLA].[SRL]  WITH CHECK ADD  CONSTRAINT [FK_SRL_SRH] FOREIGN KEY([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_SR])
REFERENCES [DZTPLA].[SRH] ([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_SR])
GO
ALTER TABLE [DZTPLA].[SRL] CHECK CONSTRAINT [FK_SRL_SRH]
GO
