USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SETWKH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SETWKH](
	[C_CODE] [char](4) NOT NULL,
	[DN_WK] [varchar](12) NOT NULL,
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[DT_WK] [datetime] NOT NULL,
	[CD_WHS] [varchar](12) NULL,
	[DC_IFM] [varchar](80) NULL,
	[TM_REG]  AS (getdate()),
 CONSTRAINT [PK_SETWKH] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_WK] ASC,
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
