USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_STAVG_ITEM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/* 회사별 재고      */
/* 작성자 : 고정호 */
CREATE FUNCTION [DZTPLA].[DZFN_STAVG_ITEM]
(
 
 @A_C_CODE    CHAR(4),
 @A_CD_NODE  VARCHAR(4),
 @A_MT_VAL     VARCHAR(6) 
)
RETURNS @RF_STAVGA_ITEM TABLE
(	C_CODE    CHAR(4),
	CD_NODE  VARCHAR(12),
	MT_VAL     CHAR(6),
	CD_ACT	    VARCHAR(5),
	CD_ITEM    VARCHAR(12),
              NM_ITEM    VARCHAR(20),
	/*EA_ITEM     VARCHAR(50),*/
	CD_SPEC   VARCHAR(12), 
	DC_SPEC   VARCHAR(20),
              QT_PRE     NUMERIC(15,4),
	AT_PRE      NUMERIC(15,4),
	QT_IN	    NUMERIC(15,4),
	AT_IN  	    NUMERIC(15,4),
	QT_EX        NUMERIC(15,4),
	AT_EX         NUMERIC(15,4),
	QT_ST        NUMERIC(15,4),
	AT_ST         NUMERIC(15,4)
)
AS
BEGIN
	DECLARE @PRE_MON  VARCHAR(6),
	                @PRE_CHK  CHAR(1)

SELECT   @PRE_MON = SUBSTRING(CONVERT(char(8),DATEadd(DAY,-1, convert(datetimE,@A_MT_VAL+'01',112)),112),1,6)

              IF EXISTS(  SELECT 1 FROM STAVGH 
                                              WHERE  C_CODE = @A_C_CODE AND MT_VAL = @PRE_MON
                             )   SELECT @PRE_CHK = '1'
              ELSE            SELECT @PRE_CHK = '0'
                          
                      
              IF EXISTS ( SELECT 1 FROM STAVGH
		           WHERE C_CODE   = @A_C_CODE
			  AND CD_NODE = @A_CD_NODE
			  AND MT_VAL    = @A_MT_VAL
                     )
        BEGIN
	 
		INSERT @RF_STAVGA_ITEM
		 SELECT S.C_CODE,S.CD_NODE,S.MT_VAL,S.CD_ACT,S.CD_ITEM,T.NM_ITEM,S.CD_SPEC,G.DC_SPEC,
                             ISNULL(PRE_S.PRE_QT_ST,0) , ISNULL(PRE_S.PRE_AT_ST,0),
 			SUM(ISNULL( S.QT_IN,0)) QT_IN,
			SUM(ISNULL( S.AT_IN,0))   AT_IN,
			SUM(ISNULL( S.QT_EX,0)) QT_EX,
			SUM(ISNULL( S.AT_EX,0))  AT_EX,
			SUM(ISNULL( S.QT_ST,0)) QT_ST,
			SUM(ISNULL( S.AT_ST,0))   AT_ST 
                           FROM STAVGL  S  LEFT OUTER JOIN     ITEM         T on  S.C_CODE   = T.C_CODE AND    S.CD_ITEM  = T.CD_ITEM 
                                                        LEFT OUTER JOIN    ITEMGRP   G on   S.C_CODE   = G.C_CODE   AND    S.CD_ITEM  = G.CD_ITEM   AND    S.CD_SPEC = G.CD_SPEC
                                                        LEFT OUTER JOIN 
			     (
			      SELECT CD_ITEM,CD_SPEC,CD_ACT,
				     SUM(ISNULL(QT_ST,0)) PRE_QT_ST,SUM(ISNULL(AT_ST,0)) PRE_AT_ST
			        FROM STAVGL
			     WHERE C_CODE = @A_C_CODE
			          AND CD_NODE = @A_CD_NODE
			          AND MT_VAL    = @PRE_MON
			GROUP BY CD_ITEM,CD_SPEC,CD_ACT
                                
			
	                                 )PRE_S  ON  S.CD_ITEM   =  ISNULL(S.CD_ITEM  ,PRE_S.CD_ITEM)
              			 AND    S.CD_SPEC  =  ISNULL(S.CD_SPEC,PRE_S.CD_SPEC)
	             			 AND    S.CD_ACT     =  ISNULL(S.CD_ACT,  PRE_S.CD_ACT)
		    WHERE     S.C_CODE   = @A_C_CODE
		          AND    S.CD_NODE = @A_CD_NODE
		          AND    S.MT_VAL    = @A_MT_VAL
		          
	             GROUP BY     S.C_CODE,S.CD_NODE,S.MT_VAL,S.CD_ACT, S.CD_ITEM,T.NM_ITEM,S.CD_SPEC,G.DC_SPEC,
 			       PRE_S.PRE_QT_ST, PRE_S.PRE_AT_ST

	 
        END	
     ELSE
        BEGIN /* 당월자료가 없을때는 T_STAVG 에서 가져온다.*/
	     INSERT @RF_STAVGA_ITEM
	 SELECT        X.C_CODE,X.CD_NODE,X.MT_VAL,X.CD_ACT,X.CD_ITEM,T.NM_ITEM, X.CD_SPEC,G.DC_SPEC,
                                  
                                    SUM(ISNULL(X.pqt_st,0)) PQT_ST,
		       SUM(ISNULL(X.pat_st,0)) PAT_ST, 
 		       SUM(ISNULL( X.QT_IN,0)) QT_IN,
		       SUM(ISNULL( X.AT_IN,0)) AT_IN,
		       SUM(ISNULL( X.QT_EX,0)) QT_EX,
		       SUM( ISNULL(X.at_ex,0))   AT_EX,	
		       SUM( ( isnull(X.pqt_st,0)+isnull(X.QT_IN,0))  - isnull(x.qt_ex,0)) QT_ST,
		       SUM( ( isnull(X.pat_st,0)+isnull(X.AT_IN,0))  - isnull(x.At_ex,0)) AT_ST

/*
                                   SUM(ISNULL(X.qt_st,0))   QT_ST   ,
		       SUM(ISNULL(X.at_st,0)) AT_ST 
*/
                 
	FROM 
              (
		 SELECT S.C_CODE,S.CD_NODE,S.MT_VAL,S.CD_ACT,S.CD_ITEM, S.CD_SPEC,0 pqt_st,0 pat_st, 
 			       SUM(ISNULL( S.QT_IN,0)) QT_IN,
			       SUM(ISNULL( S.AT_IN,0)) AT_IN,
			       SUM(ISNULL( S.QT_EX,0)) QT_EX,
			       SUM( ISNULL(QT_EX * ( AT_IN / QT_IN),0))   AT_EX,	
                            	       SUM(ISNULL( QT_IN - QT_EX,0))   QT_ST   ,
			       SUM(ISNULL((QT_IN - QT_EX) * ( AT_IN / QT_IN),0)) AT_ST 
              	       FROM T_STAVG   S
		    WHERE    S.C_CODE   =@A_C_CODE
		         AND    S.CD_NODE = @A_CD_NODE
		         AND    S.MT_VAL    = @A_MT_VAL
	        
	            GROUP BY     S.C_CODE,S.CD_NODE,S.MT_VAL,S.CD_ACT, S.CD_ITEM, S.CD_SPEC 
		UNION ALL
		 
		   SELECT   C_CODE, CD_NODE, @a_MT_VAL,CD_ACT,CD_ITEM,CD_SPEC, 
			   SUM(ISNULL(QT_ST,0)) PQT_ST,SUM(ISNULL(AT_ST,0)) PAT_ST,0,0,0,0,0,0
		      FROM STAVGL
		    WHERE C_CODE = @A_C_CODE
		          AND CD_NODE = @A_CD_NODE
		          AND MT_VAL    = @PRE_MON
		GROUP BY  C_CODE, CD_NODE,MT_VAL, CD_ACT, CD_ITEM,  CD_SPEC 
	) X,ITEM T, ITEMGRP G
	WHERE X.C_CODE = T.C_CODE	
	     AND X.CD_ITEM = T.CD_ITEM
	     AND X.C_CODE  = G.C_CODE
	     AND X.CD_ITEM = G.CD_ITEM
	     AND X.CD_SPEC = G.CD_SPEC
        GROUP BY X.C_CODE,X.CD_NODE,X.MT_VAL,X.CD_ACT,X.CD_ITEM, T.NM_ITEM,X.CD_SPEC,G.DC_SPEC 
  
   
        END
	
 
RETURN 
END









GO
