USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[INVEN_LIST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[INVEN_LIST](
	[C_CODE] [varchar](4) NOT NULL,
	[INVEN_DATE] [varchar](8) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[RLM_CNT] [numeric](10, 0) NOT NULL,
	[TAG_CNT] [numeric](10, 0) NOT NULL,
	[REMK] [varchar](200) NULL,
	[DC_SPEC] [varchar](5) NOT NULL,
	[CD_WHS] [varchar](2) NOT NULL,
	[REMK2] [varchar](200) NULL,
 CONSTRAINT [pk_INVEN_LIST] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[INVEN_DATE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[DC_SPEC] ASC,
	[CD_WHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
