USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAGCURR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAGCURR](
	[C_CODE] [char](4) NOT NULL,
	[DN_RLCD] [varchar](20) NOT NULL,
	[TAG_NO] [varchar](12) NOT NULL,
	[READER_NO] [varchar](20) NULL,
	[DT_REG] [datetime] NULL,
	[CD_USR] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DN_RLCD] ASC,
	[TAG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
