USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SSTOCK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SSTOCK](
	[cd_node] [varchar](4) NOT NULL,
	[cd_whs] [varchar](12) NOT NULL,
	[cd_loc] [varchar](12) NOT NULL,
	[no_serial] [varchar](20) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_lm] [varchar](12) NOT NULL,
	[dn_lmln] [int] NOT NULL,
	[no_sq] [int] NOT NULL,
	[qt_item] [numeric](15, 4) NULL,
	[dt_reg] [datetime] NULL,
 CONSTRAINT [PK_SSTOCK] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_whs] ASC,
	[cd_loc] ASC,
	[c_code] ASC,
	[no_serial] ASC,
	[dn_lm] ASC,
	[dn_lmln] ASC,
	[no_sq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
