USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WJGSTN]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WJGSTN](
	[C_CODE] [char](4) NOT NULL,
	[CD_GSTN] [varchar](16) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[CD_GSTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
