USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PSL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PSL](
	[PSH_SEQ] [int] NOT NULL,
	[SEQ] [int] NOT NULL,
	[PSL_SEQ] [int] NULL,
	[OS_OD] [char](4) NULL,
	[CD_ITEM] [char](20) NULL,
	[CD_SPEC] [char](30) NULL,
	[AXIS] [char](6) NULL,
	[MR_CR] [char](2) NULL,
	[dc_pre_ref] [numeric](10, 5) NULL,
 CONSTRAINT [PK_PSL] PRIMARY KEY CLUSTERED 
(
	[PSH_SEQ] ASC,
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PSL]  WITH CHECK ADD  CONSTRAINT [FK_PSL_PSH] FOREIGN KEY([PSH_SEQ])
REFERENCES [DZTPLA].[PSH] ([PSH_SEQ])
GO
ALTER TABLE [DZTPLA].[PSL] CHECK CONSTRAINT [FK_PSL_PSH]
GO
