USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_ITEM_EA]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 작성자 : 고정호 
    규격명 RETURN 함수

*/
CREATE FUNCTION [DZTPLA].[DZFN_ITEM_EA] (@C_CODE CHAR(4),@FG_S108 VARCHAR(8))  
RETURNS VARCHAR(50) AS  
BEGIN 
       DECLARE    @FLAG_NAME   VARCHAR(50)

	 SELECT @FLAG_NAME = NM_FLAG
	FROM CODE
	WHERE C_CODE = @C_CODE
  	   AND CD_CLS = 'S108'
   	  AND CD_FLAG = @FG_S108

 RETURN (@FLAG_NAME)
END


GO
