USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST2P]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







CREATE FUNCTION [DZTPLA].[DZFN_GET_CUST2P] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@TO_CD_CUST  VARCHAR(12), 
			@KEY_CODE VARCHAR(12)		
		
	 --SET @CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)

	 SELECT @KEY_CODE = MAX(KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP) 

	 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
	    SELECT @KEY_CODE = MAX(KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

     select @TO_CD_CUST = MAX(to_cust) from cust_item_tag 
								where c_code = '1000'
									and CD_CUST = @KEY_CODE 
									and cd_item IN (SELECT I.CD_ITEM FROM ITEM I WHERE I.C_CODE='1000' AND I.CD_PLN = @CD_ITEM )
								    and isnull(fg_use,'Y') = 'Y'
													  
					  
	 IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
	 BEGIN
		select @TO_CD_CUST = to_cust from cust_item_tag 
									where c_code = '1000'
								      and CD_CUST = @KEY_CODE
									  and cd_item = '*' 


		IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
		BEGIN
			SELECT @KEY_CODE = MAX(KEY_CODE) 
				FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

			SET @TO_CD_CUST = (select top 1 to_cust 
								 from cust_item_tag
								 where c_code = '1000'
								   and CD_CUST = @KEY_CODE 
								   and isnull(fg_use,'Y') = 'Y' )
													  
			IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
			   SET @TO_CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

		END 
	END

	return @TO_CD_CUST

END











GO
