USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SVISIT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SVISIT](
	[dt_meet] [char](8) NOT NULL,
	[cd_node] [varchar](4) NOT NULL,
	[cd_cust] [char](6) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[sq_meet] [int] NOT NULL,
	[cd_emp] [varchar](10) NOT NULL,
	[dc_cust] [varchar](20) NOT NULL,
	[dc_place] [varchar](20) NULL,
	[fg_meet] [char](1) NOT NULL,
	[fg_s129a] [varchar](4) NULL,
	[fg_s129b] [varchar](4) NULL,
	[fg_s129c] [varchar](4) NULL,
	[fg_s129d] [varchar](4) NULL,
	[dc_meet] [text] NULL,
	[dc_spec] [varchar](100) NULL,
	[dt_reg] [datetime] NOT NULL,
	[cd_regusr] [varchar](10) NOT NULL,
	[cd_car] [int] NULL,
	[ok_gubun] [int] NULL,
	[NM_CUST] [varchar](20) NULL,
	[NO_VISIT] [varchar](12) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[FG_VGRANT] [varchar](4) NULL,
 CONSTRAINT [PK_SVISIT] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_cust] ASC,
	[cd_node] ASC,
	[dt_meet] ASC,
	[sq_meet] ASC,
	[cd_usr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_code_cust]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_code_cust] ON [DZTPLA].[SVISIT]
(
	[c_code] ASC,
	[cd_cust] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_code_cust_meet]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_code_cust_meet] ON [DZTPLA].[SVISIT]
(
	[c_code] ASC,
	[cd_node] ASC,
	[cd_cust] ASC,
	[dt_meet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_no_visit]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_no_visit] ON [DZTPLA].[SVISIT]
(
	[NO_VISIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SVISIT] ADD  CONSTRAINT [DF_SVISIT_sq_meet]  DEFAULT ((0)) FOR [sq_meet]
GO
ALTER TABLE [DZTPLA].[SVISIT] ADD  CONSTRAINT [DF__SVISIT__fg_meet__194C733C]  DEFAULT ('0') FOR [fg_meet]
GO
ALTER TABLE [DZTPLA].[SVISIT] ADD  CONSTRAINT [DF_SVISIT_cd_car1]  DEFAULT ((0)) FOR [cd_car]
GO
ALTER TABLE [DZTPLA].[SVISIT] ADD  CONSTRAINT [DF_SVISIT_ok_gubun1]  DEFAULT ((0)) FOR [ok_gubun]
GO
ALTER TABLE [DZTPLA].[SVISIT] ADD  CONSTRAINT [DF__SVISIT__FG_VGRAN__27D06814]  DEFAULT ('전체') FOR [FG_VGRANT]
GO
