USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PRCL2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PRCL2](
	[C_CODE] [char](4) NOT NULL,
	[CD_PC] [varchar](12) NOT NULL,
	[CD_LN] [int] NOT NULL,
	[CD_CUST] [char](6) NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[UC_CHG] [numeric](15, 4) NULL,
	[DT_CHGFR] [datetime] NULL,
	[DT_CHGTO] [datetime] NULL,
	[DT_CHG] [datetime] NULL,
	[CD_PRECHG] [varchar](12) NULL,
	[CD_PRELN] [int] NULL,
	[FG_S109] [varchar](4) NULL,
	[FG_S121] [varchar](4) NULL,
	[UP_USR] [varchar](10) NULL,
 CONSTRAINT [PK_PRCL2] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_PC] ASC,
	[CD_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PRCL2] ADD  CONSTRAINT [DF__PRCL2__FG_S121__6108E570]  DEFAULT ('A') FOR [FG_S121]
GO
