USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_RLM_COMPANY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 회사별 재고      */
/* 작성자 : 고정호 */
CREATE FUNCTION [DZTPLA].[DZFN_RLM_COMPANY](@A_DT_DST    VARCHAR(6),@A_C_CODE    CHAR(4))
RETURNS @RF_RLM_COMPANY TABLE
(	F_CD_ITEM 	VARCHAR(12),
	F_CD_SPEC         VARCHAR(12),
     	F_C_CODE            CHAR(4),
	F_QT_IN                NUMERIC(15,4),
	F_QT_EX               NUMERIC(15,4),
	F_QT_INEX 	 NUMERIC(15,4)
)
AS
BEGIN

     INSERT  @RF_RLM_COMPANY 
    SELECT  CD_ITEM, CD_SPEC,  C_CODE,SUM( QT_IN ), SUM(QT_EX),SUM(QT_IN - QT_EX)
       FROM  DZTPLA.RLM 
      WHERE DT_DST <= @A_DT_DST
           AND C_CODE = @A_C_CODE  
      GROUP BY  CD_ITEM, CD_SPEC,C_CODE

RETURN 
END




GO
