USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TEMP_SERIAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TEMP_SERIAL](
	[NO_SERIAL] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
