USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SETWKL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SETWKL](
	[C_CODE] [char](4) NOT NULL,
	[DN_WK] [varchar](12) NOT NULL,
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[QT_ITEM] [numeric](15, 4) NOT NULL,
	[DC_IFM] [varchar](40) NULL,
	[NO_SERIAL] [varchar](20) NULL,
 CONSTRAINT [PK_SETWKL] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_WK] ASC,
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SETWKL]  WITH CHECK ADD  CONSTRAINT [FK_SETWKL_ITEMGRP] FOREIGN KEY([C_CODE], [CD_ITEM], [CD_SPEC])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[SETWKL] CHECK CONSTRAINT [FK_SETWKL_ITEMGRP]
GO
ALTER TABLE [DZTPLA].[SETWKL]  WITH CHECK ADD  CONSTRAINT [FK_SETWKL_SETWKH] FOREIGN KEY([C_CODE], [DN_WK], [CD_NODE], [CD_DEPT], [CD_USR])
REFERENCES [DZTPLA].[SETWKH] ([C_CODE], [DN_WK], [CD_NODE], [CD_DEPT], [CD_USR])
GO
ALTER TABLE [DZTPLA].[SETWKL] CHECK CONSTRAINT [FK_SETWKL_SETWKH]
GO
