USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_736020]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


/* 월재고 마감      */
CREATE FUNCTION [DZTPLA].[DZFN_736020]
(
 
 @A_C_CODE     CHAR(4),              /* 회사코드 */
 @A_CD_NODE  VARCHAR(4)  /*  사업장   */
 
)
RETURNS @RF_T_736030  TABLE
(	 c_code char(4),
         cd_node varchar(4),
         cd_whs  varchar(12),
         NO_SERIAL VARCHAR(20),
         cd_item  varchar(12),
         nm_item  VARCHAR(20),
         FG_S108  CHAR(4),
         CD_SPEC  VARCHAR(12),
         DC_SPEC  VARCHAR(20),
         QT_ITEM  NUMERIC(15,4),
         NM_FLAG  VARCHAR(50)
      
)
AS
BEGIN
INSERT @RF_T_736030
SELECT T.C_CODE     C_CODE,
        T.CD_NODE    CD_NODE,
        T.CD_WHS     CD_WHS,
        T.NO_SERIAL  NO_SERIAL,
        S.CD_ITEM    CD_ITEM, 
        I.NM_ITEM    NM_ITEM,
        I.FG_S108    FG_S108,
        S.CD_SPEC    CD_SPEC,
        G.DC_SPEC    DC_SPEC,
        T.QT_ITEM    QT_ITEM, 
        C.NM_FLAG    NM_FLAG
  FROM  SSTOCK T , SERIALH S, CODE    C ,ITEMGRP G,ITEM    I 
         
 WHERE T.C_CODE = S.C_CODE AND T.NO_SERIAL = S.NO_SERIAL --AND S.CD_ITEM = :CD_ITEM 
   AND  S.C_CODE = I.C_CODE AND S.CD_ITEM   = I.CD_ITEM AND I.FG_VLP = '0'
   AND  I.C_CODE = C.C_CODE AND C.CD_CLS    = 'S108'    AND I.FG_S108 = C.CD_FLAG
   AND  S.C_CODE = G.C_CODE AND S.CD_ITEM   = G.CD_ITEM AND S.CD_SPEC = G.CD_SPEC
   AND  T.CD_NODE = @A_C_CODE
   AND  T.C_CODE  = @A_CD_NODE

 
RETURN 
END














GO
