USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_HOSPM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








CREATE FUNCTION [DZTPLA].[DZFN_GET_HOSPM] (
 @CD_HOSP  VARCHAR(12)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
Declare	@num 		SMALLINT,
              @CD_CUST  VARCHAR(12)

	
	IF ( LEFT(@CD_HOSP,1) = '2' )
	BEGIN
		SELECT @CD_CUST = ISNULL((SELECT MIN(CUST_CODE) FROM AGENCY A WHERE A.C_CODE = '1000' AND ISNULL(A.SETTLE,A.CUST_CODE)=@CD_HOSP),
		                        (SELECT DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)))
	END
    ELSE
	BEGIN
		SELECT @CD_CUST = ISNULL((SELECT MIN(CUST_CODE) FROM AGENCY A WHERE A.C_CODE = '1000' AND ISNULL(A.SETTLE,A.CD_CUST)=DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)),
		                        ISNULL((SELECT MIN(CUST_CODE) FROM AGENCY A WHERE A.C_CODE = '1000' AND ISNULL(A.CD_CUST,A.SETTLE)=@CD_HOSP),@CD_HOSP))

    END
	              
	return @CD_CUST

END










GO
