USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CLSH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CLSH](
	[data_gubun] [varchar](2) NOT NULL,
	[write_date] [char](8) NOT NULL,
	[data_no] [numeric](4, 0) NOT NULL,
	[data_slip] [numeric](4, 0) NOT NULL,
	[dept_code] [varchar](12) NOT NULL,
	[node_code] [varchar](4) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[data_code] [varchar](20) NOT NULL,
	[cd_usr] [varchar](10) NULL,
	[docu_type] [char](2) NULL,
	[docu_gubun] [char](1) NULL,
	[insert_date] [char](8) NULL,
	[insert_id] [varchar](10) NULL,
	[modyfy_date] [char](8) NULL,
	[modify_id] [varchar](10) NULL,
	[fg_cls] [char](1) NOT NULL,
	[fg_bill] [char](1) NOT NULL,
	[ty_cls] [char](1) NULL,
	[ty_ocls] [char](1) NULL,
	[at_sitem] [numeric](15, 4) NULL,
	[at_vitem] [numeric](15, 4) NULL,
	[at_titem] [numeric](15, 4) NULL,
	[qt_taxisu] [int] NULL,
	[dt_taxisu] [datetime] NULL,
	[cd_isuusr] [varchar](50) NULL,
	[at_ns] [numeric](15, 4) NULL,
	[at_nv] [numeric](15, 4) NULL,
	[at_rs] [numeric](15, 4) NULL,
	[at_rv] [numeric](15, 4) NULL,
	[cd_cust] [char](6) NULL,
	[fg_req] [char](1) NULL,
	[dc_titem] [varchar](40) NULL,
	[DATA_CODE2] [varchar](20) NULL,
	[DT_CFM_U] [char](8) NULL,
 CONSTRAINT [PK_CLSH] PRIMARY KEY CLUSTERED 
(
	[data_gubun] ASC,
	[write_date] ASC,
	[data_no] ASC,
	[data_slip] ASC,
	[dept_code] ASC,
	[node_code] ASC,
	[c_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CLSH_DATA_CODE]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CLSH_DATA_CODE] ON [DZTPLA].[CLSH]
(
	[data_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CLSH] ADD  CONSTRAINT [DF__CLSH__fg_bill__739B0049]  DEFAULT ('0') FOR [fg_bill]
GO
ALTER TABLE [DZTPLA].[CLSH] ADD  CONSTRAINT [DF_CLSH_qt_taxisu]  DEFAULT ((0)) FOR [qt_taxisu]
GO
ALTER TABLE [DZTPLA].[CLSH] ADD  CONSTRAINT [DF_CLSH_fg_req]  DEFAULT ((0)) FOR [fg_req]
GO
