USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SERIALH_B]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SERIALH_B](
	[c_code] [char](4) NOT NULL,
	[no_serial] [varchar](20) NOT NULL,
	[fg_type] [char](1) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[qt_item] [numeric](15, 4) NOT NULL,
	[dt_vld] [varchar](8) NOT NULL,
	[no_lot] [varchar](20) NULL,
	[cd_node] [varchar](4) NOT NULL,
	[dt_reg] [datetime] NOT NULL,
	[cd_regusr] [varchar](10) NULL,
	[ty_bar] [char](1) NULL,
	[dn_rel] [varchar](12) NULL,
	[dn_relln] [int] NULL,
	[dt_prod] [varchar](8) NULL,
	[DC_SPEC] [varchar](4) NULL,
	[FG_OWNER] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[no_serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
