USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[t_cm]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[t_cm](
	[cd_node] [varchar](4) NOT NULL,
	[dept_code] [varchar](12) NULL,
	[cd_usrsal] [varchar](10) NULL,
	[c_code] [varchar](4) NOT NULL,
	[dn_cm] [varchar](14) NULL,
	[dt_cm] [datetime] NULL,
	[cd_cust] [varchar](9) NULL,
	[regdt] [datetime] NULL,
	[regusr] [varchar](10) NULL,
	[scodenm] [char](50) NULL,
	[rcptamt] [float] NULL
) ON [PRIMARY]
GO
