USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CODEH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CODEH](
	[C_CODE] [char](4) NOT NULL,
	[CD_CLS] [varchar](4) NOT NULL,
	[NM_CLS] [varchar](30) NOT NULL,
	[NM_V1] [varchar](30) NULL,
	[NM_V2] [varchar](30) NULL,
	[NM_V3] [varchar](30) NULL,
	[NM_V4] [varchar](30) NULL,
	[nm_v5] [varchar](30) NULL,
	[yn_edt] [char](1) NOT NULL,
	[nm_v6] [varchar](30) NULL,
 CONSTRAINT [PK_CODEH] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
