USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_ITEM_TAGNOS_LOT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [DZTPLA].[DZFN_ITEM_TAGNOS_LOT]
(
	-- Add the parameters for the function here
	@C_CODE CHAR(4),
	@CD_ITEM VARCHAR(50),
	@CD_SPEC VARCHAR(20), 
	@LOC VARCHAR(6), 
	@FG_IO VARCHAR(1)
)
RETURNS VARCHAR(8000)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @TAGNOS   VARCHAR(8000)

	-- Add the T-SQL statements to compute the return value here
	SELECT @TAGNOS = COALESCE(@TAGNOS + ',','') + TAG_NO
	  FROM DZTPLA.TAGMASTER T
		, DZTPLA.SERIALH H with(index(idx_serialh_item))
	 WHERE 
		T.C_CODE = H.C_CODE 
		AND T.DN_RLCD = H.NO_SERIAL
		   AND H.C_CODE = @C_CODE
		AND H.CD_ITEM = @CD_ITEM
		AND H.NO_LOT = @CD_SPEC
		AND ISNULL(T.LOC, 'WA') = @LOC
		AND T.FG_IO = @FG_IO
	 ORDER BY TAG_NO

	-- Return the result of the function
	RETURN (@TAGNOS)

END

GO
