USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[INS_UPGRADE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[INS_UPGRADE](
	[DT_MAX] [char](8) NOT NULL
) ON [PRIMARY]
GO
