USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[doctor_tmp]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[doctor_tmp](
	[nm_doctr] [varchar](100) NOT NULL,
	[ad_email] [varchar](100) NULL,
	[nm_office] [varchar](100) NULL,
	[tx_addr] [varchar](200) NULL,
	[nm_univ] [varchar](100) NULL,
	[nm_hosp] [varchar](100) NULL,
	[no_tel] [varchar](100) NULL,
	[nm_class] [varchar](400) NULL
) ON [PRIMARY]
GO
