USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SERIAL_AMT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SERIAL_AMT](
	[C_CODE] [char](4) NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[DT_INVOICE] [varchar](8) NULL,
	[DT_PAYMNT] [varchar](8) NULL,
	[NO_SEND] [varchar](30) NULL,
	[FG_REP] [char](1) NULL,
	[DT_REP] [char](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NO_SEND]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_NO_SEND] ON [DZTPLA].[SERIAL_AMT]
(
	[C_CODE] ASC,
	[NO_SEND] ASC,
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
