USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RCM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RCM](
	[cd_cust] [char](6) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dt_cmn] [datetime] NULL,
	[dt_free] [datetime] NULL,
	[AT_CMN] [numeric](15, 4) NOT NULL,
 CONSTRAINT [PK_RCM] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_cust] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[RCM] ADD  CONSTRAINT [DF__RCM__AT_CMN__21229F2E]  DEFAULT ((0)) FOR [AT_CMN]
GO
