USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PYY_MEDI]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PYY_MEDI](
	[C_CODE] [char](4) NOT NULL,
	[P_YY] [char](4) NOT NULL,
	[SNO] [varchar](10) NOT NULL,
	[SEQ] [varchar](2) NOT NULL,
	[NO_NODE] [varchar](10) NULL,
	[JUMINO] [varchar](13) NULL,
	[NM_CMPY] [varchar](20) NULL,
	[NM_BUYANG] [varchar](10) NULL,
	[FG_BUYANG] [char](1) NULL,
	[CNT_MED] [numeric](4, 0) NULL,
	[AM_MED] [numeric](10, 0) NULL,
	[FG_OLDER] [char](1) NULL,
 CONSTRAINT [PK_PYY_MEDI] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[P_YY] ASC,
	[SNO] ASC,
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
