USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAG_TEMP2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAG_TEMP2](
	[TAG_NO] [varchar](15) NOT NULL,
	[COM_ID] [varchar](50) NOT NULL,
	[DT_READ] [datetime] NULL,
 CONSTRAINT [PK_TAG_TEMP2] PRIMARY KEY CLUSTERED 
(
	[TAG_NO] ASC,
	[COM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[TAG_TEMP2] ADD  DEFAULT (getdate()) FOR [DT_READ]
GO
