USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PHONE_BOOK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PHONE_BOOK](
	[C_CODE] [char](4) NOT NULL,
	[NO_PHONE] [varchar](12) NOT NULL,
	[CD_CUST] [char](6) NULL,
	[NM_PHONE] [varchar](20) NULL,
	[RMK] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NO_PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
