USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SERIAL_RMK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SERIAL_RMK](
	[C_CODE] [char](4) NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[FG_STATUS] [varchar](3) NULL,
	[DC_RMK] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
