USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[QNA]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[QNA](
	[C_CODE] [char](4) NOT NULL,
	[SYS_GB] [varchar](1) NOT NULL,
	[Q_CODE] [varchar](2) NOT NULL,
	[A_CODE] [varchar](2) NOT NULL,
	[Q_TEXT] [text] NULL,
	[A_TEXT] [text] NULL,
	[Q_GB] [varchar](2) NULL,
	[ORD_NO] [int] NULL,
	[USE_YN] [varchar](1) NULL,
	[DT_REG] [datetime] NULL,
	[CD_REG] [varchar](10) NULL,
	[DT_EDIT] [datetime] NULL,
	[CD_EDIT] [varchar](10) NULL,
 CONSTRAINT [PK_QNA] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SYS_GB] ASC,
	[Q_CODE] ASC,
	[A_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[QNA] ADD  CONSTRAINT [DF_QNA_SYS_GB]  DEFAULT ('3') FOR [SYS_GB]
GO
ALTER TABLE [DZTPLA].[QNA] ADD  CONSTRAINT [DF_QNA_Q_GB]  DEFAULT ('01') FOR [Q_GB]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'법인' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'C_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'시스템(1:ERP/2:사내게시판/3:ICL주문관리)' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'SYS_GB'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'질문코드' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'Q_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'답변코드' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'A_CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'질문' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'Q_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'답변' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'A_TEXT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'질문구분(확장성을 위해 만들어 놓음)' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'Q_GB'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'순서' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'ORD_NO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'사용여부' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'USE_YN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'등록일' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'DT_REG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'등록자ID' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'CD_REG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'수정일' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'DT_EDIT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'수정자ID' , @level0type=N'SCHEMA',@level0name=N'DZTPLA', @level1type=N'TABLE',@level1name=N'QNA', @level2type=N'COLUMN',@level2name=N'CD_EDIT'
GO
