USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[FN_TICL_VH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









CREATE FUNCTION [DZTPLA].[FN_TICL_VH] (
@CD_CUST  VARCHAR(6)
)
RETURNS VARCHAR(1) AS
BEGIN

Declare	@RET_VH  	VARCHAR(1)

	IF ( @CD_CUST IS NULL)  
	RETURN ''   

	SELECT @RET_VH = 'V' FROM CODE WHERE C_CODE='3000' AND CD_CLS = 'S167' AND DZTPLA.DZFN_GET_CUSTM(DC_V2) = DZTPLA.DZFN_GET_CUSTM(@CD_CUST);

	IF ( @RET_VH IS NULL)  
	RETURN 'H'

	return RTRIM(@RET_VH)

END
GO
