USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_ROTATE_DATE_3000]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


--SELECT DZTPLA.DZFN_GET_ROTATE_DATE_3000('3000','213221','20161228')


/* 회전일  */
CREATE FUNCTION [DZTPLA].[DZFN_GET_ROTATE_DATE_3000](@ARS_C_CODE    CHAR(4),@ARS_CD_CUST  CHAR(6),@ARS_DT_DST    VARCHAR(8))
RETURNS VARCHAR(8)
AS
BEGIN

	DECLARE @RS_ROTATE VARCHAR(8), @RS_ROTATE2 VARCHAR(8)
	DECLARE @AT_CRD       NUMERIC(15,4), @AT_REM NUMERIC(15,4), @AT_CRD2  NUMERIC(15,4), @AT_REM2 NUMERIC(15,4)
	
	SELECT @AT_REM = (SUM(AT_CRD) - SUM(AT_RCRD) - SUM(AT_CRM) ) +sum(at_altercm) 
	   FROM cm
	 WHERE c_code = @ARS_C_CODE
	      AND cd_cust = @ARS_CD_CUST
	      AND mt_crm <= @ARS_DT_DST 
	      
	IF ( @ARS_C_CODE = '3000' )
    BEGIN
		
		SET @AT_CRD2 = 0 
		SET @AT_REM2 = 0 
		
		IF ( @AT_REM IS NULL OR @AT_REM <= 0 )
		BEGIN 

		   SELECT @RS_ROTATE = @ARS_DT_DST 

		END 
		ELSE
		BEGIN 
		
    		SELECT @AT_REM2 = (SUM(AT_CRD) - SUM(AT_RCRD) - SUM(AT_CRM) ) +sum(at_altercm) 
			  FROM cm
			 WHERE c_code = '3000' --IN ('8002','8001','3000')
			   AND cd_cust = @ARS_CD_CUST
			   AND mt_crm <= @ARS_DT_DST 
			   AND (C_CODE='8002' AND MT_CRM <= '20160630' OR C_CODE='8001' AND MT_CRM <= '20161130' or C_CODE='3000')
		      
			IF ( @AT_REM2 > 0 )
			BEGIN 

				DECLARE cm_cursor CURSOR FOR 
				SELECT SUM(at_crd)+SUM(at_altercm), mt_crm
				   FROM cm
				 WHERE c_code IN ('8002','8001','3000')
					  AND cd_cust = @ARS_CD_CUST
					  AND mt_crm <= @ARS_DT_DST
					  AND MT_CRM >= '20140101'
					  AND (C_CODE='8002' AND MT_CRM <= '20160630' OR C_CODE='8001' AND MT_CRM <= '20161130' or C_CODE='3000')
					  AND at_crd+at_altercm <> 0 
				GROUP BY MT_CRM
				ORDER BY mt_crm desc
				
				OPEN cm_cursor
				
				FETCH NEXT FROM cm_cursor 
				INTO @AT_CRD2, @RS_ROTATE2
				
				WHILE @@FETCH_STATUS = 0
				BEGIN
				   IF ( @AT_CRD2 >= @AT_REM2 )
					   BREAK
				   ELSE
					   SELECT @AT_REM2 = @AT_REM2 - @AT_CRD2
				   
				   FETCH NEXT FROM cm_cursor 
				   INTO @AT_CRD2, @RS_ROTATE2
				END
				
				CLOSE cm_cursor
				DEALLOCATE cm_cursor
			END
			
			DECLARE cm_cursor CURSOR FOR 
			SELECT at_crd+at_altercm, mt_crm
			   FROM cm
			 WHERE c_code = @ARS_C_CODE
				  AND cd_cust = @ARS_CD_CUST
				  AND mt_crm <= @ARS_DT_DST
				  AND at_crd+at_altercm > 0 
			ORDER BY mt_crm desc
			
			OPEN cm_cursor
			
			FETCH NEXT FROM cm_cursor 
			INTO @AT_CRD, @RS_ROTATE
			
			WHILE @@FETCH_STATUS = 0
			BEGIN
			   IF ( @AT_CRD >= @AT_REM )
				   BREAK
			   ELSE
				   SELECT @AT_REM = @AT_REM - @AT_CRD
			   
			   FETCH NEXT FROM cm_cursor 
			   INTO @AT_CRD, @RS_ROTATE
			END
			
			CLOSE cm_cursor
			DEALLOCATE cm_cursor
			
			--IF ( @RS_ROTATE > @RS_ROTATE2) 
			  SET @RS_ROTATE = @RS_ROTATE2
		END 
	END
	ELSE
	BEGIN 
	
		IF ( @AT_REM <= 0 )
		BEGIN 

		   SELECT @RS_ROTATE = @ARS_DT_DST 

		END 
		ELSE
		BEGIN 

			DECLARE cm_cursor CURSOR FOR 
			SELECT at_crd+at_altercm, mt_crm
			   FROM cm
			 WHERE c_code = @ARS_C_CODE
				  AND cd_cust = @ARS_CD_CUST
				  AND mt_crm <= @ARS_DT_DST
				  AND at_crd+at_altercm > 0 
			ORDER BY mt_crm desc
			
			OPEN cm_cursor
			
			FETCH NEXT FROM cm_cursor 
			INTO @AT_CRD, @RS_ROTATE
			
			WHILE @@FETCH_STATUS = 0
			BEGIN
			   IF ( @AT_CRD >= @AT_REM )
				   BREAK
			   ELSE
				   SELECT @AT_REM = @AT_REM - @AT_CRD
			   
			   FETCH NEXT FROM cm_cursor 
			   INTO @AT_CRD, @RS_ROTATE
			END
			
			CLOSE cm_cursor
			DEALLOCATE cm_cursor
			
		END 	
	END 

	RETURN ( @RS_ROTATE )
END




GO
