USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[F_ATP]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [DZTPLA].[F_ATP]	(	@C_CODE		VARCHAR(4),
				@CD_ITEM	VARCHAR(12),
			 	@CD_SPEC	VARCHAR(12),				
				@DT_EX		DATETIME
				)
RETURNS @ATP TABLE
(	NODE_CODE	VARCHAR(12),
	ITEM_DATE	DATETIME,
	CD_ITEM		VARCHAR(12),
	CD_SPEC		VARCHAR(12),
	LAST_STOCK	NUMERIC(15, 4),
	NOTIN_AMT	NUMERIC(15, 4),
	NOTOUT_AMT	NUMERIC(15, 4),
	STOCK_AMT	NUMERIC(15, 4),
	APT_AMT		NUMERIC(15, 4)
)
AS
BEGIN
DECLARE	@REST_QT	NUMERIC(15, 4),
	@WHILE		CHAR(1),
	@NODE_CODE	VARCHAR(12),
	@ITEM_DATE	DATETIME,
	@NOTIN_AMT	NUMERIC(15, 4),
	@NOTOUT_AMT	NUMERIC(15, 4),
	@STOCK_AMT	NUMERIC(15, 4),
	@APT_AMT	NUMERIC(15, 4),
	@START_DATE	DATETIME,
	@END_DATE	DATETIME,
	@ATP_COUNT	NUMERIC(15, 4),
	@COUNT		NUMERIC,
	@TM_ATP		INTEGER,
	@DATE_FROM	DATETIME,
	@DATE_TO	DATETIME

	SELECT	@TM_ATP = TM_ATP
	FROM	SYSSET
	WHERE	C_CODE = @C_CODE
	
	SELECT	@TM_ATP = ISNULL(@TM_ATP, 1)
	
	SELECT	@DATE_FROM = @DT_EX,
		@DATE_TO = DATEADD(MM, @TM_ATP, @DT_EX)

	INSERT INTO @ATP(NODE_CODE, ITEM_DATE, CD_ITEM, CD_SPEC, LAST_STOCK, NOTIN_AMT, NOTOUT_AMT, STOCK_AMT, APT_AMT)
	SELECT	A.CD_NODE,
		A.ITEM_DATE,
		A.CD_ITEM,
		A.CD_SPEC,
		0,
		SUM(A.NOTIN_AMT),
		SUM(A.NOTOUT_AMT),
		0,
		0
	FROM	(	SELECT	L.CD_NODE,
				L.DT_EX ITEM_DATE,
				L.CD_ITEM,
				L.CD_SPEC,
				0 NOTIN_AMT,
				L.QT_ITEM NOTOUT_AMT
			FROM	PRESOL L,
				PRESOH H
			WHERE	L.C_CODE = H.C_CODE
			AND	L.DN_RO = H.DN_RO
			AND	H.FG_STS = '0'
			AND	H.C_CODE = @C_CODE
			AND	L.CD_ITEM = @CD_ITEM
			AND	L.CD_SPEC = @CD_SPEC
			AND	L.DT_EX BETWEEN @DATE_FROM AND @DATE_TO
			UNION ALL
			SELECT	L.CD_NODE,
				L.DT_EX ITEM_DATE,
				L.CD_ITEM,
				L.CD_SPEC,
				0 NOTIN_AMT,
				(ISNULL(L.QT_ODR, 0) - ISNULL(D.QT_EX, 0)) NOTOUT_AMT
			FROM	SOH H
			       INNER JOIN 
				SOL L ON (H.C_CODE = L.C_CODE AND	H.DN_SO = L.DN_SO)
				LEFT OUTER JOIN 
				DSTL D ON (L.DN_SO = D.DN_ODR AND	L.DN_LN = D.DN_ODRLN)
			WHERE H.FG_ODR <> '1'
			AND	H.C_CODE = @C_CODE
			AND	L.CD_ITEM = @CD_ITEM
			AND	L.CD_SPEC = @CD_SPEC
			AND	L.DT_EX BETWEEN @DATE_FROM AND @DATE_TO
			UNION ALL
			SELECT	L.CD_NODE,
				L.DT_EX ITEM_DATE,
				L.CD_ITEM,
				L.CD_SPEC,
				0 NOTIN_AMT,
				(ISNULL(L.QT_ITEM, 0) - ISNULL(D.QT_EX, 0)) NOTOUT_AMT
			FROM	EXH H
			    INNER JOIN 
				EXL L ON (H.C_CODE = L.C_CODE AND	H.DN_EX = L.DN_EX)
				LEFT OUTER JOIN 
				DSTL D ON (L.DN_EX = D.DN_REL AND	L.DN_LN = D.DN_RELLN )
			WHERE H.FG_PRG <> '0'
			AND	H.C_CODE = @C_CODE
			AND	L.CD_ITEM = @CD_ITEM
			AND	L.CD_SPEC = @CD_SPEC
			AND	L.DT_EX BETWEEN @DATE_FROM AND @DATE_TO
			UNION ALL
			SELECT	L.CD_NODE,
				L.DT_IN ITEM_DATE,
				L.CD_ITEM,
				L.CD_SPEC,
				(ISNULL(L.QT_ITEM, 0) - ISNULL(D.QT_EX, 0)) NOTIN_AMT,
				0 NOTOUT_AMT
			FROM	INH H
			    INNER JOIN 
				INL L ON (H.C_CODE = L.C_CODE AND	H.DN_IN = L.DN_IN)
				LEFT OUTER JOIN
				DSTL D ON (L.DN_IN = D.DN_REL AND	L.DN_LN = D.DN_RELLN)
			WHERE H.FG_PRG <> '0'
			AND	H.C_CODE = @C_CODE
			AND	L.CD_ITEM = @CD_ITEM
			AND	L.CD_SPEC = @CD_SPEC
			AND	L.DT_IN BETWEEN @DATE_FROM AND @DATE_TO

			UNION ALL
			SELECT	L.CD_NODE,
				L.DT_IN ITEM_DATE,
				L.CD_ITEM,
				L.CD_SPEC,
				(ISNULL(L.QT_ITEM, 0) - ISNULL(D.QT_EX, 0)) NOTIN_AMT,
				0 NOTOUT_AMT
			FROM	POH H
			    INNER JOIN 
				POL L ON (H.C_CODE = L.C_CODE AND	H.DN_PO = L.DN_PO)
				LEFT OUTER JOIN
				DSTL D ON (L.DN_PO = D.DN_ODR AND	L.DC_LN = D.DN_ODRLN)
			WHERE H.FG_ODR <> '1'
			AND	H.C_CODE = @C_CODE
			AND	L.CD_ITEM = @CD_ITEM
			AND	L.CD_SPEC = @CD_SPEC
			AND	L.DT_IN BETWEEN @DATE_FROM AND @DATE_TO
		) A
	GROUP BY	A.CD_NODE,
			A.ITEM_DATE,
			A.CD_ITEM,
			A.CD_SPEC
	
	DECLARE CUR_ATP CURSOR FOR
	SELECT	NODE_CODE,
		ITEM_DATE,
		CD_ITEM,
		CD_SPEC,
		NOTIN_AMT,
		NOTOUT_AMT
	FROM	@ATP
	ORDER BY	NODE_CODE,
			ITEM_DATE,
			CD_ITEM,
			CD_SPEC

	OPEN	CUR_ATP
	FETCH	NEXT FROM CUR_ATP INTO	@NODE_CODE,
					@ITEM_DATE,
					@CD_ITEM,
					@CD_SPEC,
					@NOTIN_AMT,
					@NOTOUT_AMT


	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		SELECT	@REST_QT =0

		SELECT	TOP 1 @REST_QT = STOCK_AMT
		FROM	@ATP
		WHERE	NODE_CODE = @NODE_CODE
		AND	CD_ITEM = @CD_ITEM
		AND	CD_SPEC = @CD_SPEC
		AND	ITEM_DATE < @ITEM_DATE
		ORDER BY	ITEM_DATE DESC

		SELECT	@REST_QT = ISNULL(@REST_QT, 0)

		UPDATE	@ATP
		SET	LAST_STOCK = @REST_QT
		WHERE	NODE_CODE = @NODE_CODE
		AND	ITEM_DATE = @ITEM_DATE
		AND	CD_ITEM = @CD_ITEM
		AND	CD_SPEC = @CD_SPEC

		SELECT	@REST_QT = @REST_QT + @NOTIN_AMT - @NOTOUT_AMT

		UPDATE	@ATP
		SET	STOCK_AMT = @REST_QT
		WHERE	NODE_CODE = @NODE_CODE
		AND	ITEM_DATE = @ITEM_DATE
		AND	CD_ITEM = @CD_ITEM
		AND	CD_SPEC = @CD_SPEC

	FETCH	NEXT FROM CUR_ATP INTO	@NODE_CODE,
					@ITEM_DATE,
					@CD_ITEM,
					@CD_SPEC,
					@NOTIN_AMT,
					@NOTOUT_AMT
	END

	CLOSE CUR_ATP
	DEALLOCATE CUR_ATP


	DECLARE CUR_ATP_COUNT CURSOR FOR
	SELECT	NODE_CODE,
		ITEM_DATE,
		CD_ITEM,
		CD_SPEC
	FROM	@ATP
	GROUP BY	NODE_CODE,
			ITEM_DATE,
			CD_ITEM,
			CD_SPEC
	OPEN	CUR_ATP_COUNT
	FETCH	NEXT FROM CUR_ATP_COUNT INTO	@NODE_CODE,
						@ITEM_DATE,
						@CD_ITEM,
						@CD_SPEC
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		SELECT	@WHILE = '0',
			@START_DATE = CONVERT(DATETIME, '1950/01/01 00:00:00')

		WHILE (@WHILE = '0')
		BEGIN
			SELECT	@ATP_COUNT = MIN(STOCK_AMT),
				@COUNT = COUNT(*)
			FROM	@ATP
			WHERE	NODE_CODE = @NODE_CODE
			AND	CD_ITEM = @CD_ITEM
			AND	CD_SPEC = @CD_SPEC
			AND	ITEM_DATE > @START_DATE
	
			IF	@COUNT = 0
			BEGIN
				SELECT	@WHILE = '1'
				BREAK 
			END
	
			SELECT	@END_DATE = MIN(ITEM_DATE)
			FROM	@ATP
			WHERE	NODE_CODE = @NODE_CODE
			AND	CD_ITEM = @CD_ITEM
			AND	CD_SPEC = @CD_SPEC
			AND	ITEM_DATE > @START_DATE
			AND	STOCK_AMT = @ATP_COUNT
	
			UPDATE	@ATP
			SET	APT_AMT = @ATP_COUNT
			WHERE	NODE_CODE = @NODE_CODE
			AND	CD_ITEM = @CD_ITEM
			AND	CD_SPEC = @CD_SPEC
			AND	ITEM_DATE > @START_DATE 
			AND	ITEM_DATE <= @END_DATE
	
			SELECT	@START_DATE = @END_DATE
		END

	FETCH	NEXT FROM CUR_ATP_COUNT INTO	@NODE_CODE,
						@ITEM_DATE,
						@CD_ITEM,
						@CD_SPEC
	END

	CLOSE CUR_ATP_COUNT
	DEALLOCATE CUR_ATP_COUNT

RETURN
END



GO
