USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAGLOG_RET2]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAGLOG_RET2](
	[TAG_NO] [varchar](12) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DN_SR] [varchar](12) NOT NULL,
	[FG_IN] [varchar](1) NULL,
	[FG_DEL] [varchar](1) NULL,
	[DT_REG] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TAG_NO] ASC,
	[C_CODE] ASC,
	[DN_SR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[TAGLOG_RET2] ADD  DEFAULT ('SR0000000000') FOR [DN_SR]
GO
ALTER TABLE [DZTPLA].[TAGLOG_RET2] ADD  DEFAULT ('N') FOR [FG_IN]
GO
ALTER TABLE [DZTPLA].[TAGLOG_RET2] ADD  DEFAULT ('N') FOR [FG_DEL]
GO
