USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAG_HOLDING]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAG_HOLDING](
	[NO_SERIAL] [varchar](20) NOT NULL,
	[TAG_NO] [varchar](12) NULL,
	[DT_HOLD_S] [varchar](8) NULL,
	[DT_HOLD_E] [varchar](8) NULL,
	[DC_IFM] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
