USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CERTI]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CERTI](
	[c_code] [varchar](4) NOT NULL,
	[cust_code] [varchar](6) NOT NULL,
	[no_sq] [int] NOT NULL,
	[certi_no] [varchar](20) NULL,
	[nm_doctor] [varchar](30) NULL,
	[nm_edoctor] [varchar](30) NULL,
	[tel_hphone] [varchar](30) NULL,
	[nm_cc] [varchar](30) NULL,
	[fax_no] [varchar](30) NULL,
	[STAAR_ID] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cust_code] ASC,
	[no_sq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CERTI_NO]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CERTI_NO] ON [DZTPLA].[CERTI]
(
	[c_code] ASC,
	[certi_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
