USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[app_certi]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[app_certi](
	[hp_num] [varchar](12) NULL,
	[certi_num] [varchar](6) NULL,
	[dt_reg] [datetime] NULL,
	[yn] [varchar](1) NULL
) ON [PRIMARY]
GO
