USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[HOSPODER3]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[HOSPODER3](
	[CUST_CODE] [varchar](12) NOT NULL,
	[CD_HOSP] [varchar](12) NOT NULL,
	[NM_HOSP] [varchar](40) NULL,
	[NM_USER] [varchar](12) NOT NULL,
	[NO_REQ] [varchar](12) NOT NULL,
	[PSH_SEQ] [numeric](10, 0) NULL,
	[PATIENT] [varchar](30) NULL,
	[PATIENT_ID] [varchar](22) NULL,
	[EYE] [varchar](2) NULL,
	[SPHERE] [numeric](10, 5) NULL,
	[CYLINDER] [numeric](10, 5) NULL,
	[AXIS] [numeric](10, 5) NULL,
	[K1] [numeric](10, 5) NULL,
	[K2] [numeric](10, 5) NULL,
	[ACD] [numeric](10, 5) NULL,
	[CT] [numeric](10, 5) NULL,
	[TSEQ] [numeric](10, 5) NULL,
	[WTW] [numeric](10, 5) NULL,
	[CLP] [numeric](10, 5) NULL,
	[BVD] [numeric](10, 5) NULL,
	[SURGFACT] [numeric](10, 5) NULL,
	[EMMPOWR] [numeric](10, 5) NULL,
	[SELLENMOD] [varchar](50) NULL,
	[DIOPTER] [numeric](10, 5) NULL,
	[PRESPHEQV] [numeric](10, 5) NULL,
	[STYPE] [varchar](11) NULL,
	[VERS] [varchar](15) NULL,
	[WK_DATE] [varchar](20) NULL,
	[LLID] [varchar](20) NULL,
	[LSPHERE] [varchar](20) NULL,
	[LCYLND] [varchar](20) NULL,
	[LAXIS] [varchar](20) NULL,
	[DT_SURG] [varchar](8) NULL,
	[DC_RMK2WJM] [varchar](200) NULL,
	[DC_RMK2HOSP] [varchar](150) NULL,
	[DC_RMK] [varchar](100) NULL,
	[dt_birth] [varchar](8) NULL,
	[CYL] [numeric](10, 5) NULL,
	[fg_view] [varchar](3) NULL,
	[PSL_SEQ] [numeric](5, 0) NULL,
	[PSLL_SEQ] [numeric](5, 0) NULL,
	[DT_SEND] [varchar](8) NULL,
	[FG_DEL] [varchar](3) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[OUT_DT] [varchar](8) NULL,
	[DT_SEND2] [varchar](16) NULL,
	[DT_CANCEL] [varchar](8) NULL,
	[PC_NAME] [varchar](20) NULL,
	[KID] [int] NOT NULL,
	[K_AXIS] [tinyint] NULL,
	[K2_AXIS] [tinyint] NULL,
	[CL_SPH] [decimal](5, 2) NULL,
	[CL_AXIS] [tinyint] NULL,
	[EXP_SPH] [decimal](5, 2) NULL,
	[EXP_CYL] [decimal](5, 2) NULL,
	[SEL_SPH] [decimal](5, 2) NULL,
	[SEL_CYL] [decimal](5, 2) NULL,
	[SEL_AXIS] [tinyint] NULL,
	[SEL_LENGTH] [decimal](5, 1) NULL,
	[EXP_AXIS] [tinyint] NULL,
	[TAGGED_SERIAL] [varchar](10) NULL,
	[ORDER_NO] [int] NULL,
	[TAGGED_SPH] [decimal](5, 2) NULL,
	[TAGGED_CYL] [decimal](5, 2) NULL,
	[TAGGED_AXIS] [tinyint] NULL,
	[PATIENT_REF] [varchar](50) NULL,
	[TAG_EXP_SPH] [decimal](5, 2) NULL,
	[TAG_EXP_CYL] [decimal](5, 2) NULL,
	[TAG_EXP_AXIS] [tinyint] NULL,
	[TAG_EXP_SEQ] [decimal](5, 2) NULL,
	[DC_DTIME] [varchar](30) NULL,
	[DC_DMETH] [varchar](30) NULL,
	[DC_DAREA] [varchar](30) NULL,
	[DC_DREMARK] [varchar](40) NULL,
	[dc_wjm2hosp] [varchar](200) NULL,
	[TAG_EXP_CYL2] [numeric](5, 2) NULL,
	[FG_RESV] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_REQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_KID]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_KID] ON [DZTPLA].[HOSPODER3]
(
	[KID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[HOSPODER3] ADD  CONSTRAINT [DF__HOSPODER3__FG_DE__3218EC5D]  DEFAULT ('   ') FOR [FG_DEL]
GO
