USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[schedule_d]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[schedule_d](
	[sc_no] [varchar](12) NOT NULL,
	[sc_ln] [int] NOT NULL,
	[fr_time] [numeric](11, 1) NULL,
	[to_time] [numeric](11, 1) NULL,
	[sc_gubun] [char](1) NULL,
	[title] [varchar](20) NULL,
	[contents] [text] NULL,
	[dc_ifm] [varchar](600) NULL,
	[ok_gubun] [char](1) NOT NULL,
	[dt_sc] [datetime] NOT NULL,
 CONSTRAINT [PK_schedule_d] PRIMARY KEY CLUSTERED 
(
	[sc_no] ASC,
	[sc_ln] ASC,
	[dt_sc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[schedule_d] ADD  CONSTRAINT [DF_schedule_d_sc_gubun]  DEFAULT ((2)) FOR [sc_gubun]
GO
ALTER TABLE [DZTPLA].[schedule_d] ADD  CONSTRAINT [DF_schedule_d_ok_gubun]  DEFAULT ('N') FOR [ok_gubun]
GO
