USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[HOSPITAL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[HOSPITAL](
	[cd_cust] [char](6) NOT NULL,
	[cd_hosp] [char](6) NULL,
	[no_sq] [int] NULL,
	[nm_hosp] [varchar](40) NOT NULL,
	[certi_no] [varchar](20) NULL,
	[cd_usr] [char](8) NULL,
	[nm_ename] [varchar](80) NULL
) ON [PRIMARY]
GO
