USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CML190401]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CML190401](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_cm] [varchar](12) NOT NULL,
	[dn_ln] [int] NOT NULL,
	[fg_s124] [varchar](4) NOT NULL,
	[fg_s125] [varchar](4) NOT NULL,
	[at_cmn] [numeric](15, 4) NOT NULL,
	[cd_rel] [varchar](12) NULL,
	[fg_jata] [char](1) NULL,
	[dc_bnk] [varchar](20) NULL,
	[cd_batnode] [varchar](20) NULL,
	[dt_isu] [datetime] NULL,
	[dt_end] [datetime] NULL,
	[dc_etc] [varchar](40) NULL,
	[dc_backreg] [varchar](20) NULL,
	[dc_tst] [varchar](20) NULL,
	[dc_tstnode] [varchar](20) NULL,
	[dt_tst] [datetime] NULL,
	[dn_rel] [varchar](12) NULL,
	[dn_relln] [int] NULL,
	[cd_deptst] [varchar](12) NULL,
	[fg_s127] [varchar](4) NULL,
	[fg_s128] [varchar](4) NULL,
	[no_card] [varchar](20) NULL,
	[fg_bnkbkprt] [varchar](1) NULL,
	[dc_ifm] [varchar](150) NULL
) ON [PRIMARY]
GO
