USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[Sheet1$]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[Sheet1$](
	[회사코드] [nvarchar](255) NULL,
	[F2] [nvarchar](255) NULL,
	[F3] [nvarchar](255) NULL,
	[품목코드] [nvarchar](255) NULL,
	[F5] [nvarchar](255) NULL,
	[F6] [float] NULL,
	[품목분류] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL
) ON [PRIMARY]
GO
