USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PRD_STOCK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PRD_STOCK](
	[C_CODE] [char](4) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[DC_SPEC] [varchar](4) NULL,
	[DT_IN_OUT] [varchar](8) NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[FG_PRT] [char](1) NULL,
	[FG_IN_OUT] [char](1) NOT NULL,
	[CD_USR] [varchar](10) NULL,
	[CD_CUST] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[NO_SERIAL] ASC,
	[DT_IN_OUT] ASC,
	[FG_IN_OUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PRD_STOCK] ADD  DEFAULT (' ') FOR [DC_SPEC]
GO
ALTER TABLE [DZTPLA].[PRD_STOCK] ADD  DEFAULT ('N') FOR [FG_PRT]
GO
ALTER TABLE [DZTPLA].[PRD_STOCK] ADD  DEFAULT ('I') FOR [FG_IN_OUT]
GO
