USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[LTIP_CORRECT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[LTIP_CORRECT](
	[C_CODE] [varchar](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[DT_LM] [datetime] NULL,
	[NO_SERIAL] [varchar](12) NULL,
	[FG_LOC] [varchar](6) NULL,
	[DT_REPORT] [varchar](8) NULL,
	[FG_GBN] [varchar](12) NULL,
 CONSTRAINT [PK_LTIP_CORRECT] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
