USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEM](
	[C_CODE] [char](4) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_CLS] [varchar](12) NOT NULL,
	[FG_GRP] [char](1) NOT NULL,
	[FG_ACT] [varchar](4) NOT NULL,
	[FG_SUP] [char](1) NOT NULL,
	[NM_ITEM] [varchar](30) NULL,
	[DC_SPEC] [varchar](12) NOT NULL,
	[FG_S108] [varchar](4) NULL,
	[UP_SALSTD] [numeric](15, 4) NOT NULL,
	[FG_SALUP] [char](1) NOT NULL,
	[FG_TAX] [char](1) NOT NULL,
	[DT_SALSTT] [datetime] NULL,
	[DT_SALEND] [datetime] NULL,
	[FG_SALMTD1] [char](1) NOT NULL,
	[FG_SALMTD2] [char](1) NOT NULL,
	[DY_EX] [int] NOT NULL,
	[FG_SAL] [char](1) NOT NULL,
	[FG_EACHSAL] [char](1) NOT NULL,
	[QT_SALMIN] [numeric](15, 4) NOT NULL,
	[FG_ADDIFM] [char](1) NOT NULL,
	[UP_PURSTD] [numeric](15, 4) NOT NULL,
	[FG_PURUP] [char](1) NOT NULL,
	[FG_S102] [varchar](4) NULL,
	[DT_PURSTT] [datetime] NULL,
	[DT_PUREND] [datetime] NULL,
	[CD_DEPTPUR] [varchar](12) NULL,
	[CD_USRPUR] [varchar](10) NULL,
	[CD_PURTYPE] [int] NULL,
	[FG_ODRPLC] [char](1) NOT NULL,
	[FG_QTYPLC] [char](1) NOT NULL,
	[DY_PUR] [int] NOT NULL,
	[QT_ODRUNT] [numeric](15, 4) NOT NULL,
	[QT_ODRMIN] [numeric](15, 4) NOT NULL,
	[CD_WHSIN] [varchar](12) NULL,
	[CD_WHSRT] [varchar](12) NULL,
	[FG_LOTIN] [char](1) NOT NULL,
	[FG_LOTEX] [char](1) NOT NULL,
	[FG_QCIN] [char](1) NOT NULL,
	[FG_QCEX] [char](1) NOT NULL,
	[DC_DWG] [varchar](20) NULL,
	[FG_MRP] [char](1) NOT NULL,
	[FG_STK] [char](1) NOT NULL,
	[FG_VLP] [char](1) NOT NULL,
	[DY_VLP] [int] NOT NULL,
	[FG_SSTK] [char](1) NOT NULL,
	[QT_SSTK] [numeric](15, 4) NOT NULL,
	[QT_NRM] [numeric](15, 4) NOT NULL,
	[FG_ABC] [char](1) NULL,
	[FG_RTN] [char](1) NOT NULL,
	[FG_ODRCNT] [char](1) NOT NULL,
	[FG_INBAR] [char](1) NOT NULL,
	[FG_EXBAR] [char](1) NOT NULL,
	[FG_NETWGT] [varchar](4) NULL,
	[DC_NETWGT] [numeric](15, 4) NOT NULL,
	[FG_GLTWGT] [varchar](4) NULL,
	[DC_GLTWGT] [numeric](15, 4) NOT NULL,
	[FG_PCK] [varchar](4) NULL,
	[DC_PCK] [numeric](15, 4) NOT NULL,
	[FG_ARA] [varchar](4) NULL,
	[DC_ARA] [numeric](15, 4) NOT NULL,
	[CD_HGT] [varchar](4) NULL,
	[DC_HGT] [numeric](15, 4) NOT NULL,
	[DC_SPEC1] [varchar](6) NULL,
	[DC_SPEC2] [varchar](6) NULL,
	[DC_SPEC3] [varchar](14) NULL,
	[CD_INEXUNT] [varchar](4) NULL,
	[CD_MNGUNT] [varchar](4) NULL,
	[DC_FOR] [varchar](20) NULL,
	[FG_UCVAT] [char](1) NOT NULL,
	[DT_FST] [datetime] NOT NULL,
	[CD_USRFST] [varchar](10) NULL,
	[DT_MDF] [datetime] NOT NULL,
	[CD_USRMDF] [varchar](10) NULL,
	[DT_CLS] [datetime] NOT NULL,
	[CD_USRCLS] [varchar](10) NULL,
	[CD_OLDITEM] [varchar](20) NULL,
	[FG_USE] [char](10) NOT NULL,
	[RL_SPEC] [varchar](40) NULL,
	[RL_NAME] [varchar](40) NULL,
	[TY_BAR] [char](1) NULL,
	[TY_FLOC] [varchar](200) NULL,
	[cd_pln] [varchar](12) NULL,
	[rt_tax] [numeric](5, 2) NULL,
	[NM_REG_ITEM] [varchar](40) NULL,
 CONSTRAINT [PK_ITEM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cd_cls]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_cd_cls] ON [DZTPLA].[ITEM]
(
	[CD_CLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cd_item]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_cd_item] ON [DZTPLA].[ITEM]
(
	[CD_ITEM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cd_item_use]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_cd_item_use] ON [DZTPLA].[ITEM]
(
	[CD_ITEM] ASC,
	[FG_USE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DC_FOR]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DC_FOR] ON [DZTPLA].[ITEM]
(
	[DC_FOR] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEM_PLN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ITEM_PLN] ON [DZTPLA].[ITEM]
(
	[CD_ITEM] ASC,
	[cd_pln] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rl_name]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_rl_name] ON [DZTPLA].[ITEM]
(
	[C_CODE] ASC,
	[RL_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usrcls]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_usrcls] ON [DZTPLA].[ITEM]
(
	[CD_USRCLS] ASC,
	[C_CODE] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__CD_CLS__3CE9E9DD]  DEFAULT ('0') FOR [CD_CLS]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__UP_SALSTD__3DDE0E16]  DEFAULT ((0)) FOR [UP_SALSTD]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_SALUP__3ED2324F]  DEFAULT ('1') FOR [FG_SALUP]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_TAX__3FC65688]  DEFAULT ('T') FOR [FG_TAX]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_SALMTD1__40BA7AC1]  DEFAULT ('0') FOR [FG_SALMTD1]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_SALMTD2__41AE9EFA]  DEFAULT ('0') FOR [FG_SALMTD2]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DY_EX__42A2C333]  DEFAULT ((0)) FOR [DY_EX]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_SAL__4396E76C]  DEFAULT ('1') FOR [FG_SAL]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_EACHSAL__448B0BA5]  DEFAULT ('0') FOR [FG_EACHSAL]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__QT_SALMIN__457F2FDE]  DEFAULT ((0)) FOR [QT_SALMIN]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_ADDIFM__46735417]  DEFAULT ('0') FOR [FG_ADDIFM]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__UP_PURSTD__47677850]  DEFAULT ((0)) FOR [UP_PURSTD]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_PURUP__485B9C89]  DEFAULT ((0)) FOR [FG_PURUP]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_ODRPLC__494FC0C2]  DEFAULT ('1') FOR [FG_ODRPLC]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_QTYPLC__4A43E4FB]  DEFAULT ('1') FOR [FG_QTYPLC]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DY_PUR__4B380934]  DEFAULT ((0)) FOR [DY_PUR]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__QT_ODRUNT__4C2C2D6D]  DEFAULT ((0)) FOR [QT_ODRUNT]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__QT_ODRMIN__4D2051A6]  DEFAULT ((0)) FOR [QT_ODRMIN]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_LOTIN__4E1475DF]  DEFAULT ('1') FOR [FG_LOTIN]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_LOTEX__4F089A18]  DEFAULT ('1') FOR [FG_LOTEX]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_QCIN__4FFCBE51]  DEFAULT ('1') FOR [FG_QCIN]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_QCEX__50F0E28A]  DEFAULT ('1') FOR [FG_QCEX]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_MRP__51E506C3]  DEFAULT ('0') FOR [FG_MRP]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_STK__52D92AFC]  DEFAULT ('0') FOR [FG_STK]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_VLP__53CD4F35]  DEFAULT ('1') FOR [FG_VLP]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DY_VLP__54C1736E]  DEFAULT ((0)) FOR [DY_VLP]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_SSTK__55B597A7]  DEFAULT ('0') FOR [FG_SSTK]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__QT_SSTK__56A9BBE0]  DEFAULT ((0)) FOR [QT_SSTK]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__QT_NRM__579DE019]  DEFAULT ((0)) FOR [QT_NRM]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_RTN__58920452]  DEFAULT ('1') FOR [FG_RTN]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_ODRCNT__5986288B]  DEFAULT ('1') FOR [FG_ODRCNT]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_INBAR__5A7A4CC4]  DEFAULT ('1') FOR [FG_INBAR]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_EXBAR__5B6E70FD]  DEFAULT ('1') FOR [FG_EXBAR]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DC_NETWGT__5C629536]  DEFAULT ((0)) FOR [DC_NETWGT]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DC_GLTWGT__5D56B96F]  DEFAULT ((0)) FOR [DC_GLTWGT]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DC_PCK__5E4ADDA8]  DEFAULT ((0)) FOR [DC_PCK]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DC_ARA__5F3F01E1]  DEFAULT ((0)) FOR [DC_ARA]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DC_HGT__6033261A]  DEFAULT ((0)) FOR [DC_HGT]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_UCVAT__61274A53]  DEFAULT ('1') FOR [FG_UCVAT]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DT_FST__621B6E8C]  DEFAULT (getdate()) FOR [DT_FST]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DT_MDF__630F92C5]  DEFAULT (getdate()) FOR [DT_MDF]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__DT_CLS__6403B6FE]  DEFAULT (getdate()) FOR [DT_CLS]
GO
ALTER TABLE [DZTPLA].[ITEM] ADD  CONSTRAINT [DF__ITEM__FG_USE__64F7DB37]  DEFAULT ('0') FOR [FG_USE]
GO
