USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CLASSL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CLASSL](
	[C_CODE] [char](4) NOT NULL,
	[CD_CLASS] [char](2) NOT NULL,
	[CD_ITEMCLS] [varchar](12) NOT NULL,
	[CD_MOTHER] [varchar](3) NOT NULL,
	[CD_CHILD] [varchar](3) NOT NULL,
	[CD_LNUP] [varchar](20) NOT NULL,
	[CD_LNCST] [varchar](4) NOT NULL,
	[NO_LEVEL] [varchar](3) NOT NULL,
 CONSTRAINT [PK_CLASSL] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CLASS] ASC,
	[CD_MOTHER] ASC,
	[CD_CHILD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
