USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST2FRCOM2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [DZTPLA].[DZFN_GET_CUST2FRCOM2] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@FR_COMP  VARCHAR(12), 
			@KEY_CODE VARCHAR(12),
			@TO_COMP  VARCHAR(12)		
		
--	 SET @CD_CUST = DZTPLA.DZFN_GET_CUST2M(@CD_HOSP,@CD_ITEM)
	 
--SELECT dztpla.dzfn_get_cust('213084')
--SELECT * FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = dztpla.dzfn_get_cust('213084')

	 SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C (NOLOCK)  WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST2(@CD_HOSP,@CD_ITEM)

--SELECT * FROM CUST_ITEM_TAG WHERE C_CODE='1000' AND CD_CUST ='M213084' AND CD_ITEM = '*'

	 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
	    SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C (NOLOCK)  WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

     select @FR_COMP = C.fr_c_code, @TO_COMP = C.to_c_code 
       from cust_item_tag C (NOLOCK)  
	  where C.CD_CUST = @KEY_CODE 
		and C.cd_item = @CD_ITEM 
		and C.c_code = '1000'
	    and isnull(C.fg_use,'Y') = 'Y'
													  
					  
	IF (@FR_COMP IS NULL or @FR_COMP = '' )
	BEGIN


		select @FR_COMP = d.dc_v2,
		       @TO_COMP = d.dc_v2
		  from code d (NOLOCK)  
		 where d.c_code = '1000' 
		   and d.cd_cls = 'S156'
		   and d.nm_flag = @CD_ITEM;
/*
		select @FR_COMP = C.fr_c_code,
		       @TO_COMP = C.to_c_code 
		  from cust_item_tag C 
	     where C.c_code = '1000'
	       and C.CD_CUST = @KEY_CODE
		   and C.cd_item = '*' 
*/

		IF (@FR_COMP IS NULL or @FR_COMP = '' )
		BEGIN
		/*
			SET @FR_COMP = (select top 1 C.fr_c_code 
								 from cust_item_tag C 
								 where C.c_code = '1000'
								   and C.CD_CUST = (SELECT MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP) )
								   and C.CD_ITEM = @CD_ITEM
								   and isnull(C.fg_use,'Y') = 'Y' )
													  
			IF (@FR_COMP IS NULL or @FR_COMP = '' ) */
			   SET @FR_COMP = '1000'

		END 
	END
	
	return @FR_COMP

END












GO
