USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CALC_DATA2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CALC_DATA2](
	[kid] [int] NOT NULL,
	[staar_id] [int] NULL,
	[doctor_id] [varchar](5) NULL,
	[lens_model] [varchar](5) NULL,
	[patient_id] [varchar](15) NULL,
	[op_eye] [varchar](2) NULL,
	[bvd] [tinyint] NULL,
	[sphere] [decimal](5, 2) NULL,
	[cylinder] [decimal](5, 2) NULL,
	[axis] [tinyint] NULL,
	[k1] [decimal](5, 2) NULL,
	[k2] [decimal](5, 2) NULL,
	[k_axis] [tinyint] NULL,
	[k2_axis] [tinyint] NULL,
	[acd] [decimal](5, 3) NULL,
	[ct] [decimal](5, 3) NULL,
	[ww] [decimal](5, 2) NULL,
	[cl_sph] [decimal](5, 2) NULL,
	[cl_cyl] [decimal](5, 2) NULL,
	[cl_axis] [tinyint] NULL,
	[exp_sph] [decimal](5, 2) NULL,
	[exp_cyl] [decimal](5, 2) NULL,
	[exp_axis] [tinyint] NULL,
	[exp_seq] [decimal](5, 2) NULL,
	[sel_sph] [decimal](5, 2) NULL,
	[sel_cyl] [decimal](5, 2) NULL,
	[sel_axis] [tinyint] NULL,
	[sel_length] [decimal](5, 1) NULL,
	[sel_model] [varchar](50) NULL,
	[dob] [datetime] NULL,
	[dt_calc] [datetime] NOT NULL,
	[lens_serial] [varchar](15) NULL,
	[lens_sph] [decimal](5, 2) NULL,
	[lens_cyl] [decimal](5, 2) NULL,
	[lens_axis] [tinyint] NULL,
	[rotation] [nvarchar](100) NULL,
	[dt_iod] [datetime] NULL,
	[FG_DEL] [varchar](3) NULL,
	[no_req] [varchar](12) NULL,
	[TAGGED_SERIAL] [varchar](10) NULL,
	[ORDER_NO] [int] NULL,
	[TAGGED_SPH] [decimal](5, 2) NULL,
	[TAGGED_CYL] [decimal](5, 2) NULL,
	[TAGGED_AXIS] [tinyint] NULL,
	[PATIENT_REF] [varchar](50) NULL,
	[TAG_EXP_SPH] [decimal](5, 2) NULL,
	[TAG_EXP_CYL] [decimal](5, 2) NULL,
	[TAG_EXP_AXIS] [tinyint] NULL,
	[TAG_EXP_SEQ] [decimal](5, 2) NULL,
	[ENTERED_BY] [varchar](100) NULL,
	[UPDATED_BY] [varchar](500) NULL
) ON [PRIMARY]
GO
