USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SALE_PLAN_INC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SALE_PLAN_INC](
	[C_CODE] [char](4) NOT NULL,
	[CD_PLN] [varchar](12) NOT NULL,
	[CD_TEAM] [varchar](12) NOT NULL,
	[DT_MONTH] [varchar](2) NOT NULL,
	[NM_PERC] [numeric](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_PLN] ASC,
	[CD_TEAM] ASC,
	[DT_MONTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
