USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SRLSTOCK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SRLSTOCK](
	[C_CODE] [char](4) NOT NULL,
	[CD_WS] [varchar](12) NULL,
	[DT_DATE] [char](8) NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[QT_ITEM] [numeric](15, 4) NULL,
	[CD_ITEM] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_SERIAL] ASC,
	[C_CODE] ASC,
	[DT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
