USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEMCUST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEMCUST](
	[C_CODE] [char](4) NOT NULL,
	[FG_CLS] [char](1) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[FG_MAIN] [char](1) NOT NULL,
	[CD_ITEMCUST] [varchar](12) NULL,
	[DC_ITEMCUST] [varchar](20) NULL,
	[CD_BARCUST] [varchar](12) NULL,
	[DC_PURUSR] [varchar](12) NULL,
	[DC_TEL] [varchar](20) NULL,
	[DC_MAIL] [varchar](30) NULL,
	[DC_FAX] [varchar](20) NULL,
	[DC_CUST] [varchar](20) NULL,
 CONSTRAINT [PK_ITEMCUST] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[FG_CLS] ASC,
	[CD_ITEM] ASC,
	[CD_CUST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
