USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CM_700000]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CM_700000](
	[cd_cust] [char](6) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[mt_crm] [char](8) NOT NULL,
	[at_crd] [numeric](15, 4) NOT NULL,
	[at_rcrd] [numeric](15, 4) NULL,
	[at_crm] [numeric](15, 4) NOT NULL,
	[at_sal] [numeric](15, 4) NOT NULL,
	[at_bal] [numeric](15, 4) NULL,
 CONSTRAINT [PK_CM_700000] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_cust] ASC,
	[mt_crm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CM_700000] ADD  CONSTRAINT [DF__CM_700000__at_cr__4AB9B19E]  DEFAULT ((0)) FOR [at_crd]
GO
ALTER TABLE [DZTPLA].[CM_700000] ADD  CONSTRAINT [DF__CM_700000__at_rc__4BADD5D7]  DEFAULT ((0)) FOR [at_rcrd]
GO
ALTER TABLE [DZTPLA].[CM_700000] ADD  CONSTRAINT [DF__CM_700000__at_cr__4CA1FA10]  DEFAULT ((0)) FOR [at_crm]
GO
ALTER TABLE [DZTPLA].[CM_700000] ADD  CONSTRAINT [DF__CM_700000__at_sa__4D961E49]  DEFAULT ((0)) FOR [at_sal]
GO
ALTER TABLE [DZTPLA].[CM_700000] ADD  CONSTRAINT [DF__CM_700000__at_ba__4E8A4282]  DEFAULT ((0)) FOR [at_bal]
GO
