USE [DZTPLA]
GO
/****** Object:  View [DZTPLA].[ACCT_CHECK_SJS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE  VIEW [DZTPLA].[ACCT_CHECK_SJS] AS
SELECT 	ACCTCODE.C_CODE C_CODE,
	ACCTCODE.ACCT_CODE ACCT_CODE,
	ACCTCODE.ACCT_NAME ACCT_NAME,
	ACCTCODE.ACCT_NAME2 ACCT_NAME2,
 	CHECKCHA.SERIAL_NO SERIAL_NO,
	CHECKCHA.CHECK_CODE CHECK_CODE,
	CHECKNA.CHECK_NAME CHECK_NAME,
	CHECKCHA.INPIL_YN INPIL_YN
FROM 	DZAIS.DZAIS.ACCTCODE ACCTCODE,
	DZAIS.DZAIS.CHECKCHA CHECKCHA
	LEFT OUTER JOIN 
	DZAIS.DZAIS.CHECKNA CHECKNA ON (CHECKCHA.C_CODE = CHECKNA.C_CODE AND CHECKCHA.CHECK_CODE = CHECKNA.CHECK_CODE)
WHERE	ACCTCODE.C_CODE = CHECKCHA.C_CODE AND
	ACCTCODE.ACCT_CODE = CHECKCHA.ACCT_CODE AND
	ACCTCODE.ACCT_GUBUN <> '0'

GO
