USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SLIP_DATA]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SLIP_DATA](
	[NO_SLIP] [varchar](20) NOT NULL,
	[CD_CUST] [varchar](6) NOT NULL,
	[DT_REG] [datetime] NOT NULL,
	[RCV_NM] [varchar](100) NULL,
	[RCV_TEL] [varchar](20) NULL,
	[RCV_HP] [varchar](20) NULL,
	[RCV_ZIP] [varchar](10) NULL,
	[RCV_ADDR1] [varchar](200) NULL,
	[RCV_ADDR2] [varchar](200) NULL,
	[RCV_BRAN_CD] [varchar](5) NULL,
	[RCV_BRAN_NM] [varchar](50) NULL,
	[RCV_BRAN_RESION] [varchar](50) NULL,
	[GOODS_NM] [varchar](150) NULL,
	[PRICE_AMT] [numeric](18, 0) NULL,
	[EXTRA_AMT] [numeric](18, 0) NULL,
	[GOODS_AMT] [numeric](18, 0) NULL,
	[AIRTYPE] [varchar](5) NULL,
	[TAKE_DATE] [varchar](8) NULL,
	[REMARKS] [varchar](200) NULL,
 CONSTRAINT [PK_SLIP_DATA] PRIMARY KEY CLUSTERED 
(
	[NO_SLIP] ASC,
	[CD_CUST] ASC,
	[DT_REG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
