USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PURTYPE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PURTYPE](
	[C_CODE] [char](4) NOT NULL,
	[DT_YR] [char](4) NOT NULL,
	[CD_TYPE] [char](4) NOT NULL,
	[CD_DATE] [varchar](9) NOT NULL,
	[DT_STT] [datetime] NULL,
 CONSTRAINT [PK_PURTYPE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DT_YR] ASC,
	[CD_TYPE] ASC,
	[CD_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
