USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WJMALL_SLIST]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WJMALL_SLIST](
	[seq] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[cd_cust] [varchar](6) NOT NULL,
	[gbn] [varchar](20) NOT NULL,
	[no_serial] [varchar](20) NOT NULL,
	[dt_reg] [varchar](8) NOT NULL,
 CONSTRAINT [PK_WJMALL_SLIST] PRIMARY KEY CLUSTERED 
(
	[seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
