USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[doc_tel]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[doc_tel](
	[지역] [nvarchar](255) NULL,
	[병원명] [nvarchar](255) NULL,
	[의사명] [nvarchar](255) NULL,
	[영문명] [nvarchar](255) NULL,
	[Mobile] [nvarchar](255) NULL,
	[ICL 담당자] [nvarchar](255) NULL,
	[Mobile1] [nvarchar](255) NULL,
	[TEL] [nvarchar](255) NULL,
	[FAX] [nvarchar](255) NULL,
	[cd_cust] [char](6) NULL,
	[cd_hosp] [char](6) NULL
) ON [PRIMARY]
GO
