USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAGINVEN]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAGINVEN](
	[C_CODE] [char](4) NOT NULL,
	[DN_RLCD] [varchar](20) NOT NULL,
	[CD_WHS] [varchar](12) NULL,
	[DT_REG] [datetime] NULL,
	[CD_USR] [varchar](12) NULL,
	[DN_RLCD2] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_RLCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
