USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[DISBURSEMENT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[DISBURSEMENT](
	[C_CODE] [char](4) NOT NULL,
	[DN_DB] [char](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[CD_CUST] [char](6) NULL,
	[DT_DB] [char](8) NOT NULL,
	[DT_PAY] [char](8) NULL,
	[AT_CMN] [numeric](15, 4) NULL,
	[DT_CFM] [char](8) NULL,
	[CD_REG] [char](10) NULL,
	[CD_USR] [char](10) NULL,
	[CD_DEPT] [varchar](12) NULL,
	[FG_CFM] [char](1) NULL,
	[DC_RMK] [varchar](100) NULL,
	[DN_DS] [char](12) NULL,
	[ROW_ID] [varchar](15) NULL,
	[DT_CFM_U] [char](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_DB] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
