USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[pa_code]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[pa_code](
	[co_id] [int] NOT NULL,
	[co_sid] [int] NOT NULL,
	[co_name] [varchar](30) NOT NULL,
	[co_temp] [varchar](100) NOT NULL,
	[co_sort] [char](2) NOT NULL,
	[co_use] [char](1) NOT NULL
) ON [PRIMARY]
GO
