USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CRL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CRL](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_CR] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[DT_IN] [datetime] NOT NULL,
	[FG_S121] [varchar](4) NOT NULL,
	[FG_S122] [varchar](4) NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NULL,
	[QT_OITEM] [numeric](15, 4) NOT NULL,
	[QT_LITEM] [numeric](15, 4) NOT NULL,
	[FG_LM] [char](1) NOT NULL,
	[DT_LM] [datetime] NULL,
	[DN_LM] [varchar](12) NULL,
	[DN_LMLN] [int] NULL,
	[DN_EX] [varchar](12) NULL,
	[DN_EXLN] [int] NULL,
	[DN_OD] [varchar](12) NULL,
	[DN_ODLN] [int] NULL,
 CONSTRAINT [PK_CRL] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_CR] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
