USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_MVUP]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


/* 월재고 마감      */
/* 작성자 : 고정호 */
CREATE FUNCTION [DZTPLA].[DZFN_MVUP] 
(
 
 @A_C_CODE     CHAR(4),              /* 회사코드 */
 @A_CD_NODE  VARCHAR(4),  /*  사업장   */
 @A_MT_VAL      VARCHAR(6),   /*  평가월   */
 @A_CD_ITEM    VARCHAR(12), /*  품목       */
 @A_CD_SPEC   VARCHAR(12), /*  규격       */  
 @A_CD_ACT      VARCHAR(5)     /*  계정       */
)
RETURNS @RF_T_STAVG  TABLE
(	AG_ST        NUMERIC(15,4),  /* 재고 단가 */
	QT_ST        NUMERIC(15,4), /* 재고  수량 */
	AT_ST         NUMERIC(15,4) /* 재고 금액 */
)
AS
BEGIN

	DECLARE @D_QT_IN  NUMERIC(15,4),
                                      @D_AT_IN  NUMERIC(15,4),
		      @D_AG_IN  NUMERIC(15,4),	
		      @D_QT_EX NUMERIC(15,4),
		      @D_AT_EX NUMERIC(15,4),
		      @D_AG_ST NUMERIC(15,4),
		      @D_QT_ST NUMERIC(15,4),
		      @D_AT_ST NUMERIC(15,4),
		      @MAX_MON VARCHAR(6) 

     
     BEGIN
 -- 일단 STAVGL에 해당 자료가 있는지 검색
               SELECT  @D_QT_ST = ISNULL(QT_ST,0),@D_AT_ST = ISNULL(AT_ST,0)
	   FROM   STAVGL
               WHERE        C_CODE     =  @A_C_CODE
	         AND    CD_NODE   =  @A_CD_NODE
	         AND    MT_VAL       =  @A_MT_VAL
 	         AND     CD_ACT      =  @A_CD_ACT
	         AND    CD_ITEM     =  @A_CD_ITEM
	        AND     CD_SPEC    =  @A_CD_SPEC
	IF (@D_QT_ST = 0)
                    SELECT @D_AG_ST = 0
               ELSE
   	SELECT @D_AG_ST = @D_AT_ST / @D_QT_ST       -- 재고단가 = 재고금액 / 재고수량
              
               IF (@D_AG_ST > 0 )
                    BEGIN
                                INSERT      @RF_T_STAVG
		SELECT   @D_AG_ST,@D_QT_ST,@D_AT_ST 
                    END	
               ELSE   
	   BEGIN 
                             -- STAVGL에 없으면 마지막 월의 재고수량 값을 찾은뒤 
                             -- 재고수량  = LAST월 재고수량 + ( LAST월 이후 검색월까지의 출-입고수량 합계) 
                             -- 재고금액  = LAST월 재고금액+  ( LAST월 이후 검색월까지의  입고금액 합계)
                             -- 재고단가  = 재고금액 / 재고수량 
		SELECT @MAX_MON = ISNULL(MAX(MT_VAL),'*') FROM STAVGL
		   WHERE    C_CODE     = @A_C_CODE
	    	          AND    CD_NODE = @A_CD_NODE
	    --	          AND    MT_VAL     = @A_MT_VAL
                     	          AND     CD_ACT     = @A_CD_ACT
	    	          AND    CD_ITEM   = @A_CD_ITEM
	    	          AND     CD_SPEC  = @A_CD_SPEC

		  IF ( @MAX_MON <> '*' ) 
		  BEGIN
			SELECT @D_QT_ST = ISNULL(QT_ST,0),@D_AT_ST = ISNULL(AT_ST   ,0)
			   FROM   STAVGL
		               WHERE        C_CODE     =  @A_C_CODE
			         AND    CD_NODE   =  @A_CD_NODE
			         AND    MT_VAL       =  @MAX_MON
		 	         AND     CD_ACT      =  @A_CD_ACT
			         AND    CD_ITEM     =  @A_CD_ITEM
			        AND     CD_SPEC    =  @A_CD_SPEC

			SELECT  @D_QT_IN   = ISNULL(SUM(QT_IN),0),
				   @D_AT_IN   = ISNULL(SUM(AT_IN),0),
				   @D_QT_EX = ISNULL(SUM(QT_EX),0) 
			   FROM   T_STAVG
		               WHERE        C_CODE     =  @A_C_CODE
			         AND    CD_NODE   =  @A_CD_NODE
			         AND    MT_VAL       >  @MAX_MON
                                                         AND    MT_VAL     <=  @A_MT_VAL
		 	         AND     CD_ACT      =  @A_CD_ACT
			         AND    CD_ITEM     =  @A_CD_ITEM
			        AND     CD_SPEC    =  @A_CD_SPEC
			 
			  SELECT @D_QT_IN  = ISNULL(@D_QT_ST,0)+ISNULL(@D_QT_IN,0)    -- 입고수량 = LAST월 재고수량 + LAST월이후 검색월까지의 입고수량합계
			  SELECT @D_AT_IN  = ISNULL( @D_AT_ST,0)+ISNULL(@D_AT_IN,0)  -- 입고금액 = LAST월 재고금액 + LAST월이후 검색월까지의 입고금액합계

			IF (@D_QT_IN=0)
			        SELECT @D_AG_ST = 0
			ELSE
                                                  SELECT @D_AG_ST = ISNULL( @D_AT_IN,0) / ISNULL(@D_QT_IN,0)    --재고단가  = 입고금액/입고수량

                                                  SELECT @D_QT_ST = ISNULL(@D_QT_IN,0) - ISNULL(@D_QT_EX,0)  -- 재고수량 =  이전월재고수량+(출고-입고)
                                                   SELECT @D_AT_ST = ISNULL( @D_QT_ST,0) * ISNULL(@D_AG_ST,0) 
                 
			 INSERT      @RF_T_STAVG
			SELECT   @D_AG_ST,@D_QT_ST,@D_AT_ST 
		
		  END --  IF ( @MAX_MON <> '*' ) 
		  ELSE
			BEGIN

			SELECT  @D_QT_IN   = ISNULL(SUM(QT_IN),0),
				   @D_AT_IN   = ISNULL(SUM(AT_IN),0),
				   @D_QT_EX = ISNULL(SUM(QT_EX),0) 
			   FROM   T_STAVG
		               WHERE        C_CODE     =  @A_C_CODE
			         AND    CD_NODE   =  @A_CD_NODE
			         AND    MT_VAL       >  @MAX_MON
                                                         AND    MT_VAL     <=  @A_MT_VAL
		 	         AND     CD_ACT      =  @A_CD_ACT
			         AND    CD_ITEM     =  @A_CD_ITEM
			        AND     CD_SPEC    =  @A_CD_SPEC
		
			INSERT      @RF_T_STAVG
			SELECT   CASE WHEN @D_QT_IN = 0 THEN 0 ELSE @D_AT_IN/@D_QT_IN END ,@D_QT_IN,@D_AT_IN 
                               END 
		
   	                   	       
	END	--  IF (@D_AG_ST > 0 ) ELSE 

                SELECT @D_AG_ST = ISNULL(AG_ST,0) FROM @RF_T_STAVG 
                IF ( @D_AG_ST = 0 ) 
                BEGIN 
                               -- 재고단가를 구할수 없으면 ITEM  테이블의 구매단가를 ...
                                INSERT      @RF_T_STAVG
		SELECT UP_PURSTD, 0,0 
                                   FROM ITEM 
                              WHERE C_CODE = @A_C_CODE AND CD_ITEM = @A_CD_ITEM
	END
END	
RETURN 
END














GO
