USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSTOCK_H]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSTOCK_H](
	[c_code] [char](4) NOT NULL,
	[mnth] [char](6) NOT NULL,
	[fg_acct] [char](1) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[zq] [numeric](20, 2) NULL,
	[za] [numeric](20, 2) NULL,
	[aq] [numeric](20, 2) NULL,
	[aa] [numeric](20, 2) NULL,
	[bq] [numeric](20, 2) NULL,
	[ba] [numeric](20, 2) NULL,
	[cq] [numeric](20, 2) NULL,
	[ca] [numeric](20, 2) NULL,
	[dq] [numeric](20, 2) NULL,
	[da] [numeric](20, 2) NULL,
	[eq] [numeric](20, 2) NULL,
	[ea] [numeric](20, 2) NULL,
	[fq] [numeric](20, 2) NULL,
	[fa] [numeric](20, 2) NULL,
	[gq] [numeric](20, 2) NULL,
	[ga] [numeric](20, 2) NULL,
	[hq] [numeric](20, 2) NULL,
	[ha] [numeric](20, 2) NULL,
	[iq] [numeric](20, 2) NULL,
	[ia] [numeric](20, 2) NULL,
	[jq] [numeric](20, 2) NULL,
	[ja] [numeric](20, 2) NULL,
	[kq] [numeric](20, 2) NULL,
	[ka] [numeric](20, 2) NULL,
	[lq] [numeric](20, 2) NULL,
	[la] [numeric](20, 2) NULL,
	[mq] [numeric](20, 2) NULL,
	[ma] [numeric](20, 2) NULL,
	[nq] [numeric](20, 2) NULL,
	[na] [numeric](20, 2) NULL,
	[oq] [numeric](20, 2) NULL,
	[oa] [numeric](20, 2) NULL,
	[pq] [numeric](20, 2) NULL,
	[pa] [numeric](20, 2) NULL,
	[qq] [numeric](20, 2) NULL,
	[qa] [numeric](20, 2) NULL,
	[rq] [numeric](20, 2) NULL,
	[ra] [numeric](20, 2) NULL,
	[sq] [numeric](20, 2) NULL,
	[sa] [numeric](20, 2) NULL,
	[tq] [numeric](20, 2) NULL,
	[ta] [numeric](20, 2) NULL,
	[uq] [numeric](20, 2) NULL,
	[ua] [numeric](20, 2) NULL,
	[ttl_q]  AS ((((((((((((((((((((([uq]+[zq])+[cq])+[dq])+[gq])+[iq])+[lq])+[nq])+[pq])+[rq])+[tq])-[aq])-[bq])-[eq])-[fq])-[hq])-[jq])-[kq])-[mq])-[oq])-[qq])-[sq]),
	[ttl_a]  AS (((((((((((((((((((((([ua]+[za])+[ca])+[da])+[ga])+[ia])+[la])+[na])+[pa])+[ra])+[ta])-[aa])-[ba])-[ea])-[fa])-[ha])-[ja])-[ka])-[ma])-[oa])-[qa])-[sa])-[zz]),
	[zz] [numeric](20, 2) NULL,
 CONSTRAINT [PK_MSTOCK_H] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[mnth] ASC,
	[fg_acct] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
