USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PSLLST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PSLLST](
	[ORDER_NO] [int] NOT NULL,
	[CUST] [varchar](100) NULL,
	[CUST_NAME] [varchar](100) NULL,
	[CUST_COUNTRY] [varchar](100) NULL,
	[DOCTOR_ID] [varchar](100) NULL,
	[DOCTOR] [varchar](100) NULL,
	[PATIENT] [varchar](100) NULL,
	[ITEMNO] [varchar](100) NULL,
	[SCA] [varchar](100) NULL,
	[TSTCTA] [varchar](100) NULL,
	[EYE] [varchar](100) NULL,
	[IC_PO] [varchar](100) NULL,
	[ORDER_DT] [varchar](100) NULL,
	[MTO_STATUS] [varchar](100) NULL,
	[TAGGED] [varchar](100) NULL,
	[SO] [varchar](100) NULL,
	[DAY_STR] [varchar](100) NULL,
	[MTOST] [varchar](100) NULL,
	[SERIA] [varchar](100) NULL,
	[STERI_DT] [varchar](100) NULL,
	[WOST] [varchar](100) NULL,
	[WAITST] [varchar](100) NULL,
	[EXPECT_DT] [varchar](100) NULL,
	[REMK] [varchar](2000) NULL,
	[CD_USR] [varchar](10) NULL,
	[ST_DATE] [varchar](100) NULL,
 CONSTRAINT [PK_psllst] PRIMARY KEY CLUSTERED 
(
	[ORDER_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
