USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SOH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SOH](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_SO] [varchar](12) NOT NULL,
	[NO_MNG] [varchar](16) NULL,
	[DT_SO] [datetime] NOT NULL,
	[DT_EX] [datetime] NOT NULL,
	[FG_PLACE] [char](1) NOT NULL,
	[FG_BILL] [char](1) NOT NULL,
	[FG_SAL] [char](1) NOT NULL,
	[FG_S100] [varchar](4) NOT NULL,
	[CD_CUSTODR] [char](6) NOT NULL,
	[CD_CUSTSAL] [char](6) NOT NULL,
	[CD_PLC] [varchar](4) NOT NULL,
	[CD_EXNODE] [varchar](4) NOT NULL,
	[CD_SAL] [varchar](12) NULL,
	[FG_S105] [varchar](4) NULL,
	[FG_SALCLS] [char](1) NOT NULL,
	[FG_S101] [varchar](4) NULL,
	[FG_S102] [varchar](4) NULL,
	[RT_FOR] [numeric](15, 4) NOT NULL,
	[FG_S103] [varchar](4) NULL,
	[CD_PLACE] [int] NOT NULL,
	[DC_IFM] [varchar](200) NULL,
	[FG_MRN] [char](1) NOT NULL,
	[AT_MRN] [numeric](15, 4) NULL,
	[FG_TAXBLL] [char](1) NULL,
	[FG_PRC] [varchar](1) NOT NULL,
	[DT_PRC] [datetime] NULL,
	[CD_PRCUSR] [varchar](12) NULL,
	[FG_ODR] [varchar](1) NOT NULL,
	[DT_REG] [datetime] NOT NULL,
	[DT_REGUSR] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SOH] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_SO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DT_SO_DN_SO]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DT_SO_DN_SO] ON [DZTPLA].[SOH]
(
	[DT_SO] ASC,
	[DN_SO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SOH]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SOH] ON [DZTPLA].[SOH]
(
	[DN_SO] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SOH] ADD  CONSTRAINT [DF__SOH__FG_PLACE__585CFA28]  DEFAULT ('0') FOR [FG_PLACE]
GO
ALTER TABLE [DZTPLA].[SOH] ADD  CONSTRAINT [DF__SOH__FG_BILL__59511E61]  DEFAULT ('0') FOR [FG_BILL]
GO
ALTER TABLE [DZTPLA].[SOH] ADD  CONSTRAINT [DF__SOH__FG_SAL__5A45429A]  DEFAULT ('0') FOR [FG_SAL]
GO
ALTER TABLE [DZTPLA].[SOH] ADD  CONSTRAINT [DF__SOH__FG_S100__5B3966D3]  DEFAULT ('001') FOR [FG_S100]
GO
ALTER TABLE [DZTPLA].[SOH] ADD  CONSTRAINT [DF__SOH__RT_FOR__5C2D8B0C]  DEFAULT ((0)) FOR [RT_FOR]
GO
ALTER TABLE [DZTPLA].[SOH] ADD  CONSTRAINT [DF__SOH__FG_MRN__5D21AF45]  DEFAULT ('0') FOR [FG_MRN]
GO
ALTER TABLE [DZTPLA].[SOH] ADD  CONSTRAINT [DF__SOH__AT_MRN__5E15D37E]  DEFAULT ((0)) FOR [AT_MRN]
GO
ALTER TABLE [DZTPLA].[SOH] ADD  CONSTRAINT [DF__SOH__FG_TAXBLL__5F09F7B7]  DEFAULT ('0') FOR [FG_TAXBLL]
GO
ALTER TABLE [DZTPLA].[SOH] ADD  CONSTRAINT [DF__SOH__FG_ODR__5FFE1BF0]  DEFAULT ('0') FOR [FG_ODR]
GO
