USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[GRNT_TBL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[GRNT_TBL](
	[JOB_NAME] [char](10) NOT NULL,
	[CD_USR] [char](10) NOT NULL,
	[CD_USR2] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JOB_NAME] ASC,
	[CD_USR] ASC,
	[CD_USR2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
