USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[HOSPODER2_MOB]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[HOSPODER2_MOB](
	[CUST_CODE] [varchar](12) NOT NULL,
	[CD_HOSP] [varchar](12) NOT NULL,
	[NM_HOSP] [varchar](30) NULL,
	[NM_USER] [varchar](12) NULL,
	[NO_REQ] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[DIAMETA] [varchar](12) NULL,
	[POWER] [varchar](12) NULL,
	[BC] [varchar](12) NULL,
	[QTY] [numeric](10, 5) NULL,
	[DC_REMARK] [varchar](200) NULL,
	[DT_ORD] [varchar](8) NULL,
	[FG_CONF] [varchar](1) NULL,
	[FG_PGM] [varchar](3) NULL,
	[FG_DEL] [varchar](3) NULL,
	[OUT_DT] [varchar](8) NULL,
	[PO_DT] [varchar](8) NULL,
	[DT_CANCEL] [varchar](8) NULL,
	[NM_CANCEL] [varchar](20) NULL,
	[NO_SERIAL] [varchar](10) NULL,
	[DN_OUT] [varchar](12) NULL,
	[CD_USER] [varchar](12) NULL,
	[DT_REG] [datetime] NULL,
	[nm_item] [varchar](30) NULL,
	[DC_HOSP_RMK] [varchar](200) NULL,
	[DT_RMK] [datetime] NULL,
	[DT_OUT] [datetime] NULL,
	[LN_OUT] [int] NULL,
	[CODE_OUT] [char](4) NULL,
	[DN_PO] [varchar](12) NULL,
	[FG_OUT] [varchar](4) NULL,
	[FG_SAMP] [varchar](1) NULL,
	[spec_add] [varchar](12) NULL,
	[FG_SMS] [char](1) NULL,
	[DC_ADDR] [varchar](100) NULL,
	[FG_OK] [char](1) NULL,
	[DT_SURG] [varchar](8) NULL,
	[zip_code] [varchar](6) NULL,
	[NM_RCP] [varchar](10) NULL,
	[NO_RCP_PHONE] [varchar](13) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_REQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_HOSPODER2_MOB_1]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_HOSPODER2_MOB_1] ON [DZTPLA].[HOSPODER2_MOB]
(
	[CD_HOSP] ASC,
	[FG_PGM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[HOSPODER2_MOB] ADD  CONSTRAINT [DF__HOSPODER2__CD_HO__3F1DE1C0]  DEFAULT ('300000') FOR [CD_HOSP]
GO
ALTER TABLE [DZTPLA].[HOSPODER2_MOB] ADD  CONSTRAINT [DF__HOSPODER2__FG_CO__401205F9]  DEFAULT ('   ') FOR [FG_CONF]
GO
ALTER TABLE [DZTPLA].[HOSPODER2_MOB] ADD  CONSTRAINT [DF__HOSPODER2__FG_PG__41062A32]  DEFAULT ('   ') FOR [FG_PGM]
GO
ALTER TABLE [DZTPLA].[HOSPODER2_MOB] ADD  CONSTRAINT [DF__HOSPODER2__FG_DE__41FA4E6B]  DEFAULT ('   ') FOR [FG_DEL]
GO
