USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PI_Req]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PI_Req](
	[cd_item] [varchar](20) NOT NULL,
	[cd_cust] [char](6) NOT NULL,
	[qu1] [char](1) NULL,
	[AN1] [char](1) NULL
) ON [PRIMARY]
GO
