USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_DCSPEC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO











CREATE FUNCTION [DZTPLA].[DZFN_GET_DCSPEC] (
 @SIZE VARCHAR(4),
 @SPH  NUMERIC(5,2),
 @CYL  NUMERIC(5,2),
 @AXIS INTEGER
)
RETURNS VARCHAR(32) AS
BEGIN

	DECLARE @CD_ITEM VARCHAR(5) 
	DECLARE @CD_SPEC VARCHAR(12)
	DECLARE @DC_SPEC VARCHAR(32)
	DECLARE @S_SPH   VARCHAR(30)
	DECLARE @S_CYL   VARCHAR(30)
	DECLARE @TEMP    VARCHAR(10)

	IF ( CHARINDEX('.',@SIZE) = 0 )
	BEGIN
		SET @TEMP = RTRIM(@SIZE)
		SET @SIZE = LEFT(@TEMP,2)+'.'+RIGHT(@TEMP,1)
	END

	IF ( @SPH < 0.0 )
	BEGIN
		SET @TEMP = RIGHT('000'+CONVERT(VARCHAR(10), CONVERT(INTEGER, @SPH * -100)),4) 
		SET @S_SPH = '-'+LEFT(@TEMP,2)+'.'+RIGHT(@TEMP,2)
	END
	ELSE
	BEGIN
		IF ( @SPH > 10 )
			SET @TEMP = RIGHT('000'+CONVERT(VARCHAR(10), @SPH ),4) 
		ELSE
			SET @TEMP = RIGHT('000'+CONVERT(VARCHAR(10), CONVERT(INTEGER, @SPH * 100)),4) 

		SET @S_SPH = '-'+LEFT(@TEMP,2)+'.'+RIGHT(@TEMP,2)
	END

	IF ( CONVERT(NUMERIC(5,2), LEFT(@TEMP,2)) > 14.0 )
	BEGIN
		SET @CD_ITEM = 'TC'
	END
	ELSE
	BEGIN
		SET @CD_ITEM = 'TD'
	END

	IF ( @CYL >= 50 )
	BEGIN
		SET @S_CYL = RIGHT('000'+CONVERT(VARCHAR(10), @CYL ),3) 
	END
	ELSE
	BEGIN
		SET @S_CYL = RIGHT('000'+CONVERT(VARCHAR(10), CONVERT(INTEGER, @CYL * 100)),3) 
	END

	SELECT @CD_SPEC = CD_SPEC, @DC_SPEC = DC_SPEC
	  FROM ITEMGRP 
	 WHERE C_CODE='3000'
	   AND DC_SPEC1 = @SIZE
	   AND DC_SPEC3 = @S_SPH
	   AND DC_SPEC2 = @S_CYL

	SET @TEMP = ''

    IF ( @AXIS > 0 )
		SET @TEMP = CONVERT(VARCHAR(10), @AXIS )
    
	IF ( LEN(@TEMP) >= 1)
		SET @DC_SPEC = @DC_SPEC + ' X'+@TEMP

	return @DC_SPEC

END











GO
