USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[POIH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[POIH](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_PI] [varchar](12) NOT NULL,
	[NO_MNG] [varchar](20) NULL,
	[DT_PI] [datetime] NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_INNODE] [varchar](4) NOT NULL,
	[DC_IFM] [varchar](80) NULL,
	[DT_REG] [datetime] NOT NULL,
	[CD_REGUSR] [varchar](10) NOT NULL,
	[DT_UPD] [datetime] NOT NULL,
	[CD_UPUSR] [varchar](10) NOT NULL,
	[FG_CLOSE] [char](1) NULL,
	[DT_CLOSE] [datetime] NULL,
	[CD_USRCLOSE] [varchar](10) NULL,
	[FG_PUR] [char](1) NULL,
	[at_kbl] [numeric](15, 4) NULL,
	[at_fbl] [numeric](15, 4) NULL,
	[fg_s102] [varchar](4) NULL,
	[rt_s102] [numeric](15, 4) NULL,
	[no_license] [varchar](20) NULL,
	[dt_entry] [char](8) NULL,
 CONSTRAINT [PK_POIH] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_PI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_pi]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_pi] ON [DZTPLA].[POIH]
(
	[DN_PI] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
