USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[tlm_t]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[tlm_t](
	[cstcd] [char](7) NOT NULL,
	[prdcd] [char](10) NOT NULL,
	[odrindt] [char](8) NOT NULL,
	[odrno] [char](4) NOT NULL,
	[scodenm] [char](50) NULL,
	[prdnm] [char](50) NULL,
	[odrqty] [float] NULL,
	[untprc] [float] NULL,
	[splamt] [float] NULL,
	[vat] [float] NULL,
	[Rcptamt] [int] NOT NULL,
	[bigo] [char](50) NULL,
	[seq] [int] IDENTITY(1,1) NOT NULL,
	[qt_j] [numeric](18, 0) NULL,
	[qt_c] [numeric](18, 0) NULL,
	[qt_d] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [idx1]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx1] ON [DZTPLA].[tlm_t]
(
	[seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
