USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[scan_prof]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[scan_prof](
	[scan_no] [int] NOT NULL,
	[scan_pc] [varchar](50) NULL,
	[scan_drv] [varchar](1) NULL,
	[scan_dir] [varchar](255) NULL,
	[scan_time] [smalldatetime] NULL,
 CONSTRAINT [pk_scan_prof] PRIMARY KEY NONCLUSTERED 
(
	[scan_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
