USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[OVDIO]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[OVDIO](
	[C_CODE] [char](4) NOT NULL,
	[DN_OVD] [varchar](12) NOT NULL,
	[DT_IO] [char](8) NULL,
	[FG_IO] [char](1) NULL,
	[FG_CNF] [char](1) NULL,
	[QT_ITEM] [numeric](12, 2) NULL,
	[LOTNO] [char](30) NULL,
	[NM_CUST] [varchar](30) NULL,
	[REMARK] [varchar](50) NULL,
	[FG_QT] [char](1) NULL,
	[NM_ITEM] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_OVD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[OVDIO] ADD  CONSTRAINT [DF__OVDIO__FG_CNF__4BB8C2CF]  DEFAULT ('N') FOR [FG_CNF]
GO
