USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSSG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSSG](
	[NO_MSG] [varchar](12) NOT NULL,
	[FROM_USR] [varchar](20) NOT NULL,
	[TO_USR] [varchar](20) NULL,
	[FG_EMG] [varchar](4) NULL,
	[DT_TIME] [varchar](16) NOT NULL,
	[DC_MESSAGE] [text] NULL,
	[DT_ANS] [varchar](16) NULL,
	[DT_DTIME] [datetime] NULL,
	[DT_DEL] [datetime] NULL,
	[NO_REF] [varchar](12) NULL,
	[FG_CONF] [varchar](4) NULL,
	[CONF_USR] [varchar](20) NULL,
	[FG_DEL] [char](1) NULL,
	[FG_MSSG] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_MSG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NO_REF]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_NO_REF] ON [DZTPLA].[MSSG]
(
	[NO_REF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[MSSG] ADD  CONSTRAINT [DF__MSSG__FG_DEL__6B667852]  DEFAULT ('N') FOR [FG_DEL]
GO
