USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[BOARD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[BOARD](
	[NO_MSG] [varchar](12) NOT NULL,
	[FROM_CUST] [varchar](6) NOT NULL,
	[TO_CUST] [varchar](6) NULL,
	[FG_EMG] [varchar](4) NULL,
	[DT_TIME] [varchar](16) NOT NULL,
	[DC_MESSAGE] [varchar](1000) NOT NULL,
	[dt_ans] [varchar](16) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[NO_REQ] [varchar](13) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_MSG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST_DT_TIME]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST_DT_TIME] ON [DZTPLA].[BOARD]
(
	[FROM_CUST] ASC,
	[DT_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
