USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ins]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ins](
	[cr_dt] [datetime] NOT NULL,
	[updt] [datetime] NULL,
	[c_code] [char](4) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[cd_pln] [varchar](12) NOT NULL,
	[standard] [numeric](5, 2) NULL,
 CONSTRAINT [PK_ins] PRIMARY KEY CLUSTERED 
(
	[cr_dt] ASC,
	[c_code] ASC,
	[cd_usr] ASC,
	[cd_pln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ins] ADD  CONSTRAINT [DF_ins_standard]  DEFAULT ((0)) FOR [standard]
GO
