USE [DZTPLA]
GO
/****** Object:  View [DZTPLA].[V_QCK_ORDER]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE view [DZTPLA].[V_QCK_ORDER] as
SELECT CASE WHEN B.NM_FLAG IS NULL THEN A.NM_ITEM
		ELSE B.NM_FLAG END AS NM_ITEM
	 , (SELECT DC_SPEC FROM ITEMGRP (nolock) WHERE CD_ITEM = A.CD_ITEM AND CD_SPEC = A.CD_SPEC AND C_CODE = '1000') AS NM_SPEC
	 , SUM(QTY) AS QTY
	 , A.DN_QCK, ISNULL(A.DC_HOSP_RMK, '') PATIENT
  FROM DZTPLA.DZTPLA.HOSPODER2 (nolock)A
	 LEFT OUTER JOIN DZTPLA.DZTPLA.CODE (nolock) B
	 ON B.C_CODE = '1000' AND B.CD_CLS = 'S164' 
	   AND A.CD_ITEM = B.DC_V2
 WHERE A.DN_QCK <> ''
   AND A.NM_ITEM <> '기타'
   AND A.DT_CANCEL IS NULL
 GROUP BY A.NM_ITEM, A.CD_ITEM, A.CD_SPEC, A.DN_QCK, B.NM_FLAG, ISNULL(A.DC_HOSP_RMK, '')
GO
