USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_LAST_DATE2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [DZTPLA].[DZFN_LAST_DATE2] 
(
 
 @A_date    VARCHAR(8) 
)
RETURNS DATETIME
AS
BEGIN

RETURN (DATEADD(day, -1,DATEADD(MONTH, 1,CONVERT(DATETIME,@A_date,112))) + 0.9999999)

END




GO
