USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_TOT_QTY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [DZTPLA].[DZFN_GET_TOT_QTY] (
 @DC_REMARK  VARCHAR(100)
)
RETURNS NUMERIC(5) AS
BEGIN

Declare	@num 		SMALLINT,
        @DC_RMK  VARCHAR(100)
	
	IF ( ISNULL(@DC_REMARK,'%%%###$$$') = '%%%###$$$' ) 
	return 0

    SELECT @DC_REMARK = REPLACE( @DC_REMARK,'-',' ')

    SELECT @DC_RMK = REPLACE( @DC_REMARK,'BL1','')

    SELECT @DC_RMK = REPLACE( @DC_RMK,'BL2','')

    SELECT @DC_RMK = REPLACE( @DC_RMK,'BLM','')

    SELECT @DC_RMK = REPLACE( @DC_RMK,'LC','')

    SELECT @DC_RMK = REPLACE( @DC_RMK,'SCH','')

    SELECT @DC_RMK = REPLACE( @DC_RMK,'SCC','')

    SELECT @DC_RMK = REPLACE( @DC_RMK,'CCH','')

    SELECT @DC_RMK = REPLACE( @DC_RMK,'CCC','')


	SET @NUM = 0

	WHILE CHARINDEX( ',', @DC_RMK) > 0  
	BEGIN
          SELECT @num += CONVERT(INT, LEFT(@DC_RMK,CHARINDEX( ',',@DC_RMK) - 1))
		  SELECT @DC_RMK = SUBSTRING( @DC_RMK,CHARINDEX( ',',@DC_RMK) + 1,100)
	END
	
	IF LEN(@DC_RMK) > 0 
	   SELECT @num += CONVERT(INT, @DC_RMK)

	return @num

END












GO
