USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_PSSWD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO















CREATE FUNCTION [DZTPLA].[DZFN_PSSWD] (
 @A_PASSWD  VARCHAR(30),
 @A_KEY          VARCHAR(50)
)
RETURNS VARCHAR(32) AS
BEGIN

	--//렌즈명을 품목코드로

Declare	@cPwd  VARCHAR(50),
              @cPassword VARCHAR(50),
              @NLEN         INTEGER,
              @NI              INTEGER

	IF ( ISNULL(@A_PASSWD,'%')='%' )
               RETURN @A_PASSWD

              IF ( ISNULL(@A_KEY,'%')='%' OR @A_KEY = '' )
               SET @A_KEY = '69752463759873950910293484'

	
	SET @NLEN =LEN(@A_PASSWD)
	SET @NI     =1
              SET @cPwd = ''

	WHILE @NI <= @nLen
              BEGIN
		SET @cPwd = @cPwd + char( ascII(SUBSTRING(@A_PASSWD,@NI,1)) + ascII(SUBSTRING(@A_KEY,@NI,1)) - ascII(SUBSTRING(@A_KEY,@NI + 1,1)) )
                         SET @NI = @NI + 1
	END 

	SET @cPassword = @cPwd

/*              

 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
              BEGIN
		SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) 
		SELECT  @LENS_NAME = SUBSTRING(@A_LENS_NAME,1, @N_POS - 1)		
		IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4'  )
	              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
		ELSE
			SELECT @LENS_NAME = @LENS_NAME +' '
		
	END 

 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
              BEGIN
		SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) +1
	              SELECT  @A_LENS_NAME = SUBSTRING(@A_LENS_NAME, @N_POS, 32)
	              SELECT @LENS_NAME = @LENS_NAME + '['
	              IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	                 -- 괄호 열기
	                   SELECT @LENS_NAME = @LENS_NAME + LEFT(@A_LENS_NAME,1) 
	              ELSE
		     SELECT @LENS_NAME = @LENS_NAME + '+'
              END
	ELSE
	BEGIN
	  RETURN @A_LENS_NAME
              END


	SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2
        
              IF ( @N_LEN >= 7 ) 
	BEGIN
		SELECT @N_LEN = CHARINDEX('/', @A_LENS_NAME, 1) -2
	END 
              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32

	IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
	ELSE
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)

              IF (CHARINDEX('.', @TEMPS, 1) = 0 )  --소수점이 없다면
	BEGIN
		SELECT @TEMPS = RIGHT('00'+@TEMPS,2) + '.00' -- 5자리 만들기
	END
	ELSE	
	BEGIN
		SELECT @N_POS = CHARINDEX('.', @TEMPS, 1) +1
	              SELECT  @TEMPE = RTRIM(SUBSTRING(@TEMPS,@N_POS, 32))

		SELECT @TEMPS = LEFT(@TEMPS,@N_POS - 2)

		SELECT @TEMPS = RIGHT('00'+@TEMPS,2)  -- 2자리 만들기
		
		SELECT @TEMPS = LEFT(@TEMPS + '.' + @TEMPE + '00',5)  -- 5자리 만들기
	END

	SELECT @LENS_NAME  = @LENS_NAME + @TEMPS+']'

	IF (ISNULL(@A_LENS_NAME,'%') = '%' )  SELECT @A_LENS_NAME = ''

	SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) +1
              IF ( @N_POS >= 9 ) 
	BEGIN
		SELECT @N_POS = CHARINDEX('/', @A_LENS_NAME, 1) + 1
	END 

              SELECT  @A_LENS_NAME = LTRIM(RTRIM(SUBSTRING(@A_LENS_NAME,@N_POS, 32)))
--	  RETURN @A_LENS_NAME ----------

	IF ( LEN(@A_LENS_NAME) > 1 AND LEFT(@LENS_NAME,1) = 'T' )
	              SELECT @LENS_NAME  = @LENS_NAME +' ' + '['+ LEFT(@A_LENS_NAME,1)   --괄호 닫기
	ELSE
		return @LENS_NAME	
	
	SELECT @TEMPE = ''

	SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2
              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32

	IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
	ELSE
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)

              IF (CHARINDEX('.', @TEMPS, 1) = 0 )  --소수점이 없다면
	BEGIN
		SELECT @TEMPS = RIGHT('0'+@TEMPS,1) + '.0' -- 3자리 만들기
	END
	ELSE
	BEGIN

		SELECT @N_POS = CHARINDEX('.', @TEMPS, 1) +1
	              SELECT  @TEMPE = RTRIM(SUBSTRING(@TEMPS,@N_POS, 32))

		SELECT @TEMPS = LEFT(@TEMPS,@N_POS - 2)

		SELECT @TEMPS = RIGHT('0'+@TEMPS,1)  -- 1자리 만들기

		SELECT @TEMPS = LEFT(@TEMPS + '.' + @TEMPE + '00',3)  -- 3자리 만들기

	END

	
	SELECT @LENS_NAME  = @LENS_NAME + @TEMPS+']'   --괄호 닫기
*/	
	return @cPassword

END















GO
