USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_ITEM_LST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_ITEM_LST](
	[CUST_CODE] [char](8) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[QTY] [numeric](12, 0) NULL,
	[CD_USRCLS] [varchar](10) NULL,
	[DIAMETA] [varchar](8) NULL,
	[DAY_CNT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_CODE] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
