USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_AES_GET]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [DZTPLA].[DZFN_AES_GET](
 @AR_PARM  VARCHAR(100)
 )
RETURNS VARCHAR(256)
AS
BEGIN
 --DECLARE @AS_DECS VARCHAR(256),
 --        @NO_RET VARCHAR(256),
	--	 @AP_PARM1 VARCHAR(100)

 --EXEC DZTPLA_AES_GET2 @AP_PARM1= @AR_PARM , @NO_RET = @AS_DECS OUTPUT

  DECLARE @AS_DECS VARCHAR(256),
         @AS_DECS2 VARCHAR(256),
         @NO_RET VARCHAR(256)

 EXEC DZTPLA_AES_GET2 @AR_PARM = @AR_PARM ,@AS_DECS = @AS_DECS2 OUTPUT

 RETURN @AS_DECS

END



GO
