USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PSH_copy]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PSH_copy](
	[PSH_SEQ] [int] NOT NULL,
	[C_CODE] [char](6) NULL,
	[CD_CUST] [char](6) NULL,
	[CD_HOSP] [char](6) NULL,
	[DC_PATIENT] [char](30) NULL,
	[DC_EPATIENT] [char](50) NULL,
	[DT_PSH] [char](8) NULL,
	[DT_BIRTH] [char](8) NULL,
	[FG_STATUS] [varchar](2) NULL,
	[FG_DN] [char](1) NULL,
	[NM_DOCTOR] [varchar](20) NULL,
	[NM_D_HPHONE] [varchar](15) NULL,
	[NM_CC] [varchar](20) NULL,
	[FAX_NO] [varchar](20) NULL,
	[DC_REMARK] [varchar](100) NULL,
	[TO_REMARK] [varchar](100) NULL,
	[DN_REQ] [varchar](12) NULL
) ON [PRIMARY]
GO
