USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RMK_CUST_ITEM_DATE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RMK_CUST_ITEM_DATE](
	[C_CODE] [char](4) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[DT_DATE] [varchar](8) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[DC_RMK] [varchar](200) NULL,
	[LEAD_TIME] [varchar](10) NULL,
	[DC_AMT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC,
	[CD_ITEM] ASC,
	[DT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
