USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[LM_SR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[LM_SR](
	[C_CODE] [char](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[CD_WHS] [varchar](12) NOT NULL,
	[DT_SRG] [varchar](8) NULL,
	[FG_LENS] [varchar](8) NULL,
	[FG_STAT] [char](1) NULL,
	[FG_IN] [char](1) NULL,
	[DT_RET] [varchar](8) NULL,
	[DC_RMK] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC,
	[CD_SPEC] ASC,
	[CD_WHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
