USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SALPLNH_2013]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SALPLNH_2013](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[dt_plntrm] [varchar](8) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[cd_cust] [char](6) NULL,
	[cd_usr] [varchar](10) NULL,
	[cd_item] [varchar](12) NULL,
	[qt_item] [decimal](15, 4) NULL,
	[up_item] [decimal](15, 4) NULL,
	[at_item] [decimal](15, 4) NOT NULL,
	[dt_reg] [datetime] NOT NULL,
	[cd_regusr] [varchar](10) NOT NULL,
	[cd_co] [char](3) NULL
) ON [PRIMARY]
GO
