USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TEMP_SRL2]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TEMP_SRL2](
	[NO_SERIAL] [varchar](20) NOT NULL,
	[DT_VLD] [varchar](8) NULL,
	[DT_PRD] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
