USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEM2_RES_D_copy]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEM2_RES_D_copy](
	[RES_CODE] [varchar](12) NOT NULL,
	[RES_SEQ] [decimal](5, 0) NOT NULL,
	[RES_SUBNAME] [varchar](100) NULL,
	[RES_DISUSE] [varchar](1) NULL,
	[RES_SUB_IN_DATE] [varchar](8) NULL,
	[RES_SUB_EXP_DATE] [varchar](8) NULL,
	[RES_SUB_QTY] [decimal](5, 0) NULL,
	[RES_SUB_UNIT] [varchar](15) NULL,
	[RES_CONFIRM_DATE] [varchar](8) NULL,
	[RES_SUB_RFID] [varchar](12) NULL,
 CONSTRAINT [ITEM2_RES_D_x] PRIMARY KEY NONCLUSTERED 
(
	[RES_CODE] ASC,
	[RES_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
