USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[DSTL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[DSTL](
	[CD_EXNODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[DN_REL] [varchar](12) NOT NULL,
	[DN_RELLN] [int] NOT NULL,
	[QT_EX] [numeric](15, 4) NULL,
	[CD_DSTNODE] [varchar](4) NULL,
	[CD_DSTWHS] [varchar](12) NULL,
	[DN_ODR] [varchar](12) NULL,
	[DN_ODRLN] [int] NULL,
	[FG_DATA] [varchar](6) NULL,
	[AT_UP] [numeric](15, 4) NULL,
	[certi_no] [varchar](8) NULL,
 CONSTRAINT [PK_DSTL] PRIMARY KEY CLUSTERED 
(
	[CD_EXNODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_LM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_LM] ON [DZTPLA].[DSTL]
(
	[DN_LM] ASC,
	[DN_LN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ODR_LN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ODR_LN] ON [DZTPLA].[DSTL]
(
	[DN_ODR] ASC,
	[DN_ODRLN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_REL_LN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_REL_LN] ON [DZTPLA].[DSTL]
(
	[DN_REL] ASC,
	[DN_RELLN] ASC,
	[DN_LM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[DSTL]  WITH NOCHECK ADD  CONSTRAINT [FK_DSTL_DSTH] FOREIGN KEY([CD_EXNODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_LM])
REFERENCES [DZTPLA].[DSTH] ([CD_EXNODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_LM])
GO
ALTER TABLE [DZTPLA].[DSTL] NOCHECK CONSTRAINT [FK_DSTL_DSTH]
GO
