USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SYSSET]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SYSSET](
	[C_CODE] [char](4) NOT NULL,
	[FG_VAT] [char](1) NOT NULL,
	[FG_PVAT] [char](1) NOT NULL,
	[FG_STTVAL] [char](1) NOT NULL,
	[FG_CSM] [char](1) NOT NULL,
	[YS_CSM] [char](1) NOT NULL,
	[FG_RTN] [char](1) NOT NULL,
	[YS_RTN] [char](1) NOT NULL,
	[FG_ALT] [char](1) NOT NULL,
	[YS_ALT] [char](1) NOT NULL,
	[FG_MOV] [char](1) NOT NULL,
	[YS_MOV] [char](1) NOT NULL,
	[FG_RTNMTD] [char](1) NOT NULL,
	[RT_RTNMTD] [numeric](4, 1) NOT NULL,
	[FG_CSMMTH] [char](1) NOT NULL,
	[FG_AUTOEX] [char](1) NOT NULL,
	[FG_PLNTRM] [char](1) NOT NULL,
	[TM_AVERAGE] [int] NULL,
	[TM_ATP] [int] NULL,
	[CL_SAL] [varchar](4) NULL,
	[CL_PUR] [varchar](4) NULL,
	[CL_MTL] [varchar](4) NULL,
	[CL_ITEM] [varchar](4) NULL,
 CONSTRAINT [PK_SYSSET] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SYSSET] ADD  CONSTRAINT [DF__SYSSET__RT_RTNMT__7DF8932B]  DEFAULT ((0)) FOR [RT_RTNMTD]
GO
ALTER TABLE [DZTPLA].[SYSSET] ADD  CONSTRAINT [DF__SYSSET__FG_AUTOE__7EECB764]  DEFAULT ('1') FOR [FG_AUTOEX]
GO
ALTER TABLE [DZTPLA].[SYSSET] ADD  CONSTRAINT [DF__SYSSET__TM_ATP__7FE0DB9D]  DEFAULT ((1)) FOR [TM_ATP]
GO
