USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PASGNL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PASGNL](
	[c_code] [char](4) NOT NULL,
	[dn_pi] [varchar](12) NOT NULL,
	[dn_piln] [int] NOT NULL,
	[dn_pe] [varchar](12) NOT NULL,
	[at_asgn] [numeric](12, 0) NOT NULL,
	[DN_PELN] [int] NULL,
	[FG_S126] [varchar](4) NULL,
	[AT_TAX_ASGN] [numeric](15, 4) NULL,
 CONSTRAINT [PK_PASGNL] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[dn_pe] ASC,
	[dn_pi] ASC,
	[dn_piln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PASGNL] ADD  CONSTRAINT [DF__PASGNL__at_asgn__7326CA54]  DEFAULT ((0)) FOR [at_asgn]
GO
