USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MEET_URL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MEET_URL](
	[NM_MEET] [varchar](12) NOT NULL,
	[DC_URL] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[NM_MEET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
