USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_SERIAL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [DZTPLA].[DZFN_GET_SERIAL] (
 @DC_REMARK  VARCHAR(100)
)
RETURNS VARCHAR(20) AS
BEGIN

	--//출고거래처 알아내기
Declare	@num 		SMALLINT,
        @DC_RMK  VARCHAR(100),
		@NOSERIAL VARCHAR(10)
	
	IF ( ISNULL(@DC_REMARK,'%%%###$$$') = '%%%###$$$' ) 
	return ''

	IF ( CHARINDEX( '/', @DC_REMARK) > 0 ) 
                  SELECT @DC_RMK = SUBSTRING(@DC_REMARK,CHARINDEX( '/',@DC_REMARK) + 1, 100)
	ELSE 
	    SET @DC_RMK = ''
		--SELECT @DC_RMK = @DC_REMARK

	IF ( CHARINDEX( '/', @DC_RMK) > 0 ) 
	BEGIN
		IF ( SUBSTRING(@DC_RMK,CHARINDEX( '/',@DC_RMK),2) = '//' ) 
			SELECT @DC_RMK = SUBSTRING(@DC_RMK,1, CHARINDEX( '/',@DC_RMK) - 1)+'/'
		ELSE
	                  	SELECT @DC_RMK = SUBSTRING(@DC_RMK,1, CHARINDEX( '/',@DC_RMK) - 1)
	END
 
	IF ( LEN(@DC_RMK) > 6 ) 
	BEGIN

		SELECT @num = COUNT(*) FROM SERIALH WHERE C_CODE >= '1000' AND C_CODE <= '5000' AND NO_SERIAL = @DC_RMK 
	
		if ( @num = 0 )
		BEGIN
		  SELECT @NOSERIAL = MAX(NO_SERIAL) FROM SERIALH WHERE C_CODE >= '1000' AND C_CODE <= '5000' AND NO_SERIAL LIKE @DC_RMK +'%'
		  SET @DC_RMK = @NOSERIAL
		END 
	END
	return @DC_RMK

END











GO
