USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PSH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PSH](
	[PSH_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[C_CODE] [char](4) NULL,
	[CD_CUST] [char](6) NULL,
	[CD_HOSP] [char](6) NULL,
	[DC_PATIENT] [char](30) NULL,
	[DC_EPATIENT] [char](50) NULL,
	[DT_PSH] [char](8) NULL,
	[DT_BIRTH] [char](8) NULL,
	[FG_STATUS] [varchar](2) NULL,
	[FG_DN] [char](1) NULL,
	[NM_DOCTOR] [varchar](20) NULL,
	[NM_D_HPHONE] [varchar](15) NULL,
	[NM_CC] [varchar](20) NULL,
	[FAX_NO] [varchar](20) NULL,
	[DC_REMARK] [varchar](100) NULL,
	[TO_REMARK] [varchar](100) NULL,
	[DN_REQ] [varchar](12) NULL,
 CONSTRAINT [PK_PSH] PRIMARY KEY CLUSTERED 
(
	[PSH_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_ccode_psh]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_ccode_psh] ON [DZTPLA].[PSH]
(
	[C_CODE] ASC,
	[PSH_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_req]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_req] ON [DZTPLA].[PSH]
(
	[DN_REQ] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_hosp_pat_birth]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_hosp_pat_birth] ON [DZTPLA].[PSH]
(
	[CD_HOSP] ASC,
	[DC_PATIENT] ASC,
	[DT_BIRTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_PSH]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_PSH] ON [DZTPLA].[PSH]
(
	[PSH_SEQ] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_psh_status]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_psh_status] ON [DZTPLA].[PSH]
(
	[PSH_SEQ] ASC,
	[FG_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
