USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PER_PC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PER_PC](
	[C_CODE] [char](4) NOT NULL,
	[SNO] [varchar](10) NOT NULL,
	[PC_NAME] [varchar](40) NOT NULL,
	[DT_OFFTIME] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SNO] ASC,
	[PC_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
