USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_AGENCY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE FUNCTION [DZTPLA].[DZFN_GET_AGENCY] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@TO_CD_CUST  VARCHAR(12), 
			@KEY_CODE VARCHAR(12)
		
	 SET @CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)

	 SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C(NOLOCK) WHERE C.C_CODE = '1000' AND C.CD_CUST = @CD_CUST 

	 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
	    SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C (NOLOCK) WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)
		--SELECT TOP 10 * FROM CUST_ITEM_TAG

     select @TO_CD_CUST = C.to_agency from cust_item_tag C (nolock)
								where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE 
									and C.cd_item = @CD_ITEM 
					  
	 IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
	 BEGIN
		select @TO_CD_CUST = C.to_agency from cust_item_tag C (nolock)
									where C.c_code = '1000'
								      and C.CD_CUST = @KEY_CODE
									  and C.cd_item = '*' 


		IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
		BEGIN
			SELECT @KEY_CODE = MAX(C.KEY_CODE) 
				FROM CUST C (NOLOCK) WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

			SET @TO_CD_CUST = (select top 1 C.to_cust 
									from cust_item_tag C (nolock)
								where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE 
									and C.cd_item = @CD_ITEM )
			IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
			   SET @TO_CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

		END 
	END
	ELSE
	BEGIN
		IF ( @TO_CD_CUST = @CD_CUST OR @TO_CD_CUST = @CD_HOSP )  --병원이랑 대리점코드가 같다?
		BEGIN
			select @TO_CD_CUST = C.to_agency from cust_item_tag C (nolock)
			 where C.c_code = '1000'
			   and C.CD_CUST = @KEY_CODE 
			   and C.cd_item = @CD_ITEM 		
			
			IF ( @TO_CD_CUST='1000' )
				SET @TO_CD_CUST='200003'
			ELSE
			BEGIN
				IF ( @TO_CD_CUST='3000' )
					SET @TO_CD_CUST='800000'
				ELSE
					IF ( @TO_CD_CUST='5000' )
					SET @TO_CD_CUST='300003'
			END 

			--SELECT * FROM VBASE_TRADE WHERE CUST_NAME LIKE '%브이티%'
		END 
	END 

	return @TO_CD_CUST

END











GO
