USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAGLOG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAGLOG](
	[C_CODE] [char](4) NOT NULL,
	[DN_RLCD] [varchar](20) NOT NULL,
	[TAG_NO] [varchar](12) NOT NULL,
	[READER_NO] [varchar](20) NULL,
	[DT_REG] [datetime] NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[fg_scan] [varchar](1) NULL,
	[CD_WHS] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_RLCD] ASC,
	[TAG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_RLCD]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_RLCD] ON [DZTPLA].[TAGLOG]
(
	[DN_RLCD] ASC,
	[READER_NO] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_DT_REG]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DT_REG] ON [DZTPLA].[TAGLOG]
(
	[DT_REG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TAG_NO]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_TAG_NO] ON [DZTPLA].[TAGLOG]
(
	[TAG_NO] ASC,
	[DN_RLCD] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
