USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_ITEM_RMK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_ITEM_RMK](
	[C_CODE] [char](4) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[DT_DATE] [char](6) NOT NULL,
	[RMK] [varchar](100) NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[DT_INPUT] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC,
	[CD_ITEM] ASC,
	[CD_USR] ASC,
	[DT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CUST_ITEM_RMK] ADD  CONSTRAINT [DF__CUST_ITEM__CD_US__28A490BC]  DEFAULT (space((10))) FOR [CD_USR]
GO
