USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[temp1]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[temp1](
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[am_amt] [numeric](15, 0) NULL,
 CONSTRAINT [pk_temp1] PRIMARY KEY NONCLUSTERED 
(
	[cd_item] ASC,
	[cd_spec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
