USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSTOCK_201001]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSTOCK_201001](
	[c_code] [char](4) NOT NULL,
	[mnth] [char](6) NOT NULL,
	[fg_acct] [char](1) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[zq] [numeric](20, 2) NULL,
	[za] [numeric](20, 2) NULL,
	[aq] [numeric](20, 2) NULL,
	[aa] [numeric](20, 4) NULL,
	[bq] [numeric](20, 2) NULL,
	[ba] [numeric](20, 4) NULL,
	[cq] [numeric](20, 2) NULL,
	[ca] [numeric](20, 2) NULL,
	[dq] [numeric](20, 4) NULL,
	[da] [numeric](20, 2) NULL,
	[eq] [numeric](20, 2) NULL,
	[ea] [numeric](20, 2) NULL,
	[fq] [numeric](20, 2) NULL,
	[fa] [numeric](20, 2) NULL,
	[gq] [numeric](20, 2) NULL,
	[ga] [numeric](20, 2) NULL,
	[hq] [numeric](20, 2) NULL,
	[ha] [numeric](20, 2) NULL,
	[iq] [numeric](20, 2) NULL,
	[ia] [numeric](20, 2) NULL,
	[jq] [numeric](20, 2) NULL,
	[ja] [numeric](20, 2) NULL,
	[kq] [numeric](20, 2) NULL,
	[ka] [numeric](20, 2) NULL,
	[lq] [numeric](20, 2) NULL,
	[la] [numeric](20, 2) NULL,
	[mq] [numeric](20, 2) NULL,
	[ma] [numeric](20, 2) NULL,
	[nq] [numeric](20, 2) NULL,
	[na] [numeric](20, 2) NULL,
	[oq] [numeric](20, 2) NULL,
	[oa] [numeric](20, 2) NULL,
	[pq] [numeric](20, 2) NULL,
	[pa] [numeric](20, 2) NULL,
	[qq] [numeric](20, 2) NULL,
	[qa] [numeric](20, 2) NULL,
	[rq] [numeric](20, 2) NULL,
	[ra] [numeric](20, 2) NULL,
	[sq] [numeric](20, 2) NULL,
	[sa] [numeric](20, 2) NULL,
	[tq] [numeric](20, 2) NULL,
	[ta] [numeric](20, 2) NULL,
	[uq] [numeric](20, 2) NULL,
	[ua] [numeric](20, 2) NULL,
	[ttl_q]  AS ((((((((((((((((((((([uq]+[zq])+[cq])+[dq])+[gq])+[iq])+[lq])+[nq])+[pq])+[rq])+[tq])-[aq])-[bq])-[eq])-[fq])-[hq])-[jq])-[kq])-[mq])-[oq])-[qq])-[sq]),
	[ttl_a]  AS (((((((((((((((((((((([ua]+[za])+[ca])+[da])+[ga])+[ia])+[la])+[na])+[pa])+[ra])+[ta])-[aa])-[ba])-[ea])-[fa])-[ha])-[ja])-[ka])-[ma])-[oa])-[qa])-[sa])-[zz]),
	[zz] [numeric](20, 2) NULL,
 CONSTRAINT [PK_MSTOCK_201001] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[mnth] ASC,
	[fg_acct] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__zq__6D83CAEE]  DEFAULT ((0)) FOR [zq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__za__6E77EF27]  DEFAULT ((0)) FOR [za]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__aq__6F6C1360]  DEFAULT ((0)) FOR [aq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__aa__70603799]  DEFAULT ((0)) FOR [aa]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__bq__71545BD2]  DEFAULT ((0)) FOR [bq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ba__7248800B]  DEFAULT ((0)) FOR [ba]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__cq__733CA444]  DEFAULT ((0)) FOR [cq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ca__7430C87D]  DEFAULT ((0)) FOR [ca]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__dq__7524ECB6]  DEFAULT ((0)) FOR [dq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__da__761910EF]  DEFAULT ((0)) FOR [da]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__eq__770D3528]  DEFAULT ((0)) FOR [eq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ea__78015961]  DEFAULT ((0)) FOR [ea]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__fq__78F57D9A]  DEFAULT ((0)) FOR [fq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__fa__79E9A1D3]  DEFAULT ((0)) FOR [fa]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__gq__7ADDC60C]  DEFAULT ((0)) FOR [gq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ga__7BD1EA45]  DEFAULT ((0)) FOR [ga]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__hq__7CC60E7E]  DEFAULT ((0)) FOR [hq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ha__7DBA32B7]  DEFAULT ((0)) FOR [ha]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__iq__7EAE56F0]  DEFAULT ((0)) FOR [iq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ia__7FA27B29]  DEFAULT ((0)) FOR [ia]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__jq__00969F62]  DEFAULT ((0)) FOR [jq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ja__018AC39B]  DEFAULT ((0)) FOR [ja]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__kq__027EE7D4]  DEFAULT ((0)) FOR [kq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ka__03730C0D]  DEFAULT ((0)) FOR [ka]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__lq__04673046]  DEFAULT ((0)) FOR [lq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__la__055B547F]  DEFAULT ((0)) FOR [la]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__mq__064F78B8]  DEFAULT ((0)) FOR [mq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ma__07439CF1]  DEFAULT ((0)) FOR [ma]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__nq__0837C12A]  DEFAULT ((0)) FOR [nq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__na__092BE563]  DEFAULT ((0)) FOR [na]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__oq__0A20099C]  DEFAULT ((0)) FOR [oq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__oa__0B142DD5]  DEFAULT ((0)) FOR [oa]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__pq__0C08520E]  DEFAULT ((0)) FOR [pq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__pa__0CFC7647]  DEFAULT ((0)) FOR [pa]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__qq__0DF09A80]  DEFAULT ((0)) FOR [qq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__qa__0EE4BEB9]  DEFAULT ((0)) FOR [qa]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__rq__0FD8E2F2]  DEFAULT ((0)) FOR [rq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ra__10CD072B]  DEFAULT ((0)) FOR [ra]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__sq__11C12B64]  DEFAULT ((0)) FOR [sq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__sa__12B54F9D]  DEFAULT ((0)) FOR [sa]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__tq__13A973D6]  DEFAULT ((0)) FOR [tq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ta__149D980F]  DEFAULT ((0)) FOR [ta]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__uq__1591BC48]  DEFAULT ((0)) FOR [uq]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__ua__1685E081]  DEFAULT ((0)) FOR [ua]
GO
ALTER TABLE [DZTPLA].[MSTOCK_201001] ADD  CONSTRAINT [DF__MSTOCK_20100__zz__177A04BA]  DEFAULT ((0)) FOR [zz]
GO
