USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[dr_document]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[dr_document](
	[dr_no] [varchar](12) NOT NULL,
	[dr_gbn] [varchar](5) NOT NULL,
	[dr_title] [varchar](100) NOT NULL,
	[dr_keep] [varchar](5) NOT NULL,
	[dr_position1] [varchar](5) NOT NULL,
	[dr_position2] [varchar](5) NOT NULL,
	[dr_dept] [varchar](10) NOT NULL,
	[dr_date] [varchar](8) NOT NULL,
	[dr_user] [varchar](10) NOT NULL,
	[dr_search] [varchar](200) NULL,
	[dr_expire_yn] [varchar](1) NULL,
 CONSTRAINT [pk_dr_document] PRIMARY KEY CLUSTERED 
(
	[dr_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
