USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CARD_TRANS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CARD_TRANS](
	[CUST_ID] [varchar](14) NOT NULL,
	[FG_CONF] [varchar](4) NULL,
	[DT_DEAL] [varchar](22) NULL,
	[NO_MACH] [varchar](19) NULL,
	[FG_CARD] [varchar](4) NULL,
	[CARD_COMP] [varchar](20) NULL,
	[CARD_COMP2] [varchar](14) NULL,
	[NO_AGENCY] [varchar](12) NULL,
	[AT_AMT] [numeric](12, 0) NULL,
	[FG_DIV] [varchar](4) NULL,
	[NO_CERTI] [varchar](10) NULL,
	[FG_KEY] [varchar](1) NULL,
	[DT_APPR] [varchar](10) NULL,
	[DT_IMP] [varchar](10) NULL,
	[FG_CERTI] [varchar](4) NULL,
	[FG_DIGITAL] [varchar](1) NULL,
	[AT_SERVICE] [numeric](12, 0) NULL,
	[AT_IMP_PLN] [numeric](12, 0) NULL,
	[DC_RMK] [varchar](10) NULL,
	[CD_CUST] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CARD_TRANS] ADD  DEFAULT ('승인') FOR [FG_CONF]
GO
ALTER TABLE [DZTPLA].[CARD_TRANS] ADD  DEFAULT ('신용') FOR [FG_CARD]
GO
ALTER TABLE [DZTPLA].[CARD_TRANS] ADD  DEFAULT ((0)) FOR [AT_AMT]
GO
ALTER TABLE [DZTPLA].[CARD_TRANS] ADD  DEFAULT ('일시불') FOR [FG_DIV]
GO
ALTER TABLE [DZTPLA].[CARD_TRANS] ADD  DEFAULT ('N') FOR [FG_KEY]
GO
ALTER TABLE [DZTPLA].[CARD_TRANS] ADD  DEFAULT ('정상') FOR [FG_CERTI]
GO
ALTER TABLE [DZTPLA].[CARD_TRANS] ADD  DEFAULT ('Y') FOR [FG_DIGITAL]
GO
ALTER TABLE [DZTPLA].[CARD_TRANS] ADD  DEFAULT ((0)) FOR [AT_SERVICE]
GO
ALTER TABLE [DZTPLA].[CARD_TRANS] ADD  DEFAULT ((0)) FOR [AT_IMP_PLN]
GO
