USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSSG_DN]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSSG_DN](
	[C_CODE] [char](4) NOT NULL,
	[DN_DOC] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[REG_USR] [varchar](10) NOT NULL,
	[REG_TIME] [datetime] NULL,
	[DC_MESSAGE] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_DOC] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
