USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST2AGENCY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [DZTPLA].[DZFN_GET_CUST2AGENCY] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//품목별 출고거래처 대리점 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@TO_CD_CUST  VARCHAR(12), 
			@FR_CD_CUST  VARCHAR(12), 
			@TO_C_CODE VARCHAR(4),
			@CD_AGENCY VARCHAR(12),
			@KEY_CODE VARCHAR(12),
			@CD_AGEN VARCHAR(12)
		
	--SELECT 	DZTPLA.DZFN_GET_CUST2('213149','23121')
	--SELECT 	DZTPLA.DZFN_GET_CUST2('460013','23121')
	
	 SET @CD_CUST = DZTPLA.DZFN_GET_CUST2(@CD_HOSP,@CD_ITEM)
	 
	 IF (LEFT(@CD_CUST,1) = '1' or LEFT(@CD_CUST,1) = '2' AND @CD_CUST <> '241101' AND @CD_CUST <> '213043' AND @CD_CUST <> '200003' AND @CD_CUST <> '210001' or @CD_CUST = '500004' or @CD_CUST = '800001')
	 BEGIN
		SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = @CD_CUST 

		 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
		 BEGIN
			SELECT @CD_CUST = C.CD_AGEN FROM CUST_AGENCY C WHERE C.C_CODE= '1000' AND C.CD_CUST = @CD_CUST AND C.CD_ITEM = '*'
			return @CD_CUST
		 END 

		 select @TO_CD_CUST = C.to_cust2, @FR_CD_CUST = C.TO_CUST, @TO_C_CODE = C.TO_C_CODE, @CD_AGEN = C.TO_AGENCY
		   from cust_item_tag C 
		  where C.c_code = '1000'
			and C.CD_CUST = @KEY_CODE 
			and C.cd_item = @CD_ITEM 

		 IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
		 BEGIN
			select @TO_CD_CUST = C.to_cust2, @FR_CD_CUST = C.TO_CUST, @TO_C_CODE = C.TO_C_CODE, @CD_AGEN = C.TO_AGENCY 
			  from cust_item_tag C 
			 where C.c_code = '1000'
			   and C.CD_CUST = @KEY_CODE
			   and C.cd_item = '*' 


			IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
			BEGIN

			select TOP 1 @TO_CD_CUST = C.to_cust2, @FR_CD_CUST = C.TO_CUST, @TO_C_CODE = C.TO_C_CODE, @CD_AGEN = C.TO_AGENCY 
			  from cust_item_tag C 
			 where C.c_code = '1000'
			   and C.CD_CUST = @KEY_CODE

				IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
				BEGIN
						SELECT @KEY_CODE = MAX(C.KEY_CODE) 
						FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

					select @TO_CD_CUST = C.to_cust2, @FR_CD_CUST = C.TO_CUST, @TO_C_CODE = C.TO_C_CODE, @CD_AGEN = C.TO_AGENCY
											from cust_item_tag C 
										   where C.c_code = '1000'
											 and C.CD_CUST = @KEY_CODE 
											 and C.cd_item = @CD_ITEM 
										
					IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
					BEGIN
					   SET @TO_CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)
					   SET @FR_CD_CUST = @TO_CD_CUST
					   SET @TO_C_CODE  = ''
					END 
				END
			END 
		END
	
/*	IF (@FR_CD_CUST = @TO_CD_CUST) 
	BEGIN 
		IF (@TO_C_CODE='1000')
		    SET @CD_AGENCY = '200003'
		ELSE
		BEGIN
			IF (@TO_C_CODE='3000')
				SET @CD_AGENCY = '800000'
			ELSE
			BEGIN 
				IF (@TO_C_CODE='8001' OR @TO_C_CODE='8002')
					SET @CD_AGENCY = LEFT(@FR_C_CODE,3)+'00'+RIGHT(@FR_C_CODE,1)
				ELSE
				    SET @CD_AGENCY = ''	
			END 
		END		    	
	END
	ELSE
	BEGIN */
		IF (@CD_AGEN IS NULL OR @CD_AGEN = '' )
		BEGIN 

			IF (@TO_C_CODE='1000')
				SET @CD_AGENCY = '200003'
			ELSE
			BEGIN
				IF (@TO_C_CODE='3000')
					SET @CD_AGENCY = '800000'
				ELSE
				BEGIN 
					IF (@TO_C_CODE='8001' OR @TO_C_CODE='8002')
						SET @CD_AGENCY = LEFT(@TO_C_CODE,3)+'00'+RIGHT(@TO_C_CODE,1)
					ELSE
						SET @CD_AGENCY = @CD_CUST	
				END 
			END
		END
		ELSE
		BEGIN
			SET @CD_AGENCY = @CD_AGEN
		END		    			
--	END
	END
	ELSE
	BEGIN
		IF (LEFT(@CD_CUST,1) = '8')
		    SET @CD_AGENCY = @CD_CUST
		ELSE
			SET @CD_AGENCY = @CD_CUST
	END 

	if (@CD_AGENCY = '210001') 
		SET @CD_AGENCY = '200003'
		
	return @CD_AGENCY

END













GO
