USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SALPLNH2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SALPLNH2](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[dt_plntrm] [varchar](8) NOT NULL,
	[sq_no] [int] NOT NULL,
	[c_code] [char](4) NOT NULL,
	[cd_cust] [char](6) NULL,
	[cd_usr] [varchar](10) NULL,
	[cd_item] [varchar](12) NULL,
	[qt_item] [numeric](15, 4) NULL,
	[up_item] [numeric](15, 4) NULL,
	[at_item] [numeric](15, 4) NOT NULL,
	[dt_reg] [datetime] NOT NULL,
	[cd_regusr] [varchar](10) NOT NULL,
	[cd_co] [char](3) NULL,
 CONSTRAINT [PK_SALPLNH2] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[dt_plntrm] ASC,
	[sq_no] ASC,
	[cd_node] ASC,
	[cd_dept] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
