USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ACT_LOG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ACT_LOG](
	[KEY_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[C_CODE] [varchar](4) NULL,
	[DN_NO] [varchar](12) NULL,
	[DN_LN] [int] NULL,
	[GBN] [varchar](20) NULL,
	[CD_USR] [varchar](12) NULL,
	[DT_ACT] [datetime] NULL,
	[DC_RMK] [varchar](200) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[DC_SPEC] [varchar](4) NULL,
	[DC_RMK_ORIGIN] [varchar](200) NULL,
	[CD_HOSP] [varchar](6) NULL,
 CONSTRAINT [PK_ACT_LOG] PRIMARY KEY CLUSTERED 
(
	[KEY_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
