USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TEMP_LOG]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TEMP_LOG](
	[CD_TEMP] [varchar](12) NOT NULL,
	[DT_REG] [varchar](16) NOT NULL,
	[NM_TEMP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_TEMP] ASC,
	[DT_REG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
