USE [DZTPLA]
GO
/****** Object:  View [DZTPLA].[SYS_DW_PRINT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DZTPLA].[SYS_DW_PRINT] AS SELECT * FROM BASE.DZBASE.SYS_DW_PRINT



GO
