USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[tbl_weborder]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[tbl_weborder](
	[d_web_no] [varchar](15) NOT NULL,
	[d_ser] [numeric](5, 0) NOT NULL,
	[d_m3_no] [varchar](13) NULL,
	[d_m_id] [varchar](50) NOT NULL,
	[d_date1] [varchar](10) NOT NULL,
	[d_item_gu] [varchar](1) NULL,
	[d_item_name] [varchar](20) NULL,
	[d_pname] [varchar](150) NULL,
	[d_pcode] [varchar](10) NOT NULL,
	[d_scode] [varchar](20) NOT NULL,
	[d_sname] [varchar](50) NULL,
	[d_base] [varchar](10) NULL,
	[d_power] [varchar](10) NULL,
	[d_cylinder] [varchar](10) NULL,
	[d_qty] [smallint] NOT NULL,
	[d_patient] [varchar](10) NULL,
	[d_juname] [varchar](20) NULL,
	[d_etc] [varchar](100) NULL,
	[d_gubun] [varchar](4) NULL,
	[d_chul] [char](1) NULL,
	[d_date2] [varchar](10) NULL,
	[d_status] [char](10) NULL,
	[fg_acpt] [char](1) NULL,
	[dn_lm] [varchar](12) NULL,
	[at_item] [numeric](10, 0) NULL,
	[dn_se] [varchar](12) NULL,
 CONSTRAINT [PK_tbl_weborder] PRIMARY KEY CLUSTERED 
(
	[d_web_no] ASC,
	[d_ser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[tbl_weborder] ADD  CONSTRAINT [DF_tbl_weborder_od_gubun]  DEFAULT ((0)) FOR [d_qty]
GO
ALTER TABLE [DZTPLA].[tbl_weborder] ADD  CONSTRAINT [DF_tbl_weborder_od_status]  DEFAULT ('0') FOR [d_status]
GO
ALTER TABLE [DZTPLA].[tbl_weborder] ADD  CONSTRAINT [DF__tbl_webor__fg_ac__47BD4962]  DEFAULT ('N') FOR [fg_acpt]
GO
ALTER TABLE [DZTPLA].[tbl_weborder] ADD  CONSTRAINT [DF_tbl_weborder_dn_lm]  DEFAULT ('') FOR [dn_lm]
GO
