USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSSG_USR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSSG_USR](
	[NO_MSG] [varchar](12) NOT NULL,
	[TO_USR] [varchar](20) NOT NULL,
	[DT_ANS] [varchar](16) NULL,
	[DT_MAIL] [varchar](16) NULL,
	[FG_DEL] [char](1) NULL,
	[FG_USR] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_MSG] ASC,
	[TO_USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[MSSG_USR] ADD  CONSTRAINT [DF__MSSG_USR__FG_DEL__6C5A9C8B]  DEFAULT ('N') FOR [FG_DEL]
GO
ALTER TABLE [DZTPLA].[MSSG_USR] ADD  CONSTRAINT [DF__MSSG_USR__FG_USR__1B158B74]  DEFAULT ('수신') FOR [FG_USR]
GO
