USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[COEH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[COEH](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_CO] [varchar](12) NOT NULL,
	[NO_MNG] [varchar](20) NULL,
	[DT_CO] [datetime] NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_CUSTSAL] [char](6) NOT NULL,
	[CD_EXNODE] [varchar](12) NOT NULL,
	[CD_COWHS] [varchar](12) NOT NULL,
	[CD_PLACE] [int] NOT NULL,
	[FG_S103] [varchar](4) NOT NULL,
	[DC_IFM] [varchar](160) NULL,
	[DT_REG] [datetime] NOT NULL,
	[CD_REGUSR] [varchar](10) NOT NULL,
	[DT_UPD] [datetime] NOT NULL,
	[CD_UPUSR] [varchar](10) NOT NULL,
	[FG_CFRM] [char](1) NULL,
	[CD_WHS_F] [varchar](12) NULL,
 CONSTRAINT [PK_COEH] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_CO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_co_custsal]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_co_custsal] ON [DZTPLA].[COEH]
(
	[DN_CO] ASC,
	[CD_CUSTSAL] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_coeh]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_dn_coeh] ON [DZTPLA].[COEH]
(
	[DN_CO] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[COEH] ADD  CONSTRAINT [DF_COEH_FG_CFRM]  DEFAULT ((0)) FOR [FG_CFRM]
GO
ALTER TABLE [DZTPLA].[COEH] ADD  CONSTRAINT [DF__COEH__CD_WHS_F__6CAFA246]  DEFAULT ('WA') FOR [CD_WHS_F]
GO
