USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_BIZ_LOG_CNT2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [DZTPLA].[DZFN_BIZ_LOG_CNT2] (
 @CMID  VARCHAR(50),
 @REQDATE VARCHAR(10),
 @MSGBODY VARCHAR(200)
)
RETURNS NUMERIC(3) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@YYYYMM  VARCHAR(6),
		    @CNT     INT 

	 SET @YYYYMM = CONVERT(CHAR(6), GETDATE(),112)
	 SELECT @CNT = COUNT(*) FROM biz_log WHERE CMID LIKE RTRIM(@CMID)+'%' AND REQUEST_TIME >= @REQDATE AND MSG_BODY LIKE @MSGBODY ;
	 /*
	 IF (@YYYYMM = '201807')
	 SELECT @CNT = COUNT(*) FROM biz_log_201807 WHERE CMID LIKE RTRIM(@CMID)+'%' AND REQUEST_TIME >= @REQDATE AND MSG_BODY LIKE @MSGBODY ;
	 ELSE
	 BEGIN
		 IF (@YYYYMM = '201808')
		 SELECT @CNT = COUNT(*) FROM biz_log_201808 WHERE CMID LIKE RTRIM(@CMID)+'%' AND REQUEST_TIME >= @REQDATE AND MSG_BODY LIKE @MSGBODY ;
		 ELSE
		 BEGIN
			 IF (@YYYYMM = '201809')
			 SELECT @CNT = COUNT(*) FROM biz_log_201809 WHERE CMID LIKE RTRIM(@CMID)+'%' AND REQUEST_TIME >= @REQDATE AND MSG_BODY LIKE @MSGBODY ;			 		 
		 END
	 END
	 */
	return @CNT

END











GO
