USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SALPLNL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SALPLNL](
	[C_CODE] [varchar](4) NOT NULL,
	[CD_CUST] [varchar](6) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[DT_PLNTRM] [varchar](8) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC,
	[CD_USR] ASC,
	[DT_PLNTRM] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
