USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SERIALH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SERIALH](
	[c_code] [char](4) NOT NULL,
	[no_serial] [varchar](20) NOT NULL,
	[fg_type] [char](1) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[qt_item] [numeric](15, 4) NOT NULL,
	[dt_vld] [varchar](8) NOT NULL,
	[no_lot] [varchar](20) NULL,
	[cd_node] [varchar](4) NOT NULL,
	[dt_reg] [datetime] NOT NULL,
	[cd_regusr] [varchar](10) NULL,
	[ty_bar] [char](1) NULL,
	[dn_rel] [varchar](12) NULL,
	[dn_relln] [int] NULL,
	[dt_prod] [varchar](8) NULL,
	[DC_SPEC] [varchar](4) NULL,
	[FG_OWNER] [varchar](5) NULL,
 CONSTRAINT [PK_SERIALH] PRIMARY KEY NONCLUSTERED 
(
	[c_code] ASC,
	[no_serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CODE_SERIAL_ITEM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CODE_SERIAL_ITEM] ON [DZTPLA].[SERIALH]
(
	[c_code] ASC,
	[no_serial] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CODE_SERIAL_ITEM_CDSPEC]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CODE_SERIAL_ITEM_CDSPEC] ON [DZTPLA].[SERIALH]
(
	[c_code] ASC,
	[cd_item] ASC,
	[cd_spec] ASC,
	[no_serial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEM_SERIAL_OWNER]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ITEM_SERIAL_OWNER] ON [DZTPLA].[SERIALH]
(
	[c_code] ASC,
	[cd_item] ASC,
	[no_serial] ASC,
	[FG_OWNER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SERIAL_DT_VLD]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SERIAL_DT_VLD] ON [DZTPLA].[SERIALH]
(
	[no_serial] ASC,
	[dt_vld] ASC,
	[c_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SERIAL_OWNER]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SERIAL_OWNER] ON [DZTPLA].[SERIALH]
(
	[no_serial] ASC,
	[FG_OWNER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SERIALH] ADD  DEFAULT ('    ') FOR [DC_SPEC]
GO
ALTER TABLE [DZTPLA].[SERIALH] ADD  DEFAULT ('WJM') FOR [FG_OWNER]
GO
ALTER TABLE [DZTPLA].[SERIALH]  WITH CHECK ADD  CONSTRAINT [FK_SERIALH_ITEMGRP] FOREIGN KEY([c_code], [cd_item], [cd_spec])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[SERIALH] CHECK CONSTRAINT [FK_SERIALH_ITEMGRP]
GO
