USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[STK_TKG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[STK_TKG](
	[C_CODE] [char](4) NOT NULL,
	[DN_TKG] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NULL,
	[CD_LOC] [varchar](6) NULL,
	[DT_TKG] [char](8) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[DN_MSN] [varchar](20) NULL,
	[DT_REG] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_TKG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
