USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_PROMOTION]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_PROMOTION](
	[SEQ] [int] IDENTITY(1,1) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[DT_START] [varchar](6) NULL,
	[DT_END] [varchar](6) NULL,
	[REMARK] [varchar](50) NULL,
	[REMARK2] [varchar](50) NULL,
	[REMARK3] [varchar](50) NULL,
 CONSTRAINT [PK_CUST_PROMOTION] PRIMARY KEY CLUSTERED 
(
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
