USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUSTM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [DZTPLA].[DZFN_GET_CUSTM] (
 @CD_HOSP  VARCHAR(12)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
Declare	@num 		SMALLINT,
              @CD_CUST  VARCHAR(12),
			  @CD_CUST2  VARCHAR(12)

    
	IF ( SUBSTRING(@CD_HOSP,1,1) = '2' OR SUBSTRING(@CD_HOSP,1,1) = '1' OR SUBSTRING(@CD_HOSP,1,1) = '5' OR SUBSTRING(@CD_HOSP,1,1) = '8')
	BEGIN
		SET @CD_CUST2 = @CD_HOSP
		/*
		SELECT @CD_CUST = (SELECT TOP 1 S.CD_CUST FROM CUST S WHERE S.C_CODE= '1000' 
		                      AND S.KEY_CODE= (SELECT C.KEY_CODE FROM CUST C WHERE C.C_CODE= '1000' AND C.CD_CUST=@CD_HOSP)
							  AND S.FG_MAST = 'Y')
		*/
		SELECT @CD_CUST = (SELECT TOP 1 S.CD_CUST FROM CUST S (NOLOCK) WHERE S.C_CODE='1000' AND S.FG_MAST = 'Y' AND S.KEY_CODE = (SELECT  C.KEY_CODE FROM CUST C WHERE C.C_CODE='1000' AND C.CD_CUST=@CD_HOSP))

		IF (@CD_CUST IS NULL)
		SELECT @CD_CUST = MAX(CUST_CODE) FROM AGENCY A (nolock) WHERE A.C_CODE='1000' AND A.SETTLE = @CD_HOSP

		IF (@CD_CUST IS NULL)
		SELECT @CD_CUST = (SELECT TOP 1 S.CD_CUST FROM CUST S(NOLOCK), CUST C (NOLOCK)
		WHERE S.C_CODE=C.C_CODE AND S.KEY_CODE = C.KEY_CODE AND S.C_CODE='1000' AND C.CD_CUST=@CD_HOSP)


		--SELECT @CD_CUST = (SELECT TOP 1 S.CD_CUST FROM CUST S WHERE S.C_CODE= '1000' AND S.KEY_CODE= (SELECT C.KEY_CODE FROM CUST C WHERE C.C_CODE= '1000' AND C.CD_CUST=@CD_HOSP))
	END 
	ELSE
	BEGIN

--		SELECT @CD_CUST2 = (SELECT MAX(CD_CUST) FROM AGENCY A (nolock) WHERE A.C_CODE='1000' AND A.CUST_CODE = @CD_HOSP) 

--		IF ( @CD_CUST2 IS NULL OR RTRIM(@CD_CUST2)='')
		SELECT @CD_CUST2 = (SELECT MAX(A.SETTLE) FROM AGENCY A(NOLOCK) WHERE A.C_CODE='1000' AND A.CUST_CODE = @CD_HOSP) 

		IF ( @CD_CUST2 IS NULL )
		    SET @CD_CUST2 = @CD_HOSP 

		IF ( @CD_CUST2 IS NOT NULL AND @CD_HOSP <> @CD_CUST2 AND LEFT(@CD_CUST2,1) ='2' ) 
		BEGIN
			SELECT @CD_CUST = (SELECT TOP 1 S.CD_CUST FROM CUST S(NOLOCK) WHERE S.C_CODE='1000' AND S.FG_MAST = 'Y' AND S.KEY_CODE = (SELECT  C.KEY_CODE FROM CUST C(NOLOCK) WHERE C.C_CODE='1000' AND C.CD_CUST=@CD_CUST2))

			--SELECT @CD_CUST = (SELECT TOP 1 S.CD_CUST FROM CUST S WHERE S.C_CODE= '1000' 
			--					  AND S.KEY_CODE= (SELECT KEY_CODE FROM CUST C WHERE C.C_CODE= '1000' AND C.CD_CUST=@CD_CUST2)
			--					  AND S.FG_MAST = 'Y')
			IF ( @CD_CUST IS NULL) 
			    SET @CD_CUST = @CD_HOSP

		END 	
		ELSE
		  SET @CD_CUST = @CD_HOSP
	END


        

	return @CD_CUST

/*
	--//출고거래처 알아내기
Declare	@num 		SMALLINT,
              @CD_CUST  VARCHAR(12),
			  @CD_CUST2  VARCHAR(12)

    
	IF ( SUBSTRING(@CD_HOSP,1,1) = '2' OR SUBSTRING(@CD_HOSP,1,1) = '1' OR SUBSTRING(@CD_HOSP,1,1) = '5' OR SUBSTRING(@CD_HOSP,1,1) = '8')
	BEGIN
	
		--SELECT @CD_CUST = CUST_CODE FROM AGENCY WHERE C_CODE='1000' AND SETTLE = @CD_HOSP
	    
		--IF (@CD_CUST IS NULL)
		--BEGIN
			SET @CD_CUST2 = @CD_HOSP

			SELECT @CD_CUST = (SELECT TOP 1 CD_CUST FROM CUST S WHERE S.C_CODE= '1000' 
								  AND S.KEY_CODE= (SELECT KEY_CODE FROM CUST C WHERE C.C_CODE= '1000' AND C.CD_CUST=@CD_HOSP)
								  AND S.FG_MAST = 'Y')
			IF (@CD_CUST IS NULL)
			SELECT @CD_CUST = (SELECT TOP 1 CD_CUST FROM CUST S WHERE S.C_CODE= '1000' 
							AND S.KEY_CODE= (SELECT KEY_CODE FROM CUST C WHERE C.C_CODE= '1000' AND C.CD_CUST=@CD_HOSP))
		--END 
		--ELSE
		--BEGIN
		--	SET @CD_CUST2 = @CD_CUST			
		--END 
	END 
	ELSE
	BEGIN

--		SELECT @CD_CUST2 = (SELECT MAX(CD_CUST) FROM AGENCY A (nolock) WHERE A.C_CODE='1000' AND A.CUST_CODE = @CD_HOSP) 

--		IF ( @CD_CUST2 IS NULL OR RTRIM(@CD_CUST2)='')
		SELECT @CD_CUST2 = (SELECT MAX(SETTLE) FROM AGENCY A (nolock) WHERE A.C_CODE='1000' AND A.CUST_CODE = @CD_HOSP) 

		--IF ( @CD_CUST2 IS NULL )
		--	SET @CD_CUST = @CD_HOSP
		--ELSE
		--BEGIN
		IF ( @CD_CUST2 IS NULL )
		    SET @CD_CUST2 = @CD_HOSP

			IF ( @CD_CUST2 IS NOT NULL AND @CD_HOSP <> @CD_CUST2 AND LEFT(@CD_CUST2,1) ='2' ) 
			BEGIN
				SELECT @CD_CUST = (SELECT TOP 1 CD_CUST FROM CUST S WHERE S.C_CODE= '1000' 
									  AND S.KEY_CODE= (SELECT KEY_CODE FROM CUST C WHERE C.C_CODE= '1000' AND C.CD_CUST=@CD_CUST2)
									  AND S.FG_MAST = 'Y')
				IF ( @CD_CUST IS NULL) 
					SET @CD_CUST = @CD_HOSP

			END 	
			ELSE
			  SET @CD_CUST = @CD_HOSP
		--END
	END

	return @CD_CUST
*/
END












GO
