USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_STRTRIM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








CREATE FUNCTION [DZTPLA].[DZFN_STRTRIM] (
 @A_PHONE  VARCHAR(30)
)
RETURNS VARCHAR(32) AS
BEGIN

	--//전화번호 기호제거하기

Declare	@cPhone VARCHAR(50),
              @NLEN         INTEGER,
	@Ni	      INTEGER

	SET @cPhone =LTRIM(RTRIM(@A_PHONE))
	SET @NLEN   =LEN(@A_PHONE)

	IF ( ISNULL(@cPhone,'%')='%' )
               RETURN @cPhone

	SET @Ni = 0
	SET @cPhone = ''

	WHILE (@Ni <= @NLEN)
	BEGIN

	     SET @Ni = @Ni + 1

	      IF  ( ASCii(SUBSTRING(@A_PHONE, @Ni, 1) )  >= 48 AND ASCii(SUBSTRING(@A_PHONE, @Ni, 1) )  <= 57 )
		     SET @cPhone = @cPhone + SUBSTRING(@A_PHONE, @Ni, 1)

                   
	END

	return @cPhone

END















GO
