USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_ADDRESS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_ADDRESS](
	[SEQ] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CD_CUST] [varchar](6) NULL,
	[NM_CUST] [varchar](50) NOT NULL,
	[DELI_TYPE] [varchar](10) NULL,
	[DELI_ZIP] [varchar](6) NOT NULL,
	[DELI_ADDR1] [varchar](100) NOT NULL,
	[DELI_ADDR2] [varchar](100) NULL,
	[DELI_TEL] [varchar](20) NOT NULL,
	[DELI_HP] [varchar](20) NULL,
	[DELI_RMK1] [varchar](20) NULL,
	[DELI_RMK2] [varchar](50) NULL,
 CONSTRAINT [PK_CUST_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
