USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[NUM_TO_CHAR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






CREATE FUNCTION [DZTPLA].[NUM_TO_CHAR] (
 @NO_AMT   NUMERIC(14),
 @CTYPE     CHAR(1)
)
RETURNS VARCHAR(30) AS
BEGIN

Declare	@S_AMT  VARCHAR(30)
Declare	@S_AMT2  VARCHAR(30)

Declare @dan_hangul varchar(28)
Declare @dan_hanja varchar(28)
Declare @digit_hangul varchar(18)
Declare @digit_hanja varchar(18)
Declare @nCount int, @nCnt int

SET @dan_hangul = '십백천만십백천억십백천조십백'
SET @dan_hanja  = '拾百阡萬拾百阡億拾百阡兆拾百'
SET @digit_hangul = '일이삼사오육칠팔구'
SET @digit_hanja  = '壹貳參四五六七八九'

IF ( @NO_AMT < 0 )
	SET @NO_AMT = @NO_AMT * -1

SET @S_AMT =  CONVERT(VARCHAR(20), @NO_AMT )  --// Argument값을 string로 변환
SET @nCount = Len( @S_AMT )   --// Argument값의 길이 Check
SET @nCnt = 1
SET @S_AMT2 = ''

IF ( @nCount > 15 OR  SUBSTRING( @S_AMT, 2, 1 ) = '.' ) 
	RETURN " "

IF ( @CTYPE = '1' ) 	----// 숫자값을 한글로 변환
BEGIN
	
	WHILE  @nCnt <= @nCount 
	BEGIN
		IF (SUBSTRING( @S_AMT, @nCnt, 1 ) != '0' )
		BEGIN
		    
			SET @S_AMT2 = @S_AMT2 + SUBSTRING(@digit_hangul,CONVERT(INTEGER,SUBSTRING( @S_AMT, @nCnt, 1 )),1) 
			IF ( @nCount - @nCnt > 0 )
				 SET @S_AMT2 = @S_AMT2 + SUBSTRING(@dan_hangul, @nCount - @nCnt,1) 


		END
		ELSE
		BEGIN
			IF ( (@nCount - @nCnt) = 4 OR ( @nCount - @nCnt) = 8  OR ( @nCount - @nCnt) = 12 )
			BEGIN
				IF ( SUBSTRING( @S_AMT2, Len(@S_AMT2) - 1, 1 ) <> '만' ) AND ( SUBSTRING( @S_AMT2, Len(@S_AMT2) - 1, 1 ) <> '억' ) AND ( SUBSTRING( @S_AMT2, Len(@S_AMT2) - 1, 1 ) <> '조' )  
					SET @S_AMT2 = @S_AMT2+ SUBSTRING(@dan_hangul, @nCount - @nCnt ,1) 				
			END
		END
		SET @nCnt = @nCnt + 1
	END
	
END
ELSE
BEGIN
	IF  ( @CTYPE = '2' )	--// 숫자값을 한자로 변환
	BEGIN 
		WHILE ( @nCnt <= @nCount )
		BEGIN
	--		IF ( SUBSTRING( @S_AMT, @nCnt, 1 ) <> "0" )
	--		BEGIN
	--			SET @S_AMT = @S_AMT + digit_hanja[ long( SUBSTRING( @S_AMT, nCnt, 1 ) ) ]
	--			SET @S_AMT = @S_AMT+dan_hanja[ nCount - nCnt ]			
	--		END 
	--		ELSE
	--		BEGIN
	--			IF ( (@nCount - @nCnt) = 4 ) OR ( @nCount - @nCnt ) = 8  OR   (@nCount - @nCnt) = 12 ) 
	--			BEGIN
	--				IF ( SUBSTRING( @S_AMT, Len(@S_AMT) - 1, 2 ) <> "萬" ) AND ( SUBSTRING( @S_AMT, Len(@S_AMT) - 1, 2 ) <> "億" ) AND ( SUBSTRING( @S_AMT, Len(@S_AMT) - 1, 2 ) <> "兆" ) 
	--					SET @S_AMT = @S_AMT+dan_hanja[ nCount - nCnt ]
	--			END
	--		END
			SET @nCnt = @nCnt + 1
		END
	END 
END 

	
	RETURN @S_AMT2

END









GO
