USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_DCSPEC2LANS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










CREATE FUNCTION [DZTPLA].[DZFN_DCSPEC2LANS] (
 @A_CD_ITEM  VARCHAR(12),
 @A_CD_SPEC VARCHAR(30)
)
RETURNS VARCHAR(50) AS
BEGIN

	--//품목코드를 렌즈명으로

Declare	@LENS_NAME  VARCHAR(30),
              @A_LENS_NAME  VARCHAR(30),
              @TEMPS         VARCHAR(30),
              @TEMPE         VARCHAR(30),
              @N_POS        INTEGER,
              @N_LEN         INTEGER

	SELECT @A_LENS_NAME = MAX(DC_SPEC) FROM ITEMGRP P WHERE P.CD_ITEM = @A_CD_ITEM AND P.CD_SPEC = @A_CD_SPEC 

	IF ( LEFT(@A_LENS_NAME, 2) = 'VT'  )
	BEGIN
		IF (CHARINDEX('ICM5', @A_LENS_NAME, 1)  > 0 )
			SELECT @LENS_NAME = LEFT(@A_LENS_NAME,11)+' '
		ELSE
			SELECT @LENS_NAME = LEFT(@A_LENS_NAME,10)+' '
	END
	ELSE
	BEGIN
		IF ( LEFT(@A_LENS_NAME, 1) = 'T'  )
	              BEGIN
		   SELECT @LENS_NAME = LEFT(@A_LENS_NAME,9)+' '
		END
		ELSE
		BEGIN
		   IF ( LEFT(@A_LENS_NAME, 2) = 'VI'  )
			   SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,2,7)+' '			
		   ELSE
			   SELECT @LENS_NAME = LEFT(@A_LENS_NAME,6)+' '
		END	
	END 

 	IF ( CHARINDEX('[', @A_LENS_NAME, 1) > 0 )
              BEGIN
		SELECT @N_POS = CHARINDEX('[', @A_LENS_NAME, 1) +1
	              SELECT  @A_LENS_NAME = SUBSTRING(@A_LENS_NAME, @N_POS, 30)
	              IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	                 -- 괄호 열기
	                   SELECT @LENS_NAME = @LENS_NAME + LEFT(@A_LENS_NAME,1) 
	              ELSE
		     SELECT @LENS_NAME = @LENS_NAME + '+'
              END
	ELSE
	BEGIN
	  RETURN @A_LENS_NAME
              END

	SELECT @N_LEN = CHARINDEX(']', @A_LENS_NAME, 1) -2
              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 30

	IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
	BEGIN
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN) 
		SELECT @TEMPS = CAST ( CAST(@TEMPS AS NUMERIC(5,2) ) AS VARCHAR(10))
	END 
	ELSE
	BEGIN
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)
	END

	SELECT @A_LENS_NAME = LTRIM(SUBSTRING(@A_LENS_NAME, @N_LEN + 3, 30)	)

              IF (CHARINDEX('.00', @TEMPS, 1) >  0 )  
	BEGIN
		SELECT @TEMPS = LEFT(@TEMPS,LEN(@TEMPS) - 3) 
	END 
              ELSE
	BEGIN
	              IF (RIGHT( @TEMPS, 1) = '0' )  --소수점이 없다면
		BEGIN
			SELECT @TEMPS = LEFT(@TEMPS,LEN(@TEMPS) - 1) 
		END
	END 

	SELECT @LENS_NAME  = @LENS_NAME + @TEMPS+' '

	IF (LEN(RTRIM(@A_LENS_NAME)) > 0 )
	BEGIN
		SELECT @N_POS = CHARINDEX('[', @A_LENS_NAME, 1) +1
	              SELECT  @A_LENS_NAME = SUBSTRING(@A_LENS_NAME, @N_POS, 30)

	              IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	        
	                   SELECT @LENS_NAME = @LENS_NAME + LEFT(@A_LENS_NAME,1) 
	              ELSE
		     SELECT @LENS_NAME = @LENS_NAME + '+'

		SELECT @N_LEN = CHARINDEX(']', @A_LENS_NAME, 1) -2
	              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 30
	
		IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
		BEGIN
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN) 
			SELECT @TEMPS = CAST ( CAST(@TEMPS AS NUMERIC(5,1) ) AS VARCHAR(10))
		END 
		ELSE
		BEGIN
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)
		END
	
		SELECT @A_LENS_NAME = SUBSTRING(@A_LENS_NAME, @N_LEN + 2, 30)
	
	              IF (CHARINDEX('.0', @TEMPS, 1) >  0 )  
		BEGIN
			SELECT @TEMPS = LEFT(@TEMPS,LEN(@TEMPS) - 2) 
		END 

		SELECT @LENS_NAME  = @LENS_NAME + @TEMPS

	END

			
	return @LENS_NAME

END










GO
