USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_AGENCY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_AGENCY](
	[C_CODE] [char](4) NOT NULL,
	[CD_CUST] [varchar](6) NOT NULL,
	[CD_AGEN] [varchar](8) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[DT_REG] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC,
	[CD_AGEN] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CUST_AGENCY] ADD  CONSTRAINT [DF__CUST_AGEN__CD_IT__352A6332]  DEFAULT ('*') FOR [CD_ITEM]
GO
ALTER TABLE [DZTPLA].[CUST_AGENCY] ADD  CONSTRAINT [DF__CUST_AGEN__DT_RE__361E876B]  DEFAULT (getdate()) FOR [DT_REG]
GO
