USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RMK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RMK](
	[C_CODE] [char](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[DC_RMK1] [varchar](50) NULL,
	[CD_USER] [varchar](20) NULL,
	[FG_PGM] [varchar](3) NULL,
	[DT_CONF] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
