USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ICL_PATIENT_LENS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ICL_PATIENT_LENS](
	[C_CODE] [char](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[DT_LM] [datetime] NULL,
	[CD_SALCUST] [varchar](6) NOT NULL,
	[DC_PATIENT] [varchar](30) NOT NULL,
	[OS_OD] [char](2) NULL,
	[DT_BIRTH] [varchar](8) NULL,
	[QTY] [int] NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[DC_LM] [varchar](160) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC,
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST_PATIENT_DT_BIRTH]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST_PATIENT_DT_BIRTH] ON [DZTPLA].[ICL_PATIENT_LENS]
(
	[CD_SALCUST] ASC,
	[DC_PATIENT] ASC,
	[DT_BIRTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DC_LM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DC_LM] ON [DZTPLA].[ICL_PATIENT_LENS]
(
	[DC_LM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SERIAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SERIAL] ON [DZTPLA].[ICL_PATIENT_LENS]
(
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
