USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WJMALL_POINT]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WJMALL_POINT](
	[user_id] [varchar](20) NULL,
	[point_date] [datetime] NULL,
	[point_gbn] [varchar](10) NULL,
	[point] [numeric](10, 0) NULL,
	[no_req] [varchar](12) NULL
) ON [PRIMARY]
GO
