USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WJMALL_ANSWER]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WJMALL_ANSWER](
	[faq_no] [varchar](12) NOT NULL,
	[faq_seq] [numeric](5, 0) NOT NULL,
	[context] [varchar](500) NULL,
	[user_id] [varchar](20) NULL,
	[regi_date] [datetime] NULL,
 CONSTRAINT [PK_WJMALL_ANSWER] PRIMARY KEY CLUSTERED 
(
	[faq_no] ASC,
	[faq_seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
