USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[HOSP_STOCK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[HOSP_STOCK](
	[C_CODE] [char](4) NOT NULL,
	[DT_YYYYMM] [char](6) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[QT_ITEM] [numeric](10, 0) NULL,
	[FG_GRP] [varchar](10) NULL,
	[FG_STOCK] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DT_YYYYMM] ASC,
	[CD_CUST] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
