USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_WHS2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







CREATE FUNCTION [DZTPLA].[DZFN_GET_WHS2] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@TO_CD_CUST  VARCHAR(12), 
			@KEY_CODE VARCHAR(12),
			@WHS    VARCHAR(2)		

	IF (Isnull(@CD_HOSP,'%') = '%' OR ISNULL(@CD_ITEM,'%') = '%')
		return 'WA'
			
	 SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP) 

	 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
	    SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

     select @WHS = C.FR_WHS from cust_item_tag C 
								where C.c_code = '1000'  
									and C.CD_CUST = @KEY_CODE  
									and C.cd_item = @CD_ITEM  
								    and isnull(C.fg_use,'Y') = 'Y'													  
					  
	 IF (@WHS IS NULL or @WHS = '' ) 
	 BEGIN 
		select @WHS = C.FR_WHS from cust_item_tag C  
									where C.c_code = '1000'  
									and C.CD_CUST = @KEY_CODE  
									  and C.cd_item = '*'  


		IF (@WHS IS NULL or @WHS = '' )
		BEGIN
		   SET @WHS = 'WA'

		END 
	END

	return @WHS

END










GO
