USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[zip_s]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[zip_s](
	[CD_ZIP] [varchar](5) NOT NULL,
	[NM_CITY] [varchar](20) NOT NULL,
	[NM_COUNTY] [varchar](20) NOT NULL,
	[NM_TOWNSHIP] [varchar](20) NOT NULL,
	[NM_ROAD] [varchar](80) NOT NULL,
	[NM_VILL] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_ZIP] ASC,
	[NM_CITY] ASC,
	[NM_COUNTY] ASC,
	[NM_TOWNSHIP] ASC,
	[NM_ROAD] ASC,
	[NM_VILL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[zip_s] ADD  DEFAULT ('') FOR [NM_TOWNSHIP]
GO
ALTER TABLE [DZTPLA].[zip_s] ADD  DEFAULT ('') FOR [NM_ROAD]
GO
ALTER TABLE [DZTPLA].[zip_s] ADD  DEFAULT ('') FOR [NM_VILL]
GO
