USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CMPLNH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CMPLNH](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[dt_plntcm] [varchar](8) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[cd_cust] [char](6) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[at_cmn] [numeric](15, 4) NOT NULL,
	[dt_reg] [datetime] NOT NULL,
 CONSTRAINT [PK_CMPLNH] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[dt_plntcm] ASC,
	[c_code] ASC,
	[cd_cust] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
