USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PHONE_RSP]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PHONE_RSP](
	[DN_LM] [varchar](12) NOT NULL,
	[FG_END] [char](1) NULL,
	[DC_RMK] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[DN_LM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
