USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_HOSP]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










CREATE FUNCTION [DZTPLA].[DZFN_GET_HOSP] (
 @CD_HOSP  VARCHAR(12)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
Declare	@num 		SMALLINT,
              @CD_CUST  VARCHAR(12)

	
	IF ( LEFT(@CD_HOSP,1) = '2' )
	BEGIN
		SELECT @CD_CUST = ISNULL((SELECT MAX(CUST_CODE) FROM AGENCY A WHERE A.C_CODE = '1000' AND DZTPLA.DZFN_GET_CUSTM(A.CUST_CODE)=DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)),
		                        (SELECT DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)))
	END
    ELSE
	BEGIN
		SELECT @CD_CUST = ISNULL((SELECT MAX(CUST_CODE) FROM AGENCY A WHERE A.C_CODE = '1000' AND A.CD_CUST=@CD_HOSP),
		                        @CD_HOSP)

		--SELECT @CD_CUST = @CD_HOSP
    END
	              
	return @CD_CUST

END










GO
