USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CLSL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CLSL](
	[data_gubun] [varchar](2) NOT NULL,
	[write_date] [char](8) NOT NULL,
	[data_no] [numeric](4, 0) NOT NULL,
	[data_line] [numeric](4, 0) NOT NULL,
	[data_slip] [numeric](4, 0) NOT NULL,
	[dept_code] [varchar](12) NOT NULL,
	[node_code] [varchar](4) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[amt_gubun] [char](1) NOT NULL,
	[dr_amt] [numeric](15, 0) NOT NULL,
	[cr_amt] [numeric](15, 0) NOT NULL,
	[acct_code] [char](5) NOT NULL,
	[bal_date] [char](8) NULL,
	[ven_type] [char](1) NULL,
	[tax_gu] [char](2) NULL,
	[gong_amt] [numeric](15, 0) NULL,
	[tax_vat] [numeric](15, 0) NULL,
	[ven_code] [char](6) NULL,
	[s_idno] [varchar](15) NULL,
	[gong_am2] [numeric](15, 0) NULL,
	[bul_gubun] [char](1) NULL,
	[export_no] [char](1) NULL,
	[exch_code] [char](3) NULL,
	[exch_rate] [numeric](15, 0) NULL,
	[exch_amt] [numeric](15, 0) NULL,
	[cardno] [varchar](20) NULL,
	[eje_rate] [char](1) NULL,
	[relat_no] [varchar](30) NULL,
	[bill_no] [varchar](12) NULL,
	[sugum_type] [char](1) NULL,
	[sugum_date] [char](8) NULL,
	[silmul_dept_code] [varchar](12) NULL,
	[bill_type] [char](1) NULL,
	[iss_date] [char](8) NULL,
	[due_date] [char](8) NULL,
	[bank_code] [varchar](3) NULL,
	[iss] [varchar](20) NULL,
	[p_endorse] [varchar](20) NULL,
	[bill_amt] [numeric](15, 0) NULL,
	[bank_jum] [varchar](30) NULL,
	[bank_code2] [varchar](3) NULL,
	[bank_jum2] [varchar](30) NULL,
	[sitak_date] [char](8) NULL,
	[fund_code] [varchar](20) NULL,
 CONSTRAINT [PK_CLSL] PRIMARY KEY CLUSTERED 
(
	[data_gubun] ASC,
	[write_date] ASC,
	[data_no] ASC,
	[data_slip] ASC,
	[dept_code] ASC,
	[node_code] ASC,
	[c_code] ASC,
	[data_line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CLSL] ADD  CONSTRAINT [DF__CLSL__dr_amt__76776CF4]  DEFAULT ((0)) FOR [dr_amt]
GO
ALTER TABLE [DZTPLA].[CLSL] ADD  CONSTRAINT [DF__CLSL__cr_amt__776B912D]  DEFAULT ((0)) FOR [cr_amt]
GO
ALTER TABLE [DZTPLA].[CLSL]  WITH CHECK ADD  CONSTRAINT [FK_CLSL_REFERENCE_CLSH] FOREIGN KEY([data_gubun], [write_date], [data_no], [data_slip], [dept_code], [node_code], [c_code])
REFERENCES [DZTPLA].[CLSH] ([data_gubun], [write_date], [data_no], [data_slip], [dept_code], [node_code], [c_code])
GO
ALTER TABLE [DZTPLA].[CLSL] CHECK CONSTRAINT [FK_CLSL_REFERENCE_CLSH]
GO
