USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_ROTATE_DATE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/* 회전일  */
CREATE FUNCTION [DZTPLA].[DZFN_GET_ROTATE_DATE](@ARS_C_CODE    CHAR(4),@ARS_CD_CUST  CHAR(6),@ARS_DT_DST    VARCHAR(8))
RETURNS VARCHAR(8)
AS
BEGIN

	DECLARE @RS_ROTATE VARCHAR(8)
	DECLARE @AT_CRD       NUMERIC(15,4), @AT_REM NUMERIC(15,4)
	
	SELECT @AT_REM = (SUM(AT_CRD) - SUM(AT_RCRD) - SUM(AT_CRM) ) +sum(at_altercm) 
	   FROM cm
	 WHERE c_code = @ARS_C_CODE
	      AND cd_cust = @ARS_CD_CUST
	      AND mt_crm <= @ARS_DT_DST 
/*
	IF ( @ARS_C_CODE = '3000' )
    BEGIN
    
		IF ( @AT_REM <= 0 )
		BEGIN 

		   SELECT @RS_ROTATE = @ARS_DT_DST 

		END 
		ELSE
		BEGIN 

			DECLARE cm_cursor CURSOR FOR 
			SELECT SUM(at_crd)+SUM(at_altercm), mt_crm
			   FROM cm
			 WHERE c_code IN ('3000','8001','8002')
				  AND cd_cust = @ARS_CD_CUST
				  AND mt_crm <= @ARS_DT_DST
				  AND at_crd+at_altercm > 0 
			GROUP BY MT_CRM
			ORDER BY mt_crm desc
			
			OPEN cm_cursor
			
			FETCH NEXT FROM cm_cursor 
			INTO @AT_CRD, @RS_ROTATE
			
			WHILE @@FETCH_STATUS = 0
			BEGIN
			   IF ( @AT_CRD >= @AT_REM )
				   BREAK
			   ELSE
				   SELECT @AT_REM = @AT_REM - @AT_CRD
			   
			   FETCH NEXT FROM cm_cursor 
			   INTO @AT_CRD, @RS_ROTATE
			END
			
			CLOSE cm_cursor
			DEALLOCATE cm_cursor
			
		END 
	END
	ELSE
	BEGIN 
*/	
	IF ( ISNULL(@AT_REM,0) = 0 ) 
	BEGIN
		SELECT @RS_ROTATE = @ARS_DT_DST 
	END 
	ELSE 
	BEGIN
		IF ( @AT_REM <= 0 )
		BEGIN 

		   SELECT @RS_ROTATE = @ARS_DT_DST 

		END 
		ELSE
		BEGIN 

			DECLARE cm_cursor CURSOR FOR 
			SELECT at_crd+at_altercm, mt_crm
			   FROM cm
			 WHERE c_code = @ARS_C_CODE
				  AND cd_cust = @ARS_CD_CUST
				  AND mt_crm <= @ARS_DT_DST
				  AND at_crd+at_altercm > 0 
			ORDER BY mt_crm desc
			
			OPEN cm_cursor
			
			FETCH NEXT FROM cm_cursor 
			INTO @AT_CRD, @RS_ROTATE
			
			WHILE @@FETCH_STATUS = 0
			BEGIN
			   IF ( @AT_CRD >= @AT_REM )
				   BREAK
			   ELSE
				   SELECT @AT_REM = @AT_REM - @AT_CRD
			   
			   FETCH NEXT FROM cm_cursor 
			   INTO @AT_CRD, @RS_ROTATE
			END
			
			CLOSE cm_cursor
			DEALLOCATE cm_cursor
			
		END 	
	END
--	END 

	RETURN ( @RS_ROTATE )
END



GO
