USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[dr_location]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[dr_location](
	[seq] [numeric](5, 0) IDENTITY(1,1) NOT NULL,
	[dr_a] [varchar](5) NOT NULL,
	[dr_b] [varchar](5) NOT NULL,
	[dr_c] [varchar](5) NOT NULL,
	[dr_d] [varchar](5) NOT NULL,
	[dr_e] [varchar](5) NOT NULL,
	[dr_f] [varchar](5) NOT NULL,
	[dr_g] [varchar](5) NOT NULL,
	[dr_h] [varchar](5) NOT NULL,
	[dr_i] [varchar](5) NOT NULL,
	[dr_j] [varchar](5) NOT NULL,
	[dr_k] [varchar](5) NOT NULL,
	[dr_l] [varchar](5) NOT NULL,
	[dr_m] [varchar](5) NOT NULL,
	[remk1] [varchar](20) NULL,
 CONSTRAINT [PK_dr_location] PRIMARY KEY CLUSTERED 
(
	[seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
