USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_RETURN_IN_PLAN_QTY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE FUNCTION [DZTPLA].[DZFN_RETURN_IN_PLAN_QTY] (@vchCompCode   VARCHAR(4) = '', @vchNodeCode    VARCHAR(4) ='', 
                                                                          @vchItem   VARCHAR(12) ='',    @vchSpec            VARCHAR(12) ='',
                                                                          @dtDate                DATETIME)
RETURNS  numeric(6) AS
BEGIN
	DECLARE @iReturn  numeric(6)

	SELECT @iReturn = 0
	
--	EXECUTE DZTPLA.USP_RETRUN_IN_PLAN_QTY  @vchCompCode, @vchNodeCode, @vchItem, @vchSpec, @dtDate, @iReturn
--
--	RETURN (@iReturn)

	DECLARE @iSumOutValue INT
	DECLARE @iSumOrderValue INT
	DECLARE @iSumOperValue numeric(6) 
	DECLARE @iSumOperValue2 numeric(6) 
	
	SELECT @iSumOutValue = 0
	
	SELECT @iSumOrderValue = 0
	
	SELECT @iSumOperValue = 0
	
	SELECT @iSumOperValue2 = 0
	
	/* 입고진행중인 수량 ->입고중 수량 (구매입고table 집계)  */
	SELECT @iSumOutValue = sum(case c.yn_lm when '0' then c.qt_oitem when '1' then c.qt_litem end ) 
	  FROM POIL c, POIH d
	 WHERE c.cd_node  = d.cd_node
	   AND c.cd_dept      = d.cd_dept
	   AND c.cd_usr       = d.cd_usr
	   AND c.dn_pi          = d.dn_pi
	   AND d.cd_innode  = @vchNodeCode
	   AND c.c_code       = @vchCompCode
	   AND c.cd_item       = @vchItem
	   AND c.cd_spec     = @vchSpec
	   AND c.yn_lm          = '0'  
	   AND d.dt_pi         <= @dtDate + 0.9999999
	   AND EXISTS ( SELECT a.dn_po, a.dc_ln
		               FROM POL a, POH b
		             WHERE a.cd_node     = b.cd_node
		                  AND a.cd_dept      = b.cd_dept
		                  AND a.cd_usr        = b.cd_usr
		                  AND a.dn_po         = b.dn_po
			    AND b.fg_odr         = '0'  
		                  AND b.dt_po         <= @dtDate + 0.9999999
	                                AND a.dn_po         = c.dn_od
	                                AND a.dc_ln          = c.dn_odln
	                          )
	
	
	/* 수주후 미입고 수량 -> 입고진행중인 수량 없는것 ( 미구매진행 수량 )   */
	SELECT @iSumOrderValue = SUM(qt_item) 
	  FROM POL a, POH b
	 WHERE a.cd_node  = b.cd_node
	   AND a.cd_dept      = b.cd_dept
	   AND a.cd_usr        = b.cd_usr
	   AND a.dn_po         = b.dn_po
	   AND b.cd_innode = @vchNodeCode
	   AND a.c_code       = @vchCompCode
	   AND a.cd_item       = @vchItem
	   AND a.cd_spec     = @vchSpec
	   AND b.fg_odr         = '0'  
	   AND a.dt_in          <= @dtDate + 0.9999999
	   AND not EXISTS ( SELECT sum(c.qt_oitem)
	                                  FROM POIL c, POIH d
	                                 WHERE c.cd_node     = d.cd_node
		                        AND c.cd_dept      = d.cd_dept
			          AND c.cd_usr        = d.cd_usr
			          AND c.dn_pi          = d.dn_pi
	--		          AND d.cd_innode  = @vchNodeCode
	--		          AND c.c_code       = @vchCompCode
	--		          AND c.cd_item       = @vchItem
	--		          AND c.cd_spec     = @vchSpec
			          AND d.dt_pi         <= @dtDate + 0.9999999
	                                      AND c.dn_od         = a.dn_po
	                                      AND c.dn_odln       = a.dc_ln
	                              group by c.dn_od, c.dn_odln having sum(case c.yn_lm when '0' then c.qt_oitem when '1' then c.qt_litem end )  > 0
	                                        )
	
	/* 발주후 미입고 수량  -> 입고 진행중인 수량을 빼서 구함 ( 구매진행중 수량 )   */
	SELECT @iSumOperValue =  SUM(qt_item)            
	    FROM POL a, POH b
	  WHERE a.cd_node  = b.cd_node
	       AND a.cd_dept      = b.cd_dept
	       AND a.cd_usr        = b.cd_usr
	       AND a.dn_po         = b.dn_po
	       AND b.cd_innode = @vchNodeCode
	       AND a.c_code       = @vchCompCode
	       AND a.cd_item       = @vchItem
	       AND a.cd_spec     = @vchSpec
	       AND b.fg_odr         = '0'  
	       AND b.dt_po         <= @dtDate + 0.9999999
	       AND   EXISTS ( SELECT sum(c.qt_oitem)
	                                  FROM POIL c, POIH d
	                                 WHERE c.cd_node     = d.cd_node
		                        AND c.cd_dept      = d.cd_dept
			          AND c.cd_usr        = d.cd_usr
			          AND c.dn_pi         = d.dn_pi
			          AND d.dt_pi         <= @dtDate + 0.9999999
	                                      AND c.dn_od         = a.dn_po
	                                      AND c.dn_odln       = a.dc_ln
	                              group by c.dn_od, c.dn_odln having sum(case c.yn_lm when '0' then c.qt_oitem when '1' then c.qt_litem end )  > 0
	                                        )
	
	SELECT @iSumOperValue2 = sum(case c.yn_lm when '0' then c.qt_oitem when '1' then c.qt_litem end ) 
	   FROM POIL c, POIH d
	 WHERE c.cd_node     = d.cd_node
	      AND c.cd_dept      = d.cd_dept
	      AND c.cd_usr        = d.cd_usr
	      AND c.dn_pi         = d.dn_pi
	      AND d.dt_pi         <= @dtDate + 0.9999999
	      AND exists ( SELECT a.dn_po, a.dc_ln
		               FROM POL a, POH b
		             WHERE a.cd_node     = b.cd_node
		                  AND a.cd_dept      = b.cd_dept
		                  AND a.cd_usr        = b.cd_usr
		                  AND a.dn_po         = b.dn_po
		                  AND b.cd_innode  = @vchNodeCode
		                  AND a.c_code       = @vchCompCode
		                  AND a.cd_item       = @vchItem
		                  AND a.cd_spec     = @vchSpec
			    AND b.fg_odr         = '0'  
		                  AND b.dt_po         <= @dtDate + 0.9999999
	                                AND a.dn_po         = c.dn_od
	                                AND a.dc_ln          = c.dn_odln
	                          )
	
	SELECT @iSumOperValue = IsNull(@iSumOperValue,0) 
	
	SELECT @iSumOperValue2 = IsNull(@iSumOperValue2,0) 
	
	SELECT @iSumOperValue = @iSumOperValue - @iSumOperValue2
	             
	SELECT @iSumOutValue = IsNull(@iSumOutValue,0) 
	
	SELECT @iSumOrderValue = isNull(@iSumOrderValue,0) 
	
	SELECT @iReturn = @iSumOrderValue + @iSumOutValue + @iSumOperValue
	
	
	RETURN (@iReturn)
END






GO
