USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[FILEDIR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[FILEDIR](
	[F_NAME] [varchar](100) NOT NULL,
	[F_EXT] [varchar](10) NULL,
	[F_PATH] [varchar](300) NOT NULL,
	[RMK] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[F_NAME] ASC,
	[F_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
