USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SERIAL_AMT2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SERIAL_AMT2](
	[C_CODE] [char](4) NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[DT_INVOICE] [varchar](8) NULL,
	[DT_PAYMNT] [varchar](8) NULL,
	[NO_SEND] [varchar](30) NULL,
	[FG_REP] [char](1) NULL,
	[DT_REP] [char](8) NULL
) ON [PRIMARY]
GO
