USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CRH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CRH](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_SR] [varchar](12) NOT NULL,
	[NO_MNG] [varchar](20) NULL,
	[DT_IN] [datetime] NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_CUSTSAL] [char](6) NOT NULL,
	[CD_INNODE] [varchar](4) NOT NULL,
	[DC_IFM] [varchar](80) NULL,
	[DT_REG] [datetime] NOT NULL,
	[CD_REGUSR] [varchar](10) NOT NULL,
	[DT_UPD] [datetime] NOT NULL,
	[CD_UPUSR] [varchar](10) NOT NULL,
	[TM_REG] [datetime] NULL,
 CONSTRAINT [PK_CRH] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_SR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_sr]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_dn_sr] ON [DZTPLA].[CRH]
(
	[DN_SR] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CRH] ADD  CONSTRAINT [DF_CRH_TM_REG]  DEFAULT (getdate()) FOR [TM_REG]
GO
