USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TICL_IO_LIST]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TICL_IO_LIST](
	[C_CODE] [varchar](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DT_LM] [varchar](8) NOT NULL,
	[CD_SALCUST] [varchar](6) NOT NULL,
	[PATIENT] [varchar](30) NOT NULL,
	[ODOS] [varchar](2) NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[DT_BIRTH] [varchar](8) NULL,
	[DC_LM] [varchar](160) NULL,
	[FG_VIEW] [varchar](1) NULL,
	[FG_SEND] [varchar](1) NULL,
	[FG_PAY] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[CD_SALCUST] ASC,
	[PATIENT] ASC,
	[ODOS] ASC,
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_PAY]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_PAY] ON [DZTPLA].[TICL_IO_LIST]
(
	[FG_PAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SEND]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SEND] ON [DZTPLA].[TICL_IO_LIST]
(
	[FG_SEND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SERIAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SERIAL] ON [DZTPLA].[TICL_IO_LIST]
(
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[TICL_IO_LIST] ADD  DEFAULT ('Y') FOR [FG_VIEW]
GO
ALTER TABLE [DZTPLA].[TICL_IO_LIST] ADD  DEFAULT ('N') FOR [FG_SEND]
GO
ALTER TABLE [DZTPLA].[TICL_IO_LIST] ADD  DEFAULT ('N') FOR [FG_PAY]
GO
