USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_LANS2DCSPEC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








CREATE                         FUNCTION [DZTPLA].[DZFN_LANS2DCSPEC] (
 @A_LENS_NAME  VARCHAR(50)
)
RETURNS VARCHAR(50) AS
BEGIN

	--//렌즈명을 품목코드로

Declare	@LENS_NAME  VARCHAR(50),
              @TEMPS         VARCHAR(50),
              @TEMPE         VARCHAR(50),
              @VERSTR       VARCHAR(4),
              @N_POS        INTEGER,
              @N_LEN         INTEGER,
			  @DIOPTER       VARCHAR(5)


--select dztpla.dzfn_lans2cdspec('ICM 11.5mm -8.50') Toric ICM 12.0mm -14.00/+3.5 X084
/*
Toric ICM 12.6mm -10.00/+2 X090
Toric ICM 12.6mm -9.00/+2 X090
ICM 12.6mm -5.50
ICM 12.6mm -10.00
V4B Toric ICM 13.2mm -13.50/+2.5 X098
V4C Myopic 12.6mm -7.00
VICM512.1mm -7.50
V5EO Myopic 12.1mm -7.50
V5EO Toric Myopic 12.1mm -9.50/+2 X090
V5EO Toric ICM 12.1mm -13.00/+2 X083
V5EO Toric ICM 12.1mm -8.50/+1.5X100
V5EO Toric ICM 13.2mm -11.00/+2X105 
V5EO Toric Myopic 12.6mm -14.50/+3 X097 => V4C  
*/
	IF ( LEFT(@A_LENS_NAME,2) = 'V4' or LEFT(@A_LENS_NAME,2) = 'V5') 
	BEGIN
		SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) + 1
		SELECT @VERSTR = LEFT(@A_LENS_NAME, @N_POS -1)
		SELECT @A_LENS_NAME = LTRIM(SUBSTRING(@A_LENS_NAME, @N_POS, 50))
	END
	ELSE
	BEGIN
		IF ( CHARINDEX('Myopic', @A_LENS_NAME, 1) > 0 )
		BEGIN
			SELECT @A_LENS_NAME = Replace(@A_LENS_NAME, 'VICM5', 'ICM ')
			SELECT @VERSTR = '5'
		END 
	END

--RETURN @VERSTR
--RETURN @A_LENS_NAME  --- Toric ICM 12.6mm -11.00/+3.5 X090

	IF ( CHARINDEX('Myopic', @A_LENS_NAME, 1) > 0 )
	BEGIN
		SELECT @N_POS = CHARINDEX('Myopic', @A_LENS_NAME, 1) + 1
		SELECT @A_LENS_NAME = Replace(@A_LENS_NAME, 'Myopic', 'ICM')
	END

	IF ( CHARINDEX('mm', @A_LENS_NAME, 1) > 0 )
	BEGIN 
	 	IF ( CHARINDEX('Toric', @A_LENS_NAME, 1) > 0 )
        BEGIN
		 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
		    BEGIN
				IF ( CHARINDEX('.0m', @A_LENS_NAME, 1) > 0  OR CHARINDEX('.5m', @A_LENS_NAME, 1) > 0 )
				BEGIN
					SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
					SELECT @LENS_NAME = 'T' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) + SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )
					IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4' AND RIGHT(RTRIM(@LENS_NAME), 2) <> 'V5' )
				              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
					ELSE
						SELECT @LENS_NAME = @LENS_NAME +' '
					
					SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
				END
				ELSE
				BEGIN
					IF ( CHARINDEX('CMO', @A_LENS_NAME, 1) > 0 )
					BEGIN
						SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
						SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,4)+ SUBSTRING(@A_LENS_NAME,@N_POS + 4, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 7, 1 ) +' '
						
						SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
					END
					ELSE
					BEGIN
						IF ( CHARINDEX('4C', @VERSTR, 1) > 0 )
						BEGIN
							SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
							SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+'O'+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 ) +' '
							SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
						END
						ELSE  --//V4 OR V4B OR V5
						BEGIN
							IF ( CHARINDEX('5', @VERSTR, 1) > 0 )    
							BEGIN
								SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
		--							SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+'O'+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 ) +' '
								SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+'5_'+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 ) +' '
								SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)   --//VTICM5_13.2
--RETURN @LENS_NAME
--RETURN @A_LENS_NAME  --- Toric ICM 12.6mm -11.00/+3.5 X090
							END
							ELSE
							BEGIN
								IF ( CHARINDEX('4B', @VERSTR, 1) > 0 )
								BEGIN --V4B
									SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
		--							SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+'O'+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 ) +' '
									SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 ) +' '
									SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
								END
								ELSE
								BEGIN
									SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
									SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+'O'+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 ) +' '
		--							SELECT @LENS_NAME = 'VT' + SUBSTRING(@A_LENS_NAME,@N_POS -1,3)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 ) +' '
									SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
								END 
							END 
						
						END
					END
				END
			END 
		END
		ELSE  -- ICL
		BEGIN

		 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
            BEGIN
				IF ( CHARINDEX('.0m', @A_LENS_NAME, 1) > 0  OR CHARINDEX('.5m', @A_LENS_NAME, 1) > 0 )
				BEGIN
					SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
					SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) + SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )
					IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4'  )
				              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
					ELSE
						SELECT @LENS_NAME = @LENS_NAME +' '
					
					SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
				END
				ELSE
				BEGIN

					SELECT @N_POS = CHARINDEX('CM', @A_LENS_NAME, 1)
					IF ( CHARINDEX('V', @A_LENS_NAME, 1) > 0  )
					BEGIN
						IF ( CHARINDEX('CMO', @A_LENS_NAME, 1) > 0  )
						BEGIN
							SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,1,@N_POS + 2)+ SUBSTRING(@A_LENS_NAME,@N_POS + 4, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 7, 1 )+' '
						END
						ELSE
						BEGIN
							IF ( CHARINDEX('4C', @VERSTR, 1) > 0 )
							BEGIN
								SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ 'O'+SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
							END
							ELSE
							BEGIN
								SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ 'O'+SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
--								SELECT @LENS_NAME = SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
							END
						END

--						SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
					END
					ELSE
					BEGIN
--RETURN @A_LENS_NAME  --- ICM 12.6mm -9.00
--RETURN @N_POS  -- 2
						IF ( CHARINDEX('5', @VERSTR, 1) > 0 )
						BEGIN
								SELECT @LENS_NAME = 'VICM5_'+SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
--							    SELECT @LENS_NAME = 'ERROR'
						END
						ELSE
						BEGIN
							IF ( CHARINDEX('4C', @VERSTR, 1) > 0 )
							BEGIN
								SELECT @LENS_NAME = 'V'+SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ 'O'+SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
							END
							ELSE
							BEGIN
								SELECT @LENS_NAME = 'V'+SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ 'O'+SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
	--							SELECT @LENS_NAME = 'V'+SUBSTRING(@A_LENS_NAME,1,@N_POS + 1)+ SUBSTRING(@A_LENS_NAME,@N_POS + 3, 2 ) +'.'+ SUBSTRING(@A_LENS_NAME,@N_POS + 6, 1 )+' '
							END
						END 

--						SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
					END
--					IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4'  )
--				              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
--					ELSE
--						SELECT @LENS_NAME = @LENS_NAME +' '
--					
				SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1)
				END
			END 
		END
	
	 	IF ( CHARINDEX('mm', @A_LENS_NAME, 1) > 0 )  -- -11.00/+2X105 
	              BEGIN
			SELECT @N_POS = CHARINDEX('mm', @A_LENS_NAME, 1) + 3
		              SELECT  @A_LENS_NAME = LTRIM(SUBSTRING(@A_LENS_NAME, @N_POS, 32))
		              SELECT @LENS_NAME = @LENS_NAME + '['
		              IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	                 -- 괄호 열기
		                   SELECT @LENS_NAME = @LENS_NAME + LEFT(@A_LENS_NAME,1) 
		              ELSE
			     SELECT @LENS_NAME = @LENS_NAME + '+'
	              END
		ELSE
		BEGIN
			RETURN @A_LENS_NAME
	    END    --// [-

		SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2

	    IF ( ISNULL(@N_LEN,999) = 999 ) 
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,32)
		ELSE
		BEGIN
		    IF ( @N_LEN >= 7 ) 
			BEGIN
				SELECT @N_LEN = CHARINDEX('/', @A_LENS_NAME, 1) -2
			END 
	
		    IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32

			IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
				SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
			ELSE
				SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)

		END 

	END
	ELSE
	BEGIN
	 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
	              BEGIN

			IF ( CHARINDEX('O11', @A_LENS_NAME, 1) = 0 AND CHARINDEX('O12', @A_LENS_NAME, 1) = 0 AND CHARINDEX('O13', @A_LENS_NAME, 1) = 0 AND 
                                                CHARINDEX('M12.1', @A_LENS_NAME, 1) = 0 AND CHARINDEX('M12.6', @A_LENS_NAME, 1) = 0 AND CHARINDEX('M132', @A_LENS_NAME, 1) = 0 AND CHARINDEX('M137', @A_LENS_NAME, 1) = 0 )  -- OR CHARINDEX('.', @A_LENS_NAME, 1) = 0
			BEGIN

				SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) 
				SELECT  @LENS_NAME = SUBSTRING(@A_LENS_NAME,1, @N_POS - 1)	
				IF ( RIGHT(RTRIM(@LENS_NAME), 2) <> 'V4' AND LEN(@LENS_NAME) = 6 )
			              	SELECT @LENS_NAME = @LENS_NAME +'V4 '
				ELSE
					SELECT @LENS_NAME = @LENS_NAME +' '
			END
			ELSE
			BEGIN

				SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) 
				SELECT  @LENS_NAME = SUBSTRING(@A_LENS_NAME,1, @N_POS - 1)	
				SELECT @LENS_NAME = @LENS_NAME +' '
			END
			
		END 

	 	IF ( CHARINDEX(' ', @A_LENS_NAME, 1) > 0 )
	              BEGIN
			SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) +1
		              SELECT  @A_LENS_NAME = LTRIM(SUBSTRING(@A_LENS_NAME, @N_POS, 32))
		              SELECT @LENS_NAME = @LENS_NAME + '['
		              IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	                 -- 괄호 열기
		                   SELECT @LENS_NAME = @LENS_NAME + LEFT(@A_LENS_NAME,1) 
		              ELSE
			     SELECT @LENS_NAME = @LENS_NAME + '+'
	              END
		ELSE
		BEGIN
			RETURN @A_LENS_NAME
	              END

		SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2
	              IF ( @N_LEN >= 7 ) 
		BEGIN
			SELECT @N_LEN = CHARINDEX('/', @A_LENS_NAME, 1) -2
		END 

	              IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32
	
		        
		IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
		ELSE
			SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)

	END

--return @TEMPS

    IF (CHARINDEX('.', @TEMPS, 1) = 0 )  --소수점이 없다면
	BEGIN
		SELECT @TEMPS = RIGHT('00'+@TEMPS,2) + '.00' -- 5자리 만들기
	END
	ELSE	
	BEGIN
		SELECT @N_POS = CHARINDEX('.', @TEMPS, 1) +1
	              SELECT  @TEMPE = RTRIM(SUBSTRING(@TEMPS,@N_POS, 32))

		SELECT @TEMPS = LEFT(@TEMPS,@N_POS - 2)

		SELECT @TEMPS = RIGHT('00'+@TEMPS,2)  -- 2자리 만들기
		
		SELECT @TEMPS = LEFT(@TEMPS + '.' + @TEMPE + '00',5)  -- 5자리 만들기
	END

--return @TEMPS  --08.50

	SELECT @LENS_NAME  = @LENS_NAME + @TEMPS+']'
--RETURN @LENS_NAME -----
	SET @DIOPTER = @TEMPS

	IF (ISNULL(@A_LENS_NAME,'%') = '%' )  SELECT @A_LENS_NAME = ''

	SELECT @N_POS = CHARINDEX(' ', @A_LENS_NAME, 1) +1
    IF ( @N_POS >= 9 OR @N_POS = 1) 
	BEGIN
		SELECT @N_POS = CHARINDEX('/', @A_LENS_NAME, 1) + 1
	END 

    SELECT  @A_LENS_NAME = LTRIM(RTRIM(SUBSTRING(@A_LENS_NAME,@N_POS, 32)))
    
--RETURN @A_LENS_NAME ---------- +1.5X100

	IF ( LEN(@A_LENS_NAME) > 1 AND ( LEFT(@LENS_NAME,1) = 'T' or LEFT(@LENS_NAME,2) = 'VT' ) )
	    SELECT @LENS_NAME  = @LENS_NAME +' ' + '['+ LEFT(@A_LENS_NAME,1)   --괄호 닫기
	ELSE
		return @LENS_NAME	

--RETURN @LENS_NAME ---------- VTICMO12.1 [-08.50] [-
	
	IF ( CHARINDEX('X', @A_LENS_NAME, 1) > 0 ) 
	SELECT @A_LENS_NAME = LEFT(@A_LENS_NAME, CHARINDEX('X', @A_LENS_NAME, 1) -1)
	
	SELECT @TEMPE = ''

	SELECT @N_LEN = CHARINDEX(' ', @A_LENS_NAME, 1) -2
    IF ( @N_LEN <= 0 ) SELECT @N_LEN = 32

	IF (LEFT(@A_LENS_NAME,1) = '-' OR LEFT(@A_LENS_NAME,1) = '+' ) 	
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,2,@N_LEN)
	ELSE
		SELECT @TEMPS = SUBSTRING(@A_LENS_NAME,1,@N_LEN + 1)

--RETURN @TEMPS  --  8.50/+1.5X100

    IF (CHARINDEX('.', @TEMPS, 1) = 0 )  --소수점이 없다면
	BEGIN
		SELECT @TEMPS = RIGHT('0'+@TEMPS,1) + '.0' -- 3자리 만들기

	END
	ELSE
	BEGIN

		SELECT @N_POS = CHARINDEX('.', @TEMPS, 1) +1
	              SELECT  @TEMPE = RTRIM(SUBSTRING(@TEMPS,@N_POS, 32))

		SELECT @TEMPS = LEFT(@TEMPS,@N_POS - 2)

		SELECT @TEMPS = RIGHT('0'+@TEMPS,1)  -- 1자리 만들기

		SELECT @TEMPS = LEFT(@TEMPS + '.' + @TEMPE + '00',3)  -- 3자리 만들기

	END

--RETURN @TEMPS  --  8.5

	SELECT @LENS_NAME  = @LENS_NAME + @TEMPS+']'   --괄호 닫기

	IF ( LEFT(@DIOPTER,4) >= '14.5' AND LEFT(@LENS_NAME,7) = 'VTICM5_' )
	    SET @LENS_NAME = 'VTICMO'+SUBSTRING(@LENS_NAME,8,30)

	return @LENS_NAME

END
GO
