USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_DCSPEC2CODE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










CREATE FUNCTION [DZTPLA].[DZFN_DCSPEC2CODE] (
 @A_NM_ITEM  VARCHAR(30),
 @A_DC_SPEC1 VARCHAR(20),
 @A_DC_SPEC2 VARCHAR(20),
 @A_DC_SPEC3 VARCHAR(20),
 @A_DC_SPEC4 VARCHAR(20)
)
RETURNS VARCHAR(30) AS
BEGIN

	--//규격을 코드로

Declare	@CD_ITEM     VARCHAR(12),
              @LENS_SPEC  VARCHAR(30),
              @TEMPS         VARCHAR(30),
              @TEMPE         VARCHAR(30),
              @N_CNT        INTEGER,
              @N_LEN         INTEGER

	SELECT @LENS_SPEC = MAX(CD_SPEC), @CD_ITEM = MAX(CD_ITEM), @N_CNT= COUNT(*) FROM ITEMGRP P WHERE P.C_CODE= '1000' 
                               AND P.CD_ITEM IN (SELECT CD_ITEM FROM ITEM I WHERE I.C_CODE= '1000' AND I.CD_USRCLS = @A_NM_ITEM )
                                AND P.DC_SPEC1 = @A_DC_SPEC1 AND P.DC_SPEC2 = @A_DC_SPEC2 AND P.DC_SPEC3 = @A_DC_SPEC3 AND P.DC_SPEC4 = @A_DC_SPEC4

	--//코드를 찾지 못할때	
	IF ( ISNULL(@LENS_SPEC, '%') <> '%' )
	BEGIN

	   IF ( @N_CNT = 1 AND @LENS_SPEC <> '' ) 
                     SET @LENS_SPEC = RTRIM(@LENS_SPEC)
	   ELSE
                     SET @LENS_SPEC = ''

	END
	ELSE
	BEGIN

	    IF ( LEFT(@A_NM_ITEM,3) = 'CRT' )
                  BEGIN
                       SELECT @CD_ITEM = CD_ITEM FROM ITEM I WHERE I.C_CODE= '1000' AND I.CD_USRCLS = @A_NM_ITEM
                      
 	    END	
	END 

	return @LENS_SPEC

END










GO
