USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEM2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEM2](
	[C_CODE] [char](4) NOT NULL,
	[DT_DATE] [varchar](8) NOT NULL,
	[NO_SEQ] [int] NOT NULL,
	[NM_ITEM] [varchar](30) NOT NULL,
	[NM_WHS] [varchar](20) NOT NULL,
	[LOCATION] [varchar](20) NOT NULL,
	[DC_CLASS] [varchar](30) NULL,
	[QT_IN] [numeric](15, 4) NULL,
	[QT_OUT] [numeric](15, 4) NULL,
	[FG_CONF] [char](1) NULL,
	[CD_CONF_USR] [varchar](10) NULL,
	[DC_REMARK] [varchar](100) NULL,
	[FG_DEL] [char](1) NULL,
	[CD_DEPT] [varchar](12) NULL,
	[DT_CODE] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DT_DATE] ASC,
	[NO_SEQ] ASC,
	[NM_ITEM] ASC,
	[NM_WHS] ASC,
	[LOCATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ITEM2] ADD  CONSTRAINT [DF__ITEM2__FG_CONF__7ECE5281]  DEFAULT ('N') FOR [FG_CONF]
GO
ALTER TABLE [DZTPLA].[ITEM2] ADD  CONSTRAINT [DF__ITEM2__FG_DEL__7FC276BA]  DEFAULT ('N') FOR [FG_DEL]
GO
