USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[COEL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[COEL](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_CO] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[FG_S121] [varchar](4) NOT NULL,
	[FG_S122] [varchar](4) NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NULL,
	[QT_OITEM] [numeric](15, 4) NOT NULL,
	[QT_LITEM] [numeric](15, 4) NOT NULL,
	[AT_DITEM] [numeric](15, 4) NOT NULL,
	[YN_LM] [char](1) NULL,
	[DT_LM] [datetime] NULL,
	[DN_LM] [varchar](12) NULL,
	[DN_LMLN] [int] NULL,
	[dt_key] [varchar](50) NULL,
	[거래처코드] [varchar](50) NULL,
	[seqkey] [int] NULL,
	[dc_ifm] [varchar](160) NULL,
	[cd_dstwhs] [varchar](12) NULL,
	[dc_specadd] [varchar](4) NULL,
	[NO_SERIAL] [varchar](20) NULL,
	[qt_j] [numeric](15, 4) NULL,
	[qt_r] [numeric](15, 4) NULL,
	[qt_s] [numeric](15, 4) NULL,
	[FG_CFM] [varchar](1) NULL,
	[DN_QCK] [varchar](12) NULL,
	[NO_REQ] [varchar](12) NULL,
 CONSTRAINT [PK_COEL] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_CO] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_c_code_dn_qck]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_c_code_dn_qck] ON [DZTPLA].[COEL]
(
	[C_CODE] ASC,
	[DN_QCK] ASC
)
INCLUDE([DN_CO],[DT_LM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_coel]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_coel] ON [DZTPLA].[COEL]
(
	[C_CODE] ASC,
	[DN_CO] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NO_rEQ]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_NO_rEQ] ON [DZTPLA].[COEL]
(
	[NO_REQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[COEL] ADD  CONSTRAINT [DF__COEL__QT_OITEM__5ACF527F]  DEFAULT ((0)) FOR [QT_OITEM]
GO
ALTER TABLE [DZTPLA].[COEL] ADD  CONSTRAINT [DF__COEL__QT_LITEM__5BC376B8]  DEFAULT ((0)) FOR [QT_LITEM]
GO
ALTER TABLE [DZTPLA].[COEL] ADD  CONSTRAINT [DF__COEL__AT_DITEM__5CB79AF1]  DEFAULT ((0)) FOR [AT_DITEM]
GO
ALTER TABLE [DZTPLA].[COEL] ADD  CONSTRAINT [DF_COEL_qt_j]  DEFAULT ((0)) FOR [qt_j]
GO
ALTER TABLE [DZTPLA].[COEL] ADD  CONSTRAINT [DF_COEL_qt_r]  DEFAULT ((0)) FOR [qt_r]
GO
ALTER TABLE [DZTPLA].[COEL] ADD  CONSTRAINT [DF_COEL_qt_s]  DEFAULT ((0)) FOR [qt_s]
GO
ALTER TABLE [DZTPLA].[COEL]  WITH CHECK ADD  CONSTRAINT [FK_COEL_COEH] FOREIGN KEY([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_CO])
REFERENCES [DZTPLA].[COEH] ([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_CO])
GO
ALTER TABLE [DZTPLA].[COEL] CHECK CONSTRAINT [FK_COEL_COEH]
GO
ALTER TABLE [DZTPLA].[COEL]  WITH CHECK ADD  CONSTRAINT [FK_COEL_ITEMGRP] FOREIGN KEY([C_CODE], [CD_ITEM], [CD_SPEC])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[COEL] CHECK CONSTRAINT [FK_COEL_ITEMGRP]
GO
