USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[POH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[POH](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_po] [varchar](12) NOT NULL,
	[no_mng] [varchar](20) NULL,
	[dt_po] [datetime] NULL,
	[dt_in] [datetime] NULL,
	[fg_pur] [char](1) NULL,
	[fg_bill] [char](1) NULL,
	[fg_tax] [char](1) NULL,
	[fg_s100] [varchar](4) NULL,
	[cd_cust] [char](6) NULL,
	[cd_innode] [varchar](4) NULL,
	[fg_cls] [char](1) NULL,
	[fg_s101] [varchar](4) NULL,
	[fg_s102] [varchar](4) NOT NULL,
	[rt_s102] [numeric](15, 4) NOT NULL,
	[dc_ifm] [varchar](255) NULL,
	[fg_odr] [char](1) NULL,
	[dt_reg] [datetime] NULL,
	[cd_reg] [varchar](10) NULL,
	[dt_upd] [datetime] NULL,
	[cd_upuser] [varchar](10) NULL,
	[dt_ship] [datetime] NULL,
	[dt_pay] [datetime] NULL,
	[at_pay] [numeric](18, 0) NULL,
	[fg_paysend] [char](1) NULL,
	[fg_wrh_end] [varchar](1) NULL,
 CONSTRAINT [PK_POH] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[cd_usr] ASC,
	[c_code] ASC,
	[dn_po] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_poh]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_dn_poh] ON [DZTPLA].[POH]
(
	[dn_po] ASC,
	[c_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[POH] ADD  CONSTRAINT [DF__POH__fg_pur__3FDB6521]  DEFAULT ('1') FOR [fg_pur]
GO
ALTER TABLE [DZTPLA].[POH] ADD  CONSTRAINT [DF__POH__fg_bill__40CF895A]  DEFAULT ('0') FOR [fg_bill]
GO
ALTER TABLE [DZTPLA].[POH] ADD  CONSTRAINT [DF__POH__fg_tax__41C3AD93]  DEFAULT ('0') FOR [fg_tax]
GO
ALTER TABLE [DZTPLA].[POH] ADD  CONSTRAINT [DF__POH__fg_s100__42B7D1CC]  DEFAULT ('0') FOR [fg_s100]
GO
ALTER TABLE [DZTPLA].[POH] ADD  CONSTRAINT [DF__POH__fg_odr__43ABF605]  DEFAULT ('0') FOR [fg_odr]
GO
