USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CRTORD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CRTORD](
	[CUST_CODE] [varchar](12) NOT NULL,
	[CD_HOSP] [varchar](12) NOT NULL,
	[NO_SEQ] [varchar](12) NOT NULL,
	[CALCDATA] [varchar](300) NULL,
	[DT_CALC] [varchar](22) NULL,
	[NM_HOSP] [varchar](20) NULL,
	[FG_CONF] [varchar](3) NULL,
	[PC_NAME] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_CODE] ASC,
	[CD_HOSP] ASC,
	[NO_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
