USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[GSCODE2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[GSCODE2](
	[C_CODE] [char](4) NULL,
	[NO_SERIAL] [varchar](20) NULL,
	[CD_GS] [varchar](50) NULL,
	[DN_LM] [varchar](12) NULL,
	[A01] [varchar](14) NULL,
	[A11_16D] [varchar](8) NULL,
	[A17] [varchar](6) NULL,
	[A21_7] [varchar](20) NULL,
	[A23X] [varchar](19) NULL,
	[A243] [varchar](20) NULL
) ON [PRIMARY]
GO
