USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[DOC_RMK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[DOC_RMK](
	[C_CODE] [char](4) NOT NULL,
	[DN_SO] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[FG_CONF] [varchar](1) NULL,
	[DT_TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_SO] ASC,
	[CD_USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
