USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SERIALL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SERIALL](
	[C_CODE] [char](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[NO_SQ] [int] NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[QT_ITEM] [numeric](15, 4) NULL,
 CONSTRAINT [PK_SERIALL] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC,
	[NO_SQ] ASC,
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_LM_LN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_LM_LN] ON [DZTPLA].[SERIALL]
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NO_SERIAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_NO_SERIAL] ON [DZTPLA].[SERIALL]
(
	[NO_SERIAL] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NO_SERIAL2]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_NO_SERIAL2] ON [DZTPLA].[SERIALL]
(
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
