USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAGLOG_DOOR]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAGLOG_DOOR](
	[DT_TIME] [varchar](20) NOT NULL,
	[TAG_NO] [varchar](12) NOT NULL,
	[NO_SERIAL] [varchar](20) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[FG_IO] [char](1) NULL,
	[LOC] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[DT_TIME] ASC,
	[TAG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
