USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[POL_080820]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[POL_080820](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_po] [varchar](12) NOT NULL,
	[dc_ln] [int] NOT NULL,
	[dt_in] [datetime] NOT NULL,
	[fg_s121] [varchar](4) NOT NULL,
	[fg_s122] [varchar](4) NULL,
	[fg_tax] [char](1) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[qt_item] [numeric](15, 4) NULL,
	[fg_up] [char](1) NOT NULL,
	[up_item] [numeric](15, 4) NOT NULL,
	[fg_s102] [varchar](4) NOT NULL,
	[rt_s102] [numeric](15, 4) NOT NULL,
	[at_item] [numeric](15, 4) NOT NULL,
	[at_kitem] [numeric](15, 4) NULL,
	[dn_rel] [varchar](12) NULL,
	[dn_relln] [int] NULL,
	[dc_ifm] [varchar](100) NULL,
	[dc_specadd] [varchar](4) NULL,
	[dt_pay] [datetime] NULL,
	[at_pay] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
