USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_FIRST_DATE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [DZTPLA].[DZFN_FIRST_DATE] 
(
 
 @A_date    DATETIME
)
RETURNS DATETIME
AS
BEGIN
--dateadd(m, datediff(m, 0, getdate()), 0)
--dateadd(m, datediff(m, 0, @A_date), 0)
RETURN (SELECT dateadd(m, datediff(m, 0, @A_date), 0))

END





GO
