USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PASGNH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PASGNH](
	[c_code] [char](4) NOT NULL,
	[dn_pi] [varchar](12) NOT NULL,
	[dn_pe] [varchar](12) NOT NULL,
	[at_asgn] [numeric](12, 0) NOT NULL,
	[at_tax_asgn] [numeric](15, 4) NULL,
	[AT_CORR_ASGN] [numeric](15, 4) NULL,
 CONSTRAINT [PK_PASGNH] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[dn_pe] ASC,
	[dn_pi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PASGNH] ADD  CONSTRAINT [DF__PASGNH__at_asgn__704A5DA9]  DEFAULT ((0)) FOR [at_asgn]
GO
ALTER TABLE [DZTPLA].[PASGNH] ADD  CONSTRAINT [DF__PASGNH__AT_CORR___32B80ADB]  DEFAULT ((0)) FOR [AT_CORR_ASGN]
GO
