USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PHONE_DUTY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PHONE_DUTY](
	[C_CODE] [char](4) NOT NULL,
	[DT_FROM] [datetime] NOT NULL,
	[DT_TO] [datetime] NOT NULL,
	[CD_USER] [varchar](10) NOT NULL,
	[FG_SEND] [datetime] NULL,
	[FG_CONF] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DT_FROM] ASC,
	[CD_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
