USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_STOCK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_STOCK](
	[CUST_CODE] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[DC_SPEC] [varchar](4) NOT NULL,
	[DT_IN] [varchar](8) NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DT_VLD] [varchar](8) NULL,
	[NM_USER] [varchar](12) NULL,
	[KID] [int] NULL,
	[PATIENT] [varchar](30) NULL,
	[EYE] [varchar](2) NULL,
	[DT_RESV] [varchar](8) NULL,
	[FG_CANCEL] [char](1) NULL,
	[FG_USED] [varchar](4) NULL,
	[DT_CRT] [datetime] NULL,
	[NO_REQ] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[DC_SPEC] ASC,
	[NO_SERIAL] ASC,
	[DN_LM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CUST_STOCK] ADD  CONSTRAINT [DF__CUST_STOC__DC_SP__25B31578]  DEFAULT (space((4))) FOR [DC_SPEC]
GO
ALTER TABLE [DZTPLA].[CUST_STOCK] ADD  CONSTRAINT [DF__CUST_STOC__FG_CA__26A739B1]  DEFAULT ('N') FOR [FG_CANCEL]
GO
ALTER TABLE [DZTPLA].[CUST_STOCK] ADD  CONSTRAINT [DF__CUST_STOC__FG_US__279B5DEA]  DEFAULT (space((4))) FOR [FG_USED]
GO
