USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SHIPPING_LIST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SHIPPING_LIST](
	[NO_SEQ] [int] NOT NULL,
	[NM_ITEM] [varchar](30) NULL,
	[DC_SPEC1] [varchar](10) NULL,
	[NO_SERIAL] [varchar](32) NULL,
	[DC_SPEC2] [varchar](10) NULL,
	[DC_SPEC3] [varchar](10) NULL,
	[DT_EXP] [varchar](10) NULL,
	[DT_SHIP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
