USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST3]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [DZTPLA].[DZFN_GET_CUST3] (
 @CD_CUST  VARCHAR(12),
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@TO_CD_CUST  VARCHAR(12), 
			@KEY_CODE VARCHAR(12)

	SELECT @KEY_CODE = MAX(KEY_CODE) 
		FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)

	IF (ISNULL(@KEY_CODE,'') = '')
	SELECT @KEY_CODE = MAX(KEY_CODE) 
		FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

/*	IF  (LEFT(@CD_HOSP,1) = '2' )
	BEGIN
		SELECT @KEY_CODE = MAX(KEY_CODE) 
			FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = ISNULL(@CD_HOSP,'')
	END
	ELSE
	BEGIN
		SET @KEY_CODE =  (select top 1 ISNULL((SELECT MAX(KEY_CODE) FROM CUST C (nolock) 
					            WHERE C.C_CODE = '1000' AND C.CD_CUST = (select settle from agency a (nolock) where a.c_code= '1000' and a.cust_code=@CD_HOSP)),
				(SELECT MAX(KEY_CODE) FROM CUST C (nolock) WHERE C.C_CODE = '1000' AND C.CD_CUST = @CD_CUST)) from dztpla.seq (nolock) )
	END
*/	

     select @TO_CD_CUST = C.to_cust from cust_item_tag C 
								where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE 
									and C.cd_item = @CD_ITEM 
					  
	 IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
	 BEGIN
		select @TO_CD_CUST = C.to_cust from cust_item_tag C 
									where C.c_code = '1000'
								      and C.CD_CUST = @KEY_CODE
									  and C.cd_item = '*' 


		IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
		BEGIN
			SELECT @KEY_CODE = MAX(C.KEY_CODE) 
				FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

			SET @TO_CD_CUST = (select top 1 C.to_cust 
									from cust_item_tag C 
								where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE 
									and C.cd_item = @CD_ITEM )
			IF (@TO_CD_CUST IS NULL or @TO_CD_CUST = '' )
			   SET @TO_CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

		END 
	END

	return @TO_CD_CUST

END







GO
