USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PRCH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PRCH](
	[C_CODE] [char](4) NOT NULL,
	[DN_PC] [varchar](12) NOT NULL,
	[FG_CHG] [char](1) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[DT_CHG] [datetime] NOT NULL,
	[DT_APLFR] [datetime] NOT NULL,
	[DT_APLTO] [datetime] NOT NULL,
	[DC_CHG] [varchar](200) NULL,
 CONSTRAINT [PK_PRCH] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_PC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
