USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_COMP2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE  FUNCTION [DZTPLA].[DZFN_GET_COMP2] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(6) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@F_C_COMP  VARCHAR(4),
			@T_C_COMP  VARCHAR(4),
			@KEY_CODE VARCHAR(12),
			@FG_COMP VARCHAR(6),
			@NO_CNT INTEGER,
			@TO_CUST VARCHAR(6)

	   select @F_C_COMP = FR_C_CODE, @T_C_COMP = TO_C_CODE, @TO_CUST=RTRIM(TO_CUST)
	     from cust_item_tag C  (NOLOCK) 
		where C.c_code = '1000'
			and C.CD_CUST = (SELECT MAX(C.KEY_CODE) FROM CUST C (NOLOCK)  WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP))
			and C.cd_item = @CD_ITEM 
			and isnull(C.fg_use,'Y') = 'Y'													  

---// 대리점의 거래병원인 경우(마스터 등록이 안되어 있음) 와 마스터 등록이 되어 있지 않는 병원인 경우 거래처코드로 조회하도록 한다.

	SET @TO_CUST = ''

	IF ( @F_C_COMP IS NULL or @F_C_COMP = '' )	 
	BEGIN 

		select @NO_CNT = COUNT(*)
			 from cust_item_tag C  (NOLOCK) 
			where C.c_code = '1000'
				and C.CD_CUST = (SELECT MAX(C.KEY_CODE) FROM CUST C (NOLOCK)  WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP))
				and isnull(C.fg_use,'Y') = 'Y'													  

		IF ( @NO_CNT = 0 )  --//마스터등록업체가 아닌 대리점 거래처인경우
		BEGIN 
		   select @F_C_COMP = FR_C_CODE, @T_C_COMP = TO_C_CODE, @TO_CUST= RTRIM(TO_CUST)
			  from cust_item_tag C  (NOLOCK) 
			 where C.c_code = '1000'
			   and C.CD_CUST = (SELECT MAX(C.KEY_CODE) FROM CUST C (NOLOCK)  WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST2(@CD_HOSP,@CD_ITEM) )
			   and C.cd_item = @CD_ITEM 
			   and isnull(C.fg_use,'Y') = 'Y'		
		END
		ELSE
		BEGIN
		    --//우전 거래처로 일괄 처리 (마스터 미등록거래처, 누락거래처 대응용)

			SET @F_C_COMP = '1000'
			SET @T_C_COMP = '1000'
		END

	END

	IF( @F_C_COMP <> @T_C_COMP) -- OR @TO_CUST = '500012') 
		SET @FG_COMP = '대리점'
	ELSE
		SET @FG_COMP = '우전'

	return @FG_COMP

END


GO
