USE [DZTPLA]
GO
/****** Object:  View [DZTPLA].[VBASE_CHECKD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DZTPLA].[VBASE_CHECKD] AS SELECT * FROM BASE.DZBASE.CHECKD




GO
