USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[BARCODEH_080127]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[BARCODEH_080127](
	[KEY_SEQ] [int] NULL,
	[C_CODE] [char](4) NULL,
	[DN_LM] [varchar](12) NULL,
	[DN_LN] [int] NULL,
	[NO_SQ] [int] NULL,
	[NO_SERIAL] [varchar](20) NULL,
	[INEXDT] [char](8) NULL,
	[GUBUN] [varchar](8) NULL,
	[NO_DN] [varchar](12) NULL,
	[NO_DNLN] [int] NULL,
	[LOC] [varchar](12) NULL,
	[CUST] [char](6) NULL,
	[TM_REG] [datetime] NULL,
	[QTY] [numeric](15, 4) NULL,
	[OLDNO] [char](12) NULL,
	[dn_rel] [varchar](12) NULL,
	[dn_relln] [int] NULL
) ON [PRIMARY]
GO
