USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[LMBK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[LMBK](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[CD_WHS] [varchar](12) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[DT_LM] [datetime] NOT NULL,
	[FG_PLACE] [char](1) NULL,
	[FG_BILL] [char](1) NULL,
	[FG_TAX] [char](1) NULL,
	[FG_OCLS] [char](1) NULL,
	[FG_ACT1] [varchar](5) NULL,
	[FG_ACT2] [varchar](5) NULL,
	[FG_AVAT] [varchar](5) NULL,
	[FG_AAST] [varchar](5) NULL,
	[FG_S121] [varchar](4) NULL,
	[FG_S122] [varchar](4) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[QT_ITEM] [numeric](15, 2) NULL,
	[FG_UP] [char](1) NULL,
	[UP_ITEMODR] [numeric](15, 4) NULL,
	[FG_S102] [varchar](4) NULL,
	[RT_S102] [numeric](15, 4) NULL,
	[AT_ITEMODR] [numeric](15, 4) NULL,
	[AT_KITEM] [numeric](15, 4) NULL,
	[AT_PC] [numeric](15, 4) NULL,
	[AT_CLS] [numeric](15, 4) NULL,
	[AT_SCLS] [numeric](15, 4) NULL,
	[AT_VCLS] [numeric](15, 4) NULL,
	[AT_LCLS] [numeric](15, 4) NULL,
	[CD_CUST] [char](6) NULL,
	[CD_SALCUST] [char](6) NULL,
	[CD_PLACE] [int] NULL,
	[FG_S105] [varchar](4) NULL,
	[FG_S104] [varchar](4) NULL,
	[CD_SAL] [varchar](12) NULL,
	[CD_PUR] [varchar](12) NULL,
	[FG_CLOSE] [char](1) NULL,
	[DN_CLOSE] [varchar](12) NULL,
	[DT_CLOSE] [datetime] NULL,
	[DN_ODR] [varchar](12) NULL,
	[DN_ODRLN] [int] NULL,
	[DN_DST] [varchar](12) NULL,
	[DN_DSTLN] [int] NULL,
	[CD_PLC] [varchar](4) NULL,
	[FG_S103] [varchar](4) NULL,
	[CD_LNODE] [varchar](4) NULL,
	[CD_LDEPT] [varchar](12) NULL,
	[CD_LUSR] [varchar](10) NULL,
	[CD_RNODE] [varchar](4) NULL,
	[CD_RDEPT] [varchar](12) NULL,
	[CD_RUSR] [varchar](10) NULL,
	[DC_LM] [varchar](160) NULL,
	[fg_bnkbkprt] [varchar](1) NULL,
	[oldno] [varchar](50) NULL,
	[qt_j] [numeric](18, 0) NULL,
	[qt_c] [numeric](18, 0) NULL,
	[qt_d] [numeric](18, 0) NULL,
	[fg_close1] [char](1) NULL,
	[dt_close1] [datetime] NULL,
	[dn_close1] [varchar](12) NULL,
	[dt_sheet] [varchar](8) NULL,
	[certi_no] [varchar](8) NULL,
	[DC_SPEC] [varchar](4) NULL,
	[DT_REG] [datetime] NULL,
 CONSTRAINT [PK_LMBK] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[CD_WHS] ASC,
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC,
	[DT_LM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_BK_CODE_DN_LM_LN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_BK_CODE_DN_LM_LN] ON [DZTPLA].[LMBK]
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[LMBK] ADD  CONSTRAINT [DF_LMBK_AT_LCLS]  DEFAULT ((0)) FOR [AT_LCLS]
GO
ALTER TABLE [DZTPLA].[LMBK] ADD  CONSTRAINT [DF_LMBK_fg_close1]  DEFAULT ((0)) FOR [fg_close1]
GO
