USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[DOCTORS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[DOCTORS](
	[NM_NAME] [varchar](15) NOT NULL,
	[NM_NAME_C] [varchar](15) NOT NULL,
	[DT_DOB] [char](8) NOT NULL,
	[NM_OFFICE] [varchar](40) NULL,
	[NM_GRADE] [varchar](10) NULL,
	[DC_ADDRESS] [varchar](80) NULL,
	[NM_UNIVERSITY] [varchar](30) NULL,
	[DT_GRAD_YR] [char](4) NULL,
	[NM_REGID] [varchar](30) NULL,
	[DT_LCN_YR] [char](4) NULL,
	[NO_TEL] [varchar](13) NULL,
	[NO_FAX] [varchar](13) NULL,
	[DC_EMAIL] [varchar](30) NULL,
	[NM_SPECIAL] [varchar](30) NULL,
	[NM_WORKSHOP] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[NM_NAME] ASC,
	[NM_NAME_C] ASC,
	[DT_DOB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
