USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SOEL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SOEL](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_SE] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[FG_S121] [varchar](4) NOT NULL,
	[FG_S122] [varchar](4) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[QT_OITEM] [numeric](15, 4) NOT NULL,
	[AT_OITEM] [numeric](15, 4) NOT NULL,
	[QT_LITEM] [numeric](15, 4) NOT NULL,
	[AT_LITEM] [numeric](15, 4) NOT NULL,
	[AT_LCLS] [numeric](15, 4) NULL,
	[FG_UP] [char](1) NOT NULL,
	[FG_S102] [varchar](4) NULL,
	[RT_S102] [numeric](15, 4) NULL,
	[AT_FITEM] [numeric](15, 4) NULL,
	[AT_FLITEM] [numeric](15, 4) NULL,
	[YN_LM] [char](1) NOT NULL,
	[DT_LM] [datetime] NULL,
	[DN_LM] [varchar](12) NULL,
	[DN_LMLN] [int] NULL,
	[DN_OD] [varchar](12) NOT NULL,
	[DN_ODLN] [int] NOT NULL,
	[dc_specadd] [varchar](4) NULL,
	[dc_ifm] [varchar](160) NULL,
	[cd_dstwhs] [varchar](12) NULL,
	[no_serial] [varchar](20) NULL,
	[FG_CFM] [varchar](1) NULL,
	[certi_no] [varchar](8) NULL,
	[CD_HOSP] [varchar](12) NULL,
	[DN_QCK] [varchar](12) NULL,
	[NO_REQ] [varchar](12) NULL,
 CONSTRAINT [PK_SOEL] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_SE] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_c_code_dn_qck]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_c_code_dn_qck] ON [DZTPLA].[SOEL]
(
	[C_CODE] ASC,
	[DN_QCK] ASC
)
INCLUDE([DN_SE],[DT_LM]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cd_item_spec]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_cd_item_spec] ON [DZTPLA].[SOEL]
(
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cfm_od_odln]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_cfm_od_odln] ON [DZTPLA].[SOEL]
(
	[FG_CFM] DESC,
	[DN_OD] ASC,
	[DN_ODLN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_se_cd_item_yn]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_se_cd_item_yn] ON [DZTPLA].[SOEL]
(
	[DN_SE] ASC,
	[CD_ITEM] ASC,
	[YN_LM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_lm_lmln]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_lm_lmln] ON [DZTPLA].[SOEL]
(
	[DN_LM] ASC,
	[DN_LMLN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nn_soel]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_nn_soel] ON [DZTPLA].[SOEL]
(
	[C_CODE] ASC,
	[DN_SE] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_no_req]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_no_req] ON [DZTPLA].[SOEL]
(
	[NO_REQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_od_odln]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_od_odln] ON [DZTPLA].[SOEL]
(
	[DN_OD] ASC,
	[DN_ODLN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SOEL] ADD  CONSTRAINT [DF__SOEL__QT_LITEM__18427513]  DEFAULT ((0)) FOR [QT_LITEM]
GO
ALTER TABLE [DZTPLA].[SOEL] ADD  CONSTRAINT [DF__SOEL__AT_LITEM__1936994C]  DEFAULT ((0)) FOR [AT_LITEM]
GO
ALTER TABLE [DZTPLA].[SOEL]  WITH CHECK ADD  CONSTRAINT [FK_SOEL_ITEMGRP] FOREIGN KEY([C_CODE], [CD_ITEM], [CD_SPEC])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[SOEL] CHECK CONSTRAINT [FK_SOEL_ITEMGRP]
GO
ALTER TABLE [DZTPLA].[SOEL]  WITH CHECK ADD  CONSTRAINT [FK_SOEL_SOEH] FOREIGN KEY([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_SE])
REFERENCES [DZTPLA].[SOEH] ([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_SE])
GO
ALTER TABLE [DZTPLA].[SOEL] CHECK CONSTRAINT [FK_SOEL_SOEH]
GO
