USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CALENDAR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CALENDAR](
	[cal_date] [datetime] NOT NULL,
	[cal_yyyy] [varchar](4) NOT NULL,
	[cal_mm] [varchar](2) NOT NULL,
	[cal_dd] [varchar](2) NOT NULL,
	[cal_day] [varchar](10) NOT NULL,
	[cal_holiday] [varchar](1) NULL,
	[cal_seoul_delivery] [datetime] NULL,
	[cal_remark] [varchar](100) NULL,
	[cal_delivery] [datetime] NULL
) ON [PRIMARY]
GO
