USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SOEH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SOEH](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_SE] [varchar](12) NOT NULL,
	[NO_MNG] [varchar](20) NULL,
	[DT_EX] [datetime] NOT NULL,
	[CD_EXNODE] [varchar](12) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_CUSTSAL] [char](6) NOT NULL,
	[CD_PLACE] [int] NOT NULL,
	[FG_S103] [varchar](4) NOT NULL,
	[DC_IFM] [varchar](200) NULL,
	[DT_REG] [datetime] NOT NULL,
	[CD_REGUSR] [varchar](10) NOT NULL,
	[DT_UPD] [datetime] NOT NULL,
	[CD_UPUSR] [varchar](10) NOT NULL,
	[DN_SO] [varchar](12) NULL,
	[FG_CFRM] [char](1) NULL,
	[gubun] [char](1) NULL,
	[CD_WHS_F] [varchar](12) NULL,
 CONSTRAINT [PK_SOEH] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_SE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_se_dt_ex]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_se_dt_ex] ON [DZTPLA].[SOEH]
(
	[C_CODE] ASC,
	[DN_SE] ASC,
	[DT_EX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_soeh]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_dn_soeh] ON [DZTPLA].[SOEH]
(
	[C_CODE] ASC,
	[DN_SE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SOEH] ADD  CONSTRAINT [DF_SOEH_FG_CFRM]  DEFAULT ((0)) FOR [FG_CFRM]
GO
ALTER TABLE [DZTPLA].[SOEH] ADD  CONSTRAINT [DF__SOEH__CD_WHS_F__6BBB7E0D]  DEFAULT ('WA') FOR [CD_WHS_F]
GO
