USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RCV_PHONE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RCV_PHONE](
	[DT_RCV] [datetime] NOT NULL,
	[NO_IN] [varchar](3) NOT NULL,
	[NO_CALL] [varchar](12) NOT NULL,
	[NO_GET] [char](3) NULL,
	[DN_LM] [varchar](12) NULL,
	[NO_LINE] [varchar](3) NOT NULL,
	[NO_REC] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DT_RCV] ASC,
	[NO_IN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_LM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_LM] ON [DZTPLA].[RCV_PHONE]
(
	[DN_LM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DT_RCV_CALL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DT_RCV_CALL] ON [DZTPLA].[RCV_PHONE]
(
	[DT_RCV] DESC,
	[NO_CALL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[RCV_PHONE] ADD  CONSTRAINT [DF__rcv_phone__NO_LI__46F40DB2]  DEFAULT ('000') FOR [NO_LINE]
GO
