USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CTH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CTH](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_CT] [varchar](12) NOT NULL,
	[DT_CT] [datetime] NOT NULL,
	[CD_WHS] [varchar](12) NOT NULL,
	[CD_CUST] [char](6) NULL,
	[DC_IFM] [varchar](80) NULL,
	[FG_CT] [char](1) NOT NULL,
	[TM_REG] [datetime] NULL,
 CONSTRAINT [PK_CTH] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_CT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CTH] ADD  CONSTRAINT [DF_CTH_TM_REG]  DEFAULT (getdate()) FOR [TM_REG]
GO
