USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[INC_MASTER_OLD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[INC_MASTER_OLD](
	[C_CODE] [char](4) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[DT_FDATE] [char](8) NOT NULL,
	[DT_TDATE] [char](8) NOT NULL,
	[CD_CUST] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_PLN] [varchar](12) NULL,
	[CD_REG] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_USR] ASC,
	[DT_FDATE] ASC,
	[DT_TDATE] ASC,
	[CD_CUST] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST_ITEM2]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST_ITEM2] ON [DZTPLA].[INC_MASTER_OLD]
(
	[CD_CUST] ASC,
	[CD_ITEM] ASC,
	[CD_PLN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_INC_MASTER_CODE_CDPLN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_INC_MASTER_CODE_CDPLN] ON [DZTPLA].[INC_MASTER_OLD]
(
	[C_CODE] ASC,
	[CD_PLN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
