USE [DZTPLA]
GO
/****** Object:  View [DZTPLA].[VBBOARD_MAIN]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [DZTPLA].[VBBOARD_MAIN] AS SELECT * FROM BASE.DZBASE.BOARD_MAIN



GO
