USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WHM]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WHM](
	[DT_MOVE] [char](6) NOT NULL,
	[NO_SEQ] [int] NOT NULL,
	[FR_WHS] [varchar](12) NOT NULL,
	[TO_WHS] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[DC_SPEC] [varchar](4) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[QT_QTY] [numeric](15, 4) NULL,
	[SNO_WORK] [varchar](10) NULL,
	[DT_WORK] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DT_MOVE] ASC,
	[NO_SEQ] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
