USE [DZTPLA]
GO
/****** Object:  StoredProcedure [DZTPLA].[DZTPLA_SEQ]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE  PROCEDURE [DZTPLA].[DZTPLA_SEQ]
(	@C_CODE		VARCHAR(4),
	@CODE		CHAR(6),
	@OUT		CHAR(12) OUTPUT
	
)
AS
BEGIN
DECLARE	@SEQ	CHAR(6),
	@CD_SEQ	CHAR(2),
	@DT_SEQ	CHAR(4)

SELECT	@CD_SEQ = SUBSTRING(@CODE, 1, 2),
	@DT_SEQ = SUBSTRING(@CODE, 3, 6)

	SELECT	@SEQ = NB_SEQ
	FROM	SEQ
	WHERE	C_CODE = @C_CODE
	AND	CD_SEQ = @CD_SEQ
	AND	DT_SEQ = @DT_SEQ

	IF @@ROWCOUNT = 0
	BEGIN
		SELECT	@SEQ = '000001'

		INSERT INTO SEQ(C_CODE, CD_SEQ, DT_SEQ, NB_SEQ)
		VALUES(@C_CODE, @CD_SEQ, @DT_SEQ, @SEQ)
	END
	ELSE
	BEGIN
		SELECT	@SEQ = CONVERT(VARCHAR(6), CONVERT(NUMERIC(6, 0), @SEQ) + 1)
		SELECT	@SEQ = REPLACE((SPACE(6 - DATALENGTH(@SEQ)) + @SEQ), ' ', '0')

		UPDATE	SEQ
		SET	NB_SEQ = @SEQ
		WHERE	C_CODE = @C_CODE
		AND	CD_SEQ = @CD_SEQ
		AND	DT_SEQ = @DT_SEQ
	END

	SELECT	@OUT = @CODE + @SEQ
END



GO
