USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[DEPTCVT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[DEPTCVT](
	[cd_dept] [varchar](12) NULL,
	[old_dept] [varchar](1) NULL
) ON [PRIMARY]
GO
