USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SEQ2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SEQ2](
	[C_CODE] [char](4) NOT NULL,
	[CD_SEQ] [char](2) NOT NULL,
	[DT_SEQ] [char](8) NOT NULL,
	[NB_SEQ] [char](5) NOT NULL,
 CONSTRAINT [PK_SEQ2] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_SEQ] ASC,
	[DT_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
