USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_WEB_DATA_GET]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE FUNCTION [DZTPLA].[DZFN_WEB_DATA_GET] ()
RETURNS numeric(1) AS
BEGIN

	-- 같은 이름으로 생성된 Linked Server 가 있다면 삭제
	/*
	if exists(select srvname from master..sysservers where srvname='LinkedLiveWebServ' and datasource='122.99.142.22 ')
	begin
	exec sp_dropserver 'LinkedLiveWebServ', 'droplogins'
	end
	*/
	
	if not exists(select srvname from master..sysservers where srvname='LinkedLiveWebServ' and datasource='211.236.190.76 ')
	begin
	   -- 원격서버 연결 (Linked Server 만들기)
	   exec sp_addlinkedserver
	   @Server='LinkedLiveWebServ',
	   @srvproduct='',
	   @provider='SQLOLEDB',
	   @datasrc='211.236.190.76 ',
	   @catalog='WJM'
	   -- 링크드 서버 login 매칭
	   exec sp_addlinkedsrvlogin 
	   @rmtsrvname='LinkedLiveWebServ', 
	   @useself=false,
	   @locallogin=null,
	   @rmtuser='wjm',
	   @rmtpassword='wjm'
	end

	RETURN 0
END




GO
