USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PEH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PEH](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_pe] [varchar](12) NOT NULL,
	[cd_mng] [varchar](20) NULL,
	[dt_isu] [datetime] NOT NULL,
	[cd_cust] [char](6) NULL,
	[dc_ifm] [varchar](80) NULL,
	[fg_asgn] [char](1) NOT NULL,
	[dt_asgn] [datetime] NULL,
	[cd_usrasgn] [varchar](10) NULL,
	[cd_pcust] [char](6) NULL,
	[dt_p] [datetime] NULL,
	[fg_apvl] [char](1) NOT NULL,
 CONSTRAINT [PK_PEH] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[cd_usr] ASC,
	[c_code] ASC,
	[dn_pe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PEH] ADD  CONSTRAINT [DF__PEH__fg_asgn__6A918453]  DEFAULT ('0') FOR [fg_asgn]
GO
ALTER TABLE [DZTPLA].[PEH] ADD  CONSTRAINT [DF_PEH_fg_apvl]  DEFAULT ((0)) FOR [fg_apvl]
GO
