USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[pa_lens]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[pa_lens](
	[le_seq] [int] NOT NULL,
	[le_flat] [varchar](7) NOT NULL,
	[le_mrs] [varchar](7) NOT NULL,
	[le_lens] [varchar](20) NOT NULL,
 CONSTRAINT [pa_lens_x] PRIMARY KEY NONCLUSTERED 
(
	[le_seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
