USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUSTSAL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO







CREATE FUNCTION [DZTPLA].[DZFN_GET_CUSTSAL] (
 @CD_HOSP  VARCHAR(12)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
Declare	@num 		SMALLINT,
              @CD_CUST  VARCHAR(12)

	IF ( LEFT(@CD_HOSP,1) = '2' or @CD_HOSP = '500005' or @CD_HOSP = '500010' or @CD_HOSP = '500007')
		SELECT @CD_CUST = (SELECT MAX(A.CD_CUST) 
	                         FROM CUST A 
	                        WHERE A.C_CODE = '1000'
	                          AND A.KEY_CODE = (SELECT MAX(B.KEY_CODE) FROM CUST B  WHERE B.C_CODE = '1000' AND B.CD_CUST = @CD_HOSP)
	                        AND  ISNULL(A.FG_MAST,'N') = 'Y' )
              ELSE
		SELECT @CD_CUST = (SELECT MAX(A.CD_CUST) 
	                        FROM CUST A 
	                    WHERE A.C_CODE = '1000'
	                        AND A.KEY_CODE = (SELECT MAX(B.KEY_CODE) FROM CUST B
				        WHERE B.C_CODE = '1000' AND B.CD_CUST = (SELECT MAX(CASE WHEN ISNULL(G.SETTLE,'%') = '%' THEN G.CD_CUST WHEN G.SETTLE = '' THEN G.CD_CUST ELSE G.SETTLE END ) 
                            FROM AGENCY G WHERE G.C_CODE = '1000' AND G.CUST_CODE = @CD_HOSP) ) AND  ISNULL(A.FG_MAST,'N') = 'Y' )



	IF ( ISNULL(@CD_CUST,'%') = '%' )
                    SELECT @CD_CUST = @CD_HOSP
                  
	return @CD_CUST

END










GO
