USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RLM2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RLM2](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_WHS] [varchar](12) NOT NULL,
	[CD_LOC] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[DT_DST] [varchar](6) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[QT_A] [numeric](15, 4) NOT NULL,
	[QT_B] [numeric](15, 4) NOT NULL,
	[QT_C] [numeric](15, 4) NOT NULL,
	[QT_D] [numeric](15, 4) NOT NULL,
	[QT_E] [numeric](15, 4) NOT NULL,
	[QT_F] [numeric](15, 4) NOT NULL,
	[QT_G] [numeric](15, 4) NOT NULL,
	[QT_H] [numeric](15, 4) NOT NULL,
	[QT_I] [numeric](15, 4) NOT NULL,
	[QT_J] [numeric](15, 4) NOT NULL,
	[QT_K] [numeric](15, 4) NOT NULL,
	[QT_L] [numeric](15, 4) NOT NULL,
	[QT_M] [numeric](15, 4) NOT NULL,
	[QT_N] [numeric](15, 4) NOT NULL,
	[QT_O] [numeric](15, 4) NOT NULL,
	[QT_P] [numeric](15, 4) NOT NULL,
	[QT_Q] [numeric](15, 4) NOT NULL,
	[QT_R] [numeric](15, 4) NOT NULL,
	[QT_S] [numeric](15, 4) NOT NULL,
	[QT_T] [numeric](15, 4) NOT NULL,
	[QT_U] [numeric](15, 4) NULL,
	[QT_V] [numeric](15, 4) NULL,
	[QT_W] [numeric](15, 4) NULL,
	[QT_X] [numeric](15, 4) NULL,
	[QT_Y] [numeric](15, 4) NULL,
	[QT_Z] [numeric](15, 4) NULL,
	[QT_IN]  AS (((((((((((([qt_c]+[qt_d])+[qt_g])+[qt_i])+[qt_l])+[qt_n])+[qt_p])+[qt_r])+[qt_t])+[qt_u])+[qt_v])+[qt_x])+[qt_z]),
	[QT_EX]  AS (((((((((((([qt_a]+[qt_b])+[qt_e])+[qt_f])+[qt_h])+[qt_j])+[qt_k])+[qt_m])+[qt_o])+[qt_q])+[qt_s])+[qt_w])+[qt_y]),
	[DC_SPEC] [varchar](4) NOT NULL,
	[FG_HIDE] [varchar](1) NULL,
 CONSTRAINT [PK_RLM2] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_WHS] ASC,
	[CD_LOC] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[DT_DST] ASC,
	[C_CODE] ASC,
	[DC_SPEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_A__51900108]  DEFAULT ((0)) FOR [QT_A]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_B__52842541]  DEFAULT ((0)) FOR [QT_B]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_C__5378497A]  DEFAULT ((0)) FOR [QT_C]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_D__546C6DB3]  DEFAULT ((0)) FOR [QT_D]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_E__556091EC]  DEFAULT ((0)) FOR [QT_E]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_F__5654B625]  DEFAULT ((0)) FOR [QT_F]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_G__5748DA5E]  DEFAULT ((0)) FOR [QT_G]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_H__583CFE97]  DEFAULT ((0)) FOR [QT_H]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_I__593122D0]  DEFAULT ((0)) FOR [QT_I]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_J__5A254709]  DEFAULT ((0)) FOR [QT_J]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_K__5B196B42]  DEFAULT ((0)) FOR [QT_K]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_L__5C0D8F7B]  DEFAULT ((0)) FOR [QT_L]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_M__5D01B3B4]  DEFAULT ((0)) FOR [QT_M]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_N__5DF5D7ED]  DEFAULT ((0)) FOR [QT_N]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_O__5EE9FC26]  DEFAULT ((0)) FOR [QT_O]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_P__5FDE205F]  DEFAULT ((0)) FOR [QT_P]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_Q__60D24498]  DEFAULT ((0)) FOR [QT_Q]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_R__61C668D1]  DEFAULT ((0)) FOR [QT_R]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF__RLM2_QT_S__62BA8D0A]  DEFAULT ((0)) FOR [QT_S]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF_RLM2_QT_T]  DEFAULT ((0)) FOR [QT_T]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF_RLM2_QT_U]  DEFAULT ((0)) FOR [QT_U]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF_RLM2_QT_V]  DEFAULT ((0)) FOR [QT_V]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF_RLM2_QT_W]  DEFAULT ((0)) FOR [QT_W]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF_RLM2_QT_X]  DEFAULT ((0)) FOR [QT_X]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF_RLM2_QT_Y]  DEFAULT ((0)) FOR [QT_Y]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  CONSTRAINT [DF_RLM2_QT_Z]  DEFAULT ((0)) FOR [QT_Z]
GO
ALTER TABLE [DZTPLA].[RLM2] ADD  DEFAULT (space((4))) FOR [DC_SPEC]
GO
