USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CM190401]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CM190401](
	[cd_cust] [char](6) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[mt_crm] [char](8) NOT NULL,
	[at_crd] [numeric](15, 4) NOT NULL,
	[at_rcrd] [numeric](15, 4) NULL,
	[at_crm] [numeric](15, 4) NOT NULL,
	[at_sal] [numeric](15, 4) NOT NULL,
	[at_bal] [numeric](15, 4) NULL,
	[at_altercm] [numeric](15, 4) NOT NULL,
	[CD_CUST2] [varchar](6) NULL
) ON [PRIMARY]
GO
