USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[imsi_temp1]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[imsi_temp1](
	[id] [varchar](10) NULL,
	[name] [varchar](10) NULL,
	[seq] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
