USE [DZTPLA]
GO
/****** Object:  View [DZTPLA].[V_VBASE_TRADE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [DZTPLA].[V_VBASE_TRADE] as
SELECT CUST_CODE, CUST_NAME, TEL_NO, S_ADDRESS
  FROM DZTPLA.DZTPLA.VBASE_TRADE
 WHERE C_CODE = '1000'
GO
