USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[STOCK_SALE_REL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[STOCK_SALE_REL](
	[C_CODE] [char](4) NOT NULL,
	[CD_ITEM_ST] [varchar](12) NOT NULL,
	[CD_ITEM_SA] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_ITEM_ST] ASC,
	[CD_ITEM_SA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_ST_SA]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_ST_SA] ON [DZTPLA].[STOCK_SALE_REL]
(
	[CD_ITEM_ST] ASC,
	[CD_ITEM_SA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
