USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_CM_AT_BAL_UP]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [DZTPLA].[DZFN_CM_AT_BAL_UP] ()
RETURNS NUMERIC(1) AS
BEGIN
	DECLARE @CD_CUST	CHAR(6),
		  @C_CODE    	CHAR(4),
		  @MT_CRM 	CHAR(8),
		  @AT_CRD  	NUMERIC(15,4),
		  @AT_RCRD	NUMERIC(15,4), 
		  @AT_CRM	NUMERIC(15,4), 
		  @AT_SAL	NUMERIC(15,4), 
		  @AT_BAL	NUMERIC(15,4),
	                @CD_CUST_O	CHAR(6),
		  @C_CODE_O    	CHAR(4),
		  @MT_CRM_O 	CHAR(8),
		  @AT_CRD_O  	NUMERIC(15,4),
		  @AT_RCRD_O	NUMERIC(15,4), 
		  @AT_CRM_O	NUMERIC(15,4), 
		  @AT_SAL_O	NUMERIC(15,4), 
		  @AT_BAL_O	NUMERIC(15,4)

	DECLARE cm_cursor CURSOR FOR 
	SELECT cd_cust, c_code, mt_crm, at_crd, at_rcrd, at_crm, at_sal, at_bal
   	   FROM cm
	ORDER BY c_code, cd_cust, mt_crm

	OPEN cm_cursor
	
	FETCH NEXT FROM cm_cursor 
	INTO @cd_cust, @c_code, @mt_crm, @at_crd, @at_rcrd, @at_crm, @at_sal, @at_bal
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF ( @cd_cust <> @cd_cust_o or  @c_code <>  @c_code_o )  --  or  @mt_crm <> @mt_crm_o )
                            BEGIN 
			select  @cd_cust_o  = @cd_cust,    	@c_code_o  =@c_code, 
                            	            @mt_crm_o   = @mt_crm,    	@at_bal         = isnull(@at_crd,0) -  isnull(@at_rcrd,0) - isnull(@at_crm,0) 
			SELECT @at_bal_o    = @at_bal

--			update cm set at_bal = @at_bal
--                                           where cd_cust = @cd_cust 
--                                               and c_code = @c_code
--                                               and mt_crm = @mt_crm ;                            
		END  
 		ELSE
		BEGIN
			SELECT @at_bal         = isnull(@at_crd,0) -  isnull(@at_rcrd,0) - isnull(@at_crm,0) 
			SELECT @at_bal_o         = @at_bal_o + @at_bal

--			update cm set at_bal = @at_bal_o
--                                           where cd_cust = @cd_cust
--                                               and c_code = @c_code
--                                               and mt_crm = @mt_crm ;                            
		END

--		SELECT 
		FETCH NEXT FROM cm_cursor 
		INTO @cd_cust, @c_code, @mt_crm, @at_crd, @at_rcrd, @at_crm, @at_sal, @at_bal
	
	END

	CLOSE cm_cursor
	DEALLOCATE cm_cursor

	RETURN 1
END 

GO
