USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PLCLNEH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PLCLNEH](
	[C_CODE] [char](4) NOT NULL,
	[CD_PLC] [char](4) NOT NULL,
	[FG_S120] [char](1) NOT NULL,
	[FG_MTD] [char](1) NOT NULL,
	[FG_UP] [char](1) NOT NULL,
	[FG_HOW] [char](1) NOT NULL,
	[FG_TGT] [char](1) NOT NULL,
	[FG_AMT] [char](1) NULL,
 CONSTRAINT [PK_PLCLNEH] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_PLC] ASC,
	[FG_S120] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PLCLNEH] ADD  CONSTRAINT [DF__PLCLNEH__FG_AMT__096A45D7]  DEFAULT ('1') FOR [FG_AMT]
GO
