USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[TEST_FUNCTION]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [DZTPLA].[TEST_FUNCTION]()
RETURNS @TTT TABLE
(	CD_ITEM		VARCHAR(12),
	ITEM_DATE	CHAR(8),
	REST_QT	NUMERIC(15, 4),
	IN_QT		NUMERIC(15, 4),
	OUT_QT		NUMERIC(15, 4),
	TOTAL_QT	NUMERIC(15, 4),
	ATP		NUMERIC(15, 4)
)
AS
BEGIN
DECLARE	@WHILE		CHAR(1),
		@ITEM_DATE	CHAR(8),
		@REST_QT	NUMERIC(15, 4),
		@IN_QT		NUMERIC(15, 4),
		@OUT_QT	NUMERIC(15, 4),
		@ATP		NUMERIC(15, 4),
		@START_DATE	CHAR(8),
		@END_DATE	CHAR(8),
		@COUNT	NUMERIC

	INSERT INTO @TTT(CD_ITEM, ITEM_DATE, REST_QT, IN_QT, OUT_QT, TOTAL_QT, ATP)
	SELECT	T.CD_ITEM,
		T.ITEM_DATE,
		0,
		SUM(T.IN_QT),
		SUM(T.OUT_QT),
		0,
		0
	FROM	(	SELECT	CD_ITEM,
				ITEM_DATE,
				QT IN_QT,
				0 OUT_QT
			FROM	TEST1
			UNION ALL
			SELECT	CD_ITEM,
				ITEM_DATE,
				0 IN_QT,
				QT OUT_QT
			FROM	TEST2
		) T
	GROUP BY	T.CD_ITEM,
			T.ITEM_DATE
	
	SELECT	@REST_QT = QT
	FROM	TEST3

	DECLARE CUR_TEST CURSOR FOR
	SELECT	ITEM_DATE,
		IN_QT,
		OUT_QT
	FROM	@TTT
	ORDER BY ITEM_DATE

	OPEN	CUR_TEST
	FETCH	NEXT FROM CUR_TEST INTO	@ITEM_DATE,
						@IN_QT,
						@OUT_QT


	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		UPDATE	@TTT
		SET	REST_QT = @REST_QT
		WHERE	ITEM_DATE = @ITEM_DATE

		SELECT	@REST_QT = @REST_QT + @IN_QT - @OUT_QT

		UPDATE	@TTT
		SET	TOTAL_QT = @REST_QT
		WHERE	ITEM_DATE = @ITEM_DATE

	FETCH	NEXT FROM CUR_TEST INTO	@ITEM_DATE,
						@IN_QT,
						@OUT_QT
	END

	CLOSE CUR_TEST
	DEALLOCATE CUR_TEST

	SELECT	@WHILE = '0',
		@START_DATE = '00000000'

	WHILE (@WHILE = '0')
	BEGIN
		SELECT	@ATP = MIN(TOTAL_QT),
			@COUNT = COUNT(*)
		FROM	@TTT
		WHERE	ITEM_DATE > @START_DATE

		IF	@COUNT = 0
		BEGIN
			SELECT	@WHILE = '1'
			BREAK 
		END

		SELECT	@END_DATE = MIN(ITEM_DATE)
		FROM	@TTT
		WHERE	ITEM_DATE > @START_DATE
		AND	TOTAL_QT = @ATP

		UPDATE	@TTT
		SET	ATP = @ATP
		WHERE	ITEM_DATE > @START_DATE 
		AND	ITEM_DATE <= @END_DATE

		SELECT	@START_DATE = @END_DATE
	END

RETURN
END


GO
