USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SOADD_N]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SOADD_N](
	[C_CODE] [char](4) NOT NULL,
	[DN_SO] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[FG_PROC] [char](1) NULL,
	[DC_CUST] [char](6) NULL,
	[DC_HOSP] [varchar](50) NULL,
	[DC_PATIENT] [varchar](20) NULL,
	[DC_BIRTHDAY] [datetime] NULL,
	[DC_SIZE] [varchar](40) NULL,
	[DC_DIOPTER] [varchar](20) NULL,
	[DC_FG] [varchar](20) NULL,
	[DT_CALC] [char](8) NULL,
	[DT_CNFM] [char](8) NULL,
	[DT_RTRN] [char](8) NULL,
	[DT_DLY] [char](8) NULL,
	[DT_CANCEL] [char](8) NULL,
	[DT_OPER] [char](8) NULL,
	[DC_AXIS] [varchar](20) NULL,
	[DC_SERIAL] [varchar](20) NULL,
	[DC_ETC1] [varchar](255) NULL,
	[DC_ETC2] [varchar](40) NULL,
	[DC_ETC3] [varchar](40) NULL,
	[DT_supply] [varchar](10) NULL,
	[DC_ETC4] [varchar](40) NULL,
	[OUT_DT] [char](10) NULL,
	[KEY_SEQ] [int] NULL,
	[DC_REF] [char](2) NULL,
	[DC_POWER] [numeric](2, 1) NULL,
	[DC_PRE_REF] [numeric](10, 5) NULL,
	[DC_SPH] [numeric](4, 2) NULL,
	[DC_SYL] [numeric](4, 2) NULL,
	[DC_K1] [numeric](4, 2) NULL,
	[DC_K2] [numeric](4, 2) NULL,
	[DC_ACD] [numeric](4, 3) NULL,
	[DC_CT] [numeric](3, 0) NULL,
	[DC_WT] [numeric](4, 2) NULL,
	[DC_1] [varchar](10) NULL,
	[DC_2] [varchar](10) NULL,
	[DC_3] [varchar](10) NULL,
	[no_seq] [char](10) NULL,
	[hosp_code] [varchar](50) NULL,
 CONSTRAINT [PK_SOADD_N] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_SO] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
