USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ECH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ECH](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_ec] [varchar](12) NOT NULL,
	[dt_ec] [datetime] NOT NULL,
	[cd_whs] [varchar](12) NOT NULL,
	[cd_cust] [char](6) NULL,
	[dc_ifm] [varchar](80) NULL,
	[fg_ec] [char](1) NULL,
	[TM_REG] [datetime] NULL,
 CONSTRAINT [PK_ECH] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[cd_usr] ASC,
	[c_code] ASC,
	[dn_ec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ECH] ADD  CONSTRAINT [DF_ECH_TM_REG]  DEFAULT (getdate()) FOR [TM_REG]
GO
