USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PI_SE_REL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PI_SE_REL](
	[CD_NODE] [varchar](4) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_SE] [varchar](12) NOT NULL,
	[DN_SELN] [int] NOT NULL,
	[DN_PI] [varchar](12) NOT NULL,
	[DN_PILN] [int] NOT NULL,
	[FG_DATA] [varchar](10) NULL,
	[FG_DEL] [char](1) NULL,
	[DT_REG] [datetime] NULL,
	[C_CODE2] [char](4) NULL,
	[DN_SE2] [varchar](12) NULL,
	[DN_SELN2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_NODE] ASC,
	[DN_SE] ASC,
	[DN_SELN] ASC,
	[DN_PI] ASC,
	[DN_PILN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CODE_DN_SE]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CODE_DN_SE] ON [DZTPLA].[PI_SE_REL]
(
	[C_CODE] ASC,
	[DN_SE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CODE2_DN_SE2]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CODE2_DN_SE2] ON [DZTPLA].[PI_SE_REL]
(
	[C_CODE2] ASC,
	[DN_SE2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PI_SE_REL] ADD  CONSTRAINT [DF__PI_SE_REL__FG_DA__48875069]  DEFAULT ('SEPI') FOR [FG_DATA]
GO
ALTER TABLE [DZTPLA].[PI_SE_REL] ADD  CONSTRAINT [DF__PI_SE_REL__FG_DE__497B74A2]  DEFAULT ('N') FOR [FG_DEL]
GO
