USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO










CREATE FUNCTION [DZTPLA].[DZFN_GET_CUST] (
 @CD_HOSP  VARCHAR(12)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
Declare	@num 		SMALLINT,
              @CD_CUST  VARCHAR(12)

	SELECT @CD_CUST = ( CASE WHEN ISNULL((SELECT max(C.CD_AGEN) FROM CUST_AGENCY C WHERE C.C_CODE= '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP) AND RTRIM(C.CD_CUST) <> '' AND C.CD_ITEM = '*'),'%') = '%' THEN
							 CASE WHEN @CD_HOSP NOT LIKE '2%' THEN
								(SELECT MAX(CASE WHEN ISNULL(A.SETTLE,A.CD_CUST) = A.CUST_CODE OR A.SETTLE = '' THEN A.CD_CUST ELSE A.SETTLE END) FROM AGENCY A WHERE A.CUST_CODE = @CD_HOSP) 
			                 ELSE
							    DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)
							END 
	                    ELSE 
							(SELECT max(C.CD_AGEN) FROM CUST_AGENCY C WHERE C.C_CODE= '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP) AND C.CD_ITEM = '*')
						END)

/*	SELECT @CD_CUST = ( CASE WHEN ISNULL((SELECT MAX(CD_CUST) FROM AGENCY A WHERE A.CUST_CODE = @CD_HOSP),'%') = '%' THEN 
				  CASE WHEN ISNULL((SELECT MAX(CD_CUSTSAL) FROM CUST A WHERE A.CD_CUST = @CD_HOSP),'%') = '%' THEN 
				     CASE WHEN ISNULL((SELECT CD_AGEN FROM CUST_AGENCY C WHERE C.C_CODE= '1000' AND C.CD_CUST = @CD_HOSP AND C.CD_ITEM = '*'),'%') = '%' THEN  @CD_HOSP
					 ELSE (SELECT CD_AGEN FROM CUST_AGENCY C WHERE C.C_CODE= '1000' AND C.CD_CUST = @CD_HOSP AND C.CD_ITEM = '*')
					 END
				  ELSE (SELECT MAX(CD_CUSTSAL) FROM CUST A (nolock) WHERE A.CD_CUST = @CD_HOSP)
				  END
			  ELSE 
				CASE WHEN @CD_HOSP LIKE '7%' THEN 
					CASE WHEN ISNULL((SELECT MAX(SETTLE) FROM AGENCY A (nolock) WHERE A.CUST_CODE = @CD_HOSP),'') = '' THEN
						(SELECT MAX(CD_CUST) FROM AGENCY A (nolock) WHERE A.CUST_CODE = @CD_HOSP)
					ELSE (SELECT MAX(SETTLE) FROM AGENCY A (nolock) WHERE A.CUST_CODE = @CD_HOSP) 
					END 
				ELSE
					 (SELECT MAX(CD_CUST) FROM AGENCY A (nolock) WHERE A.CUST_CODE = @CD_HOSP) 
				END
			  END )
*/
/*	IF (@CD_CUST='200003' AND @CD_HOSP NOT LIKE '2%')
		SELECT @CD_CUST = (SELECT MAX(SETTLE) FROM AGENCY A (nolock) WHERE A.CUST_CODE = @CD_HOSP) 
*/
	IF (@CD_CUST='200003' OR @CD_CUST='210001' OR @CD_CUST='800000' OR ISNULL(@CD_CUST,'') = '')
	BEGIN
		IF (@CD_HOSP NOT LIKE '2%')
			SELECT @CD_CUST = (SELECT MAX(CASE WHEN ISNULL(A.SETTLE,A.CD_CUST) = A.CUST_CODE THEN A.CD_CUST ELSE A.SETTLE END) FROM AGENCY A WHERE A.CUST_CODE = @CD_HOSP) 
		ELSE
			SET @CD_CUST = @CD_HOSP
		
	END
	IF (@CD_CUST IS NULL AND LEFT(@CD_HOSP,1) = '1')
	SET @CD_CUST = @CD_HOSP

	return @CD_CUST

END










GO
