USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PSLLST_OLD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PSLLST_OLD](
	[ORDER_NO] [int] NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[MTOST] [varchar](100) NULL,
	[WOST] [varchar](100) NULL,
	[WAITST] [varchar](100) NULL,
	[ST_DATE] [datetime] NOT NULL,
	[REMK] [varchar](100) NULL,
 CONSTRAINT [PK_psllst_old] PRIMARY KEY CLUSTERED 
(
	[ORDER_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
