USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PEL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PEL](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_pe] [varchar](12) NOT NULL,
	[dn_ln] [int] NOT NULL,
	[fg_s126] [varchar](4) NOT NULL,
	[fg_s125] [varchar](4) NOT NULL,
	[at_sitem] [numeric](12, 0) NOT NULL,
	[at_vitem] [numeric](12, 0) NULL,
	[dc_ifm] [varchar](20) NULL,
	[fg_s102] [varchar](4) NULL,
	[rt_s102] [numeric](13, 1) NULL,
	[at_fpitem] [numeric](15, 4) NULL,
 CONSTRAINT [PK_PEL] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[cd_usr] ASC,
	[c_code] ASC,
	[dn_pe] ASC,
	[dn_ln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PEL]  WITH CHECK ADD  CONSTRAINT [FK_PEL_PEH] FOREIGN KEY([cd_node], [cd_dept], [cd_usr], [c_code], [dn_pe])
REFERENCES [DZTPLA].[PEH] ([cd_node], [cd_dept], [cd_usr], [c_code], [dn_pe])
GO
ALTER TABLE [DZTPLA].[PEL] CHECK CONSTRAINT [FK_PEL_PEH]
GO
