USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CALC_DATA]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CALC_DATA](
	[kid] [int] NOT NULL,
	[staar_id] [int] NULL,
	[doctor_id] [varchar](5) NULL,
	[lens_model] [varchar](5) NULL,
	[patient_id] [varchar](15) NULL,
	[op_eye] [varchar](2) NULL,
	[bvd] [tinyint] NULL,
	[sphere] [numeric](5, 2) NULL,
	[cylinder] [numeric](5, 2) NULL,
	[axis] [tinyint] NULL,
	[k1] [numeric](5, 2) NULL,
	[k2] [numeric](5, 2) NULL,
	[k_axis] [tinyint] NULL,
	[k2_axis] [tinyint] NULL,
	[acd] [numeric](5, 3) NULL,
	[ct] [numeric](5, 3) NULL,
	[ww] [numeric](5, 2) NULL,
	[cl_sph] [numeric](5, 2) NULL,
	[cl_cyl] [numeric](5, 2) NULL,
	[cl_axis] [tinyint] NULL,
	[exp_sph] [numeric](5, 2) NULL,
	[exp_cyl] [numeric](5, 2) NULL,
	[exp_axis] [tinyint] NULL,
	[exp_seq] [numeric](5, 2) NULL,
	[sel_sph] [numeric](5, 2) NULL,
	[sel_cyl] [numeric](5, 2) NULL,
	[sel_axis] [tinyint] NULL,
	[sel_length] [numeric](5, 1) NULL,
	[sel_model] [varchar](50) NULL,
	[dob] [datetime] NULL,
	[dt_calc] [datetime] NOT NULL,
	[lens_serial] [varchar](15) NULL,
	[lens_sph] [numeric](5, 2) NULL,
	[lens_cyl] [numeric](5, 2) NULL,
	[lens_axis] [tinyint] NULL,
	[rotation] [nvarchar](100) NULL,
	[dt_iod] [datetime] NULL,
	[FG_DEL] [varchar](3) NULL,
	[no_req] [varchar](12) NULL,
	[TAGGED_SERIAL] [varchar](10) NULL,
	[ORDER_NO] [int] NULL,
	[TAGGED_SPH] [numeric](5, 2) NULL,
	[TAGGED_CYL] [numeric](5, 2) NULL,
	[TAGGED_AXIS] [tinyint] NULL,
	[PATIENT_REF] [varchar](50) NULL,
	[TAG_EXP_SPH] [numeric](5, 2) NULL,
	[TAG_EXP_CYL] [numeric](5, 2) NULL,
	[TAG_EXP_AXIS] [tinyint] NULL,
	[TAG_EXP_SEQ] [numeric](5, 2) NULL,
	[ENTERED_BY] [varchar](100) NULL,
	[UPDATED_BY] [varchar](500) NULL,
	[gender] [varchar](1) NULL,
	[rec_length] [numeric](5, 1) NULL,
 CONSTRAINT [PK_CALC_DATA] PRIMARY KEY NONCLUSTERED 
(
	[kid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_doctor_kid]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_doctor_kid] ON [DZTPLA].[CALC_DATA]
(
	[kid] ASC,
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
