USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[INC_TOT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[INC_TOT](
	[c_code] [char](4) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[dt_inc] [varchar](6) NOT NULL,
	[cd_item] [char](20) NOT NULL,
	[at_item] [numeric](11, 2) NOT NULL,
 CONSTRAINT [PK_INC_TOT] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_usr] ASC,
	[dt_inc] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
