USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[POIL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[POIL](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_pi] [varchar](12) NOT NULL,
	[dn_ln] [int] NOT NULL,
	[fg_s121] [varchar](4) NOT NULL,
	[fg_s122] [varchar](4) NULL,
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[qt_oitem] [numeric](15, 4) NOT NULL,
	[at_oitem] [numeric](15, 4) NOT NULL,
	[qt_litem] [numeric](15, 4) NOT NULL,
	[at_litem] [numeric](15, 4) NOT NULL,
	[at_lcls] [numeric](15, 4) NOT NULL,
	[fg_up] [char](1) NULL,
	[fg_s102] [varchar](4) NULL,
	[rt_s102] [numeric](15, 4) NULL,
	[at_fitem] [numeric](15, 4) NULL,
	[at_flitem] [numeric](15, 4) NULL,
	[yn_lm] [char](1) NOT NULL,
	[dt_lm] [datetime] NULL,
	[dn_rel] [varchar](12) NULL,
	[dn_relln] [int] NULL,
	[dn_od] [varchar](12) NULL,
	[dn_odln] [int] NULL,
	[DN_LM] [varchar](12) NULL,
	[DN_LMLN] [int] NULL,
	[dc_specadd] [varchar](4) NULL,
	[dc_ifm] [varchar](100) NULL,
	[cd_dstwhs] [varchar](12) NULL,
	[at_pc1] [numeric](15, 4) NULL,
	[at_pc2] [numeric](15, 4) NULL,
	[at_oitems] [numeric](18, 0) NULL,
 CONSTRAINT [PK_POIL] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[cd_usr] ASC,
	[c_code] ASC,
	[dn_pi] ASC,
	[dn_ln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_LM_LN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_LM_LN] ON [DZTPLA].[POIL]
(
	[DN_LM] ASC,
	[DN_LMLN] ASC,
	[c_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_pi]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_pi] ON [DZTPLA].[POIL]
(
	[dn_pi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_REL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_REL] ON [DZTPLA].[POIL]
(
	[dn_rel] ASC,
	[dn_relln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ITEM] ON [DZTPLA].[POIL]
(
	[c_code] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEM_SPEC]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ITEM_SPEC] ON [DZTPLA].[POIL]
(
	[c_code] ASC,
	[cd_item] ASC,
	[cd_spec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_POIL_C_DN_PI]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_POIL_C_DN_PI] ON [DZTPLA].[POIL]
(
	[c_code] ASC,
	[dn_pi] ASC,
	[dn_ln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[POIL] ADD  CONSTRAINT [DF__POIL__at_lcls__2DFCAC08]  DEFAULT ((0)) FOR [at_lcls]
GO
ALTER TABLE [DZTPLA].[POIL] ADD  CONSTRAINT [DF_POIL_at_pc1]  DEFAULT ((0)) FOR [at_pc1]
GO
ALTER TABLE [DZTPLA].[POIL] ADD  CONSTRAINT [DF_POIL_at_pc2]  DEFAULT ((0)) FOR [at_pc2]
GO
ALTER TABLE [DZTPLA].[POIL]  WITH CHECK ADD  CONSTRAINT [FK_POIL_ITEMGRP] FOREIGN KEY([c_code], [cd_item], [cd_spec])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[POIL] CHECK CONSTRAINT [FK_POIL_ITEMGRP]
GO
ALTER TABLE [DZTPLA].[POIL]  WITH CHECK ADD  CONSTRAINT [FK_POIL_POIH] FOREIGN KEY([cd_node], [cd_dept], [cd_usr], [c_code], [dn_pi])
REFERENCES [DZTPLA].[POIH] ([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_PI])
GO
ALTER TABLE [DZTPLA].[POIL] CHECK CONSTRAINT [FK_POIL_POIH]
GO
ALTER TABLE [DZTPLA].[POIL]  WITH CHECK ADD  CONSTRAINT [FK_POIL_POL] FOREIGN KEY([dn_rel], [dn_relln], [c_code])
REFERENCES [DZTPLA].[POL] ([dn_po], [dc_ln], [c_code])
GO
ALTER TABLE [DZTPLA].[POIL] CHECK CONSTRAINT [FK_POIL_POL]
GO
