USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[pa_hospital]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[pa_hospital](
	[ho_seq] [int] NOT NULL,
	[ho_gubun] [char](1) NOT NULL,
	[ho_region] [varchar](15) NOT NULL,
	[ho_name] [varchar](80) NOT NULL,
	[ho_addr] [varchar](255) NOT NULL,
	[ho_tel] [varchar](20) NOT NULL,
	[ho_homepage] [varchar](120) NOT NULL,
	[ho_order] [int] NOT NULL,
	[ho_wdate] [varchar](25) NOT NULL
) ON [PRIMARY]
GO
