USE [DZTPLA]
GO
/****** Object:  StoredProcedure [DZTPLA].[USP_RLM_SUM]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE          PROCEDURE [DZTPLA].[USP_RLM_SUM] ( @O_CD_NODE VARCHAR(4), 
                                                          @O_CD_WHS VARCHAR(12),
                                                          @O_CD_LOC    VARCHAR(12),
 			          @O_CD_ITEM   VARCHAR(12),
                                                          @O_CD_SPEC  VARCHAR(12),
                                                          @O_DT_DST    VARCHAR(6),
                                                          @O_C_CODE    CHAR(4),
                                                          @O_FG_S121   VARCHAR(4),
                                                          @O_QT_ITEM  NUMERIC(15,2),
 			                @FG_EXIST    CHAR(1),
 				  @FG_UDI_STATUS CHAR(1)
)	
AS
DECLARE @NUMROWS       INT,
	      @ERRNO         INT,
	      @ERRMSG        VARCHAR(255)
  BEGIN  TRANSACTION

    IF ( @FG_EXIST = '0 ') --자료없고
    BEGIN 	
         IF ( @FG_UDI_STATUS = 'I') -- 신규 'i'
    	BEGIN
		IF (@O_FG_S121 = 'A') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_A)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF(@O_FG_S121 = 'B') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_B)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE	
                                 IF(@O_FG_S121 = 'C') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_C)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF (@O_FG_S121 = 'D') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_D)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF(@O_FG_S121 = 'E') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_E)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE	
                                 IF(@O_FG_S121 = 'F') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_F)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF (@O_FG_S121 = 'G') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_G)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF(@O_FG_S121 = 'H') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_H)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE	
                                 IF(@O_FG_S121 = 'I') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_I)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF (@O_FG_S121 = 'J') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_J)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF(@O_FG_S121 = 'K') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_K)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE	
                                 IF(@O_FG_S121 = 'L') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_L)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
 		 IF(@O_FG_S121 = 'M') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_M)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF (@O_FG_S121 = 'N') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_N)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF(@O_FG_S121 = 'O') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_O)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE	
                                 IF(@O_FG_S121 = 'P') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_P)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF (@O_FG_S121 = 'Q') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_Q)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE
		IF(@O_FG_S121 = 'R') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_R)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		ELSE	
                                 IF(@O_FG_S121 = 'S') 
		     INSERT INTO RLM  (cd_node, cd_whs,cd_loc, cd_item,cd_spec,dt_dst, c_code,QT_S)   VALUES (@O_CD_NODE, @O_CD_WHS, @O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,  @O_DT_DST, @O_C_CODE ,@O_QT_ITEM)
		 IF(@@ERROR<>0)
		       BEGIN
			ROLLBACK TRANSACTION
			 RETURN -1
		       END
                                
	 END --  IF ( @FG_UDI_STATUS = 'I')
     END -- IF ( @FG_EXIST = '0 ')
     IF ( @FG_EXIST = '1 ') -- 자료 있고    
     BEGIN 
	    IF ( @FG_UDI_STATUS = 'D') -- 삭제
    	    BEGIN
		IF (@O_FG_S121 = 'A') 
		BEGIN  
		     UPDATE RLM 
		            SET QT_A = QT_A - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'B') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_B = QT_B - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                                 IF(@O_FG_S121 = 'C') 
		    BEGIN  
		     UPDATE RLM 
		            SET QT_C = QT_C - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'D') 
		    BEGIN  
		     UPDATE RLM 
		            SET QT_D = QT_D - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'E') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_E = QT_E - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                                 IF(@O_FG_S121 = 'F') 
		    BEGIN  
		     UPDATE RLM 
		            SET QT_F = QT_F - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'G') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_G = QT_G - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'H') 
		    BEGIN  
		     UPDATE RLM 
		            SET QT_H = QT_H - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                            IF(@O_FG_S121 = 'I') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_I = QT_I - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'J') 
		     BEGIN  
		     UPDATE RLM 
		            SET QT_J = QT_J - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'K') 
		  BEGIN  
		     UPDATE RLM 
		            SET QT_K = QT_K - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                            IF(@O_FG_S121 = 'L') 
                               BEGIN  
		     UPDATE RLM 
		            SET QT_L = QT_L - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
 		 IF(@O_FG_S121 = 'M') 
		     BEGIN  
		     UPDATE RLM 
		            SET QT_M = QT_M - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'N') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_N = QT_N - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'O') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_O = QT_O - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                                 IF(@O_FG_S121 = 'P') 
		     BEGIN  
		     UPDATE RLM 
		            SET QT_P = QT_P - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'Q') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_Q = QT_Q - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'R') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_R = QT_R - @O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                                        AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                                 IF(@O_FG_S121 = 'S') 
		     BEGIN  
		     	UPDATE RLM 
			            SET QT_S = QT_S - @O_QT_ITEM
			       WHERE CD_NODE = @O_CD_NODE
			            AND CD_WHS   = @O_CD_WHS
                           		             AND CD_LOC    =@O_CD_LOC
  			            AND CD_ITEM   = @O_CD_ITEM
			            AND CD_SPEC  = @O_CD_SPEC
			            AND DT_DST    = @O_DT_DST
			            AND C_CODE   = @O_C_CODE						
		    END    


		 IF(@@ERROR<>0)
		       BEGIN
			GOTO ERROR
		       END
	  END--   IF ( @FG_UDI_STATUS = 'D')
   	 IF ( @FG_UDI_STATUS = 'I' )
                 BEGIN
IF (@O_FG_S121 = 'A') 
		BEGIN  
		     UPDATE RLM 
		        SET QT_A = QT_A+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'B') 
		   BEGIN  
		     UPDATE RLM 
		        SET QT_B = QT_B+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                                 IF(@O_FG_S121 = 'C') 
		    BEGIN  
		     UPDATE RLM 
		        SET QT_C = QT_C+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'D') 
		    BEGIN  
		     UPDATE RLM 
		            SET QT_D = QT_D+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'E') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_E = QT_E+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                                 IF(@O_FG_S121 = 'F') 
		    BEGIN  
		     UPDATE RLM 
		            SET QT_F = QT_F+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'G') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_G = QT_G+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'H') 
		    BEGIN  
		     UPDATE RLM 
		            SET QT_H = QT_H+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                            IF(@O_FG_S121 = 'I') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_I = QT_I+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'J') 
		     BEGIN  
		     UPDATE RLM 
		            SET QT_J = QT_J+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'K') 
		  BEGIN  
		     UPDATE RLM 
		            SET QT_K = QT_K+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                            IF(@O_FG_S121 = 'L') 
                               BEGIN  
		     UPDATE RLM 
		            SET QT_L = QT_L+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
 		 IF(@O_FG_S121 = 'M') 
		     BEGIN  
		     UPDATE RLM 
		            SET QT_M = QT_M+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'N') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_N = QT_N+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'O') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_O = QT_O+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                                 IF(@O_FG_S121 = 'P') 
		     BEGIN  
		     UPDATE RLM 
		            SET QT_P = QT_P+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    = @O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF (@O_FG_S121 = 'Q') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_Q = QT_Q+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                           AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE
		IF(@O_FG_S121 = 'R') 
		   BEGIN  
		     UPDATE RLM 
		            SET QT_R = QT_R+@O_QT_ITEM
		       WHERE CD_NODE = @O_CD_NODE
		            AND CD_WHS   = @O_CD_WHS
                            AND CD_LOC    =@O_CD_LOC
  		            AND CD_ITEM   = @O_CD_ITEM
		            AND CD_SPEC  = @O_CD_SPEC
		            AND DT_DST    = @O_DT_DST
		            AND C_CODE   = @O_C_CODE						
		 END    
		ELSE	
                                 IF(@O_FG_S121 = 'S') 
		     BEGIN  
		     	UPDATE RLM 
			            SET QT_S = QT_S+@O_QT_ITEM
			       WHERE CD_NODE = @O_CD_NODE
			            AND CD_WHS   = @O_CD_WHS
                                    AND CD_LOC    =@O_CD_LOC
  			            AND CD_ITEM   = @O_CD_ITEM
			            AND CD_SPEC  = @O_CD_SPEC
			            AND DT_DST    = @O_DT_DST
			            AND C_CODE   = @O_C_CODE						
		    END
                END
     END --  IF ( @FG_EXIST = '1 ')   
    IF ( @@ERROR <> 0 )
         BEGIN
	      GOTO ERROR
        END
    IF ( @@ERROR = 0 )
    BEGIN 	
         COMMIT TRANSACTION
           /* 입고,출고 재고 구하기 */
           BEGIN 	
	           EXEC   USP_RLM_SUM_INEX  @O_CD_NODE, @O_CD_WHS,@O_CD_LOC,@O_CD_ITEM, @O_CD_SPEC,@O_DT_DST,
               	   	                                             @O_C_CODE
           END  	 
         RETURN 1
    END

ERROR:
BEGIN 
  RAISERROR ('%d,%s',16,1,@ERRNO, @ERRMSG)
    ROLLBACK TRANSACTION
    RETURN -1
END

GO
