USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[BARC_SCAN]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[BARC_SCAN](
	[BSEQ] [int] IDENTITY(1,1) NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[DN_SR] [varchar](12) NULL,
	[DN_LN] [int] NULL,
	[C_CODE] [char](4) NULL,
	[FG_DEL] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[BSEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[BARC_SCAN] ADD  DEFAULT ('N') FOR [FG_DEL]
GO
