USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[pa_board]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[pa_board](
	[bm_seq] [int] NOT NULL,
	[bo_seq] [int] NULL,
	[bo_pseq] [int] NULL,
	[bo_step] [int] NULL,
	[bo_gubun] [char](3) NOT NULL,
	[bo_title] [varchar](200) NULL,
	[bo_conts] [text] NULL,
	[bo_conts_view] [text] NULL,
	[bo_conts_text] [text] NULL,
	[bo_conts_attach] [text] NULL,
	[bo_conts_image] [text] NULL,
	[bo_userid] [varchar](20) NULL,
	[bo_writer] [varchar](20) NULL,
	[bo_email] [varchar](50) NULL,
	[bo_wdate] [varchar](20) NULL,
	[bo_ip] [varchar](16) NULL,
	[bo_count] [int] NULL,
	[bo_passwd] [varchar](12) NULL,
	[bo_secret] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
