USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WEBORDER]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WEBORDER](
	[NM_SHOP] [varchar](10) NOT NULL,
	[NO_ORDER] [varchar](20) NOT NULL,
	[NO_LINE] [int] NOT NULL,
	[NM_ORDER] [varchar](30) NULL,
	[NM_RECEIVER] [varchar](20) NULL,
	[DC_OPTION] [varchar](120) NULL,
	[QTY] [int] NULL,
	[DC_ADDRESS] [varchar](200) NULL,
	[AM_AMT] [numeric](7, 0) NULL,
	[AM_TRANSIT] [numeric](5, 0) NULL,
	[FG_TRANSIT] [varchar](10) NULL,
	[NO_ORDER_TEL] [varchar](14) NULL,
	[NO_ORD_MPHONE] [varchar](14) NULL,
	[NO_RECEIVER_TEL] [varchar](14) NULL,
	[NO_REC_MPHONE] [varchar](14) NULL,
	[DC_TRANSIT] [varchar](180) NULL,
	[CD_CUST] [varchar](6) NULL,
	[ZIPCODE] [varchar](10) NULL,
	[DC_OPTION2] [varchar](60) NULL,
	[AM_SALE] [numeric](12, 0) NULL,
	[AM_CHARGE1] [numeric](12, 0) NULL,
	[AM_CHARGE2] [numeric](12, 0) NULL,
	[AM_CALC] [numeric](12, 0) NULL,
	[AM_TRANSIT2] [numeric](5, 0) NULL,
	[DN_CM] [varchar](12) NULL,
	[DT_ORDER] [varchar](20) NULL,
	[NO_ITEM_ORDER] [varchar](16) NULL,
	[AM_CALC2] [numeric](12, 0) NULL,
	[DN_CM2] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[NM_SHOP] ASC,
	[NO_ORDER] ASC,
	[NO_LINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_CM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_CM] ON [DZTPLA].[WEBORDER]
(
	[DN_CM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[WEBORDER] ADD  CONSTRAINT [DF__WEBORDER__QTY__4BD8BE60]  DEFAULT ((1)) FOR [QTY]
GO
ALTER TABLE [DZTPLA].[WEBORDER] ADD  CONSTRAINT [DF__WEBORDER__AM_AMT__4CCCE299]  DEFAULT ((0)) FOR [AM_AMT]
GO
ALTER TABLE [DZTPLA].[WEBORDER] ADD  CONSTRAINT [DF__WEBORDER__AM_TRA__4DC106D2]  DEFAULT ((0)) FOR [AM_TRANSIT]
GO
