USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CSH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CSH](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_CS] [varchar](12) NOT NULL,
	[NO_MNG] [varchar](20) NULL,
	[DT_IN] [datetime] NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_CUSTSAL] [char](6) NOT NULL,
	[CD_LNODE] [varchar](4) NOT NULL,
	[CD_WHS] [varchar](12) NULL,
	[FG_PLACE] [char](1) NOT NULL,
	[FG_BILL] [char](1) NOT NULL,
	[FG_SAL] [char](1) NOT NULL,
	[FG_S100] [varchar](4) NOT NULL,
	[CD_PLC] [varchar](4) NOT NULL,
	[FG_OCLS] [char](1) NOT NULL,
	[FG_S101] [varchar](4) NULL,
	[DC_IFM] [varchar](80) NULL,
	[DT_REG] [datetime] NOT NULL,
	[CD_REGUSR] [varchar](10) NOT NULL,
	[DT_UPD] [datetime] NOT NULL,
	[CD_UPUSR] [varchar](10) NOT NULL,
	[TM_REG] [datetime] NULL,
 CONSTRAINT [PK_CSH] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_CS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_csh]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_dn_csh] ON [DZTPLA].[CSH]
(
	[DN_CS] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CSH] ADD  CONSTRAINT [DF__CSH__FG_OCLS__17D860BF]  DEFAULT ('0') FOR [FG_OCLS]
GO
ALTER TABLE [DZTPLA].[CSH] ADD  CONSTRAINT [DF_CSH_TM_REG]  DEFAULT (getdate()) FOR [TM_REG]
GO
