USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[fn_conv_time2second]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*----------------------------------------------------------------------------------
Function Name : fn_conv_second2time
Function Name : fn_conv_time2second

예제) f_conv_second2time(second, Format)
포멧에는 다음과 같이 3가지 형식이 사용됨
as_format : DDDHHMMSSF		==> DDD:HH:MM:SS.F
            HHMMSSF		   ==> HH:MM:SS.F      (주로 반제품 1개 단위의 시간을 표현)
            HHMM			   ==> HH:MM

// DDD:HH:MM:SS.F 	ex)'000:00:20:10.0'		==> 20분 10초
// ll_dd:ll_hh:ll_mm:ll_ss:ll_ff
----------------------------------------------------------------------------------*/

CREATE FUNCTION [DZTPLA].[fn_conv_time2second]
(       @as_time        varchar(10)       /* Time */
)
RETURNS numeric(11,1) AS                  /* 초   */
BEGIN 

/*
declare @as_time as varchar(10)

select @as_time = '0010000000'
*/

/* 변수선언 */
declare @ll_dd as int
declare @ll_hh as int
declare @ll_mm as int
declare @ll_ss as int
declare @ll_ff as int
declare @ld_seco as numeric(11,1)


select @ll_dd = convert(int,substring(@as_time,1, 3))
select @ll_hh = convert(int,substring(@as_time,4, 2))
select @ll_mm = convert(int,substring(@as_time,6, 2))
select @ll_ss = convert(int,substring(@as_time,8, 2))
select @ll_ff = convert(int,substring(@as_time,10,1))

select @ld_seco = (@ll_dd * 24 * 60 * 60) + (@ll_hh * 60 * 60) + (@ll_mm * 60) + @ll_ss + (@ll_ff * 0.1)

_Continue:

Return @ld_seco

END

GO
