USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PLC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PLC](
	[C_CODE] [char](4) NOT NULL,
	[CD_PLC] [char](4) NOT NULL,
	[NM_PLC] [varchar](20) NOT NULL,
	[DT_STT] [datetime] NOT NULL,
	[DT_END] [datetime] NOT NULL,
	[CD_USR] [varchar](10) NULL,
	[DC_PLC] [varchar](200) NULL,
	[FG_APL] [char](1) NOT NULL,
	[SQ_CUST] [int] NOT NULL,
	[SQ_GRP] [int] NOT NULL,
	[SQ_STD] [int] NOT NULL,
	[FG_FIXP] [char](1) NULL,
	[FG_S109] [varchar](4) NULL,
	[FG_PLCYN] [char](1) NULL,
	[UP_FIXP] [decimal](15, 4) NOT NULL,
	[FG_UP] [char](1) NOT NULL,
	[FG_AT] [char](1) NOT NULL,
 CONSTRAINT [pk_PLC] PRIMARY KEY NONCLUSTERED 
(
	[C_CODE] ASC,
	[CD_PLC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
