USE [DZTPLA]
GO
/****** Object:  StoredProcedure [DZTPLA].[DZTPLA_AES_GET2]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE  PROCEDURE [DZTPLA].[DZTPLA_AES_GET2]
(	@AR_PARM		VARCHAR(20),
	@AS_DECS		VARCHAR(256) OUTPUT
	
)
AS
BEGIN
 
 OPEN SYMMETRIC KEY EAP_Key_01 DECRYPTION BY CERTIFICATE EAP201908;
 
 SELECT @AS_DECS =  EncryptByKey (Key_GUID('EAP_Key_01'),@AR_PARM)

END

GO
