USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PSLL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PSLL](
	[PSH_SEQ] [int] NOT NULL,
	[PSLL_SEQ] [int] NOT NULL,
	[PSL_SEQ] [int] NULL,
	[OS_OD] [char](4) NULL,
	[CD_ITEM] [char](20) NOT NULL,
	[CD_SPEC] [char](30) NOT NULL,
	[AXIS] [char](6) NULL,
	[AXIS2] [varchar](6) NULL,
	[FG_STATUS] [char](1) NULL,
	[FG_STATUS2] [char](1) NULL,
	[DC_REMARK] [varchar](1) NULL,
	[DN_SO] [char](12) NULL,
	[DN_SOLN] [int] NULL,
	[DN_PL] [char](12) NULL,
	[DN_PLLN] [int] NULL,
	[MR_CR] [char](2) NULL,
	[FG_PO] [char](1) NULL,
	[DT_CALC] [char](8) NULL,
	[DT_CNFM] [char](8) NULL,
	[DT_RTRN] [char](8) NULL,
	[DT_DLY] [char](8) NULL,
	[DT_CANCEL] [char](8) NULL,
	[DT_OPER] [char](8) NULL,
	[DC_SERIAL] [varchar](20) NULL,
	[DT_SUPPLY] [varchar](10) NULL,
	[OUT_DT] [char](8) NULL,
	[DC_REF] [char](2) NULL,
	[DC_POWER] [varchar](20) NULL,
	[DC_PRE_REF] [numeric](10, 5) NULL,
	[DC_SPH] [numeric](4, 2) NULL,
	[DC_SYL] [numeric](4, 2) NULL,
	[DC_K1] [numeric](4, 2) NULL,
	[DC_K2] [numeric](4, 2) NULL,
	[DC_ACD] [numeric](4, 3) NULL,
	[DC_CT] [numeric](3, 0) NULL,
	[DC_WT] [numeric](4, 2) NULL,
	[NO_SEQ] [char](10) NULL,
	[FG_OK] [char](1) NULL,
	[FG_PL] [char](1) NULL,
	[DC_IFM] [varchar](100) NULL,
	[AXIS3] [char](6) NULL,
	[AXIS4] [char](6) NULL,
	[SPH] [numeric](4, 2) NULL,
	[CYL] [numeric](5, 2) NULL,
	[DC_IFM2] [varchar](100) NULL,
	[DC_REMARK2] [varchar](100) NULL,
	[NO_CFM] [varchar](12) NULL,
	[in_axis] [char](6) NULL,
	[fg_cancel] [char](1) NULL,
	[pre_psh_seq] [numeric](8, 0) NULL,
	[K_AXIS] [tinyint] NULL,
	[K2_AXIS] [tinyint] NULL,
	[EXP_SPH] [decimal](5, 2) NULL,
	[EXP_CYL] [decimal](5, 2) NULL,
	[EXP_AXIS] [tinyint] NULL,
	[FG_BACK] [char](1) NULL,
 CONSTRAINT [PK_PSLL] PRIMARY KEY CLUSTERED 
(
	[PSH_SEQ] ASC,
	[PSLL_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_PL_PLLN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_PL_PLLN] ON [DZTPLA].[PSLL]
(
	[DN_PL] ASC,
	[DN_PLLN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_SO_LN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_SO_LN] ON [DZTPLA].[PSLL]
(
	[DN_SO] ASC,
	[DN_SOLN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_PSH_PSL_PSLL_SEQ]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_PSH_PSL_PSLL_SEQ] ON [DZTPLA].[PSLL]
(
	[PSH_SEQ] ASC,
	[PSL_SEQ] ASC,
	[PSLL_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_PSH_SUPPLY]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_PSH_SUPPLY] ON [DZTPLA].[PSLL]
(
	[PSH_SEQ] ASC,
	[DT_SUPPLY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SERIAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SERIAL] ON [DZTPLA].[PSLL]
(
	[DC_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SERIAL2]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SERIAL2] ON [DZTPLA].[PSLL]
(
	[DC_SERIAL] ASC,
	[FG_BACK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PSLL] ADD  CONSTRAINT [DF_PSLL_FG_STATUS2]  DEFAULT ('0') FOR [FG_STATUS2]
GO
ALTER TABLE [DZTPLA].[PSLL] ADD  CONSTRAINT [DF_PSLL_FG_OK]  DEFAULT ('Y') FOR [FG_OK]
GO
ALTER TABLE [DZTPLA].[PSLL] ADD  CONSTRAINT [DF__psll__fg_cancel__2884952B]  DEFAULT ('N') FOR [fg_cancel]
GO
ALTER TABLE [DZTPLA].[PSLL] ADD  CONSTRAINT [DF__PSLL__FG_BACK__4DA10B41]  DEFAULT ('N') FOR [FG_BACK]
GO
ALTER TABLE [DZTPLA].[PSLL]  WITH CHECK ADD  CONSTRAINT [FK_PSLL_PSH] FOREIGN KEY([PSH_SEQ])
REFERENCES [DZTPLA].[PSH] ([PSH_SEQ])
GO
ALTER TABLE [DZTPLA].[PSLL] CHECK CONSTRAINT [FK_PSLL_PSH]
GO
