USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_MIN_ITEM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE FUNCTION [DZTPLA].[DZFN_GET_MIN_ITEM] (
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@KEY_CODE VARCHAR(12)
		
	 SELECT @KEY_CODE = MIN(CD_ITEM) FROM ITEM C WHERE  C.CD_ITEM > ''  AND C.cd_pln = @CD_ITEM AND C.C_CODE = '1000' 
    --SELECT KEY_CODE FROM CUST C WHERE C.C_CODE='1000' AND C.CD_CUST='212657'
    
	 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
	    return @CD_ITEM

	return @KEY_CODE

END











GO
