USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MARKETO]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MARKETO](
	[C_CODE] [char](4) NOT NULL,
	[NO_MKT] [varchar](12) NOT NULL,
	[CD_CUST] [varchar](6) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[NO_SERIAL] [varchar](20) NULL,
	[FG_TAG] [char](3) NULL,
	[DT_VLD] [char](8) NULL,
	[DT_UP] [char](8) NULL,
	[DT_DOWN] [char](8) NULL,
	[DT_DDAY] [char](8) NULL,
	[CD_USR_RSV] [varchar](10) NULL,
	[DT_REG] [datetime] NULL,
	[DC_RMK] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NO_MKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
