USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[NIDS_UDIDI3]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[NIDS_UDIDI3](
	[C_CODE] [char](4) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[CD_UDI] [varchar](14) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
