USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RE_WORK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RE_WORK](
	[C_CODE] [char](4) NOT NULL,
	[NO_REQ] [varchar](12) NOT NULL,
	[PSH_SEQ] [int] NOT NULL,
	[NO_SERIAL] [varchar](20) NOT NULL,
	[DT_RE_SHIP] [varchar](8) NULL,
	[DC_PATIENT] [varchar](30) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[DN_SO] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[DN_SE] [varchar](12) NULL,
	[DN_SELN] [int] NULL,
	[CD_HOSP] [varchar](6) NOT NULL,
	[CD_CUST] [varchar](6) NOT NULL,
	[NM_HOSP] [varchar](40) NULL,
	[DC_IFM] [varchar](160) NULL,
	[NO_REQ2] [varchar](12) NULL,
	[PSH_SEQ2] [int] NULL,
	[DN_SO2] [varchar](12) NULL,
	[DN_LN2] [int] NULL,
	[DN_SR] [varchar](12) NULL,
	[DN_SRLN] [int] NULL,
	[DN_SO_LM] [varchar](12) NULL,
	[DN_SO_LN] [int] NULL,
	[DN_SR_LM] [varchar](12) NULL,
	[DN_SR_LN] [int] NULL,
	[DN_BC] [varchar](12) NULL,
	[DN_SB] [varchar](12) NULL,
	[DC_REMARK] [varchar](20) NULL,
	[DT_RET] [varchar](8) NULL,
	[FG_CONF] [varchar](1) NULL,
	[CD_CONF_USER] [varchar](10) NULL,
	[CD_REG_USER] [varchar](10) NULL,
	[CD_BACK_USER] [varchar](10) NULL,
	[DT_REG] [datetime] NULL,
	[FG_PRT] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NO_REQ] ASC,
	[PSH_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[RE_WORK] ADD  DEFAULT ('N') FOR [FG_PRT]
GO
