USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[LM_CHG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[LM_CHG](
	[C_CODE] [char](4) NOT NULL,
	[CD_NODE] [varchar](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[DT_TIME] [datetime] NOT NULL,
	[FG_S136] [varchar](4) NULL,
	[PRE_AT_KITEM] [numeric](15, 4) NULL,
	[PRE_AT_SCLS] [numeric](15, 4) NULL,
	[PRE_AT_VCLS] [numeric](15, 4) NULL,
	[NEW_AT_KITEM] [numeric](15, 4) NULL,
	[NEW_AT_SCLS] [numeric](15, 4) NULL,
	[NEW_AT_VCLS] [numeric](15, 4) NULL,
	[CD_USR] [varchar](10) NULL,
	[FG_DEL] [varchar](1) NULL,
	[FG_RECOVER] [varchar](1) NULL,
	[PRE_DC_LM] [varchar](160) NULL,
	[NEW_DC_LM] [varchar](160) NULL,
	[PRE_CD_CUST] [varchar](6) NULL,
	[NEW_CD_CUST] [varchar](6) NULL,
	[PRE_CD_SALCUST] [varchar](6) NULL,
	[NEW_CD_SALCUST] [varchar](6) NULL,
	[PRE_DT_LM] [datetime] NULL,
	[NEW_DT_LM] [datetime] NULL,
 CONSTRAINT [PK__LM_CHG__4D791C3397918E94] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_NODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC,
	[DT_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
