USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PSLL2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PSLL2](
	[PSH_SEQ] [int] NOT NULL,
	[PSLL_SEQ] [int] NOT NULL,
	[PSL_SEQ] [int] NULL,
	[OS_OD] [char](4) NULL,
	[CD_ITEM] [char](20) NOT NULL,
	[CD_SPEC] [char](30) NOT NULL,
	[AXIS] [char](6) NULL,
	[AXIS2] [char](6) NULL,
	[FG_STATUS] [char](1) NULL,
	[FG_STATUS2] [char](1) NULL,
	[DC_REMARK] [varchar](1) NULL,
	[DN_SO] [char](12) NULL,
	[DN_SOLN] [int] NULL,
	[DN_PL] [char](12) NULL,
	[DN_PLLN] [int] NULL,
	[MR_CR] [char](2) NULL,
	[FG_PO] [char](1) NULL,
	[DT_CALC] [char](8) NULL,
	[DT_CNFM] [char](8) NULL,
	[DT_RTRN] [char](8) NULL,
	[DT_DLY] [char](8) NULL,
	[DT_CANCEL] [char](8) NULL,
	[DT_OPER] [char](8) NULL,
	[DC_SERIAL] [varchar](20) NULL,
	[DT_SUPPLY] [varchar](10) NULL,
	[OUT_DT] [char](8) NULL,
	[DC_REF] [char](2) NULL,
	[DC_POWER] [varchar](20) NULL,
	[DC_PRE_REF] [numeric](10, 5) NULL,
	[DC_SPH] [numeric](4, 2) NULL,
	[DC_SYL] [numeric](4, 2) NULL,
	[DC_K1] [numeric](4, 2) NULL,
	[DC_K2] [numeric](4, 2) NULL,
	[DC_ACD] [numeric](4, 3) NULL,
	[DC_CT] [numeric](3, 0) NULL,
	[DC_WT] [numeric](4, 2) NULL,
	[NO_SEQ] [char](10) NULL,
	[FG_OK] [char](1) NULL,
	[FG_PL] [char](1) NULL,
	[DC_IFM] [varchar](100) NULL,
	[AXIS3] [char](6) NULL,
	[AXIS4] [char](6) NULL,
	[SPH] [numeric](4, 2) NULL,
	[CYL] [numeric](4, 2) NULL,
	[DC_IFM2] [varchar](100) NULL,
	[DC_REMARK2] [varchar](100) NULL,
	[NO_CFM] [varchar](12) NULL,
	[in_axis] [char](6) NULL,
	[fg_cancel] [char](1) NULL,
	[pre_psh_seq] [numeric](8, 0) NULL
) ON [PRIMARY]
GO
