USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WJMALL_NOTICE]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WJMALL_NOTICE](
	[seq] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NULL,
	[content] [varchar](2000) NULL,
	[user_id] [varchar](20) NULL,
	[regi_date] [varchar](8) NULL,
	[hit_cnt] [numeric](10, 0) NULL,
 CONSTRAINT [PK_WJMALL_NOTICE] PRIMARY KEY CLUSTERED 
(
	[seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
