USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[imsi]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[imsi](
	[imsi1] [varchar](10) NOT NULL,
	[imsi2] [varchar](10) NULL,
	[imsi3] [varchar](10) NULL,
	[imsi4] [varchar](10) NULL,
	[imsi5] [varchar](10) NULL,
	[imsi6] [varchar](10) NULL,
 CONSTRAINT [PK_memo] PRIMARY KEY CLUSTERED 
(
	[imsi1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
