USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PER_INOUT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PER_INOUT](
	[seq] [numeric](8, 0) IDENTITY(1,1) NOT NULL,
	[sno] [varchar](12) NOT NULL,
	[dt_inout] [datetime] NOT NULL,
	[loc] [varchar](200) NOT NULL,
	[chk] [varchar](20) NULL,
	[remark] [varchar](200) NULL,
	[lat] [varchar](50) NULL,
	[lon] [varchar](50) NULL,
 CONSTRAINT [PK_PER_INOUT] PRIMARY KEY CLUSTERED 
(
	[seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
