USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PLNPD]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PLNPD](
	[C_CODE] [char](4) NOT NULL,
	[DT_YR] [char](4) NOT NULL,
	[DT_PD] [numeric](18, 0) NOT NULL,
	[DT_STT] [datetime] NOT NULL,
	[DT_END] [datetime] NOT NULL,
 CONSTRAINT [PK_PLNPD] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DT_YR] ASC,
	[DT_PD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
