USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_DELIVERY_A]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [DZTPLA].[DZFN_GET_DELIVERY_A] (
 @DATE  DATETIME
)
RETURNS DATETIME AS
BEGIN

	--//출고거래처 알아내기
	Declare	@RTN_DATE  DATETIME
		
	SELECT @RTN_DATE = (CASE WHEN ((CAL_DAY = '토' AND CAL_HOLIDAY <> '1' AND convert(varchar(2), @DATE, 8) < 12) OR 
				    ((CAL_DAY <> '토' OR 
				      (CAL_DAY = '토' AND CAL_HOLIDAY = '1')
				     ) AND
				     convert(varchar(2), @DATE, 8) < 17
				    )
				   )
			THEN (SELECT TOP 1 CAL_DATE FROM CALENDAR (NOLOCK) 
						 WHERE CONVERT(VARCHAR, CAL_DATE, 112) > @DATE
						   AND CONVERT(VARCHAR(4), CAL_DELIVERY, 112) < '2015'
						 ORDER BY CAL_DATE
				 )
			ELSE (SELECT MAX(CAL_DATE) 
				   FROM (SELECT TOP 2 CAL_DATE FROM CALENDAR (NOLOCK) 
						 WHERE CONVERT(VARCHAR, CAL_DATE, 112) > @DATE
						   AND CONVERT(VARCHAR(4), CAL_DELIVERY, 112) < '2015'
						 ORDER BY CAL_DATE
						) A
				 )
		END )
	  FROM CALENDAR (NOLOCK)
	 WHERE CONVERT(VARCHAR, CAL_DATE, 112) = CONVERT(VARCHAR, @DATE, 112)

	return @RTN_DATE

END











GO
