USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[T_STAVG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[T_STAVG](
	[c_code] [char](4) NOT NULL,
	[cd_node] [varchar](12) NOT NULL,
	[mt_val] [char](6) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[cd_act] [varchar](5) NOT NULL,
	[qt_in] [numeric](15, 4) NOT NULL,
	[at_in] [numeric](15, 4) NOT NULL,
	[qt_ex] [numeric](15, 4) NOT NULL,
 CONSTRAINT [PK_T_STAVG] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_node] ASC,
	[mt_val] ASC,
	[cd_act] ASC,
	[cd_item] ASC,
	[cd_spec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
