USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[pln_t]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[pln_t](
	[cd_usr] [varchar](255) NULL,
	[cd_dept] [varchar](255) NULL,
	[cd_cust] [varchar](255) NULL,
	[cd_item] [varchar](255) NULL,
	[up_item] [varchar](255) NULL,
	[qt_1] [varchar](255) NULL,
	[at_1] [varchar](255) NULL,
	[qt_2] [varchar](255) NULL,
	[at_2] [varchar](255) NULL,
	[qt_3] [varchar](255) NULL,
	[at_3] [varchar](255) NULL,
	[qt_4] [varchar](255) NULL,
	[at_4] [varchar](255) NULL,
	[qt_5] [varchar](255) NULL,
	[at_5] [varchar](255) NULL,
	[qt_6] [varchar](255) NULL,
	[at_6] [varchar](255) NULL,
	[qt_7] [varchar](255) NULL,
	[at_7] [varchar](255) NULL,
	[qt_8] [varchar](255) NULL,
	[at_8] [varchar](255) NULL,
	[qt_9] [varchar](255) NULL,
	[at_9] [varchar](255) NULL,
	[qt_10] [varchar](255) NULL,
	[at_10] [varchar](255) NULL,
	[qt_11] [varchar](255) NULL,
	[at_11] [varchar](255) NULL,
	[qt_12] [varchar](255) NULL,
	[at_12] [varchar](255) NULL,
	[qt_ttl] [varchar](255) NULL,
	[at_ttl] [varchar](255) NULL
) ON [PRIMARY]
GO
