USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WJMALL_USER]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WJMALL_USER](
	[user_cust] [varchar](6) NULL,
	[user_id] [varchar](20) NOT NULL,
	[user_pwd] [varchar](20) NULL,
	[user_name] [varchar](50) NULL,
	[user_gbn] [varchar](1) NULL,
	[user_hp] [varchar](15) NULL,
	[user_email] [varchar](30) NULL,
	[first_change] [varchar](1) NULL,
	[sms_yn] [varchar](1) NULL,
	[use_yn] [varchar](1) NULL,
	[reg_date] [varchar](8) NULL,
 CONSTRAINT [PK_WJMALL_USER] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_USER_ID]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_USER_ID] ON [DZTPLA].[WJMALL_USER]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_WJMALL_SMS]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_WJMALL_SMS] ON [DZTPLA].[WJMALL_USER]
(
	[sms_yn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
