USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MO_RECEIVER2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MO_RECEIVER2](
	[UKEY] [varchar](30) NOT NULL,
	[MO_DATE] [varchar](14) NULL,
	[RECEIVER] [varchar](15) NULL,
	[SENDER] [varchar](15) NULL,
	[NO_MSG] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[UKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
