USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[VISITPLAN]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[VISITPLAN](
	[C_CODE] [char](4) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[DT_REG] [datetime] NOT NULL,
	[DT_VISIT] [char](8) NOT NULL,
	[DC_VISIT] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_USR] ASC,
	[DT_REG] ASC,
	[DT_VISIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
