USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ID_CHECK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ID_CHECK](
	[CHK_DATE] [varchar](8) NOT NULL,
	[S_IDNO] [varchar](13) NOT NULL,
	[COMP_TYPE] [char](1) NULL,
	[COMP_STATE] [char](1) NULL,
	[COMP_STATEDATE] [varchar](8) NULL,
	[COMP_CHECKDATE] [varchar](8) NULL,
	[C_CODE] [varchar](4) NULL,
	[CUST_CODE] [varchar](6) NULL,
	[CUST_NAME] [varchar](40) NULL,
	[REG_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHK_DATE] ASC,
	[S_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
