USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CMBK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CMBK](
	[cd_cust] [char](6) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[mt_crm] [char](8) NOT NULL,
	[at_crd] [numeric](15, 4) NOT NULL,
	[at_rcrd] [numeric](15, 4) NULL,
	[at_crm] [numeric](15, 4) NOT NULL,
	[at_sal] [numeric](15, 4) NOT NULL,
	[at_bal] [numeric](15, 4) NULL,
	[at_altercm] [numeric](15, 4) NOT NULL,
	[CD_CUST2] [varchar](6) NULL,
 CONSTRAINT [PK_CMBK] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_cust] ASC,
	[mt_crm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CMBK] ADD  CONSTRAINT [DF__CMBK__at_crd__49D9D0A7]  DEFAULT ((0)) FOR [at_crd]
GO
ALTER TABLE [DZTPLA].[CMBK] ADD  CONSTRAINT [DF_CMBK_at_rcrd]  DEFAULT ((0)) FOR [at_rcrd]
GO
ALTER TABLE [DZTPLA].[CMBK] ADD  CONSTRAINT [DF_CMBK_at_crm]  DEFAULT ((0)) FOR [at_crm]
GO
ALTER TABLE [DZTPLA].[CMBK] ADD  CONSTRAINT [DF_CMBK_at_sal]  DEFAULT ((0)) FOR [at_sal]
GO
ALTER TABLE [DZTPLA].[CMBK] ADD  CONSTRAINT [DF_CMBK_at_bal]  DEFAULT ((0)) FOR [at_bal]
GO
ALTER TABLE [DZTPLA].[CMBK] ADD  CONSTRAINT [DF_CMBK_at_altercm]  DEFAULT ((0)) FOR [at_altercm]
GO
