USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[STEMP]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[STEMP](
	[KEYCODE] [varchar](30) NOT NULL,
	[DC_RMK] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[KEYCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
