USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_ITEM_TAGNOS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE FUNCTION [DZTPLA].[DZFN_ITEM_TAGNOS] (@C_CODE CHAR(4),@CD_ITEM VARCHAR(50),@CD_SPEC VARCHAR(20), @LOC VARCHAR(6), @FG_IO VARCHAR(1))  
RETURNS VARCHAR(8000) AS  
BEGIN 
 
 DECLARE    @TAGNOS   VARCHAR(8000)      
 
 SELECT 
    @TAGNOS = COALESCE(@TAGNOS + ',','') + TAG_NO
 FROM 
    DZTPLA.TAGMASTER T
    , DZTPLA.SERIALH H with(index(idx_serialh_SPEC))
 WHERE 
    T.C_CODE = H.C_CODE 
    AND T.DN_RLCD = H.NO_SERIAL
       AND H.C_CODE = @C_CODE
    AND H.CD_ITEM = @CD_ITEM
    AND H.CD_SPEC = @CD_SPEC
	AND ISNULL(T.LOC, 'WA') = @LOC
	AND T.FG_IO = @FG_IO
 ORDER BY TAG_NO

 RETURN (@TAGNOS)
END

 











GO
