USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEMCLASS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEMCLASS](
	[C_CODE] [char](4) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[SQ_SPEC] [int] NULL,
	[CD_SPEC] [varchar](4) NOT NULL,
	[FG_SIZE] [char](1) NULL,
 CONSTRAINT [PK_ITEMCLASS] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ITEMCLASS] ADD  CONSTRAINT [DF__ITEMCLASS__FG_SI__42CCE065]  DEFAULT ('0') FOR [FG_SIZE]
GO
