USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSTK_EDT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSTK_EDT](
	[c_code] [char](4) NOT NULL,
	[mnth] [char](6) NOT NULL,
	[fg_acct] [char](1) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[zq] [numeric](20, 2) NULL,
	[za] [numeric](20, 2) NULL,
	[aq] [numeric](20, 2) NULL,
	[aa] [numeric](20, 4) NULL,
	[bq] [numeric](20, 2) NULL,
	[ba] [numeric](20, 4) NULL,
	[cq] [numeric](20, 2) NULL,
	[ca] [numeric](20, 2) NULL,
	[dq] [numeric](20, 4) NULL,
	[da] [numeric](20, 2) NULL,
	[eq] [numeric](20, 2) NULL,
	[ea] [numeric](20, 2) NULL,
	[fq] [numeric](20, 2) NULL,
	[fa] [numeric](20, 2) NULL,
	[gq] [numeric](20, 2) NULL,
	[ga] [numeric](20, 2) NULL,
	[hq] [numeric](20, 2) NULL,
	[ha] [numeric](20, 2) NULL,
	[iq] [numeric](20, 2) NULL,
	[ia] [numeric](20, 2) NULL,
	[jq] [numeric](20, 2) NULL,
	[ja] [numeric](20, 2) NULL,
	[kq] [numeric](20, 2) NULL,
	[ka] [numeric](20, 2) NULL,
	[lq] [numeric](20, 2) NULL,
	[la] [numeric](20, 2) NULL,
	[mq] [numeric](20, 2) NULL,
	[ma] [numeric](20, 2) NULL,
	[nq] [numeric](20, 2) NULL,
	[na] [numeric](20, 2) NULL,
	[oq] [numeric](20, 2) NULL,
	[oa] [numeric](20, 2) NULL,
	[pq] [numeric](20, 2) NULL,
	[pa] [numeric](20, 2) NULL,
	[qq] [numeric](20, 2) NULL,
	[qa] [numeric](20, 2) NULL,
	[rq] [numeric](20, 2) NULL,
	[ra] [numeric](20, 2) NULL,
	[sq] [numeric](20, 2) NULL,
	[sa] [numeric](20, 2) NULL,
	[tq] [numeric](20, 2) NULL,
	[ta] [numeric](20, 2) NULL,
	[uq] [numeric](20, 2) NULL,
	[ua] [numeric](20, 2) NULL,
	[zz] [numeric](20, 2) NULL,
 CONSTRAINT [PK_MSTK_EDT] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[mnth] ASC,
	[fg_acct] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__zq__06D9889D]  DEFAULT ((0)) FOR [zq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__za__07CDACD6]  DEFAULT ((0)) FOR [za]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__aq__08C1D10F]  DEFAULT ((0)) FOR [aq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__aa__09B5F548]  DEFAULT ((0)) FOR [aa]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__bq__0AAA1981]  DEFAULT ((0)) FOR [bq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ba__0B9E3DBA]  DEFAULT ((0)) FOR [ba]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__cq__0C9261F3]  DEFAULT ((0)) FOR [cq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ca__0D86862C]  DEFAULT ((0)) FOR [ca]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__dq__0E7AAA65]  DEFAULT ((0)) FOR [dq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__da__0F6ECE9E]  DEFAULT ((0)) FOR [da]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__eq__1062F2D7]  DEFAULT ((0)) FOR [eq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ea__11571710]  DEFAULT ((0)) FOR [ea]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__fq__124B3B49]  DEFAULT ((0)) FOR [fq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__fa__133F5F82]  DEFAULT ((0)) FOR [fa]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__gq__143383BB]  DEFAULT ((0)) FOR [gq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ga__1527A7F4]  DEFAULT ((0)) FOR [ga]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__hq__161BCC2D]  DEFAULT ((0)) FOR [hq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ha__170FF066]  DEFAULT ((0)) FOR [ha]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__iq__1804149F]  DEFAULT ((0)) FOR [iq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ia__18F838D8]  DEFAULT ((0)) FOR [ia]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__jq__19EC5D11]  DEFAULT ((0)) FOR [jq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ja__1AE0814A]  DEFAULT ((0)) FOR [ja]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__kq__1BD4A583]  DEFAULT ((0)) FOR [kq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ka__1CC8C9BC]  DEFAULT ((0)) FOR [ka]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__lq__1DBCEDF5]  DEFAULT ((0)) FOR [lq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__la__1EB1122E]  DEFAULT ((0)) FOR [la]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__mq__1FA53667]  DEFAULT ((0)) FOR [mq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ma__20995AA0]  DEFAULT ((0)) FOR [ma]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__nq__218D7ED9]  DEFAULT ((0)) FOR [nq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__na__2281A312]  DEFAULT ((0)) FOR [na]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__oq__2375C74B]  DEFAULT ((0)) FOR [oq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__oa__2469EB84]  DEFAULT ((0)) FOR [oa]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__pq__255E0FBD]  DEFAULT ((0)) FOR [pq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__pa__265233F6]  DEFAULT ((0)) FOR [pa]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__qq__2746582F]  DEFAULT ((0)) FOR [qq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__qa__283A7C68]  DEFAULT ((0)) FOR [qa]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__rq__292EA0A1]  DEFAULT ((0)) FOR [rq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ra__2A22C4DA]  DEFAULT ((0)) FOR [ra]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__sq__2B16E913]  DEFAULT ((0)) FOR [sq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__sa__2C0B0D4C]  DEFAULT ((0)) FOR [sa]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__tq__2CFF3185]  DEFAULT ((0)) FOR [tq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ta__2DF355BE]  DEFAULT ((0)) FOR [ta]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__uq__2EE779F7]  DEFAULT ((0)) FOR [uq]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__ua__2FDB9E30]  DEFAULT ((0)) FOR [ua]
GO
ALTER TABLE [DZTPLA].[MSTK_EDT] ADD  CONSTRAINT [DF__MSTK_EDT__zz__30CFC269]  DEFAULT ((0)) FOR [zz]
GO
