USE [DZTPLA]
GO
/****** Object:  View [DZTPLA].[DZAIS_GUBUNACCT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  VIEW [DZTPLA].[DZAIS_GUBUNACCT] AS SELECT * FROM  DZAIS.DZAIS.GUBUNACCT 




GO
