USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MVL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MVL](
	[C_CODE] [char](4) NOT NULL,
	[DN_MV] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[CD_WHS] [varchar](12) NOT NULL,
	[FG_S121] [varchar](4) NULL,
	[FG_S122] [varchar](4) NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NULL,
	[QT_ITEM] [numeric](15, 4) NOT NULL,
	[UP_LCLS] [numeric](15, 4) NOT NULL,
	[AT_LCLS] [numeric](15, 4) NOT NULL,
 CONSTRAINT [PK_MVL] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_MV] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[MVL] ADD  CONSTRAINT [DF__MVL__UP_LCLS__7B0717E7]  DEFAULT ((0)) FOR [UP_LCLS]
GO
ALTER TABLE [DZTPLA].[MVL] ADD  CONSTRAINT [DF__MVL__AT_LCLS__7BFB3C20]  DEFAULT ((0)) FOR [AT_LCLS]
GO
ALTER TABLE [DZTPLA].[MVL]  WITH CHECK ADD  CONSTRAINT [FK_MVL_ITEMGRP] FOREIGN KEY([C_CODE], [CD_ITEM], [CD_SPEC])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[MVL] CHECK CONSTRAINT [FK_MVL_ITEMGRP]
GO
ALTER TABLE [DZTPLA].[MVL]  WITH CHECK ADD  CONSTRAINT [FK_MVL_MVH] FOREIGN KEY([C_CODE], [DN_MV])
REFERENCES [DZTPLA].[MVH] ([C_CODE], [DN_MV])
GO
ALTER TABLE [DZTPLA].[MVL] CHECK CONSTRAINT [FK_MVL_MVH]
GO
