USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CTL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CTL](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_CT] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[FG_S121] [varchar](4) NOT NULL,
	[FG_S122] [varchar](4) NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[QT_ITEM] [numeric](15, 4) NOT NULL,
	[DC_CT] [varchar](80) NULL,
	[UP_LCLS] [numeric](15, 4) NOT NULL,
	[AT_LCLS] [numeric](15, 4) NOT NULL,
	[DC_SPEC] [varchar](4) NULL,
 CONSTRAINT [PK_CTL] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_CT] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CTL] ADD  CONSTRAINT [DF__CTL__UP_LCLS__7CEF6059]  DEFAULT ((0)) FOR [UP_LCLS]
GO
ALTER TABLE [DZTPLA].[CTL] ADD  CONSTRAINT [DF__CTL__AT_LCLS__7DE38492]  DEFAULT ((0)) FOR [AT_LCLS]
GO
ALTER TABLE [DZTPLA].[CTL]  WITH CHECK ADD  CONSTRAINT [FK_CTL_CTH] FOREIGN KEY([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_CT])
REFERENCES [DZTPLA].[CTH] ([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_CT])
GO
ALTER TABLE [DZTPLA].[CTL] CHECK CONSTRAINT [FK_CTL_CTH]
GO
