USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[POIL_copy]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[POIL_copy](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_pi] [varchar](12) NOT NULL,
	[dn_ln] [int] NOT NULL,
	[fg_s121] [varchar](4) NOT NULL,
	[fg_s122] [varchar](4) NULL,
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[qt_oitem] [decimal](15, 4) NOT NULL,
	[at_oitem] [decimal](15, 4) NOT NULL,
	[qt_litem] [decimal](15, 4) NOT NULL,
	[at_litem] [decimal](15, 4) NOT NULL,
	[at_lcls] [decimal](15, 4) NOT NULL,
	[fg_up] [char](1) NULL,
	[fg_s102] [varchar](4) NULL,
	[rt_s102] [decimal](15, 4) NULL,
	[at_fitem] [decimal](15, 4) NULL,
	[at_flitem] [decimal](15, 4) NULL,
	[yn_lm] [char](1) NOT NULL,
	[dt_lm] [datetime] NULL,
	[dn_rel] [varchar](12) NULL,
	[dn_relln] [int] NULL,
	[dn_od] [varchar](12) NULL,
	[dn_odln] [int] NULL,
	[DN_LM] [varchar](12) NULL,
	[DN_LMLN] [int] NULL,
	[dc_specadd] [varchar](4) NULL,
	[dc_ifm] [varchar](40) NULL,
	[cd_dstwhs] [varchar](12) NULL,
	[at_pc1] [decimal](15, 4) NULL,
	[at_pc2] [decimal](15, 4) NULL,
	[at_oitems] [decimal](18, 0) NULL,
 CONSTRAINT [POIL_x] PRIMARY KEY NONCLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[cd_usr] ASC,
	[c_code] ASC,
	[dn_pi] ASC,
	[dn_ln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
