USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_TEAM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [DZTPLA].[DZFN_GET_TEAM] (
 @CD_HOSP  VARCHAR(12)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//팀 알아내기
Declare	@CD_TEAM VARCHAR(12),
              @CD_USR  VARCHAR(12),
			  @CD_CUST2  VARCHAR(12)

    SET @CD_CUST2 = @CD_HOSP

	BEGIN

	SET @CD_USR = (SELECT TOP 1 CD_USR
						 FROM INC_MASTER M (NOLOCK) 
						WHERE M.C_CODE='1000' AND  M.CD_PLN = 'MNG1'
						  AND M.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_CUST2)
					 )
	END

	IF ( @CD_USR IS NULL OR RTRIM(@CD_USR)='')
		SET @CD_TEAM = 'NULL'
	ELSE
		BEGIN
		SELECT @CD_TEAM = (SELECT TOP 1 CD_TEAM 
							 FROM PER_MOB(NOLOCK)
							WHERE SNO = @CD_USR
							  AND JAEJIK_GU='100'
						  )
		END
		IF ( @CD_TEAM IS NULL OR RTRIM(@CD_TEAM)='')
			SET @CD_TEAM = 'NULL'

	return @CD_TEAM

END












GO
