USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[LMSUM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[LMSUM](
	[C_CODE] [char](4) NOT NULL,
	[DT_LMM] [char](6) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[QT_ITEM] [numeric](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DT_LMM] ASC,
	[CD_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[LMSUM] ADD  CONSTRAINT [DF__LMSUM__QT_ITEM__36DDA17A]  DEFAULT ((0)) FOR [QT_ITEM]
GO
