USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[TICL_OUT_COUNT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [DZTPLA].[TICL_OUT_COUNT] (
 @NO_SERIAL VARCHAR(30),
 @DC_REMARK VARCHAR(50),
 @DT_DATE   VARCHAR(8)
)
RETURNS VARCHAR(2) AS
BEGIN

	--//

Declare	@FG_IO INTEGER
Declare	@DN_LAST VARCHAR(12)
Declare	@RET VARCHAR(2)
DECLARE @CD_SALCUST VARCHAR(6)
/*DECLARE @DT_DATE   VARCHAR(8) 
DECLARE @NO_SERIAL VARCHAR(30)
DECLARE @DC_REMARK VARCHAR(50)
*/	
		SELECT  @FG_IO = SUM(CASE WHEN LM2.FG_S121 = 'A' OR LM2.FG_S121 = 'H' OR LM2.FG_S121 = 'M' THEN 1 
			                      WHEN LM2.FG_S121 = 'I' OR LM2.FG_S121 = 'K' OR LM2.FG_S121 = 'T' THEN -1 
				                  WHEN LM2.FG_S121 = 'B' THEN 99 END),
			    @CD_SALCUST = MAX(LM2.CD_SALCUST)
			FROM LM202011 LM2 
		  WHERE LM2.C_CODE='3000'  
			AND LM2.DT_LM <= convert(datetime, @DT_DATE, 112)   
            AND LM2.DT_LM >= '2015-01-01' 
			AND LM2.CD_ITEM LIKE 'T_' 
			AND LM2.FG_S121 IN ('A','H','M','I','T','B') 			
			AND LEFT(LM2.DC_LM, CHARINDEX(']',LM2.DC_LM)) + CD_SALCUST LIKE @DC_REMARK
            AND CHARINDEX(']',LM2.DC_LM) > 0  			
		
		select @DN_LAST = TM.DN_LAST 
		  from TAGMASTER TM 
		 WHERE TM.C_CODE='3000' AND TM.DN_RLCD = @NO_SERIAL 
		   AND EXISTS (SELECT * FROM LM202011 LM WHERE LM.C_CODE='3000' AND LM.DN_LM = TM.DN_LAST AND LM.CD_SALCUST= @CD_SALCUST)			  				   


		IF (@FG_IO = 1 AND LEFT(@DN_LAST,2) = 'SE' OR @FG_IO >= 99 AND LEFT(@DN_LAST,2) = 'CS')
			SET @RET = 'OK'  --신고대상 해당
		ELSE
			SET @RET = 'NO'  --신고대상 비해당


	return @RET

END










GO
