USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAGMASTER]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAGMASTER](
	[C_CODE] [char](4) NOT NULL,
	[TAG_NO] [varchar](12) NOT NULL,
	[FG_TAG] [varchar](4) NULL,
	[DN_RLCD] [varchar](20) NULL,
	[DT_REG] [datetime] NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[FG_IO] [char](1) NULL,
	[LOC] [varchar](6) NOT NULL,
	[QT_ITEM] [numeric](5, 0) NOT NULL,
	[FG_STOCK] [char](1) NULL,
	[DT_IO] [datetime] NULL,
	[DN_LAST] [varchar](12) NULL,
	[FG_IOL] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[TAG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_code_tag]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_code_tag] ON [DZTPLA].[TAGMASTER]
(
	[C_CODE] ASC,
	[TAG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_last_code_loc]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_last_code_loc] ON [DZTPLA].[TAGMASTER]
(
	[DN_LAST] ASC,
	[C_CODE] ASC,
	[LOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_rlcd]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_rlcd] ON [DZTPLA].[TAGMASTER]
(
	[C_CODE] ASC,
	[DN_RLCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_rlcd2]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_rlcd2] ON [DZTPLA].[TAGMASTER]
(
	[DN_RLCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_fg_tag_io]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_fg_tag_io] ON [DZTPLA].[TAGMASTER]
(
	[C_CODE] ASC,
	[FG_TAG] ASC,
	[FG_IO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_loc]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_loc] ON [DZTPLA].[TAGMASTER]
(
	[C_CODE] ASC,
	[DN_RLCD] ASC,
	[FG_IO] ASC,
	[LOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_rlcd_fg_io]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_rlcd_fg_io] ON [DZTPLA].[TAGMASTER]
(
	[C_CODE] ASC,
	[DN_RLCD] ASC,
	[FG_TAG] ASC,
	[FG_IO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TAG_IO_LAST_LOC]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_TAG_IO_LAST_LOC] ON [DZTPLA].[TAGMASTER]
(
	[C_CODE] ASC,
	[FG_TAG] ASC,
	[FG_IO] ASC,
	[DN_LAST] ASC,
	[LOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_tag_io_rlcd_loc]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_tag_io_rlcd_loc] ON [DZTPLA].[TAGMASTER]
(
	[C_CODE] ASC,
	[FG_TAG] ASC,
	[FG_IO] ASC,
	[DN_RLCD] ASC,
	[LOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[TAGMASTER] ADD  CONSTRAINT [DF__TAGMASTER__FG_IO__5912BDED]  DEFAULT ('I') FOR [FG_IO]
GO
ALTER TABLE [DZTPLA].[TAGMASTER] ADD  CONSTRAINT [DF__TAGMASTER__LOC__5DD7730A]  DEFAULT ('WA') FOR [LOC]
GO
ALTER TABLE [DZTPLA].[TAGMASTER] ADD  CONSTRAINT [DF__TAGMASTER__QT_IT__629C2827]  DEFAULT ((1)) FOR [QT_ITEM]
GO
ALTER TABLE [DZTPLA].[TAGMASTER] ADD  CONSTRAINT [DF__TAGMASTER__FG_ST__78565F1C]  DEFAULT ('N') FOR [FG_STOCK]
GO
