USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[VBASETRADE2]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[VBASETRADE2](
	[C_CODE] [varchar](4) NOT NULL,
	[CUST_CODE] [varchar](6) NOT NULL,
	[CUST_NAME] [varchar](40) NULL,
	[CUST_SORT] [varchar](30) NULL,
	[NO_EMP_S] [varchar](10) NULL
) ON [PRIMARY]
GO
