USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RCV_PHONE_LOG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RCV_PHONE_LOG](
	[DT_RCV] [datetime] NOT NULL,
	[DC_INFO] [varchar](100) NOT NULL,
	[FG_SND] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DT_RCV] ASC,
	[DC_INFO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[RCV_PHONE_LOG] ADD  CONSTRAINT [DF__RCV_PHONE__FG_SN__27265C9E]  DEFAULT ('N') FOR [FG_SND]
GO
