USE [DZTPLA]
GO
/****** Object:  StoredProcedure [DZTPLA].[USP_RETRUN_OUT_PLAN_QTY]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE             proc [DZTPLA].[USP_RETRUN_OUT_PLAN_QTY]
    @vchCompCode   VARCHAR(4) = '',
    @vchNodeCode    VARCHAR(4) ='',
    @vchItem              VARCHAR(12) ='',
    @vchSpec            VARCHAR(12) ='',
    @dtDate                DATETIME,
    @iReturn               numeric(6) OUTPUT
AS

--DECLARE @iReturn INT
DECLARE @iSumOutValue numeric(6) 
DECLARE @iSumOrderValue numeric(6) 
DECLARE @iSumOperValue numeric(6) 
DECLARE @iSumOperValue2 numeric(6) 

SELECT @iSumOutValue = 0

SELECT @iSumOrderValue = 0

SELECT @iSumOperValue = 0
SELECT @iSumOperValue2 = 0


/* 출고진행중인 수량 ->출고중 수량 (출고지시table 집계)   */
SELECT @iSumOutValue = SUM(qt_oitem) 
  FROM SOEL c, SOEH d
 WHERE c.cd_node  = d.cd_node
   AND c.cd_dept      = d.cd_dept
   AND c.cd_usr        = d.cd_usr
   AND c.dn_se         = d.dn_se
   AND d.cd_exnode = @vchNodeCode
   AND c.c_code       = @vchCompCode
   AND c.cd_item       = @vchItem
   AND c.cd_spec     = @vchSpec
   AND c.yn_lm          = '0'  
   AND d.dt_ex         <= @dtDate + 0.9999999
   AND EXISTS ( SELECT a.dn_so, a.dn_ln
	               FROM SOL a, SOH b
	             WHERE a.cd_node     = b.cd_node
	                  AND a.cd_dept      = b.cd_dept
	                  AND a.cd_usr        = b.cd_usr
	                  AND a.dn_so         = b.dn_so
		    AND b.fg_odr         = '0'  
	                  AND b.dt_ex         <= @dtDate + 0.9999999
                                AND a.dn_so         = c.dn_se
                                AND a.dn_ln          = c.dn_ln
                          )

/* 수주후 미출고 수량 -> 출고진행중인 수량 없는것 ( 미출고 수량 )   */
SELECT @iSumOrderValue = SUM(qt_odr) 
  FROM SOL a, SOH b
 WHERE a.cd_node  = b.cd_node
   AND a.cd_dept      = b.cd_dept
   AND a.cd_usr        = b.cd_usr
   AND a.dn_so         = b.dn_so
   AND b.cd_exnode = @vchNodeCode
   AND a.c_code       = @vchCompCode
   AND a.cd_item       = @vchItem
   AND a.cd_spec     = @vchSpec
   AND b.fg_odr         = '0'  
   AND b.dt_ex         <= @dtDate + 0.9999999
   AND ( b.fg_prc = '0' and ( a.fg_so = '0' or a.fg_so  = '2' ) 
     or     b.fg_prc = '1' and ( a.fg_so = '1' or a.fg_so = '2' ) )
   AND not EXISTS ( SELECT sum(c.qt_oitem)
                                  FROM SOEL c, SOEH d
                                 WHERE c.cd_node     = d.cd_node
	                        AND c.cd_dept      = d.cd_dept
		          AND c.cd_usr        = d.cd_usr
		          AND c.dn_se         = d.dn_se
--		          AND d.cd_exnode = @vchNodeCode
--		          AND c.c_code       = @vchCompCode
--		          AND c.cd_item       = @vchItem
--		          AND c.cd_spec     = @vchSpec
		          AND d.dt_ex         <= @dtDate + 0.9999999
                                      AND c.dn_od         = a.dn_so
                                      AND c.dn_odln       = a.dn_ln
                              group by c.dn_od, c.dn_odln having sum(c.qt_oitem)  > 0
                                        )

/* 수주후 미출고 수량  -> 출고 진행중인 수량을 빼서 구함 ( 출고진행중 수량 )   */
SELECT @iSumOperValue =  SUM(qt_odr)            
    FROM SOL a, SOH b
  WHERE a.cd_node  = b.cd_node
       AND a.cd_dept      = b.cd_dept
       AND a.cd_usr        = b.cd_usr
       AND a.dn_so         = b.dn_so
       AND b.cd_exnode = @vchNodeCode
       AND a.c_code       = @vchCompCode
       AND a.cd_item       = @vchItem
       AND a.cd_spec     = @vchSpec
       AND b.fg_odr         = '0'  
       AND b.dt_ex         <= @dtDate + 0.9999999
       AND ( b.fg_prc = '0' and ( a.fg_so = '0' or a.fg_so  = '2' ) 
         or     b.fg_prc = '1' and ( a.fg_so = '1' or a.fg_so = '2' ) ) 
       AND   EXISTS ( SELECT sum(c.qt_oitem)
                                  FROM SOEL c, SOEH d
                                 WHERE c.cd_node     = d.cd_node
	                        AND c.cd_dept      = d.cd_dept
		          AND c.cd_usr        = d.cd_usr
		          AND c.dn_se         = d.dn_se
--		          AND d.cd_exnode = @vchNodeCode
--		          AND c.c_code       = @vchCompCode
--		          AND c.cd_item       = @vchItem
--		          AND c.cd_spec     = @vchSpec
		          AND d.dt_ex         <= @dtDate + 0.9999999
                                      AND c.dn_od         = a.dn_so
                                      AND c.dn_odln       = a.dn_ln
                              group by c.dn_od, c.dn_odln having sum(c.qt_oitem)  > 0
                                        )


SELECT @iSumOperValue2 = sum(case c.yn_lm when '0' then c.qt_oitem when '1' then c.qt_litem end ) 
   FROM SOEL c, SOEH d
 WHERE c.cd_node     = d.cd_node
      AND c.cd_dept      = d.cd_dept
      AND c.cd_usr        = d.cd_usr
      AND c.dn_se         = d.dn_se
--      AND d.cd_exnode = @vchNodeCode
--      AND c.c_code       = @vchCompCode
--      AND c.cd_item       = @vchItem
--      AND c.cd_spec     = @vchSpec
      AND d.dt_ex         <= @dtDate + 0.9999999
--      AND c.yn_lm          = '1'  
      AND exists ( SELECT a.dn_so, a.dn_ln
	               FROM SOL a, SOH b
	             WHERE a.cd_node     = b.cd_node
	                  AND a.cd_dept      = b.cd_dept
	                  AND a.cd_usr        = b.cd_usr
	                  AND a.dn_so         = b.dn_so
	                  AND b.cd_exnode = @vchNodeCode
	                  AND a.c_code       = @vchCompCode
	                  AND a.cd_item       = @vchItem
	                  AND a.cd_spec     = @vchSpec
	                  AND b.dt_ex         <= @dtDate + 0.9999999
                                AND a.dn_so         = c.dn_od
                                AND a.dn_ln          = c.dn_odln
	                  AND ( b.fg_prc = '0' and ( a.fg_so = '0' or a.fg_so  = '2' ) 
	                    or     b.fg_prc = '1' and ( a.fg_so = '1' or a.fg_so = '2' ) ) )

SELECT @iSumOperValue = IsNull(@iSumOperValue,0) 

SELECT @iSumOperValue2 = IsNull(@iSumOperValue2,0) 

SELECT @iSumOperValue = @iSumOperValue - @iSumOperValue2
             
SELECT @iSumOutValue = IsNull(@iSumOutValue,0) 

SELECT @iSumOrderValue = isNull(@iSumOrderValue,0) 

SELECT @iReturn = @iSumOrderValue + @iSumOutValue + @iSumOperValue


GO
