USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[app_menu]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[app_menu](
	[id_menu] [varchar](50) NOT NULL,
	[nm_menu] [varchar](50) NOT NULL,
	[bg_color_start] [varchar](50) NULL,
	[use_yn] [varchar](1) NOT NULL,
	[bg_color_end] [varchar](50) NULL,
	[use_ios_yn] [varchar](1) NULL,
 CONSTRAINT [PK_app_menu] PRIMARY KEY CLUSTERED 
(
	[id_menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
