USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_DELIVERY_S]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [DZTPLA].[DZFN_GET_DELIVERY_S] (
 @DATE  DATETIME
)
RETURNS DATETIME AS
BEGIN

	--//출고거래처 알아내기
	Declare	@RTN_DATE  DATETIME
		
	SELECT @RTN_DATE = (CASE WHEN convert(varchar(2), @DATE, 8) > 09
			THEN (SELECT TOP 1 CAL_DATE FROM CALENDAR (NOLOCK)
						 WHERE CONVERT(VARCHAR, CAL_DATE, 112) > @DATE
						   AND CONVERT(VARCHAR(4), CAL_SEOUL_DELIVERY, 112) < '2015'
						 ORDER BY CAL_DATE
				 )
			ELSE @DATE
			END )
	  FROM CALENDAR (NOLOCK)
	 WHERE CONVERT(VARCHAR, CAL_DATE, 112) = CONVERT(VARCHAR, @DATE, 112)

	return @RTN_DATE

END











GO
