USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[QUICKREQ]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[QUICKREQ](
	[DN_RQ] [varchar](12) NOT NULL,
	[CD_HOSP] [varchar](12) NULL,
	[NM_HOSP] [varchar](30) NULL,
	[DT_REG] [datetime] NULL,
	[CD_USER] [varchar](12) NULL,
	[DC_REQ_TIME] [varchar](16) NULL,
	[DC_REQ_LOC] [varchar](30) NULL,
	[FG_QUICK] [varchar](8) NULL,
	[DC_REMARK] [varchar](50) NULL,
	[FG_STATUS] [varchar](8) NULL,
	[NM_CANCEL] [varchar](10) NULL,
	[CD_VIEW] [varchar](12) NULL,
	[NO_RIDER] [varchar](5) NULL,
	[AM_QUICK] [numeric](7, 0) NULL,
	[NM_RIDER_PHONE] [varchar](14) NULL,
	[RIDER_PHONE] [varchar](12) NULL,
	[DC_QUICK_START] [varchar](19) NULL,
	[FG_LOC] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[DN_RQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_STATUS_TIME]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_STATUS_TIME] ON [DZTPLA].[QUICKREQ]
(
	[FG_STATUS] ASC,
	[DC_QUICK_START] ASC
)
INCLUDE([DN_RQ],[CD_HOSP],[NM_HOSP],[DT_REG],[AM_QUICK]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[QUICKREQ] ADD  DEFAULT ('등록') FOR [FG_STATUS]
GO
