USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_TELNO2NAME]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO









CREATE FUNCTION [DZTPLA].[DZFN_TELNO2NAME] (
 @A_TEL_NO  VARCHAR(12)
)
RETURNS VARCHAR(30) AS
BEGIN

	--//품목코드를 렌즈명으로

Declare	@CUST_NAME  VARCHAR(30)


	SELECT @CUST_NAME = MAX(CUST_NAME)
	   FROM VBASE_TRADE (NOLOCK)
	 WHERE DZTPLA.DZFN_STRTRIM(TEL_NO) = @A_TEL_NO 

	IF ( @CUST_NAME IS NULL )
              BEGIN
	   SELECT @CUST_NAME = ''
	END
	ELSE
	BEGIN
	   RETURN @CUST_NAME
	END	


 	IF ( @CUST_NAME = '' )
              BEGIN

		SELECT @CUST_NAME = CUST_NAME
		  FROM PHN_NUM (NOLOCK)
		 WHERE DZTPLA.DZFN_STRTRIM(TEL_NO) = @A_TEL_NO 

		IF ( @CUST_NAME IS NULL )
		BEGIN
		   SELECT @CUST_NAME = ''
		END
		ELSE
		BEGIN
		  RETURN @CUST_NAME
	              END
              END

	IF ( @CUST_NAME = '' )
              BEGIN

		SELECT @CUST_NAME =  KNAME
		   FROM PER_MOB (NOLOCK)
		WHERE DZTPLA.DZFN_STRTRIM(SIGNET) = @A_TEL_NO 

		IF ( @CUST_NAME IS NULL )
		BEGIN
		   SELECT @CUST_NAME = ''
		END
		ELSE
		BEGIN
		  RETURN @CUST_NAME
	              END
	END

	RETURN @CUST_NAME

END









GO
