USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[INVEN_LIST2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[INVEN_LIST2](
	[C_CODE] [varchar](4) NOT NULL,
	[INVEN_DATE] [varchar](8) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[RLM_CNT] [numeric](10, 0) NOT NULL,
	[TAG_CNT] [numeric](10, 0) NOT NULL,
	[REMK] [varchar](200) NULL,
	[DC_SPEC] [numeric](5, 0) NOT NULL
) ON [PRIMARY]
GO
