USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUSTPLACE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUSTPLACE](
	[C_CODE] [char](6) NOT NULL,
	[CD_CUSTD] [char](6) NOT NULL,
	[CD_PLACE] [int] NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[FG_CPN] [char](1) NULL,
	[NM_CPN] [varchar](30) NULL,
	[NM_USR] [varchar](30) NULL,
	[DC_TEL] [varchar](17) NULL,
	[DC_FAX] [varchar](17) NULL,
	[DC_EMAIL] [varchar](30) NULL,
	[DC_TRADE] [varchar](20) NULL,
	[DC_ADR] [varchar](70) NULL,
	[FG_S104] [varchar](4) NOT NULL,
	[FG_S103] [varchar](4) NOT NULL,
	[FG_MAIN] [char](1) NOT NULL,
	[DC_ADR2] [varchar](50) NULL,
	[DC_ZIP] [varchar](6) NULL,
 CONSTRAINT [PK_CUSTPLACE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUSTD] ASC,
	[CD_PLACE] ASC,
	[CD_CUST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUSTD]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUSTD] ON [DZTPLA].[CUSTPLACE]
(
	[CD_CUSTD] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CUSTPLACE] ADD  CONSTRAINT [DF__CUSTPLACE__FG_MA__1372D2FE]  DEFAULT ('0') FOR [FG_MAIN]
GO
