USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[DOCU]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[DOCU](
	[C_CODE] [char](4) NOT NULL,
	[DN_DOC] [varchar](12) NOT NULL,
	[FG_CLASS] [varchar](10) NULL,
	[DC_YEAR] [char](4) NULL,
	[DC_MON] [char](4) NULL,
	[ARTICLES] [varchar](500) NULL,
	[NM_JRN] [varchar](15) NULL,
	[KEY_WORD] [varchar](2000) NULL,
	[AUTHOR] [varchar](500) NULL,
	[DN_THSS] [varchar](12) NULL,
	[DN_THSS2] [varchar](12) NULL,
	[PERIOD] [varchar](50) NULL,
	[EXP_NOTE] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_DOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
