USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[schedule_h]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[schedule_h](
	[c_code] [char](4) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[sc_no] [varchar](12) NOT NULL,
	[dt_sc] [datetime] NULL,
	[cd_dept] [char](4) NULL,
	[cr_dt] [datetime] NULL,
 CONSTRAINT [PK_schedule] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_usr] ASC,
	[sc_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
