USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_DELIVERY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE FUNCTION [DZTPLA].[DZFN_GET_DELIVERY] (
 @CD_HOSP  VARCHAR(12),	-- 거래처 코드
 @DATE  DATETIME,		-- 기준일시
 @GBN_ORDER VARCHAR(1), -- 오더 주문 구분(1:오더, 0:일반)
 @GBN_ZIK VARCHAR(1)	-- 직배송 구분(1:직배, 0:일반)
)
RETURNS DATETIME AS
BEGIN

	--//출고거래처 알아내기
	Declare @GBN_SEOUL VARCHAR(1),
			 @RTN_DATE DATETIME

	SELECT @GBN_SEOUL = (CASE WHEN FG_S103 = '001' THEN 'S' ELSE 'A' END)
	  FROM CUST (nolock) 
	 WHERE C_CODE = '1000' 
	   AND CD_CUST = @CD_HOSP

	IF (@GBN_SEOUL = 'A' OR @GBN_ZIK = '1') -- 직배송이거나 서울통상아니면 택배
	BEGIN
		SET @RTN_DATE = DZTPLA.DZFN_GET_DELIVERY_A(@DATE)
	END
	ELSE
	BEGIN
		SET @RTN_DATE = DZTPLA.DZFN_GET_DELIVERY_S(@DATE)
	END

	IF (@GBN_ORDER = '1') -- 오더면 나온 날짜 + 14일
		SET @RTN_DATE = DATEADD(DAY, 14, @RTN_DATE)

	return @RTN_DATE

END











GO
