USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[AGENCY_BK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[AGENCY_BK](
	[C_CODE] [varchar](4) NOT NULL,
	[CUST_CODE] [varchar](6) NOT NULL,
	[CUST_NAME] [varchar](40) NULL,
	[CUST_SORT] [varchar](30) NULL,
	[CUST_TYPE] [char](1) NULL,
	[S_IDNO] [varchar](10) NULL,
	[DNAME] [varchar](30) NULL,
	[TEL_NO] [varchar](20) NULL,
	[TEL_NO2] [varchar](20) NULL,
	[FAX_NO] [varchar](20) NULL,
	[CERTI_NO] [varchar](20) NULL,
	[MAIL_NO] [varchar](8) NULL,
	[S_ADDRESS] [varchar](70) NULL,
	[UPTAE] [varchar](30) NULL,
	[JONG] [varchar](30) NULL,
	[ID_NO] [varchar](13) NULL,
	[DTEL_NOT] [varchar](17) NULL,
	[CUST_DAM] [varchar](30) NULL,
	[CHAN_AMT] [numeric](13, 0) NULL,
	[FTRAD_DATE] [char](8) NULL,
	[NO_EMP_S] [varchar](10) NULL,
	[NM_CUST_E] [varchar](80) NULL,
	[DC_ADDR_E] [varchar](80) NULL,
	[FG_SALE] [char](1) NULL,
	[FG_USE] [char](1) NULL,
	[MD_GUBUN] [char](1) NULL,
	[PAY_METH] [char](2) NULL,
	[PAY_TIME] [char](2) NULL,
	[PAY_TERM] [varchar](2) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[TAX_METHOD] [varchar](1) NULL,
	[TRADE_ITEM] [varchar](50) NULL,
	[DC_ADDR_E2] [varchar](80) NULL,
	[DC_ADDR_E3] [varchar](80) NULL,
	[CHECKD_CODE] [varchar](3) NULL,
	[GRP1] [char](3) NULL,
	[GRP2] [char](3) NULL,
	[MM_RCP] [int] NULL,
	[DD_RCP] [int] NULL,
	[PWD] [varchar](12) NULL,
	[GR_UM] [varchar](3) NULL,
	[SUM_CODE] [varchar](6) NULL,
	[TP_VAT] [char](1) NULL,
	[FG_CUST] [char](1) NULL,
	[DC_RMK] [varchar](80) NULL,
	[TERM_START] [char](2) NULL,
	[SETTING_MON] [char](2) NULL,
	[SETTING_DAY] [char](2) NULL,
	[BANK_CODE] [varchar](3) NULL,
	[ACCOUNT_NO] [varchar](20) NULL,
	[DEPOSITMA_NO] [varchar](20) NULL,
	[MAIL_NO1] [varchar](8) NULL,
	[S_ADDRESS1] [varchar](70) NULL,
	[CHARGE_PART] [char](1) NULL,
	[LIQUOR] [char](1) NOT NULL,
	[FG_CUST_ITEM] [char](1) NULL,
	[FG_CLS] [char](1) NULL,
	[CUST_GUBUN] [char](1) NULL,
	[DEPOSITOR] [varchar](40) NULL,
	[CUST_MAIL] [varchar](40) NULL,
	[CUST_PHONE] [varchar](17) NULL,
	[EIS_GRP] [varchar](3) NULL,
	[AR_GUBUN] [char](1) NULL,
	[SETTLE] [varchar](8) NULL,
	[CD_CUST] [varchar](8) NULL,
	[FG_ONE] [char](1) NULL,
	[CD_WHS] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CUST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
