USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[EAS_APPROKEY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[EAS_APPROKEY](
	[C_CODE] [char](4) NOT NULL,
	[DN_DOC] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[APPROKEY] [varchar](100) NULL,
	[CREATED_DT] [datetime] NULL,
	[DOC_STS] [varchar](10) NULL,
	[END_DT] [datetime] NULL,
	[ARBITRARY_YN] [char](1) NULL,
	[USE_YN] [char](1) NULL,
	[FG_DOC] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_DOC] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
