USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST2M]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO











CREATE FUNCTION [DZTPLA].[DZFN_GET_CUST2M] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(12) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@CD_HOSP2  VARCHAR(12), 
			@KEY_CODE VARCHAR(12)
		
	 SET @CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)
--SELECT DZTPLA.DZFN_GET_CUSTM('212657')

	 SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C (NOLOCK) WHERE C.C_CODE = '1000' AND C.CD_CUST = @CD_CUST 
    --SELECT KEY_CODE FROM CUST C WHERE C.C_CODE='1000' AND C.CD_CUST='212657'
    
	 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
	    return @CD_CUST

     select @CD_HOSP2 = C.TO_CUST2 from cust_item_tag C  (NOLOCK) 
								where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE 
									and C.cd_item = @CD_ITEM 

-- SELECT TOP 10 * FROM CUST_ITEM_TAG where cd_cust='M212657'
					  
	 IF (@CD_HOSP2 IS NULL or @CD_HOSP2 = '' )
	 BEGIN
		select @CD_HOSP2 = C.to_cust2 from cust_item_tag C  (NOLOCK) 
									where C.c_code = '1000'
								      and C.CD_CUST = @KEY_CODE
									  and C.cd_item = '*' 


		IF (@CD_HOSP2 IS NULL or @CD_HOSP2 = '' )
		BEGIN
			SELECT @KEY_CODE = MAX(C.KEY_CODE) 
				FROM CUST C (NOLOCK)  WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST(@CD_HOSP)

			SET @CD_HOSP2 = (select top 1 C.to_cust2 
									from cust_item_tag C  (NOLOCK) 
								where C.c_code = '1000'
									and C.CD_CUST = @KEY_CODE 
									and C.cd_item = @CD_ITEM )
									
			IF (@CD_HOSP2 IS NULL or @CD_HOSP2 = '' )
			   SET @CD_HOSP2 = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)
			--SET @TO_CD_CUST = @CD_CUST

		END 
	END

	return @CD_HOSP2

END











GO
