USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[dr_code]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[dr_code](
	[dr_gubun] [varchar](1) NOT NULL,
	[dr_code] [varchar](5) NOT NULL,
	[dr_name] [varchar](50) NULL,
 CONSTRAINT [pk_dr_code] PRIMARY KEY CLUSTERED 
(
	[dr_gubun] ASC,
	[dr_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
