USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WHIM]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WHIM](
	[C_CODE] [char](4) NOT NULL,
	[DN_WM] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[CD_WHS_FR] [varchar](12) NOT NULL,
	[CD_WHS_TO] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[DC_SPEC] [varchar](4) NOT NULL,
	[QT_STCK_FR] [numeric](15, 4) NULL,
	[QT_STCK_TO] [numeric](15, 4) NULL,
	[QT_STCK_STD] [numeric](15, 4) NULL,
	[QT_RF_TAG] [numeric](15, 4) NULL,
	[QT_ADD] [numeric](15, 4) NULL,
	[QT_ITEM] [numeric](15, 4) NULL,
	[DC_REMARK] [varchar](50) NULL,
	[DT_REG] [datetime] NULL,
	[DT_MOV] [varchar](8) NULL,
	[DN_TAG] [varchar](12) NULL,
	[QT_RITEM] [numeric](15, 4) NULL,
	[DT_MOVE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_WM] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CD_ITEM_SPEC]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CD_ITEM_SPEC] ON [DZTPLA].[WHIM]
(
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[WHIM] ADD  CONSTRAINT [DF__WHIM__DT_REG__69D3359B]  DEFAULT (getdate()) FOR [DT_REG]
GO
