USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[QM_GROUP_NAME]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[QM_GROUP_NAME](
	[CD_MODEL] [varchar](20) NOT NULL,
	[CD_ITEM] [varchar](12) NULL,
	[NM_GROUP] [varchar](30) NULL,
	[NM_MGROUP] [varchar](40) NULL,
	[NM_ITEM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_MODEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
