USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[FAXSEND]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[FAXSEND](
	[C_CODE] [char](4) NOT NULL,
	[DN_FAX] [varchar](12) NOT NULL,
	[DEST_PHONE] [varchar](20) NOT NULL,
	[FAX_FILE] [varchar](1000) NOT NULL,
	[FROM_USR] [varchar](12) NOT NULL,
	[DC_NAME] [varchar](50) NULL,
	[CMID] [varchar](32) NULL,
	[FG_DEL] [char](1) NULL,
	[FG_CONF] [char](1) NULL,
	[NM_FILES] [varchar](300) NULL,
	[DC_FAX] [varchar](10) NULL,
	[CD_CUST] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_FAX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[FAXSEND] ADD  CONSTRAINT [DF__FAXSEND__FG_DEL__1E91169D]  DEFAULT ('N') FOR [FG_DEL]
GO
ALTER TABLE [DZTPLA].[FAXSEND] ADD  DEFAULT ('N') FOR [FG_CONF]
GO
