USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[pa_bbsmanager]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[pa_bbsmanager](
	[bm_seq] [int] NOT NULL,
	[bm_name] [varchar](50) NOT NULL,
	[bm_type] [char](1) NOT NULL,
	[bm_list] [char](2) NOT NULL,
	[bm_view] [char](2) NOT NULL,
	[bm_write] [char](2) NOT NULL,
	[bm_rlevel] [char](2) NOT NULL,
	[bm_secret] [char](2) NOT NULL,
	[bm_pagesize] [char](3) NOT NULL,
	[bm_attach] [char](1) NOT NULL,
	[bm_attachsize] [varchar](5) NOT NULL,
	[bm_newicon] [char](3) NOT NULL,
	[bm_email] [char](1) NOT NULL,
	[bm_reply] [char](1) NOT NULL,
	[bm_date] [varchar](25) NOT NULL,
	[bm_user] [varchar](50) NOT NULL,
 CONSTRAINT [pa_bbsmanager_x] PRIMARY KEY NONCLUSTERED 
(
	[bm_seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
