USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_QTAVG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




/* 회사별 재고      */
/* 작성자 : 고정호 */
CREATE FUNCTION [DZTPLA].[DZFN_QTAVG]
(
 
 @A_C_CODE    CHAR(4),
 @A_CD_ITEM   VARCHAR(40),
 @A_DT_FR       VARCHAR(8),
 @A_DT_TO        VARCHAR(8)) 

RETURNS NUMERIC(15,4)

AS
BEGIN
DECLARE @DT_GUBUN  VARCHAR(8)
SET @DT_GUBUN = '19900101'

DECLARE @CD_ITEM VARCHAR(40)
DECLARE @DT_FR  VARCHAR(8)
DECLARE @DT_TO  VARCHAR(8)

SET @CD_ITEM =  @A_CD_ITEM
SET @DT_FR =  @A_DT_FR  
SET @DT_TO =  @A_DT_TO
DECLARE @QT_TOT NUMERIC(15,4)

DECLARE @QT_AVER NUMERIC(15,4)
SELECT @QT_TOT = 0
		SELECT @QT_AVER = 0
BEGIN	

		SELECT @DT_GUBUN = @DT_FR

	IF ( 2 > 1)
	BEGIN

		WHILE @dt_gubun <= @DT_TO
		BEGIN
			SELECT @QT_AVER = (SELECT SUM(QT_IN) - SUM(QT_EX)
			  FROM RLM
		 	 WHERE CD_ITEM	= @CD_ITEM 
                                                AND DT_DST  <=CONVERT(CHAR(8),DATEADD(DAY,-1,DATEADD(MM,1,CONVERT(DATETIME,SUBSTRING(CONVERT(CHAR(8),@DT_GUBUN),1,6)+'01'))),112)

			 GROUP BY CD_ITEM)
			
			SELECT @QT_TOT=ISNULL(@QT_TOT,0)+@QT_AVER / 3
			SELECT @DT_GUBUN = CONVERT(CHAR(8),DATEADD(MM,1,CONVERT(DATETIME,@DT_GUBUN)),112)

		END
		
	END

END
RETURN (  @QT_TOT )
END


GO
