USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[BARCODEH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[BARCODEH](
	[KEY_SEQ] [int] IDENTITY(1,1) NOT NULL,
	[C_CODE] [char](4) NULL,
	[DN_LM] [varchar](12) NULL,
	[DN_LN] [int] NULL,
	[NO_SQ] [int] NULL,
	[NO_SERIAL] [varchar](20) NULL,
	[INEXDT] [char](8) NULL,
	[GUBUN] [varchar](8) NULL,
	[NO_DN] [varchar](12) NULL,
	[NO_DNLN] [int] NULL,
	[LOC] [varchar](12) NULL,
	[CUST] [char](6) NULL,
	[TM_REG] [datetime] NULL,
	[QTY] [numeric](15, 4) NULL,
	[OLDNO] [char](12) NULL,
	[dn_rel] [varchar](12) NULL,
	[dn_relln] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_LM_LN_SQ]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_LM_LN_SQ] ON [DZTPLA].[BARCODEH]
(
	[C_CODE] ASC,
	[DN_LM] ASC,
	[DN_LN] ASC,
	[NO_SQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_KEY]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_KEY] ON [DZTPLA].[BARCODEH]
(
	[C_CODE] ASC,
	[KEY_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_loc]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_loc] ON [DZTPLA].[BARCODEH]
(
	[C_CODE] ASC,
	[LOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NO_DN_LN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_NO_DN_LN] ON [DZTPLA].[BARCODEH]
(
	[NO_DN] ASC,
	[NO_DNLN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NO_DN_SERIAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_NO_DN_SERIAL] ON [DZTPLA].[BARCODEH]
(
	[NO_SERIAL] ASC,
	[NO_DN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SERIAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SERIAL] ON [DZTPLA].[BARCODEH]
(
	[C_CODE] ASC,
	[NO_SERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SERIAL_INEX_DN]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SERIAL_INEX_DN] ON [DZTPLA].[BARCODEH]
(
	[C_CODE] ASC,
	[NO_SERIAL] ASC,
	[INEXDT] ASC,
	[NO_DN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
