USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAGLOG_RET]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAGLOG_RET](
	[TAG_NO] [varchar](12) NOT NULL,
	[NM_WINDOW] [varchar](20) NOT NULL,
	[DT_DATE] [varchar](8) NOT NULL,
	[DT_REG] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TAG_NO] ASC,
	[NM_WINDOW] ASC,
	[DT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
