USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PRCPLN]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PRCPLN](
	[C_CODE] [char](4) NOT NULL,
	[DN_PP] [varchar](12) NOT NULL,
	[FG_TYPE] [char](1) NOT NULL,
	[DT_REG] [datetime] NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[DT_PRCPLN] [datetime] NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[FG_S107] [varchar](4) NOT NULL,
	[AT_PRCPLN] [numeric](15, 4) NOT NULL,
	[AT_TPRCPLN] [numeric](15, 4) NULL,
	[DN_ODR] [varchar](12) NULL,
	[DC_IFM] [varchar](40) NULL,
 CONSTRAINT [PK_PRCPLN] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_PP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
