USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_ODOS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO













CREATE FUNCTION [DZTPLA].[DZFN_GET_ODOS] (
 @DC_REMARK  VARCHAR(100)
)
RETURNS VARCHAR(20) AS
BEGIN

	--//출고거래처 알아내기
Declare	@num 		SMALLINT,
              @DC_PAT   VARCHAR(100)
	
	IF ( ISNULL(@DC_REMARK,'%%%###$$$') = '%%%###$$$' ) 
	return ''

	IF ( CHARINDEX( '[', @DC_REMARK) > 0 ) 
                  SELECT @DC_PAT = SUBSTRING(@DC_REMARK,CHARINDEX( '[',@DC_REMARK) + 1 ,2)
	ELSE 
	    SELECT @DC_PAT = ''
 
	return @DC_PAT

END













GO
