USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[QCKREQLST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[QCKREQLST](
	[DN_NO] [varchar](12) NOT NULL,
	[NO_PHONE] [varchar](13) NOT NULL,
	[DT_REG] [datetime] NULL,
	[NO_SEND1] [varchar](32) NULL,
	[NO_SEND2] [varchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[DN_NO] ASC,
	[NO_PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_PHONE]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_PHONE] ON [DZTPLA].[QCKREQLST]
(
	[NO_PHONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
