USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[NIDS_UDI_REPORT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[NIDS_UDI_REPORT](
	[NM_NO] [numeric](7, 0) NOT NULL,
	[suplyContStdmt] [varchar](6) NOT NULL,
	[suplyContSeq] [numeric](7, 0) NOT NULL,
	[suplyEntpName] [varchar](100) NOT NULL,
	[cobTypeName] [varchar](1000) NULL,
	[suplyFlagCode] [varchar](1) NULL,
	[suplyTypeCode] [varchar](1) NULL,
	[rtngudFlagCode] [varchar](1) NULL,
	[meddevItemSeq] [numeric](11, 0) NULL,
	[no_seq] [numeric](7, 0) NULL,
	[udiDiSeq] [numeric](10, 0) NULL,
	[stdCode] [varchar](200) NULL,
	[udiDiCode] [varchar](60) NULL,
	[udiPiCode] [varchar](100) NULL,
	[entpName] [varchar](100) NULL,
	[itemName] [varchar](500) NULL,
	[meaClassNo] [varchar](10) NULL,
	[permitNo] [varchar](50) NULL,
	[typeName] [varchar](500) NULL,
	[packQuantity] [numeric](2, 0) NULL,
	[lotNo] [varchar](100) NULL,
	[itemSeq] [varchar](50) NULL,
	[manufYm] [varchar](6) NULL,
	[useTmlmt] [varchar](6) NULL,
	[bcncCode] [varchar](30) NULL,
	[bcncEntpName] [varchar](100) NULL,
	[bcncCobTypeName] [varchar](1000) NULL,
	[bcncEntpAddr] [varchar](1100) NULL,
	[bcncTaxNo] [varchar](10) NULL,
	[bcncHptlCode] [varchar](50) NULL,
	[isDiffDvyfg] [varchar](10) NULL,
	[dvyfgPlaceBcncCode] [varchar](30) NULL,
	[dvyfgEntpName] [varchar](100) NULL,
	[dvyfgCobTypeName] [varchar](1000) NULL,
	[dvyfgEntpAddr] [varchar](1100) NULL,
	[dvyfgTaxNo] [varchar](10) NULL,
	[dvyfgHptlCode] [varchar](50) NULL,
	[suplyDate] [varchar](8) NULL,
	[suplyQty] [varchar](5) NULL,
	[suplyUntpc] [numeric](11, 0) NULL,
	[suplyAmt] [numeric](12, 0) NULL,
	[remark] [varchar](2000) NULL,
	[indvdlzSuplyQty] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[NM_NO] ASC,
	[suplyContStdmt] ASC,
	[suplyContSeq] ASC,
	[suplyEntpName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[NIDS_UDI_REPORT] ADD  DEFAULT ((1)) FOR [packQuantity]
GO
