USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[UF_PHONETRIM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO











CREATE FUNCTION [DZTPLA].[UF_PHONETRIM] (
 @STR_ORIG  VARCHAR(100)
)
RETURNS VARCHAR(100) AS
BEGIN

	--//문자에서 숫자만 남기는 함수

	Declare	@TEMPS         VARCHAR(1),
	              @RET_STR   VARCHAR(100),
	              @N_POS        INTEGER,
	              @N_LEN         INTEGER

	SET @N_POS = 1
              SET @RET_STR = ''

	SELECT @N_LEN = LEN(RTRIM(@STR_ORIG)) 
	
	WHILE (@N_POS <= @N_LEN) 
	
	BEGIN 

	   SET @TEMPS = SUBSTRING(@STR_ORIG,@N_POS,1)

	   IF (ASCII(@TEMPS) >= 48 AND ASCII(@TEMPS) <= 57 ) 
                 BEGIN
		SET   @RET_STR = @RET_STR + RTRIM(@TEMPS)
	   END

	   SET @N_POS = (@N_POS + 1) 
	
	END 
	
	return @RET_STR

END





GO
