USE [DZTPLA]
GO
/****** Object:  StoredProcedure [DZTPLA].[P_LM_NEW]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [DZTPLA].[P_LM_NEW]
AS
DECLARE		@CD_NODE VARCHAR(4),
		@CD_DEPT VARCHAR(12),
		@CD_USR VARCHAR(10),
		@CD_WHS VARCHAR(12),
		@C_CODE CHAR(4),
		@DN_LM VARCHAR(12),
		@DN_LN INTEGER,
		@DT_LM DATETIME,
		@FG_PLACE CHAR(1),
		@FG_BILL CHAR(1),
		@FG_TAX CHAR(1),
		@FG_OCLS CHAR(1),
		@FG_ACT1 VARCHAR(5),
		@FG_ACT2 VARCHAR(5),
		@FG_AVAT VARCHAR(5),
		@FG_AAST VARCHAR(5),
		@FG_S121 VARCHAR(4),
		@FG_S122 VARCHAR(4),
		@CD_ITEM VARCHAR(12),
		@CD_SPEC VARCHAR(12),
		@QT_ITEM NUMERIC(15, 2),
		@FG_UP CHAR(1),
		@UP_ITEMODR NUMERIC(15, 4),
		@FG_S102 VARCHAR(4),
		@RT_S102 NUMERIC(15, 4),
		@AT_ITEMODR NUMERIC(15, 4),
		@AT_KITEM NUMERIC(15, 4),
		@AT_PC NUMERIC(15, 4),
		@AT_CLS NUMERIC(15, 4),
		@AT_SCLS NUMERIC(15, 4),
		@AT_VCLS NUMERIC(15, 4),
		@AT_LCLS NUMERIC(15, 4),
		@CD_CUST CHAR(6),
		@CD_SALCUST CHAR(6),
		@CD_PLACE INTEGER,
		@FG_S105 VARCHAR(4),
		@FG_S104 VARCHAR(4),
		@CD_SAL VARCHAR(12),
		@CD_PUR VARCHAR(12),
		@FG_CLOSE CHAR(1),
		@DN_CLOSE VARCHAR(12),
		@DT_CLOSE DATETIME,
		@DN_ODR VARCHAR(12),
		@DN_ODRLN INTEGER,
		@DN_DST VARCHAR(12),
		@DN_DSTLN INTEGER,
		@CD_PLC VARCHAR(4),
		@FG_S103 VARCHAR(4),
		@CD_LNODE VARCHAR(4),
		@CD_LDEPT VARCHAR(12),
		@CD_LUSR VARCHAR(10),
		@CD_RNODE VARCHAR(4),
		@CD_RDEPT VARCHAR(12),
		@CD_RUSR VARCHAR(10),
		@DC_LM VARCHAR(80),
		@NEW_LN INTEGER
DECLARE CUR_LM_TEST CURSOR FOR
	SELECT	CD_NODE,
		CD_DEPT,
		CD_USR,
		CD_WHS,
		C_CODE,
		DN_LM,
		DN_LN,
		DT_LM,
		FG_PLACE,
		FG_BILL,
		FG_TAX,
		FG_OCLS,
		FG_ACT1,
		FG_ACT2,
		FG_AVAT,
		FG_AAST,
		FG_S121,
		FG_S122,
		CD_ITEM,
		CD_SPEC,
		QT_ITEM,
		FG_UP,
		UP_ITEMODR,
		FG_S102,
		RT_S102,
		AT_ITEMODR,
		AT_KITEM,
		AT_PC,
		AT_CLS,
		AT_SCLS,
		AT_VCLS,
		AT_LCLS,
		CD_CUST,
		CD_SALCUST,
		CD_PLACE,
		FG_S105,
		FG_S104,
		CD_SAL,
		CD_PUR,
		FG_CLOSE,
		DN_CLOSE,
		DT_CLOSE,
		DN_ODR,
		DN_ODRLN,
		DN_DST,
		DN_DSTLN,
		CD_PLC,
		FG_S103,
		CD_LNODE,
		CD_LDEPT,
		CD_LUSR,
		CD_RNODE,
		CD_RDEPT,
		CD_RUSR,
		DC_LM
	FROM	LM_T
BEGIN
	OPEN	CUR_LM_TEST
	FETCH	NEXT FROM CUR_LM_TEST INTO	@CD_NODE,
						@CD_DEPT,
						@CD_USR,
						@CD_WHS,
						@C_CODE,
						@DN_LM,
						@DN_LN,
						@DT_LM,
						@FG_PLACE,
						@FG_BILL,
						@FG_TAX,
						@FG_OCLS,
						@FG_ACT1,
						@FG_ACT2,
						@FG_AVAT,
						@FG_AAST,
						@FG_S121,
						@FG_S122,
						@CD_ITEM,
						@CD_SPEC,
						@QT_ITEM,
						@FG_UP,
						@UP_ITEMODR,
						@FG_S102,
						@RT_S102,
						@AT_ITEMODR,
						@AT_KITEM,
						@AT_PC,
						@AT_CLS,
						@AT_SCLS,
						@AT_VCLS,
						@AT_LCLS,
						@CD_CUST,
						@CD_SALCUST,
						@CD_PLACE,
						@FG_S105,
						@FG_S104,
						@CD_SAL,
						@CD_PUR,
						@FG_CLOSE,
						@DN_CLOSE,
						@DT_CLOSE,
						@DN_ODR,
						@DN_ODRLN,
						@DN_DST,
						@DN_DSTLN,
						@CD_PLC,
						@FG_S103,
						@CD_LNODE,
						@CD_LDEPT,
						@CD_LUSR,
						@CD_RNODE,
						@CD_RDEPT,
						@CD_RUSR,
						@DC_LM
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
	SELECT	@NEW_LN = MAX(DN_LN)
	FROM	LM_NEW
	WHERE	CD_NODE = @CD_NODE
	AND	CD_DEPT = @CD_DEPT
	AND	CD_USR = @CD_USR
	AND	CD_WHS = @CD_WHS
	AND	C_CODE = @C_CODE
	AND	DN_LM = @DN_LM
	GROUP BY	CD_NODE,
			CD_DEPT,
			CD_USR,
			CD_WHS,
			C_CODE,
			DN_LM

	SELECT	@NEW_LN = ISNULL(@NEW_LN, 0) + 1

	INSERT INTO LM_NEW(CD_NODE,
		CD_DEPT,
		CD_USR,
		CD_WHS,
		C_CODE,
		DN_LM,
		DN_LN,
		DT_LM,
		FG_PLACE,
		FG_BILL,
		FG_TAX,
		FG_OCLS,
		FG_ACT1,
		FG_ACT2,
		FG_AVAT,
		FG_AAST,
		FG_S121,
		FG_S122,
		CD_ITEM,
		CD_SPEC,
		QT_ITEM,
		FG_UP,
		UP_ITEMODR,
		FG_S102,
		RT_S102,
		AT_ITEMODR,
		AT_KITEM,
		AT_PC,
		AT_CLS,
		AT_SCLS,
		AT_VCLS,
		AT_LCLS,
		CD_CUST,
		CD_SALCUST,
		CD_PLACE,
		FG_S105,
		FG_S104,
		CD_SAL,
		CD_PUR,
		FG_CLOSE,
		DN_CLOSE,
		DT_CLOSE,
		DN_ODR,
		DN_ODRLN,
		DN_DST,
		DN_DSTLN,

		CD_PLC,
		FG_S103,
		CD_LNODE,
		CD_LDEPT,
		CD_LUSR,
		CD_RNODE,
		CD_RDEPT,
		CD_RUSR,
		DC_LM)
	VALUES(@CD_NODE,
						@CD_DEPT,
						@CD_USR,
						@CD_WHS,
						@C_CODE,
						@DN_LM,
						@NEW_LN,
						@DT_LM,
						@FG_PLACE,
						@FG_BILL,
						@FG_TAX,
						@FG_OCLS,
						@FG_ACT1,
						@FG_ACT2,
						@FG_AVAT,
						@FG_AAST,
						@FG_S121,
						@FG_S122,
						@CD_ITEM,
						@CD_SPEC,
						@QT_ITEM,
						@FG_UP,
						@UP_ITEMODR,
						@FG_S102,
						@RT_S102,
						@AT_ITEMODR,
						@AT_KITEM,
						@AT_PC,
						@AT_CLS,
						@AT_SCLS,
						@AT_VCLS,
						@AT_LCLS,
						@CD_CUST,
						@CD_SALCUST,
						@CD_PLACE,
						@FG_S105,
						@FG_S104,
						@CD_SAL,
						@CD_PUR,
						@FG_CLOSE,
						@DN_CLOSE,
						@DT_CLOSE,
						@DN_ODR,
						@DN_ODRLN,
						@DN_DST,
						@DN_DSTLN,
						@CD_PLC,
						@FG_S103,
						@CD_LNODE,
						@CD_LDEPT,
						@CD_LUSR,
						@CD_RNODE,
						@CD_RDEPT,
						@CD_RUSR,
						@DC_LM)

	IF	@@ERROR <> 0
	BEGIN
		CLOSE CUR_LM_TEST
		DEALLOCATE	CUR_LM_TEST
		RAISERROR ('50003 AUTODOCU UPDATE', 16, -1)
		RETURN
	END

	FETCH	NEXT FROM CUR_LM_TEST INTO	@CD_NODE,
						@CD_DEPT,
						@CD_USR,
						@CD_WHS,
						@C_CODE,
						@DN_LM,
						@DN_LN,
						@DT_LM,
						@FG_PLACE,
						@FG_BILL,
						@FG_TAX,
						@FG_OCLS,
						@FG_ACT1,
						@FG_ACT2,
						@FG_AVAT,
						@FG_AAST,
						@FG_S121,
						@FG_S122,
						@CD_ITEM,
						@CD_SPEC,
						@QT_ITEM,
						@FG_UP,
						@UP_ITEMODR,
						@FG_S102,
						@RT_S102,
						@AT_ITEMODR,
						@AT_KITEM,
						@AT_PC,
						@AT_CLS,
						@AT_SCLS,
						@AT_VCLS,
						@AT_LCLS,
						@CD_CUST,
						@CD_SALCUST,
						@CD_PLACE,
						@FG_S105,
						@FG_S104,
						@CD_SAL,
						@CD_PUR,
						@FG_CLOSE,
						@DN_CLOSE,
						@DT_CLOSE,
						@DN_ODR,
						@DN_ODRLN,
						@DN_DST,
						@DN_DSTLN,
						@CD_PLC,
						@FG_S103,
						@CD_LNODE,
						@CD_LDEPT,
						@CD_LUSR,
						@CD_RNODE,
						@CD_RDEPT,
						@CD_RUSR,
						@DC_LM
	END

	CLOSE CUR_LM_TEST
	DEALLOCATE	CUR_LM_TEST

END

GO
