USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RLM_CP200316]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RLM_CP200316](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_WHS] [varchar](12) NOT NULL,
	[CD_LOC] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[DT_DST] [varchar](6) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[QT_A] [numeric](15, 4) NOT NULL,
	[QT_B] [numeric](15, 4) NOT NULL,
	[QT_C] [numeric](15, 4) NOT NULL,
	[QT_D] [numeric](15, 4) NOT NULL,
	[QT_E] [numeric](15, 4) NOT NULL,
	[QT_F] [numeric](15, 4) NOT NULL,
	[QT_G] [numeric](15, 4) NOT NULL,
	[QT_H] [numeric](15, 4) NOT NULL,
	[QT_I] [numeric](15, 4) NOT NULL,
	[QT_J] [numeric](15, 4) NOT NULL,
	[QT_K] [numeric](15, 4) NOT NULL,
	[QT_L] [numeric](15, 4) NOT NULL,
	[QT_M] [numeric](15, 4) NOT NULL,
	[QT_N] [numeric](15, 4) NOT NULL,
	[QT_O] [numeric](15, 4) NOT NULL,
	[QT_P] [numeric](15, 4) NOT NULL,
	[QT_Q] [numeric](15, 4) NOT NULL,
	[QT_R] [numeric](15, 4) NOT NULL,
	[QT_S] [numeric](15, 4) NOT NULL,
	[QT_T] [numeric](15, 4) NOT NULL,
	[QT_U] [numeric](15, 4) NULL,
	[QT_IN] [numeric](24, 4) NULL,
	[QT_EX] [numeric](25, 4) NULL,
	[DC_SPEC] [varchar](4) NOT NULL,
	[FG_HIDE] [varchar](1) NULL
) ON [PRIMARY]
GO
