USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[bankbook]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[bankbook](
	[serialno] [char](8) NOT NULL,
	[cd_cust] [char](6) NOT NULL,
	[pageno] [float] NULL,
	[plineno] [float] NULL,
	[dt_crt] [char](8) NULL,
	[at_rem] [float] NULL,
	[dt_insert] [char](8) NULL,
	[dt_edit] [char](8) NULL,
	[fg_use] [char](1) NULL,
	[empno] [char](10) NULL,
	[C_CODE] [char](4) NULL,
 CONSTRAINT [pk_bankbook] PRIMARY KEY CLUSTERED 
(
	[serialno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CD_CUST]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CD_CUST] ON [DZTPLA].[bankbook]
(
	[cd_cust] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SERIAL]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SERIAL] ON [DZTPLA].[bankbook]
(
	[serialno] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
