USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CM](
	[cd_cust] [char](6) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[mt_crm] [char](8) NOT NULL,
	[at_crd] [numeric](15, 4) NOT NULL,
	[at_rcrd] [numeric](15, 4) NULL,
	[at_crm] [numeric](15, 4) NOT NULL,
	[at_sal] [numeric](15, 4) NOT NULL,
	[at_bal] [numeric](15, 4) NULL,
	[at_altercm] [numeric](15, 4) NOT NULL,
	[CD_CUST2] [varchar](6) NULL,
 CONSTRAINT [PK_CM] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_cust] ASC,
	[mt_crm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST] ON [DZTPLA].[CM]
(
	[c_code] ASC,
	[cd_cust] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST_CRM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST_CRM] ON [DZTPLA].[CM]
(
	[c_code] ASC,
	[cd_cust] ASC,
	[mt_crm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST_CRM_CRD]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST_CRM_CRD] ON [DZTPLA].[CM]
(
	[cd_cust] ASC,
	[c_code] ASC,
	[mt_crm] ASC
)
INCLUDE([at_crd],[at_rcrd],[at_altercm]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CUST2]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CUST2] ON [DZTPLA].[CM]
(
	[c_code] ASC,
	[CD_CUST2] ASC,
	[mt_crm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CM] ADD  CONSTRAINT [DF__CM__at_crd__49D9D0A7]  DEFAULT ((0)) FOR [at_crd]
GO
ALTER TABLE [DZTPLA].[CM] ADD  CONSTRAINT [DF_CM_at_rcrd]  DEFAULT ((0)) FOR [at_rcrd]
GO
ALTER TABLE [DZTPLA].[CM] ADD  CONSTRAINT [DF_CM_at_crm]  DEFAULT ((0)) FOR [at_crm]
GO
ALTER TABLE [DZTPLA].[CM] ADD  CONSTRAINT [DF_CM_at_sal]  DEFAULT ((0)) FOR [at_sal]
GO
ALTER TABLE [DZTPLA].[CM] ADD  CONSTRAINT [DF_CM_at_bal]  DEFAULT ((0)) FOR [at_bal]
GO
ALTER TABLE [DZTPLA].[CM] ADD  CONSTRAINT [DF_CM_at_altercm]  DEFAULT ((0)) FOR [at_altercm]
GO
