USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEMSET]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEMSET](
	[C_CODE] [char](4) NOT NULL,
	[CD_STRCT] [varchar](20) NOT NULL,
	[FG_STRCT] [char](1) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_ITEMCHLD] [varchar](12) NOT NULL,
	[CD_SPECCHILD] [varchar](12) NOT NULL,
	[QT_ITEM] [numeric](15, 4) NOT NULL,
	[UC_ITEM] [numeric](15, 4) NULL,
	[DC_LN] [varchar](20) NULL,
	[CD_CUST] [char](6) NULL,
 CONSTRAINT [PK_ITEMSET] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_STRCT] ASC,
	[FG_STRCT] ASC,
	[CD_ITEM] ASC,
	[CD_ITEMCHLD] ASC,
	[CD_SPECCHILD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ITEMSET]  WITH CHECK ADD  CONSTRAINT [FK_ITEMSET_ITEM] FOREIGN KEY([C_CODE], [CD_ITEM])
REFERENCES [DZTPLA].[ITEM] ([C_CODE], [CD_ITEM])
GO
ALTER TABLE [DZTPLA].[ITEMSET] CHECK CONSTRAINT [FK_ITEMSET_ITEM]
GO
ALTER TABLE [DZTPLA].[ITEMSET]  WITH CHECK ADD  CONSTRAINT [FK_ITEMSET_ITEMGRP] FOREIGN KEY([C_CODE], [CD_ITEMCHLD], [CD_SPECCHILD])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[ITEMSET] CHECK CONSTRAINT [FK_ITEMSET_ITEMGRP]
GO
