USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ORDDATA]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ORDDATA](
	[CUST_CODE] [varchar](12) NOT NULL,
	[CD_HOSP] [varchar](12) NOT NULL,
	[PATIENT] [varchar](30) NOT NULL,
	[NO_SEQ] [varchar](12) NOT NULL,
	[CALCDATA] [varchar](300) NULL,
	[PSH_SEQ] [numeric](10, 0) NULL,
	[DT_SURG] [varchar](20) NULL,
	[NM_HOSP] [varchar](20) NULL,
	[FG_CONF] [varchar](3) NULL,
	[pc_name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_CODE] ASC,
	[CD_HOSP] ASC,
	[PATIENT] ASC,
	[NO_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CD_HOSP]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CD_HOSP] ON [DZTPLA].[ORDDATA]
(
	[CD_HOSP] ASC,
	[PATIENT] ASC,
	[DT_SURG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
