USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_2](
	[C_CODE] [char](4) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[CD_USRSAL] [varchar](10) NULL,
 CONSTRAINT [CUST_x] PRIMARY KEY NONCLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
