USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ECL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ECL](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_ec] [varchar](12) NOT NULL,
	[dn_ln] [int] NOT NULL,
	[fg_s121] [varchar](4) NOT NULL,
	[fg_s122] [varchar](4) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[qt_item] [numeric](15, 4) NOT NULL,
	[dc_ct] [varchar](80) NOT NULL,
	[up_lcls] [numeric](15, 4) NULL,
	[at_lcls] [numeric](15, 4) NULL,
	[up_flcls] [numeric](15, 4) NULL,
	[at_flcls] [numeric](15, 4) NULL,
	[fg_s102] [varchar](4) NULL,
 CONSTRAINT [PK_ECL] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[cd_usr] ASC,
	[c_code] ASC,
	[dn_ec] ASC,
	[dn_ln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ECL] ADD  CONSTRAINT [DF_ECL_dc_ct]  DEFAULT ('*') FOR [dc_ct]
GO
ALTER TABLE [DZTPLA].[ECL]  WITH CHECK ADD  CONSTRAINT [FK_ECL_ECH] FOREIGN KEY([cd_node], [cd_dept], [cd_usr], [c_code], [dn_ec])
REFERENCES [DZTPLA].[ECH] ([cd_node], [cd_dept], [cd_usr], [c_code], [dn_ec])
GO
ALTER TABLE [DZTPLA].[ECL] CHECK CONSTRAINT [FK_ECL_ECH]
GO
