USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSSG_USR2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSSG_USR2](
	[NO_MSG] [varchar](12) NOT NULL,
	[CD_USR] [varchar](20) NOT NULL,
	[DT_VIEW] [varchar](20) NULL,
	[FG_USR] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_MSG] ASC,
	[CD_USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
