USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_SPEC2CODE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [DZTPLA].[DZFN_SPEC2CODE] (
 @AS_CD_ITEM VARCHAR(10),
 @AS_SPEC1   VARCHAR(10),
 @AS_SPEC2   VARCHAR(10),
 @AS_SPEC3   VARCHAR(10),
 @AS_SPEC4   VARCHAR(10)
)
RETURNS VARCHAR(30) AS
BEGIN

--//렌즈명을 품목코드로

Declare	@LENS_SPEC  VARCHAR(30),
		@TEMPS         VARCHAR(10),
		@TEMPE         VARCHAR(10),
		@N_POS         INTEGER,
		@N_LEN         INTEGER,
		@TEMPN         VARCHAR(10),
		@CNT           INTEGER

--10.5	10.5	74	101	475	600	500	650	100	30	36
    SET @LENS_SPEC = ''
	
	IF ( @AS_SPEC1 IS NULL OR RTRIM(@AS_SPEC1) = '' ) 
	BEGIN 
		IF ( @AS_CD_ITEM LIKE '8_' ) -- CRT라면
			set @AS_SPEC1 = '10.5'
		ELSE
			set @AS_SPEC1 = '%'
	END
	ELSE
	BEGIN
		IF (@AS_SPEC1 <> '%' AND @AS_CD_ITEM <> '')
		BEGIN
			select @CNT = COUNT(*) from itemgrp 
             where c_code = '1000'
			   AND CD_ITEM = @AS_CD_ITEM
			   AND DC_SPEC1 = @AS_SPEC1;

			IF ( @CNT <= 0 )
				return 'DIAMERR' 

		END		
		ELSE
		BEGIN
			IF (@AS_CD_ITEM = '')
				return 'DIAMERR' 
		END 
	END 

    IF ( @AS_SPEC2 IS NULL OR RTRIM(@AS_SPEC2) = '' ) 
	  set @AS_SPEC2 = '%'

    IF ( @AS_SPEC3 IS NULL OR RTRIM(@AS_SPEC3) = '' ) 
	  set @AS_SPEC3 = '%'

    IF ( @AS_SPEC4 IS NULL OR RTRIM(@AS_SPEC4) = '' ) 
	  set @AS_SPEC4 = '%'

	SELECT @LENS_SPEC = CD_SPEC FROM ITEMGRP 
	WHERE C_CODE='1000'
	  AND CD_ITEM = @AS_CD_ITEM
	  AND ISNULL(DC_SPEC1,'') LIKE @AS_SPEC1 
	  AND ISNULL(DC_SPEC2,'') LIKE @AS_SPEC2
	  AND ISNULL(DC_SPEC3,'') LIKE @AS_SPEC3
	  AND ISNULL(DC_sPEC4,'') LIKE @AS_SPEC4

    IF ( ISNULL(@LENS_SPEC,'%%%') = '%%%' OR RTRIM(@LENS_SPEC) = '' )
	BEGIN
		IF ( @AS_CD_ITEM LIKE '8_' ) -- CRT라면
		BEGIN 
			IF ( @AS_CD_ITEM = '83' OR @AS_CD_ITEM = '84' OR @AS_CD_ITEM = '88' OR @AS_CD_ITEM = '8B' ) --DUAL
			BEGIN
				IF (@AS_SPEC1 < '9.5' OR @AS_SPEC1 > '12.0') --DIAMETA
				 return 'DIAMERR' 

				IF (@AS_SPEC2 < 72 OR @AS_SPEC2 > 103) --BC
				 return 'BCERR'

				IF (LEFT(@AS_SPEC3,3) < '375' OR LEFT(@AS_SPEC3,3) > '675') --RZD
				 return 'RZD1ERR'

				IF (RIGHT(@AS_SPEC3,3) < '500' OR RIGHT(@AS_SPEC3,3) > '675') --RZD
				 return 'RZD2ERR'

				IF ( RIGHT(@AS_SPEC3,3) < LEFT(@AS_SPEC3,3) )
				return 'RZDSZERR'

				SET @TEMPN = RIGHT(@AS_SPEC3,3) / 25 * 25

				IF ( RIGHT(@AS_SPEC3,3) <> @TEMPN )
				return 'RIGHT-RZD25ERR'

				SET @TEMPN = LEFT(@AS_SPEC3,3) / 25 * 25

				IF ( LEFT(@AS_SPEC3,3) <> @TEMPN )
				return 'LEFT-RZD25ERR'

				IF (LEFT(@AS_SPEC3,3) >= '375' AND LEFT(@AS_SPEC3,3) <= '625' AND RIGHT(@AS_SPEC3,3) >= '500' OR RIGHT(@AS_SPEC3,3) <= '675') --RZD
				BEGIN
				   IF ( CAST(RIGHT(@AS_SPEC3,3) AS NUMERIC) - CAST(LEFT(@AS_SPEC3,3) AS NUMERIC) > 200 )
					return 'RZDDT2ERR'
				END

				IF (LEFT(@AS_SPEC4,2) < 29 OR LEFT(@AS_SPEC4, 2) > 37) --LZA left
				 return 'LZAERR'

				 IF (RIGHT(@AS_SPEC4,2) < 29 OR RIGHT(@AS_SPEC4,2) > 37) --LZA right
				 return 'LZAERR'

				SELECT @N_POS = CHARINDEX(' ', @LENS_SPEC, 1) + 1
			END
			ELSE
			BEGIN
				IF (@AS_SPEC1 < '9.5' OR @AS_SPEC1 > '12.0') --DIAMETA
				 return 'DIAMERR' 

				IF (@AS_SPEC2 < 74 OR @AS_SPEC2 > 103) --BC
				 return 'BCERR'

				IF (LEN(@AS_SPEC3) < 3 OR LEN(@AS_SPEC3) > 3) --RZD
				 return 'RZD1ERR'

				IF (RIGHT(@AS_SPEC3,3) < '375' OR RIGHT(@AS_SPEC3,3) > '675') --RZD
				 return 'RZD2ERR'

				SET @TEMPN = RIGHT(@AS_SPEC3,3) / 25 * 25

				IF ( RIGHT(@AS_SPEC3,3) <> @TEMPN )
				return 'RZD25ERR'

				IF (@AS_SPEC4 < 29 OR @AS_SPEC4 > 37) --LZA
				 return 'LZAERR'

--				SELECT @N_POS = CHARINDEX(' ', @LENS_SPEC, 1) + 1
			END 

		END 
	END

	return @LENS_SPEC

END























GO
