USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[TAG_TEMP]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[TAG_TEMP](
	[TAG_NO] [varchar](15) NOT NULL,
	[COM_ID] [varchar](50) NOT NULL,
	[PROCESS_GBN] [varchar](1) NULL,
 CONSTRAINT [PK_TAG_TEMP] PRIMARY KEY CLUSTERED 
(
	[TAG_NO] ASC,
	[COM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_tag]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_tag] ON [DZTPLA].[TAG_TEMP]
(
	[TAG_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
