USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEMPUR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEMPUR](
	[C_CODE] [char](4) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[DT_STT] [datetime] NOT NULL,
	[DT_END] [datetime] NOT NULL,
	[UP_ITEM] [numeric](15, 4) NOT NULL,
	[FG_S102] [varchar](4) NOT NULL,
	[DT_REG] [datetime] NOT NULL,
	[CD_REG] [varchar](10) NULL,
	[DT_EDIT] [datetime] NULL,
	[CD_EDIT] [varchar](10) NULL,
	[DC_IFM] [varchar](80) NULL,
	[FG_UP] [char](1) NOT NULL,
 CONSTRAINT [PK_ITEMPUR] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_CUST] ASC,
	[DT_STT] ASC,
	[DT_END] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ITEMPUR] ADD  CONSTRAINT [DF__ITEMPUR__UP_ITEM__6E814571]  DEFAULT ((0)) FOR [UP_ITEM]
GO
ALTER TABLE [DZTPLA].[ITEMPUR] ADD  CONSTRAINT [DF__ITEMPUR__FG_S102__6F7569AA]  DEFAULT ('001') FOR [FG_S102]
GO
ALTER TABLE [DZTPLA].[ITEMPUR] ADD  CONSTRAINT [DF__ITEMPUR__DT_REG__70698DE3]  DEFAULT (getdate()) FOR [DT_REG]
GO
