USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[OCOS_USER]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[OCOS_USER](
	[C_CODE] [char](4) NOT NULL,
	[NO_ACC] [varchar](40) NOT NULL,
	[NO_STAAR_ID] [varchar](10) NOT NULL,
	[NM_NAME] [varchar](12) NULL,
	[NM_SURNAME] [varchar](12) NULL,
	[NM_NAME_KR] [varchar](10) NOT NULL,
	[CD_CUST] [varchar](10) NULL,
	[NM_CLINIC] [varchar](100) NULL,
	[DC_ADDR1] [varchar](100) NOT NULL,
	[NM_CITY] [varchar](20) NULL,
	[DC_ADDR2] [varchar](50) NULL,
	[CD_ZIP] [varchar](7) NULL,
	[NO_PHONE] [varchar](20) NULL,
	[NO_FAX] [varchar](20) NULL,
	[DC_EMAIL] [varchar](40) NULL,
	[DC_WEB] [varchar](80) NOT NULL,
	[DT_TRAINED] [varchar](8) NULL,
	[NO_CERTI] [varchar](10) NOT NULL,
	[NM_TRAINER] [varchar](40) NULL,
	[DT_SURG] [varchar](8) NULL,
	[FG_SURG] [varchar](2) NULL,
	[PUB_AGR] [varchar](2) NULL,
	[FG_LAST] [varchar](1) NULL,
	[DT_UPDATE] [varchar](10) NULL,
	[UPD_USR] [varchar](10) NOT NULL,
	[CERTI_FILE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NO_CERTI] ASC,
	[NO_ACC] ASC,
	[NO_STAAR_ID] ASC,
	[NM_NAME_KR] ASC,
	[DC_WEB] ASC,
	[DC_ADDR1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[OCOS_USER] ADD  CONSTRAINT [DF__OCOS_USER__NO_AC__62D13251]  DEFAULT (space((1))) FOR [NO_ACC]
GO
ALTER TABLE [DZTPLA].[OCOS_USER] ADD  CONSTRAINT [DF__OCOS_USER__NO_ST__63C5568A]  DEFAULT (space((1))) FOR [NO_STAAR_ID]
GO
ALTER TABLE [DZTPLA].[OCOS_USER] ADD  CONSTRAINT [DF__OCOS_USER__NM_NA__64B97AC3]  DEFAULT (space((1))) FOR [NM_NAME_KR]
GO
ALTER TABLE [DZTPLA].[OCOS_USER] ADD  CONSTRAINT [DF__OCOS_USER__NO_CE__65AD9EFC]  DEFAULT (space((10))) FOR [NO_CERTI]
GO
ALTER TABLE [DZTPLA].[OCOS_USER] ADD  CONSTRAINT [DF__OCOS_USER__FG_LA__66A1C335]  DEFAULT ('Y') FOR [FG_LAST]
GO
