USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[POL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[POL](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_po] [varchar](12) NOT NULL,
	[dc_ln] [int] NOT NULL,
	[dt_in] [datetime] NOT NULL,
	[fg_s121] [varchar](4) NOT NULL,
	[fg_s122] [varchar](4) NULL,
	[fg_tax] [char](1) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[qt_item] [numeric](15, 4) NULL,
	[fg_up] [char](1) NOT NULL,
	[up_item] [numeric](15, 4) NOT NULL,
	[fg_s102] [varchar](4) NOT NULL,
	[rt_s102] [numeric](15, 4) NOT NULL,
	[at_item] [numeric](15, 4) NOT NULL,
	[at_kitem] [numeric](15, 4) NULL,
	[dn_rel] [varchar](12) NULL,
	[dn_relln] [int] NULL,
	[dc_ifm] [varchar](100) NULL,
	[dc_specadd] [varchar](4) NULL,
	[dt_pay] [datetime] NULL,
	[at_pay] [numeric](18, 0) NULL,
 CONSTRAINT [PK_POL] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[cd_usr] ASC,
	[c_code] ASC,
	[dn_po] ASC,
	[dc_ln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cd_item_spec]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_cd_item_spec] ON [DZTPLA].[POL]
(
	[cd_item] ASC,
	[cd_spec] ASC,
	[c_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_po_rel]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_po_rel] ON [DZTPLA].[POL]
(
	[dn_po] ASC,
	[dn_rel] ASC,
	[c_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_pol]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_dn_pol] ON [DZTPLA].[POL]
(
	[dn_po] ASC,
	[dc_ln] ASC,
	[c_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[POL]  WITH CHECK ADD  CONSTRAINT [FK_POL_POH] FOREIGN KEY([cd_node], [cd_dept], [cd_usr], [c_code], [dn_po])
REFERENCES [DZTPLA].[POH] ([cd_node], [cd_dept], [cd_usr], [c_code], [dn_po])
GO
ALTER TABLE [DZTPLA].[POL] CHECK CONSTRAINT [FK_POL_POH]
GO
ALTER TABLE [DZTPLA].[POL]  WITH CHECK ADD  CONSTRAINT [FK_POL_REFERENCE_ITEMGRP] FOREIGN KEY([c_code], [cd_item], [cd_spec])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[POL] CHECK CONSTRAINT [FK_POL_REFERENCE_ITEMGRP]
GO
