USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SAMPODER]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SAMPODER](
	[CUST_CODE] [varchar](12) NOT NULL,
	[CD_HOSP] [varchar](12) NOT NULL,
	[NM_HOSP] [varchar](40) NULL,
	[NM_USER] [varchar](12) NULL,
	[NO_REQ] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[DIAMETA] [varchar](12) NULL,
	[POWER] [varchar](12) NULL,
	[BC] [varchar](12) NULL,
	[QTY] [numeric](10, 5) NULL,
	[DC_REMARK] [varchar](200) NULL,
	[DT_ORD] [varchar](8) NULL,
	[FG_CONF] [varchar](1) NULL,
	[FG_PGM] [varchar](3) NULL,
	[FG_DEL] [varchar](3) NULL,
	[OUT_DT] [varchar](8) NULL,
	[PO_DT] [varchar](8) NULL,
	[DT_CANCEL] [varchar](8) NULL,
	[NM_CANCEL] [varchar](20) NULL,
	[NO_SERIAL] [varchar](13) NULL,
	[DN_OUT] [varchar](12) NULL,
	[CD_USER] [varchar](12) NULL,
	[DT_REG] [datetime] NULL,
	[nm_item] [varchar](30) NULL,
	[DC_HOSP_RMK] [varchar](200) NULL,
	[DT_RMK] [datetime] NULL,
	[DT_OUT] [datetime] NULL,
	[LN_OUT] [int] NULL,
	[CODE_OUT] [char](4) NULL,
	[DN_PO] [varchar](12) NULL,
	[FG_OUT] [varchar](4) NULL,
	[FG_SAMP] [varchar](1) NULL,
	[spec_add] [varchar](12) NULL,
	[FG_SMS] [char](1) NULL,
	[DC_ADDR] [varchar](150) NULL,
	[FG_OK] [char](1) NULL,
	[DT_SURG] [varchar](8) NULL,
	[DT_CONF] [datetime] NULL,
	[DN_QCK] [varchar](12) NULL,
	[DT_VIEW] [datetime] NULL,
	[NM_VIEW] [varchar](20) NULL,
	[FG_LABEL] [varchar](3) NULL,
	[FG_KATOLK] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_REQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SAMPODER] ADD  DEFAULT ('300000') FOR [CD_HOSP]
GO
ALTER TABLE [DZTPLA].[SAMPODER] ADD  DEFAULT ('   ') FOR [FG_CONF]
GO
ALTER TABLE [DZTPLA].[SAMPODER] ADD  DEFAULT ('   ') FOR [FG_PGM]
GO
ALTER TABLE [DZTPLA].[SAMPODER] ADD  DEFAULT ('   ') FOR [FG_DEL]
GO
ALTER TABLE [DZTPLA].[SAMPODER] ADD  DEFAULT ('Y') FOR [FG_OK]
GO
ALTER TABLE [DZTPLA].[SAMPODER] ADD  DEFAULT ('N') FOR [FG_KATOLK]
GO
