USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CRONTAB]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CRONTAB](
	[PRJ_NAME] [varchar](30) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[REPEAT_TIME] [varchar](12) NOT NULL,
	[COUNT_LIMIT] [int] NULL,
	[LAST_RUN] [datetime] NULL,
	[FG_RUN] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRJ_NAME] ASC,
	[START_DATE] ASC,
	[REPEAT_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CRONTAB] ADD  CONSTRAINT [DF__CRONTAB__REPEAT___78A077DF]  DEFAULT ('999999999999') FOR [REPEAT_TIME]
GO
ALTER TABLE [DZTPLA].[CRONTAB] ADD  CONSTRAINT [DF__CRONTAB__COUNT_L__79949C18]  DEFAULT ((0)) FOR [COUNT_LIMIT]
GO
ALTER TABLE [DZTPLA].[CRONTAB] ADD  CONSTRAINT [DF__CRONTAB__FG_RUN__7A88C051]  DEFAULT ('R') FOR [FG_RUN]
GO
