USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_HANNAME2ENGHAME]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE     FUNCTION [DZTPLA].[DZFN_HANNAME2ENGHAME] (
 @A_KOR_NAME  VARCHAR(10)
)
RETURNS VARCHAR(20) AS
BEGIN

	--//한글이름을 영어이름으로 
Declare	@ENG_NAME  VARCHAR(20),
	@SURNAME  VARCHAR(20), 
	@GIVENNAME1 VARCHAR(20),
	@GIVENNAME2 VARCHAR(20),
	@GIVENNAME3 VARCHAR(20),
	@GIVENNAME4 VARCHAR(20),
	@SURNAME_R VARCHAR(20),
	@GIVENNAME_R VARCHAR(20)

 	IF ( LEN(RTRIM( @A_KOR_NAME))> 3 )
                SELECT  @A_KOR_NAME = RTRIM(LEFT(LTRIM(RTRIM( @A_KOR_NAME)),4))
	
	IF ( (len(Rtrim(@A_KOR_NAME)) % 1 ) = 0  )
	BEGIN
		SELECT @SURNAME_R     = left(Rtrim(@A_KOR_NAME),1)
		SELECT @GIVENNAME_R  = SUBSTRING(LTRIM(Rtrim(@A_KOR_NAME)),2,100)
			
		SELECT @SURNAME = aa, @GIVENNAME1 = bb, @GIVENNAME2 = cc, @GIVENNAME3 = dd, @GIVENNAME4 = ee
		  FROM ( SELECT max(upper(left(surname,1)) + lower(right(surname,len(surname) -1))) aa
				  FROM HANTOENG
				 WHERE KOR_NAME = @SURNAME_R ) a,
			 ( SELECT max(upper(left(givenname,1)) + lower(right(givenname,len(givenname) -1))) bb
				  FROM HANTOENG 
				 WHERE KOR_NAME = left(@GIVENNAME_R,1) ) b,
			 ( SELECT max(upper(left(givenname,1)) + lower(right(givenname,len(givenname) -1))) cc
				  FROM HANTOENG 
				 WHERE KOR_NAME = substring(@GIVENNAME_R,2,1) ) c,
			 ( SELECT max(upper(left(givenname,1)) + lower(right(givenname,len(givenname) -1))) dd
				  FROM HANTOENG 
				 WHERE KOR_NAME = substring(@GIVENNAME_R,3,1) ) d,
			 ( SELECT max(upper(left(givenname,1)) + lower(right(givenname,len(givenname) -1))) ee
				  FROM HANTOENG 
				 WHERE KOR_NAME = substring(@GIVENNAME_R,4,1) ) e
						 
		if ( isnull(@GIVENNAME1,'%') = '%' )
                               SELECT @GIVENNAME1 = ""
		if ( isnull(@GIVENNAME2,'%') = '%' )
                               SELECT @GIVENNAME2 = ""
		if ( isnull(@GIVENNAME3,'%') = '%' )
                               SELECT @GIVENNAME3 = ""
		if ( isnull(@GIVENNAME4,'%') = '%' )
                               SELECT @GIVENNAME4 = ""
		
		IF ( left(Rtrim(@A_KOR_NAME),2) = '강전' or left(Rtrim(@A_KOR_NAME),2) = '남궁' or 
 	                    left(Rtrim(@A_KOR_NAME),2) = '독고' or left(Rtrim(@A_KOR_NAME),2) = '동방' or 
			left(Rtrim(@A_KOR_NAME),2) = '망절' or left(Rtrim(@A_KOR_NAME),2) = '사공' or 
			left(Rtrim(@A_KOR_NAME),2) = '서문' or left(Rtrim(@A_KOR_NAME),2) = '선우' or 
			left(Rtrim(@A_KOR_NAME),2) = '소봉' or left(Rtrim(@A_KOR_NAME),2) = '장곡' or 
			left(Rtrim(@A_KOR_NAME),2) = '제갈' or left(Rtrim(@A_KOR_NAME),2) = '황보' ) -- //두글자 성씨.
		BEGIN
			SELECT @ENG_NAME = @GIVENNAME2
			if (len(@ENG_NAME) > 0 and len(@GIVENNAME3) > 0 )
                                      	  SELECT @ENG_NAME = @ENG_NAME + '-'+@GIVENNAME3
			if (len(@ENG_NAME) > 0 and len(@GIVENNAME4) > 0 )
                                            SELECT @ENG_NAME = @ENG_NAME + '-'+@GIVENNAME4
			
			SELECT @ENG_NAME = @ENG_NAME + ' ' + upper(@SURNAME + lower(@GIVENNAME1))
		END			
		ELSE
                            BEGIN
			SELECT @ENG_NAME = @GIVENNAME1
			if (len(@ENG_NAME) > 0 and len(@GIVENNAME2) > 0 )
                                            SELECT @ENG_NAME =@ENG_NAME + '-'+@GIVENNAME2
			if (len(@ENG_NAME) > 0 and len(@GIVENNAME3) > 0 )
                                            SELECT @ENG_NAME =@ENG_NAME + '-'+@GIVENNAME3
			if (len(@ENG_NAME) > 0 and len(@GIVENNAME4) > 0 )
                                            SELECT @ENG_NAME = @ENG_NAME +'-'+@GIVENNAME4
			
			SELECT @ENG_NAME = @ENG_NAME +' ' + upper(@SURNAME)

			IF (ISNULL(@ENG_NAME,'%')='%' OR LEN(RTRIM(@ENG_NAME)) = 0 )
			SELECT @ENG_NAME = @A_KOR_NAME
		END	
	END		 
	ELSE
    BEGIN
		SELECT  @ENG_NAME = 'Can not change name'
	END		
		
	return @ENG_NAME

END


GO
