USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_DT_IPYE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [DZTPLA].[DZFN_GET_DT_IPYE] (
 @C_CODE   VARCHAR(4),
 @CD_ITEM  VARCHAR(12),
 @CD_SPEC  VARCHAR(12),
 @ORD_QTY  NUMERIC(10,0)
)
RETURNS VARCHAR(8) AS
BEGIN

-- // 입고예정일 알아내기
-- // 변수선언 Declare	@DT_IPYE VARCHAR(12)
-- // 값 할당  SET @CD_CUST2 = @CD_HOSP
-- // 쿼리 값 할당 BEGIN SELECT @CD_USR = (SEL ~~) END
-- // crt용 함수 finevision은 더 개선해야함
Declare	@DT_IPYE VARCHAR(8)

	IF @CD_ITEM NOT LIKE '8_'
		RETURN 'NOTITEM'

	BEGIN
	SELECT @DT_IPYE = ( SELECT ISNULL(B.DT_IN, '') AS DT_IN
						   FROM ( SELECT NM_HOSP, NO_REQ, DC_HOSP_RMK, CD_ITEM, CD_SPEC, QTY
									 , SUM(QTY) OVER (ORDER BY NO_REQ ASC RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) SUM_ORDER
									FROM ( SELECT NM_HOSP, NO_REQ, DC_HOSP_RMK, CD_ITEM, CD_SPEC, QTY
											  FROM HOSPODER2 (NOLOCK)
											 WHERE DT_ORD >='20210101'
											   AND CD_ITEM = @CD_ITEM
											   AND CD_SPEC = @CD_SPEC
											   AND DT_CANCEL IS NULL
											   AND DN_OUT IS NULL
		   
											  UNION ALL

											  SELECT 'NEW', 'RQ-NEW', 'NEW', @CD_ITEM, @CD_SPEC, @ORD_QTY
										 ) A
								 ) A
						  LEFT OUTER JOIN
								 ( SELECT DT_IN, CD_ITEM, CD_SPEC, QTY
										 , SUM(QTY) OVER (ORDER BY DT_IN ASC RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) SUM_IPYE
									  FROM ( SELECT DT_IN 
												  , CD_ITEM
												  , CD_SPEC
												  , SUM(QTY) AS QTY
											   FROM ( SELECT CONVERT(VARCHAR, B.DT_SHIP, 112) DT_IN
															, A.CD_ITEM
															, A.CD_SPEC
															, SUM(A.QT_ITEM) QTY
														FROM POL A(NOLOCK), POH B(NOLOCK)
														WHERE A.C_CODE = B.C_CODE
														AND A.DN_PO = B.DN_PO
														AND A.C_CODE  = @C_CODE
														AND CONVERT(VARCHAR, B.DT_REG, 112) >= '20210101'
													--   AND A.CD_ITEM IN ('81','83','85','87','89','8A','8B','8D','8E')
														AND A.CD_ITEM = @CD_ITEM
														AND A.CD_SPEC = @CD_SPEC
														AND B.DN_PO NOT IN ( SELECT DISTINCT DN_REL
																			FROM POIL C(NOLOCK), POIH D(NOLOCK)
																			WHERE C.C_CODE = D.C_CODE
																			AND C.DN_PI = D.DN_PI 
																			AND C.C_CODE = @C_CODE
																			AND C.CD_ITEM = @CD_ITEM
																			AND C.CD_SPEC = @CD_SPEC
																			AND CONVERT(VARCHAR, D.DT_REG, 112) >= '20210101'
																			AND C.YN_LM = '1')
														AND DT_SHIP IS NOT NULL
														GROUP BY B.DT_SHIP, A.CD_ITEM, A.CD_SPEC

													  UNION ALL

													  SELECT CONVERT(VARCHAR, GETDATE(), 112) 
														   , CD_ITEM
														   , CD_SPEC
														   , COUNT(DN_RLCD) QTY
														FROM TAGMASTER A(NOLOCK), SERIALH B(NOLOCK)
													   WHERE A.C_CODE = B.C_CODE 
														 AND A.C_CODE = @C_CODE
														 AND A.DN_RLCD = B.NO_SERIAL
														 AND B.CD_ITEM = @CD_ITEM
														 AND B.CD_SPEC = @CD_SPEC
														 AND A.FG_IO = 'I'
														 AND A.LOC = 'WA'
														 GROUP BY CD_ITEM, CD_SPEC
												   ) A
											   GROUP BY DT_IN, CD_ITEM, CD_SPEC
											) A
								  ) B
								  ON A.SUM_ORDER BETWEEN B.SUM_IPYE-B.QTY + 1 AND B.SUM_IPYE
						  WHERE NM_HOSP = 'NEW'
					 )
	END

	return @DT_IPYE
END

GO
