USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_PRICE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_PRICE](
	[c_code] [char](4) NOT NULL,
	[cd_cust] [char](6) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[at_price] [numeric](15, 4) NOT NULL,
 CONSTRAINT [PK_CUST_PRICE] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_cust] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
