USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[INC_ITEM_CALC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[INC_ITEM_CALC](
	[C_CODE] [char](4) NOT NULL,
	[DT_INC] [char](8) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_PLN] [varchar](12) NOT NULL,
	[STAN1] [numeric](10, 2) NULL,
	[STAN2] [numeric](10, 2) NULL,
	[AT_PRE_YEAR] [numeric](15, 2) NULL,
	[AT_THIS_YEAR] [numeric](15, 2) NULL,
	[PC_STAN] [numeric](10, 2) NULL,
	[PC_INC] [numeric](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DT_INC] ASC,
	[CD_USR] ASC,
	[CD_ITEM] ASC,
	[CD_PLN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
