USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SETWKLL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SETWKLL](
	[C_CODE] [char](4) NOT NULL,
	[DN_WK] [varchar](12) NOT NULL,
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[QT_ITEM] [numeric](15, 4) NULL,
	[KEYSEQ] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SETWKLL] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_WK] ASC,
	[DN_LN] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SETWKLL]  WITH CHECK ADD  CONSTRAINT [FK_SETWKLL_ITEMGRP] FOREIGN KEY([C_CODE], [CD_ITEM], [CD_SPEC])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[SETWKLL] CHECK CONSTRAINT [FK_SETWKLL_ITEMGRP]
GO
