USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[GET_SPECFROMTO]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO











CREATE FUNCTION [DZTPLA].[GET_SPECFROMTO] (
 @CD_ITEM  VARCHAR(12),
 @FR_SPEC VARCHAR(12),
 @TO_SPEC VARCHAR(12)
)
RETURNS VARCHAR(500) AS
BEGIN

	--//SPEC코드를 2개 받아서 그 범위안의 SPEC코드들을 리턴하는 함수

Declare	@CD_SPECS VARCHAR(500)

	IF ( @CD_ITEM = '10051' ) 
	BEGIN
		IF ( RIGHT(@FR_SPEC,3) = RIGHT(@TO_SPEC,3) ) 
		BEGIN

			SELECT @CD_SPECS = coalesce(@CD_SPECS + ',', '') +  convert(varchar(12),CD_SPEC)
			FROM ITEMGRP 
			WHERE C_CODE=  '5000'
			AND CD_ITEM =  @CD_ITEM
			AND CD_SPEC >= @FR_SPEC
			AND CD_SPEC <= @TO_SPEC
			AND RIGHT(CD_SPEC,3) = RIGHT(@FR_SPEC,3)

		END
		ELSE
		BEGIN
			--난시가 다른 경우
			SELECT @CD_SPECS = coalesce(@CD_SPECS + ',', '') +  convert(varchar(12),CD_SPEC)
			FROM ITEMGRP 
			WHERE C_CODE=  '5000'
			AND CD_ITEM =  @CD_ITEM
			AND CD_SPEC >= @FR_SPEC
			AND CD_SPEC <= @TO_SPEC
			AND RIGHT(CD_SPEC,3) >= RIGHT(@FR_SPEC,3)
			AND RIGHT(CD_SPEC,3) <= RIGHT(@TO_SPEC,3)
		END
	
	END
	ELSE
	BEGIN
		IF ( @CD_ITEM LIKE '1005_' OR @CD_ITEM LIKE 'MC%' )
		BEGIN
			SELECT @CD_SPECS = coalesce(@CD_SPECS + ',', '') +  convert(varchar(12),CD_SPEC)
			 FROM ITEMGRP 
			WHERE C_CODE ='1000'
			AND CD_ITEM = @CD_ITEM
			AND CD_SPEC >= @FR_SPEC
			AND CD_SPEC <= @TO_SPEC	
		END 
	
	END 

	return @CD_SPECS

END










GO
