USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[DSTH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[DSTH](
	[CD_EXNODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[DT_EX] [datetime] NULL,
	[CD_CUST] [varchar](12) NULL,
	[CD_WHS] [varchar](12) NULL,
	[DC_DSTUSR] [varchar](20) NULL,
	[CD_PLACE] [int] NULL,
	[FG_S103] [varchar](4) NULL,
	[TM_EX] [datetime] NULL,
	[DC_IFM] [varchar](80) NULL,
	[FG_EX] [char](1) NULL,
	[TY_PRG] [char](1) NULL,
	[tm_reg] [datetime] NULL,
	[gubun] [char](1) NULL,
	[FG_SHT_PRT] [char](1) NULL,
 CONSTRAINT [PK_DSTH] PRIMARY KEY CLUSTERED 
(
	[CD_EXNODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_LM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_dsth]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_dn_dsth] ON [DZTPLA].[DSTH]
(
	[C_CODE] ASC,
	[DN_LM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_LM]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_LM] ON [DZTPLA].[DSTH]
(
	[DN_LM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DT_EX]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DT_EX] ON [DZTPLA].[DSTH]
(
	[C_CODE] ASC,
	[DT_EX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[DSTH] ADD  CONSTRAINT [DF_DSTH_tm_reg]  DEFAULT (getdate()) FOR [tm_reg]
GO
