USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[LENS_ROTATE_REF]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[LENS_ROTATE_REF](
	[C_CODE] [char](4) NOT NULL,
	[DN_SB] [varchar](12) NOT NULL,
	[Q1] [varchar](2) NULL,
	[Q2] [varchar](2) NULL,
	[Q3] [varchar](4) NULL,
	[Q4] [varchar](4) NULL,
	[Q5] [varchar](40) NULL,
	[Q6] [varchar](40) NULL,
	[Q7] [varchar](4) NULL,
	[Q8] [varchar](20) NULL,
	[Q9] [varchar](2) NULL,
	[Q10] [varchar](8) NULL,
	[Q11] [varchar](4) NULL,
	[Q12] [varchar](10) NULL,
	[Q13] [varchar](3) NULL,
	[Q14] [varchar](2) NULL,
	[Q15] [varchar](8) NULL,
	[Q16] [varchar](3) NULL,
	[Q17] [varchar](10) NULL,
	[Q18] [varchar](3) NULL,
	[Q19] [varchar](10) NULL,
	[Q20] [varchar](40) NULL,
	[Q21] [varchar](3) NULL,
	[Q22] [varchar](10) NULL,
	[Q23] [varchar](10) NULL,
	[Q24] [varchar](2) NULL,
	[Q25] [varchar](100) NULL,
	[Q26] [varchar](200) NULL,
	[Q27] [varchar](40) NULL,
	[NM_EDITOR] [varchar](10) NULL,
	[DT_EDITOR] [varchar](8) NULL,
	[Q29] [varchar](7) NULL,
	[Q30] [varchar](7) NULL,
	[Q28] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_SB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
