USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[app_menu_bookmark]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[app_menu_bookmark](
	[id_menu] [varchar](50) NOT NULL,
	[sno] [varchar](15) NOT NULL,
	[bookmark_yn] [varchar](1) NOT NULL,
 CONSTRAINT [PK_app_menu_bookmark] PRIMARY KEY CLUSTERED 
(
	[id_menu] ASC,
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
