USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[RLM_MOV_LOG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[RLM_MOV_LOG](
	[C_CODE] [char](4) NOT NULL,
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_WHS] [varchar](12) NOT NULL,
	[CD_LOC] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[DC_SPEC] [varchar](12) NOT NULL,
	[NM_QTY] [varchar](12) NULL,
	[QT_QTY] [numeric](15, 4) NULL,
	[CD_WHS2] [varchar](12) NULL,
	[CD_LOC2] [varchar](12) NULL,
	[NM_QTY2] [numeric](15, 4) NULL
) ON [PRIMARY]
GO
