USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[app_code]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[app_code](
	[nm_code] [varchar](10) NOT NULL,
	[nm_seq] [numeric](3, 0) NOT NULL,
	[use_yn] [varchar](1) NOT NULL,
	[dc_v1] [varchar](10) NULL,
	[remark_v1] [varchar](50) NULL,
	[dc_v2] [varchar](10) NULL,
	[remark_v2] [varchar](50) NULL,
	[dc_v3] [nchar](10) NULL,
	[remark_v3] [varchar](50) NULL,
 CONSTRAINT [PK_app_code] PRIMARY KEY CLUSTERED 
(
	[nm_code] ASC,
	[nm_seq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
