USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[COMPLAIN]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[COMPLAIN](
	[C_CODE] [char](4) NOT NULL,
	[DN_CF] [varchar](12) NOT NULL,
	[DN_SB] [varchar](12) NULL,
	[CD_CUST] [char](6) NULL,
	[NM_USR] [varchar](10) NULL,
	[DT_REG] [datetime] NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[QT_ITEM] [numeric](15, 2) NULL,
	[FG_CONFIRM] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_CF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
