USE [DZTPLA]
GO
/****** Object:  StoredProcedure [DZTPLA].[DZTPLA_SEQ2]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE          PROCEDURE [DZTPLA].[DZTPLA_SEQ2]
(	@C_CODE		VARCHAR(4),
	@CODE		CHAR(6),
	@OUT		CHAR(12) OUTPUT
	
)
AS
BEGIN
DECLARE	@SEQ	CHAR(6),
	@CD_SEQ	CHAR(2),
	@DT_SEQ	CHAR(4)

	--BEGIN TRANSACTION;

SELECT	@CD_SEQ = SUBSTRING(@CODE, 1, 2),
	@DT_SEQ = SUBSTRING(@CODE, 3, 6)

--	SELECT	@SEQ = NB_SEQ
--	FROM	SEQ
--	WHERE	C_CODE = @C_CODE
--	AND	CD_SEQ = @CD_SEQ
--	AND	DT_SEQ = @DT_SEQ

	IF ( LEFT(@DT_SEQ,4) = '1206' )
	    SELECT @DT_SEQ = RIGHT(CONVERT(CHAR(6), GETDATE(),112),4)

	SELECT	@SEQ = max(NB_SEQ)
	FROM	SEQ
	WHERE	C_CODE IN ('1000', '3000' , '5000')
	AND	CD_SEQ = @CD_SEQ
	AND	DT_SEQ = @DT_SEQ

	SELECT @SEQ = ISNULL(@SEQ, '000000')

	IF (@@ROWCOUNT = 0 OR @SEQ = '000000')
	BEGIN
		SELECT	@SEQ = '000001'
		IF (@CD_SEQ = 'WJ')
			SET @C_CODE = '1000'

		INSERT INTO SEQ(C_CODE, CD_SEQ, DT_SEQ, NB_SEQ)
		VALUES(@C_CODE, @CD_SEQ, @DT_SEQ, @SEQ)

	END
	ELSE
	BEGIN
		SELECT	@SEQ = RIGHT('00000'+CONVERT(VARCHAR(6), CONVERT(NUMERIC(6, 0), @SEQ) + 1),6)

		IF (@CD_SEQ = 'WJ')
			BEGIN
				UPDATE	SEQ
				SET	NB_SEQ = @SEQ
				WHERE	C_CODE = '1000'
				AND	CD_SEQ = @CD_SEQ
				AND	DT_SEQ = @DT_SEQ
			END
		ELSE
			BEGIN
				UPDATE	SEQ
				SET	NB_SEQ = @SEQ
				WHERE	C_CODE = @C_CODE
				AND	CD_SEQ = @CD_SEQ
				AND	DT_SEQ = @DT_SEQ
			END
--		UPDATE	SEQ
--		SET	NB_SEQ = @SEQ
--		WHERE	CD_SEQ = @CD_SEQ
--		AND	DT_SEQ = @DT_SEQ

	END

	SELECT	@OUT = @CD_SEQ + @DT_SEQ + @SEQ

	COMMIT;
END












GO
