USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SCHEDULE1]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SCHEDULE1](
	[NO_SCH] [varchar](12) NOT NULL,
	[DT_FROM] [datetime] NOT NULL,
	[DT_TO] [datetime] NOT NULL,
	[REG_USR] [varchar](20) NOT NULL,
	[DC_TITLE] [varchar](70) NULL,
	[DC_SCH] [text] NULL,
	[FG_EMG] [varchar](4) NULL,
	[DT_END] [datetime] NULL,
	[DEL_USR] [varchar](20) NULL,
	[NO_PRE_SCH] [varchar](12) NULL,
	[FG_FLOW] [varchar](10) NULL,
	[CD_CUST] [char](6) NULL,
	[FG_FLOW2] [char](20) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[C_CODE] [char](4) NOT NULL,
	[NO_REF] [varchar](12) NULL,
	[DT_CONF] [datetime] NULL,
	[CNF_USR] [varchar](20) NULL,
	[FG_CONF] [varchar](4) NULL,
	[DC_MEN] [char](20) NULL,
	[DC_REMARK] [varchar](500) NULL,
	[dc_place] [varchar](20) NULL,
	[DT_ALARM] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_SCH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_no_ref]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_no_ref] ON [DZTPLA].[SCHEDULE1]
(
	[NO_REF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SCHEDULE1] ADD  CONSTRAINT [DF__SCHEDULE1__C_COD__43C29B4C]  DEFAULT ('1000') FOR [C_CODE]
GO
