USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CRT_DDS_ITEM]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CRT_DDS_ITEM](
	[sort] [numeric](5, 0) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[cd_spec] [varchar](12) NOT NULL,
	[etc] [varchar](20) NULL,
 CONSTRAINT [PK_CRT_DDS_ITEM] PRIMARY KEY CLUSTERED 
(
	[cd_item] ASC,
	[cd_spec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
