USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WAREHOUSE]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WAREHOUSE](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[CD_WARE] [varchar](12) NOT NULL,
	[NM_WARE] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
