USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[INCENTIVE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[INCENTIVE](
	[c_code] [char](4) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[dt_inc] [varchar](6) NOT NULL,
	[at_incentive] [numeric](15, 2) NOT NULL,
	[cr_incentive] [numeric](15, 3) NOT NULL,
	[stan1] [numeric](15, 2) NOT NULL,
	[stan2] [numeric](15, 2) NOT NULL,
	[crt_incentive] [numeric](15, 0) NOT NULL,
	[pro_incentive] [numeric](15, 3) NOT NULL,
	[pre_sale] [numeric](15, 0) NOT NULL,
	[n_sale] [numeric](15, 0) NOT NULL,
	[pre_cr] [numeric](15, 0) NOT NULL,
	[n_cr] [numeric](15, 0) NOT NULL,
	[pre_cm] [numeric](15, 0) NOT NULL,
	[n_cm] [numeric](15, 0) NOT NULL,
	[n_visit] [numeric](15, 2) NULL,
	[n_car] [numeric](15, 0) NOT NULL,
	[fg_s130] [char](3) NULL,
	[FG_PM] [varchar](5) NULL,
 CONSTRAINT [PK_INCENTIVE] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_usr] ASC,
	[dt_inc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_incentive_at_incentive]  DEFAULT ((0)) FOR [at_incentive]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_cr_incentive]  DEFAULT ((0)) FOR [cr_incentive]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_cm_incentive]  DEFAULT ((0)) FOR [stan1]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_vt_incentive]  DEFAULT ((0)) FOR [stan2]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_crt_incentive]  DEFAULT ((0)) FOR [crt_incentive]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_pro_incentive]  DEFAULT ((0)) FOR [pro_incentive]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_pre_sale]  DEFAULT ((0)) FOR [pre_sale]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_n_sale]  DEFAULT ((0)) FOR [n_sale]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_pre_cr]  DEFAULT ((0)) FOR [pre_cr]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_n_cr]  DEFAULT ((0)) FOR [n_cr]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_pre_cm]  DEFAULT ((0)) FOR [pre_cm]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_n_cm]  DEFAULT ((0)) FOR [n_cm]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_n_visit]  DEFAULT ((0)) FOR [n_visit]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_n_car]  DEFAULT ((0)) FOR [n_car]
GO
ALTER TABLE [DZTPLA].[INCENTIVE] ADD  CONSTRAINT [DF_INCENTIVE_fg_s130]  DEFAULT ((0)) FOR [fg_s130]
GO
