USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MPURCLS_H]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MPURCLS_H](
	[c_code] [char](4) NOT NULL,
	[mnth] [char](6) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[qt_stock] [numeric](20, 2) NULL,
	[qt_pstock] [numeric](20, 2) NULL,
	[at_stock] [numeric](20, 2) NULL,
	[up_stock] [numeric](20, 2) NULL,
 CONSTRAINT [PK_MPURCLS_H] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[mnth] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
