USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_ROTATE_DATE_2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






/* 회전일  */
CREATE FUNCTION [DZTPLA].[DZFN_GET_ROTATE_DATE_2](@ARS_C_CODE    CHAR(4),@ARS_CD_CUST  CHAR(6),@ARS_DT_DST    VARCHAR(8))
RETURNS VARCHAR(8)
AS
BEGIN

	DECLARE @RS_ROTATE VARCHAR(8)
	DECLARE @AT_CRD       NUMERIC(15,4), @AT_REM NUMERIC(15,4)
	
	SELECT @AT_REM = (SUM(AT_CRD) - SUM(AT_RCRD) - SUM(AT_CRM) ) 
	   FROM cm
	 WHERE c_code = @ARS_C_CODE
	      AND cd_cust = @ARS_CD_CUST
	      AND mt_crm <= @ARS_DT_DST 

    IF ( @AT_REM <= 0 )
    BEGIN 

	   SELECT @RS_ROTATE = @ARS_DT_DST 

	END 
	ELSE
	BEGIN 

		DECLARE cm_cursor CURSOR FOR 
		SELECT at_crd, mt_crm
		   FROM cm_700000
		 WHERE c_code = @ARS_C_CODE
		      AND cd_cust = @ARS_CD_CUST
		      AND mt_crm <= @ARS_DT_DST
		      AND at_crd > 0 
		ORDER BY mt_crm desc
		
		OPEN cm_cursor
		
		FETCH NEXT FROM cm_cursor 
		INTO @AT_CRD, @RS_ROTATE
		
		WHILE @@FETCH_STATUS = 0
		BEGIN
		   IF ( @AT_CRD >= @AT_REM )
		       BREAK
		   ELSE
		       SELECT @AT_REM = @AT_REM - @AT_CRD
		   
		   FETCH NEXT FROM cm_cursor 
		   INTO @AT_CRD, @RS_ROTATE
		END
		
		CLOSE cm_cursor
		DEALLOCATE cm_cursor
		
	END 

	RETURN ( @RS_ROTATE )
END





GO
