USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_STAVG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* 회사별 재고      */
/* 작성자 : 고정호 */
CREATE FUNCTION [DZTPLA].[DZFN_STAVG] 
(
 
 @A_C_CODE    CHAR(4),
 @A_CD_NODE  VARCHAR(4),
 @A_MT_VAL     VARCHAR(6) 
)
RETURNS @RF_STAVGA  TABLE
(	C_CODE    CHAR(4),
	CD_NODE  VARCHAR(12),
	MT_VAL     CHAR(6),
	CD_ACT	    VARCHAR(5),
	CD_ITEM    VARCHAR(12),
	CD_SPEC   VARCHAR(12),
	QT_IN	    NUMERIC(15,4),
	AT_IN  	    NUMERIC(15,4),
	QT_EX        NUMERIC(15,4),
	AT_EX         NUMERIC(15,4),
	QT_ST        NUMERIC(15,4),
	AT_ST         NUMERIC(15,4)
)
AS
BEGIN
     IF EXISTS ( SELECT 1 FROM STAVGH
		           WHERE C_CODE   = @A_C_CODE
			  AND CD_NODE = @A_CD_NODE
			  AND MT_VAL    = @A_MT_VAL
                     )
     BEGIN
	INSERT @RF_STAVGA 
	   SELECT C_CODE,CD_NODE,MT_VAL,CD_ACT,
		  CD_ITEM,CD_SPEC,
		 QT_IN,
		 AT_IN,
		  QT_EX,
		 AT_EX,QT_ST,
		  AT_ST 
                     FROM STAVGL
	    WHERE    C_CODE   = @A_C_CODE
	         AND    CD_NODE = @A_CD_NODE
	         AND    MT_VAL    = @A_MT_VAL
            

     END	

RETURN 
END





GO
