USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CSL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CSL](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_CS] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[FG_S121] [varchar](4) NOT NULL,
	[FG_S122] [varchar](4) NOT NULL,
	[FG_TAX] [char](1) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[FG_UP] [char](1) NOT NULL,
	[QT_LITEM] [numeric](15, 4) NOT NULL,
	[UP_LITEM] [numeric](15, 4) NOT NULL,
	[AT_LITEM] [numeric](15, 4) NOT NULL,
	[UP_LCLS] [numeric](15, 4) NOT NULL,
	[AT_LCLS] [numeric](15, 4) NOT NULL,
	[UP_BASE] [numeric](15, 4) NOT NULL,
	[DN_RL] [varchar](12) NULL,
	[DN_RLLN] [int] NULL,
	[FG_FIXUP] [char](1) NULL,
	[dc_ifm] [varchar](80) NULL,
	[DC_SPEC] [varchar](4) NULL,
	[NO_SERIAL] [varchar](20) NULL,
 CONSTRAINT [PK_CSL] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_CS] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_csl]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_csl] ON [DZTPLA].[CSL]
(
	[DN_CS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_rl]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_rl] ON [DZTPLA].[CSL]
(
	[C_CODE] ASC,
	[DN_RL] ASC,
	[DN_RLLN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CSL] ADD  CONSTRAINT [DF__CSL__QT_LITEM__40DA7652]  DEFAULT ((0)) FOR [QT_LITEM]
GO
ALTER TABLE [DZTPLA].[CSL] ADD  CONSTRAINT [DF__CSL__UP_LITEM__41CE9A8B]  DEFAULT ((0)) FOR [UP_LITEM]
GO
ALTER TABLE [DZTPLA].[CSL] ADD  CONSTRAINT [DF__CSL__AT_LITEM__42C2BEC4]  DEFAULT ((0)) FOR [AT_LITEM]
GO
ALTER TABLE [DZTPLA].[CSL] ADD  CONSTRAINT [DF__CSL__UP_LCLS__43B6E2FD]  DEFAULT ((0)) FOR [UP_LCLS]
GO
ALTER TABLE [DZTPLA].[CSL] ADD  CONSTRAINT [DF__CSL__AT_LCLS__44AB0736]  DEFAULT ((0)) FOR [AT_LCLS]
GO
ALTER TABLE [DZTPLA].[CSL] ADD  CONSTRAINT [DF__CSL__UP_BASE__459F2B6F]  DEFAULT ((0)) FOR [UP_BASE]
GO
ALTER TABLE [DZTPLA].[CSL] ADD  CONSTRAINT [DF__CSL__DN_RLLN__46934FA8]  DEFAULT ((0)) FOR [DN_RLLN]
GO
ALTER TABLE [DZTPLA].[CSL] ADD  CONSTRAINT [DF__CSL__DC_SPEC__6A525888]  DEFAULT (space((4))) FOR [DC_SPEC]
GO
ALTER TABLE [DZTPLA].[CSL]  WITH CHECK ADD  CONSTRAINT [FK_CSL_CSH] FOREIGN KEY([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_CS])
REFERENCES [DZTPLA].[CSH] ([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_CS])
GO
ALTER TABLE [DZTPLA].[CSL] CHECK CONSTRAINT [FK_CSL_CSH]
GO
ALTER TABLE [DZTPLA].[CSL]  WITH CHECK ADD  CONSTRAINT [FK_CSL_ITEMGRP] FOREIGN KEY([C_CODE], [CD_ITEM], [CD_SPEC])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[CSL] CHECK CONSTRAINT [FK_CSL_ITEMGRP]
GO
