USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CLASS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CLASS](
	[C_CODE] [char](4) NOT NULL,
	[FG_CLASS] [char](1) NOT NULL,
	[CD_CLASS] [varchar](12) NOT NULL,
	[NM_CLASS] [varchar](40) NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[FG_CLASS] ASC,
	[CD_CLASS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
