USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUST2SC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE  FUNCTION [DZTPLA].[DZFN_GET_CUST2SC] (
 @CD_HOSP  VARCHAR(12),
 @CD_ITEM  VARCHAR(50)
)
RETURNS VARCHAR(1) AS
BEGIN

	--//출고거래처 알아내기
	Declare	@CD_CUST  VARCHAR(12),
			@TO_CD_CUST  VARCHAR(12), 
			@KEY_CODE VARCHAR(12),
			@FG_FR_SC CHAR(1)		

	   select @FG_FR_SC = fg_fr_sc 
	     from cust_item_tag C  (NOLOCK) 
		where C.c_code = '1000'
			and C.CD_CUST = (SELECT MAX(C.KEY_CODE) FROM CUST C (NOLOCK)  WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP))
			and C.cd_item = @CD_ITEM 
			and isnull(C.fg_use,'Y') = 'Y'													  

--	SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)

---// 대리점의 거래병원인 경우(마스터 등록이 안되어 있음) 와 마스터 등록이 되어 있지 않는 병원인 경우 거래처코드로 조회하도록 한다.

	IF ( @FG_FR_SC IS NULL or @FG_FR_SC = '' )	 
		select @FG_FR_SC = fg_fr_sc 
	      from cust_item_tag C  (NOLOCK) 
	     where C.c_code = '1000'
		   and C.CD_CUST = (SELECT MAX(C.KEY_CODE) FROM CUST C (NOLOCK)  WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST2(@CD_HOSP,@CD_ITEM) )
		   and C.cd_item = @CD_ITEM 
		   and isnull(C.fg_use,'Y') = 'Y'		

	 --SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUST2(@CD_HOSP,@CD_ITEM) 
/*
	 IF ( @KEY_CODE IS NULL or @KEY_CODE = '' )
	    SELECT @KEY_CODE = MAX(C.KEY_CODE) FROM CUST C WHERE C.C_CODE = '1000' AND C.CD_CUST = DZTPLA.DZFN_GET_CUSTM(@CD_HOSP)
		--FG_FR_SC

	   select @FG_FR_SC = fg_fr_sc 
	     from cust_item_tag C 
		where C.c_code = '1000'
			and C.CD_CUST = @KEY_CODE
			and C.cd_item = @CD_ITEM 
			and isnull(C.fg_use,'Y') = 'Y'													  
*/
					  
	 IF (@FG_FR_SC IS NULL or @FG_FR_SC = '' )
	 BEGIN

		select @FG_FR_SC = (case when DC_V3 = '저장' THEN 'H' when DC_V3 = '판매' THEN 'A' ELSE 'E' END)
		  from code d  (NOLOCK) 
		 where d.c_code = '1000' 
		   and d.cd_cls = 'S156'
		   and d.nm_flag = @CD_ITEM;

		IF (@FG_FR_SC IS NULL or @FG_FR_SC = '' )
		BEGIN
			SET @FG_FR_SC  = 'A'
		END 
	END

	return @FG_FR_SC

END


GO
