USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[tmp_sol]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[tmp_sol](
	[node_code] [varchar](4) NOT NULL,
	[dept_code] [varchar](12) NOT NULL,
	[sno] [varchar](10) NOT NULL,
	[c_code] [varchar](4) NOT NULL,
	[dn_so] [varchar](14) NOT NULL,
	[dn_ln] [int] IDENTITY(1,1) NOT NULL,
	[fg_so] [varchar](1) NOT NULL,
	[dt_ex] [datetime] NULL,
	[a1] [varchar](1) NOT NULL,
	[a2] [varchar](1) NOT NULL,
	[a3] [varchar](4) NOT NULL,
	[cd_item] [varchar](12) NULL,
	[cd_spec] [varchar](12) NULL,
	[odrqty] [float] NULL,
	[a4] [varchar](1) NOT NULL,
	[untprc] [float] NULL,
	[a5] [float] NULL,
	[a6] [varchar](3) NOT NULL,
	[a11] [int] NOT NULL,
	[a12] [int] NOT NULL,
	[a13] [int] NOT NULL,
	[a14] [float] NULL,
	[a] [float] NULL,
	[bigo] [char](50) NULL,
	[a15] [int] NOT NULL,
	[a16] [int] NOT NULL,
	[a17] [int] NOT NULL,
	[a18] [datetime] NULL,
	[a19] [int] NOT NULL,
	[a20] [varchar](1) NOT NULL,
 CONSTRAINT [PK_tmp_sol] PRIMARY KEY CLUSTERED 
(
	[node_code] ASC,
	[dept_code] ASC,
	[sno] ASC,
	[c_code] ASC,
	[dn_so] ASC,
	[dn_ln] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
