USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[biz_log]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[biz_log](
	[CMID] [varchar](32) NULL,
	[UMID] [varchar](32) NULL,
	[MSG_TYPE] [int] NULL,
	[STATUS] [int] NULL,
	[REQUEST_TIME] [datetime] NOT NULL,
	[SEND_TIME] [datetime] NULL,
	[REPORT_TIME] [datetime] NULL,
	[DEST_PHONE] [varchar](16) NOT NULL,
	[DEST_NAME] [varchar](32) NULL,
	[SEND_PHONE] [varchar](16) NULL,
	[SEND_NAME] [varchar](32) NULL,
	[SUBJECT] [varchar](64) NULL,
	[MSG_BODY] [varchar](2000) NULL,
	[NATION_CODE] [varchar](5) NULL,
	[SENDER_KEY] [varchar](40) NULL,
	[TEMPLATE_CODE] [varchar](30) NULL,
	[RESPONSE_METHOD] [varchar](8) NULL,
	[TIMEOUT] [int] NULL,
	[RE_TYPE] [varchar](3) NULL,
	[RE_BODY] [varchar](2000) NULL,
	[RE_PART] [varchar](1) NULL,
	[WAP_URL] [varchar](80) NULL,
	[COVER_FLAG] [int] NULL,
	[SMS_FLAG] [int] NULL,
	[REPLY_FLAG] [int] NULL,
	[RETRY_CNT] [int] NULL,
	[ATTACHED_FILE] [varchar](1000) NULL,
	[VXML_FILE] [varchar](64) NULL,
	[CALL_STATUS] [varchar](4) NULL,
	[USE_PAGE] [int] NULL,
	[USE_TIME] [int] NULL,
	[SN_RESULT] [int] NULL,
	[TEL_INFO] [varchar](10) NULL,
	[CINFO] [varchar](32) NULL,
	[USER_KEY] [varchar](30) NULL,
	[AD_FLAG] [varchar](1) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DESTPHONE_CMID]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DESTPHONE_CMID] ON [DZTPLA].[biz_log]
(
	[DEST_PHONE] ASC,
	[CMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_REQUEST_CMID]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_REQUEST_CMID] ON [DZTPLA].[biz_log]
(
	[REQUEST_TIME] ASC,
	[CMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_STATUS_CMID]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_STATUS_CMID] ON [DZTPLA].[biz_log]
(
	[STATUS] ASC,
	[CMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ((0)) FOR [MSG_TYPE]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT (getdate()) FOR [SEND_TIME]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT (getdate()) FOR [REPORT_TIME]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ('99') FOR [RE_TYPE]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ((0)) FOR [COVER_FLAG]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ((0)) FOR [SMS_FLAG]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ((0)) FOR [REPLY_FLAG]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ((0)) FOR [USE_PAGE]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ((0)) FOR [USE_TIME]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ((0)) FOR [SN_RESULT]
GO
ALTER TABLE [DZTPLA].[biz_log] ADD  DEFAULT ('-') FOR [TEL_INFO]
GO
