USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PYYPAY_HISTORY]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PYYPAY_HISTORY](
	[DT_YMD] [char](8) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[NODE_CODE] [char](4) NOT NULL,
	[P_YY] [char](4) NULL,
	[JUNG_FDATE] [char](8) NULL,
	[JUNG_TDATE] [char](8) NULL,
	[JUNGSAN_YYMM] [char](6) NOT NULL,
	[FG_JUNGSAN] [char](1) NOT NULL,
	[SNO] [varchar](10) NOT NULL,
	[NOTAX_NIGHT] [numeric](13, 0) NULL,
	[NOTAX_ETC] [numeric](13, 0) NULL,
	[NOTAX_ABROD] [numeric](13, 0) NULL,
	[INS_MEDI] [numeric](13, 0) NULL,
	[INS_EMP] [numeric](13, 0) NULL,
	[INS_NAME1] [char](1) NULL,
	[INS_AMT1] [numeric](13, 0) NULL,
	[INS_NAME2] [char](1) NULL,
	[INS_AMT2] [numeric](13, 0) NULL,
	[MED_AMT] [numeric](13, 0) NULL,
	[MED_KEYN] [numeric](13, 0) NULL,
	[MED_JANG] [numeric](13, 0) NULL,
	[EDU_SELF] [numeric](13, 0) NULL,
	[FG_EDUWIFE] [char](1) NULL,
	[FG_WIFE] [char](1) NULL,
	[EDU_WIFE] [numeric](13, 0) NULL,
	[KID_NO] [numeric](4, 0) NULL,
	[KID_AMT] [numeric](13, 0) NULL,
	[SCHOOL_AMT] [numeric](13, 0) NULL,
	[SCHOOL_OUTNO] [numeric](3, 0) NULL,
	[SCHOOL_OUTAMT] [numeric](13, 0) NULL,
	[COLLEGE_NO] [numeric](4, 0) NULL,
	[COLLEGE_AMT] [numeric](13, 0) NULL,
	[FG_HOUSE] [varchar](16) NULL,
	[SAVE_HOUSE] [numeric](13, 0) NULL,
	[DT_HOUSE] [char](8) NULL,
	[DT_LENDIND] [char](8) NULL,
	[AMT_BASE] [numeric](13, 0) NULL,
	[LAW_GIBU] [numeric](13, 0) NULL,
	[JI_GIBU] [numeric](13, 0) NULL,
	[SCHOOL_GIBU] [numeric](13, 0) NULL,
	[YUNGUM_AMT] [numeric](13, 0) NULL,
	[JOGAM15_AMT] [numeric](13, 0) NULL,
	[CHANGTU] [numeric](13, 0) NULL,
	[SAV_JAE] [numeric](13, 0) NULL,
	[INT_HOUSE] [numeric](13, 0) NULL,
	[SAV_STOCK] [numeric](13, 0) NULL,
	[NTAX] [numeric](13, 0) NULL,
	[FDATE] [char](8) NULL,
	[TDATE] [char](8) NULL,
	[FG_TAX] [char](1) NULL,
	[FORTAX_GO] [numeric](13, 0) NULL,
	[FOR_FDATE] [char](8) NULL,
	[FOR_TDATE] [char](8) NULL,
	[ABROD_PLAC] [varchar](20) NULL,
	[ABROD_RESP] [varchar](20) NULL,
	[ABROD_FDATE] [char](8) NULL,
	[ABROD_TDATE] [char](8) NULL,
	[NM_NATION] [varchar](20) NULL,
	[DT_NATION] [char](8) NULL,
	[FG_MONEY] [char](1) NULL,
	[AMT_MONEY] [numeric](13, 0) NULL,
	[AMT_MONEY1] [numeric](13, 0) NULL,
	[GONGTAX] [numeric](13, 0) NULL,
	[GONG_FDATE] [char](8) NULL,
	[GONG_TDATE] [char](8) NULL,
	[CON_BONUS] [numeric](13, 0) NULL,
	[BILL_DATE] [char](8) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DUTY_RANK] [varchar](3) NULL,
	[DUTY_STEP] [varchar](3) NULL,
	[DUTY_WORK] [varchar](8) NULL,
	[DUTY_TYPE] [char](1) NULL,
	[PRJ_CODE] [varchar](3) NULL,
	[COST_TYPE] [char](1) NULL,
	[REMARK] [varchar](20) NULL,
	[WDATE] [char](8) NULL,
	[PAY_1] [numeric](13, 0) NULL,
	[BONUS_1] [numeric](13, 0) NULL,
	[IBONUS_1] [numeric](13, 0) NULL,
	[PAY_2] [numeric](13, 0) NULL,
	[BONUS_2] [numeric](13, 0) NULL,
	[IBONUS_2] [numeric](13, 0) NULL,
	[PAY_3] [numeric](13, 0) NULL,
	[BONUS_3] [numeric](13, 0) NULL,
	[IBONUS_3] [numeric](13, 0) NULL,
	[LAST_PAY] [numeric](13, 0) NULL,
	[TAX_PAY] [numeric](13, 0) NULL,
	[DUG_LABOR] [numeric](13, 0) NULL,
	[LABOR_PAY] [numeric](13, 0) NULL,
	[DUG_SELF] [numeric](13, 0) NULL,
	[DUG_WIFE] [numeric](13, 0) NULL,
	[DUG_BUYANG] [numeric](13, 0) NULL,
	[DUG_JANG] [numeric](13, 0) NULL,
	[DUG_OLD] [numeric](13, 0) NULL,
	[DUG_SAEDAE] [numeric](13, 0) NULL,
	[DUG_CHILD] [numeric](13, 0) NULL,
	[DUG_FEW] [numeric](13, 0) NULL,
	[DUG_MEDI] [numeric](13, 0) NULL,
	[DUG_INSU] [numeric](13, 0) NULL,
	[DUG_EDUC] [numeric](13, 0) NULL,
	[DUG_GIBU] [numeric](13, 0) NULL,
	[DUG_HOUS] [numeric](13, 0) NULL,
	[DUG_STD] [numeric](13, 0) NULL,
	[DUG_HOUSE] [numeric](13, 0) NULL,
	[DUG_YUNGUM] [numeric](13, 0) NULL,
	[DUG_TECH] [numeric](13, 0) NULL,
	[DUG_INVEST] [numeric](13, 0) NULL,
	[SHORTAGE_INC] [numeric](13, 0) NULL,
	[STD_TAX] [numeric](13, 0) NULL,
	[CAL_TAX] [numeric](13, 0) NULL,
	[DUGTAX_LABOR] [numeric](13, 0) NULL,
	[DUGTAX_SAVE] [numeric](13, 0) NULL,
	[DUGTAX_HOUSE] [numeric](13, 0) NULL,
	[DUGTAX_ABROD] [numeric](13, 0) NULL,
	[DUGTAX_BOND] [numeric](13, 0) NULL,
	[SHORT_TAX] [numeric](13, 0) NULL,
	[DUGTAX_JOGAM] [numeric](13, 0) NULL,
	[DUGTAX_SODUK] [numeric](13, 0) NULL,
	[JING_STAX] [numeric](13, 0) NULL,
	[JING_JTAX] [numeric](13, 0) NULL,
	[JING_NTAX] [numeric](13, 0) NULL,
	[JING_JANG] [numeric](13, 0) NULL,
	[JONG_STAX] [numeric](13, 0) NULL,
	[JONG_JTAX] [numeric](13, 0) NULL,
	[JONG_JANG] [numeric](13, 0) NULL,
	[JONG_NTAX] [numeric](13, 0) NULL,
	[DONE_STAX] [numeric](13, 0) NULL,
	[DONE_JTAX] [numeric](13, 0) NULL,
	[DONE_JANG] [numeric](13, 0) NULL,
	[DONE_NTAX] [numeric](13, 0) NULL,
	[DO_STAX] [numeric](13, 0) NULL,
	[DO_JTAX] [numeric](13, 0) NULL,
	[DO_JANG] [numeric](13, 0) NULL,
	[DO_NTAX] [numeric](13, 0) NULL,
	[HWAN_STAX] [numeric](13, 0) NULL,
	[HWAN_JTAX] [numeric](13, 0) NULL,
	[HWAN_JANG] [numeric](13, 0) NULL,
	[HWAN_NTAX] [numeric](13, 0) NULL,
	[CON_BONUS1] [numeric](13, 0) NULL,
	[AMT_ETC1] [numeric](13, 0) NULL,
	[AMT_ETC2] [numeric](13, 0) NULL,
	[SPEC_1] [numeric](13, 0) NULL,
	[SPEC_2] [numeric](13, 0) NULL,
	[SPEC_3] [numeric](13, 0) NULL,
	[SPEC_4] [numeric](13, 0) NULL,
	[SPEC_5] [numeric](13, 0) NULL,
	[SPEC_6] [numeric](13, 0) NULL,
	[SPEC_7] [numeric](13, 0) NULL,
	[SPEC_8] [numeric](13, 0) NULL,
	[SPEC_9] [numeric](13, 0) NULL,
	[SPEC_10] [numeric](13, 0) NULL,
	[DUG_INVEST30] [numeric](13, 0) NULL,
	[DUG_PENSION] [numeric](13, 0) NULL,
	[TAX_ASSOCIATION] [numeric](13, 0) NULL,
	[INS_JANG] [numeric](13, 0) NULL,
	[DUG_INSJANG] [numeric](13, 0) NULL,
	[INVEST20] [numeric](13, 0) NULL,
	[INVEST30] [numeric](13, 0) NULL,
	[DT_LONGHOUSE] [char](8) NULL,
	[PAY_4] [numeric](13, 0) NULL,
	[BONUS_4] [numeric](13, 0) NULL,
	[IBONUS_4] [numeric](13, 0) NULL,
	[DUG_TAX_ASS] [numeric](13, 0) NULL,
	[GROSS_PAYSUM] [numeric](13, 0) NULL,
	[GROSS_SUM] [numeric](13, 0) NULL,
	[GROSS_TEMP] [numeric](13, 0) NULL,
	[NOTAX_FOREIGN] [numeric](13, 0) NULL,
	[THIS_SECU] [numeric](13, 0) NULL,
	[BEF_SECU] [numeric](13, 0) NULL,
	[SECU_SAVE] [numeric](13, 0) NULL,
	[EDU_JANGNO] [numeric](3, 0) NULL,
	[EDU_JANGAMT] [numeric](13, 0) NULL,
	[NODE_CODE3] [varchar](4) NULL,
	[JI_GIBU50] [numeric](13, 0) NULL,
	[INVEST15] [numeric](13, 0) NULL,
	[EMSTOCK_OS] [numeric](13, 0) NULL,
	[DUG_EMSTOCK] [numeric](13, 0) NULL,
	[AM_CARD2] [numeric](13, 0) NULL,
	[NODE_CODE2] [varchar](4) NULL,
	[DEPT_CODE2] [varchar](12) NULL,
	[AM_JIRO] [numeric](13, 0) NULL,
	[AM_FOREIGN] [numeric](13, 0) NULL,
	[AM_WEDD] [numeric](13, 0) NULL,
	[MED_ME] [numeric](13, 0) NULL,
	[BSBA_AMT] [numeric](13, 0) NULL,
	[DUG_WEDD] [numeric](13, 0) NULL,
	[DT_PAY] [char](6) NULL,
	[AM_DSTAX] [numeric](13, 0) NULL,
	[AM_DJTAX] [numeric](13, 0) NULL,
	[AM_DNTAX] [numeric](13, 0) NULL,
	[JUNGSAN_YN] [char](1) NULL,
	[DUGTAX_GIBU] [numeric](13, 0) NULL,
	[AM_GIBU] [numeric](13, 0) NULL,
	[SAJU_GIBU] [numeric](13, 0) NULL,
	[AM_LONGHOUSE] [numeric](13, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PYYPAY_HISTORY] ADD  CONSTRAINT [DF__PYYPAY_HI__JUNGS__002C8B0E]  DEFAULT ('N') FOR [JUNGSAN_YN]
GO
