USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ORDERDATA]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ORDERDATA](
	[C_CODE] [char](4) NOT NULL,
	[DN_ORD] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[CD_HOSP] [varchar](12) NOT NULL,
	[DT_ORD] [char](8) NOT NULL,
	[NM_USER] [varchar](12) NULL,
	[CD_ITEM] [varchar](20) NOT NULL,
	[CD_SPEC] [varchar](30) NOT NULL,
	[REQ_QTY] [int] NOT NULL,
	[REMARK] [varchar](200) NULL,
	[DN_SO] [varchar](12) NULL,
	[DN_SOLN] [int] NULL,
	[PRE_DN] [varchar](12) NULL,
	[PRE_LN] [int] NULL,
	[FG_CONF] [char](1) NULL,
	[FG_STOCK] [char](1) NULL,
	[FG_DEL] [char](1) NULL,
	[FG_ORD] [varchar](4) NULL,
	[REQ_DATE] [varchar](8) NULL,
	[REG_USR] [varchar](10) NOT NULL,
	[DT_REG] [datetime] NULL,
	[NM_PC] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_ORD] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[ORDERDATA] ADD  CONSTRAINT [DF__ORDERDATA__FG_CO__1650D657]  DEFAULT ('N') FOR [FG_CONF]
GO
ALTER TABLE [DZTPLA].[ORDERDATA] ADD  CONSTRAINT [DF__ORDERDATA__FG_ST__1744FA90]  DEFAULT ('C') FOR [FG_STOCK]
GO
ALTER TABLE [DZTPLA].[ORDERDATA] ADD  CONSTRAINT [DF__ORDERDATA__FG_DE__18391EC9]  DEFAULT ('N') FOR [FG_DEL]
GO
ALTER TABLE [DZTPLA].[ORDERDATA] ADD  CONSTRAINT [DF__ORDERDATA__FG_OR__192D4302]  DEFAULT ('사내') FOR [FG_ORD]
GO
