USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[HOSPODER_CRT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[HOSPODER_CRT](
	[CUST_CODE] [varchar](12) NOT NULL,
	[CD_HOSP] [varchar](12) NOT NULL,
	[NM_HOSP] [varchar](40) NULL,
	[NM_USER] [varchar](12) NULL,
	[NO_REQ] [varchar](12) NOT NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[PATIENT] [varchar](30) NULL,
	[EYE] [varchar](2) NULL,
	[PWR] [varchar](10) NULL,
	[BC] [varchar](5) NULL,
	[RZD] [varchar](10) NULL,
	[LZA] [varchar](5) NULL,
	[DIAMETA] [varchar](5) NULL,
	[MATERIAL] [varchar](10) NULL,
	[COLOR] [varchar](10) NULL,
	[CRT_CERT] [varchar](12) NULL,
	[RG4_CERT] [varchar](12) NULL,
	[DC_RMK2WJM] [varchar](100) NULL,
	[DT_SEND] [varchar](16) NULL,
	[FG_DEL] [varchar](3) NULL,
	[DT_CANCEL] [varchar](8) NULL,
	[PC_NAME] [varchar](20) NULL,
	[NO_REQ2] [varchar](12) NULL,
	[DC_ADDR] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_CODE] ASC,
	[CD_HOSP] ASC,
	[NO_REQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
