USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CRT_SALES_MONTH2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CRT_SALES_MONTH2](
	[nm_cust] [varchar](30) NOT NULL,
	[cd_cust] [char](6) NULL,
	[out_month] [varchar](6) NOT NULL,
	[crt_qty] [numeric](5, 0) NULL,
	[crtda_qty] [numeric](5, 0) NULL,
	[cd_agency] [varchar](20) NULL
) ON [PRIMARY]
GO
