USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[HOSPODER_SLT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[HOSPODER_SLT](
	[NO_REQ] [varchar](12) NOT NULL,
	[NO_SERIAL] [varchar](10) NULL,
	[CD_USER] [varchar](12) NOT NULL,
	[DT_REG] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_REQ] ASC,
	[CD_USER] ASC,
	[DT_REG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
