USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[HOSP_CONFIG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[HOSP_CONFIG](
	[CD_CFG] [varchar](4) NOT NULL,
	[DC_S1] [varchar](30) NULL,
	[DC_S2] [varchar](30) NULL,
	[DC_S3] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_CFG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
