USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CMH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CMH](
	[cd_node] [varchar](4) NOT NULL,
	[cd_dept] [varchar](12) NOT NULL,
	[cd_usr] [varchar](10) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[dn_cm] [varchar](12) NOT NULL,
	[dt_cmn] [datetime] NOT NULL,
	[cd_cust] [varchar](12) NOT NULL,
	[dt_reg] [datetime] NOT NULL,
	[dt_regusr] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CMH] PRIMARY KEY CLUSTERED 
(
	[cd_node] ASC,
	[cd_dept] ASC,
	[cd_usr] ASC,
	[c_code] ASC,
	[dn_cm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
