USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[BACKCAUSE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[BACKCAUSE](
	[C_CODE] [char](4) NOT NULL,
	[DN_BC] [varchar](12) NOT NULL,
	[DN_SB] [varchar](12) NULL,
	[CD_CUST] [char](6) NULL,
	[CD_USR] [varchar](10) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[QT_ITEM] [numeric](15, 2) NULL,
	[FG_CONFIRM] [char](1) NULL,
	[CAUSE] [varchar](200) NULL,
	[FG_S146] [varchar](4) NULL,
	[REG_USR] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_BC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_sb]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [idx_dn_sb] ON [DZTPLA].[BACKCAUSE]
(
	[DN_SB] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
