USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_LAST_DATE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE FUNCTION [DZTPLA].[DZFN_LAST_DATE] 
(
 
 @A_date    VarChar(8) 
)
RETURNS vARcHAR(8)
AS
BEGIN

RETURN (convert(VARCHAR(8),DATEADD(day, -1,DATEADD(MONTH, 1,DATENAME(YEAR,@A_date)  + 
   DATENAME(month,@a_date)+'01')),112))

END




GO
