USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[HOSPCONFIG]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[HOSPCONFIG](
	[C_CODE] [varchar](4) NULL,
	[CD_CUST] [varchar](10) NOT NULL,
	[ICL_VIEW] [char](1) NULL,
 CONSTRAINT [IX_HOSPCONFIG] UNIQUE NONCLUSTERED 
(
	[CD_CUST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
