USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SCHD_USR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SCHD_USR](
	[NO_SCH] [varchar](12) NOT NULL,
	[TO_USR] [varchar](20) NOT NULL,
	[DT_END] [datetime] NULL,
	[DT_MAIL] [varchar](1) NULL,
	[FROM_USR] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_SCH] ASC,
	[TO_USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_TO_USR]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_TO_USR] ON [DZTPLA].[SCHD_USR]
(
	[TO_USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
