USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_ROTATE_DATE_ALL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

/*#############################################################################################################################
###############################################################################################################################
(2022.01.17 김광유)
회전일 구하기
DZFN_GET_ROTATE_DATE_1001, DZFN_GET_ROTATE_DATE_3001, DZFN_GET_ROTATE_DATE_5001 통합버전
###############################################################################################################################
#############################################################################################################################*/

CREATE FUNCTION [DZTPLA].[DZFN_GET_ROTATE_DATE_ALL](
  @ARS_C_CODE  CHAR(4),
  @ARS_CD_CUST CHAR(6),
  @ARS_DT_DST  VARCHAR(8)
)
RETURNS VARCHAR(8)
AS
BEGIN
  DECLARE @RS_ROTATE  VARCHAR(8),
          @RS_ROTATE2 VARCHAR(8),
          @DT_FSTART  VARCHAR(8)
  DECLARE @AT_CRD     NUMERIC(15,4),
          @AT_REM     NUMERIC(15,4),
          @AT_CRD2    NUMERIC(15,4),
          @AT_REM2    NUMERIC(15,4)

  SELECT @AT_REM = (SUM(AT_CRD) - SUM(AT_RCRD) - SUM(AT_CRM)) + sum(at_altercm)
    FROM cm
   WHERE c_code  = @ARS_C_CODE
     AND cd_cust = @ARS_CD_CUST
     AND mt_crm <= @ARS_DT_DST

  SELECT @DT_FSTART  = FTRAD_DATE
    FROM VBASE_TRADE V
   WHERE V.C_CODE    = @ARS_C_CODE
     AND V.CUST_CODE = @ARS_CD_CUST

  IF ( @DT_FSTART IS NULL OR RTRIM(@DT_FSTART) = '' )
    BEGIN
      SET @DT_FSTART = ''
    END

  /*---------------------------------------------------------------------------------------------------------------------------
  우전메디칼
  ---------------------------------------------------------------------------------------------------------------------------*/
  IF ( @ARS_C_CODE = '1000' )
    BEGIN
      SET @AT_CRD2    = 0
      SET @AT_REM2    = 0
      SET @RS_ROTATE2 = ''

      IF ( @AT_REM IS NULL OR @AT_REM <= 0 )
        BEGIN
          SELECT @RS_ROTATE = @ARS_DT_DST
        END

      ELSE
        BEGIN
          SELECT @AT_REM2 = (SUM(AT_CRD) - SUM(AT_RCRD) - SUM(AT_CRM)) + sum(at_altercm)
            FROM cm
           WHERE c_code  = '1000'
             AND cd_cust = @ARS_CD_CUST
             AND mt_crm <= @ARS_DT_DST
             AND (C_CODE = '8002' AND MT_CRM <= '20181230' OR C_CODE = '8001' AND MT_CRM <= '20181031' OR C_CODE = '1000')

          IF ( @AT_REM2 > 0 )
            BEGIN
              IF (@AT_REM < @AT_REM2 )
                BEGIN
                  SET @AT_REM2 = @AT_REM
                END

              DECLARE cm_cursor CURSOR FOR
                SELECT SUM(at_crd) + SUM(at_altercm) - SUM(AT_RCRD),
                       mt_crm
                  FROM cm
                 WHERE c_code  = '1000'
                   AND cd_cust = @ARS_CD_CUST
                   AND mt_crm <= @ARS_DT_DST
                   AND MT_CRM >= '20140101'
                   AND at_crd + at_altercm - at_rcrd <> 0
                GROUP BY MT_CRM
                ORDER BY mt_crm desc

              OPEN cm_cursor

              FETCH NEXT FROM cm_cursor
              INTO @AT_CRD2, @RS_ROTATE2

              WHILE @@FETCH_STATUS = 0
                BEGIN
                  IF ( @AT_CRD2 >= @AT_REM2 )
                    BREAK
                  ELSE
                    SELECT @AT_REM2 = @AT_REM2 - @AT_CRD2

                  FETCH NEXT FROM cm_cursor
                  INTO @AT_CRD2, @RS_ROTATE2
                END

              CLOSE cm_cursor
              DEALLOCATE cm_cursor
            END

          DECLARE cm_cursor CURSOR FOR
            SELECT at_crd + at_altercm - at_rcrd, mt_crm
              FROM cm
             WHERE c_code  = @ARS_C_CODE
               AND cd_cust = @ARS_CD_CUST
               AND mt_crm <= @ARS_DT_DST
               AND at_crd + at_altercm - at_rcrd > 0
            ORDER BY mt_crm desc

          OPEN cm_cursor

          FETCH NEXT FROM cm_cursor
          INTO @AT_CRD, @RS_ROTATE

          WHILE @@FETCH_STATUS = 0
            BEGIN
              IF ( @AT_CRD >= @AT_REM )
                BREAK
              ELSE
                SELECT @AT_REM = @AT_REM - @AT_CRD

              FETCH NEXT FROM cm_cursor
              INTO @AT_CRD, @RS_ROTATE
            END

          CLOSE cm_cursor
          DEALLOCATE cm_cursor

          IF ( @RS_ROTATE2 <> '' )
            SET @RS_ROTATE = @RS_ROTATE2
        END

    END

  /*---------------------------------------------------------------------------------------------------------------------------
  우전브이티
  ---------------------------------------------------------------------------------------------------------------------------*/
  ELSE IF ( @ARS_C_CODE = '3000' )
    BEGIN
      SET @AT_CRD2    = 0 
      SET @AT_REM2    = 0 
      SET @RS_ROTATE2 = ''
      
      IF ( @AT_REM IS NULL OR @AT_REM <= 0 )
        BEGIN 
          SELECT @RS_ROTATE = @ARS_DT_DST 
        END 
        
      ELSE
        BEGIN 
          SELECT @AT_REM2 = (SUM(AT_CRD) - SUM(AT_RCRD) - SUM(AT_CRM)) + sum(at_altercm) 
            FROM cm
           WHERE c_code  = '3000'
             AND cd_cust = @ARS_CD_CUST
             AND mt_crm <= @ARS_DT_DST 
             AND (C_CODE = '8002' AND MT_CRM <= '20160630' OR C_CODE = '8001' AND MT_CRM <= '20161130' or C_CODE = '3000')
        
          IF ( @AT_REM2 > 0 )
            BEGIN 
              DECLARE cm_cursor CURSOR FOR 
                SELECT SUM(at_crd) + SUM(at_altercm) - SUM(at_rcrd), mt_crm
                  FROM cm
                 WHERE c_code  = '3000'
                   AND cd_cust = @ARS_CD_CUST
                   AND mt_crm <= @ARS_DT_DST
                   AND MT_CRM >= '20140101'
                   AND at_crd + at_altercm - at_rcrd <> 0 
                GROUP BY MT_CRM
                ORDER BY mt_crm desc
    
              OPEN cm_cursor
    
              FETCH NEXT FROM cm_cursor 
              INTO @AT_CRD2, @RS_ROTATE2
              
              WHILE @@FETCH_STATUS = 0
                BEGIN
                  IF ( @AT_CRD2 >= @AT_REM2 )
                    BREAK
                  ELSE
                    SELECT @AT_REM2 = @AT_REM2 - @AT_CRD2
                   
                  FETCH NEXT FROM cm_cursor 
                  INTO @AT_CRD2, @RS_ROTATE2
                END
    
              CLOSE cm_cursor
              DEALLOCATE cm_cursor
            END
   
          DECLARE cm_cursor CURSOR FOR 
            SELECT at_crd + at_altercm - at_rcrd, mt_crm
              FROM cm
             WHERE c_code  = @ARS_C_CODE
               AND cd_cust = @ARS_CD_CUST
               AND mt_crm <= @ARS_DT_DST
               AND at_crd + at_altercm - at_rcrd > 0 
            ORDER BY mt_crm desc
   
          OPEN cm_cursor
          
          FETCH NEXT FROM cm_cursor 
          INTO @AT_CRD, @RS_ROTATE
          
          WHILE @@FETCH_STATUS = 0
            BEGIN
              IF ( @AT_CRD >= @AT_REM )
                BREAK
              ELSE
                SELECT @AT_REM = @AT_REM - @AT_CRD
               
              FETCH NEXT FROM cm_cursor 
              INTO @AT_CRD, @RS_ROTATE
            END
   
          CLOSE cm_cursor
          DEALLOCATE cm_cursor
   
          SET @RS_ROTATE = @RS_ROTATE2
        END 
        
    END

  /*---------------------------------------------------------------------------------------------------------------------------
  우전브이에스
  ---------------------------------------------------------------------------------------------------------------------------*/
  ELSE IF ( @ARS_C_CODE = '5000' )
    BEGIN
      SET @AT_CRD2    = 0
      SET @AT_REM2    = 0
      SET @RS_ROTATE2 = ''

      IF ( @AT_REM IS NULL OR @AT_REM <= 0 )
        BEGIN
          SELECT @RS_ROTATE = @ARS_DT_DST
        END

      ELSE
        BEGIN
          SELECT @AT_REM2 = (SUM(AT_CRD) - SUM(AT_RCRD) - SUM(AT_CRM)) + sum(at_altercm)
            FROM cm
           WHERE c_code  = '5000'
             AND cd_cust = @ARS_CD_CUST
             AND mt_crm <= @ARS_DT_DST

          IF ( @AT_REM2 > 0 )
            BEGIN
              DECLARE cm_cursor CURSOR FOR
                SELECT SUM(at_crd) + SUM(at_altercm) - SUM(at_rcrd), mt_crm
                  FROM cm
                 WHERE c_code  = '5000'
                   AND cd_cust = @ARS_CD_CUST
                   AND mt_crm <= @ARS_DT_DST
                   AND MT_CRM >= '20140101'
                   AND at_crd + at_altercm -at_rcrd <> 0
                GROUP BY MT_CRM
                ORDER BY mt_crm desc

              OPEN cm_cursor

              FETCH NEXT FROM cm_cursor
              INTO @AT_CRD2, @RS_ROTATE2

              WHILE @@FETCH_STATUS = 0
                BEGIN
                  IF ( @AT_CRD2 >= @AT_REM2 )
                    BREAK
                  ELSE
                    SELECT @AT_REM2 = @AT_REM2 - @AT_CRD2

                  FETCH NEXT FROM cm_cursor
                  INTO @AT_CRD2, @RS_ROTATE2
                END

              CLOSE cm_cursor
              DEALLOCATE cm_cursor
            END

          DECLARE cm_cursor CURSOR FOR
            SELECT at_crd + at_altercm - at_rcrd, mt_crm
              FROM cm
             WHERE c_code  = @ARS_C_CODE
               AND cd_cust = @ARS_CD_CUST
               AND mt_crm <= @ARS_DT_DST
               AND at_crd + at_altercm - at_rcrd > 0
            ORDER BY mt_crm desc

          OPEN cm_cursor

          FETCH NEXT FROM cm_cursor
          INTO @AT_CRD, @RS_ROTATE

          WHILE @@FETCH_STATUS = 0
            BEGIN
              IF ( @AT_CRD >= @AT_REM )
                BREAK
              ELSE
                SELECT @AT_REM = @AT_REM - @AT_CRD

              FETCH NEXT FROM cm_cursor
              INTO @AT_CRD, @RS_ROTATE
            END

          CLOSE cm_cursor
          DEALLOCATE cm_cursor

          SET @RS_ROTATE = @RS_ROTATE2
        END

    END

  /*---------------------------------------------------------------------------------------------------------------------------
  기타
  ---------------------------------------------------------------------------------------------------------------------------*/
  ELSE
    BEGIN
      IF ( @AT_REM <= 0 )
        BEGIN
          SELECT @RS_ROTATE = @ARS_DT_DST
        END
      ELSE
        BEGIN

          DECLARE cm_cursor CURSOR FOR
            SELECT at_crd + at_altercm - at_rcrd, mt_crm
              FROM cm
             WHERE c_code  = @ARS_C_CODE
               AND cd_cust = @ARS_CD_CUST
               AND mt_crm <= @ARS_DT_DST
               AND at_crd + at_altercm - at_rcrd > 0
            ORDER BY mt_crm desc

          OPEN cm_cursor

          FETCH NEXT FROM cm_cursor
          INTO @AT_CRD, @RS_ROTATE

          WHILE @@FETCH_STATUS = 0
            BEGIN
              IF ( @AT_CRD >= @AT_REM )
                BREAK
              ELSE
                SELECT @AT_REM = @AT_REM - @AT_CRD

              FETCH NEXT FROM cm_cursor
              INTO @AT_CRD, @RS_ROTATE
            END

          CLOSE cm_cursor
          DEALLOCATE cm_cursor

        END
    END

  IF ( @DT_FSTART <> '' AND @DT_FSTART > @RS_ROTATE )
    SET @RS_ROTATE = @DT_FSTART

  RETURN ( @RS_ROTATE )
END
GO
