USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GSTOIDC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








CREATE FUNCTION [DZTPLA].[DZFN_GSTOIDC] (
 @GSCODE  VARCHAR(50)
)
RETURNS VARCHAR(50) AS
BEGIN

	--바코드에 마지막 체크디짓을 추가한다.
Declare	@RET_IDC  	VARCHAR(50),
    @STR            VARCHAR(50),
    @num 	   SMALLINT, 
    @IDX       INT

	IF ( @GSCODE IS NULL) 
	RETURN ''

	IF ( RTRIM(@GSCODE) = '') 
	RETURN ''

	SET @GSCODE = RTRIM(@GSCODE);
	
	SET @num = 1;
	SET @str = @GSCODE;
    SET @IDX =  LEN(@GSCODE);
	SET @RET_IDC = '';

	if (left(@str,2) = '01') 
	BEGIN

		--GS CODE
		WHILE @idx >= @num
		BEGIN
		
			if (left(@str,2) = '01' AND LEN(@RET_IDC) = 0 )
			BEGIN
				SET @RET_IDC = '(01)'+SUBSTRING(@str,3,14);
				SET @STR = RTRIM(SUBSTRING(@STR,17,100));
			END 
			ELSE
			BEGIN 
				IF ( left(@str,2) = '10' )
				BEGIN
					SET @RET_IDC += '(10)'+ SUBSTRING(@str,3,6);
					SET @STR = RTRIM(SUBSTRING(@STR,17,100));
				END
				ELSE
				BEGIN 
					IF ( left(@str,2) = '11' )
					BEGIN
						SET @RET_IDC += '(11)'+ SUBSTRING(@str,3,6);
						SET @STR = RTRIM(SUBSTRING(@STR,17,100));
					END
					ELSE
					BEGIN 
						IF ( left(@str,2) = '17' )
						BEGIN
							SET @RET_IDC += '(17)'+ SUBSTRING(@str,3,6);
							SET @STR = RTRIM(SUBSTRING(@STR,17,100));
						END
						ELSE
						BEGIN 
							IF ( left(@str,2) = '21' )
							BEGIN
								IF ( RIGHT(@str,4) = '2431' AND LEN(@STR) < 12 )
								BEGIN
									SET @RET_IDC += '(21)'+ SUBSTRING(@str,3,100);
									SET @STR = '';
								END
								ELSE
								BEGIN
									SET @RET_IDC += '(21)'+ SUBSTRING(@str,3,LEN(@STR) -4);
									SET @STR = '';
								END 
							END
							ELSE
							BEGIN 
								SET @STR = '';
							END
						END
					END
				END
			END
			set @idx = len(@str);
		 END
	END
	ELSE
	BEGIN
		IF (left(@str,2) = '+B') 
		BEGIN 
			--HIBCC코드?
			WHILE @idx >= @num
			BEGIN
		
				if (left(@str,2) = '01' AND LEN(@RET_IDC) = 0 )
				BEGIN
					SET @RET_IDC = '(01)'+SUBSTRING(@str,3,14);
					SET @STR = RTRIM(SUBSTRING(@STR,17,100));
				END 
				ELSE 
				BEGIN 
					IF ( left(@str,2) = '10' )
					BEGIN
						SET @RET_IDC += '(10)'+ SUBSTRING(@str,3,6);
						SET @STR = RTRIM(SUBSTRING(@STR,17,100));
					END 
				END
				set @idx = len(@str);
			END
		END 
	END

	return RTRIM(@RET_IDC)

END







GO
