USE [DZTPLA]
GO
/****** Object:  StoredProcedure [DZTPLA].[USP_SPEC2CODE]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE       PROCEDURE [DZTPLA].[USP_SPEC2CODE]
(
 @AS_CD_ITEM VARCHAR(10),
 @AS_SPEC1   VARCHAR(10),
 @AS_SPEC2   VARCHAR(10),
 @AS_SPEC3   VARCHAR(10),
 @AS_SPEC4   VARCHAR(10),
 @@LENS_SPEC  VARCHAR(14) OUTPUT
)
AS
BEGIN

--//렌즈명을 품목코드로

Declare	@LENS_SPEC  VARCHAR(30),
		@TEMPS         VARCHAR(12),
		@TEMPE         VARCHAR(30),
		@N_POS         INTEGER,
		@N_LEN         INTEGER,
		@TEMPN         VARCHAR(10),
		@CNT           INTEGER,
                            @PWR1        VARCHAR(10),
                            @PWR2        VARCHAR(10)
--10.5	10.5	74	101	475	600	500	650	100	30	36
--Base Curve from 7.3mm to 10.3mm in .1mm steps
--RZD from .250mm to .600 in .025mm steps
--LZA from -29◦ to -37◦ in 1◦ steps

    SET @@LENS_SPEC = ''
    SET @AS_SPEC1 = LTRIM(RTRIM(@AS_SPEC1))
    SET @AS_SPEC2 = LTRIM(RTRIM(@AS_SPEC2))
    SET @AS_SPEC3 = LTRIM(RTRIM(@AS_SPEC3))
    SET @AS_SPEC4 = LTRIM(RTRIM(@AS_SPEC4))

    IF ( @AS_SPEC1 IS NULL OR RTRIM(@AS_SPEC1) = '' ) 
    BEGIN 
	IF ( @AS_CD_ITEM LIKE '8_' ) -- CRT라면
		set @AS_SPEC1 = '10.5'
	ELSE
		set @AS_SPEC1 = '%'
    END
    ELSE
    BEGIN
	IF (@AS_SPEC1 <> '%' AND @AS_CD_ITEM <> '')
	BEGIN
		select @CNT = COUNT(*) from itemgrp 
     			where c_code = '1000'
		   AND CD_ITEM = @AS_CD_ITEM
		   AND DC_SPEC1 = @AS_SPEC1;

		IF ( @CNT <= 0 )
			return 'DIAMERR' 

	END		
	ELSE
	BEGIN
		IF (@AS_CD_ITEM = '')
			return 'DIAMERR' 
	END 
    END 

    IF ( @AS_SPEC2 IS NULL OR RTRIM(@AS_SPEC2) = '' ) 
	  set @AS_SPEC2 = '%'

    IF ( @AS_SPEC3 IS NULL OR RTRIM(@AS_SPEC3) = '' ) 
	  set @AS_SPEC3 = '%'

    IF ( @AS_SPEC4 IS NULL OR RTRIM(@AS_SPEC4) = '' ) 
	  set @AS_SPEC4 = '%'

	SELECT @@LENS_SPEC = CD_SPEC FROM ITEMGRP 
	WHERE C_CODE='1000'
	  AND CD_ITEM = @AS_CD_ITEM
	  AND DC_SPEC1 = @AS_SPEC1
	  AND DC_SPEC2 = @AS_SPEC2
	  AND DC_SPEC3 = @AS_SPEC3
	  AND DC_sPEC4 = @AS_SPEC4

    IF ( ISNULL(@@LENS_SPEC,'%%%') = '%%%' OR RTRIM(@@LENS_SPEC) = '' )
	BEGIN
		IF ( @AS_CD_ITEM LIKE '8_' ) -- CRT라면
		BEGIN 
			IF ( @AS_CD_ITEM = '83' OR @AS_CD_ITEM = '84' OR @AS_CD_ITEM = '88' OR @AS_CD_ITEM = '8H' ) --DUAL
			BEGIN
				IF (@AS_SPEC1 < 9.5 OR @AS_SPEC1 > 12.0) --DIAMETA 10.5 ~ 12.0 만 일단 만듬
				BEGIN
				    SET @@LENS_SPEC = 'DIAMERR'
					RETURN -1
				END

				IF (@AS_SPEC2 < 72 OR @AS_SPEC2 > 103) --BC
				BEGIN
				    SET @@LENS_SPEC = 'BCERR'
					RETURN -1
				END

				IF (LEN(@AS_SPEC3) < 6 OR LEN(@AS_SPEC3) > 7) --RZD
				BEGIN
				    SET @@LENS_SPEC = 'RZDLERR'
					RETURN -1
				END

				IF (LEFT(@AS_SPEC3,3) < 375 OR LEFT(@AS_SPEC3,3) > 650) --RZD
				BEGIN
				    SET @@LENS_SPEC = 'RZD1ERR'
					RETURN -1
				END

				IF (RIGHT(@AS_SPEC3,3) < 400 OR RIGHT(@AS_SPEC3,3) > 675) --RZD
				BEGIN
				    SET @@LENS_SPEC = 'RZD2ERR'
					RETURN -1
				END

				IF ( RIGHT(@AS_SPEC3,3) <= LEFT(@AS_SPEC3,3) )
				BEGIN
				    SET @@LENS_SPEC = 'RZDSZERR'
					RETURN -1
				END

				SET @TEMPN = RIGHT(@AS_SPEC3,3) / 25 * 25

				IF ( RIGHT(@AS_SPEC3,3) <> @TEMPN )
				BEGIN
				    SET @@LENS_SPEC = 'RIGHT-RZD25ERR'
					RETURN -1
				END

				SET @TEMPN = LEFT(@AS_SPEC3,3) / 25 * 25

				IF ( LEFT(@AS_SPEC3,3) <> @TEMPN )
				BEGIN
				    SET @@LENS_SPEC = 'LEFT-RZD25ERR'
					RETURN -1
				END

				IF (LEFT(@AS_SPEC3,3) >= 475 AND LEFT(@AS_SPEC3,3) <= 600 AND RIGHT(@AS_SPEC3,3) >= 500 OR RIGHT(@AS_SPEC3,3) <= 675) --RZD
				BEGIN
				   IF ( CAST(RIGHT(@AS_SPEC3,3) AS NUMERIC) - CAST(LEFT(@AS_SPEC3,3) AS NUMERIC) > 200 )
					BEGIN
						SET @@LENS_SPEC = 'RZDSZ2ERR'
						RETURN -1
					END
				END

				IF (LEFT(@AS_SPEC4,2) < 29 OR LEFT(@AS_SPEC4 ,2)> 37 OR RIGHT(@AS_SPEC4,2) < 29 OR RIGHT(@AS_SPEC4 ,2)> 37 ) --LZA
				BEGIN
				    SET @@LENS_SPEC = 'LZAERR'
					RETURN -1
				END
				 

--C_CODE, CD_ITEM, CD_SPEC, DC_SPEC, DC_SPEC1, DC_SPEC2, DC_SPEC3, DC_SPEC4
--1000	83	795503457534	79-550-34/575-34	10.5	79	550/575	34	NULL	NULL	NULL	NULL	0.0000	0.0000	NULL	NULL	NULL	NULL	NULL
                
				IF (@AS_SPEC1 = '10.5')
				BEGIN
					SET @TEMPS = RIGHT(@AS_SPEC2,2)

					SET @TEMPS = @TEMPS + LEFT(@AS_SPEC3,3) + LEFT(@AS_SPEC4,2) + RIGHT(@AS_SPEC3,3) + RIGHT(@AS_SPEC4,2)
					SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
					SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2) + '/' + RIGHT(@AS_SPEC3,3) + '-' + RIGHT(@AS_SPEC4,2)
				END
				ELSE
				BEGIN
					IF (@AS_SPEC1='10.0' OR @AS_SPEC1='10' )
					BEGIN
						SET @TEMPS = 'A0'+RIGHT(@AS_SPEC2,2)
                        SET @PWR1   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,LEFT(@AS_SPEC3,3)) + 5),2)
                        SET @PWR2   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,RIGHT(@AS_SPEC3,3)) + 5),2)
						SET @TEMPS = @TEMPS + @PWR1 + LEFT(@AS_SPEC4,2) + @PWR2 + RIGHT(@AS_SPEC4,2)
						SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
						SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2) + '/' + RIGHT(@AS_SPEC3,3) + '-' + RIGHT(@AS_SPEC4,2)+'(10.0mm)'
					END
					ELSE
					BEGIN 
						IF (@AS_SPEC1='11.0' OR @AS_SPEC1='11' )
						BEGIN
							SET @TEMPS = 'B0'+RIGHT(@AS_SPEC2,2)
	                        SET @PWR1   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,LEFT(@AS_SPEC3,3)) + 5),2)
							SET @PWR2   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,RIGHT(@AS_SPEC3,3)) + 5),2)
							SET @TEMPS = @TEMPS + @PWR1 + LEFT(@AS_SPEC4,2) + @PWR2 + RIGHT(@AS_SPEC4,2)
							SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
							SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2) + '/' + RIGHT(@AS_SPEC3,3) + '-' + RIGHT(@AS_SPEC4,2)+'(11.0mm)'
						END
						ELSE
						BEGIN 
							IF (@AS_SPEC1='11.5')
							BEGIN
								SET @TEMPS = 'B5'+RIGHT(@AS_SPEC2,2)
								SET @PWR1   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,LEFT(@AS_SPEC3,3)) + 5),2)
								SET @PWR2   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,RIGHT(@AS_SPEC3,3)) + 5),2)
								SET @TEMPS = @TEMPS + @PWR1 + LEFT(@AS_SPEC4,2) + @PWR2 + RIGHT(@AS_SPEC4,2)
								SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
								SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2) + '/' + RIGHT(@AS_SPEC3,3) + '-' + RIGHT(@AS_SPEC4,2)+'(11.5mm)'
							END
							ELSE	
							BEGIN
								IF (@AS_SPEC1='9.5' OR @AS_SPEC1='09.5')
								BEGIN
									SET @TEMPS = '95'+RIGHT(@AS_SPEC2,2)
									SET @PWR1   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,LEFT(@AS_SPEC3,3)) + 5),2)
									SET @PWR2   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,RIGHT(@AS_SPEC3,3)) + 5),2)
									SET @TEMPS = @TEMPS + @PWR1 + LEFT(@AS_SPEC4,2) + @PWR2 + RIGHT(@AS_SPEC4,2)
									SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
									SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2) + '/' + RIGHT(@AS_SPEC3,3) + '-' + RIGHT(@AS_SPEC4,2)+'(9.5mm)'
								END
								ELSE
								BEGIN																			
									IF (@AS_SPEC1='12.0' OR @AS_SPEC1='12' )
									BEGIN
										SET @TEMPS = 'C0'+RIGHT(@AS_SPEC2,2)
										SET @PWR1   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,LEFT(@AS_SPEC3,3)) + 5),2)
										SET @PWR2   = LEFT(CONVERT(CHAR(3),CONVERT(INTEGER,RIGHT(@AS_SPEC3,3)) + 5),2)
										SET @TEMPS = @TEMPS + @PWR1 + LEFT(@AS_SPEC4,2) + @PWR2 + RIGHT(@AS_SPEC4,2)
										SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
										SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2) + '/' + RIGHT(@AS_SPEC3,3) + '-' + RIGHT(@AS_SPEC4,2)+'(12.0mm)'
									END
									ELSE	
									BEGIN															
										SET @@LENS_SPEC = 'DIAERR'
										RETURN -1
									END
								END 
							END
						END
 					END
				END
				
				INSERT INTO ITEMGRP (C_CODE, CD_ITEM, CD_SPEC, DC_SPEC, DC_SPEC1, DC_SPEC2, DC_SPEC3, DC_SPEC4, DT_REG )
				VALUES ('1000', @AS_CD_ITEM, @TEMPS, @TEMPE, @AS_SPEC1, @AS_SPEC2, LEFT(@AS_SPEC3,3)+'/'+RIGHT(@AS_SPEC3,3), @AS_SPEC4, GETDATE()) ;

				SET @@LENS_SPEC = @TEMPS
			END
			ELSE
			BEGIN 
			--SELECT * FROM ITEM WHERE C_CODE='1000' AND CD_ITEM LIKE '8_'
				IF (@AS_CD_ITEM = '81' OR @AS_CD_ITEM = '82' OR @AS_CD_ITEM = '87' OR @AS_CD_ITEM = '8A' OR @AS_CD_ITEM = '89') --NOT DUAL
				BEGIN
					IF (@AS_SPEC1 < 9.5 OR @AS_SPEC1 > 12.0) 
					BEGIN
						SET @@LENS_SPEC = 'DIAMERR'
						RETURN -1
					END

					IF (@AS_SPEC2 < 72 OR @AS_SPEC2 > 103) --BC
					BEGIN
						SET @@LENS_SPEC = 'BCERR'
						RETURN -1
					END

					IF (LEN(@AS_SPEC3) < 3 OR LEN(@AS_SPEC3) > 3) --RZD
					BEGIN
						SET @@LENS_SPEC = 'RZDLERR'
						RETURN -1
					END

					IF (LEFT(@AS_SPEC3,3) < 375 OR LEFT(@AS_SPEC3,3) > 675) --RZD
					BEGIN
						SET @@LENS_SPEC = 'RZD1ERR'
						RETURN -1
					END

					SET @TEMPN = LEFT(@AS_SPEC3,3) / 25 * 25

					IF ( LEFT(@AS_SPEC3,3) <> @TEMPN )
					BEGIN
						SET @@LENS_SPEC = 'LEFT-RZD25ERR'
						RETURN -1
					END

					IF (LEFT(@AS_SPEC4,2) < 29 OR LEFT(@AS_SPEC4 ,2)> 37 OR RIGHT(@AS_SPEC4,2) < 29 OR RIGHT(@AS_SPEC4 ,2)> 37 ) --LZA
					BEGIN
						SET @@LENS_SPEC = 'LZAERR'
						RETURN -1
					END

					IF (@AS_SPEC1 = '10.5')
					BEGIN
						SET @TEMPS = @AS_CD_ITEM + RTRIM(@AS_SPEC2)

						SET @TEMPS = @TEMPS + '-' + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)
						SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
						SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)
					END
					ELSE
					BEGIN
					
						IF (@AS_SPEC1='10.0' OR @AS_SPEC1='10' )
						BEGIN
							SET @TEMPS = 'A0'+RTRIM(@AS_SPEC2)
							
							SET @TEMPS = @TEMPS + '-' + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)
							SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
							SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)+'(10.0mm)'
						END
						ELSE
						BEGIN 
							IF (@AS_SPEC1='11.0' OR @AS_SPEC1='11' )
							BEGIN
								SET @TEMPS = 'B0'+RTRIM(@AS_SPEC2)
								
								SET @TEMPS = @TEMPS + '-' + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)
								SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
								SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)+'(11.0mm)'
							END
							ELSE
							BEGIN 
								IF (@AS_SPEC1='11.5')
								BEGIN
									SET @TEMPS = 'B5'+RTRIM(@AS_SPEC2)
									
									SET @TEMPS = @TEMPS + '-' + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)
									SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
									SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)+'(11.5mm)'
								END
								ELSE	
								BEGIN															
									IF (@AS_SPEC1='9.5' OR @AS_SPEC1 = '09.5' )
									BEGIN
										SET @TEMPS = '95'+RTRIM(@AS_SPEC2)
							
										SET @TEMPS = @TEMPS + '-' + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)
										SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
										SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)+'(9.5mm)'
									END
									ELSE
									BEGIN 
										IF (@AS_SPEC1='12.0')
										BEGIN
											SET @TEMPS = 'C0'+RTRIM(@AS_SPEC2)
										
											SET @TEMPS = @TEMPS + '-' + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)
											SET @TEMPE = RTRIM(@AS_SPEC2) + '-'
											SET @TEMPE = @TEMPE + LEFT(@AS_SPEC3,3) + '-' + LEFT(@AS_SPEC4,2)+'(12.0mm)'
										END
										ELSE
										BEGIN
											SET @@LENS_SPEC = 'DIAERR'
											RETURN -1
										END 
									END 
								END
							END
 						END
					END
					
					INSERT INTO ITEMGRP (C_CODE, CD_ITEM, CD_SPEC, DC_SPEC, DC_SPEC1, DC_SPEC2, DC_SPEC3, DC_SPEC4, DT_REG )
					VALUES ('1000', @AS_CD_ITEM, @TEMPS, @TEMPE, @AS_SPEC1, @AS_SPEC2, @AS_SPEC3, @AS_SPEC4, GETDATE()) ;

					SET @@LENS_SPEC = @TEMPS
				END		
			END
		END 
	END

	return 1

END





GO
