USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[hosp2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[hosp2](
	[cd_cust] [varchar](8) NULL,
	[name] [nvarchar](255) NULL,
	[cust_code] [varchar](8) NULL,
	[거래처코드] [nvarchar](255) NULL,
	[sq] [int] NULL,
	[cust_name] [varchar](40) NULL,
	[certi_no] [varchar](20) NULL,
	[cd_usr] [varchar](8) NULL,
	[s_ename] [varchar](40) NULL
) ON [PRIMARY]
GO
