USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SEQ_DOC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SEQ_DOC](
	[CD_RAND] [char](12) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_LM] [varchar](12) NOT NULL,
	[CD_CUST] [char](6) NOT NULL,
	[DT_REG] [datetime] NULL,
 CONSTRAINT [PK_SEQ_DOC] PRIMARY KEY CLUSTERED 
(
	[CD_RAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SEQ_DOC] ADD  CONSTRAINT [DF__SEQ_DOC__DT_REG__3C0C6AEB]  DEFAULT (getdate()) FOR [DT_REG]
GO
