USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CRT_SALES_MONTH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CRT_SALES_MONTH](
	[cd_agency] [varchar](20) NOT NULL,
	[nm_cust] [varchar](30) NOT NULL,
	[cd_cust] [char](6) NOT NULL,
	[out_month] [varchar](6) NOT NULL,
	[crt_qty] [numeric](5, 0) NULL,
	[crtda_qty] [numeric](5, 0) NULL,
	[crt_ret_qty] [numeric](5, 0) NULL,
	[crtda_ret_qty] [numeric](5, 0) NULL,
 CONSTRAINT [PK_CRT_SALES_MONTH] PRIMARY KEY CLUSTERED 
(
	[cd_cust] ASC,
	[out_month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
