USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ORDER_DIFF]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ORDER_DIFF](
	[NO_REQ] [varchar](12) NOT NULL,
	[REMK] [varchar](2000) NULL,
	[DT_REG] [datetime] NULL,
	[DT_REGUSR] [varchar](10) NULL
) ON [PRIMARY]
GO
