USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[BOARD2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[BOARD2](
	[NO_MSG] [varchar](12) NOT NULL,
	[FROM_CUST] [varchar](6) NOT NULL,
	[TO_CUST] [varchar](6) NULL,
	[FG_EMG] [varchar](4) NULL,
	[DT_TIME] [varchar](16) NOT NULL,
	[DC_MESSAGE] [varchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_MSG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
