USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CLOSING]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CLOSING](
	[C_CODE] [char](4) NOT NULL,
	[CD_CUST] [varchar](6) NOT NULL,
	[DT_MONTH] [varchar](6) NOT NULL,
	[DT_CLOSE] [varchar](8) NULL,
	[DT_CLOSE1] [varchar](8) NULL,
	[DT_CLOSE2] [varchar](8) NULL,
	[SNO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC,
	[DT_MONTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
