USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEM_QS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEM_QS](
	[C_CODE] [char](4) NOT NULL,
	[NO_MNG] [varchar](20) NOT NULL,
	[GROUP_SEQ] [varchar](10) NOT NULL,
	[GROUP_ITEM] [varchar](20) NULL,
	[QT_PASS] [numeric](15, 4) NULL,
	[QT_BAD] [numeric](15, 4) NULL,
	[PASS_YN] [char](1) NULL,
	[DC_RMK] [varchar](50) NULL,
	[DT_REG] [datetime] NULL,
	[CD_REGUSR] [varchar](10) NULL,
	[DT_UPD] [datetime] NULL,
	[CD_UPUSR] [varchar](10) NULL,
 CONSTRAINT [PK_ITEM_QS] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NO_MNG] ASC,
	[GROUP_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
