USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SOL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SOL](
	[CD_NODE] [varchar](4) NOT NULL,
	[CD_DEPT] [varchar](12) NOT NULL,
	[CD_USR] [varchar](10) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[DN_SO] [varchar](12) NOT NULL,
	[DN_LN] [int] NOT NULL,
	[FG_SO] [char](1) NOT NULL,
	[DT_EX] [datetime] NOT NULL,
	[FG_TAX] [char](1) NOT NULL,
	[FG_S121] [varchar](4) NOT NULL,
	[FG_S122] [varchar](4) NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[QT_ODR] [numeric](15, 4) NOT NULL,
	[FG_UP] [char](1) NULL,
	[UP_ITEM] [numeric](15, 4) NOT NULL,
	[AT_ITEM] [numeric](15, 4) NOT NULL,
	[FG_S102] [varchar](4) NOT NULL,
	[RT_FOR] [numeric](15, 4) NOT NULL,
	[AT_FITEM] [numeric](15, 4) NOT NULL,
	[DN_ROLN] [int] NOT NULL,
	[AT_SITEM] [numeric](15, 4) NOT NULL,
	[AT_VITEM] [numeric](15, 4) NOT NULL,
	[DC_IFM] [varchar](160) NULL,
	[UP_BASE] [numeric](15, 4) NOT NULL,
	[UP_LITEM] [numeric](15, 4) NOT NULL,
	[AT_LITEM] [numeric](15, 4) NOT NULL,
	[DT_SCHECK] [datetime] NULL,
	[QT_SCHECK] [numeric](15, 4) NOT NULL,
	[FG_FIXUP] [char](1) NULL,
	[dc_specadd] [varchar](4) NULL,
	[dt_key] [char](8) NULL,
	[거래처코드] [varchar](20) NULL,
	[seqkey] [int] NULL,
	[no_serial] [char](20) NULL,
	[certi_no] [varchar](8) NULL,
	[CD_HOSP] [varchar](12) NULL,
	[NO_REQ] [varchar](12) NULL,
 CONSTRAINT [PK_SOL] PRIMARY KEY CLUSTERED 
(
	[CD_NODE] ASC,
	[CD_DEPT] ASC,
	[CD_USR] ASC,
	[C_CODE] ASC,
	[DN_SO] ASC,
	[DN_LN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_CD_ITEM_SPEC]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_CD_ITEM_SPEC] ON [DZTPLA].[SOL]
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_dn_sol]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [idx_dn_sol] ON [DZTPLA].[SOL]
(
	[DN_SO] ASC,
	[DN_LN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_ITEM_WEB]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_ITEM_WEB] ON [DZTPLA].[SOL]
(
	[CD_ITEM] ASC,
	[거래처코드] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_SOL_ICL_JEBSU]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_SOL_ICL_JEBSU] ON [DZTPLA].[SOL]
(
	[C_CODE] ASC,
	[FG_SO] ASC,
	[DT_EX] ASC,
	[QT_ODR] ASC
)
INCLUDE([DN_SO],[DN_LN],[CD_ITEM],[CD_SPEC]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__DN_LN__6987862A]  DEFAULT ((0)) FOR [DN_LN]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__QT_ODR__6A7BAA63]  DEFAULT ((0)) FOR [QT_ODR]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__UP_ITEM__6B6FCE9C]  DEFAULT ((0)) FOR [UP_ITEM]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__AT_ITEM__6C63F2D5]  DEFAULT ((0)) FOR [AT_ITEM]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__RT_FOR__6E4C3B47]  DEFAULT ((0)) FOR [RT_FOR]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__AT_FITEM__6F405F80]  DEFAULT ((0)) FOR [AT_FITEM]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__DN_ROLN__703483B9]  DEFAULT ((0)) FOR [DN_ROLN]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__AT_SITEM__7128A7F2]  DEFAULT ((0)) FOR [AT_SITEM]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__AT_VITEM__721CCC2B]  DEFAULT ((0)) FOR [AT_VITEM]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__UP_BASE__7C30464A]  DEFAULT ((0)) FOR [UP_BASE]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__UP_LITEM__7D246A83]  DEFAULT ((0)) FOR [UP_LITEM]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__AT_LITEM__7E188EBC]  DEFAULT ((0)) FOR [AT_LITEM]
GO
ALTER TABLE [DZTPLA].[SOL] ADD  CONSTRAINT [DF__SOL__QT_SCHECK__7F0CB2F5]  DEFAULT ((0)) FOR [QT_SCHECK]
GO
ALTER TABLE [DZTPLA].[SOL]  WITH CHECK ADD  CONSTRAINT [FK_SOL_ITEMGRP] FOREIGN KEY([C_CODE], [CD_ITEM], [CD_SPEC])
REFERENCES [DZTPLA].[ITEMGRP] ([C_CODE], [CD_ITEM], [CD_SPEC])
GO
ALTER TABLE [DZTPLA].[SOL] CHECK CONSTRAINT [FK_SOL_ITEMGRP]
GO
ALTER TABLE [DZTPLA].[SOL]  WITH CHECK ADD  CONSTRAINT [FK_SOL_SOH] FOREIGN KEY([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_SO])
REFERENCES [DZTPLA].[SOH] ([CD_NODE], [CD_DEPT], [CD_USR], [C_CODE], [DN_SO])
GO
ALTER TABLE [DZTPLA].[SOL] CHECK CONSTRAINT [FK_SOL_SOH]
GO
