USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WJMALL_FAQ]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WJMALL_FAQ](
	[faq_no] [varchar](12) NOT NULL,
	[title] [varchar](100) NOT NULL,
	[content] [varchar](2000) NULL,
	[user_id] [varchar](20) NOT NULL,
	[regi_date] [datetime] NOT NULL,
	[gbn] [varchar](10) NOT NULL,
	[hit_cnt] [numeric](10, 0) NULL,
	[user_cust] [varchar](6) NOT NULL,
 CONSTRAINT [PK_WJMALL_FAQ] PRIMARY KEY CLUSTERED 
(
	[faq_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
