USE [DZTPLA]
GO
/****** Object:  View [DZTPLA].[VBASE_PERINFO]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DZTPLA].[VBASE_PERINFO] AS SELECT * FROM BASE.DZBASE.PERINFO




GO
