USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_GET_CUSTN]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE FUNCTION [DZTPLA].[DZFN_GET_CUSTN]
(
 @CD_HOSP  VARCHAR(12)
)
RETURNS VARCHAR(40) AS

BEGIN

--//출고거래처 알아내기
Declare @num      SMALLINT   ,
        @CD_CUST  VARCHAR(12),
        @NM_CUST  VARCHAR(40),
        @CD_CUST2 VARCHAR(12)

  IF (LEFT(@CD_HOSP,1) <> '4' AND LEFT(@CD_HOSP,1) <> '7')
    BEGIN
      SET @CD_CUST2 = @CD_HOSP

      SELECT @NM_CUST = (SELECT V.CUST_SORT
                           FROM VBASE_TRADE V (NOLOCK)
                          WHERE V.C_CODE    = '1000'
                            AND V.CUST_CODE = (SELECT TOP 1 S.CD_CUST
                                                 FROM CUST S (NOLOCK)
                                                WHERE S.C_CODE  = '1000'
                                                  AND S.CD_CUST > ''
                                                  AND S.KEY_CODE = (SELECT C.KEY_CODE
                                                                      FROM CUST C (NOLOCK)
                                                                     WHERE C.C_CODE  = '1000'
                                                                       AND C.CD_CUST = @CD_HOSP
                                                                   )
                                                  AND S.FG_MAST = 'Y'
                                              )
                        )

      IF (@NM_CUST IS NULL)
        SELECT @NM_CUST = (SELECT TOP 1 V.CUST_SORT
                             FROM VBASE_TRADE V (NOLOCK)
                            WHERE V.C_CODE    = '1000'
                              AND V.CUST_CODE = (SELECT TOP 1 S.CD_CUST
                                                   FROM CUST S (NOLOCK)
                                                  WHERE S.C_CODE   = '1000'
                                                    AND S.KEY_CODE = (SELECT C.KEY_CODE
                                                                        FROM CUST C (NOLOCK)
                                                                       WHERE C.C_CODE  = '1000'
                                                                         AND C.CD_CUST = @CD_HOSP
                                                                     )
                                                )
                          )

      IF (@NM_CUST IS NULL)
        SELECT @NM_CUST = (SELECT TOP 1 V.CUST_SORT
                             FROM VBASE_TRADE V (NOLOCK)
                            WHERE V.C_CODE    = '1000'
                              AND V.CUST_CODE = @CD_HOSP
                          )

    END
  ELSE
    BEGIN
      -- IF ( @CD_CUST2 IS NULL OR RTRIM(@CD_CUST2)='')
      SELECT @NM_CUST = (SELECT V.CUST_SORT
                           FROM VBASE_TRADE V (NOLOCK)
                          WHERE V.C_CODE    = '1000'
                            AND V.CUST_CODE = (SELECT DZTPLA.DZFN_GET_CUSTM(MAX(A.SETTLE))
                                                 FROM AGENCY A (NOLOCK)
                                                WHERE A.C_CODE    = '1000'
                                                  AND A.CUST_CODE = @CD_HOSP
                                              )
                        )

      -- SELECT @CD_CUST2 = (SELECT MAX(SETTLE) FROM AGENCY A (nolock) WHERE A.C_CODE='1000' AND A.CUST_CODE = @CD_HOSP)

      IF (@NM_CUST IS NULL)
        BEGIN
          -- SET @NM_CUST = ''

          -- IF ( @CD_CUST2 IS NOT NULL AND @CD_HOSP <> @CD_CUST2 AND LEFT(@CD_CUST2,1) ='2' )
          -- BEGIN
          SELECT @NM_CUST = (SELECT V.CUST_SORT
                               FROM AGENCY V (NOLOCK)
                              WHERE V.C_CODE    = '1000'
                                AND V.CUST_CODE =  @CD_HOSP
                            )

          IF ( @NM_CUST IS NULL)
            SET @NM_CUST = ''
        END
      -- ELSE
      -- SET @CD_CUST = @CD_HOSP
    END




  return @NM_CUST

/*
 --//출고거래처 알아내기
Declare @num   SMALLINT,
              @CD_CUST  VARCHAR(12),
     @CD_CUST2  VARCHAR(12)


 IF ( SUBSTRING(@CD_HOSP,1,1) = '2' OR SUBSTRING(@CD_HOSP,1,1) = '1' OR SUBSTRING(@CD_HOSP,1,1) = '5' OR SUBSTRING(@CD_HOSP,1,1) = '8')
 BEGIN

  --SELECT @CD_CUST = CUST_CODE FROM AGENCY WHERE C_CODE='1000' AND SETTLE = @CD_HOSP

  --IF (@CD_CUST IS NULL)
  --BEGIN
   SET @CD_CUST2 = @CD_HOSP

   SELECT @CD_CUST = (SELECT TOP 1 CD_CUST FROM CUST S WHERE S.C_CODE= '1000'
          AND S.KEY_CODE= (SELECT KEY_CODE FROM CUST C WHERE C.C_CODE= '1000' AND C.CD_CUST=@CD_HOSP)
          AND S.FG_MAST = 'Y')
   IF (@CD_CUST IS NULL)
   SELECT @CD_CUST = (SELECT TOP 1 CD_CUST FROM CUST S WHERE S.C_CODE= '1000'
       AND S.KEY_CODE= (SELECT KEY_CODE FROM CUST C WHERE C.C_CODE= '1000' AND C.CD_CUST=@CD_HOSP))
  --END
  --ELSE
  --BEGIN
  -- SET @CD_CUST2 = @CD_CUST
  --END
 END
 ELSE
 BEGIN

--  SELECT @CD_CUST2 = (SELECT MAX(CD_CUST) FROM AGENCY A (nolock) WHERE A.C_CODE='1000' AND A.CUST_CODE = @CD_HOSP)

--  IF ( @CD_CUST2 IS NULL OR RTRIM(@CD_CUST2)='')
  SELECT @CD_CUST2 = (SELECT MAX(SETTLE) FROM AGENCY A (nolock) WHERE A.C_CODE='1000' AND A.CUST_CODE = @CD_HOSP)

  --IF ( @CD_CUST2 IS NULL )
  -- SET @CD_CUST = @CD_HOSP
  --ELSE
  --BEGIN
  IF ( @CD_CUST2 IS NULL )
      SET @CD_CUST2 = @CD_HOSP

   IF ( @CD_CUST2 IS NOT NULL AND @CD_HOSP <> @CD_CUST2 AND LEFT(@CD_CUST2,1) ='2' )
   BEGIN
    SELECT @CD_CUST = (SELECT TOP 1 CD_CUST FROM CUST S WHERE S.C_CODE= '1000'
           AND S.KEY_CODE= (SELECT KEY_CODE FROM CUST C WHERE C.C_CODE= '1000' AND C.CD_CUST=@CD_CUST2)
           AND S.FG_MAST = 'Y')
    IF ( @CD_CUST IS NULL)
     SET @CD_CUST = @CD_HOSP

   END
   ELSE
     SET @CD_CUST = @CD_HOSP
  --END
 END

 return @CD_CUST
*/
END
GO
