USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[IOL_SAL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[IOL_SAL](
	[CD_AGENCY] [varchar](6) NOT NULL,
	[CD_CUST] [varchar](30) NOT NULL,
	[NM_CUST] [varchar](30) NOT NULL,
	[DT_DATE] [char](6) NOT NULL,
	[NM_ITEM] [varchar](30) NOT NULL,
	[QT_SAL] [numeric](15, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_AGENCY] ASC,
	[CD_CUST] ASC,
	[NM_CUST] ASC,
	[DT_DATE] ASC,
	[NM_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
