USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSTOCKDOC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSTOCKDOC](
	[c_code] [char](4) NOT NULL,
	[mt_stock] [char](6) NOT NULL,
	[dt_stock] [char](8) NULL,
	[cd_usr] [varchar](10) NULL,
	[fg_prc] [char](1) NULL,
 CONSTRAINT [PK_MSTOCKDOC] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[mt_stock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
