USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PGM_DN_LIST]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PGM_DN_LIST](
	[NM_PRJ] [char](30) NOT NULL,
	[NM_FILE] [char](30) NOT NULL,
	[NM_PC] [char](50) NOT NULL,
	[DT_DN] [char](23) NULL,
	[DT_TIME] [datetime] NULL,
	[FG_FILE] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[NM_PRJ] ASC,
	[NM_FILE] ASC,
	[NM_PC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[PGM_DN_LIST] ADD  CONSTRAINT [DF__PGM_DN_LI__DT_DN__56806A05]  DEFAULT (space((23))) FOR [DT_DN]
GO
ALTER TABLE [DZTPLA].[PGM_DN_LIST] ADD  CONSTRAINT [DF_PGM_DN_LIST_DT_TIME]  DEFAULT (getdate()) FOR [DT_TIME]
GO
ALTER TABLE [DZTPLA].[PGM_DN_LIST] ADD  CONSTRAINT [DF__PGM_DN_LI__FG_FI__5868B277]  DEFAULT ('0000') FOR [FG_FILE]
GO
