USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CRT_USER]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CRT_USER](
	[C_CODE] [char](4) NOT NULL,
	[NM_NAME_KR] [varchar](10) NOT NULL,
	[NM_NAME_EN] [varchar](50) NULL,
	[CD_CUST] [varchar](10) NOT NULL,
	[NM_CLINIC] [varchar](100) NULL,
	[DC_ADDR1] [varchar](100) NOT NULL,
	[NM_CITY] [varchar](20) NULL,
	[CD_ZIP] [varchar](7) NULL,
	[NO_PHONE] [varchar](20) NULL,
	[NO_FAX] [varchar](20) NULL,
	[NM_EMAIL] [varchar](40) NOT NULL,
	[DC_WEB] [varchar](80) NOT NULL,
	[NM_TOPO] [varchar](100) NULL,
	[NO_CERTI] [varchar](10) NOT NULL,
	[NO_DDSSET] [varchar](50) NULL,
	[DT_SETOUT] [varchar](8) NULL,
	[FG_SET] [varchar](2) NULL,
	[FG_LAST] [varchar](1) NULL,
	[DT_UPDATE] [varchar](10) NULL,
	[UPD_USR] [varchar](10) NOT NULL,
	[CERTI_FILE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NO_CERTI] ASC,
	[CD_CUST] ASC,
	[NM_NAME_KR] ASC,
	[DC_WEB] ASC,
	[DC_ADDR1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CRT_USER] ADD  CONSTRAINT [DF__CRT_USER__NM_NAM__7B9CE01B]  DEFAULT (space((1))) FOR [NM_NAME_KR]
GO
ALTER TABLE [DZTPLA].[CRT_USER] ADD  CONSTRAINT [DF__CRT_USER__NM_EMA__7C910454]  DEFAULT (space((1))) FOR [NM_EMAIL]
GO
ALTER TABLE [DZTPLA].[CRT_USER] ADD  CONSTRAINT [DF__CRT_USER__DC_WEB__7D85288D]  DEFAULT (space((1))) FOR [DC_WEB]
GO
ALTER TABLE [DZTPLA].[CRT_USER] ADD  CONSTRAINT [DF__CRT_USER__NO_CER__7E794CC6]  DEFAULT (space((10))) FOR [NO_CERTI]
GO
ALTER TABLE [DZTPLA].[CRT_USER] ADD  CONSTRAINT [DF__CRT_USER__FG_LAS__7F6D70FF]  DEFAULT ('Y') FOR [FG_LAST]
GO
