USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[word]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[word](
	[file_no] [int] IDENTITY(1,1) NOT NULL,
	[file_id] [varchar](80) NOT NULL,
	[file_name] [varchar](30) NOT NULL,
	[file_path] [varchar](100) NULL,
	[crt_datetime] [datetime] NULL,
	[file_size] [numeric](18, 0) NULL,
	[cd_cust] [char](10) NULL,
	[gubun] [char](4) NULL,
	[cd_gubun] [char](4) NULL,
	[cd_dept] [char](4) NULL,
	[cd_sec] [char](4) NULL,
	[cd_item] [varchar](20) NULL,
	[cd_spec] [varchar](30) NULL,
	[cd_usr] [varchar](10) NULL,
	[cd_crdt] [datetime] NULL,
	[search] [varchar](30) NULL,
	[dc_ifm] [varchar](8000) NULL,
 CONSTRAINT [PK_word] PRIMARY KEY CLUSTERED 
(
	[file_no] ASC,
	[file_id] ASC,
	[file_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[word] ADD  CONSTRAINT [DF_word_cd_crdt]  DEFAULT (getdate()) FOR [cd_crdt]
GO
