USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEMPACK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEMPACK](
	[C_CODE] [char](4) NOT NULL,
	[CD_ITEM] [varchar](12) NOT NULL,
	[CD_SPEC] [varchar](12) NOT NULL,
	[FG_ITEM] [char](1) NOT NULL,
	[QT_ITEM] [numeric](15, 4) NOT NULL,
	[CD_BAR] [varchar](20) NULL,
	[TY_BAR] [char](1) NULL,
 CONSTRAINT [PK_ITEMPACK] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_ITEM] ASC,
	[CD_SPEC] ASC,
	[FG_ITEM] ASC,
	[QT_ITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
