USE [DZTPLA]
GO
/****** Object:  StoredProcedure [DZTPLA].[TESTSP_CODE]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [DZTPLA].[TESTSP_CODE]
	-- Add the parameters for the stored procedure here
	@C_CODE VARCHAR(4), 
	@RET_XML NVARCHAR(MAX) OUTPUT,
	@RET_XML2 NVARCHAR(MAX) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	SELECT @RET_XML = (SELECT [C_CODE], [CD_CLS], [CD_FLAG], [NM_FLAG], [NM_FLAG2], [DC_V1], [DC_V2], [DC_V3], [DC_V4], [dc_v5], [dc_v6] 
	  FROM CODE 
	 WHERE C_CODE= @C_CODE 
	ORDER BY CD_CLS, CD_FLAG
	FOR xml path('DataBlock1'))
    
	SELECT @RET_XML2 = (SELECT [C_CODE], [CD_CLS], [NM_CLS], [NM_V1], [NM_V2], [NM_V3], [NM_V4], [nm_v5], [yn_edt], [nm_v6]
	  FROM CODEH
	 WHERE C_CODE= @C_CODE 
	ORDER BY CD_CLS
	FOR xml path('DataBlock2'))
    
	--RETURN 1
END
GO
