USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ZIPCODE]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ZIPCODE](
	[ZIPCODE] [nvarchar](255) NULL,
	[SIDO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
