USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ZIP_NEW1]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ZIP_NEW1](
	[seq] [int] NULL,
	[zc_sido] [char](20) NOT NULL,
	[zc_gugun] [char](20) NOT NULL,
	[zc_dong_old] [char](20) NOT NULL,
	[zc_ri_old] [char](20) NOT NULL,
	[zc_san_old] [char](1) NOT NULL,
	[zc_bun1_old] [char](4) NOT NULL,
	[zc_bun2_old] [char](4) NOT NULL,
	[zc_gilro_new] [char](80) NOT NULL,
	[zc_land_new] [char](1) NOT NULL,
	[zc_bun1_new] [char](5) NOT NULL,
	[zc_bun2_new] [char](5) NOT NULL,
	[zc_building] [char](40) NOT NULL,
	[zc_zipcode] [char](6) NOT NULL,
 CONSTRAINT [PK_ZIP_NEW1] PRIMARY KEY NONCLUSTERED 
(
	[zc_sido] ASC,
	[zc_gugun] ASC,
	[zc_dong_old] ASC,
	[zc_ri_old] ASC,
	[zc_san_old] ASC,
	[zc_bun1_old] ASC,
	[zc_bun2_old] ASC,
	[zc_gilro_new] ASC,
	[zc_land_new] ASC,
	[zc_bun1_new] ASC,
	[zc_bun2_new] ASC,
	[zc_building] ASC,
	[zc_zipcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
