USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PLCLNEL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PLCLNEL](
	[C_CODE] [char](4) NOT NULL,
	[CD_PLC] [char](4) NOT NULL,
	[FG_S120] [char](1) NOT NULL,
	[CD_CUST] [varchar](6) NOT NULL,
	[CD_TGT] [varchar](12) NOT NULL,
	[AT_STT] [numeric](15, 4) NOT NULL,
	[AT_END] [numeric](15, 4) NOT NULL,
	[RT_PLC] [numeric](15, 4) NOT NULL,
	[AT_PLC] [numeric](15, 4) NOT NULL,
 CONSTRAINT [PK_PLCLNEL] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_PLC] ASC,
	[FG_S120] ASC,
	[CD_CUST] ASC,
	[CD_TGT] ASC,
	[AT_STT] ASC,
	[AT_END] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
