USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[NIDS_ITEMS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[NIDS_ITEMS](
	[c_code] [varchar](4) NOT NULL,
	[itemName] [varchar](500) NOT NULL,
	[permitDate] [varchar](10) NULL,
	[grade] [char](1) NULL,
	[meddevItemSeq] [varchar](100) NOT NULL,
	[isForExport] [varchar](5) NULL,
	[cobFlagCode] [varchar](10) NULL,
	[mebTypeName] [varchar](10) NULL,
	[meddevItemNo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[itemName] ASC,
	[meddevItemSeq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
