USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[ITEM2_RES_RESULT2]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[ITEM2_RES_RESULT2](
	[RES_SEQ] [numeric](18, 0) NOT NULL,
	[RES_NAME] [varchar](50) NOT NULL,
	[RES_MONTH] [varchar](6) NOT NULL,
	[RES_CNT] [numeric](5, 0) NULL,
	[RES_SCANCNT] [numeric](5, 0) NULL,
	[RES_GBN] [varchar](5) NULL,
	[RES_RFID] [varchar](20) NULL,
 CONSTRAINT [PK_ITEM2_RES_RESULT2] PRIMARY KEY CLUSTERED 
(
	[RES_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
