USE [DZTPLA]
GO
/****** Object:  UserDefinedFunction [DZTPLA].[DZFN_B39A]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO








CREATE FUNCTION [DZTPLA].[DZFN_B39A] (
 @BARCODE39  VARCHAR(10)
)
RETURNS VARCHAR(10) AS
BEGIN

	--//바코드에 마지막 체크디짓을 추가한다.
Declare	@RET_B39  	VARCHAR(10),
	@RET_B39_2  	VARCHAR(10),
	@CHR_ARRAY      VARCHAR(100),
    @STR            VARCHAR(10),
    @BARCODE39B     VARCHAR(10),
    @numb 	   INT, 
    @IDX       INT,  @IDX2 INT,
    @VALUE_SUM INT

	SET @BARCODE39B = LEFT(RTRIM(@BARCODE39), LEN(RTRIM(@BARCODE39))-1)
	
	SET @CHR_ARRAY = '0|1|2|3|4|5|6|7|8|9|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|-|.| |$|/|+|%'
	
	SET @numb = 1;
	SET @str = LTRIM(RTRIM(@BARCODE39));
	SET @IDX =  LEN(RTRIM(@BARCODE39));
 	
	SET @VALUE_SUM = 0;

	 WHILE @idx >= @numb
	 BEGIN
		SET @IDX2 = 0

		WHILE @IDX2 <= 43
		BEGIN
			if ( SUBSTRING(@str,@numb,1) = DZTPLA.DZFN_ARR_GET(@CHR_ARRAY,'|',@IDX2) )
			BEGIN
				SET @VALUE_SUM = @VALUE_SUM + ( @IDX2 -1 ) 
				BREAK
			END 
			SET @IDX2 = @IDX2 + 1
                                           
		END 
               
		SET @numb = @numb + 1
	 END

	 SET  @IDX2 = @VALUE_SUM % 43 

     SET @RET_B39 = @BARCODE39 + DZTPLA.DZFN_ARR_GET(@CHR_ARRAY,'|',@IDX2 + 1) 	

	return RTRIM(@RET_B39)

END








GO
