USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[lm_am_modify]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[lm_am_modify](
	[dt_date] [varchar](8) NOT NULL,
	[dn_lm] [varchar](12) NOT NULL,
	[dn_ln] [int] NOT NULL,
	[at_kitem] [numeric](15, 2) NULL,
	[at_change] [numeric](15, 2) NULL
) ON [PRIMARY]
GO
