USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[LENS_DAMAG_REACT]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[LENS_DAMAG_REACT](
	[C_CODE] [char](4) NOT NULL,
	[DN_SB] [varchar](12) NOT NULL,
	[Q1] [varchar](100) NULL,
	[Q2] [varchar](100) NULL,
	[Q3] [varchar](100) NULL,
	[Q4] [varchar](2) NULL,
	[Q5] [varchar](100) NULL,
	[Q6] [varchar](20) NULL,
	[Q7] [varchar](8) NULL,
	[Q8] [varchar](2) NULL,
	[Q9] [varchar](2) NULL,
	[Q10] [varchar](2) NULL,
	[Q11] [varchar](2) NULL,
	[Q12] [varchar](2) NULL,
	[Q13] [varchar](2) NULL,
	[Q14] [varchar](2) NULL,
	[Q15] [varchar](2) NULL,
	[Q16] [varchar](2) NULL,
	[Q17] [varchar](2) NULL,
	[Q18] [varchar](2) NULL,
	[Q19] [varchar](2) NULL,
	[Q20] [varchar](2) NULL,
	[Q21] [varchar](2) NULL,
	[Q22] [varchar](100) NULL,
	[Q23] [varchar](100) NULL,
	[Q24] [varchar](2) NULL,
	[Q25] [varchar](2) NULL,
	[Q26] [varchar](2) NULL,
	[Q27] [varchar](2) NULL,
	[Q28] [varchar](2) NULL,
	[Q29] [varchar](2) NULL,
	[Q30] [varchar](2) NULL,
	[Q31] [varchar](2) NULL,
	[Q32] [varchar](100) NULL,
	[Q33] [varchar](8) NULL,
	[Q34] [varchar](8) NULL,
	[Q35] [varchar](100) NULL,
	[Q36] [varchar](8) NULL,
	[Q37] [varchar](2) NULL,
	[Q38] [varchar](2) NULL,
	[Q39] [varchar](2) NULL,
	[Q40] [varchar](40) NULL,
	[Q41] [varchar](50) NULL,
	[Q42] [varchar](2) NULL,
	[Q43] [varchar](100) NULL,
	[Q44] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_SB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
