USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[FAXSENDH]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[FAXSENDH](
	[C_CODE] [char](4) NOT NULL,
	[DN_FAX] [varchar](12) NOT NULL,
	[CD_CUST] [varchar](12) NOT NULL,
	[DEST_PHONE] [varchar](20) NOT NULL,
	[YEAR_MONTH] [varchar](6) NOT NULL,
	[FROM_USR] [varchar](12) NULL,
	[DC_FAX] [varchar](10) NULL,
	[DC_NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_FAX] ASC,
	[CD_CUST] ASC,
	[DEST_PHONE] ASC,
	[YEAR_MONTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
