USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CLSLL]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CLSLL](
	[data_gubun] [varchar](2) NOT NULL,
	[write_date] [char](8) NOT NULL,
	[data_no] [numeric](4, 0) NOT NULL,
	[data_slip] [numeric](4, 0) NOT NULL,
	[dept_code] [varchar](12) NOT NULL,
	[node_code] [varchar](4) NOT NULL,
	[c_code] [char](4) NOT NULL,
	[data_line] [numeric](4, 0) NOT NULL,
	[data_line_l] [int] NOT NULL,
	[check_code] [char](3) NULL,
	[checkd_code] [varchar](20) NULL,
	[checkd_name] [varchar](100) NULL,
 CONSTRAINT [PK_CLSLL] PRIMARY KEY CLUSTERED 
(
	[data_gubun] ASC,
	[write_date] ASC,
	[data_no] ASC,
	[data_slip] ASC,
	[dept_code] ASC,
	[node_code] ASC,
	[c_code] ASC,
	[data_line] ASC,
	[data_line_l] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CLSLL]  WITH CHECK ADD  CONSTRAINT [FK_CLSLL_REFERENCE_CLSL] FOREIGN KEY([data_gubun], [write_date], [data_no], [data_slip], [dept_code], [node_code], [c_code], [data_line])
REFERENCES [DZTPLA].[CLSL] ([data_gubun], [write_date], [data_no], [data_slip], [dept_code], [node_code], [c_code], [data_line])
GO
ALTER TABLE [DZTPLA].[CLSLL] CHECK CONSTRAINT [FK_CLSLL_REFERENCE_CLSL]
GO
