USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SOCTR]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SOCTR](
	[DN_SO] [varchar](12) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[FG_S111] [varchar](4) NOT NULL,
	[FG_CHK] [char](1) NOT NULL,
	[DT_CHK] [datetime] NULL,
	[DT_CFM] [datetime] NULL,
	[CD_CFMUSR] [varchar](10) NULL,
	[DC_CHK1] [varchar](12) NULL,
	[DC_CHK2] [varchar](12) NULL,
	[DC_CFMUSR] [varchar](20) NULL,
	[CD_REGUSR] [varchar](10) NOT NULL,
 CONSTRAINT [PK_SOCTR] PRIMARY KEY CLUSTERED 
(
	[DN_SO] ASC,
	[C_CODE] ASC,
	[FG_S111] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SOCTR] ADD  CONSTRAINT [DF__SOCTR__FG_CHK__71E7C201]  DEFAULT ('N') FOR [FG_CHK]
GO
