USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SENDMAILS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SENDMAILS](
	[C_CODE] [char](4) NOT NULL,
	[DN_DOC] [varchar](12) NOT NULL,
	[DC_TITLE] [varchar](50) NULL,
	[DC_MESSAGE] [varchar](400) NULL,
	[CD_CUST] [varchar](6) NULL,
	[DC_SENDER] [varchar](50) NULL,
	[DC_RECEIVER] [varchar](50) NULL,
	[NO_FILE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_DOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
