USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[asa]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[asa](
	[F1] [nvarchar](255) NULL,
	[a] [varchar](10) NULL,
	[Q'ty] [float] NULL,
	[b] [varchar](10) NULL
) ON [PRIMARY]
GO
