USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[MSTOCK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[MSTOCK](
	[c_code] [char](4) NOT NULL,
	[mnth] [char](6) NOT NULL,
	[fg_acct] [char](1) NOT NULL,
	[cd_item] [varchar](12) NOT NULL,
	[zq] [numeric](20, 2) NULL,
	[za] [numeric](20, 2) NULL,
	[aq] [numeric](20, 2) NULL,
	[aa] [numeric](20, 4) NULL,
	[bq] [numeric](20, 2) NULL,
	[ba] [numeric](20, 4) NULL,
	[cq] [numeric](20, 2) NULL,
	[ca] [numeric](20, 2) NULL,
	[dq] [numeric](20, 4) NULL,
	[da] [numeric](20, 2) NULL,
	[eq] [numeric](20, 2) NULL,
	[ea] [numeric](20, 2) NULL,
	[fq] [numeric](20, 2) NULL,
	[fa] [numeric](20, 2) NULL,
	[gq] [numeric](20, 2) NULL,
	[ga] [numeric](20, 2) NULL,
	[hq] [numeric](20, 2) NULL,
	[ha] [numeric](20, 2) NULL,
	[iq] [numeric](20, 2) NULL,
	[ia] [numeric](20, 2) NULL,
	[jq] [numeric](20, 2) NULL,
	[ja] [numeric](20, 2) NULL,
	[kq] [numeric](20, 2) NULL,
	[ka] [numeric](20, 2) NULL,
	[lq] [numeric](20, 2) NULL,
	[la] [numeric](20, 2) NULL,
	[mq] [numeric](20, 2) NULL,
	[ma] [numeric](20, 2) NULL,
	[nq] [numeric](20, 2) NULL,
	[na] [numeric](20, 2) NULL,
	[oq] [numeric](20, 2) NULL,
	[oa] [numeric](20, 2) NULL,
	[pq] [numeric](20, 2) NULL,
	[pa] [numeric](20, 2) NULL,
	[qq] [numeric](20, 2) NULL,
	[qa] [numeric](20, 2) NULL,
	[rq] [numeric](20, 2) NULL,
	[ra] [numeric](20, 2) NULL,
	[sq] [numeric](20, 2) NULL,
	[sa] [numeric](20, 2) NULL,
	[tq] [numeric](20, 2) NULL,
	[ta] [numeric](20, 2) NULL,
	[uq] [numeric](20, 2) NULL,
	[ua] [numeric](20, 2) NULL,
	[ttl_q]  AS ((((((((((((((((((((([uq]+[zq])+[cq])+[dq])+[gq])+[iq])+[lq])+[nq])+[pq])+[rq])+[tq])-[aq])-[bq])-[eq])-[fq])-[hq])-[jq])-[kq])-[mq])-[oq])-[qq])-[sq]),
	[ttl_a]  AS (((((((((((((((((((((([ua]+[za])+[ca])+[da])+[ga])+[ia])+[la])+[na])+[pa])+[ra])+[ta])-[aa])-[ba])-[ea])-[fa])-[ha])-[ja])-[ka])-[ma])-[oa])-[qa])-[sa])-[zz]),
	[zz] [numeric](20, 2) NULL,
 CONSTRAINT [PK_MSTOCK] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[mnth] ASC,
	[fg_acct] ASC,
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_zq]  DEFAULT ((0)) FOR [zq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_za]  DEFAULT ((0)) FOR [za]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_aq]  DEFAULT ((0)) FOR [aq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_aa]  DEFAULT ((0)) FOR [aa]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_bq]  DEFAULT ((0)) FOR [bq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ba]  DEFAULT ((0)) FOR [ba]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_cq]  DEFAULT ((0)) FOR [cq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ca]  DEFAULT ((0)) FOR [ca]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_dq]  DEFAULT ((0)) FOR [dq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_da]  DEFAULT ((0)) FOR [da]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_eq]  DEFAULT ((0)) FOR [eq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ea]  DEFAULT ((0)) FOR [ea]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_fq]  DEFAULT ((0)) FOR [fq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_fa]  DEFAULT ((0)) FOR [fa]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_gq]  DEFAULT ((0)) FOR [gq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ga]  DEFAULT ((0)) FOR [ga]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_hq]  DEFAULT ((0)) FOR [hq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ha]  DEFAULT ((0)) FOR [ha]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_iq]  DEFAULT ((0)) FOR [iq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ia]  DEFAULT ((0)) FOR [ia]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_jq]  DEFAULT ((0)) FOR [jq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ja]  DEFAULT ((0)) FOR [ja]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_kq]  DEFAULT ((0)) FOR [kq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ka]  DEFAULT ((0)) FOR [ka]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_lq]  DEFAULT ((0)) FOR [lq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_la]  DEFAULT ((0)) FOR [la]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_mq]  DEFAULT ((0)) FOR [mq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ma]  DEFAULT ((0)) FOR [ma]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_nq]  DEFAULT ((0)) FOR [nq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_na]  DEFAULT ((0)) FOR [na]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_oq]  DEFAULT ((0)) FOR [oq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_oa]  DEFAULT ((0)) FOR [oa]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_pq]  DEFAULT ((0)) FOR [pq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_pa]  DEFAULT ((0)) FOR [pa]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_qq]  DEFAULT ((0)) FOR [qq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_qa]  DEFAULT ((0)) FOR [qa]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_rq]  DEFAULT ((0)) FOR [rq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ra]  DEFAULT ((0)) FOR [ra]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_sq]  DEFAULT ((0)) FOR [sq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_sa]  DEFAULT ((0)) FOR [sa]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_tq]  DEFAULT ((0)) FOR [tq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ta]  DEFAULT ((0)) FOR [ta]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_uq]  DEFAULT ((0)) FOR [uq]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_ua]  DEFAULT ((0)) FOR [ua]
GO
ALTER TABLE [DZTPLA].[MSTOCK] ADD  CONSTRAINT [DF_MSTOCK_zz]  DEFAULT ((0)) FOR [zz]
GO
