USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[WJMALL_GOODS]    Script Date: 2022-09-15 오후 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[WJMALL_GOODS](
	[cd_item] [varchar](10) NOT NULL,
	[nm_item] [varchar](50) NULL,
	[gbn_item] [varchar](10) NULL,
	[basic_point] [numeric](7, 0) NULL,
	[set_gbn] [numeric](3, 0) NULL,
 CONSTRAINT [PK_WJMALL_GOODS] PRIMARY KEY CLUSTERED 
(
	[cd_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
