USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[OTHRS]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[OTHRS](
	[SNO] [varchar](10) NOT NULL,
	[KNAME] [varchar](20) NULL,
	[SIGNET] [varchar](18) NULL,
	[EMAILADDR] [varchar](80) NULL,
	[SNO1] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
