USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PGM_OBJ]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PGM_OBJ](
	[NM_PRJ] [char](30) NOT NULL,
	[NM_FILE] [varchar](100) NULL,
	[FG_FILE] [char](4) NULL,
	[DC_PATH] [char](200) NOT NULL,
	[DC_NT_PATH] [char](200) NOT NULL,
	[DT_UP] [char](23) NULL,
	[FG_DEL] [char](1) NULL,
	[BLOB_FILE] [image] NULL,
	[FG_STATUS] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
