USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_CHG_RMK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_CHG_RMK](
	[CD_CUST] [varchar](8) NOT NULL,
	[DT_CHG] [varchar](8) NOT NULL,
	[NO_CHG] [int] NOT NULL,
	[DC_RMK] [varchar](200) NOT NULL,
	[DT_REG] [datetime] NULL,
	[FG_CHG] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CD_CUST] ASC,
	[DT_CHG] ASC,
	[NO_CHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[CUST_CHG_RMK] ADD  DEFAULT ((1)) FOR [NO_CHG]
GO
