USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SENDBACK]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SENDBACK](
	[C_CODE] [char](4) NOT NULL,
	[DN_SB] [varchar](12) NOT NULL,
	[DT_HAPPEN] [datetime] NULL,
	[CD_CUST] [char](6) NULL,
	[CD_ITEM] [varchar](12) NULL,
	[CD_SPEC] [varchar](12) NULL,
	[QT_ITEM] [numeric](15, 2) NULL,
	[DN_ODR] [varchar](12) NULL,
	[DN_ODRLN] [int] NULL,
	[DN_SR] [varchar](12) NULL,
	[DN_SRLN] [int] NULL,
	[CD_USRSB] [varchar](10) NULL,
	[FG_STATUS] [char](2) NULL,
	[FG_S137] [varchar](4) NOT NULL,
	[REMARK] [varchar](200) NULL,
	[CD_USR] [varchar](10) NULL,
	[CF_USR] [varchar](10) NULL,
	[DT_CONF] [datetime] NULL,
	[DT_REG] [datetime] NULL,
	[DT_OUT] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_SB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DN_ODR]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_DN_ODR] ON [DZTPLA].[SENDBACK]
(
	[DN_ODR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SENDBACK] ADD  CONSTRAINT [DF__SENDBACK__FG_STA__0135BDE0]  DEFAULT ('00') FOR [FG_STATUS]
GO
