USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[CUST_ROTATE]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[CUST_ROTATE](
	[C_CODE] [char](4) NOT NULL,
	[CD_CUST] [varchar](6) NOT NULL,
	[DT_DST] [varchar](6) NOT NULL,
	[DT_LAST] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_CUST] ASC,
	[DT_DST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
