USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[SMSSEND]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[SMSSEND](
	[C_CODE] [char](4) NOT NULL,
	[DN_SMS] [varchar](12) NOT NULL,
	[DEST_PHONE] [varchar](20) NOT NULL,
	[FROM_USR] [varchar](12) NULL,
	[SMS_MSG] [varchar](100) NOT NULL,
	[DT_FROM] [varchar](8) NOT NULL,
	[DT_END] [varchar](8) NULL,
	[DT_DELAY] [int] NULL,
	[DN_REF] [varchar](12) NOT NULL,
	[CMID] [varchar](32) NULL,
	[FG_DEL] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_SMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[SMSSEND] ADD  CONSTRAINT [DF__SMSSEND__FG_DEL__3668A02E]  DEFAULT ('N') FOR [FG_DEL]
GO
