USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[PROD_DATA]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[PROD_DATA](
	[C_CODE] [char](4) NOT NULL,
	[DN_SB] [varchar](12) NOT NULL,
	[Q1] [varchar](20) NULL,
	[Q2] [varchar](20) NULL,
	[Q3] [varchar](20) NULL,
	[Q4] [varchar](20) NULL,
	[Q5] [varchar](20) NULL,
	[Q6] [varchar](20) NULL,
	[Q7] [varchar](2) NULL,
	[Q8] [varchar](8) NULL,
	[Q9] [varchar](2) NULL,
	[Q10] [varchar](8) NULL,
	[Q11] [varchar](2) NULL,
	[Q12] [varchar](2) NULL,
	[Q13] [varchar](40) NULL,
	[Q14] [varchar](20) NULL,
	[Q15] [varchar](20) NULL,
	[Q16] [varchar](20) NULL,
	[Q17] [varchar](20) NULL,
	[Q18] [varchar](20) NULL,
	[Q19] [varchar](2) NULL,
	[Q20] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DN_SB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
