USE [DZTPLA]
GO
/****** Object:  Table [DZTPLA].[STKLOC]    Script Date: 2022-09-15 오후 11:16:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZTPLA].[STKLOC](
	[c_code] [char](4) NOT NULL,
	[cd_node] [varchar](4) NOT NULL,
	[cd_stkplc] [varchar](12) NOT NULL,
	[nm_stkplc] [varchar](20) NOT NULL,
	[fg_stk] [char](1) NOT NULL,
	[fg_pln] [char](1) NOT NULL,
	[fg_acct] [varchar](5) NULL,
 CONSTRAINT [PK_STKLOC] PRIMARY KEY CLUSTERED 
(
	[c_code] ASC,
	[cd_node] ASC,
	[cd_stkplc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_NODE]    Script Date: 2022-09-15 오후 11:16:56 ******/
CREATE NONCLUSTERED INDEX [IDX_NODE] ON [DZTPLA].[STKLOC]
(
	[cd_stkplc] ASC,
	[cd_node] ASC,
	[c_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZTPLA].[STKLOC]  WITH CHECK ADD  CONSTRAINT [CKC_FG_PLN_STKLOC] CHECK  (([fg_pln]='1' OR [fg_pln]='0'))
GO
ALTER TABLE [DZTPLA].[STKLOC] CHECK CONSTRAINT [CKC_FG_PLN_STKLOC]
GO
ALTER TABLE [DZTPLA].[STKLOC]  WITH CHECK ADD  CONSTRAINT [CKC_FG_STK_STKLOC] CHECK  (([fg_stk]='3' OR [fg_stk]='2' OR ([fg_stk]='1' OR [fg_stk]='0')))
GO
ALTER TABLE [DZTPLA].[STKLOC] CHECK CONSTRAINT [CKC_FG_STK_STKLOC]
GO
