IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'BASE')
	DROP DATABASE [BASE]
GO

CREATE DATABASE [BASE]  ON (NAME = N'DZ_BASE', FILENAME = N'C:\DATABASE\DzBase.dat' , SIZE = 80, FILEGROWTH = 30) LOG ON (NAME = N'DZ_BASELOG', FILENAME = N'C:\DATABASE\DzBaseLOG.dat' , SIZE = 20, FILEGROWTH = 10)
 COLLATE Korean_Wansung_CI_AS
GO
ALTER DATABASE [BASE] ADD FILEGROUP [DZ_BASEIDX] 
GO
ALTER DATABASE [BASE] ADD FILE(NAME = N'DZ_BASEIDX', FILENAME = N'C:\DATABASE\DzBaseIDX.dat' , SIZE = 20, FILEGROWTH = 10) TO FILEGROUP [DZ_BASEIDX]
GO

exec sp_dboption N'BASE', N'autoclose', N'false'
GO

exec sp_dboption N'BASE', N'bulkcopy', N'true'
GO

exec sp_dboption N'BASE', N'trunc. log', N'true'
GO

exec sp_dboption N'BASE', N'torn page detection', N'true'
GO

exec sp_dboption N'BASE', N'read only', N'false'
GO

exec sp_dboption N'BASE', N'dbo use', N'false'
GO

exec sp_dboption N'BASE', N'single', N'false'
GO

exec sp_dboption N'BASE', N'autoshrink', N'false'
GO

exec sp_dboption N'BASE', N'ANSI null default', N'false'
GO

exec sp_dboption N'BASE', N'recursive triggers', N'false'
GO

exec sp_dboption N'BASE', N'ANSI nulls', N'false'
GO

exec sp_dboption N'BASE', N'concat null yields null', N'false'
GO

exec sp_dboption N'BASE', N'cursor close on commit', N'false'
GO

exec sp_dboption N'BASE', N'default to local cursor', N'false'
GO

exec sp_dboption N'BASE', N'quoted identifier', N'false'
GO

exec sp_dboption N'BASE', N'ANSI warnings', N'false'
GO

exec sp_dboption N'BASE', N'auto create statistics', N'true'
GO

exec sp_dboption N'BASE', N'auto update statistics', N'true'
GO

if( (@@microsoftversion / power(2, 24) = 8) and (@@microsoftversion & 0xffff >= 724) )
	exec sp_dboption N'BASE', N'db chaining', N'false'
GO

use [BASE]
GO

if not exists (select * from dbo.sysusers where name = N'DZAIS' and uid < 16382)
	EXEC sp_grantdbaccess N'DZAIS', N'DZAIS'
GO

if not exists (select * from dbo.sysusers where name = N'DZBASE' and uid < 16382)
	EXEC sp_grantdbaccess N'DZBASE', N'DZBASE'
GO

if not exists (select * from dbo.sysusers where name = N'DZINSAPAY' and uid < 16382)
	EXEC sp_grantdbaccess N'DZINSAPAY', N'DZINSAPAY'
GO

if not exists (select * from dbo.sysusers where name = N'DZTPLA' and uid < 16382)
	EXEC sp_grantdbaccess N'DZTPLA', N'DZTPLA'
GO

if not exists (select * from dbo.sysusers where name = N'webcust' and uid < 16382)
	EXEC sp_grantdbaccess N'webcust'
GO

if not exists (select * from dbo.sysusers where name = N'WJMCLNT' and uid < 16382)
	EXEC sp_grantdbaccess N'WJMCLNT', N'WJMCLNT'
GO

exec sp_addrolemember N'db_owner', N'DZBASE'
GO

exec sp_addrolemember N'db_owner', N'DZINSAPAY'
GO

exec sp_addrolemember N'db_owner', N'DZTPLA'
GO

