IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'DZAIS')
	DROP DATABASE [DZAIS]
GO

CREATE DATABASE [DZAIS]  ON (NAME = N'DZAIS', FILENAME = N'C:\DATABASE\DZAIS.DAT' , SIZE = 120, FILEGROWTH = 20) LOG ON (NAME = N'DZAISLOG', FILENAME = N'C:\DATABASE\DZAISLOG.DAT' , SIZE = 50, FILEGROWTH = 10)
 COLLATE Korean_Wansung_CI_AS
GO
ALTER DATABASE [DZAIS] ADD FILEGROUP [DZAIS_IDX] 
GO
ALTER DATABASE [DZAIS] ADD FILE(NAME = N'DZAIS_IDX', FILENAME = N'C:\DATABASE\DZAISIDX.DAT' , SIZE = 1330, FILEGROWTH = 10) TO FILEGROUP [DZAIS_IDX]
GO

exec sp_dboption N'DZAIS', N'autoclose', N'false'
GO

exec sp_dboption N'DZAIS', N'bulkcopy', N'true'
GO

exec sp_dboption N'DZAIS', N'trunc. log', N'true'
GO

exec sp_dboption N'DZAIS', N'torn page detection', N'true'
GO

exec sp_dboption N'DZAIS', N'read only', N'false'
GO

exec sp_dboption N'DZAIS', N'dbo use', N'false'
GO

exec sp_dboption N'DZAIS', N'single', N'false'
GO

exec sp_dboption N'DZAIS', N'autoshrink', N'false'
GO

exec sp_dboption N'DZAIS', N'ANSI null default', N'false'
GO

exec sp_dboption N'DZAIS', N'recursive triggers', N'false'
GO

exec sp_dboption N'DZAIS', N'ANSI nulls', N'false'
GO

exec sp_dboption N'DZAIS', N'concat null yields null', N'false'
GO

exec sp_dboption N'DZAIS', N'cursor close on commit', N'false'
GO

exec sp_dboption N'DZAIS', N'default to local cursor', N'false'
GO

exec sp_dboption N'DZAIS', N'quoted identifier', N'false'
GO

exec sp_dboption N'DZAIS', N'ANSI warnings', N'false'
GO

exec sp_dboption N'DZAIS', N'auto create statistics', N'true'
GO

exec sp_dboption N'DZAIS', N'auto update statistics', N'true'
GO

if( (@@microsoftversion / power(2, 24) = 8) and (@@microsoftversion & 0xffff >= 724) )
	exec sp_dboption N'DZAIS', N'db chaining', N'false'
GO

use [DZAIS]
GO

if not exists (select * from dbo.sysusers where name = N'DZAIS' and uid < 16382)
	EXEC sp_grantdbaccess N'DZAIS', N'DZAIS'
GO

if not exists (select * from dbo.sysusers where name = N'DZINSAPAY' and uid < 16382)
	EXEC sp_grantdbaccess N'DZINSAPAY', N'DZINSAPAY'
GO

if not exists (select * from dbo.sysusers where name = N'DZTPLA' and uid < 16382)
	EXEC sp_grantdbaccess N'DZTPLA', N'DZTPLA'
GO

exec sp_addrolemember N'db_owner', N'DZAIS'
GO

exec sp_addrolemember N'db_owner', N'DZTPLA'
GO

