/*
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'DZTPLA')
	DROP DATABASE [DZTPLA]
GO

CREATE DATABASE [DZTPLA]  ON (NAME = N'DZTPLA', FILENAME = N'C:\DATABASE\DZTPLA.dat' , SIZE = 15800, FILEGROWTH = 20) LOG ON (NAME = N'DZTPLALOG', FILENAME = N'C:\DATABASE\DZTPLALog.dat' , SIZE = 3280, FILEGROWTH = 10)
 COLLATE Korean_Wansung_CI_AS
GO
ALTER DATABASE [DZTPLA] ADD FILEGROUP [DZTPLA_IDX] 
GO
ALTER DATABASE [DZTPLA] ADD FILE(NAME = N'DZTPLA_IDX', FILENAME = N'C:\DATABASE\DZTPLAIdx.dat' , SIZE = 11020, FILEGROWTH = 10) TO FILEGROUP [DZTPLA_IDX]
GO
*/

exec sp_dboption N'DZTPLA', N'autoclose', N'false'
GO

exec sp_dboption N'DZTPLA', N'bulkcopy', N'true'
GO

exec sp_dboption N'DZTPLA', N'trunc. log', N'true'
GO

exec sp_dboption N'DZTPLA', N'torn page detection', N'true'
GO

exec sp_dboption N'DZTPLA', N'read only', N'false'
GO

exec sp_dboption N'DZTPLA', N'dbo use', N'false'
GO

exec sp_dboption N'DZTPLA', N'single', N'false'
GO

exec sp_dboption N'DZTPLA', N'autoshrink', N'false'
GO

exec sp_dboption N'DZTPLA', N'ANSI null default', N'false'
GO

exec sp_dboption N'DZTPLA', N'recursive triggers', N'false'
GO

exec sp_dboption N'DZTPLA', N'ANSI nulls', N'false'
GO

exec sp_dboption N'DZTPLA', N'concat null yields null', N'false'
GO

exec sp_dboption N'DZTPLA', N'cursor close on commit', N'false'
GO

exec sp_dboption N'DZTPLA', N'default to local cursor', N'false'
GO

exec sp_dboption N'DZTPLA', N'quoted identifier', N'false'
GO

exec sp_dboption N'DZTPLA', N'ANSI warnings', N'false'
GO

exec sp_dboption N'DZTPLA', N'auto create statistics', N'true'
GO

exec sp_dboption N'DZTPLA', N'auto update statistics', N'true'
GO

if( (@@microsoftversion / power(2, 24) = 8) and (@@microsoftversion & 0xffff >= 724) )
	exec sp_dboption N'DZTPLA', N'db chaining', N'false'
GO

use [DZTPLA]
GO

if not exists (select * from dbo.sysusers where name = N'DZTPLA' and uid < 16382)
	EXEC sp_grantdbaccess N'DZTPLA', N'DZTPLA'
GO

if not exists (select * from dbo.sysusers where name = N'WJMCLNT' and uid < 16382)
	EXEC sp_grantdbaccess N'WJMCLNT', N'WJMCLNT'
GO

exec sp_addrolemember N'db_owner', N'DZTPLA'
GO

