IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'INSAPAY')
	DROP DATABASE [INSAPAY]
GO

CREATE DATABASE [INSAPAY]  ON (NAME = N'DZINSAPAY', FILENAME = N'C:\DATABASE\DZINSAPAY.DAT' , SIZE = 200, FILEGROWTH = 20) LOG ON (NAME = N'DZINSAPAYLOG', FILENAME = N'C:\DATABASE\DZINSAPAYLOG.DAT' , SIZE = 40, FILEGROWTH = 10)
 COLLATE Korean_Wansung_CI_AS
GO
ALTER DATABASE [INSAPAY] ADD FILEGROUP [DZINSAPAYIDX] 
GO
ALTER DATABASE [INSAPAY] ADD FILE(NAME = N'DZINSAPAYIDX', FILENAME = N'C:\DATABASE\DZINSAPAYIDX.DAT' , SIZE = 20, FILEGROWTH = 10) TO FILEGROUP [DZINSAPAYIDX]
GO

exec sp_dboption N'INSAPAY', N'autoclose', N'false'
GO

exec sp_dboption N'INSAPAY', N'bulkcopy', N'true'
GO

exec sp_dboption N'INSAPAY', N'trunc. log', N'true'
GO

exec sp_dboption N'INSAPAY', N'torn page detection', N'true'
GO

exec sp_dboption N'INSAPAY', N'read only', N'false'
GO

exec sp_dboption N'INSAPAY', N'dbo use', N'false'
GO

exec sp_dboption N'INSAPAY', N'single', N'false'
GO

exec sp_dboption N'INSAPAY', N'autoshrink', N'false'
GO

exec sp_dboption N'INSAPAY', N'ANSI null default', N'false'
GO

exec sp_dboption N'INSAPAY', N'recursive triggers', N'false'
GO

exec sp_dboption N'INSAPAY', N'ANSI nulls', N'false'
GO

exec sp_dboption N'INSAPAY', N'concat null yields null', N'false'
GO

exec sp_dboption N'INSAPAY', N'cursor close on commit', N'false'
GO

exec sp_dboption N'INSAPAY', N'default to local cursor', N'false'
GO

exec sp_dboption N'INSAPAY', N'quoted identifier', N'false'
GO

exec sp_dboption N'INSAPAY', N'ANSI warnings', N'false'
GO

exec sp_dboption N'INSAPAY', N'auto create statistics', N'true'
GO

exec sp_dboption N'INSAPAY', N'auto update statistics', N'true'
GO

if( (@@microsoftversion / power(2, 24) = 8) and (@@microsoftversion & 0xffff >= 724) )
	exec sp_dboption N'INSAPAY', N'db chaining', N'false'
GO

use [INSAPAY]
GO

if not exists (select * from dbo.sysusers where name = N'DZAIS' and uid < 16382)
	EXEC sp_grantdbaccess N'DZAIS', N'DZAIS'
GO

if not exists (select * from dbo.sysusers where name = N'DZBASE' and uid < 16382)
	EXEC sp_grantdbaccess N'DZBASE', N'DZBASE'
GO

if not exists (select * from dbo.sysusers where name = N'DZINSAPAY' and uid < 16382)
	EXEC sp_grantdbaccess N'DZINSAPAY', N'DZINSAPAY'
GO

if not exists (select * from dbo.sysusers where name = N'DZTPLA' and uid < 16382)
	EXEC sp_grantdbaccess N'DZTPLA', N'DZTPLA'
GO

exec sp_addrolemember N'db_owner', N'DZINSAPAY'
GO

