if exists (select * from dbo.sysobjects where id = object_id(N'[STAAR].[CALC_DATA]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [STAAR].[CALC_DATA]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[STAAR].[DOCTOR]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [STAAR].[DOCTOR]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[pbcatcol]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[pbcatcol]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[pbcatedt]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[pbcatedt]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[pbcatfmt]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[pbcatfmt]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[pbcattbl]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[pbcattbl]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[pbcatvld]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[pbcatvld]
GO

CREATE TABLE [STAAR].[CALC_DATA] (
	[kid] [int] IDENTITY (1, 1) NOT NULL ,
	[staar_id] [int] NULL ,
	[doctor_id] [varchar] (5) COLLATE Korean_Wansung_CI_AS NULL ,
	[lens_model] [varchar] (5) COLLATE Korean_Wansung_CI_AS NULL ,
	[patient_id] [varchar] (15) COLLATE Korean_Wansung_CI_AS NULL ,
	[op_eye] [varchar] (2) COLLATE Korean_Wansung_CI_AS NULL ,
	[bvd] [tinyint] NULL ,
	[sphere] [decimal](5, 2) NULL ,
	[cylinder] [decimal](5, 2) NULL ,
	[axis] [tinyint] NULL ,
	[k1] [decimal](5, 2) NULL ,
	[k2] [decimal](5, 2) NULL ,
	[k_axis] [tinyint] NULL ,
	[k2_axis] [tinyint] NULL ,
	[acd] [decimal](5, 3) NULL ,
	[ct] [decimal](5, 3) NULL ,
	[ww] [decimal](5, 2) NULL ,
	[cl_sph] [decimal](5, 2) NULL ,
	[cl_cyl] [decimal](5, 2) NULL ,
	[cl_axis] [tinyint] NULL ,
	[exp_sph] [decimal](5, 2) NULL ,
	[exp_cyl] [decimal](5, 2) NULL ,
	[exp_axis] [tinyint] NULL ,
	[exp_seq] [decimal](5, 2) NULL ,
	[sel_sph] [decimal](5, 2) NULL ,
	[sel_cyl] [decimal](5, 2) NULL ,
	[sel_axis] [tinyint] NULL ,
	[sel_length] [decimal](5, 1) NULL ,
	[sel_model] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[dob] [datetime] NULL ,
	[dt_calc] [datetime] NOT NULL ,
	[lens_serial] [varchar] (15) COLLATE Korean_Wansung_CI_AS NULL ,
	[lens_sph] [decimal](5, 2) NULL ,
	[lens_cyl] [decimal](5, 2) NULL ,
	[lens_axis] [tinyint] NULL ,
	[rotation] [nvarchar] (100) COLLATE Korean_Wansung_CI_AS NULL ,
	[dt_iod] [datetime] NULL ,
	[TAGGED_SERIAL] [varchar] (10) COLLATE Korean_Wansung_CI_AS NULL ,
	[ORDER_NO] [int] NULL ,
	[TAGGED_SPH] [decimal](5, 2) NULL ,
	[TAGGED_CYL] [decimal](5, 2) NULL ,
	[TAGGED_AXIS] [tinyint] NULL ,
	[patient_ref] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL ,
	[tag_exp_sph] [decimal](5, 2) NULL ,
	[tag_exp_cyl] [decimal](5, 2) NULL ,
	[tag_exp_axis] [tinyint] NULL ,
	[tag_exp_seq] [decimal](5, 2) NULL ,
	[entered_by] [varchar] (100) COLLATE Korean_Wansung_CI_AS NULL ,
	[updated_by] [varchar] (500) COLLATE Korean_Wansung_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [STAAR].[DOCTOR] (
	[DOCTOR_ID] [varchar] (5) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[DOCT_NAME] [varchar] (100) COLLATE Korean_Wansung_CI_AS NULL ,
	[ADDRESS] [varchar] (50) COLLATE Korean_Wansung_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[pbcatcol] (
	[pbc_tnam] [char] (30) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_tid] [int] NULL ,
	[pbc_ownr] [char] (30) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_cnam] [char] (30) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_cid] [smallint] NULL ,
	[pbc_labl] [varchar] (254) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_lpos] [smallint] NULL ,
	[pbc_hdr] [varchar] (254) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_hpos] [smallint] NULL ,
	[pbc_jtfy] [smallint] NULL ,
	[pbc_mask] [varchar] (31) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_case] [smallint] NULL ,
	[pbc_hght] [smallint] NULL ,
	[pbc_wdth] [smallint] NULL ,
	[pbc_ptrn] [varchar] (31) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_bmap] [char] (1) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_init] [varchar] (254) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_cmnt] [varchar] (254) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_edit] [varchar] (31) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbc_tag] [varchar] (254) COLLATE Korean_Wansung_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[pbcatedt] (
	[pbe_name] [varchar] (30) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[pbe_edit] [varchar] (254) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbe_type] [smallint] NOT NULL ,
	[pbe_cntr] [int] NULL ,
	[pbe_seqn] [smallint] NOT NULL ,
	[pbe_flag] [int] NULL ,
	[pbe_work] [char] (32) COLLATE Korean_Wansung_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[pbcatfmt] (
	[pbf_name] [varchar] (30) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[pbf_frmt] [varchar] (254) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[pbf_type] [smallint] NOT NULL ,
	[pbf_cntr] [int] NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[pbcattbl] (
	[pbt_tnam] [char] (30) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbt_tid] [int] NULL ,
	[pbt_ownr] [char] (30) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbd_fhgt] [smallint] NULL ,
	[pbd_fwgt] [smallint] NULL ,
	[pbd_fitl] [char] (1) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbd_funl] [char] (1) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbd_fchr] [smallint] NULL ,
	[pbd_fptc] [smallint] NULL ,
	[pbd_ffce] [char] (32) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbh_fhgt] [smallint] NULL ,
	[pbh_fwgt] [smallint] NULL ,
	[pbh_fitl] [char] (1) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbh_funl] [char] (1) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbh_fchr] [smallint] NULL ,
	[pbh_fptc] [smallint] NULL ,
	[pbh_ffce] [char] (32) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbl_fhgt] [smallint] NULL ,
	[pbl_fwgt] [smallint] NULL ,
	[pbl_fitl] [char] (1) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbl_funl] [char] (1) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbl_fchr] [smallint] NULL ,
	[pbl_fptc] [smallint] NULL ,
	[pbl_ffce] [char] (32) COLLATE Korean_Wansung_CI_AS NULL ,
	[pbt_cmnt] [varchar] (254) COLLATE Korean_Wansung_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[pbcatvld] (
	[pbv_name] [varchar] (30) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[pbv_vald] [varchar] (254) COLLATE Korean_Wansung_CI_AS NOT NULL ,
	[pbv_type] [smallint] NOT NULL ,
	[pbv_cntr] [int] NULL ,
	[pbv_msg] [varchar] (254) COLLATE Korean_Wansung_CI_AS NULL 
) ON [PRIMARY]
GO

ALTER TABLE [STAAR].[CALC_DATA] WITH NOCHECK ADD 
	CONSTRAINT [PK_CALC_DATA] PRIMARY KEY  CLUSTERED 
	(
		[kid]
	)  ON [PRIMARY] 
GO

ALTER TABLE [STAAR].[DOCTOR] WITH NOCHECK ADD 
	CONSTRAINT [PK__DOCTOR__1367E606] PRIMARY KEY  CLUSTERED 
	(
		[DOCTOR_ID]
	)  ON [PRIMARY] 
GO

 CREATE  UNIQUE  CLUSTERED  INDEX [pbcatedt_idx] ON [dbo].[pbcatedt]([pbe_name], [pbe_seqn]) ON [PRIMARY]
GO

 CREATE  UNIQUE  CLUSTERED  INDEX [pbcatfmt_idx] ON [dbo].[pbcatfmt]([pbf_name]) ON [PRIMARY]
GO

 CREATE  UNIQUE  CLUSTERED  INDEX [pbcatvld_idx] ON [dbo].[pbcatvld]([pbv_name]) ON [PRIMARY]
GO

 CREATE  INDEX [IDX_CALC] ON [STAAR].[CALC_DATA]([kid], [doctor_id]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [pbcatcol_idx] ON [dbo].[pbcatcol]([pbc_tnam], [pbc_ownr], [pbc_cnam]) ON [PRIMARY]
GO

 CREATE  UNIQUE  INDEX [pbcattbl_idx] ON [dbo].[pbcattbl]([pbt_tnam], [pbt_ownr]) ON [PRIMARY]
GO

