--IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'model')
--	DROP DATABASE [model]
--GO

--CREATE DATABASE [model]  ON (NAME = N'modeldev', FILENAME = N'C:\DATABASE\model.mdf' , SIZE = 38, FILEGROWTH = 10%) LOG ON (NAME = N'modellog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL\data\modellog.ldf' , SIZE = 214, FILEGROWTH = 10%)
-- COLLATE Korean_Wansung_CI_AS
--GO

--exec sp_dboption N'model', N'autoclose', N'false'
--GO

--exec sp_dboption N'model', N'bulkcopy', N'false'
--GO

--exec sp_dboption N'model', N'trunc. log', N'false'
--GO

--exec sp_dboption N'model', N'torn page detection', N'true'
--GO

--exec sp_dboption N'model', N'read only', N'false'
--GO

--exec sp_dboption N'model', N'dbo use', N'false'
--GO

--exec sp_dboption N'model', N'single', N'false'
--GO

--exec sp_dboption N'model', N'autoshrink', N'false'
--GO

--exec sp_dboption N'model', N'ANSI null default', N'false'
--GO

--exec sp_dboption N'model', N'recursive triggers', N'false'
--GO

--exec sp_dboption N'model', N'ANSI nulls', N'false'
--GO

--exec sp_dboption N'model', N'concat null yields null', N'false'
--GO

--exec sp_dboption N'model', N'cursor close on commit', N'false'
--GO

--exec sp_dboption N'model', N'default to local cursor', N'false'
--GO

--exec sp_dboption N'model', N'quoted identifier', N'false'
--GO

--exec sp_dboption N'model', N'ANSI warnings', N'false'
--GO

--exec sp_dboption N'model', N'auto create statistics', N'true'
--GO

--exec sp_dboption N'model', N'auto update statistics', N'true'
--GO

--if( (@@microsoftversion / power(2, 24) = 8) and (@@microsoftversion & 0xffff >= 724) )
--	exec sp_dboption N'model', N'db chaining', N'false'
--GO

use [model]
GO

if not exists (select * from dbo.sysusers where name = N'DZTPLA' and uid < 16382)
	EXEC sp_grantdbaccess N'DZTPLA', N'DZTPLA'
GO

if not exists (select * from dbo.sysusers where name = N'STAAR' and uid < 16382)
	EXEC sp_grantdbaccess N'STAAR', N'STAAR'
GO

if not exists (select * from dbo.sysusers where name = N'WJMCLNT' and uid < 16382)
	EXEC sp_grantdbaccess N'WJMCLNT', N'WJMCLNT'
GO

exec sp_addrolemember N'db_owner', N'DZTPLA'
GO

exec sp_addrolemember N'db_owner', N'STAAR'
GO

exec sp_addrolemember N'db_owner', N'WJMCLNT'
GO

