USE [DZAIS]
GO
/****** Object:  View [dbo].[V_DEPTCODE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




create  VIEW  [dbo].[V_DEPTCODE]
(
      C_CODE,     DEPT_CODE,  NODE_CODE,  CD_BUMUN,   DEPT_NAME,  BOSS_SNO,   FDATE,   TDATE
) AS
SELECT
      C_CODE,     DEPT_CODE,  NODE_CODE,  CD_BUMUN,   DEPT_NAME,  BOSS_NAME,   FDATE,   TDATE
FROM
      BASE.DZBASE.STANDARD_DEPT




GO
