USE [DZAIS]
GO
/****** Object:  Table [dbo].[autodocu99]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autodocu99](
	[DATA_GUBUN] [varchar](2) NOT NULL,
	[WRITE_DATE] [char](8) NOT NULL,
	[DATA_NO] [numeric](4, 0) NOT NULL,
	[DATA_LINE] [numeric](4, 0) NOT NULL,
	[DATA_SLIP] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DATA_CODE] [varchar](20) NULL,
	[DOCU_STAT] [char](1) NOT NULL,
	[DOCU_TYPE] [char](2) NOT NULL,
	[DOCU_GUBUN] [char](1) NOT NULL,
	[AMT_GUBUN] [char](1) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[CHECK_CODE1] [char](3) NULL,
	[CHECK_CODE2] [char](3) NULL,
	[CHECK_CODE3] [char](3) NULL,
	[CHECK_CODE4] [char](3) NULL,
	[CHECK_CODE5] [char](3) NULL,
	[CHECK_CODE6] [char](3) NULL,
	[CHECK_CODE7] [char](3) NULL,
	[CHECK_CODE8] [char](3) NULL,
	[CHECK_CODE9] [char](3) NULL,
	[CHECK_CODE10] [char](3) NULL,
	[CHECKD_CODE1] [varchar](20) NULL,
	[CHECKD_CODE2] [varchar](20) NULL,
	[CHECKD_CODE3] [varchar](20) NULL,
	[CHECKD_CODE4] [varchar](20) NULL,
	[CHECKD_CODE5] [varchar](20) NULL,
	[CHECKD_CODE6] [varchar](20) NULL,
	[CHECKD_CODE7] [varchar](20) NULL,
	[CHECKD_CODE8] [varchar](20) NULL,
	[CHECKD_CODE9] [varchar](20) NULL,
	[CHECKD_CODE10] [varchar](20) NULL,
	[CHECKD_NAME1] [varchar](100) NULL,
	[CHECKD_NAME2] [varchar](100) NULL,
	[CHECKD_NAME3] [varchar](100) NULL,
	[CHECKD_NAME4] [varchar](100) NULL,
	[CHECKD_NAME5] [varchar](100) NULL,
	[CHECKD_NAME6] [varchar](100) NULL,
	[CHECKD_NAME7] [varchar](100) NULL,
	[CHECKD_NAME8] [varchar](100) NULL,
	[CHECKD_NAME9] [varchar](100) NULL,
	[CHECKD_NAME10] [varchar](100) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[TRIGGER_ON] [char](1) NULL,
	[BAN_NODE_CODE] [varchar](4) NULL,
	[BAN_DEPT_CODE] [varchar](12) NULL,
	[BAN_DECI_DATE] [char](8) NULL,
	[BAN_DECI_NO] [numeric](4, 0) NULL,
	[BAN_LINE_NO] [numeric](4, 0) NULL,
	[BAN_SLIP_NO] [numeric](4, 0) NULL
) ON [PRIMARY]
GO
