USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[MAIN_ACCT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[MAIN_ACCT](
	[ACCT_CODE] [char](5) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[GUBUN_CODE] [char](1) NULL,
 CONSTRAINT [PK_MAIN_ACCT] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
