USE [DZAIS]
GO
/****** Object:  View [DZAIS].[V_PERINFO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW  [DZAIS].[V_PERINFO]
(
      C_CODE,     SA_CODE,    KNAME,      NODE_CODE,  DEPT_CODE,  CD_WARE
)
 AS
SELECT
      C_CODE,     SNO,        KNAME,      NODE_CODE,  DEPT_CODE,  CD_WARE
FROM
      BASE.DZBASE.PERINFO



GO
