USE [DZAIS]
GO
/****** Object:  View [DZAIS].[PJTCODE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [DZAIS].[PJTCODE]
(
  
PROJ_CODE,PROJ_NAME, C_CODE,   PROJ_AMT,   PROJ_PCOST,   PROJ_PMARGIN,   FPROJ_DATE,   
TPROJ_DATE,   PROJ_DEPT_CODE,   PROJ_VEN_CODE,   PROJ_DAM,   PROJ_DAY,	BCON_YN,   
PROJ_STAT,   PROJ_REM1,  PROJ_REM2,   ACCT_CODE, INVEST_LOCA, QTY, ITEM_UNIT, PRICE  

)AS
SELECT
  
   PROJ_CODE,PROJ_NAME, C_CODE,   PROJ_AMT,   PROJ_PCOST,   PROJ_PMARGIN,   FPROJ_DATE,   
   TPROJ_DATE,   PROJ_DEPT_CODE,   PROJ_VEN_CODE,   PROJ_DAM,   PROJ_DAY,	BCON_YN,   
   PROJ_STAT,   PROJ_REM1,  PROJ_REM2,   ACCT_CODE, INVEST_LOCA, QTY, ITEM_UNIT, PRICE  

FROM
      BASE.DZBASE.PJTCODE


GO
