USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SYSCODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SYSCODE](
	[JOB_TYPE] [varchar](3) NOT NULL,
	[GU_CODE] [varchar](10) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[GU_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_SYSCODE] PRIMARY KEY CLUSTERED 
(
	[JOB_TYPE] ASC,
	[GU_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
