USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[LOANTRANS]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[LOANTRANS](
	[LOANM_NO] [varchar](20) NOT NULL,
	[PAY_DATE] [char](8) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[PAY_AMT] [numeric](15, 0) NOT NULL,
	[INTER_AMT] [numeric](16, 3) NOT NULL,
 CONSTRAINT [PK_LOANTRANS] PRIMARY KEY CLUSTERED 
(
	[LOANM_NO] ASC,
	[PAY_DATE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[LOANTRANS] ADD  CONSTRAINT [DF_LOANTRANS_PAY_DATE]  DEFAULT ('00000000') FOR [PAY_DATE]
GO
ALTER TABLE [DZAIS].[LOANTRANS] ADD  CONSTRAINT [DF_LOANTRANS_PAY_AMT]  DEFAULT ((0)) FOR [PAY_AMT]
GO
ALTER TABLE [DZAIS].[LOANTRANS] ADD  CONSTRAINT [DF_LOANTRANS_INTER_AMT]  DEFAULT ((0)) FOR [INTER_AMT]
GO
ALTER TABLE [DZAIS].[LOANTRANS]  WITH CHECK ADD CHECK  (([PAY_DATE]='00000000' OR [PAY_DATE]>'19500101' AND [PAY_DATE]<'21000101' AND CONVERT([datetime],[PAY_DATE])=CONVERT([datetime],[PAY_DATE])))
GO
