USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_NODE_BACKUP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_NODE_BACKUP](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_YEAR] [char](4) NOT NULL,
	[GI_GUBUN] [char](1) NOT NULL,
	[DATA_GUBUN] [char](1) NOT NULL,
	[GROUND_AREA] [numeric](7, 0) NOT NULL,
	[BUILDING_UNDERGROUND] [numeric](3, 0) NOT NULL,
	[BUILDING_GROUND] [numeric](3, 0) NOT NULL,
	[BROAD_AREA] [numeric](7, 0) NOT NULL,
	[TOTAL_BROAD_AREA] [numeric](7, 0) NOT NULL,
	[ROOM_COUNT] [numeric](7, 0) NOT NULL,
	[DESK_COUNT] [numeric](7, 0) NOT NULL,
	[CHAIR_COUNT] [numeric](7, 0) NOT NULL,
	[PARKING_PRESENCE] [char](1) NOT NULL,
	[EMPLOYEES_COUNT] [numeric](7, 0) NOT NULL,
	[CAR_COUNT] [numeric](7, 0) NOT NULL,
	[TRUCK_COUNT] [numeric](7, 0) NOT NULL,
	[DEPOSIT] [numeric](9, 0) NOT NULL,
	[MON_RENT] [numeric](11, 0) NOT NULL,
	[ELE_GAS_BILL] [numeric](9, 0) NOT NULL,
	[WATER_BILL] [numeric](9, 0) NOT NULL,
	[LABOR_COST] [numeric](9, 0) NOT NULL,
	[ETC_BILL] [numeric](9, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL
) ON [PRIMARY]
GO
