USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[EXCHPAR]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[EXCHPAR](
	[PAR_DATE] [char](6) NOT NULL,
	[ACCT_CODE] [varchar](5) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[EXCH_CODE] [varchar](3) NOT NULL,
	[GUBUN_CODE] [char](1) NOT NULL,
	[PAR_CODE] [varchar](20) NOT NULL,
	[EXCH_AMT] [numeric](19, 4) NOT NULL,
	[EXCH_RATE] [numeric](9, 4) NOT NULL,
	[PAR_AMT] [numeric](15, 0) NOT NULL,
	[AMT] [numeric](15, 0) NOT NULL,
	[CHA_AMT] [numeric](15, 0) NOT NULL,
	[PAR_STAT] [char](1) NOT NULL,
	[DATA_CODE] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PK_EXCHPAR]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [PK_EXCHPAR] ON [DZAIS].[EXCHPAR]
(
	[PAR_DATE] ASC,
	[ACCT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[EXCH_CODE] ASC,
	[GUBUN_CODE] ASC,
	[PAR_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[EXCHPAR] ADD  CONSTRAINT [DF__EXCHPAR__GUBUN_C__73901351]  DEFAULT ('1') FOR [GUBUN_CODE]
GO
ALTER TABLE [DZAIS].[EXCHPAR] ADD  CONSTRAINT [DF__EXCHPAR__EXCH_AM__7484378A]  DEFAULT ((0)) FOR [EXCH_AMT]
GO
ALTER TABLE [DZAIS].[EXCHPAR] ADD  CONSTRAINT [DF__EXCHPAR__EXCH_RA__75785BC3]  DEFAULT ((0)) FOR [EXCH_RATE]
GO
ALTER TABLE [DZAIS].[EXCHPAR] ADD  CONSTRAINT [DF__EXCHPAR__PAR_AMT__766C7FFC]  DEFAULT ((0)) FOR [PAR_AMT]
GO
ALTER TABLE [DZAIS].[EXCHPAR] ADD  CONSTRAINT [DF__EXCHPAR__AMT__7760A435]  DEFAULT ((0)) FOR [AMT]
GO
ALTER TABLE [DZAIS].[EXCHPAR] ADD  CONSTRAINT [DF__EXCHPAR__CHA_AMT__7854C86E]  DEFAULT ((0)) FOR [CHA_AMT]
GO
ALTER TABLE [DZAIS].[EXCHPAR] ADD  CONSTRAINT [DF__EXCHPAR__PAR_STA__7948ECA7]  DEFAULT ('0') FOR [PAR_STAT]
GO
