USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DOCUBAN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DOCUBAN](
	[ACCT_DATE] [char](8) NOT NULL,
	[DOCU_NO] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[VEN_CODE] [varchar](6) NULL,
	[ACCT_AMT] [numeric](15, 0) NOT NULL,
	[BAN_AMT] [numeric](15, 0) NOT NULL,
	[EXCH_ACCT_AMT] [numeric](15, 4) NOT NULL,
	[EXCH_BAN_AMT] [numeric](15, 4) NOT NULL,
	[GUBUN] [char](1) NULL,
	[DUE_DATE] [char](8) NOT NULL,
 CONSTRAINT [PK_DOCUBAN] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX1_DOCUBAN]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX1_DOCUBAN] ON [DZAIS].[DOCUBAN]
(
	[ACCT_CODE] ASC,
	[DECI_DATE] ASC,
	[ACCT_DATE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIDX_DOCUBAN]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIDX_DOCUBAN] ON [DZAIS].[DOCUBAN]
(
	[SLIP_NO] ASC,
	[LINE_NO] ASC,
	[DOCU_NO] ASC,
	[ACCT_DATE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_DOCU_NO]  DEFAULT ((0)) FOR [DOCU_NO]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_ACCT_AMT]  DEFAULT ((0)) FOR [ACCT_AMT]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_BAN_AMT]  DEFAULT ((0)) FOR [BAN_AMT]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_EXCH_ACCT_AMT]  DEFAULT ((0)) FOR [EXCH_ACCT_AMT]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_EXCH_BAN_AMT]  DEFAULT ((0)) FOR [EXCH_BAN_AMT]
GO
ALTER TABLE [DZAIS].[DOCUBAN] ADD  CONSTRAINT [DF_DOCUBAN_DUE_DATE]  DEFAULT ('00000000') FOR [DUE_DATE]
GO
ALTER TABLE [DZAIS].[DOCUBAN]  WITH CHECK ADD CHECK  (([ACCT_DATE]='00000000' OR [ACCT_DATE]>'19500101' AND [ACCT_DATE]<'21000101' AND CONVERT([datetime],[ACCT_DATE])=CONVERT([datetime],[ACCT_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUBAN]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUBAN]  WITH CHECK ADD CHECK  (([DUE_DATE]='00000000' OR [DUE_DATE]>'19500101' AND [DUE_DATE]<'21000101' AND CONVERT([datetime],[DUE_DATE])=CONVERT([datetime],[DUE_DATE])))
GO
