USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSACCT_GUBUN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSACCT_GUBUN](
	[FS_CODE] [char](3) NOT NULL,
	[GROUP_CODE] [char](4) NOT NULL,
	[GUBUN_CODE] [char](1) NOT NULL,
	[GUBUN_NAME] [varchar](50) NOT NULL,
	[RELA_GU] [char](1) NULL,
	[SORT_NO] [numeric](3, 0) NULL,
	[REMARK] [varchar](50) NULL,
 CONSTRAINT [PK_FSACCT_GUBUN] PRIMARY KEY CLUSTERED 
(
	[FS_CODE] ASC,
	[GROUP_CODE] ASC,
	[GUBUN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
