USE [DZAIS]
GO
/****** Object:  View [DZAIS].[ACCT_CHECK_SJS]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  VIEW [DZAIS].[ACCT_CHECK_SJS] AS
SELECT 	ACCTCODE.C_CODE C_CODE,
	ACCTCODE.ACCT_CODE ACCT_CODE,
	ACCTCODE.ACCT_NAME ACCT_NAME,
	ACCTCODE.ACCT_NAME2 ACCT_NAME2,
 	CHECKCHA.SERIAL_NO SERIAL_NO,
	CHECKCHA.CHECK_CODE CHECK_CODE,
	CHECKNA.CHECK_NAME CHECK_NAME,
	CHECKCHA.INPIL_YN INPIL_YN
FROM 	DZAIS.DZAIS.ACCTCODE ACCTCODE,
	DZAIS.DZAIS.CHECKCHA CHECKCHA,
	DZAIS.DZAIS.CHECKNA CHECKNA


GO
