USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_SEKUMKONGKAKUM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE       PROC [DZAIS].[USP_IPLUS_SEKUMKONGKAKUM]
(
	@CO_CD				VARCHAR(4), 		-- 회사코드 ( 필수 )
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8) ,  
	@CVTCD_STR			VARCHAR(8000)  
)

AS
BEGIN  

	DECLARE @NEW_CO_CD VARCHAR(4)

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD

	CREATE TABLE #USP_MULTI_PARAMETERS (CVT_CD  VARCHAR(5) NULL )
		INSERT INTO #USP_MULTI_PARAMETERS EXEC USP_MULTI_PARAMETERS  @CVTCD_STR 
	
	SELECT	S.PLUS_ACCT_CODE + '00' CD_ACCTIT, 
		A.ACCT_DATE 	DA_CONT, 
		A.NOTE_NAME 	NM_REMARK,
		B.CUST_NAME	NM_PAY, 
		( A.DR_AMT + A.CR_AMT ) MN_PAY

	FROM 	DOCUD A
		LEFT OUTER JOIN
		VBASE_TRADE B ON (A.C_CODE = B.C_CODE AND A.VEN_CODE = B.CUST_CODE),
		TAXACCTCODE S,
		#USP_MULTI_PARAMETERS
	WHERE 	A.C_CODE = S.C_CODE
	AND	A.ACCT_CODE = S.ACCT_CODE
	AND	S.PLUS_ACCT_CODE = #USP_MULTI_PARAMETERS.CVT_CD
	AND 	A.C_CODE = @NEW_CO_CD
	AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT
	AND	A.AMT_GUBUN IN ('2','3')
END
GO
