USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[USER_TABLE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[USER_TABLE](
	[TABLE_ENAME] [varchar](50) NOT NULL,
	[COLUMNS_ENAME] [varchar](30) NOT NULL,
	[COLUMNS_HNAME] [varchar](40) NULL,
	[DATA_FORMAT] [varchar](30) NULL,
 CONSTRAINT [PK_USER_TABLE] PRIMARY KEY CLUSTERED 
(
	[TABLE_ENAME] ASC,
	[COLUMNS_ENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
