USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TOT_ACCTNAME]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TOT_ACCTNAME](
	[TOT_CODE] [char](3) NOT NULL,
	[TOT_NAME] [varchar](40) NULL,
	[TOT_GUBUN] [char](1) NULL,
	[TOT_ENNAME] [varchar](70) NULL,
	[TOT_HJNAME] [varchar](40) NULL,
 CONSTRAINT [PK_TOT_ACCTNAME] PRIMARY KEY CLUSTERED 
(
	[TOT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
