USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FI_BGMOVED]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FI_BGMOVED](
	[CD_BACCT] [varchar](10) NOT NULL,
	[CD_BUDGET] [varchar](20) NOT NULL,
	[C_CODE] [varchar](7) NOT NULL,
	[TP_CONTROL] [char](1) NOT NULL,
	[NO_ACTION] [numeric](3, 0) NOT NULL,
	[YM_BUDGET] [char](6) NOT NULL,
	[CD_BGONLY] [varchar](20) NULL,
	[CD_ONLYACCT] [varchar](10) NULL,
	[YM_FORWARD] [char](6) NULL,
	[AM_CONTROL] [numeric](19, 4) NOT NULL,
	[DT_CONTROL] [char](8) NULL,
	[NM_CONTROL] [varchar](50) NULL,
	[ID_INSERT] [varchar](15) NULL,
	[DTS_INSERT] [char](14) NULL,
	[ID_UPDATE] [varchar](15) NULL,
	[DTS_UPDATE] [char](14) NULL,
 CONSTRAINT [PK_FI_BGMOVED] PRIMARY KEY CLUSTERED 
(
	[CD_BACCT] ASC,
	[CD_BUDGET] ASC,
	[C_CODE] ASC,
	[TP_CONTROL] ASC,
	[NO_ACTION] ASC,
	[YM_BUDGET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[FI_BGMOVED] ADD  CONSTRAINT [DF__FI_BGMOVE__AM_CO__52B92F6B]  DEFAULT ((0)) FOR [AM_CONTROL]
GO
