USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_STDBALANCESHEET]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 

CREATE    PROCEDURE  [DZAIS].[USP_IPLUS_STDBALANCESHEET]
(
	@CO_CD				VARCHAR(4),
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8),
	@TYPE				VARCHAR(1) 
)
AS
BEGIN  
 	DECLARE @NEW_CO_CD 	VARCHAR(4) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD
	IF( @TYPE = '1' )
	BEGIN
		SELECT	'1'  TY_ITEM ,
			X.STD_CD CD_INDEX, 
			TY_ACT , 
			SUBSTRING(@TO_DT,1,6) DM_SAVE ,
			SUM( CASE WHEN TY_ACT = '1' THEN ISNULL( X.DR_AM,0) -  ISNULL( X.CR_AM,0)  ELSE 0 END ) MN_BALDR,
			SUM( CASE WHEN TY_ACT IN( '2','3' )  THEN ISNULL( X.CR_AM,0) -  ISNULL( X.DR_AM,0)  ELSE 0 END )  MN_BALCR,
			SUM( ISNULL( X.DR_AM,0) ) MN_TOTDR,
			SUM( ISNULL( X.CR_AM,0) ) MN_TOTCR
		FROM 	( 
			SELECT 	CASE WHEN B.PLUS_ACCT_CODE BETWEEN '101' AND '250' THEN '1' 
				WHEN B.PLUS_ACCT_CODE BETWEEN '961' AND '980' THEN '1' 
				WHEN B.PLUS_ACCT_CODE BETWEEN '251' AND '330' THEN '2' 
				WHEN B.PLUS_ACCT_CODE BETWEEN '331' AND '400'  THEN '2' 
				WHEN B.PLUS_ACCT_CODE BETWEEN '981' AND '990'  THEN '2' 
				ELSE '1' 	END TY_ACT, 
				C.SUM_GUBUN STD_CD,
				B.PLUS_ACCT_CODE CVT_CD,
				A.ACCT_CODE ACCT_CD,
				CASE D.DRCR_GUBUN WHEN '1' THEN A.DR_AMT + A.AMT ELSE A.DR_AMT END DR_AM,
				CASE D.DRCR_GUBUN WHEN '2' THEN A.CR_AMT + A.AMT ELSE A.CR_AMT END CR_AM
			FROM	(
				SELECT	C_CODE,
					ACCT_CODE,
					SUM(AMT) AMT,
					0 DR_AMT,
					0 CR_AMT
				FROM	PREV_BS
				WHERE	C_CODE = @NEW_CO_CD
				AND	GISU = CONVERT(INT, @GISU)  -- 기수
				GROUP BY C_CODE, ACCT_CODE
				UNION ALL
				SELECT	C_CODE,
					ACCT_CODE,
					0 AMT,
					SUM(DR_AMT),
					SUM(CR_AMT)
				FROM	DIARYSUM
				WHERE	C_CODE = @NEW_CO_CD
				AND	ACCT_DATE BETWEEN @FR_DT AND @TO_DT
				GROUP BY C_CODE, ACCT_CODE
				) A, 
				( 
				SELECT * FROM TAXACCTCODE WHERE  PLUS_ACCT_CODE < '400'  OR  ( PLUS_ACCT_CODE >= '960' AND PLUS_ACCT_CODE <= '990' )
				) B, 
				( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE IN ('11','12') ) C,
				ACCTCODE D
			WHERE	A.C_CODE = B.C_CODE
			AND	A.ACCT_CODE = B.ACCT_CODE
			AND B.PLUS_ACCT_CODE NOT IN ('149', '151') 		
			AND B.PLUS_ACCT_CODE NOT IN ('375', '376','377','378','379','380') 
			AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
			AND	A.C_CODE = D.C_CODE
			AND	A.ACCT_CODE = D.ACCT_CODE

			UNION ALL  
			SELECT  '2' TY_ACT , 
				'56' STD_CD ,
				'375' AS CVT_CD ,
				'375' AS ACCT_CD,
				0 DR_AM ,
				ISNULL(X1.ACCT_AM,0) AS CR_AM   
			FROM   	(
				SELECT 	SUM( 
					CASE D.DRCR_GUBUN WHEN '1' THEN A.DR_AMT + A.AMT ELSE A.DR_AMT END -
					CASE D.DRCR_GUBUN WHEN '2' THEN A.CR_AMT + A.AMT ELSE A.CR_AMT END 
					) ACCT_AM 
				FROM	(
					SELECT	C_CODE,
						ACCT_CODE,
						SUM(AMT) AMT,
						0 DR_AMT,
						0 CR_AMT
					FROM	PREV_BS
					WHERE	C_CODE = @NEW_CO_CD
					AND	GISU = CONVERT(INT, @GISU)  -- 기수
					GROUP BY C_CODE, ACCT_CODE
					UNION ALL
					SELECT	C_CODE,
						ACCT_CODE,
						0 AMT,
						SUM(DR_AMT),
						SUM(CR_AMT)
					FROM	DIARYSUM
					WHERE	C_CODE = @NEW_CO_CD
					AND	ACCT_DATE BETWEEN @FR_DT AND @TO_DT
					GROUP BY C_CODE, ACCT_CODE
					) A, 
					TAXACCTCODE B, 
					( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE IN ('11','12'))  C,
					ACCTCODE D
				WHERE	A.C_CODE = B.C_CODE
				AND	A.ACCT_CODE = B.ACCT_CODE
				AND	( B.PLUS_ACCT_CODE < '400'  OR  ( B.PLUS_ACCT_CODE >= '960' AND B.PLUS_ACCT_CODE <= '990' ) )
				AND B.PLUS_ACCT_CODE NOT IN ('149', '151') 		
				AND B.PLUS_ACCT_CODE NOT IN ('375', '376','377','378','379','380') 
				AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
				AND	A.C_CODE = D.C_CODE
				AND	A.ACCT_CODE = D.ACCT_CODE
				) X1 
			)X 
		GROUP BY X.STD_CD, TY_ACT
		ORDER BY TY_ITEM , TY_ACT , CD_INDEX  
	END 
	ELSE 
	BEGIN
		SELECT 
			'2'  TY_ITEM ,
			X.STD_CD CD_INDEX, 
			TY_ACT , 
			SUBSTRING(@TO_DT,1,6) DM_SAVE ,
			SUM( CASE WHEN TY_ACT = '1' THEN ISNULL( X.DR_AM,0) -  ISNULL( X.CR_AM,0)  ELSE 0 END ) MN_TOTDR,
			SUM( CASE WHEN TY_ACT IN( '2','3' )  THEN ISNULL( X.CR_AM,0) -  ISNULL( X.DR_AM,0)  ELSE 0 END )  MN_TOTCR,
			SUM( ISNULL( X.DR_AM,0) ) MN_BALDR,
			SUM( ISNULL( X.CR_AM,0) ) MN_BALCR  
		FROM 	( 
			SELECT 	CASE WHEN B.PLUS_ACCT_CODE BETWEEN '101' AND '250' THEN '1' 
				WHEN B.PLUS_ACCT_CODE BETWEEN '961' AND '980' THEN '1' 
				WHEN B.PLUS_ACCT_CODE BETWEEN '251' AND '330' THEN '2' 
				WHEN B.PLUS_ACCT_CODE BETWEEN '331' AND '400'  THEN '2' 
				WHEN B.PLUS_ACCT_CODE BETWEEN '981' AND '990'  THEN '2' 
				ELSE '1' 	END TY_ACT, 
				C.SUM_GUBUN STD_CD,
				B.PLUS_ACCT_CODE CVT_CD,
				A.ACCT_CODE ACCT_CD,
				CASE D.DRCR_GUBUN WHEN '1' THEN A.DR_AMT + A.AMT ELSE A.DR_AMT END DR_AM,
				CASE D.DRCR_GUBUN WHEN '2' THEN A.CR_AMT + A.AMT ELSE A.CR_AMT END CR_AM
			FROM	(
				SELECT	C_CODE,
					ACCT_CODE,
					SUM(AMT) AMT,
					0 DR_AMT,
					0 CR_AMT
				FROM	PREV_BS
				WHERE	C_CODE = @NEW_CO_CD
				AND	GISU = CONVERT(INT, @GISU)  -- 기수
				GROUP BY C_CODE, ACCT_CODE
				UNION ALL
				SELECT	C_CODE,
					ACCT_CODE,
					0 AMT,
					SUM(DR_AMT),
					SUM(CR_AMT)
				FROM	DIARYSUM
				WHERE	C_CODE = @NEW_CO_CD
				AND	ACCT_DATE BETWEEN @FR_DT AND @TO_DT
				GROUP BY C_CODE, ACCT_CODE
				) A, 
				TAXACCTCODE B, 
				( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE IN ('13')) C,
				ACCTCODE D
			WHERE	A.C_CODE = B.C_CODE
			AND	A.ACCT_CODE = B.ACCT_CODE
			AND	( B.PLUS_ACCT_CODE < '400'  OR  ( B.PLUS_ACCT_CODE >= '960' AND B.PLUS_ACCT_CODE <= '990' ) )
									AND B.PLUS_ACCT_CODE NOT IN ('149', '151') 		
									AND B.PLUS_ACCT_CODE NOT IN ('375', '376','377','378','379','380') 
			AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
			AND	A.C_CODE = D.C_CODE
			AND	A.ACCT_CODE = D.ACCT_CODE

			UNION ALL 

			SELECT  '2' TY_ACT , 
				'78' STD_CD ,
				'375' AS CVT_CD ,
				'375' AS ACCT_CD,
				0 DR_AM ,
				ISNULL(X1.ACCT_AM,0) AS CR_AM   
			FROM   	(
				SELECT 	SUM( 
					CASE D.DRCR_GUBUN WHEN '1' THEN A.DR_AMT + A.AMT ELSE A.DR_AMT END -
					CASE D.DRCR_GUBUN WHEN '2' THEN A.CR_AMT + A.AMT ELSE A.CR_AMT END 
					) ACCT_AM 
				FROM	(
					SELECT	C_CODE,
						ACCT_CODE,
						SUM(AMT) AMT,
						0 DR_AMT,
						0 CR_AMT
					FROM	PREV_BS
					WHERE	C_CODE = @NEW_CO_CD
					AND	GISU = CONVERT(INT, @GISU)  -- 기수
					GROUP BY C_CODE, ACCT_CODE
					UNION ALL
					SELECT	C_CODE,
						ACCT_CODE,
						0 AMT,
						SUM(DR_AMT),
						SUM(CR_AMT)
					FROM	DIARYSUM
					WHERE	C_CODE = @NEW_CO_CD
					AND	ACCT_DATE BETWEEN @FR_DT AND @TO_DT
					GROUP BY C_CODE, ACCT_CODE
					) A, 
					TAXACCTCODE B, 
					( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE IN ('13')) C,
					ACCTCODE D
				WHERE	A.C_CODE = B.C_CODE
				AND	A.ACCT_CODE = B.ACCT_CODE
				AND	( B.PLUS_ACCT_CODE < '400'  OR  ( B.PLUS_ACCT_CODE >= '960' AND B.PLUS_ACCT_CODE <= '990' ) )
				AND B.PLUS_ACCT_CODE NOT IN ('149', '151') 		
				AND B.PLUS_ACCT_CODE NOT IN ('375', '376','377','378','379','380') 
				AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
				AND	A.C_CODE = D.C_CODE
				AND	A.ACCT_CODE = D.ACCT_CODE
 				) X1 
			)X 
		GROUP BY X.STD_CD, TY_ACT
		ORDER BY TY_ITEM , TY_ACT , CD_INDEX  
	END 
END

GO
