USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SCTRL_D]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW [DZAIS].[SCTRL_D]
AS
SELECT 'A' MODULE_CD
	,('4'+A.DATA_CODE) CTD_CD
	,'12' CTRL_CD
	,A.DATA_NAME CTD_NM
	,B.C_CODE CO_CD 
FROM  ACCOUNT_INFO A ,  BASE.DZBASE.COMPANYINFO B 
WHERE A.GUBUN_CODE = '005'

GO
