USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[RETAIN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[RETAIN](
	[RETAIN_CODE] [char](3) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[RETAIN_NAME] [varchar](40) NULL,
	[RETAIN_AMT] [numeric](15, 0) NOT NULL,
	[RETAIN_MOD] [char](1) NULL,
	[ACCT_CODE] [char](5) NULL
) ON [PRIMARY]
GO
