USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[EJEPURD]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[EJEPURD](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_YEAR] [char](12) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[SQ_NO] [numeric](6, 0) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[PUMMYUNG] [varchar](30) NULL,
	[QT] [numeric](15, 0) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[GONG_RATE_CODE] [char](1) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[EJE_GUBUN] [char](1) NOT NULL,
	[TAX_COUNT] [numeric](7, 0) NOT NULL,
 CONSTRAINT [PK_EJEPURD] PRIMARY KEY CLUSTERED 
(
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[GISU_GUBUN] ASC,
	[DATE_YEAR] ASC,
	[C_CODE] ASC,
	[S_IDNO] ASC,
	[SQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[EJEPURD] ADD  CONSTRAINT [DF__EJEPURD__BAL_DAT__1466F737]  DEFAULT ('00000000') FOR [BAL_DATE]
GO
ALTER TABLE [DZAIS].[EJEPURD] ADD  CONSTRAINT [DF__EJEPURD__QT__155B1B70]  DEFAULT ((0)) FOR [QT]
GO
ALTER TABLE [DZAIS].[EJEPURD] ADD  CONSTRAINT [DF__EJEPURD__GONG_AM__164F3FA9]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[EJEPURD] ADD  CONSTRAINT [DF__EJEPURD__TAX_AMT__174363E2]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[EJEPURD] ADD  CONSTRAINT [DF__EJEPURD__TAX_GUB__57B2EEB2]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
ALTER TABLE [DZAIS].[EJEPURD] ADD  CONSTRAINT [DF__EJEPURD__EJE_GUB__613C58EC]  DEFAULT ('1') FOR [EJE_GUBUN]
GO
ALTER TABLE [DZAIS].[EJEPURD] ADD  CONSTRAINT [DF__EJEPURD__TAX_COU__62307D25]  DEFAULT ((0)) FOR [TAX_COUNT]
GO
