USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_SUB]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_SUB](
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_NO] [numeric](6, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[TAXSUB_NO] [numeric](1, 0) NOT NULL,
	[DNODE_CODE] [varchar](4) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[MONDAY] [char](4) NULL,
	[PUMMOK] [varchar](100) NULL,
	[MU_SIZE] [varchar](20) NULL,
	[QTY] [numeric](15, 4) NULL,
	[PRICE] [numeric](15, 4) NULL,
	[SUPPLY_PRICE] [numeric](15, 4) NULL,
	[VAT_PRICE] [numeric](15, 0) NULL,
	[BIGO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[TAX_NO] ASC,
	[C_CODE] ASC,
	[TAXSUB_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_TAX_NO]  DEFAULT ((0)) FOR [TAX_NO]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_TAXSUB_NO]  DEFAULT ((0)) FOR [TAXSUB_NO]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_QTY]  DEFAULT ((0)) FOR [QTY]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_PRICE]  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_SUPPLY_PRICE]  DEFAULT ((0)) FOR [SUPPLY_PRICE]
GO
ALTER TABLE [DZAIS].[TAX_SUB] ADD  CONSTRAINT [DF_TAX_SUB_VAT_PRICE]  DEFAULT ((0)) FOR [VAT_PRICE]
GO
ALTER TABLE [DZAIS].[TAX_SUB]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
