USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ASSETMA]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ASSETMA](
	[ASSET_CODE] [char](7) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NULL,
	[ASSET_NAME] [varchar](60) NULL,
	[NODE_CODE] [varchar](4) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DECI_DATE] [char](8) NULL,
	[SLIP_NO] [numeric](4, 0) NULL,
	[DECI_NO] [numeric](4, 0) NULL,
	[LINE_NO] [numeric](4, 0) NULL,
	[DEPT_CODE1] [varchar](12) NULL,
	[PROJ_CODE] [varchar](12) NULL,
	[GETTM_GU] [char](1) NULL,
	[VEN_NAME] [varchar](30) NULL,
	[GET_DATE] [char](8) NULL,
	[GET_GUBUN] [char](2) NULL,
	[GUANT] [numeric](7, 0) NULL,
	[GET_AMT] [numeric](15, 0) NULL,
	[UP_JONG] [char](3) NULL,
	[LIFE_EXIST] [numeric](4, 0) NULL,
	[NDEPRE_RATE] [numeric](8, 4) NULL,
	[SDEPRE_TYPE] [char](1) NULL,
	[SDEPRE_RATE] [numeric](8, 4) NULL,
	[DEPR_METHOD] [char](1) NULL,
	[DEPRE_FYY] [char](4) NULL,
	[RDEPR_SYY] [char](4) NULL,
	[RDEPR_TERM] [numeric](1, 0) NULL,
	[DEPRF_YN] [char](1) NULL,
	[JUN_RESER] [numeric](15, 0) NULL,
	[JUN_QDEP] [numeric](15, 0) NULL,
	[GASSET_CODE] [char](7) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[LOCA] [varchar](50) NULL,
	[REMARK] [varchar](50) NULL,
	[GUBUN_CODE] [char](1) NULL,
	[CUST_CODE] [varchar](6) NULL,
 CONSTRAINT [PK_ASSETMA] PRIMARY KEY CLUSTERED 
(
	[ASSET_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ASSETMA] ADD  CONSTRAINT [DF_ASSETMA_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[ASSETMA] ADD  CONSTRAINT [DF_ASSETMA_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[ASSETMA] ADD  CONSTRAINT [DF_ASSETMA_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[ASSETMA]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETMA]  WITH CHECK ADD CHECK  (([GET_DATE]='00000000' OR [GET_DATE]>'19500101' AND [GET_DATE]<'21000101' AND CONVERT([datetime],[GET_DATE])=CONVERT([datetime],[GET_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETMA]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETMA]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
