USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVTOTRL]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVTOTRL](
	[CO_CD] [varchar](7) NOT NULL,
	[TOTAC_CD] [varchar](10) NOT NULL,
	[ACCT_CD] [varchar](10) NOT NULL,
 CONSTRAINT [PK_AVTOTRL] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[TOTAC_CD] ASC,
	[ACCT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
