USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VBASE_INVO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW [DZAIS].[VBASE_INVO] AS 
SELECT	NO_INVO, C_CODE, CD_CUST, DT_INVO, FG_USE, INSERT_GUBUN, DC_RMK FROM BASE.DZBASE.INVO

GO
