USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSGROUP_SUB]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSGROUP_SUB](
	[C_CODE] [varchar](4) NOT NULL,
	[FS_CODE] [char](3) NOT NULL,
	[GROUP_CODE] [char](4) NOT NULL,
	[GROUP_SUB] [char](4) NOT NULL,
 CONSTRAINT [PK_FSGROUP_SUB] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[FS_CODE] ASC,
	[GROUP_CODE] ASC,
	[GROUP_SUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
