USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVNON_D]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVNON_D](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[NON_CD] [varchar](3) NOT NULL,
	[LN_SQ] [numeric](7, 0) NOT NULL,
	[PRT_TM2] [varchar](6) NULL,
	[WORK_FG] [varchar](1) NOT NULL,
	[CT_AM1] [numeric](17, 4) NULL,
	[CT_AM2] [numeric](17, 4) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
 CONSTRAINT [PK_AVNON_D] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[NON_CD] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVNON_D] ADD  CONSTRAINT [DF__AVNON_D__LN_SQ__2200E977]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVNON_D] ADD  CONSTRAINT [DF__AVNON_D__CT_AM1__22F50DB0]  DEFAULT ((0)) FOR [CT_AM1]
GO
ALTER TABLE [DZAIS].[AVNON_D] ADD  CONSTRAINT [DF__AVNON_D__CT_AM2__23E931E9]  DEFAULT ((0)) FOR [CT_AM2]
GO
ALTER TABLE [DZAIS].[AVNON_D] ADD  CONSTRAINT [DF__AVNON_D__SINGO_F__24DD5622]  DEFAULT ('0') FOR [SINGO_FG]
GO
