USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SITEM]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE   VIEW [DZAIS].[SITEM]    
AS    
SELECT	C_CODE CO_CD,
	CD_ITEM ITEM_CD,
	NM_ITEM ITEM_NM
FROM	VBASE_ITEM

GO
