USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TEMP_PJT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TEMP_PJT](
	[DEPT_CODE] [varchar](12) NOT NULL,
	[DEPT_NAME] [varchar](30) NOT NULL,
	[TITLE] [varchar](50) NOT NULL,
	[TCODE] [varchar](5) NOT NULL,
	[CJMODE] [char](1) NOT NULL,
	[CREAMT] [numeric](15, 0) NOT NULL,
	[LAST_AMT] [numeric](15, 0) NOT NULL,
	[BUDGET_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_TEMPPJT] PRIMARY KEY NONCLUSTERED 
(
	[TCODE] ASC,
	[DEPT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TEMP_PJT] ADD  CONSTRAINT [DF__TEMP_PJT__CREAMT__00200768]  DEFAULT ((0)) FOR [CREAMT]
GO
ALTER TABLE [DZAIS].[TEMP_PJT] ADD  CONSTRAINT [DF__TEMP_PJT__LAST_A__21ABE3BC]  DEFAULT ((0)) FOR [LAST_AMT]
GO
ALTER TABLE [DZAIS].[TEMP_PJT] ADD  CONSTRAINT [DF__TEMP_PJT__BUDGET__22A007F5]  DEFAULT ((0)) FOR [BUDGET_AMT]
GO
