USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CAPITALIST]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CAPITALIST](
	[C_CODE] [varchar](4) NOT NULL,
	[GROUP_CODE] [varchar](4) NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[CAP_GUBUN] [char](1) NOT NULL,
	[SORT_NO] [numeric](4, 0) NOT NULL,
	[MD_GUBUN] [char](1) NOT NULL,
	[HNAME] [varchar](50) NOT NULL,
	[ENAME] [varchar](50) NOT NULL,
	[CNAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CAPITALIST] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GROUP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CAPITALIST] ADD  CONSTRAINT [DF__CAPITALIS__MD_GU__77809FC6]  DEFAULT ('1') FOR [MD_GUBUN]
GO
