USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CARDTRADE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CARDTRADE](
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_YEAR] [char](4) NOT NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SERIAL_NO] [numeric](6, 0) NOT NULL,
	[BAL_DATE] [char](4) NOT NULL,
	[S_IDNO] [varchar](10) NOT NULL,
	[PUMMOK] [varchar](30) NULL,
	[VEN_NAME] [varchar](30) NULL,
	[DNAME] [varchar](30) NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_VAT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_CARDTRADE] PRIMARY KEY NONCLUSTERED 
(
	[NODE_CODE] ASC,
	[TAX_YEAR] ASC,
	[DECI_DATE] ASC,
	[C_CODE] ASC,
	[SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CARDTRADE] ADD  CONSTRAINT [DF__CARDTRADE__TAX_Y__6E414E4F]  DEFAULT ('0000') FOR [TAX_YEAR]
GO
ALTER TABLE [DZAIS].[CARDTRADE] ADD  CONSTRAINT [DF__CARDTRADE__DECI___6F357288]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[CARDTRADE] ADD  CONSTRAINT [DF__CARDTRADE__SERIA__702996C1]  DEFAULT ((0)) FOR [SERIAL_NO]
GO
ALTER TABLE [DZAIS].[CARDTRADE] ADD  CONSTRAINT [DF__CARDTRADE__GONG___711DBAFA]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[CARDTRADE] ADD  CONSTRAINT [DF__CARDTRADE__TAX_V__7211DF33]  DEFAULT ((0)) FOR [TAX_VAT]
GO
