USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DISTTEMP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DISTTEMP](
	[ACCT_TYPE] [char](2) NOT NULL,
	[ACCT_CODE] [varchar](12) NOT NULL,
	[ACCT_NAME] [varchar](40) NOT NULL,
	[TYPE_CODE] [varchar](12) NOT NULL,
	[TYPE_NAME] [varchar](30) NOT NULL,
	[AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_DISTTEMP] PRIMARY KEY CLUSTERED 
(
	[ACCT_TYPE] ASC,
	[ACCT_CODE] ASC,
	[TYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
