USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DZAIS_LOG]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DZAIS_LOG](
	[JOB_IP] [varchar](100) NULL,
	[JOB_NAME] [varchar](100) NULL,
	[JOB_TIME] [datetime] NULL,
	[JOB_INFO] [varchar](200) NULL
) ON [PRIMARY]
GO
