USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[NEW_CFLOW]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[NEW_CFLOW](
	[CFLOW_CODE] [char](4) NOT NULL,
	[FROMTO_MON] [char](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[CFLOW_BASEAMT] [numeric](15, 0) NOT NULL,
	[CFLOW_MODIAMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_NEW_CFLOW] PRIMARY KEY CLUSTERED 
(
	[CFLOW_CODE] ASC,
	[FROMTO_MON] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[NEW_CFLOW] ADD  CONSTRAINT [DF__NEW_CFLOW__CFLOW__77CAB889]  DEFAULT ((0)) FOR [CFLOW_BASEAMT]
GO
ALTER TABLE [DZAIS].[NEW_CFLOW] ADD  CONSTRAINT [DF__NEW_CFLOW__CFLOW__78BEDCC2]  DEFAULT ((0)) FOR [CFLOW_MODIAMT]
GO
