USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVMONSALE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVMONSALE](
	[FR_YM] [varchar](6) NOT NULL,
	[TO_YM] [varchar](6) NOT NULL,
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[LN_SQ] [numeric](5, 0) NOT NULL,
	[ISS_DT] [varchar](8) NULL,
	[TR_CD] [varchar](15) NULL,
	[TR_NM] [varchar](40) NULL,
	[REG_NB] [nvarchar](100) NULL,
	[ITEM_DC] [varchar](40) NULL,
	[PUR_QT] [numeric](15, 4) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[RMK_DC] [varchar](40) NULL,
	[ISU_DT] [varchar](20) NULL,
	[ISU_SQ] [numeric](6, 0) NULL,
	[LN_SQ2] [numeric](6, 0) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
 CONSTRAINT [PK_AVMONSALE] PRIMARY KEY CLUSTERED 
(
	[FR_YM] ASC,
	[TO_YM] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[SINGO_FG] ASC,
	[RPT_TM] ASC,
	[LN_SQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVMONSALE] ADD  CONSTRAINT [DF__AVMONSALE__FR_YM__79F2F81D]  DEFAULT ('000000') FOR [FR_YM]
GO
ALTER TABLE [DZAIS].[AVMONSALE] ADD  CONSTRAINT [DF__AVMONSALE__TO_YM__7AE71C56]  DEFAULT ('000000') FOR [TO_YM]
GO
ALTER TABLE [DZAIS].[AVMONSALE] ADD  CONSTRAINT [DF__AVMONSALE__SINGO__7BDB408F]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVMONSALE] ADD  CONSTRAINT [DF__AVMONSALE__LN_SQ__7CCF64C8]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVMONSALE] ADD  CONSTRAINT [DF__AVMONSALE__ISS_D__7DC38901]  DEFAULT ('00000000') FOR [ISS_DT]
GO
ALTER TABLE [DZAIS].[AVMONSALE] ADD  CONSTRAINT [DF__AVMONSALE__PUR_Q__7EB7AD3A]  DEFAULT ((0)) FOR [PUR_QT]
GO
ALTER TABLE [DZAIS].[AVMONSALE] ADD  CONSTRAINT [DF__AVMONSALE__SUP_A__7FABD173]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[AVMONSALE] ADD  CONSTRAINT [DF__AVMONSALE__ISU_S__009FF5AC]  DEFAULT ((0)) FOR [ISU_SQ]
GO
ALTER TABLE [DZAIS].[AVMONSALE] ADD  CONSTRAINT [DF__AVMONSALE__LN_SQ__019419E5]  DEFAULT ((0)) FOR [LN_SQ2]
GO
