USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VBBOARD_APPEND]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [DZAIS].[VBBOARD_APPEND] AS
SELECT * FROM BASE.DZBASE.BOARD_APPEND


GO
