USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVJEONJA_TEMP]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVJEONJA_TEMP](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[FORM_CD] [varchar](4) NOT NULL,
	[RPT_TM] [varchar](6) NULL,
	[FORM_NM] [varchar](50) NULL,
	[USE_YN] [varchar](1) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DT] [varchar](8) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
 CONSTRAINT [PK_AVJEONJA_TEMP] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[FORM_CD] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVJEONJA_TEMP] ADD  CONSTRAINT [DF__AVJEONJA___SINGO__77168B72]  DEFAULT ('0') FOR [SINGO_FG]
GO
