USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DUAL]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DUAL](
	[C_CODE] [varchar](4) NOT NULL
) ON [PRIMARY]
GO
