USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_MULTI_PARAMETERS]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE          PROCEDURE [DZAIS].[USP_MULTI_PARAMETERS]
(
@STR_PARAMETERS VARCHAR(8000)
)
AS
/*************************************************************************/
--설    명 : 전모듈 다중파라미터의 문자열을 테이블로 리턴
--수 정 자 : 김경인 
--수정내역 : 
---	2007/11/01 : 임시테이블형태로 변경
/*************************************************************************/
BEGIN

IF( DATALENGTH( ISNULL( @STR_PARAMETERS, '' ) ) = 0 ) RETURN

CREATE TABLE #RETURN_PARAMETERS(STR_PARAMETER VARCHAR(8000)  NULL)

DECLARE @STR_PARAMETERS_TEMP VARCHAR(8000)
DECLARE @FIRST INT
DECLARE @LAST INT
DECLARE @FIRST_TEMP INT

SET @FIRST_TEMP = 1
SET @STR_PARAMETERS_TEMP = SUBSTRING( @STR_PARAMETERS, @FIRST_TEMP, 8000 )

WHILE( DATALENGTH( ISNULL( @STR_PARAMETERS_TEMP, '' ) ) > 0 )
BEGIN

	SET @FIRST = 0
	SET @LAST = 1

	WHILE( 1 = 1 )
	BEGIN

		SET @LAST = CHARINDEX( '|', @STR_PARAMETERS_TEMP, @FIRST + 1 )

		IF( @LAST = 0 ) BREAK;
	
		INSERT INTO #RETURN_PARAMETERS VALUES ( SUBSTRING( @STR_PARAMETERS_TEMP, @FIRST + 1, @LAST - @FIRST - 1 ) )

		SET @FIRST = @LAST

	END

	IF( @FIRST = 0 ) RETURN

	SET @FIRST_TEMP = @FIRST_TEMP + @FIRST
	SET @STR_PARAMETERS_TEMP = SUBSTRING( @STR_PARAMETERS, @FIRST_TEMP, 8000 )

	SELECT STR_PARAMETER FROM #RETURN_PARAMETERS
END

RETURN
END

ERROR:
SET NOCOUNT OFF
RAISERROR('ERROR', 16, 1 )
RETURN

GO
