USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ESTATE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ESTATE](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_YEAR] [char](4) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[SERIAL_NO] [numeric](3, 0) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[TRAN_DATE] [char](8) NULL,
	[BU_ADDRESS] [varchar](100) NULL,
	[BU_MYUN] [numeric](7, 2) NOT NULL,
 CONSTRAINT [PK_ESTATE] PRIMARY KEY CLUSTERED 
(
	[NODE_CODE] ASC,
	[GISU_GUBUN] ASC,
	[DATE_YEAR] ASC,
	[C_CODE] ASC,
	[SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ESTATE] ADD  CONSTRAINT [DF__ESTATE__BAL_DATE__1FD8A9E3]  DEFAULT ('00000000') FOR [BAL_DATE]
GO
ALTER TABLE [DZAIS].[ESTATE] ADD  CONSTRAINT [DF__ESTATE__GONG_AMT__20CCCE1C]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[ESTATE] ADD  CONSTRAINT [DF__ESTATE__TAX_AMT__21C0F255]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[ESTATE] ADD  CONSTRAINT [DF__ESTATE__BU_MYUN__22B5168E]  DEFAULT ((0)) FOR [BU_MYUN]
GO
