USE [DZAIS]
GO
/****** Object:  View [DZAIS].[STAXO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE  VIEW [DZAIS].[STAXO] 
 AS
SELECT 	TAX_CODE TAXO_CD,	
	TAX_NAME TAO_NM,
	TAX_GEGUA TAOBA,		
	TAX_TCODE BELONG_CD,		
	CASE 	WHEN TAX_TCODE = '1' THEN '서울청'
   		WHEN TAX_TCODE = '2' THEN '중부청'
		WHEN TAX_TCODE = '7' THEN '대전청'
		WHEN TAX_TCODE = '5' THEN '광주청'
		WHEN TAX_TCODE = '6' THEN '대구청'
		WHEN TAX_TCODE = '4' THEN '부산청'
		ELSE '***' END BELONG_NM,
	TAX_GEGUA TAOBA_NB
FROM	BASE.DZBASE.TAXCODE

GO
