USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVASSET]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVASSET](
	[FR_YM] [nvarchar](6) NOT NULL,
	[TO_YM] [nvarchar](6) NOT NULL,
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[DOC_FG] [nvarchar](1) NOT NULL,
	[LN_SQ] [numeric](5, 0) NOT NULL,
	[ASSET_FG] [nvarchar](1) NULL,
	[ISS_DT] [nvarchar](8) NULL,
	[TR_CD] [nvarchar](10) NULL,
	[TR_NM] [nvarchar](40) NULL,
	[REG_NB] [nvarchar](100) NULL,
	[ITEM_DC] [nvarchar](40) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[MATT_CNT] [numeric](15, 4) NULL,
	[RMK_DC] [nvarchar](40) NULL,
	[ISU_DT] [nvarchar](8) NULL,
	[ISU_SQ] [numeric](5, 0) NULL,
	[LN_SQ2] [numeric](3, 0) NULL,
	[DUMMY1] [nvarchar](20) NULL,
	[DUMMY2] [nvarchar](20) NULL,
	[DUMMY3] [nvarchar](20) NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[DATA_CD] [varchar](50) NULL,
 CONSTRAINT [PK_AVASSET] PRIMARY KEY CLUSTERED 
(
	[FR_YM] ASC,
	[TO_YM] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[DOC_FG] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVASSET] ADD  CONSTRAINT [DF__AVASSET__SINGO_F__6438C128]  DEFAULT ('0') FOR [SINGO_FG]
GO
