USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_STDWONGASHEET]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 

CREATE  PROC [DZAIS].[USP_IPLUS_STDWONGASHEET]
(
	@CO_CD				VARCHAR(4), 		-- 회사코드 ( 필수 )
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8),
	@TYPE				VARCHAR(1)  	 
	 
)
--WITH ENCRYPTION
AS
/*************************************************************************/
--설    명 : 회계관리 - 법인조정 - 표준원가보고서  
--수 정 자 : 김대영
--수정일자 : 2010/01/18
--수정내역 : 2010/01/18 : 신규 
/***/
BEGIN  
   
	-- EXEC [USP_IPLUS_COR_STDWONGASHEET_SELECT] '8002','11','20090101','20091231' ,'1' 

	DECLARE @NEW_CO_CD VARCHAR(4),
		@P_TYPE CHAR(2)	-- 31:제조 32:공사 33:임대 34: 분양 35:운송 36:기타 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD
	SET @P_TYPE = '3' + @TYPE
	
	SELECT	@TYPE TY_TC, 
		X.STD_CD  CD_INDEX,  
		SUM( ISNULL(X.AMT,0) ) THIS_P
	FROM 	( 
		SELECT	C.SUM_GUBUN AS STD_CD,
			B.PLUS_ACCT_CODE AS CVT_CD,
			A.ACCT_CODE,
			CASE WHEN D.DRCR_GUBUN = '1' AND B.PLUS_ACCT_CODE NOT IN ('641','642','741','742')THEN A.DR_AMT
				 WHEN @TYPE IN ('2', '4') AND B.PLUS_ACCT_CODE IN ('641','741') THEN A.DR_AMT
				 WHEN @TYPE IN ('2', '4') AND B.PLUS_ACCT_CODE IN ('642','742') THEN -A.CR_AMT
			 ELSE 0 END AS AMT
		FROM	DIARYSUM A, 
			TAXACCTCODE B, 
			( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE = @P_TYPE ) C,
			ACCTCODE D
		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '501' AND '800'
		AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
		AND	A.C_CODE = D.C_CODE
		AND	A.ACCT_CODE = D.ACCT_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT

		UNION ALL 

		SELECT	ISNULL(CASE WHEN @TYPE  IN ('1','2','6') AND B.PLUS_ACCT_CODE BETWEEN '153' AND '165' THEN '02' 
				WHEN @TYPE  IN ('4') AND B.PLUS_ACCT_CODE BETWEEN '153' AND '165' THEN '04' 
				ELSE '0' END ,'0') AS STD_CD ,
			B.PLUS_ACCT_CODE AS CVT_CD,
			A.ACCT_CODE,
			CASE WHEN C.GUBUN5 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('153', '162') THEN A.AMT WHEN B.PLUS_ACCT_CODE IN('154', '155', '163', '164' ) THEN - A.AMT ELSE 0 END
				WHEN C.GUBUN6 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN ('156') THEN A.AMT WHEN B.PLUS_ACCT_CODE IN ('157', '158') THEN -A.AMT ELSE 0 END 
				WHEN C.GUBUN7 = @TYPE THEN 
					CASE WHEN B.PLUS_ACCT_CODE IN ('159', '165') THEN A.AMT WHEN B.PLUS_ACCT_CODE IN ('160', '161') THEN -A.AMT ELSE 0 END
			ELSE 0 END AS AMT

		FROM	PREV_BS A, 
			TAXACCTCODE B, 
			TAXCOMPANYINFO C 

		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '146' AND '175'
		AND	A.C_CODE = C.C_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.GISU = CONVERT(INT, @GISU)  -- 기수

		UNION ALL 

		SELECT	ISNULL(CASE WHEN @TYPE  IN ('1','2','6') AND B.PLUS_ACCT_CODE BETWEEN '153' AND '165' THEN '03' 
				WHEN @TYPE  IN ('4') AND B.PLUS_ACCT_CODE BETWEEN '153' AND '165' THEN '05' 
				ELSE '0' END ,'0') AS STD_CD ,
			B.PLUS_ACCT_CODE AS CVT_CD,
			A.ACCT_CODE,
			CASE WHEN C.GUBUN5 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('153', '162') THEN A.DR_AMT - A.OUT_AMT 
						WHEN B.PLUS_ACCT_CODE IN('154', '155', '163', '164' ) THEN A.DR_AMT - A.CR_AMT ELSE 0 END
				WHEN C.GUBUN6 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN ('156') THEN A.DR_AMT - A.OUT_AMT 
						WHEN B.PLUS_ACCT_CODE IN ('157', '158') THEN A.DR_AMT - A.CR_AMT ELSE 0 END 
				WHEN C.GUBUN7 = @TYPE THEN 
					CASE WHEN B.PLUS_ACCT_CODE IN ('159', '165') THEN A.DR_AMT - A.OUT_AMT 
						WHEN B.PLUS_ACCT_CODE IN ('160', '161') THEN A.DR_AMT - A.OUT_AMT - A.CR_AMT ELSE 0 END
			ELSE 0 END AS AMT

		FROM	DIARYSUM A,
			TAXACCTCODE B,
			TAXCOMPANYINFO C 

		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '146' AND  '175'
		AND	A.C_CODE = C.C_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT

		UNION ALL 

		SELECT	ISNULL(CASE WHEN @TYPE  IN ('1','2','6') AND B.PLUS_ACCT_CODE BETWEEN '153' AND '165' THEN '04' 
				WHEN @TYPE  IN ('4') AND B.PLUS_ACCT_CODE BETWEEN '153' AND '165' THEN '06' 
				ELSE '0' END ,'0') AS STD_CD ,
			B.PLUS_ACCT_CODE AS CVT_CD,
			A.ACCT_CODE,
			CASE WHEN C.GUBUN5 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('153', '162') THEN A.AMT WHEN B.PLUS_ACCT_CODE IN('154', '155', '163', '164' ) THEN - A.AMT ELSE 0 END
				WHEN C.GUBUN6 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN ('156') THEN A.AMT WHEN B.PLUS_ACCT_CODE IN ('157', '158') THEN -A.AMT ELSE 0 END 
				WHEN C.GUBUN7 = @TYPE THEN 
					CASE WHEN B.PLUS_ACCT_CODE IN ('159', '165') THEN A.AMT WHEN B.PLUS_ACCT_CODE IN ('160', '161') THEN -A.AMT ELSE 0 END
			ELSE 0 END AS AMT

		FROM	PREV_BS A, 
			TAXACCTCODE B,
			TAXCOMPANYINFO C 

		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '146' AND '175'
		AND	A.C_CODE = C.C_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.GISU = CONVERT(INT, @GISU)  -- 기수

		UNION ALL 

		SELECT	ISNULL(CASE WHEN @TYPE  IN ('1','2','6') AND B.PLUS_ACCT_CODE BETWEEN '153' AND '165' THEN '04' 
				WHEN @TYPE IN ('4') AND B.PLUS_ACCT_CODE BETWEEN '153' AND '165' THEN '06' 
				ELSE '0' END ,'0') AS STD_CD ,
			B.PLUS_ACCT_CODE AS CVT_CD,
			A.ACCT_CODE,
			CASE WHEN C.GUBUN5 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('153', '162') THEN A.DR_AMT - A.CR_AMT ELSE 0 END
				WHEN C.GUBUN6 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN ('156') THEN A.DR_AMT - A.CR_AMT ELSE 0 END 
				WHEN C.GUBUN7 = @TYPE THEN 
					CASE WHEN B.PLUS_ACCT_CODE IN ('159', '165') THEN A.DR_AMT - A.CR_AMT ELSE 0 END
			ELSE 0 END AS AMT

		FROM	DIARYSUM A,
			TAXACCTCODE B,
			TAXCOMPANYINFO C 

		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '146' AND  '175'
		AND	A.C_CODE = C.C_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT

		UNION ALL 

		SELECT	CASE WHEN @TYPE  = '1' THEN '30' 
				WHEN @TYPE  = '2' THEN '28' 
				WHEN @TYPE  = '4' THEN '30' 
				WHEN @TYPE  = '6' THEN '28' 
			ELSE '0' END AS STD_CD ,
			B.PLUS_ACCT_CODE AS CVT_CD,
			A.ACCT_CODE,
			CASE WHEN C.GUBUN5 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('169') THEN A.AMT ELSE 0 END
				WHEN C.GUBUN6 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('170') THEN A.AMT ELSE 0 END
				WHEN C.GUBUN7 = @TYPE THEN 
					CASE WHEN B.PLUS_ACCT_CODE IN('171') THEN A.AMT ELSE 0 END
			ELSE 0 END AS AMT

		FROM	(
			SELECT	C_CODE,
				ACCT_CODE,
				SUM(AMT) AMT,
				0 DR_AMT,
				0 CR_AMT
			FROM	PREV_BS
			WHERE	C_CODE = @NEW_CO_CD
			AND	GISU = CONVERT(INT, @GISU)  -- 기수
			GROUP BY C_CODE, ACCT_CODE
			) A, 
			TAXACCTCODE B, 
			TAXCOMPANYINFO C 

		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '169' AND  '171'
		AND	A.C_CODE = C.C_CODE

		UNION ALL 

		SELECT	CASE WHEN @TYPE  = '1' THEN '32' 
				WHEN @TYPE  = '2' THEN '30' 
				WHEN @TYPE  = '4' THEN '32' 
				WHEN @TYPE  = '6' THEN '30' 
			ELSE '0' END AS STD_CD ,
			B.PLUS_ACCT_CODE AS CVT_CD,
			A.ACCT_CODE,
			CASE WHEN C.GUBUN5 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('169') THEN A.DR_AMT - A.CR_AMT + A.AMT ELSE 0 END
				WHEN C.GUBUN6 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('170') THEN A.DR_AMT - A.CR_AMT + A.AMT ELSE 0 END
				WHEN C.GUBUN7 = @TYPE THEN 
					CASE WHEN B.PLUS_ACCT_CODE IN('171') THEN A.DR_AMT - A.CR_AMT + A.AMT ELSE 0 END
			ELSE 0 END AS AMT

		FROM	(
			SELECT	C_CODE,
				ACCT_CODE,
				SUM(AMT) AMT,
				0 DR_AMT,
				0 CR_AMT
			FROM	PREV_BS
			WHERE	C_CODE = @NEW_CO_CD
			AND	GISU = CONVERT(INT, @GISU)  -- 기수
			GROUP BY C_CODE, ACCT_CODE
			UNION ALL
			SELECT	C_CODE,
				ACCT_CODE,
				0 AMT,
				SUM(DR_AMT),
				SUM(CR_AMT)
			FROM	DIARYSUM
			WHERE	C_CODE = @NEW_CO_CD
			AND	ACCT_DATE BETWEEN @FR_DT AND @TO_DT
			GROUP BY C_CODE, ACCT_CODE
			) A, 
			TAXACCTCODE B, 
			TAXCOMPANYINFO C 

		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '169' AND  '171'
		AND	A.C_CODE = C.C_CODE

		UNION ALL 

		SELECT	CASE WHEN @TYPE  = '1' THEN '33' 
				WHEN @TYPE  = '2' THEN '31' 
				WHEN @TYPE  = '4' THEN '33' 
				WHEN @TYPE  = '6' THEN '31' 
			ELSE '0' END AS STD_CD ,
			B.PLUS_ACCT_CODE AS CVT_CD,
			A.ACCT_CODE,
			CASE WHEN C.GUBUN5 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('169') THEN A.OUT_AMT - A.IN_AMT ELSE 0 END
				WHEN C.GUBUN6 = @TYPE THEN
					CASE WHEN B.PLUS_ACCT_CODE IN('170') THEN A.OUT_AMT - A.IN_AMT ELSE 0 END
				WHEN C.GUBUN7 = @TYPE THEN 
					CASE WHEN B.PLUS_ACCT_CODE IN('171') THEN A.OUT_AMT - A.IN_AMT ELSE 0 END
			ELSE 0 END AS AMT

		FROM	DIARYSUM A,
			TAXACCTCODE B,
			TAXCOMPANYINFO C 

		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '169' AND  '171'
		AND	A.C_CODE = C.C_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT
	)X 
	WHERE ISNULL(X.STD_CD,'0') <>'0' 
	AND ISNULL(X.AMT,0)  <> 0  

	GROUP BY X.STD_CD 
	ORDER BY X.STD_CD

END

GO
