USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_AUTODOCU_UNION_PROC]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	
CREATE       PROCEDURE [DZAIS].[P_AUTODOCU_UNION_PROC]
	(	@I_AUTODOCU_C_CODE		VARCHAR(4),
		@I_AUTODOCU_NODE_CODE	VARCHAR(4),
		@I_AUTODOCU_DEPT_CODE	VARCHAR(12),
		@I_AUTODOCU_DATA_GUBUN	VARCHAR(2),
		@I_AUTODOCU_WRITE_DATE	CHAR(8),
		@I_AUTODOCU_DATA_NO		NUMERIC(4, 0),
		@I_DOCU_NODE_CODE		VARCHAR(4),
		@I_DOCU_DEPT_CODE		VARCHAR(12),
		@I_DOCU_DECI_DATE		CHAR(8),
		@I_DOCU_DECI_NO		NUMERIC(4, 0),	-- 파라미터로 넘겨줌 @I_DOCU_DECI_NO	
		@I_TAX_NODE_CODE		VARCHAR(4),
		@I_SA_CODE			VARCHAR(10)	
	) 
AS
--[2008/01/10] 류재욱 : 부가세있는경우 DOCUDD M56 관리항목 부가세 사업장으로 처리해준다 
DECLARE	@AUTODOCU_DOCU_STAT		CHAR(1),
		@AUTODOCU_DOCU_TYPE		CHAR(2),
		@AUTODOCU_DOCU_GUBUN	CHAR(1),
		@AUTODOCU_DR_AMT		NUMERIC(15, 0),
		@AUTODOCU_CR_AMT		NUMERIC(15, 0),
		@TAX_TAX_NO			NUMERIC(6, 0),
		@TAXRELA_DATA_LINE		NUMERIC(4, 0),
		@TAXRELA_DATA_SLIP		NUMERIC(4, 0),
		@TAXRELA_VEN_TYPE		CHAR(1),
		@TAXRELA_TAX_GU		CHAR(2),
		@TAXRELA_S_IDNO		VARCHAR(15),
		@RECEPTRELA_DATA_LINE	NUMERIC(4, 0),
		@RECEPTRELA_DATA_SLIP	NUMERIC(4, 0),
		@RECEPTRELA_BAL_DATE		CHAR(8), 
		@BAL_SEQ			NUMERIC(4,0),
		@ACCT_COUNT			INT,
		@COUNT			INT,
		@BAN_NODE_CODE		VARCHAR(4), 
		@BAN_DEPT_CODE		VARCHAR(12), 
		@BAN_DECI_DATE		CHAR(8),
		@BAN_DECI_NO			NUMERIC(4,0),
		@BAN_LINE_NO			NUMERIC(4,0),
		@BAN_SLIP_NO			NUMERIC(4,0),
		@DOCU_LINE_NO			NUMERIC(4,0),
		@BAN_EXIST			CHAR(1),
		@TAXRELA_EXIST			CHAR(1),
		@ERROR_TEXT			VARCHAR(50)
DECLARE CUR_AUTODOCU_PROC_TAX CURSOR FOR
	SELECT	A.DATA_LINE,
		A.DATA_SLIP,
		A.VEN_TYPE,
		A.TAX_GU,
		A.S_IDNO
	FROM	TAXRELA A
	WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
	AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
BEGIN
	UPDATE	AUTODOCU
	SET	CHECK_CODE1 = CASE CHECK_CODE1 WHEN '' THEN NULL ELSE CHECK_CODE1 END,
		CHECK_CODE2 = CASE CHECK_CODE2 WHEN '' THEN NULL ELSE CHECK_CODE2 END,
		CHECK_CODE3 = CASE CHECK_CODE3 WHEN '' THEN NULL ELSE CHECK_CODE3 END,
		CHECK_CODE4 = CASE CHECK_CODE4 WHEN '' THEN NULL ELSE CHECK_CODE4 END,
		CHECK_CODE5 = CASE CHECK_CODE5 WHEN '' THEN NULL ELSE CHECK_CODE5 END,
		CHECK_CODE6 = CASE CHECK_CODE6 WHEN '' THEN NULL ELSE CHECK_CODE6 END,
		CHECK_CODE7 = CASE CHECK_CODE7 WHEN '' THEN NULL ELSE CHECK_CODE7 END,
		CHECK_CODE8 = CASE CHECK_CODE8 WHEN '' THEN NULL ELSE CHECK_CODE8 END,
		CHECK_CODE9 = CASE CHECK_CODE9 WHEN '' THEN NULL ELSE CHECK_CODE9 END,
		CHECK_CODE10 = CASE CHECK_CODE10 WHEN '' THEN NULL ELSE CHECK_CODE10 END,
		CHECKD_CODE1 = CASE CHECKD_CODE1 WHEN '' THEN NULL ELSE CHECKD_CODE1 END,
		CHECKD_CODE2 = CASE CHECKD_CODE2 WHEN '' THEN NULL ELSE CHECKD_CODE2 END,
		CHECKD_CODE3 = CASE CHECKD_CODE3 WHEN '' THEN NULL ELSE CHECKD_CODE3 END,
		CHECKD_CODE4 = CASE CHECKD_CODE4 WHEN '' THEN NULL ELSE CHECKD_CODE4 END,
		CHECKD_CODE5 = CASE CHECKD_CODE5 WHEN '' THEN NULL ELSE CHECKD_CODE5 END,
		CHECKD_CODE6 = CASE CHECKD_CODE6 WHEN '' THEN NULL ELSE CHECKD_CODE6 END,
		CHECKD_CODE7 = CASE CHECKD_CODE7 WHEN '' THEN NULL ELSE CHECKD_CODE7 END,
		CHECKD_CODE8 = CASE CHECKD_CODE8 WHEN '' THEN NULL ELSE CHECKD_CODE8 END,
		CHECKD_CODE9 = CASE CHECKD_CODE9 WHEN '' THEN NULL ELSE CHECKD_CODE9 END,
		CHECKD_CODE10 = CASE CHECKD_CODE10 WHEN '' THEN NULL ELSE CHECKD_CODE10 END,
		CHECKD_NAME1 = CASE CHECKD_NAME1 WHEN '' THEN NULL ELSE CHECKD_NAME1 END,
		CHECKD_NAME2 = CASE CHECKD_NAME2 WHEN '' THEN NULL ELSE CHECKD_NAME2 END,
		CHECKD_NAME3 = CASE CHECKD_NAME3 WHEN '' THEN NULL ELSE CHECKD_NAME3 END,
		CHECKD_NAME4 = CASE CHECKD_NAME4 WHEN '' THEN NULL ELSE CHECKD_NAME4 END,
		CHECKD_NAME5 = CASE CHECKD_NAME5 WHEN '' THEN NULL ELSE CHECKD_NAME5 END,
		CHECKD_NAME6 = CASE CHECKD_NAME6 WHEN '' THEN NULL ELSE CHECKD_NAME6 END,
		CHECKD_NAME7 = CASE CHECKD_NAME7 WHEN '' THEN NULL ELSE CHECKD_NAME7 END,
		CHECKD_NAME8 = CASE CHECKD_NAME8 WHEN '' THEN NULL ELSE CHECKD_NAME8 END,
		CHECKD_NAME9 = CASE CHECKD_NAME9 WHEN '' THEN NULL ELSE CHECKD_NAME9 END,
		CHECKD_NAME10 = CASE CHECKD_NAME10 WHEN '' THEN NULL ELSE CHECKD_NAME10 END, 
		BAN_DECI_DATE = CASE BAN_DECI_DATE WHEN '' THEN '00000000' ELSE BAN_DECI_DATE END
	WHERE	(	CHECKD_CODE1 = ''
		OR	CHECKD_CODE2 = ''
		OR	CHECKD_CODE3 = ''
		OR	CHECKD_CODE4 = ''
		OR	CHECKD_CODE5 = ''
		OR	CHECKD_CODE6 = ''
		OR	CHECKD_CODE7 = ''
		OR	CHECKD_CODE8 = ''
		OR	CHECKD_CODE9 = ''
		OR	CHECKD_CODE10 = '' 
		OR	CHECKD_CODE1 = ''
		OR	CHECKD_CODE2 = ''
		OR	CHECKD_CODE3 = ''
		OR	CHECKD_CODE4 = ''
		OR	CHECKD_CODE5 = ''
		OR	CHECKD_CODE6 = ''
		OR	CHECKD_CODE7 = ''
		OR	CHECKD_CODE8 = ''
		OR	CHECKD_CODE9 = ''
		OR	CHECKD_CODE10 = ''
		OR	CHECKD_NAME1 = ''
		OR	CHECKD_NAME2 = ''
		OR	CHECKD_NAME3 = ''
		OR	CHECKD_NAME4 = ''
		OR	CHECKD_NAME5 = ''
		OR	CHECKD_NAME6 = ''
		OR	CHECKD_NAME7 = ''
		OR	CHECKD_NAME8 = ''
		OR	CHECKD_NAME9 = ''
		OR	CHECKD_NAME10 = ''
		OR	RTRIM(BAN_DECI_DATE) = ''
		)
	AND	C_CODE = @I_AUTODOCU_C_CODE
	AND	NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	DATA_NO = @I_AUTODOCU_DATA_NO

	SELECT	@COUNT = COUNT(*)
	FROM	AUTODOCU
	WHERE	C_CODE = @I_AUTODOCU_C_CODE
	AND	NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	DATA_NO = @I_AUTODOCU_DATA_NO
	AND	ACCT_CODE NOT IN	(	SELECT	ACCT_CODE
						FROM	ACCTCODE
						WHERE	C_CODE = @I_AUTODOCU_C_CODE
					)
	
	IF	@COUNT > 0
	BEGIN
		SELECT	@ERROR_TEXT = '계정과목에 없는 계정코드가 있습니다'
		RAISERROR (50001, 10, 1, @ERROR_TEXT)
		DEALLOCATE	CUR_AUTODOCU_PROC_TAX
		RETURN
	END

	SELECT	@AUTODOCU_DOCU_STAT = MAX(A.DOCU_STAT),
		@AUTODOCU_DOCU_GUBUN = MAX(A.DOCU_GUBUN),
		@AUTODOCU_DR_AMT = SUM(A.DR_AMT),
		@AUTODOCU_CR_AMT = SUM(A.CR_AMT),
		@ACCT_COUNT = SUM(CASE SUBSTRING(A.ACCT_CODE, 1, 3) WHEN '101' THEN 1 ELSE 0 END),
		@AUTODOCU_DOCU_TYPE = MAX(A.DOCU_TYPE), 
		@BAN_NODE_CODE = MAX(A.BAN_NODE_CODE), 
		@BAN_DEPT_CODE = MAX(A.BAN_DEPT_CODE), 
		@BAN_DECI_DATE = MAX(A.BAN_DECI_DATE),
		@BAN_DECI_NO = MAX(A.BAN_DECI_NO),
		@BAN_LINE_NO = MAX(A.BAN_LINE_NO),
		@BAN_SLIP_NO = MAX(A.BAN_SLIP_NO) 
	FROM	AUTODOCU A 
	WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
	AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	A.DATA_NO = @I_AUTODOCU_DATA_NO

	IF	@AUTODOCU_DOCU_STAT = '1'
	BEGIN
		SELECT	@ERROR_TEXT = '이미 처리된 전표입니다(DOCU_STAT)'
		RAISERROR (50001, 10, 1, @ERROR_TEXT)
		DEALLOCATE	CUR_AUTODOCU_PROC_TAX
		RETURN
	END

	IF	@AUTODOCU_DOCU_GUBUN = '3' AND @AUTODOCU_DR_AMT <> @AUTODOCU_CR_AMT
	BEGIN
		SELECT	@ERROR_TEXT = '대변금액과 차변금액의 합계가 일치하지 않습니다'
		RAISERROR (50002, 10, 1, @ERROR_TEXT)
		DEALLOCATE	CUR_AUTODOCU_PROC_TAX
		RETURN
	END

	--DOCUD의 LINE_NO 값을 가져와서 더해준다..
	SELECT	@DOCU_LINE_NO = MAX(LINE_NO)
	FROM	DOCUD
	WHERE	C_CODE = @I_AUTODOCU_C_CODE
	AND	NODE_CODE = @I_DOCU_NODE_CODE
	AND	DEPT_CODE = @I_DOCU_DEPT_CODE
	AND	DECI_DATE = @I_DOCU_DECI_DATE
	AND	DECI_NO = @I_DOCU_DECI_NO

	SELECT	@DOCU_LINE_NO = ISNULL(@DOCU_LINE_NO, 0)

	-- 파라미터로 넘겨줌 @I_DOCU_DECI_NO
	--본지점 계정여부 판단(TA_GUBUN : 3(타로)20070103-문진민
	INSERT INTO DOCUD	(	DECI_DATE, DECI_NO, LINE_NO, SLIP_NO, DEPT_CODE, NODE_CODE, C_CODE, ACCT_CODE, NOTE_CODE, 
					DR_AMT, 
					CR_AMT, 
					ACCT_DATE, DOCU_NO, AMT_GUBUN, TA_GUBUN, 
					BUDGET_TYPE,
					BAN_NODE_CODE, BAN_DEPT_CODE, BAN_DECI_DATE, BAN_DECI_NO, BAN_LINE_NO, BAN_SLIP_NO,
					NOTE_NAME,
					VEN_CODE,
					BUDGET_DEPT_CODE,
					PROJ_CODE,
					DEPOSIT_NO,
					FUND_CODE,
					DUE_DATE
				)
	SELECT	@I_DOCU_DECI_DATE, @I_DOCU_DECI_NO, @DOCU_LINE_NO + A.DATA_LINE, A.DATA_SLIP, @I_DOCU_DEPT_CODE, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, A.ACCT_CODE, 0, 
		(CASE A.AMT_GUBUN	WHEN '2'	THEN (A.DR_AMT + A.CR_AMT)
					WHEN '3'	THEN (A.DR_AMT + A.CR_AMT) ELSE 0 END),
		(CASE A.AMT_GUBUN	WHEN '1'	THEN (A.DR_AMT + A.CR_AMT)
					WHEN '4'	THEN (A.DR_AMT + A.CR_AMT) ELSE 0 END),
		'00000000', 0, A.AMT_GUBUN, 
		ISNULL((SELECT '3' FROM BONJICODE WHERE C_CODE = @I_AUTODOCU_C_CODE AND NODE_CODE <> @I_DOCU_NODE_CODE AND ACCT_CODE = A.ACCT_CODE),'0'),
		(CASE @I_AUTODOCU_DATA_GUBUN	WHEN '88'	THEN '4'
							WHEN '89'	THEN '4' ELSE '3' END),
		A.BAN_NODE_CODE, A.BAN_DEPT_CODE, ISNULL(A.BAN_DECI_DATE, '00000000'), ISNULL(A.BAN_DECI_NO, 0), ISNULL(A.BAN_LINE_NO, 0), ISNULL(A.BAN_SLIP_NO, 0),
		(CASE 'A05'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
				WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
				WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
				WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
				WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
				WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
				WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
				WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
				WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
				WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 END),
		(CASE 'A07'	WHEN A.CHECK_CODE1	THEN A.CHECKD_CODE1
				WHEN A.CHECK_CODE2	THEN A.CHECKD_CODE2
				WHEN A.CHECK_CODE3	THEN A.CHECKD_CODE3
				WHEN A.CHECK_CODE4	THEN A.CHECKD_CODE4
				WHEN A.CHECK_CODE5	THEN A.CHECKD_CODE5
				WHEN A.CHECK_CODE6	THEN A.CHECKD_CODE6
				WHEN A.CHECK_CODE7	THEN A.CHECKD_CODE7
				WHEN A.CHECK_CODE8	THEN A.CHECKD_CODE8
				WHEN A.CHECK_CODE9	THEN A.CHECKD_CODE9
				WHEN A.CHECK_CODE10	THEN A.CHECKD_CODE10 END),
		(CASE 'A09'	WHEN A.CHECK_CODE1	THEN A.CHECKD_CODE1
				WHEN A.CHECK_CODE2	THEN A.CHECKD_CODE2
				WHEN A.CHECK_CODE3	THEN A.CHECKD_CODE3
				WHEN A.CHECK_CODE4	THEN A.CHECKD_CODE4
				WHEN A.CHECK_CODE5	THEN A.CHECKD_CODE5
				WHEN A.CHECK_CODE6	THEN A.CHECKD_CODE6
				WHEN A.CHECK_CODE7	THEN A.CHECKD_CODE7
				WHEN A.CHECK_CODE8	THEN A.CHECKD_CODE8
				WHEN A.CHECK_CODE9	THEN A.CHECKD_CODE9
				WHEN A.CHECK_CODE10	THEN A.CHECKD_CODE10 END),
		(CASE 'A13'	WHEN A.CHECK_CODE1	THEN A.CHECKD_CODE1
				WHEN A.CHECK_CODE2	THEN A.CHECKD_CODE2
				WHEN A.CHECK_CODE3	THEN A.CHECKD_CODE3
				WHEN A.CHECK_CODE4	THEN A.CHECKD_CODE4
				WHEN A.CHECK_CODE5	THEN A.CHECKD_CODE5
				WHEN A.CHECK_CODE6	THEN A.CHECKD_CODE6
				WHEN A.CHECK_CODE7	THEN A.CHECKD_CODE7
				WHEN A.CHECK_CODE8	THEN A.CHECKD_CODE8
				WHEN A.CHECK_CODE9	THEN A.CHECKD_CODE9
				WHEN A.CHECK_CODE10	THEN A.CHECKD_CODE10 END),
		(CASE 'F05'	WHEN A.CHECK_CODE1	THEN A.CHECKD_CODE1
				WHEN A.CHECK_CODE2	THEN A.CHECKD_CODE2
				WHEN A.CHECK_CODE3	THEN A.CHECKD_CODE3
				WHEN A.CHECK_CODE4	THEN A.CHECKD_CODE4
				WHEN A.CHECK_CODE5	THEN A.CHECKD_CODE5
				WHEN A.CHECK_CODE6	THEN A.CHECKD_CODE6
				WHEN A.CHECK_CODE7	THEN A.CHECKD_CODE7
				WHEN A.CHECK_CODE8	THEN A.CHECKD_CODE8
				WHEN A.CHECK_CODE9	THEN A.CHECKD_CODE9
				WHEN A.CHECK_CODE10	THEN A.CHECKD_CODE10 END),
		(CASE 'F10'	WHEN A.CHECK_CODE1	THEN A.CHECKD_CODE1
				WHEN A.CHECK_CODE2	THEN A.CHECKD_CODE2
				WHEN A.CHECK_CODE3	THEN A.CHECKD_CODE3
				WHEN A.CHECK_CODE4	THEN A.CHECKD_CODE4
				WHEN A.CHECK_CODE5	THEN A.CHECKD_CODE5
				WHEN A.CHECK_CODE6	THEN A.CHECKD_CODE6
				WHEN A.CHECK_CODE7	THEN A.CHECKD_CODE7
				WHEN A.CHECK_CODE8	THEN A.CHECKD_CODE8
				WHEN A.CHECK_CODE9	THEN A.CHECKD_CODE9
				WHEN A.CHECK_CODE10	THEN A.CHECKD_CODE10 END),
		ISNULL((CASE 'F21'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
					WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
					WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
					WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
					WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
					WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
					WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
					WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
					WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
					WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 END), '00000000')
	FROM	AUTODOCU A
	WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
	AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	A.DATA_NO = @I_AUTODOCU_DATA_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'DOCUD INSERT'
		RAISERROR (50006, 10, 1, @ERROR_TEXT)
		DEALLOCATE	CUR_AUTODOCU_PROC_TAX
		RETURN
	END

	INSERT INTO DOCUEXCH	(	DECI_DATE, DECI_NO, LINE_NO, SLIP_NO, DEPT_CODE, NODE_CODE, C_CODE, ACCT_CODE, OLD_EXCH_AMT, 
					AMT,
					EXCH_CODE,
					EXCH_RATE,
					EXCH_AMT
				)
	SELECT	@I_DOCU_DECI_DATE, @I_DOCU_DECI_NO, @DOCU_LINE_NO + A.DATA_LINE, A.DATA_SLIP, @I_DOCU_DEPT_CODE, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, A.ACCT_CODE, 0,
		(A.DR_AMT + A.CR_AMT),
		ISNULL((CASE 'F33'	WHEN A.CHECK_CODE1	THEN A.CHECKD_CODE1
					WHEN A.CHECK_CODE2	THEN A.CHECKD_CODE2
					WHEN A.CHECK_CODE3	THEN A.CHECKD_CODE3
					WHEN A.CHECK_CODE4	THEN A.CHECKD_CODE4
					WHEN A.CHECK_CODE5	THEN A.CHECKD_CODE5
					WHEN A.CHECK_CODE6	THEN A.CHECKD_CODE6
					WHEN A.CHECK_CODE7	THEN A.CHECKD_CODE7
					WHEN A.CHECK_CODE8	THEN A.CHECKD_CODE8
					WHEN A.CHECK_CODE9	THEN A.CHECKD_CODE9
					WHEN A.CHECK_CODE10	THEN A.CHECKD_CODE10 END), '000'),
		CONVERT(NUMERIC(9, 4), (ISNULL((CASE 'F35'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
								WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
								WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
								WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
								WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
								WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
								WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
								WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
								WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
								WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 END), 0))),
		CONVERT(NUMERIC(15, 4), (ISNULL((CASE 'F37'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
								WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
								WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
								WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
								WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
								WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
								WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
								WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
								WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
								WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 END), 0)))
	FROM	AUTODOCU A,
		GUBUNACCT G
	WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
	AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
	AND	A.C_CODE = G.C_CODE
	AND	A.ACCT_CODE = G.ACCT_CODE
	AND	G.GUBUN_CODE = '06'

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'DOCUEXCH INSERT'
		RAISERROR (50007, 10, 1, @ERROR_TEXT)
		DEALLOCATE	CUR_AUTODOCU_PROC_TAX
		RETURN
	END

	INSERT INTO AUTOREV(	DATA_GUBUN, WRITE_DATE, DATA_NO, DATA_LINE, DATA_SLIP, DEPT_CODE, NODE_CODE, C_CODE, DNODE_CODE, DDEPT_CODE, 
				DECI_DATE, DECI_NO)
	SELECT	A.DATA_GUBUN,  A.WRITE_DATE, A.DATA_NO, A.DATA_LINE, A.DATA_SLIP, A.DEPT_CODE, A.NODE_CODE, A.C_CODE, @I_DOCU_NODE_CODE, @I_DOCU_DEPT_CODE,
		@I_DOCU_DECI_DATE, @I_DOCU_DECI_NO
	FROM	AUTODOCU A
	WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
	AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	A.DATA_NO = @I_AUTODOCU_DATA_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'AUTOREV INSERT'
		ROLLBACK TRANSACTION
		RAISERROR (50008, 10, 1, @ERROR_TEXT)
		DEALLOCATE	CUR_AUTODOCU_PROC_TAX
		RETURN
	END


	SELECT	@BAN_EXIST = '0'

	SELECT	@COUNT = COUNT(*)
	FROM	DOCUBAN
	WHERE 	C_CODE = @I_AUTODOCU_C_CODE
	  AND NODE_CODE = @BAN_NODE_CODE
	  AND DEPT_CODE = @BAN_DEPT_CODE
	  AND DECI_DATE = @BAN_DECI_DATE
	  AND DECI_NO = @BAN_DECI_NO
	  AND LINE_NO = @BAN_LINE_NO
	  AND SLIP_NO = @BAN_SLIP_NO
	IF	@COUNT > 0
		SELECT	@BAN_EXIST = '1'

	IF @BAN_EXIST = '1' 
	BEGIN
		UPDATE	BILLREC
		SET	DEAL_DATE = R.DEAL_DATE,
			BILL_CON = CASE WHEN DB.C_CODE = NULL THEN  ISNULL(R.BILL_CON, '1')
					ELSE 


							(CASE 'F41'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
								WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
								WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
								WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
								WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
								WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
								WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
								WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
								WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
								WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 ELSE ISNULL(R.BILL_CON, '1') END)
					END,
			DEPT_CODE2 = @I_DOCU_DEPT_CODE, 
			DECI_DATE2 = @I_DOCU_DECI_DATE,
			DECI_NO2 = @I_DOCU_DECI_NO,
			LINE_NO2 = @DOCU_LINE_NO + R.DATA_LINE,
			SLIP_NO2 =  R.DATA_SLIP
		FROM	BILLREC B,
			BILLRELA R, 
			AUTODOCU A
			LEFT OUTER JOIN
			DOCUBAN DB ON (
			A.C_CODE = DB.C_CODE
		AND	A.BAN_NODE_CODE = DB.NODE_CODE
		AND	A.BAN_DEPT_CODE = DB.DEPT_CODE
		AND	A.BAN_DECI_DATE = DB.DECI_DATE
		AND	A.BAN_DECI_NO = DB.DECI_NO
		AND	A.BAN_LINE_NO = DB.LINE_NO
		AND	A.BAN_SLIP_NO = DB.SLIP_NO)
		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	A.C_CODE = R.C_CODE
		AND	A.NODE_CODE = R.NODE_CODE
		AND	A.DEPT_CODE = R.DEPT_CODE
		AND	A.DATA_GUBUN = R.DATA_GUBUN
		AND	A.WRITE_DATE = R.WRITE_DATE
		AND	A.DATA_NO = R.DATA_NO
		AND	A.DATA_LINE = R.DATA_LINE
		AND	A.DATA_SLIP = R.DATA_SLIP
		AND	R.BILL_TYPE < '4'
		AND	R.BILL_CON = '6'
		AND	R.C_CODE = B.C_CODE
		AND	B.NODE_CODE = @I_DOCU_NODE_CODE
		AND	R.BILL_NO = B.BILL_NO
	END
	ELSE
	BEGIN
		UPDATE	BILLREC
		SET	DEAL_DATE = A.DEAL_DATE,
			BILL_CON = ISNULL(A.BILL_CON, '1'),
			DEPT_CODE2 = @I_DOCU_DEPT_CODE, 
			DECI_DATE2 = @I_DOCU_DECI_DATE,
			DECI_NO2 = @I_DOCU_DECI_NO,
			LINE_NO2 = @DOCU_LINE_NO + A.DATA_LINE,
			SLIP_NO2 =  A.DATA_SLIP
		FROM	BILLREC B,
			BILLRELA A 
		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	A.BILL_TYPE < '4'
		AND	A.BILL_CON = '6'
		AND	A.C_CODE = B.C_CODE
		AND	B.NODE_CODE = @I_DOCU_NODE_CODE
		AND	A.BILL_NO = B.BILL_NO
	END 


	IF	@@ROWCOUNT = 0 	
	BEGIN
		IF @BAN_EXIST = '1' 
		BEGIN
			INSERT INTO  BILLREC(	BILL_NO, NODE_CODE, C_CODE, SUGUM_TYPE, VEN_CODE, DEPT_CODE, SA_CODE, SUGUM_DATE, SILMUL_DEPT_CODE, 
						BILL_TYPE, ISS_DATE, DUE_DATE, BANK_CODE, ISS, P_ENDORSE, BILL_AMT, BILL_CON, 
						DEPT_CODE2, DECI_DATE2, 
						DECI_NO2, LINE_NO2, 
						SLIP_NO2, 
						DEPT_CODE1, DECI_DATE1, 
						DECI_NO1, LINE_NO1, 
						SLIP_NO1, 
						BANK_JUM, BANK_CODE2, BANK_JUM2, SUTAK_DATE, FUND_CODE)
--2006/08/10 - 변경사항 @I_SA_CODE => bilrela table의 sa_code로 바꿈
--			SELECT	R.BILL_NO, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, R.SUGUM_TYPE, R.VEN_CODE, R.DEPT_CODE2, @I_SA_CODE, R.SUGUM_DATE, R.SILMUL_DEPT_CODE, 
			SELECT	R.BILL_NO, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, R.SUGUM_TYPE, R.VEN_CODE, R.DEPT_CODE2, CASE WHEN LEN(RTRIM(R.SA_CODE)) > 0 THEN R.SA_CODE ELSE @I_SA_CODE END, R.SUGUM_DATE, R.SILMUL_DEPT_CODE, 
				R.BILL_TYPE, R.ISS_DATE, R.DUE_DATE, R.BANK_CODE, R.ISS, R.P_ENDORSE, R.BILL_AMT, 
				CASE WHEN DB.C_CODE = NULL THEN  ISNULL(R.BILL_CON, '1')
				ELSE
					(CASE 'F41'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
							WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
							WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
							WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
							WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
							WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
							WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
							WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
							WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
							WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 ELSE ISNULL(R.BILL_CON, '1') END)
				END,
				(CASE R.BILL_CON WHEN '6' THEN @I_DOCU_DEPT_CODE END), (CASE R.BILL_CON WHEN '6' THEN @I_DOCU_DECI_DATE ELSE '00000000' END),
				(CASE R.BILL_CON WHEN '6' THEN @I_DOCU_DECI_NO ELSE 0 END), (CASE R.BILL_CON WHEN '6' THEN @DOCU_LINE_NO + R.DATA_LINE ELSE 0 END), 
				(CASE R.BILL_CON WHEN '6' THEN R.DATA_SLIP ELSE 0 END), 
				(CASE ISNULL(R.BILL_CON, '1') WHEN '1' THEN @I_DOCU_DEPT_CODE END), (CASE ISNULL(R.BILL_CON, '1') WHEN '1' THEN @I_DOCU_DECI_DATE ELSE '00000000' END),
				(CASE ISNULL(R.BILL_CON, '1') WHEN '1' THEN @I_DOCU_DECI_NO ELSE 0 END), (CASE ISNULL(R.BILL_CON, '1') WHEN '1' THEN @DOCU_LINE_NO + R.DATA_LINE ELSE 0 END), 
				(CASE ISNULL(R.BILL_CON, '1') WHEN '1' THEN R.DATA_SLIP ELSE 0 END), 
				R.BANK_JUM, R.BANK_CODE2, R.BANK_JUM2, R.SUTAK_DATE, R.FUND_CODE
			FROM	AUTODOCU A
				LEFT OUTER JOIN
			    DOCUBAN DB ON (
				A.C_CODE = DB.C_CODE
			AND	A.BAN_NODE_CODE = DB.NODE_CODE
			AND	A.BAN_DEPT_CODE = DB.DEPT_CODE
			AND	A.BAN_DECI_DATE = DB.DECI_DATE
			AND	A.BAN_DECI_NO = DB.DECI_NO
			AND	A.BAN_LINE_NO = DB.LINE_NO
			AND	A.BAN_SLIP_NO = DB.SLIP_NO), BILLRELA R
			WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
			AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
			AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
			AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
			AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
			AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
			AND	A.C_CODE = R.C_CODE
			AND	A.NODE_CODE = R.NODE_CODE
			AND	A.DEPT_CODE = R.DEPT_CODE
			AND	A.DATA_GUBUN = R.DATA_GUBUN
			AND	A.WRITE_DATE = R.WRITE_DATE
			AND	A.DATA_NO = R.DATA_NO
			AND	A.DATA_LINE = R.DATA_LINE
			AND	A.DATA_SLIP = R.DATA_SLIP
			AND	R.BILL_TYPE < '4'
		END 
		ELSE
		BEGIN
			INSERT INTO  BILLREC(	BILL_NO, NODE_CODE, C_CODE, SUGUM_TYPE, VEN_CODE, DEPT_CODE, SA_CODE, SUGUM_DATE, SILMUL_DEPT_CODE, 
						BILL_TYPE, ISS_DATE, DUE_DATE, BANK_CODE, ISS, P_ENDORSE, BILL_AMT, BILL_CON, 
						DEPT_CODE2, DECI_DATE2, 
						DECI_NO2, LINE_NO2, 
						SLIP_NO2, 
						DEPT_CODE1, DECI_DATE1, 
						DECI_NO1, LINE_NO1, 
						SLIP_NO1, 
						BANK_JUM, BANK_CODE2, BANK_JUM2, SUTAK_DATE, FUND_CODE)
--2006/08/10 - 변경사항 @I_SA_CODE => bilrela table의 sa_code로 바꿈
--			SELECT	A.BILL_NO, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, A.SUGUM_TYPE, A.VEN_CODE, A.DEPT_CODE2, @I_SA_CODE, A.SUGUM_DATE, A.SILMUL_DEPT_CODE, 
			SELECT	A.BILL_NO, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, A.SUGUM_TYPE, A.VEN_CODE, A.DEPT_CODE2, CASE WHEN LEN(RTRIM(A.SA_CODE)) > 0 THEN A.SA_CODE ELSE @I_SA_CODE END, A.SUGUM_DATE, A.SILMUL_DEPT_CODE, 
				A.BILL_TYPE, A.ISS_DATE, A.DUE_DATE, A.BANK_CODE, A.ISS, A.P_ENDORSE, A.BILL_AMT, ISNULL(A.BILL_CON, '1'), 
				(CASE A.BILL_CON WHEN '6' THEN @I_DOCU_DEPT_CODE END), (CASE A.BILL_CON WHEN '6' THEN @I_DOCU_DECI_DATE ELSE '00000000' END),
				(CASE A.BILL_CON WHEN '6' THEN @I_DOCU_DECI_NO ELSE 0 END), (CASE A.BILL_CON WHEN '6' THEN @DOCU_LINE_NO + A.DATA_LINE ELSE 0 END), 
				(CASE A.BILL_CON WHEN '6' THEN A.DATA_SLIP ELSE 0 END), 
				(CASE ISNULL(A.BILL_CON, '1') WHEN '1' THEN @I_DOCU_DEPT_CODE END), (CASE ISNULL(A.BILL_CON, '1') WHEN '1' THEN @I_DOCU_DECI_DATE ELSE '00000000' END),
				(CASE ISNULL(A.BILL_CON, '1') WHEN '1' THEN @I_DOCU_DECI_NO ELSE 0 END), (CASE ISNULL(A.BILL_CON, '1') WHEN '1' THEN @DOCU_LINE_NO + A.DATA_LINE ELSE 0 END), 
				(CASE ISNULL(A.BILL_CON, '1') WHEN '1' THEN A.DATA_SLIP ELSE 0 END), 
				A.BANK_JUM, A.BANK_CODE2, A.BANK_JUM2, A.SUTAK_DATE, A.FUND_CODE
			FROM	BILLRELA A
			WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
			AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
			AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
			AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
			AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
			AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
			AND	A.BILL_TYPE < '4'
		END 
	
		IF	@@ERROR <> 0
		BEGIN
			SELECT	@ERROR_TEXT = 'BILLREC INSERT'
			RAISERROR (50010, 10, 1, @ERROR_TEXT)
			DEALLOCATE	CUR_AUTODOCU_PROC_TAX
			RETURN
		END
	END

	IF @BAN_EXIST = '1' 
	BEGIN
		--2009.11.13 구매카드 발행 구분값반영함 ( 오성환 )
		INSERT INTO  PURCARDMA(	CARD_NO, NODE_CODE, C_CODE, CARD_KIND, ISS_DATE, DUE_DATE, BANK_CODE, BRANCH, CARD_AMT, ISS_DEPT, ISS_SA, 
						VEN_CODE, REC_DATE, DECI_DATE, DECI_NO, 
						LINE_NO,SLIP_NO, DEPT_CODE, CARD_CON,DIS_AMT, DAMBO_YN)
		SELECT	R.BILL_NO, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, 
			CASE WHEN R.BILL_TYPE = '6' THEN '2' WHEN R.BILL_TYPE = '9' THEN '5'  ELSE '1' END , 
			R.ISS_DATE, R.DUE_DATE, R.BANK_CODE, R.BANK_JUM, R.BILL_AMT, R.DEPT_CODE2, @I_SA_CODE,
			R.VEN_CODE, R.SUGUM_DATE, @I_DOCU_DECI_DATE, @I_DOCU_DECI_NO, @DOCU_LINE_NO + R.DATA_LINE, R.DATA_SLIP, @I_DOCU_DEPT_CODE, 
			CASE WHEN DB.C_CODE = NULL THEN  '1'
			ELSE
				(CASE 'M70'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
						WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
						WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
						WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
						WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
						WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
						WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
						WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
						WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
						WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 ELSE '1' END)
			END,
			0, '1'
		FROM	AUTODOCU A

			INNER JOIN BILLRELA R 
		ON	A.C_CODE = R.C_CODE
		AND	A.NODE_CODE = R.NODE_CODE
		AND	A.DEPT_CODE = R.DEPT_CODE
		AND	A.DATA_GUBUN = R.DATA_GUBUN
		AND	A.WRITE_DATE = R.WRITE_DATE
		AND	A.DATA_NO = R.DATA_NO
		AND	A.DATA_LINE = R.DATA_LINE
		AND	A.DATA_SLIP = R.DATA_SLIP

			LEFT OUTER JOIN DOCUBAN DB
		ON	A.C_CODE = DB.C_CODE
		AND	A.BAN_NODE_CODE = DB.NODE_CODE
		AND	A.BAN_DEPT_CODE = DB.DEPT_CODE
		AND	A.BAN_DECI_DATE = DB.DECI_DATE
		AND	A.BAN_DECI_NO = DB.DECI_NO
		AND	A.BAN_LINE_NO = DB.LINE_NO
		AND	A.BAN_SLIP_NO = DB.SLIP_NO

		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	R.BILL_TYPE IN ('4', '6','9')		--구매카드

		--2009.12.22 전자어음 자동전표처리하기 ( BILL_TYPE = '7', '8' )
		INSERT INTO  PURCARDMA(	CARD_NO, NODE_CODE, C_CODE, CARD_KIND, ISS_DATE, DUE_DATE, BANK_CODE, BRANCH, CARD_AMT, ISS_DEPT, ISS_SA, 
						VEN_CODE, REC_DATE, DECI_DATE, DECI_NO, 
						LINE_NO,SLIP_NO, DEPT_CODE, CARD_CON,DIS_AMT, DAMBO_YN)
		SELECT	R.BILL_NO, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, 
			CASE WHEN R.BILL_TYPE = '8' THEN '8' ELSE '7' END , 
			R.ISS_DATE, R.DUE_DATE, R.BANK_CODE, R.BANK_JUM, R.BILL_AMT, R.DEPT_CODE2, @I_SA_CODE,
			R.VEN_CODE, R.SUGUM_DATE, @I_DOCU_DECI_DATE, @I_DOCU_DECI_NO, @DOCU_LINE_NO + R.DATA_LINE, R.DATA_SLIP, @I_DOCU_DEPT_CODE, 
			CASE WHEN DB.C_CODE = NULL THEN  '1'
			ELSE
				(CASE 'M70'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
						WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
						WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
						WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
						WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
						WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
						WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
						WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
						WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
						WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 ELSE '1' END)
			END,
			0, '1'
		FROM	AUTODOCU A

			INNER JOIN BILLRELA R 
		ON	A.C_CODE = R.C_CODE
		AND	A.NODE_CODE = R.NODE_CODE
		AND	A.DEPT_CODE = R.DEPT_CODE
		AND	A.DATA_GUBUN = R.DATA_GUBUN
		AND	A.WRITE_DATE = R.WRITE_DATE
		AND	A.DATA_NO = R.DATA_NO
		AND	A.DATA_LINE = R.DATA_LINE
		AND	A.DATA_SLIP = R.DATA_SLIP

			LEFT OUTER JOIN DOCUBAN DB
		ON	A.C_CODE = DB.C_CODE
		AND	A.BAN_NODE_CODE = DB.NODE_CODE
		AND	A.BAN_DEPT_CODE = DB.DEPT_CODE
		AND	A.BAN_DECI_DATE = DB.DECI_DATE
		AND	A.BAN_DECI_NO = DB.DECI_NO
		AND	A.BAN_LINE_NO = DB.LINE_NO
		AND	A.BAN_SLIP_NO = DB.SLIP_NO

		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	R.BILL_TYPE IN ('7','8')		--전자어음
	END
	ELSE
	BEGIN
		--2009.11.13 구매카드 발행 구분값반영함 ( 오성환 )
		INSERT INTO  PURCARDMA(	CARD_NO, NODE_CODE, C_CODE, CARD_KIND, ISS_DATE, DUE_DATE, BANK_CODE, BRANCH, CARD_AMT, ISS_DEPT, ISS_SA, 
						VEN_CODE, REC_DATE, DECI_DATE, DECI_NO, 
						LINE_NO,SLIP_NO, DEPT_CODE, CARD_CON,DIS_AMT, DAMBO_YN)
		SELECT	A.BILL_NO, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, 
			CASE WHEN A.BILL_TYPE = '6' THEN '2'  WHEN A.BILL_TYPE = '9' THEN '5' ELSE '1' END, 
			A.ISS_DATE, A.DUE_DATE, A.BANK_CODE, A.BANK_JUM, A.BILL_AMT, A.DEPT_CODE2, @I_SA_CODE,
			A.VEN_CODE, A.SUGUM_DATE, @I_DOCU_DECI_DATE, @I_DOCU_DECI_NO, @DOCU_LINE_NO + A.DATA_LINE, A.DATA_SLIP, @I_DOCU_DEPT_CODE, '1', 0, '1'
		FROM	BILLRELA A
		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	A.BILL_TYPE IN ('4', '6','9')		--구매카드

		--2009.12.22 전자어음 자동전표처리하기 ( BILL_TYPE = '7', '8' )
		INSERT INTO  PURCARDMA(	CARD_NO, NODE_CODE, C_CODE, CARD_KIND, ISS_DATE, DUE_DATE, BANK_CODE, BRANCH, CARD_AMT, ISS_DEPT, ISS_SA, 
						VEN_CODE, REC_DATE, DECI_DATE, DECI_NO, 
						LINE_NO,SLIP_NO, DEPT_CODE, CARD_CON,DIS_AMT, DAMBO_YN)
		SELECT	A.BILL_NO, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE, 
			CASE WHEN A.BILL_TYPE = '8' THEN '8' ELSE '7' END, 
			A.ISS_DATE, A.DUE_DATE, A.BANK_CODE, A.BANK_JUM, A.BILL_AMT, A.DEPT_CODE2, @I_SA_CODE,
			A.VEN_CODE, A.SUGUM_DATE, @I_DOCU_DECI_DATE, @I_DOCU_DECI_NO, @DOCU_LINE_NO + A.DATA_LINE, A.DATA_SLIP, @I_DOCU_DEPT_CODE, '1', 0, '1'
		FROM	BILLRELA A
		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	A.BILL_TYPE IN ( '7','8' )		--전자어음
	END

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'PURCARDMA INSERT'
		RAISERROR (50011, 10, 1, @ERROR_TEXT)
		DEALLOCATE	CUR_AUTODOCU_PROC_TAX
		RETURN
	END


	IF @BAN_EXIST = '1' 
	BEGIN
		UPDATE	BILLDEBTMA
		SET	ISS_DEPT_CODE = R.DEPT_CODE2,
			ISS_DATE = R.ISS_DATE,
			DUE_DATE = R.DUE_DATE,
			VEN_CODE1 = R.VEN_CODE,
			BILLD_AMT = R.BILL_AMT,
			BILL_GU = CASE WHEN DB.C_CODE = NULL THEN  '2'
					ELSE 
						(CASE 'F42'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
								WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
								WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
								WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
								WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
								WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
								WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
								WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
								WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
								WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 ELSE '2' END)
					END,
			DEPT_CODE1 = @I_DOCU_DEPT_CODE,
			DECI_DATE1 = @I_DOCU_DECI_DATE,
			DECI_NO1 = @I_DOCU_DECI_NO,
			LINE_NO1 = @DOCU_LINE_NO + R.DATA_LINE,
			SLIP_NO1 = R.DATA_SLIP,
			PAY_NOTE = (CASE 'A05'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
						WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
						WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
						WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
						WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
						WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
						WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
						WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
						WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
						WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 END)
		FROM	BILLDEBTMA B,
			AUTODOCU A
			LEFT OUTER JOIN  	
			DOCUBAN DB ON (
			A.C_CODE = DB.C_CODE
		AND	A.BAN_NODE_CODE = DB.NODE_CODE
		AND	A.BAN_DEPT_CODE = DB.DEPT_CODE
		AND	A.BAN_DECI_DATE = DB.DECI_DATE
		AND	A.BAN_DECI_NO = DB.DECI_NO
		AND	A.BAN_LINE_NO = DB.LINE_NO
		AND	A.BAN_SLIP_NO = DB.SLIP_NO),
			BILLRELA R
		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
			AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	A.C_CODE = R.C_CODE
		AND	A.NODE_CODE = R.NODE_CODE
		AND	A.DEPT_CODE = R.DEPT_CODE
		AND	A.DATA_GUBUN = R.DATA_GUBUN
		AND	A.WRITE_DATE = R.WRITE_DATE
		AND	A.DATA_NO = R.DATA_NO
		AND	A.DATA_LINE = R.DATA_LINE
		AND	A.DATA_SLIP = R.DATA_SLIP
		AND	R.BILL_TYPE = '5'
		AND	R.C_CODE = B.C_CODE
		AND	R.BILL_NO = B.BILL_NO
		AND	R.NODE_CODE = B.NODE_CODE
	END 
	ELSE
	BEGIN
		UPDATE	BILLDEBTMA
		SET	ISS_DEPT_CODE = R.DEPT_CODE2,
			ISS_DATE = R.ISS_DATE,
			DUE_DATE = R.DUE_DATE,
			VEN_CODE1 = R.VEN_CODE,
			BILLD_AMT = R.BILL_AMT,
			BILL_GU = '2',
			DEPT_CODE1 = @I_DOCU_DEPT_CODE,
			DECI_DATE1 = @I_DOCU_DECI_DATE,
			DECI_NO1 = @I_DOCU_DECI_NO,
			LINE_NO1 = @DOCU_LINE_NO + R.DATA_LINE,
			SLIP_NO1 = R.DATA_SLIP,
			PAY_NOTE = (CASE 'A05'	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
						WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
						WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
						WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
						WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
						WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
						WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
						WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
						WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
						WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 END)
		FROM	BILLDEBTMA B,
			AUTODOCU A,
			BILLRELA R
		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	A.C_CODE = R.C_CODE
		AND	A.NODE_CODE = R.NODE_CODE
		AND	A.DEPT_CODE = R.DEPT_CODE
		AND	A.DATA_GUBUN = R.DATA_GUBUN
		AND	A.WRITE_DATE = R.WRITE_DATE
		AND	A.DATA_NO = R.DATA_NO
		AND	A.DATA_LINE = R.DATA_LINE
		AND	A.DATA_SLIP = R.DATA_SLIP
		AND	R.BILL_TYPE = '5'
		AND	R.C_CODE = B.C_CODE
		AND	R.BILL_NO = B.BILL_NO
		AND	R.NODE_CODE = B.NODE_CODE
	END

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'BILLDEBTMA UPDATE'
		RAISERROR (50012, 10, 1, @ERROR_TEXT)
		DEALLOCATE	CUR_AUTODOCU_PROC_TAX
		RETURN
	END

	OPEN	CUR_AUTODOCU_PROC_TAX
	FETCH	NEXT FROM CUR_AUTODOCU_PROC_TAX INTO	@TAXRELA_DATA_LINE,
							@TAXRELA_DATA_SLIP,
							@TAXRELA_VEN_TYPE,
							@TAXRELA_TAX_GU,
							@TAXRELA_S_IDNO
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		IF	( @I_TAX_NODE_CODE = '' OR @I_TAX_NODE_CODE = NULL )
		BEGIN
			SELECT	@ERROR_TEXT = '부가세사업장이 없습니다.'
			RAISERROR (50014, 10, 1, @ERROR_TEXT)
			DEALLOCATE	CUR_AUTODOCU_PROC_TAX
			RETURN
		END

		IF	@TAXRELA_VEN_TYPE = '0'	AND (	@TAXRELA_TAX_GU = '11' OR @TAXRELA_TAX_GU = '12' OR @TAXRELA_TAX_GU = '13' OR @TAXRELA_TAX_GU = '21' OR 
							@TAXRELA_TAX_GU = '22' OR @TAXRELA_TAX_GU = '23' OR @TAXRELA_TAX_GU = '24' OR @TAXRELA_TAX_GU = '25' OR 
							@TAXRELA_TAX_GU = '28'	)
		BEGIN
			SELECT	@COUNT = COUNT(*)
			FROM	VBASE_VENDOR_NO
			WHERE	C_CODE = @I_AUTODOCU_C_CODE
			AND	S_IDNO = @TAXRELA_S_IDNO

			IF 	@COUNT = 0
			BEGIN
				SELECT	@ERROR_TEXT = 'TAX DATA ERROR'
				RAISERROR (50013, 10, 1, @ERROR_TEXT)
				DEALLOCATE	CUR_AUTODOCU_PROC_TAX
				RETURN
			END
		END

		SELECT	@TAX_TAX_NO = (CASE COUNT(*) WHEN 0 THEN 1 ELSE MAX(TAX_NO)+1 END)
		FROM	TAX
		WHERE	C_CODE = @I_AUTODOCU_C_CODE
		AND	DECI_DATE = @I_DOCU_DECI_DATE

		IF	@@ERROR <> 0
		BEGIN
			SELECT	@ERROR_TEXT = 'TAX_NO ERROR'
			RAISERROR (50013, 10, 1, @ERROR_TEXT)
			DEALLOCATE	CUR_AUTODOCU_PROC_TAX
			RETURN
		END
--2009.07.10 전자세금계산서 KEY값 추가
		INSERT INTO TAX (	NODE_CODE, TAX_NO, C_CODE, WORK_GUBUN, VEN_TYPE, BAL_DATE, TAX_GU, GONG_AMT, TAX_VAT, S_IDNO, 
					DNODE_CODE, DEPT_CODE, DECI_DATE, DECI_NO, LINE_NO, SLIP_NO, GONG_AMT2, TAX_AMT2, DOCU_STAT,
					DAY_PRINT, 
					BUL_GUBUN, EXPORT_NO, EXCH_CODE, EXCH_RATE, EXCH_AMT, CARDNO, EJE_RATE, CUSTOM_NO, CASH_NUM, PRT,
					RELAT_NO, PJT_CODE, EJE_ITEM, EJE_QT, EJE_AMT, RMK, ETAX_KEY, ETAX_STAT, JEONJA_YN, SALE_ETAX_KEY
				)
		SELECT	@I_TAX_NODE_CODE, @TAX_TAX_NO, @I_AUTODOCU_C_CODE, '1', A.VEN_TYPE, A.BAL_DATE, A.TAX_GU, A.GONG_AMT, A.TAX_VAT, ISNULL(A.S_IDNO,''), 
			@I_DOCU_NODE_CODE, @I_DOCU_DEPT_CODE, @I_DOCU_DECI_DATE, @I_DOCU_DECI_NO, @DOCU_LINE_NO + A.DATA_LINE, A.DATA_SLIP, A.GONG_AMT2, A.TAX_AMT2, '1',
			ISNULL(A.DAY_PRINT, '00000000'), 
			A.BUL_GUBUN, A.EXPORT_NO, A.EXCH_CODE, A.EXCH_RATE, A.EXCH_AMT, A.CARDNO, A.EJE_RATE, A.CUSTOM_NO, A.CASH_NUM, A.PRT,
			(CASE 'F45'	WHEN D.CHECK_CODE1	THEN D.CHECKD_CODE1
					WHEN D.CHECK_CODE2	THEN D.CHECKD_CODE2
					WHEN D.CHECK_CODE3	THEN D.CHECKD_CODE3
					WHEN D.CHECK_CODE4	THEN D.CHECKD_CODE4
					WHEN D.CHECK_CODE5	THEN D.CHECKD_CODE5
					WHEN D.CHECK_CODE6	THEN D.CHECKD_CODE6
					WHEN D.CHECK_CODE7	THEN D.CHECKD_CODE7
					WHEN D.CHECK_CODE8	THEN D.CHECKD_CODE8
					WHEN D.CHECK_CODE9	THEN D.CHECKD_CODE9
					WHEN D.CHECK_CODE10	THEN D.CHECKD_CODE10 END),          
			A.PJT_CODE, A.EJE_ITEM, A.EJE_QT, A.EJE_AMT, A.RMK, A.ETAX_KEY, A.ETAX_STAT,  ISNULL(A.JEONJA_YN,'0'), A.SALE_ETAX_KEY 
		
		FROM	TAXRELA A,
			AUTODOCU D  
		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	A.DATA_LINE = @TAXRELA_DATA_LINE
		AND	A.DATA_SLIP = @TAXRELA_DATA_SLIP
		AND	A.C_CODE = D.C_CODE
		AND	A.NODE_CODE = D.NODE_CODE
		AND	A.DEPT_CODE = D.DEPT_CODE
		AND	A.DATA_GUBUN = D.DATA_GUBUN
		AND	A.WRITE_DATE = D.WRITE_DATE
		AND	A.DATA_NO = D.DATA_NO
		AND	A.DATA_LINE = D.DATA_LINE
		AND	A.DATA_SLIP = D.DATA_SLIP

		IF	@@ERROR <> 0
		BEGIN
			SELECT	@ERROR_TEXT = 'TAX INSERT'
			RAISERROR (50014, 10, 1, @ERROR_TEXT)
			DEALLOCATE	CUR_AUTODOCU_PROC_TAX
			RETURN
		END

		INSERT INTO TAX_SUB(	NODE_CODE, TAX_NO, C_CODE, TAXSUB_NO, DNODE_CODE, DEPT_CODE, DECI_DATE,
					 DECI_NO, LINE_NO, SLIP_NO, MONDAY, PUMMOK, MU_SIZE, QTY, PRICE, SUPPLY_PRICE, VAT_PRICE, BIGO)
		SELECT	@I_TAX_NODE_CODE, @TAX_TAX_NO, @I_AUTODOCU_C_CODE, A.TAXSUB_NO, @I_DOCU_NODE_CODE, @I_DOCU_DEPT_CODE, @I_DOCU_DECI_DATE, 
			@I_DOCU_DECI_NO, @DOCU_LINE_NO + A.DATA_LINE, A.DATA_SLIP, A.MONDAY, A.PUMMOK, A.MU_SIZE, A.QTY, A.PRICE, A.SUPPLY_PRICE, A.VAT_PRICE, A.BIGO
		FROM	TAXRELA2 A
		WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
		AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
		AND	A.DATA_LINE = @TAXRELA_DATA_LINE
		AND	A.DATA_SLIP = @TAXRELA_DATA_SLIP

		IF	@@ERROR <> 0
		BEGIN
			SELECT	@ERROR_TEXT = 'TAX_SUB INSERT'
			RAISERROR (50015, 10, 1, @ERROR_TEXT)
			DEALLOCATE	CUR_AUTODOCU_PROC_TAX
			RETURN
		END
		--[2008/01/10] 류재욱
		SELECT 	@TAXRELA_EXIST = '1'

	FETCH	NEXT FROM CUR_AUTODOCU_PROC_TAX INTO	@TAXRELA_DATA_LINE,
							@TAXRELA_DATA_SLIP,
							@TAXRELA_VEN_TYPE,
							@TAXRELA_TAX_GU,
							@TAXRELA_S_IDNO
	END

	CLOSE CUR_AUTODOCU_PROC_TAX
	DEALLOCATE	CUR_AUTODOCU_PROC_TAX


----------RECEPTRELA (접대비)
	DECLARE CUR_AUTODOCU_PROC_RECEPTRELA CURSOR FOR
	SELECT	DATA_LINE, DATA_SLIP, BAL_DATE
	FROM	RECEPTRELA
	WHERE	C_CODE = @I_AUTODOCU_C_CODE
	AND	NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	DATA_NO = @I_AUTODOCU_DATA_NO
	ORDER BY DATA_LINE, DATA_SLIP

	OPEN	CUR_AUTODOCU_PROC_RECEPTRELA
	FETCH	NEXT FROM CUR_AUTODOCU_PROC_RECEPTRELA INTO @RECEPTRELA_DATA_LINE, @RECEPTRELA_DATA_SLIP, @RECEPTRELA_BAL_DATE
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		SELECT	@BAL_SEQ = (CASE MAX(BAL_SEQ) WHEN 0 THEN 1 ELSE MAX(BAL_SEQ)+1 END)
		FROM	RECEPT
		WHERE	C_CODE = @I_AUTODOCU_C_CODE
		AND	NODE_CODE = @I_DOCU_NODE_CODE
--		AND	NODE_CODE = @I_AUTODOCU_NODE_CODE	2009.08.12
		AND	BAL_DATE = @RECEPTRELA_BAL_DATE

		SELECT	@BAL_SEQ = ISNULL(@BAL_SEQ, 1)

		INSERT INTO RECEPT (	C_CODE, NODE_CODE, BAL_DATE, BAL_SEQ, ACCT_CODE, DEPT_CODE, SA_CODE, USE_GU, PROOF_GU,
			CARD_NO, VEN_CODE, USE_LOCA, REC_AMT, REC_HAMT, REC_TAMT, ETC, DEPT_CODE1, 
			DECI_DATE, DECI_NO, LINE_NO, SLIP_NO, VEN_NAME, OWNER_NAME, S_IDNO, P_IDNO, ADDR, VEN_NAME1, 
			S_IDNO1, DNAME, VEN_CODE2, RECEPT_GU
				)
		SELECT	C_CODE, @I_DOCU_NODE_CODE, BAL_DATE, @BAL_SEQ, ACCT_CODE, DEPT_CODE1, SA_CODE, USE_GU, PROOF_GU,
			CARD_NO, VEN_CODE, USE_LOCA, REC_AMT, REC_HAMT, REC_TAMT, ETC, @I_DOCU_DEPT_CODE, 
			@I_DOCU_DECI_DATE, @I_DOCU_DECI_NO, @DOCU_LINE_NO + DATA_LINE, DATA_SLIP, VEN_NAME, OWNER_NAME, S_IDNO, P_IDNO, ADDR, VEN_NAME1, 
			S_IDNO1, DNAME, VEN_CODE2, RECEPT_GU
		FROM	RECEPTRELA
		WHERE	C_CODE = @I_AUTODOCU_C_CODE
		AND	NODE_CODE = @I_AUTODOCU_NODE_CODE
		AND	DEPT_CODE = @I_AUTODOCU_DEPT_CODE
		AND	DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
		AND	WRITE_DATE = @I_AUTODOCU_WRITE_DATE
		AND	DATA_NO = @I_AUTODOCU_DATA_NO
		AND	DATA_LINE = @RECEPTRELA_DATA_LINE
		AND	DATA_SLIP = @RECEPTRELA_DATA_SLIP

		IF	@@ERROR <> 0
		BEGIN
			SELECT	@ERROR_TEXT = 'RECEPT INSERT'
			ROLLBACK TRANSACTION
			RAISERROR (50015, 10, 1, @ERROR_TEXT)
			DEALLOCATE	CUR_AUTODOCU_PROC_RECEPTRELA
			RETURN
		END

		FETCH	NEXT FROM CUR_AUTODOCU_PROC_RECEPTRELA INTO @RECEPTRELA_DATA_LINE, @RECEPTRELA_DATA_SLIP, @RECEPTRELA_BAL_DATE
	END

	CLOSE CUR_AUTODOCU_PROC_RECEPTRELA
	DEALLOCATE	CUR_AUTODOCU_PROC_RECEPTRELA


	--[2008/01/10]부가세있는경우 DOCUDD M56 관리항목 부가세 사업장으로 처리해준다 
	INSERT INTO DOCUDD(	DECI_DATE, DECI_NO, LINE_NO, SLIP_NO, CHECK_NO, DEPT_CODE, NODE_CODE, C_CODE, 
				CHECK_CODE, 
				CHECKD_CODE, 
				CHK_T_NAME, 
				ACCT_CODE, 
				DR_AMT, 
				CR_AMT, 
				ACCT_DATE, DOCU_NO, AMT_GUBUN)
	SELECT	@I_DOCU_DECI_DATE, @I_DOCU_DECI_NO, @DOCU_LINE_NO + A.DATA_LINE, A.DATA_SLIP, C.SERIAL_NO, @I_DOCU_DEPT_CODE, @I_DOCU_NODE_CODE, @I_AUTODOCU_C_CODE,
		C.CHECK_CODE, 
		(
		CASE WHEN @TAXRELA_EXIST = '1' AND C.CHECK_CODE = 'M56' THEN @I_TAX_NODE_CODE
		ELSE
			CASE C.CHECK_CODE	WHEN A.CHECK_CODE1	THEN A.CHECKD_CODE1
						WHEN A.CHECK_CODE2	THEN A.CHECKD_CODE2
						WHEN A.CHECK_CODE3	THEN A.CHECKD_CODE3
						WHEN A.CHECK_CODE4	THEN A.CHECKD_CODE4
						WHEN A.CHECK_CODE5	THEN A.CHECKD_CODE5
						WHEN A.CHECK_CODE6	THEN A.CHECKD_CODE6
						WHEN A.CHECK_CODE7	THEN A.CHECKD_CODE7
						WHEN A.CHECK_CODE8	THEN A.CHECKD_CODE8
						WHEN A.CHECK_CODE9	THEN A.CHECKD_CODE9
						WHEN A.CHECK_CODE10	THEN A.CHECKD_CODE10	END
		END
		),
		(
		CASE WHEN @TAXRELA_EXIST = '1' AND C.CHECK_CODE = 'M56' THEN 
			( SELECT NODE_NAME FROM VBASE_STANDARD_SBU WHERE C_CODE = @I_AUTODOCU_C_CODE AND NODE_CODE = @I_TAX_NODE_CODE )
		ELSE
			CASE C.CHECK_CODE	WHEN A.CHECK_CODE1	THEN A.CHECKD_NAME1
						WHEN A.CHECK_CODE2	THEN A.CHECKD_NAME2
						WHEN A.CHECK_CODE3	THEN A.CHECKD_NAME3
						WHEN A.CHECK_CODE4	THEN A.CHECKD_NAME4
						WHEN A.CHECK_CODE5	THEN A.CHECKD_NAME5
						WHEN A.CHECK_CODE6	THEN A.CHECKD_NAME6
						WHEN A.CHECK_CODE7	THEN A.CHECKD_NAME7
						WHEN A.CHECK_CODE8	THEN A.CHECKD_NAME8
						WHEN A.CHECK_CODE9	THEN A.CHECKD_NAME9
						WHEN A.CHECK_CODE10	THEN A.CHECKD_NAME10 END
		END
		),
		A.ACCT_CODE, 
		(CASE A.AMT_GUBUN	WHEN '2'	THEN (A.DR_AMT + A.CR_AMT)
					WHEN '3'	THEN (A.DR_AMT + A.CR_AMT) ELSE 0 END),
		(CASE A.AMT_GUBUN	WHEN '1'	THEN (A.DR_AMT + A.CR_AMT)
					WHEN '4'	THEN (A.DR_AMT + A.CR_AMT) ELSE 0 END),
		'00000000', 0, A.AMT_GUBUN

	FROM	AUTODOCU A,
		CHECKCHA C
	WHERE	A.C_CODE = @I_AUTODOCU_C_CODE
	AND	A.NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	A.DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	A.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	A.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	A.DATA_NO = @I_AUTODOCU_DATA_NO
	AND	A.C_CODE = C.C_CODE
	AND	A.ACCT_CODE = C.ACCT_CODE


	IF	@@ERROR <> 0
	BEGIN
 		SELECT	@ERROR_TEXT = 'DOCUDD INSERT'
 		RAISERROR (50016, 10, 1, @ERROR_TEXT)
 		RETURN
	END

	UPDATE	AUTODOCU
	SET	DOCU_STAT = '1'
	WHERE	C_CODE = @I_AUTODOCU_C_CODE
	AND	NODE_CODE = @I_AUTODOCU_NODE_CODE
	AND	DEPT_CODE = @I_AUTODOCU_DEPT_CODE
	AND	DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
	AND	WRITE_DATE = @I_AUTODOCU_WRITE_DATE
	AND	DATA_NO = @I_AUTODOCU_DATA_NO
	
	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'AUTODOCU UPDATE'
		RAISERROR (50003, 10, 1, @ERROR_TEXT)
		RETURN
	END

	RETURN 0
END

GO
