USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SBEBGONG]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SBEBGONG](
	[BEBGONG_CD] [nvarchar](8) NOT NULL,
	[ADDR] [nvarchar](60) NULL,
	[GUGUN] [varchar](50) NULL,
	[DONG] [nvarchar](60) NULL,
	[DONG_1] [nvarchar](60) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_IP] [nvarchar](10) NULL,
 CONSTRAINT [PK_SBEBGONG] PRIMARY KEY CLUSTERED 
(
	[BEBGONG_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
