USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[RECEPTRELA]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[RECEPTRELA](
	[C_CODE] [varchar](4) NOT NULL,
	[DATA_GUBUN] [varchar](2) NOT NULL,
	[WRITE_DATE] [char](8) NOT NULL,
	[DATA_NO] [numeric](4, 0) NOT NULL,
	[DATA_LINE] [numeric](4, 0) NOT NULL,
	[DATA_SLIP] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[ACCT_CODE] [char](5) NULL,
	[SA_CODE] [varchar](12) NULL,
	[USE_GU] [char](1) NULL,
	[PROOF_GU] [char](1) NULL,
	[CARD_NO] [varchar](20) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[USE_LOCA] [char](1) NULL,
	[REC_AMT] [numeric](15, 0) NOT NULL,
	[REC_HAMT] [numeric](15, 0) NOT NULL,
	[REC_TAMT] [numeric](15, 0) NOT NULL,
	[DEPT_CODE1] [varchar](12) NULL,
	[VEN_NAME] [varchar](30) NULL,
	[OWNER_NAME] [varchar](20) NULL,
	[S_IDNO] [varchar](10) NULL,
	[P_IDNO] [varchar](13) NULL,
	[ADDR] [varchar](70) NULL,
	[VEN_NAME1] [varchar](30) NULL,
	[S_IDNO1] [varchar](10) NULL,
	[DNAME] [varchar](30) NULL,
	[VEN_CODE2] [varchar](6) NULL,
	[ETC] [varchar](50) NULL,
	[RECEPT_GU] [char](1) NULL,
 CONSTRAINT [PK_RECEPTRELA] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DATA_GUBUN] ASC,
	[WRITE_DATE] ASC,
	[DATA_NO] ASC,
	[DATA_LINE] ASC,
	[DATA_SLIP] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__WRITE__385A3EEA]  DEFAULT ('00000000') FOR [WRITE_DATE]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__DATA___394E6323]  DEFAULT ((1)) FOR [DATA_NO]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__DATA___3A42875C]  DEFAULT ((1)) FOR [DATA_LINE]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__DATA___3B36AB95]  DEFAULT ((1)) FOR [DATA_SLIP]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__BAL_D__3C2ACFCE]  DEFAULT ('00000000') FOR [BAL_DATE]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__USE_G__3D1EF407]  DEFAULT ('1') FOR [USE_GU]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__PROOF__3E131840]  DEFAULT ('1') FOR [PROOF_GU]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__REC_A__3F073C79]  DEFAULT ((0)) FOR [REC_AMT]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__REC_H__3FFB60B2]  DEFAULT ((0)) FOR [REC_HAMT]
GO
ALTER TABLE [DZAIS].[RECEPTRELA] ADD  CONSTRAINT [DF__RECEPTREL__REC_T__40EF84EB]  DEFAULT ((0)) FOR [REC_TAMT]
GO
