USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[INOUTSUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[INOUTSUM](
	[NODE_CODE] [varchar](4) NOT NULL,
	[ITEM_CODE] [varchar](12) NOT NULL,
	[CLOSE_YM] [char](6) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[CLOSE_SYM] [char](6) NOT NULL,
	[BASE_QTY] [numeric](15, 4) NOT NULL,
	[BASE_PRICE] [numeric](15, 4) NOT NULL,
	[BASE_AMT] [numeric](15, 4) NOT NULL,
	[IN_QTY] [numeric](15, 4) NOT NULL,
	[IN_PRICE] [numeric](15, 4) NOT NULL,
	[IN_AMT] [numeric](15, 4) NOT NULL,
	[OUT_QTY] [numeric](15, 4) NOT NULL,
	[OUT_PRICE] [numeric](15, 4) NOT NULL,
	[OUT_AMT] [numeric](15, 0) NOT NULL,
	[STOCK_QTY] [numeric](15, 4) NOT NULL,
	[STOCK_PRICE] [numeric](15, 4) NOT NULL,
	[STOCK_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_INOUTSUM] PRIMARY KEY CLUSTERED 
(
	[NODE_CODE] ASC,
	[ITEM_CODE] ASC,
	[CLOSE_YM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_BASE_QTY]  DEFAULT ((0)) FOR [BASE_QTY]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_BASE_PRICE]  DEFAULT ((0)) FOR [BASE_PRICE]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_BASE_AMT]  DEFAULT ((0)) FOR [BASE_AMT]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_IN_QTY]  DEFAULT ((0)) FOR [IN_QTY]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_IN_PRICE]  DEFAULT ((0)) FOR [IN_PRICE]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_IN_AMT]  DEFAULT ((0)) FOR [IN_AMT]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_OUT_QTY]  DEFAULT ((0)) FOR [OUT_QTY]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_OUT_PRICE]  DEFAULT ((0)) FOR [OUT_PRICE]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_OUT_AMT]  DEFAULT ((0)) FOR [OUT_AMT]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_STOCK_QTY]  DEFAULT ((0)) FOR [STOCK_QTY]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_STOCK_PRICE]  DEFAULT ((0)) FOR [STOCK_PRICE]
GO
ALTER TABLE [DZAIS].[INOUTSUM] ADD  CONSTRAINT [DF_INOUTSUM_STOCK_AMT]  DEFAULT ((0)) FOR [STOCK_AMT]
GO
