USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVATRPT_BACKUP]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVATRPT_BACKUP](
	[CO_CD] [nvarchar](7) NOT NULL,
	[DIV_CD] [nvarchar](7) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[ST_FG] [nvarchar](2) NOT NULL,
	[LN_NB] [nvarchar](2) NOT NULL,
	[RP_FG] [nvarchar](1) NULL,
	[RPT_TM] [nvarchar](6) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[VAT_RT] [numeric](17, 4) NULL,
	[BUSINESS] [nvarchar](30) NULL,
	[JONGMOK] [nvarchar](30) NULL,
	[RP_DT] [nvarchar](8) NULL,
	[DUMMY1] [nvarchar](40) NULL,
	[DUMMY2] [nvarchar](40) NULL,
	[DUMMY3] [nvarchar](40) NULL,
	[DUMMY4] [numeric](17, 4) NULL,
	[DUMMY5] [numeric](17, 4) NULL,
	[DUMMY6] [numeric](17, 4) NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[REVISION_DC] [nvarchar](70) NULL,
	[ISS_SQ] [numeric](5, 0) NOT NULL,
	[ISS_ST] [nvarchar](3) NOT NULL,
	[SLACK_DT] [nvarchar](8) NULL,
 CONSTRAINT [PK_AVATRPT_BACKUP_부가세신고서] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[ST_FG] ASC,
	[LN_NB] ASC,
	[SINGO_FG] ASC,
	[ISS_SQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__FR_DT__371C01EE]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__TO_DT__38102627]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__LN_NB__39044A60]  DEFAULT ('0') FOR [LN_NB]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__SUP_A__39F86E99]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__VAT_A__3AEC92D2]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__VAT_R__3BE0B70B]  DEFAULT ((0)) FOR [VAT_RT]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__RP_DT__3CD4DB44]  DEFAULT ('00000000') FOR [RP_DT]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__DUMMY__3DC8FF7D]  DEFAULT ((0)) FOR [DUMMY4]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__DUMMY__3EBD23B6]  DEFAULT ((0)) FOR [DUMMY5]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__DUMMY__3FB147EF]  DEFAULT ((0)) FOR [DUMMY6]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__SINGO__40A56C28]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__ISS_S__41999061]  DEFAULT ((0)) FOR [ISS_SQ]
GO
ALTER TABLE [DZAIS].[AVATRPT_BACKUP] ADD  CONSTRAINT [DF__AVATRPT_B__ISS_S__428DB49A]  DEFAULT ((100)) FOR [ISS_ST]
GO
