USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[GRAPHICS_2]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[GRAPHICS_2](
	[PRICE1_1] [numeric](17, 2) NULL,
	[NAME1_1] [char](25) NOT NULL,
	[KUBUN1_1] [char](1) NULL,
	[PRICE1_2] [numeric](17, 2) NULL,
	[NAME1_2] [char](25) NULL,
	[KUBUN1_2] [char](1) NULL,
	[PRICE2_1] [numeric](17, 2) NULL,
	[NAME2_1] [char](25) NULL,
	[KUBUN2_1] [char](1) NULL,
	[PRICE2_2] [numeric](17, 2) NULL,
	[NAME2_2] [char](25) NULL,
	[KUBUN2_2] [char](1) NULL,
	[PRICE3_1] [numeric](17, 2) NULL,
	[NAME3_1] [char](25) NULL,
	[KUBUN3_1] [char](1) NULL,
 CONSTRAINT [PK_NAME1_1] PRIMARY KEY CLUSTERED 
(
	[NAME1_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[GRAPHICS_2] ADD  CONSTRAINT [DF_GRAPHICS_2_PRICE1_1]  DEFAULT ((0)) FOR [PRICE1_1]
GO
ALTER TABLE [DZAIS].[GRAPHICS_2] ADD  CONSTRAINT [DF_GRAPHICS_2_PRICE1_2]  DEFAULT ((0)) FOR [PRICE1_2]
GO
ALTER TABLE [DZAIS].[GRAPHICS_2] ADD  CONSTRAINT [DF_GRAPHICS_2_PRICE2_1]  DEFAULT ((0)) FOR [PRICE2_1]
GO
ALTER TABLE [DZAIS].[GRAPHICS_2] ADD  CONSTRAINT [DF_GRAPHICS_2_PRICE2_2]  DEFAULT ((0)) FOR [PRICE2_2]
GO
ALTER TABLE [DZAIS].[GRAPHICS_2] ADD  CONSTRAINT [DF_GRAPHICS_2_PRICE3_1]  DEFAULT ((0)) FOR [PRICE3_1]
GO
