USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVASSET_CVTH]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVASSET_CVTH](
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[CO_CD] [varchar](4) NOT NULL,
	[DIV_CD] [varchar](4) NOT NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[DIV_NM] [varchar](30) NULL,
	[REG_NB] [varchar](10) NOT NULL,
	[ADDR] [varchar](70) NULL,
	[TEL] [varchar](16) NULL,
	[STAT_DT] [varchar](8) NOT NULL,
 CONSTRAINT [PK_AVASSET_CVTH] PRIMARY KEY CLUSTERED 
(
	[FR_DT] ASC,
	[TO_DT] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTH] ADD  CONSTRAINT [DF__AVASSET_C__FR_DT__709E980D]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTH] ADD  CONSTRAINT [DF__AVASSET_C__TO_DT__7192BC46]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTH] ADD  CONSTRAINT [DF__AVASSET_C__SINGO__7286E07F]  DEFAULT ((0)) FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTH] ADD  CONSTRAINT [DF__AVASSET_C__STAT___737B04B8]  DEFAULT ('00000000') FOR [STAT_DT]
GO
