USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPD_DOCUD_DRCR_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE   PROCEDURE [DZAIS].[UPD_DOCUD_DRCR_A]
(@O_C_CODE VARCHAR(4),
 @O_NODE_CODE VARCHAR(4),
 @O_DEPT_CODE VARCHAR(12),
 @O_DECI_NO NUMERIC(4),
 @O_DECI_DATE CHAR(8),
 @O_SLIP_NO NUMERIC(4),
 @O_LINE_NO NUMERIC(4)
)
AS

BEGIN
   DECLARE
	@ERR_NO  INT,
	@cnt INT,
	@err_msg    VARCHAR(100)

	SELECT @cnt = 1
	  FROM DOCUDD
	  WHERE DECI_DATE = @O_DECI_DATE
	    AND DECI_NO   = @O_DECI_NO
	    AND LINE_NO   = @O_LINE_NO
	    AND SLIP_NO   = @O_SLIP_NO
	    AND DEPT_CODE = @O_DEPT_CODE
	    AND NODE_CODE = @O_NODE_CODE
	    AND C_CODE    = @O_C_CODE

	IF ( @@ROWCOUNT < 1 )	SELECT @cnt = 0

	IF ( @cnt > 0 )
	BEGIN
		SELECT @ERR_NO = 20002
		RAISERROR (@ERR_NO, 16, -1, '전표삭제 에러! DOCUDD의 관련항목을 먼저 삭제후 삭제하십시요! ')
		GOTO ON_ERROR
	END
RETURN 0
ON_ERROR:
   RAISERROR (@ERR_NO, 16, -1, @err_msg)
   ROLLBACK  TRANSACTION
END

GO
