USE [DZAIS]
GO
/****** Object:  View [DZAIS].[ATAX]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE   VIEW [DZAIS].[ATAX]    
AS    
SELECT  
	B.C_CODE CO_CD,    
	ISNULL(B.NODE_CODE,B.DNODE_CODE) DIV_CD,    
	B.DEPT_CODE DEPT_CD,    
	B.BAL_DATE ISS_DT,    
	B.TAX_NO SEQ_NB,    
	(CASE   WHEN B.TAX_GU  = '18' THEN '19'    
	WHEN B.TAX_GU  = '19' THEN '18'    
	WHEN B.TAX_GU  = '1A' THEN '31'    
	WHEN B.TAX_GU  = '1B' THEN '32'    
	WHEN B.TAX_GU  = '28' THEN '23'   --계산서    
	WHEN B.TAX_GU  = '29' THEN '28'   --영수증    
	WHEN B.TAX_GU  = '2A' THEN '26'   --신용카드    
	WHEN B.TAX_GU  = '2B' THEN '26'    
	WHEN B.TAX_GU  = '1C' THEN '33' -- 매입자발행 매출    
	WHEN B.TAX_GU  = '2C' THEN '29' -- 매입자발행 매입    
	ELSE B.TAX_GU END ) TAX_FG,    
	(CASE WHEN B.TAX_GU IN ('24','2D') THEN '4'+B.BUL_GUBUN     
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = '1' THEN '65'    --의제(농어민)/재활용(영수증)  2/102(의제)    
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = '2' THEN '60'   --의제(농어민)/재활용(영수증)  3/103(의제)    
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = '3' THEN '64'  --의제(농어민)/재활용(영수증)  5/105(의제)    
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = '4' THEN '6B'  --의제(농어민)/재활용(영수증)  6/106(의제)    
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = '9' THEN '6D'  --의제(농어민)/재활용(영수증)  8/108(개인)    
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = '6' THEN '61'  --의제(농어민)/재활용(영수증)  8/108(재활용)    
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = '7' THEN '6A'  --의제(농어민)/재활용(영수증)  6/106(재활용)    
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = '8' THEN '69'  --의제(농어민)/재활용(영수증)  10/110(재활용)    
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = '5' THEN '6F'  --의제(농어민)/재활용(영수증)  4/104(재활용)    
	WHEN B.TAX_GU  = '26' AND B.EJE_RATE = 'A' THEN '69'  --의제(농어민)/재활용(영수증)  9/109(재활용)    
	
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = '1' THEN '33'    --의제/재활용(계산서)  2/102(의제)    
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = '2' THEN '31'   --의제/재활용(계산서)  3/103(의제)    
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = '3' THEN '32'  --의제/재활용(계산서)  5/105(의제)    
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = '4' THEN '36'  --의제/재활용(계산서)  6/106(의제)    
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = '6' THEN '34'  --의제/재활용(계산서)  8/108(재활용)    
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = '7' THEN '37'  --의제/재활용(계산서)  6/106(재활용)    
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = '8' THEN '35'  --의제/재활용(계산서)  10/110(재활용)    
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = '9' THEN '38'  --의제/재활용(계산서)  8/108(개인)    
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = '5' THEN '39'  --의제/재활용(계산서)  4/104(개인)  
	WHEN B.TAX_GU  = '28' AND B.EJE_RATE = 'A' THEN '35'  --의제/재활용(계산서)  9/109(개인)  
	
	WHEN B.TAX_GU  = '2A' AND B.EJE_RATE = '1' THEN '68'    --의제매입(신용카드)  2/102(의제)    
	WHEN B.TAX_GU  = '2A' AND B.EJE_RATE = '2' THEN '66'   --의제매입(신용카드)  3/103(의제)    
	WHEN B.TAX_GU  = '2A' AND B.EJE_RATE = '3' THEN '67'  --의제매입(신용카드)  5/105(의제)    
	WHEN B.TAX_GU  = '2A' AND B.EJE_RATE = '4' THEN '6C'  --의제매입(신용카드)  6/106(의제)    
	WHEN B.TAX_GU  = '2A' AND B.EJE_RATE = '9' THEN '6E'  --의제매입(신용카드)  8/108(개인)    
	WHEN B.TAX_GU  = '2A' AND B.EJE_RATE = '5' THEN '6G'  --의제매입(신용카드) 4/104(개인)  
	ELSE '0' END ) NONSUB_TY,    
	(CASE WHEN B.WORK_GUBUN = '1' OR B.WORK_GUBUN = '3' THEN '0' ELSE '1' END) WORK_FG,    
	ISNULL(B.S_IDNO,'') TR_CD,    
	B.GONG_AMT SUP_AM,    
	B.GONG_AMT2 ASSET_AM,    
	-- B.TAX_VAT  VAT_AM,    
	CASE WHEN B.TAX_GU IN ('26', '28', '2A') THEN EJE_AMT ELSE B.TAX_VAT END VAT_AM,   --20090331 수정, 김달용, 의제매입세액공제금액을 VAT_AM으로 넘김    
	B.DAY_PRINT PRT_DT,    
	'' EMP_CD,    
	ISNULL((CASE WHEN B.TAX_GU  = '12' OR B.TAX_GU = '16' THEN B.EXCH_AMT ELSE 0 END ),0) CASH_AM,    
	ISNULL((CASE WHEN B.TAX_GU  = '12' OR B.TAX_GU = '16' THEN B.EXCH_RATE     
	WHEN B.TAX_GU = '24' THEN B.TAX_VAT ELSE 0 END ),0) BILL_AM,    
	'0' CLT_FG,    
	B.RMK  RMK_DC,    
	-- RTRIM(LTRIM( ISNULL(B.EXPORT_NO,'') + ISNULL(B.CARDNO,'') + ISNULL(B.CASH_NUM,'') + ISNULL(B.RELAT_NO,''))) CT_NB,  --원본내용    
	-- ISNULL((B.EXPORT_NO+B.CARDNO+B.CASH_NUM+B.RELAT_NO),'') CT_NB,  --******8*8*****    수정내용    
	RTRIM(LTRIM(    
	CASE WHEN ISNULL(B.EXPORT_NO,'') = '0' THEN '' ELSE ISNULL(B.EXPORT_NO,'') END +     
	CASE WHEN ISNULL(B.CARDNO,'') = '0' THEN '' ELSE ISNULL(B.CARDNO,'') END +     
	CASE WHEN ISNULL(B.CASH_NUM,'') = '0' THEN '' ELSE ISNULL(B.CASH_NUM,'') END +     
	CASE WHEN ISNULL(B.RELAT_NO,'') = '0' THEN '' ELSE ISNULL(B.RELAT_NO,'') END)) CT_NB,       
	
	B.DECI_DATE ISU_DT,    
	(CASE WHEN B.WORK_GUBUN = '1' OR B.WORK_GUBUN = '3'     
	THEN B.LINE_NO ELSE '0' END)  LN_SQ,    
	-- B.LINE_NO LN_SQ,    
	B.DECI_NO ISU_SQ,    
	'' INSERT_ID,    
	'' INSERT_DT,    
	'' INSERT_IP,    
	'' MODIFY_ID,    
	'' MODIFY_DT,    
	'' MODIFY_IP,    
	B.EXCH_CODE DUMMY1,    
	'' DUMMY2,    
	'' DUMMY3,    
	'' RECE_ID,    
	'' RECE_NM,    
	'' TRAN_DT,    
	B.PJT_CODE PJT_CD,    
	B.TAX_AMT2 ASSET_VAT,    
	B.VEN_TYPE VEN_TYPE,    
	(CASE WHEN ISNULL(B.DOCU_STAT,'1') = '3' THEN '1' ELSE '0' END ) DOCU_ST,-- 1.미결상태,   3.승인상태    
	'1' ATTR_CD,    
	'0' PREV_FG,    
	(CASE WHEN B.WORK_GUBUN = '3' OR B.WORK_GUBUN = '4' THEN '1' ELSE '0' END) LIQ_FG,    
	(CASE WHEN B.WORK_GUBUN = '1' OR B.WORK_GUBUN = '3'     
	THEN B.C_CODE+';'+  --회사코드    
	B.DNODE_CODE+';'+ --전표사업장코드    
	B.DEPT_CODE+';'+ --부서코드    
	B.DECI_DATE+';'+  --결의일자    
	(REPLICATE( '0', 4 -LEN(B.DECI_NO)) + CONVERT(VARCHAR(4), B.DECI_NO))+';'+ --결의번호    
	REPLICATE( '0', 4 -LEN(B.LINE_NO)) + CONVERT(VARCHAR(4), B.LINE_NO)+';'+ --라인번호     
	REPLICATE( '0', 4 -LEN(B.SLIP_NO)) + CONVERT(VARCHAR(4), B.SLIP_NO) --슬립번호    
	ELSE  '*' END) DATA_CD,    
	ISNULL(B.EJE_QT,0) TAX_QTY,    
	B.BAL_DATE TAX_DT,    
	B.EJE_ITEM ITEM_DC,    
	CASE B.JEONJA_YN WHEN '2' THEN '1' ELSE '0' END JEONJA_YN,
	(CASE B.JEONJASEND15_YN WHEN '0' THEN '1' WHEN '1' THEN '0' ELSE '1' END) JEONJASEND15_YN,
	B.NO_CAR,
	B.NO_CARBODY
FROM 	TAX B    
WHERE 	B.DOCU_STAT = '3'  -- 1.미결상태,   3.승인상태    

GO
