USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SP_FUND_NO1]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [DZAIS].[SP_FUND_NO1] ( @TABLENM CHAR(15) OUTPUT ) 
AS 
BEGIN 
	DECLARE 
	@ERRNO    INT, 
   @ERRMSG   VARCHAR(255), 
	@FUND_NO    VARCHAR(6),    
	@INUM        INT
  
	BEGIN TRANSACTION     


	IF EXISTS ( SELECT 1 
					  FROM FUND_NO1 
                WHERE TABLENM = @TABLENM
             ) 
	BEGIN 
	        SELECT @INUM  = (FUND_NO + 1)  FROM FUND_NO1  
	          WHERE TABLENM = @TABLENM   
     
	        IF @INUM > 9999 
		           SELECT @INUM = 1

		UPDATE FUND_NO1 
			SET FUND_NO =@INUM 
		 WHERE TABLENM     = @TABLENM  
  
		IF ( @@ERROR <> 0 ) 
	              GOTO ERROR 
	END 
	ELSE 
	BEGIN 
		INSERT INTO FUND_NO1( TABLENM,  FUND_NO  ) 
				VALUES ( @TABLENM ,1   ) 
		IF ( @@ERROR <> 0 ) 
			GOTO ERROR 
	END 
  
	COMMIT TRANSACTION 
  
	SELECT  @FUND_NO = CONVERT(VARCHAR(10),FUND_NO) 
	  FROM   FUND_NO1 
	 WHERE  TABLENM = @TABLENM   
  
  
	SELECT @ERRNO  = 30001, 
			 @ERRMSG = @FUND_NO 
  
	RAISERROR ('%d,%s',16,1,@ERRNO, @ERRMSG )
  
    RETURN 0 
 ERROR: 
     RAISERROR ('%d,%s',16,1,@ERRNO, @ERRMSG )
     ROLLBACK  TRANSACTION  
 END  

GO
