USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_TAEJIKCHUNGDANGKUM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 

CREATE  PROC [DZAIS].[USP_IPLUS_TAEJIKCHUNGDANGKUM]
(
	@CO_CD				VARCHAR(4), 		-- 회사코드 ( 필수 )
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8) 
)
AS
/*************************************************************************/
--설    명 : 회계관리 - 법인연동 - 퇴직급여충당금조정명세서 
--수 정 자 : 김대영
--수정일자 : 2010/01/18
--수정내역 : 2010/01/18 : 신규 
/***/
BEGIN  

-- EXEC [USP_IPLUS_COR_TAEJIKCHUNGDANGKUM_SELECT] '','5000',6, '20090101','20091231' 

	DECLARE @NEW_CO_CD VARCHAR(4)

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD
	
	SELECT	ISNULL(SUM(A.MN_RETIREALLOW),0)  MN_RETIREALLOW, 
		ISNULL(SUM(A.MN_RETIREACHALLOW),0)  MN_RETIRECHALLOW
	FROM 	(
		SELECT	SUM( CASE WHEN S.PLUS_ACCT_CODE IN ('295', '296') THEN A.CR_AMT - A.DR_AMT + A.AMT ELSE 0 END ) MN_RETIREALLOW,
			SUM( CASE WHEN S.PLUS_ACCT_CODE ='200' THEN  ISNULL(A.DR_AMT - A.CR_AMT + A.AMT,0) ELSE 0 END ) MN_RETIREACHALLOW
		FROM	(
			SELECT	C_CODE,
				ACCT_CODE,
				SUM(AMT) AMT,
				0 DR_AMT,
				0 CR_AMT
			FROM	PREV_BS
			WHERE	C_CODE = @NEW_CO_CD
			AND	GISU = CONVERT(INT, @GISU)  -- 기수
			GROUP BY C_CODE, ACCT_CODE
			UNION ALL
			SELECT	C_CODE,
				ACCT_CODE,
				0 AMT,
				SUM(DR_AMT),
				SUM(CR_AMT)
			FROM	DIARYSUM
			WHERE	C_CODE = @NEW_CO_CD
			AND	ACCT_DATE BETWEEN @FR_DT AND @TO_DT
			GROUP BY C_CODE, ACCT_CODE
			) A, 
			TAXACCTCODE S
		WHERE 	A.C_CODE = S.C_CODE
		AND	A.ACCT_CODE = S.ACCT_CODE
		AND	S.PLUS_ACCT_CODE IN ('200','295','296')
		) A 
END

GO
