USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[RECEPT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[RECEPT](
	[BAL_DATE] [char](8) NOT NULL,
	[BAL_SEQ] [numeric](4, 0) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[SA_CODE] [varchar](10) NULL,
	[USE_GU] [char](1) NULL,
	[PROOF_GU] [char](1) NULL,
	[CARD_NO] [varchar](20) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[USE_LOCA] [char](1) NULL,
	[REC_AMT] [numeric](15, 0) NULL,
	[REC_HAMT] [numeric](15, 0) NULL,
	[REC_TAMT] [numeric](15, 0) NULL,
	[ETC] [varchar](50) NULL,
	[DEPT_CODE1] [varchar](12) NULL,
	[DECI_DATE] [char](8) NULL,
	[DECI_NO] [numeric](4, 0) NULL,
	[LINE_NO] [numeric](4, 0) NULL,
	[SLIP_NO] [numeric](4, 0) NULL,
	[VEN_NAME] [varchar](30) NULL,
	[OWNER_NAME] [varchar](20) NULL,
	[S_IDNO] [varchar](10) NULL,
	[P_IDNO] [varchar](13) NULL,
	[ADDR] [varchar](70) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[VEN_NAME1] [varchar](30) NULL,
	[S_IDNO1] [varchar](10) NULL,
	[DNAME] [varchar](30) NULL,
	[VEN_CODE2] [varchar](6) NULL,
	[RECEPT_GU] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[BAL_DATE] ASC,
	[BAL_SEQ] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[RECEPT] ADD  CONSTRAINT [DF__RECEPT__RECEPT_G__2E11BAA1]  DEFAULT ('0') FOR [RECEPT_GU]
GO
