USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SP_PRT_AUTOCOUNT]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [DZAIS].[SP_PRT_AUTOCOUNT]
AS
BEGIN
    DECLARE
	 @ERRNO       INT,

	 @ERRMSG      VARCHAR(255),
	 @NO_PRT      NUMERIC(15,0)

    BEGIN TRANSACTION

    IF EXISTS ( SELECT 1 FROM NO_PRT_TMP
                WHERE  NO_PRT < 999999999999 )
    BEGIN
       UPDATE NO_PRT_TMP
         SET  NO_PRT = NO_PRT + 1

       IF ( @@ERROR <> 0 )
             GOTO ERROR
    END
    ELSE
    BEGIN
       INSERT INTO NO_PRT_TMP( NO_PRT  )
                     VALUES ( 1 )

       IF ( @@ERROR <> 0 )
             GOTO ERROR
    END

    SELECT @NO_PRT = NO_PRT
     FROM  NO_PRT_TMP

    COMMIT TRANSACTION

    SELECT @ERRNO  = 30063,
           @ERRMSG = CONVERT(CHAR(15),@NO_PRT)

    RAISERROR ('%d,%s',16,1,@ERRNO, @ERRMSG)

    RETURN 0
ERROR:
    RAISERROR ('%d,%s',16,1,@ERRNO, @ERRMSG)
    ROLLBACK  TRANSACTION
END

GO
