USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSGROUP_MOVE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSGROUP_MOVE](
	[FS_CODE] [char](3) NOT NULL,
	[GROUP_CODE] [char](4) NOT NULL,
	[MOVE_CODE] [char](4) NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[MOVE_NAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FSGROUP_MOVE] PRIMARY KEY CLUSTERED 
(
	[FS_CODE] ASC,
	[GROUP_CODE] ASC,
	[MOVE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
