USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_SETTING]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_SETTING](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[FORM_CODE] [char](3) NOT NULL,
	[CHOICE_CODE] [char](1) NOT NULL,
	[NOTE_TEXT] [varchar](100) NULL,
 CONSTRAINT [PK_TAX_SETTING] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[FORM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_SETTING] ADD  CONSTRAINT [DF__TAX_SETTI__CHOIC__3C74E891]  DEFAULT ('0') FOR [CHOICE_CODE]
GO
