USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PATICULAR]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PATICULAR](
	[C_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[PAT_CODE] [varchar](3) NOT NULL,
	[PAT_NAME] [varchar](30) NULL,
	[STAN_TYPE] [char](1) NULL,
	[STAN_CODE] [char](3) NULL,
	[STAN_NAME] [varchar](30) NULL,
	[FORM_TYPE] [char](1) NULL,
	[ACCT_CODE1] [char](5) NULL,
	[ACCT_CODE2] [char](5) NULL,
	[ACCT_CODE3] [char](5) NULL,
	[ACCT_CODE4] [char](5) NULL,
	[ACCT_CODE5] [char](5) NULL,
	[ACCT_CODE6] [char](5) NULL,
	[ACCT_CODE7] [char](5) NULL,
	[ACCT_CODE8] [char](5) NULL,
	[ACCT_CODE9] [char](5) NULL,
	[ACCT_CODE10] [char](5) NULL,
	[ACCT_CODE11] [char](5) NULL,
	[ACCT_CODE12] [char](5) NULL,
	[FDAY] [char](8) NULL,
	[TDAY] [char](8) NULL,
 CONSTRAINT [PK_PATICULAR] PRIMARY KEY CLUSTERED 
(
	[PAT_CODE] ASC,
	[GISU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
