USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PREV_WON]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PREV_WON](
	[ACCT_CODE] [char](5) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[AMT] [numeric](15, 0) NOT NULL,
	[INIT_AMT] [numeric](15, 0) NOT NULL,
	[CUR_AMT] [numeric](15, 0) NOT NULL,
	[DIFACCT_AMT] [numeric](15, 0) NOT NULL,
	[GIM_AMT] [numeric](15, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[INACCT_AMT] [numeric](15, 0) NOT NULL,
	[DISACCT_AMT] [numeric](15, 0) NOT NULL,
	[SALEACCT_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_PREV_WON] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC,
	[NODE_CODE] ASC,
	[GISU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF_PREV_WON_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF_PREV_WON_AMT]  DEFAULT ((0)) FOR [AMT]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF_PREV_WON_INIT_AMT]  DEFAULT ((0)) FOR [INIT_AMT]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF_PREV_WON_CUR_AMT]  DEFAULT ((0)) FOR [CUR_AMT]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF_PREV_WON_DIFACCT_AMT]  DEFAULT ((0)) FOR [DIFACCT_AMT]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF_PREV_WON_GIM_AMT]  DEFAULT ((0)) FOR [GIM_AMT]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF_PREV_WON_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF_PREV_WON_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF__PREV_WON__INACCT__5AE46118]  DEFAULT ((0)) FOR [INACCT_AMT]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF__PREV_WON__DISACC__5BD88551]  DEFAULT ((0)) FOR [DISACCT_AMT]
GO
ALTER TABLE [DZAIS].[PREV_WON] ADD  CONSTRAINT [DF__PREV_WON__SALEAC__5CCCA98A]  DEFAULT ((0)) FOR [SALEACCT_AMT]
GO
ALTER TABLE [DZAIS].[PREV_WON]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[PREV_WON]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
