USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_BAK]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_BAK](
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_NO] [numeric](6, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[WORK_GUBUN] [char](1) NULL,
	[VEN_TYPE] [char](1) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[TAX_GU] [char](2) NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_VAT] [numeric](15, 0) NOT NULL,
	[S_IDNO] [varchar](15) NULL,
	[DNODE_CODE] [varchar](4) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[RELAT_NO] [varchar](20) NULL,
	[GONG_AMT2] [numeric](15, 0) NOT NULL,
	[DAY_PRINT] [char](8) NOT NULL,
	[DOCU_STAT] [char](1) NULL,
	[BUL_GUBUN] [char](1) NULL,
	[EXPORT_NO] [char](15) NULL,
	[EXCH_CODE] [char](3) NULL,
	[EXCH_RATE] [numeric](11, 4) NULL,
	[EXCH_AMT] [numeric](15, 2) NULL,
	[EJE_RATE] [char](1) NULL,
	[CARDNO] [varchar](20) NULL,
	[CASH_NUM] [varchar](9) NULL,
	[CUSTOM_NO] [char](10) NULL,
	[PRT] [char](1) NULL,
	[TAX_AMT2] [numeric](15, 0) NOT NULL,
	[PRT_YN] [char](1) NULL,
	[PJT_CODE] [varchar](12) NULL,
	[BUL_AMT] [numeric](15, 0) NOT NULL,
	[EJE_ITEM] [varchar](30) NULL,
	[EJE_QT] [numeric](15, 0) NULL,
	[EJE_AMT] [numeric](15, 0) NULL,
	[RMK] [varchar](100) NULL,
	[CUSTOM_BUL_YN] [char](1) NULL,
	[ETAX_KEY] [varchar](20) NULL,
	[ETAX_STAT] [varchar](2) NULL,
	[BILL_TYPE] [varchar](2) NULL,
	[INVOICE] [varchar](50) NULL,
	[FILE_DIC] [varchar](100) NULL,
	[SEND_TYPE] [char](1) NULL,
	[JEONJA_YN] [char](1) NULL,
	[BAN_TAX_NO] [numeric](6, 0) NULL,
	[BAN_DECI_DATE] [char](8) NULL,
	[MODIFY_CODE] [char](2) NULL,
	[BAN_ETAX_KEY] [varchar](20) NULL,
	[SALE_ETAX_KEY] [varchar](40) NULL
) ON [PRIMARY]
GO
