USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TOT_ACCTLIST]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TOT_ACCTLIST](
	[ACCT_CODE] [char](5) NOT NULL,
	[TOT_CODE] [char](3) NOT NULL,
 CONSTRAINT [PK_TOT_ACCTLIST] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC,
	[TOT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
