USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_BULIST]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_BULIST](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[TAX_DATE] [char](16) NOT NULL,
	[CAL_GUBUN] [char](1) NOT NULL,
	[PJT_CODE] [varchar](12) NOT NULL,
	[PJT_NAME] [varchar](30) NOT NULL,
	[BUL_TYPE] [char](1) NOT NULL,
	[GONG_AMT] [numeric](19, 6) NOT NULL,
	[GONG_VAT] [numeric](19, 6) NOT NULL,
	[MYUN_AMT] [numeric](19, 6) NOT NULL,
	[MYUN_RATE] [numeric](19, 6) NOT NULL,
	[GWA_AMT] [numeric](19, 6) NOT NULL,
	[BUL_VAT] [numeric](19, 6) NOT NULL,
	[BUL_OLDVAT] [numeric](19, 6) NOT NULL,
 CONSTRAINT [PK_TAX_BULIST] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[TAX_GUBUN] ASC,
	[TAX_DATE] ASC,
	[CAL_GUBUN] ASC,
	[PJT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_BULIST] ADD  CONSTRAINT [DF__TAX_BULIS__TAX_G__11757BF3]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
ALTER TABLE [DZAIS].[TAX_BULIST] ADD  CONSTRAINT [DF__TAX_BULIS__BUL_T__1269A02C]  DEFAULT ('0') FOR [BUL_TYPE]
GO
ALTER TABLE [DZAIS].[TAX_BULIST] ADD  CONSTRAINT [DF__TAX_BULIS__GONG___135DC465]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[TAX_BULIST] ADD  CONSTRAINT [DF__TAX_BULIS__GONG___1451E89E]  DEFAULT ((0)) FOR [GONG_VAT]
GO
ALTER TABLE [DZAIS].[TAX_BULIST] ADD  CONSTRAINT [DF__TAX_BULIS__MYUN___15460CD7]  DEFAULT ((0)) FOR [MYUN_AMT]
GO
ALTER TABLE [DZAIS].[TAX_BULIST] ADD  CONSTRAINT [DF__TAX_BULIS__MYUN___163A3110]  DEFAULT ((0)) FOR [MYUN_RATE]
GO
ALTER TABLE [DZAIS].[TAX_BULIST] ADD  CONSTRAINT [DF__TAX_BULIS__GWA_A__172E5549]  DEFAULT ((0)) FOR [GWA_AMT]
GO
ALTER TABLE [DZAIS].[TAX_BULIST] ADD  CONSTRAINT [DF__TAX_BULIS__BUL_V__18227982]  DEFAULT ((0)) FOR [BUL_VAT]
GO
ALTER TABLE [DZAIS].[TAX_BULIST] ADD  CONSTRAINT [DF__TAX_BULIS__BUL_O__19169DBB]  DEFAULT ((0)) FOR [BUL_OLDVAT]
GO
