USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SPA_AVJEONJA_CHECK_BY_FORM_CD]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE         PROCEDURE    [DZAIS].[SPA_AVJEONJA_CHECK_BY_FORM_CD]

    @CO_CD              VARCHAR(7),     -- 회사코드
    @DIV_CD              VARCHAR(7),     -- 사업장
    @FR_DT               VARCHAR(8),     -- 시작일 
    @TO_DT               VARCHAR(8),     -- 종료일 
    @W_FR_DT	    VARCHAR(8), 	--작성기간 시작일
    @W_TO_DT	    VARCHAR(8),	--작성기간 종료일
    @SINGO_FG	    VARCHAR(1),	--신고구분(0.사업자별, 1.사업자단위)	
    -- 추가 2006.10.27
    @FORM_CD	    VARCHAR(4)	--서식코드
--WITH ENCRYPTION
AS
/*************************************************************************/  
--설    명 : 전자 신고 중 월별조기환급 신고서식의 작성일 변경작업
--수 정 자 : 김경인<-제희경
--수 정 일 : 2008/03/28<-2006/10/27
--내     용 : 전자신고 부속서식의 작성기간 변경
--수정내역 :  다음
/*************************************************************************/  
/*************************************************************************/  
-- 수정상세내역
-- <2006/10/27>
-- * 월별조기환급 작업(서식별)
-- <2006/12/14>
-- * 월별조기환급관련 부가세신고서 요청작업 처리
-- <2006/01/15>
-- * 대손세액공제신고서 FR_DT, TO_DT 입력 가능 설계 변경으로 인한 수정.
-- < 2007.07.16>
-- 신규서식 추가 : V155 과세사업전환감가상각자산신고서, V157 수입금액명세서(법무사용), V159 수입금액명세서(감정평가사용)
-- < 2007.10.01 >
-- AVDIV_H의 AVDIV_CD에 사업장 코드가 등록되어 있을때 총괄납부사업장으로 처리.
-- < 2007.10.10 >
-- 추가서식 : V144 전자화폐결제명세서, V146 면세유류공급명세서, V154 매입자발행세금계산서합계표
-- < 2007.10.16 >
-- 추가서식 : V165 건물관리비명세서
-- < 2008.03.28 >
 -- 신규서식 : V166 사업자단위과세명세서 V167 : 수입금액명세서 단일서식 
--<20080425>
--세금계산서합계표 사업자단위과세 신고조회구분 수정
/*************************************************************************/  
BEGIN  --시작

   SET NOCOUNT ON 


    DECLARE   @ISEXIST	    INT   	--해당기간내 DATA 존재 여부 ( 0. 존재안함 1. 존재함)

    DECLARE    @COUNT   AS NUMERIC(19)

--    DECLARE    @DIVCNT   AS NUMERIC(19)
    DECLARE    @YEAR    AS VARCHAR(4)
    DECLARE    @MONTH   AS VARCHAR(2)

    DECLARE    @RPT_TM  AS VARCHAR(6)
    DECLARE    @FR_YM   AS VARCHAR(6)
    DECLARE    @TO_YM   AS VARCHAR(6)
    DECLARE    @S_ERROR AS VARCHAR(100)
    DECLARE    @V_FR_DT AS VARCHAR(8)
    DECLARE    @V_TO_DT	AS VARCHAR(8)
    DECLARE    @V_FR_YM AS VARCHAR(6)
    DECLARE    @V_TO_YM	AS VARCHAR(6),
--    DECLARE    @V_DIV_D AS VARCHAR(4)
	        @FG_TY	VARCHAR(1),
	        @FG_YM	VARCHAR(6)

    SET  @YEAR  = LEFT(@TO_DT,4)
    SET  @MONTH = SUBSTRING(@TO_DT,5,2)
    SET  @RPT_TM = CASE WHEN @MONTH >= '01' AND @MONTH <= '03' THEN @YEAR+'11'
                        WHEN @MONTH >= '04' AND @MONTH <= '06' THEN @YEAR+'12'
                        WHEN @MONTH >= '07' AND @MONTH <= '09' THEN @YEAR+'21'
                        ELSE @YEAR+'22' END

    SELECT @FG_TY='', @FG_YM=''



/*
    IF ((SELECT COUNT(1) FROM AVJEONJA 
          WHERE CO_CD = @CO_CD 
            AND DIV_CD = @DIV_CD

            AND RPT_TM = @RPT_TM
            AND USE_YN = '2' ) > 0)
    BEGIN
              RETURN
    END
*/

    SET ANSI_WARNINGS OFF
    BEGIN TRANSACTION  

    SELECT @FR_YM = LEFT(@FR_DT,6), @TO_YM = LEFT(@TO_DT,6)

    --2005.1.6 추가 - 부가가치세신고서 작성기간 입력값 있을때 조회조건 변경문제로..
    IF ( ( @W_FR_DT IS NULL OR @W_FR_DT = '' OR LEN(@W_FR_DT) = 0 )  AND ( @W_TO_DT IS NULL OR @W_TO_DT = '' OR LEN(@W_TO_DT) = 0 ) )
      BEGIN
	SET @V_FR_DT = @FR_DT
	SET @V_TO_DT = @TO_DT
      END
    ELSE
      BEGIN
	SET @V_FR_DT = @W_FR_DT
	SET @V_TO_DT = @W_TO_DT
      END
   
    
     --2005.1.6 추가 - 부가가치세신고서 작성기간 입력값 있을때 조회조건 변경문제로..
     SELECT @V_FR_YM = LEFT(@V_FR_DT,6), @V_TO_YM = LEFT(@V_TO_DT,6)


  --사업자단위과세신고여부 체크	
   SELECT @FG_TY = ISNULL(FG_TY,'0'), @FG_YM=ISNULL(DUMMY1,'') FROM SYSCFG  
       WHERE CO_CD= @CO_CD  AND MODULE_CD = 'A' AND CTR_CD = '31'

  IF(@SINGO_FG='1' AND @FG_TY='2' AND LEFT(@V_FR_DT,6) >= @FG_YM)	SET @FG_TY='2'


     SET @ISEXIST = 0

   -- 1. V101 일반과세자 부가가치세 신고서 TABLE AVATRPT
--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V101') < 1)
--    BEGIN
        IF ( @FORM_CD = 'V101' )
        BEGIN
	        IF ( ( SELECT COUNT(1) FROM AVATRPT WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND SINGO_FG = @SINGO_FG ) > 0 )
	        	SET @ISEXIST = 1
			
         END
      
--    END


   -- 2. V142 사업장현황명세서 TABLE AVATRPT******** 테이블 확인요망
--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V142') < 1)
--    BEGIN 

         IF ( @FORM_CD = 'V142' )
         BEGIN
	   IF ( ( SELECT SUM(SUP_AM+VAT_AM+VAT_RT+ 
	                                                            DUMMY4+DUMMY5+DUMMY6+   CONVERT(NUMERIC, CASE WHEN RP_DT = '' OR RP_DT = NULL  THEN '0'  ELSE RP_DT END  )  +    
	                                                            LEN(
	                                                            CASE BUSINESS WHEN '0' THEN '' ELSE BUSINESS END +
	                                                            CASE JONGMOK WHEN '0' THEN '' ELSE JONGMOK END +
	                                                            CASE LN_NB WHEN '18' THEN '' ELSE DUMMY1 END    +
	                                                            CASE LN_NB WHEN '18' THEN '' ELSE DUMMY2 END    +
	                                                            DUMMY3))  
	           FROM AVATRPT WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND  ST_FG = '00' AND SINGO_FG = @SINGO_FG
	                                          AND SUBSTRING(TO_DT,5,2) IN ('04','05','06','10','11','12') 
				AND NOT  ( LN_NB = '16' AND SUP_AM = 2 )
	                                          AND NOT  ( LN_NB = '17'  AND SUP_AM IN (11,12,21,22)   )
	                                          AND NOT  ( LN_NB = '21'  AND SUP_AM <= 3   ) ) > 0 )
		SET @ISEXIST = 1 
         END
  	
--    END



   -- 3. V117 신용카드매출전표발행금액등집계표 TABLE ATAXCARD
--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V117') < 1)
--    BEGIN

        IF ( @FORM_CD = 'V117' )
        BEGIN
	        IF ( (  SELECT COUNT(1) FROM ATAXCARD WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND CARD_FG = '1' AND SINGO_FG = @SINGO_FG ) > 0  )	        
	        	SET @ISEXIST = 1    
        END
--    END

   -- 4. V106 영세율 첨부 서류 제출명세서 TABLE AVFTAX
--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V106') < 1)
--    BEGIN
	
        IF ( @FORM_CD = 'V106' )
        BEGIN
	        IF ( ( SELECT COUNT(1) FROM AVFTAX WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND SINGO_FG = @SINGO_FG ) > 0 )
	        	SET @ISEXIST = 1    
         END


--    END


-- 서식변경 (2005.04.15)
 -- 5. V111 의제매입 세액공제 신고서 TABLE AVREGARDSUM
        IF ( @FORM_CD = 'V111' )
        BEGIN
	        IF ( ( SELECT SUM(ISNULL(SUP_AM, 0)) FROM AVREGARDSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM  AND SINGO_FG = @SINGO_FG AND DOC_FG = '1' ) > 0 )
		SET @ISEXIST = 1
         END

--    END


-- 서식변경 (2005.04.15)
  -- 6. V147 재활용폐 자원매입 세액 공제신고서 TABLE AVDISUSE
        IF ( @FORM_CD = 'V147' )
        BEGIN
	        IF ( ( SELECT SUM(ISNULL(SUP_AM,0)) FROM AVDISUSESUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND SINGO_FG = @SINGO_FG ) > 0 )
		SET @ISEXIST = 1
         END
--    END

  --7. V120 부동산 임대공급가액 명세서 TABLE AVEST
        IF ( @FORM_CD = 'V120' )
	BEGIN
		IF ( @SINGO_FG = '1' )
		BEGIN
	     	        IF (( SELECT COUNT(1) FROM AVEST A
				INNER JOIN AVDIV_D D
				ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD =  @DIV_CD 
				WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT = @V_FR_DT AND A.TO_DT = @V_TO_DT AND A.SINGO_FG = @SINGO_FG ) > 0 )
		    	SET @ISEXIST = 1
		END
		ELSE
		BEGIN
		        IF ( ( SELECT COUNT(1) FROM AVEST WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND SINGO_FG = @SINGO_FG ) > 0 )
		        	SET @ISEXIST = 1
		END
	END
	
	
	--    END
	
-- 8. V112 대손세액 공제(변제) 신고서  TABLE AVBIL
	--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V112') < 1)
	--    BEGIN
	IF ( @FORM_CD = 'V112' )
	BEGIN
	        IF (( SELECT  COUNT(1) FROM AVBIL WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM  AND FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND SINGO_FG = @SINGO_FG ) > 0 )
	        	SET @ISEXIST = 1
	END

--    END


  -- 9. V115 사업장별 부가세 과세표준 및 세액 신고 명세서 TABLE AVTOTDIV
--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V115') < 1)
--    BEGIN
       IF ( @FORM_CD = 'V115' )
       BEGIN
	       -- 2007.10.01 총괄납부사업장 처리 
	       --IF ( (SELECT COUNT(1) FROM SDIV WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND DUMMY1 = '1'  ) >= 1  )
	       IF ( ( SELECT COUNT(1) FROM AVDIV_H WHERE CO_CD = @CO_CD AND AVDIV_CD = @DIV_CD ) >= 1 )
	       BEGIN
		   IF (( SELECT COUNT(1) FROM AVTOTDIV WHERE FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND SINGO_FG = @SINGO_FG ) > 0 )
			SET @ISEXIST = 1
	       END
        END


  --10. V149 건물등감가상각자산취득명세서 TABLE AVASSET
        IF ( @FORM_CD = 'V149' )
        BEGIN
	IF (( SELECT COUNT(1) FROM AVASSET WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND DOC_FG = '1' AND SINGO_FG = @SINGO_FG ) > 0 )
		SET @ISEXIST = 1
        END


  --11. V145 신용카드 매출전표등수취 명세서 TABLE ATAXCARD
--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V145') < 1)
--    BEGIN
--    by제희경 2004/10/11 (RPT_TM체크 부분 삭제)
--        SELECT @COUNT = COUNT(1) FROM ATAXCARD WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_YM = @FR_YM AND TO_YM = @TO_YM AND  RPT_TM = @RPT_TM AND CARD_FG = '2'
-- 2005.04.19 by 제희경 (CARD_FG값 3 추가)
        IF ( @FORM_CD = 'V145' )
        BEGIN
                IF (( SELECT COUNT(1) FROM ATAXCARD WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND CARD_FG IN ( '2', '3' )  AND SINGO_FG = @SINGO_FG ) > 0 ) 
	        SET @ISEXIST = 1
          END

--    END

-- 2006.04.12 매입세액불공제내역(V135) -> 공제받지못할 매입세액 명세서(V153)
  --12. V153 공제받지못할 매입세액 명세서 계산근거 TABLE AVNON2
--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V135') < 1)
--    BEGIN
        IF ( @FORM_CD = 'V153' )
        BEGIN
	IF (( SELECT COUNT(1) FROM AVNON2 WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT  AND SINGO_FG = @SINGO_FG AND  ( SUP_AM <> 0 OR VAT_AM <> 0 ) ) > 0 )
		SET @ISEXIST = 1
         END
--    END


  --13. V104 매출처별 세금계산서 합계표(갑,을) TABLE ATAXSUM ** 구분값 체크
--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V104') < 1)
--    BEGIN
IF ( @FORM_CD = 'V104' )
BEGIN
	IF ( @SINGO_FG = '1' )
	BEGIN
	    IF (( SELECT COUNT(1) FROM ATAXSUM A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		--WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '1'  AND A.SINGO_FG = '0' ) > 0 )
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '1'  
		  AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END  ) > 0 )
		SET @ISEXIST = 1
	END
	ELSE
	BEGIN
	    IF ( ( SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT LIKE @V_FR_YM+'%' AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '1'  AND SINGO_FG = @SINGO_FG ) > 0 )
	       	SET @ISEXIST = 1
	END
END


--    END

 --14. V105 매입처별 세금계산서 합계표(갑,을) TABLE ATAXSUM** 구분값 체크
--    IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V105') < 1)
--    BEGIN
IF ( @FORM_CD = 'V105' )
BEGIN
	IF ( @SINGO_FG = '1' )
	BEGIN
	        IF (( SELECT COUNT(1) FROM ATAXSUM A 
			INNER JOIN AVDIV_D D
			ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
			--WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '2'  AND A.SINGO_FG = '0' ) > 0 )
			  WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '2'  
		                AND A.SINGO_FG =  CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END  ) > 0 )
		       	SET @ISEXIST = 1
	END
	ELSE
	BEGIN
	        IF (( SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT LIKE @V_FR_YM+'%' AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '2'  AND SINGO_FG = @SINGO_FG ) > 0 )
	      	SET @ISEXIST = 1
	END
END

 --15. V110 매출처별 계산서 합계표 TABLE ATAXSUM** 구분값 체크
IF ( @FORM_CD = 'V110' )
BEGIN
	IF ( @SINGO_FG = '1' )
	BEGIN
	        IF (( SELECT COUNT(1) FROM ATAXSUM A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		--WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '3'  AND A.SINGO_FG = '0' ) > 0 )
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '3'  
		   AND A.SINGO_FG =   CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END ) > 0 )
	        	SET @ISEXIST = 1
	END
	ELSE
	BEGIN
	        IF (( SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @V_FR_YM+'%' AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '3'  AND SINGO_FG = @SINGO_FG ) > 0 )
		SET @ISEXIST = 1
	END

END
 --   END

 --16. V109 매입처별 계산서 합계표 TABLE ATAXSUM** 구분값 체크
IF ( @FORM_CD = 'V109' )
BEGIN
	IF ( @SINGO_FG = '1' )
	BEGIN
	        IF (( SELECT COUNT(1) FROM ATAXSUM A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		--WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '4'  AND A.SINGO_FG = '0' ) > 0 )
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '4'  
		     AND A.SINGO_FG =   CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END ) > 0 )
		SET @ISEXIST = 1
	END
	ELSE
	BEGIN
	        IF (( SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @V_FR_YM+'%' AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '4'  AND SINGO_FG = @SINGO_FG ) > 0 )
		SET @ISEXIST = 1
	END
END

--    END

 --17. V141 수출실적명세서 TABLE AVEXPO
 --   IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V141') < 1)
 --   BEGIN

IF ( @FORM_CD = 'V141' )
BEGIN
        IF (( SELECT COUNT(1) FROM AVEXPO WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD  AND RPT_TM = @RPT_TM  AND SINGO_FG = @SINGO_FG ) > 0 )
	SET @ISEXIST = 1
END
--    END


--2006.10.13 추가
--18. V136 수입금액명세서(건축사용) TABLE AVINCOME
IF ( @FORM_CD = 'V136' )
BEGIN
        IF (( SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '3'  AND SINGO_FG = @SINGO_FG ) > 0 )
	SET @ISEXIST = 1
END


--19. V137 수입금액명세서(공인회계사,세무사용) TABLE AVINCOME
-- 2004.10.20 (수정요청)
--  SELECT @COUNT = COUNT(1) FROM AVINCOME WHERE FR_YM = @FR_YM AND TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG IN ( '1', '2' )
IF ( @FORM_CD = 'V137' )
BEGIN
      IF (( SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '1'  AND SINGO_FG = @SINGO_FG ) > 0 )
	SET @ISEXIST = 1
END


--20. V139 수입금액명세서(변리사용) TABLE AVINCOME
IF ( @FORM_CD = 'V139' )
BEGIN
       IF (( SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '2'  AND SINGO_FG = @SINGO_FG ) > 0 )
       	SET @ISEXIST = 1
END


--21. V148 월별판매액합계표
IF ( @FORM_CD = 'V148' )
BEGIN
      IF (( SELECT COUNT(1) FROM AVMONSALE WHERE FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG ) > 0 )
	SET @ISEXIST = 1
END


--22. V150 사업자단위신고. 납부자의 사업장별 부가가치세 과세표준 및 납부(환급)세액 신고명세서
IF ( @FORM_CD = 'V150' )
BEGIN
      IF ( @SINGO_FG = '1' )
      BEGIN
	     IF (( SELECT COUNT(1) FROM AVTOTDIV2 
		WHERE FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1' ) > 0 )
	       	SET @ISEXIST = 1
       END
END

--2007.07.16추가
--23. V155 과세사업전환감가상각자산신고서
IF ( @FORM_CD = 'V155' )
BEGIN
      IF (( SELECT COUNT(1) FROM AVASSET_CVTH WHERE FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG ) > 0 )
	SET @ISEXIST = 1
END

--2007.07.16추가
--24. V157 수입금액명세서(법무사용)
IF ( @FORM_CD = 'V157' )
BEGIN
       IF (( SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '5'  AND SINGO_FG = @SINGO_FG ) > 0 )
       	SET @ISEXIST = 1
END

--2007.07.16추가
--25. V159 수입금액명세서(감정평가사)
IF ( @FORM_CD = 'V159' )
BEGIN
       IF (( SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @V_FR_YM AND TO_YM = @V_TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '4'  AND SINGO_FG = @SINGO_FG ) > 0 )
       	SET @ISEXIST = 1
END

--2007.10.10추가
--26. V144 전자화폐결제명세서
IF ( @FORM_CD = 'V144' )
BEGIN
       IF (( SELECT COUNT(1) FROM AVELETR_CASH WHERE FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG ) > 0 )
       	SET @ISEXIST = 1
END

--2007.10.10추가
--27. V146 면세유류공급명세서
IF ( @FORM_CD = 'V146' )
BEGIN
       IF (( SELECT COUNT(1) FROM AVAOIL WHERE FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG ) > 0 )
       	SET @ISEXIST = 1
END

--2007.10.10추가
-- 28. V154 매입자발행세금계산서합계표
IF ( @FORM_CD = 'V154' )
BEGIN
	IF ( @SINGO_FG = '1' )
	BEGIN
	        IF (( SELECT COUNT(1) FROM ATAXSUM A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		--WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '6'  AND A.SINGO_FG = '0' ) > 0 )
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '6' 
	 		AND A.SINGO_FG =   CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END ) > 0 )	        	
		SET @ISEXIST = 1
	END
	ELSE
	BEGIN
	        IF (( SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @V_FR_YM+'%' AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '6'  AND SINGO_FG = @SINGO_FG ) > 0 )
		SET @ISEXIST = 1
	END

END

-- 2007.10.16 추가
-- 29. V165 건물관리비명세
IF ( @FORM_CD = 'V165' )
BEGIN
       IF (( SELECT COUNT(1) FROM AVESTMGM WHERE FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG AND MGM_CNT > 0 ) > 0 )
       	SET @ISEXIST = 1
END


-- 30. V166 사업자단위과세명세서
IF ( @FORM_CD = 'V166' )
BEGIN
      IF ( @SINGO_FG = '1' )
      BEGIN
	     IF (( SELECT COUNT(1) FROM AVTOTDIV3 
		WHERE FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1' ) > 0 )
	       	SET @ISEXIST = 1
       END
END

--31 수입금액명세서
IF ( @FORM_CD = 'V167' )
BEGIN
      IF (( SELECT COUNT(1) FROM AVINCOME_TOTAL WHERE LEFT(FR_DT,6) = @V_FR_YM AND LEFT(TO_DT,6) = @V_TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND SINGO_FG = @SINGO_FG ) > 0 )
	SET @ISEXIST = 1
END



    SELECT @ISEXIST  NUM 

   SET NOCOUNT OFF  

    COMMIT TRANSACTION
    SET ANSI_WARNINGS ON


END
GO
