USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SPA_AVJEONJA_REFRESH]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE    PROCEDURE [DZAIS].[SPA_AVJEONJA_REFRESH]
(
    @CO_CD              VARCHAR(7),     -- 회사코드
    @DIV_CD              VARCHAR(7),     -- 사업장  
    @TO_DT               VARCHAR(8),      -- 종료일 
    @RPT_TM	    VARCHAR(6),     -- 신고기잔 구분 
    @SINGO_FG	    VARCHAR(1)	--신고구분(0.사업자별, 1.사업자단위)	
)
 
--WITH ENCRYPTION
 AS
/*************************************************************************
설     명 : 월별조기환급 서식 반영 프로시저
개 발 자 : 김대영
개발일자 : 2006/12/14
**************************************************************************/

BEGIN
	-- 기존 전자쪽 삭제		
	DELETE AVJEONJA 
	WHERE CO_CD = @CO_CD
		AND DIV_CD = @DIV_CD
	--	AND TO_DT = @TO_DT
		AND RPT_TM = @RPT_TM
		AND SINGO_FG = @SINGO_FG
	
	-- 월별조기 환급 반영분 적용 
	INSERT INTO AVJEONJA ( CO_CD , DIV_CD , FR_DT, TO_DT, FORM_CD , RPT_TM, FORM_NM, USE_YN, INSERT_ID, INSERT_DT, SINGO_FG)
	SELECT CO_CD , DIV_CD , FR_DT, TO_DT, FORM_CD , RPT_TM, FORM_NM, USE_YN, INSERT_ID, INSERT_DT, SINGO_FG
	FROM AVJEONJA_TEMP
	WHERE CO_CD = @CO_CD
		AND DIV_CD = @DIV_CD
		AND TO_DT = @TO_DT
		AND RPT_TM = @RPT_TM
		AND SINGO_FG = @SINGO_FG
		AND USE_YN = '1'

END

GO
