USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BILLREC]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BILLREC](
	[BILL_NO] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SUGUM_TYPE] [char](1) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[SA_CODE] [varchar](10) NULL,
	[SUGUM_DATE] [char](8) NOT NULL,
	[SILMUL_DEPT_CODE] [varchar](12) NULL,
	[BILL_TYPE] [char](1) NOT NULL,
	[ISS_DATE] [char](8) NOT NULL,
	[DUE_DATE] [char](8) NOT NULL,
	[BANK_CODE] [varchar](3) NULL,
	[ISS] [varchar](20) NULL,
	[P_ENDORSE] [varchar](20) NULL,
	[BILL_AMT] [numeric](15, 0) NOT NULL,
	[BILL_CON] [char](1) NOT NULL,
	[DEPT_CODE1] [varchar](12) NULL,
	[DECI_DATE1] [char](8) NOT NULL,
	[DECI_NO1] [numeric](4, 0) NULL,
	[LINE_NO1] [numeric](4, 0) NULL,
	[SLIP_NO1] [numeric](4, 0) NULL,
	[DEAL_DATE] [char](8) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[DISC_CODE] [varchar](3) NULL,
	[DISC_RATE] [numeric](8, 4) NULL,
	[B_ENDORSE] [varchar](20) NULL,
	[DEPT_CODE2] [varchar](12) NULL,
	[DECI_DATE2] [char](8) NULL,
	[DECI_NO2] [numeric](4, 0) NULL,
	[LINE_NO2] [numeric](4, 0) NULL,
	[SLIP_NO2] [numeric](4, 0) NULL,
	[BANK_JUM] [varchar](30) NULL,
	[BANK_CODE2] [varchar](3) NULL,
	[BANK_JUM2] [varchar](30) NULL,
	[SUTAK_DATE] [char](8) NULL,
	[FUND_CODE] [char](4) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_BILLREC] PRIMARY KEY CLUSTERED 
(
	[BILL_NO] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_SUGUM_DATE]  DEFAULT ('00000000') FOR [SUGUM_DATE]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_ISS_DATE]  DEFAULT ('00000000') FOR [ISS_DATE]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_DUE_DATE]  DEFAULT ('00000000') FOR [DUE_DATE]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_BILL_AMT]  DEFAULT ((0)) FOR [BILL_AMT]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_DECI_DATE1]  DEFAULT ('00000000') FOR [DECI_DATE1]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_DECI_NO1]  DEFAULT ((0)) FOR [DECI_NO1]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_LINE_NO1]  DEFAULT ((0)) FOR [LINE_NO1]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_DEAL_DATE]  DEFAULT ('00000000') FOR [DEAL_DATE]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_DECI_DATE2]  DEFAULT ('00000000') FOR [DECI_DATE2]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_DECI_NO2]  DEFAULT ((0)) FOR [DECI_NO2]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_LINE_NO2]  DEFAULT ((0)) FOR [LINE_NO2]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_SUTAK_DATE]  DEFAULT ('00000000') FOR [SUTAK_DATE]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[BILLREC] ADD  CONSTRAINT [DF_BILLREC_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
