USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BILLDEBTMA]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BILLDEBTMA](
	[BILL_NO] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[BILL_TYPE] [char](1) NOT NULL,
	[ISS_DEPT_CODE] [varchar](12) NULL,
	[ISS_DATE] [char](8) NOT NULL,
	[DUE_DATE] [char](8) NOT NULL,
	[VEN_CODE1] [varchar](6) NULL,
	[BILLD_AMT] [numeric](15, 0) NOT NULL,
	[PAY_NOTE] [varchar](50) NULL,
	[PAY_BANK] [varchar](3) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[BILL_GU] [char](1) NOT NULL,
	[GU_DATE] [char](8) NOT NULL,
	[BILL_RMK] [varchar](50) NULL,
	[VEN_CODE2] [varchar](6) NULL,
	[DEPT_CODE1] [varchar](12) NULL,
	[DECI_DATE1] [char](8) NOT NULL,
	[DECI_NO1] [numeric](4, 0) NOT NULL,
	[LINE_NO1] [numeric](4, 0) NOT NULL,
	[SLIP_NO1] [numeric](4, 0) NULL,
	[DEPT_CODE2] [varchar](12) NULL,
	[DECI_DATE2] [char](8) NOT NULL,
	[DECI_NO2] [numeric](4, 0) NOT NULL,
	[LINE_NO2] [numeric](4, 0) NOT NULL,
	[SLIP_NO2] [numeric](4, 0) NULL,
	[FUND_CODE] [char](4) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_BILLDEBTMA] PRIMARY KEY CLUSTERED 
(
	[BILL_NO] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_ISS_DATE]  DEFAULT ('00000000') FOR [ISS_DATE]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_DUE_DATE]  DEFAULT ('00000000') FOR [DUE_DATE]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_BILLD_AMT]  DEFAULT ((0)) FOR [BILLD_AMT]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_GU_DATE]  DEFAULT ('00000000') FOR [GU_DATE]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_DECI_DATE1]  DEFAULT ('00000000') FOR [DECI_DATE1]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_DECI_NO1]  DEFAULT ((0)) FOR [DECI_NO1]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_LINE_NO1]  DEFAULT ((0)) FOR [LINE_NO1]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_DECI_DATE2]  DEFAULT ('00000000') FOR [DECI_DATE2]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_DECI_NO2]  DEFAULT ((0)) FOR [DECI_NO2]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_LINE_NO2]  DEFAULT ((0)) FOR [LINE_NO2]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[BILLDEBTMA] ADD  CONSTRAINT [DF_BILLDEBTMA_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
