USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DISTRIBUTE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DISTRIBUTE](
	[C_CODE] [varchar](4) NOT NULL,
	[DIST_CODE] [char](1) NOT NULL,
	[DIST_NAME] [varchar](30) NULL,
	[DIST_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_DISTRIBUTE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[DIST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DISTRIBUTE] ADD  CONSTRAINT [DF__DISTRIBUT__DIST___538D5813]  DEFAULT ('1') FOR [DIST_GUBUN]
GO
