USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSTYPECODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSTYPECODE](
	[GUBUN_CODE] [char](1) NOT NULL,
	[G_TYPE] [char](2) NOT NULL,
	[C_TYPE] [char](2) NOT NULL,
	[G_TYPE_SUB] [char](2) NOT NULL,
	[C_TYPE_SUB] [char](2) NOT NULL,
	[G_NAME] [varchar](60) NOT NULL,
	[C_NAME] [varchar](60) NOT NULL,
	[G_HELP_YN] [char](1) NOT NULL,
	[CAL_YN] [char](1) NOT NULL,
	[ACCT_YN] [char](1) NOT NULL,
	[TB_YN] [char](1) NOT NULL,
	[BS_YN] [char](1) NOT NULL,
	[PL_YN] [char](1) NOT NULL,
	[WON5_YN] [char](1) NOT NULL,
	[WON6_YN] [char](1) NOT NULL,
	[WON7_YN] [char](1) NOT NULL,
	[MAP_ACCT_YN] [char](1) NOT NULL,
	[SORT_NO] [numeric](5, 0) NOT NULL,
 CONSTRAINT [PK_FSTYPECODE] PRIMARY KEY CLUSTERED 
(
	[GUBUN_CODE] ASC,
	[G_TYPE] ASC,
	[C_TYPE] ASC,
	[G_TYPE_SUB] ASC,
	[C_TYPE_SUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__G_HEL__4D8A65FA]  DEFAULT ('0') FOR [G_HELP_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__CAL_Y__4E7E8A33]  DEFAULT ('0') FOR [CAL_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__ACCT___4F72AE6C]  DEFAULT ('0') FOR [ACCT_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__TB_YN__5066D2A5]  DEFAULT ('0') FOR [TB_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__BS_YN__515AF6DE]  DEFAULT ('0') FOR [BS_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__PL_YN__524F1B17]  DEFAULT ('0') FOR [PL_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__WON5___53433F50]  DEFAULT ('0') FOR [WON5_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__WON6___54376389]  DEFAULT ('0') FOR [WON6_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__WON7___552B87C2]  DEFAULT ('0') FOR [WON7_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__MAP_A__561FABFB]  DEFAULT ('0') FOR [MAP_ACCT_YN]
GO
ALTER TABLE [DZAIS].[FSTYPECODE] ADD  CONSTRAINT [DF__FSTYPECOD__SORT___5713D034]  DEFAULT ('0') FOR [SORT_NO]
GO
