USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CUST]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CUST](
	[C_CODE] [varchar](4) NOT NULL,
	[CUST_CODE] [varchar](6) NOT NULL,
	[CUST_NAME] [varchar](30) NULL,
	[VEN_SHORT] [varchar](30) NULL,
	[VEN_NAME_E] [varchar](30) NULL,
	[VEN_TYPE] [char](1) NULL,
	[FG_SALE] [char](1) NULL,
	[OWNER_NAME] [varchar](30) NULL,
	[DDD] [varchar](4) NULL,
	[TEL1] [varchar](4) NULL,
	[TEL2] [varchar](4) NULL,
	[TEL3] [varchar](4) NULL,
	[FAX1] [varchar](4) NULL,
	[FAX2] [varchar](4) NULL,
	[FAX3] [varchar](4) NULL,
	[POST] [varchar](8) NULL,
	[ADDR] [varchar](70) NULL,
	[ADDR_E] [varchar](70) NULL,
	[P_IDNO] [varchar](13) NULL,
	[O_DDD] [varchar](4) NULL,
	[O_TEL1] [varchar](4) NULL,
	[O_TEL2] [varchar](4) NULL,
	[O_TEL3] [varchar](4) NULL,
	[VEN_DAM] [varchar](15) NULL,
	[CHAN_AMT] [numeric](15, 0) NULL,
	[FTRAD_DATE] [char](8) NOT NULL,
	[PAY_METH] [char](2) NULL,
	[PAY_TIME] [char](2) NULL,
	[MD_GUBUN] [char](1) NULL,
	[PAY_TERM] [varchar](2) NULL,
	[S_IDNO] [varchar](15) NULL,
	[WORKTYPE] [varchar](30) NULL,
	[WORKKIND] [varchar](30) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[TAX_METHOD] [varchar](1) NULL,
 CONSTRAINT [PK_CUST] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CUST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CUST] ADD  CONSTRAINT [DF_CUST_CHAN_AMT]  DEFAULT ((0)) FOR [CHAN_AMT]
GO
ALTER TABLE [DZAIS].[CUST] ADD  CONSTRAINT [DF_CUST_FTRAD_DATE]  DEFAULT ('00000000') FOR [FTRAD_DATE]
GO
ALTER TABLE [DZAIS].[CUST]  WITH CHECK ADD CHECK  (([FTRAD_DATE]='00000000' OR [FTRAD_DATE]>'19500101' AND [FTRAD_DATE]<'21000101' AND CONVERT([datetime],[FTRAD_DATE])=CONVERT([datetime],[FTRAD_DATE])))
GO
