USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[RECEIPT_DETAIL]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[RECEIPT_DETAIL](
	[C_CODE] [varchar](4) NOT NULL,
	[GISU] [varchar](3) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[SEQ] [numeric](7, 0) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[CUST_NAME] [varchar](30) NULL,
	[AMT] [numeric](15, 0) NOT NULL,
	[S_IDNO] [varchar](13) NULL,
	[DNAME] [varchar](30) NULL,
	[S_ADDRESS] [varchar](70) NULL,
	[CHECKD_CODE] [varchar](3) NULL,
 CONSTRAINT [PK_RECEIPT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GISU] ASC,
	[NODE_CODE] ASC,
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[RECEIPT_DETAIL] ADD  CONSTRAINT [DF__RECEIPT_DET__SEQ__0D1ADB2A]  DEFAULT ((0)) FOR [SEQ]
GO
ALTER TABLE [DZAIS].[RECEIPT_DETAIL] ADD  CONSTRAINT [DF__RECEIPT_DET__AMT__0E0EFF63]  DEFAULT ((0)) FOR [AMT]
GO
