USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DOCUD_BUDGET]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DOCUD_BUDGET](
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SIL_AMT_Y] [numeric](15, 0) NOT NULL,
	[SIL_AMT_M] [numeric](15, 0) NOT NULL,
	[DO_AMT_M] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_DOCUD_BUDGET] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DOCUD_BUDGET] ADD  CONSTRAINT [DF__DOCUD_BUD__DECI___66C02818]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[DOCUD_BUDGET] ADD  CONSTRAINT [DF__DOCUD_BUD__LINE___67B44C51]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[DOCUD_BUDGET] ADD  CONSTRAINT [DF__DOCUD_BUD__SLIP___68A8708A]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[DOCUD_BUDGET] ADD  CONSTRAINT [DF__DOCUD_BUD__SIL_A__699C94C3]  DEFAULT ((0)) FOR [SIL_AMT_Y]
GO
ALTER TABLE [DZAIS].[DOCUD_BUDGET] ADD  CONSTRAINT [DF__DOCUD_BUD__SIL_A__6A90B8FC]  DEFAULT ((0)) FOR [SIL_AMT_M]
GO
ALTER TABLE [DZAIS].[DOCUD_BUDGET] ADD  CONSTRAINT [DF__DOCUD_BUD__DO_AM__6B84DD35]  DEFAULT ((0)) FOR [DO_AMT_M]
GO
