USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_STDINCOMESHEET]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 


CREATE  PROC [DZAIS].[USP_IPLUS_STDINCOMESHEET]
(
	@CO_CD				NVARCHAR(4), 	
	@GISU				NVARCHAR(10),
	@FR_DT				NVARCHAR(8),
	@TO_DT				NVARCHAR(8),
	@TYPE				NVARCHAR(1) 	 
	 
)
--WITH ENCRYPTION
AS
/*************************************************************************/
--설    명 : 회계관리 - 법인조정 - 표준손익계산서  
--수 정 자 : 김대영
--수정일자 : 2010/01/18
--수정내역 : 2010/01/18 : 신규 
/***/
BEGIN  
	  
	 -- EXEC [USP_IPLUS_COR_STDINCOMESHEET_SELECT] '8002','11','20090101','20091231' ,'1' 

 	DECLARE @NEW_CO_CD 	VARCHAR(4),
		@P_TYPE CHAR(2)	--일반, 금융

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD
	IF @TYPE = '2'  
		SET @P_TYPE = '22'
	ELSE
		SET @P_TYPE = '21'

	SELECT  
		X.STD_CD  CD_INDEX,  
		SUM(AMT) MN_DATA  
	FROM 	(  
		SELECT 	@TYPE PL_TY ,
			CASE  WHEN @TYPE = '1' AND B.PLUS_ACCT_CODE = ('149')  THEN '10'
				WHEN @TYPE = '1' AND B.PLUS_ACCT_CODE = ('151')  THEN '14' 
			ELSE C.SUM_GUBUN END  AS STD_CD ,
			B.PLUS_ACCT_CODE CVT_CD,
			A.ACCT_CODE ACCT_CD,
			CASE WHEN B.PLUS_ACCT_CODE IN ('402', '403', '405', '406', '408','410') THEN -A.DR_AMT
				WHEN B.PLUS_ACCT_CODE IN ('149', '151') THEN -A.CR_AMT
				WHEN D.DRCR_GUBUN = '1' THEN A.DR_AMT
				WHEN D.DRCR_GUBUN = '2' THEN A.CR_AMT
				ELSE 0 END AS AMT 
		FROM	DIARYSUM A, 
			( 
			SELECT * FROM TAXACCTCODE WHERE (PLUS_ACCT_CODE > '400' AND PLUS_ACCT_CODE <= '500') OR PLUS_ACCT_CODE > '800' OR PLUS_ACCT_CODE IN ('149','151')
			) B, 
			( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE = @P_TYPE ) C,
			ACCTCODE D
		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
		AND	A.C_CODE = D.C_CODE
		AND	A.ACCT_CODE = D.ACCT_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT

		UNION ALL  

		SELECT @TYPE PL_TY ,
			CASE  WHEN  B.PLUS_ACCT_CODE  IN ('146', '147','148','149') THEN '11'   
				  ELSE  '15' END AS STD_CD ,
			B.PLUS_ACCT_CODE CVT_CD   ,
			A.ACCT_CODE ACCT_CD ,
			CASE WHEN B.PLUS_ACCT_CODE IN ('146', '150','152') THEN A.AMT
			WHEN B.PLUS_ACCT_CODE IN ('147','148','149','151') THEN -A.AMT 
			ELSE 0 END AS AMT

		FROM	PREV_BS A, 
			TAXACCTCODE B, 
--			( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE = @P_TYPE ) C,
			( SELECT * FROM FSACCT WHERE C_CODE = @NEW_CO_CD AND FS_CODE = 'M07' AND GROUP_CODE <> '4020' ) D 

		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '146' AND '175'
--		AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
		AND	A.C_CODE = D.C_CODE
		AND	A.ACCT_CODE BETWEEN D.ACCT_CODE AND LEFT(D.ACCT_CODE,3) + '99'
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.GISU = CONVERT(INT, @GISU)  -- 기수
		AND   	@TYPE = '1'  

		UNION ALL 

		SELECT @TYPE PL_TY ,
			CASE  WHEN  B.PLUS_ACCT_CODE IN ('146', '147','148','149') THEN '12'   
				WHEN  B.PLUS_ACCT_CODE IN ('151') THEN '18'   
				ELSE  '16'  
			END AS STD_CD,
			B.PLUS_ACCT_CODE CVT_CD,
			A.ACCT_CODE ACCT_CD,

			CASE WHEN B.PLUS_ACCT_CODE IN ('146', '150','152') THEN A.DR_AMT
			WHEN B.PLUS_ACCT_CODE IN ('147','148','149') THEN -A.CR_AMT
			WHEN B.PLUS_ACCT_CODE IN ('151') THEN  A.CR_AMT	--관세환급금
			WHEN B.PLUS_ACCT_CODE NOT IN ('451', '453', '454','455','456') AND B.PLUS_ACCT_CODE BETWEEN '451' AND '470' THEN A.DR_AMT
			ELSE 0 END AS AMT 

		FROM	DIARYSUM A, 
			TAXACCTCODE B, 
--			( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE = @P_TYPE ) C,
			ACCTCODE D
		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	( B.PLUS_ACCT_CODE BETWEEN '146' AND '175' OR B.PLUS_ACCT_CODE BETWEEN '451' AND '470' )
--		AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
		AND	A.C_CODE = D.C_CODE
		AND	A.ACCT_CODE = D.ACCT_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT
		AND   	@TYPE = '1'  

		UNION ALL 

		SELECT @TYPE PL_TY ,
			CASE  WHEN B.PLUS_ACCT_CODE IN ('146', '147','148','149') THEN '13'
				ELSE  '17' END AS STD_CD,
			B.PLUS_ACCT_CODE CVT_CD,
			A.ACCT_CODE ACCT_CD,
			CASE WHEN B.PLUS_ACCT_CODE IN ('146', '150','152') THEN A.DR_AMT - A.CR_AMT
			WHEN B.PLUS_ACCT_CODE IN ('147', '148') THEN A.CR_AMT -A.DR_AMT
			ELSE 0 END AS AMT 

		FROM	DIARYSUM A, 
			TAXACCTCODE B, 
--			( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE = @P_TYPE ) C,
			ACCTCODE D
		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	( B.PLUS_ACCT_CODE BETWEEN '146' AND '175' OR B.PLUS_ACCT_CODE BETWEEN '451' AND '470' )
--		AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
		AND	A.C_CODE = D.C_CODE
		AND	A.ACCT_CODE = D.ACCT_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT
		AND   	@TYPE = '1'  

		UNION ALL 

		SELECT @TYPE PL_TY ,
			CASE  WHEN  B.PLUS_ACCT_CODE IN ('146', '147','148','149') THEN '13'
				ELSE  '17' END AS STD_CD,
			B.PLUS_ACCT_CODE CVT_CD,
			A.ACCT_CODE ACCT_CD,
			CASE WHEN B.PLUS_ACCT_CODE IN ('146', '150','152') THEN A.AMT
			WHEN B.PLUS_ACCT_CODE IN ('147', '148') THEN -A.AMT
			ELSE 0 END AS AMT 

		FROM	PREV_BS A, 
			TAXACCTCODE B, 
--			( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE = @P_TYPE ) C,
			( SELECT * FROM FSACCT WHERE C_CODE = @NEW_CO_CD AND FS_CODE = 'M07' AND GROUP_CODE <> '4020' ) D 

		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '146' AND '175'
--		AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
		AND	A.C_CODE = D.C_CODE
		AND	A.ACCT_CODE BETWEEN D.ACCT_CODE AND LEFT(D.ACCT_CODE,3) + '99'
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.GISU = CONVERT(INT, @GISU)  -- 기수
		AND   	@TYPE = '1'  

		UNION ALL 

		SELECT @TYPE PL_TY,
			CASE  WHEN  B.PLUS_ACCT_CODE IN ('150', '152') THEN '18'
				WHEN  B.PLUS_ACCT_CODE = '146' THEN '91' ELSE '' END AS STD_CD,
			B.PLUS_ACCT_CODE CVT_CD,
			A.ACCT_CODE ACCT_CD,
			CASE  WHEN  B.PLUS_ACCT_CODE IN ('150', '152') THEN OUT_AMT
				WHEN  B.PLUS_ACCT_CODE = '146' THEN OUT_AMT ELSE 0 END AS AMT

		FROM	DIARYSUM A, 
			TAXACCTCODE B, 
--			( SELECT * FROM PLUSGROUP WHERE C_CODE = '0000' AND GROUP_CODE = @P_TYPE ) C,
			ACCTCODE D
		WHERE	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE = B.ACCT_CODE
		AND	B.PLUS_ACCT_CODE BETWEEN '146' AND '175'
--		AND	B.PLUS_ACCT_CODE = C.PLUS_ACCT_CODE
		AND	A.C_CODE = D.C_CODE
		AND	A.ACCT_CODE = D.ACCT_CODE
		AND	A.C_CODE = @NEW_CO_CD
		AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT
		AND   	@TYPE = '1'  
	)X  
	WHERE ISNULL(X.STD_CD ,'') <> '' 
	AND ISNULL(X.AMT,0)  <> 0  
	GROUP BY  X.STD_CD 
	ORDER BY  X.STD_CD 

END

GO
