USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PREV_PL_SUB]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PREV_PL_SUB](
	[ACCT_CODE] [char](5) NOT NULL,
	[PROJ_CODE] [varchar](12) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[GIM_SAMT] [numeric](15, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_PREV_PL_SUB] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC,
	[PROJ_CODE] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[GISU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[PREV_PL_SUB] ADD  CONSTRAINT [DF_PREV_PL_SUB_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[PREV_PL_SUB] ADD  CONSTRAINT [DF_PREV_PL_SUBS_GIM_SAMT]  DEFAULT ((0)) FOR [GIM_SAMT]
GO
ALTER TABLE [DZAIS].[PREV_PL_SUB] ADD  CONSTRAINT [DF_PREV_PL_SUB_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[PREV_PL_SUB] ADD  CONSTRAINT [DF_PREV_PL_SUB_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[PREV_PL_SUB]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[PREV_PL_SUB]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
