USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ASSETMOVE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ASSETMOVE](
	[ASSET_CODE] [char](7) NOT NULL,
	[ASSCH_SERI] [numeric](4, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[ASSET_NAME] [varchar](60) NULL,
	[NODE_CODE] [varchar](4) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[PROJ_CODE] [varchar](12) NULL,
	[ACCT_CODE] [char](5) NULL,
	[ASSCH_DATE] [char](8) NULL,
	[ASSCH_TYPE] [char](1) NULL,
	[ASSCH_RMK] [varchar](50) NULL,
	[CAP_AMT] [numeric](15, 0) NULL,
	[INTER_YN] [char](1) NULL,
	[SALE_QUANT] [numeric](8, 1) NULL,
	[SALE_AMT] [numeric](15, 0) NULL,
	[SALE_TYPE2] [char](1) NULL,
	[BOOKV_PD] [numeric](15, 0) NULL,
	[MDEPT_CODE] [varchar](12) NULL,
	[MPROJ_CODE] [varchar](12) NULL,
	[MOVE_QUANT] [numeric](8, 1) NULL,
	[REVAL_AMT] [numeric](15, 0) NULL,
	[CLIFE_EXIST] [numeric](4, 0) NULL,
	[DECI_DATE] [char](8) NULL,
	[DECI_NO] [numeric](4, 0) NULL,
	[NASSET_CODE] [char](7) NULL,
	[DEPRF_YN] [char](1) NULL,
	[MA_AMT] [numeric](15, 0) NULL,
	[JUN_RESER] [numeric](15, 0) NULL,
	[JUN_QDEP] [numeric](15, 0) NULL,
	[YDEP_AMT] [numeric](15, 0) NULL,
	[MDEP_AMT] [numeric](15, 0) NULL,
	[SDEP_AMT] [numeric](15, 0) NULL,
	[MSDEP_AMT] [numeric](15, 0) NULL,
	[YDEP_EDIT] [numeric](15, 0) NULL,
 CONSTRAINT [PK_ASSETMOVE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[ASSET_CODE] ASC,
	[ASSCH_SERI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ASSETMOVE] ADD  CONSTRAINT [DF_ASSETMOVE_JUN_RESER]  DEFAULT ((0)) FOR [JUN_RESER]
GO
ALTER TABLE [DZAIS].[ASSETMOVE] ADD  CONSTRAINT [DF_ASSETMOVE_JUN_QDEP]  DEFAULT ((0)) FOR [JUN_QDEP]
GO
ALTER TABLE [DZAIS].[ASSETMOVE] ADD  CONSTRAINT [DF_ASSETMOVE_YDEP_AMT]  DEFAULT ((0)) FOR [YDEP_AMT]
GO
ALTER TABLE [DZAIS].[ASSETMOVE] ADD  CONSTRAINT [DF_ASSETMOVE_MDEP_AMT]  DEFAULT ((0)) FOR [MDEP_AMT]
GO
ALTER TABLE [DZAIS].[ASSETMOVE] ADD  CONSTRAINT [DF_ASSETMOVE_SDEP_AMT]  DEFAULT ((0)) FOR [SDEP_AMT]
GO
ALTER TABLE [DZAIS].[ASSETMOVE] ADD  CONSTRAINT [DF_ASSETMOVE_MSDEP_AMT]  DEFAULT ((0)) FOR [MSDEP_AMT]
GO
