USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPI_DOCUH_NUM_B]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE PROCEDURE [DZAIS].[UPI_DOCUH_NUM_B]
( @N_DOCU_GUBUN CHAR(1))
AS
/*************************************************************************
            설    명 : 전표 삭제시 처리 루틴
            개 발 자 : 이 주 환
            개발일자 : 1999/07/12
**************************************************************************/

BEGIN
DECLARE
	@ERR_NO  INT,
	@cnt     INT,
	@err_msg VARCHAR(100)


	IF ( @N_DOCU_GUBUN <> '1' AND @N_DOCU_GUBUN <> '2'
		AND @N_DOCU_GUBUN <> '3' )
	BEGIN
		RAISERROR  (30030, 16, -1, '전표구분이 맞는지 다시 확인하십시요!')
		ROLLBACK TRANSACTION
	END

RETURN 0
ON_ERROR:
    RAISERROR (@ERR_NO, 16, -1, 'UPI_DOCUH_NUM_B 프로시져처리중 에러 발생')
    ROLLBACK  TRANSACTION
END


GO
