USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AUTODOCU]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AUTODOCU](
	[DATA_GUBUN] [varchar](2) NOT NULL,
	[WRITE_DATE] [char](8) NOT NULL,
	[DATA_NO] [numeric](4, 0) NOT NULL,
	[DATA_LINE] [numeric](4, 0) NOT NULL,
	[DATA_SLIP] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DATA_CODE] [varchar](20) NULL,
	[DOCU_STAT] [char](1) NOT NULL,
	[DOCU_TYPE] [char](2) NOT NULL,
	[DOCU_GUBUN] [char](1) NOT NULL,
	[AMT_GUBUN] [char](1) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[CHECK_CODE1] [char](3) NULL,
	[CHECK_CODE2] [char](3) NULL,
	[CHECK_CODE3] [char](3) NULL,
	[CHECK_CODE4] [char](3) NULL,
	[CHECK_CODE5] [char](3) NULL,
	[CHECK_CODE6] [char](3) NULL,
	[CHECK_CODE7] [char](3) NULL,
	[CHECK_CODE8] [char](3) NULL,
	[CHECK_CODE9] [char](3) NULL,
	[CHECK_CODE10] [char](3) NULL,
	[CHECKD_CODE1] [varchar](20) NULL,
	[CHECKD_CODE2] [varchar](20) NULL,
	[CHECKD_CODE3] [varchar](20) NULL,
	[CHECKD_CODE4] [varchar](20) NULL,
	[CHECKD_CODE5] [varchar](20) NULL,
	[CHECKD_CODE6] [varchar](20) NULL,
	[CHECKD_CODE7] [varchar](20) NULL,
	[CHECKD_CODE8] [varchar](20) NULL,
	[CHECKD_CODE9] [varchar](20) NULL,
	[CHECKD_CODE10] [varchar](20) NULL,
	[CHECKD_NAME1] [varchar](100) NULL,
	[CHECKD_NAME2] [varchar](100) NULL,
	[CHECKD_NAME3] [varchar](100) NULL,
	[CHECKD_NAME4] [varchar](100) NULL,
	[CHECKD_NAME5] [varchar](100) NULL,
	[CHECKD_NAME6] [varchar](100) NULL,
	[CHECKD_NAME7] [varchar](100) NULL,
	[CHECKD_NAME8] [varchar](100) NULL,
	[CHECKD_NAME9] [varchar](100) NULL,
	[CHECKD_NAME10] [varchar](100) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[TRIGGER_ON] [char](1) NULL,
	[BAN_NODE_CODE] [varchar](4) NULL,
	[BAN_DEPT_CODE] [varchar](12) NULL,
	[BAN_DECI_DATE] [char](8) NULL,
	[BAN_DECI_NO] [numeric](4, 0) NULL,
	[BAN_LINE_NO] [numeric](4, 0) NULL,
	[BAN_SLIP_NO] [numeric](4, 0) NULL,
	[PUM_RMK] [varchar](100) NULL,
	[GROUP_YN] [char](1) NULL,
	[U_CD_ACCT] [nvarchar](20) NULL,
	[U_ROW_ID] [nvarchar](40) NULL,
	[U_ROW_NO] [nvarchar](40) NULL,
 CONSTRAINT [PK_AUTODOCU] PRIMARY KEY CLUSTERED 
(
	[DATA_GUBUN] ASC,
	[WRITE_DATE] ASC,
	[DATA_NO] ASC,
	[DATA_LINE] ASC,
	[DATA_SLIP] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AUTODOCU] ADD  CONSTRAINT [DF_AUTODOCU_BANDECIDATE]  DEFAULT ('00000000') FOR [BAN_DECI_DATE]
GO
