USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[USERINFO]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[USERINFO](
	[C_CODE] [varchar](4) NOT NULL,
	[SA_CODE] [varchar](10) NOT NULL,
	[PASSWD] [varchar](10) NOT NULL,
	[ON_FLAG] [char](1) NULL,
	[ON_DATE] [char](8) NULL,
	[OFF_DATE] [char](8) NULL,
	[ON_TIME] [char](8) NULL,
	[OFF_TIME] [char](8) NULL,
	[LIMIT] [char](1) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_USERINFO] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SA_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[USERINFO] ADD  CONSTRAINT [DF_USERINFO_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[USERINFO] ADD  CONSTRAINT [DF_USERINFO_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[USERINFO]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[USERINFO]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[USERINFO]  WITH CHECK ADD CHECK  (([OFF_DATE]='00000000' OR [OFF_DATE]>'19500101' AND [OFF_DATE]<'21000101' AND CONVERT([datetime],[OFF_DATE])=CONVERT([datetime],[OFF_DATE])))
GO
ALTER TABLE [DZAIS].[USERINFO]  WITH CHECK ADD CHECK  (([ON_DATE]='00000000' OR [ON_DATE]>'19500101' AND [ON_DATE]<'21000101' AND CONVERT([datetime],[ON_DATE])=CONVERT([datetime],[ON_DATE])))
GO
