USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SETTING]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SETTING](
	[C_CODE] [varchar](4) NOT NULL,
	[PRINT_FORM] [char](1) NULL,
	[PRINT_TYPE] [char](1) NULL,
	[PRINT_NO] [char](1) NULL,
	[ASSETDEP_GU] [char](1) NULL,
	[AUTODOCU_DEL_YN] [char](1) NOT NULL,
	[CHK_T_NAME_YN] [char](1) NOT NULL,
	[TAX_IMPORT_YN] [char](1) NOT NULL,
	[AUTODOCU_UNION_YN] [char](1) NOT NULL,
	[FS_YN] [char](1) NOT NULL,
	[BCON_YN] [char](1) NOT NULL,
	[ASSET_FORWARD] [char](1) NOT NULL,
	[EBANK_AUTODOCU_YN] [char](1) NOT NULL,
	[VENHELP_YN] [char](1) NOT NULL,
	[PREV_PLWON_YN] [char](1) NOT NULL,
	[PURCARD_RPT_YN] [char](1) NOT NULL,
	[PJTHELP_YN] [char](1) NOT NULL,
	[DOCU_EXCH_YN] [char](1) NOT NULL,
	[EXCH_USE_INFO] [char](1) NOT NULL,
	[ASSET_AUTODOCU] [char](1) NOT NULL,
	[FS_MONTHLY] [char](1) NOT NULL,
	[AUTODEPT_GUISOK] [char](1) NOT NULL,
	[WRITER_USER] [char](1) NOT NULL,
	[ETAX_FG] [char](1) NOT NULL,
	[EBILL_RPT_YN] [char](1) NULL,
	[ETAX_MODIFY_YN] [char](1) NULL,
 CONSTRAINT [PK_SETTING] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__AUTODOC__1AFEE62D]  DEFAULT ('0') FOR [AUTODOCU_DEL_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__CHK_T_N__1BF30A66]  DEFAULT ('1') FOR [CHK_T_NAME_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__TAX_IMP__20B7BF83]  DEFAULT ('0') FOR [TAX_IMPORT_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__AUTODOC__24885067]  DEFAULT ('0') FOR [AUTODOCU_UNION_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__FS_YN__609D3A6E]  DEFAULT ('0') FOR [FS_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__BCON_YN__01FE2E39]  DEFAULT ('0') FOR [BCON_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__ASSET_F__2082B559]  DEFAULT ('1') FOR [ASSET_FORWARD]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__EBANK_A__2823D721]  DEFAULT ('1') FOR [EBANK_AUTODOCU_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__VENHELP__44C015CF]  DEFAULT ('1') FOR [VENHELP_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__PREV_PL__479C827A]  DEFAULT ('0') FOR [PREV_PLWON_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__PURCARD__2D3D91F9]  DEFAULT ('0') FOR [PURCARD_RPT_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__PJTHELP__2E31B632]  DEFAULT ('1') FOR [PJTHELP_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__DOCU_EX__76AC771E]  DEFAULT ('1') FOR [DOCU_EXCH_YN]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__EXCH_US__77A09B57]  DEFAULT ('1') FOR [EXCH_USE_INFO]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__ASSET_A__7894BF90]  DEFAULT ('1') FOR [ASSET_AUTODOCU]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__FS_MONT__2B203F5D]  DEFAULT ('1') FOR [FS_MONTHLY]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__AUTODEP__5051C40C]  DEFAULT ('2') FOR [AUTODEPT_GUISOK]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__WRITER___739B0049]  DEFAULT ('2') FOR [WRITER_USER]
GO
ALTER TABLE [DZAIS].[SETTING] ADD  CONSTRAINT [DF__SETTING__ETAX_FG__748F2482]  DEFAULT ('1') FOR [ETAX_FG]
GO
