USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[YASSETDEP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[YASSETDEP](
	[ASSET_CODE] [char](7) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DEP_TYPE] [char](1) NULL,
	[GET_AMT] [numeric](15, 0) NOT NULL,
	[BOOK_DR] [numeric](15, 0) NOT NULL,
	[BOOK_CR] [numeric](15, 0) NOT NULL,
	[JUN_RESER] [numeric](15, 0) NOT NULL,
	[JUN_QDEP] [numeric](15, 0) NOT NULL,
	[DEP_AMT] [numeric](15, 0) NOT NULL,
	[SDEP_AMT] [numeric](15, 0) NOT NULL,
	[DEP_EDIT] [numeric](15, 0) NOT NULL,
	[SDEP_EDIT] [numeric](15, 0) NOT NULL,
	[QDEP_AMT] [numeric](15, 0) NOT NULL,
	[RESER_DR] [numeric](15, 0) NOT NULL,
	[RESER_CR] [numeric](15, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_YASSETDEP] PRIMARY KEY CLUSTERED 
(
	[ASSET_CODE] ASC,
	[GISU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_GET_AMT]  DEFAULT ((0)) FOR [GET_AMT]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_BOOK_DR]  DEFAULT ((0)) FOR [BOOK_DR]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_BOOK_CR]  DEFAULT ((0)) FOR [BOOK_CR]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_JUN_RESER]  DEFAULT ((0)) FOR [JUN_RESER]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_JUN_QDEP]  DEFAULT ((0)) FOR [JUN_QDEP]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_DEP_AMT]  DEFAULT ((0)) FOR [DEP_AMT]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_SDEP_AMT]  DEFAULT ((0)) FOR [SDEP_AMT]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_DEP_EDIT]  DEFAULT ((0)) FOR [DEP_EDIT]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_SDEP_EDIT]  DEFAULT ((0)) FOR [SDEP_EDIT]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_QDEP_AMT]  DEFAULT ((0)) FOR [QDEP_AMT]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_RESER_DR]  DEFAULT ((0)) FOR [RESER_DR]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_RESER_CR]  DEFAULT ((0)) FOR [RESER_CR]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[YASSETDEP] ADD  CONSTRAINT [DF_YASSETDEP_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
