USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VL_EXCHCD]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE    VIEW [DZAIS].[VL_EXCHCD] 
AS	
SELECT C_CODE CO_CD,
	CHECKD_CODE CTD_CD,
	CHECKD_NAME CTD_NM, 
	CHECKD_ETC CTD_NMK, 
	CHECKD_ETC RMK_DC	
FROM  BASE.DZBASE.CHECKD
WHERE CHECK_CODE = 'F35' 


GO
