USE [DZAIS]
GO
/****** Object:  View [DZAIS].[AVDIV_H]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	CREATE VIEW [DZAIS].[AVDIV_H] AS SELECT * FROM BASE.DZBASE.AVDIV_H

GO
