USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_SUIBGUMAEKJOJUNG]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 

CREATE  PROC [DZAIS].[USP_IPLUS_SUIBGUMAEKJOJUNG]
(  
	@CO_CD    VARCHAR(4),   -- 회사코드 ( 필수 )  
	@GISU    VARCHAR(10),  
	@FR_DT    VARCHAR(8),  
	@TO_DT   VARCHAR(8)   
)  
--WITH ENCRYPTION  
AS  
/*************************************************************************/  
--설    명 : 회계관리 - 법인연동 - 수입금액조정명세서 가져오기
--수 정 자 : 김대영
--수정일자 : 2010/02/22
--수정내역 : 2010/02/22 : 신규
/***/  
BEGIN    
  
-- EXEC [USP_IPLUS_COR_SUIBGUMAEKJOJUNG_SELECT] '','5000','6','20090101','20091231'    
   
	DECLARE @NEW_CO_CD VARCHAR(4) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD
	SELECT	A.PLUS_ACCT_CODE+'00' CD_ACCTIT,
		ISNULL(B.ACCT_NAME,'') NM_ACCTIT,
		SUM(A.ACCT_AM) AS MN_ACCSUM
	FROM 	(
		SELECT 	A.C_CODE,  A.PLUS_ACCT_CODE, 
			CASE WHEN B.DRCR_GUBUN = '1' AND LEN(B.GOODS_CODE) = 5 THEN 
				B.GOODS_CODE ELSE A.ACCT_CODE END ACCT_CD,
			CASE WHEN B.DRCR_GUBUN = '1' THEN -A.DR_AMT
			WHEN B.DRCR_GUBUN = '2' THEN A.CR_AMT
			ELSE 0 END ACCT_AM
		FROM 	(
			SELECT 	S.PLUS_ACCT_CODE, A.*
			FROM 	DIARYSUM A, 
				TAXACCTCODE S
			WHERE 	A.C_CODE = S.C_CODE
			AND	A.ACCT_CODE = S.ACCT_CODE
			AND	(
				(S.PLUS_ACCT_CODE BETWEEN '401' AND '420') OR
				(S.PLUS_ACCT_CODE BETWEEN '901' AND '930') OR
				(S.PLUS_ACCT_CODE BETWEEN '961' AND '980')
				)
			AND 	A.C_CODE = @NEW_CO_CD
			AND	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT
			) A, ACCTCODE B
		WHERE	A.C_CODE = B.C_CODE AND
			A.ACCT_CODE = B.ACCT_CODE
		) A, PLUSACCTCODE B 
	WHERE	A.C_CODE = B.C_CODE AND A.PLUS_ACCT_CODE = B.ACCT_CODE
	GROUP BY A.PLUS_ACCT_CODE, ISNULL(B.ACCT_NAME,'')
	ORDER BY A.PLUS_ACCT_CODE
END 

GO
