USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SETTLECODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SETTLECODE](
	[C_CODE] [varchar](4) NOT NULL,
	[SETTLE_CODE] [char](5) NOT NULL,
	[OTHER_CODE] [char](5) NOT NULL,
	[ACCT_GUBUN] [char](2) NOT NULL,
 CONSTRAINT [PK_SETTLECODE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SETTLE_CODE] ASC,
	[OTHER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[SETTLECODE] ADD  CONSTRAINT [DF__SETTLECOD__OTHER__672A3C6C]  DEFAULT ('00000') FOR [OTHER_CODE]
GO
