USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CUSTSUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CUSTSUM](
	[C_CODE] [varchar](4) NOT NULL,
	[SUM_CODE] [varchar](6) NOT NULL,
	[SUM_SIDNO] [varchar](10) NULL,
	[SUM_NAME] [varchar](30) NULL,
 CONSTRAINT [PK_CUSTSUM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SUM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
