USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[EQUIP1]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[EQUIP1](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_YEAR] [char](4) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[SERIL_NO] [numeric](4, 0) NOT NULL,
	[EQUIP_TYPE] [varchar](40) NULL,
	[USE_TYPE] [varchar](40) NULL,
	[QUANT] [numeric](6, 0) NULL,
	[INVEST_AMT] [numeric](15, 0) NOT NULL,
	[FROM_DATE] [char](8) NOT NULL,
	[TO_DATE] [char](8) NOT NULL,
 CONSTRAINT [PK_EQUIP1] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[DATE_YEAR] ASC,
	[GISU_GUBUN] ASC,
	[SERIL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[EQUIP1] ADD  CONSTRAINT [DF_EQUIP1_SERIL_NO]  DEFAULT ((0)) FOR [SERIL_NO]
GO
ALTER TABLE [DZAIS].[EQUIP1] ADD  CONSTRAINT [DF_EQUIP1_INVEST_AMT]  DEFAULT ((0)) FOR [INVEST_AMT]
GO
ALTER TABLE [DZAIS].[EQUIP1] ADD  CONSTRAINT [DF_EQUIP1_FROM_DATE]  DEFAULT ('00000000') FOR [FROM_DATE]
GO
ALTER TABLE [DZAIS].[EQUIP1] ADD  CONSTRAINT [DF_EQUIP1_TO_DATE]  DEFAULT ('00000000') FOR [TO_DATE]
GO
