USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_WASTED]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_WASTED](
	[C_CODE] [varchar](4) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_YEAR] [char](12) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[SQ_NO] [numeric](6, 0) NOT NULL,
	[EJE_GUBUN] [char](1) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[QT] [numeric](15, 0) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[GONG_RATE_CODE] [char](1) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[TAX_COUNT] [numeric](7, 0) NOT NULL,
	[PUMMYUNG] [varchar](30) NULL,
 CONSTRAINT [PK_TAX_WASTED] PRIMARY KEY CLUSTERED 
(
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[GISU_GUBUN] ASC,
	[DATE_YEAR] ASC,
	[C_CODE] ASC,
	[S_IDNO] ASC,
	[SQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_WASTED] ADD  CONSTRAINT [DF__TAX_WASTE__TAX_G__04508AFF]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
ALTER TABLE [DZAIS].[TAX_WASTED] ADD  CONSTRAINT [DF__TAX_WASTE__EJE_G__0544AF38]  DEFAULT ('1') FOR [EJE_GUBUN]
GO
ALTER TABLE [DZAIS].[TAX_WASTED] ADD  CONSTRAINT [DF__TAX_WASTE__BAL_D__0638D371]  DEFAULT ('00000000') FOR [BAL_DATE]
GO
ALTER TABLE [DZAIS].[TAX_WASTED] ADD  CONSTRAINT [DF__TAX_WASTED__QT__072CF7AA]  DEFAULT ((0)) FOR [QT]
GO
ALTER TABLE [DZAIS].[TAX_WASTED] ADD  CONSTRAINT [DF__TAX_WASTE__GONG___08211BE3]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[TAX_WASTED] ADD  CONSTRAINT [DF__TAX_WASTE__GONG___0915401C]  DEFAULT ('1') FOR [GONG_RATE_CODE]
GO
ALTER TABLE [DZAIS].[TAX_WASTED] ADD  CONSTRAINT [DF__TAX_WASTE__TAX_A__0A096455]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[TAX_WASTED] ADD  CONSTRAINT [DF__TAX_WASTE__TAX_C__0AFD888E]  DEFAULT ((0)) FOR [TAX_COUNT]
GO
