USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_FSUPGRADE2]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE   PROCEDURE [DZAIS].[P_FSUPGRADE2]
AS
BEGIN
  IF (SELECT COUNT(1) FROM FSGROUP WHERE C_CODE <> '0000') = 0
  BEGIN  
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1000', '자산', '1', '10', '00', '1', 10000, '자            산', '해당없음', 'Assets', '해당없음', '資            産', '해당없음', '1', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1100', '유동자산', '1', '35', '00', '1', 11000, '유   동  자   산', '해당없음', 'Current assets', '해당없음', '流   動  資   産', '해당없음', '2', '1000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1110', '당좌자산(101~150)', '1', '30', '00', '1', 11100, '당   좌  자   산', '해당없음', 'Quick assets', '해당없음', '當   座  資   産', '해당없음', '3', '1100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1120', '재고자산(151~170)', '1', '30', '00', '1', 11200, '재   고  자   산', '해당없음', 'Inventories', '해당없음', '在   庫  資   産', '해당없음', '3', '1100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1200', '고정자산', '1', '35', '00', '1', 12000, '고   정  자   산', '해당없음', 'Fixed assets', '해당없음', '固   定  資   産', '해당없음', '2', '1000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1210', '투자고정자산(171~200)', '1', '30', '00', '1', 12100, '투 자 고 정 자산', '해당없음', 'Investments', '해당없음', '投 資 固 定 資産', '해당없음', '3', '1200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1220', '유형고정자산(201~230)', '1', '30', '00', '1', 12200, '유 형 고 정 자산', '해당없음', 'Tangible assets', '해당없음', '有 形 固 定 資産', '해당없음', '3', '1200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1230', '무형고정자산(231~240)', '1', '30', '00', '1', 12300, '무 형 고 정 자산', '해당없음', 'Intangible assets', '해당없음', '無 形 固 定 資産', '해당없음', '3', '1200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1240', '이연고정자산(241~250)', '1', '30', '00', '0', 12300, '이 연 고 정 자산', '해당없음', 'Deferred charges', '해당없음', '移 延 固 定 資産', '해당없음', '3', '1200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '1300', '자산총계', '1', '37', '00', '1', 13000, '자   산  총   계', '해당없음', 'Total assets', '해당없음', '資   産  總   計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '2000', '부채', '2', '15', '00', '1', 20000, '부            채', '해당없음', 'Liabilities', '해당없음', '負            債', '해당없음', '1', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '2100', '유동부채(251~290)', '2', '30', '00', '1', 21000, '유   동  부   채', '해당없음', 'Current liabilities', '해당없음', '流   動  負   債', '해당없음', '2', '2000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '2200', '고정부채(291~325)', '2', '30', '00', '1', 22000, '고   정  부   채', '해당없음', 'Long-term liabilities', '해당없음', '固   定  負   債', '해당없음', '2', '2000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '2300', '이연부채(326~330)', '2', '30', '00', '0', 22000, '이   연  부   채', '해당없음', 'Deferred liabilities', '해당없음', '移   延  負   債', '해당없음', '2', '2000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '2400', '부채총계', '2', '37', '00', '1', 24000, '부   채  총   계', '해당없음', 'Total liabilities', '해당없음', '負   債  總   計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '3000', '자본', '2', '20', '00', '1', 30000, '자            본', '해당없음', 'Capital', '해당없음', '資            本', '해당없음', '1', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '3100', '자본금(331~340)', '2', '30', '00', '1', 31000, '자     본     금', '해당없음', 'Capital stock', '해당없음', '資     本     金', '해당없음', '2', '3000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '3200', '자본잉여금(341~350)', '2', '30', '00', '1', 32000, '자  본 잉 여  금', '해당없음', 'Capital surplus', '해당없음', '資  本 剩 餘  金', '해당없음', '2', '3000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '3300', '이익잉여금(351~380)', '2', '30', '00', '1', 33000, '이  익 잉 여  금', '결     손     금', 'Retained earnings', 'Retained loss', '利  益 剩 餘  金', '缺     損     金', '2', '3000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '3400', '(대차)당기순이익', '2', '39', '00', '1', 34000, '(당기순이익)', '(당기순손실)', 'Net income', 'Net loss', '當  期 純 利  益', '當  期 純 利  益', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '3500', '자본조정(381~400)', '2', '30', '00', '1', 35000, '자   본  조   정', '해당없음', 'Capital adjustment', '해당없음', '資   本  調   整', '當  期 純 損  失', '2', '3000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '3600', '자본총계', '2', '37', '00', '1', 36000, '자   본  총   계', '해당없음', 'Total capital', '해당없음', '資   本  總   計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '3700', '부채와자본총계', '2', '37', '00', '1', 37000, '부채 와 자본총계', '해당없음', 'Total liabilities and capital', '해당없음', '負債 와 資本總計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '4000', '손익', '2', '25', '00', '1', 40000, '손            익', '해당없음', '손익', '해당없음', '손            익', '해당없음', '1', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '4010', '매출(401~420)', '2', '40', '00', '1', 40100, '매            출', '해당없음', 'Sales', '해당없음', '賣            出', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '4020', '매출원가(451~470)', '1', '43', '00', '1', 40200, '매   출  원   가', '해당없음', 'Cost of sales', '해당없음', '賣   出  原   價', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '4030', '매출총이익', '2', '45', '00', '1', 40300, '매  출 총 이  익', '매  출 총 손  실', 'Gross profit', 'Gross loss', '賣  出 總 利  益', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5000', '제조원가(501~600)', '1', '60', '00', '1', 50000, '제   조  원   가', '해당없음', 'Cost of goods manufactured', '해당없음', '製   造  原   價', '賣  出 總 損  失', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5010', '재료비', '1', '60', '10', '1', 50100, '재     료     비', '해당없음', 'The material cost', '해당없음', '材     料     費', '해당없음', '3', '5000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5020', '노무비', '1', '60', '10', '1', 50200, '노     무     비', '해당없음', 'Labor expenses', '해당없음', '勞     務     費', '해당없음', '3', '5000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5030', '경비', '1', '60', '10', '1', 50300, '경            비', '해당없음', 'Expenses', '해당없음', '經            費', '해당없음', '3', '5000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5040', '당기총제조비용', '1', '60', '15', '1', 50400, '당기 총 제조비용', '해당없음', 'Total manufacturing', '해당없음', '當期 總 製造費用', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5045', '공사손실 충당금전입', '1', '60', '20', '1', 50450, '공사손실충당금전입', '해당없음', '공사손실 충당금전입', '해당없음', '工事損失充當金轉入', '해당없음', '3', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5050', '공사손실 충당금환입', '2', '60', '25', '1', 50500, '공사손실충당금환입', '해당없음', '공사손실 충당금환입', '해당없음', '工事損失充當金換入', '해당없음', '3', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5055', '기초재공품재고액', '1', '60', '30', '1', 50550, '기초재공품재고액', '해당없음', 'Beginning materials', '해당없음', '基礎在工品在庫額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5060', '타계정에서 대체액', '1', '60', '35', '1', 50600, '타계정에서대체액', '해당없음', 'Transferred from other accounts', '해당없음', '他計定에서代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5065', '합계(원가)', '1', '60', '40', '1', 50650, '합            계', '해당없음', 'Total', '해당없음', '合            計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5070', '기말재공품재고액', '2', '60', '45', '1', 50700, '기말재공품재고액', '해당없음', 'Ending material', '해당없음', '期末在工品在庫額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5075', '타계정으로 대체액', '2', '60', '50', '1', 50750, '타계정으로대체액', '해당없음', 'Transferred to other accounts', '해당없음', '他計定으로代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '5080', '당기제품제조원가', '1', '60', '55', '1', 50800, '당기제품제조원가', '해당없음', 'Cost of goods manufacturing', '해당없음', '當期製品製造原價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6000', '도급원가(601~700)', '1', '65', '00', '1', 60000, '도   급  원   가', '해당없음', 'Cost of contract', '해당없음', '都   給  原   價', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6010', '재료비', '1', '65', '10', '1', 60100, '재     료     비', '해당없음', 'The material cost', '해당없음', '材     料     費', '해당없음', '3', '6000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6020', '노무비', '1', '65', '10', '1', 60200, '노     무     비', '해당없음', 'Labor expenses', '해당없음', '勞     務     費', '해당없음', '3', '6000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6030', '경비', '1', '65', '10', '1', 60300, '경            비', '해당없음', 'Expenses', '해당없음', '經            費', '해당없음', '3', '6000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6040', '당기총공사원가', '1', '65', '15', '1', 60400, '당기 총 공사원가', '해당없음', '당기 총 공사원가', '해당없음', '當期 總 工事原價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6045', '공사손실 충당금전입', '1', '65', '20', '1', 60450, '공사손실충당금전입', '해당없음', '공사손실 충당금전입', '해당없음', '工事損失充當金轉入', '해당없음', '3', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6050', '공사손실 충당금환입', '2', '65', '25', '1', 60500, '공사손실충당금환입', '해당없음', '공사손실 충당금환입', '해당없음', '工事損失充當金換入', '해당없음', '3', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6055', '기초미완성공사액', '1', '65', '30', '1', 60550, '기초미완성공사액', '해당없음', '기초미완성공사액', '해당없음', '期初未完成工事額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6060', '타계정에서 대체액', '1', '65', '35', '1', 60600, '타계정에서대체액', '해당없음', 'Transferred from other accounts', '해당없음', '他計定에서代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6065', '합계(원가)', '1', '65', '40', '1', 60650, '합            계', '해당없음', 'Total', '해당없음', '合            計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6070', '기말미완성공사액', '2', '65', '45', '1', 60700, '기말미완성공사액', '해당없음', '기말미완성공사액', '해당없음', '期末未完成工事額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6075', '타계정으로 대체액', '2', '65', '50', '1', 60750, '타계정으로대체액', '해당없음', 'Transferred to other accounts', '해당없음', '他計定으로代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '6080', '당기공사원가', '1', '65', '55', '1', 60800, '당 기 공 사 원가', '해당없음', '당기공사원가', '해당없음', '當 期 工 事 原價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7000', '분양원가(701~800)', '1', '70', '00', '1', 70000, '제   조  원   가', '해당없음', 'Cost of goods manufactured', '해당없음', '製   造  原   價', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7010', '재료비', '1', '70', '10', '1', 70100, '재     료     비', '해당없음', 'The material cost', '해당없음', '材     料     費', '해당없음', '3', '7000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7020', '노무비', '1', '70', '10', '1', 70200, '노     무     비', '해당없음', 'Labor expenses', '해당없음', '勞     務     費', '해당없음', '3', '7000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7030', '경비', '1', '70', '10', '1', 70300, '경            비', '해당없음', 'Expenses', '해당없음', '經            費', '해당없음', '3', '7000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7040', '당기총공사원가', '1', '70', '15', '1', 70400, '당기 총 공사원가', '해당없음', '당기 총 공사원가', '해당없음', '當期 總 工事原價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7045', '공사손실 충당금전입', '1', '70', '20', '1', 70450, '공사손실충당금전입', '해당없음', '공사손실 충당금전입', '해당없음', '工事損失充當金轉入', '해당없음', '3', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7050', '공사손실 충당금환입', '2', '70', '25', '1', 70500, '공사손실충당금환입', '해당없음', '공사손실 충당금환입', '해당없음', '工事損失充當金換入', '해당없음', '3', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7055', '기초미완성공사액', '1', '70', '30', '1', 70550, '기초미완성공사액', '해당없음', '기초미완성공사액', '해당없음', '期初未完成工事額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7060', '타계정에서 대체액', '1', '70', '35', '1', 70600, '타계정에서대체액', '해당없음', 'Transferred from other accounts', '해당없음', '他計定에서代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7065', '합계(원가)', '1', '70', '40', '1', 70650, '합            계', '해당없음', 'Total', '해당없음', '合            計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7070', '기말미완성공사액', '2', '70', '45', '1', 70700, '기말미완성공사액', '해당없음', '기말미완성공사액', '해당없음', '期末未完成工事額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7075', '타계정으로 대체액', '2', '70', '50', '1', 70750, '타계정으로대체액', '해당없음', 'Transferred to other accounts', '해당없음', '他計定으로代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '7080', '당기공사원가', '1', '70', '55', '1', 70800, '당 기 공 사 원가', '해당없음', '당기공사원가', '해당없음', '當 期 工 事 原價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8010', '판매비와 일반관리비(801~900)', '1', '40', '00', '1', 80100, '판매비와일반관리비', '해당없음', 'Selling & general administrative expenses', '해당없음', '販賣費와一般管理費', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8020', '영업이익', '2', '45', '00', '1', 80200, '영   업  이   익', '영   업  손   실', 'Operating revenue', 'Operating loss', '營   業  利   益', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8030', '영업외수익(901~930)', '2', '40', '00', '1', 80300, '영  업 외 수  익', '해당없음', 'Non-operating revenue', '해당없음', '營  業 外 收  益', '營  業 外 損  失', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8040', '영업외비용(931~960)', '1', '40', '00', '1', 80400, '영  업 외 비  용', '해당없음', 'Non-operating expense', '해당없음', '營  業 外 費  用', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8050', '경상이익', '2', '45', '00', '1', 80500, '경   상  이   익', '경   상  손   실', 'Ordinary income', 'Ordinary losses', '經   常  利   益', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8060', '특별이익(961~980)', '2', '40', '00', '1', 80600, '특   별  이   익', '해당없음', 'Extraordinary gain', '해당없음', '特   別  利   益', '經   常  損   失', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8070', '특별손실(981~997)', '1', '40', '00', '1', 80700, '특   별  손   실', '해당없음', 'Extraordinary losses', '해당없음', '特   別  損   失', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8080', '법인세차감전순이익', '2', '45', '00', '1', 80800, '법인세차감전순이익', '법인세차감전순손실', 'Income before income taxes', 'Loss before income taxes', '法人稅費用差減前純利益', '法人稅費用差減前純損失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8090', '법인세등(998~999)', '1', '40', '00', '1', 80900, '법  인 세 비  용', '해당없음', 'Income taxes', '해당없음', '法  人 稅 費  用', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '8100', '당기순이익', '2', '50', '00', '1', 81000, '당  기 순 이  익', '당  기 순 손  실', 'Net income', 'Net loss', '當  期 純 利  益', '當  期 純 損  失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M06', '9000', '합계', '1', '55', '00', '1', 90000, '합            계', '해당없음', 'Total', '해당없음', '合            計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1000', '자산', '1', '10', '00', '1', 10000, '자            산', '해당없음', 'Assets', '해당없음', '資            産', '해당없음', '1', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1100', '유동자산', '1', '35', '00', '1', 11000, '유   동  자   산', '해당없음', 'Current assets', '해당없음', '流   動  資   産', '해당없음', '2', '1000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1110', '당좌자산(101~150)', '1', '30', '00', '1', 11100, '당   좌  자   산', '해당없음', 'Quick assets', '해당없음', '當   座  資   産', '해당없음', '3', '1100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1120', '재고자산(151~170)', '1', '30', '00', '1', 11200, '재   고  자   산', '해당없음', 'Inventories', '해당없음', '在   庫  資   産', '해당없음', '3', '1100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1200', '비유동자산', '1', '35', '00', '1', 12000, '비  유 동 자  산', '해당없음', 'Non-current assets', '해당없음', '非  流 動 資  産', '해당없음', '2', '1000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1210', '투자자산(171~200)', '1', '30', '00', '1', 12100, '투   자  자   산', '해당없음', 'Investments', '해당없음', '投   資  在   庫', '해당없음', '3', '1200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1220', '유형자산(201~230)', '1', '30', '00', '1', 12200, '유   형  자   산', '해당없음', 'Tangible assets', '해당없음', '有   形  資   産', '해당없음', '3', '1200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1230', '무형자산(231~240)', '1', '30', '00', '1', 12300, '무   형  자   산', '해당없음', 'Intangible assets', '해당없음', '無   形  資   産', '해당없음', '3', '1200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1240', '기타비유동자산(171~240)', '1', '30', '00', '1', 12300, '기타 비유동 자산', '해당없음', 'Other non-current assets', '해당없음', '其他 非流動 資産', '해당없음', '3', '1200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '1300', '자산총계', '1', '37', '00', '1', 13000, '자   산  총   계', '해당없음', 'Total assets', '해당없음', '資   産  總   計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '2000', '부채', '2', '15', '00', '1', 20000, '부            채', '해당없음', 'Liabilities', '해당없음', '負            債', '해당없음', '1', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '2100', '유동부채(251~290)', '2', '30', '00', '1', 21000, '유   동  부   채', '해당없음', 'Current liabilities', '해당없음', '流   動  負   債', '해당없음', '2', '2000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '2200', '비유동부채(291~325)', '2', '30', '00', '1', 22000, '비  유 동 부  채', '해당없음', 'Non-current liabilities', '해당없음', '非  流 動 負  債', '해당없음', '2', '2000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '2400', '부채총계', '2', '37', '00', '1', 24000, '부   채  총   계', '해당없음', 'Total liabilities', '해당없음', '負   債  總   計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '3000', '자본', '2', '20', '00', '1', 30000, '자            본', '해당없음', 'Capital', '해당없음', '資            本', '해당없음', '1', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '3100', '자본금(331~340)', '2', '30', '00', '1', 31000, '자     본     금', '해당없음', 'Capital stock', '해당없음', '資     本     金', '해당없음', '2', '3000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '3200', '자본잉여금(341~350)', '2', '30', '00', '1', 32000, '자  본 잉 여  금', '해당없음', 'Capital surplus', '해당없음', '資  本 剩 餘  金', '해당없음', '2', '3000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '3300', '자본조정(381~400)', '2', '30', '00', '1', 33000, '자   본  조   정', '해당없음', 'Capital adjustment', '해당없음', '資   本  調   整', '해당없음', '2', '3000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '3400', '기타포괄손익누계액(381~400)', '2', '30', '00', '1', 34000, '기타포괄손익누계액', '해당없음', '기타포괄손익누계액', '해당없음', '其他包括損益累計額', '해당없음', '2', '3000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '3500', '이익잉여금(351~380)', '2', '30', '00', '1', 35000, '이  익 잉 여  금', '결     손     금', 'Retained earnings', 'Retained loss', '利  益 剩 餘  金', '缺     損     金', '2', '3000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '3600', '(대차)당기순이익', '2', '39', '00', '1', 36000, '(당기순이익)', '(당기순손실)', 'Net income', 'Net loss', '當  期 純 損  失', '當  期 純 損  失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '3700', '자본총계', '2', '37', '00', '1', 37000, '자   본  총   계', '해당없음', 'Total capital', '해당없음', '資   本  總   計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '3800', '부채와자본총계', '2', '37', '00', '1', 38000, '부채 와 자본총계', '해당없음', 'Total liabilities and capital', '해당없음', '負債 와 資本總計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '4000', '손익', '2', '25', '00', '1', 40000, '손            익', '해당없음', '손익', '해당없음', '손익', '해당없음', '1', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '4010', '매출(401~420)', '2', '40', '00', '1', 40100, '매            출', '해당없음', 'Sales', '해당없음', '賣            出', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '4020', '매출원가(451~470)', '1', '43', '00', '1', 40200, '매   출  원   가', '해당없음', 'Cost of sales', '해당없음', '賣   出   原  價', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '4030', '매출총이익', '2', '45', '00', '1', 40300, '매  출 총 이  익', '매  출 총 손  실', 'Gross profit', 'Gross loss', '賣  出 總 利  益', '賣  出 總 損  失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5000', '제조원가(501~600)', '1', '60', '00', '1', 50000, '제   조  원   가', '해당없음', 'Cost of goods manufactured', '해당없음', '製   造  原   價', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5010', '재료비', '1', '60', '13', '1', 50100, '재     료     비', '해당없음', 'The material cost', '해당없음', '材     料     費', '해당없음', '3', '5000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5020', '노무비', '1', '60', '10', '1', 50200, '노     무     비', '해당없음', 'Labor expenses', '해당없음', '勞     務     費', '해당없음', '3', '5000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5030', '경비', '1', '60', '10', '1', 50300, '경            비', '해당없음', 'Expenses', '해당없음', '經            費', '해당없음', '3', '5000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5040', '당기총제조비용', '1', '60', '15', '1', 50400, '당기 총 제조비용', '해당없음', 'Total manufacturing', '해당없음', '當期 總 製造費用', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5045', '공사손실 충당금전입', '1', '60', '20', '1', 50450, '공사손실충당금전입', '해당없음', '공사손실 충당금전입', '해당없음', '工事損失充當金轉入', '해당없음', '3', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5050', '공사손실 충당금환입', '2', '60', '25', '1', 50500, '공사손실충당금환입', '해당없음', '공사손실 충당금환입', '해당없음', '工事損失充當金換入', '해당없음', '3', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5055', '기초재공품재고액', '1', '60', '30', '1', 50550, '기초재공품재고액', '해당없음', 'Beginning materials', '해당없음', '基礎在工品在庫額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5060', '타계정에서 대체액', '1', '60', '35', '1', 50600, '타계정에서대체액', '해당없음', 'Transferred from other accounts', '해당없음', '他計定에서代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5065', '합계(원가)', '1', '60', '40', '1', 50650, '합            계', '해당없음', 'Total', '해당없음', '合            計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5070', '기말재공품재고액', '2', '60', '45', '1', 50700, '기말재공품재고액', '해당없음', 'Ending material', '해당없음', '期末在工品在庫額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5075', '타계정으로 대체액', '2', '60', '50', '1', 50750, '타계정으로대체액', '해당없음', 'Transferred to other accounts', '해당없음', '他計定으로代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '5080', '당기제품제조원가', '1', '60', '55', '1', 50800, '당기제품제조원가', '해당없음', 'Cost of goods manufacturing', '해당없음', '當期製品製造原價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6000', '도급원가(601~700)', '1', '65', '00', '1', 60000, '도   급  원   가', '해당없음', 'Cost of contract', '해당없음', '都   給  原   價', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6010', '재료비', '1', '65', '13', '1', 60100, '재     료     비', '해당없음', 'The material cost', '해당없음', '材     料     費', '해당없음', '3', '6000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6020', '노무비', '1', '65', '10', '1', 60200, '노     무     비', '해당없음', 'Labor expenses', '해당없음', '勞     務     費', '해당없음', '3', '6000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6030', '경비', '1', '65', '10', '1', 60300, '경            비', '해당없음', 'Expenses', '해당없음', '經            費', '해당없음', '3', '6000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6040', '당기총공사원가', '1', '65', '15', '1', 60400, '당기 총 공사원가', '해당없음', '당기 총 공사원가', '해당없음', '當期 總 工事原價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6045', '공사손실 충당금전입', '1', '65', '20', '1', 60450, '공사손실충당금전입', '해당없음', '공사손실 충당금전입', '해당없음', '工事損失充當金轉入', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6050', '공사손실 충당금환입', '2', '65', '25', '1', 60500, '공사손실충당금환입', '해당없음', '공사손실 충당금환입', '해당없음', '工事損失充當金換入', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6055', '기초미완성공사액', '1', '65', '30', '1', 60550, '기초미완성공사액', '해당없음', '기초미완성공사액', '해당없음', '期初未完成工事額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6060', '타계정에서 대체액', '1', '65', '35', '1', 60600, '타계정에서대체액', '해당없음', 'Transferred from other accounts', '해당없음', '他計定에서代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6065', '합계(원가)', '1', '65', '40', '1', 60650, '합            계', '해당없음', 'Total', '해당없음', '合            計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6070', '기말미완성공사액', '2', '65', '45', '1', 60700, '기말미완성공사액', '해당없음', '기말미완성공사액', '해당없음', '期末未完成工事額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6075', '타계정으로 대체액', '2', '65', '50', '1', 60750, '타계정으로대체액', '해당없음', 'Transferred to other accounts', '해당없음', '他計定으로代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '6080', '당기공사원가', '1', '65', '55', '1', 60800, '당 기 공 사 원가', '해당없음', '당기공사원가', '해당없음', '當 期 工事 原 價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7000', '분양원가(701~800)', '1', '70', '00', '1', 70000, '제   조  원   가', '해당없음', '제 조 원 가', '해당없음', '製   造  原   價', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7010', '재료비', '1', '70', '13', '1', 70100, '재     료     비', '해당없음', 'The material cost', '해당없음', '材     料     費', '해당없음', '3', '7000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7020', '노무비', '1', '70', '10', '1', 70200, '노     무     비', '해당없음', 'Labor expenses', '해당없음', '勞     務     費', '해당없음', '3', '7000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7030', '경비', '1', '70', '10', '1', 70300, '경            비', '해당없음', 'Expenses', '해당없음', '經            費', '해당없음', '3', '7000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7040', '당기총공사원가', '1', '70', '15', '1', 70400, '당기 총 공사원가', '해당없음', '당기 총 공사원가', '해당없음', '當期 總 工事原價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7045', '공사손실 충당금전입', '1', '70', '20', '1', 70450, '공사손실충당금전입', '해당없음', '공사손실 충당금전입', '해당없음', '工事損失充當金轉入', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7050', '공사손실 충당금환입', '2', '70', '25', '1', 70500, '공사손실충당금환입', '해당없음', '공사손실 충당금환입', '해당없음', '工事損失充當金환入', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7055', '기초미완성공사액', '1', '70', '30', '1', 70550, '기초미완성공사액', '해당없음', '기초미완성공사액', '해당없음', '期初未完成工事額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7060', '타계정에서 대체액', '1', '70', '35', '1', 70600, '타계정에서대체액', '해당없음', 'Transferred from other accounts', '해당없음', '他計定에서代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7065', '합계(원가)', '1', '70', '40', '1', 70650, '합            계', '해당없음', 'Total', '해당없음', '合            計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7070', '기말미완성공사액', '2', '70', '45', '1', 70700, '기말미완성공사액', '해당없음', '기말미완성공사액', '해당없음', '期末未完成工事額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7075', '타계정으로 대체액', '2', '70', '50', '1', 70750, '타계정으로대체액', '해당없음', 'Transferred to other accounts', '해당없음', '他計定으로代替額', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '7080', '당기공사원가', '1', '70', '55', '1', 70800, '당 기 공 사 원가', '해당없음', '당기공사원가', '해당없음', '當期 工事 原價', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8010', '판매비와 일반관리비(801~900', '1', '40', '00', '1', 80100, '판매비와일반관리비', '해당없음', 'Selling & general administrative expenses', '해당없음', '販賣費와一般管理費', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8020', '영업이익', '2', '45', '00', '1', 80200, '영   업  이   익', '영   업  손   실', 'Operating revenue', 'Operating loss', '營   業  收   益', '營   業  損   失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8030', '영업외수익(901~980)', '2', '40', '00', '1', 80300, '영  업 외 수  익', '해당없음', 'Non-operating revenue', '해당없음', '營  業 外 收  益', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8040', '영업외비용(931~997)', '1', '40', '00', '1', 80400, '영  업 외 비  용', '해당없음', 'Non-operating expense', '해당없음', '營  業 外 費  用', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8050', '법인세차감전순손익', '2', '45', '00', '1', 80500, '법인세비용차감전순이익', '법인세비용차감전순손실', 'Income before income taxes', 'Loss before income taxes', '法人稅費用差減前純利益', '法人稅費用差減前純損失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8055', '법인세차감전계속사업순손익', '2', '45', '00', '0', 80550, '법인세비용차감전계속사업순이익', '법인세비용차감전계속사업순손실', 'Income before income taxes', 'Loss before income taxes', '法人稅費用差減前純利益', '法人稅費用差減前純損失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8060', '법인세등(998~999)', '1', '40', '00', '1', 80600, '법  인 세 비  용', '해당없음', 'Income taxes', '해당없음', '法  人 稅 費  用', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8070', '계속사업이익', '2', '47', '00', '0', 80700, '계속 사  업 이익', '계속사업손실', 'Net earnings from continuing operations', 'Net loss from continuing operations', '繼續 事  業 損失', '繼續 事  業 損失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8080', '중단사업손익', '2', '40', '00', '1', 80800, '중단 사  업 손익', '해당없음', 'Net earnings from discontinued operations', 'Net loss from discontinued operations', '中斷 事  業 利益', '해당없음', '2', '4000' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8100', '당기순이익', '2', '50', '00', '1', 81000, '당  기 순 이  익', '당  기 순 손  실', 'Net income', 'Net loss', '當  期 純 利  益', '當  期 純 損  失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8200', '주당손익', '2', '81', '00', '1', 82000, '주당이익', '주당손실', 'Earnings per share', 'Loss per share', '株   當   利  益', '株   當   損  失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8210', '기본주당계속사업손익', '2', '82', '00', '0', 82100, '기본주당계속사업이익', '기본주당계속사업손실', '기본주당계속사업이익', '기본주당계속사업손실', '基本株當繼續事業利益', '基本株當繼續事業損失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8215', '기본주당순손익', '2', '83', '00', '1', 82150, '기본주당순이익', '기본주당순손실', 'Earnings per common share, basic', 'Loss per common share, basic', '基本株當純利益', '基本株當純損失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8220', '희석주당계속사업손익', '1', '84', '00', '0', 82200, '희석주당계속사업이익', '희석주당계속사업손실', '희석주당계속사업이익', '희석주당계속사업손실', '稀釋株當繼續事業利益', '稀釋株當繼續事業損失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '8225', '희석주당순손익', '1', '85', '00', '1', 82250, '희석주당순이익', '희석주당순손실', 'Earnings per common share, diluted', 'Loss per common share, diluted', '稀釋株當純利益', '稀釋株當純損失', '9', '기타' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP (C_CODE, FS_CODE, GROUP_CODE, GROUP_NAME, DRCR_GUBUN, GROUP_TYPE, COST_TYPE, MD_GUBUN, SORT_NO, PNAME_HAN, MNAME_HAN, PNAME_ENG, MNAME_ENG, PNAME_ETC, MNAME_ETC, LEVEL_CODE, UP_CODE) SELECT C_CODE, 'M07', '9000', '합계', '1', '55', '00', '1', 90000, '합            계', '해당없음', 'Total', '해당없음', '合            計', '해당없음', '9', '기타' FROM VBASE_COMPANYINFO
  END
END 
GO
