USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ETAX_MNG]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ETAX_MNG](
	[C_CODE] [varchar](4) NOT NULL,
	[SIO_FG] [char](1) NOT NULL,
	[T_CODE] [varchar](10) NOT NULL,
	[CHECK_CODE] [varchar](3) NOT NULL,
	[CHECKD_CODE] [varchar](20) NULL,
	[CHECKD_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_ETAX_MNG] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SIO_FG] ASC,
	[T_CODE] ASC,
	[CHECK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
