USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_DOCU_BUDGET_SIN]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	CREATE PROCEDURE [DZAIS].[P_DOCU_BUDGET_SIN]
(	@GUBUN		CHAR(1),
	@DECI_DATE		CHAR(8)	,
	@DECI_NO		NUMERIC(4, 0),
	@LINE_NO		NUMERIC(4, 0),
	@SLIP_NO		NUMERIC(4, 0),
	@DEPT_CODE		VARCHAR(12),
	@NODE_CODE		VARCHAR(4),
	@C_CODE		VARCHAR(4),
	@ACCT_CODE		CHAR(5),
	@DR_AMT		NUMERIC(15, 0),
	@CR_AMT		NUMERIC(15, 0),
	@BUDGET_DEPT_CODE	VARCHAR(12)
)
AS
DECLARE		@BUDGET_CODE		CHAR(5),
			@GI_GUBUN		CHAR(1),
			@GUBUN_CODE		VARCHAR(12),
			@CTL_TYPE		CHAR(1)
BEGIN
	SELECT	@CTL_TYPE = CTL_TYPE
	FROM	BUDGETCON
	WHERE	C_CODE= @C_CODE

	IF	@CTL_TYPE = '2'
		SELECT	@GUBUN_CODE = @BUDGET_DEPT_CODE
	ELSE
		SELECT	@GUBUN_CODE = @DEPT_CODE

	IF	SUBSTRING(@DECI_DATE, 5, 2) <= '03'
		SELECT	@GI_GUBUN = '1'
	IF	SUBSTRING(@DECI_DATE, 5, 2) <= '06' AND SUBSTRING(@DECI_DATE, 5, 2) > = '04'
		SELECT	@GI_GUBUN = '2'
	IF	SUBSTRING(@DECI_DATE, 5, 2) <= '09' AND SUBSTRING(@DECI_DATE, 5, 2) > = '07'
		SELECT	@GI_GUBUN = '3'
	IF	SUBSTRING(@DECI_DATE, 5, 2) <= '12' AND SUBSTRING(@DECI_DATE, 5, 2) > = '10'
		SELECT	@GI_GUBUN = '4'

	SELECT	@BUDGET_CODE = BUDGET_CODE
	FROM	BUDGETCODE
	WHERE	C_CODE = @C_CODE
	AND	BUDGET_CODE = @ACCT_CODE

	IF @@ROWCOUNT = 0 RETURN

	IF @GUBUN = 'D'
		DELETE FROM DOCUD_BUDGET
		WHERE	C_CODE = @C_CODE
		AND	NODE_CODE = @NODE_CODE
		AND	DEPT_CODE = @DEPT_CODE
		AND	DECI_DATE = @DECI_DATE
		AND	DECI_NO = @DECI_NO
		AND	LINE_NO = @LINE_NO
		AND	SLIP_NO = @SLIP_NO

	IF @GUBUN = 'I'
		INSERT INTO DOCUD_BUDGET(DECI_DATE, DECI_NO, LINE_NO, SLIP_NO, DEPT_CODE, NODE_CODE, C_CODE, SIL_AMT_Y, SIL_AMT_M, DO_AMT_M)
		SELECT	@DECI_DATE,
			@DECI_NO,
			@LINE_NO,
			@SLIP_NO,
			@DEPT_CODE,
			@NODE_CODE,
			@C_CODE,
			ISNULL(SUM(SIL_AMT), 0),
			ISNULL(SUM(CASE WHEN (@GI_GUBUN = '1'AND SUBSTRING(BUDGET_YM, 5, 2) <= '03') THEN SIL_AMT
					WHEN (@GI_GUBUN = '2'AND SUBSTRING(BUDGET_YM, 5, 2) <= '06') THEN SIL_AMT
					WHEN (@GI_GUBUN = '3'AND SUBSTRING(BUDGET_YM, 5, 2) <= '09') THEN SIL_AMT
					WHEN (@GI_GUBUN = '4'AND SUBSTRING(BUDGET_YM, 5, 2) <= '12') THEN SIL_AMT
				END), 0) -
			ISNULL(SUM(CASE WHEN @GI_GUBUN = '1' THEN 0 
					WHEN (@GI_GUBUN = '2'AND SUBSTRING(BUDGET_YM, 5, 2) <= '03') THEN DO_AMT 
					WHEN (@GI_GUBUN = '3'AND SUBSTRING(BUDGET_YM, 5, 2) <= '06') THEN DO_AMT 
					WHEN (@GI_GUBUN = '4'AND SUBSTRING(BUDGET_YM, 5, 2) <= '09') THEN DO_AMT 
				END), 0),
			ISNULL(SUM(CASE WHEN (@GI_GUBUN = '1'AND SUBSTRING(BUDGET_YM, 5, 2) >= '01' AND SUBSTRING(BUDGET_YM, 5, 2) <= '03') THEN DO_AMT 
					WHEN (@GI_GUBUN = '2'AND SUBSTRING(BUDGET_YM, 5, 2) >= '04' AND SUBSTRING(BUDGET_YM, 5, 2) <= '06') THEN DO_AMT 
					WHEN (@GI_GUBUN = '3'AND SUBSTRING(BUDGET_YM, 5, 2) >= '07' AND SUBSTRING(BUDGET_YM, 5, 2) <= '09') THEN DO_AMT 
					WHEN (@GI_GUBUN = '4'AND SUBSTRING(BUDGET_YM, 5, 2) >= '10' AND SUBSTRING(BUDGET_YM, 5, 2) <= '12') THEN DO_AMT 
				END), 0)
		FROM	BUDGETDO
		WHERE	C_CODE = @C_CODE
		AND	BUDGET_YM LIKE SUBSTRING(@DECI_DATE, 1, 4) + '%'
		AND	DEPT_CODE = @GUBUN_CODE
		AND	BUDGET_CODE = @BUDGET_CODE
END
GO
