USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVJEONJA_FORM]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVJEONJA_FORM](
	[RPT_TM] [varchar](6) NOT NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[FORM_CD] [varchar](4) NOT NULL,
	[EXE_NM] [varchar](8) NOT NULL,
	[MENU_NM] [varchar](60) NULL,
 CONSTRAINT [PK_AVJEONJA_FORM] PRIMARY KEY CLUSTERED 
(
	[RPT_TM] ASC,
	[SINGO_FG] ASC,
	[FORM_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVJEONJA_FORM] ADD  CONSTRAINT [DF__AVJEONJA___SINGO__5F5EFD72]  DEFAULT ('0') FOR [SINGO_FG]
GO
