USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[GRAPHICS_1]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[GRAPHICS_1](
	[PRICE1] [numeric](17, 2) NULL,
	[NAME1] [char](20) NOT NULL,
	[PRICE2_1] [numeric](17, 2) NULL,
	[NAME2_1] [char](20) NULL,
	[PRICE2_2] [numeric](17, 2) NULL,
	[NAME2_2] [char](20) NULL,
	[PRICE3_1] [numeric](17, 2) NULL,
	[NAME3_1] [char](20) NULL,
	[PRICE3_2] [numeric](17, 2) NULL,
	[NAME3_2] [char](20) NULL,
	[PRICE4_1] [numeric](17, 2) NULL,
	[NAME4_1] [char](20) NULL,
	[PRICE5_1] [numeric](17, 2) NULL,
	[NAME5_1] [char](20) NULL,
 CONSTRAINT [PK_YNAME] PRIMARY KEY CLUSTERED 
(
	[NAME1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[GRAPHICS_1] ADD  CONSTRAINT [DF_GRAPHICS_1_PRICE1]  DEFAULT ((0)) FOR [PRICE1]
GO
ALTER TABLE [DZAIS].[GRAPHICS_1] ADD  CONSTRAINT [DF_GRAPHICS_1_PRICE2_1]  DEFAULT ((0)) FOR [PRICE2_1]
GO
ALTER TABLE [DZAIS].[GRAPHICS_1] ADD  CONSTRAINT [DF_GRAPHICS_1_PRICE2_2]  DEFAULT ((0)) FOR [PRICE2_2]
GO
ALTER TABLE [DZAIS].[GRAPHICS_1] ADD  CONSTRAINT [DF_GRAPHICS_1_PRICE3_1]  DEFAULT ((0)) FOR [PRICE3_1]
GO
ALTER TABLE [DZAIS].[GRAPHICS_1] ADD  CONSTRAINT [DF_GRAPHICS_1_PRICE3_2]  DEFAULT ((0)) FOR [PRICE3_2]
GO
ALTER TABLE [DZAIS].[GRAPHICS_1] ADD  CONSTRAINT [DF_GRAPHICS_1_PRICE4_1]  DEFAULT ((0)) FOR [PRICE4_1]
GO
ALTER TABLE [DZAIS].[GRAPHICS_1] ADD  CONSTRAINT [DF_GRAPHICS_1_PRICE5_1]  DEFAULT ((0)) FOR [PRICE5_1]
GO
