USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_FSUPGRADE_SUB2]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE   PROCEDURE [DZAIS].[P_FSUPGRADE_SUB2]
AS
BEGIN
  IF (SELECT COUNT(1) FROM FSGROUP_SUB WHERE C_CODE <> '0000') = 0
  BEGIN
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1000', '1110' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1000', '1120' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1000', '1210' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1000', '1220' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1000', '1230' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1000', '1240' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1100', '1110' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1100', '1120' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1200', '1210' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1200', '1220' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1200', '1230' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1200', '1240' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1300', '1110' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1300', '1120' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1300', '1210' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1300', '1220' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1300', '1230' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '1300', '1240' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '2000', '2100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '2000', '2200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '2000', '2300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '2400', '2100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '2400', '2200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '2400', '2300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3000', '3100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3000', '3200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3000', '3300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3000', '3500' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3400', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3400', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3400', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3400', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3400', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3400', '8060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3400', '8070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3400', '8090' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3600', '3100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3600', '3200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3600', '3300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3600', '3500' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3700', '2100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3700', '2200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3700', '2300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3700', '3100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3700', '3200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3700', '3300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '3700', '3500' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '4030', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '4030', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5000', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5000', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5000', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5000', '5045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5000', '5050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5040', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5040', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5040', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5065', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5065', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5065', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5065', '5045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5065', '5050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5065', '5055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5065', '5060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5080', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5080', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5080', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5080', '5045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5080', '5050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5080', '5055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5080', '5060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5080', '5070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '5080', '5075' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6000', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6000', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6000', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6000', '6045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6000', '6050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6040', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6040', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6040', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6065', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6065', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6065', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6065', '6045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6065', '6050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6065', '6055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6065', '6060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6080', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6080', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6080', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6080', '6045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6080', '6050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6080', '6055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6080', '6060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6080', '6070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '6080', '6075' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7000', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7000', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7000', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7000', '7045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7000', '7050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7040', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7040', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7040', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7065', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7065', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7065', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7065', '7045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7065', '7050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7065', '7055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7065', '7060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7080', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7080', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7080', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7080', '7045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7080', '7050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7080', '7055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7080', '7060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7080', '7070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '7080', '7075' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8020', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8020', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8020', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8050', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8050', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8050', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8050', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8050', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8080', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8080', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8080', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8080', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8080', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8080', '8060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8080', '8070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8100', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8100', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8100', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8100', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8100', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8100', '8060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8100', '8070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '8100', '8090' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '1110' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '1120' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '1210' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '1220' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '1230' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '1240' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '2100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '2200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '2300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '3100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '3200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '3300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '3500' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '5045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '5050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '6045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '6050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '7045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '7050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '8060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '8070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M06', '9000', '8090' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1000', '1110' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1000', '1120' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1000', '1210' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1000', '1220' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1000', '1230' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1000', '1240' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1100', '1110' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1100', '1120' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1200', '1210' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1200', '1220' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1200', '1230' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1200', '1240' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1300', '1110' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1300', '1120' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1300', '1210' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1300', '1220' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1300', '1230' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '1300', '1240' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '2000', '2100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '2000', '2200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '2400', '2100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '2400', '2200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3000', '3100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3000', '3200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3000', '3300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3000', '3400' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3000', '3500' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3400', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3400', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3400', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3400', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3400', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3400', '8060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3400', '8070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3600', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3600', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3600', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3600', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3600', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3600', '8060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3600', '8080' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3700', '3100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3700', '3200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3700', '3300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3700', '3500' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3800', '2100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3800', '2200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3800', '3100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3800', '3200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3800', '3300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3800', '3400' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '3800', '3500' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '4030', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '4030', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5000', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5000', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5000', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5000', '5045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5000', '5050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5040', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5040', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5040', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5065', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5065', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5065', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5065', '5045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5065', '5050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5065', '5055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5065', '5060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5080', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5080', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5080', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5080', '5045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5080', '5050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5080', '5055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5080', '5060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5080', '5070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '5080', '5075' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6000', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6000', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6000', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6000', '6045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6000', '6050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6040', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6040', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6040', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6065', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6065', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6065', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6065', '6045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6065', '6050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6065', '6055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6065', '6060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6080', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6080', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6080', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6080', '6045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6080', '6050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6080', '6055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6080', '6060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6080', '6070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '6080', '6075' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7000', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7000', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7000', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7000', '7045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7000', '7050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7040', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7040', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7040', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7065', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7065', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7065', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7065', '7045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7065', '7050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7065', '7055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7065', '7060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7080', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7080', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7080', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7080', '7045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7080', '7050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7080', '7055' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7080', '7060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7080', '7070' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '7080', '7075' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8020', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8020', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8020', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8050', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8050', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8050', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8050', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8050', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8055', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8055', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8055', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8055', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8055', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8070', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8070', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8070', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8070', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8070', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8070', '8060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8100', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8100', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8100', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8100', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8100', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8100', '8060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8100', '8080' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8200', '8215' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '8200', '8225' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '1110' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '1120' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '1210' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '1220' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '1230' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '1240' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '2100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '2200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '3100' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '3200' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '3300' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '3500' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '4010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '4020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '5010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '5020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '5030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '5045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '5050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '6010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '6020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '6030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '6045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '6050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '7010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '7020' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '7030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '7045' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '7050' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '8010' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '8030' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '8040' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '8060' FROM VBASE_COMPANYINFO
    INSERT INTO FSGROUP_SUB (C_CODE, FS_CODE, GROUP_CODE, GROUP_SUB) SELECT C_CODE, 'M07', '9000', '8070' FROM VBASE_COMPANYINFO
  END 
END
GO
