USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVESTATE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVESTATE](
	[FR_YM] [varchar](6) NOT NULL,
	[TO_YM] [varchar](6) NOT NULL,
	[CO_CD] [varchar](4) NOT NULL,
	[DIV_CD] [varchar](4) NOT NULL,
	[RPT_TM] [varchar](1) NOT NULL,
	[SEQ_NB] [numeric](5, 0) NOT NULL,
	[ISS_DT] [varchar](8) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[REG_DT] [varchar](8) NULL,
	[ADDR] [varchar](60) NULL,
	[MJUK] [varchar](20) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL
) ON [PRIMARY]
GO
