USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PURCARDMA]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PURCARDMA](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[CARD_NO] [varchar](50) NOT NULL,
	[CARD_KIND] [char](1) NOT NULL,
	[ISS_DATE] [char](8) NOT NULL,
	[DUE_DATE] [char](8) NOT NULL,
	[BANK_CODE] [varchar](8) NULL,
	[BRANCH] [varchar](30) NULL,
	[CARD_AMT] [numeric](15, 0) NOT NULL,
	[ISS_DEPT] [varchar](12) NULL,
	[ISS_SA] [varchar](10) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[REC_DATE] [char](8) NULL,
	[DECI_DATE] [char](8) NULL,
	[DECI_NO] [numeric](4, 0) NULL,
	[LINE_NO] [numeric](4, 0) NULL,
	[SLIP_NO] [numeric](4, 0) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[CARD_CON] [char](1) NULL,
	[DIS_AMT] [numeric](15, 0) NOT NULL,
	[DAMBO_YN] [char](1) NULL,
 CONSTRAINT [PK_PURCARDMA] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[CARD_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[PURCARDMA] ADD  CONSTRAINT [DF__PURCARDMA__CARD___5CE1B823]  DEFAULT ((0)) FOR [CARD_AMT]
GO
ALTER TABLE [DZAIS].[PURCARDMA] ADD  CONSTRAINT [DF__PURCARDMA__DIS_A__5DD5DC5C]  DEFAULT ((0)) FOR [DIS_AMT]
GO
