USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPD_DOCUD_TRANS_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE PROCEDURE [DZAIS].[UPD_DOCUD_TRANS_A]
(@O_C_CODE VARCHAR(4),
 @O_NODE_CODE VARCHAR(4),
 @O_DEPT_CODE VARCHAR(12),
 @O_DECI_NO NUMERIC(4),
 @O_DECI_DATE CHAR(8),
 @O_SLIP_NO NUMERIC(4),
 @O_LINE_NO NUMERIC(4))
AS
/*************************************************************************
            설    명 : 전표 삭제시 외환 처리 루틴
            개 발 자 : 이 주 환
            개발일자 : 1999/07/12
**************************************************************************/

BEGIN
DECLARE
	@ERR_NO  INT,
	@err_msg    VARCHAR(100)

	DELETE FROM TRANS_CHK1
	  WHERE DECI_DATE = @O_DECI_DATE
	    AND DECI_NO   = @O_DECI_NO
	    AND LINE_NO   = @O_LINE_NO
	    AND SLIP_NO   = @O_SLIP_NO
	    AND DEPT_CODE = @O_DEPT_CODE
	    AND NODE_CODE = @O_NODE_CODE
	    AND C_CODE =    @O_C_CODE

	DELETE FROM TRANS_CHK2
	  WHERE DECI_DATE = @O_DECI_DATE
	    AND DECI_NO   = @O_DECI_NO
	    AND LINE_NO   = @O_LINE_NO
	    AND SLIP_NO   = @O_SLIP_NO
	    AND DEPT_CODE = @O_DEPT_CODE
	    AND NODE_CODE = @O_NODE_CODE
	    AND C_CODE    = @O_C_CODE
RETURN 0
ON_ERROR:
    RAISERROR (@ERR_NO, 16, -1, 'UPD_DOCUD_TRANS_A 프로시져처리중 에러 발생')
    ROLLBACK  TRANSACTION
END

GO
