USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_JOJUNGHUSUIBKUMAEK]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 


CREATE  PROC [DZAIS].[USP_IPLUS_JOJUNGHUSUIBKUMAEK]
(
	@CO_CD				VARCHAR(4), 		-- 회사코드 ( 필수 )
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8)  
)
AS
/*************************************************************************/
--설    명 : 회계관리 - 법인연동 - 조정후수입금액명세서 
--수 정 자 : 김대영
--수정일자 : 2010/01/18
--수정내역 : 2010/01/18 : 신규 
/***/
BEGIN  

	-- EXEC [USP_IPLUS_COR_JOJUNGHUSUIBKUMAEK_SELECT] '','5000',6, '20090101','20091231' 


	DECLARE @NEW_CO_CD VARCHAR(4), 
		@YEAR	   VARCHAR(4) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD

	SET @YEAR = SUBSTRING( @FR_DT,1,4) 

	SELECT    X.MN_VAT, MN_ZERORATE, MN_DUTY , X.MN_VAT+ MN_ZERORATE+  MN_DUTY MN_SUM, DM_START, DM_END ,  ESTI , '1' CLO 
	FROM    
	(
		SELECT SUM( CASE WHEN ST_FG IN ('01','04') AND LN_NB IN ( '01', '02', '26')  THEN SUP_AM ELSE 0 END)  AS MN_VAT         , -- 부가세과세표준
			SUM( CASE WHEN ST_FG IN ('01','04') AND LN_NB IN ( '03', '04' ) THEN SUP_AM ELSE 0 END )  AS MN_ZERORATE     , -- 영세율금액	
			SUM( CASE WHEN ST_FG = '09' AND LN_NB = '03' THEN SUP_AM ELSE 0 END)  AS MN_DUTY ,
			SUBSTRING(FR_DT, 1,6) DM_START, SUBSTRING( TO_DT, 1,6)  DM_END , 
			CASE WHEN SUBSTRING( TO_DT, 5,2) IN ('03','09') THEN '1' ELSE '2' END ESTI 		
		FROM AVATRPT  
		WHERE CO_CD = @NEW_CO_CD  		
			AND   ( (FR_DT = @YEAR+'0101' AND TO_DT = @YEAR+'0331') OR  (FR_DT = @YEAR+'0401' AND TO_DT = @YEAR+'0630') OR  (FR_DT = @YEAR+'0701' AND TO_DT = @YEAR+'0930') OR    (FR_DT = @YEAR+'1001' AND TO_DT = @YEAR+'1231') ) 
			AND   ST_FG IN ('01','04','09') 
		GROUP BY SUBSTRING(FR_DT, 1,6)  , SUBSTRING( TO_DT, 1,6), CASE WHEN SUBSTRING( TO_DT, 5,2) IN ('03','09') THEN '1' ELSE '2' END 
	)X
	ORDER BY 	  DM_END 
	
END

GO
