USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVINCOME_TOTAL]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVINCOME_TOTAL](
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[INCOME_FG] [varchar](2) NOT NULL,
	[DOC_FG] [varchar](1) NOT NULL,
	[LN_SQ] [numeric](6, 0) NOT NULL,
	[MATT_CNT] [numeric](15, 4) NOT NULL,
	[TR_CD] [varchar](10) NULL,
	[TR_NM] [varchar](60) NULL,
	[REG_NB] [nvarchar](100) NULL,
	[DATE1] [varchar](8) NOT NULL,
	[SUP_AM1] [numeric](17, 4) NOT NULL,
	[VAT_AM1] [numeric](17, 4) NOT NULL,
	[ISU_DT] [varchar](8) NULL,
	[ISU_SQ] [numeric](5, 0) NULL,
	[LN_SQ2] [numeric](3, 0) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[DATA_CD] [varchar](50) NULL,
	[SUP_AM2] [numeric](17, 4) NOT NULL,
 CONSTRAINT [PK_AVINCOME_TOTAL] PRIMARY KEY CLUSTERED 
(
	[FR_DT] ASC,
	[TO_DT] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[INCOME_FG] ASC,
	[DOC_FG] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVINCOME_TOTAL] ADD  CONSTRAINT [DF__AVINCOME___FR_DT__11606D5A]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVINCOME_TOTAL] ADD  CONSTRAINT [DF__AVINCOME___TO_DT__12549193]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVINCOME_TOTAL] ADD  CONSTRAINT [DF__AVINCOME___MATT___1348B5CC]  DEFAULT ((0)) FOR [MATT_CNT]
GO
ALTER TABLE [DZAIS].[AVINCOME_TOTAL] ADD  CONSTRAINT [DF__AVINCOME___DATE1__143CDA05]  DEFAULT ('00000000') FOR [DATE1]
GO
ALTER TABLE [DZAIS].[AVINCOME_TOTAL] ADD  CONSTRAINT [DF__AVINCOME___SUP_A__1530FE3E]  DEFAULT ((0)) FOR [SUP_AM1]
GO
ALTER TABLE [DZAIS].[AVINCOME_TOTAL] ADD  CONSTRAINT [DF__AVINCOME___VAT_A__16252277]  DEFAULT ((0)) FOR [VAT_AM1]
GO
ALTER TABLE [DZAIS].[AVINCOME_TOTAL] ADD  CONSTRAINT [DF__AVINCOME___SINGO__171946B0]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVINCOME_TOTAL] ADD  CONSTRAINT [DF__AVINCOME___SUP_A__180D6AE9]  DEFAULT ((0)) FOR [SUP_AM2]
GO
