USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ELETRONIC_CASH]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ELETRONIC_CASH](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_YEAR] [char](4) NOT NULL,
	[GI_GUBUN] [char](1) NOT NULL,
	[SEQ] [numeric](6, 0) NOT NULL,
	[CUSTOMER_NAME] [varchar](60) NOT NULL,
	[BUYER_NAME] [varchar](60) NOT NULL,
	[SETTLEMENT_DATE] [char](8) NOT NULL,
	[EC_AMT] [numeric](15, 0) NOT NULL,
	[EC_NUMBER] [varchar](20) NOT NULL,
	[BUYER_EMAIL] [varchar](70) NULL,
	[FRANCHISE_NO] [varchar](15) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_ELETRONIC_CASH] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[TAX_YEAR] ASC,
	[GI_GUBUN] ASC,
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ELETRONIC_CASH] ADD  CONSTRAINT [DF__ELETRONIC_C__SEQ__2DBCB4E6]  DEFAULT ((0)) FOR [SEQ]
GO
ALTER TABLE [DZAIS].[ELETRONIC_CASH] ADD  CONSTRAINT [DF__ELETRONIC__EC_AM__2EB0D91F]  DEFAULT ((0)) FOR [EC_AMT]
GO
ALTER TABLE [DZAIS].[ELETRONIC_CASH] ADD  CONSTRAINT [DF__ELETRONIC__TAX_G__5E5FEC41]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
