USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PJTJO]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PJTJO](
	[C_CODE] [varchar](4) NOT NULL,
	[PROJ_CODE] [varchar](12) NOT NULL,
	[BUDGET_CODE] [char](5) NOT NULL,
	[JO_DATE] [char](8) NOT NULL,
	[BUDGET_YM] [char](6) NOT NULL,
	[JO_AMT] [numeric](15, 0) NOT NULL,
	[JO_RMK] [varchar](50) NULL,
	[JO_GU] [char](1) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[INSERT_INFO] [char](1) NULL,
 CONSTRAINT [PK_PJTJO] PRIMARY KEY CLUSTERED 
(
	[JO_DATE] ASC,
	[BUDGET_CODE] ASC,
	[PROJ_CODE] ASC,
	[C_CODE] ASC,
	[BUDGET_YM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[PJTJO] ADD  CONSTRAINT [DF_PJTJO_JO_DATE]  DEFAULT ('00000000') FOR [JO_DATE]
GO
ALTER TABLE [DZAIS].[PJTJO] ADD  CONSTRAINT [DF_PJTJO_JO_AMT]  DEFAULT ((0)) FOR [JO_AMT]
GO
ALTER TABLE [DZAIS].[PJTJO] ADD  CONSTRAINT [DF_PJTJO_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[PJTJO] ADD  CONSTRAINT [DF_PJTJO_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[PJTJO]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[PJTJO]  WITH CHECK ADD CHECK  (([JO_DATE]='00000000' OR [JO_DATE]>'19500101' AND [JO_DATE]<'21000101' AND CONVERT([datetime],[JO_DATE])=CONVERT([datetime],[JO_DATE])))
GO
ALTER TABLE [DZAIS].[PJTJO]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
