USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DOCUD]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DOCUD](
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[NOTE_CODE] [numeric](3, 0) NOT NULL,
	[NOTE_NAME] [varchar](100) NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[DOCU_NO] [numeric](4, 0) NOT NULL,
	[AMT_GUBUN] [char](1) NOT NULL,
	[BAN_NODE_CODE] [varchar](4) NULL,
	[BAN_DEPT_CODE] [varchar](12) NULL,
	[BAN_DECI_DATE] [char](8) NOT NULL,
	[BAN_DECI_NO] [numeric](4, 0) NOT NULL,
	[BAN_LINE_NO] [numeric](4, 0) NOT NULL,
	[BAN_SLIP_NO] [numeric](4, 0) NOT NULL,
	[VEN_CODE] [varchar](6) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[CONT_GUBUN] [char](1) NULL,
	[BUDGET_DEPT_CODE] [varchar](12) NULL,
	[PROJ_CODE] [varchar](12) NULL,
	[FUND_CODE] [char](4) NULL,
	[DUE_DATE] [char](8) NOT NULL,
	[TA_GUBUN] [char](1) NOT NULL,
	[BUDGET_TYPE] [char](1) NOT NULL,
 CONSTRAINT [PK_DOCUD] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[SLIP_NO] ASC,
	[LINE_NO] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX1_DOCUD]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX1_DOCUD] ON [DZAIS].[DOCUD]
(
	[ACCT_CODE] ASC,
	[DECI_DATE] ASC,
	[ACCT_DATE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX2_DOCUD]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX2_DOCUD] ON [DZAIS].[DOCUD]
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[ACCT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX3_DOCUD]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX3_DOCUD] ON [DZAIS].[DOCUD]
(
	[ACCT_DATE] ASC,
	[DOCU_NO] ASC,
	[ACCT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[AMT_GUBUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX4_DOCUD]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX4_DOCUD] ON [DZAIS].[DOCUD]
(
	[ACCT_DATE] ASC,
	[DOCU_NO] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX5_DOCUD]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX5_DOCUD] ON [DZAIS].[DOCUD]
(
	[BAN_DECI_DATE] ASC,
	[BAN_DECI_NO] ASC,
	[BAN_LINE_NO] ASC,
	[BAN_SLIP_NO] ASC,
	[BAN_DEPT_CODE] ASC,
	[BAN_NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DOCUD] ADD  CONSTRAINT [DF_DOCUD_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[DOCUD] ADD  CONSTRAINT [DF_DOCUD_BAN_DECI_DATE]  DEFAULT ('00000000') FOR [BAN_DECI_DATE]
GO
ALTER TABLE [DZAIS].[DOCUD] ADD  CONSTRAINT [DF_DOCUD_BAN_DECI_NO]  DEFAULT ((0)) FOR [BAN_DECI_NO]
GO
ALTER TABLE [DZAIS].[DOCUD] ADD  CONSTRAINT [DF_DOCUD_BAN_LINE_NO]  DEFAULT ((0)) FOR [BAN_LINE_NO]
GO
ALTER TABLE [DZAIS].[DOCUD] ADD  CONSTRAINT [DF_DOCUD_BAN_SLIP_NO]  DEFAULT ((0)) FOR [BAN_SLIP_NO]
GO
ALTER TABLE [DZAIS].[DOCUD] ADD  CONSTRAINT [DF_DOCUD_DUE_DATE]  DEFAULT ('00000000') FOR [DUE_DATE]
GO
ALTER TABLE [DZAIS].[DOCUD] ADD  CONSTRAINT [DF_DOCUD_TA_GUBUN]  DEFAULT ('0') FOR [TA_GUBUN]
GO
ALTER TABLE [DZAIS].[DOCUD] ADD  CONSTRAINT [DF_DOCUD_BUDGET_TYPE]  DEFAULT ('3') FOR [BUDGET_TYPE]
GO
