USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SWHAGENT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SWHAGENT](
	[CO_CD] [nvarchar](7) NOT NULL,
	[DIV_CD] [nvarchar](7) NOT NULL,
	[MODULE_CD] [nvarchar](1) NOT NULL,
	[HOMTAX_ID] [nvarchar](20) NULL,
	[FILE_PW] [nvarchar](100) NULL,
	[PERSON_DEPT] [nvarchar](20) NULL,
	[PERSON_NAME] [nvarchar](20) NULL,
	[PERSON_TEL] [nvarchar](20) NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [nvarchar](15) NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [nvarchar](15) NULL,
 CONSTRAINT [PK_SWHAGENT] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[MODULE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
