USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSMASTER]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSMASTER](
	[C_CODE] [varchar](4) NOT NULL,
	[FS_CODE] [varchar](3) NOT NULL,
	[FS_NAME] [varchar](40) NOT NULL,
	[BS_HAN] [varchar](50) NOT NULL,
	[BS_ENG] [varchar](50) NOT NULL,
	[BS_ETC] [varchar](50) NOT NULL,
	[PL_HAN] [varchar](50) NOT NULL,
	[PL_ENG] [varchar](50) NOT NULL,
	[PL_ETC] [varchar](50) NOT NULL,
	[WON5_HAN] [varchar](50) NOT NULL,
	[WON5_ENG] [varchar](50) NOT NULL,
	[WON5_ETC] [varchar](50) NOT NULL,
	[WON6_HAN] [varchar](50) NOT NULL,
	[WON6_ENG] [varchar](50) NOT NULL,
	[WON6_ETC] [varchar](50) NOT NULL,
	[WON7_HAN] [varchar](50) NOT NULL,
	[WON7_ENG] [varchar](50) NOT NULL,
	[WON7_ETC] [varchar](50) NOT NULL,
	[CAP_HAN] [varchar](50) NOT NULL,
	[CAP_ENG] [varchar](50) NOT NULL,
	[CAP_ETC] [varchar](50) NOT NULL,
	[TB_HAN] [varchar](50) NOT NULL,
	[TB_ENG] [varchar](50) NOT NULL,
	[TB_ETC] [varchar](50) NOT NULL,
	[CAL_TYPE] [char](1) NOT NULL,
	[SLIP_TYPE] [char](1) NOT NULL,
	[UNIT_HAN] [varchar](30) NOT NULL,
	[UNIT_ENG] [varchar](30) NOT NULL,
	[UNIT_ETC] [varchar](30) NOT NULL,
	[AUNIT_HAN1] [varchar](30) NOT NULL,
	[AUNIT_ENG1] [varchar](30) NOT NULL,
	[AUNIT_ETC1] [varchar](30) NOT NULL,
	[AUNIT_HAN2] [varchar](30) NOT NULL,
	[AUNIT_ENG2] [varchar](30) NOT NULL,
	[AUNIT_ETC2] [varchar](30) NOT NULL,
	[AUNIT_HAN3] [varchar](30) NOT NULL,
	[AUNIT_ENG3] [varchar](30) NOT NULL,
	[AUNIT_ETC3] [varchar](30) NOT NULL,
	[PGAIN_NAME_HAN] [varchar](70) NOT NULL,
	[MGAIN_NAME_HAN] [varchar](70) NOT NULL,
	[PGAIN_NAME_ENG] [varchar](70) NOT NULL,
	[MGAIN_NAME_ENG] [varchar](70) NOT NULL,
	[PGAIN_NAME_ETC] [varchar](70) NOT NULL,
	[MGAIN_NAME_ETC] [varchar](70) NOT NULL,
	[FROM_YEAR] [char](6) NOT NULL,
	[TO_YEAR] [char](6) NOT NULL,
	[PRN_DATE] [char](1) NULL,
 CONSTRAINT [PK_FSMASTER] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[FS_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[FSMASTER] ADD  CONSTRAINT [DF__FSMASTER__CAL_TY__4218B34E]  DEFAULT ('1') FOR [CAL_TYPE]
GO
ALTER TABLE [DZAIS].[FSMASTER] ADD  CONSTRAINT [DF__FSMASTER__SLIP_T__430CD787]  DEFAULT ('1') FOR [SLIP_TYPE]
GO
ALTER TABLE [DZAIS].[FSMASTER] ADD  CONSTRAINT [DF__FSMASTER__FROM_Y__4400FBC0]  DEFAULT ('000000') FOR [FROM_YEAR]
GO
ALTER TABLE [DZAIS].[FSMASTER] ADD  CONSTRAINT [DF__FSMASTER__TO_YEA__44F51FF9]  DEFAULT ('000000') FOR [TO_YEAR]
GO
