USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVNON]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVNON](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[NON_CD] [varchar](3) NOT NULL,
	[WORK_FG] [varchar](1) NOT NULL,
	[FR_DT] [varchar](8) NULL,
	[TO_DT] [varchar](8) NULL,
	[CNT_QT] [numeric](7, 0) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[CALC_FG] [varchar](1) NOT NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[DUMMY4] [numeric](17, 4) NULL,
	[DUMMY5] [numeric](17, 4) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
 CONSTRAINT [PK_AVNON] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[NON_CD] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVNON] ADD  CONSTRAINT [DF__AVNON__FR_DT__18777F3D]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVNON] ADD  CONSTRAINT [DF__AVNON__TO_DT__196BA376]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVNON] ADD  CONSTRAINT [DF__AVNON__CNT_QT__1A5FC7AF]  DEFAULT ((0)) FOR [CNT_QT]
GO
ALTER TABLE [DZAIS].[AVNON] ADD  CONSTRAINT [DF__AVNON__SUP_AM__1B53EBE8]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[AVNON] ADD  CONSTRAINT [DF__AVNON__VAT_AM__1C481021]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[AVNON] ADD  CONSTRAINT [DF__AVNON__DUMMY4__1D3C345A]  DEFAULT ((0)) FOR [DUMMY4]
GO
ALTER TABLE [DZAIS].[AVNON] ADD  CONSTRAINT [DF__AVNON__DUMMY5__1E305893]  DEFAULT ((0)) FOR [DUMMY5]
GO
ALTER TABLE [DZAIS].[AVNON] ADD  CONSTRAINT [DF__AVNON__SINGO_FG__1F247CCC]  DEFAULT ('0') FOR [SINGO_FG]
GO
