USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SPA_AVEST_UPDATE]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE              PROCEDURE 	[DZAIS].[SPA_AVEST_UPDATE]
		--2006.05.17 부가세통합 필드 길이 조정.
		/*
		@CO_CD 	as varchar(4),		-- 회사코드
		@DIV_CD	as varchar(4),		-- 사업장코드
		*/
		@CO_CD 	as varchar(7),		-- 회사코드
		@DIV_CD	as varchar(7),		-- 사업장코드
		@RPT_TM	as varchar(6),		-- 년도,기수,예정확정(ex : 2001+1+1)
		@DOC_FG	as varchar(1),		-- 2
		@LN_SQ		as varchar(1),		-- 1
		@sDATE		as varchar(8),		-- 과세기간
		@eDATE		as varchar(8),		-- 과세기간
		@DAY		as int,			-- 365,366
		@PERCENT	as numeric(5, 1),		-- 이자율
		@SINGO_FG		as varchar(1)		-- 0.사업장별 1.사업자단위과세
--WITH ENCRYPTION
AS

BEGIN

BEGIN TRANSACTION

--SELECT DATEDIFF(Day,Convert(DATETIME,'20010701',112),Convert(DATETIME,'20010930',112))+1

UPDATE AVEST SET 
-- 보증금 이자(간주임대료)
LEN1 = 	(
	CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTS_DT,112)) >= 0 
		THEN 
			CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN
				--	CASE 	WHEN	DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTS_DT,112)) = 0 
					CASE 	WHEN	CAST(SUBSTRING(@sDATE,1,6) AS INT) = CAST(SUBSTRING(RENTS_DT,1,6) AS INT)
						--2006.05.29 과세기간 시작월이 임대기간 시작월과 동일할때 일수정산시 1더함.
						--THEN 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,RENTE_DT,112))) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
						THEN 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,RENTE_DT,112)) + 1 ) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
						-- 2006.07.22 프로그램에서 일수 계산하는 방식 어떤 경우든 +1해주도록 수정되어 수정함.
						--ELSE	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,RENTE_DT,112)) ) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
						ELSE	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,RENTE_DT,112)) + 1 ) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
					END
				ELSE 	
				--	CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTS_DT,112)) = 0 
					CASE	WHEN	CAST(SUBSTRING(@sDATE,1,6) AS INT) = CAST(SUBSTRING(RENTS_DT,1,6) AS INT)
						--2006.05.29 
						--THEN	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,@eDATE,112))) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
						THEN	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,@eDATE,112)) + 1 ) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
						-- 2006.07.22 프로그램에서 일수 계산하는 방식 어떤 경우든 +1해주도록 수정되어 수정함.
						ELSE	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,@eDATE,112)) + 1 ) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
					END
			END 
		ELSE 
			CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTE_DT,112))+1) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
				ELSE 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,@eDATE,112))+1) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
			END
	END
/* 
	CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTS_DT,112)) >= 0 
		THEN 
			CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN
					CASE 	WHEN	DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTS_DT,112)) = 0 
						THEN 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,RENTE_DT,112))) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
						ELSE	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,RENTE_DT,112)) + 1) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
					END
				ELSE 	
					CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTS_DT,112)) = 0 
						THEN	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,@eDATE,112))) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
						ELSE	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,@eDATE,112))+1) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
					END
			END 
		ELSE 
			CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTE_DT,112))+1) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
				ELSE 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,@eDATE,112))+1) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
			END
	END
*/
/*
	CASE 	WHEN DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTS_DT,112)) >= 0 
		THEN 
			CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,RENTE_DT,112))) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
				ELSE 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,RENTS_DT,112),Convert(DATETIME,@eDATE,112))) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
			END 
		ELSE 
			CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTE_DT,112))) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
				ELSE 	FLOOR(CON1 * (DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,@eDATE,112))) / @DAY * CAST(@PERCENT AS FLOAT)/100) 
			END
	END
*/
	),
-- 월세
LEN2 = 	( 
	CASE 	WHEN DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTS_DT,112)) >= 0 
		THEN 
			CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN 
					CASE    	WHEN 	CAST(SUBSTRING(RENTS_DT,7,2) AS INT) = 1 
						THEN 
							CASE 	WHEN 	CAST(SUBSTRING(RENTE_DT,7,2) AS INT)+1 > CAST(SUBSTRING(RENTS_DT,7,2) AS INT) 
								THEN 	CON2 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 1) 
								ELSE 	CON2 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 0) 
							END 
						ELSE 
							CASE 	WHEN 	CAST(SUBSTRING(RENTE_DT,7,2) AS INT)+1 < CAST(SUBSTRING(RENTS_DT,7,2) AS INT) 
								THEN 	CON2 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) - 1) 
								ELSE 	CON2 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 0) 
							END 
					END 
				ELSE 
					CASE    WHEN CAST(SUBSTRING(RENTS_DT,7,2) AS INT) = 1 
						THEN 
							CASE 	WHEN 	CAST(SUBSTRING(@eDATE,7,2) AS INT) + 1 > CAST(SUBSTRING(RENTS_DT,7,2) AS INT) 
								THEN 	CON2 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 1) 
								ELSE 	CON2 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 0) 
							END 
						ELSE 
							CASE 	WHEN 	CAST(SUBSTRING(@eDATE,7,2) AS INT) + 1 < CAST(SUBSTRING(RENTS_DT,7,2) AS INT) 
								THEN 	CON2 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) - 1) 
								ELSE 	CON2 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 0) 
							END 
					END 
			END 
		ELSE 
			CASE 	WHEN DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN 
					CASE    WHEN CAST(SUBSTRING(RENTS_DT,7,2) AS INT) = 1 
						THEN 
							CASE 	WHEN 	CAST(SUBSTRING(RENTE_DT,7,2) AS INT)+1 > CAST(SUBSTRING(@sDATE,7,2) AS INT) 
								THEN 	CON2 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 1) 
								ELSE 	CON2 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 0) 
							END 
						ELSE 
							CASE 	WHEN 	CAST(SUBSTRING(RENTE_DT,7,2) AS INT)+1 > CAST(SUBSTRING(@sDATE,7,2) AS INT) 
								THEN 	CON2 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 1) 
								ELSE 	CON2 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 0) 
							END 
					END 
				ELSE 
					CASE    WHEN CAST(SUBSTRING(RENTS_DT,7,2) AS INT) = 1 
						THEN 
							CASE 	WHEN 	CAST(SUBSTRING(@eDATE,7,2) AS INT)+1 > CAST(SUBSTRING(@sDATE,7,2) AS INT) 
								THEN 	CON2 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 1) 
								ELSE 	CON2 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 0) 
							END 
						ELSE 
							CASE 	WHEN 	CAST(SUBSTRING(@eDATE,7,2) AS INT)+1 > CAST(SUBSTRING(@sDATE,7,2) AS INT) 
								THEN 	CON2 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 1) 
								ELSE 	CON2 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 0) 
							END 
					END 
			END 
	END 
	),
--관리비
LEN3 = 	( 
	CASE 	WHEN DATEDIFF(Day,Convert(DATETIME,@sDATE,112),Convert(DATETIME,RENTS_DT,112)) >= 0 
		THEN 
			CASE 	WHEN 	DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN 
					CASE    	WHEN 	CAST(SUBSTRING(RENTS_DT,7,2) AS INT) = 1 
						THEN 
							CASE 	WHEN 	CAST(SUBSTRING(RENTE_DT,7,2) AS INT)+1 > CAST(SUBSTRING(RENTS_DT,7,2) AS INT) 
								THEN 	CON3 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 1) 
								ELSE 	CON3 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 0) 
							END 
						ELSE 
							CASE 	WHEN 	CAST(SUBSTRING(RENTE_DT,7,2) AS INT)+1 < CAST(SUBSTRING(RENTS_DT,7,2) AS INT) 
								THEN 	CON3 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) - 1) 
								ELSE 	CON3 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 0) 
							END 
					END 
				ELSE 
					CASE    WHEN CAST(SUBSTRING(RENTS_DT,7,2) AS INT) = 1 
						THEN 
							CASE 	WHEN 	CAST(SUBSTRING(@eDATE,7,2) AS INT) + 1 > CAST(SUBSTRING(RENTS_DT,7,2) AS INT) 
								THEN 	CON3 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 1) 
								ELSE 	CON3 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 0) 
							END 
						ELSE 
							CASE 	WHEN 	CAST(SUBSTRING(@eDATE,7,2) AS INT) + 1 < CAST(SUBSTRING(RENTS_DT,7,2) AS INT) 
								THEN 	CON3 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) - 1) 
								ELSE 	CON3 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(RENTS_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTS_DT,5,2) AS INT))) + 0) 
							END 
					END 
			END 
		ELSE 
			CASE 	WHEN DATEDIFF(Day,Convert(DATETIME,@eDATE,112),Convert(DATETIME,RENTE_DT,112)) <= 0 
				THEN 
					CASE    WHEN CAST(SUBSTRING(RENTS_DT,7,2) AS INT) = 1 
						THEN 
							CASE 	WHEN 	CAST(SUBSTRING(RENTE_DT,7,2) AS INT)+1 > CAST(SUBSTRING(@sDATE,7,2) AS INT) 
								THEN 	CON3 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 1) 
								ELSE 	CON3 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 0) 
							END 
						ELSE 
							CASE 	WHEN 	CAST(SUBSTRING(RENTE_DT,7,2) AS INT)+1 > CAST(SUBSTRING(@sDATE,7,2) AS INT) 
								THEN 	CON3 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 1) 
								ELSE 	CON3 * (((CAST(SUBSTRING(RENTE_DT,1,4) AS INT)*12 + CAST(SUBSTRING(RENTE_DT,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 0) 
							END 
					END 
				ELSE 
					CASE    WHEN CAST(SUBSTRING(RENTS_DT,7,2) AS INT) = 1 
						THEN 
							CASE 	WHEN 	CAST(SUBSTRING(@eDATE,7,2) AS INT)+1 > CAST(SUBSTRING(@sDATE,7,2) AS INT) 
								THEN 	CON3 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 1) 
								ELSE 	CON3 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 0) 
							END 
						ELSE 
							CASE 	WHEN 	CAST(SUBSTRING(@eDATE,7,2) AS INT)+1 > CAST(SUBSTRING(@sDATE,7,2) AS INT) 
								THEN 	CON3 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 1) 
								ELSE 	CON3 * (((CAST(SUBSTRING(@eDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@eDATE,5,2) AS INT)) - (CAST(SUBSTRING(@sDATE,1,4) AS INT)*12 + CAST(SUBSTRING(@sDATE,5,2) AS INT))) + 0) 
							END 
					END 
			END 
	END 
	)
WHERE 	CO_CD 	=   @CO_CD 	AND
	DIV_CD 	=   @DIV_CD 	AND
	RPT_TM	=   @RPT_TM	AND
	SINGO_FG	=   @SINGO_FG	AND
        FR_DT   =   @sDATE      AND 
        TO_DT   =   @eDATE      AND 
	DOC_FG =   @DOC_FG	AND
	LN_SQ	>= @LN_SQ	AND
	(RENTS_DT <> '00000000' or RENTE_DT <> '00000000') 
IF( @@ERROR <> 0 )
BEGIN
	RAISERROR('보증금이자(간주임대료), 월세, 관리비를 UPDATE할 수 없습니다.',16,1)
   	ROLLBACK TRANSACTION 
    	SET ANSI_WARNINGS ON
    	RETURN 1 
END

UPDATE AVEST SET 
LEN4 = 	( 
	LEN1 + LEN2 + LEN3 
	)

WHERE 	CO_CD 	=   @CO_CD 	AND
	DIV_CD 	=   @DIV_CD 	AND
	RPT_TM	=   @RPT_TM	AND
	SINGO_FG	=   @SINGO_FG	AND
        FR_DT   =   @sDATE      AND 
        TO_DT   =   @eDATE      AND 
	DOC_FG =   @DOC_FG	AND
	LN_SQ	>= @LN_SQ

IF( @@ERROR <> 0 )
BEGIN
	RAISERROR('계(과세표준)를 UPDATE할 수 없습니다.',16,1)
   	ROLLBACK TRANSACTION 
    	RETURN 1 
END

COMMIT TRANSACTION

RETURN 0

END

GO
