USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSTOCK]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSTOCK](
	[C_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[STOCK] [numeric](15, 0) NOT NULL,
	[HSTOCK] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_FSTOCK] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GISU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[FSTOCK] ADD  CONSTRAINT [DF__FSTOCK__STOCK__49B9D516]  DEFAULT ((0)) FOR [STOCK]
GO
ALTER TABLE [DZAIS].[FSTOCK] ADD  CONSTRAINT [DF__FSTOCK__HSTOCK__4AADF94F]  DEFAULT ((0)) FOR [HSTOCK]
GO
