USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ZEROTAX2]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ZEROTAX2](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TRADE_MONTH] [char](16) NOT NULL,
	[SERIAL_NO] [numeric](4, 0) NOT NULL,
	[DOCU_NAME] [varchar](24) NULL,
	[ISSUE_NAME] [varchar](14) NULL,
	[ISSUE_DATE] [char](8) NOT NULL,
	[SHIP_DATE] [char](8) NOT NULL,
	[EXCH_CODE] [varchar](3) NOT NULL,
	[EXCH_RATE] [numeric](10, 4) NOT NULL,
	[ISSUE_EXAMT] [numeric](17, 4) NOT NULL,
	[ISSUE_AMT] [numeric](15, 0) NOT NULL,
	[REPORT_EXAMT] [numeric](17, 4) NOT NULL,
	[REPORT_AMT] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[FG_REASION] [char](2) NULL,
 CONSTRAINT [PK_ZEROTAX2] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[TRADE_MONTH] ASC,
	[SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ZEROTAX2] ADD  CONSTRAINT [DF_ZEROTAX2_ISSUE_DATE]  DEFAULT ('00000000') FOR [ISSUE_DATE]
GO
ALTER TABLE [DZAIS].[ZEROTAX2] ADD  CONSTRAINT [DF_ZEROTAX2_SHIP_DATE]  DEFAULT ('00000000') FOR [SHIP_DATE]
GO
ALTER TABLE [DZAIS].[ZEROTAX2] ADD  CONSTRAINT [DF_ZEROTAX2_EXCH_CODE]  DEFAULT ((0)) FOR [EXCH_CODE]
GO
ALTER TABLE [DZAIS].[ZEROTAX2] ADD  CONSTRAINT [DF_ZEROTAX2_EXCH_RATE]  DEFAULT ((0)) FOR [EXCH_RATE]
GO
ALTER TABLE [DZAIS].[ZEROTAX2] ADD  CONSTRAINT [DF_ZEROTAX2_ISSUE_EXAMT]  DEFAULT ((0)) FOR [ISSUE_EXAMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX2] ADD  CONSTRAINT [DF_ZEROTAX2_ISSUE_AMT]  DEFAULT ((0)) FOR [ISSUE_AMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX2] ADD  CONSTRAINT [DF_ZEROTAX2_REPORT_EXAMT]  DEFAULT ((0)) FOR [REPORT_EXAMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX2] ADD  CONSTRAINT [DF_ZEROTAX2_REPORT_AMT]  DEFAULT ((0)) FOR [REPORT_AMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX2] ADD  CONSTRAINT [DF__ZEROTAX2__TAX_GU__5011CCEA]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
