USE [DZAIS]
GO
/****** Object:  View [DZAIS].[V_FUNDCODE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [DZAIS].[V_FUNDCODE]
(
      C_CODE,FUND_CODE,  FUND_NAME,  SUM_CODE, SUM_NAME, GUBUN
)AS
  SELECT A.C_CODE,
	 A.FUND_CODE,   
         A.FUND_NAME,   
         B.SUM_CODE,   
         B.SUM_NAME,   
         B.GUBUN  
    FROM FUNDCODE A,   
         FUNDSGUBUN  B
   WHERE ( A.C_CODE = B.C_CODE ) 
     AND ( A.INSERT_ID = B.SUM_CODE )   


GO
