USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_OUTSUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_OUTSUM](
	[SETTLE_TMON] [char](16) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SERIAL_SUM1] [numeric](7, 0) NOT NULL,
	[SERIAL_SUM2] [numeric](7, 0) NOT NULL,
	[EXCH_AMT1] [numeric](15, 2) NOT NULL,
	[AMT1] [numeric](15, 0) NOT NULL,
	[EXCH_AMT2] [numeric](15, 2) NOT NULL,
	[AMT2] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_TAX_OUTSUM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[SETTLE_TMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_OUTSUM] ADD  CONSTRAINT [DF__TAX_OUTSU__SERIA__74794A92]  DEFAULT ((0)) FOR [SERIAL_SUM1]
GO
ALTER TABLE [DZAIS].[TAX_OUTSUM] ADD  CONSTRAINT [DF__TAX_OUTSU__SERIA__756D6ECB]  DEFAULT ((0)) FOR [SERIAL_SUM2]
GO
ALTER TABLE [DZAIS].[TAX_OUTSUM] ADD  CONSTRAINT [DF__TAX_OUTSU__EXCH___76619304]  DEFAULT ((0)) FOR [EXCH_AMT1]
GO
ALTER TABLE [DZAIS].[TAX_OUTSUM] ADD  CONSTRAINT [DF__TAX_OUTSUM__AMT1__7755B73D]  DEFAULT ((0)) FOR [AMT1]
GO
ALTER TABLE [DZAIS].[TAX_OUTSUM] ADD  CONSTRAINT [DF__TAX_OUTSU__EXCH___7849DB76]  DEFAULT ((0)) FOR [EXCH_AMT2]
GO
ALTER TABLE [DZAIS].[TAX_OUTSUM] ADD  CONSTRAINT [DF__TAX_OUTSUM__AMT2__793DFFAF]  DEFAULT ((0)) FOR [AMT2]
GO
ALTER TABLE [DZAIS].[TAX_OUTSUM] ADD  CONSTRAINT [DF__TAX_OUTSU__TAX_G__4C413C06]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
