USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVSTRREV]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVSTRREV](
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[DATA_FG] [varchar](1) NOT NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[ISS_SQ] [numeric](5, 0) NOT NULL,
	[RP_DT] [varchar](8) NOT NULL,
	[LAW_DT] [varchar](8) NOT NULL,
	[TAXSTR_ORI] [numeric](17, 4) NULL,
	[TAXSTR_FIX] [numeric](17, 4) NULL,
	[OUTPUT_ORI] [numeric](17, 4) NULL,
	[OUTPUT_FIX] [numeric](17, 4) NULL,
	[ADD_ORI] [numeric](17, 4) NULL,
	[ADD_FIX] [numeric](17, 4) NULL,
	[GONG_ORI] [numeric](17, 4) NULL,
	[GONG_FIX] [numeric](17, 4) NULL,
	[NAP_ORI] [numeric](17, 4) NULL,
	[NAP_FIX] [numeric](17, 4) NULL,
	[PRENAP_ORI] [numeric](17, 4) NULL,
	[PRENAP_FIX] [numeric](17, 4) NULL,
	[SELFNAP_ORI] [numeric](17, 4) NULL,
	[SELFNAP_FIX] [numeric](17, 4) NULL,
	[ADDSELF_ORI] [numeric](17, 4) NULL,
	[ADDSELF_FIX] [numeric](17, 4) NULL,
	[REVISION_DC] [varchar](140) NULL,
	[PRE_DT] [varchar](8) NOT NULL,
	[REFUND_ORI] [numeric](17, 4) NULL,
	[REFUND_FIX] [numeric](17, 4) NULL,
	[REFUND_BANK] [varchar](6) NULL,
	[BRANCH_NM] [varchar](40) NULL,
	[REFUND_ACCT] [varchar](40) NULL,
 CONSTRAINT [PK_AVSTRREV] PRIMARY KEY CLUSTERED 
(
	[ISS_SQ] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[DATA_FG] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
