USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPI_DOCUD_DRCR_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE  PROCEDURE [DZAIS].[UPI_DOCUD_DRCR_A]
(@N_C_CODE VARCHAR(4),     @N_ACCT_CODE CHAR(5),
 @N_BAN_NODE_CODE VARCHAR(4), @N_BAN_SLIP_NO NUMERIC(4),
 @N_BAN_DEPT_CODE VARCHAR(12), @N_BAN_LINE_NO NUMERIC(4),
 @N_BAN_DECI_NO NUMERIC(4),  @N_BAN_DECI_DATE CHAR(8),
 @N_DECI_DATE CHAR(8), @N_AMT_GUBUN CHAR(1),
 @N_DR_AMT NUMERIC(15), @N_CR_AMT NUMERIC(15),
 @N_DUE_DATE CHAR(8), @N_VEN_CODE VARCHAR(6) )
AS
/*************************************************************************
            설    명 : 전표 입력시 차대 구분처리 루틴
            개 발 자 : 이 주 환
            개발일자 : 1999/07/13
**************************************************************************/

BEGIN
  DECLARE
	@ERR_NO  INT,
   	@cnt     INT,
	@err_msg VARCHAR(100),
	@s_vencode VARCHAR(6),
	@s_duedate	CHAR(8),
	@s_gubuncode VARCHAR(2)

	SELECT @ERR_NO = 20021
	IF ( @N_AMT_GUBUN <> '1' AND @N_AMT_GUBUN <> '2'
	     AND @N_AMT_GUBUN <> '3' AND @N_AMT_GUBUN <> '4' )
	BEGIN
	      RAISERROR (@ERR_NO, 16, -1, '전표구분이 맞는지 다시 확인하십시요!')
	      GOTO ON_ERROR
	END

	--  차대변중에 하나는 반드시 0인가 체크.
	SELECT @ERR_NO = 20022
	IF (@N_DR_AMT <> 0 AND @N_CR_AMT <> 0)
	BEGIN
	   RAISERROR (@ERR_NO, 16, -1, 'trigger error! 차/대변값을 동시에 받을수 없으니 확인하십시요!')
	   GOTO ON_ERROR
	END

	SELECT @ERR_NO = 20023
	IF ( @N_BAN_DECI_DATE <> '00000000' OR @N_BAN_DECI_NO > 0 )
	BEGIN
   	SELECT @s_vencode = VEN_CODE, @s_duedate = DUE_DATE
		  FROM DOCUBAN
		 WHERE DECI_NO = @N_BAN_DECI_NO
			AND DECI_DATE = @N_BAN_DECI_DATE
			AND LINE_NO = @N_BAN_LINE_NO
			AND SLIP_NO = @N_BAN_SLIP_NO
			AND DEPT_CODE = @N_BAN_DEPT_CODE
			AND NODE_CODE = @N_BAN_NODE_CODE
			AND C_CODE = @N_C_CODE

		 SELECT @ERR_NO = 20024

--		IF ( @s_vencode <> @N_VEN_CODE )
		IF RTRIM(ISNULL(@s_vencode,'')) <> RTRIM(ISNULL(@N_VEN_CODE,''))
		 BEGIN
		   RAISERROR (@ERR_NO, 16, -1, '원인전표의 거래처값과 다릅니다!')
		 END
	END

RETURN 0
ON_ERROR:
    RAISERROR (@ERR_NO, 16, -1, 'UPI_DOCUD_BAN_A 프로시져처리중 에러 발생')
    ROLLBACK  TRANSACTION
END

GO
