USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ACCOUNT_DEFAULT]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ACCOUNT_DEFAULT](
	[C_CODE] [varchar](4) NOT NULL,
	[GUBUN_CODE] [varchar](20) NOT NULL,
	[DEFAULT_CODE] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ACCOUNT_DEFAULT] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GUBUN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ACCOUNT_DEFAULT] ADD  CONSTRAINT [DF__ACCOUNT_D__DEFAU__3EE740E8]  DEFAULT ('0') FOR [DEFAULT_CODE]
GO
