USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[UJEXIST]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[UJEXIST](
	[UJ_CODE] [char](3) NOT NULL,
	[UJ_NAME] [varchar](30) NULL,
	[LIFE_EXIST] [numeric](4, 0) NULL,
	[RMK1] [varchar](30) NULL,
	[RMK2] [varchar](50) NULL,
 CONSTRAINT [PK_UJEXIST] PRIMARY KEY CLUSTERED 
(
	[UJ_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
