USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UP_SUMAM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [DZAIS].[UP_SUMAM] (  @s_c_code VARCHAR(4), @from_Date CHAR(8),
	    @to_Date CHAR(8) )
AS
	-- 월집계 (SUMAM) 루틴 (현금 반영)
	-- ta_gubun으로 타계정 집계
	-- 작성일 : 1999/02/12
	-- 수정일 : 1999/10/31
	-- 작성자 : 이주환
DECLARE
	@V_C_CODE VARCHAR(4),
	@V_NODE_CODE CHAR(4),
	@V_DEPT_CODE VARCHAR(12),
	@V_ACCT_DATE CHAR(6),
	@V_ACCT_CODE CHAR(5),
 	@V_DR_AMT NUMERIC(15),
 	@V_CR_AMT NUMERIC(15),
 	@V_IN_AMT NUMERIC(15),
 	@V_OUT_AMT NUMERIC(15),
	@V_DOCU_NO NUMERIC(4),
 	@V_DR_AMT_SUM NUMERIC(15),
 	@V_CR_AMT_SUM NUMERIC(15),
 	@V_IN_AMT_SUM NUMERIC(15),
 	@V_OUT_AMT_SUM NUMERIC(15),
 	@FLAG NUMERIC(1),
	@V_AMT_GUBUN CHAR(1),
	@V_TA_GUBUN CHAR(1),
	@V_NOTE_CODE CHAR(1),
	@ERRNO INT,
	@ERRMSG VARCHAR(100)

DECLARE C CURSOR FOR
		SELECT C_CODE ,NODE_CODE, ACCT_CODE, AMT_GUBUN, TA_GUBUN,
		substring(ACCT_DATE, 1, 6), DR_AMT, CR_AMT
		FROM DOCUD
		WHERE DOCU_NO > 0 AND C_CODE = @s_c_code
		AND ( ACCT_DATE BETWEEN @from_Date AND @to_Date )
BEGIN
	BEGIN TRANSACTION
	DELETE FROM SUMAM WHERE C_CODE = @s_c_code AND ACCT_MON BETWEEN substring(@from_Date, 1, 6) AND substring(@to_Date, 1, 6)
	OPEN C

	FETCH C INTO @V_C_CODE, @V_NODE_CODE, @V_ACCT_CODE, @V_AMT_GUBUN, @V_TA_GUBUN,
				@V_ACCT_DATE, @V_DR_AMT, @V_CR_AMT
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		-- 타계정 으로/에서  대체
		IF (  @V_TA_GUBUN = '2' )
		BEGIN
			SELECT @V_IN_AMT = @V_DR_AMT
			SELECT @V_OUT_AMT = 0
		END
		ELSE IF ( @V_TA_GUBUN = '1'  )
		BEGIN
			SELECT @V_OUT_AMT = @V_CR_AMT
			SELECT @V_IN_AMT = 0
		END
		ELSE
		BEGIN
			SELECT @V_IN_AMT  = 0
			SELECT @V_OUT_AMT = 0
		END
	
		-- 현금 집계
		IF @V_AMT_GUBUN = '1' OR @V_AMT_GUBUN = '2'
		BEGIN
			SELECT @FLAG = 0
			
			SELECT @FLAG = 2
			FROM SUMAM
			WHERE ACCT_MON = @V_ACCT_DATE
			AND ACCT_CODE = '10100'
			AND NODE_CODE = @V_NODE_CODE
			AND C_CODE    = @V_C_CODE
		
			-- 자료가 있을때
			IF @FLAG = 2
			BEGIN
				UPDATE SUMAM
				SET CR_AMT = CR_AMT + (CASE @V_AMT_GUBUN
						 WHEN '2' THEN  @V_DR_AMT
						 ELSE 0 END )  ,
				DR_AMT = DR_AMT +  (CASE @V_AMT_GUBUN    WHEN '1' THEN  @V_CR_AMT
						 ELSE 0 END )
				WHERE ACCT_MON = @V_ACCT_DATE
				AND ACCT_CODE = '10100'
				AND NODE_CODE = @V_NODE_CODE
				AND C_CODE    = @V_C_CODE
			END
			ELSE
			BEGIN
				INSERT INTO SUMAM
				( C_CODE, NODE_CODE,
				ACCT_MON, ACCT_CODE, DR_AMT, CR_AMT )
				VALUES
				(@V_C_CODE, @V_NODE_CODE,
				@V_ACCT_DATE, '10100',(CASE @V_AMT_GUBUN    WHEN '1' THEN  @V_CR_AMT
				ELSE 0 END ),
				(CASE @V_AMT_GUBUN
				WHEN '2' THEN  @V_DR_AMT
				ELSE 0 END ) )
			END
		END
		
		SELECT @FLAG = 1
		
		SELECT @FLAG = 4
		FROM SUMAM
		WHERE ACCT_MON = @V_ACCT_DATE
		AND ACCT_CODE = @V_ACCT_CODE
		AND NODE_CODE = @V_NODE_CODE
		AND C_CODE    = @V_C_CODE
		
		-- 자료가 있을때
		IF @FLAG = 4
		BEGIN
			UPDATE SUMAM
			SET DR_AMT      = DR_AMT + @V_DR_AMT  , CR_AMT = CR_AMT + @V_CR_AMT,
				OUT_AMT    = OUT_AMT + @V_OUT_AMT,  IN_AMT = IN_AMT + @V_IN_AMT
			WHERE ACCT_MON = @V_ACCT_DATE
			AND ACCT_CODE = @V_ACCT_CODE
			AND NODE_CODE = @V_NODE_CODE
			AND C_CODE    = @V_C_CODE
		END
		ELSE
		BEGIN
			INSERT INTO SUMAM
			( C_CODE, NODE_CODE,
			ACCT_MON, ACCT_CODE, DR_AMT,
			CR_AMT, OUT_AMT, IN_AMT )
			VALUES
			(@V_C_CODE, @V_NODE_CODE,
			@V_ACCT_DATE, @V_ACCT_CODE, @V_DR_AMT,
			@V_CR_AMT, @V_OUT_AMT, @V_IN_AMT )
		END
	
		FETCH C INTO @V_C_CODE, @V_NODE_CODE, @V_ACCT_CODE, @V_AMT_GUBUN, @V_TA_GUBUN,
				@V_ACCT_DATE, @V_DR_AMT, @V_CR_AMT
	 END
	 
	 COMMIT TRANSACTION	
	 CLOSE C
	 DEALLOCATE C
	 RETURN
ERROR:
    ROLLBACK  TRANSACTION
    RAISERROR (' error no :%d, %s',16,1,@ERRNO, @ERRMSG)
END

GO
