USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_DOCUHREV0407]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [DZAIS].[P_DOCUHREV0407]  
	(	@IN_C_CODE		VARCHAR(4),  
		@IN_NODE_CODE		VARCHAR(4),  
		@IN_DEPT_CODE		VARCHAR(12),  
		@IN_DECI_DATE		CHAR(8),  
		@IN_DECI_NO		NUMERIC(4, 0),  
		@IN_NEW_DECI_DATE	CHAR(8)  
	)   
AS  
DECLARE  
	@DECI_NO		NUMERIC(4, 0),  
	@ERROR		INT,  
	@ROWCOUNT		INT,  
	@ERROR_TEXT		NVARCHAR(255)  
BEGIN  
BEGIN TRAN  
	SELECT	@DECI_NO = (ISNULL(MAX(DECI_NO), 0) + 1)  
	FROM	DOCUH  
	WHERE	C_CODE = @IN_C_CODE  
	AND	NODE_CODE = @IN_NODE_CODE  
	AND	DEPT_CODE = @IN_DEPT_CODE  
	AND	DECI_DATE = @IN_NEW_DECI_DATE  

	INSERT INTO	DOCUH(	C_CODE, NODE_CODE, DEPT_CODE, DECI_DATE, DECI_NO, BUDGET_TYPE, BUDGET_DEPT_CODE, BUDGET_PROJ_CODE, SA_CODE, WRITE_DATE, PUM_RMLK, DOCU_TYPE, DOCU_GUBUN,   
				INSERT_ID, INSERT_DATE, MODIFY_ID, MODIFY_DATE, DOCU_STAT)  
	SELECT	H.C_CODE, H.NODE_CODE, H.DEPT_CODE, @IN_NEW_DECI_DATE, @DECI_NO, H.BUDGET_TYPE, H.BUDGET_DEPT_CODE, H.BUDGET_PROJ_CODE, H.SA_CODE, H.WRITE_DATE, H.PUM_RMLK, '99', H.DOCU_GUBUN,  
		H.INSERT_ID, H.INSERT_DATE, H.MODIFY_ID, H.MODIFY_DATE, '1'  
	FROM	DOCUH H  
	WHERE	H.C_CODE = @IN_C_CODE  
	AND	H.NODE_CODE = @IN_NODE_CODE  
	AND	H.DEPT_CODE = @IN_DEPT_CODE  
	AND	H.DECI_DATE = @IN_DECI_DATE  
	AND	H.DECI_NO = @IN_DECI_NO  

	SELECT	@ERROR = @@ERROR,  
		@ROWCOUNT = @@ROWCOUNT  

	IF	@ERROR <> 0  
	BEGIN  
		ROLLBACK TRAN  
		SELECT	@ERROR_TEXT = ISNULL(description, '')  
		FROM master.dbo.sysmessages  
		WHERE	ERROR = @ERROR  
		  
		RAISERROR (50001, 10, 1, @ERROR_TEXT)  
		RETURN  
	END  
	IF	@ROWCOUNT = 0  
	BEGIN  
		ROLLBACK TRAN  
		RAISERROR (50002, 10, 1, 'INSERT DOCUH ROWCOUNT ERROR'  )
		RETURN  
	END  

	INSERT INTO	DOCUD	(	DOCU_NO,  
					DECI_DATE,  
					DECI_NO,  
					LINE_NO,  
					SLIP_NO,  
					DEPT_CODE,  
					NODE_CODE,  
					C_CODE,  
					ACCT_CODE,  
					NOTE_CODE,  
					NOTE_NAME,  
					DR_AMT,  
					CR_AMT,  
					AMT_GUBUN,  
					BAN_NODE_CODE,  
					BAN_DEPT_CODE,  
					BAN_DECI_DATE,  
					BAN_DECI_NO,  
					BAN_LINE_NO,  
					BAN_SLIP_NO,  
					VEN_CODE,  
					DEPOSIT_NO,  
					CONT_GUBUN,  
					BUDGET_DEPT_CODE,  
					PROJ_CODE,  
					FUND_CODE,  
					DUE_DATE,  
					TA_GUBUN,  
					BUDGET_TYPE  
				)  
	SELECT	0,  
		@IN_NEW_DECI_DATE,  
		@DECI_NO,  
		D.LINE_NO,  
		D.SLIP_NO,  
		D.DEPT_CODE,  
		D.NODE_CODE,  
		D.C_CODE,  
		D.ACCT_CODE,  
		D.NOTE_CODE,  
		D.NOTE_NAME,  
		(CASE WHEN D.ACCT_CODE >= '40100' THEN D.DR_AMT * -1 ELSE D.CR_AMT END),  
		(CASE WHEN D.ACCT_CODE >= '40100' THEN D.CR_AMT * -1 ELSE D.DR_AMT END),  
		(CASE WHEN D.ACCT_CODE >= '40100' THEN D.AMT_GUBUN ELSE (CASE D.AMT_GUBUN WHEN '3' THEN '4' WHEN '4' THEN '3' END) END),  
		(CASE WHEN B.C_CODE IS NULL THEN NULL ELSE D.NODE_CODE END),  
		(CASE WHEN B.C_CODE IS NULL THEN NULL ELSE D.DEPT_CODE END),  
		(CASE WHEN B.C_CODE IS NULL THEN '00000000' ELSE D.DECI_DATE END),  
		(CASE WHEN B.C_CODE IS NULL THEN 0 ELSE D.DECI_NO END),  
		(CASE WHEN B.C_CODE IS NULL THEN 0 ELSE D.LINE_NO END),  
		(CASE WHEN B.C_CODE IS NULL THEN 0 ELSE D.SLIP_NO END),  
		D.VEN_CODE,  
		D.DEPOSIT_NO,  
		D.CONT_GUBUN,  
		D.BUDGET_DEPT_CODE,  
		D.PROJ_CODE,  
		D.FUND_CODE,  
		D.DUE_DATE,  
		D.TA_GUBUN,  
		D.BUDGET_TYPE  
	FROM 	DOCUD D
	    LEFT OUTER JOIN   
		DOCUBAN B  ON (
		D.C_CODE = B.C_CODE  
	AND	D.NODE_CODE = B.NODE_CODE  
	AND	D.DEPT_CODE = B.DEPT_CODE  
	AND	D.DECI_DATE = B.DECI_DATE  
	AND	D.DECI_NO = B.DECI_NO  
	AND	D.LINE_NO = B.LINE_NO  
	AND	D.SLIP_NO = B.SLIP_NO  )
	WHERE	D.C_CODE = @IN_C_CODE  
	AND	D.NODE_CODE = @IN_NODE_CODE  
	AND	D.DEPT_CODE = @IN_DEPT_CODE  
	AND	D.DECI_DATE = @IN_DECI_DATE  
	AND	D.DECI_NO = @IN_DECI_NO  

	SELECT	@ERROR = @@ERROR,  
		@ROWCOUNT = @@ROWCOUNT  

	IF	@ERROR <> 0  
	BEGIN  
		ROLLBACK TRAN  
		SELECT	@ERROR_TEXT = ISNULL(description, '')  
		FROM master.dbo.sysmessages  
		WHERE	ERROR = @ERROR  
		  
		RAISERROR (50003, 10, 1, @ERROR_TEXT)  
		RETURN  
	END  
	IF	@ROWCOUNT = 0  
	BEGIN  
		ROLLBACK TRAN  
		RAISERROR (50004, 10, 1, 'INSERT DOCUD ROWCOUNT ERROR'  )
		RETURN  
	END  

	INSERT INTO	DOCUDD	(	DECI_DATE,  
					DECI_NO,  
					LINE_NO,  
					SLIP_NO,  
					CHECK_NO,  
					DEPT_CODE,  
					NODE_CODE,  
					C_CODE,  
					CHECK_CODE,  
					CHECKD_CODE,  
					CHK_T_NAME,  
					ACCT_CODE,  
					DR_AMT,  
					CR_AMT,  
					AMT_GUBUN  
				)  
	SELECT	@IN_NEW_DECI_DATE,  
		@DECI_NO,  
		LINE_NO,  
		SLIP_NO,  
		CHECK_NO,  
		DEPT_CODE,  
		NODE_CODE,  
		C_CODE,  
		CHECK_CODE,  
		CHECKD_CODE,  
		CHK_T_NAME,  
		ACCT_CODE,  
		(CASE WHEN ACCT_CODE >= '40100' THEN DR_AMT * -1 ELSE CR_AMT END),  
		(CASE WHEN ACCT_CODE >= '40100' THEN CR_AMT * -1 ELSE DR_AMT END),  
		(CASE WHEN ACCT_CODE >= '40100' THEN AMT_GUBUN ELSE (CASE AMT_GUBUN WHEN '3' THEN '4' WHEN '4' THEN '3' END) END)  
	FROM 	DOCUDD  
	WHERE	C_CODE = @IN_C_CODE  
	AND	NODE_CODE = @IN_NODE_CODE  
	AND	DEPT_CODE = @IN_DEPT_CODE  
	AND	DECI_DATE = @IN_DECI_DATE  
	AND	DECI_NO = @IN_DECI_NO  

	SELECT	@ERROR = @@ERROR,  
		@ROWCOUNT = @@ROWCOUNT  

	IF	@ERROR <> 0  
	BEGIN  
		ROLLBACK TRAN  
		SELECT	@ERROR_TEXT = ISNULL(description, '')  
		FROM master.dbo.sysmessages  
		WHERE	ERROR = @ERROR  
		  
		RAISERROR (50005, 10, 1, @ERROR_TEXT)  
		RETURN  
	END  
	IF	@ROWCOUNT = 0  
	BEGIN  
		ROLLBACK TRAN  
		RAISERROR (50006, 10, 1, 'INSERT DOCUDD ROWCOUNT ERROR'  )
		RETURN  
	END  

	INSERT INTO DOCUEXCH(DECI_DATE, DECI_NO, LINE_NO, SLIP_NO, DEPT_CODE, NODE_CODE, C_CODE, ACCT_CODE, EXCH_CODE, EXCH_RATE, EXCH_AMT, OLD_EXCH_AMT, AMT)
	SELECT	@IN_NEW_DECI_DATE,
		@DECI_NO,
		LINE_NO,
		SLIP_NO,
		@IN_DEPT_CODE,
		@IN_NODE_CODE,
		C_CODE,
		ACCT_CODE, 
		EXCH_CODE, 
		EXCH_RATE, 
		EXCH_AMT, 
		OLD_EXCH_AMT, 
		AMT
	FROM	DOCUEXCH
	WHERE	C_CODE = @IN_C_CODE  
	AND	NODE_CODE = @IN_NODE_CODE  
	AND	DEPT_CODE = @IN_DEPT_CODE  
	AND	DECI_DATE = @IN_DECI_DATE  
	AND	DECI_NO = @IN_DECI_NO

	SELECT	@ERROR = @@ERROR,  
		@ROWCOUNT = @@ROWCOUNT  

	IF	@ERROR <> 0  
	BEGIN  
		ROLLBACK TRAN  
		SELECT	@ERROR_TEXT = ISNULL(description, '')  
		FROM master.dbo.sysmessages  
		WHERE	ERROR = @ERROR  
		  
		RAISERROR (50005, 10, 1, @ERROR_TEXT)  
		RETURN  
	END  

	INSERT INTO	DOCUHREV	(	C_CODE, NODE_CODE, DEPT_CODE, DECI_DATE, DECI_NO, R_NODE_CODE, R_DEPT_CODE, R_DECI_DATE, R_DECI_NO)	  
	VALUES(@IN_C_CODE, @IN_NODE_CODE, @IN_DEPT_CODE, @IN_DECI_DATE, @IN_DECI_NO, @IN_NODE_CODE, @IN_DEPT_CODE, @IN_NEW_DECI_DATE, @DECI_NO)  

	SELECT	@ERROR = @@ERROR,  
		@ROWCOUNT = @@ROWCOUNT  

	IF	@ERROR <> 0  
	BEGIN  
		ROLLBACK TRAN  
		SELECT	@ERROR_TEXT = ISNULL(description, '')  
		FROM master.dbo.sysmessages  
		WHERE	ERROR = @ERROR  
		  
		RAISERROR (50007, 10, 1, @ERROR_TEXT)  
		RETURN  
	END  
	IF	@ROWCOUNT = 0  
	BEGIN  
		ROLLBACK TRAN  
		RAISERROR (50008, 10, 1, 'INSERT DOCUHREV ROWCOUNT ERROR'  )
		RETURN  
	END  

COMMIT TRAN  
END 

GO
