USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAXSACODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAXSACODE](
	[C_CODE] [varchar](4) NOT NULL,
	[SA_CODE] [varchar](10) NOT NULL,
	[TAX_SA_CODE] [numeric](10, 0) NOT NULL,
	[JIKCHECK] [varchar](10) NULL,
 CONSTRAINT [PK_TAXSACODE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SA_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
