USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SUMCODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SUMCODE](
	[C_CODE] [varchar](4) NOT NULL,
	[GUBUN_CODE] [char](1) NOT NULL,
	[SUM_CODE] [varchar](4) NOT NULL,
	[SUM_NAME] [varchar](30) NULL,
 CONSTRAINT [PK_SUMCODE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GUBUN_CODE] ASC,
	[SUM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
