USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ATAXCARD]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ATAXCARD](
	[FR_YM] [varchar](6) NOT NULL,
	[TO_YM] [varchar](6) NOT NULL,
	[CO_CD] [varchar](4) NOT NULL,
	[DIV_CD] [varchar](4) NOT NULL,
	[CARD_FG] [varchar](1) NOT NULL,
	[CARD_SQ] [numeric](5, 0) NOT NULL,
	[RPT_TM] [varchar](1) NOT NULL,
	[TR_CARD] [varchar](3) NULL,
	[TR_CARD_NM] [varchar](30) NULL,
	[TR_CD] [varchar](10) NULL,
	[TR_NM] [varchar](40) NULL,
	[REG_NB] [nvarchar](100) NULL,
	[ISS_DT] [varchar](8) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[ISU_DT] [varchar](8) NULL,
	[ISU_SQ] [numeric](5, 0) NULL,
	[LN_SQ] [numeric](3, 0) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[CARD_TR_CD] [varchar](20) NULL,
	[CARD_TR_NM] [varchar](40) NULL,
	[CARD_REG_NB] [varchar](20) NULL,
	[CARD_MEM_NB] [varchar](20) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[TAX_FG] [varchar](2) NULL,
	[NONSUB_TY] [varchar](3) NULL,
	[DATA_CD] [varchar](50) NULL,
	[MATT_CNT] [numeric](15, 4) NULL,
	[ASSET_AM] [numeric](17, 4) NULL,
	[ASSET_VAT] [numeric](17, 4) NULL,
 CONSTRAINT [PK_ATAXCARD] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[FR_YM] ASC,
	[TO_YM] ASC,
	[CARD_FG] ASC,
	[CARD_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ATAXCARD] ADD  CONSTRAINT [DF__ATAXCARD__ISU_DT__5031C87B]  DEFAULT ('00000000') FOR [ISU_DT]
GO
ALTER TABLE [DZAIS].[ATAXCARD] ADD  CONSTRAINT [DF__ATAXCARD__ISU_SQ__5125ECB4]  DEFAULT ((0)) FOR [ISU_SQ]
GO
ALTER TABLE [DZAIS].[ATAXCARD] ADD  CONSTRAINT [DF__ATAXCARD__LN_SQ__521A10ED]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[ATAXCARD] ADD  CONSTRAINT [DF__ATAXCARD__SINGO___530E3526]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[ATAXCARD] ADD  CONSTRAINT [DF__ATAXCARD__MATT_C__5402595F]  DEFAULT ((0)) FOR [MATT_CNT]
GO
ALTER TABLE [DZAIS].[ATAXCARD] ADD  CONSTRAINT [DF__ATAXCARD__ASSET___5E9FE363]  DEFAULT ((0)) FOR [ASSET_AM]
GO
ALTER TABLE [DZAIS].[ATAXCARD] ADD  CONSTRAINT [DF__ATAXCARD__ASSET___5F94079C]  DEFAULT ((0)) FOR [ASSET_VAT]
GO
