USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[EXCH_LINK]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[EXCH_LINK](
	[C_CODE] [varchar](4) NOT NULL,
	[CHECKD_CODE] [varchar](3) NOT NULL,
	[EXCH_CODE] [varchar](3) NOT NULL,
 CONSTRAINT [PK_EXCH_LINK] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CHECKD_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
