USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVTOTDIV3]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVTOTDIV3](
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[DIV_CD_SUB] [nvarchar](4) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[SUP_AM11] [numeric](17, 4) NULL,
	[VAT_AM11] [numeric](17, 4) NULL,
	[SUP_AM14] [numeric](17, 4) NULL,
	[VAT_AM14] [numeric](17, 4) NULL,
	[SUP_AM12] [numeric](17, 4) NULL,
	[SUP_AM16] [numeric](17, 4) NULL,
	[SUP_AM21] [numeric](17, 4) NULL,
	[VAT_AM21] [numeric](17, 4) NULL,
	[SUP_AM26] [numeric](17, 4) NULL,
	[VAT_AM26] [numeric](17, 4) NULL,
	[ADD_AM] [numeric](17, 4) NULL,
	[GONG_AM] [numeric](17, 4) NULL,
	[NAP_AM] [numeric](17, 4) NULL,
	[RMK_DC] [nvarchar](20) NULL,
	[DUMMY1] [nvarchar](20) NULL,
	[DUMMY2] [nvarchar](20) NULL,
	[DUMMY3] [nvarchar](20) NULL,
 CONSTRAINT [PK_AVTOTDIV3] PRIMARY KEY CLUSTERED 
(
	[FR_DT] ASC,
	[TO_DT] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[DIV_CD_SUB] ASC,
	[SINGO_FG] ASC,
	[RPT_TM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
