USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVREGARDSUM]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVREGARDSUM](
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[DOC_FG] [nvarchar](1) NOT NULL,
	[LN_SQ] [numeric](5, 0) NOT NULL,
	[FR_YM] [nvarchar](6) NOT NULL,
	[TO_YM] [nvarchar](6) NOT NULL,
	[TR_CD] [nvarchar](13) NULL,
	[TR_NM] [nvarchar](40) NULL,
	[REG_NB] [nvarchar](100) NULL,
	[TR_CNT] [numeric](15, 4) NULL,
	[MATT_CNT] [numeric](15, 4) NULL,
	[ITEM_DC] [nvarchar](40) NULL,
	[PUR_QT] [numeric](15, 4) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[TAXRT_FG] [nvarchar](2) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[DUMMY1] [nvarchar](20) NULL,
	[DUMMY2] [nvarchar](20) NULL,
	[DUMMY3] [nvarchar](20) NULL,
 CONSTRAINT [PK_AVREGARDSUM] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[FR_YM] ASC,
	[TO_YM] ASC,
	[DIV_CD] ASC,
	[SINGO_FG] ASC,
	[RPT_TM] ASC,
	[DOC_FG] ASC,
	[LN_SQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
