USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BUDGETCONFIRM]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BUDGETCONFIRM](
	[C_CODE] [varchar](4) NOT NULL,
	[CONFRM] [char](1) NOT NULL,
 CONSTRAINT [PK_BUDGETCONFIRM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
