USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[LOANTRAN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[LOANTRAN](
	[LOANM_NO] [varchar](20) NOT NULL,
	[PAY_DATE] [char](8) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[TRAN_TYPE] [char](1) NOT NULL,
	[PAY_AMT] [numeric](15, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
 CONSTRAINT [PK_LOANTRAN] PRIMARY KEY CLUSTERED 
(
	[LOANM_NO] ASC,
	[SLIP_NO] ASC,
	[LINE_NO] ASC,
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[LOANTRAN] ADD  CONSTRAINT [DF_LOANTRAN_PAY_DATE]  DEFAULT ('00000000') FOR [PAY_DATE]
GO
ALTER TABLE [DZAIS].[LOANTRAN] ADD  CONSTRAINT [DF_LOANTRAN_PAY_AMT]  DEFAULT ((0)) FOR [PAY_AMT]
GO
ALTER TABLE [DZAIS].[LOANTRAN] ADD  CONSTRAINT [DF_LOANTRAN_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[LOANTRAN] ADD  CONSTRAINT [DF_LOANTRAN_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[LOANTRAN] ADD  CONSTRAINT [DF_LOANTRAN_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[LOANTRAN] ADD  CONSTRAINT [DF_LOANTRAN_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[LOANTRAN]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[LOANTRAN]  WITH CHECK ADD CHECK  (([PAY_DATE]='00000000' OR [PAY_DATE]>'19500101' AND [PAY_DATE]<'21000101' AND CONVERT([datetime],[PAY_DATE])=CONVERT([datetime],[PAY_DATE])))
GO
