USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SONIK]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SONIK](
	[SONIK_CODE] [char](5) NOT NULL,
	[YM_FROM] [char](6) NOT NULL,
	[YM_TO] [char](6) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SONIK_NAME] [varchar](40) NOT NULL,
	[AMT] [numeric](15, 0) NOT NULL,
	[LR_GU] [char](1) NOT NULL,
 CONSTRAINT [PK_SONIK] PRIMARY KEY CLUSTERED 
(
	[SONIK_CODE] ASC,
	[YM_FROM] ASC,
	[YM_TO] ASC,
	[GISU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[SONIK] ADD  CONSTRAINT [DF_SONIK_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[SONIK] ADD  CONSTRAINT [DF_SONIK_AMT]  DEFAULT ((0)) FOR [AMT]
GO
