USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVJEONJA]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVJEONJA](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[FORM_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NULL,
	[FORM_NM] [varchar](50) NULL,
	[USE_YN] [varchar](1) NULL,
	[INSERT_ID] [varchar](12) NULL,
	[INSERT_DT] [varchar](8) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[ISS_SQ] [numeric](5, 0) NOT NULL,
 CONSTRAINT [PK_AVJEONJA] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[FORM_CD] ASC,
	[SINGO_FG] ASC,
	[ISS_SQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVJEONJA] ADD  CONSTRAINT [DF__AVJEONJA__FR_DT__6F7569AA]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVJEONJA] ADD  CONSTRAINT [DF__AVJEONJA__TO_DT__70698DE3]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVJEONJA] ADD  CONSTRAINT [DF__AVJEONJA__SINGO___715DB21C]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVJEONJA] ADD  CONSTRAINT [DF__AVJEONJA__ISS_SQ__280EC888]  DEFAULT ((0)) FOR [ISS_SQ]
GO
