USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_WASTE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_WASTE](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[TAX_DATE] [char](12) NOT NULL,
	[GUBUN_CODE] [char](1) NOT NULL,
	[LINE_NO] [numeric](6, 0) NOT NULL,
	[DATA_NAME] [varchar](30) NOT NULL,
	[DATA_INFO] [varchar](30) NOT NULL,
	[TRADE_COUNT] [numeric](11, 0) NOT NULL,
	[ITEM_NAME] [varchar](30) NOT NULL,
	[QUANTITY] [numeric](11, 0) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[WASTE_RATE] [char](1) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_TAX_WASTE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[GISU_GUBUN] ASC,
	[TAX_DATE] ASC,
	[GUBUN_CODE] ASC,
	[LINE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_WASTE] ADD  CONSTRAINT [DF__TAX_WASTE__TRADE__5CACADF9]  DEFAULT ((0)) FOR [TRADE_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_WASTE] ADD  CONSTRAINT [DF__TAX_WASTE__QUANT__5DA0D232]  DEFAULT ((0)) FOR [QUANTITY]
GO
ALTER TABLE [DZAIS].[TAX_WASTE] ADD  CONSTRAINT [DF__TAX_WASTE__GONG___5E94F66B]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[TAX_WASTE] ADD  CONSTRAINT [DF__TAX_WASTE__TAX_A__5F891AA4]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[TAX_WASTE] ADD  CONSTRAINT [DF__TAX_WASTE__WASTE__607D3EDD]  DEFAULT ('1') FOR [WASTE_RATE]
GO
ALTER TABLE [DZAIS].[TAX_WASTE] ADD  CONSTRAINT [DF__TAX_WASTE__TAX_G__53E25DCE]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
