USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPD_DOCUD_BAN_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE PROCEDURE [DZAIS].[UPD_DOCUD_BAN_A]
(@O_C_CODE VARCHAR(4),     @O_ACCT_CODE CHAR(5),
 @O_BAN_NODE_CODE VARCHAR(4),
 @O_DR_AMT NUMERIC(15), @O_CR_AMT NUMERIC(15),
 @O_BAN_SLIP_NO NUMERIC(4),@O_BAN_LINE_NO NUMERIC(4), @O_BAN_DECI_NO NUMERIC(4),
 @O_BAN_DECI_DATE CHAR(8), @O_BAN_DEPT_CODE VARCHAR(12))
AS
/*************************************************************************
            설    명 : 전표 삭제시 반제 처리 루틴
            개 발 자 : 이 주 환
            개발일자 : 1999/07/12
**************************************************************************/

BEGIN
DECLARE
	@ERR_NO  INT,
	@cnt INT,
	@err_msg    VARCHAR(100)
	
	IF ( @O_BAN_DECI_DATE IS NOT NULL AND @O_BAN_DECI_NO > 0
	AND @O_BAN_LINE_NO > 0  )
	BEGIN
		--	TD_DOCUEXCH_BAN_A트리거를 추가하여 외환금액은 그쪽에서 빼줌.
		-- 외환금액 찾아서 빼줌
		SELECT @ERR_NO = 20001
		
		UPDATE DOCUBAN
		SET BAN_AMT = BAN_AMT - (@O_CR_AMT + @O_DR_AMT)
		--					    EXCH_BAN_AMT = EXCH_BAN_AMT - exchamt
		WHERE C_CODE = @O_C_CODE
		AND NODE_CODE = @O_BAN_NODE_CODE
		AND DEPT_CODE = @O_BAN_DEPT_CODE
		AND DECI_DATE = @O_BAN_DECI_DATE
		AND DECI_NO = @O_BAN_DECI_NO
		AND LINE_NO = @O_BAN_LINE_NO
		AND SLIP_NO = @O_BAN_SLIP_NO
	END
RETURN 0
ON_ERROR:
	 RAISERROR (@ERR_NO, 10, 1, 'UPD_DOCUD_DRCR_A프로시져처리중 에러 발생')
	 ROLLBACK  TRANSACTION
END

GO
