USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[EQUIP2]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[EQUIP2](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_YEAR] [char](4) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[SERIL_NO] [numeric](4, 0) NOT NULL,
	[EQUIP_TYPE] [varchar](40) NULL,
	[GAIN_DATE] [char](8) NOT NULL,
	[ITEM_ETC] [varchar](40) NULL,
	[GAIN_AMT] [numeric](15, 0) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[TO_DATE] [char](8) NOT NULL,
 CONSTRAINT [PK_EQUIP2] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[DATE_YEAR] ASC,
	[GISU_GUBUN] ASC,
	[SERIL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[EQUIP2] ADD  CONSTRAINT [DF_EQUIP2_SERIL_NO]  DEFAULT ((0)) FOR [SERIL_NO]
GO
ALTER TABLE [DZAIS].[EQUIP2] ADD  CONSTRAINT [DF_EQUIP2_GAIN_DATE]  DEFAULT ('00000000') FOR [GAIN_DATE]
GO
ALTER TABLE [DZAIS].[EQUIP2] ADD  CONSTRAINT [DF_EQUIP2_GAIN_AMT]  DEFAULT ((0)) FOR [GAIN_AMT]
GO
ALTER TABLE [DZAIS].[EQUIP2] ADD  CONSTRAINT [DF_EQUIP2_TAX_AMT]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[EQUIP2] ADD  CONSTRAINT [DF_EQUIP2_TO_DATE]  DEFAULT ('00000000') FOR [TO_DATE]
GO
