USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPU_DOCUD_BAN_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE PROCEDURE [DZAIS].[UPU_DOCUD_BAN_A]
(@O_C_CODE VARCHAR(4),      @O_ACCT_CODE CHAR(5),
 @O_BAN_NODE_CODE VARCHAR(4),
 @O_DR_AMT NUMERIC(15),     @O_CR_AMT NUMERIC(15),
 @O_BAN_SLIP_NO NUMERIC(4), @O_BAN_LINE_NO NUMERIC(4),
 @O_BAN_DECI_NO NUMERIC(4), @O_BAN_DECI_DATE CHAR(8),
 @O_DOCU_NO NUMERIC(4),     @O_DECI_DATE CHAR(8),
 @O_DECI_NO NUMERIC(4),     @O_LINE_NO NUMERIC(4),
 @O_SLIP_NO NUMERIC(4),     @O_DEPT_CODE VARCHAR(12),
 @O_NODE_CODE VARCHAR(4),
 @N_C_CODE VARCHAR(4),      @N_ACCT_CODE CHAR(5),
 @N_BAN_NODE_CODE VARCHAR(4),
 @N_DR_AMT NUMERIC(15),     @N_CR_AMT NUMERIC(15),
 @N_BAN_SLIP_NO NUMERIC(4), @N_BAN_LINE_NO NUMERIC(4),
 @N_BAN_DECI_NO NUMERIC(4), @N_BAN_DECI_DATE CHAR(8),
 @N_DOCU_NO NUMERIC(4) ,   @N_DECI_DATE CHAR(8),
 @N_DECI_NO NUMERIC(4),    @N_LINE_NO NUMERIC(4),
 @N_SLIP_NO NUMERIC(4),     @N_DEPT_CODE VARCHAR(12),
 @N_NODE_CODE VARCHAR(4), @N_BAN_DEPT_CODE VARCHAR(12) )
AS
BEGIN
DECLARE
	@ERR_NO  INT,
	@ERR_TEXT    VARCHAR(100),
	@ld_amt NUMERIC(15),
	@ld_amt2 NUMERIC(15),
	@ld_jan NUMERIC(15),
	@ld_exchjan NUMERIC(15, 4),
	@exchamt  NUMERIC(15, 4),
	@oldexchamt  NUMERIC(15, 4)


	IF ( @N_BAN_DECI_DATE IS NOT NULL AND @N_BAN_DECI_NO > 0
	AND @N_BAN_LINE_NO > 0     AND @N_DOCU_NO < 1 AND @O_DOCU_NO < 1 )
	BEGIN
		SELECT @ERR_NO = 20022
		SELECT @ld_jan = ACCT_AMT - BAN_AMT, @ld_exchjan = EXCH_ACCT_AMT - EXCH_BAN_AMT, @ld_amt = BAN_AMT
		FROM DOCUBAN
		WHERE DECI_NO = @N_BAN_DECI_NO
		AND DECI_DATE = @N_BAN_DECI_DATE
		AND LINE_NO = @N_BAN_LINE_NO
		AND SLIP_NO = @N_BAN_SLIP_NO
		AND DEPT_CODE = @N_BAN_DEPT_CODE
		AND NODE_CODE = @N_BAN_NODE_CODE
		AND C_CODE = @N_C_CODE
		IF ( @@ROWCOUNT = 0 ) SELECT  @ld_amt = 0, @ld_exchjan = 0, @ld_jan = 0
		
		IF ( @N_DR_AMT <> 0 AND @N_DR_AMT IS NOT NULL )
			SELECT @ld_amt2  = (@N_DR_AMT - @O_DR_AMT)
		ELSE
			SELECT @ld_amt2  = (@N_CR_AMT - @O_CR_AMT)
		
		IF ( (@ld_jan > 0 and @ld_amt2 > @ld_jan) or (@ld_jan < 0 and @ld_amt2 < @ld_jan) )
		BEGIN
			SELECT	@ERR_TEXT =  '//' + @N_BAN_DECI_DATE + CONVERT(CHAR(4),@N_BAN_DECI_NO) + 
					CONVERT(CHAR(4),@N_BAN_LINE_NO) +CONVERT(CHAR(4),@N_BAN_SLIP_NO) + '//'
			RAISERROR (99999, 16, -1, @ERR_TEXT)
			ROLLBACK  TRANSACTION
			RETURN 0
		END

		-- 환율금액 반영
		SELECT @exchamt = EXCH_AMT, @oldexchamt = OLD_EXCH_AMT
		FROM DOCUEXCH
		WHERE DECI_DATE = @N_DECI_DATE
		AND DECI_NO   = @N_DECI_NO
		AND LINE_NO   = @N_LINE_NO
		AND SLIP_NO   = @N_SLIP_NO
		AND DEPT_CODE = @N_DEPT_CODE
		AND NODE_CODE = @N_NODE_CODE
		AND C_CODE = @N_C_CODE

		IF ( @@ROWCOUNT = 0 ) SELECT @exchamt = 0, @oldexchamt = 0

		IF ( (@ld_exchjan > 0 and (@exchamt - @oldexchamt) > @ld_exchjan) or (@ld_exchjan < 0 and (@exchamt - @oldexchamt) < @ld_exchjan) )
		BEGIN
			SELECT	@ERR_TEXT =  '//' + @N_BAN_DECI_DATE + CONVERT(CHAR(4),@N_BAN_DECI_NO) + 
					CONVERT(CHAR(4),@N_BAN_LINE_NO) +CONVERT(CHAR(4),@N_BAN_SLIP_NO) + '//'
			RAISERROR (99999, 16, -1, @ERR_TEXT)
			ROLLBACK  TRANSACTION
			RETURN 0
		END


		SELECT @ERR_NO = 20023
		
		UPDATE DOCUBAN
		SET 	BAN_AMT = @ld_amt + @ld_amt2,
			EXCH_BAN_AMT = EXCH_BAN_AMT + ( @exchamt - @oldexchamt )
		WHERE DECI_NO = @N_BAN_DECI_NO
		AND DECI_DATE = @N_BAN_DECI_DATE
		AND LINE_NO = @N_BAN_LINE_NO
		AND SLIP_NO = @N_BAN_SLIP_NO
		AND DEPT_CODE = @N_BAN_DEPT_CODE
		AND NODE_CODE = @N_BAN_NODE_CODE
		AND C_CODE = @N_C_CODE

	END
RETURN 0
ON_ERROR:
	RAISERROR (@ERR_NO, 16, -1, 'UPU_DOCUD_BAN_A 프로시져처리중 에러 발생')
	ROLLBACK  TRANSACTION
END

GO
