USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VBASE_TB_TAXDOWN]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	CREATE VIEW [DZAIS].[VBASE_TB_TAXDOWN] AS SELECT * FROM BASE.DZBASE.TB_TAXDOWN

GO
