USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_JUBDAEBI]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 


CREATE   PROC [DZAIS].[USP_IPLUS_JUBDAEBI]
(
	@CO_CD				VARCHAR(4), 		-- 회사코드 ( 필수 )
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8),
	@CVTCD_STR			VARCHAR(8000)  
)
AS
/*************************************************************************/
--설    명 : 회계관리 - 법인연동 - 접대비명세서 
--수 정 자 : 김대영
--수정일자 : 2010/01/18
--수정내역 : 2010/01/18 : 신규 
/***/
BEGIN  

	-- EXEC USP_IPLUS_JUBDAEBI '','5000',6, '20090101','20091231','81300|'

	DECLARE @NEW_CO_CD NVARCHAR(7) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD

	SELECT	A.CD_ACCTIT, 
		SUM(MN_ACCT) MN_ACCT,
		A.TYPE
	FROM 
	( 
		SELECT 	S.PLUS_ACCT_CODE + '00' CD_ACCTIT, 
			A.REC_TAMT AS MN_ACCT , '0' TYPE 
		FROM 	RECEPT A,
			TAXACCTCODE S
		WHERE 	A.C_CODE = S.C_CODE
		AND	A.ACCT_CODE = S.ACCT_CODE
		AND	S.PLUS_ACCT_CODE IN ('513','813','613','713','836','535')
		AND 	A.C_CODE = @NEW_CO_CD
		AND	A.BAL_DATE BETWEEN @FR_DT AND @TO_DT
		UNION ALL
		SELECT 	S.PLUS_ACCT_CODE + '00' CD_ACCTIT, 
			A.REC_TAMT AS MN_ACCT , '1' TYPE 
		FROM 	RECEPT A,
			TAXACCTCODE S
		WHERE 	A.C_CODE = S.C_CODE
		AND	A.ACCT_CODE = S.ACCT_CODE
		AND	S.PLUS_ACCT_CODE IN ('513','813','613','713','836','535')
		AND 	A.C_CODE = @NEW_CO_CD
		AND	A.BAL_DATE BETWEEN @FR_DT AND @TO_DT
		AND 	A.REC_TAMT > 10000 
		UNION ALL
		SELECT 	S.PLUS_ACCT_CODE + '00' CD_ACCTIT, 
			A.REC_TAMT AS MN_ACCT , '2' TYPE 
		FROM 	RECEPT A,
			TAXACCTCODE S
		WHERE 	A.C_CODE = S.C_CODE
		AND	A.ACCT_CODE = S.ACCT_CODE
		AND	S.PLUS_ACCT_CODE IN ('513','813','613','713','836','535')
		AND 	A.C_CODE = @NEW_CO_CD
		AND	A.BAL_DATE BETWEEN @FR_DT AND @TO_DT
		AND 	A.PROOF_GU NOT IN ('1','2','3')
		AND 	A.REC_TAMT > 10000 

		UNION ALL
		SELECT 	S.PLUS_ACCT_CODE + '00' CD_ACCTIT, 
			A.REC_TAMT AS MN_ACCT , '3' TYPE 
		FROM 	RECEPT A,
			TAXACCTCODE S
		WHERE 	A.C_CODE = S.C_CODE
		AND	A.ACCT_CODE = S.ACCT_CODE
		AND	S.PLUS_ACCT_CODE IN ('513','813','613','713','836','535')
		AND 	A.C_CODE = @NEW_CO_CD
		AND	A.BAL_DATE BETWEEN @FR_DT AND @TO_DT
		AND 	A.PROOF_GU IN ('1','2','3')
		AND 	A.REC_TAMT > 200000 
		AND	A.RECEPT_GU = '1'
		UNION ALL

		SELECT 	S.PLUS_ACCT_CODE + '00' CD_ACCTIT, 
			A.REC_TAMT AS MN_ACCT , '4' TYPE 
		FROM 	RECEPT A,
			TAXACCTCODE S
		WHERE 	A.C_CODE = S.C_CODE
		AND	A.ACCT_CODE = S.ACCT_CODE
		AND	S.PLUS_ACCT_CODE IN ('513','813','613','713','836','535')
		AND 	A.C_CODE = @NEW_CO_CD
		AND	A.BAL_DATE BETWEEN @FR_DT AND @TO_DT
		AND 	A.PROOF_GU NOT IN ('1','2','3')
		AND 	A.REC_TAMT > 200000 
		AND	A.RECEPT_GU = '1'
	) A
	GROUP BY A.CD_ACCTIT, TYPE
	ORDER BY A.CD_ACCTIT, TYPE

END

GO
