USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[RECEIPT_SUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[RECEIPT_SUM](
	[C_CODE] [varchar](4) NOT NULL,
	[GISU] [varchar](3) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[COUNT10] [numeric](7, 0) NOT NULL,
	[AMT10] [numeric](15, 0) NOT NULL,
	[COUNT11] [numeric](7, 0) NOT NULL,
	[AMT11] [numeric](15, 0) NOT NULL,
	[COUNT12] [numeric](7, 0) NOT NULL,
	[AMT12] [numeric](15, 0) NOT NULL,
	[COUNT15] [numeric](7, 0) NOT NULL,
	[AMT15] [numeric](15, 0) NOT NULL,
	[COUNT16] [numeric](7, 0) NOT NULL,
	[AMT16] [numeric](15, 0) NOT NULL,
	[COUNT17] [numeric](7, 0) NOT NULL,
	[AMT17] [numeric](15, 0) NOT NULL,
	[COUNT18] [numeric](7, 0) NOT NULL,
	[AMT18] [numeric](15, 0) NOT NULL,
	[COUNT19] [numeric](7, 0) NOT NULL,
	[AMT19] [numeric](15, 0) NOT NULL,
	[COUNT20] [numeric](7, 0) NOT NULL,
	[AMT20] [numeric](15, 0) NOT NULL,
	[COUNT21] [numeric](7, 0) NOT NULL,
	[AMT21] [numeric](15, 0) NOT NULL,
	[COUNT22] [numeric](7, 0) NOT NULL,
	[AMT22] [numeric](15, 0) NOT NULL,
	[COUNT23] [numeric](7, 0) NOT NULL,
	[AMT23] [numeric](15, 0) NOT NULL,
	[COUNT24] [numeric](7, 0) NOT NULL,
	[AMT24] [numeric](15, 0) NOT NULL,
	[COUNT25] [numeric](7, 0) NOT NULL,
	[AMT25] [numeric](15, 0) NOT NULL,
	[COUNT26] [numeric](7, 0) NOT NULL,
	[AMT26] [numeric](15, 0) NOT NULL,
	[COUNT27] [numeric](7, 0) NOT NULL,
	[AMT27] [numeric](15, 0) NOT NULL,
	[COUNT28] [numeric](7, 0) NOT NULL,
	[AMT28] [numeric](15, 0) NOT NULL,
	[COUNT29] [numeric](7, 0) NOT NULL,
	[AMT29] [numeric](15, 0) NOT NULL,
	[COUNT30] [numeric](7, 0) NOT NULL,
	[AMT30] [numeric](15, 0) NOT NULL,
	[COUNT31] [numeric](7, 0) NOT NULL,
	[AMT31] [numeric](15, 0) NOT NULL,
	[COUNT32] [numeric](7, 0) NOT NULL,
	[AMT32] [numeric](15, 0) NOT NULL,
	[COUNT33] [numeric](7, 0) NOT NULL,
	[AMT33] [numeric](15, 0) NOT NULL,
	[COUNT34] [numeric](7, 0) NOT NULL,
	[AMT34] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_RECEIPT_SUM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GISU] ASC,
	[NODE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__10EB6C0E]  DEFAULT ((0)) FOR [COUNT10]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT10__11DF9047]  DEFAULT ((0)) FOR [AMT10]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__12D3B480]  DEFAULT ((0)) FOR [COUNT11]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT11__13C7D8B9]  DEFAULT ((0)) FOR [AMT11]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__14BBFCF2]  DEFAULT ((0)) FOR [COUNT12]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT12__15B0212B]  DEFAULT ((0)) FOR [AMT12]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__16A44564]  DEFAULT ((0)) FOR [COUNT15]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT15__1798699D]  DEFAULT ((0)) FOR [AMT15]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__188C8DD6]  DEFAULT ((0)) FOR [COUNT16]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT16__1980B20F]  DEFAULT ((0)) FOR [AMT16]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__1A74D648]  DEFAULT ((0)) FOR [COUNT17]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT17__1B68FA81]  DEFAULT ((0)) FOR [AMT17]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__1C5D1EBA]  DEFAULT ((0)) FOR [COUNT18]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT18__1D5142F3]  DEFAULT ((0)) FOR [AMT18]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__1E45672C]  DEFAULT ((0)) FOR [COUNT19]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT19__1F398B65]  DEFAULT ((0)) FOR [AMT19]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__202DAF9E]  DEFAULT ((0)) FOR [COUNT20]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT20__2121D3D7]  DEFAULT ((0)) FOR [AMT20]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__2215F810]  DEFAULT ((0)) FOR [COUNT21]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT21__230A1C49]  DEFAULT ((0)) FOR [AMT21]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__23FE4082]  DEFAULT ((0)) FOR [COUNT22]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT22__24F264BB]  DEFAULT ((0)) FOR [AMT22]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__25E688F4]  DEFAULT ((0)) FOR [COUNT23]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT23__26DAAD2D]  DEFAULT ((0)) FOR [AMT23]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__27CED166]  DEFAULT ((0)) FOR [COUNT24]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT24__28C2F59F]  DEFAULT ((0)) FOR [AMT24]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__29B719D8]  DEFAULT ((0)) FOR [COUNT25]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT25__2AAB3E11]  DEFAULT ((0)) FOR [AMT25]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__2B9F624A]  DEFAULT ((0)) FOR [COUNT26]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT26__2C938683]  DEFAULT ((0)) FOR [AMT26]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__2D87AABC]  DEFAULT ((0)) FOR [COUNT27]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT27__2E7BCEF5]  DEFAULT ((0)) FOR [AMT27]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__2F6FF32E]  DEFAULT ((0)) FOR [COUNT28]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT28__30641767]  DEFAULT ((0)) FOR [AMT28]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__31583BA0]  DEFAULT ((0)) FOR [COUNT29]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT29__324C5FD9]  DEFAULT ((0)) FOR [AMT29]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__33408412]  DEFAULT ((0)) FOR [COUNT30]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT30__3434A84B]  DEFAULT ((0)) FOR [AMT30]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__3528CC84]  DEFAULT ((0)) FOR [COUNT31]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT31__361CF0BD]  DEFAULT ((0)) FOR [AMT31]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__371114F6]  DEFAULT ((0)) FOR [COUNT32]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT32__3805392F]  DEFAULT ((0)) FOR [AMT32]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__38F95D68]  DEFAULT ((0)) FOR [COUNT33]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT33__39ED81A1]  DEFAULT ((0)) FOR [AMT33]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__COUNT__3AE1A5DA]  DEFAULT ((0)) FOR [COUNT34]
GO
ALTER TABLE [DZAIS].[RECEIPT_SUM] ADD  CONSTRAINT [DF__RECEIPT_S__AMT34__3BD5CA13]  DEFAULT ((0)) FOR [AMT34]
GO
