USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DOCUEXCH]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DOCUEXCH](
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[EXCH_CODE] [varchar](3) NOT NULL,
	[EXCH_RATE] [numeric](8, 4) NOT NULL,
	[EXCH_AMT] [numeric](15, 4) NOT NULL,
	[OLD_EXCH_AMT] [numeric](15, 4) NOT NULL,
	[AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_DOCUEXCH] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DOCUEXCH] ADD  CONSTRAINT [DF_DOCUEXCH_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[DOCUEXCH] ADD  CONSTRAINT [DF_DOCUEXCH_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[DOCUEXCH] ADD  CONSTRAINT [DF_DOCUEXCH_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[DOCUEXCH] ADD  CONSTRAINT [DF_DOCUEXCH_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[DOCUEXCH] ADD  CONSTRAINT [DF_DOCUEXCH_EXCH_RATE]  DEFAULT ((0)) FOR [EXCH_RATE]
GO
ALTER TABLE [DZAIS].[DOCUEXCH] ADD  CONSTRAINT [DF_DOCUEXCH_EXCH_AMT]  DEFAULT ((0)) FOR [EXCH_AMT]
GO
ALTER TABLE [DZAIS].[DOCUEXCH] ADD  CONSTRAINT [DF_DOCUEXCH_OLD_EXCH_AMT]  DEFAULT ((0)) FOR [OLD_EXCH_AMT]
GO
ALTER TABLE [DZAIS].[DOCUEXCH] ADD  CONSTRAINT [DF_DOCUEXCH_AMT]  DEFAULT ((0)) FOR [AMT]
GO
ALTER TABLE [DZAIS].[DOCUEXCH]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
