USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BUDGETJOSIN]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BUDGETJOSIN](
	[BUDGET_YY] [char](4) NOT NULL,
	[BUDGET_CODE1] [char](5) NOT NULL,
	[JS_DATE] [char](8) NOT NULL,
	[C_CODE] [char](4) NOT NULL,
	[JS_NO] [numeric](5, 0) NOT NULL,
	[JS_AMT] [numeric](15, 0) NOT NULL,
	[JS_RMK] [varchar](50) NULL,
	[JS_GU] [char](1) NOT NULL,
	[DEPT_CODE1] [varchar](15) NOT NULL,
	[BUDGET_YM1] [char](6) NOT NULL,
	[DEPT_CODE2] [varchar](15) NOT NULL,
	[BUDGET_YM2] [char](6) NOT NULL,
	[JS_STAT] [char](1) NOT NULL,
	[APP_AMT] [numeric](15, 0) NOT NULL,
	[APP_ID] [varchar](10) NULL,
	[APP_DATE] [char](8) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [varchar](15) NULL,
	[BUDGET_CODE2] [char](5) NULL,
 CONSTRAINT [PK_BUDGETJOSIN] PRIMARY KEY NONCLUSTERED 
(
	[BUDGET_YY] ASC,
	[BUDGET_CODE1] ASC,
	[JS_DATE] ASC,
	[C_CODE] ASC,
	[JS_NO] ASC,
	[DEPT_CODE1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIN] ADD  CONSTRAINT [DF__BUDGETJOS__JS_NO__62BA8D0A]  DEFAULT ((0)) FOR [JS_NO]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIN] ADD  CONSTRAINT [DF__BUDGETJOS__JS_AM__63AEB143]  DEFAULT ((0)) FOR [JS_AMT]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIN] ADD  CONSTRAINT [DF__BUDGETJOS__JS_GU__64A2D57C]  DEFAULT ('1') FOR [JS_GU]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIN] ADD  CONSTRAINT [DF__BUDGETJOS__JS_ST__6596F9B5]  DEFAULT ('0') FOR [JS_STAT]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIN] ADD  CONSTRAINT [DF__BUDGETJOS__APP_A__668B1DEE]  DEFAULT ((0)) FOR [APP_AMT]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIN] ADD  CONSTRAINT [DF__BUDGETJOS__APP_D__677F4227]  DEFAULT ('00000000') FOR [APP_DATE]
GO
