USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ETAX_BACKUP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ETAX_BACKUP](
	[USERID] [varchar](10) NOT NULL,
	[USERNAME] [varchar](20) NOT NULL,
	[DEL_DATE] [varchar](8) NOT NULL,
	[DEL_TIME] [varchar](6) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_NO] [numeric](6, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[WORK_GUBUN] [char](1) NULL,
	[VEN_TYPE] [char](1) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[TAX_GU] [char](2) NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_VAT] [numeric](15, 0) NOT NULL,
	[S_IDNO] [varchar](15) NULL,
	[DNODE_CODE] [varchar](4) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[RELAT_NO] [varchar](20) NULL,
	[GONG_AMT2] [numeric](15, 0) NOT NULL,
	[DAY_PRINT] [char](8) NOT NULL,
	[DOCU_STAT] [char](1) NULL,
	[BUL_GUBUN] [char](1) NULL,
	[EXPORT_NO] [char](15) NULL,
	[EXCH_CODE] [char](3) NULL,
	[EXCH_RATE] [numeric](11, 4) NULL,
	[EXCH_AMT] [numeric](15, 2) NULL,
	[EJE_RATE] [char](1) NULL,
	[CARDNO] [varchar](20) NULL,
	[PJT_CODE] [varchar](12) NULL,
	[BUL_AMT] [numeric](15, 0) NOT NULL,
	[CASH_NUM] [varchar](9) NULL,
	[CUSTOM_NO] [char](10) NULL,
	[PRT] [char](1) NULL,
	[TAX_AMT2] [numeric](15, 0) NOT NULL,
	[PRT_YN] [char](1) NULL
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ETAX_BACKUP] ADD  CONSTRAINT [DF__ETAX_BACK__EXCH___319832C2]  DEFAULT ((0)) FOR [EXCH_RATE]
GO
ALTER TABLE [DZAIS].[ETAX_BACKUP] ADD  CONSTRAINT [DF__ETAX_BACK__EXCH___328C56FB]  DEFAULT ((0)) FOR [EXCH_AMT]
GO
ALTER TABLE [DZAIS].[ETAX_BACKUP] ADD  CONSTRAINT [DF__ETAX_BACK__BUL_A__33807B34]  DEFAULT ((0)) FOR [BUL_AMT]
GO
ALTER TABLE [DZAIS].[ETAX_BACKUP] ADD  CONSTRAINT [DF__ETAX_BACK__TAX_A__34749F6D]  DEFAULT ((0)) FOR [TAX_AMT2]
GO
