USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SACCT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SACCT](
	[CO_CD] [varchar](4) NOT NULL,
	[ACCT_CD] [varchar](8) NOT NULL,
	[ACCT_NM] [varchar](40) NOT NULL,
	[ACCT_FG] [varchar](1) NOT NULL,
	[GROUP_CD] [varchar](4) NOT NULL,
	[RACCT_CD] [varchar](8) NULL,
	[EDIT_YN] [varchar](1) NOT NULL,
	[FILL_YN] [varchar](1) NOT NULL,
	[DRCR_FG] [varchar](1) NOT NULL,
	[PRT_NM] [varchar](60) NULL,
	[TRCD_TY] [varchar](2) NOT NULL,
	[TRNM_TY] [varchar](2) NOT NULL,
	[DEPTCD_TY] [varchar](2) NOT NULL,
	[PJTCD_TY] [varchar](2) NOT NULL,
	[CTNB_TY] [varchar](2) NOT NULL,
	[FRDT_TY] [varchar](2) NOT NULL,
	[TODT_TY] [varchar](2) NOT NULL,
	[QT_TY] [varchar](2) NOT NULL,
	[AM_TY] [varchar](2) NOT NULL,
	[RT_TY] [varchar](2) NOT NULL,
	[DEAL_TY] [varchar](2) NOT NULL,
	[USER1_TY] [varchar](2) NOT NULL,
	[USER2_TY] [varchar](2) NOT NULL,
	[TR_FG] [varchar](1) NOT NULL,
	[TRNM_FG] [varchar](1) NOT NULL,
	[DEPTCD_FG] [varchar](1) NOT NULL,
	[PJTCD_FG] [varchar](1) NOT NULL,
	[CTNB_FG] [varchar](1) NOT NULL,
	[FRDT_FG] [varchar](1) NOT NULL,
	[TODT_FG] [varchar](1) NOT NULL,
	[QT_FG] [varchar](1) NOT NULL,
	[AM_FG] [varchar](1) NOT NULL,
	[RT_FG] [varchar](1) NOT NULL,
	[DEAL_FG] [varchar](1) NOT NULL,
	[USER1_FG] [varchar](1) NOT NULL,
	[USER2_FG] [varchar](1) NOT NULL,
	[CVT_CD] [varchar](10) NULL,
	[BUD_FG] [varchar](1) NOT NULL,
	[BUDFG_CD] [varchar](4) NULL,
	[ATTA_CD] [varchar](2) NULL,
	[NORM_CD] [varchar](2) NULL,
	[SUB_DISP] [varchar](2) NULL,
	[CF_CD] [varchar](4) NULL,
	[CH_FG] [varchar](1) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [varchar](15) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [varchar](15) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[NORM_CD1] [varchar](2) NOT NULL,
	[NORM_CD2] [varchar](2) NOT NULL,
	[ACCT_NMK] [varchar](40) NULL,
	[PRT_NMK] [varchar](60) NULL,
 CONSTRAINT [PK_SACCT] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[ACCT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__ACCT_CD__5E15D37E]  DEFAULT ('00000') FOR [ACCT_CD]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__RACCT_CD__5F09F7B7]  DEFAULT ('00000') FOR [RACCT_CD]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__TRCD_TY__5FFE1BF0]  DEFAULT ('0') FOR [TRCD_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__TRNM_TY__60F24029]  DEFAULT ('0') FOR [TRNM_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__DEPTCD_TY__61E66462]  DEFAULT ('0') FOR [DEPTCD_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__PJTCD_TY__62DA889B]  DEFAULT ('0') FOR [PJTCD_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__CTNB_TY__63CEACD4]  DEFAULT ('0') FOR [CTNB_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__FRDT_TY__64C2D10D]  DEFAULT ('0') FOR [FRDT_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__TODT_TY__65B6F546]  DEFAULT ('0') FOR [TODT_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__QT_TY__66AB197F]  DEFAULT ('0') FOR [QT_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__AM_TY__679F3DB8]  DEFAULT ('0') FOR [AM_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__RT_TY__689361F1]  DEFAULT ('0') FOR [RT_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__DEAL_TY__6987862A]  DEFAULT ('0') FOR [DEAL_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__USER1_TY__6A7BAA63]  DEFAULT ('0') FOR [USER1_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__USER2_TY__6B6FCE9C]  DEFAULT ('0') FOR [USER2_TY]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__TR_FG__6C63F2D5]  DEFAULT ('0') FOR [TR_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__TRNM_FG__6D58170E]  DEFAULT ('0') FOR [TRNM_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__DEPTCD_FG__6E4C3B47]  DEFAULT ('0') FOR [DEPTCD_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__PJTCD_FG__6F405F80]  DEFAULT ('0') FOR [PJTCD_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__CTNB_FG__703483B9]  DEFAULT ('0') FOR [CTNB_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__FRDT_FG__7128A7F2]  DEFAULT ('0') FOR [FRDT_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__TODT_FG__721CCC2B]  DEFAULT ('0') FOR [TODT_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__QT_FG__7310F064]  DEFAULT ('0') FOR [QT_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__AM_FG__7405149D]  DEFAULT ('0') FOR [AM_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__RT_FG__74F938D6]  DEFAULT ('0') FOR [RT_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__DEAL_FG__75ED5D0F]  DEFAULT ('0') FOR [DEAL_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__USER1_FG__76E18148]  DEFAULT ('0') FOR [USER1_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__USER2_FG__77D5A581]  DEFAULT ('0') FOR [USER2_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__BUD_FG__78C9C9BA]  DEFAULT ('0') FOR [BUD_FG]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__NORM_CD__79BDEDF3]  DEFAULT ('0') FOR [NORM_CD]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__INSERT_ID__7AB2122C]  DEFAULT ('0') FOR [INSERT_ID]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__INSERT_DT__7BA63665]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__MODIFY_DT__7C9A5A9E]  DEFAULT (getdate()) FOR [MODIFY_DT]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__NORM_CD1__7D8E7ED7]  DEFAULT ('0') FOR [NORM_CD1]
GO
ALTER TABLE [DZAIS].[SACCT] ADD  CONSTRAINT [DF__SACCT__NORM_CD2__7E82A310]  DEFAULT ('0') FOR [NORM_CD2]
GO
