USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TRGR_ERRORLOG]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TRGR_ERRORLOG](
	[CODE] [numeric](5, 0) NOT NULL,
	[ERR_DATE] [char](14) NULL,
	[MESSAGE] [varchar](255) NULL,
	[PG_USER] [varchar](10) NULL,
	[INFO] [varchar](100) NULL
) ON [PRIMARY]
GO
