USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CARDUSE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CARDUSE](
	[NODE_CODE] [varchar](4) NOT NULL,
	[TRADE_MONTH] [char](8) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[CARDNO] [varchar](20) NOT NULL,
	[CARD_NAME] [varchar](20) NOT NULL,
	[CARD_GU] [char](1) NOT NULL,
	[SA_NAME] [varchar](20) NULL,
	[RELA] [varchar](20) NULL,
 CONSTRAINT [PK_CARDUSE] PRIMARY KEY CLUSTERED 
(
	[NODE_CODE] ASC,
	[TRADE_MONTH] ASC,
	[C_CODE] ASC,
	[CARDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CARDUSE] ADD  CONSTRAINT [DF__CARDUSE__CARD_GU__74EE4BDE]  DEFAULT ('1') FOR [CARD_GU]
GO
