USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVEST_20091015]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVEST_20091015](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[DOC_FG] [varchar](1) NOT NULL,
	[LN_SQ] [numeric](5, 0) NOT NULL,
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[FLOOR1] [varchar](1) NULL,
	[FLOOR2] [varchar](3) NULL,
	[HOSU] [varchar](10) NULL,
	[TR_CD] [varchar](20) NULL,
	[TR_NM] [varchar](40) NULL,
	[REG_NB] [varchar](20) NULL,
	[MJUK] [varchar](20) NULL,
	[USE_TY] [varchar](20) NULL,
	[CON1] [numeric](17, 4) NULL,
	[CON2] [numeric](17, 4) NULL,
	[CON3] [numeric](17, 4) NULL,
	[LEN1] [numeric](17, 4) NULL,
	[LEN2] [numeric](17, 4) NULL,
	[LEN3] [numeric](17, 4) NULL,
	[LEN4] [numeric](17, 4) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[DUMMY4] [numeric](17, 4) NULL,
	[RENTS_DT] [varchar](8) NULL,
	[RENTE_DT] [varchar](8) NULL
) ON [PRIMARY]
GO
