USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAXRELA2]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAXRELA2](
	[DATA_GUBUN] [varchar](2) NOT NULL,
	[WRITE_DATE] [char](8) NOT NULL,
	[DATA_NO] [numeric](4, 0) NOT NULL,
	[DATA_LINE] [numeric](4, 0) NOT NULL,
	[DATA_SLIP] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[TAXSUB_NO] [numeric](1, 0) NOT NULL,
	[MONDAY] [char](4) NULL,
	[PUMMOK] [varchar](100) NULL,
	[MU_SIZE] [varchar](20) NULL,
	[QTY] [numeric](15, 4) NULL,
	[PRICE] [numeric](15, 4) NULL,
	[SUPPLY_PRICE] [numeric](15, 4) NULL,
	[VAT_PRICE] [numeric](15, 0) NULL,
	[BIGO] [varchar](20) NULL,
 CONSTRAINT [PK_TEXRELA2] PRIMARY KEY CLUSTERED 
(
	[TAXSUB_NO] ASC,
	[DATA_GUBUN] ASC,
	[WRITE_DATE] ASC,
	[DATA_NO] ASC,
	[DATA_LINE] ASC,
	[DATA_SLIP] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAXRELA2] ADD  CONSTRAINT [DF_TAXRELA2_WRITE_DATE]  DEFAULT ('00000000') FOR [WRITE_DATE]
GO
ALTER TABLE [DZAIS].[TAXRELA2] ADD  CONSTRAINT [DF_TAXRELA2_DATA_NO]  DEFAULT ((0)) FOR [DATA_NO]
GO
ALTER TABLE [DZAIS].[TAXRELA2] ADD  CONSTRAINT [DF_TAXRELA2_DATA_LINE]  DEFAULT ((0)) FOR [DATA_LINE]
GO
ALTER TABLE [DZAIS].[TAXRELA2] ADD  CONSTRAINT [DF_TAXRELA2_DATA_SLIP]  DEFAULT ((0)) FOR [DATA_SLIP]
GO
ALTER TABLE [DZAIS].[TAXRELA2]  WITH CHECK ADD CHECK  (([WRITE_DATE]='00000000' OR [WRITE_DATE]>'19500101' AND [WRITE_DATE]<'21000101' AND CONVERT([datetime],[WRITE_DATE])=CONVERT([datetime],[WRITE_DATE])))
GO
