USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[MISU]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[MISU](
	[CUST_CODE] [varchar](9) NOT NULL,
	[GUBUN_CODE] [varchar](13) NOT NULL,
 CONSTRAINT [PK_MISU] PRIMARY KEY CLUSTERED 
(
	[CUST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
