USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAXRELA]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAXRELA](
	[DATA_GUBUN] [varchar](2) NOT NULL,
	[WRITE_DATE] [char](8) NOT NULL,
	[DATA_NO] [numeric](4, 0) NOT NULL,
	[DATA_LINE] [numeric](4, 0) NOT NULL,
	[DATA_SLIP] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[BAL_DATE] [char](8) NULL,
	[VEN_TYPE] [char](1) NULL,
	[TAX_GU] [char](2) NULL,
	[GONG_AMT] [numeric](15, 0) NULL,
	[TAX_VAT] [numeric](15, 0) NULL,
	[VEN_CODE] [char](6) NULL,
	[S_IDNO] [varchar](15) NULL,
	[GONG_AMT2] [numeric](15, 0) NULL,
	[BUL_GUBUN] [char](1) NULL,
	[MSUM_YN] [char](1) NULL,
	[EXPORT_NO] [char](15) NULL,
	[EXCH_CODE] [char](3) NULL,
	[EXCH_RATE] [numeric](15, 4) NOT NULL,
	[EXCH_AMT] [numeric](15, 2) NOT NULL,
	[EJE_RATE] [char](1) NULL,
	[CARDNO] [varchar](20) NULL,
	[CUSTOM_NO] [char](10) NULL,
	[CASH_NUM] [varchar](9) NULL,
	[RELAT_NO] [varchar](30) NULL,
	[PRT] [char](1) NULL,
	[DAY_PRINT] [char](8) NULL,
	[TAX_AMT2] [numeric](15, 0) NOT NULL,
	[PJT_CODE] [varchar](12) NULL,
	[EJE_ITEM] [varchar](30) NULL,
	[EJE_QT] [numeric](15, 0) NULL,
	[EJE_AMT] [numeric](15, 0) NULL,
	[RMK] [varchar](100) NULL,
	[ETAX_KEY] [varchar](20) NULL,
	[ETAX_STAT] [varchar](2) NULL,
	[JEONJA_YN] [char](1) NULL,
	[MODIFY_CODE] [char](2) NULL,
	[BAN_ETAX_KEY] [varchar](20) NULL,
	[SALE_ETAX_KEY] [varchar](40) NULL,
 CONSTRAINT [PK_TAXRELA] PRIMARY KEY CLUSTERED 
(
	[DATA_GUBUN] ASC,
	[WRITE_DATE] ASC,
	[DATA_NO] ASC,
	[DATA_LINE] ASC,
	[DATA_SLIP] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAXRELA] ADD  CONSTRAINT [DF_TAXRELA_WRITE_DATE]  DEFAULT ('00000000') FOR [WRITE_DATE]
GO
ALTER TABLE [DZAIS].[TAXRELA] ADD  CONSTRAINT [DF_TAXRELA_DATA_NO]  DEFAULT ((0)) FOR [DATA_NO]
GO
ALTER TABLE [DZAIS].[TAXRELA] ADD  CONSTRAINT [DF_TAXRELA_DATA_LINE]  DEFAULT ((0)) FOR [DATA_LINE]
GO
ALTER TABLE [DZAIS].[TAXRELA] ADD  CONSTRAINT [DF_TAXRELA_DATA_SLIP]  DEFAULT ((0)) FOR [DATA_SLIP]
GO
ALTER TABLE [DZAIS].[TAXRELA] ADD  CONSTRAINT [DF__TAXRELA__MSUM_YN__396371BC]  DEFAULT ('1') FOR [MSUM_YN]
GO
ALTER TABLE [DZAIS].[TAXRELA] ADD  CONSTRAINT [DF__TAXRELA__EXCH_RA__3A5795F5]  DEFAULT ((0)) FOR [EXCH_RATE]
GO
ALTER TABLE [DZAIS].[TAXRELA] ADD  CONSTRAINT [DF__TAXRELA__EXCH_AM__3B4BBA2E]  DEFAULT ((0)) FOR [EXCH_AMT]
GO
ALTER TABLE [DZAIS].[TAXRELA] ADD  CONSTRAINT [DF_TAXRELA_DAYPRINT]  DEFAULT ('00000000') FOR [DAY_PRINT]
GO
ALTER TABLE [DZAIS].[TAXRELA] ADD  CONSTRAINT [DF__TAXRELA__TAX_AMT__5689C04F]  DEFAULT ((0)) FOR [TAX_AMT2]
GO
ALTER TABLE [DZAIS].[TAXRELA]  WITH CHECK ADD CHECK  (([BAL_DATE]='00000000' OR [BAL_DATE]>'19500101' AND [BAL_DATE]<'21000101' AND CONVERT([datetime],[BAL_DATE])=CONVERT([datetime],[BAL_DATE])))
GO
ALTER TABLE [DZAIS].[TAXRELA]  WITH CHECK ADD CHECK  (([WRITE_DATE]='00000000' OR [WRITE_DATE]>'19500101' AND [WRITE_DATE]<'21000101' AND CONVERT([datetime],[WRITE_DATE])=CONVERT([datetime],[WRITE_DATE])))
GO
