USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SYS_DW_PRINT]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE   VIEW  [DZAIS].[SYS_DW_PRINT]  AS  SELECT * FROM  BASE.DZBASE.SYS_DW_PRINT


GO
