USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[COMPANYINFO_LOG]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[COMPANYINFO_LOG](
	[C_CODE] [varchar](4) NOT NULL,
	[OLD_GISU] [varchar](3) NULL,
	[NEW_GISU] [varchar](3) NULL,
	[WORK_ID] [varchar](10) NULL,
	[WORK_DATE] [char](8) NULL
) ON [PRIMARY]
GO
