USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SPJT]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE  VIEW [DZAIS].[SPJT]
AS
SELECT 
 C_CODE	CO_CD		--회사코드
,PROJ_CODE	PJT_CD		--프로젝트코드
,PROJ_NAME	PJT_NM		--프로젝트명
FROM BASE.DZBASE.PJTCODE


GO
