USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSTITLE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSTITLE](
	[GUBUN_CODE] [varchar](2) NOT NULL,
	[GUBUN_NAME] [varchar](50) NOT NULL,
	[HAN_NAME] [varchar](50) NOT NULL,
	[ENG_NAME] [varchar](50) NOT NULL,
	[ETC_NAME] [varchar](50) NOT NULL,
	[REMARK] [varchar](50) NULL,
 CONSTRAINT [PK_FSTITLE] PRIMARY KEY CLUSTERED 
(
	[GUBUN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
