USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSACCT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSACCT](
	[C_CODE] [varchar](4) NOT NULL,
	[FS_CODE] [char](3) NOT NULL,
	[GROUP_CODE] [char](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[UNI_ACCT_CODE] [char](5) NOT NULL,
	[UNI_NAME_HAN] [varchar](70) NOT NULL,
	[UNI_NAME_ENG] [varchar](70) NOT NULL,
	[UNI_NAME_ETC] [varchar](70) NOT NULL,
	[CAPITAL_CODE] [varchar](4) NULL,
	[SORT_NO] [numeric](6, 0) NOT NULL,
 CONSTRAINT [PK_FSACCT] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[FS_CODE] ASC,
	[ACCT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
