USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPD_DOCUH_NUM_B]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE  PROCEDURE [DZAIS].[UPD_DOCUH_NUM_B]
( @O_C_CODE VARCHAR(4),
  @0_NODE_CODE VARCHAR(4),
  @O_DECI_DATE CHAR(8),
  @O_DECI_NO NUMERIC(4),
  @O_DEPT_CODE VARCHAR(12),
  @O_NODE_CODE VARCHAR(4),
  @N_DOCU_NO NUMERIC(4),
  @N_ACCT_DATE CHAR(8),
  @N_DOCU_STAT CHAR(1),
  @O_DOCU_TYPE CHAR(2))
AS
/*************************************************************************
            설    명 : 전표 승인해제시 처리 루틴
            개 발 자 : 이 주 환
            개발일자 : 1999/07/12
**************************************************************************/

BEGIN
    DECLARE
	@ERR_NO  INT,
	@cnt INT,
	@err_msg    VARCHAR(100),
	@DEPTCODE VARCHAR(12),
	@DECIDATE CHAR(8),
	@DECINO   NUMERIC(4)


	-- 승인전표는 삭제할 수 없게 만듦.
	-- 승인전표 바로 삭제가능하게 함.
  SELECT @ERR_NO = 20022
  	-- 자동전표는 바로 삭제되게
 	DELETE FROM AUTOREV
	  WHERE DECI_DATE  = @O_DECI_DATE
	    AND DECI_NO    = @O_DECI_NO
	    AND DDEPT_CODE = @O_DEPT_CODE
	    AND DNODE_CODE = @O_NODE_CODE
	    AND C_CODE     = @O_C_CODE
  	-- 한신평카드전표 삭제
 	DELETE FROM Z_CARD_DOCU_REV
	  WHERE DECI_DATE  = @O_DECI_DATE
	    AND DECI_NO    = @O_DECI_NO
	    AND DEPT_CODE = @O_DEPT_CODE
	    AND NODE_CODE = @O_NODE_CODE
	    AND C_CODE     = @O_C_CODE
 	-- 승인되지 않은 전표는 docud와 docudd모두를 날려줌.
	DELETE FROM DOCUD
	WHERE DECI_DATE  = @O_DECI_DATE
	  AND DECI_NO   = @O_DECI_NO
	  AND DEPT_CODE = @O_DEPT_CODE
	  AND NODE_CODE = @O_NODE_CODE
	  AND C_CODE    = @O_C_CODE

	-- 역분개처리 삭제
	IF ( @O_DOCU_TYPE = '88' )
	BEGIN
		SELECT @DEPTCODE = R_DEPT_CODE, @DECIDATE = R_DECI_DATE, @DECINO = R_DECI_NO
		FROM DOCUHREV
		WHERE DECI_DATE = @O_DECI_DATE
		AND DECI_NO   = @O_DECI_NO
		AND DEPT_CODE = @O_DEPT_CODE
		AND NODE_CODE = @O_NODE_CODE
		AND C_CODE    = @O_C_CODE
	
		IF ( @DEPTCODE IS NULL AND @DECIDATE IS NULL AND @DECINO IS NULL )
		BEGIN
			DELETE FROM DOCUHREV
			WHERE DECI_DATE = @O_DECI_DATE
			AND DECI_NO   = @O_DECI_NO
			AND DEPT_CODE = @O_DEPT_CODE
			AND NODE_CODE = @O_NODE_CODE
			AND C_CODE    = @O_C_CODE
		END
	END
	ELSE IF ( @O_DOCU_TYPE = '99' )
	BEGIN
		DELETE FROM DOCUHREV
		WHERE R_DECI_DATE = @O_DECI_DATE
		AND R_DECI_NO   = @O_DECI_NO
		AND R_DEPT_CODE = @O_DEPT_CODE
		AND R_NODE_CODE = @O_NODE_CODE
		AND C_CODE    = @O_C_CODE
	END

RETURN 0
ON_ERROR:
    RAISERROR (@ERR_NO, 16, -1, 'UPD_DOCUH_NUM_B 프로시져처리중 에러 발생')
    ROLLBACK  TRANSACTION
END

GO
