USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FI_ETAX]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FI_ETAX](
	[NO_ETAX] [varchar](50) NOT NULL,
	[CD_COMPANY] [varchar](7) NOT NULL,
	[TP_GUBUN] [char](1) NOT NULL,
	[NO_SEQ] [numeric](5, 0) NOT NULL,
	[DT_WRITE] [varchar](8) NULL,
	[DT_START] [varchar](12) NULL,
	[NO_COMPANY1] [varchar](13) NULL,
	[NO_JONG1] [varchar](4) NULL,
	[NM_COMPANY1] [varchar](50) NULL,
	[NM_CEO1] [varchar](40) NULL,
	[NO_COMPANY2] [varchar](13) NULL,
	[NO_JONG2] [varchar](4) NULL,
	[NM_COMPANY2] [varchar](50) NULL,
	[NM_CEO2] [varchar](100) NULL,
	[AM_SUM] [numeric](19, 0) NOT NULL,
	[AM_TAXSTD] [numeric](19, 0) NOT NULL,
	[AM_ADDTAX] [numeric](19, 0) NOT NULL,
	[TP_TAX] [varchar](20) NULL,
	[NM_TAX] [varchar](20) NULL,
	[TP_BAL] [varchar](20) NULL,
	[NM_BIGO] [varchar](100) NULL,
	[NM_GITA] [varchar](100) NULL,
	[ID_INSERT] [varchar](15) NULL,
	[DTS_INSERT] [varchar](14) NULL,
	[ID_UPDATE] [varchar](15) NULL,
	[DTS_UPDATE] [varchar](14) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_ETAX] ASC,
	[CD_COMPANY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[FI_ETAX] ADD  CONSTRAINT [DF__FI_ETAX__AM_SUM__632F8E56]  DEFAULT ((0)) FOR [AM_SUM]
GO
ALTER TABLE [DZAIS].[FI_ETAX] ADD  CONSTRAINT [DF__FI_ETAX__AM_TAXS__6423B28F]  DEFAULT ((0)) FOR [AM_TAXSTD]
GO
ALTER TABLE [DZAIS].[FI_ETAX] ADD  CONSTRAINT [DF__FI_ETAX__AM_ADDT__6517D6C8]  DEFAULT ((0)) FOR [AM_ADDTAX]
GO
