USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CARDMANA]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CARDMANA](
	[CARDNO] [varchar](20) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[CARD_NAME] [varchar](20) NULL,
	[S_IDNO] [varchar](13) NULL,
	[CARD_TYPE] [char](1) NULL,
	[CARD_GU] [char](1) NULL,
	[CARD_SDATE] [char](8) NOT NULL,
	[CARD_EDATE] [char](8) NOT NULL,
	[SA_CODE] [varchar](20) NULL,
	[CREDIT_COM] [varchar](30) NULL,
	[ETC] [varchar](30) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[TERM_START] [char](2) NULL,
	[SETTING_MON] [char](2) NULL,
	[SETTING_DAY] [char](2) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[DEPT_CODE] [varchar](12) NULL,
 CONSTRAINT [PK_CARDMANA] PRIMARY KEY CLUSTERED 
(
	[CARDNO] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CARDMANA] ADD  CONSTRAINT [DF_CARDMANA_CARD_SDATE]  DEFAULT ('00000000') FOR [CARD_SDATE]
GO
ALTER TABLE [DZAIS].[CARDMANA] ADD  CONSTRAINT [DF_CARDMANA_CARD_EDATE]  DEFAULT ('00000000') FOR [CARD_EDATE]
GO
ALTER TABLE [DZAIS].[CARDMANA]  WITH CHECK ADD CHECK  (([CARD_EDATE]='00000000' OR [CARD_EDATE]>'19500101' AND [CARD_EDATE]<'21000101' AND CONVERT([datetime],[CARD_EDATE])=CONVERT([datetime],[CARD_EDATE])))
GO
ALTER TABLE [DZAIS].[CARDMANA]  WITH CHECK ADD CHECK  (([CARD_SDATE]='00000000' OR [CARD_SDATE]>'19500101' AND [CARD_SDATE]<'21000101' AND CONVERT([datetime],[CARD_SDATE])=CONVERT([datetime],[CARD_SDATE])))
GO
