USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FIXFUNDP1]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FIXFUNDP1](
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SERI_NO] [numeric](4, 0) NOT NULL,
	[FUND_CODE] [char](4) NOT NULL,
	[PLAN_DATE] [char](2) NOT NULL,
	[FUND_AMT] [numeric](15, 0) NOT NULL,
	[FUND_RMT] [varchar](50) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_FIXFUNDP1] PRIMARY KEY CLUSTERED 
(
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[SERI_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[FIXFUNDP1] ADD  CONSTRAINT [DF_SERI_NO1]  DEFAULT ((0)) FOR [SERI_NO]
GO
ALTER TABLE [DZAIS].[FIXFUNDP1] ADD  CONSTRAINT [DF_PLAN_DATE1]  DEFAULT ('00') FOR [PLAN_DATE]
GO
ALTER TABLE [DZAIS].[FIXFUNDP1] ADD  CONSTRAINT [DF_FUND_AMT1]  DEFAULT ((0)) FOR [FUND_AMT]
GO
