USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVEST_200910]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVEST_200910](
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[DOC_FG] [nvarchar](1) NOT NULL,
	[LN_SQ] [numeric](3, 0) NOT NULL,
	[FLOOR1] [nvarchar](1) NULL,
	[FLOOR2] [nvarchar](3) NULL,
	[HOSU] [nvarchar](10) NULL,
	[TR_CD] [nvarchar](20) NULL,
	[TR_NM] [nvarchar](40) NULL,
	[REG_NB] [nvarchar](20) NULL,
	[MJUK] [nvarchar](20) NULL,
	[USE_TY] [nvarchar](20) NULL,
	[FR_DT] [nvarchar](8) NULL,
	[TO_DT] [nvarchar](8) NULL,
	[CON1] [numeric](17, 4) NULL,
	[CON2] [numeric](17, 4) NULL,
	[CON3] [numeric](17, 4) NULL,
	[LEN1] [numeric](17, 4) NULL,
	[LEN2] [numeric](17, 4) NULL,
	[LEN3] [numeric](17, 4) NULL,
	[LEN4] [numeric](17, 4) NULL,
	[DUMMY1] [nvarchar](20) NULL,
	[DUMMY2] [nvarchar](20) NULL,
	[DUMMY3] [nvarchar](20) NULL,
	[DUMMY4] [numeric](17, 4) NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL
) ON [PRIMARY]
GO
