USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAXACCTCODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAXACCTCODE](
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[PLUS_ACCT_CODE] [char](3) NOT NULL,
 CONSTRAINT [PK_TAXACCTCODE] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIDX_TAXACCTCODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIDX_TAXACCTCODE] ON [DZAIS].[TAXACCTCODE]
(
	[ACCT_CODE] ASC,
	[PLUS_ACCT_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
