USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FUNDSGUBUN]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FUNDSGUBUN](
	[C_CODE] [varchar](4) NOT NULL,
	[SUM_CODE] [varchar](10) NOT NULL,
	[SUM_NAME] [varchar](30) NULL,
	[GUBUN] [char](1) NULL,
 CONSTRAINT [PK_FUNDSGUBUN] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SUM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[FUNDSGUBUN] ADD  CONSTRAINT [DF_FUNDSGUBUN_GUBUN]  DEFAULT ('0') FOR [GUBUN]
GO
