USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVESTMGM_D]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVESTMGM_D](
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[SEQ_NB] [numeric](5, 0) NOT NULL,
	[LN_SQ] [numeric](5, 0) NOT NULL,
	[FLOOR] [nvarchar](1) NOT NULL,
	[FLOOR_F] [numeric](4, 0) NOT NULL,
	[HO_NM] [nvarchar](30) NULL,
	[HO_NB] [numeric](4, 0) NULL,
	[MJUK] [numeric](10, 1) NOT NULL,
	[TR_CD] [nvarchar](10) NULL,
	[TR_NM] [nvarchar](30) NOT NULL,
	[REG_NB] [nvarchar](13) NOT NULL,
	[MGMFR_DT] [nvarchar](8) NULL,
	[MGMTO_DT] [nvarchar](8) NULL,
	[MGM_AM] [numeric](17, 4) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_AVESTMGM_D] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[SEQ_NB] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVESTMGM_D] ADD  CONSTRAINT [DF__AVESTMGM___FR_DT__3B8BB150]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVESTMGM_D] ADD  CONSTRAINT [DF__AVESTMGM___TO_DT__3C7FD589]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVESTMGM_D] ADD  CONSTRAINT [DF__AVESTMGM___LN_SQ__3D73F9C2]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVESTMGM_D] ADD  CONSTRAINT [DF__AVESTMGM___MGMFR__3E681DFB]  DEFAULT ('00000000') FOR [MGMFR_DT]
GO
ALTER TABLE [DZAIS].[AVESTMGM_D] ADD  CONSTRAINT [DF__AVESTMGM___MGMTO__3F5C4234]  DEFAULT ('00000000') FOR [MGMTO_DT]
GO
ALTER TABLE [DZAIS].[AVESTMGM_D] ADD  CONSTRAINT [DF__AVESTMGM___MGM_A__4050666D]  DEFAULT ((0)) FOR [MGM_AM]
GO
ALTER TABLE [DZAIS].[AVESTMGM_D] ADD  CONSTRAINT [DF__AVESTMGM___SINGO__41448AA6]  DEFAULT ('0') FOR [SINGO_FG]
GO
