USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BANKACCT_TRADE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BANKACCT_TRADE](
	[C_CODE] [varchar](4) NOT NULL,
	[VIRTUAL_ACCT] [varchar](20) NOT NULL,
	[CUST_CODE] [varchar](6) NOT NULL,
	[BANK_CODE] [varchar](10) NULL,
	[RECEIPT_WHO] [varchar](20) NULL,
	[RECEIPT_ACCT] [varchar](20) NULL,
	[DC_RMK] [varchar](100) NULL,
 CONSTRAINT [PK_BANKACCT_TRADE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[VIRTUAL_ACCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
