USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ETAX_ACCT_D]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ETAX_ACCT_D](
	[C_CODE] [varchar](4) NOT NULL,
	[SIO_FG] [char](1) NOT NULL,
	[T_CODE] [varchar](10) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[DRCR_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_ETAX_ACCT_D] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SIO_FG] ASC,
	[T_CODE] ASC,
	[ACCT_CODE] ASC,
	[DRCR_GUBUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
