USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SBUSINESS]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW [DZAIS].[SBUSINESS]
AS SELECT * FROM BASE.DZBASE.SBUSINESS

GO
