USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SBANK]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE  VIEW [DZAIS].[SBANK] 
 AS
SELECT 	DATA_CODE BANK_CD,	
	'1' BANK_FG,
	DATA_NAME BANK_NM,
	'00000000' REG_DT,
	 DATA_SORT DUMMY1,
	'' DUMMY2,
	'1' DUMMY3,
	'' BANK_NMK
FROM	ACCOUNT_INFO
WHERE GUBUN_CODE = 'T02' 


GO
