USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPI_ASSETDEP_CALC]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE PROCEDURE [DZAIS].[UPI_ASSETDEP_CALC] 
	
(	@C_CODE	VARCHAR(4),
	@GISU		NUMERIC(3),	
	@FDATE		CHAR(6),
	@TDATE		CHAR(6),
	@FASSET	CHAR(7),
	@TASSET	CHAR(7),
	@FACCT		CHAR(5),
	@TACCT		CHAR(5),
	@INSERT_ID	VARCHAR(10)	
	
) AS
DECLARE
	@ASSET_CODE	CHAR(7),
	@DEP_EDIT	NUMERIC(15),	
	@GET_DATE	CHAR(8),
	@TEMP_DATE	CHAR(8), 
	@CLOSE_DATE	CHAR(6),
 	@MON_DATE	CHAR(6),
	@GET_AMT	NUMERIC(15),
	@SUM_AMT	NUMERIC(15),
	@N_RDATE	NUMERIC(8,4),
	@GETDATE	CHAR(8),
	@ERROR_TEXT	VARCHAR(50)

	DECLARE	CUR_ASSETDEP_CALC	CURSOR FOR
		SELECT 	Y.ASSET_CODE  	-- 자산코드
			,Y.DEP_EDIT   	-- 년상각비
			,A.GET_DATE   	--취득일자
			,Y.GET_AMT 	--취득가액
			,A.NDEPRE_RATE	--상각률
			
		FROM	ASSETMA A, YASSETDEP Y
		WHERE 	Y.C_CODE = A.C_CODE
		AND 	Y.ASSET_CODE = A.ASSET_CODE
		AND 	Y.DEP_TYPE IN('2', '4') --상각상태 2- 진행 4 - 완료
		AND 	Y.GISU = @GISU
		AND 	A.DEPR_METHOD = '1' -- 상각방법 1. 정액
		AND 	Y.C_CODE = @C_CODE
		AND 	Y.ASSET_CODE NOT IN 
			(SELECT ASSET_CODE
			FROM ASSETMOVE
			WHERE ASSCH_TYPE IN ('1','3','5') -- 변동 사유 1.자본적지출, 3.매각/폐기, 5. 재평가
				AND C_CODE = @C_CODE)
		AND 	(Y.GET_AMT - (Y.JUN_RESER + Y.DEP_EDIT)) <= 1000
		AND	Y.DEP_EDIT > 0 
		AND	( @FASSET = '' OR Y.ASSET_CODE BETWEEN @FASSET AND @TASSET )
		AND	( @FACCT = '' OR A.ACCT_CODE BETWEEN @FACCT AND @TACCT )
		AND	SUBSTRING(A.GET_DATE,5,2)  <>  SUBSTRING(@FDATE,5,2)    	
		
BEGIN
	SELECT	@GETDATE = CONVERT(CHAR(8), GETDATE(), 112)
	BEGIN TRANSACTION
	OPEN	CUR_ASSETDEP_CALC
	FETCH	NEXT FROM CUR_ASSETDEP_CALC INTO	@ASSET_CODE,
							@DEP_EDIT,	
							@GET_DATE,
							@GET_AMT,
							@N_RDATE

	WHILE (@@FETCH_STATUS = 0)
	BEGIN
	--상각완료월 구하기(취득월과  기수 FDATE 가 같으면)
	IF SUBSTRING(@FDATE,5,2) =  SUBSTRING(@GET_DATE,5,2) 
		SELECT @CLOSE_DATE = @FDATE
	ELSE	
	BEGIN
		SELECT @TEMP_DATE = SUBSTRING(@FDATE,1,4) + SUBSTRING(@GET_DATE,5,2) + '01'
		SELECT @CLOSE_DATE = CONVERT(CHAR(6), DATEADD(DAY,-1,CONVERT(DATETIME, @TEMP_DATE)),112)
		IF @FDATE > @CLOSE_DATE 
			SELECT @CLOSE_DATE = CONVERT(CHAR(4),CONVERT(INT, SUBSTRING(@CLOSE_DATE,1,4) + 1)) + SUBSTRING(@CLOSE_DATE,5,2)
	END 
	--취득가액 * 상각율 / 12 -> 월 상각액
	SELECT	@GET_AMT = FLOOR(@GET_AMT * @N_RDATE / 12)
	------------------------------------------------------------------
	DELETE FROM ASSETDEP WHERE 	C_CODE = @C_CODE AND
					GISU = @GISU AND
					ASSET_CODE = @ASSET_CODE
		
	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'ASSETDEP DELETE'
		ROLLBACK TRANSACTION
		RAISERROR (50005, 10, 1, @ERROR_TEXT)
		DEALLOCATE	CUR_ASSETDEP_CALC
		RETURN
	END
		
	SELECT	@MON_DATE = @FDATE, @SUM_AMT = 0
	WHILE (@MON_DATE <= @TDATE)
	BEGIN
		IF @MON_DATE = @CLOSE_DATE	
			SELECT @GET_AMT = @DEP_EDIT - @SUM_AMT
		ELSE IF @MON_DATE > @CLOSE_DATE	
			SELECT @GET_AMT = 0

		INSERT INTO ASSETDEP (	ASSET_CODE, ASSET_MM, GISU, C_CODE,
					BOOK_MDR, BOOK_MCR, DEP_MAMT, SDEP_MAMT, 
					ACCT_DATE, DOCU_NO, RESER_MDR, RESER_MCR, 
					INSERT_ID, INSERT_DATE )
		VALUES(			@ASSET_CODE, SUBSTRING(@MON_DATE,5,2), @GISU, @C_CODE,
					0, 0, @GET_AMT, 0, 
					'00000000', 0, 0, 0,
					@INSERT_ID, @GETDATE
			)
		IF	@@ERROR <> 0
		BEGIN
			SELECT	@ERROR_TEXT = 'ASSETDEP INSERT'
			ROLLBACK TRANSACTION
			RAISERROR (50005, 10, 1, @ERROR_TEXT)
			DEALLOCATE	CUR_ASSETDEP_CALC
			RETURN
		END

		SELECT @SUM_AMT = @SUM_AMT + @GET_AMT
		SELECT @MON_DATE = CONVERT(CHAR(6), DATEADD(MONTH,1,CONVERT(DATETIME, @MON_DATE+'01')),112)
	END
		
		FETCH	NEXT FROM CUR_ASSETDEP_CALC INTO	@ASSET_CODE,
								@DEP_EDIT,	
								@GET_DATE,
								@GET_AMT,
								@N_RDATE
	END
	CLOSE	CUR_ASSETDEP_CALC
	DEALLOCATE	CUR_ASSETDEP_CALC

	COMMIT TRANSACTION

	RETURN 0
END
GO
