USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DISTRATE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DISTRATE](
	[C_CODE] [varchar](4) NOT NULL,
	[GUBUN_CODE] [char](1) NOT NULL,
	[DIST_DATE] [char](12) NOT NULL,
	[DIST_CODE] [varchar](12) NOT NULL,
	[DIST_AMT1] [numeric](15, 0) NOT NULL,
	[DIST_AMT2] [numeric](15, 0) NOT NULL,
	[DIST_AMT3] [numeric](15, 0) NOT NULL,
	[DIST_AMT4] [numeric](15, 0) NOT NULL,
	[DIST_AMT5] [numeric](15, 0) NOT NULL,
	[DIST_AMT6] [numeric](15, 0) NOT NULL,
	[DIST_AMT7] [numeric](15, 0) NOT NULL,
	[DIST_AMT8] [numeric](15, 0) NOT NULL,
	[DIST_AMT9] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_DISTRATE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GUBUN_CODE] ASC,
	[DIST_DATE] ASC,
	[DIST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DISTRATE] ADD  CONSTRAINT [DF__DISTRATE__DIST_A__5A3A55A2]  DEFAULT ((0)) FOR [DIST_AMT1]
GO
ALTER TABLE [DZAIS].[DISTRATE] ADD  CONSTRAINT [DF__DISTRATE__DIST_A__5B2E79DB]  DEFAULT ((0)) FOR [DIST_AMT2]
GO
ALTER TABLE [DZAIS].[DISTRATE] ADD  CONSTRAINT [DF__DISTRATE__DIST_A__5C229E14]  DEFAULT ((0)) FOR [DIST_AMT3]
GO
ALTER TABLE [DZAIS].[DISTRATE] ADD  CONSTRAINT [DF__DISTRATE__DIST_A__5D16C24D]  DEFAULT ((0)) FOR [DIST_AMT4]
GO
ALTER TABLE [DZAIS].[DISTRATE] ADD  CONSTRAINT [DF__DISTRATE__DIST_A__5E0AE686]  DEFAULT ((0)) FOR [DIST_AMT5]
GO
ALTER TABLE [DZAIS].[DISTRATE] ADD  CONSTRAINT [DF__DISTRATE__DIST_A__5EFF0ABF]  DEFAULT ((0)) FOR [DIST_AMT6]
GO
ALTER TABLE [DZAIS].[DISTRATE] ADD  CONSTRAINT [DF__DISTRATE__DIST_A__5FF32EF8]  DEFAULT ((0)) FOR [DIST_AMT7]
GO
ALTER TABLE [DZAIS].[DISTRATE] ADD  CONSTRAINT [DF__DISTRATE__DIST_A__60E75331]  DEFAULT ((0)) FOR [DIST_AMT8]
GO
ALTER TABLE [DZAIS].[DISTRATE] ADD  CONSTRAINT [DF__DISTRATE__DIST_A__61DB776A]  DEFAULT ((0)) FOR [DIST_AMT9]
GO
