USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CFLOW]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CFLOW](
	[CFLOW_CODE] [char](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[CFLOW_AMT] [numeric](15, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_CFLOW] PRIMARY KEY CLUSTERED 
(
	[CFLOW_CODE] ASC,
	[GISU] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CFLOW] ADD  CONSTRAINT [DF_CFLOW_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[CFLOW] ADD  CONSTRAINT [DF_CFLOW_CFLOW_AMT]  DEFAULT ((0)) FOR [CFLOW_AMT]
GO
ALTER TABLE [DZAIS].[CFLOW] ADD  CONSTRAINT [DF_CFLOW_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[CFLOW] ADD  CONSTRAINT [DF_CFLOW_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
