USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AORIGIN]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AORIGIN](
	[CO_CD] [nvarchar](7) NOT NULL,
	[DIV_CD] [nvarchar](7) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[CNT] [numeric](7, 0) NOT NULL,
	[POSSIBLE_AM] [numeric](17, 4) NOT NULL,
	[VAT_AM] [numeric](17, 4) NOT NULL,
	[BEFORE_AM] [numeric](17, 4) NOT NULL,
	[LIMIT_AM] [numeric](17, 4) NOT NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [nvarchar](15) NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [nvarchar](15) NULL,
 CONSTRAINT [PK_AORIGIN] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[SINGO_FG] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AORIGIN] ADD  CONSTRAINT [DF__AORIGIN__CNT__52C41C63]  DEFAULT ((0)) FOR [CNT]
GO
ALTER TABLE [DZAIS].[AORIGIN] ADD  CONSTRAINT [DF__AORIGIN__POSSIBL__53B8409C]  DEFAULT ((0)) FOR [POSSIBLE_AM]
GO
ALTER TABLE [DZAIS].[AORIGIN] ADD  CONSTRAINT [DF__AORIGIN__VAT_AM__54AC64D5]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[AORIGIN] ADD  CONSTRAINT [DF__AORIGIN__BEFORE___55A0890E]  DEFAULT ((0)) FOR [BEFORE_AM]
GO
ALTER TABLE [DZAIS].[AORIGIN] ADD  CONSTRAINT [DF__AORIGIN__LIMIT_A__5694AD47]  DEFAULT ((0)) FOR [LIMIT_AM]
GO
ALTER TABLE [DZAIS].[AORIGIN] ADD  CONSTRAINT [DF__AORIGIN__INSERT___5788D180]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
