USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[LOANMA]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[LOANMA](
	[LOANM_NO] [varchar](20) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[LOAN_NAME] [varchar](30) NULL,
	[LOAN_TYPE] [char](1) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[LOAN_DATE] [char](8) NOT NULL,
	[FLOAN_DATE] [char](8) NOT NULL,
	[TLOAN_DATE] [char](8) NOT NULL,
	[MON_TYPE] [char](1) NULL,
	[MON_RATE] [numeric](8, 4) NOT NULL,
	[WLOAN_AMT] [numeric](15, 0) NOT NULL,
	[FLOAN_AMT] [numeric](15, 3) NOT NULL,
	[FUND_USE] [char](1) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[PAY_CDT] [char](1) NULL,
	[TERM_GCHI] [numeric](4, 0) NOT NULL,
	[PAY_CYCLE] [numeric](4, 0) NOT NULL,
	[PAY_TNO] [numeric](4, 0) NOT NULL,
	[FPAY_DATE] [char](8) NOT NULL,
	[INTER_CYCLE] [numeric](4, 0) NOT NULL,
	[INTER_RATE] [numeric](8, 4) NOT NULL,
	[INTER_TYPE1] [char](1) NULL,
	[INTER_TYPE2] [char](1) NULL,
	[INTER_TYPE3] [char](1) NULL,
	[BOJUNG_BANK] [varchar](3) NULL,
	[BOJUNG_AMT] [numeric](15, 0) NOT NULL,
	[BOJUNG_RATE] [numeric](8, 4) NOT NULL,
	[FBOJUNG_DATE] [char](8) NOT NULL,
	[TBOJUNG_DATE] [char](8) NOT NULL,
	[DAMBO_DATE] [char](8) NOT NULL,
	[DAMBO_AMT] [numeric](15, 0) NOT NULL,
	[TERMI_DATE] [char](8) NOT NULL,
	[TERMI_AMT] [numeric](15, 0) NOT NULL,
	[PAY_NO] [numeric](4, 0) NOT NULL,
	[PAY_AMT] [numeric](15, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
 CONSTRAINT [PK_LOANMA] PRIMARY KEY CLUSTERED 
(
	[LOANM_NO] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_LOAN_DATE]  DEFAULT ('00000000') FOR [LOAN_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_FLOAN_DATE]  DEFAULT ('00000000') FOR [FLOAN_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_TLOAN_DATE]  DEFAULT ('00000000') FOR [TLOAN_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_MON_RATE]  DEFAULT ((0)) FOR [MON_RATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_WLOAN_AMT]  DEFAULT ((0)) FOR [WLOAN_AMT]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_FLOAN_AMT]  DEFAULT ((0)) FOR [FLOAN_AMT]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_TERM_GCHI]  DEFAULT ((0)) FOR [TERM_GCHI]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_PAY_CYCLE]  DEFAULT ((0)) FOR [PAY_CYCLE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_PAY_TNO]  DEFAULT ((0)) FOR [PAY_TNO]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_FPAY_DATE]  DEFAULT ('00000000') FOR [FPAY_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_INTER_CYCLE]  DEFAULT ((0)) FOR [INTER_CYCLE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_INTER_RATE]  DEFAULT ((0)) FOR [INTER_RATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_BOJUNG_AMT]  DEFAULT ((0)) FOR [BOJUNG_AMT]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_BOJUNG_RATE]  DEFAULT ((0)) FOR [BOJUNG_RATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_FBOJUNG_DATE]  DEFAULT ('00000000') FOR [FBOJUNG_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_TBOJUNG_DATE]  DEFAULT ('00000000') FOR [TBOJUNG_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_DAMBO_DATE]  DEFAULT ('00000000') FOR [DAMBO_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_DAMBO_AMT]  DEFAULT ((0)) FOR [DAMBO_AMT]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_TERMI_DATE]  DEFAULT ('00000000') FOR [TERMI_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_TERMI_AMT]  DEFAULT ((0)) FOR [TERMI_AMT]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_PAY_NO]  DEFAULT ((0)) FOR [PAY_NO]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_PAY_AMT]  DEFAULT ((0)) FOR [PAY_AMT]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[LOANMA] ADD  CONSTRAINT [DF_LOANMA_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([DAMBO_DATE]='00000000' OR [DAMBO_DATE]>'19500101' AND [DAMBO_DATE]<'21000101' AND CONVERT([datetime],[DAMBO_DATE])=CONVERT([datetime],[DAMBO_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([FBOJUNG_DATE]='00000000' OR [FBOJUNG_DATE]>'19500101' AND [FBOJUNG_DATE]<'21000101' AND CONVERT([datetime],[FBOJUNG_DATE])=CONVERT([datetime],[FBOJUNG_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([FLOAN_DATE]='00000000' OR [FLOAN_DATE]>'19500101' AND [FLOAN_DATE]<'21000101' AND CONVERT([datetime],[FLOAN_DATE])=CONVERT([datetime],[FLOAN_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([FPAY_DATE]='00000000' OR [FPAY_DATE]>'19500101' AND [FPAY_DATE]<'21000101' AND CONVERT([datetime],[FPAY_DATE])=CONVERT([datetime],[FPAY_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([LOAN_DATE]='00000000' OR [LOAN_DATE]>'19500101' AND [LOAN_DATE]<'21000101' AND CONVERT([datetime],[LOAN_DATE])=CONVERT([datetime],[LOAN_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([TBOJUNG_DATE]='00000000' OR [TBOJUNG_DATE]>'19500101' AND [TBOJUNG_DATE]<'21000101' AND CONVERT([datetime],[TBOJUNG_DATE])=CONVERT([datetime],[TBOJUNG_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([TERMI_DATE]='00000000' OR [TERMI_DATE]>'19500101' AND [TERMI_DATE]<'21000101' AND CONVERT([datetime],[TERMI_DATE])=CONVERT([datetime],[TERMI_DATE])))
GO
ALTER TABLE [DZAIS].[LOANMA]  WITH CHECK ADD CHECK  (([TLOAN_DATE]='00000000' OR [TLOAN_DATE]>'19500101' AND [TLOAN_DATE]<'21000101' AND CONVERT([datetime],[TLOAN_DATE])=CONVERT([datetime],[TLOAN_DATE])))
GO
