USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BUDGETSIN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BUDGETSIN](
	[BUDGET_CODE] [char](5) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[BUDGET_YM] [char](6) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SIN_AMT] [numeric](15, 0) NOT NULL,
	[ETC] [varchar](50) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_BUDGETSIN] PRIMARY KEY CLUSTERED 
(
	[BUDGET_CODE] ASC,
	[DEPT_CODE] ASC,
	[BUDGET_YM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BUDGETSIN] ADD  CONSTRAINT [DF_BUDGETSIN_SIN_AMT]  DEFAULT ((0)) FOR [SIN_AMT]
GO
ALTER TABLE [DZAIS].[BUDGETSIN] ADD  CONSTRAINT [DF_BUDGETSIN_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[BUDGETSIN] ADD  CONSTRAINT [DF_BUDGETSIN_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[BUDGETSIN]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[BUDGETSIN]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
