USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_DOCUD_BUDGET]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
/*예산집계*/
CREATE PROCEDURE [DZAIS].[P_DOCUD_BUDGET]
	(	@C_CODE	VARCHAR(4),
 		@FROM		CHAR(8),
 		@TO		CHAR(8),
 		@TYPE		CHAR(1)
 	) AS
	DECLARE 
 	@DECI_DATE		CHAR(8),
 	@ACCT_DATE		CHAR(8),
 	@DEPT_CODE		VARCHAR(12),
 	@BUDGET_DEPT_CODE	VARCHAR(12),
 	@BUDGET_CODE	CHAR(5),
 	@AMT			NUMERIC(15),
 	@CAMT			NUMERIC(15),
 	@PROJ_CODE		VARCHAR(12),
 	@COUNT		NUMERIC(3)

	DECLARE CUR_DOCUD_BUDGET CURSOR FOR 
	SELECT	D.DECI_DATE,
				D.ACCT_DATE,
				D.DEPT_CODE,
				D.BUDGET_DEPT_CODE,
				D.ACCT_CODE,
				D.PROJ_CODE,
				CASE A.DRCR_GUBUN WHEN '1' THEN D.DR_AMT ELSE D.CR_AMT END DRCR_AMT 
		FROM	DOCUD D,
				BUDGETCODE B, 
				ACCTCODE A
		WHERE	D.C_CODE = @C_CODE AND
			(D.DECI_DATE BETWEEN @FROM AND @TO) AND
			D.C_CODE = B.C_CODE AND
			D.ACCT_CODE = B.BUDGET_CODE AND
			D.C_CODE = A.C_CODE AND
			D.ACCT_CODE = A.ACCT_CODE 
  
 BEGIN 
 	OPEN	CUR_DOCUD_BUDGET 
  
 	/*	결의부서로 통제	*/ 
 	IF @TYPE = '1'  
 	BEGIN 
 		UPDATE	BUDGETDO 
 		SET	DO_AMT = 0, 
 			CDO_AMT = 0 
 		WHERE	C_CODE = @C_CODE AND 
 			(BUDGET_YM BETWEEN SUBSTRING(@FROM, 1, 6) AND SUBSTRING(@TO, 1, 6)) 
 	 
 		DELETE FROM	BUDGETDO 
 		WHERE	PYUN_AMT = 0 AND 
 			SIL_AMT = 0 AND 
 			DO_AMT = 0 AND 
 			CDO_AMT = 0 
  
 		FETCH	NEXT FROM CUR_DOCUD_BUDGET INTO	@DECI_DATE, 
 								@ACCT_DATE, 
 								@DEPT_CODE, 
 								@BUDGET_DEPT_CODE, 
 								@BUDGET_CODE, 
 								@PROJ_CODE, 
 								@AMT 
 		WHILE (@@FETCH_STATUS = 0) 
 		BEGIN 
 			SELECT	@COUNT = COUNT(*) 
 			FROM	BUDGETDO 
 			WHERE	C_CODE = @C_CODE AND 
 				BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
 				DEPT_CODE = @DEPT_CODE AND 
 				BUDGET_CODE = @BUDGET_CODE 
  
 			IF @ACCT_DATE = '00000000' 
 				SELECT @CAMT = 0 
 			ELSE 
 				SELECT @CAMT = @AMT 
  
 			IF @COUNT > 0  
			BEGIN 
				UPDATE	BUDGETDO 
				SET	DO_AMT = @AMT + DO_AMT, 
					CDO_AMT = @CAMT + CDO_AMT 
				WHERE	C_CODE = @C_CODE AND 
					BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
					DEPT_CODE = @DEPT_CODE AND 
					BUDGET_CODE = @BUDGET_CODE 
			END 
 			ELSE 
			BEGIN 
				INSERT INTO	BUDGETDO(BUDGET_CODE, DEPT_CODE, BUDGET_YM, C_CODE, PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT) 
				VALUES(@BUDGET_CODE, @DEPT_CODE, SUBSTRING(@DECI_DATE, 1, 6), @C_CODE, 0, 0, @AMT, @CAMT) 
			END 
  
 			IF SUBSTRING(@BUDGET_CODE, 4, 2) <> '00'  
			BEGIN 
				SELECT	@COUNT = COUNT(*) 
				FROM	BUDGETDO 
				WHERE	C_CODE = @C_CODE AND 
					BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
					DEPT_CODE = @DEPT_CODE AND 
					BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' 
				 
				IF @COUNT > 0  
				BEGIN 
					UPDATE	BUDGETDO 
					SET	DO_AMT = @AMT + DO_AMT, 
						CDO_AMT = @CAMT + CDO_AMT 
					WHERE	C_CODE = @C_CODE AND 
						BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
						DEPT_CODE = @DEPT_CODE AND 
						BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' 
				END 
				ELSE 
				BEGIN 
					INSERT INTO	BUDGETDO(BUDGET_CODE, DEPT_CODE, BUDGET_YM, C_CODE, PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT) 
					VALUES(SUBSTRING(@BUDGET_CODE, 1, 3) + '00', @DEPT_CODE, SUBSTRING(@DECI_DATE, 1, 6), @C_CODE, 0, 0, @AMT, @CAMT) 
				END 
			END 
  
			FETCH	NEXT FROM CUR_DOCUD_BUDGET INTO	@DECI_DATE, 
									@ACCT_DATE, 
									@DEPT_CODE, 
									@BUDGET_DEPT_CODE, 
									@BUDGET_CODE, 
									@PROJ_CODE, 
									@AMT 
 		END 
 	END 
 	 
 	/*	귀속부서로 통제	*/ 
 	IF @TYPE = '2'  
 	BEGIN 
 		UPDATE	BUDGETDO 
 		SET	DO_AMT = 0, 
 			CDO_AMT = 0 
 		WHERE	C_CODE = @C_CODE AND 
 			(BUDGET_YM BETWEEN SUBSTRING(@FROM, 1, 6) AND SUBSTRING(@TO, 1, 6)) 
 	 
 		DELETE FROM	BUDGETDO 
 		WHERE	PYUN_AMT = 0 AND 
 			SIL_AMT = 0 AND 
 			DO_AMT = 0 AND 
 			CDO_AMT = 0 
  
 		FETCH	NEXT FROM CUR_DOCUD_BUDGET INTO	@DECI_DATE, 
 								@ACCT_DATE, 
 								@DEPT_CODE, 
 								@BUDGET_DEPT_CODE, 
 								@BUDGET_CODE, 
 								@PROJ_CODE, 
 								@AMT 
 		WHILE (@@FETCH_STATUS = 0) 
 		BEGIN 
 			IF	@BUDGET_DEPT_CODE IS NOT NULL 
 			BEGIN 
 				SELECT	@COUNT = COUNT(*) 
 				FROM	BUDGETDO 
 				WHERE	C_CODE = @C_CODE AND 
 					BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
 					DEPT_CODE = @BUDGET_DEPT_CODE AND 
 					BUDGET_CODE = @BUDGET_CODE 
  
 				IF @ACCT_DATE = '00000000' 
 					SELECT @CAMT = 0 
 				ELSE 
 					SELECT @CAMT = @AMT 
  
 				IF @COUNT > 0  
 					UPDATE	BUDGETDO 
 					SET	DO_AMT = @AMT + DO_AMT, 
 						CDO_AMT = @CAMT + CDO_AMT 
 					WHERE	C_CODE = @C_CODE AND 
 						BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
 						DEPT_CODE = @BUDGET_DEPT_CODE AND 
 						BUDGET_CODE = @BUDGET_CODE 
 				ELSE 
 					INSERT INTO	BUDGETDO(BUDGET_CODE, DEPT_CODE, BUDGET_YM, C_CODE, PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT) 
 					VALUES(@BUDGET_CODE, @BUDGET_DEPT_CODE, SUBSTRING(@DECI_DATE, 1, 6), @C_CODE, 0, 0, @AMT, @CAMT) 
  
 				 
 				IF SUBSTRING(@BUDGET_CODE, 4, 2) <> '00'  
 				BEGIN 
 					SELECT	@COUNT = COUNT(*) 
 					FROM	BUDGETDO 
 					WHERE	C_CODE = @C_CODE AND 
 						BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
 						DEPT_CODE = @BUDGET_DEPT_CODE AND 
 						BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' 
  
 					IF @COUNT > 0  
 					BEGIN 
 						UPDATE	BUDGETDO 
 						SET	DO_AMT = @AMT + DO_AMT, 
 							CDO_AMT = @CAMT + CDO_AMT 
 						WHERE	C_CODE = @C_CODE AND 
 							BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
 							DEPT_CODE = @BUDGET_DEPT_CODE AND 
 							BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' 
 					END 
 					ELSE 
 					BEGIN 
 						INSERT INTO	BUDGETDO(BUDGET_CODE, DEPT_CODE, BUDGET_YM, C_CODE, PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT) 
 						VALUES(SUBSTRING(@BUDGET_CODE, 1, 3) + '00', @BUDGET_DEPT_CODE, SUBSTRING(@DECI_DATE, 1, 6), @C_CODE, 0, 0, @AMT, @CAMT) 
 					END 
 				END 
 			END 
 			FETCH	NEXT FROM CUR_DOCUD_BUDGET INTO	@DECI_DATE, 
 								@ACCT_DATE, 
 								@DEPT_CODE, 
 								@BUDGET_DEPT_CODE, 
 								@BUDGET_CODE, 
 								@PROJ_CODE, 
 								@AMT 
 		END 
 	END 
  
 	/*	PROJECT로 통제	*/ 
 	IF @TYPE = '3'  
 	BEGIN 
 		UPDATE	PJTBUDGET 
 		SET	DO_AMT = 0, 
 			CDO_AMT = 0 
 		WHERE	C_CODE = @C_CODE AND 
 			(BUDGET_YM BETWEEN SUBSTRING(@FROM, 1, 6) AND SUBSTRING(@TO, 1, 6)) 
 	 
 		DELETE FROM	PJTBUDGET 
 		WHERE	SIN_AMT = 0 AND 
 			PYUN_AMT = 0 AND 
 			SIL_AMT = 0 AND 
 			DO_AMT = 0 AND 
 			CDO_AMT = 0 
  
 		FETCH	NEXT FROM CUR_DOCUD_BUDGET INTO	@DECI_DATE, 
 								@ACCT_DATE, 
 								@PROJ_CODE, 
 								@BUDGET_DEPT_CODE, 
 								@BUDGET_CODE, 
 								@PROJ_CODE, 
 								@AMT 
 		WHILE (@@FETCH_STATUS = 0) 
 		BEGIN 
 			SELECT	@COUNT = COUNT(*) 
 			FROM	PJTBUDGET 
 			WHERE	C_CODE = @C_CODE AND 
 				BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
 				PROJ_CODE = @PROJ_CODE AND 
 				BUDGET_CODE = @BUDGET_CODE 
  
 			IF @ACCT_DATE = '00000000' 
 				SELECT @CAMT = 0 
 			ELSE 
 				SELECT @CAMT = @AMT 
  
 			IF @COUNT > 0  
 			BEGIN 
 				UPDATE	PJTBUDGET 
 				SET	DO_AMT = @AMT + DO_AMT, 
 					CDO_AMT = @CAMT + CDO_AMT 
 				WHERE	C_CODE = @C_CODE AND 
 					BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
 					PROJ_CODE = @PROJ_CODE AND 
 					BUDGET_CODE = @BUDGET_CODE 
 			END 
 			ELSE 
 			BEGIN 
 				INSERT INTO	PJTBUDGET(BUDGET_CODE, PROJ_CODE, BUDGET_YM, C_CODE, PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT, SIN_AMT) 
 				VALUES(@BUDGET_CODE, @PROJ_CODE, SUBSTRING(@DECI_DATE, 1, 6), @C_CODE, 0, 0, @AMT, @AMT, 0) 
 			END 
  
 			IF SUBSTRING(@BUDGET_CODE, 4, 2) <> '00'  
 			BEGIN 
 				SELECT	@COUNT = COUNT(*) 
 				FROM	PJTBUDGET 
 				WHERE	C_CODE = @C_CODE AND 
 					BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
 					PROJ_CODE = @PROJ_CODE AND 
 					BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' 
 				 
 				IF @COUNT > 0  
 				BEGIN 
 					UPDATE	PJTBUDGET 
 					SET	DO_AMT = @AMT + DO_AMT, 
 						CDO_AMT = @CAMT + CDO_AMT 
 					WHERE	C_CODE = @C_CODE AND 
 						BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6) AND 
 						PROJ_CODE = @PROJ_CODE AND 
 						BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' 
 				END 
 				ELSE 
 				BEGIN 
 					INSERT INTO	PJTBUDGET(BUDGET_CODE, PROJ_CODE, BUDGET_YM, C_CODE, PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT, SIN_AMT) 
 					VALUES(SUBSTRING(@BUDGET_CODE, 1, 3) + '00', @PROJ_CODE, SUBSTRING(@DECI_DATE, 1, 6), @C_CODE, 0, 0, @AMT, @AMT, 0) 
 				END 
  
 			END 
  
 			FETCH	NEXT FROM CUR_DOCUD_BUDGET INTO	@DECI_DATE, 
 								@ACCT_DATE, 
 								@PROJ_CODE, 
 								@BUDGET_DEPT_CODE, 
 								@BUDGET_CODE, 
 								@PROJ_CODE, 
 								@AMT 
 		END 
 	END 
 	CLOSE CUR_DOCUD_BUDGET 
 	DEALLOCATE	CUR_DOCUD_BUDGET 
 END 
GO
