USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VBASE_DOCU_EVIDENCE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [DZAIS].[VBASE_DOCU_EVIDENCE] AS SELECT * FROM BASE.DZBASE.DOCU_EVIDENCE 


GO
