USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PLUSGROUP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PLUSGROUP](
	[C_CODE] [varchar](4) NOT NULL,
	[GROUP_CODE] [char](2) NOT NULL,
	[PLUS_ACCT_CODE] [char](3) NOT NULL,
	[SUM_GUBUN] [varchar](3) NOT NULL,
	[AMT_GUBUN] [numeric](1, 0) NOT NULL,
	[DRCR_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_PLUSGROUP] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[PLUS_ACCT_CODE] ASC,
	[GROUP_CODE] ASC,
	[SUM_GUBUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
