USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BUDGETDO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BUDGETDO](
	[BUDGET_CODE] [char](5) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[BUDGET_YM] [char](6) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[PYUN_AMT] [numeric](15, 0) NOT NULL,
	[SIL_AMT] [numeric](15, 0) NOT NULL,
	[DO_AMT] [numeric](15, 0) NOT NULL,
	[CDO_AMT] [numeric](15, 0) NOT NULL,
	[DELETE_INFO] [char](1) NULL,
 CONSTRAINT [PK_BUDGETDO] PRIMARY KEY CLUSTERED 
(
	[BUDGET_CODE] ASC,
	[DEPT_CODE] ASC,
	[BUDGET_YM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BUDGETDO] ADD  CONSTRAINT [DF_BUDGETDO_PYUN_AMT]  DEFAULT ((0)) FOR [PYUN_AMT]
GO
ALTER TABLE [DZAIS].[BUDGETDO] ADD  CONSTRAINT [DF_BUDGETDO_SIL_AMT]  DEFAULT ((0)) FOR [SIL_AMT]
GO
ALTER TABLE [DZAIS].[BUDGETDO] ADD  CONSTRAINT [DF_BUDGETDO_DO_AMT]  DEFAULT ((0)) FOR [DO_AMT]
GO
ALTER TABLE [DZAIS].[BUDGETDO] ADD  CONSTRAINT [DF_BUDGETDO_CDO_AMT]  DEFAULT ((0)) FOR [CDO_AMT]
GO
