USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[IOEXCH]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[IOEXCH](
	[C_CODE] [varchar](4) NOT NULL,
	[IOGUBUN] [char](1) NOT NULL,
	[EXCHGUBUN] [char](1) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
 CONSTRAINT [PK_IOEXCH] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[IOGUBUN] ASC,
	[EXCHGUBUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[IOEXCH] ADD  CONSTRAINT [DF_IOEXCH_IOGUBUN]  DEFAULT ('1') FOR [IOGUBUN]
GO
ALTER TABLE [DZAIS].[IOEXCH] ADD  CONSTRAINT [DF_IOEXCH_EXCHGUBUN]  DEFAULT ('1') FOR [EXCHGUBUN]
GO
