USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CUSTOM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CUSTOM](
	[CUSTOM_CODE] [varchar](40) NULL,
	[EXPENSES_TYPE] [varchar](4) NULL,
	[PRINT_SETTING] [char](1) NOT NULL,
	[ETC_1] [char](1) NULL,
	[ETAX_TEST] [char](1) NULL,
	[TAX_BMP] [char](1) NULL
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CUSTOM] ADD  CONSTRAINT [DF__CUSTOM__PRINT_SE__16D94F8E]  DEFAULT ('0') FOR [PRINT_SETTING]
GO
