USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DEPOSITTRAN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DEPOSITTRAN](
	[GISU] [numeric](3, 0) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DEPOSIT_NO] [varchar](20) NOT NULL,
	[BANK_CODE] [varchar](3) NOT NULL,
	[DEPOSIT_TAMT] [numeric](15, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[PPAY_NO] [numeric](3, 0) NULL,
 CONSTRAINT [PK_DEPOSITTRAN] PRIMARY KEY NONCLUSTERED 
(
	[GISU] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[DEPOSIT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DEPOSITTRAN] ADD  CONSTRAINT [DF_DEPOSITTRAN_DEPOSIT_TAMT]  DEFAULT ((0)) FOR [DEPOSIT_TAMT]
GO
ALTER TABLE [DZAIS].[DEPOSITTRAN] ADD  CONSTRAINT [DF_DEPOSITTRAN_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITTRAN] ADD  CONSTRAINT [DF_DEPOSITTRAN_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITTRAN] ADD  CONSTRAINT [DF_DEPOSITTRAN_PPAY_NO]  DEFAULT ((0)) FOR [PPAY_NO]
GO
