USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVAOIL]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVAOIL](
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[LN_SQ] [numeric](5, 0) NOT NULL,
	[REG_NB] [nvarchar](100) NULL,
	[TR_NM] [nvarchar](60) NULL,
	[QT_UNIT] [nvarchar](1) NOT NULL,
	[AM_UNIT] [nvarchar](1) NOT NULL,
	[QT_1] [numeric](17, 6) NOT NULL,
	[AM_1] [numeric](17, 4) NOT NULL,
	[QT_2] [numeric](17, 6) NOT NULL,
	[AM_2] [numeric](17, 4) NOT NULL,
	[QT_3] [numeric](17, 6) NOT NULL,
	[AM_3] [numeric](17, 4) NOT NULL,
	[QT_4] [numeric](17, 6) NOT NULL,
	[AM_4] [numeric](17, 4) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[QT_5] [numeric](17, 6) NOT NULL,
	[AM_5] [numeric](17, 4) NOT NULL,
	[JOB_TYPE] [nvarchar](1) NULL,
 CONSTRAINT [PK_AVAOIL] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__FR_DT__20D7BB14]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__TO_DT__21CBDF4D]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__LN_SQ__22C00386]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__AM_UNIT__23B427BF]  DEFAULT ('1') FOR [AM_UNIT]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__QT_1__24A84BF8]  DEFAULT ((0)) FOR [QT_1]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__AM_1__259C7031]  DEFAULT ((0)) FOR [AM_1]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__QT_2__2690946A]  DEFAULT ((0)) FOR [QT_2]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__AM_2__2784B8A3]  DEFAULT ((0)) FOR [AM_2]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__QT_3__2878DCDC]  DEFAULT ((0)) FOR [QT_3]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__AM_3__296D0115]  DEFAULT ((0)) FOR [AM_3]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__QT_4__2A61254E]  DEFAULT ((0)) FOR [QT_4]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__AM_4__2B554987]  DEFAULT ((0)) FOR [AM_4]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__SINGO_FG__2C496DC0]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__QT_5__25F175EC]  DEFAULT ((0)) FOR [QT_5]
GO
ALTER TABLE [DZAIS].[AVAOIL] ADD  CONSTRAINT [DF__AVAOIL__AM_5__26E59A25]  DEFAULT ((0)) FOR [AM_5]
GO
