USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DEPOSITMA]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DEPOSITMA](
	[DEPOSIT_NO] [varchar](20) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DEPOSIT_NAME] [varchar](30) NULL,
	[BANK_CODE] [varchar](3) NOT NULL,
	[ENTRY_DATE] [char](8) NOT NULL,
	[DUE_DATE] [char](8) NULL,
	[TERMI_DATE] [char](8) NULL,
	[TERMI_RSN] [varchar](50) NULL,
	[DEPO_RATE] [numeric](8, 4) NOT NULL,
	[INTER_TYPE] [char](1) NULL,
	[CONTA_AMT] [numeric](15, 0) NOT NULL,
	[END_AMT] [numeric](15, 0) NOT NULL,
	[PAY_NO] [numeric](4, 0) NOT NULL,
	[PAY_SDATE] [char](8) NULL,
	[PAY_TERM] [numeric](3, 0) NOT NULL,
	[PAY_OAMT] [numeric](15, 0) NOT NULL,
	[PPAY_NO] [numeric](3, 0) NOT NULL,
	[PPAY_AMT] [numeric](15, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[SHORT_KEY] [varchar](10) NULL,
 CONSTRAINT [PK_DEPOSITMA] PRIMARY KEY CLUSTERED 
(
	[DEPOSIT_NO] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_ENTRY_DATE]  DEFAULT ('00000000') FOR [ENTRY_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_DUE_DATE]  DEFAULT ('00000000') FOR [DUE_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_TERMI_DATE]  DEFAULT ('00000000') FOR [TERMI_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_DEPO_RATE]  DEFAULT ((0)) FOR [DEPO_RATE]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_CONTA_AMT]  DEFAULT ((0)) FOR [CONTA_AMT]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_END_AMT]  DEFAULT ((0)) FOR [END_AMT]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_PAY_NO]  DEFAULT ((0)) FOR [PAY_NO]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_PAY_SDATE]  DEFAULT ('00000000') FOR [PAY_SDATE]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_PAY_TERM]  DEFAULT ((0)) FOR [PAY_TERM]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_PAY_OAMT]  DEFAULT ((0)) FOR [PAY_OAMT]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_PPAY_NO]  DEFAULT ((0)) FOR [PPAY_NO]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_PPAY_AMT]  DEFAULT ((0)) FOR [PPAY_AMT]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITMA] ADD  CONSTRAINT [DF_DEPOSITMA_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITMA]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[DEPOSITMA]  WITH CHECK ADD CHECK  (([DUE_DATE]='00000000' OR [DUE_DATE]>'19500101' AND [DUE_DATE]<'21000101' AND CONVERT([datetime],[DUE_DATE])=CONVERT([datetime],[DUE_DATE])))
GO
ALTER TABLE [DZAIS].[DEPOSITMA]  WITH CHECK ADD CHECK  (([ENTRY_DATE]='00000000' OR [ENTRY_DATE]>'19500101' AND [ENTRY_DATE]<'21000101' AND CONVERT([datetime],[ENTRY_DATE])=CONVERT([datetime],[ENTRY_DATE])))
GO
ALTER TABLE [DZAIS].[DEPOSITMA]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[DEPOSITMA]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[DEPOSITMA]  WITH CHECK ADD CHECK  (([PAY_SDATE]='00000000' OR [PAY_SDATE]>'19500101' AND [PAY_SDATE]<'21000101' AND CONVERT([datetime],[PAY_SDATE])=CONVERT([datetime],[PAY_SDATE])))
GO
ALTER TABLE [DZAIS].[DEPOSITMA]  WITH CHECK ADD CHECK  (([TERMI_DATE]='00000000' OR [TERMI_DATE]>'19500101' AND [TERMI_DATE]<'21000101' AND CONVERT([datetime],[TERMI_DATE])=CONVERT([datetime],[TERMI_DATE])))
GO
