USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BONDDE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BONDDE](
	[BOND_NO] [varchar](16) NOT NULL,
	[SALEDATE] [char](8) NOT NULL,
	[BOND_GUBUN] [char](1) NOT NULL,
	[GUBUN] [varchar](1) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[QUANT] [numeric](10, 0) NOT NULL,
	[GET_AMT] [numeric](15, 0) NOT NULL,
	[GETBU_AMT] [numeric](15, 0) NOT NULL,
	[GET_TAMT] [numeric](15, 0) NOT NULL,
	[RMK] [varchar](50) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
 CONSTRAINT [BONDDEPRIM] PRIMARY KEY CLUSTERED 
(
	[BOND_NO] ASC,
	[SALEDATE] ASC,
	[BOND_GUBUN] ASC,
	[GUBUN] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_SALEDATE]  DEFAULT ('00000000') FOR [SALEDATE]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_QUANT]  DEFAULT ((0)) FOR [QUANT]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_GET_AMT]  DEFAULT ((0)) FOR [GET_AMT]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_GETBU_AMT]  DEFAULT ((0)) FOR [GETBU_AMT]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_GET_TAMT]  DEFAULT ((0)) FOR [GET_TAMT]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[BONDDE] ADD  CONSTRAINT [DF_BONDDE_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[BONDDE]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[BONDDE]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[BONDDE]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[BONDDE]  WITH CHECK ADD CHECK  (([SALEDATE]='00000000' OR [SALEDATE]>'19500101' AND [SALEDATE]<'21000101' AND CONVERT([datetime],[SALEDATE])=CONVERT([datetime],[SALEDATE])))
GO
