USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ACCOUNT_INFO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ACCOUNT_INFO](
	[GUBUN_CODE] [char](3) NOT NULL,
	[DATA_CODE] [varchar](20) NOT NULL,
	[DATA_NAME] [varchar](50) NULL,
	[DATA_FILTER] [char](1) NOT NULL,
	[DATA_SORT] [numeric](4, 0) NOT NULL,
 CONSTRAINT [PK_ACCOUNT_INFO] PRIMARY KEY CLUSTERED 
(
	[GUBUN_CODE] ASC,
	[DATA_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ACCOUNT_INFO] ADD  CONSTRAINT [DF__ACCOUNT_I__DATA___32816A03]  DEFAULT ('0') FOR [DATA_FILTER]
GO
ALTER TABLE [DZAIS].[ACCOUNT_INFO] ADD  CONSTRAINT [DF__ACCOUNT_I__DATA___7ECCBBD3]  DEFAULT ((0)) FOR [DATA_SORT]
GO
