USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVEXPO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVEXPO](
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[DOC_FG] [nvarchar](1) NOT NULL,
	[LN_SQ] [numeric](5, 0) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[CT_NB] [nvarchar](20) NULL,
	[EXP_DT] [nvarchar](8) NULL,
	[FOR_CD] [nvarchar](3) NULL,
	[EX_RT] [numeric](15, 4) NULL,
	[FOR_AM] [numeric](17, 4) NULL,
	[KOR_AM] [numeric](17, 4) NULL,
	[RMK_DC] [nvarchar](40) NULL,
	[ISU_DT] [nvarchar](8) NULL,
	[ISU_SQ] [numeric](5, 0) NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [nvarchar](15) NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [nvarchar](15) NULL,
	[DUMMY1] [nvarchar](20) NULL,
	[DUMMY2] [nvarchar](20) NULL,
	[DUMMY3] [nvarchar](20) NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[DATA_CD] [varchar](50) NULL,
 CONSTRAINT [PK_AVEXPO] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[DOC_FG] ASC,
	[LN_SQ] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__LN_SQ__494FC0C2]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__FR_DT__4A43E4FB]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__TO_DT__4B380934]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__EXP_DT__4C2C2D6D]  DEFAULT ('00000000') FOR [EXP_DT]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__EX_RT__4D2051A6]  DEFAULT ((0)) FOR [EX_RT]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__FOR_AM__4E1475DF]  DEFAULT ((0)) FOR [FOR_AM]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__KOR_AM__4F089A18]  DEFAULT ((0)) FOR [KOR_AM]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__ISU_DT__4FFCBE51]  DEFAULT ('00000000') FOR [ISU_DT]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__ISU_SQ__50F0E28A]  DEFAULT ((0)) FOR [ISU_SQ]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__INSERT_D__51E506C3]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__MODIFY_D__52D92AFC]  DEFAULT (getdate()) FOR [MODIFY_DT]
GO
ALTER TABLE [DZAIS].[AVEXPO] ADD  CONSTRAINT [DF__AVEXPO__SINGO_FG__53CD4F35]  DEFAULT ('0') FOR [SINGO_FG]
GO
