USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ONKET_ID]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ONKET_ID](
	[C_CODE] [varchar](4) NOT NULL,
	[ID_CODE] [varchar](20) NOT NULL,
	[ID_NAME] [varchar](20) NULL,
	[JOB_DATE] [char](8) NOT NULL,
 CONSTRAINT [PK_ONKET_ID] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[ID_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ONKET_ID] ADD  CONSTRAINT [DF__ONKET_ID__JOB_DA__355DD6AE]  DEFAULT (CONVERT([char](8),getdate(),(112))) FOR [JOB_DATE]
GO
