USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[LENDMA]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[LENDMA](
	[LENDM_NO] [varchar](20) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[LEND_NAME] [varchar](30) NULL,
	[LEND_TYPE] [char](1) NULL,
	[VEN_NAME] [varchar](20) NULL,
	[LEND_DATE] [char](8) NOT NULL,
	[FLEND_DATE] [char](8) NOT NULL,
	[TLEND_DATE] [char](8) NOT NULL,
	[LEND_AMT] [numeric](15, 0) NOT NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[RECI_METHOD] [char](1) NULL,
	[GAU_PERI] [numeric](4, 0) NOT NULL,
	[RECI_TERM] [numeric](4, 0) NOT NULL,
	[RECI_TNO] [numeric](4, 0) NOT NULL,
	[INTER_TERM] [numeric](4, 0) NOT NULL,
	[INTER_TYPE1] [char](1) NULL,
	[INTER_TYPE2] [char](1) NULL,
	[INTER_TYPE3] [char](1) NULL,
	[RECI_DATE] [char](8) NOT NULL,
	[INTER_RATE] [numeric](8, 4) NOT NULL,
	[PAY_NO] [numeric](4, 0) NOT NULL,
	[PAY_AMT] [numeric](15, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
 CONSTRAINT [PK_LENDMA] PRIMARY KEY CLUSTERED 
(
	[LENDM_NO] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_LEND_DATE]  DEFAULT ('00000000') FOR [LEND_DATE]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_FLEND_DATE]  DEFAULT ('00000000') FOR [FLEND_DATE]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_TLEND_DATE]  DEFAULT ('00000000') FOR [TLEND_DATE]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_LEND_AMT]  DEFAULT ((0)) FOR [LEND_AMT]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_GAU_PERI]  DEFAULT ((0)) FOR [GAU_PERI]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_RECI_TERM]  DEFAULT ((0)) FOR [RECI_TERM]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_RECI_TNO]  DEFAULT ((0)) FOR [RECI_TNO]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_INTER_TERM]  DEFAULT ((0)) FOR [INTER_TERM]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_INTER_RATE]  DEFAULT ((0)) FOR [INTER_RATE]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_PAY_NO]  DEFAULT ((0)) FOR [PAY_NO]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_PAY_AMT]  DEFAULT ((0)) FOR [PAY_AMT]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[LENDMA] ADD  CONSTRAINT [DF_LENDMA_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[LENDMA]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[LENDMA]  WITH CHECK ADD CHECK  (([FLEND_DATE]='00000000' OR [FLEND_DATE]>'19500101' AND [FLEND_DATE]<'21000101' AND CONVERT([datetime],[FLEND_DATE])=CONVERT([datetime],[FLEND_DATE])))
GO
ALTER TABLE [DZAIS].[LENDMA]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[LENDMA]  WITH CHECK ADD CHECK  (([LEND_DATE]='00000000' OR [LEND_DATE]>'19500101' AND [LEND_DATE]<'21000101' AND CONVERT([datetime],[LEND_DATE])=CONVERT([datetime],[LEND_DATE])))
GO
ALTER TABLE [DZAIS].[LENDMA]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[LENDMA]  WITH CHECK ADD CHECK  (([RECI_DATE]='00000000' OR [RECI_DATE]>'19500101' AND [RECI_DATE]<'21000101' AND CONVERT([datetime],[RECI_DATE])=CONVERT([datetime],[RECI_DATE])))
GO
ALTER TABLE [DZAIS].[LENDMA]  WITH CHECK ADD CHECK  (([TLEND_DATE]='00000000' OR [TLEND_DATE]>'19500101' AND [TLEND_DATE]<'21000101' AND CONVERT([datetime],[TLEND_DATE])=CONVERT([datetime],[TLEND_DATE])))
GO
