USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CASHFORM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CASHFORM](
	[C_CODE] [varchar](4) NOT NULL,
	[T_1] [varchar](3) NULL,
	[T_2] [varchar](3) NULL,
	[T_3] [varchar](3) NULL,
	[T_4] [varchar](3) NULL,
	[T_5] [varchar](3) NULL,
	[T_6] [varchar](3) NULL,
	[T_7] [varchar](3) NULL,
	[T_8] [varchar](3) NULL,
	[T_9] [varchar](3) NULL,
	[T_10] [varchar](3) NULL,
	[CT_1] [numeric](3, 0) NULL,
	[CT_2] [numeric](3, 0) NULL,
	[CT_3] [numeric](3, 0) NULL,
	[CT_4] [numeric](3, 0) NULL,
	[CT_5] [numeric](3, 0) NULL,
	[CT_6] [numeric](3, 0) NULL,
	[CT_7] [numeric](3, 0) NULL,
	[CT_8] [numeric](3, 0) NULL,
	[CT_9] [numeric](3, 0) NULL,
	[CT_10] [numeric](3, 0) NULL,
	[D_1] [varchar](10) NULL,
	[D_2] [varchar](10) NULL,
	[D_3] [varchar](10) NULL,
	[D_4] [varchar](10) NULL,
	[D_5] [varchar](10) NULL,
	[D_6] [varchar](10) NULL,
	[D_7] [varchar](10) NULL,
	[H_1] [varchar](10) NULL,
	[H_2] [varchar](10) NULL,
	[H_3] [varchar](10) NULL,
	[H_4] [varchar](10) NULL,
	[H_5] [varchar](10) NULL,
	[O_1] [varchar](10) NULL,
	[O_2] [varchar](10) NULL,
	[O_3] [varchar](10) NULL,
	[O_4] [varchar](10) NULL,
	[O_5] [varchar](10) NULL,
	[CHK1] [char](1) NULL,
	[CHK2] [char](1) NULL,
	[CHK3] [char](1) NULL,
	[CHK4] [char](1) NULL,
 CONSTRAINT [PK_CASHFORM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
