USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[VENGUBUN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[VENGUBUN](
	[VENGU_CODE] [char](1) NOT NULL,
	[VENGU_TYPE] [char](1) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[VENGU_NAME] [varchar](20) NULL,
 CONSTRAINT [PK_GRAPHICS3] PRIMARY KEY CLUSTERED 
(
	[VENGU_CODE] ASC,
	[VENGU_TYPE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
