USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FUNDFSE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FUNDFSE](
	[PLAN_DATE] [varchar](6) NOT NULL,
	[FUND_CODE] [char](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[FUND_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_FUNDFSE] PRIMARY KEY CLUSTERED 
(
	[PLAN_DATE] ASC,
	[FUND_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[FUNDFSE] ADD  CONSTRAINT [DF_PLAN_DATE]  DEFAULT ('000000') FOR [PLAN_DATE]
GO
ALTER TABLE [DZAIS].[FUNDFSE] ADD  CONSTRAINT [DF_FUND_AMT]  DEFAULT ((0)) FOR [FUND_AMT]
GO
