USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SPA_AVATRPT_DELETE]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


	


CREATE PROCEDURE [DZAIS].[SPA_AVATRPT_DELETE]
(
  @LANGKIND    	NVARCHAR(3),	--언어종류( 필수, KOR, CHS, ENG, JPN 등)
  @CO_CD		NVARCHAR(7),	--회사코드( 필수 )
  @DIV_CD		NVARCHAR(7),	--사업장
  @FR_DT		NVARCHAR(16),	--작성시작일
  @TO_DT		NVARCHAR(16),	--작성종료일
  @ISS_SQ		NUMERIC(5),		--발행차수
  @SINGO_FG		NVARCHAR(2)		--신고구분

)
--WITH ENCRYPTION
AS
/*************************************************************************/
--설    명 : 부가가치세관리 - 부가세 수정신고서 삭제
--수 정 자 : 김경인
--수정일자 : 2008/08/19
--수정내역 : 2008/08/19: 수정신고서 데이터 삭제
/*************************************************************************/
BEGIN

  SET NOCOUNT ON
 
  SET ANSI_WARNINGS OFF

	DECLARE @P_ERR_MSG NVARCHAR(255)

  BEGIN TRANSACTION 

	 DELETE FROM  AVATRPT WHERE CO_CD=@CO_CD AND DIV_CD=@DIV_CD
		AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND SINGO_FG = @SINGO_FG AND ISS_SQ=@ISS_SQ

	 IF( @@ERROR <> 0 )
	      BEGIN
			SET @P_ERR_MSG = 'AVATRPT 데이터를 삭제할 수 없습니다.'
			GOTO ERROR	
	      END
	
	IF EXISTS ( SELECT COUNT(CO_CD) FROM  AVJEONJA WHERE  CO_CD = @CO_CD  AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT
		AND SINGO_FG = @SINGO_FG  AND ISS_SQ=@ISS_SQ )
	BEGIN
		DELETE FROM AVJEONJA WHERE  CO_CD = @CO_CD  AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT
			AND SINGO_FG = @SINGO_FG  AND ISS_SQ=@ISS_SQ

		IF( @@ERROR <> 0 )
	      BEGIN
			SET @P_ERR_MSG = 'AVJEONJA 데이터를 삭제할 수 없습니다.'
			GOTO ERROR	
	      END
	END


	--세금계산서 합계표 삭제
	IF EXISTS ( SELECT COUNT(CO_CD) FROM  ATAXSUM WHERE  CO_CD = @CO_CD  AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT 
		AND DATA_FG IN ('1','2') AND SINGO_FG = @SINGO_FG  AND ISS_SQ=@ISS_SQ )
	BEGIN
		DELETE FROM ATAXSUM WHERE  CO_CD = @CO_CD  AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT 
			AND DATA_FG IN ('1','2') AND SINGO_FG = @SINGO_FG AND ISS_SQ=@ISS_SQ

		IF( @@ERROR <> 0 )
	      BEGIN
			SET @P_ERR_MSG = 'ATAXSUM 데이터를 삭제할 수 없습니다.'
			GOTO ERROR	
	      END
	END
	
	COMMIT TRANSACTION
	

 SET NOCOUNT OFF

 SET ANSI_WARNINGS ON

  RETURN  
  
END

ERROR:
    SET NOCOUNT OFF
  	RAISERROR( @P_ERR_MSG, 16, 1 )
	ROLLBACK TRANSACTION 
    SET ANSI_WARNINGS ON
	RETURN

GO
