USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CARD_TEMP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CARD_TEMP](
	[C_CODE] [varchar](10) NOT NULL,
	[ACCT_NO] [varchar](20) NOT NULL,
	[BANK_CODE] [varchar](10) NOT NULL,
	[TRADE_DATE] [char](8) NOT NULL,
	[TRADE_TIME] [char](6) NOT NULL,
	[SEQ] [varchar](16) NOT NULL,
	[CLIENT_NOTE] [varchar](100) NULL,
	[TRADE_PLACE] [varchar](100) NULL,
	[PAY_TERM] [varchar](3) NULL,
	[PAY_MON] [varchar](3) NULL,
	[ASK_MON] [varchar](8) NULL,
	[DUE_DATE] [varchar](8) NULL,
	[ADMIN_NO] [varchar](20) NULL,
	[ADMIN_GU] [char](1) NULL,
	[ADMIN_AMT] [numeric](19, 4) NOT NULL,
	[TRANS_GUBUN] [varchar](3) NULL,
	[S_IDNO] [varchar](13) NULL,
	[TRANS_FLAG] [varchar](3) NULL,
	[DOCU_STAT] [varchar](3) NULL,
	[INSERT_DATE] [char](8) NULL,
	[INSERT_TIME] [char](6) NULL,
	[INSERT_ID] [varchar](20) NULL,
	[NODE_CODE] [varchar](10) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DATA_CODE] [varchar](20) NULL,
	[WRITE_DATE] [varchar](8) NULL,
	[DATA_NO] [numeric](5, 0) NULL,
	[LINE_NO] [numeric](5, 0) NULL,
	[NO_DOCU] [varchar](20) NULL,
	[CARDCONM] [varchar](50) NULL,
	[ADMIN_TAX] [numeric](19, 4) NULL,
	[MCC_CODE] [nvarchar](4) NULL,
	[MCC_CODE_NAME] [varchar](50) NULL,
	[TRADE_PLACE_REP] [varchar](30) NULL,
	[TRADE_PLACE_TEL] [varchar](16) NULL,
	[TRADE_PLACE_POST] [varchar](6) NULL,
	[TRADE_PLACE_ADDR] [varchar](120) NULL,
	[SUPPLY_AMT] [numeric](19, 4) NULL,
	[VAT_AMT] [numeric](19, 4) NULL,
	[SERVICE_CHARGE] [numeric](19, 4) NULL,
	[ANNUAL_FEE] [numeric](19, 4) NULL,
	[DELAY_CHARGE] [numeric](19, 4) NULL,
	[EXCHANGE_COMMISION] [numeric](19, 4) NULL,
	[SALE_KEY] [varchar](35) NULL,
	[VAT_TYPE_CODE] [varchar](20) NULL,
	[EXP_DATE] [varchar](8) NULL,
	[OVERSEAS_USE] [char](1) NULL,
	[CURRENCY] [varchar](3) NULL,
	[CD_PARTNER] [nvarchar](15) NULL,
	[TRAN_AMT] [numeric](19, 4) NULL,
	[TRAN_TAX] [numeric](19, 4) NULL,
	[CARD_KIND] [char](1) NULL,
	[AQUI_DATE] [varchar](8) NULL,
	[CAN_DATE] [varchar](8) NULL,
	[MERC_NUM] [varchar](15) NULL,
	[MERC_REPR] [varchar](30) NULL,
	[MERC_ADDR] [varchar](70) NULL,
	[MERC_TYPE] [varchar](2) NULL,
	[MERC_FLAG] [varchar](2) NULL,
	[AQUI_RATE] [numeric](19, 4) NULL,
	[AQUI_DOLL] [numeric](19, 4) NULL,
	[AQUI_WON] [numeric](20, 0) NULL,
	[AQUI_COLL] [varchar](40) NULL,
	[FORE_USE] [varchar](4) NULL,
	[FORE_COUN] [varchar](30) NULL,
	[TRAN_STAT] [varchar](4) NULL,
	[VAT_TYPE] [char](1) NULL,
	[SEEKDATE] [varchar](8) NULL,
	[CLOSEDATE] [varchar](8) NULL,
	[MCG_CODE] [varchar](10) NULL,
	[UNIQUE_KEY] [numeric](16, 0) NULL,
	[INSERT_DT] [varchar](30) NULL,
 CONSTRAINT [PK_CARD_TEMP] PRIMARY KEY CLUSTERED 
(
	[ACCT_NO] ASC,
	[BANK_CODE] ASC,
	[TRADE_DATE] ASC,
	[TRADE_TIME] ASC,
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__TRADE__396E5EB4]  DEFAULT ('00000000') FOR [TRADE_DATE]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__TRADE__3A6282ED]  DEFAULT ('000000') FOR [TRADE_TIME]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__SEQ__3B56A726]  DEFAULT ('1') FOR [SEQ]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__ADMIN__3C4ACB5F]  DEFAULT ('Y') FOR [ADMIN_GU]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__ADMIN__3D3EEF98]  DEFAULT ((0)) FOR [ADMIN_AMT]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__DOCU___3E3313D1]  DEFAULT ('0') FOR [DOCU_STAT]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__INSER__3F27380A]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__INSER__401B5C43]  DEFAULT ('000000') FOR [INSERT_TIME]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__DATA___410F807C]  DEFAULT ((0)) FOR [DATA_NO]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__LINE___4203A4B5]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__SUPPL__43EBED27]  DEFAULT ((0)) FOR [SUPPLY_AMT]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__VAT_A__44E01160]  DEFAULT ((0)) FOR [VAT_AMT]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__SERVI__45D43599]  DEFAULT ((0)) FOR [SERVICE_CHARGE]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__ANNUA__46C859D2]  DEFAULT ((0)) FOR [ANNUAL_FEE]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__DELAY__47BC7E0B]  DEFAULT ((0)) FOR [DELAY_CHARGE]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__EXCHA__48B0A244]  DEFAULT ((0)) FOR [EXCHANGE_COMMISION]
GO
ALTER TABLE [DZAIS].[CARD_TEMP] ADD  CONSTRAINT [DF__CARD_TEMP__INSER__4F5D9FD3]  DEFAULT (CONVERT([varchar],getdate(),(121))) FOR [INSERT_DT]
GO
