USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVDISUSE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVDISUSE](
	[CO_CD] [nvarchar](7) NOT NULL,
	[DIV_CD] [nvarchar](7) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[SEQ_NB] [numeric](5, 0) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[TR_CD] [nvarchar](10) NULL,
	[TR_NM] [nvarchar](40) NULL,
	[TAX_FG] [nvarchar](3) NULL,
	[DOCU_FG] [nvarchar](3) NULL,
	[WORK_FG] [nvarchar](1) NULL,
	[PUR_DT] [nvarchar](8) NULL,
	[ITEM_DC] [nvarchar](40) NULL,
	[PUR_QT] [numeric](15, 4) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[TAXRT_FG] [nvarchar](1) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[REG_NB] [nvarchar](100) NULL,
	[ADDR] [nvarchar](60) NULL,
	[RMK_DC] [nvarchar](40) NULL,
	[ISU_DT] [nvarchar](8) NULL,
	[ISU_SQ] [numeric](5, 0) NULL,
	[LN_SQ] [numeric](3, 0) NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [nvarchar](15) NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [nvarchar](15) NULL,
	[DUMMY1] [nvarchar](20) NULL,
	[DUMMY2] [nvarchar](20) NULL,
	[DUMMY3] [numeric](18, 0) NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[DATA_CD] [varchar](50) NULL,
	[MATT_CNT] [numeric](15, 4) NOT NULL,
	[NO_CAR] [nvarchar](20) NULL,
	[NO_CARBODY] [nvarchar](17) NULL,
 CONSTRAINT [PK_AVDISUSE] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[SEQ_NB] ASC,
	[SINGO_FG] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__PUR_DT__10174366]  DEFAULT ('00000000') FOR [PUR_DT]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__PUR_QT__110B679F]  DEFAULT ((0)) FOR [PUR_QT]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__SUP_AM__11FF8BD8]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__TAXRT___12F3B011]  DEFAULT ('1') FOR [TAXRT_FG]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__VAT_AM__13E7D44A]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__ISU_DT__14DBF883]  DEFAULT ('00000000') FOR [ISU_DT]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__ISU_SQ__15D01CBC]  DEFAULT ((0)) FOR [ISU_SQ]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__LN_SQ__16C440F5]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__INSERT__17B8652E]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__MODIFY__18AC8967]  DEFAULT (getdate()) FOR [MODIFY_DT]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__SINGO___19A0ADA0]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVDISUSE] ADD  CONSTRAINT [DF__AVDISUSE__MATT_C__1A94D1D9]  DEFAULT ((1)) FOR [MATT_CNT]
GO
