USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SDIV]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE    VIEW [DZAIS].[SDIV]   
AS  
SELECT  DISTINCT A.C_CODE CO_CD,  
 A.NODE_CODE DIV_CD,  
 A.NODE_NAME DIV_NM,  
 A.NODE_SANO REG_NB,  
 A.BOSS_ID CO_NB,  
 P.KNAME CEO_NM,  
 A.C_POST DIV_ZIP     ,  
 A.C_ADDR DIV_ADDR     ,  
 '' DIV_ADDR1     ,  
 '' DIV_DDD     ,  
 A.C_PHONE DIV_TEL     ,  
 ''  DIV_TEL2     ,  
 A.C_FAX DIV_FAX     ,  
 A.UPTEA BUSINESS     ,  
 A.UPJONG JONGMOK     ,  
 A.SDATE OPEN_DT     ,  
 CASE WHEN RTRIM(A.TDATE) = '' THEN NULL ELSE A.TDATE END  CLOSE_DT     ,  
 A.TAX_CODE DIV_TO_CD     ,  
 '' DIV_RAW_CD     ,  
 '0' FILL_YN     ,  
 A.JUMIN_CODE RES_TAX     ,  
 '' INSERT_DT   ,  
 '' INSERT_ID     ,  
 '' INSERT_IP     ,  
 '' MODIFY_DT   ,  
 '' MODIFY_ID     ,  
 '' MODIFY_IP     ,  
-- A.BS_GUBUN DUMMY1     ,  
 '0' DUMMY1     ,  
 '' DUMMY2     ,  
 A.SINGO_ID DUMMY3     ,  
 A.BUSINESS_TYPE BUSINESS_CD     ,  
 A.C_ENAME DIV_NMENG     ,  
 A.E_MAIL EMAIL_ADDR     ,  
 '' DIV_NMK    ,  
 A.E_NAME FORE_CEO_NM     ,  
 A.E_ADDR FORE_DIV_ADDR     ,  
 '' FORE_DIV_ADDR1     ,  
 A.E_PHONE FORE_DIV_TEL     ,  
 A.E_FAX FORE_DIV_FAX     ,  
 '' HTS_FG     ,  
 A.MOBIL_PHONE MOBILE_TEL     ,  
 A.LIQUOR LIQ_DIV,
 A.NODE_NAME DIV_NM_TAX,
 CASE WHEN RTRIM(LTRIM(ISNULL(D.CTR_CD, ''))) + RTRIM(LTRIM(ISNULL(D.FG_TY,''))) + ISNULL(C.TP_ADS, '0') = '3121' THEN A.C_ADDR ELSE '' END NADD1,
 '' NADD2,
 '' NADD3,
 '' NADD4,
 '' NADD5,
 '' NADD6,
 '' NADD7,
 '' NADD8
FROM BASE.DZBASE.STANDARD_SBU A 
LEFT OUTER JOIN BASE.DZBASE.PERINFO P  
 ON A.C_CODE =  P.C_CODE AND A.BOSS_SNO = P.SNO  
LEFT OUTER JOIN BASE.DZBASE.AVDIV_D C
 ON A.C_CODE = C.CO_CD AND A.NODE_CODE = C.DIV_CD
LEFT OUTER JOIN BASE.DZBASE.SYSCFG D
 ON A.C_CODE = D.CO_CD 


GO
