USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SCLOSE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SCLOSE](
	[CO_CD] [varchar](7) NOT NULL,
	[MODULE_CD] [varchar](1) NOT NULL,
	[CLOSE_CD] [varchar](2) NOT NULL,
	[CLOSE_NM] [varchar](20) NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[CLOSE_DT] [varchar](8) NULL,
	[CLOSE_YN] [varchar](1) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [varchar](15) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [varchar](15) NULL,
	[CLOSE_NMK] [varchar](20) NULL,
 CONSTRAINT [PK_SCLOSE] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[MODULE_CD] ASC,
	[CLOSE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[SCLOSE] ADD  CONSTRAINT [DF__SCLOSE__CLOSE_CD__015F0FBB]  DEFAULT ('0') FOR [CLOSE_CD]
GO
ALTER TABLE [DZAIS].[SCLOSE] ADD  CONSTRAINT [DF__SCLOSE__CLOSE_DT__025333F4]  DEFAULT ('00000000') FOR [CLOSE_DT]
GO
ALTER TABLE [DZAIS].[SCLOSE] ADD  CONSTRAINT [DF__SCLOSE__CLOSE_YN__0347582D]  DEFAULT ('1') FOR [CLOSE_YN]
GO
ALTER TABLE [DZAIS].[SCLOSE] ADD  CONSTRAINT [DF__SCLOSE__INSERT_D__043B7C66]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
ALTER TABLE [DZAIS].[SCLOSE] ADD  CONSTRAINT [DF__SCLOSE__MODIFY_D__052FA09F]  DEFAULT (getdate()) FOR [MODIFY_DT]
GO
