USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PATISAVE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PATISAVE](
	[C_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[PAT_CODE] [varchar](3) NOT NULL,
	[PAT_COUNT] [numeric](15, 0) NOT NULL,
	[PAT_CHNAME] [varchar](50) NULL,
	[NOTE_NAME] [varchar](50) NULL,
	[START_AMT] [numeric](15, 0) NULL,
	[INCREASE_AMT] [numeric](15, 0) NULL,
	[DECREASE_AMT] [numeric](15, 0) NULL,
	[END_AMT] [numeric](15, 0) NULL,
	[BIGO] [varchar](50) NULL,
 CONSTRAINT [PK_PATISAVE] PRIMARY KEY CLUSTERED 
(
	[PAT_CODE] ASC,
	[PAT_COUNT] ASC,
	[GISU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
