USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PRTINFO]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PRTINFO](
	[PRT_NO] [numeric](4, 0) NOT NULL,
	[PRT_NAME] [varchar](60) NULL,
	[PRT_JOB] [numeric](4, 0) NOT NULL,
	[M_LEFT] [numeric](5, 0) NOT NULL,
	[M_RIGHT] [numeric](5, 0) NOT NULL,
	[M_TOP] [numeric](5, 0) NOT NULL,
	[M_BOTTOM] [numeric](5, 0) NOT NULL,
	[M_HEIGHT] [numeric](5, 0) NOT NULL,
	[M_WIDTH] [numeric](5, 0) NOT NULL,
 CONSTRAINT [PK_PRTINFO] PRIMARY KEY CLUSTERED 
(
	[PRT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[PRTINFO] ADD  CONSTRAINT [DF_PRTINFO_PRT_NO]  DEFAULT ((0)) FOR [PRT_NO]
GO
ALTER TABLE [DZAIS].[PRTINFO] ADD  CONSTRAINT [DF_PRTINFO_PRT_JOB]  DEFAULT ((0)) FOR [PRT_JOB]
GO
ALTER TABLE [DZAIS].[PRTINFO] ADD  CONSTRAINT [DF_PRTINFO_M_LEFT]  DEFAULT ((0)) FOR [M_LEFT]
GO
ALTER TABLE [DZAIS].[PRTINFO] ADD  CONSTRAINT [DF_PRTINFO_M_RIGHT]  DEFAULT ((0)) FOR [M_RIGHT]
GO
ALTER TABLE [DZAIS].[PRTINFO] ADD  CONSTRAINT [DF_PRTINFO_M_TOP]  DEFAULT ((0)) FOR [M_TOP]
GO
ALTER TABLE [DZAIS].[PRTINFO] ADD  CONSTRAINT [DF_PRTINFO_M_BOTTOM]  DEFAULT ((0)) FOR [M_BOTTOM]
GO
ALTER TABLE [DZAIS].[PRTINFO] ADD  CONSTRAINT [DF_PRTINFO_M_HEIGHT]  DEFAULT ((0)) FOR [M_HEIGHT]
GO
ALTER TABLE [DZAIS].[PRTINFO] ADD  CONSTRAINT [DF_PRTINFO_M_WIDTH]  DEFAULT ((0)) FOR [M_WIDTH]
GO
