USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVASSET_CVTD]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVASSET_CVTD](
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[CO_CD] [varchar](4) NOT NULL,
	[DIV_CD] [varchar](4) NOT NULL,
	[LN_SQ] [varchar](5) NOT NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[ASSET_FG] [varchar](1) NOT NULL,
	[ASSET_QT] [numeric](15, 4) NOT NULL,
	[GET_DT] [varchar](8) NULL,
	[VAT_AM1] [numeric](17, 4) NOT NULL,
	[VAT_AM2] [numeric](17, 4) NOT NULL,
	[ASSET_LOC] [varchar](70) NULL,
 CONSTRAINT [PK_AVASSET_CVTD] PRIMARY KEY CLUSTERED 
(
	[FR_DT] ASC,
	[TO_DT] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTD] ADD  CONSTRAINT [DF__AVASSET_C__FR_DT__67152DD3]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTD] ADD  CONSTRAINT [DF__AVASSET_C__TO_DT__6809520C]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTD] ADD  CONSTRAINT [DF__AVASSET_C__LN_SQ__68FD7645]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTD] ADD  CONSTRAINT [DF__AVASSET_C__SINGO__69F19A7E]  DEFAULT ((0)) FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTD] ADD  CONSTRAINT [DF__AVASSET_C__ASSET__6AE5BEB7]  DEFAULT ((0)) FOR [ASSET_QT]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTD] ADD  CONSTRAINT [DF__AVASSET_C__GET_D__6BD9E2F0]  DEFAULT ('00000000') FOR [GET_DT]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTD] ADD  CONSTRAINT [DF__AVASSET_C__VAT_A__6CCE0729]  DEFAULT ((0)) FOR [VAT_AM1]
GO
ALTER TABLE [DZAIS].[AVASSET_CVTD] ADD  CONSTRAINT [DF__AVASSET_C__VAT_A__6DC22B62]  DEFAULT ((0)) FOR [VAT_AM2]
GO
