USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[B2BREQSTATE_DT]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[B2BREQSTATE_DT](
	[ADDDATE] [varchar](8) NOT NULL,
	[USERID] [varchar](10) NOT NULL,
	[UPCHECODE] [varchar](4) NOT NULL,
	[UPCHEKEY] [varchar](20) NOT NULL,
	[TRCODE] [varchar](4) NOT NULL,
	[STATE] [varchar](1) NOT NULL,
	[LINENO] [int] NOT NULL,
	[FIELD1] [varchar](100) NULL,
	[FIELD2] [varchar](100) NULL,
	[FIELD3] [varchar](100) NULL,
	[FIELD4] [varchar](100) NULL,
	[FIELD5] [varchar](100) NULL,
	[FIELD6] [varchar](100) NULL,
	[FIELD7] [varchar](100) NULL,
	[FIELD8] [varchar](100) NULL,
	[FIELD9] [varchar](100) NULL,
	[FIELD10] [varchar](100) NULL,
	[FIELD11] [varchar](100) NULL,
	[FIELD12] [varchar](100) NULL,
	[FIELD13] [varchar](100) NULL,
	[FIELD14] [varchar](100) NULL,
	[FIELD15] [varchar](100) NULL,
	[FIELD16] [varchar](100) NULL,
	[FIELD17] [varchar](100) NULL,
	[FIELD18] [varchar](100) NULL,
	[FIELD19] [varchar](100) NULL,
	[FIELD20] [varchar](100) NULL,
	[ETC1] [varchar](100) NULL,
	[ETC2] [varchar](100) NULL,
	[ETC3] [varchar](100) NULL,
	[ETC4] [varchar](100) NULL,
	[ETC5] [varchar](100) NULL,
	[CREATEDATE] [varchar](8) NOT NULL,
	[CREATETIME] [varchar](6) NOT NULL,
	[CHANGEDATE] [varchar](8) NULL,
	[CHANGETIME] [varchar](6) NULL,
 CONSTRAINT [PK_B2BREQSTATE_DT] PRIMARY KEY CLUSTERED 
(
	[ADDDATE] ASC,
	[USERID] ASC,
	[UPCHECODE] ASC,
	[UPCHEKEY] ASC,
	[TRCODE] ASC,
	[LINENO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7165A382]  DEFAULT (' ') FOR [FIELD1]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7259C7BB]  DEFAULT (' ') FOR [FIELD2]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__734DEBF4]  DEFAULT (' ') FOR [FIELD3]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7442102D]  DEFAULT (' ') FOR [FIELD4]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__75363466]  DEFAULT (' ') FOR [FIELD5]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__762A589F]  DEFAULT (' ') FOR [FIELD6]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__771E7CD8]  DEFAULT (' ') FOR [FIELD7]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7812A111]  DEFAULT (' ') FOR [FIELD8]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7906C54A]  DEFAULT (' ') FOR [FIELD9]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__79FAE983]  DEFAULT (' ') FOR [FIELD10]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7AEF0DBC]  DEFAULT (' ') FOR [FIELD11]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7BE331F5]  DEFAULT (' ') FOR [FIELD12]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7CD7562E]  DEFAULT (' ') FOR [FIELD13]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7DCB7A67]  DEFAULT (' ') FOR [FIELD14]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7EBF9EA0]  DEFAULT (' ') FOR [FIELD15]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__7FB3C2D9]  DEFAULT (' ') FOR [FIELD16]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__00A7E712]  DEFAULT (' ') FOR [FIELD17]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__019C0B4B]  DEFAULT (' ') FOR [FIELD18]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__02902F84]  DEFAULT (' ') FOR [FIELD19]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTA__FIELD__038453BD]  DEFAULT (' ') FOR [FIELD20]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTAT__ETC1__047877F6]  DEFAULT (' ') FOR [ETC1]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTAT__ETC2__056C9C2F]  DEFAULT (' ') FOR [ETC2]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTAT__ETC3__0660C068]  DEFAULT (' ') FOR [ETC3]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTAT__ETC4__0754E4A1]  DEFAULT (' ') FOR [ETC4]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE_DT] ADD  CONSTRAINT [DF__B2BREQSTAT__ETC5__084908DA]  DEFAULT (' ') FOR [ETC5]
GO
