USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VBASE_TPOST]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [DZAIS].[VBASE_TPOST] AS SELECT * FROM BASE.DZBASE.TPOST


GO
