USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPD_DOCUEXCH_BAN_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [DZAIS].[UPD_DOCUEXCH_BAN_A]
(@OLD_C_CODE VARCHAR(4),         @OLD_NODE_CODE CHAR(4),
 @OLD_DEPT_CODE VARCHAR(12), @OLD_DECI_DATE CHAR(8),
 @OLD_DECI_NO NUMERIC(4),     @OLD_LINE_NO NUMERIC(4),
 @OLD_SLIP_NO  NUMERIC(4),     @OLD_EXCH_AMT  NUMERIC(15,4)
)
AS

DECLARE
		@O_BAN_DECI_DATE CHAR(8),
		@O_BAN_DECI_NO   NUMERIC(4),
		@O_BAN_LINE_NO   NUMERIC(4),
		@O_BAN_NODE_CODE CHAR(4),
		@O_BAN_DEPT_CODE VARCHAR(12),
		@O_BAN_SLIP_NO   NUMERIC(4),
	        @ERR_NO          NUMERIC,
                @cnt             NUMERIC,
	        @err_msg         VARCHAR(100)

BEGIN
	 SELECT @O_BAN_DECI_DATE = BAN_DECI_DATE,  @O_BAN_DECI_NO =   BAN_DECI_NO,
	        @O_BAN_LINE_NO =   BAN_LINE_NO,    @O_BAN_SLIP_NO =   BAN_SLIP_NO,
	        @O_BAN_NODE_CODE = BAN_NODE_CODE,  @O_BAN_DEPT_CODE = BAN_DEPT_CODE
	   FROM DOCUD
	  WHERE DECI_DATE = @OLD_DECI_DATE
	    AND DECI_NO   = @OLD_DECI_NO
	    AND LINE_NO   = @OLD_LINE_NO
	    AND SLIP_NO   = @OLD_SLIP_NO
	    AND DEPT_CODE = @OLD_DEPT_CODE
	    AND NODE_CODE = @OLD_NODE_CODE
	    AND C_CODE    = @OLD_C_CODE

     IF	@@ROWCOUNT = 0
     BEGIN
           SELECT @O_BAN_DECI_NO = 0, @O_BAN_LINE_NO = 0
     END

	 IF ( @O_BAN_DECI_DATE IS NOT NULL AND @O_BAN_DECI_NO > 0
	    AND @O_BAN_LINE_NO > 0  )
	  	BEGIN
		     UPDATE DOCUBAN
		        SET EXCH_BAN_AMT = EXCH_BAN_AMT -  ISNULL(@OLD_EXCH_AMT, 0)
			      WHERE C_CODE = @OLD_C_CODE
			        AND NODE_CODE = @O_BAN_NODE_CODE
			        AND DEPT_CODE = @O_BAN_DEPT_CODE
			        AND DECI_DATE = @O_BAN_DECI_DATE
			        AND DECI_NO = @O_BAN_DECI_NO
			        AND LINE_NO = @O_BAN_LINE_NO
			        AND SLIP_NO = @O_BAN_SLIP_NO
		END

RETURN 0
ON_ERROR:
    RAISERROR ('%d,%s',16,1,300021,'UPD_DOCUEXCH_BAN_A프로시져처리중 에러 발생')
    ROLLBACK  TRANSACTION
END

GO
