USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VENDOR]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW [DZAIS].[VENDOR]
(
      C_CODE,     VEN_CODE,   VEN_NAME,   CUST_SORT,  CUST_TYPE,  S_IDNO,     DNAME,      
      TEL_NO,     TEL_NO2,    FAX_NO,     TELX_NO,    MAIL_NO,    S_ADDRESS,  UPTAE,
      JONG,       ID_NO,      DTEL_NOT,   CUST_DAM,   CHAN_AMT,   FTRAD_DATE, NO_EMP_S,
      NM_CUST_E,  DC_ADDR_E,  FG_SALE,    MD_GUBUN,   PAY_METH,   PAY_TIME,   PAY_TERM,
      DEPOSIT_NO, TAX_METHOD, TRADE_ITEM, DC_ADDR_E2, DC_ADDR_E3, CHECKD_CODE, SUM_CODE, CUST_MAIL, CUST_PHONE, DEPOSITOR
)AS
SELECT
      C_CODE,     CUST_CODE,  CUST_NAME,  CUST_SORT,  CUST_TYPE,  S_IDNO,     DNAME,
      TEL_NO,     TEL_NO2,    FAX_NO,     TELX_NO,    MAIL_NO,    S_ADDRESS,  UPTAE,
      JONG,       ID_NO,      DTEL_NOT,   CUST_DAM,   CHAN_AMT,   FTRAD_DATE, NO_EMP_S,
      NM_CUST_E,  DC_ADDR_E,  FG_SALE,    MD_GUBUN,   PAY_METH,   PAY_TIME,   PAY_TERM,
      DEPOSIT_NO, TAX_METHOD, TRADE_ITEM, DC_ADDR_E2, DC_ADDR_E3, CHECKD_CODE, SUM_CODE, CUST_MAIL, CUST_PHONE, DEPOSITOR 
FROM
      BASE.DZBASE.TRADE


GO
