USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[USERADMIN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[USERADMIN](
	[C_CODE] [varchar](4) NOT NULL,
	[SA_CODE] [varchar](10) NOT NULL,
	[PASSWD] [varchar](10) NOT NULL,
	[OUT_LIMIT] [char](1) NOT NULL,
	[PRD_LIMIT] [char](1) NOT NULL,
	[MTRL_LIMIT] [char](1) NOT NULL,
	[PUR_LIMIT] [char](1) NOT NULL,
	[SALE_LIMIT] [char](1) NOT NULL,
	[INSA_LIMIT] [char](1) NOT NULL,
	[ACCT_LIMIT] [char](1) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[DOCUD_LIMIT] [char](1) NULL,
 CONSTRAINT [PK_USERADMIN] PRIMARY KEY CLUSTERED 
(
	[SA_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[USERADMIN] ADD  CONSTRAINT [DF_USERADMIN_OUT_LIMIT]  DEFAULT ('0') FOR [OUT_LIMIT]
GO
ALTER TABLE [DZAIS].[USERADMIN] ADD  CONSTRAINT [DF_USERADMIN_PRD_LIMIT]  DEFAULT ('0') FOR [PRD_LIMIT]
GO
ALTER TABLE [DZAIS].[USERADMIN] ADD  CONSTRAINT [DF_USERADMIN_MTRL_LIMIT]  DEFAULT ('0') FOR [MTRL_LIMIT]
GO
ALTER TABLE [DZAIS].[USERADMIN] ADD  CONSTRAINT [DF_USERADMIN_PUR_LIMIT]  DEFAULT ('0') FOR [PUR_LIMIT]
GO
ALTER TABLE [DZAIS].[USERADMIN] ADD  CONSTRAINT [DF_USERADMIN_SALE_LIMIT]  DEFAULT ('0') FOR [SALE_LIMIT]
GO
ALTER TABLE [DZAIS].[USERADMIN] ADD  CONSTRAINT [DF_USERADMIN_INSA_LIMIT]  DEFAULT ('0') FOR [INSA_LIMIT]
GO
ALTER TABLE [DZAIS].[USERADMIN] ADD  CONSTRAINT [DF_USERADMIN_ACCT_LIMIT]  DEFAULT ('0') FOR [ACCT_LIMIT]
GO
ALTER TABLE [DZAIS].[USERADMIN] ADD  CONSTRAINT [DF_USERADMIN_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[USERADMIN] ADD  CONSTRAINT [DF_USERADMIN_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
