USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CARDSUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CARDSUM](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[FROMTO_DAY] [varchar](16) NOT NULL,
	[AMT01] [numeric](15, 0) NOT NULL,
	[AMT02] [numeric](15, 0) NOT NULL,
	[AMT03] [numeric](15, 0) NOT NULL,
	[AMT04] [numeric](15, 0) NOT NULL,
	[AMT05] [numeric](15, 0) NOT NULL,
	[AMT06] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[AMT07] [numeric](15, 0) NOT NULL,
	[AMT08] [numeric](15, 0) NOT NULL,
	[AMT09] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_CARDSUM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[FROMTO_DAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__AMT01__3F51553C]  DEFAULT ((0)) FOR [AMT01]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__AMT02__40457975]  DEFAULT ((0)) FOR [AMT02]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__AMT03__41399DAE]  DEFAULT ((0)) FOR [AMT03]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__AMT04__422DC1E7]  DEFAULT ((0)) FOR [AMT04]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__AMT05__4321E620]  DEFAULT ((0)) FOR [AMT05]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__AMT06__44160A59]  DEFAULT ((0)) FOR [AMT06]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__TAX_GUB__5A8F5B5D]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__AMT07__46535886]  DEFAULT ((0)) FOR [AMT07]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__AMT08__47477CBF]  DEFAULT ((0)) FOR [AMT08]
GO
ALTER TABLE [DZAIS].[CARDSUM] ADD  CONSTRAINT [DF__CARDSUM__AMT09__0DA4EB0F]  DEFAULT ((0)) FOR [AMT09]
GO
