USE [DZAIS]
GO
/****** Object:  View [DZAIS].[STRADE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW [DZAIS].[STRADE]
(CO_CD, TR_CD, TR_NM, ATTR_NM, TR_FG, 
 REG_NB, CEO_NM, BUSINESS, JONGMOK, DIV_ADDR1, 
 ADDR2, BA_NB, JIRO_CD, LIQ_RS, TEL, 
 EMAIL, PPL_NB, LIQ_WS, DUMMY2)
AS 
SELECT
	C_CODE CO_CD,
 	S_IDNO TR_CD,
 	VEN_NAME TR_NM,
 	ISNULL(VEN_NAME,'*')  ATTR_NM,
	CASE WHEN LEN(ISNULL(S_IDNO,'1')) = '13' THEN '3' ELSE '1' END TR_FG,  			-- 1.주요, 2.주민
	S_IDNO REG_NB,
 	--B.ID_NO PPL_NB,
 	DNAME CEO_NM,
 	WORKTYPE BUSINESS,
 	WORKKIND JONGMOK,
 	ADDR DIV_ADDR1,
	''  ADDR2,
	'' BA_NB,
	''  JIRO_CD,   --***********************************
	LIQUOR LIQ_RS,
	CUST_PHONE	TEL,
	CUST_MAIL	EMAIL
	,S_IDNO	PPL_NB
	,''		LIQ_WS		-- 신용카드구분 1.법인, 2.개인, 3.화물복지카드
	,'' DUMMY2			-- 부가세신고서 금융기관 도움창 때문에 임의로 생성함
FROM  BASE.DZBASE.VENDOR_NO
UNION ALL
SELECT	C_CODE CO_CD,
 	CARDNO TR_CD,
 	CARD_NAME TR_NM,
 	CARD_NAME  ATTR_NM,
	'9'  TR_FG,
 	S_IDNO REG_NB,
 	SA_CODE CEO_NM,
 	'' BUSINESS,
 	'' JONGMOK,
 	'' DIV_ADDR1,
	''  ADDR2,
	CARDNO	BA_NB,    --신용카드번호	
	'' JIRO_CD,
	'0' LIQ_RS,
	''	TEL,
	'' EMAIL
	,''	PPL_NB
	,CARD_GU		LIQ_WS		-- 신용카드구분 1.법인, 2.개인, 3.화물복지카드
	,'' DUMMY2			-- 부가세신고서 금융기관 도움창 때문에 임의로 생성함
FROM CARDMANA
UNION ALL
SELECT	C_CODE CO_CD,
 	CARD_NO TR_CD,
 	CARD_NAME TR_NM,
 	CARD_NAME  ATTR_NM,
	'8'  TR_FG,
 	RELAT_NO REG_NB,
 	'' CEO_NM,
 	'' BUSINESS,
 	'' JONGMOK,
 	'' DIV_ADDR1,
	''  ADDR2,
	'' BA_NB,
 	'' JIRO_CD,
	'0' LIQ_RS,
	''	TEL,
	'' EMAIL
	,''	PPL_NB
	,''		LIQ_WS		-- 신용카드구분 1.법인, 2.개인, 3.화물복지카드
	,'' DUMMY2			-- 부가세신고서 금융기관 도움창 때문에 임의로 생성함
FROM CARD

GO
