USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[NOTECHECK]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[NOTECHECK](
	[NOTENO_FROM] [varchar](12) NOT NULL,
	[NOTENO_TO] [varchar](12) NOT NULL,
	[BILL_TYPE] [char](1) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[REC_DATE] [char](8) NOT NULL,
	[ISS_BANK] [varchar](3) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[MAE_NO] [decimal](4, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_NOTECHECK] PRIMARY KEY NONCLUSTERED 
(
	[NOTENO_FROM] ASC,
	[BILL_TYPE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIDX_NOTECHECK]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIDX_NOTECHECK] ON [DZAIS].[NOTECHECK]
(
	[NOTENO_TO] ASC,
	[BILL_TYPE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[NOTECHECK]  WITH CHECK ADD CHECK  (([REC_DATE]='00000000' OR [REC_DATE]>'19500101' AND [REC_DATE]<'21000101' AND CONVERT([datetime],[REC_DATE])=CONVERT([datetime],[REC_DATE])))
GO
