USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_IMDAEBOJUNGKUM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 

CREATE   PROC [DZAIS].[USP_IPLUS_IMDAEBOJUNGKUM]
(
	@CO_CD				VARCHAR(4), 		-- 회사코드 ( 필수 )
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8),  
	@CVTCD 			VARCHAR(5)  
)
AS
/*************************************************************************/
--설    명 : 회계관리 - 법인연동 - 임대보증금등의간주익금조정명세서
--수 정 자 : 김대영
--수정일자 : 2010/01/18
--수정내역 : 2010/01/18 : 신규 
/***/
BEGIN  

	-- EXEC [USP_IPLUS_COR_IMDAEBOJUNGKUM_SELECT] '','5000',6, '20090101','20091231',  '29400' 

	DECLARE @NEW_CO_CD VARCHAR(4) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD
	SELECT	X.FILL_DT DA_SLIP, X.DR_AM   MN_DR, X.CR_AM MN_CR ,  X.RMK_DC NM_REMARK 
	FROM 	(
		SELECT	D.ACCT_DATE AS FILL_DT, 
			D.DR_AMT DR_AM,
			D.CR_AMT CR_AM,
			'1' DATA_FG,
			D.NOTE_NAME RMK_DC
		FROM 	DOCUD D, 
			TAXACCTCODE S
		WHERE 	D.C_CODE = S.C_CODE
		AND	D.ACCT_CODE = S.ACCT_CODE
		AND	S.PLUS_ACCT_CODE = @CVTCD
		AND 	D.C_CODE = @NEW_CO_CD
		AND	D.ACCT_DATE BETWEEN @FR_DT AND @TO_DT 
		UNION ALL
		SELECT	LEFT(@FR_DT, 4) + '0000' AS FILL_DT, 
			CASE WHEN C.DRCR_GUBUN = '1' THEN D.AMT ELSE 0 END DR_AM,
			CASE WHEN C.DRCR_GUBUN = '2' THEN D.AMT ELSE 0 END CR_AM,
			'0' DATA_FG , 
			'' RMK_DC 
		FROM 	PREV_BS D, 
			TAXACCTCODE S, 
			ACCTCODE C
		WHERE 	D.C_CODE = S.C_CODE
		AND	D.ACCT_CODE = S.ACCT_CODE
		AND	D.C_CODE = C.C_CODE
		AND	D.ACCT_CODE = C.ACCT_CODE
		AND	S.PLUS_ACCT_CODE = @CVTCD
		AND 	D.C_CODE = @NEW_CO_CD
 		AND	D.GISU = CONVERT(INT, @GISU)  -- 기수
		) X 
	ORDER BY  X.FILL_DT

END

GO
