USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPU_DOCUD_DRCR_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE    PROCEDURE [DZAIS].[UPU_DOCUD_DRCR_A]
(@N_C_CODE VARCHAR(4),
 @N_BAN_NODE_CODE VARCHAR(4),
 @N_BAN_DEPT_CODE VARCHAR(12),
 @N_BAN_DECI_NO NUMERIC(4),
 @N_BAN_DECI_DATE CHAR(8),
 @N_BAN_SLIP_NO NUMERIC(4),
 @N_BAN_LINE_NO NUMERIC(4),
 @N_AMT_GUBUN CHAR(1),
 @O_DR_AMT NUMERIC(15),
 @O_CR_AMT NUMERIC(15),
 @N_DR_AMT NUMERIC(15),
 @N_CR_AMT NUMERIC(15),
 @N_ACCT_CODE CHAR(5),
 @N_DUE_DATE CHAR(8),
 @N_VEN_CODE VARCHAR(6)
)
AS
/*************************************************************************
            설    명 : 전표 수정시 차/대 체크 루틴
            개 발 자 : 이 주 환
            개발일자 : 1999/07/13
**************************************************************************/

BEGIN
DECLARE
	@ERR_NO  INT,
	@cnt INT,
	@err_msg    VARCHAR(100),
	@s_duedate  CHAR(8),
	@s_vencode  VARCHAR(6),
	@s_gubuncode VARCHAR(2)

IF ( @N_AMT_GUBUN <> '1' AND @N_AMT_GUBUN <> '2'
     AND @N_AMT_GUBUN <> '3' AND @N_AMT_GUBUN <> '4' )
BEGIN
      SELECT @ERR_NO = 20001
      RAISERROR (@ERR_NO, 16, -1, '전표구분이 맞는지 다시 확인하십시요!')
END

--  차대변중에 하나는 반드시 0인가 체크.
IF ( (@O_DR_AMT <> 0 AND @O_CR_AMT <> 0)
   OR (@N_DR_AMT <> 0 AND @N_CR_AMT <> 0) )
BEGIN
   SELECT @ERR_NO = 20002
   RAISERROR  (@ERR_NO, 16, -1, '차/대변값을 동시에 받을수 없으니 확인하십시요!')
END

IF ( @N_BAN_DECI_DATE <> '00000000' OR @N_BAN_DECI_NO > 0 )
BEGIN
	SELECT @s_vencode = VEN_CODE, @s_duedate = DUE_DATE
	  FROM DOCUBAN
	 WHERE DECI_NO = @N_BAN_DECI_NO
		AND DECI_DATE = @N_BAN_DECI_DATE
		AND LINE_NO = @N_BAN_LINE_NO
		AND SLIP_NO = @N_BAN_SLIP_NO
		AND DEPT_CODE = @N_BAN_DEPT_CODE
		AND NODE_CODE = @N_BAN_NODE_CODE
		AND C_CODE = @N_C_CODE

--	IF ( @s_vencode <> @N_VEN_CODE )
	IF RTRIM(ISNULL(@s_vencode,'')) <> RTRIM(ISNULL(@N_VEN_CODE,''))
	 BEGIN
	   	SELECT @ERR_NO = 20003
		RAISERROR (@ERR_NO, 16, -1, '원인전표의 거래처값과 다릅니다!')
	 END
END
RETURN 
ON_ERROR:
    RAISERROR (@ERR_NO, 16, -1, @err_msg)
    ROLLBACK  TRANSACTION
END


GO
