USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DEBT_PAY]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DEBT_PAY](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[PAY_NO] [varchar](20) NOT NULL,
	[PAY_LINE] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[SA_CODE] [varchar](12) NOT NULL,
	[PAY_DATE] [char](8) NOT NULL,
	[VEN_CODE] [varchar](6) NULL,
	[PAY_GUBUN] [varchar](3) NOT NULL,
	[DOCUD_GUBUN] [char](1) NOT NULL,
	[BANK_CODE] [varchar](3) NULL,
	[VENDOR_DEPOSIT] [varchar](20) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[BILL_NO] [varchar](12) NULL,
	[ISS_DATE] [char](8) NULL,
	[DUE_DATE] [char](8) NULL,
	[BIGO] [varchar](50) NULL,
	[CARD_NO] [varchar](20) NULL,
 CONSTRAINT [PK_DEBT_PAY] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[PAY_NO] ASC,
	[PAY_LINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DEBT_PAY] ADD  CONSTRAINT [DF__DEBT_PAY__DOCUD___013F142A]  DEFAULT ('0') FOR [DOCUD_GUBUN]
GO
