USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DEPTCODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DEPTCODE](
	[C_CODE] [varchar](4) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[CD_BUMUN] [char](4) NULL,
	[DEPT_NAME] [varchar](30) NULL,
	[BOSS_SNO] [varchar](16) NULL,
	[FDATE] [char](8) NULL,
	[TDATE] [char](8) NULL,
 CONSTRAINT [PK_DEPTCODE] PRIMARY KEY NONCLUSTERED 
(
	[C_CODE] ASC,
	[DEPT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DEPTCODE]  WITH CHECK ADD CHECK  (([FDATE]='00000000' OR [FDATE]>'19500101' AND [FDATE]<'21000101' AND CONVERT([datetime],[FDATE])=CONVERT([datetime],[FDATE])))
GO
ALTER TABLE [DZAIS].[DEPTCODE]  WITH CHECK ADD CHECK  (([TDATE]='00000000' OR [TDATE]>'19500101' AND [TDATE]<'21000101' AND CONVERT([datetime],[TDATE])=CONVERT([datetime],[TDATE])))
GO
