USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[COMPANYINFO]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[COMPANYINFO](
	[C_CODE] [varchar](4) NOT NULL,
	[C_NAME] [varchar](50) NULL,
	[GISU] [varchar](3) NOT NULL,
	[FDATE] [char](8) NOT NULL,
	[TDATE] [char](8) NOT NULL,
	[BG_GUBUN] [char](1) NULL,
	[OWNER_NAME] [varchar](20) NULL,
	[DPOST_NO] [char](8) NULL,
	[OWNER_ADDR] [varchar](100) NULL,
	[BPOST_NO] [char](8) NULL,
	[ADDR] [varchar](100) NULL,
	[S_IDNO] [varchar](10) NULL,
	[C_IDNO] [varchar](13) NULL,
	[WORKTYPE] [varchar](30) NULL,
	[WORKKIND] [varchar](30) NULL,
	[SPHONE] [varchar](20) NULL,
	[CPHONE] [varchar](20) NULL,
	[HPHONE] [varchar](20) NULL,
	[B_GUBUN] [char](1) NULL,
	[J_GUBUN] [char](1) NULL,
	[J_YN] [char](1) NULL,
	[BEGIN_YMD] [char](8) NULL,
	[STRU_YMD] [char](8) NULL,
	[CLOSE_YMD] [char](8) NULL,
	[P_IDNO] [varchar](13) NULL,
	[PLACE_GUBUN] [char](1) NULL,
	[JTAXPLACE] [varchar](20) NULL,
	[TOTACCEPT_NO] [varchar](7) NULL,
	[NM_CMPY_E] [varchar](50) NULL,
	[DC_ADDR_E] [varchar](100) NULL,
	[FG_PROC_W] [char](3) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_COMPANYINFO] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[COMPANYINFO] ADD  CONSTRAINT [DF_COMPANYINFO_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[COMPANYINFO] ADD  CONSTRAINT [DF_COMPANYINFO_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[COMPANYINFO]  WITH CHECK ADD CHECK  (([BEGIN_YMD]='00000000' OR [BEGIN_YMD]>'19500101' AND [BEGIN_YMD]<'21000101' AND CONVERT([datetime],[BEGIN_YMD])=CONVERT([datetime],[BEGIN_YMD])))
GO
ALTER TABLE [DZAIS].[COMPANYINFO]  WITH CHECK ADD CHECK  (([CLOSE_YMD]='00000000' OR [CLOSE_YMD]>'19500101' AND [CLOSE_YMD]<'21000101' AND CONVERT([datetime],[CLOSE_YMD])=CONVERT([datetime],[CLOSE_YMD])))
GO
ALTER TABLE [DZAIS].[COMPANYINFO]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[COMPANYINFO]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[COMPANYINFO]  WITH CHECK ADD CHECK  (([STRU_YMD]='00000000' OR [STRU_YMD]>'19500101' AND [STRU_YMD]<'21000101' AND CONVERT([datetime],[STRU_YMD])=CONVERT([datetime],[STRU_YMD])))
GO
