USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CREDIT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CREDIT](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[TAX_DATE] [char](12) NOT NULL,
	[GUBUN_CODE] [char](1) NOT NULL,
	[LINE_NO] [numeric](6, 0) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[CARD_CASH] [varchar](20) NOT NULL,
	[S_IDNO] [varchar](10) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[TOTAL_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_CREDIT] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[GISU_GUBUN] ASC,
	[TAX_DATE] ASC,
	[GUBUN_CODE] ASC,
	[LINE_NO] ASC,
	[BAL_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CREDIT] ADD  CONSTRAINT [DF__CREDIT__GONG_AMT__58DC1D15]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[CREDIT] ADD  CONSTRAINT [DF__CREDIT__TAX_AMT__59D0414E]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[CREDIT] ADD  CONSTRAINT [DF__CREDIT__TAX_GUBU__4E298478]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
ALTER TABLE [DZAIS].[CREDIT] ADD  CONSTRAINT [DF__CREDIT__TOTAL_AM__6AC5C326]  DEFAULT ((0)) FOR [TOTAL_AMT]
GO
