USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_VAT1]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_VAT1](
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_FROM] [char](8) NOT NULL,
	[DATE_TO] [char](8) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[VAT_GU] [char](1) NULL,
	[SA_01] [char](1) NULL,
	[SA_02] [numeric](10, 3) NOT NULL,
	[SA_03] [numeric](10, 3) NOT NULL,
	[SA_04] [numeric](10, 3) NOT NULL,
	[SA_05] [numeric](7, 0) NOT NULL,
	[SA_06] [numeric](7, 0) NOT NULL,
	[SA_07] [numeric](7, 0) NOT NULL,
	[SA_08] [char](1) NULL,
	[SA_09] [numeric](7, 0) NOT NULL,
	[SA_10] [numeric](7, 0) NOT NULL,
	[SA_11] [numeric](7, 0) NOT NULL,
	[SA_12] [numeric](7, 0) NOT NULL,
	[SA_13] [char](7) NULL,
	[SA_14] [numeric](11, 0) NOT NULL,
	[SA_15] [numeric](11, 0) NOT NULL,
	[SA_16] [numeric](11, 0) NOT NULL,
	[SA_17] [numeric](11, 0) NOT NULL,
	[SA_18] [numeric](11, 0) NOT NULL,
	[SA_19] [numeric](11, 0) NOT NULL,
	[SIN_01_AMT] [numeric](15, 0) NOT NULL,
	[SIN_02_AMT] [numeric](15, 0) NOT NULL,
	[SIN_03_AMT] [numeric](15, 0) NOT NULL,
	[SIN_04_AMT] [numeric](15, 0) NOT NULL,
	[SIN_05_AMT] [numeric](15, 0) NOT NULL,
	[SIN_06_AMT] [numeric](15, 0) NOT NULL,
	[SIN_06_TAX] [numeric](15, 0) NOT NULL,
	[SIN_07_AMT] [numeric](15, 0) NOT NULL,
	[SIN_07_TAX] [numeric](15, 0) NOT NULL,
	[SIN_08_AMT] [numeric](15, 0) NOT NULL,
	[SIN_08_TAX] [numeric](15, 0) NOT NULL,
	[SIN_09_AMT] [numeric](15, 0) NOT NULL,
	[SIN_09_TAX] [numeric](15, 0) NOT NULL,
	[SIN_10_AMT] [numeric](15, 0) NOT NULL,
	[SIN_12_AMT] [numeric](15, 0) NOT NULL,
	[SIN_14_TAX] [numeric](15, 0) NOT NULL,
	[SIN_15_TAX] [numeric](15, 0) NOT NULL,
	[SIN_16_AMT] [numeric](15, 0) NOT NULL,
	[SIN_17_TAX] [numeric](15, 0) NOT NULL,
	[SIN_18_TAX] [numeric](15, 0) NOT NULL,
	[SIN_20_AMT] [numeric](15, 0) NOT NULL,
	[GWA_22_UPTAE] [varchar](20) NULL,
	[GWA_22_JONG] [varchar](20) NULL,
	[GWA_22_AMT] [numeric](15, 0) NOT NULL,
	[GWA_23_UPTAE] [varchar](20) NULL,
	[GWA_23_JONG] [varchar](20) NULL,
	[GWA_23_AMT] [numeric](15, 0) NOT NULL,
	[GWA_24_UPTAE] [varchar](20) NULL,
	[GWA_24_JONG] [varchar](20) NULL,
	[GWA_24_AMT] [numeric](15, 0) NOT NULL,
	[GWA_25_UPTAE] [varchar](20) NULL,
	[GWA_25_JONG] [varchar](20) NULL,
	[GWA_25_AMT] [numeric](15, 0) NOT NULL,
	[GWA_26_AMT] [numeric](15, 0) NOT NULL,
	[YE_28_AMT] [numeric](15, 0) NOT NULL,
	[YE_29_AMT] [numeric](15, 0) NOT NULL,
	[YE_30_AMT] [numeric](15, 0) NOT NULL,
	[YE_31_AMT] [numeric](15, 0) NOT NULL,
	[ETC_33_AMT] [numeric](15, 0) NOT NULL,
	[ETC_33_TAX] [numeric](15, 0) NOT NULL,
	[ETC_34_AMT] [numeric](15, 0) NOT NULL,
	[ETC_35_AMT] [numeric](15, 0) NOT NULL,
	[ETC_36_TAX] [numeric](15, 0) NOT NULL,
	[ETC_37_TAX] [numeric](15, 0) NOT NULL,
	[NOT_39_AMT] [numeric](15, 0) NOT NULL,
	[NOT_39_TAX] [numeric](15, 0) NOT NULL,
	[NOT_40_AMT] [numeric](15, 0) NOT NULL,
	[NOT_40_TAX] [numeric](15, 0) NOT NULL,
	[NOT_41_AMT] [numeric](15, 0) NOT NULL,
	[NOT_41_TAX] [numeric](15, 0) NOT NULL,
	[JE_43_TAX] [numeric](15, 0) NOT NULL,
	[JE_43_AMT] [numeric](15, 0) NOT NULL,
	[JE_44_TAX] [numeric](15, 0) NOT NULL,
	[JE_44_AMT] [numeric](15, 0) NOT NULL,
	[GA_46_AMT] [numeric](15, 0) NOT NULL,
	[GA_46_TAX] [numeric](15, 0) NOT NULL,
	[GA_47_AMT] [numeric](15, 0) NOT NULL,
	[GA_47_TAX] [numeric](15, 0) NOT NULL,
	[GA_48_AMT] [numeric](15, 0) NOT NULL,
	[GA_49_AMT] [numeric](15, 0) NOT NULL,
	[MYUN_51_UPTAE] [varchar](20) NULL,
	[MYUN_51_JONG] [varchar](20) NULL,
	[MYUN_51_AMT] [numeric](15, 0) NOT NULL,
	[MYUN_52_UPTAE] [varchar](20) NULL,
	[MYUN_52_JONG] [varchar](20) NULL,
	[MYUN_52_AMT] [numeric](15, 0) NOT NULL,
	[MYUN_53_AMT] [numeric](15, 0) NOT NULL,
	[DAE_NAME] [varchar](20) NULL,
	[DAE_NO] [varchar](20) NULL,
	[DAE_TEL] [varchar](18) NULL,
	[BANK_NAME] [varchar](20) NULL,
	[BANK_JUM] [varchar](20) NULL,
	[BANK_NO] [varchar](20) NULL,
	[PEUP_DATE] [char](8) NULL,
	[PEUP_RMK] [varchar](40) NULL,
	[GA_47_1_AMT] [numeric](15, 0) NOT NULL,
	[GA_47_2_AMT] [numeric](15, 0) NOT NULL,
	[GA_47_3_AMT] [numeric](15, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[SA_031] [numeric](2, 0) NOT NULL,
	[SA_032] [numeric](2, 0) NOT NULL,
	[SIN_01_TAX] [numeric](15, 0) NOT NULL,
	[SIN_02_TAX] [numeric](15, 0) NOT NULL,
	[SIN_17_AMT] [numeric](15, 0) NOT NULL,
	[JE_43_TAX2] [numeric](15, 0) NOT NULL,
	[YE_28_TAX] [numeric](15, 0) NOT NULL,
	[YE_29_TAX] [numeric](15, 0) NOT NULL,
	[ETC_34_TAX] [numeric](15, 0) NOT NULL,
	[ETC_35_TAX] [numeric](15, 0) NOT NULL,
	[SIN_16_TAX] [numeric](15, 0) NOT NULL,
	[ETC_38_TAX] [numeric](15, 0) NOT NULL,
	[GA_47_1_TAX] [numeric](15, 0) NOT NULL,
	[GA_47_2_TAX] [numeric](15, 0) NOT NULL,
	[GA_47_3_TAX] [numeric](15, 0) NOT NULL,
	[GA_49_TAX] [numeric](15, 0) NOT NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [numeric](15, 0) NULL,
	[DUMMY4] [numeric](15, 0) NULL,
	[DUMMY5] [numeric](15, 0) NULL,
	[DUMMY6] [numeric](15, 0) NULL,
	[MYUN_63AMT] [numeric](15, 0) NOT NULL,
	[MYUN_64AMT] [numeric](15, 0) NOT NULL,
	[AMT01] [numeric](15, 0) NOT NULL,
	[AMT02] [numeric](15, 0) NOT NULL,
	[VAT01] [numeric](15, 0) NOT NULL,
	[VAT02] [numeric](15, 0) NOT NULL,
	[VAT03] [numeric](15, 0) NOT NULL,
	[VAT04] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[TAX01] [numeric](15, 0) NOT NULL,
	[SA_SELF_AMT] [numeric](15, 0) NOT NULL,
	[SA_SELF_TAX] [numeric](15, 0) NOT NULL,
	[SIN_SELF_AMT] [numeric](15, 0) NOT NULL,
	[SIN_SELF_TAX] [numeric](15, 0) NOT NULL,
	[GWA_TRANS] [numeric](15, 0) NOT NULL,
	[GA_50_AMT] [numeric](15, 0) NOT NULL,
	[GA_50_TAX] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_TAX_VAT1] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GISU] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[DATE_FROM] ASC,
	[DATE_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__DATE_F__656C112C]  DEFAULT ('00000000') FOR [DATE_FROM]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__DATE_T__66603565]  DEFAULT ('00000000') FOR [DATE_TO]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GISU__6754599E]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_02__68487DD7]  DEFAULT ((0)) FOR [SA_02]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_03__693CA210]  DEFAULT ((0)) FOR [SA_03]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_04__6A30C649]  DEFAULT ((0)) FOR [SA_04]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_05__6B24EA82]  DEFAULT ((0)) FOR [SA_05]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_06__6C190EBB]  DEFAULT ((0)) FOR [SA_06]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_07__6D0D32F4]  DEFAULT ((0)) FOR [SA_07]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_09__6E01572D]  DEFAULT ((0)) FOR [SA_09]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_10__6EF57B66]  DEFAULT ((0)) FOR [SA_10]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_11__6FE99F9F]  DEFAULT ((0)) FOR [SA_11]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_12__70DDC3D8]  DEFAULT ((0)) FOR [SA_12]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_14__71D1E811]  DEFAULT ((0)) FOR [SA_14]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_15__72C60C4A]  DEFAULT ((0)) FOR [SA_15]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_16__73BA3083]  DEFAULT ((0)) FOR [SA_16]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_17__74AE54BC]  DEFAULT ((0)) FOR [SA_17]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_18__75A278F5]  DEFAULT ((0)) FOR [SA_18]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_19__76969D2E]  DEFAULT ((0)) FOR [SA_19]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_01__778AC167]  DEFAULT ((0)) FOR [SIN_01_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_02__787EE5A0]  DEFAULT ((0)) FOR [SIN_02_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_03__797309D9]  DEFAULT ((0)) FOR [SIN_03_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_04__7A672E12]  DEFAULT ((0)) FOR [SIN_04_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_05__7B5B524B]  DEFAULT ((0)) FOR [SIN_05_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_06__7C4F7684]  DEFAULT ((0)) FOR [SIN_06_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_06__7D439ABD]  DEFAULT ((0)) FOR [SIN_06_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_07__7E37BEF6]  DEFAULT ((0)) FOR [SIN_07_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_07__7F2BE32F]  DEFAULT ((0)) FOR [SIN_07_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_08__00200768]  DEFAULT ((0)) FOR [SIN_08_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_08__01142BA1]  DEFAULT ((0)) FOR [SIN_08_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_09__02084FDA]  DEFAULT ((0)) FOR [SIN_09_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_09__02FC7413]  DEFAULT ((0)) FOR [SIN_09_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_10__03F0984C]  DEFAULT ((0)) FOR [SIN_10_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_12__04E4BC85]  DEFAULT ((0)) FOR [SIN_12_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_14__05D8E0BE]  DEFAULT ((0)) FOR [SIN_14_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_15__06CD04F7]  DEFAULT ((0)) FOR [SIN_15_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_16__07C12930]  DEFAULT ((0)) FOR [SIN_16_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_17__08B54D69]  DEFAULT ((0)) FOR [SIN_17_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_18__09A971A2]  DEFAULT ((0)) FOR [SIN_18_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_20__0A9D95DB]  DEFAULT ((0)) FOR [SIN_20_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GWA_22__0B91BA14]  DEFAULT ((0)) FOR [GWA_22_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GWA_23__0C85DE4D]  DEFAULT ((0)) FOR [GWA_23_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GWA_24__0D7A0286]  DEFAULT ((0)) FOR [GWA_24_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GWA_25__0E6E26BF]  DEFAULT ((0)) FOR [GWA_25_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GWA_26__0F624AF8]  DEFAULT ((0)) FOR [GWA_26_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__YE_28___10566F31]  DEFAULT ((0)) FOR [YE_28_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__YE_29___114A936A]  DEFAULT ((0)) FOR [YE_29_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__YE_30___123EB7A3]  DEFAULT ((0)) FOR [YE_30_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__YE_31___1332DBDC]  DEFAULT ((0)) FOR [YE_31_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__ETC_33__14270015]  DEFAULT ((0)) FOR [ETC_33_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__ETC_33__151B244E]  DEFAULT ((0)) FOR [ETC_33_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__ETC_34__160F4887]  DEFAULT ((0)) FOR [ETC_34_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__ETC_35__17036CC0]  DEFAULT ((0)) FOR [ETC_35_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__ETC_36__17F790F9]  DEFAULT ((0)) FOR [ETC_36_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__ETC_37__18EBB532]  DEFAULT ((0)) FOR [ETC_37_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__NOT_39__19DFD96B]  DEFAULT ((0)) FOR [NOT_39_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__NOT_39__1AD3FDA4]  DEFAULT ((0)) FOR [NOT_39_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__NOT_40__1BC821DD]  DEFAULT ((0)) FOR [NOT_40_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__NOT_40__1CBC4616]  DEFAULT ((0)) FOR [NOT_40_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__NOT_41__1DB06A4F]  DEFAULT ((0)) FOR [NOT_41_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__NOT_41__1EA48E88]  DEFAULT ((0)) FOR [NOT_41_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__JE_43___1F98B2C1]  DEFAULT ((0)) FOR [JE_43_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__JE_43___208CD6FA]  DEFAULT ((0)) FOR [JE_43_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__JE_44___2180FB33]  DEFAULT ((0)) FOR [JE_44_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__JE_44___22751F6C]  DEFAULT ((0)) FOR [JE_44_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_46___236943A5]  DEFAULT ((0)) FOR [GA_46_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_46___245D67DE]  DEFAULT ((0)) FOR [GA_46_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_47___25518C17]  DEFAULT ((0)) FOR [GA_47_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_47___2645B050]  DEFAULT ((0)) FOR [GA_47_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_48___2739D489]  DEFAULT ((0)) FOR [GA_48_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_49___282DF8C2]  DEFAULT ((0)) FOR [GA_49_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__MYUN_5__29221CFB]  DEFAULT ((0)) FOR [MYUN_51_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__MYUN_5__2A164134]  DEFAULT ((0)) FOR [MYUN_52_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__MYUN_5__2B0A656D]  DEFAULT ((0)) FOR [MYUN_53_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__PEUP_D__2BFE89A6]  DEFAULT ('00000000') FOR [PEUP_DATE]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_47___2CF2ADDF]  DEFAULT ((0)) FOR [GA_47_1_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_47___2DE6D218]  DEFAULT ((0)) FOR [GA_47_2_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_47___2EDAF651]  DEFAULT ((0)) FOR [GA_47_3_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_031__2FCF1A8A]  DEFAULT ((0)) FOR [SA_031]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_032__30C33EC3]  DEFAULT ((0)) FOR [SA_032]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_01__31B762FC]  DEFAULT ((0)) FOR [SIN_01_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_02__32AB8735]  DEFAULT ((0)) FOR [SIN_02_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_17__339FAB6E]  DEFAULT ((0)) FOR [SIN_17_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__JE_43___3493CFA7]  DEFAULT ((0)) FOR [JE_43_TAX2]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__YE_28___3587F3E0]  DEFAULT ((0)) FOR [YE_28_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__YE_29___367C1819]  DEFAULT ((0)) FOR [YE_29_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__ETC_34__37703C52]  DEFAULT ((0)) FOR [ETC_34_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__ETC_35__3864608B]  DEFAULT ((0)) FOR [ETC_35_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_16__395884C4]  DEFAULT ((0)) FOR [SIN_16_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__ETC_38__3A4CA8FD]  DEFAULT ((0)) FOR [ETC_38_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_47___3B40CD36]  DEFAULT ((0)) FOR [GA_47_1_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_47___3C34F16F]  DEFAULT ((0)) FOR [GA_47_2_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_47___3D2915A8]  DEFAULT ((0)) FOR [GA_47_3_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_49___3E1D39E1]  DEFAULT ((0)) FOR [GA_49_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__DUMMY3__3F115E1A]  DEFAULT ((0)) FOR [DUMMY3]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__DUMMY4__40058253]  DEFAULT ((0)) FOR [DUMMY4]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__DUMMY5__40F9A68C]  DEFAULT ((0)) FOR [DUMMY5]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__DUMMY6__41EDCAC5]  DEFAULT ((0)) FOR [DUMMY6]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__MYUN_6__42E1EEFE]  DEFAULT ((0)) FOR [MYUN_63AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__MYUN_6__43D61337]  DEFAULT ((0)) FOR [MYUN_64AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__AMT01__44CA3770]  DEFAULT ((0)) FOR [AMT01]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__AMT02__45BE5BA9]  DEFAULT ((0)) FOR [AMT02]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__VAT01__46B27FE2]  DEFAULT ((0)) FOR [VAT01]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__VAT02__47A6A41B]  DEFAULT ((0)) FOR [VAT02]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__VAT03__532343BF]  DEFAULT ((0)) FOR [VAT03]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__VAT04__541767F8]  DEFAULT ((0)) FOR [VAT04]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__TAX_GU__44A01A3E]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__TAX01__604834B3]  DEFAULT ((0)) FOR [TAX01]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_SEL__2917FB5A]  DEFAULT ((0)) FOR [SA_SELF_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SA_SEL__2A0C1F93]  DEFAULT ((0)) FOR [SA_SELF_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_SE__2B0043CC]  DEFAULT ((0)) FOR [SIN_SELF_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__SIN_SE__2BF46805]  DEFAULT ((0)) FOR [SIN_SELF_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GWA_TR__2CE88C3E]  DEFAULT ((0)) FOR [GWA_TRANS]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_50___2DDCB077]  DEFAULT ((0)) FOR [GA_50_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT1] ADD  CONSTRAINT [DF__TAX_VAT1__GA_50___2ED0D4B0]  DEFAULT ((0)) FOR [GA_50_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT1]  WITH CHECK ADD CHECK  (([DATE_FROM]='00000000' OR [DATE_FROM]>'19500101' AND [DATE_FROM]<'21000101' AND CONVERT([datetime],[DATE_FROM])=CONVERT([datetime],[DATE_FROM])))
GO
ALTER TABLE [DZAIS].[TAX_VAT1]  WITH CHECK ADD CHECK  (([DATE_TO]='00000000' OR [DATE_TO]>'19500101' AND [DATE_TO]<'21000101' AND CONVERT([datetime],[DATE_TO])=CONVERT([datetime],[DATE_TO])))
GO
ALTER TABLE [DZAIS].[TAX_VAT1]  WITH CHECK ADD CHECK  (([PEUP_DATE]='00000000' OR [PEUP_DATE]>'19500101' AND [PEUP_DATE]<'21000101' AND CONVERT([datetime],[PEUP_DATE])=CONVERT([datetime],[PEUP_DATE])))
GO
