USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BUDGETMON]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BUDGETMON](
	[C_CODE] [varchar](4) NOT NULL,
	[START_MON] [char](2) NULL
) ON [PRIMARY]
GO
