USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BULGONG]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BULGONG](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[FROMTO_DAY] [char](16) NOT NULL,
	[BUL_NO] [char](2) NOT NULL,
	[BUL_COUNT] [numeric](15, 0) NOT NULL,
	[BUL_AMT] [numeric](15, 0) NOT NULL,
	[BUL_TAX] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_BULGONG] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[FROMTO_DAY] ASC,
	[BUL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BULGONG] ADD  CONSTRAINT [DF__BULGONG__BUL_COU__581D0306]  DEFAULT ((0)) FOR [BUL_COUNT]
GO
ALTER TABLE [DZAIS].[BULGONG] ADD  CONSTRAINT [DF__BULGONG__BUL_AMT__5911273F]  DEFAULT ((0)) FOR [BUL_AMT]
GO
ALTER TABLE [DZAIS].[BULGONG] ADD  CONSTRAINT [DF__BULGONG__BUL_TAX__5A054B78]  DEFAULT ((0)) FOR [BUL_TAX]
GO
ALTER TABLE [DZAIS].[BULGONG] ADD  CONSTRAINT [DF__BULGONG__TAX_GUB__4870AB22]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
