USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DZ_DUAL]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DZ_DUAL](
	[CAL] [char](8) NULL
) ON [PRIMARY]
GO
