USE [DZAIS]
GO
/****** Object:  View [DZAIS].[V_NODECODE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW  [DZAIS].[V_NODECODE]
(
         C_CODE,        NODE_CODE,     NODE_NAME,     NODE_SANO,     UPTEA,         UPJONG,     C_PHONE,
         C_POST,        C_ADDR,        TAX_CODE,      TAX_NAME,      BOSS_SNO,      BOSS_ID,    FDATE,
         TDATE,         BS_GUBUN,      SINGO_ID
) AS
SELECT
         C_CODE,        NODE_CODE,     NODE_NAME,     NODE_SANO,     UPTEA,         UPJONG,     C_PHONE,
         C_POST,        C_ADDR,        TAX_CODE,      TAX_NAME,      BOSS_SNO,      BOSS_ID,    SDATE,
         TDATE,         BS_GUBUN,      SINGO_ID
FROM
      BASE.DZBASE.STANDARD_SBU

GO
