USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SETTLEMENT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SETTLEMENT](
	[SETTLE_TMON] [char](6) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[OTHER_CODE] [char](5) NOT NULL,
	[PROJ_CODE] [varchar](12) NOT NULL,
	[PROJ_NAME] [varchar](30) NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[DEPT_NAME] [varchar](30) NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SETTLE_FMON] [char](6) NOT NULL,
	[DOCU_AMT] [decimal](15, 0) NOT NULL,
	[DOCU_YN] [char](1) NOT NULL,
 CONSTRAINT [PK_SETTLEMENT] PRIMARY KEY CLUSTERED 
(
	[SETTLE_TMON] ASC,
	[ACCT_CODE] ASC,
	[OTHER_CODE] ASC,
	[PROJ_CODE] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[SETTLEMENT] ADD  CONSTRAINT [DF__SETTLEMEN__OTHER__644DCFC1]  DEFAULT ('00000') FOR [OTHER_CODE]
GO
