USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[RETAIN1]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[RETAIN1](
	[RETAIN_CODE] [char](3) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[RETAIN_GUBUN] [char](1) NOT NULL,
	[RETAIN_MAT] [numeric](15, 0) NOT NULL,
	[PREV_AMT] [numeric](15, 0) NOT NULL,
	[RETAIN_MOD] [char](1) NOT NULL,
	[RETAIN_NAME] [varchar](40) NULL,
	[ACCT_CODE] [char](5) NULL,
	[ACCT_GUBUN] [char](1) NULL,
 CONSTRAINT [PK_RETAIN1] PRIMARY KEY CLUSTERED 
(
	[GISU] ASC,
	[C_CODE] ASC,
	[RETAIN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[RETAIN1] ADD  CONSTRAINT [DF__RETAIN1__GISU__7C1A6C5A]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[RETAIN1] ADD  CONSTRAINT [DF__RETAIN1__RETAIN___7D0E9093]  DEFAULT ('1') FOR [RETAIN_GUBUN]
GO
ALTER TABLE [DZAIS].[RETAIN1] ADD  CONSTRAINT [DF__RETAIN1__RETAIN___7E02B4CC]  DEFAULT ((0)) FOR [RETAIN_MAT]
GO
ALTER TABLE [DZAIS].[RETAIN1] ADD  CONSTRAINT [DF__RETAIN1__PREV_AM__7EF6D905]  DEFAULT ((0)) FOR [PREV_AMT]
GO
ALTER TABLE [DZAIS].[RETAIN1] ADD  CONSTRAINT [DF__RETAIN1__RETAIN___7FEAFD3E]  DEFAULT ('1') FOR [RETAIN_MOD]
GO
ALTER TABLE [DZAIS].[RETAIN1] ADD  CONSTRAINT [DF__RETAIN1__ACCT_GU__00DF2177]  DEFAULT ('0') FOR [ACCT_GUBUN]
GO
