USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UP_TAX_P_MENU]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE   PROCEDURE [DZAIS].[UP_TAX_P_MENU] 
	@MENU_ID		VARCHAR(12)  AS

DECLARE 
	@P_C_CODE	CHAR(4),
	@P_SNO		VARCHAR(10),
	@P_MENU_POS   VARCHAR(12), 
	@P_NEW_POS     VARCHAR(12), 
	@P_MY_MENU	CHAR(1)

BEGIN 

	--P_MENU에 구메뉴 폴더 생성하기
	DECLARE  CUR_MENU_TEMP CURSOR FOR
	SELECT C_CODE, SNO, MAX(MENU_POS), MAX(MY_MENU)
	FROM VBASE_P_MENU 
	WHERE MENU_ID BETWEEN '016020000000' AND '016040500000'
	GROUP BY C_CODE, SNO
	
	OPEN CUR_MENU_TEMP 
	
	FETCH NEXT FROM CUR_MENU_TEMP INTO @P_C_CODE, @P_SNO, @P_MENU_POS, @P_MY_MENU
	WHILE(@@FETCH_STATUS = 0)
	BEGIN 
		IF ( LEN(@P_MENU_POS) = 2 )
		BEGIN
			SELECT @P_NEW_POS = RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,@P_MENU_POS) + 1), 2)
			UPDATE VBASE_P_MENU
			SET	MENU_POS = RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(MENU_POS,1,2)) + 1), 2) + SUBSTRING(MENU_POS, 3, LEN(MENU_POS) - 2)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
		END
		IF ( LEN(@P_MENU_POS) = 4 )
		BEGIN
			SELECT @P_NEW_POS = RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,1,2)) + 1), 2)
			--추가하려는 메뉴POS이하값들 하나씩 증가시킨다.
			UPDATE VBASE_P_MENU
			SET	MENU_POS = RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(MENU_POS,1,2)) + 1), 2) + SUBSTRING(MENU_POS, 3, LEN(MENU_POS) - 2)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
		END
		IF ( LEN(@P_MENU_POS) = 6 )
		BEGIN
			SELECT @P_NEW_POS = RIGHT( REPLICATE('0', 4) + CONVERT(VARCHAR(4), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,1,4)) + 1), 4)
			--추가하려는 메뉴POS이하값들 하나씩 증가시킨다.
			UPDATE VBASE_P_MENU
			SET	MENU_POS = RIGHT( REPLICATE('0', 4) + CONVERT(VARCHAR(4), CONVERT(NUMERIC,SUBSTRING(MENU_POS,1,4)) + 1), 4) + SUBSTRING(MENU_POS, 5, LEN(MENU_POS) - 4)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
			AND MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,2) + '%'
		END
		IF LEN(@P_MENU_POS) = 8
		BEGIN
			SELECT @P_NEW_POS = RIGHT( REPLICATE('0', 6) + CONVERT(VARCHAR(6), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,1,6)) + 1), 6)
			--추가하려는 메뉴POS이하값들 하나씩 증가시킨다.
			UPDATE VBASE_P_MENU
			SET	MENU_POS = RIGHT( REPLICATE('0', 6) + CONVERT(VARCHAR(6), CONVERT(NUMERIC,SUBSTRING(MENU_POS,1,6)) + 1), 6) + SUBSTRING(MENU_POS, 7, LEN(MENU_POS) - 6)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
			AND MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,4) + '%'
		END
		IF LEN(@P_MENU_POS) = 10
		BEGIN
			SELECT @P_NEW_POS = RIGHT( REPLICATE('0', 8) + CONVERT(VARCHAR(8), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,1,8)) + 1), 8)
			--추가하려는 메뉴POS이하값들 하나씩 증가시킨다.
			UPDATE VBASE_P_MENU
			SET	MENU_POS = RIGHT( REPLICATE('0', 8) + CONVERT(VARCHAR(8), CONVERT(NUMERIC,SUBSTRING(MENU_POS,1,8)) + 1), 8) + SUBSTRING(MENU_POS, 9, LEN(MENU_POS) - 8)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
			AND MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,6) + '%'
		END
		IF LEN(@P_MENU_POS) = 12
		BEGIN
			SELECT @P_NEW_POS = RIGHT( REPLICATE('0', 10) + CONVERT(VARCHAR(10), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,1,10)) + 1), 10)
			--추가하려는 메뉴POS이하값들 하나씩 증가시킨다.
			UPDATE VBASE_P_MENU
			SET	MENU_POS = RIGHT( REPLICATE('0', 10) + CONVERT(VARCHAR(10), CONVERT(NUMERIC,SUBSTRING(MENU_POS,1,10)) + 1), 10) + SUBSTRING(MENU_POS, 11, LEN(MENU_POS) - 10)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
			AND MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,8) + '%'
		END
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('P_MENU UPDATE에러',16,1)
		    	RETURN 1 
		END
		--구-부가세메뉴(조회용)
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, @MENU_ID, @P_NEW_POS, '1', '1', '1', '1', '1', @P_MY_MENU)
		--부가가치세관리
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, '01C010000000', @P_NEW_POS + '01', '1', '1', '1', '1', '1', @P_MY_MENU)
		--기타부속명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, '01C020000000', @P_NEW_POS + '02', '1', '1', '1', '1', '1', @P_MY_MENU)
		--전산매체관리
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, '01C030000000', @P_NEW_POS + '03', '1', '1', '1', '1', '1', @P_MY_MENU)
	
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('P_MENU INSERT 에러',16,1)
		    	RETURN 1 
		END
		--부가세신고서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C010100000', @P_NEW_POS + '0101', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016020100000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('부가세신고서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--세금계산서합계표
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C010200000', @P_NEW_POS + '0102', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016020200000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('세금계산서합계표 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--계산서합계표
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C010300000', @P_NEW_POS + '0103', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016020300000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('계산서합계표 INSERT 에러',16,1)
		    	RETURN 1 
		END
-- 		--납부서
-- 		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
-- 		SELECT	C_CODE,  SNO, '016020400000', @P_NEW_POS + '0104', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
-- 		FROM	VBASE_P_MENU
-- 		WHERE 	C_CODE = @P_C_CODE
-- 		AND 	SNO = @P_SNO
-- 		AND	MENU_ID = '016020100000'
-- 		IF( @@ERROR <> 0 )
-- 		BEGIN
-- 			RAISERROR('납부서 INSERT 에러',16,1)
-- 		    	RETURN 1 
-- 		END

		--영세율첨부서류제출명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020100000', @P_NEW_POS + '0201', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030200000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('영세율첨부서류제출명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--삭제_사업설비투자명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020200000', @P_NEW_POS + '0202', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030300000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('삭제_사업설비투자명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--삭제_매입세액불공제분계산근거
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020300000', @P_NEW_POS + '0203', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030400000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('삭제_매입세액불공제분계산근거 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--수출실적명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020400000', @P_NEW_POS + '0204', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030500000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('수출실적명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--신용카드매출전표등수취명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020500000', @P_NEW_POS + '0205', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030600000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('신용카드매출전표등수취명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--부동산임대공급가액명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020600000', @P_NEW_POS + '0206', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030700000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('부동산임대공급가액명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--의제매입세액공제신고서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020800000', @P_NEW_POS + '0207', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030900000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('의제매입세액공제신고서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--대손세액공제신고서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020900000', @P_NEW_POS + '0208', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030A00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('대손세액공제신고서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--신용카드매출전표 발행금액등집계표
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020B00000', @P_NEW_POS + '0209', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030C00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('신용카드매출전표 발행금액등집계표 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--사업장별 부가가치세 과세표준 및 납부세액 신고명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020D00000', @P_NEW_POS + '0210', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030E00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('사업장별 부가가치세 과세표준 및 납부세액 신고명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--면세유류공급명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020C00000', @P_NEW_POS + '0211', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030F00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('면세유류공급명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--재활용폐자원및중고품매입세액공제신고서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020E00000', @P_NEW_POS + '0212', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030G00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('재활용폐자원및중고품매입세액공제신고서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--건물등감가상각자산취득명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020F00000', @P_NEW_POS + '0213', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030H00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('건물등감가상각자산취득명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--사업장현황신고서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020G00000', @P_NEW_POS + '0214', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030I00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('사업장현황신고서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--전자화폐결제명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020H00000', @P_NEW_POS + '0215', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030J00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('전자화폐결제명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--사업자단위신고 부가가치세 과세표준 및 납부세액 신고명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020I00000', @P_NEW_POS + '0216', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030K00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('사업자단위신고 부가가치세 과세표준 및 납부세액 신고명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--월별판매액합계표
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020J00000', @P_NEW_POS + '0217', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030L00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('월별판매액합계표 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--공제받지못할매입세액명세서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020K00000', @P_NEW_POS + '0218', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030M00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('공제받지못할매입세액명세서 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--매입자발행세금계산서합계표
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C020L00000', @P_NEW_POS + '0219', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016030N00000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('매입자발행세금계산서합계표 INSERT 에러',16,1)
		    	RETURN 1 
		END

		--세금계산서전산매체
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C030100000', @P_NEW_POS + '0301', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016040100000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('세금계산서전산매체 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--계산서 전산매체
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C030200000', @P_NEW_POS + '0302', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016040200000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('계산서 전산매체 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--수출실적전산매체
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C030300000', @P_NEW_POS + '0303', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016040300000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('수출실적전산매체 INSERT 에러',16,1)
		    	RETURN 1 
		END
		--부가세전자신고
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		SELECT	C_CODE,  SNO, '01C030400000', @P_NEW_POS + '0304', M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU
		FROM	VBASE_P_MENU
		WHERE 	C_CODE = @P_C_CODE
		AND 	SNO = @P_SNO
		AND	MENU_ID = '016040500000'
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('부가세전자신고 INSERT 에러',16,1)
		    	RETURN 1 
		END

		FETCH NEXT FROM CUR_MENU_TEMP INTO @P_C_CODE, @P_SNO, @P_MENU_POS, @P_MY_MENU
	END 
	
	CLOSE CUR_MENU_TEMP
	DEALLOCATE CUR_MENU_TEMP
	
	RETURN 0
	
END

GO
