USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BUDONGSAN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BUDONGSAN](
	[NODE_CODE] [varchar](4) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[TAX_FROM] [char](6) NOT NULL,
	[TAX_TO] [char](6) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[FLOOR_GUBUN] [numeric](1, 0) NOT NULL,
	[FLOORSU] [varchar](3) NOT NULL,
	[HOSU] [varchar](10) NULL,
	[VEN_NAME] [varchar](30) NULL,
	[AREA_GUBUN] [char](1) NOT NULL,
	[AREA] [numeric](7, 2) NULL,
	[MOVEINTO_DATE] [char](8) NOT NULL,
	[LEAVING_DATE] [char](8) NULL,
	[CINTRACT_DATE1] [char](8) NULL,
	[CINTRACT_DATE2] [char](8) NULL,
	[GUARANTLY] [numeric](15, 0) NOT NULL,
	[MONTHLY] [numeric](15, 0) NOT NULL,
	[MANAFEE] [numeric](15, 0) NOT NULL,
	[GANJU] [numeric](15, 0) NOT NULL,
	[MONTHLY_AMT] [numeric](15, 0) NOT NULL,
	[MANAFEE_AMT] [numeric](15, 0) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[SEQ] [numeric](6, 0) NOT NULL,
 CONSTRAINT [PK_BUDONGSAN] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[GISU_GUBUN] ASC,
	[TAX_FROM] ASC,
	[TAX_TO] ASC,
	[S_IDNO] ASC,
	[FLOOR_GUBUN] ASC,
	[FLOORSU] ASC,
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__GISU___7B9B496D]  DEFAULT ('1') FOR [GISU_GUBUN]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__TAX_F__7C8F6DA6]  DEFAULT ('000000') FOR [TAX_FROM]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__TAX_T__7D8391DF]  DEFAULT ('000000') FOR [TAX_TO]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__FLOOR__7E77B618]  DEFAULT ((0)) FOR [FLOOR_GUBUN]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__FLOOR__7F6BDA51]  DEFAULT ('1') FOR [FLOORSU]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__AREA___005FFE8A]  DEFAULT ('0') FOR [AREA_GUBUN]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__AREA__015422C3]  DEFAULT ((0)) FOR [AREA]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__MOVEI__024846FC]  DEFAULT ('00000000') FOR [MOVEINTO_DATE]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__LEAVI__033C6B35]  DEFAULT ('00000000') FOR [LEAVING_DATE]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__CINTR__04308F6E]  DEFAULT ('00000000') FOR [CINTRACT_DATE1]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__CINTR__0524B3A7]  DEFAULT ('00000000') FOR [CINTRACT_DATE2]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__GUARA__0618D7E0]  DEFAULT ((0)) FOR [GUARANTLY]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__MONTH__070CFC19]  DEFAULT ((0)) FOR [MONTHLY]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__MANAF__08012052]  DEFAULT ((0)) FOR [MANAFEE]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__GANJU__08F5448B]  DEFAULT ((0)) FOR [GANJU]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__MONTH__09E968C4]  DEFAULT ((0)) FOR [MONTHLY_AMT]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__MANAF__0ADD8CFD]  DEFAULT ((0)) FOR [MANAFEE_AMT]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__TAX_A__0BD1B136]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[BUDONGSAN] ADD  CONSTRAINT [DF__BUDONGSAN__SEQ__02D256E1]  DEFAULT ((1)) FOR [SEQ]
GO
