USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CHECKCHA]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CHECKCHA](
	[ACCT_CODE] [char](5) NOT NULL,
	[CHECK_CODE] [char](3) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SERIAL_NO] [numeric](4, 0) NOT NULL,
	[JAN_YN] [char](1) NULL,
	[INPIL_YN] [char](1) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_CHECKCHA] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC,
	[CHECK_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CHECKCHA] ADD  CONSTRAINT [DF_CHECKCHA_SERIAL_NO]  DEFAULT ((0)) FOR [SERIAL_NO]
GO
ALTER TABLE [DZAIS].[CHECKCHA] ADD  CONSTRAINT [DF__CHECKCHA__INPIL___164452B1]  DEFAULT ('0') FOR [INPIL_YN]
GO
ALTER TABLE [DZAIS].[CHECKCHA] ADD  CONSTRAINT [DF_CHECKCHA_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[CHECKCHA] ADD  CONSTRAINT [DF_CHECKCHA_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[CHECKCHA]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[CHECKCHA]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
