USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSGROUP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSGROUP](
	[C_CODE] [varchar](4) NOT NULL,
	[FS_CODE] [char](3) NOT NULL,
	[GROUP_CODE] [char](4) NOT NULL,
	[GROUP_NAME] [varchar](50) NOT NULL,
	[DRCR_GUBUN] [char](1) NOT NULL,
	[GROUP_TYPE] [char](2) NOT NULL,
	[COST_TYPE] [char](2) NOT NULL,
	[MD_GUBUN] [char](1) NOT NULL,
	[SORT_NO] [numeric](5, 0) NOT NULL,
	[PNAME_HAN] [varchar](50) NOT NULL,
	[MNAME_HAN] [varchar](50) NOT NULL,
	[PNAME_ENG] [varchar](50) NOT NULL,
	[MNAME_ENG] [varchar](50) NOT NULL,
	[PNAME_ETC] [varchar](50) NOT NULL,
	[MNAME_ETC] [varchar](50) NOT NULL,
	[LEVEL_CODE] [char](1) NOT NULL,
	[UP_CODE] [char](4) NOT NULL,
 CONSTRAINT [PK_FSGROUP] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[FS_CODE] ASC,
	[GROUP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[FSGROUP] ADD  CONSTRAINT [DF__FSGROUP__DRCR_GU__388F4914]  DEFAULT ('1') FOR [DRCR_GUBUN]
GO
ALTER TABLE [DZAIS].[FSGROUP] ADD  CONSTRAINT [DF__FSGROUP__MD_GUBU__39836D4D]  DEFAULT ('1') FOR [MD_GUBUN]
GO
ALTER TABLE [DZAIS].[FSGROUP] ADD  CONSTRAINT [DF__FSGROUP__LEVEL_C__3A779186]  DEFAULT ('1') FOR [LEVEL_CODE]
GO
ALTER TABLE [DZAIS].[FSGROUP] ADD  CONSTRAINT [DF__FSGROUP__UP_CODE__3B6BB5BF]  DEFAULT ('0000') FOR [UP_CODE]
GO
