USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ADOCUD]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ADOCUD](
	[ISU_DT] [varchar](8) NOT NULL,
	[ISU_SQ] [numeric](5, 0) NOT NULL,
	[LN_SQ] [numeric](3, 0) NOT NULL,
	[DEPT_CD] [varchar](12) NOT NULL,
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[ACCT_CD] [varchar](8) NOT NULL,
	[DRCR_FG] [varchar](1) NOT NULL,
	[FILL_DT] [varchar](8) NULL,
	[FILL_NB] [numeric](5, 0) NOT NULL,
	[RMK_NB] [numeric](2, 0) NULL,
	[RMK_DC] [varchar](80) NULL,
	[ACCT_AM] [numeric](17, 4) NULL,
	[TRCD_TY] [varchar](2) NULL,
	[TRNM_TY] [varchar](2) NULL,
	[DEPTCD_TY] [varchar](2) NULL,
	[PJTCD_TY] [varchar](2) NULL,
	[CTNB_TY] [varchar](2) NULL,
	[FRDT_TY] [varchar](2) NULL,
	[TODT_TY] [varchar](2) NULL,
	[QT_TY] [varchar](2) NULL,
	[AM_TY] [varchar](2) NULL,
	[RT_TY] [varchar](2) NULL,
	[DEAL_TY] [varchar](2) NULL,
	[USER1_TY] [varchar](2) NULL,
	[USER2_TY] [varchar](2) NULL,
	[TR_CD] [varchar](5) NULL,
	[TR_NM] [varchar](40) NULL,
	[CT_DEPT] [varchar](4) NULL,
	[PJT_CD] [varchar](10) NULL,
	[CT_NB] [varchar](20) NULL,
	[FR_DT] [varchar](8) NULL,
	[TO_DT] [varchar](8) NULL,
	[CT_QT] [numeric](15, 4) NULL,
	[CT_AM] [numeric](17, 4) NULL,
	[CT_RT] [numeric](8, 4) NULL,
	[CT_DEAL] [varchar](4) NULL,
	[CT_USER1] [varchar](20) NULL,
	[CT_USER2] [varchar](20) NULL,
	[ATTR_CD] [varchar](4) NULL,
	[RF_DT] [varchar](8) NULL,
	[RF_NB] [numeric](5, 0) NULL,
	[RF_SQ] [numeric](3, 0) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[DEPT_NM] [varchar](40) NULL,
	[PJT_NM] [varchar](40) NULL,
	[DEAL_NM] [varchar](40) NULL,
	[USER1_NM] [varchar](40) NULL,
	[USER2_NM] [varchar](40) NULL,
	[BGT_CD] [varchar](10) NULL,
	[BGACT_CD] [varchar](10) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [varchar](15) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [varchar](15) NULL,
 CONSTRAINT [PK_ADOCUD] PRIMARY KEY CLUSTERED 
(
	[ISU_DT] ASC,
	[ISU_SQ] ASC,
	[LN_SQ] ASC,
	[CO_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
