USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVTOTDIV2]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVTOTDIV2](
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[DIV_CD_SUB] [varchar](7) NOT NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[SUP_AM11] [numeric](17, 4) NULL,
	[VAT_AM11] [numeric](17, 4) NULL,
	[SUP_AM14] [numeric](17, 4) NULL,
	[VAT_AM14] [numeric](17, 4) NULL,
	[SUP_AM12] [numeric](17, 4) NULL,
	[SUP_AM16] [numeric](17, 4) NULL,
	[SUP_AM21] [numeric](17, 4) NULL,
	[VAT_AM21] [numeric](17, 4) NULL,
	[SUP_AM26] [numeric](17, 4) NULL,
	[VAT_AM26] [numeric](17, 4) NULL,
	[ADD_AM] [numeric](17, 4) NULL,
	[GONG_AM] [numeric](17, 4) NULL,
	[NAP_AM] [numeric](17, 4) NULL,
	[RMK_DC] [varchar](20) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
 CONSTRAINT [PK_AVTOTDIV2] PRIMARY KEY CLUSTERED 
(
	[FR_DT] ASC,
	[TO_DT] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[DIV_CD_SUB] ASC,
	[SINGO_FG] ASC,
	[RPT_TM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__FR_DT__3ACC9741]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__TO_DT__3BC0BB7A]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__SINGO__3CB4DFB3]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__SUP_A__3DA903EC]  DEFAULT ((0)) FOR [SUP_AM11]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__VAT_A__3E9D2825]  DEFAULT ((0)) FOR [VAT_AM11]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__SUP_A__3F914C5E]  DEFAULT ((0)) FOR [SUP_AM14]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__VAT_A__40857097]  DEFAULT ((0)) FOR [VAT_AM14]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__SUP_A__417994D0]  DEFAULT ((0)) FOR [SUP_AM12]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__SUP_A__426DB909]  DEFAULT ((0)) FOR [SUP_AM16]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__SUP_A__4361DD42]  DEFAULT ((0)) FOR [SUP_AM21]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__VAT_A__4456017B]  DEFAULT ((0)) FOR [VAT_AM21]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__SUP_A__454A25B4]  DEFAULT ((0)) FOR [SUP_AM26]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__VAT_A__463E49ED]  DEFAULT ((0)) FOR [VAT_AM26]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__ADD_A__47326E26]  DEFAULT ((0)) FOR [ADD_AM]
GO
ALTER TABLE [DZAIS].[AVTOTDIV2] ADD  CONSTRAINT [DF__AVTOTDIV2__GONG___4826925F]  DEFAULT ((0)) FOR [GONG_AM]
GO
