USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DIARYSUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DIARYSUM](
	[ACCT_DATE] [char](8) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
	[OUT_AMT] [numeric](15, 0) NOT NULL,
	[IN_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_DIARYSUM] PRIMARY KEY CLUSTERED 
(
	[ACCT_DATE] ASC,
	[ACCT_CODE] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DIARYSUM] ADD  CONSTRAINT [DF_DIARYSUM_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[DIARYSUM] ADD  CONSTRAINT [DF_DIARYSUM_DR_AMT]  DEFAULT ((0)) FOR [DR_AMT]
GO
ALTER TABLE [DZAIS].[DIARYSUM] ADD  CONSTRAINT [DF_DIARYSUM_CR_AMT]  DEFAULT ((0)) FOR [CR_AMT]
GO
ALTER TABLE [DZAIS].[DIARYSUM] ADD  CONSTRAINT [DF_DIARYSUM_OUT_AMT]  DEFAULT ((0)) FOR [OUT_AMT]
GO
ALTER TABLE [DZAIS].[DIARYSUM] ADD  CONSTRAINT [DF_DIARYSUM_IIN_AMT]  DEFAULT ((0)) FOR [IN_AMT]
GO
ALTER TABLE [DZAIS].[DIARYSUM]  WITH CHECK ADD CHECK  (([ACCT_DATE]='00000000' OR [ACCT_DATE]>'19500101' AND [ACCT_DATE]<'21000101' AND CONVERT([datetime],[ACCT_DATE])=CONVERT([datetime],[ACCT_DATE])))
GO
