USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ADOCUH]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ADOCUH](
	[ISU_DT] [varchar](8) NOT NULL,
	[ISU_SQ] [numeric](5, 0) NOT NULL,
	[CO_CD] [varchar](7) NOT NULL,
	[DEPT_CD] [varchar](12) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[DOCU_ST] [varchar](1) NOT NULL,
	[DOCU_FG] [varchar](1) NULL,
	[DOCU_TY] [varchar](1) NOT NULL,
	[ISU_CD] [numeric](2, 0) NULL,
	[ISU_DOC] [varchar](100) NULL,
	[EMP_CD] [varchar](10) NOT NULL,
	[GET_FG] [varchar](2) NULL,
	[FILL_DT] [varchar](8) NULL,
	[FILL_NB] [numeric](5, 0) NULL,
	[SET_ID] [varchar](10) NULL,
	[ADMIT_ID] [varchar](10) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [varchar](15) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [varchar](15) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[NO_TASKI] [numeric](12, 0) NULL,
	[ST_APPI] [char](3) NOT NULL,
 CONSTRAINT [PK_ADOCUH] PRIMARY KEY CLUSTERED 
(
	[ISU_DT] ASC,
	[ISU_SQ] ASC,
	[CO_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
