USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVFTAX]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVFTAX](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[LN_SQ] [numeric](6, 0) NOT NULL,
	[FR_DT] [varchar](8) NULL,
	[TO_DT] [varchar](8) NULL,
	[RP_FG] [varchar](1) NULL,
	[DOCU_DC] [varchar](40) NULL,
	[ISS_NM] [varchar](20) NULL,
	[ISS_DT] [varchar](8) NULL,
	[EXP_DT] [varchar](8) NULL,
	[EX_CD] [varchar](3) NULL,
	[EX_RT] [numeric](13, 4) NULL,
	[CUR_FAM] [numeric](17, 4) NULL,
	[CUR_AM] [numeric](17, 4) NULL,
	[RPT_FAM] [numeric](17, 4) NULL,
	[RPT_AM] [numeric](17, 4) NULL,
	[BL_DC] [varchar](30) NULL,
	[RMK_DC] [varchar](60) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
 CONSTRAINT [PK_AVFTAX] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__LN_SQ__56A9BBE0]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__FR_DT__579DE019]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__TO_DT__58920452]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__ISS_DT__5986288B]  DEFAULT ('00000000') FOR [ISS_DT]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__EXP_DT__5A7A4CC4]  DEFAULT ('00000000') FOR [EXP_DT]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__EX_RT__5B6E70FD]  DEFAULT ((0)) FOR [EX_RT]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__CUR_FAM__5C629536]  DEFAULT ((0)) FOR [CUR_FAM]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__CUR_AM__5D56B96F]  DEFAULT ((0)) FOR [CUR_AM]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__RPT_FAM__5E4ADDA8]  DEFAULT ((0)) FOR [RPT_FAM]
GO
ALTER TABLE [DZAIS].[AVFTAX] ADD  CONSTRAINT [DF__AVFTAX__SINGO_FG__5F3F01E1]  DEFAULT ('0') FOR [SINGO_FG]
GO
