USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BUDGETCON]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BUDGETCON](
	[C_CODE] [varchar](4) NOT NULL,
	[CTL_TYPE] [char](1) NOT NULL,
	[BD_TYPE] [char](1) NULL,
	[DBC_TYPE] [char](1) NULL,
 CONSTRAINT [PK_BUDGETCON] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BUDGETCON] ADD  CONSTRAINT [DF_BUDGETCON_CTL_TYPE]  DEFAULT ('0') FOR [CTL_TYPE]
GO
