USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[Z_CARD_DOCU_REV]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[Z_CARD_DOCU_REV](
	[BANK_CODE] [varchar](10) NOT NULL,
	[ACCT_NO] [varchar](20) NOT NULL,
	[TRADE_DATE] [char](8) NOT NULL,
	[TRADE_TIME] [char](6) NOT NULL,
	[SEQ] [varchar](6) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
 CONSTRAINT [PK_Z_CARD_DOCU_REV] PRIMARY KEY CLUSTERED 
(
	[BANK_CODE] ASC,
	[ACCT_NO] ASC,
	[TRADE_DATE] ASC,
	[TRADE_TIME] ASC,
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
