USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ACCTCODE_0703]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ACCTCODE_0703](
	[ACCT_CODE] [char](5) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_NAME] [varchar](40) NULL,
	[ACCT_NAME2] [varchar](40) NULL,
	[BAN_YN] [char](1) NOT NULL,
	[BAN_TYPE] [char](1) NOT NULL,
	[ACCT_GUBUN] [char](1) NOT NULL,
	[BCONTR_YN] [char](1) NOT NULL,
	[FUND_DRCODE] [char](4) NULL,
	[FUND_CRCODE] [char](4) NULL,
	[TERMCOST_YN] [char](1) NOT NULL,
	[CHANGAB_YN] [char](1) NULL,
	[GOODS_CODE] [char](5) NULL,
	[FILL_YN] [char](1) NOT NULL,
	[TOT_TYPE] [numeric](2, 0) NOT NULL,
	[DRCR_GUBUN] [char](1) NOT NULL,
	[HAN_NAME] [varchar](40) NULL,
	[ENG_NAME] [varchar](70) NULL,
	[SUM_GUBUN] [varchar](2) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[ATTACH_DOCU] [varchar](100) NULL,
	[TA_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_ACCTCODE_0703] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[ACCT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___BAN_Y__6379A719]  DEFAULT ('0') FOR [BAN_YN]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___BAN_T__646DCB52]  DEFAULT ('0') FOR [BAN_TYPE]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___ACCT___6561EF8B]  DEFAULT ('0') FOR [ACCT_GUBUN]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___BCONT__665613C4]  DEFAULT ('0') FOR [BCONTR_YN]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___TERMC__674A37FD]  DEFAULT ('0') FOR [TERMCOST_YN]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___FILL___683E5C36]  DEFAULT ('0') FOR [FILL_YN]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___TOT_T__6932806F]  DEFAULT ((0)) FOR [TOT_TYPE]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___DRCR___6A26A4A8]  DEFAULT ('1') FOR [DRCR_GUBUN]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___INSER__6B1AC8E1]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___MODIF__6C0EED1A]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[ACCTCODE_0703] ADD  CONSTRAINT [DF__ACCTCODE___TA_GU__6D031153]  DEFAULT ('0') FOR [TA_GUBUN]
GO
