USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_NODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_NODE](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_YEAR] [char](12) NOT NULL,
	[GI_GUBUN] [char](1) NOT NULL,
	[DATA_GUBUN] [char](1) NOT NULL,
	[GROUND_AREA] [numeric](7, 0) NOT NULL,
	[BUILDING_UNDERGROUND] [numeric](3, 0) NOT NULL,
	[BUILDING_GROUND] [numeric](3, 0) NOT NULL,
	[BROAD_AREA] [numeric](7, 0) NOT NULL,
	[TOTAL_BROAD_AREA] [numeric](7, 0) NOT NULL,
	[ROOM_COUNT] [numeric](7, 0) NOT NULL,
	[DESK_COUNT] [numeric](7, 0) NOT NULL,
	[CHAIR_COUNT] [numeric](7, 0) NOT NULL,
	[PARKING_PRESENCE] [char](1) NOT NULL,
	[EMPLOYEES_COUNT] [numeric](7, 0) NOT NULL,
	[CAR_COUNT] [numeric](7, 0) NOT NULL,
	[TRUCK_COUNT] [numeric](7, 0) NOT NULL,
	[DEPOSIT] [numeric](9, 0) NOT NULL,
	[MON_RENT] [numeric](11, 0) NOT NULL,
	[ELE_GAS_BILL] [numeric](9, 0) NOT NULL,
	[WATER_BILL] [numeric](9, 0) NOT NULL,
	[LABOR_COST] [numeric](9, 0) NOT NULL,
	[ETC_BILL] [numeric](9, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_TAX_NODE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[TAX_YEAR] ASC,
	[GI_GUBUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__GROUND__1AA9E072]  DEFAULT ((0)) FOR [GROUND_AREA]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__BUILDI__1B9E04AB]  DEFAULT ((0)) FOR [BUILDING_UNDERGROUND]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__BUILDI__1C9228E4]  DEFAULT ((0)) FOR [BUILDING_GROUND]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__BROAD___1D864D1D]  DEFAULT ((0)) FOR [BROAD_AREA]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__TOTAL___1E7A7156]  DEFAULT ((0)) FOR [TOTAL_BROAD_AREA]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__ROOM_C__1F6E958F]  DEFAULT ((0)) FOR [ROOM_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__DESK_C__2062B9C8]  DEFAULT ((0)) FOR [DESK_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__CHAIR___2156DE01]  DEFAULT ((0)) FOR [CHAIR_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__PARKIN__224B023A]  DEFAULT ('N') FOR [PARKING_PRESENCE]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__EMPLOY__233F2673]  DEFAULT ((0)) FOR [EMPLOYEES_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__CAR_CO__24334AAC]  DEFAULT ((0)) FOR [CAR_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__TRUCK___25276EE5]  DEFAULT ((0)) FOR [TRUCK_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__DEPOSI__261B931E]  DEFAULT ((0)) FOR [DEPOSIT]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__MON_RE__270FB757]  DEFAULT ((0)) FOR [MON_RENT]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__ELE_GA__2803DB90]  DEFAULT ((0)) FOR [ELE_GAS_BILL]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__WATER___28F7FFC9]  DEFAULT ((0)) FOR [WATER_BILL]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__LABOR___29EC2402]  DEFAULT ((0)) FOR [LABOR_COST]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__ETC_BI__2AE0483B]  DEFAULT ((0)) FOR [ETC_BILL]
GO
ALTER TABLE [DZAIS].[TAX_NODE] ADD  CONSTRAINT [DF__TAX_NODE__TAX_GU__5C77A3CF]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
