USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_BUL200601]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_BUL200601](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[TAX_DATE] [char](16) NOT NULL,
	[FORM_NO] [char](1) NOT NULL,
	[BUL_NO] [char](2) NOT NULL,
	[TAX_SEQ] [numeric](6, 0) NOT NULL,
	[CNT] [numeric](11, 0) NOT NULL,
	[SUP_AMT] [numeric](17, 4) NOT NULL,
	[VAT_AMT] [numeric](17, 4) NOT NULL,
	[BUL_SUP_AMT] [numeric](17, 4) NOT NULL,
	[BUL_VAT_AMT] [numeric](17, 4) NOT NULL,
	[CALC_AMT1] [numeric](17, 4) NOT NULL,
	[CALC_AMT2] [numeric](19, 6) NOT NULL,
	[CALC_AMT3] [numeric](19, 6) NOT NULL,
	[CALC_AMT4] [numeric](17, 4) NOT NULL,
	[REMARK] [varchar](40) NULL,
 CONSTRAINT [PK_TAX_BUL200601] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[TAX_GUBUN] ASC,
	[TAX_DATE] ASC,
	[FORM_NO] ASC,
	[BUL_NO] ASC,
	[TAX_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__TAX_G__509BDCCF]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__FORM___51900108]  DEFAULT ('2') FOR [FORM_NO]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__BUL_N__52842541]  DEFAULT ('00') FOR [BUL_NO]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__TAX_S__5378497A]  DEFAULT ((1)) FOR [TAX_SEQ]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL2006__CNT__546C6DB3]  DEFAULT ((0)) FOR [CNT]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__SUP_A__556091EC]  DEFAULT ((0)) FOR [SUP_AMT]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__VAT_A__5654B625]  DEFAULT ((0)) FOR [VAT_AMT]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__BUL_S__5748DA5E]  DEFAULT ((0)) FOR [BUL_SUP_AMT]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__BUL_V__583CFE97]  DEFAULT ((0)) FOR [BUL_VAT_AMT]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__CALC___593122D0]  DEFAULT ((0)) FOR [CALC_AMT1]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__CALC___5A254709]  DEFAULT ((0)) FOR [CALC_AMT2]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__CALC___5B196B42]  DEFAULT ((0)) FOR [CALC_AMT3]
GO
ALTER TABLE [DZAIS].[TAX_BUL200601] ADD  CONSTRAINT [DF__TAX_BUL20__CALC___5C0D8F7B]  DEFAULT ((0)) FOR [CALC_AMT4]
GO
