USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVEST_CHK]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVEST_CHK](
	[YN] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
