USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DEPOSITS]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DEPOSITS](
	[DEPOSIT_NO] [varchar](20) NOT NULL,
	[TRANS_DATE] [char](8) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DEPO_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_DEPOSITS] PRIMARY KEY CLUSTERED 
(
	[DEPOSIT_NO] ASC,
	[TRANS_DATE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DEPOSITS] ADD  CONSTRAINT [DF_DEPOSITS_TRANS_DATE]  DEFAULT ('00000000') FOR [TRANS_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITS] ADD  CONSTRAINT [DF_DEPOSITS_DEPO_AMT]  DEFAULT ((0)) FOR [DEPO_AMT]
GO
ALTER TABLE [DZAIS].[DEPOSITS]  WITH CHECK ADD CHECK  (([TRANS_DATE]='00000000' OR [TRANS_DATE]>'19500101' AND [TRANS_DATE]<'21000101' AND CONVERT([datetime],[TRANS_DATE])=CONVERT([datetime],[TRANS_DATE])))
GO
