USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ANIMAL]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ANIMAL](
	[CO_CD] [nvarchar](7) NOT NULL,
	[DIV_CD] [nvarchar](7) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[NONSUB_TY] [nvarchar](2) NOT NULL,
	[CNT] [numeric](11, 0) NOT NULL,
	[AMT] [numeric](17, 4) NOT NULL,
	[RMK_DC] [nvarchar](68) NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [nvarchar](15) NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [nvarchar](15) NULL,
 CONSTRAINT [PK_ANIMAL] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[SINGO_FG] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[NONSUB_TY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ANIMAL] ADD  CONSTRAINT [DF__ANIMAL__CNT__62065FF3]  DEFAULT ('0') FOR [CNT]
GO
ALTER TABLE [DZAIS].[ANIMAL] ADD  CONSTRAINT [DF__ANIMAL__AMT__62FA842C]  DEFAULT ('0') FOR [AMT]
GO
ALTER TABLE [DZAIS].[ANIMAL] ADD  CONSTRAINT [DF__ANIMAL__INSERT_D__63EEA865]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
