USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[VENDORSUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[VENDORSUM](
	[VEN_CODE] [varchar](6) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
	[BAN_AMT] [numeric](15, 0) NULL,
 CONSTRAINT [PK_VENDORSUM] PRIMARY KEY CLUSTERED 
(
	[VEN_CODE] ASC,
	[ACCT_DATE] ASC,
	[ACCT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[VENDORSUM] ADD  CONSTRAINT [DF_VENDORSUM_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[VENDORSUM] ADD  CONSTRAINT [DF_VENDORSUM_DR_AMT]  DEFAULT ((0)) FOR [DR_AMT]
GO
ALTER TABLE [DZAIS].[VENDORSUM] ADD  CONSTRAINT [DF_VENDORSUM_CR_AMT]  DEFAULT ((0)) FOR [CR_AMT]
GO
ALTER TABLE [DZAIS].[VENDORSUM]  WITH CHECK ADD CHECK  ((substring([ACCT_DATE],(5),(4))='0000' OR [ACCT_DATE]='00000000' OR [ACCT_DATE]>'19500101' AND [ACCT_DATE]<'21000101' AND CONVERT([datetime],[ACCT_DATE])=CONVERT([datetime],[ACCT_DATE])))
GO
