USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_SUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_SUM](
	[FROMTODAY] [varchar](16) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_GU] [char](1) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[VEN_NAME] [varchar](30) NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[COUNT1] [numeric](6, 0) NOT NULL,
	[SUPPLY_PRICE] [numeric](15, 0) NOT NULL,
	[VAT_PRICE] [numeric](15, 0) NOT NULL,
	[BLANK] [numeric](2, 0) NOT NULL,
	[VEN_CNT] [numeric](4, 0) NOT NULL,
	[WORKTYPE] [varchar](30) NULL,
	[WORKKIND] [varchar](30) NULL,
	[VEN_TYPE] [char](1) NULL,
	[ADDR] [varchar](100) NULL,
	[MAIN_LIQUOR] [char](1) NOT NULL,
	[CUST_LIQUOR] [char](1) NOT NULL,
 CONSTRAINT [PK_TAX_SUM] PRIMARY KEY CLUSTERED 
(
	[S_IDNO] ASC,
	[FROMTODAY] ASC,
	[NODE_CODE] ASC,
	[TAX_GU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_SUM] ADD  CONSTRAINT [DF_TAX_SUM_COUNT1]  DEFAULT ((0)) FOR [COUNT1]
GO
ALTER TABLE [DZAIS].[TAX_SUM] ADD  CONSTRAINT [DF_TAX_SUM_SUPPLY_PRICE]  DEFAULT ((0)) FOR [SUPPLY_PRICE]
GO
ALTER TABLE [DZAIS].[TAX_SUM] ADD  CONSTRAINT [DF_TAX_SUM_VAT_PRICE]  DEFAULT ((0)) FOR [VAT_PRICE]
GO
ALTER TABLE [DZAIS].[TAX_SUM] ADD  CONSTRAINT [DF_TAX_SUM_BLANK]  DEFAULT ((0)) FOR [BLANK]
GO
ALTER TABLE [DZAIS].[TAX_SUM] ADD  CONSTRAINT [DF_TAX_SUM_VEN_CNT]  DEFAULT ((1)) FOR [VEN_CNT]
GO
ALTER TABLE [DZAIS].[TAX_SUM] ADD  CONSTRAINT [DF_TAX_SUM_VEN_TYPE]  DEFAULT ((0)) FOR [VEN_TYPE]
GO
ALTER TABLE [DZAIS].[TAX_SUM] ADD  CONSTRAINT [DF__TAX_SUM__MAIN_LI__0B679CE2]  DEFAULT ('0') FOR [MAIN_LIQUOR]
GO
ALTER TABLE [DZAIS].[TAX_SUM] ADD  CONSTRAINT [DF__TAX_SUM__CUST_LI__0C5BC11B]  DEFAULT ('0') FOR [CUST_LIQUOR]
GO
