USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_JUBDAEBI_DETAIL]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 


CREATE   PROC [DZAIS].[USP_IPLUS_JUBDAEBI_DETAIL]
(
	@CO_CD				VARCHAR(4), 		-- 회사코드 ( 필수 )
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8),
	@CVT_CD			VARCHAR(5)  
)
AS
/*************************************************************************/
--설    명 : 회계관리 - 법인연동 - 접대비명세서 
--수 정 자 : 김대영
--수정일자 : 2010/01/18
--수정내역 : 2010/01/18 : 신규 
/***/
BEGIN  

	-- EXEC USP_IPLUS_JUBDAEBI '','5000',6, '20090101','20091231','81300|'

	DECLARE @NEW_CO_CD NVARCHAR(7) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD

	SELECT	A.ETC CD_REMARK , '' CD_REMARK2 ,  
		ISNULL(A.REC_TAMT,0)   MN_BUNGAE, A.BAL_DATE DA_DATE, 
		'1' TY_GUBN   
	FROM 	RECEPT A,
		TAXACCTCODE S
	WHERE 	A.C_CODE = S.C_CODE
	AND	A.ACCT_CODE = S.ACCT_CODE
	AND	S.PLUS_ACCT_CODE = @CVT_CD
	AND 	A.C_CODE = @NEW_CO_CD
	AND	A.BAL_DATE BETWEEN @FR_DT AND @TO_DT
	AND 	A.REC_TAMT > 10000 
END


GO
