USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SUMRELA]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SUMRELA](
	[C_CODE] [varchar](4) NOT NULL,
	[GUBUN_CODE] [char](1) NOT NULL,
	[TYPE_CODE] [varchar](12) NOT NULL,
	[SUM_CODE] [varchar](4) NOT NULL,
	[FROM_DATE] [char](6) NOT NULL,
	[TO_DATE] [char](6) NOT NULL,
 CONSTRAINT [PK_SUMRELA] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GUBUN_CODE] ASC,
	[TYPE_CODE] ASC,
	[SUM_CODE] ASC,
	[FROM_DATE] ASC,
	[TO_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[SUMRELA] ADD  CONSTRAINT [DF__SUMRELA__FROM_DA__4FBCC72F]  DEFAULT ('000000') FOR [FROM_DATE]
GO
ALTER TABLE [DZAIS].[SUMRELA] ADD  CONSTRAINT [DF__SUMRELA__TO_DATE__50B0EB68]  DEFAULT ('000000') FOR [TO_DATE]
GO
