USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PREV_PROFIT_LOSS]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PREV_PROFIT_LOSS](
	[C_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[FROM_TO] [char](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[AMT] [numeric](15, 0) NOT NULL,
	[INIT_AMT] [numeric](15, 0) NOT NULL,
	[CUR_AMT] [numeric](15, 0) NOT NULL,
	[DIFACCT_AMT] [numeric](15, 0) NOT NULL,
	[RET_AMT] [numeric](15, 0) NOT NULL,
	[GIM_AMT] [numeric](15, 0) NOT NULL,
	[INACCT_AMT] [numeric](15, 0) NOT NULL,
	[DISACCT_AMT] [numeric](15, 0) NOT NULL,
	[SALEACCT_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_PREV_PROFIT_LOSS] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GISU] ASC,
	[FROM_TO] ASC,
	[NODE_CODE] ASC,
	[ACCT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[PREV_PROFIT_LOSS] ADD  CONSTRAINT [DF__PREV_PROFIT__AMT__34D3C6C9]  DEFAULT ((0)) FOR [AMT]
GO
ALTER TABLE [DZAIS].[PREV_PROFIT_LOSS] ADD  CONSTRAINT [DF__PREV_PROF__INIT___35C7EB02]  DEFAULT ((0)) FOR [INIT_AMT]
GO
ALTER TABLE [DZAIS].[PREV_PROFIT_LOSS] ADD  CONSTRAINT [DF__PREV_PROF__CUR_A__36BC0F3B]  DEFAULT ((0)) FOR [CUR_AMT]
GO
ALTER TABLE [DZAIS].[PREV_PROFIT_LOSS] ADD  CONSTRAINT [DF__PREV_PROF__DIFAC__37B03374]  DEFAULT ((0)) FOR [DIFACCT_AMT]
GO
ALTER TABLE [DZAIS].[PREV_PROFIT_LOSS] ADD  CONSTRAINT [DF__PREV_PROF__RET_A__38A457AD]  DEFAULT ((0)) FOR [RET_AMT]
GO
ALTER TABLE [DZAIS].[PREV_PROFIT_LOSS] ADD  CONSTRAINT [DF__PREV_PROF__GIM_A__39987BE6]  DEFAULT ((0)) FOR [GIM_AMT]
GO
ALTER TABLE [DZAIS].[PREV_PROFIT_LOSS] ADD  CONSTRAINT [DF__PREV_PROF__INACC__5DC0CDC3]  DEFAULT ((0)) FOR [INACCT_AMT]
GO
ALTER TABLE [DZAIS].[PREV_PROFIT_LOSS] ADD  CONSTRAINT [DF__PREV_PROF__DISAC__5EB4F1FC]  DEFAULT ((0)) FOR [DISACCT_AMT]
GO
ALTER TABLE [DZAIS].[PREV_PROFIT_LOSS] ADD  CONSTRAINT [DF__PREV_PROF__SALEA__5FA91635]  DEFAULT ((0)) FOR [SALEACCT_AMT]
GO
