USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPU_DOCUH_NUM_B]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE PROCEDURE [DZAIS].[UPU_DOCUH_NUM_B]
(@N_C_CODE  VARCHAR(4),
 @N_NODE_CODE VARCHAR(4),
 @N_DOCU_NO NUMERIC(4),
 @N_ACCT_DATE CHAR(8),
 @N_DOCU_STAT CHAR(1),
 @N_DECI_DATE CHAR(8),
 @N_DECI_NO   NUMERIC(4),
 @N_DEPT_CODE VARCHAR(12),
 @O_DOCU_STAT CHAR(1) )
AS
/*************************************************************************
            설    명 : 전표 승인시 처리 루틴
            개 발 자 : 이 주 환
            개발일자 : 1999/07/12
**************************************************************************/

BEGIN
    DECLARE
	@ERR_NO  INT,
	@cnt INT,
	@err_msg    VARCHAR(100)

	SELECT @ERR_NO = 20020
	-- 승인시에만 전표번호 부여
	-- 전표번호 강제 부여시 처리 안함. (DOCU_NO가 0이 아닐때.)
	IF ( (@O_DOCU_STAT ='1' OR @O_DOCU_STAT = '2') AND @N_DOCU_STAT = '3'
		   AND @N_DOCU_NO = 0 )
	BEGIN
		SELECT @N_DOCU_NO = ISNULL(MAX(DOCU_NO) + 1, 1)
		  FROM DOCUD
		 WHERE ACCT_DATE = @N_ACCT_DATE
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE    = @N_C_CODE

		IF ( @N_DOCU_NO = 0 )
		BEGIN
				  RAISERROR (20030, 16, -1, '전표번호부여시 에러 발생! 다시 시도하십시요.')
		END
	END

	SELECT @ERR_NO = 20021

	-- DOCUH가 업데이트시 DOCUD, DOCUDD에 무조건 업데이트
	UPDATE DOCUD
	  SET ACCT_DATE = @N_ACCT_DATE, DOCU_NO = @N_DOCU_NO
	WHERE DECI_DATE = @N_DECI_DATE
	  AND DECI_NO   = @N_DECI_NO
	  AND DEPT_CODE = @N_DEPT_CODE
	  AND NODE_CODE = @N_NODE_CODE
	  AND C_CODE    = @N_C_CODE
	  SELECT @ERR_NO = 20022

	-- docudd 테이블에 반영(3)
	UPDATE DOCUDD
		SET ACCT_DATE = @N_ACCT_DATE, DOCU_NO = @N_DOCU_NO
	 WHERE DECI_DATE = @N_DECI_DATE
		AND DECI_NO   = @N_DECI_NO
		AND DEPT_CODE = @N_DEPT_CODE
		AND NODE_CODE = @N_NODE_CODE
		AND C_CODE    = @N_C_CODE

RETURN 0
ON_ERROR:
    RAISERROR (@ERR_NO, 16, -1, 'UPU_DOCUH_NUM_B 프로시져처리중 에러 발생')
    ROLLBACK  TRANSACTION
END


GO
