USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_ASSET]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 

CREATE   PROC [DZAIS].[USP_IPLUS_ASSET]
(  
	@CO_CD    NVARCHAR(4),   -- 회사코드 ( 필수 )  
	@GISU    NVARCHAR(10),  
	@FR_DT    NVARCHAR(8),  
	@TO_DT    NVARCHAR(8)   
)  
--WITH ENCRYPTION  
AS  
/*************************************************************************/  
--설    명 : 회계관리 - 법인연동 - 고정자산 가져오기  
--수 정 자 : 김대영  
--수정일자 : 2010/02/22  
--수정내역 : 2010/02/22 : 신규   
/***/  
BEGIN    
  
 -- EXEC [USP_IPLUS_COR_ASSET_SELECT] '','5000','6','20090101','20091231'    

	DECLARE @NEW_CO_CD VARCHAR(4) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD
	SELECT 	S.PLUS_ACCT_CODE + '00' CD_ACCTIT,
		A.GET_DATE	DA_ACQUIRE,	--취득일자
		A.ASSET_NAME	NM_FIXAST,
		A.LIFE_EXIST	TY_CONTS,
		CASE WHEN A.DEPR_METHOD = '1' THEN '1' ELSE '0' END TY_DEPRECAL,
		(CASE WHEN B.GET_AMT IS NULL THEN A.GET_AMT ELSE B.GET_AMT END) MN_BASE,
		(CASE WHEN B.JUN_RESER IS NULL THEN A.JUN_RESER ELSE B.JUN_RESER END) MN_FTDEPSUM,
		B.DEP_EDIT	MN_CODEPRE, 	--일반상각비
		B.QDEP_AMT	MN_SPDEPRE,	--특별상각비
		CASE SUBSTRING(A.GASSET_CODE,1,1) 
		WHEN '8' THEN 0 
		WHEN '5' THEN 1 
		WHEN '6' THEN 2 
		WHEN '7' THEN 3 
		ELSE 0 END TY_COST,
		B.BOOK_DR	MN_NEW,
		B.BOOK_CR	MN_SALEDROP,
		CASE A.UP_JONG   
		 WHEN '110' THEN '01' 
		 WHEN '111' THEN '01' 
		 WHEN '112' THEN '01' 
		 WHEN '120' THEN '02' 
		 WHEN '121' THEN '02' 
		 WHEN '122' THEN '02' 
		 WHEN '123' THEN '02' 
		 WHEN '130' THEN '03' 
		 WHEN '131' THEN '03' 
		 WHEN '132' THEN '03' 
		 WHEN '210' THEN '11' 
		 WHEN '211' THEN '12' 
		 WHEN '212' THEN '13' 
		 WHEN '213' THEN '14' 
		 WHEN '214' THEN '15' 
		 WHEN '215' THEN '16' 
		 WHEN '216' THEN '17' 
		 WHEN '217' THEN '18' 
		 WHEN '218' THEN '19' 
		 WHEN '219' THEN '1A' 
		 WHEN '21A' THEN '1B' 
		 WHEN '21B' THEN '1C' 
		 WHEN '21C' THEN '1D' 
		 WHEN '21D' THEN '1E' 
		 WHEN '220' THEN '21' 
		 WHEN '221' THEN '22' 
		 WHEN '222' THEN '23' 
		 WHEN '230' THEN '31' 
		 WHEN '231' THEN '32' 
		 WHEN '232' THEN '33' 
		 WHEN '240' THEN '41' 
		 WHEN '241' THEN '42' 
		 WHEN '250' THEN '51' 
		 WHEN '310' THEN '61' 
		 WHEN '320' THEN '62' 
		 WHEN '330' THEN '63' 
		 WHEN '340' THEN '64' 
		 WHEN '350' THEN '65' 
		 WHEN '360' THEN '66' 
		 WHEN '370' THEN '67' 
		 WHEN '380' THEN '68' 
		 WHEN '410' THEN '73' 
		 WHEN '411' THEN '73' 
		 WHEN '412' THEN '73' 
		 WHEN '413' THEN '73' 
		 WHEN '420' THEN '73' 
		 WHEN '421' THEN '73' 
		 WHEN '422' THEN '73' 
		 WHEN '430' THEN '73' 
		 WHEN '431' THEN '73' 
		 WHEN '440' THEN '73' 
		 WHEN ''  THEN '00' 
		 WHEN NULL  THEN '00' 
		 ELSE	'00' 
		END  CD_BIZTYP,
		A.ASSET_CODE	CD_FIXAST,
		M.ASSCH_DATE DA_TRAN

	FROM	ASSETMA A
                LEFT OUTER JOIN 
		( SELECT * FROM YASSETDEP WHERE C_CODE = @NEW_CO_CD AND GISU = CONVERT(INT, @GISU) ) B ON (A.C_CODE = B.C_CODE AND A.ASSET_CODE = B.ASSET_CODE)
                LEFT OUTER JOIN 
		(	SELECT * 
			FROM	ASSETMOVE 
			WHERE ASSCH_TYPE = '3' ) M ON (	A.C_CODE = M.C_CODE AND A.ASSET_CODE = M.ASSET_CODE )		
		INNER JOIN TAXACCTCODE S ON (A.C_CODE = S.C_CODE AND A.ACCT_CODE = S.ACCT_CODE )		
	WHERE	S.PLUS_ACCT_CODE BETWEEN '201' AND '250' AND
	 	A.C_CODE = @NEW_CO_CD
END

GO
