USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_PREPAID_EXPENSES]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 


CREATE  PROC [DZAIS].[USP_IPLUS_PREPAID_EXPENSES]
(  
	@CO_CD    NVARCHAR(4),   -- 회사코드 ( 필수 )  
	@GISU    NVARCHAR(10),  
	@FR_DT    NVARCHAR(8),  
	@TO_DT    NVARCHAR(8)   
)  
--WITH ENCRYPTION  
AS  
/*************************************************************************/  
--설    명 : 회계관리 - 법인연동 - 선급비용 가져오기  
--수 정 자 : 김대영  
--수정일자 : 2010/02/22  
--수정내역 : 2010/02/22 : 신규   
/***/  
BEGIN    
  
	DECLARE @NEW_CO_CD VARCHAR(4) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD

	
	SELECT  '1' GUBUN  ,  
		ISNULL(D.NOTE_NAME, '') AS ETC,
		ISNULL(A.CUST_NAME, '')  DNAME, 
		T.TERM_FROM 	FROMDATE,  
		T.TERM_TO	TODATE ,  
		T.TCOST_AMT  	AMT,  
		0 HS_AMT    
	FROM 	TERMCOST T, 
		DOCUD D
		LEFT OUTER JOIN 
		VBASE_TRADE A ON (D.C_CODE = A.C_CODE AND D.VEN_CODE = A.CUST_CODE )
	WHERE	T.C_CODE = D.C_CODE AND T.NODE_CODE = D.NODE_CODE AND
		T.DEPT_CODE = D.DEPT_CODE AND T.DECI_DATE = D.DECI_DATE AND
		T.DECI_NO = D.DECI_NO AND T.LINE_NO = D.LINE_NO AND T.SLIP_NO = D.SLIP_NO AND 		
		D.C_CODE = @NEW_CO_CD AND 
	   	D.ACCT_DATE BETWEEN @FR_DT AND  @TO_DT   
	ORDER BY D.ACCT_DATE
END  

GO
