USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CAPITALMOVE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CAPITALMOVE](
	[C_CODE] [varchar](4) NOT NULL,
	[FROMTO] [char](16) NOT NULL,
	[GROUP_CODE] [varchar](4) NOT NULL,
	[CAP_AMT] [numeric](15, 0) NOT NULL,
	[CAP_EX] [numeric](15, 0) NOT NULL,
	[CAP_JO] [numeric](15, 0) NOT NULL,
	[PL_AMT] [numeric](15, 0) NOT NULL,
	[PL_EX] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_CAPITALMOVE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[FROMTO] ASC,
	[GROUP_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CAPITALMOVE] ADD  CONSTRAINT [DF__CAPITALMO__CAP_A__7A5D0C71]  DEFAULT ((0)) FOR [CAP_AMT]
GO
ALTER TABLE [DZAIS].[CAPITALMOVE] ADD  CONSTRAINT [DF__CAPITALMO__CAP_E__7B5130AA]  DEFAULT ((0)) FOR [CAP_EX]
GO
ALTER TABLE [DZAIS].[CAPITALMOVE] ADD  CONSTRAINT [DF__CAPITALMO__CAP_J__7C4554E3]  DEFAULT ((0)) FOR [CAP_JO]
GO
ALTER TABLE [DZAIS].[CAPITALMOVE] ADD  CONSTRAINT [DF__CAPITALMO__PL_AM__7D39791C]  DEFAULT ((0)) FOR [PL_AMT]
GO
ALTER TABLE [DZAIS].[CAPITALMOVE] ADD  CONSTRAINT [DF__CAPITALMO__PL_EX__7E2D9D55]  DEFAULT ((0)) FOR [PL_EX]
GO
