USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_NODESUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_NODESUM](
	[C_CODE] [varchar](4) NOT NULL,
	[MAIN_NODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[FROMTO_DAY] [char](16) NOT NULL,
	[OUT_AMT] [numeric](15, 0) NOT NULL,
	[OUT_TAX] [numeric](15, 0) NOT NULL,
	[OUT_ETC_AMT] [numeric](15, 0) NOT NULL,
	[OUT_ETC_TAX] [numeric](15, 0) NOT NULL,
	[OUT_ZERO_AMT] [numeric](15, 0) NOT NULL,
	[OUT_ZERO_TAX] [numeric](15, 0) NOT NULL,
	[OUT_ZERO_ETC_AMT] [numeric](15, 0) NOT NULL,
	[OUT_ZERO_ETC_TAX] [numeric](15, 0) NOT NULL,
	[IN_AMT] [numeric](15, 0) NOT NULL,
	[IN_TAX] [numeric](15, 0) NOT NULL,
	[IN_EJE_AMT] [numeric](15, 0) NOT NULL,
	[IN_EJE_TAX] [numeric](15, 0) NOT NULL,
	[GASAN_TAX] [numeric](15, 0) NOT NULL,
	[GONGJE_TAX] [numeric](15, 0) NOT NULL,
	[OUT_TRANAMT] [numeric](15, 0) NOT NULL,
	[IN_TRANAMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_TAX_NODESUM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[MAIN_NODE] ASC,
	[NODE_CODE] ASC,
	[FROMTO_DAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__OUT_A__6CAE0B98]  DEFAULT ((0)) FOR [OUT_AMT]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__OUT_T__6DA22FD1]  DEFAULT ((0)) FOR [OUT_TAX]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__OUT_E__6E96540A]  DEFAULT ((0)) FOR [OUT_ETC_AMT]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__OUT_E__6F8A7843]  DEFAULT ((0)) FOR [OUT_ETC_TAX]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__OUT_Z__707E9C7C]  DEFAULT ((0)) FOR [OUT_ZERO_AMT]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__OUT_Z__7172C0B5]  DEFAULT ((0)) FOR [OUT_ZERO_TAX]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__OUT_Z__7266E4EE]  DEFAULT ((0)) FOR [OUT_ZERO_ETC_AMT]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__OUT_Z__735B0927]  DEFAULT ((0)) FOR [OUT_ZERO_ETC_TAX]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__IN_AM__744F2D60]  DEFAULT ((0)) FOR [IN_AMT]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__IN_TA__75435199]  DEFAULT ((0)) FOR [IN_TAX]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__IN_EJ__763775D2]  DEFAULT ((0)) FOR [IN_EJE_AMT]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__IN_EJ__772B9A0B]  DEFAULT ((0)) FOR [IN_EJE_TAX]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__GASAN__781FBE44]  DEFAULT ((0)) FOR [GASAN_TAX]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__GONGJ__7913E27D]  DEFAULT ((0)) FOR [GONGJE_TAX]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__OUT_T__7A0806B6]  DEFAULT ((0)) FOR [OUT_TRANAMT]
GO
ALTER TABLE [DZAIS].[TAX_NODESUM] ADD  CONSTRAINT [DF__TAX_NODES__IN_TR__7AFC2AEF]  DEFAULT ((0)) FOR [IN_TRANAMT]
GO
