USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CARDMOVE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CARDMOVE](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[CARD_NO] [varchar](50) NOT NULL,
	[MOVE_SEQ] [numeric](4, 0) NOT NULL,
	[MOVE_GU] [char](1) NOT NULL,
	[MOVE_DATE] [char](8) NULL,
	[MOVE_AMT] [numeric](15, 0) NOT NULL,
	[MOVE_NOTE] [varchar](50) NULL,
	[DECI_DATE] [char](8) NULL,
	[DECI_NO] [numeric](4, 0) NULL,
	[LINE_NO] [numeric](4, 0) NULL,
	[SLIP_NO] [numeric](4, 0) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[ISS] [varchar](30) NULL,
	[P_ENDORSE] [varchar](30) NULL,
	[B_ENDORSE] [varchar](30) NULL,
 CONSTRAINT [PK_CARDMOVE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[CARD_NO] ASC,
	[MOVE_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CARDMOVE] ADD  CONSTRAINT [DF__CARDMOVE__MOVE_A__60B24907]  DEFAULT ((0)) FOR [MOVE_AMT]
GO
