USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_STRADE]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 

CREATE  PROCEDURE [DZAIS].[USP_IPLUS_STRADE]
(  
	@CO_CD    VARCHAR(4),  
	@GUBUN    VARCHAR(2),  
	@TR_CD     VARCHAR(10)   
)  
--WITH ENCRYPTION  
AS  
/*************************************************************************/  
--설    명 : 회계관리 - 법인연동 - 거래처 가져오기  
--수 정 자 : 김대영  
--수정일자 : 2010/02/18  
--수정내역 : 2010/02/18 : 신규   
/***/  
BEGIN    

-- EXEC USP_IPLUS_COR_STRADE_SELECT '','5000','4',''   

	DECLARE @NEW_CO_CD VARCHAR(4) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD

	SELECT	
		CUST_CODE CD_TRADE,
		CUST_NAME NM_TRADE,
		S_IDNO NO_BIZ,
		CASE WHEN CUST_TYPE = '3' THEN REPLACE(ID_NO, '-', '') ELSE REPLACE(S_IDNO, '-', '') END BIZ,
		DNAME NM_KRNAME,
		CUST_DAM NM_DAMNAME
	FROM	
		VBASE_TRADE
	WHERE	
		C_CODE = @NEW_CO_CD AND
		( CASE WHEN @GUBUN IN ('0', '1', '2', '3', '4', '5', '6', '7', '8') THEN '1'
			WHEN @GUBUN ='S' AND CUST_CODE = @TR_CD   THEN '1' 
			ELSE '0' END ) = '1'
	ORDER BY CUST_CODE

END   

GO
