USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[Z_KIPEQ_BUDGETCODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[Z_KIPEQ_BUDGETCODE](
	[C_CODE] [varchar](4) NOT NULL,
	[BUDGET_CODE] [varchar](11) NOT NULL,
	[BUDGET_NAME] [varchar](50) NOT NULL,
	[PROJ_CODE] [varchar](12) NULL,
	[BUDGET_STAT] [char](1) NOT NULL,
	[REMARK] [varchar](50) NULL,
	[UNIT1] [varchar](10) NULL,
	[UNIT2] [varchar](10) NULL,
	[UNIT3] [varchar](10) NULL,
	[UNIT4] [varchar](10) NULL,
	[UNIT5] [varchar](10) NULL,
 CONSTRAINT [PK_Z_KIPEQ_BUDGETCODE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[BUDGET_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[Z_KIPEQ_BUDGETCODE] ADD  CONSTRAINT [DF__Z_KIPEQ_B__BUDGE__443605EA]  DEFAULT ((0)) FOR [BUDGET_STAT]
GO
