USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ASSETDEP]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ASSETDEP](
	[ASSET_CODE] [char](7) NOT NULL,
	[ASSET_MM] [char](2) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[BOOK_MDR] [numeric](15, 0) NOT NULL,
	[BOOK_MCR] [numeric](15, 0) NOT NULL,
	[DEP_MAMT] [numeric](15, 0) NOT NULL,
	[SDEP_MAMT] [numeric](15, 0) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[DOCU_NO] [numeric](4, 0) NOT NULL,
	[RESER_MDR] [numeric](15, 0) NOT NULL,
	[RESER_MCR] [numeric](15, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_ASSETDEP] PRIMARY KEY CLUSTERED 
(
	[ASSET_CODE] ASC,
	[ASSET_MM] ASC,
	[GISU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_BOOK_MDR]  DEFAULT ((0)) FOR [BOOK_MDR]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_BOOK_MCR]  DEFAULT ((0)) FOR [BOOK_MCR]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_DEP_MAMT]  DEFAULT ((0)) FOR [DEP_MAMT]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_SDEP_MAMT]  DEFAULT ((0)) FOR [SDEP_MAMT]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_DOCU_NO]  DEFAULT ((0)) FOR [DOCU_NO]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_RESER_MDR]  DEFAULT ((0)) FOR [RESER_MDR]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_RESER_MCR]  DEFAULT ((0)) FOR [RESER_MCR]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDEP] ADD  CONSTRAINT [DF_ASSETDEP_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDEP]  WITH CHECK ADD CHECK  (([ACCT_DATE]='00000000' OR [ACCT_DATE]>'19500101' AND [ACCT_DATE]<'21000101' AND CONVERT([datetime],[ACCT_DATE])=CONVERT([datetime],[ACCT_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETDEP]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETDEP]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
