USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_SUM1]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_SUM1](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[FROMTODAY] [varchar](16) NOT NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[VEN_NAME] [varchar](30) NULL,
	[VEN_CNT] [numeric](6, 0) NULL,
	[COUNT1] [numeric](6, 0) NOT NULL,
	[SUPPLY_PRICE] [numeric](15, 0) NOT NULL,
	[VAT_PRICE] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_TAX_SUM1] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[FROMTODAY] ASC,
	[S_IDNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_SUM1] ADD  CONSTRAINT [DF_TAX_SUM1_VEN_CNT]  DEFAULT ((1)) FOR [VEN_CNT]
GO
ALTER TABLE [DZAIS].[TAX_SUM1] ADD  CONSTRAINT [DF_TAX_SUM1_COUNT1]  DEFAULT ((0)) FOR [COUNT1]
GO
ALTER TABLE [DZAIS].[TAX_SUM1] ADD  CONSTRAINT [DF_TAX_SUM1_SUPPLY_PRICE]  DEFAULT ((0)) FOR [SUPPLY_PRICE]
GO
ALTER TABLE [DZAIS].[TAX_SUM1] ADD  CONSTRAINT [DF_TAX_SUM1_VAT_PRICE]  DEFAULT ((0)) FOR [VAT_PRICE]
GO
