USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[XLSFORM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[XLSFORM](
	[MENU_ID] [varchar](7) NOT NULL,
	[TBL] [varchar](10) NOT NULL,
	[COL_SQ] [numeric](3, 0) NOT NULL,
	[COL] [varchar](20) NOT NULL,
	[COL_NM] [varchar](40) NULL,
	[COL_CD] [varchar](2) NULL,
	[COL_LEN] [varchar](3) NULL,
	[PK_YN] [varchar](1) NULL,
	[REMARK1] [varchar](200) NULL,
 CONSTRAINT [PK_XLSFORM] PRIMARY KEY CLUSTERED 
(
	[MENU_ID] ASC,
	[TBL] ASC,
	[COL_SQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
