USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AUTOREV]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AUTOREV](
	[DATA_GUBUN] [varchar](2) NOT NULL,
	[WRITE_DATE] [char](8) NOT NULL,
	[DATA_NO] [numeric](4, 0) NOT NULL,
	[DATA_LINE] [numeric](4, 0) NOT NULL,
	[DATA_SLIP] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DDEPT_CODE] [varchar](12) NOT NULL,
	[DNODE_CODE] [varchar](4) NOT NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
 CONSTRAINT [PK_AUTOREV] PRIMARY KEY CLUSTERED 
(
	[DATA_GUBUN] ASC,
	[WRITE_DATE] ASC,
	[DATA_NO] ASC,
	[DATA_LINE] ASC,
	[DATA_SLIP] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AUTOREV] ADD  CONSTRAINT [DF_AUTOREV_WRITE_DATE]  DEFAULT ('00000000') FOR [WRITE_DATE]
GO
ALTER TABLE [DZAIS].[AUTOREV] ADD  CONSTRAINT [DF_AUTOREV_DATA_NO]  DEFAULT ((0)) FOR [DATA_NO]
GO
ALTER TABLE [DZAIS].[AUTOREV] ADD  CONSTRAINT [DF_AUTOREV_DATA_LINE]  DEFAULT ((0)) FOR [DATA_LINE]
GO
ALTER TABLE [DZAIS].[AUTOREV] ADD  CONSTRAINT [DF_AUTOREV_DATA_SLIP]  DEFAULT ((0)) FOR [DATA_SLIP]
GO
ALTER TABLE [DZAIS].[AUTOREV]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[AUTOREV]  WITH CHECK ADD CHECK  (([WRITE_DATE]='00000000' OR [WRITE_DATE]>'19500101' AND [WRITE_DATE]<'21000101' AND CONVERT([datetime],[WRITE_DATE])=CONVERT([datetime],[WRITE_DATE])))
GO
