USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[Z_KIPEQ_BUDGETSIN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[Z_KIPEQ_BUDGETSIN](
	[C_CODE] [varchar](4) NOT NULL,
	[BUDGET_YEAR] [char](4) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[BUDGET_CODE] [varchar](11) NOT NULL,
	[FG_CAL] [char](1) NOT NULL,
	[UNIT_AMT1] [numeric](15, 4) NULL,
	[UNIT_AMT2] [numeric](15, 4) NULL,
	[UNIT_AMT3] [numeric](15, 4) NULL,
	[UNIT_AMT4] [numeric](15, 4) NULL,
	[UNIT_AMT5] [numeric](15, 4) NULL,
	[UNIT_C1] [char](1) NULL,
	[UNIT_C2] [char](1) NULL,
	[UNIT_C3] [char](1) NULL,
	[UNIT_C4] [char](1) NULL,
	[UNIT1] [varchar](10) NULL,
	[UNIT2] [varchar](10) NULL,
	[UNIT3] [varchar](10) NULL,
	[UNIT4] [varchar](10) NULL,
	[UNIT5] [varchar](10) NULL,
	[BUDGET_AMT] [numeric](15, 4) NULL,
	[PROJ_CODE] [varchar](12) NULL,
	[FG_CLOSE] [char](1) NOT NULL,
	[REMARK] [varchar](50) NULL,
 CONSTRAINT [PK_Z_KIPEQ_BUDGETSIN] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[BUDGET_YEAR] ASC,
	[DEPT_CODE] ASC,
	[BUDGET_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[Z_KIPEQ_BUDGETSIN] ADD  CONSTRAINT [DF__Z_KIPEQ_B__FG_CA__47127295]  DEFAULT ((1)) FOR [FG_CAL]
GO
ALTER TABLE [DZAIS].[Z_KIPEQ_BUDGETSIN] ADD  CONSTRAINT [DF__Z_KIPEQ_B__FG_CL__480696CE]  DEFAULT ((0)) FOR [FG_CLOSE]
GO
