USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ATAXSUM]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ATAXSUM](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[DATA_FG] [varchar](1) NOT NULL,
	[SEQ_NB] [numeric](5, 0) NOT NULL,
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[REG_NB] [varchar](10) NOT NULL,
	[MATT_CNT] [numeric](15, 4) NULL,
	[CNT] [numeric](15, 4) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[TR_NM] [varchar](40) NULL,
	[CEO_NM] [varchar](30) NULL,
	[BUSINESS] [varchar](30) NULL,
	[JONGMOK] [varchar](30) NULL,
	[DIV_ADDR] [varchar](60) NULL,
	[DIV_ADDR1] [varchar](30) NULL,
	[REG_DT] [varchar](8) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [varchar](15) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [varchar](15) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[LIQ_DIV] [varchar](1) NOT NULL,
	[LIQ_RS] [varchar](1) NOT NULL,
	[ISS_SQ] [numeric](5, 0) NOT NULL,
	[REVISION_DC] [varchar](1) NULL,
	[JEONJA_YN] [varchar](1) NOT NULL,
	[JEONJASEND15_YN] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_ATAXSUM] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[DATA_FG] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[REG_NB] ASC,
	[SEQ_NB] ASC,
	[SINGO_FG] ASC,
	[LIQ_DIV] ASC,
	[ISS_SQ] ASC,
	[JEONJA_YN] ASC,
	[JEONJASEND15_YN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__SEQ_NB__56DEC60A]  DEFAULT ((0)) FOR [SEQ_NB]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__FR_DT__57D2EA43]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__TO_DT__58C70E7C]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__MATT_CN__59BB32B5]  DEFAULT ((0)) FOR [MATT_CNT]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__CNT__5AAF56EE]  DEFAULT ((0)) FOR [CNT]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__SUP_AM__5BA37B27]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__VAT_AM__5C979F60]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__INSERT___5D8BC399]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__MODIFY___5E7FE7D2]  DEFAULT (getdate()) FOR [MODIFY_DT]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__SINGO_F__5F740C0B]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__LIQ_DIV__60683044]  DEFAULT ('0') FOR [LIQ_DIV]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__LIQ_RS__615C547D]  DEFAULT ('0') FOR [LIQ_RS]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__ISS_SQ__25325BDD]  DEFAULT ((0)) FOR [ISS_SQ]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__JEONJA___26268016]  DEFAULT ((0)) FOR [JEONJA_YN]
GO
ALTER TABLE [DZAIS].[ATAXSUM] ADD  CONSTRAINT [DF__ATAXSUM__JEONJAS__27D9BE5E]  DEFAULT ((0)) FOR [JEONJASEND15_YN]
GO
