USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_AUTODOCU_UNION_PROC_DEL]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	

CREATE   PROCEDURE [DZAIS].[P_AUTODOCU_UNION_PROC_DEL]
	(	@I_AUTOREV_C_CODE		VARCHAR(4),
		@I_AUTOREV_DNODE_CODE	VARCHAR(4),
		@I_AUTOREV_DDEPT_CODE	VARCHAR(12),
		@I_AUTOREV_DECI_DATE		CHAR(8),
		@I_AUTOREV_DECI_NO		NUMERIC(4, 0)
	) 
AS
DECLARE	@AUTODOCU_DOCU_STAT		CHAR(1),
		@DOCUBAN_COUNT		INT,
		@DOCUH_DOCU_STAT		CHAR(1),
		@COUNT			INT,
		@ERROR_TEXT			VARCHAR(50),
                            @DATA_CODE			VARCHAR(20),
		@DATA_GUBUN		   	VARCHAR(2)
BEGIN
/* 자동전표 전표삭제 프로시져는 P_AUTODOCU_PROC_DEL을 사용하지 않고 P_AUTODOCU_UNION_PROC_DEL을 사용함 */
	SELECT	@AUTODOCU_DOCU_STAT = MAX(A.DOCU_STAT),
--		@AUTOREV_DNODE_CODE	= MAX(R.DNODE_CODE),
--		@AUTOREV_DDEPT_CODE = MAX(R.DDEPT_CODE),
--		@AUTOREV_DECI_DATE = MAX(R.DECI_DATE),
--		@AUTOREV_DECI_NO = ISNULL(MAX(R.DECI_NO), 0),
		@DOCUH_DOCU_STAT =ISNULL(MAX( D.DOCU_STAT), '1'),
		@DOCUBAN_COUNT = MAX((CASE  ISNULL(B.C_CODE, 0) WHEN 0 THEN 0 ELSE 1 END)),
		@COUNT = COUNT(*),
		@DATA_CODE = MAX(A.DATA_CODE),
		@DATA_GUBUN = ISNULL(MAX(A.DATA_GUBUN),'')

	FROM	AUTODOCU A,
		AUTOREV R,
		DOCUH D
		LEFT OUTER JOIN
		DOCUBAN B ON (
		D.C_CODE = B.C_CODE
	AND	D.NODE_CODE = B.NODE_CODE
	AND	D.DEPT_CODE = B.DEPT_CODE
	AND	D.DECI_DATE = B.DECI_DATE
	AND	D.DECI_NO = B.DECI_NO)
	WHERE	R.C_CODE = @I_AUTOREV_C_CODE
	AND	R.DNODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	R.DDEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	R.DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	R.DECI_NO = @I_AUTOREV_DECI_NO
	AND	A.C_CODE = R.C_CODE
	AND	A.NODE_CODE = R.NODE_CODE
	AND	A.DEPT_CODE = R.DEPT_CODE
	AND	A.DATA_GUBUN = R.DATA_GUBUN
	AND	A.WRITE_DATE = R.WRITE_DATE
	AND	A.DATA_NO = R.DATA_NO
	AND	A.DATA_LINE = R.DATA_LINE
	AND	A.DATA_SLIP = R.DATA_SLIP
	AND	R.C_CODE = D.C_CODE
	AND	R.DNODE_CODE = D.NODE_CODE
	AND	R.DDEPT_CODE = D.DEPT_CODE
	AND	R.DECI_DATE = D.DECI_DATE
	AND	R.DECI_NO = D.DECI_NO

	IF	@AUTODOCU_DOCU_STAT = '0' OR @I_AUTOREV_DECI_NO = 0 OR @COUNT = 0
	BEGIN
		SELECT	@ERROR_TEXT = '이미 삭제된 데이타입니다'
		RAISERROR (50001, 10, 1, @ERROR_TEXT)
		RETURN
	END

	IF	@DOCUH_DOCU_STAT <> '1'
	BEGIN
		SELECT	@ERROR_TEXT = '이미 승인된 전표입니다'
		RAISERROR (50001, 10, 1, @ERROR_TEXT)
		RETURN
	END

	IF	@DOCUBAN_COUNT > 0 
	BEGIN
		SELECT	@ERROR_TEXT = '이미 반제된 전표입니다'
		RAISERROR (50002, 10, 1, @ERROR_TEXT)
		RETURN
	END

	DELETE FROM DOCUEXCH
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	NODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'DOCUEXCH DELETE'
		RAISERROR (50005, 10, 1, @ERROR_TEXT)
		RETURN
	END

	DELETE FROM DOCUDD
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	NODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'DOCUDD DELETE'
		RAISERROR (50003, 10, 1, @ERROR_TEXT)
		RETURN
	END

	DELETE FROM DOCUD
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	NODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'DOCUD DELETE'
		RAISERROR (50004, 10, 1, @ERROR_TEXT)
		RETURN
	END


	DELETE FROM DOCUH
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	NODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'DOCUH DELETE'
		RAISERROR (50006, 10, 1, @ERROR_TEXT)
		RETURN
	END

	DELETE FROM BILLREC
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	NODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE1 = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE1 = @I_AUTOREV_DECI_DATE
	AND	DECI_NO1 = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'BILLREC DELETE'
		RAISERROR (50007, 10, 1, @ERROR_TEXT)
		RETURN
	END

	UPDATE	BILLREC
	SET	BILL_CON = '1',
		DEPT_CODE2 = NULL,
		DECI_DATE2 = '00000000',
		DECI_NO2 = 0,
		LINE_NO2 = 0,
		SLIP_NO2 = 0
	FROM	BILLREC B,
		BILLRELA R
	WHERE	R.C_CODE = @I_AUTOREV_C_CODE
--	AND	R.NODE_CODE = @I_AUTOREV_DNODE_CODE
--	AND	R.DEPT_CODE = @I_AUTOREV_DDEPT_CODE
--	AND	R.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
--	AND	R.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
--	AND	R.DATA_NO = @I_AUTODOCU_DATA_NO
	AND	R.BILL_CON = '6'
	AND	B.C_CODE = R.C_CODE
	AND	B.BILL_NO = R.BILL_NO
	AND	B.DECI_NO1 >0
	AND	B.NODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	B.DEPT_CODE2 = @I_AUTOREV_DDEPT_CODE
	AND	B.DECI_DATE2 = @I_AUTOREV_DECI_DATE
	AND	B.DECI_NO2 = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'BILLREC UPDATE'
		RAISERROR (50008, 10, 1, @ERROR_TEXT)
		RETURN
	END

	DELETE	FROM BILLREC
	FROM	BILLREC B,
		BILLRELA R
	WHERE	R.C_CODE = @I_AUTOREV_C_CODE
--	AND	R.NODE_CODE = @I_AUTOREV_DNODE_CODE
--	AND	R.DEPT_CODE = @I_AUTOREV_DDEPT_CODE
--	AND	R.DATA_GUBUN = @I_AUTODOCU_DATA_GUBUN
--	AND	R.WRITE_DATE = @I_AUTODOCU_WRITE_DATE
--	AND	R.DATA_NO = @I_AUTODOCU_DATA_NO
	AND	B.NODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	B.DEPT_CODE2 = @I_AUTOREV_DDEPT_CODE
	AND	B.DECI_DATE2 = @I_AUTOREV_DECI_DATE
	AND	B.DECI_NO2 = @I_AUTOREV_DECI_NO
	AND	R.BILL_CON = '6'
	AND	B.C_CODE = R.C_CODE
	AND	B.BILL_NO = R.BILL_NO
	AND	B.DECI_NO1 = 0

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'BILLREC DELETE'
		RAISERROR (50009, 10, 1, @ERROR_TEXT)
		RETURN
	END

	IF  @DATA_GUBUN <> '21'AND  @DATA_GUBUN <> '95'--@DATA_CODE IS NULL OR LEN(@DATA_CODE) < 1 
	BEGIN
		-- 전자세금계산서 발행분 체크 (2010.02.03)
		SELECT 	@COUNT = COUNT(*)
		FROM	TAX
		WHERE	C_CODE = @I_AUTOREV_C_CODE
		AND	DNODE_CODE = @I_AUTOREV_DNODE_CODE
		AND	DEPT_CODE = @I_AUTOREV_DDEPT_CODE
		AND	DECI_DATE = @I_AUTOREV_DECI_DATE
		AND	DECI_NO = @I_AUTOREV_DECI_NO
		AND	NOT ( ETAX_STAT IS NULL OR ETAX_STAT IN ('', '00','0','3', '9','04','13','14','22','99', 'XX', 'A') )
		
		IF	@COUNT > 0 
		BEGIN
			SELECT	@ERROR_TEXT = '전자세금계산서가 이미 발행되었습니다. 발행을 취소하신후에 삭제하시기 바랍니다.'
			RAISERROR (50001, 10, 1, @ERROR_TEXT)
			RETURN
		END
	END

	INSERT INTO TAX_DEL_BACKUP 
	SELECT 'AUTODOCU', 'AUTODOCU', CONVERT(CHAR(16), GETDATE(), 112), '000000',
			NODE_CODE, TAX_NO, C_CODE, WORK_GUBUN, VEN_TYPE, BAL_DATE, TAX_GU, GONG_AMT, TAX_VAT,
			S_IDNO, DNODE_CODE, DEPT_CODE, DECI_DATE, DECI_NO, LINE_NO, SLIP_NO, RELAT_NO, GONG_AMT2,
			DAY_PRINT, DOCU_STAT, BUL_GUBUN, EXPORT_NO, EXCH_CODE, EXCH_RATE, EXCH_AMT, EJE_RATE, CARDNO,
			PJT_CODE, BUL_AMT, CASH_NUM, CUSTOM_NO, PRT, TAX_AMT2, PRT_YN
	FROM	TAX
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	DNODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'TAX_DEL_BACKUP'
		RAISERROR (50010, 10, 1, @ERROR_TEXT)
		RETURN
	END


	DELETE FROM TAX
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	DNODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'TAX DELETE'
		RAISERROR (50010, 10, 1, @ERROR_TEXT)
		RETURN
	END

	DELETE FROM TAX_SUB
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	DNODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'TAX SUB DELETE'
		RAISERROR (50010, 10, 1, @ERROR_TEXT)
		RETURN
	END

--recept 삭제
	DELETE FROM RECEPT
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	NODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE1 = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'RECEPT DELETE'
		RAISERROR (50012, 10, 1, @ERROR_TEXT)
		RETURN
	END

	UPDATE AUTODOCU
	SET 	DOCU_STAT = '0'
	WHERE	EXISTS
		(
		SELECT * FROM AUTOREV
		WHERE	C_CODE = AUTODOCU.C_CODE
		AND	NODE_CODE = AUTODOCU.NODE_CODE
		AND	DEPT_CODE = AUTODOCU.DEPT_CODE
		AND	DATA_GUBUN = AUTODOCU.DATA_GUBUN
		AND	WRITE_DATE = AUTODOCU.WRITE_DATE
		AND	DATA_NO = AUTODOCU.DATA_NO
		AND	DATA_LINE = AUTODOCU.DATA_LINE
		AND	DATA_SLIP = AUTODOCU.DATA_SLIP
		AND	C_CODE = @I_AUTOREV_C_CODE
		AND	DNODE_CODE = @I_AUTOREV_DNODE_CODE
		AND	DDEPT_CODE = @I_AUTOREV_DDEPT_CODE
		AND	DECI_DATE = @I_AUTOREV_DECI_DATE
		AND	DECI_NO = @I_AUTOREV_DECI_NO
		)

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'AUTODOCU UPDATE'
		RAISERROR (50012, 10, 1, @ERROR_TEXT)
		RETURN
	END


	DELETE FROM AUTOREV
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	DNODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DDEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'AUTOREV DELETE'
		RAISERROR (50011, 10, 1, @ERROR_TEXT)
		RETURN
	END

	DELETE FROM PURCARDMA
	WHERE	C_CODE = @I_AUTOREV_C_CODE
	AND	NODE_CODE = @I_AUTOREV_DNODE_CODE
	AND	DEPT_CODE = @I_AUTOREV_DDEPT_CODE
	AND	DECI_DATE = @I_AUTOREV_DECI_DATE
	AND	DECI_NO = @I_AUTOREV_DECI_NO

	IF	@@ERROR <> 0
	BEGIN
		SELECT	@ERROR_TEXT = 'PURCARDMA DELETE'
		RAISERROR (50013, 10, 1, @ERROR_TEXT)
		RETURN
	END

	RETURN 0
END

GO
