USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPI_DOCUD_ADMISSION_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE PROCEDURE [DZAIS].[UPI_DOCUD_ADMISSION_A]
(@N_C_CODE varchar(4),
 @N_NODE_CODE varchar(4),
 @N_DEPT_CODE varchar(12),
 @N_DECI_NO numeric(4),
 @N_DECI_DATE char(8),
 @N_SLIP_NO numeric(4),
 @N_LINE_NO numeric(4),
 @N_ACCT_CODE char(5),
 @N_DOCU_NO NUMERIC(4),
 @N_TA_GUBUN CHAR(1),
 @N_DR_AMT NUMERIC(15),
 @N_CR_AMT NUMERIC(15),
 @N_ACCT_DATE CHAR(8),
 @N_AMT_GUBUN CHAR(1),
 @N_BUDGET_DEPT_CODE VARCHAR(12),
 @N_PROJ_CODE VARCHAR(12),
 @N_VEN_CODE VARCHAR(6),
 @N_DEPOSIT_NO VARCHAR(20),
 @N_BAN_DECI_DATE CHAR(8),
 @N_DUE_DATE CHAR(8),
 @N_BAN_DECI_NO NUMERIC(4),
 @N_BAN_LINE_NO NUMERIC(4),
 @N_BAN_SLIP_NO NUMERIC(4),
 @N_BAN_DEPT_CODE VARCHAR(12),
 @N_BAN_NODE_CODE VARCHAR(4),
 @N_FUND_CODE CHAR(4),
 @N_NOTE_NAME VARCHAR(100)
)
AS
/*************************************************************************
            설    명 : 전표 승인후 DOCUD 삽입 루틴
            개 발 자 : 이 주 환
            개발일자 : 1999/07/12
**************************************************************************/

BEGIN
    DECLARE
	@ERR_NO  INT,
	@ERR_MSG    VARCHAR(100),
	@ban_gubun	CHAR(1),
	@term_gubun  CHAR(1),
	@cost_amt	NUMERIC(15),
	@gubun		CHAR(1),
	@cal_gisu    VARCHAR(4),
	@banamt      NUMERIC(15),
	@flag		INT,
	@inamt      NUMERIC(15),
	@outamt     NUMERIC(15),
	@outamt_sum NUMERIC(15),
	@inamt_sum  NUMERIC(15),
	@dramt      NUMERIC(15),
	@cramt      NUMERIC(15),
	@dramt_sum  NUMERIC(15),
	@cramt_sum  NUMERIC(15),
	@banamt_sum    NUMERIC(15),
	@exchamt    NUMERIC(15, 4),
	@get_gisu   VARCHAR(3),
	@get_fdate  CHAR(8),
	@s_duedate  CHAR(8),
	@s_vencode  VARCHAR(6),
	@s_gubuncode VARCHAR(2),
	@V_BUDGET_CODE VARCHAR(12),
	@V_PROJ_CODE VARCHAR(12),
	@ACCT_GUBUN	CHAR(1),
	@p_docu_type CHAR(2)


	SELECT @ERR_NO = 20023
	SELECT @flag = 0

	SELECT @ban_gubun = BAN_YN, @term_gubun = TERMCOST_YN, @ACCT_GUBUN = ACCT_GUBUN
	FROM ACCTCODE
	WHERE C_CODE = @N_C_CODE
	AND ACCT_CODE = @N_ACCT_CODE

	IF ( @@ROWCOUNT = 0 )
	BEGIN
		ROLLBACK TRANSACTION
		RAISERROR (20025, 16, -1, '계정과목 등록화면에서 확인하신후 처리하십시요!')
	END


	IF ( @N_DOCU_NO <> 0 AND @N_FUND_CODE IS NOT NULL )
	BEGIN
		INSERT INTO FUNDDO
			(C_CODE,    NODE_CODE, SLIP_NO, LINE_NO,
			 FUND_CODE, DEPT_CODE, DECI_NO, DECI_DATE,
			 ACCT_DATE, FUNDD_AMT, FUND_RMK )
		VALUES
			(@N_C_CODE,    @N_NODE_CODE, @N_SLIP_NO, @N_LINE_NO,
			 @N_FUND_CODE, @N_DEPT_CODE, @N_DECI_NO, @N_DECI_DATE,
			 @N_ACCT_DATE, @N_DR_AMT + @N_CR_AMT, @N_NOTE_NAME )
	END


	-- 승인시 처리 루틴
	IF ( @N_DOCU_NO <> 0 )
	BEGIN

		--2009.04.27 역분개처리된 반제전표는 처리하지 않는다 (오성환)
		SELECT @p_docu_type = DOCU_TYPE
		FROM 	DOCUH
		WHERE DECI_DATE = @N_DECI_DATE
		 AND DECI_NO   = @N_DECI_NO
		 AND DEPT_CODE = @N_DEPT_CODE
		 AND NODE_CODE = @N_NODE_CODE
		 AND C_CODE    = @N_C_CODE

		---  일/월 /부서/프로젝트별/거래처별/관리항목별 집계
		-- 타계정 으로/에서  대체 구하는 법
		IF ( (  @N_TA_GUBUN = '2' ) )
		BEGIN
			SELECT @inamt = @N_DR_AMT
			SELECT @outamt = 0
		END
		ELSE IF  ( ( @N_TA_GUBUN = '1'  ) )
		BEGIN
			SELECT @outamt = @N_CR_AMT
			SELECT @inamt = 0
		END
		ELSE
		BEGIN
			SELECT @inamt  = 0
			SELECT @outamt = 0
		END
	
		SELECT @ERR_NO = 20031
		-- insert DIARYSUM
		-- 일집계 테이블
		-- 현금 집계
	
		IF ( @N_AMT_GUBUN = '1' OR @N_AMT_GUBUN = '2' )
		BEGIN
			SELECT  @flag = 2
			FROM DIARYSUM
			WHERE ACCT_DATE = @N_ACCT_DATE
			AND ACCT_CODE = '10100'
			AND DEPT_CODE = @N_DEPT_CODE
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE    = @N_C_CODE

			IF @@ROWCOUNT = 0 SELECT @flag = 0
			-- 자료가 있을때

			IF ( @flag = 2 )
			BEGIN
				UPDATE DIARYSUM
				SET 	DR_AMT = DR_AMT + ( CASE @N_AMT_GUBUN WHEN '1' THEN  @N_CR_AMT  ELSE 0 END),
					CR_AMT = CR_AMT + ( CASE @N_AMT_GUBUN WHEN '2' THEN  @N_DR_AMT
								ELSE 0 END)
				WHERE ACCT_DATE = @N_ACCT_DATE
				AND ACCT_CODE = '10100'
				AND DEPT_CODE = @N_DEPT_CODE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE    = @N_C_CODE
			END
			ELSE
			BEGIN
				INSERT INTO DIARYSUM
						( C_CODE, NODE_CODE, DEPT_CODE,
						  ACCT_DATE, ACCT_CODE, DR_AMT, CR_AMT )
				VALUES
					  (@N_C_CODE, @N_NODE_CODE, @N_DEPT_CODE,
					 @N_ACCT_DATE, '10100',
					 ( CASE @N_AMT_GUBUN
							WHEN '1' THEN  @N_CR_AMT
							ELSE 0 END ),
						( CASE @N_AMT_GUBUN
							WHEN '2' THEN  @N_DR_AMT
							ELSE 0 END ) )
			END
		END

		SELECT 	@flag = 4, @dramt = DR_AMT,  @cramt = CR_AMT,
			@outamt_sum = OUT_AMT, @inamt_sum = IN_AMT
		FROM DIARYSUM
		WHERE ACCT_DATE = @N_ACCT_DATE
		AND ACCT_CODE = @N_ACCT_CODE
		AND DEPT_CODE = @N_DEPT_CODE
		AND NODE_CODE = @N_NODE_CODE
		AND C_CODE    = @N_C_CODE

		IF ( @flag = 4 )
		BEGIN
			SELECT @ERR_NO = 20032
			  --  있을때는 UPDATE
			SELECT  @dramt = @dramt + @N_DR_AMT
			SELECT  @cramt = @cramt + @N_CR_AMT
			SELECT  @outamt_sum = @outamt_sum + @outamt
			SELECT  @inamt_sum  = @inamt_sum  + @inamt

		  	UPDATE DIARYSUM
			SET 	DR_AMT  = @dramt , CR_AMT = @cramt,
				OUT_AMT = @outamt_sum, IN_AMT = @inamt_sum
			WHERE ACCT_DATE = @N_ACCT_DATE
			  AND ACCT_CODE = @N_ACCT_CODE
			  AND DEPT_CODE = @N_DEPT_CODE
			  AND NODE_CODE = @N_NODE_CODE
			  AND C_CODE    = @N_C_CODE
		END
		ELSE
		BEGIN
			SELECT @ERR_NO = 20033
			-- 없을때는 삽입
			INSERT INTO DIARYSUM
					( C_CODE, NODE_CODE, DEPT_CODE,
					  ACCT_DATE, ACCT_CODE, DR_AMT,
					  CR_AMT, OUT_AMT, IN_AMT )
			VALUES
				 (@N_C_CODE, @N_NODE_CODE, @N_DEPT_CODE,
				 @N_ACCT_DATE, @N_ACCT_CODE, @N_DR_AMT,
				 @N_CR_AMT, @outamt, @inamt )
		END

		-- insert SUMAM
		SELECT @ERR_NO = 20034
		-- 월집계 테이블
		-- 현금 집계

		IF ( @N_AMT_GUBUN = '1' OR @N_AMT_GUBUN = '2' )
		BEGIN
			SELECT @flag = 2
			FROM SUMAM A
			WHERE ACCT_MON = substring(@N_ACCT_DATE,1,6)
			AND ACCT_CODE = '10100'
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE    = @N_C_CODE
		
			IF @@ROWCOUNT = 0  SELECT @flag = 0
			-- 자료가 있을때
			IF ( @flag = 2 )
			BEGIN
				UPDATE SUMAM
				SET CR_AMT = CR_AMT + ( CASE @N_AMT_GUBUN
										WHEN '2' THEN  @N_DR_AMT
										ELSE 0 END ),
				DR_AMT = DR_AMT +  ( CASE @N_AMT_GUBUN
										WHEN '1' THEN  @N_CR_AMT
										ELSE 0 END )
				WHERE ACCT_MON = substring(@N_ACCT_DATE,1,6)
				AND ACCT_CODE = '10100'
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE    = @N_C_CODE
			END
			ELSE
			BEGIN
				INSERT INTO SUMAM
						( C_CODE, NODE_CODE,
						  ACCT_MON, ACCT_CODE, DR_AMT, CR_AMT )
				VALUES
						(@N_C_CODE, @N_NODE_CODE,
						 substring(@N_ACCT_DATE,1,6),
						 '10100', ( CASE @N_AMT_GUBUN
										WHEN '1' THEN  @N_CR_AMT
										 ELSE 0 END ),
						 ( CASE @N_AMT_GUBUN
									WHEN '2' THEN  @N_DR_AMT
									ELSE 0 END ))
			END
		END

		SELECT @flag = 5, @dramt = DR_AMT,
				 @cramt = CR_AMT, @outamt_sum = OUT_AMT, @inamt_sum = IN_AMT
		FROM SUMAM
		WHERE ACCT_CODE = @N_ACCT_CODE
		AND ACCT_MON  = substring(@N_ACCT_DATE,1,6)
		AND NODE_CODE = @N_NODE_CODE
		AND C_CODE    = @N_C_CODE

		IF ( @flag = 5 )
		BEGIN
			--  있을때는 UPDATE
			SELECT @dramt = @dramt + @N_DR_AMT
			SELECT @cramt = @cramt + @N_CR_AMT
			SELECT @outamt_sum = @outamt_sum + @outamt
			SELECT @inamt_sum  = @inamt_sum  + @inamt
			SELECT @ERR_NO = 20045

			UPDATE SUMAM
			SET 	DR_AMT  = @dramt , CR_AMT    = @cramt,
				OUT_AMT = @outamt_sum,IN_AMT = @inamt_sum
			WHERE 	ACCT_CODE = @N_ACCT_CODE
			AND ACCT_MON  = substring(@N_ACCT_DATE,1,6)
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE    = @N_C_CODE
		END
		ELSE
		BEGIN
			SELECT @ERR_NO = 20056
			-- 없을때는 삽입
			
			INSERT INTO SUMAM
					( C_CODE, NODE_CODE,
					ACCT_MON, ACCT_CODE, DR_AMT,
					CR_AMT, OUT_AMT, IN_AMT )
			VALUES
					(@N_C_CODE, @N_NODE_CODE,
					substring(@N_ACCT_DATE,1,6), @N_ACCT_CODE, @N_DR_AMT,
					@N_CR_AMT, @outamt, @inamt )
		END

		SELECT @ERR_NO = 20057
		-- insert SUMNAM
		-------------- 부서별 프로젝트별 집계 테이블
		-- BUDGET_TYPE = '4'일때는 보류
		
		IF ( ( @N_BUDGET_DEPT_CODE IS NULL AND @N_PROJ_CODE IS NULL ) )
		BEGIN
			SELECT @V_BUDGET_CODE = '****'
			SELECT @V_PROJ_CODE = '****'
		END
		ELSE IF  ( ( @N_BUDGET_DEPT_CODE IS NULL AND @N_PROJ_CODE IS NOT NULL ) )
		BEGIN
			SELECT @V_BUDGET_CODE = '****'
			SELECT @V_PROJ_CODE = @N_PROJ_CODE
		END
		ELSE IF  ( ( @N_BUDGET_DEPT_CODE IS NOT NULL AND @N_PROJ_CODE IS NULL ) )
		BEGIN
			SELECT @V_PROJ_CODE = '****'
			SELECT @V_BUDGET_CODE = @N_BUDGET_DEPT_CODE
		END
		ELSE
		BEGIN
			SELECT @V_PROJ_CODE = @N_PROJ_CODE
			SELECT @V_BUDGET_CODE = @N_BUDGET_DEPT_CODE
		END
			
		-- 현금 집계
		IF ( @N_AMT_GUBUN = '1' OR @N_AMT_GUBUN = '2' )
		BEGIN
			UPDATE SUMNAM
			SET 	CR_AMT = CR_AMT + ( CASE @N_AMT_GUBUN
							WHEN '2' THEN  @N_DR_AMT
				       					ELSE 0 END ),
				DR_AMT = DR_AMT +  ( CASE @N_AMT_GUBUN
							WHEN '1' THEN  @N_CR_AMT
				     					ELSE 0 END )
			WHERE ACCT_CODE = '10100'
			AND PROJ_CODE = isnull(@V_PROJ_CODE, '****')
			AND DEPT_CODE = isnull(@V_BUDGET_CODE, '****')
			AND NODE_CODE = @N_NODE_CODE
			AND ACCT_MON  = substring(@N_ACCT_DATE,1,6)
			AND C_CODE    = @N_C_CODE
		END
		
		SELECT @flag = 6, @dramt = DR_AMT, @cramt = CR_AMT,
			@outamt_sum = OUT_AMT, @inamt_sum = IN_AMT
		FROM SUMNAM
		WHERE ACCT_CODE = @N_ACCT_CODE
		AND PROJ_CODE = isnull(@V_PROJ_CODE, '****')
		AND DEPT_CODE = isnull(@V_BUDGET_CODE, '****')
		AND NODE_CODE = @N_NODE_CODE
		AND ACCT_MON  = substring(@N_ACCT_DATE,1,6)
		AND C_CODE    = @N_C_CODE

		IF ( @flag = 6 )
		BEGIN
			--  있을때는 UPDATE
			SELECT @dramt = @dramt + @N_DR_AMT
			SELECT @cramt = @cramt + @N_CR_AMT
			SELECT @outamt_sum = @outamt_sum + @outamt
			SELECT @inamt_sum  = @inamt_sum  + @inamt
			SELECT @ERR_NO = 20058
			
			UPDATE SUMNAM
			SET 	DR_AMT  = @dramt , CR_AMT    = @cramt,
				OUT_AMT = @outamt_sum,IN_AMT = @inamt_sum
			WHERE ACCT_CODE = @N_ACCT_CODE
			AND PROJ_CODE = isnull(@V_PROJ_CODE, '****')
			AND DEPT_CODE = isnull(@V_BUDGET_CODE, '****')
			AND NODE_CODE = @N_NODE_CODE
			AND ACCT_MON  = substring(@N_ACCT_DATE,1,6)
			AND C_CODE    = @N_C_CODE
		END
		ELSE
		BEGIN
			SELECT @ERR_NO = 20059
			-- 없을때는 삽입
		
			INSERT INTO SUMNAM
					( C_CODE, NODE_CODE, ACCT_MON,
					  DEPT_CODE, PROJ_CODE, ACCT_CODE, DR_AMT,
					  CR_AMT, OUT_AMT, IN_AMT )
			VALUES
					(@N_C_CODE, @N_NODE_CODE, substring(@N_ACCT_DATE,1,6),
					 isnull(@V_BUDGET_CODE,'****'), isnull(@V_PROJ_CODE,'****'), @N_ACCT_CODE,@N_DR_AMT,
					 @N_CR_AMT, @outamt, @inamt )
		END
			
		-- insert VENDORSUM
		-- 거래처별 집계 테이블
		IF ( @N_VEN_CODE IS NOT NULL )
		BEGIN
			SELECT @flag = 7, @dramt = DR_AMT, @cramt = CR_AMT, @banamt_sum = BAN_AMT
			FROM VENDORSUM
			WHERE VEN_CODE  = @N_VEN_CODE
			AND ACCT_DATE = @N_ACCT_DATE
			AND ACCT_CODE = @N_ACCT_CODE
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE = @N_C_CODE
		
			IF @@ROWCOUNT = 0  SELECT @banamt_sum = 0
		
			IF ( @flag = 7 )
			BEGIN
				--  있을때는 UPDATE
				SELECT @dramt = @dramt + @N_DR_AMT
				SELECT @cramt = @cramt + @N_CR_AMT
				SELECT @outamt_sum = @outamt_sum + @outamt
				SELECT @inamt_sum  = @inamt_sum  + @inamt
			
				SELECT @ERR_NO = 20061
			
				UPDATE VENDORSUM
				SET 	DR_AMT  = @dramt , CR_AMT = @cramt
				WHERE VEN_CODE  = @N_VEN_CODE
				AND ACCT_DATE = @N_ACCT_DATE
				AND ACCT_CODE = @N_ACCT_CODE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE = @N_C_CODE
			END
			ELSE
			BEGIN
				SELECT @ERR_NO = 20062
				-- 없을때는 삽입
				INSERT INTO VENDORSUM
					( C_CODE, NODE_CODE, VEN_CODE,
					ACCT_DATE, ACCT_CODE, DR_AMT,
					CR_AMT, BAN_AMT )
				VALUES
					(@N_C_CODE, @N_NODE_CODE, @N_VEN_CODE,
					@N_ACCT_DATE, @N_ACCT_CODE, @N_DR_AMT,
					@N_CR_AMT, 0 )
			END
		END
			
		-- 예적금 집계 테이블
		IF ( @N_DEPOSIT_NO IS NOT NULL AND ((@N_ACCT_CODE >= '10100' AND @N_ACCT_CODE <='15099' AND (@ACCT_GUBUN = '1' OR @ACCT_GUBUN  = '2'))
			    OR (@N_ACCT_CODE >= '17100' AND @N_ACCT_CODE <='20099' AND (@ACCT_GUBUN = '1' OR @ACCT_GUBUN  = '2' OR @ACCT_GUBUN  = 'J'OR @ACCT_GUBUN  = 'H'))
				 OR (@N_ACCT_CODE >= '25100' AND @N_ACCT_CODE <='29099' AND @ACCT_GUBUN = '1')))
		BEGIN
			SELECT @flag = 9
			FROM DEPOSITSUM
			WHERE DEPOSIT_NO  = @N_DEPOSIT_NO
			AND ACCT_DATE = @N_ACCT_DATE
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE = @N_C_CODE
		
			IF @@ROWCOUNT = 0 SELECT @flag = 0
		
			IF ( @flag = 9 )
			BEGIN
				--  있을때는 UPDATE
				SELECT @ERR_NO = 20071
				UPDATE DEPOSITSUM
				SET 	DR_AMT  = DR_AMT + @N_DR_AMT , CR_AMT = CR_AMT + @N_CR_AMT
				WHERE 	DEPOSIT_NO  = @N_DEPOSIT_NO
				AND ACCT_DATE = @N_ACCT_DATE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE = @N_C_CODE
				END
			ELSE
			BEGIN
				SELECT @ERR_NO = 20082
				-- 없을때는 삽입
				INSERT INTO DEPOSITSUM
						( C_CODE, NODE_CODE, ACCT_DATE, DEPOSIT_NO,
						 DR_AMT, CR_AMT )
				VALUES
						(@N_C_CODE, @N_NODE_CODE, @N_ACCT_DATE,
						 @N_DEPOSIT_NO, @N_DR_AMT, @N_CR_AMT)
			END
		END

		-- 반제처리에서 사용되는 기수 계산
		SELECT @ERR_NO = 20093
		SELECT @get_gisu = GISU, @get_fdate = FDATE
		FROM V_COMPANYINFO
		WHERE C_CODE = @N_C_CODE
		-- 기수 계산
		
		SELECT @ERR_NO = 20094
		
		IF ( @N_DR_AMT <> 0 )
		BEGIN
			SELECT @cost_amt = @N_DR_AMT
		END
		ELSE
		BEGIN
			SELECT @cost_amt = @N_CR_AMT
		END
			-- 선급비용 처리
		IF ( @term_gubun = '1' )
		BEGIN
			SELECT @ERR_NO = 20093

			UPDATE TERMCOST
			   SET ACCT_DATE = @N_ACCT_DATE, DOCU_NO = @N_DOCU_NO
			 WHERE DECI_DATE = @N_DECI_DATE
				AND DECI_NO   = @N_DECI_NO
				AND LINE_NO   = @N_LINE_NO
				AND SLIP_NO   = @N_SLIP_NO
				AND DEPT_CODE = @N_DEPT_CODE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE    = @N_C_CODE
		END
		
		-- 반제 처리
		IF ( @ban_gubun = '1' )
		BEGIN
			-- 일양 루틴
			-- 반제계정이면서
			-- @N_BAN_DECI_DATE의 날짜가 들어올때
			-- ban_date날짜의 전표(집계)를 찾아서 반영한다.
			-- 해제시는 반대로 빼준다.
			-- 5개 반제 필드중에서 2개만 체크

			IF (  @N_BAN_DECI_DATE <> '00000000' OR @N_BAN_DECI_NO > 0 )
			BEGIN
				SELECT @s_vencode = VEN_CODE, @s_duedate = DUE_DATE
				FROM DOCUBAN
				WHERE DECI_NO = @N_BAN_DECI_NO
				AND DECI_DATE = @N_BAN_DECI_DATE
				AND LINE_NO = @N_BAN_LINE_NO
				AND SLIP_NO = @N_BAN_SLIP_NO
				AND DEPT_CODE = @N_BAN_DEPT_CODE
				AND NODE_CODE = @N_BAN_NODE_CODE
				AND C_CODE = @N_C_CODE
--				IF ( @s_vencode <> @N_VEN_CODE )
				IF RTRIM(ISNULL(@s_vencode,'')) <> RTRIM(ISNULL(@N_VEN_CODE,''))
				BEGIN
					RAISERROR (20043, 16, -1, '원인전표의 거래처값과 다릅니다!')
				END
				
				SELECT @banamt_sum = ( isnull(@N_DR_AMT, 0) + isnull(@N_CR_AMT, 0))
				
				BEGIN
					UPDATE VENDORSUM
					SET 	BAN_AMT = BAN_AMT + @banamt_sum
					WHERE VEN_CODE  = @N_VEN_CODE
					AND ACCT_DATE = @N_BAN_DECI_DATE
					AND ACCT_CODE = @N_ACCT_CODE
					AND NODE_CODE = @N_NODE_CODE
					AND C_CODE = @N_C_CODE
		  	       	END
			END
					
			IF ( ( '101' < substring(@N_ACCT_CODE, 1, 3) AND	substring(@N_ACCT_CODE, 1, 3) < '250' ) OR
				( '451' < substring(@N_ACCT_CODE, 1, 3) AND	substring(@N_ACCT_CODE, 1, 3) < '900' ) OR
				( '931' < substring(@N_ACCT_CODE, 1, 3) AND	substring(@N_ACCT_CODE, 1, 3) < '960' ) OR
				( '981' < substring(@N_ACCT_CODE, 1, 3) AND	substring(@N_ACCT_CODE, 1, 3) < '999' )	)
			BEGIN
				SELECT @gubun = '1'
				-- 차변계정
			END
			ELSE
			BEGIN
				SELECT @gubun = '2'
				-- 대변계정
			END
			--2009.04.27 결산,역분개처리된 반제전표는 처리하지 않는다 (오성환)
			IF ( (( @gubun = '1' AND @N_DR_AMT <> 0 ) OR ( @gubun = '2' AND @N_CR_AMT <> 0 )) and @p_docu_type <> '99'  and @p_docu_type <> '88' )
			BEGIN

				SELECT @ERR_NO = 20064
				-- 환율 금액을 가져와 반제 테이블에 승인시 반영한다.
				BEGIN
					SELECT @exchamt = EXCH_AMT
					  FROM DOCUEXCH
					 WHERE DECI_DATE = @N_DECI_DATE
						AND DECI_NO   = @N_DECI_NO
					   AND LINE_NO   = @N_LINE_NO
						AND SLIP_NO   = @N_SLIP_NO
						AND DEPT_CODE = @N_DEPT_CODE
						AND NODE_CODE = @N_NODE_CODE
						AND C_CODE = @N_C_CODE
					IF @@ROWCOUNT = 0 SELECT @exchamt = 0
				END
				--있으면 업데이트 없으면 insert
				-- due_date (만기일자)반영

				INSERT INTO DOCUBAN (C_CODE, NODE_CODE, SLIP_NO, DECI_NO,
									ACCT_CODE, DECI_DATE, DEPT_CODE,
									ACCT_DATE, DOCU_NO, LINE_NO, VEN_CODE,
									ACCT_AMT, BAN_AMT, EXCH_BAN_AMT,
									EXCH_ACCT_AMT, GUBUN, DUE_DATE)
					VALUES (@N_C_CODE, @N_NODE_CODE, @N_SLIP_NO, @N_DECI_NO,
							@N_ACCT_CODE, @N_DECI_DATE, @N_DEPT_CODE,
								@N_ACCT_DATE, @N_DOCU_NO, @N_LINE_NO, @N_VEN_CODE,
								 @cost_amt, 0, 0,
								 @exchamt, @gubun, @N_DUE_DATE)
			END
		END
		-- 승인해제 루틴	해당 선급비용 삭제
	END
RETURN 0
ON_ERROR:
    RAISERROR (20083, 16, -1, 'UPI_DOCUD_ADMISSION_A 프로시져처리중 에러 발생')
    ROLLBACK  TRANSACTION
END

GO
