USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[MAGAM_GUBUN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[MAGAM_GUBUN](
	[C_CODE] [varchar](4) NOT NULL,
	[DIARY_YN] [char](1) NOT NULL,
	[DECI_YN] [char](1) NOT NULL,
	[ACCT_YN] [char](1) NOT NULL,
 CONSTRAINT [PK_MAGAMGUBUN] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[MAGAM_GUBUN] ADD  CONSTRAINT [DF__MAGAM_GUB__DIARY__440B1D61]  DEFAULT ('0') FOR [DIARY_YN]
GO
ALTER TABLE [DZAIS].[MAGAM_GUBUN] ADD  CONSTRAINT [DF__MAGAM_GUB__DECI___44FF419A]  DEFAULT ('0') FOR [DECI_YN]
GO
ALTER TABLE [DZAIS].[MAGAM_GUBUN] ADD  CONSTRAINT [DF__MAGAM_GUB__ACCT___4984CAEC]  DEFAULT ('0') FOR [ACCT_YN]
GO
