USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UP_TAX_P_INSERT_MENU]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE   PROCEDURE [DZAIS].[UP_TAX_P_INSERT_MENU]
	@EXIST_ID		VARCHAR(12), --016020100000 (부가세신고서)
	@MENU_ID		VARCHAR(12)  --016020400000 (납부서)
AS

DECLARE
	@P_C_CODE	CHAR(4),
	@P_SNO		VARCHAR(10),
	@P_MENU_POS   VARCHAR(12),
	@P_NEW_POS     VARCHAR(12),
	@P_MY_MENU	CHAR(1)

BEGIN 

	--P_MENU에 존재유무체크
	DECLARE  CUR_MENU_TEMP CURSOR FOR
	SELECT 	A.C_CODE, A.SNO, A.MENU_POS, A.MY_MENU
	FROM 	VBASE_P_MENU A
	WHERE 	A.MENU_ID = @EXIST_ID
	AND	NOT EXISTS ( SELECT C_CODE, SNO FROM VBASE_P_MENU WHERE C_CODE = A.C_CODE AND SNO = A.SNO AND MENU_ID = @MENU_ID  GROUP BY C_CODE, SNO )

	OPEN CUR_MENU_TEMP 
	
	--추가하려는 메뉴의 같은 부모레벨의 POS이하값들 하나씩 증가시킨다.
	FETCH NEXT FROM CUR_MENU_TEMP INTO @P_C_CODE, @P_SNO, @P_MENU_POS, @P_MY_MENU
	WHILE(@@FETCH_STATUS = 0)
	BEGIN 
		IF ( LEN(@P_MENU_POS) = 2 )
		BEGIN
			SELECT @P_NEW_POS = RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,@P_MENU_POS) + 1), 2)
			UPDATE VBASE_P_MENU
			SET	MENU_POS = RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(MENU_POS,1,2)) + 1), 2) + SUBSTRING(MENU_POS, 3, LEN(MENU_POS) - 2)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
		END
		IF ( LEN(@P_MENU_POS) = 4 )
		BEGIN
			SELECT @P_NEW_POS = SUBSTRING(@P_MENU_POS,1,2) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,3,2)) + 1), 2)
			UPDATE VBASE_P_MENU
			SET	MENU_POS = SUBSTRING(MENU_POS,1,2) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(MENU_POS,3,2)) + 1), 2) + SUBSTRING(MENU_POS, 5, LEN(MENU_POS) - 4)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
			AND MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,2) + '%'
		END
		IF ( LEN(@P_MENU_POS) = 6 )
		BEGIN
			SELECT @P_NEW_POS = SUBSTRING(@P_MENU_POS,1,4) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,5,2)) + 1), 2)
			UPDATE VBASE_P_MENU
			SET	MENU_POS = SUBSTRING(MENU_POS,1,4) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(MENU_POS,5,2)) + 1), 2) + SUBSTRING(MENU_POS, 7, LEN(MENU_POS) - 6)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
			AND MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,4) + '%'
		END
		IF LEN(@P_MENU_POS) = 8
		BEGIN
			SELECT @P_NEW_POS = SUBSTRING(@P_MENU_POS,1,6) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,7,2)) + 1), 2)
			UPDATE VBASE_P_MENU
			SET	MENU_POS = SUBSTRING(MENU_POS,1,6) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(MENU_POS,7,2)) + 1), 2) + SUBSTRING(MENU_POS, 9, LEN(MENU_POS) - 8)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
			AND MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,6) + '%'
		END
		IF LEN(@P_MENU_POS) = 10
		BEGIN
			SELECT @P_NEW_POS = SUBSTRING(@P_MENU_POS,1,8) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,9,2)) + 1), 2)
			UPDATE VBASE_P_MENU
			SET	MENU_POS = SUBSTRING(MENU_POS,1,8) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(MENU_POS,9,2)) + 1), 2) + SUBSTRING(MENU_POS, 11, LEN(MENU_POS) - 10)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
			AND MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,8) + '%'
		END
		IF LEN(@P_MENU_POS) = 12
		BEGIN
			SELECT @P_NEW_POS = SUBSTRING(@P_MENU_POS,1,10) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_MENU_POS,11,2)) + 1), 2)
			UPDATE VBASE_P_MENU
			SET	MENU_POS = SUBSTRING(MENU_POS,1,10) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(MENU_POS,11,2)) + 1), 2) + SUBSTRING(MENU_POS, 13, LEN(MENU_POS) - 12)
			WHERE C_CODE = @P_C_CODE
			AND SNO = @P_SNO
			AND MENU_POS >= @P_NEW_POS
			AND MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,10) + '%'
		END
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('P_MENU UPDATE에러',16,1)
		    	RETURN 1 
		END
		--납부서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, @MENU_ID, @P_NEW_POS, '1', '1', '1', '1', '1', @P_MY_MENU)
	
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('P_MENU INSERT 에러',16,1)
		    	RETURN 1 
		END
		FETCH NEXT FROM CUR_MENU_TEMP INTO @P_C_CODE, @P_SNO, @P_MENU_POS, @P_MY_MENU
	END 
	
	CLOSE CUR_MENU_TEMP
	DEALLOCATE CUR_MENU_TEMP
	
	RETURN 0
	
END

GO
