USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_ASSET]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_ASSET](
	[C_CODE] [varchar](4) NOT NULL,
	[TAX_NO] [numeric](6, 0) NOT NULL,
	[SEQ] [numeric](8, 0) NOT NULL,
	[BUY_DATE] [char](8) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[ASSET_GUBUN] [char](1) NOT NULL,
	[ITEM_NAME] [varchar](30) NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[ASSET_COUNT] [numeric](6, 0) NOT NULL,
	[DOCU_NODE_CODE] [varchar](4) NULL,
	[DOCU_DEPT_CODE] [varchar](12) NULL,
	[DOCU_DECI_DATE] [char](8) NOT NULL,
	[DOCU_DECI_NO] [numeric](4, 0) NOT NULL,
	[DOCU_LINE_NO] [numeric](4, 0) NOT NULL,
	[DOCU_SLIP_NO] [numeric](4, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_TAX_ASSET] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[TAX_NO] ASC,
	[SEQ] ASC,
	[DOCU_DECI_DATE] ASC,
	[NODE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_ASSET] ADD  CONSTRAINT [DF__TAX_ASSET__GONG___6A06A917]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[TAX_ASSET] ADD  CONSTRAINT [DF__TAX_ASSET__TAX_A__6AFACD50]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[TAX_ASSET] ADD  CONSTRAINT [DF__TAX_ASSET__ASSET__6BEEF189]  DEFAULT ((0)) FOR [ASSET_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_ASSET] ADD  CONSTRAINT [DF__TAX_ASSET__DOCU___6CE315C2]  DEFAULT ('00000000') FOR [DOCU_DECI_DATE]
GO
ALTER TABLE [DZAIS].[TAX_ASSET] ADD  CONSTRAINT [DF__TAX_ASSET__DOCU___6DD739FB]  DEFAULT ((0)) FOR [DOCU_DECI_NO]
GO
ALTER TABLE [DZAIS].[TAX_ASSET] ADD  CONSTRAINT [DF__TAX_ASSET__DOCU___6ECB5E34]  DEFAULT ((0)) FOR [DOCU_LINE_NO]
GO
ALTER TABLE [DZAIS].[TAX_ASSET] ADD  CONSTRAINT [DF__TAX_ASSET__DOCU___6FBF826D]  DEFAULT ((0)) FOR [DOCU_SLIP_NO]
GO
ALTER TABLE [DZAIS].[TAX_ASSET] ADD  CONSTRAINT [DF__TAX_ASSET__TAX_G__7CE47361]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
