USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BONJI]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BONJI](
	[DECI_DATE] [char](8) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[BDECI_DATE] [char](8) NOT NULL,
	[BNODE_CODE] [varchar](4) NULL,
	[BDECI_NO] [numeric](4, 0) NOT NULL,
	[BLINE_NO] [numeric](4, 0) NOT NULL,
	[BSLIP_NO] [numeric](4, 0) NOT NULL,
	[BDEPT_CODE] [varchar](12) NULL,
 CONSTRAINT [PK_BONJI] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BONJI] ADD  CONSTRAINT [DF__BONJI__DECI_NO__690797E6]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[BONJI] ADD  CONSTRAINT [DF__BONJI__LINE_NO__69FBBC1F]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[BONJI] ADD  CONSTRAINT [DF__BONJI__SLIP_NO__6AEFE058]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[BONJI] ADD  CONSTRAINT [DF__BONJI__BDECI_DAT__6BE40491]  DEFAULT ('00000000') FOR [BDECI_DATE]
GO
ALTER TABLE [DZAIS].[BONJI] ADD  CONSTRAINT [DF__BONJI__BDECI_NO__6CD828CA]  DEFAULT ((0)) FOR [BDECI_NO]
GO
ALTER TABLE [DZAIS].[BONJI] ADD  CONSTRAINT [DF__BONJI__BLINE_NO__6DCC4D03]  DEFAULT ((0)) FOR [BLINE_NO]
GO
ALTER TABLE [DZAIS].[BONJI] ADD  CONSTRAINT [DF__BONJI__BSLIP_NO__6EC0713C]  DEFAULT ((0)) FOR [BSLIP_NO]
GO
