USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_OIL]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_OIL](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_DATE] [char](16) NOT NULL,
	[TAX_SEQ] [numeric](6, 0) NOT NULL,
	[S_IDNO] [varchar](10) NULL,
	[VEN_NAME] [varchar](60) NULL,
	[QT_UNIT] [char](1) NOT NULL,
	[AMT_UNIT] [char](1) NOT NULL,
	[QT_1] [numeric](15, 0) NOT NULL,
	[AMT_1] [numeric](15, 0) NOT NULL,
	[QT_2] [numeric](15, 0) NOT NULL,
	[AMT_2] [numeric](15, 0) NOT NULL,
	[QT_3] [numeric](15, 0) NOT NULL,
	[AMT_3] [numeric](15, 0) NOT NULL,
	[QT_4] [numeric](15, 0) NOT NULL,
	[AMT_4] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_TAX_OIL] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[TAX_DATE] ASC,
	[TAX_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__QT_UNIT__46BD6CDA]  DEFAULT ('1') FOR [QT_UNIT]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__AMT_UNI__47B19113]  DEFAULT ('1') FOR [AMT_UNIT]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__QT_1__48A5B54C]  DEFAULT ((0)) FOR [QT_1]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__AMT_1__4999D985]  DEFAULT ((0)) FOR [AMT_1]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__QT_2__4A8DFDBE]  DEFAULT ((0)) FOR [QT_2]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__AMT_2__4B8221F7]  DEFAULT ((0)) FOR [AMT_2]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__QT_3__4C764630]  DEFAULT ((0)) FOR [QT_3]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__AMT_3__4D6A6A69]  DEFAULT ((0)) FOR [AMT_3]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__QT_4__4E5E8EA2]  DEFAULT ((0)) FOR [QT_4]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__AMT_4__4F52B2DB]  DEFAULT ((0)) FOR [AMT_4]
GO
ALTER TABLE [DZAIS].[TAX_OIL] ADD  CONSTRAINT [DF__TAX_OIL__TAX_GUB__51FA155C]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
