USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SP_FUND_APPLY]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [DZAIS].[SP_FUND_APPLY]	(
	@C_CODE	      VARCHAR(4),
	@NODE_CODE		VARCHAR(4),
  	@FROM_DATE		CHAR(8),
	@TO_DATE			CHAR(8) )
 AS
   DECLARE    
	@COUNT     NUMERIC(10),
	@FUND_CODE CHAR(4),
	@PLAN_DATE CHAR(6),
	@FUND_AMT NUMERIC(15)

DECLARE CUR_FUNDFSE_IN CURSOR FOR
	SELECT SUBSTRING(PLAN_DATE,1,6) ,
			 FUND_CODE,
			 SUM(FUNDP_AMT) 
	  FROM FUNDPSE
	WHERE PLAN_DATE >= @FROM_DATE 
	    AND PLAN_DATE <= @TO_DATE  			  
	    AND NODE_CODE = @NODE_CODE
	    AND C_CODE    = @C_CODE
	GROUP BY FUND_CODE,SUBSTRING(PLAN_DATE,1,6)

		OPEN CUR_FUNDFSE_IN   
		FETCH NEXT FROM CUR_FUNDFSE_IN INTO @PLAN_DATE, @FUND_CODE,@FUND_AMT    
		WHILE (@@FETCH_STATUS = 0 )   
		BEGIN          
			IF EXISTS( SELECT 1
							 FROM FUNDFSE 
							WHERE PLAN_DATE = @PLAN_DATE
							  AND FUND_CODE = @FUND_CODE
							  AND NODE_CODE = @NODE_CODE
							  AND C_CODE    = @C_CODE    )
	
						 UPDATE FUNDFSE
						  SET FUND_AMT  = @FUND_AMT
						WHERE PLAN_DATE = @PLAN_DATE
						  AND FUND_CODE = @FUND_CODE
						  AND NODE_CODE = @NODE_CODE
						  AND C_CODE    = @C_CODE
			ELSE
				INSERT INTO FUNDFSE 
						 ( PLAN_DATE, FUND_CODE, NODE_CODE, C_CODE, FUND_AMT) 
				 VALUES(@PLAN_DATE,@FUND_CODE,@NODE_CODE,@C_CODE,@FUND_AMT)

				FETCH NEXT FROM CUR_FUNDFSE_IN INTO @PLAN_DATE, @FUND_CODE,@FUND_AMT
		END

CLOSE CUR_FUNDFSE_IN     DEALLOCATE CUR_FUNDFSE_IN 
RETURN 

GO
