USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FSACCT_INVEN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FSACCT_INVEN](
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[GUBUN_CODE] [varchar](2) NOT NULL,
	[INVEN_NAME_HAN] [varchar](70) NOT NULL,
	[INVEN_NAME_ENG] [varchar](70) NOT NULL,
	[INVEN_NAME_ETC] [varchar](70) NOT NULL,
	[SORT_NO] [numeric](3, 0) NOT NULL,
 CONSTRAINT [PK_FSACCT_INVEN] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[ACCT_CODE] ASC,
	[GUBUN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
