USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPI_DOCUD_BAN_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE  PROCEDURE [DZAIS].[UPI_DOCUD_BAN_A]
(@N_C_CODE VARCHAR(4),     @N_ACCT_CODE CHAR(5),
 @N_BAN_NODE_CODE VARCHAR(4), @N_NODE_CODE VARCHAR(4),
 @N_DR_AMT NUMERIC(15), @N_CR_AMT NUMERIC(15),
 @N_SLIP_NO NUMERIC(4), @N_BAN_SLIP_NO NUMERIC(4),
 @N_DECI_NO NUMERIC(4), @N_BAN_LINE_NO NUMERIC(4),
 @N_LINE_NO NUMERIC(4), @N_BAN_DECI_NO NUMERIC(4),
 @N_BAN_DECI_DATE CHAR(8), @N_DECI_DATE CHAR(8),
 @N_DEPT_CODE VARCHAR(12), @N_BAN_DEPT_CODE VARCHAR(12))
AS

BEGIN
DECLARE
	@ERR_NO  INT,
	@ERR_TEXT   VARCHAR(100),
	@ld_amt NUMERIC(15),
	@ld_jan NUMERIC(15),
	@ld_exchjan NUMERIC(15,4),
	@exchamt NUMERIC(15,4),
	@oldexchamt NUMERIC(15,4)

	IF ( @N_BAN_DECI_DATE IS NOT NULL AND @N_BAN_DECI_NO > 0 AND @N_BAN_LINE_NO > 0 )
	BEGIN
		SELECT @ERR_NO = 20021
		SELECT @ld_jan = ACCT_AMT - BAN_AMT, 
		       @ld_exchjan = EXCH_ACCT_AMT - EXCH_BAN_AMT, 
		       @ld_amt = BAN_AMT
		FROM DOCUBAN
		WHERE C_CODE = @N_C_CODE
		  AND NODE_CODE = @N_BAN_NODE_CODE
		  AND DEPT_CODE = @N_BAN_DEPT_CODE
		  AND DECI_DATE = @N_BAN_DECI_DATE
		  AND DECI_NO = @N_BAN_DECI_NO
		  AND LINE_NO = @N_BAN_LINE_NO
		  AND SLIP_NO = @N_BAN_SLIP_NO
		IF ( @@ROWCOUNT = 0 ) SELECT  @ld_amt = 0, @ld_jan = 0, @ld_exchjan = 0
		
		IF ((@ld_jan > 0 and @N_CR_AMT + @N_DR_AMT > @ld_jan) or (@ld_jan < 0 and @N_CR_AMT + @N_DR_AMT < @ld_jan))
		BEGIN
			SELECT	@ERR_TEXT =  '//' + @N_BAN_DECI_DATE + CONVERT(CHAR(4),@N_BAN_DECI_NO) + 
					CONVERT(CHAR(4),@N_BAN_LINE_NO) +CONVERT(CHAR(4),@N_BAN_SLIP_NO) + '//'
			RAISERROR (99999, 16, -1, @ERR_TEXT)
			ROLLBACK  TRANSACTION
			RETURN 0
		END

		 -- 환율금액 반영
		SELECT  @ERR_NO = 20022
		SELECT @exchamt = EXCH_AMT, @oldexchamt = OLD_EXCH_AMT
		FROM DOCUEXCH
		WHERE DECI_DATE = @N_DECI_DATE
		    AND DECI_NO   = @N_DECI_NO
		    AND LINE_NO   = @N_LINE_NO
		    AND SLIP_NO   = @N_SLIP_NO
		    AND DEPT_CODE = @N_DEPT_CODE
		    AND NODE_CODE = @N_NODE_CODE
		    AND C_CODE = @N_C_CODE
		IF ( @@ROWCOUNT = 0 ) SELECT	@exchamt = 0

		IF ((@ld_exchjan > 0 and @exchamt > @ld_exchjan) or (@ld_exchjan < 0 and @exchamt < @ld_exchjan))
		BEGIN
			SELECT	@ERR_TEXT =  '//' + @N_BAN_DECI_DATE + CONVERT(CHAR(4),@N_BAN_DECI_NO) + 
					CONVERT(CHAR(4),@N_BAN_LINE_NO) +CONVERT(CHAR(4),@N_BAN_SLIP_NO) + '//'
			RAISERROR (99999, 16, -1, @ERR_TEXT)
			ROLLBACK  TRANSACTION
			RETURN 0
		END

		-- 반제 전표입력시 반제원인전표 처리 루틴
		SELECT @ld_amt  = @ld_amt + @N_CR_AMT + @N_DR_AMT
		SELECT @ERR_NO = 20023

		UPDATE DOCUBAN
		SET 	BAN_AMT = @ld_amt,
	       		EXCH_BAN_AMT = @exchamt + EXCH_BAN_AMT
		WHERE C_CODE = @N_C_CODE
		  AND NODE_CODE = @N_BAN_NODE_CODE
		  AND DEPT_CODE = @N_BAN_DEPT_CODE
		  AND DECI_DATE = @N_BAN_DECI_DATE
		  AND DECI_NO = @N_BAN_DECI_NO
		  AND LINE_NO = @N_BAN_LINE_NO
		  AND SLIP_NO = @N_BAN_SLIP_NO

		--환율금액 OLD, NEW 값 동기화
		SELECT @ERR_NO = 20028
		
		UPDATE DOCUEXCH
		SET 	OLD_EXCH_AMT = EXCH_AMT
		WHERE DECI_DATE = @N_DECI_DATE
		AND DECI_NO   = @N_DECI_NO
		AND LINE_NO   = @N_LINE_NO
		AND SLIP_NO   = @N_SLIP_NO
		AND DEPT_CODE = @N_DEPT_CODE
		AND NODE_CODE = @N_NODE_CODE
		AND C_CODE = @N_C_CODE

	END
RETURN 0
ON_ERROR:
    RAISERROR (@ERR_NO, 16, -1, 'UPI_DOCUD_BAN_A 프로시져처리중 에러 발생')
    ROLLBACK  TRANSACTION
END

GO
