USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VENDOR_NO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [DZAIS].[VENDOR_NO]  AS SELECT * FROM BASE.DZBASE.VENDOR_NO

GO
