USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PREV_LCINFO]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PREV_LCINFO](
	[C_CODE] [varchar](4) NOT NULL,
	[LC_NO] [varchar](20) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[NOT_ARRIV] [char](3) NOT NULL,
	[ECT] [varchar](60) NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_PREV_LCINFO] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[LC_NO] ASC,
	[ACCT_DATE] ASC,
	[NOT_ARRIV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[PREV_LCINFO] ADD  CONSTRAINT [DF__PREV_LCIN__DR_AM__4A03EDD9]  DEFAULT ((0)) FOR [DR_AMT]
GO
ALTER TABLE [DZAIS].[PREV_LCINFO] ADD  CONSTRAINT [DF__PREV_LCIN__CR_AM__4AF81212]  DEFAULT ((0)) FOR [CR_AMT]
GO
