USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[LEDRATE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[LEDRATE](
	[DEPR_METHOD] [char](1) NOT NULL,
	[GETD_GUBUN] [char](1) NOT NULL,
	[LIFE_EXIST] [numeric](4, 0) NOT NULL,
	[DEPRE_RATE] [numeric](4, 3) NULL,
 CONSTRAINT [PK_LEDRATE] PRIMARY KEY CLUSTERED 
(
	[DEPR_METHOD] ASC,
	[GETD_GUBUN] ASC,
	[LIFE_EXIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
