USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVTOTDIV]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVTOTDIV](
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[SUP_AM11] [numeric](17, 4) NULL,
	[VAT_AM11] [numeric](17, 4) NULL,
	[VAT_RT] [numeric](12, 4) NULL,
	[SUP_AM12] [numeric](17, 4) NULL,
	[SUP_AM21] [numeric](17, 4) NULL,
	[VAT_AM21] [numeric](17, 4) NULL,
	[SUP_AM26] [numeric](17, 4) NULL,
	[VAT_AM26] [numeric](17, 4) NULL,
	[ADD_AM] [numeric](17, 4) NULL,
	[GONG_AM] [numeric](17, 4) NULL,
	[NAP_AM] [numeric](17, 4) NULL,
	[OUT_AM] [numeric](17, 4) NULL,
	[IN_AM] [numeric](17, 4) NULL,
	[RMK_DC] [varchar](20) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[DIV_CD_SUB] [varchar](7) NOT NULL,
 CONSTRAINT [PK_AVTOTDIV] PRIMARY KEY CLUSTERED 
(
	[FR_DT] ASC,
	[TO_DT] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[SINGO_FG] ASC,
	[DIV_CD_SUB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__FR_DT__4B02FF0A]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__TO_DT__4BF72343]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__SUP_AM__4CEB477C]  DEFAULT ((0)) FOR [SUP_AM11]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__VAT_AM__4DDF6BB5]  DEFAULT ((0)) FOR [VAT_AM11]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__VAT_RT__4ED38FEE]  DEFAULT ((0)) FOR [VAT_RT]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__SUP_AM__4FC7B427]  DEFAULT ((0)) FOR [SUP_AM12]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__SUP_AM__50BBD860]  DEFAULT ((0)) FOR [SUP_AM21]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__VAT_AM__51AFFC99]  DEFAULT ((0)) FOR [VAT_AM21]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__SUP_AM__52A420D2]  DEFAULT ((0)) FOR [SUP_AM26]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__VAT_AM__5398450B]  DEFAULT ((0)) FOR [VAT_AM26]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__ADD_AM__548C6944]  DEFAULT ((0)) FOR [ADD_AM]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__GONG_A__55808D7D]  DEFAULT ((0)) FOR [GONG_AM]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__NAP_AM__5674B1B6]  DEFAULT ((0)) FOR [NAP_AM]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__OUT_AM__5768D5EF]  DEFAULT ((0)) FOR [OUT_AM]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__IN_AM__585CFA28]  DEFAULT ((0)) FOR [IN_AM]
GO
ALTER TABLE [DZAIS].[AVTOTDIV] ADD  CONSTRAINT [DF__AVTOTDIV__SINGO___59511E61]  DEFAULT ('0') FOR [SINGO_FG]
GO
