USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SYS_DW_ATTRIBUTES]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE   VIEW  [DZAIS].[SYS_DW_ATTRIBUTES]  AS  SELECT * FROM  BASE.DZBASE.SYS_DW_ATTRIBUTES


GO
