USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CARDDAMBO]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CARDDAMBO](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[CARD_NO] [varchar](20) NOT NULL,
	[DAMBO_SEQ] [numeric](4, 0) NOT NULL,
	[DAMBO_DATE] [char](8) NULL,
	[DAMBO_AMT] [numeric](15, 0) NOT NULL,
	[LOAN_AMT] [numeric](15, 0) NOT NULL,
	[DAMBO_NOTE] [varchar](50) NULL,
 CONSTRAINT [PK_CARDDAMBO] PRIMARY KEY NONCLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[CARD_NO] ASC,
	[DAMBO_SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CARDDAMBO] ADD  CONSTRAINT [DF__CARDDAMBO__DAMBO__638EB5B2]  DEFAULT ((0)) FOR [DAMBO_AMT]
GO
ALTER TABLE [DZAIS].[CARDDAMBO] ADD  CONSTRAINT [DF__CARDDAMBO__LOAN___6482D9EB]  DEFAULT ((0)) FOR [LOAN_AMT]
GO
