USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PERINFO]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PERINFO](
	[C_CODE] [varchar](4) NOT NULL,
	[SA_CODE] [varchar](10) NOT NULL,
	[KNAME] [varchar](20) NULL,
	[HNAME] [varchar](20) NULL,
	[ENAME] [varchar](20) NULL,
	[CD_DETACH] [char](3) NULL,
	[CD_DUTY] [char](3) NULL,
	[CD_RANK] [char](3) NULL,
	[GRADE_CODE] [char](3) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[NODE_CODE] [varchar](4) NULL,
	[CD_WORK] [char](3) NULL,
	[CD_TYPE] [char](3) NULL,
	[CD_ITEM] [char](3) NULL,
	[EMPLOY_GU] [char](3) NULL,
	[EMP_TYPE] [char](3) NULL,
	[ST_D_ENG] [char](8) NULL,
	[ED_D_ENG] [char](8) NULL,
	[SCH_CAREER] [char](3) NULL,
	[JUMINO] [char](13) NULL,
	[FG_SEX] [char](1) NULL,
	[BIRTHDAY] [char](8) NULL,
	[BIRTH_YN] [char](1) NULL,
	[MARRY_DATE] [char](8) NULL,
	[JONGGO_GU] [char](3) NULL,
	[HOBBY] [char](3) NULL,
	[ABILITY] [char](3) NULL,
	[G_IDATE] [char](8) NULL,
	[IDATE] [char](8) NULL,
	[RDATE] [char](8) NULL,
	[RSDATE] [char](8) NULL,
	[FG_RETIRE] [char](3) NULL,
	[JAEJIK_GU] [char](3) NULL,
	[SSDATE] [char](8) NULL,
	[SEDATE] [char](8) NULL,
	[CD_GROUP] [char](3) NULL,
	[ST_IDATE] [char](8) NULL,
	[BANK_CODE] [char](3) NULL,
	[BANK_NO] [varchar](20) NULL,
	[CAR_YN] [char](1) NULL,
	[PERPOST_NO] [varchar](8) NULL,
	[PERADDR] [varchar](100) NULL,
	[JUMINPOST] [varchar](8) NULL,
	[JUMINADDR] [varchar](100) NULL,
	[POST_NO] [varchar](8) NULL,
	[CURADDR] [varchar](100) NULL,
	[P_HEIGHT] [numeric](4, 1) NULL,
	[P_WEIGHT] [numeric](4, 1) NULL,
	[LEFT_EYE] [numeric](3, 2) NULL,
	[RIGHT_EYE] [numeric](3, 2) NULL,
	[COLOR_TYPE] [char](3) NULL,
	[BLOOD_TYPE] [char](3) NULL,
	[HISTO_SICK] [varchar](100) NULL,
	[LIVE_CODE] [char](3) NULL,
	[DAEJI] [numeric](8, 2) NULL,
	[GUNPYUNG] [numeric](8, 2) NULL,
	[MOVABLES] [numeric](13, 0) NULL,
	[REALTY] [numeric](10, 0) NULL,
	[JASAN_HAP] [numeric](13, 0) NULL,
	[FG_BOHUN] [char](1) NULL,
	[SS_SCORE] [numeric](5, 2) NULL,
 CONSTRAINT [PK_PERINFO] PRIMARY KEY CLUSTERED 
(
	[SA_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([BIRTHDAY]='00000000' OR [BIRTHDAY]>'19500101' AND [BIRTHDAY]<'21000101' AND CONVERT([datetime],[BIRTHDAY])=CONVERT([datetime],[BIRTHDAY])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([ED_D_ENG]='00000000' OR [ED_D_ENG]>'19500101' AND [ED_D_ENG]<'21000101' AND CONVERT([datetime],[ED_D_ENG])=CONVERT([datetime],[ED_D_ENG])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([G_IDATE]='00000000' OR [G_IDATE]>'19500101' AND [G_IDATE]<'21000101' AND CONVERT([datetime],[G_IDATE])=CONVERT([datetime],[G_IDATE])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([IDATE]='00000000' OR [IDATE]>'19500101' AND [IDATE]<'21000101' AND CONVERT([datetime],[IDATE])=CONVERT([datetime],[IDATE])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([MARRY_DATE]='00000000' OR [MARRY_DATE]>'19500101' AND [MARRY_DATE]<'21000101' AND CONVERT([datetime],[MARRY_DATE])=CONVERT([datetime],[MARRY_DATE])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([RDATE]='00000000' OR [RDATE]>'19500101' AND [RDATE]<'21000101' AND CONVERT([datetime],[RDATE])=CONVERT([datetime],[RDATE])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([RSDATE]='00000000' OR [RSDATE]>'19500101' AND [RSDATE]<'21000101' AND CONVERT([datetime],[RSDATE])=CONVERT([datetime],[RSDATE])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([SEDATE]='00000000' OR [SEDATE]>'19500101' AND [SEDATE]<'21000101' AND CONVERT([datetime],[SEDATE])=CONVERT([datetime],[SEDATE])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([SSDATE]='00000000' OR [SSDATE]>'19500101' AND [SSDATE]<'21000101' AND CONVERT([datetime],[SSDATE])=CONVERT([datetime],[SSDATE])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([ST_D_ENG]='00000000' OR [ST_D_ENG]>'19500101' AND [ST_D_ENG]<'21000101' AND CONVERT([datetime],[ST_D_ENG])=CONVERT([datetime],[ST_D_ENG])))
GO
ALTER TABLE [DZAIS].[PERINFO]  WITH CHECK ADD CHECK  (([ST_IDATE]='00000000' OR [ST_IDATE]>'19500101' AND [ST_IDATE]<'21000101' AND CONVERT([datetime],[ST_IDATE])=CONVERT([datetime],[ST_IDATE])))
GO
