USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SCO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE  VIEW [DZAIS].[SCO]   
 AS  
 SELECT  C_CODE CO_CD,   
 C_NAME CO_NM ,  
 CASE WHEN BG_GUBUN = '1' THEN '0' ELSE '1' END  CO_FG, --법인개인구분    
 /** BG_GUBUN(법인개인구분) 1. 법인, 2.개인 **/  
 /**CO_FG(법인,개인구분)  0. 법인,  1. 개인 **/  
 PNO CO_NB,    
 DIDNO PPL_NB,   
        DNAME CEO_NM,  
 D_ADDR CEO_ADDR,  
 '' CEO_ADDR2 ,  
 '' CEO_ADDR1,  
 '' CEO_DDD,  
 HPHONE CEO_TEL ,
 GISU
FROM BASE.DZBASE.COMPANYINFO  

GO
