USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DOCUHREV]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DOCUHREV](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [char](4) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[R_NODE_CODE] [char](4) NOT NULL,
	[R_DEPT_CODE] [varchar](12) NOT NULL,
	[R_DECI_DATE] [char](8) NOT NULL,
	[R_DECI_NO] [numeric](4, 0) NOT NULL,
 CONSTRAINT [PK_DOCUHREV] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DOCUHREV]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX_DOCUHREV] ON [DZAIS].[DOCUHREV]
(
	[R_DECI_DATE] ASC,
	[R_DECI_NO] ASC,
	[R_DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DOCUHREV] ADD  CONSTRAINT [DF_DOCUHREV_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[DOCUHREV] ADD  CONSTRAINT [DF_DOCUHREV_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[DOCUHREV] ADD  CONSTRAINT [DF_DOCUHREV_R_DECI_DATE]  DEFAULT ('00000000') FOR [R_DECI_DATE]
GO
ALTER TABLE [DZAIS].[DOCUHREV] ADD  CONSTRAINT [DF_DOCUHREV_R_DECI_NO]  DEFAULT ((0)) FOR [R_DECI_NO]
GO
