USE [DZAIS]
GO
/****** Object:  View [DZAIS].[M3_USING_LOG]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
 
CREATE VIEW  [DZAIS].[M3_USING_LOG]  AS  SELECT * FROM  BASE.DZBASE.M3_USING_LOG

GO
