USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_BUDGETDO_SUM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [DZAIS].[P_BUDGETDO_SUM] 
	(	@C_CODE		VARCHAR(4)	) AS
DECLARE
	@DEPT_CODE		VARCHAR(12),
	@BUDGET_CODE	CHAR(5),
	@JO_AMT		NUMERIC(15),
	@JO_DATE		CHAR(8),
	@JO_MAX		CHAR(8),
	@SIL_AMT		NUMERIC(15),
	@PYUN_AMT		NUMERIC(15),
	@BUDGET_YM		CHAR(6),
	@BD			CHAR(1),
	@COUNT		NUMERIC
DECLARE	CUR_BUDGETDO_SUM	CURSOR FOR
		SELECT	BUDGET_CODE,
				DEPT_CODE,
				BUDGET_YM,
				PYUN_AMT,
				SIL_AMT
		FROM	BUDGETDO
		WHERE	C_CODE = @C_CODE AND
			DELETE_INFO = '1'
BEGIN
	SELECT	@BD = BD_TYPE
	FROM	BUDGETCON
	WHERE	C_CODE = @C_CODE

	OPEN	CUR_BUDGETDO_SUM
	FETCH	NEXT FROM CUR_BUDGETDO_SUM INTO	@BUDGET_CODE,
							@DEPT_CODE,
							@BUDGET_YM,
							@PYUN_AMT,
							@SIL_AMT
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		IF	SUBSTRING(@BUDGET_CODE, 4, 2) = '00'
		BEGIN
			IF	@BD = '1'
			BEGIN
				SELECT	@COUNT = COUNT(*)
				FROM	BUDGETCODE
				WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = SUBSTRING(@BUDGET_CODE, 1, 3) AND
					BUDGET_CODE NOT LIKE '%00' AND
					C_CODE = @C_CODE
			END
			ELSE
			BEGIN
				SELECT	@COUNT = COUNT(*)
				FROM	BGTCODED
				WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = SUBSTRING(@BUDGET_CODE, 1, 3) AND
					BUDGET_CODE NOT LIKE '%00' AND
					DEPT_CODE = @DEPT_CODE AND
					C_CODE = @C_CODE
			END

			IF @COUNT <= 0
			BEGIN
				/*	집계계정이지만 세목계정이 없다	*/
				SELECT	@COUNT = COUNT(*)
				FROM	BUDGETJO
				WHERE	BUDGET_CODE = @BUDGET_CODE AND
					DEPT_CODE = @DEPT_CODE AND
					BUDGET_YM = @BUDGET_YM AND
					C_CODE = @C_CODE

				IF @COUNT > 0
				BEGIN
					SELECT	@JO_DATE = MAX(JO_DATE), 
							@COUNT = COUNT(*)
					FROM	BUDGETJO
					WHERE	BUDGET_CODE = @BUDGET_CODE AND
						DEPT_CODE = @DEPT_CODE AND
						BUDGET_YM = @BUDGET_YM AND
						C_CODE = @C_CODE
					IF @COUNT > 0
					BEGIN
						SELECT	@JO_AMT = JO_AMT
						FROM	BUDGETJO
						WHERE	BUDGET_CODE = @BUDGET_CODE AND
							DEPT_CODE = @DEPT_CODE AND
							BUDGET_YM = @BUDGET_YM AND
							JO_DATE = @JO_DATE AND
							C_CODE = @C_CODE

						UPDATE	BUDGETDO
						SET	SIL_AMT = @JO_AMT
						WHERE	BUDGET_CODE = @BUDGET_CODE AND
							DEPT_CODE = @DEPT_CODE AND
							BUDGET_YM = @BUDGET_YM AND
							C_CODE = @C_CODE
					END
				END
				ELSE
					/*	조정금액이 없으면 편성금액으로 전환	*/
					UPDATE	BUDGETDO
					SET	SIL_AMT = PYUN_AMT
					WHERE	BUDGET_CODE = @BUDGET_CODE AND
						DEPT_CODE = @DEPT_CODE AND
						BUDGET_YM = @BUDGET_YM AND
						C_CODE = @C_CODE
			END
		END
		ELSE
		BEGIN
			/*	세목계정인 경우	*/
			SELECT	@COUNT = COUNT(*)
			FROM	BUDGETJO
			WHERE	BUDGET_CODE = @BUDGET_CODE AND
				DEPT_CODE = @DEPT_CODE AND
				BUDGET_YM = @BUDGET_YM AND
				C_CODE = @C_CODE
			IF @COUNT > 0
			BEGIN
				SELECT	@JO_DATE = MAX(JO_DATE), 
						@COUNT = COUNT(*)
				FROM	BUDGETJO
				WHERE	BUDGET_CODE = @BUDGET_CODE AND
					DEPT_CODE = @DEPT_CODE AND
					BUDGET_YM = @BUDGET_YM AND
					C_CODE = @C_CODE
				IF @COUNT > 0
				BEGIN
					SELECT	@JO_AMT = JO_AMT
					FROM	BUDGETJO
					WHERE	BUDGET_CODE = @BUDGET_CODE AND
						DEPT_CODE = @DEPT_CODE AND
						BUDGET_YM = @BUDGET_YM AND
						JO_DATE = @JO_DATE AND
						C_CODE = @C_CODE

					UPDATE	BUDGETDO
					SET	SIL_AMT = @JO_AMT
					WHERE	BUDGET_CODE = @BUDGET_CODE AND
						DEPT_CODE = @DEPT_CODE AND
						BUDGET_YM = @BUDGET_YM AND
						C_CODE = @C_CODE
				END
			END
			ELSE
			BEGIN
				/*	조정금액이 없으면 편성금액으로 전환	*/
				UPDATE	BUDGETDO
				SET	SIL_AMT = PYUN_AMT
				WHERE	BUDGET_CODE = @BUDGET_CODE AND
					DEPT_CODE = @DEPT_CODE AND
					BUDGET_YM = @BUDGET_YM AND
					C_CODE = @C_CODE
			END


			SELECT	@COUNT = COUNT(*)
			FROM	BUDGETDO
			WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = SUBSTRING(@BUDGET_CODE, 1, 3) AND
				SUBSTRING(BUDGET_CODE, 4, 2) = '00' AND
				DEPT_CODE = @DEPT_CODE AND
				BUDGET_YM = @BUDGET_YM AND
				C_CODE = @C_CODE
			
			IF @COUNT > 0
			BEGIN
				/*	집계계정에 반영	*/
				UPDATE	BUDGETDO
				SET	SIL_AMT = (	SELECT	ISNULL(SUM(SIL_AMT), 0)
							FROM	BUDGETDO
							WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = 
								SUBSTRING(@BUDGET_CODE, 1, 3) AND
								SUBSTRING(BUDGET_CODE, 4, 2) <> '00' AND
								BUDGET_YM = @BUDGET_YM AND
								DEPT_CODE = @DEPT_CODE AND
								C_CODE = @C_CODE
						  )
				WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = SUBSTRING(@BUDGET_CODE, 1, 3) AND
					SUBSTRING(BUDGET_CODE, 4, 2) = '00' AND
					DEPT_CODE = @DEPT_CODE AND
					BUDGET_YM = @BUDGET_YM AND
					C_CODE = @C_CODE
			END
			ELSE
			BEGIN
				INSERT INTO BUDGETDO(BUDGET_CODE, DEPT_CODE, BUDGET_YM,
						     C_CODE, PYUN_AMT, SIL_AMT, DO_AMT,
						     CDO_AMT, DELETE_INFO)
				SELECT	SUBSTRING(BUDGET_CODE, 1, 3) + '00',
						DEPT_CODE,
						BUDGET_YM,
						C_CODE,
						0,
						ISNULL(SUM(SIL_AMT), 0),
						0,
						0,
						'0'
				FROM	BUDGETDO
				WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = 
					SUBSTRING(@BUDGET_CODE, 1, 3) AND
					SUBSTRING(BUDGET_CODE, 4, 2) <> '00' AND
					BUDGET_YM = @BUDGET_YM AND
					DEPT_CODE = @DEPT_CODE AND
					C_CODE = @C_CODE
				GROUP BY 	SUBSTRING(BUDGET_CODE, 1, 3) + '00',
						DEPT_CODE,
						BUDGET_YM,
						C_CODE
			END
		END
	FETCH	NEXT FROM CUR_BUDGETDO_SUM INTO	@BUDGET_CODE,
						@DEPT_CODE,
						@BUDGET_YM,
						@PYUN_AMT,
						@SIL_AMT
	END
	CLOSE	CUR_BUDGETDO_SUM

	UPDATE	BUDGETDO
	SET	DELETE_INFO = '0'
	WHERE	DELETE_INFO = '1'

	DEALLOCATE	CUR_BUDGETDO_SUM
END

GO
