USE [DZAIS]
GO
/****** Object:  View [DZAIS].[V_COMPANYINFO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [DZAIS].[V_COMPANYINFO]
(
      C_CODE,        C_NAME,     GISU,       FDATE,      TDATE,         BG_GUBUN,   OWNER_NAME, DPOST_NO,   OWNER_ADDR,
      BPOST_NO,      ADDR,       S_IDNO,     C_IDNO,     WORKTYPE,      WORKKIND,   SPHONE,     CPHONE,     HPHONE,
      B_GUBUN,       J_GUBUN,    J_YN,       BEGIN_YMD,  STRU_YMD,      CLOSE_YMD,  P_IDNO,     PLACE_GUBUN,JTAXPLACE,
      TOTACCEPT_NO,  NM_CMPY_E,  DC_ADDR_E,  FG_PROC_W
)AS
SELECT
      C_CODE,        C_NAME,     GISU,       FDATE,      TDATE,         BG_GUBUN,   DNAME,      DPOST_NO,   D_ADDR,
      BPOST_NO,      B_ADDR,     SNO,        PNO,        UPTAE,         JONG,       SPHONE,     CPHONE,     HPHONE,
      B_GUBUN,       J_GUBUN,    J_YN,       BEGIN_YMD,  STRU_YMD,      CLOSE_YMD,  DIDNO,      PLACE_GUBUN,JTAXPLACE,
      TOTACCEPT_NO,  NM_CMPY_E,  DC_ADDR_E,  FG_PROC_W
FROM
      BASE.DZBASE.COMPANYINFO


GO
