USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CARD]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CARD](
	[CARD_NO] [char](3) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[CARD_NAME] [varchar](30) NULL,
	[RELAT_NO] [varchar](20) NULL,
	[DAY] [char](2) NULL,
	[RATE] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[CARD_NO] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
