USE [DZAIS]
GO
/****** Object:  View [DZAIS].[V_ITEM]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW  [DZAIS].[V_ITEM]
(
      C_CODE,     CD_ITEM,    FG_ITEM,    FG_ACCT,    NM_ITEM,    NM_MODEL,   DC_ITEM_UNIT,
      NO_DRAW,    DT_WRITE,   DT_UPDATE,  DC_ITEM_SPEC,DY_LT,     CD_CLAS_ITEM,CD_CLAS_SPEC,
      FG_INSP,    FG_NOTICE,  AM_NOTICE,  NO_HS,      NM_HS,      CD_CUST_P,  CD_WARE,
      DC_UNIT_P,  QT_CONV,    DC_UNIT_WGHT,QT_WGHT,   UM_SALES,   UM_COST,    CD_FACT,
      CD_WKST,    FG_COMM,    CD_ITEM_E,  CD_FITM,    FG_BOM,     TM_CT,      FG_CT,
      DC_POLICY,  QT_LOT,     DC_P,       QT_SAFE,    DC_FENCE,   CD_OPER,    GD_ITEM,
      FG_MPS,     UT_SCRAP,   DT_VALID,   FG_USE,     QT_MINILOT, QT_DAYCAPA, CD_ITEM_GRP,
      DY_LT_P,    CD_UNIT_MGMT,NM_EMP_REG,NM_EMP_CHNG,CD_UNIT_MGMT2,DC_UNIT_VOL,QT_VOL,
      CD_LOC,     FG_SEL,     DC_UNIT_SQR,QT_SQR,     QT_PLT
) AS
SELECT
      C_CODE,     CD_ITEM,    FG_ITEM,    FG_ACCT,    NM_ITEM,    NM_MODEL,   DC_ITEM_UNIT,
      NO_DRAW,    DT_WRITE,   DT_UPDATE,  DC_ITEM_SPEC,DY_LT,     CD_CLAS_ITEM,CD_CLAS_SPEC,
      FG_INSP,    FG_NOTICE,  AM_NOTICE,  NO_HS,      NM_HS,      CD_CUST_P,  CD_WARE,
      DC_UNIT_P,  QT_CONV,    DC_UNIT_WGHT,QT_WGHT,   UM_SALES,   UM_COST,    CD_FACT,
      CD_WKST,    FG_COMM,    CD_ITEM_E,  CD_FITM,    FG_BOM,     TM_CT,      FG_CT,
      DC_POLICY,  QT_LOT,     DC_P,       QT_SAFE,    DC_FENCE,   CD_OPER,    GD_ITEM,
      FG_MPS,     UT_SCRAP,   DT_VALID,   FG_USE,     QT_MINILOT, QT_DAYCAPA, CD_ITEM_GRP,
      DY_LT_P,    CD_UNIT_MGMT,NM_EMP_REG,NM_EMP_CHNG,CD_UNIT_MGMT2,DC_UNIT_VOL,QT_VOL,
      CD_LOC,     FG_SEL,     DC_UNIT_SQR,QT_SQR,     QT_PLT
FROM
   BASE.DZBASE.ITEM



GO
