USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVDISUSE_CALC]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVDISUSE_CALC](
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[CO_CD] [nvarchar](7) NOT NULL,
	[DIV_CD] [nvarchar](7) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[SAL_AM1] [numeric](17, 4) NOT NULL,
	[SAL_AM2] [numeric](17, 4) NOT NULL,
	[SAL_AM3] [numeric](17, 4) NOT NULL,
	[LIM_RT_FG] [nvarchar](1) NOT NULL,
	[LIM_AM] [numeric](17, 4) NOT NULL,
	[PUR_AM1] [numeric](17, 4) NOT NULL,
	[PUR_AM2] [numeric](17, 4) NOT NULL,
	[PUR_AM3] [numeric](17, 4) NOT NULL,
	[DED_AM1] [numeric](17, 4) NOT NULL,
	[DED_AM2] [numeric](17, 4) NOT NULL,
	[DED_RT_FG] [nvarchar](1) NOT NULL,
	[DED_AM3] [numeric](17, 4) NOT NULL,
	[PRE_AM1] [numeric](17, 4) NOT NULL,
	[PRE_AM2] [numeric](17, 4) NOT NULL,
	[PRE_AM3] [numeric](17, 4) NOT NULL,
	[VAT_AM] [numeric](17, 4) NOT NULL,
 CONSTRAINT [PK_AVDISUSE_CALC] PRIMARY KEY CLUSTERED 
(
	[FR_DT] ASC,
	[TO_DT] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___FR_DT__1D713E84]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___TO_DT__1E6562BD]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___SAL_A__1F5986F6]  DEFAULT ((0)) FOR [SAL_AM1]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___SAL_A__204DAB2F]  DEFAULT ((0)) FOR [SAL_AM2]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___SAL_A__2141CF68]  DEFAULT ((0)) FOR [SAL_AM3]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___LIM_A__2235F3A1]  DEFAULT ((0)) FOR [LIM_AM]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___PUR_A__232A17DA]  DEFAULT ((0)) FOR [PUR_AM1]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___PUR_A__241E3C13]  DEFAULT ((0)) FOR [PUR_AM2]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___PUR_A__2512604C]  DEFAULT ((0)) FOR [PUR_AM3]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___DED_A__26068485]  DEFAULT ((0)) FOR [DED_AM1]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___DED_A__26FAA8BE]  DEFAULT ((0)) FOR [DED_AM2]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___DED_R__27EECCF7]  DEFAULT ((0)) FOR [DED_RT_FG]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___DED_A__28E2F130]  DEFAULT ((0)) FOR [DED_AM3]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___PRE_A__29D71569]  DEFAULT ((0)) FOR [PRE_AM1]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___PRE_A__2ACB39A2]  DEFAULT ((0)) FOR [PRE_AM2]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___PRE_A__2BBF5DDB]  DEFAULT ((0)) FOR [PRE_AM3]
GO
ALTER TABLE [DZAIS].[AVDISUSE_CALC] ADD  CONSTRAINT [DF__AVDISUSE___VAT_A__2CB38214]  DEFAULT ((0)) FOR [VAT_AM]
GO
