USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TERMCOST]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TERMCOST](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[DOCU_NO] [numeric](4, 0) NOT NULL,
	[ACCT_CODE] [char](5) NULL,
	[COST_DEPT_CODE] [varchar](12) NULL,
	[PROJ_CODE] [varchar](12) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[TERM_FROM] [char](8) NOT NULL,
	[TERM_TO] [char](8) NOT NULL,
	[DCUL_TYPE] [char](2) NULL,
	[DAY_NO] [numeric](4, 0) NOT NULL,
	[TCOST_AMT] [numeric](15, 0) NOT NULL,
	[END_YN] [char](1) NULL,
	[NOTE_NAME] [varchar](50) NULL,
	[LOACCT_CODE] [char](5) NULL,
	[TERM_GUBUN] [char](1) NOT NULL,
	[INTER_RATE] [numeric](8, 3) NOT NULL,
	[TERMI_DATE] [char](8) NOT NULL,
	[TERMI_RSN] [varchar](50) NULL,
	[TERMI_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_TERMCOST] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_DOCU_NO]  DEFAULT ((0)) FOR [DOCU_NO]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_TERM_FROM]  DEFAULT ('00000000') FOR [TERM_FROM]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_TERM_TO]  DEFAULT ('00000000') FOR [TERM_TO]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_DAY_NO]  DEFAULT ((0)) FOR [DAY_NO]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_TCOST_AMT]  DEFAULT ((0)) FOR [TCOST_AMT]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_TERM_GUBUN]  DEFAULT ('1') FOR [TERM_GUBUN]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF_TERMCOST_INTER_RATE]  DEFAULT ((0)) FOR [INTER_RATE]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF__TERMCOST__TERMI___5A5A5133]  DEFAULT ('00000000') FOR [TERMI_DATE]
GO
ALTER TABLE [DZAIS].[TERMCOST] ADD  CONSTRAINT [DF__TERMCOST__TERMI___5B4E756C]  DEFAULT ((0)) FOR [TERMI_AMT]
GO
ALTER TABLE [DZAIS].[TERMCOST]  WITH CHECK ADD CHECK  (([ACCT_DATE]='00000000' OR [ACCT_DATE]>'19500101' AND [ACCT_DATE]<'21000101' AND CONVERT([datetime],[ACCT_DATE])=CONVERT([datetime],[ACCT_DATE])))
GO
ALTER TABLE [DZAIS].[TERMCOST]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[TERMCOST]  WITH CHECK ADD CHECK  (([TERM_FROM]='00000000' OR [TERM_FROM]>'19500101' AND [TERM_FROM]<'21000101' AND CONVERT([datetime],[TERM_FROM])=CONVERT([datetime],[TERM_FROM])))
GO
ALTER TABLE [DZAIS].[TERMCOST]  WITH CHECK ADD CHECK  (([TERM_TO]='00000000' OR [TERM_TO]>'19500101' AND [TERM_TO]<'21000101' AND CONVERT([datetime],[TERM_TO])=CONVERT([datetime],[TERM_TO])))
GO
