USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_PJTJO]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [DZAIS].[P_PJTJO]
	(	@C_CODE		CHAR(4),
		@PROJ_CODE		VARCHAR(12)
	) AS
DECLARE	@BUDGET_CODE		CHAR(5),
		@JO_DATE			CHAR(8),
		@BUDGET_YM			CHAR(6),
		@JO_AMT			NUMERIC(15),
		@JO_MAX			CHAR(8),
		@SIN_AMT			NUMERIC(15),
		@PYUN_AMT			NUMERIC(15),
		@SIL_AMT			NUMERIC(15),
		@COUNT			NUMERIC
DECLARE	CUR_PJTJO	CURSOR	FOR
		SELECT	BUDGET_CODE,
				JO_DATE,
				BUDGET_YM,
				JO_AMT
		FROM	PJTJO
		WHERE	PROJ_CODE = @PROJ_CODE AND
			C_CODE = @C_CODE
DECLARE	CUR_PJTJO1	CURSOR	FOR
		SELECT	BUDGET_CODE,
				BUDGET_YM
		FROM	PJTBUDGET
		WHERE	PROJ_CODE = @PROJ_CODE AND
			C_CODE = @C_CODE
BEGIN
	OPEN	CUR_PJTJO1
	FETCH	NEXT FROM CUR_PJTJO1 INTO 	@BUDGET_CODE,
						@BUDGET_YM
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		UPDATE	PJTBUDGET
		SET	SIL_AMT = PYUN_AMT
		WHERE	C_CODE = @C_CODE AND
			PROJ_CODE = @PROJ_CODE AND
			BUDGET_YM = @BUDGET_YM AND
			BUDGET_CODE = @BUDGET_CODE

		FETCH	NEXT FROM CUR_PJTJO1 INTO 	@BUDGET_CODE,
							@BUDGET_YM
	END
	CLOSE	CUR_PJTJO1
	DEALLOCATE CUR_PJTJO1

	OPEN	CUR_PJTJO
	FETCH	NEXT FROM CUR_PJTJO INTO 	@BUDGET_CODE,
						@JO_DATE,
						@BUDGET_YM,
						@JO_AMT
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		SELECT	@JO_MAX = MAX(JO_DATE)
		FROM	PJTJO
		WHERE	BUDGET_CODE = @BUDGET_CODE AND
			BUDGET_YM = @BUDGET_YM AND
			PROJ_CODE = @PROJ_CODE AND
			C_CODE = @C_CODE
		
		IF @JO_DATE = @JO_MAX
		BEGIN
			SELECT	@COUNT = COUNT(*)
			FROM	PJTBUDGET
			WHERE	BUDGET_CODE = @BUDGET_CODE AND
				BUDGET_YM = @BUDGET_YM AND
				PROJ_CODE = @PROJ_CODE AND
				C_CODE = @C_CODE
			IF @COUNT > 0
			BEGIN
				UPDATE	PJTBUDGET
				SET	SIL_AMT	= @JO_AMT
				WHERE	BUDGET_CODE = @BUDGET_CODE AND
					BUDGET_YM = @BUDGET_YM AND
					PROJ_CODE = @PROJ_CODE AND
					C_CODE = @C_CODE
			END
			ELSE
			BEGIN
				INSERT INTO PJTBUDGET(C_CODE, PROJ_CODE, BUDGET_YM, BUDGET_CODE,
							SIN_AMT, PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT)
				VALUES(@C_CODE, @PROJ_CODE, @BUDGET_YM, @BUDGET_CODE, 0, 0,
					@JO_AMT, 0, 0)
			END
		END

		IF SUBSTRING(@BUDGET_CODE, 4, 2) <> '00'
		BEGIN
			SELECT	@COUNT = COUNT(*),
					@SIN_AMT = ISNULL(SUM(SIN_AMT), 0),
					@PYUN_AMT = ISNULL(SUM(PYUN_AMT), 0),
					@SIL_AMT = ISNULL(SUM(SIL_AMT), 0)
			FROM	PJTBUDGET
			WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = SUBSTRING(@BUDGET_CODE, 1, 3) AND
				SUBSTRING(BUDGET_CODE, 4, 2) <> '00' AND
				BUDGET_YM = @BUDGET_YM AND
				PROJ_CODE = @PROJ_CODE AND
				C_CODE = @C_CODE
			IF @COUNT > 0
			BEGIN
				SELECT	@COUNT = COUNT(*)
				FROM	PJTBUDGET
				WHERE	BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' AND
					BUDGET_YM = @BUDGET_YM AND
					PROJ_CODE = @PROJ_CODE AND
					C_CODE = @C_CODE
				IF @COUNT > 0
				BEGIN
					UPDATE	PJTBUDGET
					SET	SIN_AMT = @SIN_AMT,
						PYUN_AMT = @PYUN_AMT,
						SIL_AMT = @SIL_AMT
					WHERE	BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' AND
						BUDGET_YM = @BUDGET_YM AND
						PROJ_CODE = @PROJ_CODE AND
						C_CODE = @C_CODE
				END
				ELSE
				BEGIN
					INSERT INTO PJTBUDGET(C_CODE, PROJ_CODE, BUDGET_YM, BUDGET_CODE, SIN_AMT, PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT)
					VALUES(@C_CODE, @PROJ_CODE, @BUDGET_YM, SUBSTRING(@BUDGET_CODE, 1, 3) + '00', @SIN_AMT, @PYUN_AMT, @SIL_AMT, 0, 0)
				END
			END
			ELSE
			BEGIN
				DELETE FROM	PJTBUDGET
				WHERE	BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' AND
					BUDGET_YM = @BUDGET_YM AND
					PROJ_CODE = @PROJ_CODE AND
					C_CODE = @C_CODE
			END
		END
		FETCH	NEXT FROM CUR_PJTJO INTO 	@BUDGET_CODE,
							@JO_DATE,
						@BUDGET_YM,
						@JO_AMT
	END
	CLOSE	CUR_PJTJO
	DEALLOCATE CUR_PJTJO
END

GO
