USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[GRAPHICS_3]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[GRAPHICS_3](
	[PRICE1_1] [numeric](17, 2) NULL,
	[NAME1_1] [char](25) NOT NULL,
	[KUBUN1_1] [char](1) NULL,
	[PRICE2_1] [numeric](17, 2) NULL,
	[NAME2_1] [char](25) NULL,
	[KUBUN2_1] [char](1) NULL,
 CONSTRAINT [PK_G3NAME1_1] PRIMARY KEY CLUSTERED 
(
	[NAME1_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[GRAPHICS_3] ADD  CONSTRAINT [DF_GRAPHICS_3_PRICE1_1]  DEFAULT ((0)) FOR [PRICE1_1]
GO
ALTER TABLE [DZAIS].[GRAPHICS_3] ADD  CONSTRAINT [DF_GRAPHICS_3_PRICE2_1]  DEFAULT ((0)) FOR [PRICE2_1]
GO
