USE [DZAIS]
GO
/****** Object:  View [DZAIS].[V_TPOST]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW  [DZAIS].[V_TPOST]
(
      POST_NO,    POST_SEQ,   CITY_NAME,  GU_NAME,    DONG_NAME,  DONG_DT_NAME,  DDD,  SEND_DELY_GB,  RETURN_DELY_GB,
      EXCH_DELY_GB,SEND_SP_NOTE,RETURN_SP_NOTE,EXCH_SP_NOTE,AREA_GB,USE_YN,   SO_CODE
)  AS
SELECT
      POST_NO,    POST_SEQ,   CITY_NAME,  GU_NAME,    DONG_NAME,  DONG_DT_NAME,  DDD,  SEND_DELY_GB,  RETURN_DELY_GB,
      EXCH_DELY_GB,SEND_SP_NOTE,RETURN_SP_NOTE,EXCH_SP_NOTE,AREA_GB,USE_YN,   SO_CODE
FROM
      BASE.DZBASE.TPOST


GO
