USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[COMCODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[COMCODE](
	[C_CODE] [varchar](4) NOT NULL,
	[GUBUN_CODE] [char](1) NOT NULL,
	[GIVE_CODE] [varchar](12) NOT NULL,
	[GET_CODE] [varchar](12) NOT NULL,
 CONSTRAINT [PK_COMCODE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GUBUN_CODE] ASC,
	[GIVE_CODE] ASC,
	[GET_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
