USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BILLRELA]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BILLRELA](
	[DATA_GUBUN] [varchar](2) NOT NULL,
	[WRITE_DATE] [char](8) NOT NULL,
	[DATA_NO] [numeric](4, 0) NOT NULL,
	[DATA_LINE] [numeric](4, 0) NOT NULL,
	[DATA_SLIP] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[BILL_NO] [varchar](20) NOT NULL,
	[SUGUM_TYPE] [char](1) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[DEPT_CODE2] [varchar](12) NULL,
	[SA_CODE] [varchar](10) NULL,
	[SUGUM_DATE] [char](8) NOT NULL,
	[SILMUL_DEPT_CODE] [varchar](12) NULL,
	[BILL_TYPE] [char](1) NULL,
	[ISS_DATE] [char](8) NOT NULL,
	[DUE_DATE] [char](8) NOT NULL,
	[BANK_CODE] [varchar](3) NULL,
	[ISS] [varchar](20) NULL,
	[P_ENDORSE] [varchar](20) NULL,
	[BILL_AMT] [numeric](15, 0) NOT NULL,
	[BANK_JUM] [varchar](30) NULL,
	[BANK_CODE2] [varchar](3) NULL,
	[BANK_JUM2] [varchar](30) NULL,
	[SUTAK_DATE] [char](8) NULL,
	[FUND_CODE] [varchar](20) NULL,
	[BILL_CON] [char](1) NOT NULL,
	[DEAL_DATE] [char](8) NULL,
 CONSTRAINT [PK_BILLRELA] PRIMARY KEY CLUSTERED 
(
	[DATA_GUBUN] ASC,
	[WRITE_DATE] ASC,
	[DATA_NO] ASC,
	[DATA_LINE] ASC,
	[DATA_SLIP] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BILLRELA] ADD  CONSTRAINT [DF_BILLRELA_WRITE_DATE]  DEFAULT ('00000000') FOR [WRITE_DATE]
GO
ALTER TABLE [DZAIS].[BILLRELA] ADD  CONSTRAINT [DF_BILLRELA_DATA_NO]  DEFAULT ((0)) FOR [DATA_NO]
GO
ALTER TABLE [DZAIS].[BILLRELA] ADD  CONSTRAINT [DF_BILLRELA_DATA_LINE]  DEFAULT ((0)) FOR [DATA_LINE]
GO
ALTER TABLE [DZAIS].[BILLRELA] ADD  CONSTRAINT [DF_BILLRELA_DATA_SLIP]  DEFAULT ((0)) FOR [DATA_SLIP]
GO
ALTER TABLE [DZAIS].[BILLRELA] ADD  CONSTRAINT [DF_BILLRELA_BILL_CON]  DEFAULT ('1') FOR [BILL_CON]
GO
ALTER TABLE [DZAIS].[BILLRELA]  WITH CHECK ADD CHECK  (([DUE_DATE]='00000000' OR [DUE_DATE]>'19500101' AND [DUE_DATE]<'21000101' AND CONVERT([datetime],[DUE_DATE])=CONVERT([datetime],[DUE_DATE])))
GO
ALTER TABLE [DZAIS].[BILLRELA]  WITH CHECK ADD CHECK  (([ISS_DATE]='00000000' OR [ISS_DATE]>'19500101' AND [ISS_DATE]<'21000101' AND CONVERT([datetime],[ISS_DATE])=CONVERT([datetime],[ISS_DATE])))
GO
ALTER TABLE [DZAIS].[BILLRELA]  WITH CHECK ADD CHECK  (([SUGUM_DATE]='00000000' OR [SUGUM_DATE]>'19500101' AND [SUGUM_DATE]<'21000101' AND CONVERT([datetime],[SUGUM_DATE])=CONVERT([datetime],[SUGUM_DATE])))
GO
ALTER TABLE [DZAIS].[BILLRELA]  WITH CHECK ADD CHECK  (([SUTAK_DATE]='00000000' OR [SUTAK_DATE]>'19500101' AND [SUTAK_DATE]<'21000101' AND CONVERT([datetime],[SUTAK_DATE])=CONVERT([datetime],[SUTAK_DATE])))
GO
ALTER TABLE [DZAIS].[BILLRELA]  WITH CHECK ADD CHECK  (([WRITE_DATE]='00000000' OR [WRITE_DATE]>'19500101' AND [WRITE_DATE]<'21000101' AND CONVERT([datetime],[WRITE_DATE])=CONVERT([datetime],[WRITE_DATE])))
GO
