USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[VENDORLAST]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[VENDORLAST](
	[VEN_CODE] [varchar](6) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_VENDORLAST] PRIMARY KEY CLUSTERED 
(
	[VEN_CODE] ASC,
	[ACCT_CODE] ASC,
	[NODE_CODE] ASC,
	[GISU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[VENDORLAST] ADD  CONSTRAINT [DF_VENDORLAST_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[VENDORLAST] ADD  CONSTRAINT [DF_VENDORLAST_DR_AMT]  DEFAULT ((0)) FOR [DR_AMT]
GO
ALTER TABLE [DZAIS].[VENDORLAST] ADD  CONSTRAINT [DF_VENDORLAST_CR_AMT]  DEFAULT ((0)) FOR [CR_AMT]
GO
