USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SDEPT]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE  VIEW [DZAIS].[SDEPT] 
 AS
SELECT 	C_CODE CO_CD,	
	DEPT_CODE DEPT_CD,
	DEPT_NAME DEPT_NM,		
	NODE_CODE DIV_CD
FROM	BASE.DZBASE.STANDARD_DEPT

GO
