USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SPA_AVJEONJA_CHECK]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE      PROCEDURE    [DZAIS].[SPA_AVJEONJA_CHECK]
(
    @CO_CD		VARCHAR(7),     -- 회사코드
    @DIV_CD		VARCHAR(7),     -- 사업장
    @FR_DT              	VARCHAR(8),     -- 시작일 
    @TO_DT             	VARCHAR(8),      -- 종료일 
    @INSERT_ID         	VARCHAR(10),
    @INSERT_DT         	VARCHAR(8), 
    @W_FR_DT		VARCHAR(8), 	--작성기간 시작일
    @W_TO_DT		VARCHAR(8),	--작성기간 종료일
    @SINGO_FG	   	VARCHAR(1),	--신고구분(0.사업자별, 1.사업자단위)
    @B_FR_DT		VARCHAR(8), 	--부동산신고기간 시작일
    @B_TO_DT		VARCHAR(8)	--부동산신고기간 종료일
)
--WITH ENCRYPTION	
AS
/*************************************************************************/  
--설    명 : 부가세신고서 마감   
--수 정 자 : 김경인<-제희경 <- 제희경 <- 제희경 <- 신미란 
--수 정 일 : 20080320<-2008/02/20<-2006/04/12<-2005/10/21<-2005/01/06
--내     용 : 전자신고 부속서식 존재 여부 
--수정내역 :  V104, V105 FR_DT 저장수정
/*************************************************************************/  
/*************************************************************************/  
-- 수정상세내역
-- < 2004/07/16 >
--  * 부가세 서식 코드 변경
--   재활용~ : V121 -> V147 / 신용카드~ : V131 ~ V145
-- <2004/10/06>
-- * 서식명 변경 : 신용카드매출표수취명세서 -> 신용카드매출전표등수취명세서
-- * 서식    삭제 : 사업설비투자실적명세서(V108), 부동산취득명세서(V143)
-- * 서식	    추가 : 건물등감가상각취득명세서(V149), 수익금액명세서(공인회계사, 세무사용)(V137)
-- <2004/10/20>
-- * 서식    추가 : 수익금액명세서(변리사용)(V139)
--<2005/01/06>
-- * 계산서 합계표(매출) V110, 계산서 합계표(매입) V109서식만 
--    작성기간 입력값이 있을때 신고기간이 아니라 작성기간에 해당하는 자료 사용하도록 수정.
-- <2005/04/15>
-- * 서식 추가 - V148, V150 
-- / 변경예외처리 - V104,V105,V109,V110,V120 (부가세신고서, 의제매입세액공제신고서, 부동산임대공급가액명세서)
-- / 추가서식 - V111.V147 (월별판매액합계표/사업자단위신고자의 사업장별 과표 및 세액신고명세서)
-- <2005/10/21>
-- Message insert시 유니코드 처리(N'')
-- <2006/04/12>
-- 서식 코드 및 명 변경 : 매입세액불공제내역(V135) -> 공제받지못할 매입세액 명세서(V153)
-- 공제받지못할 매입세액 명세서 2006/04 신설 서식 처리 
-- <2006/04/21>
-- 공제받지못할 매입세액 명세서 수록 조건 추가.
-- <2006/10/13>
-- * 서식    추가 : 수익금액명세서(건축사용)(V136)
---<2006/12/14>
-- * 월별조기환급 작업으로 수정됨.  AVJEONJA_TEMP_TEMP테이블 이용.(USE_YN은 월별조기환급 화면에서 작성,미작성의 용도)
---<2007/01/15> 
-- * 대손세액공제신청서 V112 FR_DT, TO_DT필드 입력가능 설계 변경으로 인한 수정.
-- < 2007/07/16>
-- 신규서식 추가 : V155 과세사업전환감가상각자산신고서, V157 수입금액명세서(법무사용), V159 수입금액명세서(감정평가사용)
-- <2007/10/01>
-- AVDIV_H.AVDIV_CD에 등록된 사업장이면 총괄납부 사업장
-- <2007/10/10>
-- 서식    추가 : V144 전자화폐결제명세서, V146 면세유류공급명세서, V154 매입자발행세금계산서합계표
-- <2008/02/20>
-- V104, V105 FR_DT 저장수정: 세금계산서합계표매입매출합계(ATAXSUM)와 AVATRPT해당합계
-- FR_DT 불일치로 수정 
--<20080320>
--사업자단위과세신고명세서(V166), 수입금액명세서(V167) 서식추가
--<20080425>
--세금계산서합계표 사업자단위과세 신고조회구분 수정
--<20091012>
--부동산임대공급가액명세서 테이블레이아웃변경
--<20091020>
--부동산임대공급가액명세서 신고시작일/종료일 추가
/*****************************************************************************************/  

BEGIN  
    DECLARE    	@COUNT	AS NUMERIC(19),
--		@DIVCNT   	AS NUMERIC(19)
        	         	@YEAR    	AS VARCHAR(4),
        		@MONTH   	AS VARCHAR(2),
        		@RPT_TM  	AS VARCHAR(6),
        		@FR_YM   	AS VARCHAR(6),
        		@TO_YM   	AS VARCHAR(6),
       	 	@S_ERROR 	AS VARCHAR(100),
        		@V_FR_DT 	AS VARCHAR(8),
        		@V_TO_DT 	AS VARCHAR(8),
        		@V_FR_YM 	AS VARCHAR(6),
        		@V_TO_YM 	AS VARCHAR(6),
--     		@V_DIV_D 	AS VARCHAR(4)
                      	@FG_TY		AS VARCHAR(1),
                       	@FG_YM 	AS VARCHAR(6),
		@V2_FR_DT 	AS VARCHAR(8),	--부동산신고시작일
        		@V2_TO_DT 	AS VARCHAR(8)   --부동산신고종료일


    SELECT @FG_TY='', @FG_YM=''

    SET  @YEAR  = LEFT(@TO_DT,4)
    SET  @MONTH = SUBSTRING(@TO_DT,5,2)
    SET  @RPT_TM = CASE WHEN @MONTH >= '01' AND @MONTH <= '03' THEN @YEAR+'11'
                        WHEN @MONTH >= '04' AND @MONTH <= '06' THEN @YEAR+'12'
                        WHEN @MONTH >= '07' AND @MONTH <= '09' THEN @YEAR+'21'
                        ELSE @YEAR+'22' END

  --사업자단위과세신고여부 체크
  SELECT @FG_TY = ISNULL(FG_TY,'0'), @FG_YM=ISNULL(DUMMY1,'') FROM SYSCFG  
       WHERE CO_CD= @CO_CD  AND MODULE_CD = 'A' AND CTR_CD = '31'

  IF(@SINGO_FG='1' AND @FG_TY='2' AND LEFT(@W_FR_DT,6) >= @FG_YM)	SET @FG_TY='2'


/*
    IF ((SELECT COUNT(1) FROM AVJEONJA_TEMP 
          WHERE CO_CD = @CO_CD 
            AND DIV_CD = @DIV_CD
	--2005.1.10 수정 - 계산서합계표 작성기간 입력값 체크 문제로 RPT_TM으로 조회조건 변경
            AND RPT_TM = @RPT_TM
            AND USE_YN = '2' ) > 0)
    BEGIN
              RETURN
    END
*/

    SET ANSI_WARNINGS OFF
    BEGIN TRANSACTION  



    SELECT @FR_YM = LEFT(@FR_DT,6), @TO_YM = LEFT(@TO_DT,6)

    --2005.1.6 추가 - 부가가치세신고서 작성기간 입력값 있을때 조회조건 변경문제로..
    IF ( ( @W_FR_DT IS NULL OR @W_FR_DT = '' OR LEN(@W_FR_DT) = 0 )  AND ( @W_TO_DT IS NULL OR @W_TO_DT = '' OR LEN(@W_TO_DT) = 0 ) )
      BEGIN
	SET @V_FR_DT = @FR_DT
	SET @V_TO_DT = @TO_DT
      END
    ELSE
      BEGIN
	SET @V_FR_DT = @W_FR_DT
	SET @V_TO_DT = @W_TO_DT
      END

    --20091020 
    IF ( ( @B_FR_DT IS NULL OR @B_FR_DT = '' OR LEN(@B_FR_DT) = 0 )  AND ( @B_TO_DT IS NULL OR @B_TO_DT = '' OR LEN(@B_TO_DT) = 0 ) )
      BEGIN
	SET @V2_FR_DT = @FR_DT
	SET @V2_TO_DT = @TO_DT
      END
    ELSE
      BEGIN
	SET @V2_FR_DT = @B_FR_DT
	SET @V2_TO_DT = @B_TO_DT
      END
    
     --2005.1.6 추가 - 부가가치세신고서 작성기간 입력값 있을때 조회조건 변경문제로..
     SELECT @V_FR_YM = LEFT(@V_FR_DT,6), @V_TO_YM = LEFT(@V_TO_DT,6)

     --2005.1.10 수정 - 계산서합계표 작성기간 입력값 체크 문제로 RPT_TM으로 조회조건 변경
    --DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT
     DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG

   IF( @@ERROR <> 0 )  
   BEGIN  
      RAISERROR(N'AVJEONJA_TEMP 삭제 중 오류가 났습니다.[1]',16,1)  
      ROLLBACK TRANSACTION   
      SET ANSI_WARNINGS ON  
      RETURN  
   END  



   -- 1. V101 일반과세자 부가가치세 신고서 TABLE AVATRPT
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V101') < 1)
--    BEGIN
        SELECT @COUNT = COUNT(1) FROM AVATRPT WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN    
	IF ( ( SELECT COUNT(1) FROM AVATRPT WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND SINGO_FG = @SINGO_FG) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V101',   
	                            N'일반과세자 부가가치세 신고서',
	                            '1',     @INSERT_ID, @INSERT_DT, @SINGO_FG  )    
 	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V101',   
	                            N'일반과세자 부가가치세 신고서',
	                            '0',     @INSERT_ID, @INSERT_DT, @SINGO_FG  )    

           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'일반과세자 부가가치세 신고서 체크 중 오류가 났습니다.[1]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END 
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V101' AND SINGO_FG = @SINGO_FG

      
--    END

/*
TO_DT=4,5,6,10,11,12월

ST_FG = 00
LN_NB = 16
SUP_AM<>2

LN_NB = 17,21 의 SUP_AM을 제외한
저장된 값이 있을 경우

*/

   -- 2. V142 사업장현황명세서 TABLE AVATRPT******** 테이블 확인요망
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V142') < 1)
--    BEGIN 


         SELECT @COUNT = SUM(SUP_AM+VAT_AM+VAT_RT+ 
                                                            DUMMY4+DUMMY5+DUMMY6+   CONVERT(NUMERIC, CASE WHEN RP_DT = '' OR RP_DT = NULL  THEN '0'  ELSE RP_DT END  )  +    
                                                            LEN(
                                                            CASE BUSINESS WHEN '0' THEN '' ELSE BUSINESS END +
                                                            CASE JONGMOK WHEN '0' THEN '' ELSE JONGMOK END +
                                                            CASE LN_NB WHEN '18' THEN '' ELSE DUMMY1 END    +
                                                            CASE LN_NB WHEN '18' THEN '' ELSE DUMMY2 END    +
                                                            DUMMY3))  
           FROM AVATRPT WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND  ST_FG = '00' AND SINGO_FG = @SINGO_FG
                                          AND SUBSTRING(TO_DT,5,2) IN ('04','05','06','10','11','12') 
			AND NOT  ( LN_NB = '16' AND SUP_AM = 2 )
                                          AND NOT  ( LN_NB = '17'  AND SUP_AM IN (11,12,21,22)   )
                                          AND NOT  ( LN_NB = '21'  AND SUP_AM <= 3   )

        IF (@COUNT > 0)
        BEGIN      
	IF  ( ( SELECT SUM(SUP_AM+VAT_AM+VAT_RT+ 
                                                            DUMMY4+DUMMY5+DUMMY6+   CONVERT(NUMERIC, CASE WHEN RP_DT = '' OR RP_DT = NULL  THEN '0'  ELSE RP_DT END  )  +    
                                                            LEN(
                                                            CASE BUSINESS WHEN '0' THEN '' ELSE BUSINESS END +
                                                            CASE JONGMOK WHEN '0' THEN '' ELSE JONGMOK END +
                                                            CASE LN_NB WHEN '18' THEN '' ELSE DUMMY1 END    +
                                                            CASE LN_NB WHEN '18' THEN '' ELSE DUMMY2 END    +
                                                            DUMMY3))  
		           FROM AVATRPT WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND  ST_FG = '00' AND SINGO_FG = @SINGO_FG
		                                          AND SUBSTRING(TO_DT,5,2) IN ('04','05','06','10','11','12') 
					AND NOT  ( LN_NB = '16' AND SUP_AM = 2 )
		                                          AND NOT  ( LN_NB = '17'  AND SUP_AM IN (11,12,21,22)   )
		                                          AND NOT  ( LN_NB = '21'  AND SUP_AM <= 3   ) ) > 0 )
		           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
		                            FORM_NM, 
		                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
		           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V142'  , 
		                           N'사업장현황명세서',
		                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG )    
	ELSE
		           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
		                            FORM_NM, 
		                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
		           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V142'  , 
		                           N'사업장현황명세서',
		                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'사업장현황명세서 체크 중 오류가 났습니다.[2]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  

        END   
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V142' AND SINGO_FG = @SINGO_FG
  
--    END

   -- 3. V117 신용카드매출전표발행금액등집계표 TABLE ATAXCARD
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V117') < 1)
--    BEGIN
        SELECT @COUNT = COUNT(1) FROM ATAXCARD WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_YM = @TO_YM AND CARD_FG = '1' AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM ATAXCARD WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_YM = @FR_YM AND TO_YM = @TO_YM AND CARD_FG = '1' AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 

	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V117' ,  
	                           N'신용카드매출전표발행금액등집계표',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG  )    
	ELSE
  	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V117' ,  
	                           N'신용카드매출전표발행금액등집계표',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG  )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'신용카드매출전표발행금액등집계표 체크 중 오류가 났습니다..[3]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END    
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V117' AND SINGO_FG = @SINGO_FG
--    END

   -- 4. V106 영세율 첨부 서류 제출명세서 TABLE AVFTAX
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V106') < 1)
--    BEGIN
        SELECT @COUNT = COUNT(1) FROM AVFTAX WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_DT = @TO_DT AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM AVFTAX WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V106' ,  
	                           N'영세율첨부서류제출명세서',
	                            '1',     @INSERT_ID,@INSERT_DT,  @SINGO_FG  )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V106' ,  
	                           N'영세율첨부서류제출명세서',
	                            '0',     @INSERT_ID,@INSERT_DT,  @SINGO_FG  )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'영세율첨부서류제출명세서 체크 중 오류가 났습니다.[4]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  

        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V106'  AND SINGO_FG = @SINGO_FG



--    END

/*
  -- 5. V111 의제매입 세액공제 신고서 TABLE AVREGARD
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V111') < 1)
--    BEGIN
        SELECT @COUNT = COUNT(1) FROM AVREGARD WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @FR_DT AND TO_DT = @TO_DT  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
                            FORM_NM, 
                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V111' ,  
                            '의제매입세액공제신고서',
                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR('의제매입세액공제신고서 체크 중 오류가 났습니다.[5]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V111' AND SINGO_FG = @SINGO_FG
*/

-- 서식변경 (2005.04.15)
 -- 5. V111 의제매입 세액공제 신고서 TABLE AVREGARDSUM
        SELECT @COUNT = SUM(ISNULL(SUP_AM, 0)) FROM AVREGARDSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_YM = @TO_YM  AND SINGO_FG = @SINGO_FG AND DOC_FG = '1'
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT SUM(ISNULL(SUP_AM, 0)) FROM AVREGARDSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_YM = @FR_YM AND TO_YM = @TO_YM  AND SINGO_FG = @SINGO_FG AND DOC_FG = '1' ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V111' ,  
	                           N'의제매입세액공제신고서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
		INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V111' ,  
	                           N'의제매입세액공제신고서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
		
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'의제매입세액공제신고서 체크 중 오류가 났습니다.[5]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V111' AND SINGO_FG = @SINGO_FG


--    END

  -- 6. V147 재활용폐 자원매입 세액 공제신고서 TABLE AVDISUSE
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V147') < 1)
--    BEGIN
/*
        SELECT @COUNT = COUNT(1) FROM AVDISUSE WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
                            FORM_NM, 
                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V147',   
                            '재활용폐자원매입세액공제신고서',
                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR('재활용폐자원매입세액공제신고서 체크 중 오류가 났습니다.[6]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V147' AND SINGO_FG = @SINGO_FG
*/
-- 서식변경 (2005.04.15)
  -- 6. V147 재활용폐 자원매입 세액 공제신고서 TABLE AVDISUSE
        SELECT @COUNT = SUM(ISNULL(SUP_AM,0)) FROM AVDISUSESUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_YM = @TO_YM AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN
	IF ( ( SELECT SUM(ISNULL(SUP_AM,0)) FROM AVDISUSESUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_YM = @FR_YM AND TO_YM = @TO_YM AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V147',   
	                            N'재활용폐자원매입세액공제신고서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
		INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V147',   
	                            N'재활용폐자원매입세액공제신고서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'재활용폐자원매입세액공제신고서 체크 중 오류가 났습니다.[6]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V147' AND SINGO_FG = @SINGO_FG

--    END

  --7. V120 부동산 임대공급가액 명세서 TABLE AVEST
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V120') < 1)
--    BEGIN
/*
        SELECT @COUNT = COUNT(1) FROM AVEST WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND SINGO_FG = @SINGO_FG

        IF (@COUNT > 0)
        BEGIN       
           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
                            FORM_NM, 
                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V120',   
                            '부동산임대공급가액명세서',
                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR('부동산임대공급가액명세서 체크 중 오류가 났습니다.[7]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
        
    DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V120' AND SINGO_FG = @SINGO_FG
*/


IF ( @SINGO_FG = '1' )
BEGIN
       /*
        SELECT @COUNT = COUNT(*) 
        FROM
        (
	        SELECT DISTINCT A.DIV_CD FROM AVEST A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD =  @DIV_CD 
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT = @FR_DT AND A.TO_DT = @TO_DT AND A.SINGO_FG = '0'
        ) T

       SELECT @DIVCNT = COUNT(DIV_CD)
       FROM AVDIV_D
       WHERE CO_CD =  @CO_CD AND AVDIV_CD = @DIV_CD 

        IF ( @COUNT = @DIVCNT )
*/
        SELECT @COUNT = COUNT(1) FROM AVEST A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD =  @DIV_CD 
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.TO_DT = @V2_TO_DT AND A.SINGO_FG =@SINGO_FG

        IF (@COUNT > 0)
        BEGIN       
	IF (  ( SELECT COUNT(1) FROM AVEST A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD =  @DIV_CD 
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT = @V2_FR_DT AND A.TO_DT = @V2_TO_DT AND A.SINGO_FG = @SINGO_FG ) > 0 ) 
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @V2_FR_DT, @V2_TO_DT, @RPT_TM, 'V120',   
	                           N'부동산임대공급가액명세서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @V2_FR_DT, @V2_TO_DT, @RPT_TM, 'V120',   
	                           N'부동산임대공급가액명세서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'부동산임대공급가액명세서 체크 중 오류가 났습니다.[7]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @V2_TO_DT AND FORM_CD = 'V120' AND SINGO_FG = @SINGO_FG
END
ELSE
BEGIN
        SELECT @COUNT = COUNT(1) FROM AVEST WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM  AND TO_DT = @V2_TO_DT AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (SELECT COUNT(1) FROM AVEST WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @V2_FR_DT AND TO_DT = @V2_TO_DT AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @V2_FR_DT, @V2_TO_DT, @RPT_TM, 'V120',   
	                           N'부동산임대공급가액명세서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	             INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @V2_FR_DT, @V2_TO_DT, @RPT_TM, 'V120',   
	                           N'부동산임대공급가액명세서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'부동산임대공급가액명세서 체크 중 오류가 났습니다.[7]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @V2_TO_DT AND FORM_CD = 'V120' AND SINGO_FG = @SINGO_FG
END


--    END

  -- 8. V112 대손세액 공제(변제) 신고서  TABLE AVBIL
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V112') < 1)
--    BEGIN
        SELECT @COUNT = COUNT(1) FROM AVBIL WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM  AND SINGO_FG = @SINGO_FG  AND TO_DT = @TO_DT  
        IF (@COUNT > 0)
        BEGIN                
	IF ( ( SELECT COUNT(1) FROM AVBIL WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM  AND SINGO_FG = @SINGO_FG AND FR_DT = @FR_DT AND TO_DT = @TO_DT ) > 0 )
		INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V112',   
	                           N'대손세액공제(변제)신고서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   ) 
	ELSE
		INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V112',   
	                           N'대손세액공제(변제)신고서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   ) 
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'대손세액공제(변제)신고서 체크 중 오류가 났습니다.[8]',16,1)  
              ROLLBACK TRANSACTION   


              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V112'  AND SINGO_FG = @SINGO_FG


--    END


  -- 9. V115 사업장별 부가세 과세표준 및 세액 신고 명세서 TABLE AVTOTDIV
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V115') < 1)
--    BEGIN
       -- 2007.10.01 AVDIV_H.AVDIV_CD에 등록된 사업장이면 총괄납부 사업장
       --IF ( (SELECT COUNT(1) FROM SDIV WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND DUMMY1 = '1'  ) >= 1  )
       IF ( ( SELECT COUNT(1) FROM AVDIV_H WHERE CO_CD = @CO_CD AND AVDIV_CD = @DIV_CD ) >= 1  AND @SINGO_FG =  '0' )
       BEGIN
	       --2004.07.20 by 제희경 ( 현 사업장이 부가세 총괄사업장이 아닐때는 마감서식(전자신고할서식)에 포함시키지 않는다.)
	        SELECT @COUNT = COUNT(1) FROM AVTOTDIV WHERE FR_DT =@FR_DT AND TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND SINGO_FG = @SINGO_FG
	        IF (@COUNT > 0)
	        BEGIN       
		IF ( ( SELECT COUNT(1) FROM AVTOTDIV WHERE FR_DT =@FR_DT AND TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND SINGO_FG = @SINGO_FG ) > 0 )
		           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
		                            FORM_NM, 
		                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
		           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V115',   
		                           N'사업장별 부가세 과세표준및납부세액(환급세액)신고명세서',
		                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
		ELSE
		           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
		                            FORM_NM, 
		                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
		           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V115',   
		                           N'사업장별 부가세 과세표준및납부세액(환급세액)신고명세서',
		                            '0',      @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	           IF( @@ERROR <> 0 )  
	           BEGIN  
	              RAISERROR(N'사업장별 부가세 과세표준및납부세액(환급세액)신고명세서 체크 중 오류가 났습니다.[9]',16,1)  
	              ROLLBACK TRANSACTION   
	              SET ANSI_WARNINGS ON  
	              RETURN  
	           END  
	        END     
	        ELSE
	            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD  AND TO_DT = @TO_DT AND FORM_CD = 'V115' AND SINGO_FG = @SINGO_FG
       END
       ELSE
	DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V115' AND SINGO_FG = @SINGO_FG
	

-- 2004.10.06 by 제희경 (사업설비투자실적명세서 서식 폐지 -> 건물등감가상각자산취득명세서 서식 추가)
/*
  --10. V108 사업설비 투자 실적 명세서 TABLE AVINVEST
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V108') < 1)
--    BEGIN
        SELECT @COUNT = COUNT(1) FROM AVINVEST WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @FR_DT AND TO_DT = @TO_DT
        IF (@COUNT > 0)
        BEGIN       
           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
                            FORM_NM, 
                            USE_YN,  INSERT_ID, INSERT_DT)
           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V108',   
                            '사업설비투자실적명세서',
                            '1',     @INSERT_ID,@INSERT_DT   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR('사업설비투자실적명세서 체크 중 오류가 났습니다. [10]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V108' 



--    END
*/

  --10. V149 건물등감가상각자산취득명세서 TABLE AVASSET
        SELECT @COUNT = COUNT(1) FROM AVASSET WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_YM = @TO_YM AND DOC_FG = '1' AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM AVASSET WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_YM = @FR_YM AND TO_YM = @TO_YM AND DOC_FG = '1' AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V149',   
	                           N'건물등감가상각자산취득명세서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V149',   
	                           N'건물등감가상각자산취득명세서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'건물등감가상각자산취득명세서 체크 중 오류가 났습니다. [10]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V149' AND SINGO_FG = @SINGO_FG



  --11. V145 신용카드 매출전표등수취 명세서 TABLE ATAXCARD
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V145') < 1)
--    BEGIN
--    by제희경 2004/10/11 (RPT_TM체크 부분 삭제)
--        SELECT @COUNT = COUNT(1) FROM ATAXCARD WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_YM = @FR_YM AND TO_YM = @TO_YM AND  RPT_TM = @RPT_TM AND CARD_FG = '2'
-- 2005.04.19 by 제희경 (CARD_FG값 3 추가)
        SELECT @COUNT = COUNT(1) FROM ATAXCARD WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_YM = @TO_YM AND CARD_FG IN ( '2', '3' )  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM ATAXCARD WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_YM = @FR_YM AND TO_YM = @TO_YM AND CARD_FG IN ( '2', '3' )  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V145',   
			--2004.10.06 서식명변경
	                            --'신용카드매출표수취명세서',
			N'신용카드매출전표등수취명세서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V145',   
			--2004.10.06 서식명변경
	                            --'신용카드매출표수취명세서',
			N'신용카드매출전표등수취명세서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
	--2004.10.06 서식명변경
              --RAISERROR('신용카드매출표수취명세서 체크 중 오류가 났습니다.[11]',16,1)  
	RAISERROR(N'신용카드매출전표등수취명세서 체크 중 오류가 났습니다.[11]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V145'  AND SINGO_FG = @SINGO_FG


--    END

-- 2006.04.12 매입세액불공제내역(V135) -> 공제받지못할 매입세액 명세서(V153)
/*
  --12. V135 매입세액 불공제분 계산근거 TABLE AVNON
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V135') < 1)
--    BEGIN
        SELECT @COUNT = COUNT(1) FROM AVNON WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @FR_DT AND TO_DT = @TO_DT  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
                            FORM_NM, 
                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V135',   
                           N'매입세액불공제분 계산근거',
                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'매입세액불공제분 계산근거 체크 중 오류가 났습니다.[12]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V135'  AND SINGO_FG = @SINGO_FG

--    END

*/
  --12. V153 공제받지못할 매입세액 명세서 계산근거 TABLE AVNON2
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V135') < 1)
--    BEGIN
        SELECT @COUNT = COUNT(1) FROM AVNON2 WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_DT = @TO_DT  AND SINGO_FG = @SINGO_FG 							-- 2006.04.21 조건 추가됨.
-- 2006.07.24 
--							AND  SUP_AM > 0 AND VAT_AM > 0 
							AND  ( SUP_AM <> 0 OR VAT_AM <> 0 )
		
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM AVNON2 WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT = @FR_DT AND TO_DT = @TO_DT  AND SINGO_FG = @SINGO_FG AND  ( SUP_AM <> 0 OR VAT_AM <> 0 ) ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V153',   
	                           N'공제받지못할 매입세액 계산근거',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V153',   
	                           N'공제받지못할 매입세액 계산근거',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   ) 
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'공제받지못할 매입세액 계산근거 체크 중 오류가 났습니다.[12]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V153'  AND SINGO_FG = @SINGO_FG

--    END


  --13. V104 매출처별 세금계산서 합계표(갑,을) TABLE ATAXSUM ** 구분값 체크
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V104') < 1)
--    BEGIN
IF ( @SINGO_FG = '1' )
BEGIN
	/*
        SELECT @COUNT = COUNT(1) FROM ATAXSUM A
	INNER JOIN AVDIV_D D
	ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD

	WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @FR_YM+'%' AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '1'  AND A.SINGO_FG = '0'

       SELECT @DIVCNT = COUNT(DIV_CD)
       FROM AVDIV_D
       WHERE CO_CD =  @CO_CD AND AVDIV_CD = @DIV_CD 

        IF (@COUNT = @DIVCNT)
	*/
        SELECT @COUNT = COUNT(1) FROM ATAXSUM A
	INNER JOIN AVDIV_D D
	ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
	WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '1'  --AND A.SINGO_FG = '0'
	   AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END

        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM ATAXSUM A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
	--	WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @FR_YM+'%' AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '1'  AND A.SINGO_FG = '0' ) > 0 )
	           WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @FR_YM+'%' AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '1'  
		AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END  ) > 0 )
	     
		INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   /*@W_FR_DT*/@FR_DT, @TO_DT, @RPT_TM, 'V104',   
	                           N'세금계산서합계표(매출)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,  /*@W_FR_DT*/@FR_DT, @TO_DT, @RPT_TM, 'V104',   
	                           N'세금계산서합계표(매출)',
	                            '0' ,    @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'세금계산서합계표(매출) 체크 중 오류가 났습니다.[13]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V104'  AND SINGO_FG = @SINGO_FG
END
ELSE
BEGIN
        SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_DT LIKE @TO_YM+'%' AND DATA_FG = '1'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT LIKE @FR_YM+'%' AND TO_DT LIKE @TO_YM+'%' AND DATA_FG = '1'  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   /*@W_FR_DT*/@FR_DT, @TO_DT, @RPT_TM, 'V104',   
	                            N'세금계산서합계표(매출)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   /*@W_FR_DT*/@FR_DT, @TO_DT, @RPT_TM, 'V104',   
	                            N'세금계산서합계표(매출)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'세금계산서합계표(매출) 체크 중 오류가 났습니다.[13]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V104'  AND SINGO_FG = @SINGO_FG
END
	


--    END

 --14. V105 매입처별 세금계산서 합계표(갑,을) TABLE ATAXSUM** 구분값 체크
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V105') < 1)
--    BEGIN

IF ( @SINGO_FG = '1' )
BEGIN
/*
        SELECT @COUNT = COUNT(*) FROM
        (
	        SELECT DISTINCT A.DIV_CD FROM ATAXSUM A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @FR_YM+'%' AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '2'  AND A.SINGO_FG = '0'
        ) T

       SELECT @DIVCNT = COUNT(DIV_CD)
       FROM AVDIV_D
       WHERE CO_CD =  @CO_CD AND AVDIV_CD = @DIV_CD 

        IF (@COUNT = @DIVCNT)
*/
        SELECT @COUNT = COUNT(1) FROM ATAXSUM A 
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '2' -- AND A.SINGO_FG = '0'
		  AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM ATAXSUM A 
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		--WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @FR_YM+'%' AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '2'  AND A.SINGO_FG = '0' ) > 0 )
	           WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @FR_YM+'%' AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '2' 
		AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END  ) > 0 )
	       
		INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   /*@W_FR_DT*/@FR_DT, @TO_DT, @RPT_TM, 'V105',   
	                           N'세금계산서합계표(매입)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   /*@W_FR_DT*/@FR_DT, @TO_DT, @RPT_TM, 'V105',   
	                           N'세금계산서합계표(매입)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'세금계산서합계표(매입) 체크 중 오류가 났습니다.[14]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V105'  AND SINGO_FG = @SINGO_FG

END
ELSE
BEGIN
        SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_DT LIKE @TO_YM+'%' AND DATA_FG = '2'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT LIKE @FR_YM+'%' AND TO_DT LIKE @TO_YM+'%' AND DATA_FG = '2'  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   /*@W_FR_DT*/@FR_DT, @TO_DT, @RPT_TM, 'V105',   
	                           N'세금계산서합계표(매입)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,  /* @W_FR_DT*/@FR_DT, @TO_DT, @RPT_TM, 'V105',   
	                           N'세금계산서합계표(매입)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'세금계산서합계표(매입) 체크 중 오류가 났습니다.[14]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V105'  AND SINGO_FG = @SINGO_FG
END
 
/*
        SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @FR_YM+'%' AND TO_DT LIKE @TO_YM+'%' AND DATA_FG = '2'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
                            FORM_NM, 
                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V105',   
                            '세금계산서합계표(매입)',
                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR('세금계산서합계표(매입) 체크 중 오류가 났습니다.[14]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END           END     
        ELSE            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V105'  AND SINGO_FG = @SINGO_FG
*/


 --   END


  --15. V110 매출처별 계산서 합계표 TABLE ATAXSUM ** 구분값 체크  --   IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V110') < 1)
 --   BEGIN
/*
        -- 2005.1.7 수정 --  작성기간 입력값이 있을때 신고기간이 아니라 작성기간에 해당하는 자료 사용하도록 수정.
        --SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @FR_YM+'%' AND TO_DT LIKE @TO_YM+'%' AND DATA_FG = '3'
        SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @V_FR_YM+'%' AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '3'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
                            FORM_NM, 
                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
--       VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V110',   
           VALUES         (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V110',   
                            '계산서합계표(매출)',
                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR('계산서합계표(매출) 체크 중 오류가 났습니다.[15]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
        -- 2005.1.7 수정 --  작성기간 입력값이 있을때 신고기간이 아니라 작성기간에 해당하는 자료 사용하도록 수정.
--       DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V110' 
           DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND FORM_CD = 'V110'  AND SINGO_FG = @SINGO_FG
*/

IF ( @SINGO_FG = '1' )
BEGIN
/*
        SELECT @COUNT = COUNT(*) FROM
        (
	        SELECT DISTINCT A.DIV_CD FROM ATAXSUM A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '3'  AND A.SINGO_FG = '0'
        ) T

       SELECT @DIVCNT = COUNT(DIV_CD)
       FROM AVDIV_D
       WHERE CO_CD =  @CO_CD AND AVDIV_CD = @DIV_CD 

        IF (@COUNT = @DIVCNT)
*/
        SELECT @COUNT = COUNT(1) FROM ATAXSUM A
	INNER JOIN AVDIV_D D
	ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
	WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '3' -- AND A.SINGO_FG = '0'
	  AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM ATAXSUM A
	INNER JOIN AVDIV_D D
	ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
	--WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '3'  AND A.SINGO_FG = '0' ) > 0 )
	    WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '3'  
	           AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END  ) > 0 )
		
		INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	
	           VALUES         (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V110',   
	                           N'계산서합계표(매출)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	
	           VALUES         (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V110',   
	                           N'계산서합계표(매출)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'계산서합계표(매출) 체크 중 오류가 났습니다.[15]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
           DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @V_TO_DT AND FORM_CD = 'V110'  AND SINGO_FG = @SINGO_FG

END
ELSE
BEGIN
        SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '3'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN    
	IF ( ( SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @V_FR_YM+'%' AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '3'  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	
	           VALUES         (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V110',   
	                           N'계산서합계표(매출)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    

	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	
	           VALUES         (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V110',   

	                           N'계산서합계표(매출)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    

           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'계산서합계표(매출) 체크 중 오류가 났습니다.[15]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  

        END     
        ELSE

           DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @V_TO_DT AND FORM_CD = 'V110'  AND SINGO_FG = @SINGO_FG

END

 --   END

 --16. V109 매입처별 계산서 합계표 TABLE ATAXSUM** 구분값 체크
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V109') < 1)
 --   BEGIN
        -- 2005.1.7 수정 --  작성기간 입력값이 있을때 신고기간이 아니라 작성기간에 해당하는 자료 사용하도록 수정.
/*
--     SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @FR_YM+'%' AND TO_DT LIKE @TO_YM+'%' AND DATA_FG = '4'
        SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @V_FR_YM+'%' AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '4'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
                            FORM_NM, 
                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
--       VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V109',   
           VALUES          (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V109',   
                            '계산서합계표(매입)',
                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR('계산서합계표(매입) 체크 중 오류가 났습니다.[16]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
        -- 2005.1.7 수정 --  작성기간 입력값이 있을때 신고기간이 아니라 작성기간에 해당하는 자료 사용하도록 수정.
--          DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V109' 
	DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @V_FR_DT AND TO_DT = @V_TO_DT AND FORM_CD = 'V109'  AND SINGO_FG = @SINGO_FG
*/
IF ( @SINGO_FG = '1' )
BEGIN
	/*
        SELECT @COUNT = COUNT(*) FROM
        (
	        SELECT DISTINCT A.DIV_CD FROM ATAXSUM A
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '4'  AND A.SINGO_FG = '0'
        ) T

       SELECT @DIVCNT = COUNT(DIV_CD)
       FROM AVDIV_D
       WHERE CO_CD =  @CO_CD AND AVDIV_CD = @DIV_CD 

        IF (@COUNT = @DIVCNT)
*/
        SELECT @COUNT = COUNT(1) FROM ATAXSUM A
	INNER JOIN AVDIV_D D
	ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
	WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '4'-- AND A.SINGO_FG = '0'
	  AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END

        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM ATAXSUM A
	INNER JOIN AVDIV_D D
	ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
	--WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '4'  AND A.SINGO_FG = '0' ) > 0 )
	    WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND  A.FR_DT LIKE @V_FR_YM+'%' AND A.TO_DT LIKE @V_TO_YM+'%' AND A.DATA_FG = '4'  
		AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END  ) > 0 )

		INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V109',   
	                           N'계산서합계표(매입)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V109',   
	                           N'계산서합계표(매입)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'계산서합계표(매입) 체크 중 오류가 났습니다.[16]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
	DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @V_TO_DT AND FORM_CD = 'V109'  AND SINGO_FG = @SINGO_FG

END
ELSE
BEGIN
        SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '4'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND  FR_DT LIKE @V_FR_YM+'%' AND TO_DT LIKE @V_TO_YM+'%' AND DATA_FG = '4'  AND SINGO_FG = @SINGO_FG ) > 0 )
	  INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V109',   
	                           N'계산서합계표(매입)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	
	ELSE
   
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @V_FR_DT, @V_TO_DT, @RPT_TM, 'V109',   
	                           N'계산서합계표(매입)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'계산서합계표(매입) 체크 중 오류가 났습니다.[16]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
	DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @V_TO_DT AND FORM_CD = 'V109'  AND SINGO_FG = @SINGO_FG
END


--    END

 --17. V141 수출실적명세서 TABLE AVEXPO
 --   IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V141') < 1)
 --   BEGIN
        SELECT @COUNT = COUNT(1) FROM AVEXPO WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD  AND RPT_TM = @RPT_TM  AND SINGO_FG = @SINGO_FG--AND FR_DT = @FR_DT AND TO_DT = @TO_DT
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM AVEXPO WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V141',   
	                            N'수출실적명세서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V141',   
	                            N'수출실적명세서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'수출실적명세서 체크 중 오류가 났습니다.[17]',16,1)  
              ROLLBACK TRANSACTION   


              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V141'  AND SINGO_FG = @SINGO_FG


--    END

-- 2004.10.06 by 제희경 (부동산취득명세서 폐지 -> 수입금액명세서(공인회계사,세무사용) 서식 추가)
/*
--18. V143 부동산 취득 명세서 TABLE AVESTATE
--    IF ( (SELECT COUNT(1) FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V143') < 1)
--    BEGIN      
  SELECT @COUNT = COUNT(1) FROM AVESTATE WHERE FR_YM = @FR_YM AND TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD 
        IF (@COUNT > 0)
        BEGIN       
           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
                            FORM_NM, 
                            USE_YN,  INSERT_ID, INSERT_DT)
           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V143',   
                            '부동산취득명세서',
                            '1',     @INSERT_ID,@INSERT_DT   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR('부동산취득명세서  체크 중 오류가 났습니다.[18]',16,1)  
              ROLLBACK TRANSACTION   

              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V143' 


    END
    COMMIT TRANSACTION
    SET ANSI_WARNINGS ON

--END
*/

--2006.10.13 추가
--18. V136 수입금액명세서(건축사용) TABLE AVINCOME
      SELECT @COUNT = COUNT(1) FROM AVINCOME WHERE TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '3'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @FR_YM AND TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '3'  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V136',   
	                            N'수입금액명세서(건축사용)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V136',   
	                            N'수입금액명세서(건축사용)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'수입금액명세서(건축사용)  체크 중 오류가 났습니다.[18]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V136'  AND SINGO_FG = @SINGO_FG


--19. V137 수입금액명세서(공인회계사,세무사용) TABLE AVINCOME
-- 2004.10.20 (수정요청)
--  SELECT @COUNT = COUNT(1) FROM AVINCOME WHERE FR_YM = @FR_YM AND TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG IN ( '1', '2' )
      SELECT @COUNT = COUNT(1) FROM AVINCOME WHERE TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '1'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @FR_YM AND TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '1'  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V137',   
	                            N'수입금액명세서(공인회계사,세무사용)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V137',   
	                            N'수입금액명세서(공인회계사,세무사용)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'수입금액명세서(공인회계사,세무사용)  체크 중 오류가 났습니다.[19]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V137'  AND SINGO_FG = @SINGO_FG


--20. V139 수입금액명세서(변리사용) TABLE AVINCOME
      SELECT @COUNT = COUNT(1) FROM AVINCOME WHERE TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '2'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @FR_YM AND TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '2'  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V139',   
	                            N'수입금액명세서(변리사용)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V139',   
	                            N'수입금액명세서(변리사용)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'수입금액명세서(변리사용)  체크 중 오류가 났습니다.[20]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V139'  AND SINGO_FG = @SINGO_FG

/*
    COMMIT TRANSACTION
    SET ANSI_WARNINGS ON
*/



--21. V148 월별판매액합계표
     SELECT @COUNT = COUNT(1) FROM AVMONSALE WHERE TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM AVMONSALE WHERE FR_YM = @FR_YM AND TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM,  FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V148',   
	                            N'월계표별판매액합계표(농.축산.임.어업용기자재)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM,  FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V148',   
	                            N'월계표별판매액합계표(농.축산.임.어업용기자재)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'월계표별판매액합계표(농.축산.임.어업용기자재)  체크 중 오류가 났습니다.[21]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V148'  AND SINGO_FG = @SINGO_FG


--22. V150 사업자단위신고. 납부자의 사업장별 부가가치세 과세표준 및 납부(환급)세액 신고명세서
      IF ( @SINGO_FG = '1' )
      BEGIN
	IF(@FG_TY='2' )  
     	  BEGIN
  	        SELECT @COUNT = COUNT(1) FROM AVTOTDIV3 
		WHERE TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1'
	       
	       IF (@COUNT > 0)
	        BEGIN       
		IF ( ( SELECT COUNT(1) FROM AVTOTDIV3 
		WHERE FR_DT = @FR_DT AND TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1' ) > 0 )
		           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM,  FORM_CD, 
		                            FORM_NM, 
		                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
		           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V166',   
				N'사업자단위과세사업장별세액명세서',
		                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
		ELSE
		           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM,  FORM_CD, 
		                            FORM_NM, 
		                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
		           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V166',   
				N'사업자단위과세사업장별세액명세서',
		                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	           IF( @@ERROR <> 0 )  
	           BEGIN  
	              RAISERROR(N'사업자단위과세 사업장별 부가세 과세표준 및 납부(환급)세액신고명세서  체크 중 오류가 났습니다.[22]',16,1)  
	              ROLLBACK TRANSACTION   
	              SET ANSI_WARNINGS ON  
	              RETURN  
	           END  
	        END     
	        ELSE
	            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V166'  AND SINGO_FG = @SINGO_FG
     	  END
	ELSE
	  BEGIN 
	     SELECT @COUNT = COUNT(1) FROM AVTOTDIV2 
		WHERE TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1'
	        IF (@COUNT > 0)
	        BEGIN       
		IF ( ( SELECT COUNT(1) FROM AVTOTDIV2 
		WHERE FR_DT = @FR_DT AND TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1' ) > 0 )
		           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM,  FORM_CD, 
		                            FORM_NM, 
		                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
		           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V150',   
				N'사업자단위사업장별세액명세서',
		                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
		ELSE
		           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM,  FORM_CD, 
		                            FORM_NM, 
		                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
		           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V150',   
				N'사업자단위사업장별세액명세서',
		                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	           IF( @@ERROR <> 0 )  
	           BEGIN  
	              RAISERROR(N'사업자단위 사업장별 부가세 과세표준 및 납부(환급)세액신고명세서  체크 중 오류가 났습니다.[22]',16,1)  
	              ROLLBACK TRANSACTION   
	              SET ANSI_WARNINGS ON  
	              RETURN  
	           END  
	        END     
	        ELSE
	            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V150'  AND SINGO_FG = @SINGO_FG
	  END
       END
       ELSE
           DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND ( FORM_CD = 'V150'  OR  FORM_CD = 'V166'  )  AND SINGO_FG = @SINGO_FG


--2007.07.16 추가
--23. V155 과세사업전환감가상각자산신고서
    SELECT @COUNT = COUNT(1) FROM AVASSET_CVTH WHERE TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM AVASSET_CVTH WHERE FR_DT = @FR_DT AND TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM,  FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V155',   
	                            N'과세사업전환감가상각자산신고서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM,  FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V155',   
	                            N'과세사업전환감가상각자산신고서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'과세사업전환감가상각자산신고서 체크 중 오류가 났습니다.[23]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V155'  AND SINGO_FG = @SINGO_FG

--2007.07.16 추가
--24. V157 수입금액명세서(법무사용)
   SELECT @COUNT = COUNT(1) FROM AVINCOME WHERE TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '5'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @FR_YM AND TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '5'  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V157',   
	                            N'수입금액명세서(법무사용)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V157',   
	                            N'수입금액명세서(법무사용)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'수입금액명세서(법무사용)  체크 중 오류가 났습니다.[24]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V157'  AND SINGO_FG = @SINGO_FG

--2007.07.16 추가
--25. V159 수입금액명세서(감정평가사용)

   SELECT @COUNT = COUNT(1) FROM AVINCOME WHERE TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '4'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM AVINCOME WHERE FR_YM = @FR_YM AND TO_YM = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND INCOME_FG = '4'  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V159',   
	                            N'수입금액명세서(감정평가사용)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V159',   
	                            N'수입금액명세서(감정평가사용)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'수입금액명세서(감정평가사용)  체크 중 오류가 났습니다.[25]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V159'  AND SINGO_FG = @SINGO_FG


--2007.10.10 추가
--26. V144 전자화폐결제명세서
   SELECT @COUNT = COUNT(1) FROM AVELETR_CASH WHERE TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD  AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM AVELETR_CASH WHERE FR_DT = @FR_DT AND TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V144',   
	                            N'전자화폐결제명세서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V144',   
	                            N'전자화폐결제명세서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'전자화폐결제명세서 체크 중 오류가 났습니다.[26]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V144'  AND SINGO_FG = @SINGO_FG


--2007.10.10 추가
--27. V146 면세유류공급명세서
   SELECT @COUNT = COUNT(1) FROM AVAOIL WHERE TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD  AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM AVAOIL WHERE FR_DT = @FR_DT AND TO_DT = @TO_DT AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V146',   
	                            N'면세유류공급명세서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V146',   
	                            N'면세유류공급명세서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'면세유류공급명세서 체크 중 오류가 났습니다.[27]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V146'  AND SINGO_FG = @SINGO_FG



-- 2007.10.10 추가
-- 28. V154 매입자발행세금계산서합계표
IF ( @SINGO_FG = '1' )
BEGIN
        SELECT @COUNT = COUNT(1) FROM ATAXSUM A 
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD

		WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '5' -- AND A.SINGO_FG = '0'
		  AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END
        IF (@COUNT > 0)
        BEGIN       
	IF ( ( SELECT COUNT(1) FROM ATAXSUM A 
		INNER JOIN AVDIV_D D
		ON A.CO_CD = D.CO_CD AND A.DIV_CD = D.DIV_CD AND D.AVDIV_CD = @DIV_CD
		--WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @FR_YM+'%' AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '5'  AND A.SINGO_FG = '0' ) > 0 )
		  WHERE A.CO_CD = @CO_CD AND A.RPT_TM = @RPT_TM AND A.FR_DT LIKE @FR_YM+'%' AND A.TO_DT LIKE @TO_YM+'%' AND A.DATA_FG = '5'  
	    	        AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END  ) > 0 )
		 
		  INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V154',   
	                           N'매입자발행세금계산서합계표',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V154',   
	                           N'매입자발행세금계산서합계표',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'매입자발행세금계산서합계표 체크 중 오류가 났습니다.[28]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V154'  AND SINGO_FG = @SINGO_FG

END
ELSE
BEGIN
        SELECT @COUNT = COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND TO_DT LIKE @TO_YM+'%' AND DATA_FG = '5'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM ATAXSUM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_DT LIKE @FR_YM+'%' AND TO_DT LIKE @TO_YM+'%' AND DATA_FG = '5'  AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V154',   
	                           N'매입자발행세금계산서합계표',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V154',   
	                           N'매입자발행세금계산서합계표',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'세금계산서합계표(매입) 체크 중 오류가 났습니다.[14]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V154'  AND SINGO_FG = @SINGO_FG
END

  --29. V165

  SELECT @COUNT = COUNT(1) FROM AVESTMGM WHERE CO_CD = @CO_CD AND RPT_TM = @RPT_TM AND TO_DT = @TO_DT AND SINGO_FG = '0'
 		AND MGM_CNT > 0 

        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM AVESTMGM WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM  AND SINGO_FG = @SINGO_FG 
	       AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND MGM_CNT  > 0   )  > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V165',   
	                           N'건물관리명세서',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG )
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V165',   
	                           N'건물관리명세서',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'건물관리명세서 체크 중 오류가 났습니다.[29]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V165'  AND SINGO_FG = @SINGO_FG

   --30. V167 
  SELECT @COUNT = COUNT(1) FROM AVINCOME_TOTAL WHERE  LEFT(TO_DT,6) = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1'  AND SINGO_FG = @SINGO_FG
        IF (@COUNT > 0)
        BEGIN       
	IF ( (  SELECT COUNT(1) FROM AVINCOME_TOTAL WHERE LEFT(FR_DT,6) = @FR_YM AND LEFT(TO_DT,6) = @TO_YM AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND DOC_FG = '1' AND SINGO_FG = @SINGO_FG ) > 0 )
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V167',   
	                            N'수입금액명세서(단일화서식)',
	                            '1',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
	ELSE
	           INSERT AVJEONJA_TEMP (CO_CD,   DIV_CD,    FR_DT,  TO_DT,  RPT_TM, FORM_CD, 
	                            FORM_NM, 
	                            USE_YN,  INSERT_ID, INSERT_DT, SINGO_FG)
	           VALUES          (@CO_CD, @DIV_CD,   @FR_DT, @TO_DT, @RPT_TM, 'V167',   
	                            N'수입금액명세서(단일화서식)',
	                            '0',     @INSERT_ID,@INSERT_DT, @SINGO_FG   )    
           IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'수입금액명세서(단일화서식)  체크 중 오류가 났습니다.[30]',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  
        END     
        ELSE
            DELETE FROM AVJEONJA_TEMP WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT AND FORM_CD = 'V167'  AND SINGO_FG = @SINGO_FG

       --20080717
      DELETE AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG

      IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'AVJEONJA 테이블을 삭제할 수 없습니다.',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  

	
      INSERT INTO AVJEONJA ( CO_CD , DIV_CD , FR_DT, TO_DT, FORM_CD , RPT_TM, FORM_NM, USE_YN, INSERT_ID, INSERT_DT, SINGO_FG)
	SELECT CO_CD , DIV_CD , FR_DT, TO_DT, FORM_CD , RPT_TM, FORM_NM, USE_YN, INSERT_ID, INSERT_DT, SINGO_FG
	FROM AVJEONJA_TEMP
	WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT = @TO_DT 
		AND RPT_TM = @RPT_TM AND SINGO_FG = @SINGO_FG  AND USE_YN = '1'

      IF( @@ERROR <> 0 )  
           BEGIN  
              RAISERROR(N'AVJEONJA 테이블을 생성할 수 없습니다.',16,1)  
              ROLLBACK TRANSACTION   
              SET ANSI_WARNINGS ON  
              RETURN  
           END  


    COMMIT TRANSACTION
    SET ANSI_WARNINGS ON
END


GO
