USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[STANNOTE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[STANNOTE](
	[ACCT_CODE] [char](5) NOT NULL,
	[NOTE_CODE] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[NOTE_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_STANNOTE] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC,
	[NOTE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[STANNOTE]  WITH CHECK ADD CHECK  (([NOTE_CODE]<>(0)))
GO
