USE [DZAIS]
GO
/****** Object:  View [DZAIS].[TAXCODE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW [DZAIS].[TAXCODE]
(
     TAX_CODE, TAX_TCODE, TAX_NAME, TAX_GEGUA
)AS
SELECT
     TAX_CODE, TAX_TCODE, TAX_NAME, TAX_GEGUA
FROM
      BASE.DZBASE.TAXCODE


GO
