USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVINCOME]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVINCOME](
	[FR_YM] [varchar](6) NOT NULL,
	[TO_YM] [varchar](6) NOT NULL,
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[INCOME_FG] [varchar](1) NOT NULL,
	[DOC_FG] [varchar](1) NOT NULL,
	[LN_SQ] [numeric](6, 0) NOT NULL,
	[MATT_CNT] [numeric](15, 4) NULL,
	[TR_CD] [varchar](5) NULL,
	[TR_NM] [varchar](40) NULL,
	[REG_NB] [nvarchar](100) NULL,
	[CASE_FG] [varchar](2) NULL,
	[CASE_NB] [varchar](30) NULL,
	[DATE1] [varchar](8) NULL,
	[SUP_AM1] [numeric](17, 4) NULL,
	[DATE2] [varchar](8) NULL,
	[SUP_AM2] [numeric](17, 4) NULL,
	[ADDR] [varchar](60) NULL,
	[FLOOR] [varchar](3) NULL,
	[MJUK] [varchar](20) NULL,
	[ISU_DT] [varchar](8) NULL,
	[ISU_SQ] [numeric](7, 0) NULL,
	[LN_SQ2] [numeric](7, 0) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[DATA_CD] [varchar](50) NULL,
	[SUP_AM3] [numeric](17, 4) NULL,
 CONSTRAINT [PK_AVINCOME] PRIMARY KEY CLUSTERED 
(
	[FR_YM] ASC,
	[TO_YM] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[INCOME_FG] ASC,
	[DOC_FG] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__FR_YM__621B6E8C]  DEFAULT ('000000') FOR [FR_YM]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__TO_YM__630F92C5]  DEFAULT ('000000') FOR [TO_YM]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__LN_SQ__6403B6FE]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__MATT_C__64F7DB37]  DEFAULT ((0)) FOR [MATT_CNT]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__SUP_AM__65EBFF70]  DEFAULT ((0)) FOR [SUP_AM1]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__DATE2__66E023A9]  DEFAULT ('00000000') FOR [DATE2]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__SUP_AM__67D447E2]  DEFAULT ((0)) FOR [SUP_AM2]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__ISU_DT__68C86C1B]  DEFAULT ('00000000') FOR [ISU_DT]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__ISU_SQ__69BC9054]  DEFAULT ((0)) FOR [ISU_SQ]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__LN_SQ2__6AB0B48D]  DEFAULT ((0)) FOR [LN_SQ2]
GO
ALTER TABLE [DZAIS].[AVINCOME] ADD  CONSTRAINT [DF__AVINCOME__SINGO___6BA4D8C6]  DEFAULT ('0') FOR [SINGO_FG]
GO
