USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TOTCENTER]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TOTCENTER](
	[C_CODE] [varchar](4) NOT NULL,
	[TOTCEN_CODE] [varchar](12) NOT NULL,
	[TOTCEN_NAME] [varchar](30) NULL,
 CONSTRAINT [PK_TOTCENTER] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TOTCEN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
