USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVNON2]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVNON2](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[SINGO_FG] [char](1) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[FORM_NB] [numeric](2, 0) NOT NULL,
	[NON_CD] [varchar](3) NOT NULL,
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[SEQ_NB] [numeric](6, 0) NOT NULL,
	[CNT] [numeric](11, 0) NULL,
	[SUP_AM] [numeric](17, 4) NOT NULL,
	[VAT_AM] [numeric](17, 4) NOT NULL,
	[SUP_AM_NON] [numeric](17, 4) NOT NULL,
	[VAT_AM_NON] [numeric](17, 4) NOT NULL,
	[CALC_AM1] [numeric](19, 6) NOT NULL,
	[CALC_AM2] [numeric](19, 6) NOT NULL,
	[CALC_AM3] [numeric](19, 6) NOT NULL,
	[CALC_AM4] [numeric](19, 6) NOT NULL,
	[RMK_DC] [varchar](40) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[CALC_AM5] [numeric](19, 6) NOT NULL,
	[CALC_AM6] [numeric](19, 6) NOT NULL,
	[TY_NM] [varchar](50) NULL,
	[CALC_TY] [varchar](1) NOT NULL,
 CONSTRAINT [PK_AVNON2] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[SINGO_FG] ASC,
	[RPT_TM] ASC,
	[FORM_NB] ASC,
	[NON_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[SEQ_NB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__SINGO_FG__04708690]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__FORM_NB__0564AAC9]  DEFAULT ((2)) FOR [FORM_NB]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__FR_DT__0658CF02]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__TO_DT__074CF33B]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__SEQ_NB__08411774]  DEFAULT ((1)) FOR [SEQ_NB]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__CNT__09353BAD]  DEFAULT ((0)) FOR [CNT]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__SUP_AM__0A295FE6]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__VAT_AM__0B1D841F]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__SUP_AM_N__0C11A858]  DEFAULT ((0)) FOR [SUP_AM_NON]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__VAT_AM_N__0D05CC91]  DEFAULT ((0)) FOR [VAT_AM_NON]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__CALC_AM1__0DF9F0CA]  DEFAULT ((0)) FOR [CALC_AM1]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__CALC_AM2__0EEE1503]  DEFAULT ((0)) FOR [CALC_AM2]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__CALC_AM3__0FE2393C]  DEFAULT ((0)) FOR [CALC_AM3]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__CALC_AM4__10D65D75]  DEFAULT ((0)) FOR [CALC_AM4]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__INSERT_D__11CA81AE]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__MODIFY_D__12BEA5E7]  DEFAULT (getdate()) FOR [MODIFY_DT]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__CALC_AM5__13B2CA20]  DEFAULT ((0)) FOR [CALC_AM5]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__CALC_AM6__14A6EE59]  DEFAULT ((0)) FOR [CALC_AM6]
GO
ALTER TABLE [DZAIS].[AVNON2] ADD  CONSTRAINT [DF__AVNON2__CALC_TY__159B1292]  DEFAULT ('1') FOR [CALC_TY]
GO
