USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[MA_SEQNO]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[MA_SEQNO](
	[C_CODE] [varchar](4) NOT NULL,
	[CD_MODULE] [varchar](3) NOT NULL,
	[CD_CLASS] [varchar](12) NOT NULL,
	[CD_YM] [varchar](8) NOT NULL,
	[CD_NO] [varchar](6) NOT NULL,
 CONSTRAINT [PK_MA_SEQNO] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CD_MODULE] ASC,
	[CD_CLASS] ASC,
	[CD_YM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[MA_SEQNO] ADD  CONSTRAINT [DF__MA_SEQNO__CD_MOD__7325FEFD]  DEFAULT ('001') FOR [CD_MODULE]
GO
ALTER TABLE [DZAIS].[MA_SEQNO] ADD  CONSTRAINT [DF__MA_SEQNO__CD_CLA__741A2336]  DEFAULT ('001') FOR [CD_CLASS]
GO
ALTER TABLE [DZAIS].[MA_SEQNO] ADD  CONSTRAINT [DF__MA_SEQNO__CD_NO__750E476F]  DEFAULT ('1') FOR [CD_NO]
GO
