USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ASSETDAMINS]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ASSETDAMINS](
	[ASSET_CODE] [char](7) NOT NULL,
	[ASSCH_SERI] [numeric](4, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[ASSET_NAME] [varchar](60) NULL,
	[PROJ_CODE] [varchar](12) NULL,
	[ACCT_CODE] [char](5) NULL,
	[ASSCH_TYPE] [char](1) NULL,
	[ASSCON_DATE] [char](8) NULL,
	[OPEN_DATE] [char](8) NULL,
	[CLOSE_DATE] [char](8) NULL,
	[DAMBO_AMT] [numeric](15, 0) NULL,
	[VEN_CODE1] [varchar](6) NULL,
	[FINSUR_DATE] [char](8) NULL,
	[TINSUR_DATE] [char](8) NULL,
	[VEN_CODE2] [varchar](6) NULL,
	[INSUR_FEE] [numeric](15, 0) NULL,
	[ASSCH_RMK] [varchar](50) NULL,
	[DAMBO_TYPE] [char](1) NULL,
	[INSUR_TYPE] [char](1) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_ASSETDAMINS] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[ASSET_CODE] ASC,
	[ASSCH_SERI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_ASSCH_SERI]  DEFAULT ((0)) FOR [ASSCH_SERI]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_ASSCON_DATE]  DEFAULT ('00000000') FOR [ASSCON_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_OPEN_DATE]  DEFAULT ('00000000') FOR [OPEN_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_CLOSE_DATE]  DEFAULT ('00000000') FOR [CLOSE_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_DAMBO_AMT]  DEFAULT ((0)) FOR [DAMBO_AMT]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_FINSUR_DAT]  DEFAULT ('00000000') FOR [FINSUR_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_TINSUR_DATE]  DEFAULT ('00000000') FOR [TINSUR_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_INSUR_FEE]  DEFAULT ((0)) FOR [INSUR_FEE]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_INSERT_DAT]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS] ADD  CONSTRAINT [DF_ASSETDAMINS_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[ASSETDAMINS]  WITH CHECK ADD CHECK  (([ASSCON_DATE]='00000000' OR [ASSCON_DATE]>'19500101' AND [ASSCON_DATE]<'21000101' AND CONVERT([datetime],[ASSCON_DATE])=CONVERT([datetime],[ASSCON_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETDAMINS]  WITH CHECK ADD CHECK  (([CLOSE_DATE]='00000000' OR [CLOSE_DATE]>'19500101' AND [CLOSE_DATE]<'21000101' AND CONVERT([datetime],[CLOSE_DATE])=CONVERT([datetime],[CLOSE_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETDAMINS]  WITH CHECK ADD CHECK  (([FINSUR_DATE]='00000000' OR [FINSUR_DATE]>'19500101' AND [FINSUR_DATE]<'21000101' AND CONVERT([datetime],[FINSUR_DATE])=CONVERT([datetime],[FINSUR_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETDAMINS]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETDAMINS]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETDAMINS]  WITH CHECK ADD CHECK  (([OPEN_DATE]='00000000' OR [OPEN_DATE]>'19500101' AND [OPEN_DATE]<'21000101' AND CONVERT([datetime],[OPEN_DATE])=CONVERT([datetime],[OPEN_DATE])))
GO
ALTER TABLE [DZAIS].[ASSETDAMINS]  WITH CHECK ADD CHECK  (([TINSUR_DATE]='00000000' OR [TINSUR_DATE]>'19500101' AND [TINSUR_DATE]<'21000101' AND CONVERT([datetime],[TINSUR_DATE])=CONVERT([datetime],[TINSUR_DATE])))
GO
