USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BGTCODED]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BGTCODED](
	[BUDGET_CODE] [char](5) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[GU_TYPE] [char](1) NULL,
	[BUDGET_NAME] [varchar](40) NULL,
 CONSTRAINT [PK_BUDGET_CODED] PRIMARY KEY CLUSTERED 
(
	[BUDGET_CODE] ASC,
	[DEPT_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
