USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VBASE_P_MENU]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE VIEW [DZAIS].[VBASE_P_MENU] AS SELECT * FROM BASE.DZBASE.P_MENU


GO
