USE [DZAIS]
GO
/****** Object:  View [DZAIS].[EXCH_RATE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW [DZAIS].[EXCH_RATE] AS SELECT * FROM BASE.DZBASE.EXCH_RATE

GO
