USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVEST]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVEST](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[DOC_FG] [varchar](1) NOT NULL,
	[LN_SQ] [numeric](5, 0) NOT NULL,
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[FLOOR1] [varchar](1) NULL,
	[FLOOR2] [varchar](10) NULL,
	[HOSU] [varchar](10) NULL,
	[TR_CD] [varchar](20) NULL,
	[TR_NM] [varchar](40) NULL,
	[REG_NB] [nvarchar](100) NULL,
	[MJUK] [varchar](20) NULL,
	[USE_TY] [varchar](20) NULL,
	[CON1] [numeric](17, 4) NULL,
	[CON2] [numeric](17, 4) NULL,
	[CON3] [numeric](17, 4) NULL,
	[LEN1] [numeric](17, 4) NULL,
	[LEN2] [numeric](17, 4) NULL,
	[LEN3] [numeric](17, 4) NULL,
	[LEN4] [numeric](17, 4) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[DUMMY4] [numeric](17, 4) NULL,
	[RENTS_DT] [varchar](8) NULL,
	[RENTE_DT] [varchar](8) NULL,
	[DONG] [varchar](60) NULL,
	[APPR_NB] [varchar](16) NULL,
	[DA_RENEW] [varchar](8) NULL,
	[RMK_RENE] [varchar](80) NULL,
 CONSTRAINT [PK_AVEST] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[DOC_FG] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVEST] ADD  CONSTRAINT [DF__AVEST__SINGO_FG__06ADD4BD]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVEST] ADD  CONSTRAINT [DF__AVEST__CON1__07A1F8F6]  DEFAULT ((0)) FOR [CON1]
GO
ALTER TABLE [DZAIS].[AVEST] ADD  CONSTRAINT [DF__AVEST__CON2__08961D2F]  DEFAULT ((0)) FOR [CON2]
GO
ALTER TABLE [DZAIS].[AVEST] ADD  CONSTRAINT [DF__AVEST__CON3__098A4168]  DEFAULT ((0)) FOR [CON3]
GO
ALTER TABLE [DZAIS].[AVEST] ADD  CONSTRAINT [DF__AVEST__LEN1__0A7E65A1]  DEFAULT ((0)) FOR [LEN1]
GO
ALTER TABLE [DZAIS].[AVEST] ADD  CONSTRAINT [DF__AVEST__LEN2__0B7289DA]  DEFAULT ((0)) FOR [LEN2]
GO
ALTER TABLE [DZAIS].[AVEST] ADD  CONSTRAINT [DF__AVEST__LEN3__0C66AE13]  DEFAULT ((0)) FOR [LEN3]
GO
ALTER TABLE [DZAIS].[AVEST] ADD  CONSTRAINT [DF__AVEST__LEN4__0D5AD24C]  DEFAULT ((0)) FOR [LEN4]
GO
ALTER TABLE [DZAIS].[AVEST] ADD  CONSTRAINT [DF__AVEST__DUMMY4__0E4EF685]  DEFAULT ((0)) FOR [DUMMY4]
GO
