USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[STRADE_REC]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[STRADE_REC](
	[CO_CD] [nvarchar](4) NOT NULL,
	[TR_CD] [nvarchar](10) NOT NULL,
	[REC_SQ] [numeric](3, 0) NOT NULL,
	[RECZIP] [nvarchar](7) NULL,
	[REC_ADDR1] [nvarchar](60) NULL,
	[REC_ADDR2] [nvarchar](60) NULL,
	[REC_TEL] [nvarchar](20) NULL,
	[REC_FAX] [nvarchar](20) NULL,
	[TRCHARGE_DEPT] [nvarchar](30) NULL,
	[TRCHARGE_TITLE] [nvarchar](30) NULL,
	[TRCHARGE_JOP] [nvarchar](30) NULL,
	[TRCHARGE_EMP] [nvarchar](30) NULL,
	[TRCHARGE_TEL] [nvarchar](30) NULL,
	[TRCHARGE_EXT] [nvarchar](10) NULL,
	[TRCHARGE_HP] [nvarchar](30) NULL,
	[TRCHARGE_EMAIL] [nvarchar](30) NULL,
	[DEPT_CD] [nvarchar](4) NULL,
	[TITLE_DC] [nvarchar](30) NULL,
	[JOB_DC] [nvarchar](30) NULL,
	[EMP_CD] [nvarchar](10) NULL,
	[TEL_DC] [nvarchar](20) NULL,
	[EXT_DC] [nvarchar](10) NULL,
	[HP_DC] [nvarchar](20) NULL,
	[EMAIL_DC] [nvarchar](30) NULL,
	[DUMMY1] [nvarchar](20) NULL,
	[DUMMY2] [nvarchar](20) NULL,
	[DUMMY3] [nvarchar](20) NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [nvarchar](15) NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [nvarchar](15) NULL,
 CONSTRAINT [PK_STRADE_RED] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[TR_CD] ASC,
	[REC_SQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[STRADE_REC] ADD  CONSTRAINT [DF__STRADE_RE__INSER__310E22DD]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
ALTER TABLE [DZAIS].[STRADE_REC] ADD  CONSTRAINT [DF__STRADE_RE__MODIF__32024716]  DEFAULT (getdate()) FOR [MODIFY_DT]
GO
