USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[COPY_T]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[COPY_T](
	[NO] [numeric](3, 0) NOT NULL,
	[NO1] [varchar](2) NOT NULL,
 CONSTRAINT [PK_COPY_T] PRIMARY KEY CLUSTERED 
(
	[NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_COPY_T]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX_COPY_T] ON [DZAIS].[COPY_T]
(
	[NO1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
