USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FUNDPSE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FUNDPSE](
	[PLAN_DATE] [char](8) NOT NULL,
	[FUND_CODE] [char](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SERI_NO] [numeric](4, 0) NOT NULL,
	[FUND_RMK] [varchar](70) NULL,
	[FUNDP_AMT] [numeric](15, 0) NOT NULL,
	[FG_SEL] [char](1) NULL,
	[IN_GUBUN] [char](1) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[DECI_DATE] [char](8) NULL,
	[DECI_NO] [numeric](4, 0) NULL,
	[LINE_NO] [numeric](4, 0) NULL,
	[SLIP_NO] [numeric](4, 0) NULL,
	[DEPT_CODE] [varchar](12) NULL,
 CONSTRAINT [PK_FUNDPSE] PRIMARY KEY NONCLUSTERED 
(
	[PLAN_DATE] ASC,
	[FUND_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[SERI_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
