USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_VAT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_VAT](
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_FROM] [char](8) NOT NULL,
	[DATE_TO] [char](8) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[VAT_GU] [char](1) NULL,
	[SA_01] [char](1) NULL,
	[SA_02] [numeric](7, 3) NOT NULL,
	[SA_03] [varchar](20) NULL,
	[SA_04] [numeric](7, 3) NOT NULL,
	[SA_05] [numeric](7, 0) NOT NULL,
	[SA_06] [numeric](7, 0) NOT NULL,
	[SA_07] [numeric](7, 0) NOT NULL,
	[SA_08] [char](1) NULL,
	[SA_09] [numeric](7, 0) NOT NULL,
	[SA_10] [numeric](7, 0) NOT NULL,
	[SA_11] [numeric](7, 0) NOT NULL,
	[SA_12] [numeric](7, 0) NOT NULL,
	[SA_13] [char](7) NULL,
	[SA_14] [numeric](11, 0) NOT NULL,
	[SA_15] [numeric](11, 0) NOT NULL,
	[SA_16] [numeric](11, 0) NOT NULL,
	[SA_17] [numeric](11, 0) NOT NULL,
	[SA_18] [numeric](11, 0) NOT NULL,
	[SA_19] [numeric](11, 0) NOT NULL,
	[SIN_01_AMT] [numeric](15, 0) NOT NULL,
	[SIN_02_AMT] [numeric](15, 0) NOT NULL,
	[SIN_03_AMT] [numeric](15, 0) NOT NULL,
	[SIN_04_AMT] [numeric](15, 0) NOT NULL,
	[SIN_05_AMT] [numeric](15, 0) NOT NULL,
	[SIN_06_AMT] [numeric](15, 0) NOT NULL,
	[SIN_06_TAX] [numeric](15, 0) NOT NULL,
	[SIN_07_AMT] [numeric](15, 0) NOT NULL,
	[SIN_07_TAX] [numeric](15, 0) NOT NULL,
	[SIN_08_AMT] [numeric](15, 0) NOT NULL,
	[SIN_08_TAX] [numeric](15, 0) NOT NULL,
	[SIN_09_AMT] [numeric](15, 0) NOT NULL,
	[SIN_09_TAX] [numeric](15, 0) NOT NULL,
	[SIN_10_AMT] [numeric](15, 0) NOT NULL,
	[SIN_12_AMT] [numeric](15, 0) NOT NULL,
	[SIN_14_TAX] [numeric](15, 0) NOT NULL,
	[SIN_15_TAX] [numeric](15, 0) NOT NULL,
	[SIN_16_AMT] [numeric](15, 0) NOT NULL,
	[SIN_17_TAX] [numeric](15, 0) NOT NULL,
	[SIN_18_TAX] [numeric](15, 0) NOT NULL,
	[SIN_20_AMT] [numeric](15, 0) NOT NULL,
	[GWA_22_UPTAE] [varchar](20) NULL,
	[GWA_22_JONG] [varchar](20) NULL,
	[GWA_22_AMT] [numeric](15, 0) NOT NULL,
	[GWA_23_UPTAE] [varchar](20) NULL,
	[GWA_23_JONG] [varchar](20) NULL,
	[GWA_23_AMT] [numeric](15, 0) NOT NULL,
	[GWA_24_UPTAE] [varchar](20) NULL,
	[GWA_24_JONG] [varchar](20) NULL,
	[GWA_24_AMT] [numeric](15, 0) NOT NULL,
	[GWA_25_UPTAE] [varchar](20) NULL,
	[GWA_25_JONG] [varchar](20) NULL,
	[GWA_25_AMT] [numeric](15, 0) NOT NULL,
	[GWA_26_AMT] [numeric](15, 0) NOT NULL,
	[YE_28_AMT] [numeric](15, 0) NOT NULL,
	[YE_29_AMT] [numeric](15, 0) NOT NULL,
	[YE_30_AMT] [numeric](15, 0) NOT NULL,
	[YE_31_AMT] [numeric](15, 0) NOT NULL,
	[ETC_33_AMT] [numeric](15, 0) NOT NULL,
	[ETC_33_TAX] [numeric](15, 0) NOT NULL,
	[ETC_34_AMT] [numeric](15, 0) NOT NULL,
	[ETC_35_AMT] [numeric](15, 0) NOT NULL,
	[ETC_36_TAX] [numeric](15, 0) NOT NULL,
	[ETC_37_TAX] [numeric](15, 0) NOT NULL,
	[NOT_39_AMT] [numeric](15, 0) NOT NULL,
	[NOT_39_TAX] [numeric](15, 0) NOT NULL,
	[NOT_40_AMT] [numeric](15, 0) NOT NULL,
	[NOT_40_TAX] [numeric](15, 0) NOT NULL,
	[NOT_41_AMT] [numeric](15, 0) NOT NULL,
	[NOT_41_TAX] [numeric](15, 0) NOT NULL,
	[JE_43_TAX] [numeric](15, 0) NOT NULL,
	[JE_43_AMT] [numeric](15, 0) NOT NULL,
	[JE_44_TAX] [numeric](15, 0) NOT NULL,
	[JE_44_AMT] [numeric](15, 0) NOT NULL,
	[GA_46_AMT] [numeric](15, 0) NOT NULL,
	[GA_46_TAX] [numeric](15, 0) NOT NULL,
	[GA_47_AMT] [numeric](15, 0) NOT NULL,
	[GA_47_TAX] [numeric](15, 0) NOT NULL,
	[GA_48_AMT] [numeric](15, 0) NOT NULL,
	[GA_49_AMT] [numeric](15, 0) NOT NULL,
	[MYUN_51_UPTAE] [varchar](20) NULL,
	[MYUN_51_JONG] [varchar](20) NULL,
	[MYUN_51_AMT] [numeric](15, 0) NOT NULL,
	[MYUN_52_UPTAE] [varchar](20) NULL,
	[MYUN_52_JONG] [varchar](20) NULL,
	[MYUN_52_AMT] [numeric](15, 0) NOT NULL,
	[MYUN_53_AMT] [numeric](15, 0) NOT NULL,
	[DAE_NAME] [varchar](20) NULL,
	[DAE_NO] [varchar](20) NULL,
	[DAE_TEL] [varchar](18) NULL,
	[BANK_NAME] [varchar](20) NULL,
	[BANK_JUM] [varchar](20) NULL,
	[BANK_NO] [varchar](20) NULL,
	[PEUP_DATE] [char](8) NOT NULL,
	[PEUP_RMK] [varchar](40) NULL,
	[GA_47_1_AMT] [numeric](15, 0) NOT NULL,
	[GA_47_2_AMT] [numeric](15, 0) NOT NULL,
	[GA_47_3_AMT] [numeric](15, 0) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_TAX_VAT] PRIMARY KEY CLUSTERED 
(
	[NODE_CODE] ASC,
	[DATE_FROM] ASC,
	[DATE_TO] ASC,
	[GISU] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_DATE_FROM]  DEFAULT ('00000000') FOR [DATE_FROM]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_DATE_TO]  DEFAULT ('00000000') FOR [DATE_TO]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_02]  DEFAULT ((0)) FOR [SA_02]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_04]  DEFAULT ((0)) FOR [SA_04]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_05]  DEFAULT ((0)) FOR [SA_05]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_06]  DEFAULT ((0)) FOR [SA_06]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_07]  DEFAULT ((0)) FOR [SA_07]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_09]  DEFAULT ((0)) FOR [SA_09]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_10]  DEFAULT ((0)) FOR [SA_10]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_11]  DEFAULT ((0)) FOR [SA_11]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_12]  DEFAULT ((0)) FOR [SA_12]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_14]  DEFAULT ((0)) FOR [SA_14]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_15]  DEFAULT ((0)) FOR [SA_15]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_16]  DEFAULT ((0)) FOR [SA_16]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_17]  DEFAULT ((0)) FOR [SA_17]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_18]  DEFAULT ((0)) FOR [SA_18]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SA_19]  DEFAULT ((0)) FOR [SA_19]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_01_AMT]  DEFAULT ((0)) FOR [SIN_01_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_02_AMT]  DEFAULT ((0)) FOR [SIN_02_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_03_AMT]  DEFAULT ((0)) FOR [SIN_03_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_04_AMT]  DEFAULT ((0)) FOR [SIN_04_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_05_AMT]  DEFAULT ((0)) FOR [SIN_05_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_06_AMT]  DEFAULT ((0)) FOR [SIN_06_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_06_TAX]  DEFAULT ((0)) FOR [SIN_06_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_07_AMT]  DEFAULT ((0)) FOR [SIN_07_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_07_TAX]  DEFAULT ((0)) FOR [SIN_07_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_08_AMT]  DEFAULT ((0)) FOR [SIN_08_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_08_TAX]  DEFAULT ((0)) FOR [SIN_08_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_09_AMT]  DEFAULT ((0)) FOR [SIN_09_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_09_TAX]  DEFAULT ((0)) FOR [SIN_09_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_10_AMT]  DEFAULT ((0)) FOR [SIN_10_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_12_AMT]  DEFAULT ((0)) FOR [SIN_12_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_14_TAX]  DEFAULT ((0)) FOR [SIN_14_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_15_TAX]  DEFAULT ((0)) FOR [SIN_15_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_16_AMT]  DEFAULT ((0)) FOR [SIN_16_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_17_TAX]  DEFAULT ((0)) FOR [SIN_17_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_18_TAX]  DEFAULT ((0)) FOR [SIN_18_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_SIN_20_AMT]  DEFAULT ((0)) FOR [SIN_20_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GWA_22_AMT]  DEFAULT ((0)) FOR [GWA_22_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GWA_23_AMT]  DEFAULT ((0)) FOR [GWA_23_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GWA_24_AMT]  DEFAULT ((0)) FOR [GWA_24_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GWA_25_AMT]  DEFAULT ((0)) FOR [GWA_25_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GWA_26_AMT]  DEFAULT ((0)) FOR [GWA_26_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_YE_28_AMT]  DEFAULT ((0)) FOR [YE_28_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_YE_29_AMT]  DEFAULT ((0)) FOR [YE_29_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_YE_30_AMT]  DEFAULT ((0)) FOR [YE_30_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_YE_31_AMT]  DEFAULT ((0)) FOR [YE_31_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_ETC_33_AMT]  DEFAULT ((0)) FOR [ETC_33_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_ETC_33_TAX]  DEFAULT ((0)) FOR [ETC_33_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_ETC_34_AMT]  DEFAULT ((0)) FOR [ETC_34_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_ETC_35_AMT]  DEFAULT ((0)) FOR [ETC_35_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_ETC_36_TAX]  DEFAULT ((0)) FOR [ETC_36_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_ETC_37_TAX]  DEFAULT ((0)) FOR [ETC_37_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_NOT_39_AMT]  DEFAULT ((0)) FOR [NOT_39_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_NOT_39_TAX]  DEFAULT ((0)) FOR [NOT_39_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_NOT_40_AMT]  DEFAULT ((0)) FOR [NOT_40_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_NOT_40_TAX]  DEFAULT ((0)) FOR [NOT_40_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_NOT_41_AMT]  DEFAULT ((0)) FOR [NOT_41_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_NOT_41_TAX]  DEFAULT ((0)) FOR [NOT_41_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_JE_43_TAX]  DEFAULT ((0)) FOR [JE_43_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_JE_43_AMT]  DEFAULT ((0)) FOR [JE_43_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_JE_44_TAX]  DEFAULT ((0)) FOR [JE_44_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_JE_44_AMT]  DEFAULT ((0)) FOR [JE_44_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GA_46_AMT]  DEFAULT ((0)) FOR [GA_46_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GA_46_TAX]  DEFAULT ((0)) FOR [GA_46_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GA_47_AMT]  DEFAULT ((0)) FOR [GA_47_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GA_47_TAX]  DEFAULT ((0)) FOR [GA_47_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GA_48_AMT]  DEFAULT ((0)) FOR [GA_48_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GA_49_AMT]  DEFAULT ((0)) FOR [GA_49_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_MYUN_51_AMT]  DEFAULT ((0)) FOR [MYUN_51_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_MYUN_52_AMT]  DEFAULT ((0)) FOR [MYUN_52_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_MYUN_53_AMT]  DEFAULT ((0)) FOR [MYUN_53_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_PEUP_DATE]  DEFAULT ('00000000') FOR [PEUP_DATE]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GA_47_1_AMT]  DEFAULT ((0)) FOR [GA_47_1_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GA_47_2_AMT]  DEFAULT ((0)) FOR [GA_47_2_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_GA_47_3_AMT]  DEFAULT ((0)) FOR [GA_47_3_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[TAX_VAT] ADD  CONSTRAINT [DF_TAX_VAT_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[TAX_VAT]  WITH CHECK ADD CHECK  (([DATE_FROM]='00000000' OR [DATE_FROM]>'19500101' AND [DATE_FROM]<'21000101' AND CONVERT([datetime],[DATE_FROM])=CONVERT([datetime],[DATE_FROM])))
GO
ALTER TABLE [DZAIS].[TAX_VAT]  WITH CHECK ADD CHECK  (([DATE_TO]='00000000' OR [DATE_TO]>'19500101' AND [DATE_TO]<'21000101' AND CONVERT([datetime],[DATE_TO])=CONVERT([datetime],[DATE_TO])))
GO
ALTER TABLE [DZAIS].[TAX_VAT]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[TAX_VAT]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[TAX_VAT]  WITH CHECK ADD CHECK  (([PEUP_DATE]='00000000' OR [PEUP_DATE]>'19500101' AND [PEUP_DATE]<'21000101' AND CONVERT([datetime],[PEUP_DATE])=CONVERT([datetime],[PEUP_DATE])))
GO
