USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_PJTBUDGET]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [DZAIS].[P_PJTBUDGET]
	(	@C_CODE		CHAR(4),
		@PROJ_CODE		VARCHAR(12)
	) AS
DECLARE	@BUDGET_CODE		CHAR(5),
		@BUDGET_YM			CHAR(6),
		@COUNT			NUMERIC,
		@SIN_AMT			NUMERIC(15),
		@PYUN_AMT			NUMERIC(15),
		@SIL_AMT			NUMERIC(15),
		@BD				CHAR(1)
DECLARE	CUR_PJTBUDGET	CURSOR	FOR
		SELECT	CONVERT(CHAR(5), SUBSTRING(BUDGET_CODE, 1, 3) + '00'),
			BUDGET_YM
		FROM	PJTBUDGET
		WHERE	PROJ_CODE = @PROJ_CODE AND
			C_CODE = @C_CODE
		GROUP BY	CONVERT(CHAR(5), SUBSTRING(BUDGET_CODE, 1, 3) + '00'),
				BUDGET_YM
BEGIN
	SELECT	@BD = BD_TYPE
	FROM	BUDGETCON
	WHERE	C_CODE = @C_CODE

	OPEN	CUR_PJTBUDGET

	FETCH	NEXT FROM CUR_PJTBUDGET INTO 	@BUDGET_CODE,
						@BUDGET_YM
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		IF @BD = '1' 
			SELECT	@COUNT = COUNT(*)
			FROM	BUDGETCODE
			WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = SUBSTRING(@BUDGET_CODE, 1, 3) AND
				BUDGET_CODE NOT LIKE '%00' AND
				C_CODE = @C_CODE
		ELSE
			SELECT	@COUNT = COUNT(*)
			FROM	BGTCODEP
			WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = SUBSTRING(@BUDGET_CODE, 1, 3) AND
				BUDGET_CODE NOT LIKE '%00' AND
				PJT_CODE = @PROJ_CODE AND
				C_CODE = @C_CODE

		IF @COUNT > 0
		BEGIN
			SELECT	@COUNT = COUNT(1),
					@SIN_AMT = ISNULL(SUM(SIN_AMT), 0),
					@PYUN_AMT = ISNULL(SUM(PYUN_AMT), 0),
					@SIL_AMT = ISNULL(SUM(SIL_AMT), 0)
			FROM	PJTBUDGET
			WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = SUBSTRING(@BUDGET_CODE, 1, 3) AND
				SUBSTRING(BUDGET_CODE, 4, 2) <> '00' AND
				BUDGET_YM = @BUDGET_YM AND
				PROJ_CODE = @PROJ_CODE AND
				C_CODE = @C_CODE
			IF @COUNT > 0
			BEGIN
				SELECT	@COUNT = COUNT(*)
				FROM	PJTBUDGET
				WHERE	BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' AND
					BUDGET_YM = @BUDGET_YM AND
					PROJ_CODE = @PROJ_CODE AND
					C_CODE = @C_CODE
				IF @COUNT > 0
				BEGIN
					UPDATE	PJTBUDGET
					SET	SIN_AMT = @SIN_AMT,
						PYUN_AMT = @PYUN_AMT,
						SIL_AMT = @SIL_AMT
					WHERE	BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' AND
						BUDGET_YM = @BUDGET_YM AND
						PROJ_CODE = @PROJ_CODE AND
						C_CODE = @C_CODE
				END
				ELSE
				BEGIN
					INSERT INTO PJTBUDGET(C_CODE, PROJ_CODE, BUDGET_YM, BUDGET_CODE, SIN_AMT, PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT)
					VALUES(@C_CODE, @PROJ_CODE, @BUDGET_YM, SUBSTRING(@BUDGET_CODE, 1, 3) + '00', @SIN_AMT, @PYUN_AMT, @SIL_AMT, 0, 0)
				END
			END
			ELSE
			BEGIN
				DELETE FROM	PJTBUDGET
				WHERE	BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' AND
					BUDGET_YM = @BUDGET_YM AND
					PROJ_CODE = @PROJ_CODE AND
					C_CODE = @C_CODE
			END
		END
		FETCH	NEXT FROM CUR_PJTBUDGET INTO 	@BUDGET_CODE,
							@BUDGET_YM
	END
	CLOSE	CUR_PJTBUDGET
	DEALLOCATE	CUR_PJTBUDGET 
END

GO
