USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DMAGAM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DMAGAM](
	[C_CODE] [varchar](4) NOT NULL,
	[CLOSE_YM] [char](8) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[FG_CLOSE] [char](1) NOT NULL,
	[INSERT_ID] [varchar](10) NOT NULL,
	[INSERT_DATE] [char](8) NOT NULL,
	[MODIFY_ID] [varchar](10) NOT NULL,
	[MODIFY_DATE] [char](8) NOT NULL,
 CONSTRAINT [PK_DMAGAM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[CLOSE_YM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
