USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[STAXRELA]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[STAXRELA](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[NO_BTX] [varchar](20) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[TAX_GU] [char](2) NULL,
	[VEN_TYPE] [char](1) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_VAT] [numeric](15, 0) NOT NULL,
	[TAX_YN] [char](1) NOT NULL,
	[TAX_NO] [numeric](6, 0) NOT NULL,
 CONSTRAINT [PK_STAXRELAG] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[S_IDNO] ASC,
	[NO_BTX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[STAXRELA] ADD  CONSTRAINT [DF__STAXRELA__GONG_A__3D3402A0]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[STAXRELA] ADD  CONSTRAINT [DF__STAXRELA__TAX_VA__3E2826D9]  DEFAULT ((0)) FOR [TAX_VAT]
GO
ALTER TABLE [DZAIS].[STAXRELA] ADD  CONSTRAINT [DF__STAXRELA__TAX_NO__3F1C4B12]  DEFAULT ((0)) FOR [TAX_NO]
GO
