USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DZAIS_MENU]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DZAIS_MENU](
	[DZAIS_ID] [varchar](60) NOT NULL,
	[MENU_ID] [varchar](12) NOT NULL,
	[FILE_NAMES] [varchar](250) NULL,
 CONSTRAINT [PK_DZAIS_MENU] PRIMARY KEY CLUSTERED 
(
	[DZAIS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
