USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[EXDEPOSITTRAN]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[EXDEPOSITTRAN](
	[DEPOSIT_NO] [varchar](20) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[BANK_CODE] [varchar](3) NOT NULL,
	[DEPOSIT_AMT] [numeric](15, 4) NOT NULL,
	[PPAY_NO] [numeric](3, 0) NULL,
	[EXCH] [varchar](3) NULL,
 CONSTRAINT [PK_EXDEPOSITTRAN] PRIMARY KEY CLUSTERED 
(
	[DEPOSIT_NO] ASC,
	[GISU] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[EXDEPOSITTRAN] ADD  CONSTRAINT [DF__EXDEPOSIT__DEPOS__0FA2421A]  DEFAULT ((0)) FOR [DEPOSIT_AMT]
GO
