USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DOCUDD]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DOCUDD](
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[CHECK_NO] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[CHECK_CODE] [char](3) NOT NULL,
	[CHECKD_CODE] [varchar](20) NULL,
	[CHK_T_NAME] [varchar](100) NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[DOCU_NO] [numeric](4, 0) NOT NULL,
	[AMT_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_DOCUDD] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC,
	[CHECK_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX1_DOCUDD]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX1_DOCUDD] ON [DZAIS].[DOCUDD]
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[CHECK_NO] ASC,
	[CHK_T_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DOCUDD] ADD  CONSTRAINT [DF_DOCUDD_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[DOCUDD] ADD  CONSTRAINT [DF_DOCUDD_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[DOCUDD] ADD  CONSTRAINT [DF_DOCUDD_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[DOCUDD] ADD  CONSTRAINT [DF_DOCUDD_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[DOCUDD] ADD  CONSTRAINT [DF_DOCUDD_CHECK_NO]  DEFAULT ((0)) FOR [CHECK_NO]
GO
ALTER TABLE [DZAIS].[DOCUDD] ADD  CONSTRAINT [DF_DOCUDD_DR_AMT]  DEFAULT ((0)) FOR [DR_AMT]
GO
ALTER TABLE [DZAIS].[DOCUDD] ADD  CONSTRAINT [DF_DOCUDD_CR_AMT]  DEFAULT ((0)) FOR [CR_AMT]
GO
ALTER TABLE [DZAIS].[DOCUDD] ADD  CONSTRAINT [DF_DOCUDD_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[DOCUDD] ADD  CONSTRAINT [DF_DOCUDD_DOCU_NO]  DEFAULT ((0)) FOR [DOCU_NO]
GO
ALTER TABLE [DZAIS].[DOCUDD]  WITH CHECK ADD  CONSTRAINT [CK_DOCUDD_790B578A] CHECK  (([ACCT_DATE]='00000000' OR [ACCT_DATE]>'19500101' AND [ACCT_DATE]<'21000101' AND CONVERT([datetime],[ACCT_DATE])=CONVERT([datetime],[ACCT_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUDD] CHECK CONSTRAINT [CK_DOCUDD_790B578A]
GO
ALTER TABLE [DZAIS].[DOCUDD]  WITH CHECK ADD  CONSTRAINT [CK_DOCUDD_79FF7BC3] CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUDD] CHECK CONSTRAINT [CK_DOCUDD_79FF7BC3]
GO
