USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SPA_TAX_SUM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	CREATE       PROC  [DZAIS].[SPA_TAX_SUM]       
       @CO_CD       VARCHAR(7),
       @DIV_CD      VARCHAR(7),
       @FR_DT       VARCHAR(8),
       @TO_DT       VARCHAR(8),
       @GUBUN       VARCHAR(2),
       @ETC_FG      VARCHAR(2)
--WITH ENCRYPTION
AS
/*************************************************************************/ 
--설     명 : 부가세신고 사업장 합산 프로시져
--수 정 자 : 박종규 <- 김경인<-제희경<-김철희<-제희경<-김철희<-김철희<-김대영<-강석천 <- 신미란
--수 정 일 : 2010/04/29 <- 2007/10/10 <- 2007/10/08 <- 2007/07/18 <- 2007/07/18 <-2006/10/17 <- 2006/04/10<-2005/10/14
--유     형 : 수정
--내     역  : 2006/10/17 : 합산시 SEQ_NB NULL 값 발생 부분 수정 
--	매입불공제 내역 변경으로 AVNON 테이블에서  AVNON2로 변경  <- 매입불공제 내역 FR_DT, TO_DT 추가
--  	    2007/07/18 : 신용카드수취명세서 MCTT_CNT 추가 
--          2007/07/18 : 구분 13. 과세사업자전환 감가상각자산 신고서 합산 기능 추가
--          2007/07/18 : AVINCOME(수입금액명세서) SUP_AM3 추가 
--          2007/10/08 : 구분 14 추가
--     	2007/10/08 : 의제매입세액공제신고서 PK변경으로 인한 수정
--          2007/10/10 : 구분 14 쿼리 수정 ( RPT_TM )
--          2007/10/12 : 면세유류공급명세서 합산 추가(GUBUN : 15)
-- 	2007/10/17 : 수출실적명세서 (GUBUN : 2)에 WHERE절에 FR_DT, TO_DT 조건 추가
--            2007/10/18 : 구분 16 추가
--	2007/11/23 : 의제매입세액공제신고서 FR_DT, TO_DT default값 변경
--          2007/11/28 :  재활용폐자원세액신고서 합산 계산서 오류 수정 
-- 	2008/04/21 : 부가세신고서 합산 과세표준 업태/종목 갱신 
--   	2010/04/29 : 부동산임대공급가액명세서 사업장단위과세별 수정. 

/*************************************************************************/ 

--EXEC SPA_TAX_SUM '1004', '1000','20080101','20080331','0','0'

 
BEGIN
  DECLARE    @T_DIV_CD     VARCHAR(4) 
  DECLARE    @YEAR         VARCHAR(4)
  DECLARE    @MONTH        VARCHAR(2)
  DECLARE    @RPT_TM       VARCHAR(6)
  DECLARE    @LN_SQ        INT
  DECLARE    @CNT          INT
  DECLARE    @ERRNO        INT
  DECLARE    @ERRMSG       VARCHAR(255)

  SET ANSI_WARNINGS OFF
  BEGIN TRANSACTION


  SET  @YEAR  = LEFT(@TO_DT,4)
  SET  @MONTH = SUBSTRING(@TO_DT,5,2)
  SET  @RPT_TM = @YEAR + CASE WHEN @MONTH >= '01' AND @MONTH <= '03' THEN '11'
                              WHEN @MONTH >= '04' AND @MONTH <= '06' THEN '12'
                              WHEN @MONTH >= '07' AND @MONTH <= '09' THEN '21'
                              ELSE '22' END


    IF (@GUBUN = '0')
    BEGIN
 	 DECLARE    @P_BUSINESS        NVARCHAR(30),
  	 	   @P_JONGMOK       NVARCHAR(30)
	
	SELECT  @P_BUSINESS =  BUSINESS, @P_JONGMOK = JONGMOK
	FROM AVATRPT WHERE CO_CD = @CO_CD and DIV_CD = @DIV_CD and FR_DT = @FR_DT and TO_DT = @TO_DT and RPT_TM = @RPT_TM
	and SINGO_FG = '0' AND ST_FG ='02' AND LN_NB='01' 

     DELETE FROM AVATRPT WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD
                           AND FR_DT = @FR_DT AND TO_DT  = @TO_DT AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVATRPT'        
        GOTO ERROR
      END


      INSERT INTO AVATRPT (CO_CD,  DIV_CD, FR_DT, TO_DT,   ST_FG,   LN_NB,   RP_FG,   RPT_TM, SUP_AM,        VAT_AM,        VAT_RT,   SINGO_FG)
                  SELECT @CO_CD, @DIV_CD,@FR_DT,@TO_DT, a.ST_FG, a.LN_NB, a.RP_FG, a.RPT_TM, SUM(a.SUP_AM), SUM(a.VAT_AM), 0,   '1'
                    FROM AVATRPT a
                         INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
                   WHERE a.CO_CD  = @CO_CD 
                     AND a.DIV_CD = b.DIV_CD
                     AND a.FR_DT  = @FR_DT
                     AND a.TO_DT  = @TO_DT
                     AND a.SINGO_FG = '0'
                     AND NOT ((a.ST_FG = '01' AND a.LN_NB IN ('22','23','24')) OR (a.ST_FG = '00' AND a.LN_NB IN ('01','20') ) )
                GROUP BY a.CO_CD,a.FR_DT,a.TO_DT, a.ST_FG, a.LN_NB, a.RP_FG, a.RPT_TM

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVATRPT'      
        GOTO ERROR
      END

           --과세표준 업태, 종목
           UPDATE AVATRPT SET BUSINESS = @P_BUSINESS, JONGMOK=@P_JONGMOK
	 WHERE  CO_CD= @CO_CD  AND DIV_CD=@DIV_CD AND  FR_DT  = @FR_DT AND TO_DT  = @TO_DT
    	AND SINGO_FG = '1' AND ST_FG IN  ('02','09') AND LN_NB='01'  and RPT_TM = @RPT_TM
    	
	IF( @@ERROR <> 0 )
     	 BEGIN
       		 SET @ERRNO  = 50000
       	 SET @ERRMSG = '과세표준 업태, 종목 갱신중 오류가 났습니다. - AVATRPT'      
       	 GOTO ERROR
      	END                 


    END

    ELSE IF (@GUBUN = '1')
    BEGIN
      DELETE FROM ATAXSUM WHERE CO_CD  = @CO_CD  AND DIV_CD  = @DIV_CD
                            AND RPT_TM = @RPT_TM AND DATA_FG = @ETC_FG AND SINGO_FG = '1'


      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - ATAXSUM'        
        GOTO ERROR
      END



      SELECT IDENTITY(INT, 0,1) AS SEQ_NB, @CO_CD AS CO_CD,@DIV_CD AS DIV_CD ,@RPT_TM AS RPT_TM, a.DATA_FG,a.FR_DT, a.TO_DT, a.REG_NB, SUM(a.MATT_CNT) AS MATT_CNT, SUM(a.CNT) AS CNT, SUM(a.SUP_AM) AS SUP_AM, SUM(a.VAT_AM) AS VAT_AM, MAX(a.TR_NM) AS TR_NM, MAX(a.CEO_NM) AS CEO_NM
        INTO #ATAXSUM
        FROM ATAXSUM a
             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
       WHERE a.CO_CD  = @CO_CD 
         AND a.DIV_CD = b.DIV_CD
         AND a.FR_DT  = @FR_DT
         AND a.TO_DT  = @TO_DT
         AND a.SINGO_FG = '0'
         AND a.DATA_FG = @ETC_FG
      GROUP BY a.CO_CD,a.FR_DT,a.TO_DT,  a.DATA_FG,a.REG_NB
     IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - ATAXSUM'       
        GOTO ERROR
      END

      INSERT INTO ATAXSUM(CO_CD,   DIV_CD,  RPT_TM,   DATA_FG,   SEQ_NB,   FR_DT,   TO_DT,   REG_NB,   MATT_CNT,   CNT,   SUP_AM,   VAT_AM,    TR_NM,   CEO_NM,  SINGO_FG)
                  SELECT a.CO_CD,a.DIV_CD,a.RPT_TM, a.DATA_FG, a.SEQ_NB, a.FR_DT, a.TO_DT, a.REG_NB, a.MATT_CNT, a.CNT, a.SUP_AM, a.VAT_AM, a.TR_NM, a.CEO_NM, '1'
                    FROM #ATAXSUM a
     IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - ATAXSUM'        
        GOTO ERROR
      END

      DROP TABLE #ATAXSUM


    END
    ELSE IF (@GUBUN = '2')
    BEGIN

-- 2007.10.17 수출실적명세서 where절에 FR_DT, TO_DT 조건 추가
      DELETE FROM AVEXPO WHERE CO_CD  = @CO_CD  AND DIV_CD  = @DIV_CD
                           AND RPT_TM = @RPT_TM AND SINGO_FG = '1' AND FR_DT = @FR_DT AND TO_DT = @TO_DT

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVEXPO'        
        GOTO ERROR
      END
      
      SELECT IDENTITY(INT, 0,1) AS LN_SQ, @CO_CD AS CO_CD, @DIV_CD AS DIV_CD,@RPT_TM AS RPT_TM, a.DOC_FG,MAX(a.FR_DT) AS FR_DT, MAX(a.TO_DT) AS TO_DT, MAX(a.CT_NB) AS CT_NB, SUM(a.EX_RT) AS CNT, SUM(a.FOR_AM) AS FOR_AM, SUM(a.KOR_AM) AS KOR_AM
        INTO #AVEXPO0
        FROM AVEXPO a
             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
       WHERE a.CO_CD  = @CO_CD 
         AND a.DIV_CD = b.DIV_CD
         AND a.RPT_TM  = @RPT_TM
         AND a.DOC_FG  = '1'
         AND a.SINGO_FG = '0'
         AND a.FR_DT = @FR_DT AND a.TO_DT = @TO_DT
--2007.10.18
 -- GROUP BY a.CO_CD, a.DIV_CD, a.RPT_TM,  a.DOC_FG
      GROUP BY a.CO_CD, a.RPT_TM,  a.DOC_FG
     IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVEXPO'
        
        GOTO ERROR

      END

      INSERT INTO AVEXPO(CO_CD,   DIV_CD,  RPT_TM,   DOC_FG,   LN_SQ,   FR_DT,   TO_DT,   CT_NB,   EX_RT,  FOR_AM,   KOR_AM, SINGO_FG)
                  SELECT a.CO_CD,a.DIV_CD,a.RPT_TM, a.DOC_FG, a.LN_SQ, a.FR_DT, a.TO_DT, a.CT_NB, a.CNT,  a.FOR_AM, a.KOR_AM, '1'
                    FROM #AVEXPO0 a
     IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVEXPO'
        
        GOTO ERROR
      END

      DROP TABLE #AVEXPO0

      SELECT IDENTITY(INT, 0,1) AS LN_SQ, a.CO_CD, @DIV_CD AS DIV_CD, RPT_TM, DOC_FG,  FR_DT, TO_DT, CT_NB, EXP_DT, FOR_CD, EX_RT, FOR_AM, KOR_AM, RMK_DC, ISU_DT, ISU_SQ, INSERT_ID, INSERT_DT, INSERT_IP, MODIFY_ID, MODIFY_DT, MODIFY_IP, DUMMY1, DUMMY2, DUMMY3
        INTO #AVEXPO1
        FROM AVEXPO a
             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
       WHERE a.CO_CD  = @CO_CD 
         AND a.DIV_CD = b.DIV_CD
         AND a.RPT_TM  = @RPT_TM
         AND a.DOC_FG  = '2'
         AND a.SINGO_FG = '0'
         AND a.FR_DT = @FR_DT AND a.TO_DT = @TO_DT

     IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVEXPO'
        
        GOTO ERROR
      END

      INSERT INTO AVEXPO(CO_CD, DIV_CD, RPT_TM, DOC_FG, LN_SQ, FR_DT, TO_DT, CT_NB, EXP_DT, FOR_CD, EX_RT, FOR_AM, KOR_AM, RMK_DC, ISU_DT, ISU_SQ, INSERT_ID, INSERT_DT, INSERT_IP, MODIFY_ID, MODIFY_DT, MODIFY_IP, DUMMY1, DUMMY2, DUMMY3, SINGO_FG)
                  SELECT CO_CD, DIV_CD, RPT_TM, DOC_FG, LN_SQ, FR_DT, TO_DT, CT_NB, EXP_DT, FOR_CD, EX_RT, FOR_AM, KOR_AM, RMK_DC, ISU_DT, ISU_SQ, INSERT_ID, INSERT_DT, INSERT_IP, MODIFY_ID, MODIFY_DT, MODIFY_IP, DUMMY1, DUMMY2, DUMMY3, '1'
                    FROM #AVEXPO1 
     IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVEXPO'
        
        GOTO ERROR
      END

      DROP TABLE #AVEXPO1

 

    END
    ELSE IF (@GUBUN = '3')
    BEGIN
      DELETE FROM AVFTAX WHERE CO_CD  = @CO_CD  AND DIV_CD  = @DIV_CD
                           AND RPT_TM = @RPT_TM AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVFTAX'
        
        GOTO ERROR
      END
      

      SELECT IDENTITY(INT, 0,1) AS LN_SQ,a.CO_CD, @DIV_CD AS DIV_CD, a.RPT_TM, a.FR_DT, a.TO_DT, a.RP_FG, a.DOCU_DC, a.ISS_NM, a.ISS_DT, a.EXP_DT, a.EX_CD, a.EX_RT, a.CUR_FAM, a.CUR_AM, a.RPT_FAM, a.RPT_AM, a.BL_DC, a.RMK_DC
        INTO #AVFTAX
        FROM AVFTAX a
             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
       WHERE a.CO_CD  = @CO_CD 
         AND a.DIV_CD = b.DIV_CD
         AND a.RPT_TM  = @RPT_TM
         AND a.SINGO_FG = '0'
         AND a.RP_FG = '1'
     IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVFTAX'
        
        GOTO ERROR
      END

      SELECT top 1 a.LN_SQ,a.CO_CD, @DIV_CD AS DIV_CD, a.RPT_TM, a.FR_DT, a.TO_DT, a.RP_FG, a.DOCU_DC, a.ISS_NM, a.ISS_DT, a.EXP_DT, a.EX_CD, a.EX_RT, a.CUR_FAM, a.CUR_AM, a.RPT_FAM, a.RPT_AM, a.BL_DC, a.RMK_DC
        INTO #AVFTAX2
        FROM AVFTAX a
             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
       WHERE a.CO_CD  = @CO_CD 
         AND a.DIV_CD = b.DIV_CD
         AND a.RPT_TM  = @RPT_TM
         AND a.SINGO_FG = '0'
         AND a.RP_FG = '2'
     IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVFTAX'
        
        GOTO ERROR
      END


      INSERT INTO AVFTAX(CO_CD, DIV_CD, RPT_TM, LN_SQ, FR_DT, TO_DT, RP_FG, DOCU_DC, ISS_NM, ISS_DT, EXP_DT, EX_CD, EX_RT, CUR_FAM, CUR_AM, RPT_FAM, RPT_AM, BL_DC, RMK_DC, SINGO_FG)
                  SELECT CO_CD, DIV_CD, RPT_TM, LN_SQ, FR_DT, TO_DT, RP_FG, DOCU_DC, ISS_NM, ISS_DT, EXP_DT, EX_CD, EX_RT, CUR_FAM, CUR_AM, RPT_FAM, RPT_AM, BL_DC, RMK_DC, '1'
                    FROM #AVFTAX
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVFTAX'
        
        GOTO ERROR
      END

      INSERT INTO AVFTAX(CO_CD, DIV_CD, RPT_TM, LN_SQ, FR_DT, TO_DT, RP_FG, DOCU_DC, ISS_NM, ISS_DT, EXP_DT, EX_CD, EX_RT, CUR_FAM, CUR_AM, RPT_FAM, RPT_AM, BL_DC, RMK_DC, SINGO_FG)
                  SELECT CO_CD, DIV_CD, RPT_TM, LN_SQ, FR_DT, TO_DT, RP_FG, DOCU_DC, ISS_NM, ISS_DT, EXP_DT, EX_CD, EX_RT, CUR_FAM, CUR_AM, RPT_FAM, RPT_AM, BL_DC, RMK_DC, '1'
                    FROM #AVFTAX2
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVFTAX'
        
        GOTO ERROR
      END

      DROP TABLE #AVFTAX
      DROP TABLE #AVFTAX2


    END

    ELSE IF (@GUBUN = '4')
    BEGIN
      DELETE FROM ATAXCARD WHERE FR_YM = LEFT(@FR_DT,6)  AND TO_YM  = LEFT(@TO_DT,6)
                           AND CO_CD   = @CO_CD  AND DIV_CD = @DIV_CD AND CARD_FG = '1' 
                           AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - ATAXCARD'
        
        GOTO ERROR
      END


      INSERT INTO ATAXCARD( FR_YM, TO_YM,      CO_CD,  DIV_CD,   CARD_FG, CARD_SQ, RPT_TM, SUP_AM, VAT_AM, SINGO_FG,MATT_CNT)
                       SELECT a.FR_YM, a.TO_YM,a.CO_CD,  @DIV_CD, a.CARD_FG, a.CARD_SQ, a.RPT_TM, SUM(ISNULL(a.SUP_AM,0)), SUM(ISNULL(a.VAT_AM,0)), '1',SUM(ISNULL(MATT_CNT,0)) MATT_CNT
                       FROM ATAXCARD a
                            INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
                            WHERE a.FR_YM = LEFT(@FR_DT,6)  AND a.TO_YM  = LEFT(@TO_DT,6)
                              AND a.CO_CD  = @CO_CD 
                              AND a.DIV_CD = b.DIV_CD
                              AND a.CARD_FG = '1'
                              AND a.SINGO_FG = '0'
                         GROUP BY a.FR_YM, a.TO_YM, a.CO_CD,  a.CARD_FG, a.CARD_SQ, a.RPT_TM

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - ATAXCARD'
        
        GOTO ERROR
      END
    END
    ELSE IF (@GUBUN = '5')  -- 신용카드수취명세서 
    BEGIN
      DELETE FROM ATAXCARD WHERE FR_YM = LEFT(@FR_DT,6)  AND TO_YM  = LEFT(@TO_DT,6)
                           AND CO_CD   = @CO_CD  AND DIV_CD = @DIV_CD AND (CARD_FG >= '2'  and CARD_FG <= '3')
                           AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - ATAXCARD'
        
        GOTO ERROR

      END

           SELECT IDENTITY(INT, 0,1) AS CARD_SQ, a.FR_YM, a.TO_YM, a.CO_CD,  @DIV_CD AS DIV_CD, a.CARD_FG, a.RPT_TM, a.TR_CARD, a.TR_CARD_NM, a.TR_CD, a.TR_NM, a.REG_NB, a.ISS_DT, a.SUP_AM, a.VAT_AM, a.ISU_DT, a.ISU_SQ, a.LN_SQ, a.DUMMY1, a.DUMMY2, a.CARD_TR_CD, a.CARD_TR_NM, a.CARD_REG_NB, a.CARD_MEM_NB, '1' AS SINGO_FG, a.TAX_FG, a.NONSUB_TY, ISNULL(A.MATT_CNT,0)  MATT_CNT
             INTO #ATAXCARD 
             FROM ATAXCARD a
            INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND b.AVDIV_CD = @DIV_CD
            WHERE a.FR_YM = LEFT(@FR_DT,6)  AND a.TO_YM  = LEFT(@TO_DT,6)
              AND a.CO_CD  = @CO_CD 
              AND a.DIV_CD = b.DIV_CD
              AND a.CARD_FG >= '2'  AND a.CARD_FG <= '3'
              AND a.SINGO_FG = '0'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - ATAXCARD'
        
        GOTO ERROR
      END


      INSERT INTO ATAXCARD(   FR_YM,   TO_YM,   CO_CD,   DIV_CD,   CARD_FG,   CARD_SQ,   RPT_TM,   TR_CARD, TR_CARD_NM, TR_CD,   TR_NM,   REG_NB,   ISS_DT,   SUP_AM,   VAT_AM,   ISU_DT,   ISU_SQ, LN_SQ, DUMMY1, DUMMY2, CARD_TR_CD, CARD_TR_NM, CARD_REG_NB, CARD_MEM_NB, SINGO_FG, TAX_FG, NONSUB_TY,MATT_CNT)
                  SELECT      FR_YM,   TO_YM,   CO_CD,   DIV_CD,   CARD_FG,   CARD_SQ,   RPT_TM,   TR_CARD, TR_CARD_NM, TR_CD,   TR_NM,   REG_NB,   ISS_DT,   SUP_AM,   VAT_AM,   ISU_DT,   ISU_SQ, LN_SQ, DUMMY1, DUMMY2, CARD_TR_CD, CARD_TR_NM, CARD_REG_NB, CARD_MEM_NB, SINGO_FG, TAX_FG, NONSUB_TY, MATT_CNT
                   FROM #ATAXCARD
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - ATAXCARD'
        
        GOTO ERROR
      END

      DROP TABLE #ATAXCARD
    END

    ELSE IF (@GUBUN = '6')
    BEGIN
    

   /*  
    DELETE FROM AVNON WHERE CO_CD   = @CO_CD  AND DIV_CD = @DIV_CD 
                          AND RPT_TM  = @RPT_TM AND NON_CD >= '41' AND NON_CD <= '49' AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVNON'
        
        GOTO ERROR
      END

     INSERT INTO  AVNON(  CO_CD,   DIV_CD,   RPT_TM,   NON_CD, WORK_FG, FR_DT, TO_DT,    CNT_QT,      SUP_AM,      VAT_AM,     CALC_FG,     SINGO_FG )
            SELECT a.CO_CD,  @DIV_CD, a.RPT_TM, a.NON_CD, MAX(a.WORK_FG), @FR_DT, @TO_DT, SUM(CNT_QT), SUM(SUP_AM), SUM(VAT_AM),MAX(CALC_FG),'1'
               FROM AVNON a
                    INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
              WHERE a.CO_CD  = @CO_CD 
                AND a.DIV_CD = b.DIV_CD
                AND a.RPT_TM = @RPT_TM
                AND a.NON_CD >= '41' AND a.NON_CD <= '49'
                AND a.SINGO_FG = '0'
           GROUP BY a.CO_CD,  a.RPT_TM, a.NON_CD


      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVNON'
        
        GOTO ERROR
      END

*/
  -- 20060410 김대영( 2006년 1기예정  공제받지못할 매입세액 테이블 변경으로  AVNON -> AVNON2로 변경  )
    DELETE FROM AVNON2 WHERE CO_CD   = @CO_CD  AND DIV_CD = @DIV_CD 
                          AND RPT_TM  = @RPT_TM AND LEFT(NON_CD,1) = '4'  AND SINGO_FG = '1' AND FR_DT = @FR_DT AND TO_DT = @TO_DT
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 300001
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVNON2'
        
        GOTO ERROR
      END

  -- 2 : 공제받지못할 매입세액 내역 
    INSERT INTO  AVNON2(  CO_CD,   DIV_CD,   RPT_TM, FORM_NB,   NON_CD,  FR_DT, TO_DT, SEQ_NB ,   CNT,      SUP_AM,      VAT_AM,  SUP_AM_NON,      VAT_AM_NON,         SINGO_FG, TY_NM )
      SELECT a.CO_CD,  @DIV_CD, a.RPT_TM,  a.FORM_NB , a.NON_CD, @FR_DT, @TO_DT, a.SEQ_NB , SUM(ISNULL(CNT,0)), SUM(ISNULL(SUP_AM,0)), SUM(ISNULL(VAT_AM,0)),  SUM(ISNULL(SUP_AM_NON,0)), SUM(ISNULL(VAT_AM_NON,0)), '1', MAX(TY_NM)
       FROM AVNON2 a
            INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
      WHERE a.CO_CD  = @CO_CD 
        AND a.DIV_CD = b.DIV_CD
        AND a.RPT_TM = @RPT_TM
        AND LEFT(a.NON_CD,1) = '4'
        AND a.SINGO_FG = '0'
        AND a.FR_DT = @FR_DT
        AND a.TO_DT = @TO_DT
        AND A.FORM_NB =  2 
      GROUP BY a.CO_CD,  a.RPT_TM, a.FORM_NB, a.NON_CD ,a.SEQ_NB
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 300001
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVNON2'        
        GOTO ERROR
      END



-- FORM_NB  3, 4, 5  일경우 
-- 3 : 공통매입세액 안분계산내역
-- 4 : 공통매입세액 정산 내역
-- 5 : 납부세액 또는 환급세액 재계산내역 
    	DECLARE @INDEX3		INT,	
		 @INDEX4		INT,	
		 @INDEX5		INT,		 
		@NON_CD 	VARCHAR(3),
		@CNT_IN	 	NUMERIC(11), 
		@FORM_NB	 	NUMERIC(2), 
		@SUP_AM	 	NUMERIC(17,4),
		@VAT_AM	 	NUMERIC(17,4),
		@CALC_AM1	 	NUMERIC(17,4),
		@CALC_AM2	 	NUMERIC(17,4),
		@CALC_AM3	 	NUMERIC(17,4),
		@CALC_AM4	 	NUMERIC(17,4),
		@SUP_AM_NON	 	NUMERIC(17,4),		 
		@VAT_AM_NON	 	NUMERIC(17,4),
		@TY_NM 	VARCHAR(40)
	
 	SELECT  @INDEX3 = 1 , @INDEX4 = 1 , @INDEX5 = 1 
	

	DECLARE CUR_LSSTD CURSOR FOR	
		SELECT   A.FORM_NB,A.NON_CD,  CNT , SUP_AM , VAT_AM , CALC_AM1 , CALC_AM2 , CALC_AM3 , CALC_AM4 , SUP_AM_NON,  VAT_AM_NON, TY_NM 
		       FROM AVNON2 A
		            INNER JOIN AVDIV_D B ON B.CO_CD = A.CO_CD AND B.DIV_CD = A.DIV_CD AND AVDIV_CD = @DIV_CD
		      WHERE A.CO_CD  = @CO_CD 
		        AND A.DIV_CD = b.DIV_CD

		        AND A.RPT_TM = @RPT_TM
		        AND LEFT(A.NON_CD,1) = '4'
		        AND A.SINGO_FG = '0'
		        AND A.FR_DT = @FR_DT
		        AND A.TO_DT = @TO_DT
		        AND A.FORM_NB IN(  3, 4, 5 ) 
	OPEN CUR_LSSTD   
	FETCH NEXT FROM CUR_LSSTD   
	INTO 	@FORM_NB, @NON_CD,  @CNT_IN , @SUP_AM , @VAT_AM , @CALC_AM1 ,@CALC_AM2 , @CALC_AM3 , @CALC_AM4 , @SUP_AM_NON,  @VAT_AM_NON, @TY_NM
	WHILE (@@FETCH_STATUS = 0)   
	BEGIN   	
		IF( @FORM_NB = 3 )
		BEGIN
			INSERT INTO  AVNON2(  CO_CD,   DIV_CD,   RPT_TM, FORM_NB,   NON_CD,  FR_DT, TO_DT, SEQ_NB ,   CNT,      SUP_AM,      VAT_AM, CALC_AM1, CALC_AM2, CALC_AM3, CALC_AM4, SUP_AM_NON,      VAT_AM_NON,         SINGO_FG, TY_NM  )
			VALUES ( @CO_CD,   @DIV_CD,   @RPT_TM, @FORM_NB,   @NON_CD,  @FR_DT, @TO_DT, @INDEX3 ,   @CNT_IN,      @SUP_AM,      @VAT_AM, @CALC_AM1, @CALC_AM2, @CALC_AM3, @CALC_AM4, @SUP_AM_NON,      @VAT_AM_NON,  '1', @TY_NM)
			IF( @@ERROR <> 0 )
			BEGIN
				CLOSE CUR_LSSTD     DEALLOCATE CUR_LSSTD
				SET @ERRNO  = 300001
				SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVNON2(CUR_LSSTD3)'        
				GOTO ERROR
			END	
	
			SET @INDEX3 = @INDEX3+1 
		END
		ELSE IF( @FORM_NB = 4 )
		BEGIN
			INSERT INTO  AVNON2(  CO_CD,   DIV_CD,   RPT_TM, FORM_NB,   NON_CD,  FR_DT, TO_DT, SEQ_NB ,   CNT,      SUP_AM,      VAT_AM, CALC_AM1, CALC_AM2, CALC_AM3, CALC_AM4, SUP_AM_NON,      VAT_AM_NON,         SINGO_FG, TY_NM )
			VALUES ( @CO_CD,   @DIV_CD,   @RPT_TM, @FORM_NB,   @NON_CD,  @FR_DT, @TO_DT, @INDEX4 ,   @CNT_IN,      @SUP_AM,      @VAT_AM, @CALC_AM1, @CALC_AM2, @CALC_AM3, @CALC_AM4, @SUP_AM_NON,      @VAT_AM_NON,  '1', @TY_NM)
			IF( @@ERROR <> 0 )
			BEGIN
				CLOSE CUR_LSSTD     DEALLOCATE CUR_LSSTD
				SET @ERRNO  = 300001
				SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVNON2(CUR_LSSTD4)'        
				GOTO ERROR
			END	
	
			SET @INDEX4 = @INDEX4+1 
		END
		ELSE IF( @FORM_NB = 5 )
		BEGIN

			INSERT INTO  AVNON2(  CO_CD,   DIV_CD,   RPT_TM, FORM_NB,   NON_CD,  FR_DT, TO_DT, SEQ_NB ,   CNT,      SUP_AM,      VAT_AM, CALC_AM1, CALC_AM2, CALC_AM3, CALC_AM4, SUP_AM_NON,      VAT_AM_NON,         SINGO_FG, TY_NM )
			VALUES ( @CO_CD,   @DIV_CD,   @RPT_TM, @FORM_NB,   @NON_CD,  @FR_DT, @TO_DT, @INDEX5 ,   @CNT_IN,      @SUP_AM,      @VAT_AM, @CALC_AM1, @CALC_AM2, @CALC_AM3, @CALC_AM4, @SUP_AM_NON,      @VAT_AM_NON,  '1', @TY_NM)
			IF( @@ERROR <> 0 )
			BEGIN
				CLOSE CUR_LSSTD     DEALLOCATE CUR_LSSTD
				SET @ERRNO  = 300001
				SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVNON2(CUR_LSSTD5)'        
				GOTO ERROR
			END	
	
			SET @INDEX5 = @INDEX5+1 
		END

	FETCH NEXT FROM CUR_LSSTD 
	INTO 	@FORM_NB,@NON_CD,  @CNT_IN , @SUP_AM , @VAT_AM , @CALC_AM1 ,@CALC_AM2 , @CALC_AM3 , @CALC_AM4 , @SUP_AM_NON,  @VAT_AM_NON, @TY_NM
	END   
	CLOSE CUR_LSSTD     DEALLOCATE CUR_LSSTD	
    


    END
    ELSE IF (@GUBUN = '7')
    BEGIN

      DELETE FROM AVASSET WHERE FR_YM = LEFT(@FR_DT,6)  AND TO_YM  = LEFT(@TO_DT,6)
                           AND CO_CD   = @CO_CD  AND DIV_CD = @DIV_CD 
                           AND RPT_TM  = @RPT_TM AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVASSET'
        
        GOTO ERROR
      END

      INSERT INTO AVASSET(FR_YM, TO_YM,    CO_CD,   DIV_CD,  RPT_TM, DOC_FG, LN_SQ, ASSET_FG,  SUP_AM,      VAT_AM,      MATT_CNT,     SINGO_FG )
                   SELECT a.FR_YM, a.TO_YM,a.CO_CD, @DIV_CD, @RPT_TM, '1',  a.LN_SQ,a.ASSET_FG,SUM(SUP_AM), SUM(VAT_AM), SUM(MATT_CNT),'1'
                   FROM AVASSET a
                       INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
                  WHERE a.FR_YM = LEFT(@FR_DT,6)  AND a.TO_YM  = LEFT(@TO_DT,6)
                    AND a.CO_CD  = @CO_CD 
                    AND a.DIV_CD = b.DIV_CD
                    AND a.RPT_TM  = @RPT_TM
                    AND a.DOC_FG = '1'
                    AND a.SINGO_FG = '0'
               GROUP BY a.FR_YM, a.TO_YM,a.CO_CD,  a.RPT_TM,a.LN_SQ,a.ASSET_FG
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVASSET'
        
        GOTO ERROR
      END



      SELECT IDENTITY(INT, 0,1) AS LN_SQ, a.FR_YM, a.TO_YM, a.CO_CD, a.RPT_TM, a.DOC_FG, a.ASSET_FG, a.ISS_DT, a.TR_CD, a.TR_NM, a.REG_NB, a.ITEM_DC, a.SUP_AM, a.VAT_AM, a.MATT_CNT, a.RMK_DC, a.ISU_DT, a.ISU_SQ, a.LN_SQ2, a.DUMMY1, a.DUMMY2, a.DUMMY3
        INTO #AVASSET
        FROM AVASSET a
             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
       WHERE a.FR_YM = LEFT(@FR_DT,6)  AND a.TO_YM  = LEFT(@TO_DT,6)
         AND a.CO_CD  = @CO_CD 
         AND a.DIV_CD = b.DIV_CD
         AND a.RPT_TM  = @RPT_TM
         AND a.DOC_FG = '2'
         AND a.SINGO_FG = '0'
       IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVASSET'
        
        GOTO ERROR
      END       
      INSERT INTO AVASSET(FR_YM,   TO_YM,  CO_CD,  DIV_CD,  RPT_TM, DOC_FG, LN_SQ, ASSET_FG, ISS_DT, TR_CD, TR_NM, REG_NB, ITEM_DC, SUP_AM, VAT_AM, MATT_CNT, RMK_DC, ISU_DT, ISU_SQ, LN_SQ2, DUMMY1, DUMMY2, DUMMY3, SINGO_FG )
                   SELECT a.FR_YM, a.TO_YM,a.CO_CD, @DIV_CD, @RPT_TM, '2',  a.LN_SQ, a.ASSET_FG, a.ISS_DT, a.TR_CD, a.TR_NM, a.REG_NB, a.ITEM_DC, a.SUP_AM, a.VAT_AM, a.MATT_CNT, a.RMK_DC, a.ISU_DT, a.ISU_SQ, a.LN_SQ2, a.DUMMY1, a.DUMMY2, a.DUMMY3, '1'
                   FROM #AVASSET a
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVASSET'
        
        GOTO ERROR

      END

      DROP TABLE #AVASSET
    END
        ELSE IF (@GUBUN = '8')
/*20100429 박종규
	BEGIN
      DELETE FROM AVEST 
			WHERE  CO_CD   = @CO_CD  AND DIV_CD = @DIV_CD 
                           AND RPT_TM  = @RPT_TM AND SINGO_FG = '1'

*/

	BEGIN
      DELETE AVEST FROM AVEST a
	   INNER JOIN AVDIV_D b 
               ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD
			WHERE  a.CO_CD   = @CO_CD  AND b.AVDIV_CD = @DIV_CD 
                           AND RPT_TM  = @RPT_TM AND SINGO_FG = '1'

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVEST'
        
        GOTO ERROR
      END

/*
SELECT A.DIV_CD, A.CHK, A.APPR_NB  FROM  
( SELECT	D.DIV_CD,CASE WHEN D.DIV_CD=H.AVDIV_CD THEN '0' ELSE '1' END CHK, D.APPR_NB 
FROM AVDIV_D D INNER JOIN AVDIV_H H 
	ON D.CO_CD=H.CO_CD AND D.AVDIV_CD=H.AVDIV_CD 
WHERE D.CO_CD = '5000' AND D.AVDIV_CD = '1000' ) A  
ORDER BY A.CHK



      SELECT a.DIV_CD 
        FROM SDIV a
             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = '1000'
       WHERE a.CO_CD = '5000'

 SELECT *            FROM AVEST 
                  WHERE CO_CD  = '5000'
                    AND DIV_CD = '1000'
                    AND RPT_TM = '200922'
                    AND DOC_FG = '1'
                    AND SINGO_FG = '0'

        SELECT * 
          FROM AVEST a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD =  '1000'
          WHERE a.CO_CD  = '5000'
           AND a.DIV_CD = b.DIV_CD
           AND a.RPT_TM  = '200922'
           AND a.DOC_FG = '2'
           AND a.SINGO_FG = '0'

EXEC SPA_TAX_SUM '5000', '1000', '20101001', '20101231', 8, 0

------------------------------------------------- 2th Message -------------------------------------------------
SELECT FR_DT, TO_DT, CON1, FLOOR1   FROM AVEST  WHERE CO_CD  = '5000'    and DIV_CD = '1000'    and RPT_TM = '200922'   
 and FR_DT = '20091001' AND TO_DT = '20091231'    and DOC_FG = '1'    and LN_SQ  >= 0    AND SINGO_FG = '1'

------------------------------------------------- 3th Message -------------------------------------------------
SELECT A.FLOOR1, A.FLOOR2, A.HOSU, A.TR_NM,   CASE WHEN FR_DT='00000000' THEN '' WHEN FR2>FR_dT THEN FR2 ELSE FR_DT END FR_DT2,
 	CASE WHEN TO_DT='00000000' THEN '' WHEN TO_DT>TO2 THEN TO2 ELSE TO_DT END TO_DT2,   
 CASE WHEN RENTS_DT='00000000' THEN '' WHEN FR2>RENTS_DT THEN '' ELSE RENTS_DT END RENTS_DT2,  
 CASE WHEN RENTE_DT='00000000' THEN '' WHEN RENTE_DT>TO2 THEN '' ELSE RENTE_DT END RENTE_DT2,   A.*  
 FROM(

SELECT * ,  case when LEN(REG_NB)=10 then LEFT(REG_NB, 3) + '-' + SUBSTRING(REG_NB, 4, 2)  + '-' + RIGHT(REG_NB, 5) when LEN(REG_NB)=13 then LEFT(REG_NB, 6) + '-' + RIGHT(REG_NB, 7) else REG_NB end as REG_NB1,   case when floor1 = 1 then '지상' else '지하' end + FLOOR2 + '층' as FLOOR3, HOSU + '호' HOSU2,  '20091001' FR2, '20091231' TO2 

 FROM AVEST  WHERE CO_CD  = '5000' and DIV_CD = '1000'    and RPT_TM = '200922'  
  AND FR_DT = '20091001' AND TO_DT = '20091231'    and DOC_FG = '2' --and LN_SQ  >= 0
 AND SINGO_FG = '1' )A

*/


/*20100429 박종규 insert_select 형식으로 변환
      SELECT @T_DIV_CD = MIN(a.DIV_CD) 
        FROM SDIV a
             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
       WHERE a.CO_CD = @CO_CD

      INSERT INTO AVEST( CO_CD,   DIV_CD,  RPT_TM, DOC_FG, LN_SQ, FLOOR1, FLOOR2, HOSU, TR_CD, TR_NM, REG_NB, MJUK, USE_TY, FR_DT, TO_DT, CON1, CON2, CON3, LEN1, LEN2, LEN3, LEN4, DUMMY1, DUMMY2, DUMMY3, DUMMY4, SINGO_FG )
                   SELECT @CO_CD, @DIV_CD,  RPT_TM, DOC_FG, LN_SQ, FLOOR1, FLOOR2, HOSU, TR_CD, TR_NM, REG_NB, MJUK, USE_TY, FR_DT, TO_DT, CON1, CON2, CON3, LEN1, LEN2, LEN3, LEN4, DUMMY1, DUMMY2, DUMMY3, DUMMY4, '1'
                   FROM AVEST 
                  WHERE CO_CD  = @CO_CD 
                    AND DIV_CD = @T_DIV_CD
                    AND RPT_TM = @RPT_TM
                    AND DOC_FG = '1'
                    AND SINGO_FG = '0'
*/
-- 2011.04.07 갱신일, 비고 추가. , DA_RENEW, RMK_RENE
      INSERT INTO AVEST( CO_CD,   DIV_CD,  RPT_TM, DOC_FG, LN_SQ, FLOOR1, FLOOR2, HOSU, TR_CD, TR_NM, REG_NB, MJUK, USE_TY, FR_DT, TO_DT, CON1, CON2, CON3, LEN1, LEN2, LEN3, LEN4, RENTS_DT, RENTE_DT, DUMMY1, DUMMY2, DUMMY3, DUMMY4, SINGO_FG, APPR_NB, DONG, DA_RENEW, RMK_RENE)
                   SELECT @CO_CD, a.DIV_CD,  a.RPT_TM, a.DOC_FG, a.LN_SQ, a.FLOOR1, a.FLOOR2, a.HOSU, a.TR_CD, a.TR_NM, a.REG_NB, a.MJUK, a.USE_TY, a.FR_DT, a.TO_DT, a.CON1, a.CON2, a.CON3, a.LEN1, a.LEN2, a.LEN3, a.LEN4, A.RENTS_DT, A.RENTE_DT, a.DUMMY1, a.DUMMY2, a.DUMMY3, a.DUMMY4, '1', B.APPR_NB,DONG, DA_RENEW, RMK_RENE
                   FROM AVEST a
			 INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD 
                  WHERE a.CO_CD  = @CO_CD 
                    AND b.AVDIV_CD = @DIV_CD
                    AND RPT_TM = @RPT_TM
                    AND DOC_FG = '1'
                    AND SINGO_FG = '0'

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVEST'
                GOTO ERROR
      END
  
  /*20100429 박종규 주사업장 코드로 div_cd가 입력되던 것을 종사업장 코드로 입력.
        SELECT IDENTITY(INT, 0,1) AS LN_SQ, a.CO_CD, @DIV_CD AS DIV_CD ,a.RPT_TM, a.DOC_FG, a.FLOOR1, a.FLOOR2, a.HOSU, a.TR_CD, a.TR_NM, a.REG_NB, a.MJUK, a.USE_TY, a.FR_DT, a.TO_DT, a.CON1, a.CON2, a.CON3, a.LEN1, a.LEN2, a.LEN3, a.LEN4, a.DUMMY1, a.DUMMY2, a.DUMMY3, a.DUMMY4 
          INTO #AVEST
          FROM AVEST a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
          WHERE a.CO_CD  = @CO_CD 
           AND a.DIV_CD = b.DIV_CD
           AND a.RPT_TM  = @RPT_TM
           AND a.DOC_FG = '2'
           AND a.SINGO_FG = '0'
*/
-- 2011.04.07 갱신일, 비고 추가. , DA_RENEW, RMK_RENE
-- 2011.04.12 SQ 1부터 시작되도록 수정
SELECT IDENTITY(INT, 1,1) AS LN_SQ, a.CO_CD, a.DIV_CD AS DIV_CD ,a.RPT_TM, a.DOC_FG, a.FLOOR1, a.FLOOR2, a.HOSU, a.TR_CD, a.TR_NM, a.REG_NB, a.MJUK, a.USE_TY, a.FR_DT, a.TO_DT, a.CON1, a.CON2, a.CON3, a.LEN1, a.LEN2, a.LEN3, a.LEN4, A.RENTS_DT, A.RENTE_DT, a.DUMMY1, a.DUMMY2, a.DUMMY3, a.DUMMY4, B.APPR_NB, DONG, DA_RENEW, RMK_RENE
          INTO #AVEST
          FROM AVEST a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
          WHERE a.CO_CD  = @CO_CD 
           --AND a.DIV_CD = b.DIV_CD
           AND a.RPT_TM  = @RPT_TM
           AND a.DOC_FG = '2'
           AND a.SINGO_FG = '0'

-- 2011.04.07 갱신일, 비고 추가. , DA_RENEW, RMK_RENE
  select  @RPT_TM, @CO_CD, @DIV_CD
       INSERT INTO AVEST(   CO_CD,  DIV_CD,  RPT_TM,   DOC_FG, LN_SQ, FLOOR1, FLOOR2, HOSU, TR_CD, TR_NM, REG_NB, MJUK, USE_TY, FR_DT, TO_DT, CON1, CON2, CON3, LEN1, LEN2, LEN3, LEN4, RENTS_DT, RENTE_DT,DUMMY1, DUMMY2, DUMMY3, DUMMY4, SINGO_FG, APPR_NB, DONG, DA_RENEW, RMK_RENE )

                   SELECT   a.CO_CD, a.DIV_CD,a.RPT_TM, a.DOC_FG, a.LN_SQ, a.FLOOR1, a.FLOOR2, a.HOSU, a.TR_CD, a.TR_NM, a.REG_NB, a.MJUK, a.USE_TY, a.FR_DT, a.TO_DT, a.CON1, a.CON2, a.CON3, a.LEN1, a.LEN2, a.LEN3, a.LEN4, A.RENTS_DT, A.RENTE_DT, a.DUMMY1, a.DUMMY2, a.DUMMY3, a.DUMMY4, '1', A.APPR_NB, DONG, DA_RENEW, RMK_RENE 
                   FROM #AVEST a


      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVEST'
        
        GOTO ERROR
      END
      
      DROP TABLE #AVEST
    END

    ELSE IF (@GUBUN = '9' )
    BEGIN
      --2007.11.23
	--       DELETE FROM AVREGARD WHERE CO_CD  = @CO_CD  AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1' AND  FR_DT = @FR_DT AND TO_DT = @TO_DT
      DELETE FROM AVREGARD WHERE CO_CD  = @CO_CD  AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1' AND ( ( FR_DT = @FR_DT AND TO_DT = @TO_DT) OR (FR_DT = '00000000' AND TO_DT = '00000000'))
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVREGARD'
        
        GOTO ERROR
      END

        -- SELECT DISTINCT IDENTITY(INT, 0,1) AS SEQ_NB , a.CO_CD, @DIV_CD AS DIV_CD, a.RPT_TM,   '00000000' AS FR_DT, '00000000' AS TO_DT,  a.TR_CD AS TR_CD, MAX(t.TR_NM) as TR_NM, MAX(t.REG_NB) AS REG_NB, MAX(a.ATTR_CD) AS ATTR_CD
        --2007.11.23
	--SELECT DISTINCT IDENTITY(INT, 0,1) AS SEQ_NB , a.CO_CD, @DIV_CD AS DIV_CD, a.RPT_TM,  '00000000' AS FR_DT, '00000000' AS TO_DT,  a.TR_CD AS TR_CD, MAX(a.TR_NM) as TR_NM, MAX(a.REG_NB) AS REG_NB, MAX(a.ATTR_CD) AS ATTR_CD
	 SELECT DISTINCT IDENTITY(INT, 0,1) AS SEQ_NB , a.CO_CD, @DIV_CD AS DIV_CD, a.RPT_TM,  @FR_DT AS FR_DT, @TO_DT AS TO_DT,  a.TR_CD AS TR_CD, MAX(a.TR_NM) as TR_NM, MAX(a.REG_NB) AS REG_NB, MAX(a.ATTR_CD) AS ATTR_CD
                    INTO #AVREGARD0
                    FROM AVREGARD a
                         INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD           
                         --LEFT OUTER JOIN STRADE t ON t.TR_CD = a.TR_CD AND t.CO_CD = a.CO_CD
                   WHERE a.CO_CD  = @CO_CD 
                     AND a.DIV_CD = b.DIV_CD
                     AND a.RPT_TM  = @RPT_TM
                     AND a.DUMMY1 = '0'
                     AND a.SINGO_FG = '0'
	        AND a.FR_DT = @FR_DT AND a.TO_DT = @TO_DT
                 GROUP BY a.CO_CD, a.RPT_TM,a.TR_CD


      INSERT INTO AVREGARD(CO_CD, DIV_CD,  RPT_TM, SEQ_NB, FR_DT, TO_DT, TR_CD, TR_NM, SUP_AM, TAXRT_FG, REG_NB,ISU_SQ, LN_SQ,DUMMY1, SINGO_FG, ATTR_CD)
                   SELECT  CO_CD, DIV_CD,  RPT_TM, SEQ_NB, FR_DT, TO_DT, TR_CD, TR_NM, 0,      '1',      REG_NB,0,      0,    '0',    '1', ATTR_CD
                   FROM #AVREGARD0 


      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVREGARD'
        
        GOTO ERROR

      END

      SELECT @CNT = ISNULL(MAX(ISNULL(SEQ_NB,0)),0)  + 1 FROM #AVREGARD0
      DROP TABLE #AVREGARD0


        SELECT IDENTITY(INT, 1,1) AS SEQ_NB, a.CO_CD, @DIV_CD as DIV_CD, a.RPT_TM, a.FR_DT, a.TO_DT, a.TR_CD, a.TR_NM, a.TAX_FG, a.DOCU_FG, a.WORK_FG, a.PUR_DT, a.ITEM_DC, a.PUR_QT, a.SUP_AM, a.TAXRT_FG, a.VAT_AM, a.REG_NB, a.ADDR, a.ISU_DT, a.ISU_SQ, a.LN_SQ, a.RMK_DC, a.INSERT_ID, a.INSERT_DT, a.INSERT_IP, a.MODIFY_ID, a.MODIFY_DT, a.MODIFY_IP, a.DUMMY1, a.DUMMY2, a.DUMMY3, '1' AS SINGO_FG, a.ATTR_CD
          INTO #AVREGARD
          FROM AVREGARD a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
          WHERE a.CO_CD  = @CO_CD 
           AND a.DIV_CD = b.DIV_CD
           AND a.RPT_TM = @RPT_TM
           AND a.DUMMY1 = '1'
           AND a.SINGO_FG = '0'
           AND a.FR_DT = @FR_DT AND a.TO_DT = @TO_DT

       INSERT INTO AVREGARD(CO_CD, DIV_CD, RPT_TM, SEQ_NB, FR_DT, TO_DT, TR_CD, TR_NM, TAX_FG, DOCU_FG, WORK_FG, PUR_DT, ITEM_DC, PUR_QT, SUP_AM, TAXRT_FG, VAT_AM, REG_NB, ADDR, ISU_DT, ISU_SQ, LN_SQ, RMK_DC, INSERT_ID, INSERT_DT, INSERT_IP, MODIFY_ID, MODIFY_DT, MODIFY_IP, DUMMY1, DUMMY2, DUMMY3, SINGO_FG,  ATTR_CD)
                   SELECT     CO_CD, DIV_CD, RPT_TM, SEQ_NB +@CNT, FR_DT, TO_DT, TR_CD, TR_NM, TAX_FG, DOCU_FG, WORK_FG, PUR_DT, ITEM_DC, PUR_QT, SUP_AM, TAXRT_FG, VAT_AM, REG_NB, ADDR, ISU_DT, ISU_SQ, LN_SQ, RMK_DC, INSERT_ID, INSERT_DT, INSERT_IP, MODIFY_ID, MODIFY_DT, MODIFY_IP, DUMMY1, DUMMY2, DUMMY3, SINGO_FG, ATTR_CD
                   FROM #AVREGARD 


      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVREGARD'
        
        GOTO ERROR

      END
      
      DROP TABLE #AVREGARD


      DELETE FROM AVREGARDSUM WHERE CO_CD  = @CO_CD  AND DIV_CD = @DIV_CD 
                             AND RPT_TM = @RPT_TM AND SINGO_FG = '1' AND FR_YM = LEFT(@FR_DT, 6) AND TO_YM = LEFT(@TO_DT, 6)
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVREGARDSUM'
        
        GOTO ERROR

      END

      INSERT INTO AVREGARDSUM (CO_CD,  DIV_CD, SINGO_FG, RPT_TM,     DOC_FG, LN_SQ,   FR_YM, TO_YM,                   TR_CD,TR_NM, REG_NB,TR_CNT, MATT_CNT, ITEM_DC, PUR_QT, SUP_AM, TAXRT_FG, VAT_AM)
                      SELECT a.CO_CD, @DIV_CD, '1',      a.RPT_TM, a.DOC_FG, a.LN_SQ, LEFT(@FR_DT,6), LEFT(@TO_DT,6), NULL, NULL,  NULL,  SUM(ISNULL(TR_CNT,0)), SUM(ISNULL(MATT_CNT,0)), NULL, 0, SUM(ISNULL(SUP_AM,0)), NULL, SUM(ISNULL(VAT_AM,0))
                        FROM AVREGARDSUM a
                             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD           
                       WHERE a.CO_CD = @CO_CD
                         AND a.DIV_CD = b.DIV_CD
                         AND a.RPT_TM  = @RPT_TM
                         AND a.DOC_FG = '1'
                         AND a.LN_SQ <= '3'
                         AND a.SINGO_FG = '0'
	            AND a.FR_YM = LEFT(@FR_DT, 6) AND a.TO_YM = LEFT(@TO_DT, 6)
                    GROUP BY a.CO_CD, a.RPT_TM, a.DOC_FG, LN_SQ

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVREGARDSUM'
        
        GOTO ERROR

      END

        SELECT IDENTITY(INT, 1,1) AS LN_SQ,a.CO_CD, @DIV_CD AS DIV_CD,'1' AS SINGO_FG, a.RPT_TM, a.DOC_FG, LEFT(@FR_DT,6) AS FR_YM,LEFT(@TO_DT,6) AS TO_YM,a.TR_CD, a.REG_NB,   a.TR_NM,  a.TR_CNT, a.MATT_CNT,a.ITEM_DC,a.PUR_QT,a.SUP_AM,a.TAXRT_FG, a.VAT_AM,a.DUMMY1, a.DUMMY2, a.DUMMY3
          INTO #AVREGARDSUM
          FROM AVREGARDSUM a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND b.AVDIV_CD = @DIV_CD
        WHERE a.CO_CD = @CO_CD
          AND a.DIV_CD = b.DIV_CD
          AND a.RPT_TM  = @RPT_TM
          AND a.DOC_FG = '2'
          AND a.SINGO_FG = '0'
          AND a.FR_YM = LEFT(@FR_DT, 6) AND a.TO_YM = LEFT(@TO_DT, 6)

       INSERT INTO AVREGARDSUM(CO_CD, DIV_CD, SINGO_FG, RPT_TM, DOC_FG, LN_SQ, FR_YM, TO_YM, TR_CD, TR_NM, REG_NB, TR_CNT, MATT_CNT, ITEM_DC, PUR_QT, SUP_AM, TAXRT_FG, VAT_AM, DUMMY1, DUMMY2, DUMMY3)
                    SELECT     CO_CD, DIV_CD, SINGO_FG, RPT_TM, DOC_FG, LN_SQ, FR_YM, TO_YM, TR_CD, TR_NM, REG_NB, TR_CNT, MATT_CNT, ITEM_DC, PUR_QT, SUP_AM, TAXRT_FG, VAT_AM, DUMMY1, DUMMY2, DUMMY3
                   FROM #AVREGARDSUM
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVREGARDSUM'
        
        GOTO ERROR
      END

      DROP TABLE #AVREGARDSUM

    END
    -- 재활용폐자원세액공제신고서
    ELSE IF (@GUBUN = '10')
    BEGIN

  DELETE FROM AVDISUSE WHERE CO_CD  = @CO_CD  AND DIV_CD = @DIV_CD 
                             AND RPT_TM = @RPT_TM AND SINGO_FG  IN(  '1', '3') 
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVDISUSE'
        
        GOTO ERROR
      END

  
	SELECT   IDENTITY(INT, 1,1) AS SEQ_NB,  a.CO_CD, @DIV_CD DIV_CD, a.RPT_TM,a.FR_DT , a.TO_DT , a.TR_CD , a.TR_NM , a.TAX_FG, 
		a.DOCU_FG , a. ITEM_DC , a.PUR_QT,a.MATT_CNT, 
		a.SUP_AM ,  a.VAT_AM , a.REG_NB ,   '3'  SINGO_FG
                  INTO #AVDISUSE0
                  FROM AVDISUSE a
                         INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD           
                         LEFT OUTER JOIN STRADE t ON t.TR_CD = a.TR_CD AND t.CO_CD = a.CO_CD
                   WHERE a.CO_CD  = @CO_CD                   
                     AND a.RPT_TM  = @RPT_TM                  
                     AND a.SINGO_FG = '2'
   
 
         INSERT INTO AVDISUSE(CO_CD, DIV_CD, RPT_TM,FR_DT , TO_DT , TR_CD , TR_NM , TAX_FG,SEQ_NB, 
			DOCU_FG ,  ITEM_DC , PUR_QT,MATT_CNT, 
			SUP_AM ,  VAT_AM , REG_NB ,    SINGO_FG)
                   SELECT    	CO_CD, DIV_CD, RPT_TM,FR_DT , TO_DT , TR_CD , TR_NM , TAX_FG,SEQ_NB, 
			DOCU_FG ,  ITEM_DC , PUR_QT,MATT_CNT, 
			SUP_AM ,  VAT_AM , REG_NB ,    SINGO_FG
                   FROM #AVDISUSE0 

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVDISUSE'
        
        GOTO ERROR
      END


        SELECT @LN_SQ =  ISNULL( MAX(ISNULL(SEQ_NB,0)),0)    FROM #AVDISUSE0
        DROP TABLE  #AVDISUSE0

        SELECT IDENTITY(INT, 1,1) AS SEQ_NB, a.CO_CD, @DIV_CD AS DIV_CD, a.RPT_TM, a.FR_DT, a.TO_DT, a.TR_CD, a.TR_NM, a.TAX_FG, a.DOCU_FG, a.WORK_FG, a.PUR_DT, a.ITEM_DC, a.PUR_QT, a.SUP_AM, a.TAXRT_FG, a.VAT_AM, a.REG_NB, a.ADDR,  a.ISU_DT, a.ISU_SQ, a.LN_SQ, a.RMK_DC, a.INSERT_ID, a.INSERT_DT, a.INSERT_IP, a.MODIFY_ID, a.MODIFY_DT, a.MODIFY_IP, a.DUMMY1, a.DUMMY2, a.DUMMY3, '1' AS SINGO_FG, a.MATT_CNT 
          INTO #AVDISUSE
          FROM AVDISUSE a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
          WHERE a.CO_CD  = @CO_CD           
           AND a.RPT_TM = @RPT_TM
         --  AND a.DUMMY1 = '1'
           AND a.SINGO_FG = '0'


       INSERT INTO AVDISUSE(CO_CD, DIV_CD, RPT_TM, SEQ_NB, FR_DT, TO_DT, TR_CD, TR_NM, TAX_FG, DOCU_FG, WORK_FG, PUR_DT, ITEM_DC, PUR_QT, SUP_AM, TAXRT_FG, VAT_AM, REG_NB, ADDR, ISU_DT, ISU_SQ, LN_SQ, RMK_DC, INSERT_ID, INSERT_DT, INSERT_IP, MODIFY_ID, MODIFY_DT, MODIFY_IP, DUMMY1, DUMMY2, DUMMY3, SINGO_FG, MATT_CNT )
                   SELECT     CO_CD, DIV_CD, RPT_TM, SEQ_NB+@LN_SQ,  FR_DT, TO_DT, TR_CD, TR_NM, TAX_FG, DOCU_FG, WORK_FG, PUR_DT, ITEM_DC, PUR_QT, SUP_AM, TAXRT_FG, VAT_AM, REG_NB, ADDR, ISU_DT, ISU_SQ, LN_SQ, RMK_DC, INSERT_ID, INSERT_DT, INSERT_IP, MODIFY_ID, MODIFY_DT, MODIFY_IP, DUMMY1, DUMMY2, DUMMY3, SINGO_FG,MATT_CNT
                   FROM #AVDISUSE 
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVDISUSE'
        
        GOTO ERROR
      END
      
      DROP TABLE #AVDISUSE

      DELETE FROM AVDISUSESUM WHERE CO_CD  = @CO_CD  AND DIV_CD = @DIV_CD  AND RPT_TM = @RPT_TM AND SINGO_FG = '1'

      INSERT INTO AVDISUSESUM (CO_CD, DIV_CD,   RPT_TM, DOC_FG,   LN_SQ, FR_YM,          TO_YM,          REG_NB, TR_NM, TR_CNT,     MATT_CNT, PUR_QT, SUP_AM, VAT_AM, SINGO_FG)
                      SELECT a.CO_CD, @DIV_CD, a.RPT_TM, a.DOC_FG, a.LN_SQ, LEFT(@FR_DT,6),LEFT(@TO_DT,6), NULL,   NULL,  SUM(TR_CNT), SUM(MATT_CNT), 0,SUM(SUP_AM), SUM(VAT_AM),  '1'
                        FROM AVDISUSESUM a
                             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD           
                       WHERE a.CO_CD = @CO_CD
                         AND a.DIV_CD = b.DIV_CD
                         AND a.RPT_TM  = @RPT_TM
                         AND a.DOC_FG = '1'
                   --      AND a.LN_SQ = '1'       // 20071128   삭제 
                         AND a.SINGO_FG = '0'
                    GROUP BY a.CO_CD, a.RPT_TM, a.DOC_FG, LN_SQ
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVDISUSESUM'
        
        GOTO ERROR
      END

        SELECT IDENTITY(INT, 1,1) AS LN_SQ,a.CO_CD, @DIV_CD AS DIV_CD, a.RPT_TM, a.DOC_FG, LEFT(@FR_DT,6) AS FR_YM,LEFT(@TO_DT,6) AS TO_YM, REG_NB,   TR_NM,  TR_CNT, MATT_CNT,ITEM_DC,PUR_QT,SUP_AM, VAT_AM,DUMMY1, DUMMY2, '1' AS SINGO_FG
          INTO #AVDISUSESUM
          FROM AVDISUSESUM a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND b.AVDIV_CD = @DIV_CD
          WHERE a.CO_CD  = @CO_CD 
           AND a.DIV_CD = b.DIV_CD
           AND a.RPT_TM = @RPT_TM
           AND a.DOC_FG = '2'
           AND a.SINGO_FG = '0'


       INSERT INTO AVDISUSESUM(CO_CD, DIV_CD, RPT_TM, DOC_FG, LN_SQ, FR_YM, TO_YM, REG_NB, TR_NM, TR_CNT, MATT_CNT, ITEM_DC, PUR_QT, SUP_AM, VAT_AM, DUMMY1, DUMMY2, SINGO_FG)
                    SELECT     CO_CD, DIV_CD, RPT_TM, DOC_FG, LN_SQ, FR_YM, TO_YM, REG_NB, TR_NM, TR_CNT, MATT_CNT, ITEM_DC, PUR_QT, SUP_AM, VAT_AM, DUMMY1, DUMMY2, SINGO_FG
                   FROM #AVDISUSESUM
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - #AVDISUSESUM'
        
        GOTO ERROR
      END

      DROP TABLE #AVDISUSESUM
    END
    ELSE IF (@GUBUN = '11') 
    BEGIN
      DELETE FROM AVBIL WHERE CO_CD   = @CO_CD  AND DIV_CD = @DIV_CD AND RPT_TM  = @RPT_TM AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVBIL'
        
        GOTO ERROR
      END

       -- 해당 레코드 전체 삽입(리스트합산)
        SELECT IDENTITY(INT, 0,1) AS LN_SQ, a.CO_CD, @DIV_CD AS DIV_CD, a.RPT_TM, a.FR_DT, a.TO_DT, a.DOC_FG, a.DEAL_DT, a.TOT_AM, a.VAT_AM, a.TR_CD, a.RES_DC, a.ISU_DT, a.ISU_SQ, a.LN_SQ2, a.DUMMY1, a.DUMMY2, a.DUMMY3, '1' as SINGO_FG
          INTO #AVBIL0
          FROM AVBIL a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
          WHERE a.CO_CD  = @CO_CD 
           AND a.DIV_CD = b.DIV_CD
           AND a.RPT_TM = @RPT_TM
           AND a.DOC_FG = '1'
           AND a.SINGO_FG = '0'

      -- 해당 레코드 전체 삽입(리스트합산)
       INSERT INTO AVBIL(CO_CD, DIV_CD, RPT_TM, LN_SQ, FR_DT, TO_DT, DOC_FG, DEAL_DT, TOT_AM, VAT_AM, TR_CD, RES_DC, ISU_DT, ISU_SQ, LN_SQ2, DUMMY1, DUMMY2, DUMMY3, SINGO_FG)
                   SELECT  CO_CD, DIV_CD, RPT_TM, LN_SQ, FR_DT, TO_DT, DOC_FG, DEAL_DT, TOT_AM, VAT_AM, TR_CD, RES_DC, ISU_DT, ISU_SQ, LN_SQ2, DUMMY1, DUMMY2, DUMMY3, SINGO_FG
                   FROM #AVBIL0 

       SELECT @LN_SQ = ISNULL(MAX(ISNULL(LN_SQ,0)),0)  FROM #AVBIL0 
       
       DROP TABLE #AVBIL0

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVBIL'
        
        GOTO ERROR
      END

        SELECT IDENTITY(INT, 1,1) AS LN_SQ  , a.CO_CD, @DIV_CD AS DIV_CD, a.RPT_TM, a.FR_DT, a.TO_DT, a.DOC_FG, a.DEAL_DT, a.TOT_AM, a.VAT_AM, a.TR_CD, a.RES_DC, a.ISU_DT, a.ISU_SQ, a.LN_SQ2, a.DUMMY1, a.DUMMY2, a.DUMMY3, '1' as SINGO_FG
          INTO #AVBIL1
          FROM AVBIL a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND b.AVDIV_CD = @DIV_CD
          WHERE a.CO_CD  = @CO_CD 
           AND a.DIV_CD = b.DIV_CD
           AND a.RPT_TM = @RPT_TM
           AND a.DOC_FG = '2'
           AND a.SINGO_FG = '0'

       INSERT INTO AVBIL(CO_CD, DIV_CD, RPT_TM, LN_SQ, FR_DT, TO_DT, DOC_FG, DEAL_DT, TOT_AM, VAT_AM, TR_CD, RES_DC, ISU_DT, ISU_SQ, LN_SQ2, DUMMY1, DUMMY2, DUMMY3, SINGO_FG)
                   SELECT  CO_CD, DIV_CD, RPT_TM, LN_SQ+@LN_SQ, FR_DT, TO_DT, DOC_FG, DEAL_DT, TOT_AM, VAT_AM, TR_CD, RES_DC, ISU_DT, ISU_SQ, LN_SQ2, DUMMY1, DUMMY2, DUMMY3, SINGO_FG
                   FROM #AVBIL1 
       
       DROP TABLE #AVBIL1

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVBIL'
        
        GOTO ERROR
      END
    END

    ELSE IF (@GUBUN = '12')
    BEGIN
      DELETE FROM AVINCOME WHERE FR_YM = LEFT(@FR_DT,6)  AND TO_YM  = LEFT(@TO_DT,6)
                           AND CO_CD   = @CO_CD  AND DIV_CD = @DIV_CD 
                           AND RPT_TM  = @RPT_TM AND INCOME_FG = @ETC_FG AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVINCOME'
        
        GOTO ERROR
      END
                 

      INSERT INTO AVINCOME(FR_YM,   TO_YM,  CO_CD,  DIV_CD,  RPT_TM, INCOME_FG,  DOC_FG, LN_SQ, SUP_AM1,     MATT_CNT,     SINGO_FG )
                   SELECT  a.FR_YM, a.TO_YM,a.CO_CD, @DIV_CD, @RPT_TM, @ETC_FG,   '1',   a.LN_SQ, SUM(SUP_AM1), SUM(MATT_CNT),'1'
                   FROM AVINCOME a
                       INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
                  WHERE a.FR_YM = LEFT(@FR_DT,6)  AND a.TO_YM  = LEFT(@TO_DT,6)
                    AND a.CO_CD  = @CO_CD 
                    AND a.DIV_CD = b.DIV_CD
                    AND a.RPT_TM  = @RPT_TM
                    AND a.INCOME_FG = @ETC_FG
                    AND a.DOC_FG = '1'
                    AND a.SINGO_FG = '0'
               GROUP BY a.FR_YM, a.TO_YM, a.CO_CD,  a.RPT_TM, a.INCOME_FG, a.DOC_FG, a.LN_SQ
      IF( @@ERROR <> 0 )
      BEGIN

        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVINCOME'
        
        GOTO ERROR
      END

         SELECT  IDENTITY(INT, 0,1) AS LN_SQ,  a.FR_YM, a.TO_YM,a.CO_CD,  a.MATT_CNT, a.TR_CD, a.TR_NM, a.REG_NB, a.CASE_FG, a.CASE_NB, a.DATE1, ISNULL(a.SUP_AM1,0) SUP_AM1 , a.DATE2, ISNULL(a.SUP_AM2,0) SUP_AM2 ,ISNULL(a.SUP_AM3,0) SUP_AM3 , a.ADDR, a.FLOOR, a.MJUK, a.ISU_DT, a.ISU_SQ, a.LN_SQ2, a.DUMMY1, a.DUMMY2, a.DUMMY3
           INTO #AVINCOME 
           FROM AVINCOME a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
          WHERE a.FR_YM = LEFT(@FR_DT,6)  AND a.TO_YM  = LEFT(@TO_DT,6)
            AND a.CO_CD  = @CO_CD 
            AND a.DIV_CD = b.DIV_CD
            AND a.RPT_TM  = @RPT_TM
            AND a.INCOME_FG = @ETC_FG
            AND a.DOC_FG = '2'
            AND a.SINGO_FG = '0'

       INSERT INTO AVINCOME(FR_YM,   TO_YM, CO_CD, DIV_CD,   RPT_TM, INCOME_FG, DOC_FG,  LN_SQ, MATT_CNT, TR_CD, TR_NM, REG_NB, CASE_FG, CASE_NB, DATE1, SUP_AM1, DATE2, SUP_AM2, ADDR, FLOOR, MJUK, ISU_DT, ISU_SQ, LN_SQ2, DUMMY1, DUMMY2, DUMMY3, SINGO_FG ,SUP_AM3   )
                   SELECT   a.FR_YM, a.TO_YM,a.CO_CD, @DIV_CD, @RPT_TM, @ETC_FG,   '2',  a.LN_SQ, a.MATT_CNT, a.TR_CD, a.TR_NM, a.REG_NB, a.CASE_FG, a.CASE_NB, a.DATE1, a.SUP_AM1, a.DATE2, a.SUP_AM2, a.ADDR, a.FLOOR, a.MJUK, a.ISU_DT, a.ISU_SQ, a.LN_SQ2, a.DUMMY1, a.DUMMY2, a.DUMMY3,  '1',a.SUP_AM3
                   FROM #AVINCOME a

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVINCOME'        
        GOTO ERROR
      END
    END

    ELSE IF (@GUBUN = '13')
    BEGIN

      DELETE FROM AVASSET_CVTD
      WHERE  FR_DT    = @FR_DT
      AND    TO_DT    = @TO_DT
      AND    CO_CD    = @CO_CD
      AND    DIV_CD   = @DIV_CD
      AND    SINGO_FG = '1'

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVASSET_CVTD'        
        GOTO ERROR
      END

      SELECT D.FR_DT, D.TO_DT, D.CO_CD, @DIV_CD AS DIV_CD, 
             IDENTITY(INT, 0, 1) AS LN_SQ, '1' AS SINGO_FG, D.RPT_TM, D.ASSET_FG, D.ASSET_QT, 
             D.GET_DT, D.VAT_AM1, D.VAT_AM2, D.ASSET_LOC
      INTO   #AVASSET_CVTD
      FROM   AVASSET_CVTD D
             INNER JOIN AVDIV_D B 
             ON  B.CO_CD    = D.CO_CD 
             AND B.DIV_CD   = D.DIV_CD 
             AND B.AVDIV_CD = @DIV_CD
      WHERE  D.FR_DT    = @FR_DT
      AND    D.TO_DT    = @TO_DT
      AND    D.CO_CD    = @CO_CD
      AND    D.SINGO_FG = '0'

      INSERT INTO AVASSET_CVTD ( FR_DT, TO_DT, CO_CD, DIV_CD, LN_SQ, SINGO_FG, RPT_TM, ASSET_FG, ASSET_QT, GET_DT, VAT_AM1, VAT_AM2, ASSET_LOC )
      SELECT FR_DT, TO_DT, CO_CD, DIV_CD, LN_SQ, SINGO_FG, RPT_TM, ASSET_FG, ASSET_QT, GET_DT, VAT_AM1, VAT_AM2, ASSET_LOC
      FROM   #AVASSET_CVTD      

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVASSET_CVTD'        
        GOTO ERROR
      END
    END

   ELSE IF (@GUBUN = '14') -- 2007/10/08 김철희 추가 : ACF0182 전자화폐결제명세서 사용
    BEGIN

      DELETE FROM AVELETR_CASH
      WHERE  FR_DT    = @FR_DT
      AND    TO_DT    = @TO_DT
      AND    CO_CD    = @CO_CD
      AND    DIV_CD   = @DIV_CD
      AND    SINGO_FG = '1'
      AND    RPT_TM   = ( SUBSTRING( @FR_DT, 1, 4 ) + CASE @ETC_FG WHEN '1' THEN '11'
                                                                   WHEN '2' THEN '12'
                                                                   WHEN '3' THEN '21'
                                                                   ELSE '22' END )

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVELETR_CASH'        
        GOTO ERROR
      END

      SELECT D.CO_CD, @DIV_CD AS DIV_CD, D.RPT_TM,
             IDENTITY(INT, 0, 1) AS LN_SQ, 
             D.FR_DT, D.TO_DT, '1' AS SINGO_FG, 
             D.CUSTOMER_NM, D.BUYER_NM, D.EXP_DT, D.EC_AM, D.EC_NB, D.BUYER_EMAIL, D.ELETR_NB
      INTO   #AVELETR_CASH
      FROM   AVELETR_CASH D
             INNER JOIN AVDIV_D B 
             ON  B.CO_CD    = D.CO_CD 
             AND B.DIV_CD   = D.DIV_CD 
             AND B.AVDIV_CD = @DIV_CD
      WHERE  D.FR_DT    = @FR_DT
      AND    D.TO_DT    = @TO_DT
      AND    D.CO_CD    = @CO_CD
      AND    D.RPT_TM   = ( SUBSTRING( @FR_DT, 1, 4 ) + CASE @ETC_FG WHEN '1' THEN '11'
                                                                   WHEN '2' THEN '12'
                                                                   WHEN '3' THEN '21'
                                                                   ELSE '22' END )
      AND    D.SINGO_FG = '0'

      INSERT INTO AVELETR_CASH ( CO_CD, DIV_CD, RPT_TM, LN_SQ, FR_DT, TO_DT, SINGO_FG, CUSTOMER_NM, BUYER_NM, EXP_DT, EC_AM, EC_NB, BUYER_EMAIL, ELETR_NB )
      SELECT CO_CD, DIV_CD, RPT_TM, LN_SQ, FR_DT, TO_DT, SINGO_FG, CUSTOMER_NM, BUYER_NM, EXP_DT, EC_AM, EC_NB, BUYER_EMAIL, ELETR_NB
      FROM   #AVELETR_CASH      

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVELETR_CASH'        
        GOTO ERROR
      END
    END

  ELSE IF (@GUBUN = '15') -- 2007.10.12 제희경 면세유류공급명세서 합산 추가
    BEGIN

      DELETE FROM AVAOIL WHERE CO_CD  = @CO_CD  AND DIV_CD  = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND RPT_TM = @RPT_TM AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVAOIL'        
        GOTO ERROR
      END

     
     SELECT a.FR_DT, a.TO_DT, a.CO_CD, @DIV_CD AS DIV_CD, 
             IDENTITY(INT, 0, 1) AS LN_SQ, '1' AS SINGO_FG, a.RPT_TM, a.REG_NB, a.TR_NM, 
             a.QT_UNIT, a.AM_UNIT, a.QT_1, a.AM_1, a.QT_2, a.AM_2, a.QT_3, a.AM_3, a.QT_4, a.AM_4
      INTO   #AVAOIL
       FROM AVAOIL a
             INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND b.AVDIV_CD = @DIV_CD
       WHERE a.CO_CD  = @CO_CD 
         AND a.DIV_CD = b.DIV_CD
         AND a.RPT_TM  = @RPT_TM
         AND a.FR_DT = @FR_DT 
         AND a.TO_DT = @TO_DT
         AND a.SINGO_FG = '0'

      INSERT INTO AVAOIL( FR_DT, TO_DT, CO_CD, DIV_CD, LN_SQ, SINGO_FG, RPT_TM, REG_NB, TR_NM, QT_UNIT, AM_UNIT, QT_1, AM_1, QT_2, AM_2, QT_3, AM_3, QT_4, AM_4 )
                  SELECT FR_DT, TO_DT, CO_CD, DIV_CD, LN_SQ, SINGO_FG, RPT_TM, REG_NB, TR_NM, QT_UNIT, AM_UNIT, QT_1, AM_1, QT_2, AM_2, QT_3, AM_3, QT_4, AM_4
                    FROM #AVAOIL 
     IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVEXPO'
        
        GOTO ERROR
      END

      DROP TABLE #AVAOIL

    END


    ELSE IF (@GUBUN = '16') -- 2007/10/18 김철희 추가 : ACF0184 건물관리명세서 사용
    BEGIN
      DELETE FROM AVESTMGM
      WHERE  FR_DT    = @FR_DT
      AND    TO_DT    = @TO_DT
      AND    CO_CD    = @CO_CD
      AND    DIV_CD   = @DIV_CD
      AND    SINGO_FG = '1'
      AND    RPT_TM   = ( SUBSTRING( @FR_DT, 1, 4 ) + CASE @ETC_FG WHEN '1' THEN '11'
                                                                   WHEN '2' THEN '12'
                                                                   WHEN '3' THEN '21'
                                                                   ELSE '22' END )
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVESTMGM DELETE'        
        GOTO ERROR
      END
                                                                   
      DELETE FROM AVESTMGM_D
      WHERE  FR_DT    = @FR_DT
      AND    TO_DT    = @TO_DT
      AND    CO_CD    = @CO_CD
      AND    DIV_CD   = @DIV_CD
      AND    SINGO_FG = '1'
      AND    RPT_TM   = ( SUBSTRING( @FR_DT, 1, 4 ) + CASE @ETC_FG WHEN '1' THEN '11'
                                                                   WHEN '2' THEN '12'
                                                                   WHEN '3' THEN '21'
                                                                   ELSE '22' END )
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVESTMGM_D DELETE'        
        GOTO ERROR
      END

      SELECT D.CO_CD, @DIV_CD AS DIV_CD, D.RPT_TM,
             IDENTITY(INT, 0, 1) AS SEQ_NB, 
             D.FR_DT, D.TO_DT, '1' AS SINGO_FG, 
             D.MGM_CD, D.MGM_NM, D.MGMDENG_NM, D.BEBGONG_CD, D.BEBGONG_NM, D.BENG, D.HOSU, D.BULEK, D.DONG, D.DONG_HO, D.TONG, D.BAN, D.MGM_AMT, D.MGM_CNT,
             D.DIV_CD AS OLD_DIV_CD, D.SEQ_NB AS OLD_SEQ_NB
      INTO   #SPA_TAX_SUM_AVESTMGM
      FROM   AVESTMGM D
             INNER JOIN AVDIV_D B 
             ON  B.CO_CD    = D.CO_CD 
             AND B.DIV_CD   = D.DIV_CD 
             AND B.AVDIV_CD = @DIV_CD
      WHERE  D.FR_DT    = @FR_DT
      AND    D.TO_DT    = @TO_DT
      AND    D.CO_CD    = @CO_CD
      AND    D.RPT_TM   = ( SUBSTRING( @FR_DT, 1, 4 ) + CASE @ETC_FG WHEN '1' THEN '11'
                                                                     WHEN '2' THEN '12'
                                                                     WHEN '3' THEN '21'
                                                                     ELSE '22' END )
      AND    D.SINGO_FG = '0'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - #SPA_TAX_SUM_AVESTMGM CREATE'        
        GOTO ERROR
      END
      
      INSERT INTO AVESTMGM ( CO_CD, DIV_CD, RPT_TM, SEQ_NB, FR_DT, TO_DT, SINGO_FG, MGM_CD, MGM_NM, MGMDENG_NM, BEBGONG_CD, BEBGONG_NM, BENG, HOSU, BULEK, DONG, DONG_HO, TONG, BAN, MGM_AMT, MGM_CNT )
      SELECT CO_CD, DIV_CD, RPT_TM, SEQ_NB, FR_DT, TO_DT, SINGO_FG, MGM_CD, MGM_NM, MGMDENG_NM, BEBGONG_CD, BEBGONG_NM, BENG, HOSU, BULEK, DONG, DONG_HO, TONG, BAN, MGM_AMT, MGM_CNT 
      FROM   #SPA_TAX_SUM_AVESTMGM
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVESTMGM INSERT'        
        GOTO ERROR
      END
      
      INSERT INTO AVESTMGM_D ( CO_CD, DIV_CD, RPT_TM, SEQ_NB, FR_DT, TO_DT, SINGO_FG, LN_SQ, [FLOOR], FLOOR_F, HO_NM, HO_NB, MJUK, TR_CD, TR_NM, REG_NB, MGMFR_DT, MGMTO_DT, MGM_AM )
      SELECT D.CO_CD, H.DIV_CD, D.RPT_TM, H.SEQ_NB, D.FR_DT, D.TO_DT, '1' AS SINGO_FG, D.LN_SQ, D.[FLOOR], D.FLOOR_F, D.HO_NM, D.HO_NB, D.MJUK, D.TR_CD, D.TR_NM, D.REG_NB, D.MGMFR_DT, D.MGMTO_DT, D.MGM_AM
      FROM   AVESTMGM_D D
             INNER JOIN #SPA_TAX_SUM_AVESTMGM H
             ON  D.CO_CD  = H.CO_CD
             AND D.DIV_CD = H.OLD_DIV_CD
             AND D.RPT_TM = H.RPT_TM
             AND D.SEQ_NB = H.OLD_SEQ_NB
             AND D.FR_DT  = H.FR_DT
             AND D.TO_DT  = H.TO_DT
      WHERE  D.SINGO_FG = '0'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVESTMGM_D INSERT'        
        GOTO ERROR
      END
    END

    ELSE IF (@GUBUN = '17')--수입금액명세서(통합용)
    BEGIN
      DELETE FROM AVINCOME_TOTAL WHERE FR_DT = LEFT(@FR_DT,6)+ '01'  AND TO_DT  = LEFT(@TO_DT,6) + '31'
                           AND CO_CD   = @CO_CD  AND DIV_CD = @DIV_CD 
                           AND RPT_TM  = @RPT_TM AND INCOME_FG = @ETC_FG AND SINGO_FG = '1'
      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 삭제중 오류가 났습니다. - AVINCOME'
        
        GOTO ERROR
      END
                 

      INSERT INTO AVINCOME_TOTAL(FR_DT,   TO_DT,  CO_CD,  DIV_CD,  RPT_TM, INCOME_FG,  DOC_FG, LN_SQ, SUP_AM1, SUP_AM2, VAT_AM1, MATT_CNT,     SINGO_FG )
                   SELECT  a.FR_DT, a.TO_DT,a.CO_CD, @DIV_CD, @RPT_TM, @ETC_FG,   '1',   a.LN_SQ, SUM(SUP_AM1), SUM(SUP_AM2), SUM(VAT_AM1), SUM(MATT_CNT),'1'
                   FROM AVINCOME_TOTAL a
                       INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
                  WHERE a.FR_DT = LEFT(@FR_DT,6)+ '01'  AND a.TO_DT  = LEFT(@TO_DT,6)+ '31'
                    AND a.CO_CD  = @CO_CD 
                    AND a.DIV_CD = b.DIV_CD
                    AND a.RPT_TM  = @RPT_TM
                    AND a.INCOME_FG = @ETC_FG
                    AND a.DOC_FG = '1'
                    AND a.SINGO_FG = '0'
               GROUP BY a.FR_DT, a.TO_DT, a.CO_CD,  a.RPT_TM, a.INCOME_FG, a.DOC_FG, a.LN_SQ
      IF( @@ERROR <> 0 )
      BEGIN

        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVINCOME_TOTAL'
        
        GOTO ERROR
      END

         SELECT  IDENTITY(INT, 0,1) AS LN_SQ,  a.FR_DT, a.TO_DT,a.CO_CD,  a.MATT_CNT, a.TR_CD, a.TR_NM, a.REG_NB, a.DATE1, ISNULL(a.SUP_AM1,0) SUP_AM1 , ISNULL(a.SUP_AM2,0) SUP_AM2, ISNULL(a.VAT_AM1,0) VAT_AM1 ,a.ISU_DT, a.ISU_SQ, a.LN_SQ2, a.DUMMY1, a.DUMMY2, a.DUMMY3
           INTO #AVINCOME_TOTAL 
           FROM AVINCOME_TOTAL a
               INNER JOIN AVDIV_D b ON b.CO_CD = a.CO_CD AND b.DIV_CD = a.DIV_CD AND AVDIV_CD = @DIV_CD
          WHERE a.FR_DT = LEFT(@FR_DT,6) + '01'  AND a.TO_DT  = LEFT(@TO_DT,6) + '31'
            AND a.CO_CD  = @CO_CD 
            AND a.DIV_CD = b.DIV_CD
            AND a.RPT_TM  = @RPT_TM
            AND a.INCOME_FG = @ETC_FG
            AND a.DOC_FG = '2'
            AND a.SINGO_FG = '0'

       INSERT INTO AVINCOME_TOTAL(FR_DT,   TO_DT, CO_CD, DIV_CD,   RPT_TM, INCOME_FG, DOC_FG,  LN_SQ, MATT_CNT, TR_CD, TR_NM, REG_NB, DATE1, SUP_AM1, SUP_AM2, VAT_AM1, ISU_DT, ISU_SQ, LN_SQ2, DUMMY1, DUMMY2, DUMMY3, SINGO_FG    )
                   SELECT   a.FR_DT, a.TO_DT,a.CO_CD, @DIV_CD, @RPT_TM, @ETC_FG,   '2',  a.LN_SQ, a.MATT_CNT, a.TR_CD, a.TR_NM, a.REG_NB, a.DATE1, a.SUP_AM1, a.SUP_AM2, a.VAT_AM1, a.ISU_DT, a.ISU_SQ, a.LN_SQ2, a.DUMMY1, a.DUMMY2, a.DUMMY3,  '1'
                   FROM #AVINCOME_TOTAL a

      IF( @@ERROR <> 0 )
      BEGIN
        SET @ERRNO  = 50000
        SET @ERRMSG = '합산데이타 생성중 오류가 났습니다. - AVINCOME_TOTAL'        
        GOTO ERROR
      END
    END

 COMMIT TRANSACTION
 RETURN 1
        
END

  ERROR:
        ROLLBACK TRANSACTION 
        RAISERROR (@ERRNO, 10, 1, @ERRMSG)
        RETURN 0
	SET ANSI_WARNINGS ON
GO
