USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVATRPT]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVATRPT](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[ST_FG] [varchar](2) NOT NULL,
	[LN_NB] [varchar](2) NOT NULL,
	[RP_FG] [varchar](1) NULL,
	[RPT_TM] [varchar](6) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[VAT_RT] [numeric](17, 4) NULL,
	[BUSINESS] [varchar](30) NULL,
	[JONGMOK] [varchar](30) NULL,
	[RP_DT] [varchar](8) NULL,
	[SLACK_DT] [varchar](8) NULL,
	[DUMMY1] [varchar](40) NULL,
	[DUMMY2] [varchar](40) NULL,
	[DUMMY3] [varchar](40) NULL,
	[DUMMY4] [numeric](17, 4) NULL,
	[DUMMY5] [numeric](17, 4) NULL,
	[DUMMY6] [numeric](17, 4) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[ISS_SQ] [numeric](5, 0) NOT NULL,
	[ISS_ST] [varchar](3) NOT NULL,
	[REVISION_DC] [varchar](70) NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [nvarchar](15) NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [nvarchar](10) NULL,
 CONSTRAINT [PK_AVATRPT_부가세신고서] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[ST_FG] ASC,
	[LN_NB] ASC,
	[SINGO_FG] ASC,
	[ISS_SQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__FR_DT__76577163]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__TO_DT__774B959C]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__LN_NB__783FB9D5]  DEFAULT ('0') FOR [LN_NB]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__SUP_AM__7933DE0E]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__VAT_AM__7A280247]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__VAT_RT__7B1C2680]  DEFAULT ((0)) FOR [VAT_RT]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__RP_DT__7C104AB9]  DEFAULT ('00000000') FOR [RP_DT]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__SLACK_D__7D046EF2]  DEFAULT ('00000000') FOR [SLACK_DT]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__DUMMY4__7DF8932B]  DEFAULT ((0)) FOR [DUMMY4]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__DUMMY5__7EECB764]  DEFAULT ((0)) FOR [DUMMY5]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__DUMMY6__7FE0DB9D]  DEFAULT ((0)) FOR [DUMMY6]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__ISS_SQ__2255EF32]  DEFAULT ((0)) FOR [ISS_SQ]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__ISS_ST__234A136B]  DEFAULT ((100)) FOR [ISS_ST]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__INSERT___66CB1510]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
ALTER TABLE [DZAIS].[AVATRPT] ADD  CONSTRAINT [DF__AVATRPT__MODIFY___67BF3949]  DEFAULT (getdate()) FOR [MODIFY_DT]
GO
