USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TOTCENRE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TOTCENRE](
	[DEPT_CODE2] [varchar](12) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
 CONSTRAINT [PK_TOTCENRE] PRIMARY KEY CLUSTERED 
(
	[DEPT_CODE2] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
