USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_OUT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_OUT](
	[SETTLE_TMON] [char](16) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SERIAL_NO] [numeric](7, 0) NOT NULL,
	[EXPORT_NO] [char](15) NOT NULL,
	[EXPORT_DATE] [char](8) NOT NULL,
	[EXCH_CODE] [char](3) NOT NULL,
	[EXCH_RATE] [numeric](9, 4) NOT NULL,
	[EXCH_AMT] [numeric](15, 2) NOT NULL,
	[AMT] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_TAX_OUT] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[SETTLE_TMON] ASC,
	[SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_OUT] ADD  CONSTRAINT [DF__TAX_OUT__SERIAL___634EBE90]  DEFAULT ((0)) FOR [SERIAL_NO]
GO
ALTER TABLE [DZAIS].[TAX_OUT] ADD  CONSTRAINT [DF__TAX_OUT__EXPORT___6442E2C9]  DEFAULT ('00000000') FOR [EXPORT_DATE]
GO
ALTER TABLE [DZAIS].[TAX_OUT] ADD  CONSTRAINT [DF__TAX_OUT__EXCH_RA__65370702]  DEFAULT ((0)) FOR [EXCH_RATE]
GO
ALTER TABLE [DZAIS].[TAX_OUT] ADD  CONSTRAINT [DF__TAX_OUT__EXCH_AM__662B2B3B]  DEFAULT ((0)) FOR [EXCH_AMT]
GO
ALTER TABLE [DZAIS].[TAX_OUT] ADD  CONSTRAINT [DF__TAX_OUT__AMT__671F4F74]  DEFAULT ((0)) FOR [AMT]
GO
ALTER TABLE [DZAIS].[TAX_OUT] ADD  CONSTRAINT [DF__TAX_OUT__TAX_GUB__4A58F394]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
