USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TEMP_BS]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TEMP_BS](
	[TITLE] [varchar](40) NULL,
	[TLEVEL] [char](1) NULL,
	[CMINUS_AMT] [numeric](13, 0) NULL,
	[CREMAN_AMT] [numeric](13, 0) NULL,
	[PMINUS_AMT] [numeric](13, 0) NULL,
	[PREMAN_AMT] [numeric](13, 0) NULL
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TEMP_BS] ADD  CONSTRAINT [DF_TEMP_BS_CMINUS_AMT]  DEFAULT ((0)) FOR [CMINUS_AMT]
GO
ALTER TABLE [DZAIS].[TEMP_BS] ADD  CONSTRAINT [DF_TEMP_BS_CREMAN_AMT]  DEFAULT ((0)) FOR [CREMAN_AMT]
GO
ALTER TABLE [DZAIS].[TEMP_BS] ADD  CONSTRAINT [DF_TEMP_BS_PMINUS_AMT]  DEFAULT ((0)) FOR [PMINUS_AMT]
GO
ALTER TABLE [DZAIS].[TEMP_BS] ADD  CONSTRAINT [DF_TEMP_BS_PREMAN_AMT]  DEFAULT ((0)) FOR [PREMAN_AMT]
GO
