USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TEMP_CP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TEMP_CP](
	[ACCT_CODE] [char](5) NOT NULL,
	[CREMAN_AMT] [numeric](13, 0) NULL,
	[PREMAN_AMT] [numeric](13, 0) NULL,
 CONSTRAINT [PK_TEMP_CP] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TEMP_CP] ADD  CONSTRAINT [DF_TEMP_CP_CREMAN_AMT]  DEFAULT ((0)) FOR [CREMAN_AMT]
GO
ALTER TABLE [DZAIS].[TEMP_CP] ADD  CONSTRAINT [DF_TEMP_CP_PREMAN_AMT]  DEFAULT ((0)) FOR [PREMAN_AMT]
GO
