USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DEBT_LINK]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DEBT_LINK](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[PAY_NO] [varchar](20) NOT NULL,
	[PAY_LINE] [numeric](4, 0) NOT NULL,
	[BAN_NODE_CODE] [varchar](4) NOT NULL,
	[BAN_DEPT_CODE] [varchar](12) NOT NULL,
	[BAN_DECI_DATE] [varchar](12) NOT NULL,
	[BAN_DECI_NO] [numeric](4, 0) NOT NULL,
	[BAN_LINE_NO] [numeric](4, 0) NOT NULL,
	[BAN_SLIP_NO] [numeric](4, 0) NOT NULL,
	[GUBUN] [char](2) NOT NULL,
	[AMT] [numeric](15, 0) NOT NULL,
	[DOCUD_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_DEBT_LINK] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[PAY_NO] ASC,
	[PAY_LINE] ASC,
	[BAN_NODE_CODE] ASC,
	[BAN_DEPT_CODE] ASC,
	[BAN_DECI_DATE] ASC,
	[BAN_DECI_NO] ASC,
	[BAN_LINE_NO] ASC,
	[BAN_SLIP_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DEBT_LINK]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX_DEBT_LINK] ON [DZAIS].[DEBT_LINK]
(
	[C_CODE] ASC,
	[BAN_NODE_CODE] ASC,
	[BAN_DEPT_CODE] ASC,
	[BAN_DECI_DATE] ASC,
	[BAN_DECI_NO] ASC,
	[BAN_LINE_NO] ASC,
	[BAN_SLIP_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DEBT_LINK] ADD  CONSTRAINT [DF__DEBT_LINK__BAN_D__05AEC38C]  DEFAULT ('0') FOR [BAN_DECI_NO]
GO
ALTER TABLE [DZAIS].[DEBT_LINK] ADD  CONSTRAINT [DF__DEBT_LINK__BAN_L__06A2E7C5]  DEFAULT ('0') FOR [BAN_LINE_NO]
GO
ALTER TABLE [DZAIS].[DEBT_LINK] ADD  CONSTRAINT [DF__DEBT_LINK__BAN_S__07970BFE]  DEFAULT ('0') FOR [BAN_SLIP_NO]
GO
ALTER TABLE [DZAIS].[DEBT_LINK] ADD  CONSTRAINT [DF__DEBT_LINK__AMT__088B3037]  DEFAULT ('0') FOR [AMT]
GO
ALTER TABLE [DZAIS].[DEBT_LINK] ADD  CONSTRAINT [DF__DEBT_LINK__DOCUD__097F5470]  DEFAULT ('0') FOR [DOCUD_GUBUN]
GO
