USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SDBCFG]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW [DZAIS].[SDBCFG] AS SELECT * FROM BASE.DZBASE.SDBCFG

GO
