USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_SALES]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_SALES](
	[C_CODE] [char](4) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[SALES_MONTH] [varchar](12) NOT NULL,
	[SEQ] [numeric](5, 0) NOT NULL,
	[YYMM] [char](6) NOT NULL,
	[ITEM] [varchar](100) NULL,
	[ITEM_QTY] [numeric](15, 4) NOT NULL,
	[ITEM_AMT] [numeric](15, 4) NOT NULL,
	[NOTE] [varchar](255) NULL,
 CONSTRAINT [PK_TAX_SALES] PRIMARY KEY NONCLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[SALES_MONTH] ASC,
	[SEQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_SALES] ADD  CONSTRAINT [DF__TAX_SALES__ITEM___4A23E96A]  DEFAULT ((0)) FOR [ITEM_QTY]
GO
ALTER TABLE [DZAIS].[TAX_SALES] ADD  CONSTRAINT [DF__TAX_SALES__ITEM___4B180DA3]  DEFAULT ((0)) FOR [ITEM_AMT]
GO
