USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DATACHECK]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DATACHECK](
	[DT_PRT] [char](8) NULL,
	[NO_PRT] [numeric](15, 0) NULL,
	[ID_TAB] [char](3) NULL,
	[TABLENAME] [varchar](40) NULL,
	[ID_PK] [varchar](70) NULL,
	[MS_ERROR] [varchar](90) NULL
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DATACHECK] ADD  CONSTRAINT [DF__DATACHECK__DT_PR__76CBA758]  DEFAULT ((0)) FOR [DT_PRT]
GO
ALTER TABLE [DZAIS].[DATACHECK] ADD  CONSTRAINT [DF__DATACHECK__NO_PR__77BFCB91]  DEFAULT ((0)) FOR [NO_PRT]
GO
