USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PREV_EXCH]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PREV_EXCH](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[EXCH_CODE] [varchar](3) NOT NULL,
	[VEN_CODE] [varchar](6) NOT NULL,
	[EXCH_AMT] [numeric](15, 4) NOT NULL,
	[AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_PREV_EXCH] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[GISU] ASC,
	[ACCT_CODE] ASC,
	[EXCH_CODE] ASC,
	[VEN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[PREV_EXCH] ADD  CONSTRAINT [DF__PREV_EXCH__GISU__6A70BD6B]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[PREV_EXCH] ADD  CONSTRAINT [DF__PREV_EXCH__EXCH___6B64E1A4]  DEFAULT ((0)) FOR [EXCH_AMT]
GO
ALTER TABLE [DZAIS].[PREV_EXCH] ADD  CONSTRAINT [DF__PREV_EXCH__AMT__56F3D4A3]  DEFAULT ((0)) FOR [AMT]
GO
