USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[INOUT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[INOUT](
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DNODE_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[BAL_DATE] [char](8) NULL,
	[IO_GUBUN] [char](1) NOT NULL,
	[IO_TYPE] [char](2) NULL,
	[VEN_CODE] [varchar](6) NULL,
	[ITEM_CODE] [varchar](12) NULL,
	[QTY] [numeric](15, 4) NULL,
	[PRICE] [numeric](15, 4) NULL,
	[AMT] [numeric](15, 0) NULL,
	[RMK] [varchar](100) NULL,
 CONSTRAINT [PK_INOUT] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[INOUT] ADD  CONSTRAINT [DF_INOUT_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[INOUT] ADD  CONSTRAINT [DF_INOUT_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[INOUT] ADD  CONSTRAINT [DF_INOUT_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[INOUT] ADD  CONSTRAINT [DF_INOUT_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
