USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[SPA_AVATRPT_CLOSING_ERROR]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE  PROCEDURE   [DZAIS].[SPA_AVATRPT_CLOSING_ERROR]  
(
	@CO_CD      VARCHAR(7),        -- 회사코드 
  	@DIV_CD     VARCHAR(7),        -- 사업장코드  
  	@SCO_GISU   VARCHAR(3),        -- 기수  
    @FR_DT      VARCHAR(8),        -- 회기시작일   
  	@TO_DT      VARCHAR(8),         -- 회기종료일   
  	@SINGO_FG	VARCHAR(1),			--신고구분(0.사업자별, 1.사업자단위(과세)
    @ISS_SQ		NUMERIC(5)			--수정차수(0-정기, 1-1차, 2-차...)
  )
  
--WITH ENCRYPTION  
AS
/*************************************************************************************************/  
--설    명 : 부가세 신고서 마감시 데이터 오류 체크 프로시저  
--수 정 자 : 김경인
--수 정 일 : 20091101
--수정내역 : 20091102 2009년 2기 세법변경분 적용
--		   : 20100428 건물등감가취득명세서 마감에러체크항목추가(건수합계체크) 
--		   : 20100629 201007월 개정서식 적용
--		   : 20100723 신용카드매출전표수취명세 예정신고누락분 체크 추가
--		   : 20101021 세금계산서 세액 오차범위수정(+/-1500->+/-5000)
--		   : 20110711 매입불공제합계체크항목 누락수정
--		   : 20110812 과표 업종코드 체크메시지 제외
--		   : 20121229 개인정보암호화관련처리
--		   : 20120418 영세율첨부서식체크 수정 
/**************************************************************************************************/  
    SET NOCOUNT ON  
    SET ANSI_WARNINGS OFF  

  
  DECLARE	
	@CHK_DATE1		VARCHAR(8),    

	@CHK_VAL1       VARCHAR(200),  
	@CHK_VAL2       VARCHAR(50),  
	@CHK_VAL3       VARCHAR(50),  
	@CHK_VAL4       VARCHAR(50),  
	@CHK_VAL5       VARCHAR(50),  
	@CHK_VAL6       VARCHAR(50),  
	@CHK_VAL7       VARCHAR(50),  
	@CHK_VAL8       VARCHAR(50),  	

	@CHK_CODE1		VARCHAR(50),  
	@CHK_CODE2		VARCHAR(50),  
	@CHK_CODE3		VARCHAR(50),  
	@CHK_CODE4		VARCHAR(50),  
			
	@CHK_NUM1    	NUMERIC(17,4),   
	@CHK_NUM2   	NUMERIC(17,4),   
	@CHK_NUM3    	NUMERIC(17,4),   
	@CHK_NUM4    	NUMERIC(17,4),   
	@CHK_NUM5   	NUMERIC(17,4),  
	@CHK_NUM6    	NUMERIC(17,4),  
	@CHK_NUM7    	NUMERIC(17,4),  
	@CHK_NUM8    	NUMERIC(17,4),  
	
	@CHK_INT1    	NUMERIC(17),   
	@CHK_INT2   	NUMERIC(17),  
	@CHK_INT3    	NUMERIC(17),  
	@CHK_INT4    	NUMERIC(17),  
	@CHK_INT5    	NUMERIC(17),  
	
	@RPT_TM         VARCHAR(8),  
	@YEAR     		VARCHAR(4),   
	@MONTH          VARCHAR(2),

	@FR_DT_V101		VARCHAR(8),
	@FR_DT_V142		VARCHAR(8),
	@FR_DT_V117		VARCHAR(8),
	@FR_DT_V106		VARCHAR(8),
	@FR_DT_V111		VARCHAR(8),
	@FR_DT_V147		VARCHAR(8),
	@FR_DT_V120		VARCHAR(8),
	@FR_DT_V112		VARCHAR(8),
	@FR_DT_V115		VARCHAR(8),
	@FR_DT_V149		VARCHAR(8),
	@FR_DT_V145		VARCHAR(8),
	@FR_DT_V153		VARCHAR(8),
	@FR_DT_V104		VARCHAR(8),
	@FR_DT_V105		VARCHAR(8),
	@FR_DT_V110		VARCHAR(8),
	@FR_DT_V109		VARCHAR(8),
	@FR_DT_V141		VARCHAR(8),
	@FR_DT_V136		VARCHAR(8),
	@FR_DT_V137		VARCHAR(8),
	@FR_DT_V139		VARCHAR(8),
	@FR_DT_V148		VARCHAR(8),
	@FR_DT_V150		VARCHAR(8),
	@FR_DT_V166		VARCHAR(8),
	@FR_DT_V167		VARCHAR(8),
--	@FR_DT_V169		VARCHAR(8),
--	@FR_DT_V170		VARCHAR(8),
	@CLOSE_DT		VARCHAR(8),

	@FG_TY			VARCHAR(1),
	@FG_YM			VARCHAR(6),

	@V_ISS_ST		VARCHAR(3)

  SELECT @FG_TY='', @FG_YM=''
  SELECT @CHK_NUM1=0, @CHK_NUM2=0, @CHK_NUM3=0, @CHK_NUM4=0, @CHK_NUM5=0, @CHK_NUM6=0, @CHK_NUM7=0, @CHK_NUM8=0, 
		@CHK_INT1=0, @CHK_INT2=0, @CHK_INT3=0, @CHK_INT4=0, @CHK_INT5=0  
     

   -- 임시테이블에 있는 데이터를 모두 지운다.  
 DELETE  FROM AVJEONJA_CHK_MSG  
  
 SET @YEAR = SUBSTRING(@TO_DT, 1, 4)  
 SET @MONTH = SUBSTRING(@TO_DT, 5, 2)  
  
  
 SET  @RPT_TM = CASE WHEN @MONTH >= '01' AND @MONTH <= '03' THEN @YEAR+'11'  
                            WHEN @MONTH >= '04' AND @MONTH <= '06' THEN @YEAR+'12'  
                            WHEN @MONTH >= '07' AND @MONTH <= '09' THEN @YEAR+'21'  
                            ELSE @YEAR+'22' END  


 SELECT   @FR_DT_V101 =  MAX(CASE WHEN  FORM_CD = 'V101' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V142 = MAX(CASE WHEN  FORM_CD = 'V142' THEN FR_DT ELSE '00000000' END) 
    	, @FR_DT_V117 = MAX(CASE WHEN  FORM_CD = 'V117' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V106 = MAX(CASE WHEN  FORM_CD = 'V106' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V111 = MAX(CASE WHEN  FORM_CD = 'V111' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V147 = MAX(CASE WHEN  FORM_CD = 'V147' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V120 = MAX(CASE WHEN  FORM_CD = 'V120' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V112 = MAX(CASE WHEN  FORM_CD = 'V112' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V115 = MAX(CASE WHEN  FORM_CD = 'V115' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V149 = MAX(CASE WHEN  FORM_CD = 'V149' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V145 = MAX(CASE WHEN  FORM_CD = 'V145' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V153 = MAX(CASE WHEN  FORM_CD = 'V153' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V104 = MAX(CASE WHEN  FORM_CD = 'V104' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V105 = MAX(CASE WHEN  FORM_CD = 'V105' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V110 = MAX(CASE WHEN  FORM_CD = 'V110' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V109 = MAX(CASE WHEN  FORM_CD = 'V109' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V141 = MAX(CASE WHEN  FORM_CD = 'V141' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V136 = MAX(CASE WHEN  FORM_CD = 'V136' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V137 = MAX(CASE WHEN  FORM_CD = 'V137' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V139 = MAX(CASE WHEN  FORM_CD = 'V139' THEN FR_DT ELSE '00000000' END) 

		, @FR_DT_V148 = MAX(CASE WHEN  FORM_CD = 'V148' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V150 = MAX(CASE WHEN  FORM_CD = 'V150' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V166 = MAX(CASE WHEN  FORM_CD = 'V166' THEN FR_DT ELSE '00000000' END) 
		, @FR_DT_V167 = MAX(CASE WHEN  FORM_CD = 'V167' THEN FR_DT ELSE '00000000' END) 
	--	, @FR_DT_V169 = MAX(CASE WHEN  FORM_CD = 'V169' THEN FR_DT ELSE '00000000' END)
	--	, @FR_DT_V170 = MAX(CASE WHEN  FORM_CD = 'V170' THEN FR_DT ELSE '00000000' END)
     FROM AVJEONJA WHERE CO_CD =@CO_CD AND DIV_CD = @DIV_CD AND LEFT(TO_DT,6) = LEFT(@TO_DT,6) AND USE_YN = '1' 
	AND SINGO_FG =@SINGO_FG AND ISS_SQ =@ISS_SQ GROUP BY CO_CD, DIV_CD

  --사업자단위과세신고여부 체크
  SELECT @FG_TY = ISNULL(FG_TY,'0'), @FG_YM=ISNULL(DUMMY1,'') FROM SYSCFG  
       WHERE CO_CD= @CO_CD  AND MODULE_CD = 'A' AND CTR_CD = '31'

  IF(@SINGO_FG='1' AND @FG_TY='2' AND LEFT(@FR_DT_V101,6) >= @FG_YM)	SET @FG_TY='2'


  SELECT @CLOSE_DT =  CLOSE_DT FROM SDIV  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD  

	SELECT @V_ISS_ST = ISS_ST
	 FROM AVATRPT WHERE CO_CD =@CO_CD AND DIV_CD = @DIV_CD  AND RPT_TM=@RPT_TM AND FR_DT=@FR_DT AND TO_DT =@TO_DT 
		AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ AND ST_FG='01' AND LN_NB='23' --'23'

 /*[사업장 현황 명세서]*************************************************************************************************************************************/   
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V142' AND USE_YN = '1' 
		AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ ) >= 1  AND @ISS_SQ < 1 )  
 BEGIN  
   
  -- 1. TO_DT 4~6월, 10~12     
  SET @CHK_VAL1 = SUBSTRING(@TO_DT, 5, 2)  

  IF((@CHK_VAL1 BETWEEN '04' AND '06') OR (@CHK_VAL1 BETWEEN '10' AND '12'))  
    BEGIN  
   
      SELECT @CHK_NUM1 = SUP_AM, @CHK_NUM2 = VAT_AM,@CHK_NUM3 = VAT_RT  
      FROM AVATRPT  
      WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
            FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '00' AND LN_NB = '01' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
   
   
   --1)사업장대지는 0(ZERO) 이상이어야 한다.  
    IF( @CHK_NUM1 <= 0 )  
     BEGIN            
       INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG ) VALUES (@CO_CD, @DIV_CD, '10101','[사업장현황명세서] 사업장대지 오기 또는 누락', @SINGO_FG)  
     END   
   
   
   --2)사업장건물 건평은 0(ZERO)이상이어야 한다.  
    IF( @CHK_NUM2 <= 0 )  
     BEGIN  
       INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'10102','[사업장현황명세서] 사업장건물의 건평 오기 또는 누락', @SINGO_FG)  
     END   
   
   --3)사업장 건물 연(바닥) 면적은 0(ZERO) 이상이어야 한다.  
    IF( @CHK_NUM3 <= 0 )  
     BEGIN  
       INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'10103','[사업장현황명세서] 사업장건물의 바닥면적 오기 또는 누락', @SINGO_FG)  
     END   
    

    --4)타가인 경우 보증금과 월세는 둥중에 하나는 0(ZERO) 이상이어야 한다.  
     SELECT @CHK_NUM1 = SUP_AM, @CHK_NUM2 = VAT_AM  
     FROM AVATRPT  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
           FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '00' AND LN_NB = '09'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
    SELECT @CHK_VAL1 = CO_CD, @CHK_NUM3 = SUP_AM  
     FROM AVATRPT  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
           FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '00' AND LN_NB = '16' AND SUP_AM = 0  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
   IF(@CHK_VAL1 != '06')  
     BEGIN  
		--4)둘다 0이 아닌경우   
	  IF(@CHK_NUM3 = 0) --2003.1.14 타가의 경우 추가(조봉경)    
		 BEGIN  
			 IF( @CHK_NUM1 = 0 AND @CHK_NUM2 = 0 )  
				 BEGIN  
					  INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'10104','[사업장현황명세서] 타가인데 보증금 및 월세가 0(ZERO) 이하인 오류', @SINGO_FG)  
				 END   

		 END   
     END  
   END   
   
 END  

 /*[신고내용]*************************************************************************************************************************************/  
   
  --1.부가신고서와 세금계산서 합계표 체크  
   
  --1) 매출 : 세금계산서 교부분 매출금액(1+2+4+29+31) 항목의 합계액이 매출처별 세금계산서합계표의 [합계금액(9)]과 일치하는지 검사  
  IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1' AND SINGO_FG = @SINGO_FG 
			AND ISS_SQ =@ISS_SQ  ) >= 1) OR  
               ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V104' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
			AND ISS_SQ =@ISS_SQ  ) >= 1))  
  BEGIN  
   
--예외처리 (2005.04.15 )
  IF ( @SINGO_FG = '1' )
  BEGIN
	 SELECT @CHK_NUM1 = ISNULL(SUM(A.SUP_AM), 0) 
	  FROM AVATRPT A 
	  INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
	  WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND   
	               A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '04' AND A.LN_NB = '01' AND A.SINGO_FG = '1' AND ISS_SQ =@ISS_SQ 
	   
	  SELECT @CHK_NUM2 = ISNULL(SUM(A.SUP_AM), 0) 
	   FROM  AVATRPT  A
	  INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
	   WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND   
	                A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '04' AND A.LN_NB = '03' AND A.SINGO_FG = '1' AND ISS_SQ =@ISS_SQ 
	   
	  SELECT @CHK_NUM3 = ISNULL(SUM(A.SUP_AM), 0)  
	   FROM AVATRPT  A
	  INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
	   WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND   
	                A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '01' AND A.LN_NB = '01' AND A.SINGO_FG = '1' AND ISS_SQ =@ISS_SQ 
	   
	  SELECT @CHK_NUM4 = ISNULL(SUM(A.SUP_AM), 0) 
	   FROM AVATRPT  A
	  INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
	   WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND   
	                A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '01' AND A.LN_NB = '03' AND A.SINGO_FG = '1' AND ISS_SQ =@ISS_SQ 

	  -- 2007.10.10 부가세신고서에 세금계산서합계표 항목 추가됨.
	  SELECT @CHK_NUM7 = ISNULL(SUM(A.SUP_AM), 0) 
	   FROM AVATRPT  A
	  INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
	   WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND   
	                A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '01' AND A.LN_NB = '26' AND A.SINGO_FG = '1' AND ISS_SQ =@ISS_SQ 

	  SELECT @CHK_NUM5 =  ISNULL(SUM(A.SUP_AM),0)  
	  FROM ATAXSUM  A
	  INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
	  WHERE A.CO_CD = @CO_CD AND 
			--A.FR_DT = @FR_DT_V104 AND A.TO_DT = @TO_DT AND A.DATA_FG = '1' AND A.RPT_TM = @RPT_TM AND A.SINGO_FG = '0'      
			   LEFT(A.FR_DT,6) = LEFT(@FR_DT_V104,6) AND LEFT(A.TO_DT,6) = LEFT(@TO_DT,6) AND A.DATA_FG = '1' AND A.RPT_TM = @RPT_TM  
		  AND A.SINGO_FG = CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END AND ISS_SQ =@ISS_SQ 
		/*	AND ( CASE WHEN A.ISS_SQ =0 AND ( ISNULL(A.REVISION_DC,'') ='' OR A.REVISION_DC='0' ) THEN 1 
					 WHEN A.ISS_SQ <> 0 AND (A.REVISION_DC = '1' OR A.REVISION_DC = '2' OR A.REVISION_DC = '3')  THEN 1
					ELSE 0 END ) = 1 */

    END
   ELSE
    BEGIN
	  SELECT @CHK_NUM1 =  ISNULL(SUP_AM,0)  
	  FROM AVATRPT  
	  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '04' AND LN_NB = '01'  AND SINGO_FG = '0' AND ISS_SQ =@ISS_SQ 
	   
	  SELECT @CHK_NUM2 =  ISNULL(SUP_AM,0) 
	   FROM  AVATRPT  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '04' AND LN_NB = '03'  AND SINGO_FG = '0' AND ISS_SQ =@ISS_SQ 
	   
	  SELECT @CHK_NUM3 =  ISNULL(SUP_AM,0)
	   FROM AVATRPT  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '01'  AND SINGO_FG = '0' AND ISS_SQ =@ISS_SQ 
	   
	  SELECT @CHK_NUM4 =  ISNULL(SUP_AM,0) 
	   FROM AVATRPT  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '03'  AND SINGO_FG = '0' AND ISS_SQ =@ISS_SQ 

	  -- 2007.10.10 부가세신고서에 세금계산서합계표 항목 추가됨.
	   SELECT @CHK_NUM7 = ISNULL(SUP_AM,0)
	   FROM AVATRPT  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '26'  AND SINGO_FG = '0' AND ISS_SQ =@ISS_SQ 
	
	  SELECT @CHK_NUM5 =  ISNULL(SUM(SUP_AM),0)  
	  FROM ATAXSUM  
	  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	   --     FR_DT = @FR_DT_V104 AND TO_DT = @TO_DT AND DATA_FG = '1' AND RPT_TM = @RPT_TM  AND SINGO_FG = '0'
			   LEFT(FR_DT,6) = LEFT(@FR_DT_V104,6) AND LEFT(TO_DT,6) = LEFT(@TO_DT,6) AND DATA_FG = '1' AND RPT_TM = @RPT_TM  AND SINGO_FG = '0'
				AND ISS_SQ=@ISS_SQ
			/*AND ( CASE WHEN ISS_SQ =0 AND ( ISNULL(REVISION_DC,'') ='' OR REVISION_DC='0' ) THEN 1 
					 WHEN ISS_SQ <> 0 AND (REVISION_DC = '1' OR REVISION_DC = '2' OR REVISION_DC = '3')  THEN 1
					ELSE 0 END ) = 1 */
    END

  SET @CHK_NUM6 = @CHK_NUM1 + @CHK_NUM2 + @CHK_NUM3 + @CHK_NUM4 + @CHK_NUM7

  IF(ISNULL(@FR_DT_V104,'') !='' AND @FR_DT_V104 !='00000000')
BEGIN
  IF( @CHK_NUM6 != @CHK_NUM5 )  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20101','[부가세신고서] 세금계산서 교부분 매출금액(1+2+5+31+33)과 매출처별 세금계산서합계표의 금액 불일치', @SINGO_FG)  
     END    
  END  
END

 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V105' AND USE_YN = '1' 
		AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ  ) >= 1) OR   
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1' 
	    AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) >= 1) )  
 BEGIN  
   
  --2) 매입 : 세금계산서 수취분 매입금액(9+10+34)과 매입처별세금계산서 합계표의 금액이일치하는지 검사  

--예외처리 (2005.04.18 )
   -- 수취분 매입금액  

  IF ( @SINGO_FG = '1' )
  BEGIN
	   SELECT @CHK_NUM1 =  ISNULL(SUM(A.SUP_AM), 0) 
	   FROM AVATRPT A
	   INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
	   WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND   
	                 A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '01' AND A.LN_NB = '08'  AND A.SINGO_FG = '1' AND ISS_SQ =@ISS_SQ 
	   
	   SELECT @CHK_NUM2 = ISNULL(SUM(A.SUP_AM), 0) 
	    FROM AVATRPT A
	    INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
	    WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND   
	                 A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '01' AND A.LN_NB = '09' AND A.SINGO_FG = '1'  AND ISS_SQ =@ISS_SQ 
	   
	   SELECT @CHK_NUM3 = ISNULL(SUM(A.SUP_AM), 0) 
	    FROM AVATRPT  A
	    INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
	    WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND   
	                 A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '10' AND A.LN_NB = '01' AND A.SINGO_FG = '1' AND ISS_SQ =@ISS_SQ 
	    
	   -- 매입처별세금계산서 합계표  
		SELECT @CHK_NUM4 = ISNULL(SUM(A.SUP_AM), 0) 
		FROM ATAXSUM A
		 INNER JOIN AVDIV_D B ON A.CO_CD = B.CO_CD AND A.DIV_CD = B.DIV_CD AND B.AVDIV_CD = @DIV_CD
		WHERE A.CO_CD = @CO_CD AND 
				 --    A.FR_DT = @FR_DT_V105 AND A.TO_DT = @TO_DT AND A.DATA_FG = '2' AND A.RPT_TM = @RPT_TM AND A.SINGO_FG = '0'  
			  LEFT(A.FR_DT,6) = LEFT(@FR_DT_V105,6) AND LEFT(A.TO_DT,6) = LEFT(@TO_DT,6) AND A.DATA_FG = '2' AND A.RPT_TM = @RPT_TM 
			AND A.SINGO_FG =  CASE @FG_TY WHEN '2' THEN @SINGO_FG ELSE '0' END  AND ISS_SQ =@ISS_SQ 
		/*	AND ( CASE WHEN A.ISS_SQ =0 AND ( ISNULL(A.REVISION_DC,'') ='' OR A.REVISION_DC='0' ) THEN 1 
					 WHEN A.ISS_SQ <> 0 AND (A.REVISION_DC = '1' OR A.REVISION_DC = '2' OR A.REVISION_DC = '3')  THEN 1
					ELSE 0 END ) = 1 	*/
  END
  ELSE
  BEGIN
	   SELECT @CHK_NUM1 = ISNULL(SUP_AM,0)  
	   FROM AVATRPT  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '08'  AND SINGO_FG = '0' AND ISS_SQ =@ISS_SQ 
	   
	   SELECT @CHK_NUM2 =  ISNULL(SUP_AM,0)  
	    FROM AVATRPT  
	    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '09'  AND SINGO_FG = '0' AND ISS_SQ =@ISS_SQ 
	   
	   SELECT @CHK_NUM3 =  ISNULL(SUP_AM,0)  
	    FROM AVATRPT  
	    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '10' AND LN_NB = '01'  AND SINGO_FG = '0' AND ISS_SQ =@ISS_SQ 
	    
	   -- 매입처별세금계산서 합계표 
		 SELECT @CHK_NUM4 = ISNULL(SUM(SUP_AM),0)   
			FROM ATAXSUM  
			WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
				--     FR_DT = @FR_DT_V105 AND TO_DT = @TO_DT AND DATA_FG = '2' AND RPT_TM = @RPT_TM  AND SINGO_FG = '0'
			   LEFT(FR_DT,6) = LEFT(@FR_DT_V105,6) AND LEFT(TO_DT,6) = LEFT(@TO_DT,6) AND DATA_FG = '2' AND RPT_TM = @RPT_TM 
			 AND SINGO_FG = '0' AND ISS_SQ =@ISS_SQ 
		/*	AND ( CASE WHEN ISS_SQ =0 AND ( ISNULL(REVISION_DC,'') ='' OR REVISION_DC='0' ) THEN 1 
					 WHEN ISS_SQ <> 0 AND (REVISION_DC = '1' OR REVISION_DC = '2' OR REVISION_DC = '3')  THEN 1
					ELSE 0 END ) = 1 */

  END

   SET @CHK_NUM5 = @CHK_NUM1 + @CHK_NUM2 + @CHK_NUM3  

  IF(ISNULL(@FR_DT_V105,'') !='' AND @FR_DT_V105 !='00000000')
   -- 금액이일치하는지 검사  
    IF( (	(@CHK_NUM1 != 0 OR  @CHK_NUM2 != 0 OR  @CHK_NUM3 != 0 OR @CHK_NUM4 != 0) AND 
			(@CHK_NUM1 + @CHK_NUM2 + @CHK_NUM3 ) != @CHK_NUM4							) OR   
			(@CHK_NUM5 IS NOT NULL AND @CHK_NUM4 IS NULL) OR (@CHK_NUM5 IS NULL AND @CHK_NUM4 IS NOT NULL)
	)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20102','[부가세신고서] 세금계산서 수취분 매입금액(10+11+36)과 매입처별 세금계산서합계표의 금액 불일치', @SINGO_FG)  
     END         
   
 END  

  
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  ) >= 1)  
 BEGIN  

  --3) 과세표준 매출세액란의 (7)번 합계금액과 수입의 (26)번 합계액의 일치여부 검사
    SELECT @CHK_NUM1 = ISNULL(A.SUP_AM,0), @CHK_NUM2 = ISNULL(B.SUP_AM,0)  
    FROM  
   -- 수취분 매입금액  
   (SELECT SUP_AM   
    FROM AVATRPT  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '07' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ ) A,  
   
   (SELECT SUP_AM  
    FROM AVATRPT  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '05' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) B  

	   
   -- 금액이일치하는지 검사  
   IF( @CHK_NUM1  != @CHK_NUM2 )  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20103','[부가세신고서] 과세표준매출세액 금액과 과세표준명세 금액틀림', @SINGO_FG)  
     END    
   
   
  --2. 매입/매출세액 오차체크  
   
  --1)(과세)세금계산서 교부분 금액이 있을 때 세액 검사 
  
   SELECT @CHK_INT1 = ROUND(ISNULL(VAT_AM,0),0,1), @CHK_INT2 = ROUND(ISNULL(SUP_AM,0) * 0.1,0,1)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
         FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '01' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

     

  SET @CHK_INT3 =  @CHK_INT1 - @CHK_INT2  
   
  IF( (@CHK_INT3 < -5000 ) OR (@CHK_INT3 >5000) )  
    BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG,SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20201','[부가세신고서] 세금계산서 매출세액이 오차 허용범위 초과[오차허용범위 : +/-5,000]', @SINGO_FG)  
    END   
   
   
  --2)(과세)기타 교부분 금액이 있을때 세액검사   (체크여부 ??? )
   SELECT @CHK_INT1 = ROUND(ISNULL(VAT_AM,0),0,1), @CHK_INT2 = ROUND(ISNULL(SUP_AM,0) * 0.1,0,1)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
         FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '02' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
   
  SET @CHK_INT3 =  @CHK_INT1 - @CHK_INT2  
   
  IF( (@CHK_INT3 < -100 ) OR (@CHK_INT3 >100) )  
    BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20202','[부가세신고서] 기타 매출세액이 오차 허용범위 초과[오차허용범위 : +/-100]', @SINGO_FG)  
    END   
   
	--200906
   SET @CHK_INT3 = 0
  SELECT @CHK_INT1 = ROUND(ISNULL(VAT_AM,0),0,1), @CHK_INT2 = ROUND(ISNULL(SUP_AM,0) * 0.1,0,1)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
         FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '29' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
   
  SET @CHK_INT3 =  @CHK_INT1 - @CHK_INT2  
   
  IF( (@CHK_INT3 < -100 ) OR (@CHK_INT3 >100) )  
    BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20207','[부가세신고서] 기타 매출세액(신용카드.현금영수증발행분)이 오차 허용범위 초과[오차허용범위 : +/-100]', @SINGO_FG)  
    END   
   
    
   
  --3)예정누락분 과세 세금계산서 금액이 있을 때 세액 검사   (체크여부 ??? )
   SELECT @CHK_INT1 = ROUND(ISNULL(VAT_AM,0),0,1), @CHK_INT2 = ROUND(ISNULL(SUP_AM,0) * 0.1,0,1)  
   FROM AVATRPT  
	WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '04' AND LN_NB = '01'  
	AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
  SET @CHK_INT3 =  @CHK_INT1 - @CHK_INT2  
   
  IF( (@CHK_INT3 < -999 ) OR (@CHK_INT3 >999) )  
    BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20203','[부가세신고서] 기타 매출세액이 오차 허용범위 초과[오차허용범위 : +/-100]', @SINGO_FG)  
    END   
   
   
  --4)예정누락분 과세 기타 금액이있을 때 세액 검사   (체크여부 ??? )
   SELECT @CHK_INT1 = ROUND(ISNULL(VAT_AM,0),0,1), @CHK_INT2 = ROUND(ISNULL(SUP_AM,0) * 0.1,0,1)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
         FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '04' AND LN_NB = '02'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
  SET @CHK_INT3 =  @CHK_INT1 - @CHK_INT2  
   
  IF( (@CHK_INT3 < -100 ) OR (@CHK_INT3 >100) )  
    BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20204','[부가세신고서] 예정누락분 과세기타 세액 오차 허용범위 초과 : +/-100]', @SINGO_FG)  
    END   
   
   
  --5)세금계산서 매임금액 있을 때 세액 검사   (체크여부 ??? )
   SELECT @CHK_INT1 = ROUND(ISNULL(VAT_AM,0),0,1), @CHK_INT2 = ROUND(ISNULL(SUP_AM,0) * 0.1,0,1)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
         FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '08'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
  SET @CHK_INT3 =  @CHK_INT1 - @CHK_INT2  

  IF( @CHK_INT3 >5000 ) 
    BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20205','[부가세신고서] 세금계산서 매입세액 오차 허용범위 초과 : +5000]', @SINGO_FG)  
    END   
   
  --6)세금계산서 고정자산 매입금액 있을 때 세액검사   (체크여부 ??? )
    SELECT @CHK_INT1 = ROUND(VAT_AM,0,1), @CHK_INT2 = ROUND(SUP_AM * 0.1,0,1)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
         FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '09'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
   
  SET @CHK_INT3 =  @CHK_INT1 - @CHK_INT2  
  IF( @CHK_INT3 >999 )  
    BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'20206','[부가세신고서] 세금계산서 고정자산 매입세액 오차 허용범위 초과 : +999]', @SINGO_FG)  
    END   
   
   
 END  
  

 --3.부가세신고서와 부속서류 체크  -------------------------------------------------------------------------------------------------     
 -- 수취분 매입금액(일반매입)  -------------------------- 
IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  
	AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ AND  ISS_SQ < 1  ) >= 1)OR  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V145' AND USE_YN = '1'  
	AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ AND  ISS_SQ < 1  ) >= 1))  
 BEGIN  
    SET @CHK_NUM1 = 0  
	SET @CHK_NUM2 = 0  
	SET @CHK_NUM3 = 0
   
	SET @CHK_VAL1 = LEFT(@FR_DT_V145, 6)  
	SET @CHK_VAL2 = LEFT(@TO_DT,6)  

	--3) 신고서(37) 항목의 금액과 신용카드매출전표수취명세서의 금액합계 동일해야 함  
	SELECT @CHK_NUM1 = ISNULL(SUM(SUP_AM),0)  --ISNULL(SUP_AM,0) 
	FROM AVATRPT  
	WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT 
		--AND ( ST_FG = '05' AND LN_NB = '01')
		AND (( ST_FG = '05' AND LN_NB = '01') OR ( ST_FG = '10' AND LN_NB = '04')) --예정누락분 추가
		  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

	SELECT @CHK_NUM2 = ISNULL(SUM(SUPAM),0) 
	FROM
	(
		SELECT  ISNULL(SUM(SUP_AM),0) - ISNULL(SUM(ASSET_AM),0) SUPAM
		FROM ATAXCARD  
		WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND  FR_YM = @CHK_VAL1 AND TO_YM = @CHK_VAL2 AND CARD_FG = '2' --AND (TAX_FG = '27' OR TAX_FG IS NULL OR TAX_FG=' ') 
		AND SINGO_FG = @SINGO_FG
		UNION ALL
		SELECT  ISNULL(SUM(SUP_AM),0) - ISNULL(SUM(ASSET_AM),0) SUPAM
		FROM ATAXCARD  
		WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND  FR_YM = @CHK_VAL1 AND TO_YM = @CHK_VAL2 AND CARD_FG = '3' AND SINGO_FG = @SINGO_FG

	) A

	SELECT @CHK_NUM3 = ISNULL(SUM(SUP_AM),0) - ISNULL(SUM(ASSET_AM),0)
	FROM ATAXCARD  
	WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND  FR_YM = @CHK_VAL1 AND TO_YM = @CHK_VAL2 AND CARD_FG IN ('2', '3') AND SINGO_FG = @SINGO_FG 

	IF( @CHK_NUM1 != @CHK_NUM2)  
		BEGIN  
			INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70103','[유의사항] (39)항목과 첨부서류(신용카드매출전표수취명세서)의 합계금액이 불일치 합니다.', @SINGO_FG)  
		END  
 
 END  

 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ AND  ISS_SQ < 1  ) >= 1)  
   BEGIN  

		--4)신고서 (37)항목에 금액이 있으나 신용카드매출전표수취명세서가 없을때       
		--IF( (@CHK_NUM1 != 0 OR @CHK_NUM1 IS NOT NULL) AND (@CHK_NUM3 = 0 OR @CHK_NUM3 IS NULL))  
		  IF( ISNULL(@CHK_NUM1,0) != 0  AND ISNULL(@CHK_NUM3,0) = 0)    
			BEGIN  
				INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30104','[부가세신고서] 첨부서류(신용카드매출전표수취명세서)가 없습니다.', @SINGO_FG)  
			END  
   END  

	-- 200906 신용카드매출수취분(고정자산매입) ------------------
IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ AND  ISS_SQ < 1   ) >= 1)OR  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V145' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ AND  ISS_SQ < 1   ) >= 1))  
  BEGIN  

    SET @CHK_NUM1 = 0  
	SET @CHK_NUM2 = 0  
	SET @CHK_NUM3 = 0
   

	SET @CHK_VAL1 = LEFT(@FR_DT_V145, 6)  
	SET @CHK_VAL2 = LEFT(@TO_DT,6)  
 
	SELECT @CHK_NUM1 = ISNULL(SUP_AM,0) 
	FROM AVATRPT  
	WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '05' AND LN_NB = '09'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

	SELECT @CHK_NUM2 = ISNULL(SUM(ASSET_AM),0) 
	FROM
	(
		SELECT  ISNULL(SUM(ASSET_AM),0) ASSET_AM
		 FROM ATAXCARD  
		 WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND  FR_YM = @CHK_VAL1 AND TO_YM = @CHK_VAL2 AND CARD_FG = '2' --AND (TAX_FG = '27' OR TAX_FG IS NULL OR TAX_FG=' ') 
		AND SINGO_FG = @SINGO_FG
		UNION ALL
		SELECT  ISNULL(SUM(ASSET_AM),0) ASSET_AM
		 FROM ATAXCARD  
		WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND  FR_YM = @CHK_VAL1 AND TO_YM = @CHK_VAL2 AND CARD_FG = '3' AND SINGO_FG = @SINGO_FG
	) A

	SELECT @CHK_NUM3 = ISNULL(SUM(ASSET_AM),0)
	FROM ATAXCARD  
	WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND  FR_YM = @CHK_VAL1 AND TO_YM = @CHK_VAL2 AND CARD_FG IN ('2', '3') AND SINGO_FG = @SINGO_FG

	IF( @CHK_NUM1 != @CHK_NUM2)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70104','[유의사항] (40)항목과 첨부서류(신용카드매출전표수취명세서)의 합계금액이 불일치 합니다.', @SINGO_FG)  
     END 
 
 END  
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ AND  ISS_SQ < 1   ) >= 1)  
   BEGIN  

  --4)신고서 (37)항목에 금액이 있으나 신용카드매출전표수취명세서가 없을때    
   IF( ISNULL(@CHK_NUM1,0) != 0  AND ISNULL(@CHK_NUM3,0) = 0)     
   --IF( (@CHK_NUM1 != 0 OR @CHK_NUM1 IS NOT NULL) AND (@CHK_NUM3 = 0 OR @CHK_NUM3 IS NULL))  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30200','[부가세신고서] 첨부서류(2신용카드매출전표수취명세서)가 없습니다.', @SINGO_FG)  
     END  
   END  

  ------------------------------------------------------------------------------------------------------
     
 --5) 신고서(38) 항목에 금액 있으나 의제매입세액공제신청서가 없을 때  
   SET @CHK_NUM1 = 0  
   SET @CHK_VAL1 = ''  
  
 -- 수취분 매입금액  
 SELECT @CHK_NUM1 = ISNULL(SUP_AM,0)  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
       FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '05' AND LN_NB = '02'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
 

 SELECT @CHK_VAL1 = CO_CD --데이터가 있는지 없는지만 체크하면 된다.  
  FROM AVREGARDSUM
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_YM = LEFT(@FR_DT_V111, 6) AND TO_YM = LEFT(@TO_DT,6) AND RPT_TM = @RPT_TM  AND SINGO_FG = @SINGO_FG

 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1' AND SINGO_FG = @SINGO_FG AND  ISS_SQ =0 ) >= 1)  
 BEGIN  
  IF( (@CHK_NUM1 != 0 ) AND (@CHK_VAL1 = '' OR @CHK_VAL2 IS NULL))  
    BEGIN  
     INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30105','[부가세신고서] 첨부서류(의제매입세액공제신청서)가 없습니다.', @SINGO_FG)  
    END  
  
 END  

 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101'  AND USE_YN = '1' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ AND  ISS_SQ < 1 ) >= 1) /*OR*/AND  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V111' AND USE_YN = '1' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ AND  ISS_SQ < 1 ) >= 1))  
 BEGIN  	
  
  --6)신고서(38)번의 금액란과 첨부서류의 매입가액계란으로 체크  
-- 2005.04.18 테이블 변경 및 체크필드변경.
   SELECT @CHK_NUM2 = SUM(SUP_AM)   
   FROM AVREGARDSUM  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_YM = LEFT(@FR_DT_V111,6) AND TO_YM = LEFT(@TO_DT, 6) AND DOC_FG = '1' AND RPT_TM = @RPT_TM AND LN_SQ IN ( '1', '2', '3' ) AND SINGO_FG = @SINGO_FG 
  
   IF( @CHK_NUM1 != @CHK_NUM2) --5)번에서 가져온 CHK_NUM1값과 비교하여 금액이 일치하지 않을경우  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30106','[부가세신고서] (41)항목과 첨부서류(의제매입세액공제신청서)합계금액이 불일치합니다.', @SINGO_FG)  
     END  
 END  
  
  
  
 --7) 신고서(15)항목에 금액이 있으나 매입세액불공제분계산근거가 없을때

-- 2006.04.17 (부가세 신고서에 매입세액불공제내역 수록 방식 변경으로 수정.
SELECT @CHK_NUM1 = ISNULL(SUP_AM,0)  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '06' AND LN_NB = '01'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

SELECT @CHK_NUM2 = ISNULL(SUM(SUP_AM_NON),0)   
  FROM  AVNON2  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V153 AND  LEFT(TO_DT,6) = LEFT(@TO_DT,6) AND RPT_TM = @RPT_TM  AND FORM_NB = '2' AND SINGO_FG = @SINGO_FG 


SELECT @CHK_NUM5 = ISNULL(SUP_AM,0) 
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '06' AND LN_NB = '02'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

SELECT @CHK_NUM6 = ISNULL(SUM(SUP_AM_NON),0)   
  FROM  AVNON2  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V153 AND  LEFT(TO_DT,6) =  LEFT(@TO_DT,6) AND RPT_TM = @RPT_TM  AND FORM_NB IN ('3', '4', '5') AND SINGO_FG = @SINGO_FG 

   
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1)  
 BEGIN         IF( (@CHK_NUM1 != 0) AND (@CHK_NUM2 = 0 OR @CHK_NUM2 IS NULL) AND
	(@CHK_NUM5 != 0) AND (@CHK_NUM6 = 0 OR @CHK_NUM6 IS NULL)
	)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30107','[부가세신고서] 첨부서류(공제받지못할 매입세액 계산근거)가 없습니다.', @SINGO_FG)  
     END  
 END  
   
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1 ) >= 1) AND/*OR*/  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V153' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1 ) >= 1))  
 BEGIN  
   
   
  --8)신고서(15)항목의 금액과 매입세액불공제분계산근거 금액합계가 동일해야 함  
   IF(  (@CHK_NUM1 != @CHK_NUM2) OR (@CHK_NUM5 != @CHK_NUM6)  )  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30108','[부가세신고서] (16)항목과 첨부서류(공제받지못할 매입세액 계산근거)의 합계금액이 불일치합니다.', @SINGO_FG)  
     END  
 END  
   
   
   
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1)  
 BEGIN  
   
  --9)신고서(51) 항목에 금액이 있을 경우  
  SELECT @CHK_NUM1 = ISNULL(VAT_AM,0)  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
--     FR_DT = @FR_DT AND TO_DT = @TO_DT AND ST_FG = '07' AND LN_NB = '04'  AND SINGO_FG = @SINGO_FG --2004.4.14 조봉경 수정  
        FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '07' AND LN_NB = '05'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  -- 2005.04.19 (LN_NB변경,메세지 번호 변경)
   
   
 --2004.1.13 일 삭제 요청에 의해 DROP  
  IF( @CHK_NUM1 > 0 OR  @CHK_NUM1 < 0)  
     BEGIN  
-- 2005.04.19 (LN_NB변경,메세지 번호 변경)
--      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30109','[부가세신고서] (51)기타 항목은 2003년 1월부터 수정신고시에만 기재하므로 금액이 없어야 합니다.', @SINGO_FG)  
	INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30109','[부가세신고서] (56)기타 항목은 2003년 1월부터 수정신고시에만 기재하므로 금액이 없어야 합니다.', @SINGO_FG)  
     END   
  
  
  SELECT @CHK_NUM1 = ISNULL(SUP_AM,0)  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '05' AND LN_NB = '02'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
  
    
  --10)업종코드 10)의 '1,2,3,4'에 해당하지 않는 코드인 경우  
  IF(@CHK_NUM1 != 0 )   
  BEGIN  
 
   SELECT @CHK_VAL1 = DUMMY1  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '01'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
   SELECT @CHK_VAL2 = DUMMY1  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '02'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
   SELECT @CHK_VAL3 = DUMMY1  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '03' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
   
   SELECT @CHK_VAL4 = DUMMY1  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '04' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
  
     
   IF(NOT ((@CHK_VAL1 BETWEEN '150000' AND '389999') OR (@CHK_VAL1 BETWEEN '552000' AND '553999') OR  
                    (@CHK_VAL1 BETWEEN '450000' AND '459999') OR (@CHK_VAL1 = '551001' OR @CHK_VAL1 = '551002' OR @CHK_VAL1 = '551009') OR   


      (@CHK_VAL2 BETWEEN '150000' AND '389999') OR (@CHK_VAL2 BETWEEN '552000' AND '553999') OR  
                    (@CHK_VAL2 BETWEEN '450000' AND '459999') OR (@CHK_VAL2 = '551001' OR @CHK_VAL2 = '551002' OR @CHK_VAL2 = '551009') OR   
   
      (@CHK_VAL3 BETWEEN '150000' AND '389999') OR (@CHK_VAL3 BETWEEN '552000' AND '553999') OR                      (@CHK_VAL3 BETWEEN '450000' AND '459999') OR (@CHK_VAL3 = '551001' OR @CHK_VAL3 = '551002' OR @CHK_VAL3 = '551009') OR   
   
      (@CHK_VAL4 BETWEEN '150000' AND '389999') OR (@CHK_VAL4 BETWEEN '552000' AND '553999') OR  
                    (@CHK_VAL4 BETWEEN '450000' AND '459999') OR (@CHK_VAL4 = '551001' OR @CHK_VAL4 = '551002' OR @CHK_VAL4 = '551009')))  
       BEGIN  
    INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'301101','[부가세신고서] 의제매입세액공제에 해당하지 않는 업종코드입니다.', @SINGO_FG)  
        END  

   END

  END  

   
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1 ) >= 1)OR  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V147' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1))  
 BEGIN  
  --13)신고서(39) 항목에 금액은 없고, 재활용폐자원등 매입세액이 있을때  
    SELECT @CHK_NUM1 = ISNULL(A.SUP_AM,0), @CHK_NUM2 = ISNULL(A.VAT_AM,0), @CHK_NUM3 = ISNULL(B.SUPAM,0)
    FROM  
   (SELECT SUP_AM, VAT_AM  
    FROM AVATRPT  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '05' AND LN_NB = '03' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ   ) A,  
   (SELECT SUM(SUP_AM) SUPAM
    FROM  AVDISUSESUM
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_YM = LEFT(@FR_DT_V147, 6)  AND  TO_YM = LEFT(@TO_DT, 6) AND DOC_FG IN ('1', '2') AND SINGO_FG = @SINGO_FG  ) B  

     IF((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V147' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1)  
     BEGIN
 	 IF( @CHK_NUM1 = 0 AND  @CHK_NUM2 = 0 AND @CHK_NUM3 != 0)  
    	 BEGIN  
     	     INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30113','[부가세신고서] 첨부서류(재활용폐자원등매입세액) 있으나 세액이 없습니다.', @SINGO_FG)       END  
	 END  
     END
 
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1)  
 BEGIN  
   
   
  --14)신고서(40) 항목에 금액이 있으나 재활용폐자원매입세액 없을때 **확인요망   
  IF( (@CHK_NUM1 != 0 AND @CHK_NUM1 IS NOT NULL) AND  (@CHK_NUM2 != 0 AND @CHK_NUM2 IS NOT NULL) AND (@CHK_NUM3 = 0 OR @CHK_NUM3 IS NULL))  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30114','[부가세신고서] 재활용폐자원등 매입세액은 있으나 첨부서류가 없습니다.', @SINGO_FG)  
     END  
 END  
   
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1 ) >= 1)OR  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V147' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1 ) >= 1))  
 BEGIN  
   
  --15)신고서(40) 항목에 금액과 재활용폐자원매입세액이 일치 하지 않을경우  
    
  IF((@CHK_NUM1 != @CHK_NUM3) AND (@CHK_NUM1 IS NOT NULL AND @CHK_NUM3 IS NOT NULL))  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30115','[부가세신고서] (42)항목과 첨부서류(재활용매입세액) 합계금액이 불일치합니다.', @SINGO_FG)  
     END  
 END  
   
   --기수 만들기  
  SET @CHK_VAL1 = LEFT(@TO_DT,4)  
  SET @CHK_VAL2 = SUBSTRING(@TO_DT, 5, 2)  
  
  IF(@CHK_VAL2 BETWEEN '04' AND '06')  
    BEGIN  
       SET @CHK_VAL2 = '12'   
                  END   
                ELSE  
                  BEGIN  
                     SET @CHK_VAL2 = '22'  
                  END  
  
  SET @CHK_VAL1 = @CHK_VAL1 + @CHK_VAL2   
  
  SET @CHK_NUM1 = 0  
  SET @CHK_NUM2 = 0  
  SET @CHK_NUM3 = 0  
  
   
  --16)신고서(7)또는 (42) 항목에 그액이 있으나 대손세액공제(변제) 신고서가 없을때  
  SELECT @CHK_NUM1 = ISNULL(VAT_AM,0)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '06' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
  
  SELECT @CHK_NUM2 = ISNULL(VAT_AM ,0)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '05' AND LN_NB = '05'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
  
  SELECT @CHK_NUM3 = ISNULL(VAT_AM,0)  
   FROM  AVBIL  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V112 AND  LEFT(TO_DT,6) =  LEFT(@TO_DT,6) AND RPT_TM = @RPT_TM  AND SINGO_FG = @SINGO_FG 
  

 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  ) >= 1)  
 BEGIN  
    
   
  IF( ((@CHK_NUM1 != 0 AND @CHK_NUM1 IS NOT NULL) OR (@CHK_NUM2 != 0 AND @CHK_NUM2 IS NOT NULL)) AND (@CHK_NUM3 = 0 OR @CHK_NUM3 IS NULL))  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30116','[부가세신고서] (8) 또는 (46) 항목에 세액은 있으나 첨부서류(대손세액공제(변제)신고서)가 없습니다.', @SINGO_FG)  
     END  
 END  
  
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1)OR  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V112' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1))  
 BEGIN  
   
  --17)첨부서류(대손세액공제(변제)신고서)있으나 신고서(7)이나 (42)항목에 금액이 없을때  
  
  IF( (@CHK_NUM1 = 0 AND @CHK_NUM2 = 0) AND @CHK_NUM3 != 0)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30117','[부가세신고서] 첨부서류(대손세액공제(변제)신고서)있으나 신고서(8) 또는 (46) 항목에 금액이 없습니다.', @SINGO_FG)  
     END  
  
 
 END  
   
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1)  
 BEGIN  
   
   
  --18)신고서(17)항목에 금액이 있으나  첨부서류(신용카드매출전표발행금액등집계표)가 없을때  
   
  --회사가 먼저 개인인것을 찾고  
  SELECT @CHK_VAL1 = CO_FG  
  FROM SCO  
  WHERE CO_CD = @CO_CD  
    
  IF(@CHK_VAL1 = '1') --개인이라면  
     
    BEGIN  
   
    SELECT @CHK_NUM1 = ISNULL(A.SUP_AM,0) , @CHK_NUM2 = ISNULL(A.VAT_AM,0), @CHK_NUM3 = ISNULL(B.SUP_AM,0)  
     FROM  
   (SELECT SUP_AM, VAT_AM  
    FROM AVATRPT  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '16' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) A,  
  
     
   (SELECT ISNULL(SUP_AM,0)  SUP_AM
    FROM ATAXCARD  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 RPT_TM = @SCO_GISU AND SINGO_FG = @SINGO_FG ) B  
   
   IF((@CHK_NUM1 != 0 AND @CHK_NUM2 != 0) AND @CHK_NUM3 = 0)  
     BEGIN  
       INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70118','[유의사항] 첨부서류(신용카드발행집계표)가 없습니다.', @SINGO_FG)  
     END  
    END   
   
 END  
    
  --19)신고서 (4)번 또는 (5)번항목에 금액이 있으나 위 첨부서류가 없을때  
  SET @CHK_VAL1 = ''  
  SET @CHK_VAL2 = ''  
   
   SELECT @CHK_NUM1 = ISNULL(SUP_AM,0)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '03'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
   SELECT @CHK_NUM2 = ISNULL(SUP_AM,0)    
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '04'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
   SELECT @CHK_NUM3 = ISNULL(SUP_AM,0)    
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '04' AND LN_NB = '03'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
   SELECT @CHK_NUM4 = ISNULL(SUP_AM,0)    
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '04' AND LN_NB = '04'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
   --2012.04.18 RP_FG 구분값제거, 해당 신고시작종료일에 RP_FG=1인 내역이 없이 2번만 있어도 수록(이정란)
   SELECT  @CHK_VAL1 = CO_CD  
   FROM AVFTAX  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V106 AND LEFT(TO_DT,6) =  LEFT(@TO_DT,6) AND RPT_TM = @RPT_TM  AND SINGO_FG = @SINGO_FG -- AND RP_FG = '1'
	 GROUP BY CO_CD


   IF(@FR_DT_V141!='00000000')
     BEGIN   
       SELECT @CHK_VAL2 = CO_CD  
      FROM AVEXPO  
        WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
              FR_DT >= @FR_DT_V141 AND LEFT(TO_DT,6) <= LEFT(@TO_DT,6)   AND SINGO_FG = @SINGO_FG  GROUP BY CO_CD
     END

 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1)  
 BEGIN  
   
   
  IF((@CHK_NUM1 != 0 OR @CHK_NUM2 != 0 OR @CHK_NUM3 != 0 OR @CHK_NUM4 != 0 ) AND (@CHK_VAL1 = '' OR @CHK_VAL1 IS NULL) AND (@CHK_VAL2 = '' OR @CHK_VAL2 IS NULL))  
    BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70119','[유의사항] 첨부서류(영세율첨부서서류제출명세서 또는 수출실적명세서)가 없습니다.(직수출 또는 특소세 납세의무가 없는 사업자는 위 첨부서식 제외)', @SINGO_FG)  
    END   
 END  
  
  
 --2006.07.22 IF조건수정( 신고서는 있지만 첨부서류 없는 경우는 체크하지 않도록수정)
/*
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG) >= 1) AND  
       ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V106' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG) >= 1)OR  
       ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT AND TO_DT = @TO_DT AND FORM_CD = 'V141' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG) >= 1) )  
*/
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1) AND  
     	( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V106' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1)OR  
	((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V141' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1) ) ) 
   
 BEGIN  

  --20)첨부서류(영세율첨부서류제출명세서 또는 수출실적명세서)있으나 신고서(4)(5)항목란에 금액이 없을 때   
    
  IF((@CHK_NUM1 = 0 AND @CHK_NUM2 = 0 AND @CHK_NUM3 = 0 AND @CHK_NUM4 = 0 ) AND ((@CHK_VAL1 != '' AND @CHK_VAL1 IS NOT NULL) OR (@CHK_VAL2 != '' AND @CHK_VAL2 IS NOT NULL)))  
    BEGIN  

      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30120','[부가세신고서] 첨부서류(영세율 또는 수출실적)가 있으나 신고서(5),(6),(33),(34) 항목의 금액이 없습니다.', @SINGO_FG) 
    END   
 END  

 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1  ) >= 1)  
 BEGIN  
   
  --21)법인이면서 (17)번 신용카드매출전표발행공제란에 금액이 있으면 오류  
   
  SELECT @CHK_VAL1 = CO_FG  
  FROM SCO  
  WHERE CO_CD = @CO_CD  
    
  IF(@CHK_VAL1 = '0') --법인이라면  
     
    BEGIN  
   
    SELECT @CHK_NUM1 = ISNULL(SUP_AM,0)  , @CHK_NUM2 = ISNULL(VAT_AM ,0)   
    FROM AVATRPT  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
-- 2005.04.18 수정됐음. LN_NB : (16=>17로 변경)
--                 FR_DT = @FR_DT AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '16'  AND SINGO_FG = @SINGO_FG
	FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '17'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

   
   IF((@CHK_NUM1 != 0 OR @CHK_NUM2 != 0) AND @CHK_NUM3 = 0)  
     BEGIN  
       INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30121','[부가세신고서] 법인사업자이면서 신고서(19)번란 신용카드매출전표에 금액이 있습니다.', @SINGO_FG)  
     END  
    END  
   
 END  
   
-- 2006.08.28
-- 22) 부가세신고 월별조기환급신고시
/*
  IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1') >= 1) AND   
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD  AND TO_DT =@TO_DT AND FORM_CD = 'V120' AND USE_YN = '1') >= 1) ) 
 BEGIN 
	IF  (  	( SUBSTRING(@FR_DT_V120, 5, 2) = '01' AND  SUBSTRING(@TO_DT, 5, 2) = '03' ) OR 
		( SUBSTRING(@FR_DT_V120, 5, 2) = '04' AND  SUBSTRING(@TO_DT, 5, 2) = '06' ) OR 
		( SUBSTRING(@FR_DT_V120, 5, 2) = '07' AND  SUBSTRING(@TO_DT, 5, 2) = '09' ) OR 
		( SUBSTRING(@FR_DT_V120, 5, 2) = '10' AND  SUBSTRING(@TO_DT, 5, 2) = '12' ) OR 
		( SUBSTRING(@FR_DT_V120, 5, 2) = '01' AND  SUBSTRING(@TO_DT, 5, 2) = '06' ) OR 
		( SUBSTRING(@FR_DT_V120, 5, 2) = '07' AND  SUBSTRING(@TO_DT, 5, 2) = '12' ) OR 
	      	(  @CLOSE_DT >= @FR_DT_V120 AND  @CLOSE_DT <=@TO_DT) 
	 )
	 --월별신고DATA FILTERING
	BEGIN
	      SET @CHK_NUM1 = 0 
	END
	ELSE
	   BEGIN	--조기환급일때만 체크
		SET @CHK_NUM1 = 0
		SELECT @CHK_NUM1 = SUM(LEN1) --임대보증금(간주임대료)  
		FROM AVEST
		WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
		             RPT_TM = @RPT_TM AND FR_DT=@FR_DT AND TO_DT =@TO_DT AND DOC_FG = '2' AND SINGO_FG = @SINGO_FG --DOC_FG = '1'(HEADER)의 FR_DT, TO_DT와 DOC_FG = '2'(DETAIL)의 기간 의미가 다르므로 RPT_TM사용

		IF ( @CHK_NUM1 != 0 )
		   BEGIN
	                    INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30124','[부동산임대공급가액명세서] 보증금이자(간주임대료)는 월별조기환급신고시에 기재할 수 없습니다.', @SINGO_FG)  
		   END
	   END	
 END
*/
   
  /*23)대손세액공제(변제) 신고서*/  
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V112' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1 AND @ISS_SQ < 1 )  
 BEGIN  
     
   DECLARE T_CURSOR CURSOR FOR    SELECT TR_CD , REG_NB     FROM AVBIL     
	WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND (RIGHT(RPT_TM,2) = '12' OR RIGHT(RPT_TM,2) = '22') AND RPT_TM = @RPT_TM  
		AND FR_DT = @FR_DT_V112 AND  LEFT(TO_DT,6) =  LEFT(@TO_DT,6) AND SINGO_FG = @SINGO_FG
   
   
  DECLARE @TR_CD VARCHAR(20)  ,
         @REG_NB VARCHAR(200) 
   
  OPEN T_CURSOR            FETCH NEXT FROM T_CURSOR INTO @TR_CD  , @REG_NB

           WHILE(@@FETCH_STATUS = 0 )  
           BEGIN  
  
              SELECT  @CHK_VAL1 = TR_NM, @CHK_VAL2 = CEO_NM,    
        @CHK_VAL3 = CASE WHEN TR_FG = '3' THEN PPL_NB ELSE REG_NB END   
       FROM STRADE        WHERE CO_CD = @CO_CD AND TR_CD = @TR_CD    AND CASE WHEN  TR_FG='3' THEN PPL_NB ELSE REG_NB END  =@REG_NB
  
   

      IF((@CHK_VAL1 IS NULL OR @CHK_VAL1 = '') OR (@CHK_VAL2 IS NULL OR @CHK_VAL2 = '') OR (@CHK_VAL3 IS NULL OR @CHK_VAL3 = ''))   
        BEGIN  
                 INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30123','[대손세액공제(변제)신고서] 상호, 성명, 사업자(주민) 등록번호 데이터 누락', @SINGO_FG)  
	   BREAK  
               END    
            FETCH NEXT FROM T_CURSOR INTO @TR_CD   , @REG_NB
         END  
         CLOSE T_CURSOR  
         DEALLOCATE T_CURSOR  
 END  
 
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V145' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1  AND @ISS_SQ < 1 )  
 BEGIN  
   
   
   /*24)신용카드수취명세서 */
   -- 카드 회원번호가 없을 경우 2004.07.16 추가
   
   DECLARE C_CURSOR CURSOR FOR    
	   SELECT CARD_MEM_NB  
	   FROM ATAXCARD  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_YM = LEFT(@FR_DT_V145, 6) AND TO_YM = LEFT(@TO_DT, 6) AND CARD_FG = '2' AND SINGO_FG = @SINGO_FG
   
  DECLARE @CARD_NB VARCHAR(20)  
   
  OPEN C_CURSOR            FETCH NEXT FROM C_CURSOR INTO @CARD_NB  
  
           WHILE(@@FETCH_STATUS = 0 )  
           BEGIN   
	      IF( @CARD_NB IS NULL OR @CARD_NB = '' OR LEN(@CARD_NB) = 0 )   
	        BEGIN  
	                 INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30601','[신용카드등수취명세서] 카드회원번호 누락', @SINGO_FG)  
		   BREAK  
                     END    
           FETCH NEXT FROM C_CURSOR INTO @CARD_NB  
           END  
         CLOSE C_CURSOR  
         DEALLOCATE C_CURSOR  


  -- 현금영수증 승인번호 누락 체크 2005.05.19 추가.
/*
  DECLARE C_CURSOR CURSOR FOR    
	   SELECT CARD_MEM_NB  
	   FROM ATAXCARD  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_YM = LEFT(@FR_DT_V145, 6) AND TO_YM = LEFT(@TO_DT, 6) AND CARD_FG = '3' AND SINGO_FG = @SINGO_FG
   
  DECLARE @CARD_NB3 VARCHAR(20)  
   
  OPEN C_CURSOR            FETCH NEXT FROM C_CURSOR INTO @CARD_NB3  
           WHILE(@@FETCH_STATUS = 0 )  
           BEGIN  
	      IF( @CARD_NB3 IS NULL OR @CARD_NB3 = '' OR LEN(@CARD_NB3) = 0 )   
	        BEGIN  
	                 INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30611','[현금영수증수취명세서] 승인번호 누락', @SINGO_FG)  
		   BREAK  
                     END    
           FETCH NEXT FROM C_CURSOR INTO @CARD_NB3  
           END  
         CLOSE C_CURSOR  
         DEALLOCATE C_CURSOR  
*/
 END  

   /*25)총괄납부사업장의 V115서식 체크  */
  -- 총괄납부사업장의 V115서식(사업장별과표및세액신고서)이 없을때   2004.07.16 추가
-- 2007.10.01 사업장별신고이고 AVDIV_H에 등록된 사업장은 총괄납부사업장임.
--IF ( (SELECT COUNT(1) FROM SDIV WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND DUMMY1 = '1'  ) >= 1  )
   IF ( ( SELECT COUNT(1) FROM AVDIV_H WHERE CO_CD = @CO_CD AND AVDIV_CD = @DIV_CD ) >= 1 AND @SINGO_FG = '0'  AND @ISS_SQ < 1  )
BEGIN
      --IF ( (SELECT COUNT(1) FROM AVTOTDIV A LEFT OUTER JOIN SDIV S ON A.CO_CD = S.CO_CD AND A.DIV_CD_SUB = S.DIV_CD
      --	 WHERE A.CO_CD = @CO_CD AND A.FR_DT = @FR_DT_V115 AND A.TO_DT = @TO_DT AND S.DUMMY1 = '1' AND A.SINGO_FG = '0' ) < 1    )
      IF ( (SELECT COUNT(1) FROM AVTOTDIV A LEFT OUTER JOIN AVDIV_H S ON A.CO_CD = S.CO_CD AND A.DIV_CD_SUB = S.AVDIV_CD
      	 WHERE A.CO_CD = @CO_CD AND A.FR_DT = @FR_DT_V115 AND  LEFT(A.TO_DT,6) =  LEFT(@TO_DT,6) AND A.SINGO_FG = '0' ) < 1    )
        BEGIN
	INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30602','[사업장별과표및세액신고서] 부가세 총괄납부사업장은 사업장별과표및세액신고서를 반드시 작성하여야 합니다.', @SINGO_FG)  
        END
END
 
--  by2004.10.06 추가 (신규서식)
   /*26)건물등취득명세서 첨부여부 체크 */
   -- 신고서 (10)항목란 고정자산 금액은 있으나 건물등취득명세서가 첨부되어 있지 않을 때 
  SET @CHK_VAL1 = LEFT(@FR_DT_V149,6)  
  SET @CHK_VAL2 = LEFT(@TO_DT,6)  
	--200906
   SELECT @CHK_NUM1 = ISNULL(SUM(SUP_AM),0) 
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ((ST_FG = '01' AND LN_NB = '09' ) OR  (ST_FG = '05' AND LN_NB = '09' ))  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ 

  SELECT @CHK_NUM2 = ISNULL(SUM(SUP_AM), 0)
  FROM  AVASSET
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_YM = @CHK_VAL1 AND TO_YM = @CHK_VAL2 AND DOC_FG = '1' AND SINGO_FG = @SINGO_FG

   SELECT @CHK_NUM3 = ISNULL(SUM(VAT_AM), 0)
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ((ST_FG = '01' AND LN_NB = '09' ) OR  (ST_FG = '05' AND LN_NB = '09' ))   AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ 

  SELECT @CHK_NUM4 = ISNULL(SUM(VAT_AM), 0)
  FROM  AVASSET
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND FR_YM = @CHK_VAL1 AND TO_YM = @CHK_VAL2 AND DOC_FG = '1' AND SINGO_FG = @SINGO_FG
  
  --20100428 건물등 취득명세내역 건수 체크
  SELECT @CHK_INT1 = ISNULL(SUM(MATT_CNT), 0) 
  FROM  AVASSET
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_YM = @CHK_VAL1 AND TO_YM = @CHK_VAL2 AND RPT_TM = @RPT_TM AND DOC_FG = '1' and SINGO_FG = @SINGO_FG 

 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1  ) >= 1)  
 BEGIN    
   
  IF( (@CHK_NUM1 != 0 AND @CHK_NUM1 IS NOT NULL) AND (@CHK_NUM2 = 0 OR @CHK_NUM2 IS NULL))  
     BEGIN 
   -- 2005.01.07 변경 - 유의사항으로 변경. 
--      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG) VALUES (@CO_CD, @DIV_CD,'30603','[부가세신고서] 첨부서류(건물등감가상각자산취득명세서)가 없습니다.')  
         INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70120','[유의사항] 첨부서류(건물등감가상각자산취득명세서)가 없습니다.', @SINGO_FG)  
     END  
 END  

--  by2004.10.06 추가 (신규서식)
   /*27)건물등취득명세서 비교시 부가세 신고서(10) 항목란 존재여부 체크*/
   --건물등취득명세서는 있으나 신고서(10)번란 금액이 없을 때 
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1)OR  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND  TO_DT =@TO_DT AND FORM_CD = 'V149' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1))  
 BEGIN  

     IF( @CHK_NUM1 = 0 AND @CHK_NUM2 != 0 )  
     BEGIN  
		INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70212','[유의사항] 첨부서류(건물등감가상각자산취득명세서)있으나 신고서(11)항목란 금액이 없습니다.', @SINGO_FG)  
     END  

     IF( @CHK_INT1 = 0 AND @CHK_NUM2 != 0 )  
     BEGIN  
		INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70213','[유의사항] 첨부서류(건물등감가상각자산취득명세서)있으나 합계 건수가 없습니다.', @SINGO_FG)  
     END  

 END

   /*28)건물등취득명세서의 공급가액 합계 일치여부 체크*/
   -- 신고서(10)항목의 금액과 건물등취득명세서의 공급가액 합계가 일치하지 않을 경우
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1)OR  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V149' AND USE_YN = '1' AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1))  
 BEGIN  

    IF( ( @CHK_NUM1 != @CHK_NUM2 ) AND ( @CHK_NUM1 > 0 AND @CHK_NUM2 > 0) )  
     BEGIN  
   -- 2005.01.07 변경 - 유의사항으로 변경. 
		INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70121','[유의사항] (11)항목의 금액과 첨부서류(건물등감가상각자산취득명세서)의 공급가액 합계가 불일치합니다.', @SINGO_FG)  
     END  

 END  
   
   /*29)건물등취득명세서의 세액 합계 일치여부 체크*/
    -- 신고서(10)항목의 세액과 건물등취득명세서의 세액 합계가 일치하지 않을 경우
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1) >= 1)OR  
      ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND  TO_DT =@TO_DT AND FORM_CD = 'V149' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
		AND ISS_SQ =@ISS_SQ  AND  ISS_SQ < 1 ) >= 1))  
 BEGIN  

    IF( ( @CHK_NUM3 != @CHK_NUM4 ) AND ( @CHK_NUM3 > 0 AND @CHK_NUM4 > 0 ) )  
     BEGIN  
   -- 2005.01.07 변경 - 유의사항으로 변경. 
--      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG) VALUES (@CO_CD, @DIV_CD,'30606','[부가세신고서] (10)항목의 세액과 첨부서류(건물등감가상각자산취득명세서)의 세액 합계가 불일치합니다.')  
          INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70122','[유의사항] (11)항목의 세액과 첨부서류(건물등감가상각자산취득명세서)의 세액 합계가 불일치합니다.', @SINGO_FG)  
     END  

 END  

 /*33)총괄사업장인 경우 부가세 신고서의 총괄사업자 납부세액과 사업장별과표및세액신고서의 납부세액이 상이한 경우 체크 */
 -- 총괄사업장인 경우 부가세 신고서의 총괄사업자 납부세액과 사업장별과표및세액신고서의 납부세액이 상이한 경우 - 2005.1.7 추가
  SELECT @CHK_NUM1 = VAT_AM 
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
--	2005.04.21 수정
--               FR_DT = @FR_DT AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '20'  AND SINGO_FG = @SINGO_FG
	FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '25'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 


--2005.04.19 수정
 IF ( @SINGO_FG = '0' )
 BEGIN
	 SELECT @CHK_NUM2 = ISNULL(SUM(A.NAP_AM),0)   
	  FROM  AVTOTDIV A  LEFT OUTER JOIN SDIV S ON A.CO_CD = S.CO_CD AND A.DIV_CD_SUB = S.DIV_CD
	  WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND A.FR_DT = @FR_DT_V115 AND LEFT(A.TO_DT,6) = LEFT(@TO_DT,6) AND A.SINGO_FG = '0'

	IF ( (SELECT COUNT(1) FROM AVDIV_H S
		WHERE S.CO_CD = @CO_CD AND S.AVDIV_CD = @DIV_CD  ) >= 1 )
	 BEGIN
	      IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1' AND SINGO_FG = @SINGO_FG  AND ISS_SQ= @ISS_SQ AND  ISS_SQ < 1) >= 1)OR  
	            ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V115' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG  AND ISS_SQ= @ISS_SQ AND  ISS_SQ < 1) >= 1))  
	      BEGIN
		IF ( @CHK_NUM1 != @CHK_NUM2 )
	              BEGIN
		    INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30610','[부가세신고서] 부가세 총괄납부 주된 사업장은 부가세신고서의 총괄사업자 납부(환급)세액과 사업장별과표및세액신고서의 납부(환급)세액이 일치하여야 합니다.', @SINGO_FG)  
		END
	      END
	 END
 END

--2005.04.21 추가
--  34) 사업자단위 신고자인경우 V150서식(사업자단위사업장별과표및세액신고서)이 없을때
  IF ( @SINGO_FG = '1' )
  BEGIN
 	IF(@FG_TY='2')
	  BEGIN
		IF (  ( SELECT COUNT(1) FROM AVTOTDIV3 
			WHERE FR_DT = @FR_DT_V166 AND LEFT(TO_DT,6) =LEFT(@TO_DT,6) AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1'  ) <= 0 AND @ISS_SQ < 1 )
		BEGIN
			INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30612','[사업자단위과세 사업장별세액명세서] 사업자단위과세 신고인 경우 사업자단위과세 사업장별 세액명세서를 반드시 작성하여야 합니다.', @SINGO_FG)  
		END
	  END
	ELSE
	  BEGIN
		IF (  ( SELECT COUNT(1) FROM AVTOTDIV2 
			WHERE FR_DT = @FR_DT_V150 AND LEFT(TO_DT,6) =LEFT(@TO_DT,6) AND CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND RPT_TM = @RPT_TM AND SINGO_FG = '1'  ) <= 0 AND @ISS_SQ < 1 )
		BEGIN
			INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30612','[사업자단위사업장별세액명세서] 사업자단위신고사업자의 경우 사업자단위사업장별세액명세서를 반드시 작성하여야 합니다.', @SINGO_FG)  
		END
	  END 
  END

-- 2005.04.21 추가
--  35) 사업자단위 신고자인경우 부가세신고서의 납부세액과 사업자단위사업장별과표및세액신고서의 납부세액이 일치하지 않을때
 IF ( @SINGO_FG = '1' )
 BEGIN
	IF(@FG_TY='2')	--20080328 사업자단위과세추가
	  BEGIN
		SELECT @CHK_NUM1 = ISNULL(VAT_AM,0) 
		  FROM AVATRPT  
		  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
		  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '10' AND LN_NB = '20'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
 
		  SELECT @CHK_NUM2 = ISNULL(SUM(A.NAP_AM),0)   
		  FROM  AVTOTDIV3 A  LEFT OUTER JOIN SDIV S ON A.CO_CD = S.CO_CD AND A.DIV_CD_SUB = S.DIV_CD
		  WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND A.FR_DT = @FR_DT_V166 AND LEFT(A.TO_DT,6) = LEFT(@TO_DT,6) AND A.SINGO_FG = '1'


		  IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1' AND SINGO_FG = @SINGO_FG
				AND ISS_SQ =@ISS_SQ   ) >= 1)OR  
		           ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V166' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
				AND ISS_SQ =@ISS_SQ  ) >= 1))  
		      BEGIN
			IF ( @CHK_NUM1 != @CHK_NUM2 )
		              BEGIN
			    INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30613','[부가세신고서] 사업자단위과세 신고사업자의 경우 부가세신고서의 납부(환급)세액과 사업자단위과세 사업장별세액명세서의 납부(환급)세액이 일치하여야 합니다.', @SINGO_FG)  
			END
		      END	  
	  END
	ELSE 
	  BEGIN
	
		SELECT @CHK_NUM1 = ISNULL(VAT_AM,0) 
		  FROM AVATRPT  
		  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
		  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '20'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  
	 
		  SELECT @CHK_NUM2 = ISNULL(SUM(A.NAP_AM),0)   
		  FROM  AVTOTDIV2 A  LEFT OUTER JOIN SDIV S ON A.CO_CD = S.CO_CD AND A.DIV_CD_SUB = S.DIV_CD
		  WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND A.FR_DT = @FR_DT_V150 AND LEFT(A.TO_DT,6) = LEFT(@TO_DT,6) AND A.SINGO_FG = '1'
		 
		  IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1' AND SINGO_FG = @SINGO_FG
					AND ISS_SQ =@ISS_SQ   ) >= 1)OR  
		           ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V150' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
					AND ISS_SQ =@ISS_SQ  ) >= 1))  
		      BEGIN
			IF ( @CHK_NUM1 != @CHK_NUM2 )
		              BEGIN
			    INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30613','[부가세신고서] 사업자단위 신고사업자의 경우 부가세신고서의 납부(환급)세액과 사업자단위 사업장별세액명세서의 납부(환급)세액이 일치하여야 합니다.', @SINGO_FG)  
			END
		      END
	  END
 END


  /*수입금액명세서(통합용) 사업자번호 입력누락 체크*/
 IF ( ((SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V167' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
			AND ISS_SQ =@ISS_SQ ) ) >= 1  AND @ISS_SQ < 1 )
 BEGIN  

  DECLARE IN_CURSOR CURSOR FOR    
	   SELECT REG_NB
	   FROM AVINCOME_TOTAL  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND FR_DT = @FR_DT_V167 AND LEFT(TO_DT,6) = LEFT(@TO_DT,6) AND RPT_TM = @RPT_TM AND DOC_FG = '2' AND SINGO_FG = @SINGO_FG
	   ORDER BY DATE1

  DECLARE @REG_NB2 VARCHAR(200)

  DECLARE @SEQ2 VARCHAR(5)
  SET @SEQ2 = '0'
   
  SET @REG_NB2=''
  SET @SEQ2 = '0'
   
  OPEN IN_CURSOR            FETCH NEXT FROM IN_CURSOR INTO @REG_NB2
           WHILE(@@FETCH_STATUS = 0 )  
           BEGIN  
               SET @SEQ2 = CONVERT(VARCHAR(5), CONVERT(INT, @SEQ2)+1)
	      IF( @REG_NB2 IS NULL OR @REG_NB2 = '' OR LEN(@REG_NB2) = 0 )   
	        BEGIN  
	                 INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'30609','[현금매출명세서] 사업자등록번호 또는 주민등록번호 누락 [ '+ @SEQ2 +'번째 데이터]', @SINGO_FG)  
		   BREAK  
                     END    
           FETCH NEXT FROM IN_CURSOR INTO @REG_NB2  
           END  
         CLOSE IN_CURSOR  
         DEALLOCATE IN_CURSOR  

 END  

/**[과세표준명세]********************************************************************************************************************************/   
 IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V101' AND USE_YN = '1'  AND SINGO_FG = @SINGO_FG
			AND ISS_SQ =@ISS_SQ   AND  ISS_SQ < 1 ) >= 1)  
 BEGIN  
   
   
  -- 1. 폐업사유가 있거나 폐업년월이 있으면 오류    20080723 
/*  SELECT @CHK_VAL1= BUSINESS, @CHK_DATE1 = RP_DT, @CHK_VAL2 = DUMMY3  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '23'  AND SINGO_FG = @SINGO_FG
   
   IF( @CHK_VAL1 != '' /*OR (@CHK_DATE1 !='' AND @CHK_DATE1 != '00000000')*/)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40101','[부가세신고서] 폐업신고를 받지 않는데 폐업사유 또는 폐업년월일이 존재함',  @SINGO_FG)  
	  
     END  */
   
  --2. 부가세 환급시  
         --1)환급 받을 금액이 있으면 - 환급은행코드와 계좌번호가 둘 다 있거나 둘 다 없어야 한다.  
   
      SELECT @CHK_NUM1 = A.VAT_AM, @CHK_VAL1 = A.BUSINESS, @CHK_VAL2 = B.RP_DT, @CHK_VAL3 = C.DUMMY1  
    FROM  
   (SELECT VAT_AM, BUSINESS --환급받을 금액  
    FROM AVATRPT  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '20' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) A,  
   
   (SELECT RP_DT --은행코드  
    FROM AVATRPT  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '22' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) B,  
   
   (SELECT DUMMY1 --계좌번호  
    FROM AVATRPT  

    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '23' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) C  
   
   IF( @CHK_NUM1 < 0 )  
     BEGIN  
      IF((@CHK_VAL2 = '' AND @CHK_VAL3 != '') OR (@CHK_VAL2 != '' AND @CHK_VAL3 = ''))  
      BEGIN  
        INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40201','[부가세신고서] 환급은행코드와 계좌번호는 반드시 동시에 존재하여야 함', @SINGO_FG)      
      END  
     END  
   
  --2)환급구분이 없으면  
   IF( @CHK_VAL1 = '' AND @CHK_NUM1 < 0)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40202','[부가세신고서] 환급구분 누락', @SINGO_FG)  
     END  
   
   
  --3) 일반환급  
     
  SELECT @CHK_NUM1 = ISNULL(SUP_AM,0)   
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '03'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
  
  SELECT @CHK_NUM2 =  ISNULL(SUP_AM,0)    
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '04'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
  
  SELECT @CHK_NUM3 =  ISNULL(SUP_AM,0)  
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '09'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

   --2007.10.24
   IF ( ( SELECT COUNT(1) FROM AVDIV_H WHERE CO_CD = @CO_CD AND AVDIV_CD = @DIV_CD ) >= 1  AND @SINGO_FG = '0')
		BEGIN
	  SELECT @CHK_NUM4 = ISNULL(VAT_AM,0)  
	   FROM AVATRPT  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '25'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

	  SELECT @CHK_VAL1 = ISNULL(BUSINESS, ''),  
	   @CHK_NUM5 = ISNULL(VAT_AM, 0)  
	   FROM AVATRPT  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '20' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 


		END
   ELSE
		BEGIN
	  SELECT @CHK_NUM4 = ISNULL(VAT_AM, 0)  
	   FROM AVATRPT  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '20'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

	  SELECT @CHK_VAL1 =ISNULL(BUSINESS, ''),    
	   @CHK_NUM5 = ISNULL(VAT_AM, 0)  
	   FROM AVATRPT  
	   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
	                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '20' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

		END

   IF( @CHK_NUM1 = 0 AND  @CHK_NUM2 = 0 AND @CHK_NUM3 = 0 AND @CHK_NUM4 < 0 AND @CHK_VAL1 != '1')  
     BEGIN  
          INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40203','[부가세신고서] 일반환급 - 환급구분코드 오류', @SINGO_FG)  
    END  
  

   --20080418 영세율 조기환급 FR_DT, TO_DT 기간이 3개월 미만인 경우는 제외
       DECLARE @P_MON INT 
          SELECT @P_MON = datediff(mm,@FR_DT_V101,@TO_DT) + 1
      
        IF(@P_MON  < 3 )
		BEGIN
	 
		   --4)영세율등 조기환급과 설비투자 환급이 동시에 존재할 경우  
		  IF((@CHK_NUM1 IS NOT NULL AND @CHK_NUM1 != 0 OR  
					@CHK_NUM2 IS NOT NULL AND @CHK_NUM2 != 0 )AND   
					@CHK_NUM5 < 0 AND @CHK_VAL1 != '2')   
	  
			BEGIN  
				  -- 2005.07.11(오류->유의사항으로 변경)
				  --INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40204','[부가세신고서] 영세율등 조기환급 - 환급구분코드 오류', @SINGO_FG)  
				INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70209','[유의사항] 영세율등 조기환급 - 환급구분코드 오류(단, 조기환급을 취소하는 경우는 예외)', @SINGO_FG)  
			END  
			ELSE   
			BEGIN  
				  IF(@CHK_VAL1 != '2')  
	          		BEGIN   
		     
		   --5)영세율등 조기환급  
	          		IF( (@CHK_NUM1 != 0 OR  @CHK_NUM2 != 0)  AND @CHK_NUM4 < 0 AND @CHK_VAL1 != '2')  
	      			BEGIN  
		     			INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70210','[유의사항] 환급구분코드 오류(단, 조기환급을 취소하는 경우는 예외)', @SINGO_FG)  
						  END  
	         		END  
		  
		   --6)설비투자환급  
				  IF( @CHK_NUM1 = 0 AND @CHK_NUM3 = 0 AND @CHK_NUM3 != 0 AND  @CHK_NUM4 < 0 AND @CHK_VAL1 != '3')  
				   BEGIN  
						INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70211','[유의사항] 환급구분코드 오류(단, 조기환급을 취소하는 경우는 예외)', @SINGO_FG)  
					 END   
			 END   
     END
    
    
  --7)부가세 총괄납부사업장일 경우 환급구분코드 입력 확인  
   SET @CHK_VAL2 = ''  

   SELECT @CHK_VAL2 =  A.BUSINESS  
   FROM AVATRPT A  
        LEFT OUTER JOIN AVDIV_H S ON A.CO_CD = S.CO_CD AND A.DIV_CD = S.AVDIV_CD  
    WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND  A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '01' AND A.LN_NB = '25' AND SINGO_FG = @SINGO_FG 
		AND ISS_SQ =@ISS_SQ 

   IF( @CHK_VAL2 = '0')  
       BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70207','[유의사항] 부가세 총괄납부 주사업장 환급구분코드 누락', @SINGO_FG)  
       END  


  --20080117 유의사항추가
   SET @CHK_VAL2 =''  

   SELECT  @CHK_VAL2 =  A.BUSINESS  
   FROM AVATRPT A  
        LEFT OUTER JOIN AVDIV_H S ON A.CO_CD = S.CO_CD AND A.DIV_CD = S.AVDIV_CD  
   WHERE A.CO_CD = @CO_CD AND A.DIV_CD =  @DIV_CD  AND  A.FR_DT =@FR_DT_V101 AND A.TO_DT =  @TO_DT  AND SINGO_FG = '0'  
   AND (  ( A.ST_FG = '01' AND A.LN_NB = '25' AND  A.VAT_AM >= 0 ) AND  ( A.ST_FG = '01' AND A.LN_NB = '20'  AND A.VAT_AM <  0  )   )
		AND ISS_SQ =@ISS_SQ 

     IF( @CHK_VAL2 = '0')  
       BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70207','[유의사항] 부가세 총괄납부 환급구분코드 누락', @SINGO_FG)  
       END  


 -- 2006.08.28 추가
  -- 9) 부가세 조기환급 신고시 환급구분 체크 조건 추가 ( 월별조기환급관련)
    IF (  	( SUBSTRING(@FR_DT_V101, 5, 2) = '01' AND  SUBSTRING(@TO_DT, 5, 2) = '03' ) OR 
	( SUBSTRING(@FR_DT_V101, 5, 2) = '04' AND  SUBSTRING(@TO_DT, 5, 2) = '06' ) OR 
	( SUBSTRING(@FR_DT_V101, 5, 2) = '07' AND  SUBSTRING(@TO_DT, 5, 2) = '09' ) OR 
	( SUBSTRING(@FR_DT_V101, 5, 2) = '10' AND  SUBSTRING(@TO_DT, 5, 2) = '12' ) 	)
		 -- 월별부가세신고 내용만 FILTERING
    BEGIN
	 --8)영세율환급, 시설투자환급에 해당되지만,  납세자가 조기환급을 받지 않기 위해 일반환급을 선택하는 경우 (2005.06.28 추가)
	    IF(  ( @CHK_NUM1 IS NOT NULL AND @CHK_NUM1 != 0  ) OR  
	           ( @CHK_NUM2 IS NOT NULL AND @CHK_NUM2 != 0  ) OR
	           ( @CHK_NUM3 IS NOT NULL AND @CHK_NUM3 != 0  ) )
	    BEGIN  
	          IF ( @CHK_NUM5 < 0 AND @CHK_VAL1 = '1' )
	          BEGIN
				INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'70208','[유의사항] 영세율조기환급 또는 시설투자환급에 해당하나, 환급구분이 일반환급으로 선택되어 있습니다. 그러나, 조기환급을 취소하는 경우는 예외입니다.', @SINGO_FG)  
	          END
	    END     
    END
    ELSE
    BEGIN
		SELECT @CHK_VAL1 =  A.BUSINESS  
		   FROM AVATRPT A  
				LEFT OUTER JOIN SDIV S ON A.CO_CD = S.CO_CD AND A.DIV_CD = S.DIV_CD  
		   WHERE A.CO_CD = @CO_CD AND A.DIV_CD = @DIV_CD AND  A.FR_DT = @FR_DT_V101 AND A.TO_DT = @TO_DT AND A.ST_FG = '01' AND A.LN_NB = '20' /*AND S.DUMMY1 = '0' */AND SINGO_FG = @SINGO_FG 
			AND ISS_SQ =@ISS_SQ 

		IF( ( ( @CHK_NUM1 IS NOT NULL AND @CHK_NUM1 != 0  ) OR  
		( @CHK_NUM2 IS NOT NULL AND @CHK_NUM2 != 0  ) OR
           		( @CHK_NUM3 IS NOT NULL AND @CHK_NUM3 != 0  ) ) 
		AND  @CHK_VAL1 = '1' )
		BEGIN
		  INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40204','[부가세신고서] 월별조기환급신고서에는 환급구분이 영세율조기환급 또는 시설투자환급이어야 하나 일반환급으로 선택되어 있습니다.', @SINGO_FG)  

		END
	
    END

  --3. 신고년월일의 누락체크  
  SELECT @CHK_VAL1  = DUMMY3   
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
        FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '23'  AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
     
   IF( @CHK_VAL1 = '' OR @CHK_VAL1 = '   0 0 0' )  
     BEGIN  
          INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40301','[부가세신고서] 신고년월일 누락', @SINGO_FG)  
     END  
   

  -- 4. 과세표준명세  
  SELECT @CHK_NUM1 = A.SUP_AM, @CHK_NUM2 = B.SUP_AM  
  FROM  
   --  과세표준명세  
   (SELECT SUP_AM  
    FROM AVATRPT  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '05' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) A,  
    
   -- 과세표준매출세액  
   (SELECT SUP_AM  
    FROM AVATRPT  
    WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                 FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '01' AND LN_NB = '07' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) B  
   
  -- 1) 과세표준명세에 금액이 잇으나 과세표준매출세액에 금액이 없을때  
   IF( @CHK_NUM1 != 0 AND @CHK_NUM2 = 0)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40101','[부가세신고서] 과세표준매출세액 금액 누락', @SINGO_FG)  
     END         
   
  -- 2) 과세표준명세에 금액이 잇으나 과세표준매출세액에 금액이 없을때  
   IF( @CHK_NUM1 = 0 AND @CHK_NUM2 != 0)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40102','[부가세신고서] 과세표준명세 금액 누락', @SINGO_FG)  
     END         


   --3) 표준소득율 검사  
    
  SELECT @CHK_VAL1 = A.DUMMY1, @CHK_VAL2 = B.DUMMY1, @CHK_VAL3 = C.DUMMY1,   
         @CHK_VAL4 = D.DUMMY1, @CHK_VAL5 = E.DUMMY1, @CHK_VAL6 = F.DUMMY1
  FROM  
    (SELECT DUMMY1  
     FROM AVATRPT  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '01' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ ) A,  
   
    (SELECT DUMMY1  
     FROM AVATRPT  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '02' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ ) B,  
   
    (SELECT DUMMY1  
     FROM AVATRPT  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '03' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ ) C,  
   
    (SELECT DUMMY1  
     FROM AVATRPT  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '04' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ ) D,  
   
    (SELECT DUMMY1  
     FROM AVATRPT  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '01' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ ) E,  
   
    (SELECT DUMMY1  
     FROM AVATRPT  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '02' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ ) F
	
	--200906 면세수입금액제외
	SELECT @CHK_VAL8 = DUMMY1 
     FROM AVATRPT  
     WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                  FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '05' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 

  --24  
  SELECT @CHK_VAL7 = BUSINESS_CD  
  FROM SBUSINESS  
  WHERE BUSINESS_CD = @CHK_VAL1  

   IF( @CHK_VAL1 IS NOT NULL AND @CHK_VAL1 != '')  
     BEGIN  
     IF( @CHK_VAL7 IS NULL )  
       BEGIN  
        INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40403','[부가세신고서] 업종코드(26번란) 오류', @SINGO_FG)  
       END    
           END   
 
  --25  
  SELECT @CHK_VAL7 = BUSINESS_CD  
  FROM SBUSINESS  
  WHERE BUSINESS_CD = @CHK_VAL2  
   
  IF( @CHK_VAL2 IS NOT NULL AND @CHK_VAL2 != '' )  
     BEGIN  
     IF( @CHK_VAL7 IS NULL )  
       BEGIN  
        INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40404','[부가세신고서] 업종코드(27번란) 오류', @SINGO_FG)  
       END    
         END  
   
  --26
  SELECT @CHK_VAL7 = BUSINESS_CD  
  FROM SBUSINESS  
  WHERE BUSINESS_CD = @CHK_VAL3  
   
          IF( @CHK_VAL3 IS NOT NULL AND @CHK_VAL3 != '' )  
     BEGIN   
     IF( @CHK_VAL7 IS NULL )  
       BEGIN  
        INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40405','[부가세신고서] 업종코드(28번란) 오류', @SINGO_FG)  
       END  
          END     
   
  --27  
  SELECT @CHK_VAL7 = BUSINESS_CD  
  FROM SBUSINESS  
  WHERE BUSINESS_CD = @CHK_VAL4  
   
          IF( @CHK_VAL4 IS NOT NULL AND @CHK_VAL4 != '' )  
     BEGIN   
     IF( @CHK_VAL7 IS NULL )  
       BEGIN  
        INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40406','[부가세신고서] 업종코드(29번란) 오류', @SINGO_FG)  
       END  
          END     
   
  --61  
  SELECT @CHK_VAL7 = BUSINESS_CD  
  FROM SBUSINESS  
  WHERE BUSINESS_CD = @CHK_VAL5  
   
          IF( @CHK_VAL5 IS NOT NULL AND @CHK_VAL5 != '' )  
     BEGIN  
     IF( @CHK_VAL7 IS NULL )  
       BEGIN  
        INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40407','[부가세신고서] 업종코드(69번란) 오류', @SINGO_FG)  
       END    
           END  
   
  --62 
  SELECT @CHK_VAL7 = BUSINESS_CD  
  FROM SBUSINESS  
  WHERE BUSINESS_CD = @CHK_VAL6  
   
          IF( @CHK_VAL6 IS NOT NULL AND @CHK_VAL6 != '' )  
     BEGIN  
     IF( @CHK_VAL7 IS NULL )  
       BEGIN  
        INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40408','[부가세신고서] 업종코드(70번란) 오류', @SINGO_FG)  
       END    
          END  
  
  --200906 면세수입금액제외
  SELECT @CHK_VAL7 = BUSINESS_CD  
  FROM SBUSINESS  
  WHERE BUSINESS_CD = @CHK_VAL8  
   
          IF( @CHK_VAL8 IS NOT NULL AND @CHK_VAL8 != '' )  
     BEGIN  
     IF( @CHK_VAL7 IS NULL )  
       BEGIN  
        INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40420','[부가세신고서] 업종코드(71번란) 오류', @SINGO_FG)  
       END    
          END  

  
  --4) 매출액이 없어도 한줄만 필수 입력  
  SELECT @CHK_VAL1 = BUSINESS, @CHK_VAL2 = JONGMOK, @CHK_VAL3 = DUMMY1  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '01'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
    
  -- 4.1) 업종코드 누락  
   IF( @CHK_VAL1 = '')  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40409','[부가세신고서] 과세표준명세서(26번란) 업태 누락 - 매출액이 없어도 필수입력사항임', @SINGO_FG)  
     END         
   

  -- 4.2) 업종명 누락  
   IF( @CHK_VAL2 = '')  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40410','[부가세신고서] 과세표준명세서(26번란) 업종명 누락 - 매출액이 없어도 필수입력사항임', @SINGO_FG)  
     END         
   
  -- 4.3) 업태 누락  
   IF( @CHK_VAL3 = '')  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40411','[부가세신고서] 과세표준명세서(26번란) 업종코드 누락 - 매출액이 없어도 필수입력사항임', @SINGO_FG)  
     END         
    
  --5) 수입금액제외란의 업종코드가 (24)란의 업종코드와 동일한지를 검사한다.  
  SELECT @CHK_VAL1 = A.DUMMY1, @CHK_VAL2 = B.DUMMY1  
  FROM (SELECT DUMMY1   
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '01' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) A,  
     
   (SELECT DUMMY1   
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '04' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) B   
   
   IF(@CHK_VAL1 != @CHK_VAL2)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40412','[부가세신고서] 과세표준명세서의 (26)번 (29)번 업종코드 틀림', @SINGO_FG)  
     END        
   
   
  --6) 과세표준명세의 업종코드 중복검사  
    
  SELECT @CHK_VAL1 = ISNULL(DUMMY1, '')  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '01' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
    
  SELECT  @CHK_VAL2 = ISNULL(DUMMY1, '')  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '02' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
    
  SELECT  @CHK_VAL3 = ISNULL(DUMMY1, '')  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '03' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
  
   
   
   -- DUMMY1의 값중 동일한 것이 하나라도 있을경우 체크  
   IF( ((@CHK_VAL1 = @CHK_VAL2)AND(@CHK_VAL1 != '' AND @CHK_VAL2 != '')) OR ((@CHK_VAL1 = @CHK_VAL3) AND (@CHK_VAL1 != '' AND @CHK_VAL3 != '')) OR ((@CHK_VAL2 = @CHK_VAL3))AND(@CHK_VAL2 != '' AND @CHK_VAL3 != ''))  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40413','[부가세신고서] 과세표준명세 - 업종코드 중복', @SINGO_FG)  
     END         
   
   
  --7) 사업장등록에 주업종 코드가 입력되지 않은 경우  
  SET @CHK_VAL4 = ''  
  
  SELECT @CHK_VAL4 =  ISNULL(BUSINESS_CD, ''),  @CHK_VAL5 = DUMMY3 
  FROM SDIV  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD  
    
   
   IF( @CHK_VAL4 = '')   
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40414','[부가세신고서] 사업장등록상의 주업종코드 누락', @SINGO_FG)  
     END         
    
  
  
  --8) 현재 사업장 등록에 주업종 코드가 과세표준명세에 포함이 되어있는지 검사한다.  
   
   IF((@CHK_VAL1 != @CHK_VAL4) AND (@CHK_VAL2 != @CHK_VAL4) AND (@CHK_VAL3 != @CHK_VAL4))  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40415','[부가세신고서] 사업장등록의 주업종코드와 과세표준명세상의 코드 불일치', @SINGO_FG)  
     END   
  
   
  --9) 현재 사업장 등록에 주업종 코드가 과세표준명세에 포함이 되어있는지 검사한다.  
   IF(@CHK_VAL5 IS NULL OR @CHK_VAL5 = '' )  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40416','[사업장등록] 전자신고사용자ID가 입력되지 않았습니다.', @SINGO_FG)  
     END   
  
   
  --10) 과세표준명세의 [수입금액제외]란에 0이 아닌 금액이 있을 때 종목이 없을 경우 2003.1.9일 추가    
  
  SELECT  @CHK_NUM1 = ISNULL(SUP_AM,0), @CHK_VAL1 = JONGMOK   
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '02' AND LN_NB = '04' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ 
  
  
   IF(@CHK_NUM1 != 0 AND @CHK_NUM1 IS NOT NULL )  
     BEGIN  
   IF(@CHK_VAL1 IS NULL OR @CHK_VAL1 = '')  
     BEGIN  
       INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40417','[부가세신고서] 과세표준명세서(29번란) 업종명 누락', @SINGO_FG)  
     END   
     END   

 -- 11) 회사등록에 법인등록번호(SCO.CO_NB)가 없을 경우. 2004.07.16 추가
  
  SELECT @CHK_VAL1 = CO_NB 
  FROM SCO
  WHERE CO_CD = @CO_CD 

  SELECT @CHK_VAL2 = CO_FG
  FROM SCO
  WHERE CO_CD = @CO_CD 

  IF ( @CHK_VAL2 = '0' ) --0.법인일때만 체크 2004.07.21추가.
  BEGIN
    IF ( @CHK_VAL1 IS NULL OR @CHK_VAL1 = ''  )
      BEGIN
	  INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40418','[회사등록] 법인등록번호 누락', @SINGO_FG)  	
      END
  END
 
    
  --5.면세수입금액 - 금액이 존재할 경우 CHECK  
   
  --1)업종코드  
  SELECT @CHK_VAL1 = BUSINESS, @CHK_VAL2 = JONGMOK, @CHK_VAL3 = DUMMY1, @CHK_NUM1 = ISNULL(SUP_AM,0)  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '01'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
   
   
  IF(@CHK_NUM1 IS NOT NULL AND @CHK_NUM1 != 0)  
  BEGIN  
    
  -- 세개의 값을 값을 체크해서 각각 메세지를 넣음  
   IF( @CHK_VAL1 = '')  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40501','[부가세신고서] 면세수입금액(69번란) 업태 누락', @SINGO_FG)  
     END         
   
   IF( @CHK_VAL2 = '')  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40502','[부가세신고서] 면세수입금액(69번란) 업종명 누락', @SINGO_FG)  
     END         
   
   IF( @CHK_VAL3 = '')  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40503','[부가세신고서] 면세수입금액(69번란) 업종코드 누락', @SINGO_FG)  
     END         
  END  

   
 --1)업종코드2		
  IF(@RPT_TM < '201006')
   BEGIN
	  SELECT @CHK_VAL1 = BUSINESS, @CHK_VAL2 = JONGMOK, @CHK_VAL3 = DUMMY1, @CHK_NUM1 = ISNULL(SUP_AM,0)  
	  FROM AVATRPT  
	  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
				   FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '02'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
	   
	   
	  IF(@CHK_NUM1 IS NOT NULL AND @CHK_NUM1 != 0)  
	  BEGIN  
	    
	  -- 세개의 값을 값을 체크해서 각각 메세지를 넣음  
	   IF( @CHK_VAL1 = '')  
		 BEGIN  
		  INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40504','[부가세신고서] 면세수입금액(70번란) 업태 누락', @SINGO_FG)  
		 END         
	   
	   IF( @CHK_VAL2 = '')  
		 BEGIN  
		  INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40505','[부가세신고서] 면세수입금액(70번란) 업종명 누락', @SINGO_FG)  
		 END         
	   
	   IF( @CHK_VAL3 = '')  
		 BEGIN  
		  INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40506','[부가세신고서] 면세수입금액(70번란) 업종코드 누락', @SINGO_FG)  
		 END       
	   
	  END    
	END
  
  --200906 면세수입금액제외란의 업종코드가 (67)란의 업종코드와 동일한지를 검사한다.  
/*
  SELECT @CHK_VAL1 = A.DUMMY1, @CHK_VAL2 = B.DUMMY1  
  FROM (SELECT DUMMY1   
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '01' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  ) A,  
     
   (SELECT DUMMY1   
   FROM AVATRPT  
   WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
                FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '05' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ ) B   
   
   IF(@CHK_VAL1 != @CHK_VAL2)  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40430','[부가세신고서] 과세표준명세서의 (69)번과 (71)번 업종코드 틀림', @SINGO_FG)  
     END        
  */ 
    

  --2)면세수입금액의 업종코드 중복검사  
  
  SELECT @CHK_VAL1 = ISNULL(DUMMY1, '')  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '01'  AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ 
  
    
  SELECT @CHK_VAL2 = ISNULL(DUMMY1,'' )  
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '02' AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ  
     
   
  -- DUMMY1의 값중 돌일한 것이 하나라도 있을경우 체크  
   IF( @CHK_VAL1 !='' AND (@CHK_VAL1 = @CHK_VAL2))  
     BEGIN  
      INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40507','[부가세신고서] 면세수입금액 - 업종코드 중복', @SINGO_FG)  
     END  


  --200906 면세수입금액제외란에 0이 아닌 금액이 있을 때 종목이 없을 경우   
  SELECT  @CHK_NUM1 = ISNULL(SUP_AM,0), @CHK_VAL1 = JONGMOK   
  FROM AVATRPT  
  WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND   
               FR_DT = @FR_DT_V101 AND TO_DT = @TO_DT AND ST_FG = '09' AND LN_NB = '05' AND SINGO_FG = @SINGO_FG AND ISS_SQ =@ISS_SQ  
  
  
   IF(@CHK_NUM1 != 0 AND @CHK_NUM1 IS NOT NULL )  
     BEGIN  
	   IF(@CHK_VAL1 IS NULL OR @CHK_VAL1 = '')  
		 BEGIN  
		   INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40508','[부가세신고서] 면세수입금액제외 - 업종명 누락', @SINGO_FG)  
		 END   
     END   
 END

  --V169, V170 체크
  SET @CHK_VAL1 = SUBSTRING(@TO_DT, 5, 2)  

  IF(@V_ISS_ST='400') 
    BEGIN
	   IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V169' AND USE_YN = '1' 
			AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ ) >= 1 AND @ISS_SQ > 0 /*AND @V_ISS_ST='400'*/ )  
		BEGIN 
			   IF( @CHK_VAL1 !='03' AND @CHK_VAL1 !='06' AND @CHK_VAL1 !='09' AND @CHK_VAL1 !='12')   
				BEGIN  --조기환급
					INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40518','[부가세신고서] 과세표준 및 세액의 결정(경정)청구서는 조기환급시 첨부할 수 없습니다.', @SINGO_FG) 
				END     
		END
	   ELSE 
		INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40518','[부가세신고서] 경정청구시 과세표준 및 세액의 결정(경정)청구서는 필히 첨부해야합니다.', @SINGO_FG) 
    END		

  IF(@V_ISS_ST='300') 
	BEGIN
		IF ( (SELECT COUNT(1) FROM AVJEONJA WHERE CO_CD = @CO_CD AND DIV_CD = @DIV_CD AND TO_DT =@TO_DT AND FORM_CD = 'V170' AND USE_YN = '1' 
			AND SINGO_FG = @SINGO_FG  AND ISS_SQ =@ISS_SQ ) >= 1 AND @ISS_SQ > 0 /*AND @V_ISS_ST='300' */ )  
			BEGIN   
			  IF( @CHK_VAL1 !='03' AND @CHK_VAL1 !='06' AND @CHK_VAL1 !='09' AND @CHK_VAL1 !='12')   
				BEGIN  --조기환급
					INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40518','[부가세신고서] 과세표준수정신고서 추가자진납부계산서는 조기환급시 첨부할 수 없습니다.', @SINGO_FG) 
				END
	    
			END
		ELSE
			INSERT AVJEONJA_CHK_MSG(CO_CD, DIV_CD, CHK_CODE, CHK_MSG, SINGO_FG) VALUES (@CO_CD, @DIV_CD,'40518','[부가세신고서] 수정신고시 과세표준수정신고서 추가자진납부계산서는 필히 첨부해야합니다.', @SINGO_FG) 
	END

GO
