USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAXCOMPANYINFO]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAXCOMPANYINFO](
	[C_CODE] [varchar](4) NOT NULL,
	[TAX_C_CODE] [nvarchar](4) NOT NULL,
	[GUBUN5] [char](1) NULL,
	[GUBUN6] [char](1) NULL,
	[GUBUN7] [char](1) NULL,
 CONSTRAINT [PK_TAXCOMPANYINFO] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIDX_TAXCOMPANYINFO]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIDX_TAXCOMPANYINFO] ON [DZAIS].[TAXCOMPANYINFO]
(
	[TAX_C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
