USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UP_EBANK_P_MENU]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE	PROCEDURE [DZAIS].[UP_EBANK_P_MENU] 
	@MENU_ID		VARCHAR(12)  AS

DECLARE 
	@P_C_CODE	CHAR(4),
	@P_SNO		VARCHAR(10),
	@P_MENU_POS   VARCHAR(12), 
	@P_NEW_POS     VARCHAR(12) 

BEGIN 

	--P_MENU에 은행연동메뉴 폴더 생성하기(세금계산서출력이 있는경우 바로 위 상위메뉴레벨의 맨 끝에 추가한다.
	DECLARE  CUR_EBANK_MENU CURSOR FOR

	SELECT A.C_CODE, A.SNO, MAX(A.MENU_POS) FROM VBASE_P_MENU A WHERE A.MENU_ID = '016010200000' AND 
	NOT EXISTS ( SELECT 1 FROM VBASE_P_MENU B WHERE B.C_CODE = A.C_CODE AND B.SNO = A.SNO AND B.MENU_ID = @MENU_ID )
	GROUP BY A.C_CODE, A.SNO

	OPEN CUR_EBANK_MENU 
	
	FETCH NEXT FROM CUR_EBANK_MENU INTO @P_C_CODE, @P_SNO, @P_MENU_POS
	WHILE(@@FETCH_STATUS = 0)
	BEGIN 
		IF ( LEN(@P_MENU_POS) = 2 OR LEN(@P_MENU_POS) = 4 )
		BEGIN
			SELECT 	@P_NEW_POS = MAX(MENU_POS)
			FROM 	VBASE_P_MENU 
			WHERE 	C_CODE = @P_C_CODE AND SNO = @P_SNO AND LEN(MENU_POS) = 2 AND MENU_POS BETWEEN '00' AND '99'

			SELECT @P_NEW_POS = RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC, RIGHT(@P_NEW_POS,2)) + 1 ), 2)
		END
		IF ( LEN(@P_MENU_POS) = 6 )
		BEGIN
			SELECT 	@P_NEW_POS = MAX(MENU_POS)
			FROM 	VBASE_P_MENU 
			WHERE 	C_CODE = @P_C_CODE AND SNO = @P_SNO AND LEN(MENU_POS) = 4 AND MENU_POS BETWEEN SUBSTRING(@P_MENU_POS,1,2) + '00' AND SUBSTRING(@P_MENU_POS,1,2) + '99'

			SELECT @P_NEW_POS = SUBSTRING(@P_NEW_POS, 1, 2) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC, RIGHT(@P_NEW_POS,2)) + 1 ), 2)
		END
		IF LEN(@P_MENU_POS) = 8
		BEGIN
			SELECT 	@P_NEW_POS = MAX(MENU_POS)
			FROM 	VBASE_P_MENU 
			WHERE 	C_CODE = @P_C_CODE AND SNO = @P_SNO AND LEN(MENU_POS) = 6 AND MENU_POS BETWEEN SUBSTRING(@P_MENU_POS,1,4) + '00' AND SUBSTRING(@P_MENU_POS,1,4) + '99'

			SELECT @P_NEW_POS = SUBSTRING(@P_NEW_POS, 1, 4) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC, RIGHT(@P_NEW_POS,2)) + 1 ), 2)
		END
		IF LEN(@P_MENU_POS) = 10
		BEGIN
			SELECT 	@P_NEW_POS = MAX(MENU_POS)
			FROM 	VBASE_P_MENU 
			WHERE 	C_CODE = @P_C_CODE AND SNO = @P_SNO AND LEN(MENU_POS) = 8 AND MENU_POS BETWEEN SUBSTRING(@P_MENU_POS,1,6) + '00' AND SUBSTRING(@P_MENU_POS,1,6) + '99'

			SELECT @P_NEW_POS = SUBSTRING(@P_NEW_POS, 1, 6) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC, RIGHT(@P_NEW_POS,2)) + 1 ), 2)
		END
		IF LEN(@P_MENU_POS) = 12
		BEGIN
			SELECT 	@P_NEW_POS = MAX(MENU_POS)
			FROM 	VBASE_P_MENU 
			WHERE 	C_CODE = @P_C_CODE AND SNO = @P_SNO AND LEN(MENU_POS) = 10 AND MENU_POS BETWEEN SUBSTRING(@P_MENU_POS,1,8) + '00' AND SUBSTRING(@P_MENU_POS,1,8) + '99'

			SELECT @P_NEW_POS = SUBSTRING(@P_NEW_POS, 1, 8) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC, RIGHT(@P_NEW_POS,2)) + 1 ), 2)
		END
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('P_MENU UPDATE에러',16,1)
		    	RETURN 1 
		END

		--전자세금계산서관리
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, @MENU_ID, @P_NEW_POS, '1', '1', '1', '1', '1', '0')
		--전자세금계산서발행
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, '016080100000', @P_NEW_POS + '01', '1', '1', '1', '1', '1', '0')
		--전자세금계산서발행(역발행)
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, '016080200000', @P_NEW_POS + '02', '1', '1', '1', '1', '1', '0')
		--매입매출 전표처리
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, '016080300000', @P_NEW_POS + '03', '1', '1', '1', '1', '1', '0')
	
		IF( @@ERROR <> 0 )
		BEGIN
			CLOSE CUR_EBANK_MENU
			DEALLOCATE CUR_EBANK_MENU
			RAISERROR('P_MENU INSERT 에러',16,1)
		    	RETURN 1 
		END
		FETCH NEXT FROM CUR_EBANK_MENU INTO @P_C_CODE, @P_SNO, @P_MENU_POS
	END 
	
	CLOSE CUR_EBANK_MENU
	DEALLOCATE CUR_EBANK_MENU

	
	RETURN 0
	
END

GO
