USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[PRESETTLE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[PRESETTLE](
	[ACCT_CODE] [char](5) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[AMT1_1] [numeric](15, 0) NULL,
	[AMT1_2] [numeric](15, 0) NULL,
	[AMT2_1] [numeric](15, 0) NULL,
	[AMT2_2] [numeric](15, 0) NULL,
	[AMT3_1] [numeric](15, 0) NULL,
	[AMT3_2] [numeric](15, 0) NULL,
	[AMT4_1] [numeric](15, 0) NULL,
	[AMT4_2] [numeric](15, 0) NULL,
	[AMT5_1] [numeric](15, 0) NULL,
	[AMT5_2] [numeric](15, 0) NULL,
	[AMT6_1] [numeric](15, 0) NULL,
	[AMT6_2] [numeric](15, 0) NULL,
	[CON_TYPE] [char](1) NULL,
	[CON_LEVEL] [char](1) NULL,
 CONSTRAINT [PK_PRESETTLE] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
