USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_WASTEH]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_WASTEH](
	[C_CODE] [varchar](4) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_YEAR] [char](12) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[EJE_GUBUN] [char](1) NOT NULL,
	[QT] [numeric](15, 0) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[GONG_RATE_CODE] [char](1) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[TAX_COUNT] [numeric](7, 0) NOT NULL,
	[VEN_COUNT] [numeric](7, 0) NOT NULL,
	[PUMMYUNG] [varchar](30) NULL,
	[YE_AMT] [numeric](15, 0) NULL,
	[HWAK_AMT] [numeric](15, 0) NULL,
	[TAX_DANGMAE] [numeric](15, 0) NULL,
	[BILL_DANGMAE] [numeric](15, 0) NULL,
	[YE_REFUND] [numeric](15, 0) NULL,
	[PERMONTH_REFUND] [numeric](15, 0) NULL,
	[CALC_TAX_AMT] [numeric](15, 0) NULL,
 CONSTRAINT [PK_TAX_WASTEH] PRIMARY KEY CLUSTERED 
(
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[GISU_GUBUN] ASC,
	[DATE_YEAR] ASC,
	[C_CODE] ASC,
	[S_IDNO] ASC,
	[EJE_GUBUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__TAX_G__0DD9F539]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__EJE_G__0ECE1972]  DEFAULT ('1') FOR [EJE_GUBUN]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTEH__QT__0FC23DAB]  DEFAULT ((0)) FOR [QT]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__GONG___10B661E4]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__GONG___11AA861D]  DEFAULT ('1') FOR [GONG_RATE_CODE]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__TAX_A__129EAA56]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__TAX_C__1392CE8F]  DEFAULT ((1)) FOR [TAX_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__VEN_C__1486F2C8]  DEFAULT ((1)) FOR [VEN_COUNT]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__YE_AM__2176D992]  DEFAULT ((0)) FOR [YE_AMT]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__HWAK___226AFDCB]  DEFAULT ((0)) FOR [HWAK_AMT]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__TAX_D__235F2204]  DEFAULT ((0)) FOR [TAX_DANGMAE]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__BILL___2453463D]  DEFAULT ((0)) FOR [BILL_DANGMAE]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__YE_RE__25476A76]  DEFAULT ((0)) FOR [YE_REFUND]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__PERMO__263B8EAF]  DEFAULT ((0)) FOR [PERMONTH_REFUND]
GO
ALTER TABLE [DZAIS].[TAX_WASTEH] ADD  CONSTRAINT [DF__TAX_WASTE__CALC___272FB2E8]  DEFAULT ((0)) FOR [CALC_TAX_AMT]
GO
