USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UP_TAX_P_INSERT_MENU_ENDLINE]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
--맨마지막 라인에 추가하기
CREATE    PROCEDURE [DZAIS].[UP_TAX_P_INSERT_MENU_ENDLINE]
	@EXIST_ID		VARCHAR(12), --016030200000 (영세율첨부서류제출명세서)
	@MENU_ID		VARCHAR(12)  --016030R00000 (EXCEL IMPORT(부가세))
AS

DECLARE
	@P_C_CODE	CHAR(4),
	@P_SNO		VARCHAR(10),
	@P_MENU_POS   VARCHAR(12),
	@P_NEW_POS     VARCHAR(12),
	@P_MY_MENU	CHAR(1)

BEGIN 

	--P_MENU에 존재유무체크
	DECLARE  CUR_MENU_TEMP CURSOR FOR
	SELECT 	A.C_CODE, A.SNO, A.MENU_POS, A.MY_MENU
	FROM 	VBASE_P_MENU A
	WHERE 	A.MENU_ID = @EXIST_ID
	AND	NOT EXISTS ( SELECT C_CODE, SNO FROM VBASE_P_MENU WHERE C_CODE = A.C_CODE AND SNO = A.SNO AND MENU_ID = @MENU_ID  GROUP BY C_CODE, SNO )

	OPEN CUR_MENU_TEMP 
	
	--추가하려는 메뉴의 같은 레벨의 맨 마지막에 추가시킨다.
	FETCH NEXT FROM CUR_MENU_TEMP INTO @P_C_CODE, @P_SNO, @P_MENU_POS, @P_MY_MENU
	WHILE(@@FETCH_STATUS = 0)
	BEGIN 
		IF ( LEN(@P_MENU_POS) = 2 )
		BEGIN
			SELECT	@P_NEW_POS = MAX(MENU_POS)
			FROM	VBASE_P_MENU
			WHERE 	C_CODE = @P_C_CODE AND 
				SNO = @P_SNO AND 
				LEN(MENU_POS) = 2 AND 
				ISNUMERIC(MENU_POS) = 1

			SELECT @P_NEW_POS = RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,@P_NEW_POS) + 1), 2)
		END
		IF ( LEN(@P_MENU_POS) = 4 )
		BEGIN
			SELECT	@P_NEW_POS = MAX(MENU_POS)
			FROM	VBASE_P_MENU
			WHERE 	C_CODE = @P_C_CODE AND 
				SNO = @P_SNO AND 
				MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,2) + '%' AND
				LEN(MENU_POS) = 4 AND
				ISNUMERIC(SUBSTRING(MENU_POS,3,2)) = 1

			SELECT @P_NEW_POS = SUBSTRING(@P_NEW_POS,1,2) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_NEW_POS,3,2)) + 1), 2)
		END
		IF ( LEN(@P_MENU_POS) = 6 )
		BEGIN
			SELECT	@P_NEW_POS = MAX(MENU_POS)
			FROM	VBASE_P_MENU
			WHERE 	C_CODE = @P_C_CODE AND 
				SNO = @P_SNO AND 
				MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,4) + '%' AND
				LEN(MENU_POS) = 6 AND 
				ISNUMERIC(SUBSTRING(MENU_POS,5,2)) = 1

			SELECT @P_NEW_POS = SUBSTRING(@P_NEW_POS,1,4) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_NEW_POS,5,2)) + 1), 2)
		END
		IF LEN(@P_MENU_POS) = 8
		BEGIN
			SELECT	@P_NEW_POS = MAX(MENU_POS)
			FROM	VBASE_P_MENU
			WHERE 	C_CODE = @P_C_CODE AND 
				SNO = @P_SNO AND 
				MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,6) + '%' AND
				LEN(MENU_POS) = 8 AND 
				ISNUMERIC(SUBSTRING(MENU_POS,7,2)) = 1

			SELECT @P_NEW_POS = SUBSTRING(@P_NEW_POS,1,6) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_NEW_POS,7,2)) + 1), 2)
		END
		IF LEN(@P_MENU_POS) = 10
		BEGIN
			SELECT	@P_NEW_POS = MAX(MENU_POS)
			FROM	VBASE_P_MENU
			WHERE 	C_CODE = @P_C_CODE AND 
				SNO = @P_SNO AND 
				MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,8) + '%' AND
				LEN(MENU_POS) = 10 AND 
				ISNUMERIC(SUBSTRING(MENU_POS,9,2)) = 1

			SELECT @P_NEW_POS = SUBSTRING(@P_NEW_POS,1,8) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_NEW_POS,9,2)) + 1), 2)
		END
		IF LEN(@P_MENU_POS) = 12
		BEGIN
			SELECT	@P_NEW_POS = MAX(MENU_POS)
			FROM	VBASE_P_MENU
			WHERE 	C_CODE = @P_C_CODE AND 
				SNO = @P_SNO AND 
				MENU_POS LIKE SUBSTRING(@P_MENU_POS,1,10) + '%' AND
				LEN(MENU_POS) = 12 AND 
				ISNUMERIC(SUBSTRING(MENU_POS,11,2)) = 1

			SELECT @P_NEW_POS = SUBSTRING(@P_NEW_POS,1,10) + RIGHT( REPLICATE('0', 2) + CONVERT(VARCHAR(2), CONVERT(NUMERIC,SUBSTRING(@P_NEW_POS,11,2)) + 1), 2)
		END
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('P_MENU UPDATE에러',16,1)
		    	RETURN 1 
		END
		--납부서
		INSERT INTO VBASE_P_MENU (C_CODE, SNO, MENU_ID, MENU_POS, M_SELECT, M_INSERT, M_DELETE, M_UPDATE, M_PRINT, MY_MENU)
		VALUES(@P_C_CODE, @P_SNO, @MENU_ID, @P_NEW_POS, '1', '1', '1', '1', '1', @P_MY_MENU)
	
		IF( @@ERROR <> 0 )
		BEGIN
			RAISERROR('P_MENU INSERT 에러',16,1)
		    	RETURN 1 
		END
		FETCH NEXT FROM CUR_MENU_TEMP INTO @P_C_CODE, @P_SNO, @P_MENU_POS, @P_MY_MENU
	END 
	
	CLOSE CUR_MENU_TEMP
	DEALLOCATE CUR_MENU_TEMP
	
	RETURN 0
	
END

GO
