USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DEPOSITSUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DEPOSITSUM](
	[DEPOSIT_NO] [varchar](20) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[NODE_CODE] [char](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_DEPOSITSUM] PRIMARY KEY CLUSTERED 
(
	[ACCT_DATE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[DEPOSIT_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DEPOSITSUM] ADD  CONSTRAINT [DF_DEPOSITSUM_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[DEPOSITSUM] ADD  CONSTRAINT [DF_DEPOSITSUM_DR_AMT]  DEFAULT ((0)) FOR [DR_AMT]
GO
ALTER TABLE [DZAIS].[DEPOSITSUM] ADD  CONSTRAINT [DF_DEPOSITSUM_CR_AMT]  DEFAULT ((0)) FOR [CR_AMT]
GO
