USE [DZAIS]
GO
/****** Object:  View [DZAIS].[AVASSET2]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW [DZAIS].[AVASSET2]
AS
SELECT 
 A.DOCU_DECI_DATE	ISU_DT  		--결의일자
,A.TAX_GUBUN		SINGO_FG  	--신고구분 0.사업장별, 1. 사업자단위별
,A.TAX_NO		SEQ_NB		--세금계산서 KEY
,A.C_CODE		CO_CD		--회사코드
,A.SEQ			ASSET_SQ	--자산일련번호
,A.NODE_CODE		DIV_CD		--신고귀속사업장
,B.BAL_DATE		ISS_DT		--발행일자
,A.BUY_DATE		TAX_DT		--세금계산서일자
,A.ASSET_GUBUN		ASSET_FG	--1.건물, 2.기계장치, 3.차량, 4.기타자산
,B.S_IDNO		TR_CD		--거래처코드
,B.S_IDNO		REG_NB		--사업자등록번호
,A.ITEM_NAME		ITEM_DC		--품명
,A.GONG_AMT		SUP_AM		--공급가액
,A.TAX_AMT		VAT_AM		--세액
,A.ASSET_COUNT		MATT_CNT	--건수
,A.DOCU_DECI_NO	ISU_SQ		--결의번호
,A.DOCU_LINE_NO	LN_SQ		--라인번호
,''			INSERT_DT
,''			INSERT_ID
,''			INSERT_IP	
,''			MODIFY_DT	
,''			MODIFY_ID
,''			MODIFY_IP
FROM TAX_ASSET  A, TAX B
WHERE A.DOCU_DECI_DATE = B.DECI_DATE
AND	  A.TAX_NO = B.TAX_NO
AND   A.NODE_CODE=B.NODE_CODE
AND	  A.C_CODE = B.C_CODE
AND	  B.DOCU_STAT= '3'
AND   A.TAX_GUBUN = '0'

GO
