USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[B2BREQSTATE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[B2BREQSTATE](
	[ADDDATE] [varchar](8) NOT NULL,
	[ADDTIME] [varchar](6) NOT NULL,
	[BANKCODE] [varchar](2) NOT NULL,
	[USERID] [varchar](10) NOT NULL,
	[UPCHECODE] [varchar](4) NOT NULL,
	[UPCHEKEY] [varchar](10) NOT NULL,
	[TRCODE] [varchar](4) NOT NULL,
	[STATE] [varchar](1) NOT NULL,
	[HEADER1] [varchar](100) NULL,
	[HEADER2] [varchar](100) NULL,
	[HEADER3] [varchar](100) NULL,
	[HEADER4] [varchar](100) NULL,
	[HEADER5] [varchar](100) NULL,
	[HEADER6] [varchar](100) NULL,
	[HEADER7] [varchar](100) NULL,
	[HEADER8] [varchar](100) NULL,
	[HEADER9] [varchar](100) NULL,
	[HEADER10] [varchar](100) NULL,
 CONSTRAINT [PK_B2BREQSTATE] PRIMARY KEY CLUSTERED 
(
	[ADDDATE] ASC,
	[BANKCODE] ASC,
	[UPCHECODE] ASC,
	[TRCODE] ASC,
	[UPCHEKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__65F3F0D6]  DEFAULT (' ') FOR [HEADER1]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__66E8150F]  DEFAULT (' ') FOR [HEADER2]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__67DC3948]  DEFAULT (' ') FOR [HEADER3]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__68D05D81]  DEFAULT (' ') FOR [HEADER4]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__69C481BA]  DEFAULT (' ') FOR [HEADER5]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__6AB8A5F3]  DEFAULT (' ') FOR [HEADER6]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__6BACCA2C]  DEFAULT (' ') FOR [HEADER7]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__6CA0EE65]  DEFAULT (' ') FOR [HEADER8]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__6D95129E]  DEFAULT (' ') FOR [HEADER9]
GO
ALTER TABLE [DZAIS].[B2BREQSTATE] ADD  CONSTRAINT [DF__B2BREQSTA__HEADE__6E8936D7]  DEFAULT (' ') FOR [HEADER10]
GO
