USE [DZAIS]
GO
/****** Object:  View [DZAIS].[V_LCINFO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [DZAIS].[V_LCINFO] AS SELECT * FROM BASE.DZBASE.LCINFO


GO
