USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_GAJIGUBGUM_ACCT]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 


CREATE  PROC [DZAIS].[USP_IPLUS_GAJIGUBGUM_ACCT]
(
	@CO_CD				VARCHAR(4), 		
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8)  
	 
)
AS
BEGIN  

	-- exec [USP_IPLUS_COR_GAJIGUBGUM_ACCT_SELECT] '','5000',6, '20090101','20091231' 

	DECLARE @NEW_CO_CD VARCHAR(4) , 
		@CD_EMP VARCHAR(10) ,
		@NM_EMP VARCHAR(40)

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD

	SELECT 	A.CD_EMP, A.NM_EMP, 
		'0' TY_CEO,
		A.DA_DATE,
		A.TY_GUBUN, 
		A.CD_TRADE,
		A.NM_TRADE,
		A.TY_REMARK,
		A.CD_REMARK,
		A.MN_CR,
		A.MN_DR 			
	FROM	(
	 	SELECT  
			D.CHECKD_CODE CD_EMP,
			D.CHK_T_NAME 	NM_EMP,
			'0' TY_CEO,  
			D.ACCT_DATE 	DA_DATE,
			CASE WHEN S.PLUS_ACCT_CODE = '134' THEN '1' ELSE '2' END TY_GUBUN , 
			A.VEN_CODE CD_TRADE,
			T.CUST_NAME  NM_TRADE,
			CASE WHEN (S.PLUS_ACCT_CODE = '134' AND  A.AMT_GUBUN IN ('1','3') ) OR (S.PLUS_ACCT_CODE = '257' AND A.AMT_GUBUN IN ('2','4') ) THEN '2'
				 ELSE  '3' END TY_REMARK,
			A.NOTE_NAME CD_REMARK,	
			A.DR_AMT MN_DR,
			A.CR_AMT MN_CR 
		FROM 	DOCUD A
		    LEFT OUTER JOIN  
			VBASE_TRADE T ON (A.C_CODE = T.C_CODE	AND	A.VEN_CODE = T.CUST_CODE),
			DOCUDD D, 
			TAXACCTCODE S
		WHERE 	A.C_CODE = D.C_CODE
		AND	A.NODE_CODE = D.NODE_CODE
		AND	A.DEPT_CODE = D.DEPT_CODE
		AND	A.DECI_DATE = D.DECI_DATE
		AND	A.DECI_NO = D.DECI_NO
		AND	A.LINE_NO = D.LINE_NO
		AND	A.SLIP_NO = D.SLIP_NO
		AND	D.C_CODE = S.C_CODE
		AND	D.ACCT_CODE = S.ACCT_CODE
		AND	S.PLUS_ACCT_CODE IN ('134', '257')
		AND	D.CHECK_CODE = 'A17'
		AND	D.C_CODE = @NEW_CO_CD
		AND	D.ACCT_DATE BETWEEN @FR_DT AND @TO_DT
		AND 	D.CHECKD_CODE IS NOT NULL AND LEN(D.CHECKD_CODE) > 0 

		UNION ALL
	 	SELECT  
			CASE WHEN D.CHECK_CODE1 = 'A17' THEN D.CHECKD_CODE1
			WHEN D.CHECK_CODE2 = 'A17' THEN D.CHECKD_CODE2
			WHEN D.CHECK_CODE3 = 'A17' THEN D.CHECKD_CODE3
			WHEN D.CHECK_CODE4 = 'A17' THEN D.CHECKD_CODE4
			WHEN D.CHECK_CODE5 = 'A17' THEN D.CHECKD_CODE5 END CD_EMP,
			CASE WHEN D.CHECK_CODE1 = 'A17' THEN D.CHECKD_NAME1
			WHEN D.CHECK_CODE2 = 'A17' THEN D.CHECKD_NAME2
			WHEN D.CHECK_CODE3 = 'A17' THEN D.CHECKD_NAME3
			WHEN D.CHECK_CODE4 = 'A17' THEN D.CHECKD_NAME4
			WHEN D.CHECK_CODE5 = 'A17' THEN D.CHECKD_NAME5 END NM_EMP,
			'0' TY_CEO,  
			D.ACCT_DATE DA_DATE ,
			CASE WHEN S.PLUS_ACCT_CODE = '134' THEN '1' ELSE '2' END TY_GUBUN , 
			'' CD_TRADE,
			'' NM_TRADE, 
			'2' TY_REMARK,
			'' CD_REMARK,			
			D.DR_AMT MN_DR,
			D.CR_AMT MN_CR 
		FROM 	SUMCHECK D, 
			TAXACCTCODE S
		WHERE	D.C_CODE = S.C_CODE
		AND	D.ACCT_CODE = S.ACCT_CODE
		AND	S.PLUS_ACCT_CODE IN ('134', '257')
		AND	( 
				( D.CHECK_CODE1 = 'A17' AND D.CHECKD_CODE1 IS NOT NULL AND LEN(D.CHECKD_CODE1) > 0 ) OR
				( D.CHECK_CODE1 = 'A17' AND D.CHECKD_CODE2 IS NOT NULL AND LEN(D.CHECKD_CODE2) > 0 ) OR
				( D.CHECK_CODE1 = 'A17' AND D.CHECKD_CODE3 IS NOT NULL AND LEN(D.CHECKD_CODE3) > 0 ) OR
				( D.CHECK_CODE1 = 'A17' AND D.CHECKD_CODE4 IS NOT NULL AND LEN(D.CHECKD_CODE4) > 0 ) OR
				( D.CHECK_CODE1 = 'A17' AND D.CHECKD_CODE5 IS NOT NULL AND LEN(D.CHECKD_CODE5) > 0 ) 
			)
		AND	D.C_CODE = @NEW_CO_CD
		AND	D.ACCT_DATE = LEFT(@FR_DT,4) + '0000'
	) A  
	ORDER BY DA_DATE, TY_GUBUN , CD_EMP  

END
GO
