USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SUMAM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SUMAM](
	[ACCT_CODE] [char](5) NOT NULL,
	[ACCT_MON] [char](6) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
	[OUT_AMT] [numeric](15, 0) NOT NULL,
	[IN_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_SUMAM] PRIMARY KEY CLUSTERED 
(
	[ACCT_CODE] ASC,
	[ACCT_MON] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[SUMAM] ADD  CONSTRAINT [DF_SUMAM_DR_AMT]  DEFAULT ((0)) FOR [DR_AMT]
GO
ALTER TABLE [DZAIS].[SUMAM] ADD  CONSTRAINT [DF_SUMAM_CR_AMT]  DEFAULT ((0)) FOR [CR_AMT]
GO
ALTER TABLE [DZAIS].[SUMAM] ADD  CONSTRAINT [DF_SUMAM_OUT_AMT]  DEFAULT ((0)) FOR [OUT_AMT]
GO
ALTER TABLE [DZAIS].[SUMAM] ADD  CONSTRAINT [DF_SUMAM_IN_AMT]  DEFAULT ((0)) FOR [IN_AMT]
GO
