USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UP_SP_PARAMS_SELECT]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE PROCEDURE [DZAIS].[UP_SP_PARAMS_SELECT]
(
	@P_SPNAME VARCHAR(256)
)
AS
BEGIN
	SELECT 
		C.NAME AS PNAME, 
		C.XUSERTYPE AS PTYPE,
		(CASE C.ISOUTPARAM WHEN 0 THEN 1
						   WHEN 1 THEN 2
						   ELSE 3 END) AS PDIRECTION,
		CASE C.XUSERTYPE WHEN 35 THEN 2147483647	-- 파라미터가TEXT 타입이면
						 WHEN 99 THEN 1073741823	-- 파라미터가NTEXT 타입이면
						 WHEN 34 THEN 1073741823    -- 파라미터가IMAGE 타입이면
                         WHEN 241 THEN 1073741823	-- 파라미터가XML 타입이면
						 ELSE C.LENGTH 
		END AS PSIZE
	FROM SYSCOLUMNS C INNER JOIN SYSOBJECTS O ON C.ID = O.ID AND O.NAME = @P_SPNAME AND O.XTYPE = 'P' 
	ORDER BY C.COLID ASC
END

GO
