USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DZAIS_DB]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DZAIS_DB](
	[FILE_NAME] [varchar](50) NOT NULL,
	[DZAIS_DATE] [char](8) NOT NULL
) ON [PRIMARY]
GO
