USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DEBT_ACCT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DEBT_ACCT](
	[C_CODE] [varchar](4) NOT NULL,
	[PAY_GUBUN] [varchar](3) NOT NULL,
	[ACCT_CODE] [char](5) NULL,
	[TERM_START] [char](2) NULL,
	[SETTING_MON] [char](2) NULL,
	[SETTING_DAY] [char](2) NULL,
	[DEPOSIT_NO] [varchar](20) NULL,
	[PAY_NAME] [varchar](50) NULL,
	[PAY_TYPE] [varchar](3) NULL,
	[DATE_GUBUN] [char](1) NULL,
 CONSTRAINT [PK_DEBT_ACCT] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[PAY_GUBUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
