USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CHECKNASUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CHECKNASUM](
	[C_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[CHECKNA_CODE1] [char](3) NOT NULL,
	[CHECKNA_CODE2] [char](3) NOT NULL,
	[CHECKD_CODE1] [varchar](20) NOT NULL,
	[CHECKD_CODE2] [varchar](20) NOT NULL,
	[CHECKD_TEXT1] [varchar](40) NULL,
	[CHECKD_TEXT2] [varchar](40) NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_CHECKNASUM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GISU] ASC,
	[ACCT_DATE] ASC,
	[NODE_CODE] ASC,
	[ACCT_CODE] ASC,
	[CHECKNA_CODE1] ASC,
	[CHECKNA_CODE2] ASC,
	[CHECKD_CODE1] ASC,
	[CHECKD_CODE2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
