USE [DZAIS]
GO
/****** Object:  View [DZAIS].[ATAX_P]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE   VIEW [DZAIS].[ATAX_P]    
AS    
SELECT	C_CODE CO_CD,
	DECI_DATE ISU_DT,
	TAX_NO SEQ_NB,
	MAX(CASE TAXSUB_NO WHEN 1 THEN PUMMOK END) ITEM_NM1,
	MAX(CASE TAXSUB_NO WHEN 1 THEN QTY END) QT1,
	MAX(CASE TAXSUB_NO WHEN 1 THEN SUPPLY_PRICE END) SUP_AM1,
	MAX(CASE TAXSUB_NO WHEN 2 THEN PUMMOK END) ITEM_NM2,
	MAX(CASE TAXSUB_NO WHEN 2 THEN QTY END) QT2,
	MAX(CASE TAXSUB_NO WHEN 2 THEN SUPPLY_PRICE END) SUP_AM2,
	MAX(CASE TAXSUB_NO WHEN 3 THEN PUMMOK END) ITEM_NM3,
	MAX(CASE TAXSUB_NO WHEN 3 THEN QTY END) QT3,
	MAX(CASE TAXSUB_NO WHEN 3 THEN SUPPLY_PRICE END) SUP_AM3,
	MAX(CASE TAXSUB_NO WHEN 4 THEN PUMMOK END) ITEM_NM4,
	MAX(CASE TAXSUB_NO WHEN 4 THEN QTY END) QT4,
	MAX(CASE TAXSUB_NO WHEN 4 THEN SUPPLY_PRICE END) SUP_AM4
FROM	TAX_SUB
GROUP BY	C_CODE,
		DECI_DATE,
		TAX_NO

GO
