USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_GETCHAIPGUM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 


CREATE  PROC [DZAIS].[USP_IPLUS_GETCHAIPGUM]
(
	@CO_CD				VARCHAR(4), 		-- 회사코드 ( 필수 )
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8), 
	@CVT_CD_FROM	    	VARCHAR(5),
	@CVT_CD_TO		VARCHAR(5) 
	 
)
--WITH ENCRYPTION
AS
/*************************************************************************/
--설    명 : 회계관리 - 법인연동 - 차입금명세 
--수 정 자 : 김대영
--수정일자 : 2010/01/18
--수정내역 : 2010/01/18 : 신규 
/***/
BEGIN  

	-- EXEC [USP_IPLUS_COR_GETCHAIPGUM_SELECT] '','5000',6, '20090101','20091231' ,'13500','32500'

	DECLARE @NEW_CO_CD VARCHAR(4) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD
	SELECT 	A.ACCT_DATE 	DA_DATE, 
		A.VEN_CODE 	CD_TRADE, 
		CASE WHEN A.AMT_GUBUN IN ('1','3') THEN '1' ELSE '2' END TY_GUBN, 
		(A.DR_AMT + A.CR_AMT) MN_BUNGAE, 
		0 RT_INT,
		T.CUST_NAME  NM_TRADE 
	FROM 	DOCUD A
	    LEFT OUTER JOIN
		VBASE_TRADE T ON ( A.C_CODE = T.C_CODE	AND	A.VEN_CODE = T.CUST_CODE ),
		(
		SELECT 	A.* 
		FROM 	ACCTCODE A, FSACCT B, TAXACCTCODE C
		WHERE 	A.C_CODE = B.C_CODE
		AND	A.ACCT_CODE BETWEEN B.ACCT_CODE AND LEFT(B.ACCT_CODE,3) + '99'
		AND	B.C_CODE = @NEW_CO_CD AND B.FS_CODE = 'M07' 
		AND 	( 
				( B.GROUP_CODE = '2100' AND A.ACCT_GUBUN = '1' ) OR
				( B.GROUP_CODE = '2200' AND A.ACCT_GUBUN = '2' )
			)
		AND	A.C_CODE = C.C_CODE
		AND	A.ACCT_CODE = C.ACCT_CODE
		AND	C.PLUS_ACCT_CODE BETWEEN @CVT_CD_FROM AND @CVT_CD_TO
		) S
	WHERE 	A.C_CODE = S.C_CODE
	AND	A.ACCT_CODE = S.ACCT_CODE
	AND	A.C_CODE = @NEW_CO_CD
	AND 	A.ACCT_DATE BETWEEN @FR_DT AND @TO_DT

-- 	UNION ALL
-- 
-- 	SELECT 	LEFT(@FR_DT,4) + '0000'	DA_DATE, 
-- 		'' 	CD_TRADE, 
-- 		MAX(S.DRCR_GUBUN TY_GUBN, 
-- 		SUM(A.AMT) MN_BUNGAE, 
-- 		0 RT_INT,
-- 		''  NM_TRADE 
-- 	FROM 	VENDORSUM A, 
-- 		(
-- 		SELECT 	A.* 
-- 		FROM 	ACCTCODE A, FSACCT B, TAXACCTCODE C
-- 		WHERE 	A.C_CODE = B.C_CODE
-- 		AND	A.ACCT_CODE BETWEEN B.ACCT_CODE AND LEFT(B.ACCT_CODE,3) + '99'
-- 		AND	B.C_CODE = '8002' AND B.FS_CODE = 'M07' 
-- 		AND 	( 
-- 				( B.GROUP_CODE = '2100' AND A.ACCT_GUBUN = '1' ) OR
-- 				( B.GROUP_CODE = '2200' AND A.ACCT_GUBUN = '2' )
-- 			)
-- 		AND	A.C_CODE = C.C_CODE
-- 		AND	A.ACCT_CODE = C.ACCT_CODE
-- 		AND	C.PLUS_ACCT_CODE BETWEEN @CVT_CD_FROM AND @CVT_CD_TO
-- 		) S
-- 	WHERE 	A.C_CODE = S.C_CODE
-- 	AND	A.ACCT_CODE = S.ACCT_CODE
-- 	AND	A.C_CODE = @NEW_CO_CD
-- 	AND	A.GISU = CONVERT(INT, @GISU)  -- 기수

	ORDER BY DA_DATE ,  CD_TRADE 
END

GO
