USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPU_DOCUD_ADMISSION_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE      PROCEDURE [DZAIS].[UPU_DOCUD_ADMISSION_A]
(@O_C_CODE varchar(4),
 @O_NODE_CODE varchar(4),
 @O_DEPT_CODE varchar(12),
 @O_DECI_NO numeric(4),
 @O_DECI_DATE char(8),
 @O_SLIP_NO numeric(4),
 @O_LINE_NO numeric(4),
 @O_DOCU_NO numeric(4),
 @O_ACCT_DATE CHAR(8),
 @O_VEN_CODE VARCHAR(6),
 @O_ACCT_CODE CHAR(5),
 @O_BAN_DECI_DATE CHAR(8),
 @O_BAN_SLIP_NO NUMERIC(4),
 @O_BAN_DECI_NO NUMERIC(4),
 @N_C_CODE varchar(4),
 @N_NODE_CODE varchar(4),
 @N_DEPT_CODE varchar(12),
 @N_DECI_NO numeric(4),
 @N_DECI_DATE char(8),
 @N_SLIP_NO numeric(4),
 @N_LINE_NO numeric(4),
 @N_ACCT_CODE char(5),
 @N_DOCU_NO NUMERIC(4),
 @N_TA_GUBUN CHAR(1),
 @N_DR_AMT NUMERIC(15),
 @N_CR_AMT NUMERIC(15),
 @N_ACCT_DATE CHAR(8),
 @N_AMT_GUBUN CHAR(1),
 @N_BUDGET_DEPT_CODE VARCHAR(12),
 @N_PROJ_CODE VARCHAR(12),
 @N_VEN_CODE VARCHAR(6),
 @N_DEPOSIT_NO VARCHAR(20),
 @N_BAN_DECI_DATE CHAR(8),
 @N_DUE_DATE CHAR(8),
 @N_BAN_DECI_NO NUMERIC(4),
 @N_BAN_LINE_NO NUMERIC(4),
 @N_BAN_SLIP_NO NUMERIC(4),
 @N_BAN_DEPT_CODE VARCHAR(12),
 @N_BAN_NODE_CODE VARCHAR(4),
 @O_FUND_CODE CHAR(4),
 @O_BUDGET_DEPT_CODE VARCHAR(12),
 @O_DR_AMT NUMERIC(15),
 @O_CR_AMT NUMERIC(15),
 @O_PROJ_CODE VARCHAR(12),
 @O_AMT_GUBUN CHAR(1),
 @O_DEPOSIT_NO VARCHAR(20),
 @O_TA_GUBUN CHAR(1),
 @O_DUE_DATE CHAR(8),
 @N_FUND_CODE CHAR(4),
 @N_NOTE_NAME VARCHAR(100)
)
AS
/*************************************************************************
            설    명 : 전표 승인후 수정시 처리 루틴
**************************************************************************/

BEGIN
DECLARE
	@ERR_NO  INT,
	@cnt INT,
	@ERR_MSG    VARCHAR(100),
	@ban_gubun	CHAR(1),
	@term_gubun  CHAR(1),
	@cost_amt	NUMERIC(15),
	@gubun		CHAR(1),
	@cal_gisu    VARCHAR(4),
	@banamt      NUMERIC(15),
	@flag		INT,
	@inamt      NUMERIC(15),
	@outamt     NUMERIC(15),
	@outamt_sum NUMERIC(15),
	@inamt_sum  NUMERIC(15),
	@dramt      NUMERIC(15),
	@cramt      NUMERIC(15),
	@dramt_sum  NUMERIC(15),
	@cramt_sum  NUMERIC(15),
	@banamt_sum    NUMERIC(15),
	@exchamt    NUMERIC(15, 4),
	@exch_banamt    NUMERIC(15, 4),
	@get_gisu   VARCHAR(3),
	@get_fdate  CHAR(8),
	@s_duedate  CHAR(8),
	@s_vencode  VARCHAR(6),
	@V_BUDGET_CODE VARCHAR(12),
	@V_PROJ_CODE VARCHAR(12),
	@oldexchamt NUMERIC(15, 4),
	@s_gubuncode VARCHAR(2),
	@s_inamt      NUMERIC(15),
	@s_outamt     NUMERIC(15),
	@ACCT_GUBUN	CHAR(1),
	@ld_jan NUMERIC(15),
	@ld_exchjan NUMERIC(15, 4)

	SELECT @ERR_NO = 20020
	SELECT @flag = 0

	SELECT @ban_gubun = BAN_YN, @term_gubun = TERMCOST_YN, @ACCT_GUBUN = ACCT_GUBUN
	FROM ACCTCODE
	WHERE C_CODE = @N_C_CODE
	AND ACCT_CODE = @N_ACCT_CODE

	IF @@ROWCOUNT = 0 RAISERROR (@ERR_NO, 16, -1, '계정과목 등록화면에서 확인하신후 처리하십시요!')

	-- 승인된 후 수정처리 루틴
	IF ( @O_DOCU_NO <> 0 AND  @N_DOCU_NO <> 0 ) 
	BEGIN
		---- 자금처리 수정
		IF ( @O_FUND_CODE IS NOT NULL AND @N_FUND_CODE IS NULL )
		BEGIN
			DELETE FROM FUNDDO
			WHERE DECI_DATE = @N_DECI_DATE
			AND DECI_NO   = @N_DECI_NO
			AND DEPT_CODE = @N_DEPT_CODE
			AND LINE_NO   = @N_LINE_NO
			AND SLIP_NO   = @N_SLIP_NO
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE    = @N_C_CODE
		END
		ELSE IF ( @O_FUND_CODE IS NOT NULL AND @N_FUND_CODE IS NOT NULL )
		BEGIN
			UPDATE FUNDDO
			SET FUNDD_AMT = FUNDD_AMT + (@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT),
			FUND_RMK = @N_NOTE_NAME,
			ACCT_DATE = @N_ACCT_DATE,
			FUND_CODE = @N_FUND_CODE
			WHERE DECI_DATE = @N_DECI_DATE
			AND DECI_NO   = @N_DECI_NO
			AND DEPT_CODE = @N_DEPT_CODE
			AND LINE_NO   = @N_LINE_NO
			AND SLIP_NO   = @N_SLIP_NO
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE    = @N_C_CODE
		END
		ELSE IF ( @O_FUND_CODE IS NULL AND @N_FUND_CODE IS NOT NULL )
		BEGIN
			INSERT INTO FUNDDO
			(C_CODE,    NODE_CODE, SLIP_NO, LINE_NO,
			FUND_CODE, DEPT_CODE, DECI_NO, DECI_DATE,
			ACCT_DATE, FUNDD_AMT, FUND_RMK )
			VALUES
			(@N_C_CODE,    @N_NODE_CODE, @N_SLIP_NO, @N_LINE_NO,
			@N_FUND_CODE, @N_DEPT_CODE, @N_DECI_NO, @N_DECI_DATE,
			@N_ACCT_DATE, @N_DR_AMT + @N_CR_AMT, @N_NOTE_NAME )
		END

		--  일/월 /부서/프로젝트별/거래처별/관리항목별 집계
		-- 타계정 으로/에서  대체 구하는 법
		IF (  @O_TA_GUBUN = '2' AND @N_TA_GUBUN = '2' )
		BEGIN
			SELECT @inamt = (@N_DR_AMT - @O_DR_AMT)
			SELECT @outamt = 0
		END
		ELSE IF ( (  @O_TA_GUBUN = '2' AND @N_TA_GUBUN = '1'  ) )
		BEGIN
			SELECT @inamt = - (@O_DR_AMT)
			SELECT @outamt = (@N_CR_AMT)
		END
		ELSE IF ( (  @O_TA_GUBUN = '2' AND @N_TA_GUBUN = '0'  ) )
		BEGIN
			SELECT @inamt = - (@O_DR_AMT)
			SELECT @outamt = 0
		END
		ELSE IF ( (  @O_TA_GUBUN = '1' AND @N_TA_GUBUN = '1'  ) )
		BEGIN
			SELECT @outamt = (@N_CR_AMT- @O_CR_AMT)
			SELECT @inamt = 0
		END
		ELSE IF ( (  @O_TA_GUBUN = '1' AND @N_TA_GUBUN = '2'  ) )
		BEGIN
			SELECT @outamt = - (@O_CR_AMT)
			SELECT @inamt = (@N_DR_AMT)
		END
		ELSE IF ( (  @O_TA_GUBUN = '1' AND @N_TA_GUBUN = '0'  ) )
		BEGIN
			SELECT @outamt = - (@O_CR_AMT)
			SELECT @inamt = 0
		END
		ELSE IF ( (  @O_TA_GUBUN = '0' AND @N_TA_GUBUN = '2'  ) )
		BEGIN
			SELECT @inamt =  (@N_DR_AMT)
			SELECT @outamt = 0
		END
		ELSE IF ( (  @O_TA_GUBUN = '0' AND @N_TA_GUBUN = '1'  ) )
		BEGIN
			SELECT @outamt = (@N_CR_AMT)
			SELECT @inamt = 0
		END
		ELSE
		BEGIN
			SELECT @inamt  = 0
			SELECT @outamt = 0
		END

		SELECT @ERR_NO = 20021
		-- insert DIARYSUM
		-- 일집계 테이블
		-- 현금 집계
		IF ( @N_AMT_GUBUN = '1' OR @N_AMT_GUBUN = '2' )
		BEGIN
			UPDATE DIARYSUM
			SET 	DR_AMT = DR_AMT + ( CASE @N_AMT_GUBUN	WHEN '1' THEN  (@N_CR_AMT - @O_CR_AMT) ELSE 0 END),
				CR_AMT = CR_AMT + ( CASE @N_AMT_GUBUN	WHEN '2' THEN  (@N_DR_AMT - @O_DR_AMT) ELSE 0 END)
			WHERE ACCT_DATE = @N_ACCT_DATE
			AND ACCT_CODE = '10100'
			AND DEPT_CODE = @N_DEPT_CODE
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE    = @N_C_CODE
		END

		SELECT @ERR_NO = 20022
		UPDATE DIARYSUM
		SET 	DR_AMT  = DR_AMT + (@N_DR_AMT - @O_DR_AMT) , CR_AMT = CR_AMT + (@N_CR_AMT - @O_CR_AMT),
			OUT_AMT = OUT_AMT + @outamt, IN_AMT = IN_AMT + @inamt
		WHERE ACCT_DATE = @N_ACCT_DATE
		AND ACCT_CODE = @N_ACCT_CODE
		AND DEPT_CODE = @N_DEPT_CODE
		AND NODE_CODE = @N_NODE_CODE
		AND C_CODE    = @N_C_CODE

		-- insert SUMAM
		SELECT @ERR_NO = 20024
		-- 월집계 테이블
		-- 현금 집계
		IF ( @N_AMT_GUBUN = '1' OR @N_AMT_GUBUN = '2' )
		BEGIN
		SELECT @ERR_NO = 20023
			UPDATE SUMAM
			SET 	CR_AMT = CR_AMT + ( CASE @N_AMT_GUBUN	WHEN '2' THEN  (@N_DR_AMT - @O_DR_AMT) ELSE 0 END)  ,
				DR_AMT = DR_AMT +  ( CASE @N_AMT_GUBUN	WHEN '1' THEN  (@N_CR_AMT - @O_CR_AMT) ELSE 0 END)
			WHERE ACCT_MON = SUBSTRING(@N_ACCT_DATE,1,6)
			AND ACCT_CODE = '10100'
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE    = @N_C_CODE
		END

		SELECT @ERR_NO = 20024

	    	UPDATE SUMAM
		SET 	DR_AMT  = DR_AMT + (@N_DR_AMT - @O_DR_AMT),
			CR_AMT  = CR_AMT + (@N_CR_AMT - @O_CR_AMT),
			OUT_AMT = OUT_AMT + @outamt, IN_AMT = IN_AMT + @inamt
		WHERE ACCT_CODE = @N_ACCT_CODE
		AND ACCT_MON  = SUBSTRING(@N_ACCT_DATE,1,6)
		AND NODE_CODE = @N_NODE_CODE
		AND C_CODE    = @N_C_CODE

		SELECT @ERR_NO = 20025
		-- insert SUMNAM


		-- 부서별 프로젝트별 집계 테이블
		-- BUDGET_TYPE = '4'일때는 보류
		-- PK가 변경되지 않았을때
		SELECT @O_BUDGET_DEPT_CODE = ISNULL(@O_BUDGET_DEPT_CODE, '****')
		SELECT @N_BUDGET_DEPT_CODE = ISNULL(@N_BUDGET_DEPT_CODE, '****')
		SELECT @O_PROJ_CODE = ISNULL( @O_PROJ_CODE, '****')
		SELECT @N_PROJ_CODE = ISNULL( @N_PROJ_CODE, '****')


		IF ( ( @O_BUDGET_DEPT_CODE = @N_BUDGET_DEPT_CODE ) AND
		   ( @O_PROJ_CODE = @N_PROJ_CODE ) )
		BEGIN
			IF (( @N_BUDGET_DEPT_CODE IS NULL AND @N_PROJ_CODE IS NULL ) )
			BEGIN
				SELECT @V_BUDGET_CODE = '****'
				SELECT @V_PROJ_CODE = '****'
			END
			ELSE IF ( ( @N_BUDGET_DEPT_CODE IS NULL AND @N_PROJ_CODE IS NOT NULL ) )
			BEGIN
				SELECT @V_BUDGET_CODE = '****'
				SELECT @V_PROJ_CODE = @N_PROJ_CODE
			END
			ELSE IF ( ( @N_BUDGET_DEPT_CODE IS NOT NULL AND @N_PROJ_CODE IS NULL ) )
			BEGIN
				SELECT @V_PROJ_CODE = '****'
				SELECT @V_BUDGET_CODE = @N_BUDGET_DEPT_CODE
			END
			ELSE
			BEGIN
				SELECT @V_PROJ_CODE = @N_PROJ_CODE
				SELECT @V_BUDGET_CODE = @N_BUDGET_DEPT_CODE
			END
	
	
			-- 현금 집계
			IF ( @N_AMT_GUBUN = '1' OR @N_AMT_GUBUN = '2' )
			BEGIN
				SELECT @ERR_NO = 20036
				UPDATE SUMNAM
				SET 	CR_AMT = CR_AMT + ( CASE @N_AMT_GUBUN WHEN '2' THEN  (@N_DR_AMT - @O_DR_AMT) ELSE 0 END) ,
					DR_AMT = DR_AMT +  ( CASE @N_AMT_GUBUN WHEN '1' THEN  (@N_CR_AMT - @O_CR_AMT) ELSE 0 END)
				WHERE ACCT_CODE = '10100'
				AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
				AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
				AND NODE_CODE = @N_NODE_CODE
				AND ACCT_MON  = SUBSTRING(@O_ACCT_DATE,1,6)
				AND C_CODE    = @N_C_CODE
			END
	
			SELECT @ERR_NO = 20037

			UPDATE SUMNAM
			SET 	DR_AMT  = DR_AMT + (@N_DR_AMT - @O_DR_AMT),
				CR_AMT  = CR_AMT + (@N_CR_AMT - @O_CR_AMT),
				OUT_AMT = OUT_AMT + @outamt, IN_AMT = IN_AMT + @inamt
			WHERE ACCT_CODE = @N_ACCT_CODE
			AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
			AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
			AND NODE_CODE = @N_NODE_CODE
			AND ACCT_MON  = SUBSTRING(@N_ACCT_DATE,1,6)
			AND C_CODE    = @N_C_CODE
			
			SELECT @ERR_NO = 20099
			-- PK가 변경되었을때
		END
		ELSE
		BEGIN
			IF (( @O_BUDGET_DEPT_CODE IS NULL AND @O_PROJ_CODE IS NULL ) )
			BEGIN
				SELECT @V_BUDGET_CODE = '****'
				SELECT @V_PROJ_CODE = '****'
			END
			ELSE IF ( ( @O_BUDGET_DEPT_CODE IS NULL AND @O_PROJ_CODE IS NOT NULL ) )
			BEGIN
				SELECT @V_BUDGET_CODE = '****'
				SELECT @V_PROJ_CODE = @O_PROJ_CODE
			END
			ELSE IF ( ( @O_BUDGET_DEPT_CODE IS NOT NULL AND @O_PROJ_CODE IS NULL ) )
			BEGIN
				SELECT @V_PROJ_CODE = '****'
				SELECT @V_BUDGET_CODE = @O_BUDGET_DEPT_CODE
			END
			ELSE
			BEGIN
				SELECT @V_PROJ_CODE = @O_PROJ_CODE
				SELECT @V_BUDGET_CODE = @O_BUDGET_DEPT_CODE
			END
	
			-- 현금 집계
			IF ( @N_AMT_GUBUN = '1' OR @N_AMT_GUBUN = '2' )
			BEGIN
				SELECT @ERR_NO = 20078
	
				UPDATE SUMNAM
				SET 	CR_AMT = CR_AMT - ( CASE @N_AMT_GUBUN	WHEN '2' THEN  @O_DR_AMT ELSE 0 END)  ,
					DR_AMT = DR_AMT -  ( CASE @N_AMT_GUBUN	WHEN '1' THEN  @O_CR_AMT ELSE 0 END)
				WHERE ACCT_CODE = '10100'
				AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
				AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
				AND NODE_CODE = @O_NODE_CODE
				AND ACCT_MON  = SUBSTRING(@O_ACCT_DATE,1,6)
				AND C_CODE    = @N_C_CODE
			END

			SELECT @ERR_NO = 20059

			IF ((  @O_TA_GUBUN = '2' ) )
			BEGIN
				SELECT @s_inamt = @O_DR_AMT
				SELECT @s_outamt = 0
			END
			ELSE IF ( ( @O_TA_GUBUN = '1'  ) )
			BEGIN
				SELECT @s_outamt = @O_CR_AMT
				SELECT @s_inamt = 0
			END
			ELSE
			BEGIN
				SELECT @s_inamt  = 0
				SELECT @s_outamt = 0
			END

			SELECT @ERR_NO = 20010
			UPDATE SUMNAM
			SET 	DR_AMT  = DR_AMT - @O_DR_AMT,
				CR_AMT  = CR_AMT - @O_CR_AMT,
				OUT_AMT = OUT_AMT + @outamt, IN_AMT = IN_AMT + @inamt
			WHERE ACCT_CODE = @O_ACCT_CODE
			AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
			AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
			AND NODE_CODE = @O_NODE_CODE
			AND ACCT_MON  = SUBSTRING(@O_ACCT_DATE,1,6)
			AND C_CODE    = @O_C_CODE

			IF ( ( @N_BUDGET_DEPT_CODE IS NULL AND @N_PROJ_CODE IS NULL ) )
			BEGIN
				SELECT @V_BUDGET_CODE = '****'
				SELECT @V_PROJ_CODE = '****'
			END
			ELSE IF ( ( @N_BUDGET_DEPT_CODE IS NULL AND @N_PROJ_CODE IS NOT NULL ) )
			BEGIN
				SELECT @V_BUDGET_CODE = '****'
				SELECT @V_PROJ_CODE = @N_PROJ_CODE
			END
			ELSE IF ( ( @N_BUDGET_DEPT_CODE IS NOT NULL AND @N_PROJ_CODE IS NULL ) )
			BEGIN
				SELECT @V_PROJ_CODE = '****'
				SELECT @V_BUDGET_CODE = @N_BUDGET_DEPT_CODE
			END
			ELSE
			BEGIN
				SELECT @V_PROJ_CODE = @N_PROJ_CODE
				SELECT @V_BUDGET_CODE = @N_BUDGET_DEPT_CODE
			END
	
			IF ((  @N_TA_GUBUN = '2' ) )
			BEGIN
				SELECT @s_inamt = @N_DR_AMT
				SELECT @s_outamt = 0
			END
			ELSE IF ( ( @N_TA_GUBUN = '1'  ) )
			BEGIN
				SELECT @s_outamt = @N_CR_AMT
				SELECT @s_inamt = 0
			END
			ELSE
			BEGIN
				SELECT @s_inamt  = 0
				SELECT @s_outamt = 0
			END

			-- 현금 집계
			IF ( @N_AMT_GUBUN = '1' OR @N_AMT_GUBUN = '2' )
			BEGIN
				SELECT @ERR_NO = 20011
				UPDATE SUMNAM
				SET 	CR_AMT = CR_AMT + ( CASE @N_AMT_GUBUN	WHEN '2' THEN  @N_DR_AMT ELSE 0 END)  ,
					DR_AMT = DR_AMT +  ( CASE @N_AMT_GUBUN	WHEN '1' THEN  @N_CR_AMT ELSE 0 END)
				WHERE ACCT_CODE = '10100'
				AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
				AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
				AND NODE_CODE = @N_NODE_CODE
				AND ACCT_MON  = SUBSTRING(@N_ACCT_DATE,1,6)
				AND C_CODE    = @N_C_CODE
			END

			SELECT @ERR_NO = 20012
			SELECT @flag = 6
			FROM SUMNAM
			WHERE ACCT_CODE = @N_ACCT_CODE
			AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
			AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
			AND NODE_CODE = @N_NODE_CODE
			AND ACCT_MON  = SUBSTRING(@N_ACCT_DATE,1,6)
			AND C_CODE    = @N_C_CODE

			IF ( @flag = 6 )
			BEGIN
				--  있을때는 UPDATE
				SELECT @ERR_NO = 20013
				UPDATE SUMNAM
				SET 	DR_AMT  = DR_AMT + @N_DR_AMT,
					CR_AMT  = CR_AMT + @N_CR_AMT,
					OUT_AMT = OUT_AMT + @s_outamt, IN_AMT = IN_AMT + @s_inamt
				WHERE ACCT_CODE = @N_ACCT_CODE
				AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
				AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
				AND NODE_CODE = @N_NODE_CODE
				AND ACCT_MON  = SUBSTRING(@N_ACCT_DATE,1,6)
				AND C_CODE    = @N_C_CODE
			END
			ELSE
			BEGIN
				SELECT @ERR_NO = 20014
				-- 없을때는 삽입
				INSERT INTO SUMNAM
					( C_CODE, NODE_CODE, ACCT_MON,
					  DEPT_CODE, PROJ_CODE, ACCT_CODE, DR_AMT,
					  CR_AMT, OUT_AMT, IN_AMT )
				VALUES
					(@N_C_CODE, @N_NODE_CODE, SUBSTRING(@N_ACCT_DATE,1,6),
					 ISNULL(@V_BUDGET_CODE,'****'), ISNULL(@V_PROJ_CODE,'****'), @N_ACCT_CODE,@N_DR_AMT,
					 @N_CR_AMT, @outamt, @inamt )
			END

			SELECT @ERR_NO = 20014
		END


		-- insert VENDORSUM
		-- 거래처별 집계 테이블
		IF ( @N_VEN_CODE IS NOT NULL )
		BEGIN
			SELECT @ERR_NO = 20015
			IF ( @O_VEN_CODE = @N_VEN_CODE )
			BEGIN
				UPDATE VENDORSUM
				SET 	DR_AMT  = DR_AMT + (@N_DR_AMT - @O_DR_AMT),
					CR_AMT  = CR_AMT + (@N_CR_AMT - @O_CR_AMT)
				WHERE VEN_CODE  = @N_VEN_CODE
				AND ACCT_DATE = @N_ACCT_DATE
				AND ACCT_CODE = @N_ACCT_CODE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE = @N_C_CODE
			 END
			 ELSE  -- 거래처가 바뀌면
			 BEGIN
				SELECT @ERR_NO = 20016
				UPDATE VENDORSUM
				SET 	DR_AMT  = DR_AMT - @O_DR_AMT,
					CR_AMT  = CR_AMT - @O_CR_AMT
				WHERE VEN_CODE  = @O_VEN_CODE
				AND ACCT_DATE = @N_ACCT_DATE
				AND ACCT_CODE = @N_ACCT_CODE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE = @N_C_CODE
				
				SELECT @ERR_NO = 20017
				UPDATE VENDORSUM
				SET 	DR_AMT  = DR_AMT + @N_DR_AMT,
					CR_AMT  = CR_AMT + @N_CR_AMT
				WHERE VEN_CODE  = @N_VEN_CODE
				AND ACCT_DATE = @N_ACCT_DATE
				AND ACCT_CODE = @N_ACCT_CODE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE = @N_C_CODE
	
				 IF ( @@ROWCOUNT = 0 )
				 BEGIN
					SELECT @ERR_NO = 20018
					INSERT INTO VENDORSUM
						( C_CODE, NODE_CODE, VEN_CODE,
					  	ACCT_DATE, ACCT_CODE, DR_AMT, CR_AMT, BAN_AMT )
					VALUES
						(@N_C_CODE, @N_NODE_CODE, @N_VEN_CODE,
						@N_ACCT_DATE, @N_ACCT_CODE, @N_DR_AMT, @N_CR_AMT, 0 )
				END
			END
		END
	
		-- 예적금 집계 테이블
		IF ( @N_DEPOSIT_NO IS NOT NULL AND ((@N_ACCT_CODE >= '10100' AND @N_ACCT_CODE <='15099' AND (@ACCT_GUBUN = '1' OR @ACCT_GUBUN  = '2'))
					    OR (@N_ACCT_CODE >= '17100' AND @N_ACCT_CODE <='20099' AND (@ACCT_GUBUN = '1' OR @ACCT_GUBUN  = '2' OR @ACCT_GUBUN = 'J' OR @ACCT_GUBUN = 'H'))
						 OR (@N_ACCT_CODE >= '25100' AND @N_ACCT_CODE <='29099' AND @ACCT_GUBUN = '1')))
	
		BEGIN
			IF ( @O_DEPOSIT_NO = @N_DEPOSIT_NO )
			BEGIN
				SELECT @ERR_NO = 20019
				UPDATE DEPOSITSUM
				SET 	DR_AMT  = DR_AMT + (@N_DR_AMT - @O_DR_AMT) ,
					CR_AMT = CR_AMT + (@N_CR_AMT - @O_CR_AMT)
				WHERE DEPOSIT_NO  = @N_DEPOSIT_NO
				AND ACCT_DATE = @N_ACCT_DATE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE = @N_C_CODE
			END
			ELSE -- 예적금 번호가 바뀌었을때 처리
			BEGIN
				SELECT @ERR_NO = 20020
				UPDATE DEPOSITSUM
				SET 	DR_AMT  = DR_AMT  - @O_DR_AMT,
					CR_AMT = CR_AMT  - @O_CR_AMT
				WHERE DEPOSIT_NO  = @O_DEPOSIT_NO
				AND ACCT_DATE = @N_ACCT_DATE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE = @N_C_CODE
	
				BEGIN
					SELECT @ERR_NO = 20021
					UPDATE DEPOSITSUM
					SET 	DR_AMT  = DR_AMT + @N_DR_AMT ,
						CR_AMT = CR_AMT + @N_CR_AMT
					WHERE 	DEPOSIT_NO  = @N_DEPOSIT_NO
					AND ACCT_DATE = @N_ACCT_DATE
					AND NODE_CODE = @N_NODE_CODE
					AND C_CODE = @N_C_CODE
				
					IF ( @@ROWCOUNT = 0 )
					BEGIN
						SELECT @ERR_NO = 20022
						
						INSERT INTO DEPOSITSUM
						( C_CODE, NODE_CODE, ACCT_DATE, DEPOSIT_NO,
						DR_AMT, CR_AMT )
						VALUES
						(@N_C_CODE, @N_NODE_CODE, @N_ACCT_DATE,
						@N_DEPOSIT_NO, @N_DR_AMT, @N_CR_AMT)
					END
				END
			END
		END

		--2008/03/27 (기존 선급비용 입력없이 승인처리했다가 추가 입력한 경우
		-- 선급비용 처리
		IF ( @term_gubun = '1' )
		BEGIN
			SELECT @ERR_NO = 20093

			UPDATE TERMCOST
			   SET ACCT_DATE = @N_ACCT_DATE, DOCU_NO = @N_DOCU_NO
			 WHERE DECI_DATE = @N_DECI_DATE
				AND DECI_NO   = @N_DECI_NO
				AND LINE_NO   = @N_LINE_NO
				AND SLIP_NO   = @N_SLIP_NO
				AND DEPT_CODE = @N_DEPT_CODE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE    = @N_C_CODE
				AND ACCT_DATE = '00000000'
		END

		IF  ( @N_BAN_DECI_DATE <> '00000000' OR @N_BAN_DECI_NO > 0 )
		BEGIN
			SELECT @ld_jan = ACCT_AMT - BAN_AMT, @ld_exchjan = EXCH_ACCT_AMT - EXCH_BAN_AMT, @s_vencode = VEN_CODE, @s_duedate = DUE_DATE
			FROM DOCUBAN
			WHERE DECI_NO = @N_BAN_DECI_NO
			AND DECI_DATE = @N_BAN_DECI_DATE
			AND LINE_NO = @N_BAN_LINE_NO
			AND SLIP_NO = @N_BAN_SLIP_NO
			AND DEPT_CODE = @N_BAN_DEPT_CODE
			AND NODE_CODE = @N_BAN_NODE_CODE
			AND C_CODE = @N_C_CODE
			
			IF ( @@ROWCOUNT = 0 ) SELECT  @ld_exchjan = 0, @ld_jan = 0
--			IF ( @s_vencode <> @N_VEN_CODE )
			IF RTRIM(ISNULL(@s_vencode,'')) <> RTRIM(ISNULL(@N_VEN_CODE,''))
			BEGIN
				RAISERROR (@ERR_NO, 16, -1, '원인전표의 거래처값과 다릅니다!')
			END

			IF ( (@ld_jan > 0 and (@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT) > @ld_jan) or (@ld_jan < 0 and (@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT) < @ld_jan) )
			BEGIN
				SELECT	@ERR_MSG =  '//' + @N_BAN_DECI_DATE + CONVERT(CHAR(4),@N_BAN_DECI_NO) + 
						CONVERT(CHAR(4),@N_BAN_LINE_NO) +CONVERT(CHAR(4),@N_BAN_SLIP_NO) + '//'
				RAISERROR (99999, 16, -1, @ERR_MSG)
				ROLLBACK  TRANSACTION
				RETURN 0
			END


		END
	
		-- 반제처리 수정
		IF ( @N_BAN_SLIP_NO> 0 AND @N_BAN_DECI_NO > 0 )
		BEGIN
			SELECT @exchamt = EXCH_AMT, @oldexchamt = OLD_EXCH_AMT
			FROM DOCUEXCH
			WHERE DECI_DATE = @N_DECI_DATE
			AND DECI_NO   = @N_DECI_NO
			AND LINE_NO   = @N_LINE_NO
			AND SLIP_NO   = @N_SLIP_NO
			AND DEPT_CODE = @N_DEPT_CODE
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE = @N_C_CODE
	
			IF (@@ROWCOUNT = 0 )
			BEGIN
				SELECT @exchamt = 0
				SELECT @oldexchamt = 0
			END
	
			IF ( (@ld_exchjan > 0 and (@exchamt - @oldexchamt) > @ld_exchjan) or (@ld_exchjan < 0 and (@exchamt - @oldexchamt) < @ld_exchjan) )
			BEGIN
				SELECT	@ERR_MSG =  '//' + @N_BAN_DECI_DATE + CONVERT(CHAR(4),@N_BAN_DECI_NO) + 
						CONVERT(CHAR(4),@N_BAN_LINE_NO) +CONVERT(CHAR(4),@N_BAN_SLIP_NO) + '//'
				RAISERROR (99999, 16, -1, @ERR_MSG)
				ROLLBACK  TRANSACTION
				RETURN 0
			END


			UPDATE DOCUBAN
			SET 	BAN_AMT = BAN_AMT +
				((@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)),
				EXCH_BAN_AMT = EXCH_BAN_AMT + (@exchamt - @oldexchamt)
			WHERE DECI_NO = @N_BAN_DECI_NO
			AND DECI_DATE = @N_BAN_DECI_DATE
			AND LINE_NO = @N_BAN_LINE_NO
			AND SLIP_NO = @N_BAN_SLIP_NO
			AND DEPT_CODE = @N_BAN_DEPT_CODE
			AND NODE_CODE = @N_BAN_NODE_CODE
			AND C_CODE = @N_C_CODE

		END

		-- 반제 처리
		IF ( @ban_gubun = '1' )
		BEGIN
			-- 일양 루틴
			-- 반제계정이면서
			-- @N_BAN_DECI_DATE의 날짜가 들어올때
			-- ban_date날짜의 전표(집계)를 찾아서 반영한다.
			-- 해제시는 반대로 빼준다.
			-- 5개 반제 필드중에서 2개만 체크
			IF ( @N_BAN_DECI_DATE <> '00000000' OR @N_BAN_DECI_NO > 0 )
			BEGIN
				SELECT @banamt_sum = ( @N_DR_AMT - @O_DR_AMT ) + ( @N_CR_AMT - @O_CR_AMT )
				
				SELECT @ERR_NO = 20024
				
				UPDATE VENDORSUM
				SET BAN_AMT = BAN_AMT + @banamt_sum
				WHERE VEN_CODE  = @N_VEN_CODE
				AND ACCT_DATE = @N_BAN_DECI_DATE
				AND ACCT_CODE = @N_ACCT_CODE
				AND NODE_CODE = @N_NODE_CODE
				AND C_CODE = @N_C_CODE
			END
		  
			SELECT @ERR_NO = 20025
			SELECT @banamt = BAN_AMT, @exch_banamt = EXCH_BAN_AMT
			FROM DOCUBAN
			WHERE SLIP_NO = @N_SLIP_NO
			AND LINE_NO   = @N_LINE_NO
			AND DECI_DATE = @N_DECI_DATE
			AND DECI_NO   = @N_DECI_NO
			AND DEPT_CODE = @N_DEPT_CODE
			AND NODE_CODE = @N_NODE_CODE
			AND C_CODE    = @N_C_CODE

			IF (@@ROWCOUNT = 0 )
			BEGIN
				SELECT @banamt = 0
				SELECT @exch_banamt = 0
			END
	
			IF ( ( @banamt <> 0 or @exch_banamt <> 0 ) AND ((@O_VEN_CODE <> @N_VEN_CODE) OR (@O_ACCT_CODE <> @N_ACCT_CODE )) )
			BEGIN
				RAISERROR  (@ERR_NO, 16, -1, '원인전표는 계정과목/거래처를 수정할 수 없습니다.')
			END
				
			IF ( ( '101' < substring(@N_ACCT_CODE, 1, 3) AND	substring(@N_ACCT_CODE, 1, 3) < '250' ) OR
				( '451' < substring(@N_ACCT_CODE, 1, 3) AND	substring(@N_ACCT_CODE, 1, 3) < '900' ) OR
				( '931' < substring(@N_ACCT_CODE, 1, 3) AND	substring(@N_ACCT_CODE, 1, 3) < '960' ) OR
				( '981' < substring(@N_ACCT_CODE, 1, 3) AND	substring(@N_ACCT_CODE, 1, 3) < '999' )	)
			BEGIN
				SELECT @gubun = '1'
				-- 차변계정
			END
			ELSE
			BEGIN
				SELECT @gubun = '2'
				-- 대변계정
			END
	
	 
			IF ( ( @gubun = '1' AND @N_DR_AMT <> 0 ) OR ( @gubun = '2' AND @N_CR_AMT <> 0 ) )
			BEGIN
				IF ( @banamt <> 0 OR @exch_banamt <> 0 ) AND (@N_DR_AMT + @N_CR_AMT <> @O_DR_AMT + @O_CR_AMT )
				BEGIN
					RAISERROR (@ERR_NO, 16, -1, '이 전표는 반제처리된 전표이므로 수정할 수 없습니다.')
				END

				---- 환율 금액을 가져와 반제 테이블에 승인시 반영한다.
				BEGIN
					SELECT @ERR_NO = 20026
					
					SELECT @exchamt = EXCH_AMT, @oldexchamt = OLD_EXCH_AMT
					FROM DOCUEXCH
					WHERE DECI_DATE = @N_DECI_DATE
					AND DECI_NO   = @N_DECI_NO
					AND LINE_NO   = @N_LINE_NO
					AND SLIP_NO   = @N_SLIP_NO
					AND DEPT_CODE = @N_DEPT_CODE
					AND NODE_CODE = @N_NODE_CODE
					AND C_CODE = @N_C_CODE
				
					IF (@@ROWCOUNT = 0 )
					BEGIN
						SELECT @exchamt = 0
						SELECT @oldexchamt = 0
					END
-- 					IF ( @banamt <> 0 OR @exch_banamt <> 0 ) AND (@exchamt <> @oldexchamt )
-- 					BEGIN
-- 						RAISERROR @ERR_NO '이 전표는 반제처리된 전표이므로 수정할 수 없습니다.'
-- 					END
				END
				--있으면 업데이트 없으면 insert
				-- due_date (만기일자)반영
				SELECT @ERR_NO = 20027
				UPDATE DOCUBAN
--				SET 	ACCT_AMT = ACCT_AMT + ((@N_DR_AMT + @N_CR_AMT)
--					- (@O_DR_AMT + @O_CR_AMT)),
--					EXCH_ACCT_AMT = EXCH_ACCT_AMT + (@exchamt - @oldexchamt),
				SET 	ACCT_AMT = (@N_DR_AMT + @N_CR_AMT),
					EXCH_ACCT_AMT = @exchamt,
					VEN_CODE = @N_VEN_CODE, DUE_DATE = @N_DUE_DATE
				WHERE SLIP_NO  = @O_SLIP_NO
				AND LINE_NO   = @O_LINE_NO
				AND  DECI_DATE= @O_DECI_DATE
				AND DECI_NO   = @O_DECI_NO
				AND DEPT_CODE = @O_DEPT_CODE
				AND NODE_CODE = @O_NODE_CODE
				AND C_CODE    = @O_C_CODE

			END
		END
	
		-- 반제처리된 자료는 반제 금액을 빼준다.
		IF ( @O_BAN_SLIP_NO IS NOT NULL AND @O_BAN_DECI_NO IS NOT NULL )
		BEGIN
			SELECT @ERR_NO = 20029
			UPDATE VENDORSUM
			SET 	BAN_AMT = BAN_AMT - ( ISNULL(@O_DR_AMT, 0) + ISNULL(@O_CR_AMT, 0))
			WHERE 	VEN_CODE  = @O_VEN_CODE
			AND ACCT_DATE = @O_BAN_DECI_DATE
			AND ACCT_CODE = @O_ACCT_CODE
			AND NODE_CODE = @O_NODE_CODE
			AND C_CODE = @O_C_CODE
		END
	END

	BEGIN
		UPDATE DOCUEXCH
		SET 	OLD_EXCH_AMT = EXCH_AMT
		WHERE DECI_DATE = @N_DECI_DATE
		AND DECI_NO   = @N_DECI_NO
		AND LINE_NO   = @N_LINE_NO
		AND SLIP_NO   = @N_SLIP_NO
		AND DEPT_CODE = @N_DEPT_CODE
		AND NODE_CODE = @N_NODE_CODE
		AND C_CODE = @N_C_CODE
	END 
RETURN 0
ON_ERROR:
    RAISERROR (@ERR_NO, 16, -1, @ERR_MSG)
    ROLLBACK  TRANSACTION
END

GO
