USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[MMAGAM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[MMAGAM](
	[CLOSE_YM] [char](6) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[FG_CLOSE] [char](1) NOT NULL,
	[INSERT_ID] [varchar](10) NOT NULL,
	[INSERT_DATE] [char](8) NOT NULL,
	[MODIFY_ID] [varchar](10) NOT NULL,
	[MODIFY_DATE] [char](8) NOT NULL,
 CONSTRAINT [PK_MMAGAM] PRIMARY KEY CLUSTERED 
(
	[CLOSE_YM] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[MMAGAM] ADD  CONSTRAINT [DF_MMAGAM_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[MMAGAM] ADD  CONSTRAINT [DF_MMAGAM_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[MMAGAM] ADD  CONSTRAINT [DF_MMAGAM_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[MMAGAM]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[MMAGAM]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
