USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPD_DOCUD_ADMISSION_DEL_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE     PROCEDURE [DZAIS].[UPD_DOCUD_ADMISSION_DEL_A]
(@O_C_CODE VARCHAR(4),      @O_NODE_CODE VARCHAR(4),
 @O_DEPT_CODE VARCHAR(12),  @O_SLIP_NO NUMERIC(4),
 @O_LINE_NO NUMERIC(4),     @O_DECI_NO NUMERIC(4),
 @O_DECI_DATE CHAR(8),      @O_ACCT_CODE CHAR(5),
 @O_ACCT_DATE CHAR(8),      @O_DR_AMT NUMERIC(15),
 @O_CR_AMT NUMERIC(15),     @O_DOCU_NO NUMERIC(4),
 @O_TA_GUBUN CHAR(1),       @O_AMT_GUBUN CHAR(1),
 @O_DEPOSIT_NO VARCHAR(20), @O_BUDGET_DEPT_CODE VARCHAR(12),
 @O_PROJ_CODE VARCHAR(12),  @O_BUDGET_TYPE CHAR(1),
 @O_VEN_CODE VARCHAR(6),    @O_BAN_SLIP_NO NUMERIC(4),
 @O_BAN_DECI_NO NUMERIC(4), @O_BAN_DECI_DATE CHAR(8),
 @O_FUND_CODE CHAR(4)
)
AS
--     설    명 : 승인된 전표 삭제시 처리 루틴
BEGIN
    DECLARE
	@ERR_NO     INT,
	@ban_gubun	CHAR(1),
	@term_gubun CHAR(1),
	@cost_amt	NUMERIC(15),
	@gubun		CHAR(1),
	@cal_gisu   VARCHAR(4),
	@banamt     NUMERIC(15),
	@exch_banamt NUMERIC(15),
	@flag		INT,
	@inamt      NUMERIC(15),
	@outamt     NUMERIC(15),
	@outamt_sum NUMERIC(15),
	@inamt_sum  NUMERIC(15),
	@dramt      NUMERIC(15),
	@cramt      NUMERIC(15),
	@dramt_sum  NUMERIC(15),
	@cramt_sum  NUMERIC(15),
	@banamt_sum NUMERIC(15),
	@exchamt    NUMERIC(15, 4),
	@get_gisu   VARCHAR(3),
	@get_fdate  CHAR(8),
	@err_msg    VARCHAR(100),
	@ACCT_GUBUN	CHAR(1)


	SELECT @ERR_NO = 30030
	SELECT @flag = 0

	BEGIN
		SELECT @ban_gubun = BAN_YN, @term_gubun = TERMCOST_YN, @ACCT_GUBUN = ACCT_GUBUN
		FROM ACCTCODE
		WHERE C_CODE = @O_C_CODE
		AND ACCT_CODE = @O_ACCT_CODE
	END

	IF ( @@ROWCOUNT = 0 )
	BEGIN
		SELECT @err_msg = @O_ACCT_CODE + '계정과목이 등록후 삭제된것 같습니다.'+
			'계정과목 등록화면에서 확인하신후 처리하십시요!'
		RAISERROR (@ERR_NO, 10, 1, @err_msg)
	END

	-- 승인된 전표삭제시 처리 루틴
	IF ( @O_DOCU_NO <> 0 )
	BEGIN
		IF @O_FUND_CODE IS NOT NULL
		BEGIN
			DELETE FROM FUNDDO
			 WHERE DECI_DATE = @O_DECI_DATE
			   AND DECI_NO   = @O_DECI_NO
			   AND DEPT_CODE = @O_DEPT_CODE
			   AND LINE_NO   = @O_LINE_NO
			   AND SLIP_NO   = @O_SLIP_NO
			   AND NODE_CODE = @O_NODE_CODE
			   AND C_CODE    = @O_C_CODE

			IF @@ERROR <> 0 GOTO ON_ERROR
		END

		-- 일/월 /부서/프로젝트별/거래처별/관리항목별 집계
		-----------------------------------------------------------
		-- 타계정 으로/에서 대체 구하는 법
		IF ( @O_TA_GUBUN = '2'  )
		BEGIN
			SELECT @inamt = @O_DR_AMT
			SELECT @outamt = 0
		END
		ELSE IF ( @O_TA_GUBUN = '1' )
		BEGIN
			SELECT @outamt = @O_CR_AMT
			SELECT @inamt = 0
		END
		ELSE
		BEGIN
			SELECT @inamt  = 0
			SELECT @outamt = 0
		END

		SELECT @ERR_NO = 30031

		-- insert DIARYSUM
		-- 일집계 테이블
		-- 현금 집계

		IF ( @O_AMT_GUBUN = '1' OR @O_AMT_GUBUN = '2' )
		BEGIN
			UPDATE DIARYSUM
			SET DR_AMT = DR_AMT - (CASE @O_AMT_GUBUN
						 WHEN '1' THEN  @O_CR_AMT
						 ELSE 0  END ),
			CR_AMT = CR_AMT - (CASE @O_AMT_GUBUN
						WHEN '2' THEN  @O_DR_AMT
						ELSE 0 END )
			WHERE ACCT_DATE = @O_ACCT_DATE
			AND ACCT_CODE = '10100'
			AND DEPT_CODE = @O_DEPT_CODE
			AND NODE_CODE = @O_NODE_CODE
			AND C_CODE    = @O_C_CODE
		END

		SELECT @flag = 4, @dramt = DR_AMT, @cramt = CR_AMT,
			@outamt_sum = OUT_AMT, @inamt_sum = IN_AMT
		FROM DIARYSUM
		WHERE ACCT_DATE = @O_ACCT_DATE
		AND ACCT_CODE = @O_ACCT_CODE
		AND DEPT_CODE = @O_DEPT_CODE
		AND NODE_CODE = @O_NODE_CODE
		AND C_CODE = @O_C_CODE

		IF @@ERROR <> 0  GOTO ON_ERROR
		
		SELECT @flag = isnull(@flag, 0)
		
		IF ( @flag = 4 )
		BEGIN
			SELECT @ERR_NO = 30033
			--  있을때는 UPDATE
			SELECT @dramt = @dramt - @O_DR_AMT
			SELECT @cramt = @cramt - @O_CR_AMT
			SELECT @outamt_sum = @outamt_sum - @outamt
			SELECT @inamt_sum  = @inamt_sum  - @inamt
			
			UPDATE DIARYSUM
			SET 	DR_AMT  = @dramt ,     CR_AMT = @cramt,
				OUT_AMT = @outamt_sum, IN_AMT = @inamt_sum
			WHERE ACCT_DATE = @O_ACCT_DATE
			AND ACCT_CODE = @O_ACCT_CODE
			AND DEPT_CODE = @O_DEPT_CODE
			AND NODE_CODE = @O_NODE_CODE
			AND C_CODE    = @O_C_CODE
		END
		-- insert SUMAM
		SELECT @ERR_NO = 30034
		
		-------------- 월집계 테이블
		-- 현금 집계

		IF ( @O_AMT_GUBUN = '1' OR @O_AMT_GUBUN = '2' )
		BEGIN
			UPDATE SUMAM
			SET 	CR_AMT = CR_AMT - (CASE @O_AMT_GUBUN
							WHEN '2' THEN  @O_DR_AMT ELSE 0  END ),
				DR_AMT = DR_AMT -  (CASE @O_AMT_GUBUN
							WHEN '1' THEN  @O_CR_AMT ELSE 0 END )
			WHERE ACCT_MON = SUBSTRING(@O_ACCT_DATE,1,6)
			AND ACCT_CODE = '10100'
			AND NODE_CODE = @O_NODE_CODE
			AND C_CODE    = @O_C_CODE
		END

		SELECT  @flag = 5, @dramt = DR_AMT, @cramt = CR_AMT,
			 @outamt_sum = OUT_AMT, @inamt_sum = IN_AMT
		FROM SUMAM
		WHERE ACCT_CODE = @O_ACCT_CODE
		AND ACCT_MON  = SUBSTRING(@O_ACCT_DATE,1,6)
		AND NODE_CODE = @O_NODE_CODE
		AND C_CODE    = @O_C_CODE

		IF @@ERROR <> 0  GOTO ON_ERROR

		IF ( @flag = 5 )
		BEGIN
			--  있을때는 UPDATE
			SELECT  @dramt = @dramt - @O_DR_AMT
			SELECT  @cramt = @cramt - @O_CR_AMT
			SELECT  @outamt_sum = @outamt_sum - @outamt
			SELECT  @inamt_sum  = @inamt_sum  - @inamt
			SELECT  @ERR_NO = 30035
			
			UPDATE SUMAM
			SET 	DR_AMT  = @dramt , CR_AMT    = @cramt,
				OUT_AMT = @outamt_sum,IN_AMT = @inamt_sum
			WHERE 	ACCT_CODE = @O_ACCT_CODE
			AND ACCT_MON  = SUBSTRING(@O_ACCT_DATE,1,6)
			AND NODE_CODE = @O_NODE_CODE
			AND C_CODE    = @O_C_CODE
		END

		-- 예적금 집계 테이블
		IF ( @O_DEPOSIT_NO IS NOT NULL AND ((@O_ACCT_CODE >= '10100' AND @O_ACCT_CODE <='15099' AND (@ACCT_GUBUN = '1' OR @ACCT_GUBUN  = '2'))
			OR (@O_ACCT_CODE >= '17100' AND @O_ACCT_CODE <='20099' AND (@ACCT_GUBUN = '1' OR @ACCT_GUBUN  = '2' OR @ACCT_GUBUN = 'J' OR @ACCT_GUBUN = 'H'))
			OR (@O_ACCT_CODE >= '25100' AND @O_ACCT_CODE <='29099' AND @ACCT_GUBUN = '1')))
		BEGIN
			SELECT   @ERR_NO = 30036

			UPDATE DEPOSITSUM
			SET 	DR_AMT  = DR_AMT - @O_DR_AMT , CR_AMT = CR_AMT - @O_CR_AMT
			WHERE DEPOSIT_NO  = @O_DEPOSIT_NO
			AND ACCT_DATE = @O_ACCT_DATE
			AND NODE_CODE = @O_NODE_CODE
			AND C_CODE = @O_C_CODE
		END

		SELECT @ERR_NO = 30037

		-- insert SUMNAM
	   -- 부서별 프로젝트별 집계 테이블
     	-- BUDGET_TYPE = '4'일때는 보류
	--	IF ( ( @O_BUDGET_DEPT_CODE IS NULL AND @O_PROJ_CODE IS NULL )
	--	 AND @O_BUDGET_TYPE = '3' )
	--	  BEGIN
--			SELECT @O_BUDGET_DEPT_CODE = '****'
--			SELECT @O_PROJ_CODE = '****'
--		  END
--		ELSE IF ( ( @O_BUDGET_DEPT_CODE IS NULL AND @O_PROJ_CODE IS NOT NULL )
--		  AND @O_BUDGET_TYPE = '3' )
--		  BEGIN
--			SELECT @O_BUDGET_DEPT_CODE = '****'
---		  END
--		ELSE IF ( ( @O_BUDGET_DEPT_CODE IS NOT NULL AND @O_PROJ_CODE IS NULL )
--	 	  AND @O_BUDGET_TYPE = '3'  )
--	 	  BEGIN
--			SELECT @O_PROJ_CODE = '****'
--		  END
--		ELSE IF ( @O_BUDGET_TYPE = '2' )
--		  BEGIN
--			SELECT @O_BUDGET_DEPT_CODE = '****'
--		  END
--		ELSE IF ( @O_BUDGET_TYPE = '1'  )
--		  BEGIN
--			SELECT @O_PROJ_CODE = '****'
--		END

		-- 현금 집계
		IF ( @O_AMT_GUBUN = '1' OR @O_AMT_GUBUN = '2' )
		BEGIN
			UPDATE SUMNAM
			SET 	CR_AMT = CR_AMT - (CASE @O_AMT_GUBUN
							WHEN '2' THEN  @O_DR_AMT ELSE 0 END ),
			DR_AMT = DR_AMT -  (CASE @O_AMT_GUBUN
							WHEN '1' THEN  @O_CR_AMT ELSE 0 END )
			WHERE ACCT_CODE = '10100'
			AND PROJ_CODE = ISNULL(@O_PROJ_CODE, '****')
			AND DEPT_CODE = ISNULL(@O_BUDGET_DEPT_CODE, '****')
			AND NODE_CODE = @O_NODE_CODE
			AND ACCT_MON  = SUBSTRING(@O_ACCT_DATE,1,6)
			AND C_CODE    = @O_C_CODE
		END

		SELECT @flag  = 6, @dramt = DR_AMT,
			@cramt = CR_AMT,@outamt_sum = OUT_AMT, @inamt_sum = IN_AMT
		FROM SUMNAM
		WHERE ACCT_CODE = @O_ACCT_CODE
		AND PROJ_CODE = ISNULL(@O_PROJ_CODE, '****')
		AND DEPT_CODE = ISNULL(@O_BUDGET_DEPT_CODE, '****')
		AND NODE_CODE = @O_NODE_CODE
		AND ACCT_MON  = SUBSTRING(@O_ACCT_DATE,1,6)
		AND C_CODE    = @O_C_CODE

		IF @@ERROR <> 0  GOTO ON_ERROR

		IF ( @flag = 6 )
		BEGIN
			--  있을때는 UPDATE
			SELECT @ERR_NO = 30038
			
			UPDATE SUMNAM
			SET 	DR_AMT  = DR_AMT - @O_DR_AMT,
				CR_AMT  = CR_AMT - @O_CR_AMT,
				OUT_AMT = OUT_AMT - @outamt, IN_AMT = IN_AMT - @inamt
			WHERE ACCT_CODE = @O_ACCT_CODE
			AND PROJ_CODE = ISNULL(@O_PROJ_CODE, '****')
			AND DEPT_CODE = ISNULL(@O_BUDGET_DEPT_CODE, '****')
			AND NODE_CODE = @O_NODE_CODE
			AND ACCT_MON  = SUBSTRING(@O_ACCT_DATE,1,6)
			AND C_CODE    = @O_C_CODE
			
			
			IF @@ERROR <> 0  GOTO ON_ERROR
		END

		SELECT @ERR_NO = 30039
		-- insert VENDORSUM
		-- 거래처별 집계 테이블

		SELECT 	@flag = 7,
			@dramt = DR_AMT,
			@cramt = CR_AMT
		FROM 	VENDORSUM
		WHERE 	VEN_CODE  = @O_VEN_CODE
		AND ACCT_DATE = @O_ACCT_DATE
		AND ACCT_CODE = @O_ACCT_CODE
		AND NODE_CODE = @O_NODE_CODE
		AND C_CODE = @O_C_CODE
		
		IF @@ERROR <> 0  GOTO ON_ERROR

		IF ( @flag = 7 )
		BEGIN
		--  있을때는 UPDATE
			SELECT @dramt = @dramt - @O_DR_AMT
			SELECT @cramt = @cramt - @O_CR_AMT
			SELECT @banamt_sum = ( ISNULL(@O_DR_AMT, 0) + ISNULL(@O_CR_AMT, 0))
			SELECT @outamt_sum = @outamt_sum - @outamt
			SELECT @inamt_sum  = @inamt_sum  - @inamt
			
			SELECT @ERR_NO = 30040
			
			UPDATE VENDORSUM
			SET 	DR_AMT  = @dramt , CR_AMT    = @cramt
			WHERE 	VEN_CODE  = @O_VEN_CODE
			AND ACCT_DATE = @O_ACCT_DATE
			AND ACCT_CODE = @O_ACCT_CODE
			AND NODE_CODE = @O_NODE_CODE
			AND C_CODE = @O_C_CODE

			-- 반제처리된 자료는 반제 금액을 빼준다.
			IF ( @O_BAN_SLIP_NO IS NOT NULL AND @O_BAN_DECI_NO IS NOT NULL )
			BEGIN
				UPDATE VENDORSUM
				SET 	BAN_AMT = BAN_AMT - @banamt_sum
				WHERE 	VEN_CODE  = @O_VEN_CODE
				AND ACCT_DATE = @O_BAN_DECI_DATE
				AND ACCT_CODE = @O_ACCT_CODE
				AND NODE_CODE = @O_NODE_CODE
				AND C_CODE = @O_C_CODE
			
				IF @@ERROR <> 0  GOTO ON_ERROR
			
			END
		END
		
		--반제원인전표 처리------------------
		IF ( @ban_gubun = '1' )
		BEGIN
		-- 승인해제시 처리 루틴
		-- 반제계정 테이블 삭제
		
			SELECT @ERR_NO = 30041
			SELECT @flag = 0
			SELECT @flag = ISNULL(DECI_NO,0), @banamt = BAN_AMT, @exch_banamt = EXCH_BAN_AMT
			FROM DOCUBAN
			WHERE SLIP_NO = @O_SLIP_NO
			AND LINE_NO   = @O_LINE_NO
			AND DECI_DATE = @O_DECI_DATE
			AND DECI_NO   = @O_DECI_NO
			AND DEPT_CODE = @O_DEPT_CODE
			AND NODE_CODE = @O_NODE_CODE
			AND C_CODE    = @O_C_CODE

			IF (@@ERROR <> 0  )
			BEGIN
				SELECT @err_msg = '이 전표는 2건이상의 반제처리로 삭제할 수 없습니다'
				 GOTO ON_ERROR
			END

			IF ( @flag <> 0 )
			BEGIN
				IF ( @banamt = 0 and @exch_banamt = 0 )  -- 반제처리된 전표인가 확인한다.
				BEGIN
					SELECT @ERR_NO = 30042
					DELETE FROM DOCUBAN
					WHERE SLIP_NO = @O_SLIP_NO
					AND LINE_NO   = @O_LINE_NO
					AND  DECI_DATE = @O_DECI_DATE
					AND DECI_NO   = @O_DECI_NO
					AND DEPT_CODE = @O_DEPT_CODE
					AND NODE_CODE = @O_NODE_CODE
					AND C_CODE    = @O_C_CODE
				END
				ELSE
				BEGIN
					SELECT @err_msg = '이 전표는 반제처리된 전표이므로 삭제할 수 없습니다.'
					GOTO ON_ERROR
				END
			END
			ELSE
			BEGIN
				SELECT @ERR_NO = 30043
				
				DELETE FROM DOCUBAN
				WHERE SLIP_NO  = @O_SLIP_NO
				AND LINE_NO   = @O_LINE_NO
				AND DECI_DATE = @O_DECI_DATE
				AND DECI_NO   = @O_DECI_NO
				AND DEPT_CODE = @O_DEPT_CODE
				AND NODE_CODE = @O_NODE_CODE
				AND C_CODE    = @O_C_CODE
			END
		END
		--반제원인전표 처리 끝----------------------
	END
	RETURN 0

ON_ERROR:
    RAISERROR (@ERR_NO, 10, 1, @err_msg)
    ROLLBACK  TRANSACTION
END


GO
