USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_VATSUM]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_VATSUM](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[FROMTO_DAY] [char](16) NOT NULL,
	[OUT_AMT] [numeric](15, 0) NOT NULL,
	[OUT_RATE] [numeric](3, 2) NOT NULL,
	[OUT_TAX] [numeric](15, 0) NOT NULL,
	[OUT_ZERO_AMT] [numeric](15, 0) NOT NULL,
	[OUT_ZERO_RATE] [numeric](3, 2) NOT NULL,
	[OUT_ZERO_TAX] [numeric](15, 0) NOT NULL,
	[IN_AMT] [numeric](15, 0) NOT NULL,
	[IN_RATE] [numeric](3, 2) NOT NULL,
	[IN_TAX] [numeric](15, 0) NOT NULL,
	[IN_EJE_AMT] [numeric](15, 0) NOT NULL,
	[IN_EJE_RATE] [numeric](3, 2) NOT NULL,
	[IN_EJE_TAX] [numeric](15, 0) NOT NULL,
	[GASAN_TAX] [numeric](15, 0) NOT NULL,
	[GONGJE_TAX] [numeric](15, 0) NOT NULL,
	[OUT_TRANAMT] [numeric](15, 0) NOT NULL,
	[IN_TRANAMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_TAX_VATSUM] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[FROMTO_DAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__OUT_A__46F27704]  DEFAULT ((0)) FOR [OUT_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__OUT_R__47E69B3D]  DEFAULT ((0)) FOR [OUT_RATE]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__OUT_T__48DABF76]  DEFAULT ((0)) FOR [OUT_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__OUT_Z__49CEE3AF]  DEFAULT ((0)) FOR [OUT_ZERO_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__OUT_Z__4AC307E8]  DEFAULT ((0)) FOR [OUT_ZERO_RATE]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__OUT_Z__4BB72C21]  DEFAULT ((0)) FOR [OUT_ZERO_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__IN_AM__4CAB505A]  DEFAULT ((0)) FOR [IN_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__IN_RA__4D9F7493]  DEFAULT ((0)) FOR [IN_RATE]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__IN_TA__4E9398CC]  DEFAULT ((0)) FOR [IN_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__IN_EJ__4F87BD05]  DEFAULT ((0)) FOR [IN_EJE_AMT]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__IN_EJ__507BE13E]  DEFAULT ((0)) FOR [IN_EJE_RATE]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__IN_EJ__51700577]  DEFAULT ((0)) FOR [IN_EJE_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__GASAN__526429B0]  DEFAULT ((0)) FOR [GASAN_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__GONGJ__53584DE9]  DEFAULT ((0)) FOR [GONGJE_TAX]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__OUT_T__544C7222]  DEFAULT ((0)) FOR [OUT_TRANAMT]
GO
ALTER TABLE [DZAIS].[TAX_VATSUM] ADD  CONSTRAINT [DF__TAX_VATSU__IN_TR__5540965B]  DEFAULT ((0)) FOR [IN_TRANAMT]
GO
