USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX](
	[NODE_CODE] [varchar](4) NOT NULL,
	[TAX_NO] [numeric](6, 0) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[WORK_GUBUN] [char](1) NULL,
	[VEN_TYPE] [char](1) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[TAX_GU] [char](2) NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_VAT] [numeric](15, 0) NOT NULL,
	[S_IDNO] [varchar](15) NULL,
	[DNODE_CODE] [varchar](4) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[RELAT_NO] [varchar](20) NULL,
	[GONG_AMT2] [numeric](15, 0) NOT NULL,
	[DAY_PRINT] [char](8) NOT NULL,
	[DOCU_STAT] [char](1) NULL,
	[BUL_GUBUN] [char](1) NULL,
	[EXPORT_NO] [char](15) NULL,
	[EXCH_CODE] [char](3) NULL,
	[EXCH_RATE] [numeric](11, 4) NULL,
	[EXCH_AMT] [numeric](15, 2) NULL,
	[EJE_RATE] [char](1) NULL,
	[CARDNO] [varchar](20) NULL,
	[CASH_NUM] [varchar](9) NULL,
	[CUSTOM_NO] [char](10) NULL,
	[PRT] [char](1) NULL,
	[TAX_AMT2] [numeric](15, 0) NOT NULL,
	[PRT_YN] [char](1) NULL,
	[PJT_CODE] [varchar](12) NULL,
	[BUL_AMT] [numeric](15, 0) NOT NULL,
	[EJE_ITEM] [varchar](30) NULL,
	[EJE_QT] [numeric](15, 0) NULL,
	[EJE_AMT] [numeric](15, 0) NULL,
	[RMK] [varchar](100) NULL,
	[CUSTOM_BUL_YN] [char](1) NULL,
	[ETAX_KEY] [varchar](20) NULL,
	[ETAX_STAT] [varchar](2) NULL,
	[BILL_TYPE] [varchar](2) NULL,
	[INVOICE] [varchar](50) NULL,
	[FILE_DIC] [varchar](100) NULL,
	[SEND_TYPE] [char](1) NULL,
	[JEONJA_YN] [char](1) NULL,
	[BAN_TAX_NO] [numeric](6, 0) NULL,
	[BAN_DECI_DATE] [char](8) NULL,
	[MODIFY_CODE] [char](2) NULL,
	[BAN_ETAX_KEY] [varchar](20) NULL,
	[SALE_ETAX_KEY] [varchar](40) NULL,
	[NO_ISS] [varchar](24) NULL,
	[YMD_SEND] [char](8) NULL,
	[JEONJASEND15_YN] [char](1) NULL,
	[NO_FX] [varchar](24) NULL,
	[NO_CAR] [varchar](20) NULL,
	[NO_CARBODY] [varchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[TAX_NO] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_TAX_NO]  DEFAULT ((0)) FOR [TAX_NO]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_VEN_TYPE]  DEFAULT ('0') FOR [VEN_TYPE]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_BAL_DATE]  DEFAULT ('00000000') FOR [BAL_DATE]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_GONG_AMT]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_TAX_VAT]  DEFAULT ((0)) FOR [TAX_VAT]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_GONG_AMT2]  DEFAULT ((0)) FOR [GONG_AMT2]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF_TAX_DAY_PRINT]  DEFAULT ('00000000') FOR [DAY_PRINT]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF__TAX__EXCH_RATE__5FB337D6]  DEFAULT ((0)) FOR [EXCH_RATE]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF__TAX__EXCH_AMT__60A75C0F]  DEFAULT ((0)) FOR [EXCH_AMT]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF__TAX__TAX_AMT2__71A7CADF]  DEFAULT ('0') FOR [TAX_AMT2]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF__TAX__PRT_YN__7B313519]  DEFAULT ('0') FOR [PRT_YN]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF__TAX__BUL_AMT__0E44098D]  DEFAULT ((0)) FOR [BUL_AMT]
GO
ALTER TABLE [DZAIS].[TAX] ADD  CONSTRAINT [DF__TAX__ETAX_STAT__6B05BA48]  DEFAULT ('00') FOR [ETAX_STAT]
GO
ALTER TABLE [DZAIS].[TAX]  WITH CHECK ADD CHECK  (([BAL_DATE]='00000000' OR [BAL_DATE]>'19500101' AND [BAL_DATE]<'21000101' AND CONVERT([datetime],[BAL_DATE])=CONVERT([datetime],[BAL_DATE])))
GO
ALTER TABLE [DZAIS].[TAX]  WITH CHECK ADD CHECK  (([DAY_PRINT]='00000000' OR [DAY_PRINT]>'19500101' AND [DAY_PRINT]<'21000101' AND CONVERT([datetime],[DAY_PRINT])=CONVERT([datetime],[DAY_PRINT])))
GO
ALTER TABLE [DZAIS].[TAX]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
