USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[RATECODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[RATECODE](
	[GUBUN_CODE] [char](2) NOT NULL,
	[GUBUN_NAME] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[GUBUN_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
