USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DEPT_AUTH]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DEPT_AUTH](
	[C_CODE] [varchar](4) NOT NULL,
	[SNO] [varchar](10) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
 CONSTRAINT [DEPT_AUTH_PK] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[SNO] ASC,
	[DEPT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
