USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CFLOWCODE_SUB]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CFLOWCODE_SUB](
	[CFLOW_CODE] [char](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
 CONSTRAINT [PK_CFLOWCODE_SUB] PRIMARY KEY CLUSTERED 
(
	[CFLOW_CODE] ASC,
	[C_CODE] ASC,
	[ACCT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
