USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ACCTCODE]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ACCTCODE](
	[ACCT_CODE] [char](5) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_NAME] [varchar](40) NULL,
	[ACCT_NAME2] [varchar](40) NULL,
	[BAN_YN] [char](1) NOT NULL,
	[BAN_TYPE] [char](1) NOT NULL,
	[ACCT_GUBUN] [char](1) NOT NULL,
	[BCONTR_YN] [char](1) NOT NULL,
	[FUND_DRCODE] [char](4) NULL,
	[FUND_CRCODE] [char](4) NULL,
	[TERMCOST_YN] [char](1) NOT NULL,
	[CHANGAB_YN] [char](1) NULL,
	[GOODS_CODE] [char](5) NULL,
	[FILL_YN] [char](1) NOT NULL,
	[TOT_TYPE] [numeric](2, 0) NOT NULL,
	[DRCR_GUBUN] [char](1) NOT NULL,
	[HAN_NAME] [varchar](40) NULL,
	[ENG_NAME] [varchar](70) NULL,
	[SUM_GUBUN] [varchar](2) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[ATTACH_DOCU] [varchar](100) NULL,
	[TA_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_ACCTCODE] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[ACCT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_BAN_YN]  DEFAULT ('0') FOR [BAN_YN]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_BAN_TYPE]  DEFAULT ('0') FOR [BAN_TYPE]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_ACCT_GUBUN]  DEFAULT ('0') FOR [ACCT_GUBUN]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_BCONTR_YN]  DEFAULT ('0') FOR [BCONTR_YN]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_TERMCOST_YN]  DEFAULT ('0') FOR [TERMCOST_YN]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_FILL_YN]  DEFAULT ('0') FOR [FILL_YN]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_TOT_TYPE]  DEFAULT ((0)) FOR [TOT_TYPE]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_DRCR_GUBUN]  DEFAULT ('1') FOR [DRCR_GUBUN]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[ACCTCODE] ADD  CONSTRAINT [DF_ACCTCODE_TA_GUBUN]  DEFAULT ('0') FOR [TA_GUBUN]
GO
ALTER TABLE [DZAIS].[ACCTCODE]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[ACCTCODE]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
