USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ZEROTAX1]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ZEROTAX1](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[TRADE_MONTH] [char](16) NOT NULL,
	[SERIAL_NO] [numeric](4, 0) NOT NULL,
	[DOCU_NAME] [varchar](24) NULL,
	[ISSUE_NAME] [varchar](14) NULL,
	[ISSUE_DATE] [char](8) NULL,
	[LC_NO] [char](20) NULL,
	[EXCH_CODE] [varchar](3) NOT NULL,
	[ISSUE_EXAMT] [numeric](17, 4) NOT NULL,
	[ISSUE_AMT] [numeric](15, 0) NOT NULL,
	[UNREP_EXAMT] [numeric](17, 4) NOT NULL,
	[UNREP_AMT] [numeric](15, 0) NOT NULL,
	[REPORT_EXAMT] [numeric](17, 4) NOT NULL,
	[REPORT_AMT] [numeric](15, 0) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_ZEROTAX1] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[TRADE_MONTH] ASC,
	[SERIAL_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ZEROTAX1] ADD  CONSTRAINT [DF_ZEROTAX1_EXCH_CODE]  DEFAULT ((0)) FOR [EXCH_CODE]
GO
ALTER TABLE [DZAIS].[ZEROTAX1] ADD  CONSTRAINT [DF_ZEROTAX1_ISSUE_EXAMT]  DEFAULT ((0)) FOR [ISSUE_EXAMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX1] ADD  CONSTRAINT [DF_ZEROTAX1_ISSUE_AMT]  DEFAULT ((0)) FOR [ISSUE_AMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX1] ADD  CONSTRAINT [DF_ZEROTAX1_UNREP_EXAMT]  DEFAULT ((0)) FOR [UNREP_EXAMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX1] ADD  CONSTRAINT [DF_ZEROTAX1_UNREP_AMT]  DEFAULT ((0)) FOR [UNREP_AMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX1] ADD  CONSTRAINT [DF_ZEROTAX1_REPORT_EXAMT]  DEFAULT ((0)) FOR [REPORT_EXAMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX1] ADD  CONSTRAINT [DF_ZEROTAX1_REPORT_AMT]  DEFAULT ((0)) FOR [REPORT_AMT]
GO
ALTER TABLE [DZAIS].[ZEROTAX1] ADD  CONSTRAINT [DF__ZEROTAX1__TAX_GU__468862B0]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
