USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UP_SUMNAM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	

CREATE PROCEDURE [DZAIS].[UP_SUMNAM] (  @s_c_code VARCHAR(4), @from_date CHAR(8),
	    @to_date CHAR(8) )
AS
	-- 부서별프로젝트별집계 (SUMNAM) 루틴 (현금 반영)
	-- ta_gubun으로 타계정 집계
	-- 작성일 : 1999/02/12
	-- 수정일 : 2000/01/07
	-- 작성자 : 이주환
DECLARE
	@V_C_CODE VARCHAR(4),
	@V_NODE_CODE CHAR(4),
	@V_ACCT_CODE CHAR(5),
	@V_PROJ_CODE VARCHAR(12),
	@V_DEPT_CODE VARCHAR(12),
	@V_ACCT_MON VARCHAR(8),
 	@V_DR_AMT NUMERIC(15),
 	@V_CR_AMT NUMERIC(15),
 	@V_IN_AMT NUMERIC(15),
 	@V_OUT_AMT NUMERIC(15),
 	@FLAG NUMERIC(1),
	@V_NOTE_CODE CHAR(1),
	@V_BUDGET_CODE VARCHAR(12),
	@V_AMT_GUBUN CHAR(1),
	@V_BUDGET_TYPE CHAR(1),
	@V_TA_GUBUN CHAR(1),
	@ERRNO INT,
	@ERRMSG VARCHAR(100)

DECLARE C CURSOR FOR
    SELECT C_CODE ,NODE_CODE,  BUDGET_DEPT_CODE, PROJ_CODE, 
		 DR_AMT, CR_AMT,TA_GUBUN, BUDGET_TYPE,
		substring(ACCT_DATE,1, 6),ACCT_CODE
      FROM DOCUD WHERE DOCU_NO > 0 AND C_CODE = @s_c_code
       AND ACCT_DATE BETWEEN @from_date AND @to_date 
BEGIN
	BEGIN TRANSACTION
	DELETE FROM SUMNAM WHERE C_CODE = @s_c_code AND ACCT_MON BETWEEN substring(@from_date, 1, 6) AND substring(@to_date, 1, 6)
	OPEN C
	
	FETCH C INTO @V_C_CODE, @V_NODE_CODE,  @V_BUDGET_CODE, @V_PROJ_CODE, 
				 @V_DR_AMT, @V_CR_AMT,@V_TA_GUBUN, @V_BUDGET_TYPE,@V_ACCT_MON,@V_ACCT_CODE 
	
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		-- 타계정 으로/에서  대체
		IF (  @V_TA_GUBUN = '2' )
		BEGIN
			SELECT @V_IN_AMT = @V_DR_AMT
			SELECT @V_OUT_AMT = 0
		END
		ELSE IF ( @V_TA_GUBUN = '1'  )
		BEGIN
			SELECT @V_OUT_AMT = @V_CR_AMT
			SELECT @V_IN_AMT = 0
		END
		ELSE
		BEGIN
			SELECT @V_IN_AMT  = 0
			SELECT @V_OUT_AMT = 0
		END
		
		-- BUDGET_TYPE = '4'일때는 보류
		IF ( @V_BUDGET_CODE IS NULL AND @V_PROJ_CODE IS NULL )
		AND @V_BUDGET_TYPE = '3'
		BEGIN
			SELECT @V_BUDGET_CODE = '****'
			SELECT @V_PROJ_CODE = '****'
		END
		ELSE IF ( @V_BUDGET_CODE IS NULL AND @V_PROJ_CODE IS NOT NULL )
		AND @V_BUDGET_TYPE = '3'
		BEGIN
			SELECT @V_BUDGET_CODE = '****'
		END
		ELSE IF ( @V_BUDGET_CODE IS NOT NULL AND @V_PROJ_CODE IS NULL )
 	   AND @V_BUDGET_TYPE = '3'
 	   BEGIN
			SELECT @V_PROJ_CODE = '****'
	   END
		ELSE IF @V_BUDGET_TYPE = '2'
	   BEGIN
			SELECT @V_BUDGET_CODE = '****'
	   END
		ELSE IF @V_BUDGET_TYPE = '1'
	   BEGIN
			SELECT @V_PROJ_CODE = '****'
		END
		
		IF @V_AMT_GUBUN = '1' OR @V_AMT_GUBUN = '2'
		BEGIN
			SELECT @FLAG = 0
			
-- 			SELECT @FLAG = 2
-- 			FROM SUMNAM
-- 			WHERE substring(ACCT_CODE,1,3) = '101'
-- 			AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
-- 			AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
-- 			AND NODE_CODE = @V_NODE_CODE
-- 			AND ACCT_MON  = @V_ACCT_MON
-- 			AND C_CODE    = @V_C_CODE

			SELECT @FLAG = 2
			FROM SUMNAM
			WHERE ACCT_CODE = '10100'
			AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
			AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
			AND NODE_CODE = @V_NODE_CODE
			AND ACCT_MON  = @V_ACCT_MON
			AND C_CODE    = @V_C_CODE

		
			-- 자료가 있을때
			IF @FLAG = 2
			BEGIN
				UPDATE SUMNAM
				  SET CR_AMT = CR_AMT + (CASE @V_AMT_GUBUN
									 WHEN '2' THEN  @V_DR_AMT
									 ELSE 0 END ),
				 DR_AMT = DR_AMT +  (CASE @V_AMT_GUBUN
									 WHEN '1' THEN  @V_CR_AMT
									 ELSE 0 END )
				WHERE ACCT_CODE = '10100'
				AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
				AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
				AND NODE_CODE = @V_NODE_CODE
				AND ACCT_MON  = @V_ACCT_MON
				AND C_CODE    = @V_C_CODE
			END
			ELSE
			BEGIN
				INSERT INTO SUMNAM
					( C_CODE, NODE_CODE, ACCT_MON,
					  DEPT_CODE, PROJ_CODE, ACCT_CODE, DR_AMT,
					  CR_AMT, OUT_AMT, IN_AMT )
				VALUES
				  ( @V_C_CODE, @V_NODE_CODE, @V_ACCT_MON,
					 ISNULL(@V_BUDGET_CODE,'****'), ISNULL(@V_PROJ_CODE,'****'), '10100',
				  ( CASE @V_AMT_GUBUN    WHEN '1' THEN  @V_CR_AMT ELSE 0 END ),
				  ( CASE @V_AMT_GUBUN    WHEN '2' THEN  @V_DR_AMT ELSE 0 END ),0,0 )
			END
		END

		SELECT @FLAG = 0

		SELECT @FLAG = 6
		  FROM SUMNAM
		  WHERE ACCT_CODE = @V_ACCT_CODE
		    AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
		    AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
		    AND NODE_CODE = @V_NODE_CODE
		    AND ACCT_MON  = @V_ACCT_MON
		    AND C_CODE    = @V_C_CODE

		IF @FLAG = 6
		BEGIN
		  --  있을때는 UPDATE
		  UPDATE SUMNAM
			  SET DR_AMT  = DR_AMT + @V_DR_AMT , CR_AMT = CR_AMT + @V_CR_AMT,
				OUT_AMT  = OUT_AMT + @V_OUT_AMT , IN_AMT = IN_AMT + @V_IN_AMT
			  WHERE ACCT_CODE = @V_ACCT_CODE
				 AND PROJ_CODE = ISNULL(@V_PROJ_CODE, '****')
				 AND DEPT_CODE = ISNULL(@V_BUDGET_CODE, '****')
				 AND NODE_CODE = @V_NODE_CODE
				 AND ACCT_MON  = @V_ACCT_MON
				 AND C_CODE    = @V_C_CODE
		END
		ELSE
		BEGIN
		-- 없을때는 삽입
			INSERT INTO SUMNAM
					( C_CODE, NODE_CODE, ACCT_MON,
					  DEPT_CODE, PROJ_CODE, ACCT_CODE, DR_AMT,
					  CR_AMT, OUT_AMT, IN_AMT  )
			VALUES
					(@V_C_CODE, @V_NODE_CODE, @V_ACCT_MON,
					 ISNULL(@V_BUDGET_CODE,'****'), ISNULL(@V_PROJ_CODE,'****'),
					@V_ACCT_CODE,@V_DR_AMT,
					 @V_CR_AMT, @V_OUT_AMT, @V_IN_AMT )
		END

		FETCH C INTO @V_C_CODE, @V_NODE_CODE,  @V_BUDGET_CODE, @V_PROJ_CODE, 
	       @V_DR_AMT, @V_CR_AMT,@V_TA_GUBUN, @V_BUDGET_TYPE,@V_ACCT_MON,@V_ACCT_CODE 
 	END
	 
   COMMIT TRANSACTION	
   CLOSE C
   DEALLOCATE C
RETURN
ERROR:
   ROLLBACK  TRANSACTION
   RAISERROR (@ERRNO, 16, -1, @ERRMSG)
END

GO
