USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DISTAMT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DISTAMT](
	[C_CODE] [varchar](4) NOT NULL,
	[GUBUN_CODE] [char](1) NOT NULL,
	[DIST_DATE] [char](12) NOT NULL,
	[ACCT_DATE] [char](6) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[COM_CODE] [varchar](12) NOT NULL,
	[TYPE_CODE] [varchar](12) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_DISTAMT] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[GUBUN_CODE] ASC,
	[DIST_DATE] ASC,
	[ACCT_DATE] ASC,
	[NODE_CODE] ASC,
	[COM_CODE] ASC,
	[TYPE_CODE] ASC,
	[ACCT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DISTAMT] ADD  CONSTRAINT [DF__DISTAMT__DR_AMT__64B7E415]  DEFAULT ((0)) FOR [DR_AMT]
GO
ALTER TABLE [DZAIS].[DISTAMT] ADD  CONSTRAINT [DF__DISTAMT__CR_AMT__65AC084E]  DEFAULT ((0)) FOR [CR_AMT]
GO
