USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[INTERESTRATE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[INTERESTRATE](
	[APPLY_FROM] [char](8) NOT NULL,
	[APPLY_TO] [char](8) NOT NULL,
	[INTEREST_RATE] [numeric](5, 2) NOT NULL,
 CONSTRAINT [PK_INTERESTRATE] PRIMARY KEY CLUSTERED 
(
	[APPLY_FROM] ASC,
	[APPLY_TO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[INTERESTRATE] ADD  CONSTRAINT [DF__INTERESTR__APPLY__7F01C5FD]  DEFAULT ('00000000') FOR [APPLY_FROM]
GO
ALTER TABLE [DZAIS].[INTERESTRATE] ADD  CONSTRAINT [DF__INTERESTR__APPLY__7FF5EA36]  DEFAULT ('00000000') FOR [APPLY_TO]
GO
ALTER TABLE [DZAIS].[INTERESTRATE] ADD  CONSTRAINT [DF__INTERESTR__INTER__00EA0E6F]  DEFAULT ((0)) FOR [INTEREST_RATE]
GO
