USE [DZAIS]
GO
/****** Object:  View [DZAIS].[V_USERADMIN]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE VIEW  [DZAIS].[V_USERADMIN]
(
      C_CODE,     SA_CODE,    PASSWD,     ON_FLAG,    ON_TIME,    ON_DATE,    OFF_TIME,   OFF_DATE, 
      DOCUD_LIMIT,ACCT_LIMIT, PRD_LIMIT,  SALE_LIMIT, PUR_LIMIT,  INSA_LIMIT, MTRL_LIMIT, M07,     
      M08,        OUT_LIMIT,  M10,        M11,        M12,        M13,        M14,        M15, 
      M16,        M17,        M18,        M19,        M20 
) AS
SELECT
      C_CODE,     SNO,        PASSWD,     ON_FLAG,    ON_TIME,    ON_DATE,    OFF_TIME,   OFF_DATE,
      DOCUD_LIMIT,M01,        M02,        M03,        M04,        M05,        M06,        M07,
      M08,        M09,        M10,        M11,        M12,        M13,        M14,        M15,
      M16,        M17,        M18,        M19,        M20
FROM
      BASE.DZBASE.USERINFO



GO
