USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TEMP_GANI_PL]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TEMP_GANI_PL](
	[PRN_CODE] [varchar](60) NOT NULL,
	[SORT_CODE] [char](40) NOT NULL,
	[GUBUN] [char](1) NOT NULL,
	[ACCT_NAME] [varchar](40) NULL,
	[THIS_AMT] [numeric](15, 0) NULL,
 CONSTRAINT [PK_TEMP_GANI_PL] PRIMARY KEY CLUSTERED 
(
	[PRN_CODE] ASC,
	[SORT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
