USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[EJEPURH]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[EJEPURH](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_YEAR] [char](12) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[EJE_GUBUN] [char](1) NOT NULL,
	[GONG_RATE_CODE] [char](1) NOT NULL,
	[TAX_COUNT] [numeric](7, 0) NOT NULL,
	[QT] [numeric](15, 0) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[PUMMYUNG] [varchar](30) NULL,
	[VEN_COUNT] [numeric](7, 0) NOT NULL,
 CONSTRAINT [PK_EJEPURH] PRIMARY KEY CLUSTERED 
(
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[GISU_GUBUN] ASC,
	[DATE_YEAR] ASC,
	[C_CODE] ASC,
	[S_IDNO] ASC,
	[EJE_GUBUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[EJEPURH] ADD  CONSTRAINT [DF__EJEPURH__TAX_GUB__599B3724]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
ALTER TABLE [DZAIS].[EJEPURH] ADD  CONSTRAINT [DF__EJEPURH__EJE_GUB__6324A15E]  DEFAULT ('1') FOR [EJE_GUBUN]
GO
ALTER TABLE [DZAIS].[EJEPURH] ADD  CONSTRAINT [DF__EJEPURH__GONG_RA__6418C597]  DEFAULT ('1') FOR [GONG_RATE_CODE]
GO
ALTER TABLE [DZAIS].[EJEPURH] ADD  CONSTRAINT [DF__EJEPURH__TAX_COU__650CE9D0]  DEFAULT ((1)) FOR [TAX_COUNT]
GO
ALTER TABLE [DZAIS].[EJEPURH] ADD  CONSTRAINT [DF__EJEPURH__QT__66010E09]  DEFAULT ((0)) FOR [QT]
GO
ALTER TABLE [DZAIS].[EJEPURH] ADD  CONSTRAINT [DF__EJEPURH__GONG_AM__66F53242]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[EJEPURH] ADD  CONSTRAINT [DF__EJEPURH__TAX_AMT__67E9567B]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[EJEPURH] ADD  CONSTRAINT [DF__EJEPURH__VEN_COU__68DD7AB4]  DEFAULT ((1)) FOR [VEN_COUNT]
GO
