USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVINVEST]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVINVEST](
	[CO_CD] [varchar](4) NOT NULL,
	[DIV_CD] [varchar](4) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[LN_SQ] [numeric](3, 0) NOT NULL,
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[IV_FG] [varchar](1) NOT NULL,
	[KIND] [varchar](40) NULL,
	[USED] [varchar](18) NULL,
	[DNUM] [numeric](17, 4) NULL,
	[GNAME] [varchar](40) NULL,
	[DATE1] [varchar](8) NULL,
	[DATE2] [varchar](8) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [varchar](15) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [varchar](15) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL
) ON [PRIMARY]
GO
