USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SYSCFG]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
--5. DZAIS 에 VIEW 만들기
CREATE VIEW [DZAIS].[SYSCFG] AS SELECT * FROM BASE.DZBASE.SYSCFG

GO
