USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[ALOCALTAX]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[ALOCALTAX](
	[FORM] [nvarchar](8) NOT NULL,
	[PAGE] [numeric](5, 0) NOT NULL,
	[GRP] [numeric](5, 0) NOT NULL,
	[CODE] [nvarchar](7) NOT NULL,
	[REF] [numeric](7, 0) NOT NULL,
	[CO_CD] [nvarchar](7) NOT NULL,
	[DIV_CD] [nvarchar](7) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[MN_1] [numeric](17, 4) NULL,
	[MN_2] [numeric](17, 4) NULL,
	[MN_3] [numeric](17, 4) NULL,
	[MN_4] [numeric](17, 4) NULL,
	[MN_5] [numeric](17, 4) NULL,
	[MN_6] [numeric](17, 4) NULL,
	[MN_7] [numeric](17, 4) NULL,
	[MN_8] [numeric](17, 4) NULL,
	[MN_9] [numeric](17, 4) NULL,
	[MN_10] [numeric](17, 4) NULL,
	[MN_11] [numeric](17, 4) NULL,
	[MN_12] [numeric](17, 4) NULL,
	[MN_13] [numeric](17, 4) NULL,
	[MN_14] [numeric](17, 4) NULL,
	[MN_15] [numeric](17, 4) NULL,
	[MN_16] [numeric](17, 4) NULL,
	[MN_17] [numeric](17, 4) NULL,
	[MN_18] [numeric](17, 4) NULL,
	[MN_19] [numeric](17, 4) NULL,
	[MN_20] [numeric](17, 4) NULL,
	[STR_1] [nvarchar](200) NULL,
	[STR_2] [nvarchar](200) NULL,
	[STR_3] [nvarchar](200) NULL,
	[STR_4] [nvarchar](200) NULL,
	[STR_5] [nvarchar](200) NULL,
	[STR_6] [nvarchar](200) NULL,
	[STR_7] [nvarchar](200) NULL,
	[STR_8] [nvarchar](200) NULL,
	[STR_9] [nvarchar](200) NULL,
	[STR_10] [nvarchar](200) NULL,
	[STR_11] [nvarchar](200) NULL,
	[STR_12] [nvarchar](200) NULL,
	[STR_13] [nvarchar](200) NULL,
	[STR_14] [nvarchar](200) NULL,
	[STR_15] [nvarchar](200) NULL,
	[INSER_ID] [nvarchar](10) NULL,
	[INSER_IP] [nvarchar](15) NULL,
	[INSERT_DT] [datetime] NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_IP] [nvarchar](15) NULL,
	[MODIFY_DT] [datetime] NULL,
 CONSTRAINT [PK_ALOCALTAX] PRIMARY KEY CLUSTERED 
(
	[FORM] ASC,
	[PAGE] ASC,
	[GRP] ASC,
	[CODE] ASC,
	[REF] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[ALOCALTAX] ADD  CONSTRAINT [DF__ALOCALTAX__INSER__334B710A]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
