USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[CARDRECEIPT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[CARDRECEIPT](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[TAX_DATE] [char](12) NOT NULL,
	[LINE_NO] [numeric](6, 0) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[S_IDNO] [varchar](10) NOT NULL,
	[VEN_NAME] [varchar](30) NOT NULL,
	[USE_NAME] [varchar](30) NOT NULL,
	[USE_IDNO] [varchar](13) NOT NULL,
	[CREDIT_COM] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CARDRECEIPT] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[NODE_CODE] ASC,
	[GISU_GUBUN] ASC,
	[TAX_DATE] ASC,
	[LINE_NO] ASC,
	[BAL_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[CARDRECEIPT] ADD  CONSTRAINT [DF__CARDRECEI__GONG___286DEFE4]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[CARDRECEIPT] ADD  CONSTRAINT [DF__CARDRECEI__TAX_A__2962141D]  DEFAULT ((0)) FOR [TAX_AMT]
GO
