USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[P_BUDGETJO_SUM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	CREATE PROCEDURE [DZAIS].[P_BUDGETJO_SUM]
	(	@C_CODE		VARCHAR(4)	) AS
DECLARE
	@DEPT_CODE		VARCHAR(12),
	@BUDGET_CODE	CHAR(5),
	@JO_AMT		NUMERIC(15),
	@JO_DATE		CHAR(8),
	@JO_MAX		CHAR(8),
	@SIL_AMT		NUMERIC(15),
	@PYUN_AMT		NUMERIC(15),
	@BUDGET_YM		CHAR(6),
	@BD			CHAR(1),
	@COUNT		NUMERIC
DECLARE	CUR_BUDGETJO_SUM	CURSOR FOR
		SELECT	BUDGET_CODE,
				DEPT_CODE,
				BUDGET_YM,
				JO_DATE,
				JO_AMT
		FROM	BUDGETJO
		WHERE	C_CODE = @C_CODE AND
			INSERT_INFO = '1'
BEGIN
	OPEN	CUR_BUDGETJO_SUM
	FETCH	NEXT FROM CUR_BUDGETJO_SUM INTO	@BUDGET_CODE,
							@DEPT_CODE,
							@BUDGET_YM,
							@JO_DATE,
							@JO_AMT
	WHILE (@@FETCH_STATUS = 0)
	BEGIN
		SELECT	@JO_MAX = MAX(JO_DATE)
		FROM	BUDGETJO
		WHERE	BUDGET_CODE = @BUDGET_CODE AND
			DEPT_CODE = @DEPT_CODE AND
			BUDGET_YM = @BUDGET_YM AND
			C_CODE = @C_CODE
		IF @JO_DATE = @JO_MAX
		BEGIN
			SELECT	@COUNT = COUNT(*)
			FROM	BUDGETDO
			WHERE	BUDGET_CODE = @BUDGET_CODE AND
				DEPT_CODE = @DEPT_CODE AND
				BUDGET_YM = @BUDGET_YM AND
				C_CODE = @C_CODE
			IF	@COUNT > 0
			BEGIN
				/*	JO_DATE가 최근일 때 반영*/
				UPDATE	BUDGETDO
				SET	SIL_AMT = @JO_AMT
				WHERE	BUDGET_CODE = @BUDGET_CODE AND
					DEPT_CODE = @DEPT_CODE AND
					BUDGET_YM = @BUDGET_YM AND
					C_CODE = @C_CODE
			END
			ELSE
			BEGIN
				INSERT INTO BUDGETDO(BUDGET_CODE, DEPT_CODE, BUDGET_YM,
						     C_CODE, PYUN_AMT, SIL_AMT, DO_AMT,
						     CDO_AMT, DELETE_INFO)
				VALUES(@BUDGET_CODE, @DEPT_CODE, @BUDGET_YM, @C_CODE,
				       0, @JO_AMT, 0, 0, '0')
			END
			IF SUBSTRING(@BUDGET_CODE, 4, 2) <> '00'
			BEGIN
				SELECT	@COUNT = COUNT(*)
				FROM	BUDGETDO
				WHERE	BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' AND
					DEPT_CODE = @DEPT_CODE AND
					BUDGET_YM = @BUDGET_YM AND
					C_CODE = @C_CODE

				IF @COUNT > 0
					UPDATE	BUDGETDO
					SET	SIL_AMT = (	SELECT	ISNULL(SUM(SIL_AMT), 0)
								FROM	BUDGETDO
								WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = 
									SUBSTRING(@BUDGET_CODE, 1, 3) AND
									SUBSTRING(BUDGET_CODE, 4, 2) <> '00' AND
									BUDGET_YM = @BUDGET_YM AND
									DEPT_CODE = @DEPT_CODE AND
									C_CODE = @C_CODE
							  )
					WHERE	BUDGET_CODE = SUBSTRING(@BUDGET_CODE, 1, 3) + '00' AND
						DEPT_CODE = @DEPT_CODE AND
						BUDGET_YM = @BUDGET_YM AND
						C_CODE = @C_CODE
				ELSE
					INSERT INTO BUDGETDO(BUDGET_CODE, DEPT_CODE, BUDGET_YM, C_CODE, PYUN_AMT, SIL_AMT, DO_AMT,
							     CDO_AMT, DELETE_INFO)
					SELECT	SUBSTRING(BUDGET_CODE, 1, 3) + '00',
							DEPT_CODE,
							BUDGET_YM,
							C_CODE,
							0,
							ISNULL(SUM(SIL_AMT), 0),
							0,
							0,
							'0'
					FROM	BUDGETDO
					WHERE	SUBSTRING(BUDGET_CODE, 1, 3) = SUBSTRING(@BUDGET_CODE, 1, 3) AND
						SUBSTRING(BUDGET_CODE, 4, 2) <> '00' AND
						BUDGET_YM = @BUDGET_YM AND
						DEPT_CODE = @DEPT_CODE AND
						C_CODE = @C_CODE
					GROUP BY 	SUBSTRING(BUDGET_CODE, 1, 3) + '00',
							DEPT_CODE,
							BUDGET_YM,
							C_CODE
			END
		END
	FETCH	NEXT FROM CUR_BUDGETJO_SUM INTO	@BUDGET_CODE,
							@DEPT_CODE,
							@BUDGET_YM,
							@JO_DATE,
							@JO_AMT
	END
	CLOSE	CUR_BUDGETJO_SUM

	UPDATE	BUDGETJO
	SET	INSERT_INFO = '0'
	WHERE	INSERT_INFO = '1'

	DEALLOCATE	CUR_BUDGETJO_SUM
END
GO
