USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVELETR_CASH]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVELETR_CASH](
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[LN_SQ] [numeric](6, 0) NOT NULL,
	[FR_DT] [nvarchar](8) NULL,
	[TO_DT] [nvarchar](8) NULL,
	[CUSTOMER_NM] [nvarchar](60) NOT NULL,
	[BUYER_NM] [nvarchar](60) NOT NULL,
	[EXP_DT] [nvarchar](8) NOT NULL,
	[EC_AM] [numeric](15, 0) NOT NULL,
	[EC_NB] [nvarchar](20) NOT NULL,
	[BUYER_EMAIL] [nvarchar](70) NULL,
	[ELETR_NB] [nvarchar](15) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_AVELETR_CASH] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVELETR_CASH] ADD  CONSTRAINT [DF__AVELETR_C__LN_SQ__1A2ABD85]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVELETR_CASH] ADD  CONSTRAINT [DF__AVELETR_C__FR_DT__1B1EE1BE]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVELETR_CASH] ADD  CONSTRAINT [DF__AVELETR_C__TO_DT__1C1305F7]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVELETR_CASH] ADD  CONSTRAINT [DF__AVELETR_C__EC_AM__1D072A30]  DEFAULT ((0)) FOR [EC_AM]
GO
ALTER TABLE [DZAIS].[AVELETR_CASH] ADD  CONSTRAINT [DF__AVELETR_C__SINGO__1DFB4E69]  DEFAULT ('0') FOR [SINGO_FG]
GO
