USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPU_DOCUD_YESAN_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [DZAIS].[UPU_DOCUD_YESAN_A]
(@N_C_CODE VARCHAR(4),     @N_NODE_CODE VARCHAR(4),
 @N_DEPT_CODE VARCHAR(12),  @N_DECI_DATE CHAR(8),
 @N_ACCT_CODE CHAR(5),     @N_DOCU_NO NUMERIC(4),
 @N_DR_AMT NUMERIC(15),    @N_CR_AMT NUMERIC(15),
 @N_PROJ_CODE VARCHAR(12), @N_BUDGET_DEPT_CODE VARCHAR(12),
 @N_BUDGET_TYPE CHAR(1),
 @O_C_CODE VARCHAR(4),     @O_NODE_CODE VARCHAR(4),
 @O_DEPT_CODE VARCHAR(12),  @O_DECI_DATE CHAR(8),
 @O_ACCT_CODE CHAR(5),     @O_DOCU_NO NUMERIC(4),
 @O_DR_AMT NUMERIC(15),    @O_CR_AMT NUMERIC(15),
 @O_BUDGET_DEPT_CODE VARCHAR(12), @O_PROJ_CODE VARCHAR(12)
)
AS
/*************************************************************************
            설    명 : 예산관련 전표 수정시 처리 루틴
            개 발 자 : 이 주 환
            개발일자 : 1999/07/12
**************************************************************************/

BEGIN   -- 1
		DECLARE
        @ERR_NO       NUMERIC,
        @data_yn      NUMERIC,
        @cont_type    CHAR(1),
        @cdoamt       NUMERIC(15),
        @err_msg      VARCHAR(100),
        @exist_yn     NUMERIC,
        @exist_yn1    NUMERIC,
        @pjt_exist_yn NUMERIC,
        @flag         NUMERIC


        -- 예산과목코드 테이블을 읽어 관리할 계정과목이 존재하는가
        -- 파악한다.
        SELECT @ERR_NO = 20012

        SELECT @data_yn = 1
          FROM BUDGETCODE
         WHERE C_CODE = @N_C_CODE
           AND BUDGET_CODE = @N_ACCT_CODE

        IF (@@ROWCOUNT = 0 ) SELECT @data_yn = 0
        
        -----------  BUDGET_TYPE >= '1' AND BUDGET_TYPE <= '3' 까지만 유효한 값
        IF ( @N_BUDGET_TYPE <> '1' AND  @N_BUDGET_TYPE <> '2' AND @N_BUDGET_TYPE <> '3' ) SELECT @data_yn = 0
       

        -- budgetcode 테이블에 통제할 계정과목(관리항목)이 존재할때만 실행
        IF ( @data_yn = 1 )
        BEGIN -- 2

                IF ( @O_DOCU_NO <> 0 )
                BEGIN
                   SELECT @cdoamt = (@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)
                END
                ELSE
                BEGIN
                   SELECT @cdoamt = 0
                END
                
                -- 예산프로젝트 반영 ------------------------------------
                IF ((( @N_PROJ_CODE IS NOT NULL AND @N_PROJ_CODE <> '' )
                        AND @N_BUDGET_TYPE = '3' ) OR @N_BUDGET_TYPE = '2' )
                BEGIN  --- 3
                        SELECT @ERR_NO = 20013
                                SELECT @pjt_exist_yn = 1
                                  FROM PJTBUDGET
                                 WHERE BUDGET_CODE = @N_ACCT_CODE
                                   AND BUDGET_YM   = substring(@N_DECI_DATE, 1, 6)
                                   AND PROJ_CODE   = @N_PROJ_CODE
                                   AND C_CODE      = @N_C_CODE

                        IF ( @@ROWCOUNT = 0 )   SELECT @pjt_exist_yn = 0

                        -- 프로젝트(pjtbudget) 테이블에 자료가 존재할때
                        IF ( @pjt_exist_yn = 1 )
                        BEGIN  -- 4
                                -- pk가 변경되지 않았을때 처리
                            IF ( substring(@O_DECI_DATE, 1, 6) = substring(@N_DECI_DATE, 1, 6)
                              AND @O_PROJ_CODE = @N_PROJ_CODE
                              AND @O_ACCT_CODE = @N_ACCT_CODE )
                            BEGIN   --- 3
                              -- 승인시에는 승인집행금액(CDO_AMT)에 반영
                              IF ( @O_DOCU_NO = 0 AND @N_DOCU_NO <> 0 )
                              BEGIN
                                      --  SELECT @ERR_NO = 20014

                                        IF (substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                        BEGIN
                                                UPDATE PJTBUDGET
                                                   SET CDO_AMT = CDO_AMT + (@N_DR_AMT + @N_CR_AMT)
                                                 WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                                   AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                   AND PROJ_CODE = @N_PROJ_CODE
                                                   AND C_CODE = @N_C_CODE
                                                   
                                        END
                                        UPDATE PJTBUDGET
                                           SET CDO_AMT = CDO_AMT + (@N_DR_AMT + @N_CR_AMT)
                                         WHERE BUDGET_CODE = @N_ACCT_CODE
                                           AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                           AND PROJ_CODE = @N_PROJ_CODE
                                           AND C_CODE = @N_C_CODE
                                           
                                        SELECT @ERR_NO = 20014
			                                          
                                           
                                        -- 승인이 아닐때 결의집행금액(DO_AMT)에 반영
                              END
                              ELSE IF ( @O_DOCU_NO <> 0 AND @N_DOCU_NO = 0 )
                                  BEGIN
                                        SELECT @ERR_NO = 20015

                                        IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                        BEGIN
                                                UPDATE PJTBUDGET
                                                                SET CDO_AMT = CDO_AMT - (@O_DR_AMT + @O_CR_AMT)
                                                 WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                                        AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                        AND PROJ_CODE = @N_PROJ_CODE
                                                        AND C_CODE = @N_C_CODE
                                        END

                                        UPDATE PJTBUDGET
                                           SET CDO_AMT = CDO_AMT - (@O_DR_AMT + @O_CR_AMT)
                                         WHERE BUDGET_CODE = @N_ACCT_CODE
                                           AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                           AND PROJ_CODE = @N_PROJ_CODE
                                           AND C_CODE = @N_C_CODE
                                        -- 승인이 아닐때 결의집행금액(DO_AMT)에 반영
                                  END
                              ELSE
                                  BEGIN
                                         IF (substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                         BEGIN
                                                 UPDATE PJTBUDGET
                                                     SET DO_AMT = DO_AMT + ((@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)),
                                                         CDO_AMT = CDO_AMT + @cdoamt
                                                     WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                                      AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                      AND PROJ_CODE = @N_PROJ_CODE
                                                      AND C_CODE = @N_C_CODE
                                         END
                                        SELECT @ERR_NO = 20016
                                                UPDATE PJTBUDGET
                                                   SET DO_AMT = DO_AMT +
                                                           ((@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)),
                                                               CDO_AMT = CDO_AMT + @cdoamt
                                                 WHERE BUDGET_CODE = @N_ACCT_CODE
                                                   AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                   AND PROJ_CODE = @N_PROJ_CODE
                                                   AND C_CODE = @N_C_CODE
                                  END
                                        
                             END        -- 3
                            ELSE	-- pk가 변경되었을때 처리
                             BEGIN   
                              IF ( @O_DOCU_NO <> 0 )
                                  BEGIN
                                      SELECT @cdoamt = (@O_DR_AMT + @O_CR_AMT)
                                  END
                              ELSE
                                  BEGIN
                                       SELECT @cdoamt = 0
                                  END

                                  --BEGIN
                                  SELECT @ERR_NO = 20017
                                  -- 과거 자료는 빼준다.
                                  IF ( substring(@O_ACCT_CODE, 4, 2) <> '00' )
                                     BEGIN
                                	UPDATE PJTBUDGET
                                   	SET DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT),CDO_AMT = CDO_AMT - @cdoamt
                                         WHERE BUDGET_CODE = (substring(@O_ACCT_CODE, 1, 3) + '00')
                                           AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                           AND PROJ_CODE = @O_PROJ_CODE
                                           AND C_CODE = @O_C_CODE
                                     END

                                  UPDATE PJTBUDGET
                                    SET DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT), CDO_AMT = CDO_AMT - @cdoamt
                                         WHERE BUDGET_CODE = @O_ACCT_CODE
                                         AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                         AND PROJ_CODE = @O_PROJ_CODE
                                         AND C_CODE = @O_C_CODE
                                  --END

                                  SELECT @ERR_NO = 20018
                                  -- 새로운 자료의 값을 더해준다
                                  IF ( @N_DOCU_NO <> 0 )
                                       BEGIN
                                         SELECT @cdoamt = (@N_DR_AMT + @N_CR_AMT)
                                       END
                                  ELSE
                                       BEGIN
                                          SELECT @cdoamt = 0
                                       END
   
                                  IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                     BEGIN
                                          UPDATE PJTBUDGET
                                           SET  DO_AMT = DO_AMT + @N_DR_AMT + @N_CR_AMT,CDO_AMT = CDO_AMT + @cdoamt
                                                 WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                                 AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                   AND PROJ_CODE = @N_PROJ_CODE
                                                   AND C_CODE = @N_C_CODE
                                     END

                                  UPDATE PJTBUDGET
                                     SET  DO_AMT  = DO_AMT + @N_DR_AMT + @N_CR_AMT, CDO_AMT = CDO_AMT + @cdoamt
                                     WHERE BUDGET_CODE = @N_ACCT_CODE
                                     AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                     AND PROJ_CODE = @N_PROJ_CODE
                                                AND C_CODE = @N_C_CODE
                             END  --- P.K가 변경했을 때		
                        
                        END  --- 3
                        ELSE -- 프로젝트(pjtbudget) 테이블에 자료가 존재하지 않을때
                          BEGIN  --- 3
                              -- pk가 변경되지않았을때 처리
                             IF ( @O_PROJ_CODE = @N_PROJ_CODE AND @O_ACCT_CODE = @N_ACCT_CODE )
                                BEGIN
                                  
                                 -- 승인시에는 승인집행금액(CDO_AMT)에 반영
                                   IF (@N_DOCU_NO <> 0)
                                     BEGIN 
                                       SELECT @cdoamt = (@N_DR_AMT + @N_CR_AMT)
                                     END
                                   ELSE
                                     BEGIN 
                                       SELECT @cdoamt = 0
                                     END
                                   SELECT @ERR_NO = 20020
                                   IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                      BEGIN
                                       INSERT INTO PJTBUDGET
                                        (C_CODE, BUDGET_YM, PROJ_CODE, BUDGET_CODE,
                                        PYUN_AMT, SIN_AMT, DO_AMT, CDO_AMT )
                                        VALUES (@N_C_CODE, substring(@N_DECI_DATE, 1, 6),
                                             @N_PROJ_CODE, (substring(@N_ACCT_CODE, 1, 3) + '00'),0, 0, @N_DR_AMT + @N_CR_AMT, @cdoamt)
                                      END
                                   INSERT INTO PJTBUDGET
                                        (C_CODE, BUDGET_YM, PROJ_CODE, BUDGET_CODE,
                                         PYUN_AMT, SIN_AMT, DO_AMT, CDO_AMT )
                                   VALUES
                                        (@N_C_CODE, substring(@N_DECI_DATE, 1, 6),
                                         @N_PROJ_CODE, @N_ACCT_CODE,0, 0, @N_DR_AMT + @N_CR_AMT,@cdoamt)
                                        -- 해제때 승인집행금액(CDO_AMT)에 반영
                                END
                             ELSE	-- P.K변경
                              BEGIN

                                SELECT @ERR_NO = 20022
                                --- OLD VALUE CHANGE
                                IF ( @O_DOCU_NO <> 0 )
                                  BEGIN
                                   SELECT @cdoamt = (@O_DR_AMT + @O_CR_AMT)
                                  END
                                ELSE
                                  BEGIN
                                   SELECT @cdoamt = 0
                                  END
                                IF ( substring(@O_ACCT_CODE, 4, 2) <> '00' )
                                  BEGIN
                                    UPDATE PJTBUDGET
                                     SET CDO_AMT = CDO_AMT - @cdoamt,
                                     	 DO_AMT  = DO_AMT - (@O_DR_AMT + @O_CR_AMT)
                                    WHERE BUDGET_CODE = (substring(@O_ACCT_CODE, 1, 3) + '00')
                                    AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                    AND PROJ_CODE = @O_PROJ_CODE
                                    AND C_CODE = @O_C_CODE
                                	 END  
                                 UPDATE PJTBUDGET
                                     SET CDO_AMT = CDO_AMT - @cdoamt,DO_AMT  = DO_AMT - (@O_DR_AMT + @O_CR_AMT)
                                 WHERE BUDGET_CODE = @O_ACCT_CODE
                                  AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                  AND PROJ_CODE = @O_PROJ_CODE
                                  AND C_CODE = @O_C_CODE
                                 ---- NEW  
                                IF ( @N_DOCU_NO <> 0 )
                                  BEGIN
                                   SELECT @cdoamt = (@N_DR_AMT + @N_CR_AMT)
                                  END
                                ELSE
                                  BEGIN
                                   SELECT @cdoamt = 0
                                  END
                                IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                  BEGIN
                                    UPDATE PJTBUDGET
                                     SET CDO_AMT = CDO_AMT + @cdoamt,DO_AMT  = DO_AMT + (@N_DR_AMT + @N_CR_AMT)
                                    WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                    AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                    AND PROJ_CODE = @N_PROJ_CODE
                                    AND C_CODE = @N_C_CODE
                                  
                                   IF ( @@ROWCOUNT = 0 )
                                      BEGIN
                              		INSERT INTO PJTBUDGET
                                        (C_CODE, BUDGET_YM, PROJ_CODE, BUDGET_CODE,
                                         PYUN_AMT, SIN_AMT, DO_AMT, CDO_AMT )
                              	      VALUES
                                        (@N_C_CODE, substring(@N_DECI_DATE, 1, 6),
                                         @N_PROJ_CODE, (substring(@N_ACCT_CODE, 1, 3) + '00'),
                                         0, 0, @N_DR_AMT + @N_CR_AMT, @cdoamt)

                            	   END
                                  END
                                  
                                 INSERT INTO PJTBUDGET (C_CODE, BUDGET_YM, PROJ_CODE, BUDGET_CODE,
                                       PYUN_AMT, SIN_AMT, DO_AMT, CDO_AMT )
                                  VALUES
                                        (@N_C_CODE, substring(@N_DECI_DATE, 1, 6),
                                         @N_PROJ_CODE, @N_ACCT_CODE,0, 0, @N_DR_AMT + @N_CR_AMT, @cdoamt)
                              END
                        
                        -- pk가 변경되었을때 처리
                	  END  --- 4
                END --- 3
       
         -- 예산프로젝트 반영 끝----------------------------------
       	 -- budgetcon 테이블에서 통제방법을 확인한다.
         -- 1이면 결의부서로 통제, 2이면 예산부서별로 통제
         -- default 는 결의부서로 통제
         SELECT @ERR_NO = 20025

         SELECT @cont_type = CTL_TYPE FROM BUDGETCON  WHERE C_CODE = @N_C_CODE
        
         IF ( @@ROWCOUNT = 0 )    SELECT @cont_type = '0'
        
                
          -- ctl_type = '1' 일때 결의부서(dept_code)를 반영
         IF ( @cont_type = '1' )
           BEGIN ---  1
           -- 예산테이블을 읽어 관리할 계정과목이 존재하는가
           -- 파악하여 insert/update여부 결정.

           SELECT @ERR_NO = 20026

           SELECT @exist_yn = 1  FROM BUDGETDO 
           WHERE BUDGET_CODE = @N_ACCT_CODE
             AND DEPT_CODE = @N_DEPT_CODE
             AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
             AND C_CODE = @N_C_CODE

            IF ( @@ROWCOUNT = 0 ) SELECT @exist_yn = 0
                

             -- 예산테이블에 자료존재
            IF ( @exist_yn = 1 )
                BEGIN --- 2
                -- 결의부서이고 pk가 변경되지 않았을때 처리
                 IF ( substring(@O_DECI_DATE, 1, 6) = substring(@N_DECI_DATE, 1, 6) AND @O_DEPT_CODE = @N_DEPT_CODE AND @O_ACCT_CODE = @N_ACCT_CODE )
                    BEGIN -- 3
                     -- 승인시에는 승인집행금액(CDO_AMT)에 반영
                       IF ( @O_DOCU_NO = 0 AND @N_DOCU_NO <> 0 )
                           BEGIN
                            SELECT @ERR_NO = 20027
                                
                            UPDATE BUDGETDO
                            SET CDO_AMT = CDO_AMT + (@N_DR_AMT + @N_CR_AMT)
                            WHERE BUDGET_CODE = @N_ACCT_CODE
                              AND DEPT_CODE = @N_DEPT_CODE
                              AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                              AND C_CODE = @N_C_CODE
                                                
                            IF (substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                BEGIN
                                   UPDATE BUDGETDO
                                   SET CDO_AMT = CDO_AMT + (@N_DR_AMT + @N_CR_AMT)
                                   WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                   AND DEPT_CODE = @N_DEPT_CODE
                                   AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                   AND C_CODE = @N_C_CODE
                                END
                               
                           END
                       ELSE IF ( @O_DOCU_NO <> 0 AND @N_DOCU_NO = 0 )   -- 해제시 승인집행금액(CDO_AMT)에 반영
                           BEGIN
                              SELECT @ERR_NO = 20028
                                       
                              UPDATE BUDGETDO
                              SET CDO_AMT = CDO_AMT - (@O_DR_AMT + @O_CR_AMT)
                              WHERE BUDGET_CODE = @N_ACCT_CODE
                              AND DEPT_CODE = @N_DEPT_CODE
                              AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                              AND C_CODE = @N_C_CODE

                              IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                BEGIN
                                  UPDATE BUDGETDO
                                  SET CDO_AMT = CDO_AMT - (@O_DR_AMT + @O_CR_AMT)
                                  WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                  AND DEPT_CODE = @N_DEPT_CODE
                                  AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                  AND C_CODE = @N_C_CODE
                               END

                                -- 승인/해제가 아닐때 결의집행금액(DO_AMT)에 반영
                           END
                       ELSE
                           BEGIN
                               SELECT @ERR_NO = 20029
                               IF ( @O_DOCU_NO <> 0 AND @N_DOCU_NO <> 0)  -- 승인수정일경우 
                                  BEGIN
                                      SELECT @cdoamt = (@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)
                                  END
                               ELSE
                                  BEGIN
                                     SELECT @cdoamt = 0
                                  END

                               UPDATE BUDGETDO
                                 SET DO_AMT = DO_AMT + ((@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)),
                                                 CDO_AMT = CDO_AMT + @cdoamt
                                        WHERE BUDGET_CODE = @N_ACCT_CODE
                                        AND DEPT_CODE = @N_DEPT_CODE
                                        AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                        AND C_CODE = @N_C_CODE
                                        
                                        IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                        BEGIN
                                          UPDATE BUDGETDO
                                                  SET DO_AMT = DO_AMT + 
                                                                                          ((@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)),
                                                          CDO_AMT = CDO_AMT + @cdoamt
                                                WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                                 AND DEPT_CODE = @N_DEPT_CODE
                                                 AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                 AND C_CODE = @N_C_CODE
                                        END

                           END
                    END      --- 3
                 -- 결의부서이고 예산테이블에 자료존재하고 pk가 변경되었을때 처리
                 ELSE
                    BEGIN
                      IF ( @O_DOCU_NO <> 0 )
                         BEGIN
                            SELECT @cdoamt = (@O_DR_AMT + @O_CR_AMT)
                         END
                      ELSE
                         BEGIN
                            SELECT @cdoamt = 0
                         END

                      BEGIN
                        SELECT @ERR_NO = 20030
                            IF ( substring(@O_ACCT_CODE, 4, 2) <> '00' )
                               BEGIN
                                UPDATE BUDGETDO
                                        SET DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT),
                                          CDO_AMT = CDO_AMT - @cdoamt
                                 WHERE BUDGET_CODE = (substring(@O_ACCT_CODE, 1, 3) + '00')
                                        AND DEPT_CODE = @O_DEPT_CODE
                                        AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                        AND C_CODE = @O_C_CODE
                                 END

                               UPDATE BUDGETDO
                                 SET DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT),
                                          CDO_AMT = CDO_AMT - @cdoamt
                                         WHERE BUDGET_CODE = @O_ACCT_CODE
                                           AND DEPT_CODE = @O_DEPT_CODE
                                                AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                                AND C_CODE = @O_C_CODE
                       END

                      BEGIN
                      SELECT @ERR_NO = 20031
                         IF ( @N_DOCU_NO <> 0 )
                           BEGIN
                            SELECT @cdoamt = (@N_DR_AMT + @N_CR_AMT)
           	          		 END
                         ELSE
                           BEGIN
                              SELECT  @cdoamt = 0
                           END
                         IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                           BEGIN      
                            UPDATE BUDGETDO
                                  SET  DO_AMT = DO_AMT + @N_DR_AMT + @N_CR_AMT,
                                      CDO_AMT = CDO_AMT + @cdoamt
                                WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                  AND DEPT_CODE = @N_DEPT_CODE
                                  AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                  AND C_CODE = @N_C_CODE
                                  
                            IF (@@ROWCOUNT = 0)  --- 자료가 존재하지 않으면     
                               BEGIN
                               INSERT INTO BUDGETDO
                                        (C_CODE, BUDGET_YM, DEPT_CODE, BUDGET_CODE,
                                         PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT )
                                 VALUES
                                        (@N_C_CODE, substring(@N_DECI_DATE, 1, 6),
                                         @N_DEPT_CODE, (substring(@N_ACCT_CODE, 1, 3) + '00'),
                                         0, 0, @N_DR_AMT + @N_CR_AMT,@cdoamt )
                               END
                           END

                           UPDATE BUDGETDO
                           SET  DO_AMT = DO_AMT + @N_DR_AMT + @N_CR_AMT,
                              CDO_AMT = CDO_AMT + @cdoamt
                           WHERE BUDGET_CODE = @N_ACCT_CODE
                           AND DEPT_CODE = @N_DEPT_CODE
                           AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                           AND C_CODE = @N_C_CODE
 		       				END
                               -- 예산테이블에 자료가 존재하지 않을때
                               
                                -- 예산테이블에 자료가 존재하지 않을때 처리 루틴 끝
                    	END
                -- ctl_type = '2' 일때 예산부서(budget_code)를 반영
                END ---- 2
            ELSE	 ---- 자료가 존재하지 않을 경우 
        			BEGIN
                 IF ( @O_DOCU_NO <> 0 )
                   BEGIN
                    SELECT @cdoamt = (@O_DR_AMT + @O_CR_AMT)
                   END
                 ELSE
                   BEGIN
                    SELECT @cdoamt = 0
                   END

                 	BEGIN
                  SELECT @ERR_NO = 20032
                    IF ( substring(@O_ACCT_CODE, 4, 2) <> '00' )
                       BEGIN
                        UPDATE BUDGETDO
                                SET DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT),
                                  CDO_AMT = CDO_AMT - @cdoamt
                         WHERE BUDGET_CODE = (substring(@O_ACCT_CODE, 1, 3) + '00')
                                AND DEPT_CODE = @O_DEPT_CODE
                                AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                AND C_CODE = @O_C_CODE
                         END

                       UPDATE BUDGETDO
                         SET DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT),
                                  CDO_AMT = CDO_AMT - @cdoamt
                                 WHERE BUDGET_CODE = @O_ACCT_CODE
                                   AND DEPT_CODE = @O_DEPT_CODE
                                        AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                        AND C_CODE = @O_C_CODE
                 	END

                 	BEGIN
                 	SELECT @ERR_NO = 20033
                   IF ( @N_DOCU_NO <> 0 )
                     BEGIN
                       SELECT @cdoamt = (@N_DR_AMT + @N_CR_AMT)
   	            	 END
                   ELSE
                   BEGIN
                       SELECT  @cdoamt = 0
                   END
                   IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                     BEGIN
                       INSERT INTO BUDGETDO
                                (C_CODE, BUDGET_YM, DEPT_CODE, BUDGET_CODE,
                                 PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT )
                         VALUES
                                (@N_C_CODE, substring(@N_DECI_DATE, 1, 6),
                                 @N_DEPT_CODE, (substring(@N_ACCT_CODE, 1, 3) + '00'),
                                 0, 0, @N_DR_AMT + @N_CR_AMT,@cdoamt )
                      END

                       INSERT INTO BUDGETDO
                                (C_CODE, BUDGET_YM, DEPT_CODE, BUDGET_CODE,
                                 PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT )
                         VALUES
                                (@N_C_CODE, substring(@N_DECI_DATE, 1, 6),
                                 @N_DEPT_CODE, (substring(@N_ACCT_CODE, 1, 3) + '00'),
                                 0, 0, @N_DR_AMT + @N_CR_AMT,@cdoamt )
	           	END
	           	END
             END
        ELSE IF ( @cont_type = '2' )	--- 예산집행부서
            BEGIN  ---- 1
             IF ((( @N_BUDGET_DEPT_CODE IS NOT NULL AND @N_BUDGET_DEPT_CODE <> '' ) AND @N_BUDGET_TYPE = '3' ) OR @N_BUDGET_TYPE = '1' )
               BEGIN  ---- 2
                SELECT @ERR_NO = 20034
                
                SELECT @exist_yn = 1
                FROM BUDGETDO
                WHERE BUDGET_CODE = @N_ACCT_CODE
                 AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                 AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                 AND C_CODE = @N_C_CODE

                IF ( @@ROWCOUNT = 0 )  SELECT @exist_yn = 0
               -- 변경된 자료가 budgetdo 테이블에 존재할때 처리
                 
                  IF ( @exist_yn = 1 )
                        BEGIN --- 3
                           -- budgetdo에 존재하고 pk가 변경되지 않았을때 처리
                         IF ( substring(@N_DECI_DATE, 1, 6) = substring(@O_DECI_DATE, 1, 6)
                               AND @O_BUDGET_DEPT_CODE = @N_BUDGET_DEPT_CODE
                               AND @O_ACCT_CODE = @N_ACCT_CODE )
                                BEGIN --- 4
                                   -- 승인시에는 승인집행금액(CDO_AMT)에 반영
                                 IF ( @O_DOCU_NO = 0 AND @N_DOCU_NO <> 0  )
                                    BEGIN

                                       SELECT @ERR_NO = 20035
                                        
                                        UPDATE BUDGETDO
                                                SET CDO_AMT = CDO_AMT + (@N_DR_AMT + @N_CR_AMT)
                                        WHERE BUDGET_CODE = @N_ACCT_CODE
                                                AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                                                AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                AND C_CODE = @N_C_CODE
                                
                                        IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                           BEGIN
                                             UPDATE BUDGETDO SET CDO_AMT = ISNULL(CDO_AMT,0) + (@N_DR_AMT + @N_CR_AMT)
                                              WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                              AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                                              AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                              AND C_CODE = @N_C_CODE
                                          END
                                    END
                                 ELSE IF ( @O_DOCU_NO <> 0 AND @N_DOCU_NO = 0  )  -- 승인해제시 승인집행금액(CDO_AMT)에 반영
                                    BEGIN

                                       SELECT @ERR_NO = 20036

                                       UPDATE BUDGETDO SET CDO_AMT = CDO_AMT - (@O_DR_AMT + @O_CR_AMT)
                                         WHERE BUDGET_CODE = @N_ACCT_CODE
                                                AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                                                AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                AND C_CODE = @N_C_CODE
                                                
                                        IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                           BEGIN
                                               UPDATE BUDGETDO  SET CDO_AMT = CDO_AMT - (@O_DR_AMT + @O_CR_AMT)
                                               WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                                     AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                                                     AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                     AND C_CODE = @N_C_CODE
                                           END

                                        
                                     END
                                  ELSE  -- 승인이 아닐때 결의집행금액(DO_AMT)에 반영
                                     BEGIN
                                            SELECT @ERR_NO = 20037
                                            IF ( @O_DOCU_NO <> 0 AND @N_DOCU_NO <> 0)
                                                BEGIN
                                                  SELECT  @cdoamt = (@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)
                                                END
                                            ELSE
                                                BEGIN
                                                  SELECT @cdoamt = 0
                                                END
        
                                            IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                                BEGIN
                                                UPDATE BUDGETDO  SET DO_AMT = DO_AMT + ((@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)),
                                                       CDO_AMT = ISNULL(CDO_AMT,0) + @cdoamt
                                                 WHERE BUDGET_CODE = @N_ACCT_CODE
                                                 AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                                                 AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                 AND C_CODE = @N_C_CODE
                                                
                                                END
                                                    UPDATE BUDGETDO  SET DO_AMT = DO_AMT + ((@N_DR_AMT + @N_CR_AMT) - (@O_DR_AMT + @O_CR_AMT)),
                                                           CDO_AMT = ISNULL(CDO_AMT,0) + @cdoamt
                                                    WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                                    AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                                                    AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                                    AND C_CODE = @N_C_CODE
                                                
                                     END
                                END
                         ELSE   -- budgetdo에 존재하고 pk가 변경되었을때 처리
                            BEGIN
                              ---- OLD VALUE
                              BEGIN
                              SELECT @ERR_NO = 20038
                              IF ( @O_DOCU_NO <> 0 )
                                 BEGIN
                                   SELECT @cdoamt = (@O_DR_AMT + @O_CR_AMT)
                                 END
                              ELSE
                                 BEGIN
                                   SELECT @cdoamt = 0
                              END

                              IF ( substring(@O_ACCT_CODE, 4, 2) <> '00' )
                                 BEGIN
                                     UPDATE BUDGETDO SET  DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT),CDO_AMT = CDO_AMT - @cdoamt
                                     WHERE BUDGET_CODE = (substring(@O_ACCT_CODE, 1, 3) + '00')
                                     AND DEPT_CODE = @O_BUDGET_DEPT_CODE
                                     AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                     AND C_CODE = @O_C_CODE
                                 END

                                UPDATE BUDGETDO SET  DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT),CDO_AMT = CDO_AMT - @cdoamt
                                 WHERE BUDGET_CODE = @O_ACCT_CODE
                                   AND DEPT_CODE = @O_BUDGET_DEPT_CODE
                                   AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                   AND C_CODE = @O_C_CODE
                                   
                              END
                              -- NEW BALUE
                              BEGIN
                                SELECT @ERR_NO = 20039
                                IF ( @N_DOCU_NO <> 0 )
                                 BEGIN
                                   SELECT @cdoamt = (@N_DR_AMT + @N_CR_AMT)
                                 END
                               ELSE
                                 BEGIN
                                   SELECT @cdoamt = 0
                                 END

                               IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                                 BEGIN
                                     UPDATE BUDGETDO SET  DO_AMT = DO_AMT + (@N_DR_AMT + @N_CR_AMT),CDO_AMT = CDO_AMT + @cdoamt
                                     WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                                     AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                                     AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                     AND C_CODE = @N_C_CODE
                                 END

                                UPDATE BUDGETDO SET  DO_AMT = DO_AMT + (@N_DR_AMT + @N_CR_AMT),CDO_AMT = CDO_AMT + @cdoamt
                                 WHERE BUDGET_CODE = @N_ACCT_CODE
                                   AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                                   AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                                   AND C_CODE = @N_C_CODE
                                   
                               END
                             END --- ELSE   
                              
                        END  ---- 3
                  ELSE   -------------- 존재하지 않을 때      
                     BEGIN
                     ---- OLD VALUE
                       BEGIN
                          SELECT @ERR_NO = 20039
                          IF ( @O_DOCU_NO <> 0 )
                             BEGIN
                               SELECT @cdoamt = (@O_DR_AMT + @O_CR_AMT)
                             END
                          ELSE
                             BEGIN
                               SELECT @cdoamt = 0
                             END

                         IF ( substring(@O_ACCT_CODE, 4, 2) <> '00' )
                                 BEGIN
                                     UPDATE BUDGETDO SET  DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT),CDO_AMT = CDO_AMT - @cdoamt
                                     WHERE BUDGET_CODE = (substring(@O_ACCT_CODE, 1, 3) + '00')
                                     AND DEPT_CODE = @O_BUDGET_DEPT_CODE
                                     AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                     AND C_CODE = @O_C_CODE
                                 END

                          UPDATE BUDGETDO SET  DO_AMT = DO_AMT - (@O_DR_AMT + @O_CR_AMT),CDO_AMT = CDO_AMT - @cdoamt
                                 WHERE BUDGET_CODE = @O_ACCT_CODE
                                   AND DEPT_CODE = @O_BUDGET_DEPT_CODE
                                   AND BUDGET_YM = substring(@O_DECI_DATE, 1, 6)
                                   AND C_CODE = @O_C_CODE
                                   
                       END
                       -- NEW BALUE
                       BEGIN
                         SELECT @ERR_NO = 20040
                         IF ( @N_DOCU_NO <> 0 )
                            BEGIN
                              SELECT @cdoamt = (@N_DR_AMT + @N_CR_AMT)
                            END
                         ELSE
                            BEGIN
                              SELECT @cdoamt = 0
                            END

                         IF ( substring(@N_ACCT_CODE, 4, 2) <> '00' )
                             BEGIN
                              UPDATE BUDGETDO SET  DO_AMT = DO_AMT + (@N_DR_AMT + @N_CR_AMT),CDO_AMT = CDO_AMT + @cdoamt
                               WHERE BUDGET_CODE = (substring(@N_ACCT_CODE, 1, 3) + '00')
                               AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                               AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                               AND C_CODE = @N_C_CODE
                              IF (@@ROWCOUNT = 0)  
 				BEGIN                            
                                  INSERT INTO BUDGETDO
                                        (C_CODE, BUDGET_YM, DEPT_CODE, BUDGET_CODE,
                                         PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT )
                                 VALUES
                                        (@N_C_CODE, substring(@N_DECI_DATE, 1, 6),
                                         @N_BUDGET_DEPT_CODE, (substring(@N_ACCT_CODE, 1, 3) + '00'),
                                         0, 0, @N_DR_AMT + @N_CR_AMT,@cdoamt )
                                 END
                            END

                            UPDATE BUDGETDO SET  DO_AMT = DO_AMT + (@N_DR_AMT + @N_CR_AMT),CDO_AMT = CDO_AMT + @cdoamt
                            WHERE BUDGET_CODE = @N_ACCT_CODE
                            AND DEPT_CODE = @N_BUDGET_DEPT_CODE
                            AND BUDGET_YM = substring(@N_DECI_DATE, 1, 6)
                            AND C_CODE = @N_C_CODE
                            IF (@@ROWCOUNT = 0)  
 				BEGIN                            
                                  INSERT INTO BUDGETDO
                                        (C_CODE, BUDGET_YM, DEPT_CODE, BUDGET_CODE,
                                         PYUN_AMT, SIL_AMT, DO_AMT, CDO_AMT )
                                 VALUES
                                        (@N_C_CODE, substring(@N_DECI_DATE, 1, 6),
                                         @N_BUDGET_DEPT_CODE, @N_ACCT_CODE,0, 0, @N_DR_AMT + @N_CR_AMT,@cdoamt )
                                 END
                          --    END
                       END --- NEW VALUE
               END ------- 2
            END --------1   
        END ---- DATA_YN  - 2

END	
RETURN 0
ON_ERROR:
    RAISERROR ('%d,%s',16,1,@ERR_NO,'UPU_DOCUD_YESAN_A 프로시져처리중 에러 발생')
    ROLLBACK  TRANSACTION
END -- 1


GO
