USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVETAX_BILL]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVETAX_BILL](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[FR_DT] [varchar](8) NOT NULL,
	[TO_DT] [varchar](8) NOT NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[MATT_CNT] [numeric](7, 0) NOT NULL,
	[DEDUCTIBLE_AM] [numeric](17, 4) NOT NULL,
	[PREDEDUCT_AM] [numeric](17, 4) NOT NULL,
	[DLIMIT_AM] [numeric](17, 4) NOT NULL,
	[DEDUCT_AM] [numeric](17, 4) NOT NULL,
 CONSTRAINT [PK_AVETAX_BILL] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVETAX_BILL] ADD  CONSTRAINT [DF__AVETAX_BI__MATT___3B219CFC]  DEFAULT ((0)) FOR [MATT_CNT]
GO
ALTER TABLE [DZAIS].[AVETAX_BILL] ADD  CONSTRAINT [DF__AVETAX_BI__DEDUC__3C15C135]  DEFAULT ((0)) FOR [DEDUCTIBLE_AM]
GO
ALTER TABLE [DZAIS].[AVETAX_BILL] ADD  CONSTRAINT [DF__AVETAX_BI__PREDE__3D09E56E]  DEFAULT ((0)) FOR [PREDEDUCT_AM]
GO
ALTER TABLE [DZAIS].[AVETAX_BILL] ADD  CONSTRAINT [DF__AVETAX_BI__DLIMI__3DFE09A7]  DEFAULT ((0)) FOR [DLIMIT_AM]
GO
ALTER TABLE [DZAIS].[AVETAX_BILL] ADD  CONSTRAINT [DF__AVETAX_BI__DEDUC__3EF22DE0]  DEFAULT ((0)) FOR [DEDUCT_AM]
GO
