USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVDISUSESUM]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVDISUSESUM](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[DOC_FG] [varchar](1) NOT NULL,
	[LN_SQ] [numeric](5, 0) NOT NULL,
	[FR_YM] [varchar](6) NOT NULL,
	[TO_YM] [varchar](6) NOT NULL,
	[REG_NB] [nvarchar](100) NULL,
	[TR_NM] [varchar](40) NULL,
	[TR_CNT] [numeric](15, 4) NULL,
	[MATT_CNT] [numeric](15, 4) NULL,
	[ITEM_DC] [varchar](40) NULL,
	[PUR_QT] [numeric](15, 4) NULL,
	[SUP_AM] [numeric](19, 4) NULL,
	[VAT_AM] [numeric](19, 4) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
 CONSTRAINT [PK_AVDISUSESUM] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[DOC_FG] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC,
	[FR_YM] ASC,
	[TO_YM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__DOC_F__2F8FEEBF]  DEFAULT ('1') FOR [DOC_FG]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__LN_SQ__308412F8]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__FR_YM__31783731]  DEFAULT ('000000') FOR [FR_YM]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__TO_YM__326C5B6A]  DEFAULT ('000000') FOR [TO_YM]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__TR_CN__33607FA3]  DEFAULT ((0)) FOR [TR_CNT]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__MATT___3454A3DC]  DEFAULT ((0)) FOR [MATT_CNT]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__PUR_Q__3548C815]  DEFAULT ((0)) FOR [PUR_QT]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__SUP_A__363CEC4E]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__VAT_A__37311087]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[AVDISUSESUM] ADD  CONSTRAINT [DF__AVDISUSES__SINGO__382534C0]  DEFAULT ('0') FOR [SINGO_FG]
GO
