USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AORIGIN_D]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AORIGIN_D](
	[CO_CD] [nvarchar](7) NOT NULL,
	[DIV_CD] [nvarchar](7) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[SEQ_NB] [numeric](5, 0) NOT NULL,
	[CNT] [numeric](7, 0) NOT NULL,
	[WRITE_DT] [nvarchar](8) NULL,
	[TR_CD] [nvarchar](10) NULL,
	[ISU_DT] [nvarchar](8) NULL,
	[ITEM_NM] [nvarchar](100) NULL,
	[ITEM_SQ] [numeric](17, 4) NULL,
	[ISS_DT] [nvarchar](8) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[RMK_DC] [numeric](17, 4) NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [nvarchar](15) NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [nvarchar](15) NULL,
 CONSTRAINT [PK_AORIGIN_D] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[SINGO_FG] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[SEQ_NB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AORIGIN_D] ADD  CONSTRAINT [DF__AORIGIN_D__CNT__5A653E2B]  DEFAULT ((0)) FOR [CNT]
GO
ALTER TABLE [DZAIS].[AORIGIN_D] ADD  CONSTRAINT [DF__AORIGIN_D__ITEM___5B596264]  DEFAULT ((0)) FOR [ITEM_SQ]
GO
ALTER TABLE [DZAIS].[AORIGIN_D] ADD  CONSTRAINT [DF__AORIGIN_D__SUP_A__5C4D869D]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[AORIGIN_D] ADD  CONSTRAINT [DF__AORIGIN_D__RMK_D__5D41AAD6]  DEFAULT ((0)) FOR [RMK_DC]
GO
ALTER TABLE [DZAIS].[AORIGIN_D] ADD  CONSTRAINT [DF__AORIGIN_D__INSER__5E35CF0F]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
