USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VBASE_ITEM]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE VIEW [DZAIS].[VBASE_ITEM] AS SELECT * FROM BASE.DZBASE.ITEM 

GO
