USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVBIL]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVBIL](
	[CO_CD] [varchar](7) NOT NULL,
	[DIV_CD] [varchar](7) NOT NULL,
	[RPT_TM] [varchar](6) NOT NULL,
	[LN_SQ] [numeric](3, 0) NOT NULL,
	[FR_DT] [varchar](8) NULL,
	[TO_DT] [varchar](8) NULL,
	[DOC_FG] [varchar](1) NOT NULL,
	[DEAL_DT] [varchar](8) NULL,
	[TOT_AM] [numeric](17, 4) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[TR_CD] [varchar](13) NULL,
	[RES_DC] [varchar](20) NULL,
	[ISU_DT] [varchar](8) NULL,
	[ISU_SQ] [numeric](5, 0) NULL,
	[LN_SQ2] [numeric](3, 0) NULL,
	[DUMMY1] [varchar](20) NULL,
	[DUMMY2] [varchar](20) NULL,
	[DUMMY3] [varchar](20) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
	[TR_NM] [varchar](30) NULL,
	[CEO_NM] [varchar](30) NULL,
	[REG_NB] [nvarchar](100) NULL,
 CONSTRAINT [PK_AVBIL] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[LN_SQ] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__LN_SQ__02BD4848]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__FR_DT__03B16C81]  DEFAULT ((0)) FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__TO_DT__04A590BA]  DEFAULT ((0)) FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__DEAL_DT__0599B4F3]  DEFAULT ((0)) FOR [DEAL_DT]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__TOT_AM__068DD92C]  DEFAULT ((0)) FOR [TOT_AM]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__VAT_AM__0781FD65]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__ISU_DT__0876219E]  DEFAULT ((0)) FOR [ISU_DT]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__ISU_SQ__096A45D7]  DEFAULT ((0)) FOR [ISU_SQ]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__LN_SQ2__0A5E6A10]  DEFAULT ((0)) FOR [LN_SQ2]
GO
ALTER TABLE [DZAIS].[AVBIL] ADD  CONSTRAINT [DF__AVBIL__SINGO_FG__0B528E49]  DEFAULT ((0)) FOR [SINGO_FG]
GO
