USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[FUND_NO1]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[FUND_NO1](
	[TABLENM] [varchar](20) NOT NULL,
	[FUND_NO] [int] NOT NULL,
 CONSTRAINT [PK_FUND_NO1] PRIMARY KEY CLUSTERED 
(
	[TABLENM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
