USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_YOUNCHUNNABBUSEAEK]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 

CREATE    PROC [DZAIS].[USP_IPLUS_YOUNCHUNNABBUSEAEK]
(
	@CO_CD				VARCHAR(4), 		-- 회사코드 ( 필수 )
	@GISU				VARCHAR(10),
	@FR_DT				VARCHAR(8),
	@TO_DT				VARCHAR(8),  
	@CVTCD_STR			VARCHAR(8000)  
)
AS
/*************************************************************************/
--설    명 : 회계관리 - 법인연동 - 원천납부세액명세서-법인세
--수 정 자 : 김대영
--수정일자 : 2010/01/18
--수정내역 : 2010/01/18 : 신규 
/***/
BEGIN  
	-- exec [USP_IPLUS_COR_YOUNCHUNNABBUSEAEK_SELECT] '','5000',6, '20090101','20091231' ,'99800|'

	DECLARE @NEW_CO_CD VARCHAR(4) 

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD

-- 	CREATE TABLE #USP_MULTI_PARAMETERS (CVT_CD  VARCHAR(5) NULL )
-- 		INSERT INTO #USP_MULTI_PARAMETERS EXEC USP_MULTI_PARAMETERS  @CVTCD_STR 

	SELECT	D.ACCT_DATE DA_WITHHELD, 
		D.DOCU_NO  NO_ACCT, 
		B.CUST_NAME NM_TRADE,
		D.NOTE_NAME NM_REMARK, 
		D.DR_AMT MN_INT,
		CASE WHEN B.CUST_TYPE = '3' THEN B.ID_NO ELSE B.S_IDNO END NO_BIZ

	FROM 	DOCUD D
	    LEFT OUTER JOIN 
		VBASE_TRADE B ON ( D.C_CODE = B.C_CODE AND	D.VEN_CODE = B.CUST_CODE),
		TAXACCTCODE S 

	WHERE 	D.C_CODE = S.C_CODE
	AND	D.ACCT_CODE = S.ACCT_CODE
--	AND	S.PLUS_ACCT_CODE = #USP_MULTI_PARAMETERS.CVT_CD
	AND 	D.C_CODE = @NEW_CO_CD
	AND	D.ACCT_DATE BETWEEN @FR_DT AND @TO_DT 
	AND   	D.AMT_GUBUN IN ('1', '3')
	AND	S.PLUS_ACCT_CODE IN ('136', '998')
END

GO
