USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UP_IPLUS_CRCONVERT_SELECT]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE PROCEDURE [DZAIS].[UP_IPLUS_CRCONVERT_SELECT]  
AS  
  
SELECT 	CONVERT(VARCHAR, PC.TAX_C_CODE) CD_COMPANY, 
	UC.C_NAME	NM_COMPANY, 
	UC.BG_GUBUN 	COMPANY_GN, 	--법인 : 1, 개인:2
	UC.PNO		NO_COMPANY, 	--법인등록번호 
	UC.SNO		NO_BIZ,		--사업자등록번호
	UC.C_ENAME	EN_COMPANY, 	--영문회사명
	UC.GISU		FISCAL_YR,
  	UC.FDATE	FISCAL_SD,
	UC.TDATE	FISCAL_ED,
	UC.BEGIN_YMD	DT_OPEN,
	UC.STRU_YMD	DT_START,
	UC.DIDNO	NO_REGIST,   
	UC.DNAME	NM_CEO, 
	UC.E_NAME	NM_ENG,  
	UC.DPOST_NO	ADS_NO1, 
	UC.D_ADDR	ADS1_H, 
	UC.CPHONE	NO_TEL, 
	UC.HPHONE	NO_TEL1,
	UC.BPOST_NO	ADS_NO,		--사업장우편번호
	UC.B_ADDR	ADS_H		--사업장주소
FROM 	VBASE_COMPANYINFO UC
INNER JOIN TAXCOMPANYINFO PC
ON  	UC.C_CODE = PC.C_CODE

GO
