USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TAX_WASTEH_BACKUP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TAX_WASTEH_BACKUP](
	[C_CODE] [varchar](4) NOT NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_YEAR] [char](4) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[EJE_GUBUN] [char](1) NOT NULL,
	[QT] [numeric](15, 0) NOT NULL,
	[GONG_AMT] [numeric](15, 0) NOT NULL,
	[GONG_RATE_CODE] [char](1) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[TAX_COUNT] [numeric](7, 0) NOT NULL,
	[VEN_COUNT] [numeric](7, 0) NOT NULL,
	[PUMMYUNG] [varchar](30) NULL
) ON [PRIMARY]
GO
