USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TMPBUDGET]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TMPBUDGET](
	[D_CODE] [varchar](12) NOT NULL,
	[DEPT_CODE] [varchar](50) NOT NULL,
	[D_GUBUN] [varchar](5) NOT NULL,
	[BUDGET_CODE] [char](5) NOT NULL,
	[BUDGET_NAME] [varchar](40) NOT NULL,
	[DO_AMT] [numeric](15, 0) NOT NULL,
	[DO_AMT1] [numeric](15, 0) NOT NULL,
	[PER] [numeric](15, 2) NOT NULL,
 CONSTRAINT [PK_TMPBUDGET] PRIMARY KEY CLUSTERED 
(
	[D_CODE] ASC,
	[D_GUBUN] ASC,
	[BUDGET_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TMPBUDGET] ADD  CONSTRAINT [DF__TMPBUDGET__DO_AM__77EAB41A]  DEFAULT ((0)) FOR [DO_AMT]
GO
ALTER TABLE [DZAIS].[TMPBUDGET] ADD  CONSTRAINT [DF__TMPBUDGET__DO_AM__78DED853]  DEFAULT ((0)) FOR [DO_AMT1]
GO
ALTER TABLE [DZAIS].[TMPBUDGET] ADD  CONSTRAINT [DF__TMPBUDGET__PER__79D2FC8C]  DEFAULT ((0)) FOR [PER]
GO
