USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[NODECODE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[NODECODE](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[NODE_NAME] [varchar](50) NULL,
	[NODE_SANO] [varchar](20) NULL,
	[UPTEA] [varchar](30) NULL,
	[UPJONG] [varchar](30) NULL,
	[C_PHONE] [varchar](20) NULL,
	[C_POST] [char](8) NULL,
	[C_ADDR] [varchar](100) NULL,
	[TAX_CODE] [char](3) NULL,
	[TAX_NAME] [varchar](30) NULL,
	[BOSS_SNO] [varchar](20) NULL,
	[BOSS_ID] [varchar](13) NULL,
	[FDATE] [char](8) NULL,
	[TDATE] [char](8) NULL,
	[BS_GUBUN] [char](1) NULL
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[NODECODE]  WITH CHECK ADD CHECK  (([FDATE]='00000000' OR [FDATE]>'19500101' AND [FDATE]<'21000101' AND CONVERT([datetime],[FDATE])=CONVERT([datetime],[FDATE])))
GO
ALTER TABLE [DZAIS].[NODECODE]  WITH CHECK ADD CHECK  (([TDATE]='00000000' OR [TDATE]>'19500101' AND [TDATE]<'21000101' AND CONVERT([datetime],[TDATE])=CONVERT([datetime],[TDATE])))
GO
