USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVESTMGM]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVESTMGM](
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[SEQ_NB] [numeric](5, 0) NOT NULL,
	[MGM_CD] [nvarchar](5) NOT NULL,
	[MGM_NM] [nvarchar](60) NOT NULL,
	[MGMDENG_NM] [nvarchar](40) NULL,
	[BEBGONG_CD] [nvarchar](10) NOT NULL,
	[BEBGONG_NM] [nvarchar](50) NOT NULL,
	[SAN_BENG] [nvarchar](4) NULL,
	[BENG] [nvarchar](4) NULL,
	[HOSU] [nvarchar](4) NULL,
	[BULEK] [nvarchar](80) NULL,
	[DONG] [nvarchar](12) NULL,
	[DONG_HO] [nvarchar](6) NULL,
	[TONG] [nvarchar](4) NULL,
	[BAN] [nvarchar](4) NULL,
	[MGM_AMT] [numeric](17, 4) NOT NULL,
	[MGM_CNT] [numeric](10, 4) NOT NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[TY_ADDRESS] [nvarchar](1) NULL,
	[CD_ADDRESS] [nvarchar](12) NULL,
	[NM_ADDRESS] [nvarchar](50) NULL,
	[YN_BASEMENT] [nvarchar](1) NULL,
	[BD_NUM1] [numeric](5, 0) NULL,
	[BD_NUM2] [numeric](5, 0) NULL,
 CONSTRAINT [PK_AVESTMGM] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[SEQ_NB] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVESTMGM] ADD  CONSTRAINT [DF__AVESTMGM__FR_DT__34DEB3C1]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVESTMGM] ADD  CONSTRAINT [DF__AVESTMGM__TO_DT__35D2D7FA]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVESTMGM] ADD  CONSTRAINT [DF__AVESTMGM__MGM_AM__36C6FC33]  DEFAULT ((0)) FOR [MGM_AMT]
GO
ALTER TABLE [DZAIS].[AVESTMGM] ADD  CONSTRAINT [DF__AVESTMGM__MGM_CN__37BB206C]  DEFAULT ((1)) FOR [MGM_CNT]
GO
ALTER TABLE [DZAIS].[AVESTMGM] ADD  CONSTRAINT [DF__AVESTMGM__SINGO___38AF44A5]  DEFAULT ('0') FOR [SINGO_FG]
GO
