USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UPD_DOCUD_YESAN_A]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE PROCEDURE [DZAIS].[UPD_DOCUD_YESAN_A]
(	@C_CODE		VARCHAR(4),
	@ACCT_CODE		CHAR(5),
	@PROJ_CODE		VARCHAR(12), 
	@BUDGET_TYPE	CHAR(1),
	@DECI_DATE		CHAR(8), 
	@DEPT_CODE		VARCHAR(12),
	@DR_AMT		NUMERIC(15), 
	@CR_AMT		NUMERIC(15),
	@BUDGET_DEPT_CODE	VARCHAR(12), 
	@DOCU_NO		NUMERIC(4)
)
AS
DECLARE
	@COUNT	INT,
	@AMT		NUMERIC(15, 0),
	@DRCR_AMT	NUMERIC(15, 0),
	@DRCR_GUBUN	CHAR(1), 
	@BCON_YN	CHAR(1),
	@CTL_TYPE	CHAR(1),
	@TYPE_CODE	VARCHAR(12)
BEGIN
	SELECT	@DRCR_GUBUN = DRCR_GUBUN
	FROM	ACCTCODE
	WHERE	C_CODE = @C_CODE
	AND	ACCT_CODE = @ACCT_CODE
	IF @DRCR_GUBUN = '1'
		SELECT @DRCR_AMT = @DR_AMT
	ELSE
		SELECT @DRCR_AMT = @CR_AMT

	IF @DOCU_NO <> 0
		SELECT	@AMT = @DRCR_AMT
	ELSE
		SELECT	@AMT = 0

	SELECT	@COUNT = COUNT(BUDGET_CODE)
	FROM	BUDGETCODE
	WHERE	C_CODE = @C_CODE
	AND	BUDGET_CODE = @ACCT_CODE

	IF	@COUNT = 0	RETURN 0

	SELECT	@BCON_YN = ISNULL(BCON_YN, '0')
	FROM	VBASE_PJTCODE
	WHERE	C_CODE = @C_CODE
	AND	PROJ_CODE = @PROJ_CODE

	IF @PROJ_CODE IS NOT NULL AND @PROJ_CODE <> '' AND @BCON_YN = '1'
	BEGIN
		UPDATE	PJTBUDGET
		SET	DO_AMT = DO_AMT - @DRCR_AMT,
			CDO_AMT = CDO_AMT - @AMT
		WHERE	C_CODE = @C_CODE
		AND	PROJ_CODE = @PROJ_CODE
		AND	BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6)
		AND	BUDGET_CODE = @ACCT_CODE

		IF RIGHT(@ACCT_CODE, 2) <> '00'
		BEGIN
			UPDATE	PJTBUDGET
			SET	DO_AMT = DO_AMT - @DRCR_AMT,
				CDO_AMT = CDO_AMT - @AMT
			WHERE	C_CODE = @C_CODE
			AND	PROJ_CODE = @PROJ_CODE
			AND	BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6)
			AND	BUDGET_CODE = (SUBSTRING(@ACCT_CODE, 1, 3) + '00')
		END
	END

	SELECT	@CTL_TYPE = ISNULL(CTL_TYPE, '0')
	FROM	BUDGETCON
	WHERE	C_CODE = @C_CODE

	IF @CTL_TYPE = '0' RETURN 0

	IF @CTL_TYPE = '1'
		SELECT	@TYPE_CODE = @DEPT_CODE
	ELSE
		SELECT	@TYPE_CODE = @BUDGET_DEPT_CODE

	IF @TYPE_CODE IS NULL OR @TYPE_CODE = '' RETURN 0

	UPDATE	BUDGETDO
	SET	DO_AMT = DO_AMT - @DRCR_AMT,
		CDO_AMT = CDO_AMT - @AMT
	WHERE	C_CODE = @C_CODE
	AND	DEPT_CODE = @TYPE_CODE
	AND	BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6)
	AND	BUDGET_CODE = @ACCT_CODE

	IF RIGHT(@ACCT_CODE, 2) <> '00'
	BEGIN
		UPDATE	BUDGETDO
		SET	DO_AMT = DO_AMT - @DRCR_AMT,
			CDO_AMT = CDO_AMT - @AMT
		WHERE	C_CODE = @C_CODE
		AND	DEPT_CODE = @TYPE_CODE
		AND	BUDGET_YM = SUBSTRING(@DECI_DATE, 1, 6)
		AND	BUDGET_CODE = (SUBSTRING(@ACCT_CODE, 1, 3) + '00')
	END

	RETURN 0
END

GO
