USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[INS_UPGRADE]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[INS_UPGRADE](
	[DT_MAX] [char](8) NOT NULL
) ON [PRIMARY]
GO
