USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[NO_PRT_TMP]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[NO_PRT_TMP](
	[NO_PRT] [numeric](15, 0) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[NO_PRT_TMP] ADD  CONSTRAINT [DF__NO_PRT_TM__NO_PR__0697FACD]  DEFAULT ((0)) FOR [NO_PRT]
GO
