USE [DZAIS]
GO
/****** Object:  View [DZAIS].[VBASE_PERINFO]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [DZAIS].[VBASE_PERINFO] AS SELECT * FROM BASE.DZBASE.PERINFO


GO
