USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVJEONJA_CHK_MSG]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVJEONJA_CHK_MSG](
	[CHK_CODE] [char](5) NOT NULL,
	[CO_CD] [char](7) NOT NULL,
	[DIV_CD] [char](7) NOT NULL,
	[CHK_MSG] [varchar](500) NULL,
	[SINGO_FG] [varchar](1) NOT NULL,
 CONSTRAINT [PK_AVJEONJA_CHK_MSG] PRIMARY KEY CLUSTERED 
(
	[CHK_CODE] ASC,
	[CO_CD] ASC,
	[DIV_CD] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVJEONJA_CHK_MSG] ADD  CONSTRAINT [DF__AVJEONJA___SINGO__743A1EC7]  DEFAULT ('0') FOR [SINGO_FG]
GO
