USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BONDMAS]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BONDMAS](
	[BOND_NO] [varchar](16) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[BOND_GUBUN] [char](1) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[BOND_NAME] [varchar](30) NOT NULL,
	[BOND_TYPE] [char](1) NOT NULL,
	[ISS_VEN] [varchar](6) NULL,
	[DEPT_CODE] [varchar](12) NULL,
	[GETAMT_METH] [varchar](1) NULL,
	[REAMT_METH] [varchar](1) NULL,
	[DUE_DATE] [char](8) NULL,
	[CHANG_DATE] [char](8) NULL,
	[INTER_RATE] [numeric](8, 3) NULL,
	[COUPON_AMT] [numeric](15, 0) NULL,
	[QUANT] [numeric](10, 0) NULL,
	[GET_TAMT] [numeric](15, 0) NULL,
	[BOOK_AMT] [numeric](15, 0) NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
 CONSTRAINT [PK_BONDMAS] PRIMARY KEY CLUSTERED 
(
	[BOND_NO] ASC,
	[NODE_CODE] ASC,
	[BOND_GUBUN] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BONDMAS] ADD  CONSTRAINT [DF_BONDMAS_DUE_DATE]  DEFAULT ('00000000') FOR [DUE_DATE]
GO
ALTER TABLE [DZAIS].[BONDMAS] ADD  CONSTRAINT [DF_BONDMAS_CHANG_DATE]  DEFAULT ('00000000') FOR [CHANG_DATE]
GO
ALTER TABLE [DZAIS].[BONDMAS] ADD  CONSTRAINT [DF_BONDMAS_INTER_RATE]  DEFAULT ((0)) FOR [INTER_RATE]
GO
ALTER TABLE [DZAIS].[BONDMAS] ADD  CONSTRAINT [DF_BONDMAS_COUPON_AMT]  DEFAULT ((0)) FOR [COUPON_AMT]
GO
ALTER TABLE [DZAIS].[BONDMAS] ADD  CONSTRAINT [DF_BONDMAS_QUANT]  DEFAULT ((0)) FOR [QUANT]
GO
ALTER TABLE [DZAIS].[BONDMAS] ADD  CONSTRAINT [DF_BONDMAS_GET_TAMT]  DEFAULT ((0)) FOR [GET_TAMT]
GO
ALTER TABLE [DZAIS].[BONDMAS] ADD  CONSTRAINT [DF_BONDMAS_BOOK_AMT]  DEFAULT ((0)) FOR [BOOK_AMT]
GO
ALTER TABLE [DZAIS].[BONDMAS] ADD  CONSTRAINT [DF_BONDMAS_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[BONDMAS] ADD  CONSTRAINT [DF_BONDMAS_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[BONDMAS]  WITH CHECK ADD CHECK  (([CHANG_DATE]='00000000' OR [CHANG_DATE]>'19500101' AND [CHANG_DATE]<'21000101' AND CONVERT([datetime],[CHANG_DATE])=CONVERT([datetime],[CHANG_DATE])))
GO
ALTER TABLE [DZAIS].[BONDMAS]  WITH CHECK ADD CHECK  (([DUE_DATE]='00000000' OR [DUE_DATE]>'19500101' AND [DUE_DATE]<'21000101' AND CONVERT([datetime],[DUE_DATE])=CONVERT([datetime],[DUE_DATE])))
GO
ALTER TABLE [DZAIS].[BONDMAS]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[BONDMAS]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
