USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[UP_VENDORSUM]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [DZAIS].[UP_VENDORSUM] (  @s_c_code VARCHAR(4), @from_Date CHAR(8),
	    @to_Date CHAR(8) )
AS
	-- 거래처집계 (VENDORSUM) 루틴 (현금 반영)
	-- ta_gubun으로 타계정 집계
	-- 작성일 : 1999/02/12
	-- 수정일 : 2000/02/15
	-- 작성자 : 이주환
	-- 수정자 : 심현주
DECLARE
	@V_C_CODE VARCHAR(4),
	@V_VEN_CODE VARCHAR(6),
	@V_NODE_CODE VARCHAR(4),
	@V_PROJ_CODE VARCHAR(12),
	@V_DEPT_CODE VARCHAR(12),
	@V_ACCT_DATE CHAR(8),
	@V_ACCT_CODE CHAR(5),
 	@V_DR_AMT VARCHAR(15),
 	@V_CR_AMT VARCHAR(15),
	@DRAMT NUMERIC(15),
 	@CRAMT NUMERIC(15),
 	@V_DR_AMT_SUM NUMERIC(15),
 	@V_CR_AMT_SUM NUMERIC(15),
 	@FLAG NUMERIC(1),
	@V_NOTE_CODE CHAR(1),
	@BAN_GUBUN CHAR(1),
	@V_BAN_AMT NUMERIC(15),
	@V_BAN_DATE CHAR(8),
	@ERRNO INT,
	@ERRMSG VARCHAR(100)

DECLARE C CURSOR FOR
	SELECT C_CODE ,NODE_CODE, VEN_CODE,  BAN_DECI_DATE,
		ACCT_DATE, ACCT_CODE,
		CONVERT(VARCHAR(15),SUM(DR_AMT)), CONVERT(VARCHAR(15),SUM(CR_AMT))
	FROM DOCUD WHERE C_CODE = @s_c_code AND DOCU_NO > 0 AND VEN_CODE IS NOT NULL
		AND ACCT_DATE BETWEEN @from_Date AND @to_Date
	GROUP BY C_CODE ,NODE_CODE, VEN_CODE,  BAN_DECI_DATE,
		ACCT_DATE, ACCT_CODE

BEGIN
	BEGIN TRANSACTION
	DELETE FROM VENDORSUM WHERE C_CODE = @s_c_code AND  SUBSTRING(ACCT_DATE,5,4) <> '0000'
		    AND ACCT_DATE BETWEEN @from_Date AND @to_Date
	OPEN C


	FETCH C INTO @V_C_CODE, @V_NODE_CODE, @V_VEN_CODE,  @V_BAN_DATE, @V_ACCT_DATE,
	  		 @V_ACCT_CODE, @V_DR_AMT, @V_CR_AMT
WHILE (@@FETCH_STATUS = 0)
BEGIN
	BEGIN			
		SELECT @BAN_GUBUN = BAN_YN
		FROM ACCTCODE
		WHERE C_CODE = @V_C_CODE
		AND ACCT_CODE = @V_ACCT_CODE
		
		IF ( @@ROWCOUNT < 1 )
		BEGIN
			ROLLBACK  TRANSACTION
	--		RAISERROR 20011 '계정과목이 등록후 삭제된것 같습니다.'
			RAISERROR (' error no :%d, %s',16,1,20011,'계정과목이 등록후 삭제된것 같습니다.')	
			RETURN
		END
	END
	
	IF @BAN_GUBUN = '1' AND  @V_BAN_DATE <> '00000000'
	BEGIN
		SELECT @V_BAN_AMT = CONVERT(NUMERIC(15),ISNULL( @V_DR_AMT,'0'))
				+ CONVERT(NUMERIC(15),ISNULL( @V_CR_AMT,'0'))
	END
	ELSE
	BEGIN
		SELECT @V_BAN_AMT = 0
	END
	
	SELECT @FLAG = 1
	
	SELECT @FLAG = 2
	FROM VENDORSUM
	WHERE VEN_CODE  = @V_VEN_CODE
	AND ACCT_DATE = @V_ACCT_DATE
	AND ACCT_CODE = @V_ACCT_CODE
	AND NODE_CODE = @V_NODE_CODE
	AND C_CODE = @V_C_CODE

	IF ( @FLAG = 1 )
	BEGIN
			INSERT INTO VENDORSUM
					( C_CODE, NODE_CODE, VEN_CODE, ACCT_DATE,
					  ACCT_CODE, DR_AMT, CR_AMT, BAN_AMT )
			VALUES
					(@V_C_CODE, @V_NODE_CODE, @V_VEN_CODE, @V_ACCT_DATE,
					 @V_ACCT_CODE,CONVERT(NUMERIC(15),ISNULL( @V_DR_AMT,'0')),
					 CONVERT(NUMERIC(15),ISNULL(@V_CR_AMT,'0')), @V_BAN_AMT )
	END
	ELSE
	BEGIN
		  UPDATE VENDORSUM
			  SET DR_AMT  = DR_AMT + CONVERT(NUMERIC(15),ISNULL( @V_DR_AMT,'0')),
				  CR_AMT  = CR_AMT + CONVERT(NUMERIC(15),ISNULL(@V_CR_AMT,'0')), 
				  BAN_AMT = BAN_AMT + @V_BAN_AMT
			  WHERE VEN_CODE  = @V_VEN_CODE
				 AND ACCT_DATE = @V_ACCT_DATE
				 AND ACCT_CODE = @V_ACCT_CODE
				 AND NODE_CODE = @V_NODE_CODE
				 AND C_CODE = @V_C_CODE
	END
	
	FETCH C INTO @V_C_CODE, @V_NODE_CODE, @V_VEN_CODE,  @V_BAN_DATE, @V_ACCT_DATE,
	  		 @V_ACCT_CODE, @V_DR_AMT, @V_CR_AMT
 END
 
 COMMIT TRANSACTION		
 CLOSE C
 DEALLOCATE C
 RETURN	
END

GO
