USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BUDGET_GU]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BUDGET_GU](
	[C_CODE] [varchar](4) NOT NULL,
	[BUDGET_CODE] [char](3) NOT NULL,
	[BUDGET_NAME] [varchar](20) NULL,
 CONSTRAINT [PK_BUDGET_GU] PRIMARY KEY CLUSTERED 
(
	[BUDGET_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
