USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[BUDGETJOSIL]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[BUDGETJOSIL](
	[INPUT_YM] [char](6) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[JO_NO] [numeric](6, 0) NOT NULL,
	[BUDGET_YM] [char](6) NOT NULL,
	[JO_GU] [char](1) NOT NULL,
	[M_DEPT] [varchar](12) NOT NULL,
	[P_DEPT] [varchar](12) NOT NULL,
	[M_ACCT] [char](5) NOT NULL,
	[P_ACCT] [char](5) NOT NULL,
	[JO_AMT] [numeric](15, 0) NOT NULL,
	[JO_RMKH] [varchar](50) NULL,
	[JO_RMKD] [text] NULL,
 CONSTRAINT [PK_BUDGETJOSIL] PRIMARY KEY CLUSTERED 
(
	[INPUT_YM] ASC,
	[C_CODE] ASC,
	[JO_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIL] ADD  CONSTRAINT [DF__BUDGETJOS__INPUT__7CAF6937]  DEFAULT ('000000') FOR [INPUT_YM]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIL] ADD  CONSTRAINT [DF__BUDGETJOS__JO_NO__7DA38D70]  DEFAULT ((0)) FOR [JO_NO]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIL] ADD  CONSTRAINT [DF__BUDGETJOS__BUDGE__7E97B1A9]  DEFAULT ('000000') FOR [BUDGET_YM]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIL] ADD  CONSTRAINT [DF__BUDGETJOS__JO_GU__7F8BD5E2]  DEFAULT ('1') FOR [JO_GU]
GO
ALTER TABLE [DZAIS].[BUDGETJOSIL] ADD  CONSTRAINT [DF__BUDGETJOS__JO_AM__007FFA1B]  DEFAULT ((0)) FOR [JO_AMT]
GO
