USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DAESON]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DAESON](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DATE_YEAR] [char](4) NOT NULL,
	[GISU_GUBUN] [char](1) NOT NULL,
	[S_IDNO] [varchar](15) NOT NULL,
	[SQ_NO] [numeric](6, 0) NOT NULL,
	[DAE_GUBUN] [char](1) NOT NULL,
	[BAL_DATE] [char](8) NOT NULL,
	[GONG_DATE] [char](8) NOT NULL,
	[GONG_AMT] [numeric](15, 4) NOT NULL,
	[TAX_AMT] [numeric](15, 0) NOT NULL,
	[BIGO] [varchar](30) NULL,
	[TAX_GUBUN] [char](1) NOT NULL,
 CONSTRAINT [PK_DAESON] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[TAX_GUBUN] ASC,
	[NODE_CODE] ASC,
	[DATE_YEAR] ASC,
	[GISU_GUBUN] ASC,
	[S_IDNO] ASC,
	[SQ_NO] ASC,
	[DAE_GUBUN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DAESON] ADD  CONSTRAINT [DF__DAESON__BAL_DATE__1A1FD08D]  DEFAULT ('00000000') FOR [BAL_DATE]
GO
ALTER TABLE [DZAIS].[DAESON] ADD  CONSTRAINT [DF__DAESON__GONG_DAT__1B13F4C6]  DEFAULT ('00000000') FOR [GONG_DATE]
GO
ALTER TABLE [DZAIS].[DAESON] ADD  CONSTRAINT [DF__DAESON__GONG_AMT__1C0818FF]  DEFAULT ((0)) FOR [GONG_AMT]
GO
ALTER TABLE [DZAIS].[DAESON] ADD  CONSTRAINT [DF__DAESON__TAX_AMT__1CFC3D38]  DEFAULT ((0)) FOR [TAX_AMT]
GO
ALTER TABLE [DZAIS].[DAESON] ADD  CONSTRAINT [DF__DAESON__TAX_GUBU__55CAA640]  DEFAULT ('0') FOR [TAX_GUBUN]
GO
