USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[USRCD2_ACCT]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[USRCD2_ACCT](
	[C_CODE] [varchar](4) NOT NULL,
	[USRCD2] [varchar](3) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
 CONSTRAINT [PK_USRCD2_ACCT] PRIMARY KEY CLUSTERED 
(
	[USRCD2] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
