USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[AVREGARD]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[AVREGARD](
	[CO_CD] [nvarchar](4) NOT NULL,
	[DIV_CD] [nvarchar](4) NOT NULL,
	[RPT_TM] [nvarchar](6) NOT NULL,
	[SEQ_NB] [numeric](5, 0) NOT NULL,
	[FR_DT] [nvarchar](8) NOT NULL,
	[TO_DT] [nvarchar](8) NOT NULL,
	[TR_CD] [nvarchar](13) NULL,
	[TR_NM] [nvarchar](40) NULL,
	[TAX_FG] [nvarchar](3) NULL,
	[DOCU_FG] [nvarchar](3) NULL,
	[WORK_FG] [nvarchar](1) NULL,
	[PUR_DT] [nvarchar](8) NULL,
	[ITEM_DC] [nvarchar](40) NULL,
	[PUR_QT] [numeric](15, 4) NULL,
	[SUP_AM] [numeric](17, 4) NULL,
	[TAXRT_FG] [nvarchar](2) NULL,
	[VAT_AM] [numeric](17, 4) NULL,
	[REG_NB] [nvarchar](100) NULL,
	[ADDR] [nvarchar](60) NULL,
	[ISU_DT] [nvarchar](8) NULL,
	[ISU_SQ] [numeric](5, 0) NULL,
	[LN_SQ] [numeric](3, 0) NULL,
	[RMK_DC] [nvarchar](40) NULL,
	[INSERT_ID] [nvarchar](10) NULL,
	[INSERT_DT] [datetime] NULL,
	[INSERT_IP] [nvarchar](15) NULL,
	[MODIFY_ID] [nvarchar](10) NULL,
	[MODIFY_DT] [datetime] NULL,
	[MODIFY_IP] [nvarchar](15) NULL,
	[DUMMY1] [nvarchar](20) NULL,
	[DUMMY2] [nvarchar](20) NULL,
	[DUMMY3] [numeric](18, 0) NULL,
	[ATTR_CD] [nvarchar](1) NULL,
	[SINGO_FG] [nvarchar](1) NOT NULL,
	[DATA_CD] [varchar](50) NULL,
	[MATT_CNT] [numeric](15, 4) NOT NULL,
 CONSTRAINT [PK_AVREGARD] PRIMARY KEY CLUSTERED 
(
	[CO_CD] ASC,
	[FR_DT] ASC,
	[TO_DT] ASC,
	[DIV_CD] ASC,
	[RPT_TM] ASC,
	[SEQ_NB] ASC,
	[SINGO_FG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__FR_DT__27B9C2CD]  DEFAULT ('00000000') FOR [FR_DT]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__TO_DT__28ADE706]  DEFAULT ('00000000') FOR [TO_DT]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__PUR_DT__29A20B3F]  DEFAULT ('00000000') FOR [PUR_DT]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__PUR_QT__2A962F78]  DEFAULT ((0)) FOR [PUR_QT]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__SUP_AM__2B8A53B1]  DEFAULT ((0)) FOR [SUP_AM]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__TAXRT___2C7E77EA]  DEFAULT ('1') FOR [TAXRT_FG]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__VAT_AM__2D729C23]  DEFAULT ((0)) FOR [VAT_AM]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__ISU_DT__2E66C05C]  DEFAULT ('00000000') FOR [ISU_DT]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__ISU_SQ__2F5AE495]  DEFAULT ((0)) FOR [ISU_SQ]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__LN_SQ__304F08CE]  DEFAULT ((0)) FOR [LN_SQ]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__INSERT__31432D07]  DEFAULT (getdate()) FOR [INSERT_DT]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__MODIFY__32375140]  DEFAULT (getdate()) FOR [MODIFY_DT]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__SINGO___332B7579]  DEFAULT ('0') FOR [SINGO_FG]
GO
ALTER TABLE [DZAIS].[AVREGARD] ADD  CONSTRAINT [DF__AVREGARD__MATT_C__341F99B2]  DEFAULT ((1)) FOR [MATT_CNT]
GO
