USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[TERMCC]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[TERMCC](
	[C_CODE] [varchar](4) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[LINE_NO] [numeric](4, 0) NOT NULL,
	[SLIP_NO] [numeric](4, 0) NOT NULL,
	[COST_INSYM] [char](6) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[DOCU_NO] [numeric](4, 0) NOT NULL,
	[COST_DEPT_CODE] [varchar](12) NULL,
	[PROJ_CODE] [varchar](12) NULL,
	[DAY_NO] [numeric](4, 0) NOT NULL,
	[TCOST_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_TERMCC] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[LINE_NO] ASC,
	[SLIP_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[COST_INSYM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[TERMCC] ADD  CONSTRAINT [DF_TERMCC_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[TERMCC] ADD  CONSTRAINT [DF_TERMCC_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[TERMCC] ADD  CONSTRAINT [DF_TERMCC_LINE_NO]  DEFAULT ((0)) FOR [LINE_NO]
GO
ALTER TABLE [DZAIS].[TERMCC] ADD  CONSTRAINT [DF_TERMCC_SLIP_NO]  DEFAULT ((0)) FOR [SLIP_NO]
GO
ALTER TABLE [DZAIS].[TERMCC] ADD  CONSTRAINT [DF_TERMCC_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[TERMCC] ADD  CONSTRAINT [DF_TERMCC_DOCU_NO]  DEFAULT ((0)) FOR [DOCU_NO]
GO
ALTER TABLE [DZAIS].[TERMCC] ADD  CONSTRAINT [DF_TERMCC_DAY_NO]  DEFAULT ((0)) FOR [DAY_NO]
GO
ALTER TABLE [DZAIS].[TERMCC] ADD  CONSTRAINT [DF_TERMCC_TCOST_AMT]  DEFAULT ((0)) FOR [TCOST_AMT]
GO
ALTER TABLE [DZAIS].[TERMCC]  WITH CHECK ADD CHECK  (([ACCT_DATE]='00000000' OR [ACCT_DATE]>'19500101' AND [ACCT_DATE]<'21000101' AND CONVERT([datetime],[ACCT_DATE])=CONVERT([datetime],[ACCT_DATE])))
GO
ALTER TABLE [DZAIS].[TERMCC]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
