USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[SUMCHECK]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[SUMCHECK](
	[C_CODE] [varchar](4) NOT NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[ACCT_CODE] [char](5) NOT NULL,
	[CHECK_CODE1] [char](3) NOT NULL,
	[CHECK_CODE2] [char](3) NOT NULL,
	[CHECK_CODE3] [char](3) NOT NULL,
	[CHECK_CODE4] [char](3) NOT NULL,
	[CHECK_CODE5] [char](3) NOT NULL,
	[CHECKD_CODE1] [varchar](20) NOT NULL,
	[CHECKD_CODE2] [varchar](20) NOT NULL,
	[CHECKD_CODE3] [varchar](20) NOT NULL,
	[CHECKD_CODE4] [varchar](20) NOT NULL,
	[CHECKD_CODE5] [varchar](20) NOT NULL,
	[CHECKD_NAME1] [varchar](100) NULL,
	[CHECKD_NAME2] [varchar](100) NULL,
	[CHECKD_NAME3] [varchar](100) NULL,
	[CHECKD_NAME4] [varchar](100) NULL,
	[CHECKD_NAME5] [varchar](100) NULL,
	[GISU] [numeric](3, 0) NOT NULL,
	[DR_AMT] [numeric](15, 0) NOT NULL,
	[CR_AMT] [numeric](15, 0) NOT NULL,
 CONSTRAINT [PK_SUMCHECK] PRIMARY KEY CLUSTERED 
(
	[C_CODE] ASC,
	[ACCT_DATE] ASC,
	[NODE_CODE] ASC,
	[ACCT_CODE] ASC,
	[CHECK_CODE1] ASC,
	[CHECK_CODE2] ASC,
	[CHECK_CODE3] ASC,
	[CHECK_CODE4] ASC,
	[CHECK_CODE5] ASC,
	[CHECKD_CODE1] ASC,
	[CHECKD_CODE2] ASC,
	[CHECKD_CODE3] ASC,
	[CHECKD_CODE4] ASC,
	[CHECKD_CODE5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[SUMCHECK] ADD  CONSTRAINT [DF_SUMCHECK_GISU]  DEFAULT ((0)) FOR [GISU]
GO
ALTER TABLE [DZAIS].[SUMCHECK] ADD  CONSTRAINT [DF_SUMCHECK_DR_AMT]  DEFAULT ((0)) FOR [DR_AMT]
GO
ALTER TABLE [DZAIS].[SUMCHECK] ADD  CONSTRAINT [DF_SUMCHECK_CR_AMT]  DEFAULT ((0)) FOR [CR_AMT]
GO
