USE [DZAIS]
GO
/****** Object:  StoredProcedure [DZAIS].[USP_IPLUS_GAJIGUBGUM_CEO]    Script Date: 2022-09-15 오후 11:56:04 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

 


CREATE  PROC [DZAIS].[USP_IPLUS_GAJIGUBGUM_CEO]
(
	@CO_CD		VARCHAR(4)  		-- 회사코드 ( 필수 )
	 
)
AS
BEGIN  

	-- exec [USP_IPLUS_COR_GAJIGUBGUM_ACCT_SELECT] '','5000',6, '20090101','20091231' 

	DECLARE @NEW_CO_CD VARCHAR(4) , 
		@CD_EMP VARCHAR(10) ,
		@NM_EMP VARCHAR(40)

	SELECT @NEW_CO_CD =  C_CODE FROM TAXCOMPANYINFO WHERE CONVERT(VARCHAR, TAX_C_CODE) = @CO_CD
	IF ( @NEW_CO_CD IS NULL OR LEN(@NEW_CO_CD) < 1 )
		SELECT @NEW_CO_CD = @CO_CD
	SELECT @NM_EMP = S.DNAME
	FROM VBASE_COMPANYINFO S
	WHERE S.C_CODE = @NEW_CO_CD
	
	SELECT '' CD_EMP , @NM_EMP NM_EMP 
END

GO
