USE [DZAIS]
GO
/****** Object:  Table [DZAIS].[DOCUH]    Script Date: 2022-09-15 오후 11:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DZAIS].[DOCUH](
	[DECI_DATE] [char](8) NOT NULL,
	[DECI_NO] [numeric](4, 0) NOT NULL,
	[DEPT_CODE] [varchar](12) NOT NULL,
	[NODE_CODE] [varchar](4) NOT NULL,
	[C_CODE] [varchar](4) NOT NULL,
	[SA_CODE] [varchar](10) NOT NULL,
	[WRITE_DATE] [char](8) NOT NULL,
	[PUM_RMLK] [varchar](100) NULL,
	[ACCT_DATE] [char](8) NOT NULL,
	[BUDGET_TYPE] [char](1) NOT NULL,
	[BUDGET_DEPT_CODE] [varchar](12) NULL,
	[BUDGET_PROJ_CODE] [varchar](12) NULL,
	[DOCU_NO] [numeric](4, 0) NOT NULL,
	[PER_SA] [varchar](10) NULL,
	[DOCU_TYPE] [char](2) NOT NULL,
	[DOCU_GUBUN] [char](1) NOT NULL,
	[DOCU_STAT] [char](1) NOT NULL,
	[INSERT_ID] [varchar](10) NULL,
	[INSERT_DATE] [char](8) NULL,
	[MODIFY_ID] [varchar](10) NULL,
	[MODIFY_DATE] [char](8) NULL,
	[DOCU_TYPE2] [char](2) NULL,
	[SEQNO] [varchar](20) NULL,
	[SEQDATE] [char](8) NULL,
	[SEQSACODE] [varchar](12) NULL,
	[SEQ_CODE] [char](3) NULL,
 CONSTRAINT [PK_DOCUH] PRIMARY KEY CLUSTERED 
(
	[DECI_DATE] ASC,
	[DECI_NO] ASC,
	[DEPT_CODE] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_DOCUH_NO]    Script Date: 2022-09-15 오후 11:56:03 ******/
CREATE NONCLUSTERED INDEX [IDX_DOCUH_NO] ON [DZAIS].[DOCUH]
(
	[ACCT_DATE] ASC,
	[DOCU_NO] ASC,
	[NODE_CODE] ASC,
	[C_CODE] ASC,
	[DOCU_STAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_DECI_DATE]  DEFAULT ('00000000') FOR [DECI_DATE]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_DECI_NO]  DEFAULT ((0)) FOR [DECI_NO]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_WRITE_DATE]  DEFAULT ('00000000') FOR [WRITE_DATE]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_ACCT_DATE]  DEFAULT ('00000000') FOR [ACCT_DATE]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_BUDGET_TYPE]  DEFAULT ('3') FOR [BUDGET_TYPE]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_DOCU_NO]  DEFAULT ((0)) FOR [DOCU_NO]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_DOCU_GUBUN]  DEFAULT ('3') FOR [DOCU_GUBUN]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_DOCU_STAT]  DEFAULT ('0') FOR [DOCU_STAT]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_INSERT_DATE]  DEFAULT ('00000000') FOR [INSERT_DATE]
GO
ALTER TABLE [DZAIS].[DOCUH] ADD  CONSTRAINT [DF_DOCUH_MODIFY_DATE]  DEFAULT ('00000000') FOR [MODIFY_DATE]
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([ACCT_DATE]='00000000' OR [ACCT_DATE]>'19500101' AND [ACCT_DATE]<'21000101' AND CONVERT([datetime],[ACCT_DATE])=CONVERT([datetime],[ACCT_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([DECI_DATE]='00000000' OR [DECI_DATE]>'19500101' AND [DECI_DATE]<'21000101' AND CONVERT([datetime],[DECI_DATE])=CONVERT([datetime],[DECI_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([INSERT_DATE]='00000000' OR [INSERT_DATE]>'19500101' AND [INSERT_DATE]<'21000101' AND CONVERT([datetime],[INSERT_DATE])=CONVERT([datetime],[INSERT_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([MODIFY_DATE]='00000000' OR [MODIFY_DATE]>'19500101' AND [MODIFY_DATE]<'21000101' AND CONVERT([datetime],[MODIFY_DATE])=CONVERT([datetime],[MODIFY_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([WRITE_DATE]='00000000' OR [WRITE_DATE]>'19500101' AND [WRITE_DATE]<'21000101' AND CONVERT([datetime],[WRITE_DATE])=CONVERT([datetime],[WRITE_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([WRITE_DATE]='00000000' OR [WRITE_DATE]>'19500101' AND [WRITE_DATE]<'21000101' AND CONVERT([datetime],[WRITE_DATE])=CONVERT([datetime],[WRITE_DATE])))
GO
ALTER TABLE [DZAIS].[DOCUH]  WITH CHECK ADD CHECK  (([WRITE_DATE]='00000000' OR [WRITE_DATE]>'19500101' AND [WRITE_DATE]<'21000101' AND CONVERT([datetime],[WRITE_DATE])=CONVERT([datetime],[WRITE_DATE])))
GO
