USE [DZAIS]
GO
/****** Object:  View [DZAIS].[SEMP]    Script Date: 2022-09-15 오후 11:56:02 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


	
CREATE  VIEW [DZAIS].[SEMP]
 AS
SELECT 	C_CODE CO_CD,	
	SNO EMP_CD,
	KNAME KOR_NM,		
	DEPT_CODE DEPT_CD,
	NODE_CODE DIV_CD
FROM	BASE.DZBASE.PERINFO


GO
